.report-main-holder {
    margin-top: 9px;
    .middle-report-info {
        flex: 1;
        margin: 0 12px;
    }

    .right-report-info {
        //  width: 300px;
    }

    .report-card {
        background-color: transparent;
        padding: 8px 0;

        margin-bottom: 6px;
        border-radius: 3px;

        .report-card-title {
            display: flex;
            background-color: #fff;
            height: 34px;
            padding: 4px;
            border-radius: 3px;
            .payroll_report_title {
                margin: 0 4px;
                font-size: 17px;
                font-weight: 700;
                color: #2f2f2f;

                &::selection {
                    background-color: #2f2f2f33;
                    color: #2f2f2f;
                }
            }

            .payroll_chip {
                padding: 2px 6px;
                margin: 0 4px;
                background-color: #919191;
                border-radius: 2px;

                font-size: 11px;
                font-weight: 700;
                color: #fff;

                &.blue {
                    background-color: #6692f1;
                }
            }
        }

        .input-field-report {
            margin-top: 12px;
            flex-direction: column;
            .pay-amount {
                display: block;
                font-size: 14px;
                font-weight: 700;
                color: #424242;

                &::selection {
                    background-color: #42424233;
                    color: #424242;
                }
            }

            app-ta-input {
                margin-top: 4px;

                input {
                    height: 34px !important;
                }
            }

            .small-text {
                margin-top: 6px;
                font-size: 11px;
                color: #919191;
                margin-bottom: 18px;

                &::selection {
                    background-color: #91919133;
                    color: #919191;
                }
            }
        }

        .report-buttons {
            padding: 0 6px;
            .report-button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 44px;
                margin-bottom: 8px;

                font-size: 14px;
                font-weight: 700;
                color: #919191;
                text-transform: uppercase;
                border-radius: 3px;
                user-select: none;
                cursor: pointer;

                &.active {
                    background-color: #3074d3;
                    color: #ffffff;
                    font-size: 17px;
                    text-transform: none;
                }
            }
        }

        .payroll-pay-button {
            margin-top: 12px;
            padding-top: 12px;
            border-top: 1px solid #dadada;

            .report-buttons {
                padding: 0;
                .report-button {
                    height: 32px;
                }
            }
        }

        .border-item {
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: #eeeeee;
            margin-top: 7px;
        }

        .payroll-item-info {
            padding: 0 4px;
            margin-top: 12px;

            .payroll-item-info-img {
                background-color: #f3f3f3;
                padding: 6px;
                width: 74px;
                border-radius: 2px;
                margin-right: 12px;

                &.no-bc {
                    background-color: transparent;
                }
                svg-icon {
                    svg {
                        width: 50px;
                    }
                }
            }

            .report-unit-title {
                margin-top: 18px;
                font-size: 11px;
                font-weight: 700;
                color: #424242;
            }

            .report-unit {
                font-size: 14px;
                color: #424242;
            }

            .payroll-item-info-details {
                .payroll-item-details-numb {
                    font-size: 18px;
                    color: #2f2f2f;

                    &::selection {
                        background-color: #2f2f2f33;
                        color: #2f2f2f;
                    }
                }
            }
        }

        .payroll-item-details-numb-detail {
            margin-top: 12px;

            font-size: 14px;
            color: #2f2f2f;

            &::selection {
                background-color: #2f2f2f33;
                color: #2f2f2f;
            }
            span {
                margin-right: 6px;
                font-weight: 700;

                &::selection {
                    background-color: #2f2f2f33;
                    color: #2f2f2f;
                }
            }
        }

        .payroll-report-status {
            display: flex;
            height: 34px;
            align-items: center;
            justify-content: center;

            background-color: #4242421a;
            margin-top: 18px;

            svg-icon {
                margin-right: 4px;
                svg {
                    display: flex;
                    path {
                        fill: #919191;
                    }
                }
            }

            .payroll-report-status-text {
                font-size: 14px;
                font-weight: 700;
                color: #424242;

                &::selection {
                    background-color: #42424233;
                    color: #424242;
                }
            }

            &.status-template-past {
                background-color: #ef53501a;

                svg-icon {
                    svg {
                        path {
                            fill: #ef5350;
                        }
                    }
                }

                .payroll-report-status-text {
                    color: #ef5350;

                    &::selection {
                        background-color: #ef535033;
                        color: #ef5350;
                    }
                }
            }
        }

        .payroll-report-money-value {
            .payroll-report-money-item {
                margin-top: 12px;
                justify-content: space-between;

                .payroll-report-money-item-left {
                    align-items: center;
                    svg-icon {
                        margin-left: 6px;
                        svg {
                            display: flex;
                        }
                        margin-right: 6px;
                    }

                    .sal-info {
                        font-size: 17px;
                        font-weight: 700;
                        color: #424242;

                        &::selection {
                            background-color: #42424233;
                            color: #424242;
                        }
                    }
                }

                .payroll-report-money-item-right {
                    font-size: 17px;
                    color: #424242;

                    &::selection {
                        background-color: #42424233;
                        color: #424242;
                    }

                    &.total {
                        font-weight: 700;
                        color: #3074d3;

                        &::selection {
                            background-color: #3074d333;
                            color: #3074d3;
                        }
                    }

                    &.deduction {
                        color: #ef5350;

                        &::selection {
                            background-color: #ef535033;
                            color: #ef5350;
                        }
                    }

                    &.credit {
                        color: #26a690;

                        &::selection {
                            background-color: #26a69033;
                            color: #26a690;
                        }
                    }

                    &.total,
                    &.salary {
                        font-weight: 700;
                        color: #3074d3;

                        &::selection {
                            background-color: #3074d333;
                            color: #3074d3;
                        }
                    }
                }

                &.payroll-report-money-item-total {
                    padding: 0 6px;
                    display: flex;
                    height: 34px;
                    align-items: center;
                    background-color: #3074d333;
                    border-radius: 2px;
                }
            }
        }

        .report-count-item-load {
            justify-content: space-between;
            align-items: center;
            .report-count-item-load-left {
                align-items: center;
                margin-right: 16px;
                .count {
                    width: 28px;
                    height: 26px;
                    display: flex;
                    margin-right: 4px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 2px;
                    font-weight: 700;
                    font-size: 16px;

                    background-color: #6f9ee033;
                    color: #3074d3;
                    user-select: none;
                }

                .title {
                    font-size: 16px;
                    color: #3074d3;
                    font-weight: 700;

                    &::selection {
                        background-color: #3074d333;
                        color: #3074d3;
                    }
                }

                &.normal {
                    .count {
                        color: #424242;
                        background-color: #eeeeee;
                    }

                    .title {
                        font-size: 16px;
                        color: #424242;
                        font-weight: 700;

                        &::selection {
                            background-color: #42424233;
                            color: #424242;
                        }
                    }
                }
            }

            .report-count-item-load-right {
                .report-tickets {
                    display: flex;
                    align-items: center;
                    height: 26px;
                    padding: 0 8px;
                    background-color: #eeeeee;
                    font-size: 11px;
                    color: #424242;
                    margin: 0 4px;
                    border-radius: 2px;
                    user-select: none;
                    font-weight: 700;

                    span {
                        font-weight: 700;
                        margin-left: 6px;
                    }
                }

                .edit {
                    width: 26px;
                    height: 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    //background-color: #eeeeee;
                    border-radius: 2px;

                    svg-icon {
                        svg {
                            width: 18px;
                            height: 18px;
                            display: flex;

                            path{
                                fill: #919191;
                            }
                        }
                    }

                    &.active{
                        background-color: #6C6C6C;
                        svg-icon{
                            svg{
                                path{
                                    fill: #DADADA;
                                }
                            }
                        }
                    }

                    &.burger_menu{
                        position: relative;
                        padding-left: 19px;

                        &::after{
                            content: '';
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 100%;
                            width: 1px;
                            border-radius: 1px;
                        }
                    }
                }
            }
        }

        .small-table-holder-main {
            display: flex;
            margin-top: 12px;
            background-color: #fff;
            border-radius: 3px;
            padding: 6px;

            app-ca-main-table {
                width: 100%;
            }

            .ca-main-table-holder {
                .ca-main-table {
                    background-color: transparent;

                    tbody {
                        td {
                            &:first-child {
                                width: 38px !important;
                            }
                        }
                        tr:hover {
                            td {
                                .td-container {
                                    background-color: #eeeeee !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .map-holder {
            height: 400px;
            padding: 6px;
            background-color: #fff;

            agm-map {
                height: 100%;
            }
        }
    }
}

// Template CSS
.load-description {
    svg-icon {
        margin-right: 4px;
        height: 18px;
        svg {
            display: flex;
            width: 18px;
            height: 18px;

            rect {
                fill: #259f9433;
            }

            text {
                fill: #259f94;
            }
        }
    }
    .load-description-name {
        .load-description-address,
        .load-description-stop-type {
            font-size: 11px;
            font-weight: 700;
            line-height: 12px;
            color: #424242;
        }

        .load-description-stop-type {
            color: #919191;
        }
    }

    &.delivery {
        svg-icon {
            rect {
                fill: #df3c3c33;
            }

            text {
                fill: #df3c3c;
            }
        }
    }
}

.small-table-holder-main {
    app-ca-main-table {
        --cdk-preview-bgcolor: #424242;
        --cdk-preview-textColor: #fff;
        --cdk-drag-preview-box-shadow: none;
        --under-reorder-opacity: 0.4;
        --opacity-first-row: 0.4;
    }
}

.custom-load-index {
    min-width: 26px;
}

.custom-fee-template {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 60px;
    background-color: #91919133;
    font-size: 11px;
    font-weight: 600;
}
