<div *ngIf="data" class="cards-item-wrapper-1">
  <app-ta-details-header-card
    [tooltipNext]="'Next Driver'"
    [tooltipPrevious]="'Previous Driver'"
    [searchName]="'Search Driver'"
    [hasSvgHeader]="'assets/svg/common/ic_driver-owner.svg'"
    [cardDetailsName]="data.currentDriverName"
    [cardDetailsDate]="data.hired | formatDateP"
    [cardDetailsDateTerminated]="data.dateTerminated | formatDateP"
    [statusInactive]="data.status"
  >
    <div class="driver-container">
      <div class="driver-personal">
        <div class="driver-avatar">
          <img
            class="driver-avatar-svg"
            [src]="transformImage()"
            alt="Driver Image"
          />
        </div>
        <div class="driver-information">
          <div class="information-item" [ngClass]="{ copied: copiedSSN }">
            <svg-icon
              class="information-svg"
              src="assets/svg/common/ic_ssn.svg"
            ></svg-icon>
            <p class="information-value ssn">
              {{ data.ssn | formatSsnP }}
            </p>
            <span
              [tooltipBackground]="copiedSSN ? '#536BC2' : '#6c6c6c'"
              ngbTooltip
              [mainTooltip]="copiedSSN ? 'Copied' : 'Copy'"
              position="top"
              class="tooltip-copy"
            >
              <svg-icon
                class="card-icon"
                src="assets/svg/common/ic_copy.svg"
                (click)="copyText(data.ssn, 'ssn')"
              ></svg-icon>
            </span>
          </div>
          <div
            class="information-item"
            [ngClass]="{ copied: copiedDriverPhone }"
          >
            <svg-icon
              class="information-svg"
              src="assets/svg/common/ic_phone.svg"
            ></svg-icon>
            <p class="information-value">
              {{ data.phone | formatPhoneP }}
            </p>
            <span
              [tooltipBackground]="copiedDriverPhone ? '#536BC2' : '#6c6c6c'"
              ngbTooltip
              [mainTooltip]="copiedDriverPhone ? 'Copied' : 'Copy'"
              position="top"
            >
              <svg-icon
                (click)="copyText(data.phone, 'driver-phone')"
                class="card-icon"
                src="assets/svg/common/ic_copy.svg"
              >
              </svg-icon>
            </span>
          </div>
          <div
            class="information-item"
            [ngClass]="{ copied: copiedDriverEmail }"
          >
            <svg-icon
              class="information-svg"
              src="assets/svg/common/ic_email.svg"
            ></svg-icon>
            <p class="information-value information-email-value">
              {{ data.email }}
            </p>
            <span
              [tooltipBackground]="copiedDriverEmail ? '#536BC2' : '#6c6c6c'"
              ngbTooltip
              [mainTooltip]="copiedDriverEmail ? 'Copied' : 'Copy'"
              position="top"
            >
              <svg-icon
                (click)="copyText(data.email, 'driver-email')"
                class="card-icon"
                src="assets/svg/common/ic_copy.svg"
              ></svg-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
  </app-ta-details-header-card>
  <div class="wrapper-additional-cards">
    <div class="details-cards">
      <!-- assignedTo -->
      <app-ta-custom-card
        [cardName]="data.status == 1 ? 'Assigned To' : 'View Dispatch History'"
        [hasDivider]="false"
        [tooltipName]="'Dispatch History'"
        [hasHeaderSvg]="'assets/svg/common/ic_half_time.svg'"
        [isCardOpen]="true"
        [bodyTemplate]="'card'"
        [animationsDisabled]="false"
        class="first-custom-card"
      >
        <div class="assignTo">
          <div class="assignTo-item first">
            <div class="icon-text-wrapper-cmp">
              <span
                tooltipBackground="#6c6c6c"
                ngbTooltip
                mainTooltip="Semi Truck"
                position="top"
                class="semi-tooltip"
              >
                <svg-icon
                  class="assignTo-vehicle"
                  src="assets/svg/common/trucks/ic_truck_semi-truck.svg"
                >
                </svg-icon>
              </span>
              <p class="assignTo-value">36545</p>
            </div>

            <span
              tooltipBackground="#6c6c6c"
              ngbTooltip
              mainTooltip="View in Modal"
              position="top"
              style="margin-left: 42px"
            >
              <svg-icon
                class="open-modal-icon"
                src="assets/svg/common/arrow_top_right.svg"
              ></svg-icon>
            </span>
          </div>
          <div class="assignTo-item second">
            <div class="icon-text-wrapper-cmp">
              <span
                tooltipBackground="#6c6c6c"
                ngbTooltip
                mainTooltip="Container"
                position="top"
                class="semi-tooltip"
              >
                <svg-icon
                  class="assignTo-vehicle"
                  src="assets/svg/common/trailers/ic_trailer_container.svg"
                ></svg-icon>
              </span>
              <p class="assignTo-value" style="margin-left: 6px !important">
                R4578
              </p>
            </div>
            <span
              style="margin-left: 33px"
              tooltipBackground="#6c6c6c"
              ngbTooltip
              mainTooltip="View in Modal"
              position="top"
            >
              <svg-icon
                class="open-modal-icon2"
                src="assets/svg/common/arrow_top_right.svg"
              ></svg-icon>
            </span>
          </div>
        </div>
      </app-ta-custom-card>

      <!-- Additional info -->
      <app-ta-custom-card
        class="item-cards"
        [animationsDisabled]="false"
        [bodyTemplate]="'card'"
        [cardName]="'Additional info'"
        [isCardOpen]="false"
      >
        <div class="additional-container">
          <div class="addres-wrapper">
            <div class="addres-name">Address</div>
            <div class="addres-value-icon">
              <div *ngIf="data.address" class="addres-value">
                {{ data?.address.addressUnit }} {{ data?.address.address }},
                {{ data?.address.city }}, {{ data?.address.stateShortName }}
                {{ data?.address.zipCode }}, {{ data?.address.country }}
              </div>
              <span
                tooltipBackground="#6c6c6c"
                ngbTooltip
                mainTooltip="Open in Places"
                position="top"
              >
                <svg-icon
                  class="address-icon"
                  src="assets/svg/common/ic_address.svg"
                >
                </svg-icon>
              </span>
            </div>
          </div>
          <div class="addres-wrapper addres-second">
            <div class="addres-name">Date of Birth</div>
            <div class="addres-value">
              {{ data.dateOfBirth | formatDateP }}
            </div>
          </div>
        </div>
      </app-ta-custom-card>

      <!-- Off Duty Location-->
      <app-ta-custom-card
        [hasCounter]="data.offDutyLocations.length"
        [cardName]="'Off Duty Location'"
        [isCardOpen]="false"
        *ngIf="data.offDutyLocations"
        [bodyTemplate]="'card'"
        [animationsDisabled]="false"
        class="item-cards"
      >
        <div *ngIf="data.offDutyLocations == ''" class="no-data">
          No Added Location
        </div>
        <div
          class="additional-container"
          *ngFor="let offDuty of data.offDutyLocations; trackBy: identity"
        >
          <div *ngIf="offDuty" class="addres-wrapper">
            <div class="addres-name">{{ offDuty?.nickname }}</div>
            <div class="addres-value-icon">
              <div class="addres-value">
                {{ offDuty?.address.addressUnit }}
                {{ offDuty?.address.address }}, {{ offDuty?.address.city }},
                {{ offDuty.address.stateShortName }}
                {{ offDuty?.address.zipCode }}, {{ offDuty?.address.country }}
              </div>
              <span
                tooltipBackground="#6c6c6c"
                ngbTooltip
                mainTooltip="Open in Places"
                position="top"
              >
                <svg-icon
                  class="address-icon"
                  src="assets/svg/common/ic_address.svg"
                >
                </svg-icon>
              </span>
            </div>
            <span *ngIf="!offDuty">No Added Location</span>
          </div>
        </div>
      </app-ta-custom-card>

      <!-- Employment history-->
      <app-ta-custom-card
        [cardName]="'Employment History'"
        [isCardOpen]="true"
        class="item-cards"
        [bodyTemplate]="'card'"
        [animationsDisabled]="false"
      >
        <div class="employment-history-container">
          <div class="years-of-service">
            <div class="items-wrapper">
              <div class="service-years-name">Years of Service</div>
              <div class="service-year-value">
                {{ yearsService }} {{ yearsService > 1 ? "years" : "year" }}
                {{ daysService }} {{ daysService > 1 ? "days" : "day" }}
              </div>
            </div>
          </div>
          <div>
            <div
              *ngIf="data.employmentHistories.endDate !== null"
              class="progress-employment-history"
            >
              <div class="progress-driver">
                
                  <div *ngFor="let dat of data.employmentHistories; let i = index" [style.width.%]="widthEmployment[dat.isDeactivate]" class="emp"></div>
                
                <div *ngFor="let dat of data.employmentHistories; let i = index" [style.width.%]="widthUnEmployment[dat.isDeactivate]" class="unp"></div>
              </div>
              <div *ngIf="!showMoreEmployment" class="year-employer">
                <p>05/23/21</p>
                <p>Today</p>
              </div>
            </div>

            <div
              [@showHideCardBody]="showMoreEmployment ? 'true' : 'false'"
              class="status-container"
            >
              <div class="status-header">
                <div class="status-item">
                  <p class="p-status">STATUS</p>
                </div>
                <div class="status-item">
                  <p class="p-status">FROM - TO</p>
                </div>
                <div class="status-item">
                  <p class="p-status">DURATION</p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="status-items">
                <div
                  *ngFor="
                    let empH of data.employmentHistories;
                    trackBy: identity
                  "
                  class="item-wrapper"
                >
                  <div class="svg-text">
                    <svg-icon
                      class="svg-blue"
                      src="{{
                        empH.isDeactivate
                          ? 'assets/svg/common/ic_circle_light_blue.svg'
                          : '  assets/svg/common/round_blue.svg'
                      }}"
                    ></svg-icon>
                    <p class="employment">
                      {{ empH.isDeactivate ? "Deactivated " : "Employed" }}
                    </p>
                  </div>
                  <p class="date-from-to">
                    {{ empH.startDate | formatDateP }} -
                    <span *ngIf="empH.endDate">{{
                      empH.endDate | formatDateP
                    }}</span>
                    <span *ngIf="!empH.endDate">Today</span>
                  </p>
                  <p *ngIf="empH.duration" class="duration">
                    {{ empH.duration.Years }} y {{ empH.duration.Days }} d
                  </p>
                  <div class="divider-employment"></div>
                </div>
              </div>
            </div>
            <span
              tooltipBackground="#6c6c6c"
              ngbTooltip
              [mainTooltip]="showMoreEmployment ? 'Show Less' : 'Show More'"
              position="top"
              *ngIf="data.employmentHistories.endDate !== null"
            >
              <svg-icon
                [ngClass]="{ 'transform-arrow': showMoreEmployment }"
                (click)="showMoreEmployment = !showMoreEmployment"
                class="arrow-down-employment"
                src="assets/svg/common/fill_arrow_down.svg"
              ></svg-icon>
            </span>
          </div>
        </div>
      </app-ta-custom-card>

      <!-- Owner Details-->
      <app-ta-custom-card
        *ngIf="data.owner"
        class="item-cards"
        [animationsDisabled]="false"
        [bodyTemplate]="'card'"
        [cardName]="data.owner ? 'Owner Details' : 'Owner - Sole Proprietor'"
        [isCardOpen]="data.owner ? true : false"
        [hasArrow]="data.owner ? true : false"
      >
        <div *ngIf="data.owner" class="purchase-template">
          <div class="purchase-template-item">
            <div class="purchase-template-item-name">Company</div>
            <div class="purchase-icon-copy">
              <div class="purchase-template-item-value owner-name">
                {{ data.owner.name }}
              </div>
              <span
                tooltipBackground="#6c6c6c"
                ngbTooltip
                mainTooltip="View in Modal"
                position="top"
              >
                <svg-icon
                  class="card-icon"
                  src="assets/svg/common/arrow_top_right.svg"
                ></svg-icon>
              </span>
            </div>
          </div>
          <div class="purchase-template-item second-name">
            <div class="purchase-template-item-name">EIN</div>
            <div class="purchase-icon-copy" [ngClass]="{ copied: copiedEin }">
              <div class="purchase-template-item-value">
                {{ data.owner.ssnEin | formatEinP }}
              </div>
              <span
                [tooltipBackground]="copiedEin ? '#536BC2' : '#6c6c6c'"
                ngbTooltip
                [mainTooltip]="copiedEin ? 'Copied' : 'Copy'"
                position="top"
              >
                <svg-icon
                  (click)="copyText(data.owner.ssnEin, 'ein')"
                  class="card-icon"
                  src="assets/svg/common/ic_copy.svg"
                ></svg-icon>
              </span>
            </div>
          </div>
        </div>
      </app-ta-custom-card>

      <!-- Commission Pay-->
      <app-ta-custom-card
        class="item-cards"
        [animationsDisabled]="false"
        [bodyTemplate]="'card'"
        [cardName]="'Commission Pay'"
        [isCardOpen]="true"
      >
        <div class="purchase-template">
          <div class="purchase-template-item">
            <div class="purchase-template-item-name">Solo</div>
            <div class="purchase-template-item-value">
              {{ data.commissionSolo }}%
            </div>
          </div>
          <div class="purchase-template-item second-name">
            <div class="purchase-template-item-name">Team</div>
            <div class="purchase-template-item-value">
              {{ data.commissionTeam }}%
            </div>
          </div>
        </div>
      </app-ta-custom-card>

      <!-- Payroll -->
      <app-ta-custom-card
        [cardName]="'Payroll'"
        [tooltipName]="'View in Modal'"
        [isCardOpen]="true"
        class="item-cards"
        [animationsDisabled]="false"
        [bodyTemplate]="'card'"
        [hasHeaderSvg]="'assets/svg/common/arrow_top_right.svg'"
      >
        <div class="charts-template perfomance">
          <app-tab-switcher
            [tabs]="tabsDriver"
            (switchClicked)="changeTab($event)"
            [customClass]="'chart-tabs'"
          >
          </app-tab-switcher>
          <!-- <app-ta-input-radiobuttons [buttons]="buttonsArray">
          </app-ta-input-radiobuttons> -->
          <div class="charts-item-wrapper revenue">
            <div class="charts-template-item">
              <div class="icon-name-item">
                <svg-icon src="assets/svg/common/round_yellow.svg"></svg-icon>
                <div class="charts-template-item-name">Miles</div>
              </div>
              <div class="charts-template-item-value">46,755.2 mi</div>
            </div>

            <div class="charts-template-item fuel-item">
              <div class="icon-name-item">
                <svg-icon src="assets/svg/common/round_blue.svg"></svg-icon>
                <div class="charts-template-item-name">Salary</div>
              </div>
              <div class="charts-template-item-value">$36.854.27</div>
            </div>
          </div>
          <div id="chart"></div>
        </div>
      </app-ta-custom-card>

      <!-- Bank Info-->
      <app-ta-custom-card
        *ngIf="data.account"
        [hasHeaderSvg]="'assets/svg/common/banks/' + data.bank.logoName"
        [cardName]="'Bank Info'"
        [isCardOpen]="false"
        class="item-cards"
        [animationsDisabled]="false"
        [bodyTemplate]="'card'"
      >
        <div class="purchase-template">
          <div class="purchase-template-item">
            <div class="purchase-template-item-name">Routing</div>
            <div
              class="purchase-icon-copy"
              [ngClass]="{ copied: copiedBankRouting }"
            >
              <div class="purchase-template-item-value">
                {{ data?.routing ? data?.routing : "No routing" }}
              </div>
              <span
                [tooltipBackground]="copiedBankRouting ? '#536BC2' : '#6c6c6c'"
                ngbTooltip
                [mainTooltip]="copiedBankRouting ? 'Copied' : 'Copy'"
                position="top"
              >
                <svg-icon
                  (click)="copyText(data?.routing, 'bankRouting')"
                  class="card-icon"
                  src="assets/svg/common/ic_copy.svg"
                ></svg-icon>
              </span>
            </div>
          </div>
          <div class="purchase-template-item second-name">
            <div class="purchase-template-item-name">Account</div>
            <div
              class="purchase-icon-copy"
              [ngClass]="{ copied: copiedBankAccount }"
            >
              <div class="purchase-template-item-value">
                {{
                  accountText
                    ? accountText
                    : hiddenPassword(
                        data.account ? data.account : "No account",
                        4
                      )
                }}
              </div>
              <span
                *ngIf="data.account !== null"
                tooltipBackground="#6c6c6c"
                ngbTooltip
                [mainTooltip]="
                  isAccountVisible
                    ? 'Hide Account Number'
                    : 'Show Account Number'
                "
                position="top"
              >
                <svg-icon
                  class="hidden-svg-eye"
                  (click)="
                    showHideValue(data.account ? data.account : 'No account')
                  "
                  src="{{
                    isAccountVisible
                      ? 'assets/svg/common/ic_eye-visible.svg'
                      : 'assets/svg/common/ic_eye-hidden.svg'
                  }}"
                ></svg-icon>
              </span>
              <span
                *ngIf="data.account !== null"
                [tooltipBackground]="copiedBankAccount ? '#536BC2' : '#6c6c6c'"
                ngbTooltip
                [mainTooltip]="copiedBankAccount ? 'Copied' : 'Copy'"
                position="top"
              >
                <svg-icon
                  *ngIf="data?.account !== null"
                  (click)="
                    copyText(
                      data.account ? data.account : 'No account',
                      'bankAcc'
                    )
                  "
                  class="card-icon"
                  src="assets/svg/common/ic_copy.svg"
                ></svg-icon>
              </span>
            </div>
          </div>
        </div>
      </app-ta-custom-card>
      <!-- Emergency Contact-->
      <app-ta-custom-card
        [cardName]="'Emergency Contact'"
        [isCardOpen]="false"
        class="item-cards"
        [bodyTemplate]="'card'"
        [animationsDisabled]="false"
      >
        <div
          *ngIf="
            !data.emergencyContactRelationship ||
            !data.emergencyContactName ||
            !data.emergencyContactPhone
          "
          class="no-data"
        >
          No Contact
        </div>
        <div
          *ngIf="
            data.emergencyContactRelationship &&
            data.emergencyContactName &&
            data.emergencyContactPhone
          "
          class="purchase-template"
        >
          <div class="purchase-template-item">
            <div class="purchase-template-item-name">
              {{ data?.emergencyContactRelationship }}
            </div>
            <div class="purchase-template-item-value">
              {{ data.emergencyContactName }}
            </div>
          </div>
          <div class="purchase-template-item second-name">
            <div class="purchase-template-item-name">Phone</div>
            <div class="purchase-icon-copy" [ngClass]="{ copied: copiedPhone }">
              <div class="purchase-template-item-value">
                {{ data.emergencyContactPhone | formatPhoneP }}
              </div>
              <span
                [tooltipBackground]="copiedPhone ? '#536BC2' : '#6c6c6c'"
                ngbTooltip
                [mainTooltip]="copiedPhone ? 'Copied' : 'Copy'"
                position="top"
              >
                <svg-icon
                  (click)="copyText(data.emergencyContactPhone, 'phone')"
                  class="card-icon"
                  src="assets/svg/common/ic_copy.svg"
                ></svg-icon>
              </span>
            </div>
          </div>
        </div>
      </app-ta-custom-card>
      <div class="divider"></div>
      <div class="details-page-row-5">
        <div class="note-item">
          <app-ta-input-note
            [formControl]="note"
            [isVisibleDivider]="false"
            [isVisibleNote]="true"
            [isVisibleArrow]="true"
            [minRows]="1"
            [isVisibleSecondDivider]="false"
            [placeholder]="'Write something.'"
            [customClass]="'note-small'"
          >
          </app-ta-input-note>
        </div>
      </div>
    </div>
    <div *ngIf="templateCard">
      <div class="custom-card-single">
        <app-ta-custom-card
          [cardName]="'CDL'"
          [isCardOpen]="false"
          [hasDivider]="false"
          class="item-cards"
          [bodyTemplate]="'card'"
          [hasCounter]="data.cdls.length"
          [animationsDisabled]="false"
          [hasPlusHeader]="true"
        >
          <div *ngFor="let cdl of data.cdls; let i = index; trackBy: identity">
            <app-ta-re-card
              [options]="dataEdit"
              [cardDocumentCounter]="6"
              (resizePage)="toggleResizePage(i)"
              [cardNameCommon]="cdl?.cdlNumber"
              [expDateClose]="cdl?.expDate | formatDateP"
              [hasCopyIcon]="true"
              [optionsId]="cdl.id"
              [stateTooltipName]="cdl.state.stateName"
              [shortName]="cdl.state.stateShortName"
              (dropActions)="optionsEvent($event, 'edit-licence')"
            >
              <div class="cards-container">
                <div class="card-body-cdl">
                  <div
                    class="card-restriction-endorsment card-restriction-class"
                  >
                    <!-- <div class="card-item">
                    <div class="card-item-name">State</div>
                    <div class="card-item-value">
                      {{ cdl.state.stateShortName }}
                    </div>
                  </div> -->
                    <div class="card-restriction">
                      <div class="restriction-name">Class</div>
                      <div class="restriction-item-value">
                        {{ cdl?.classType.name }}
                      </div>
                    </div>
                    <div class="card-restriction">
                      <div class="restriction-name">Issued</div>
                      <div class="restriction-item-value">
                        {{ cdl?.issueDate | formatDateP }}
                      </div>
                    </div>
                  </div>
                  <div
                    [ngClass]="{ 'card-restriction-endorsment': !toggler[i] }"
                  >
                    <div class="card-restriction">
                      <p class="restriction-name">Restriction</p>
                      <div class="item-card-wrapper">
                        <p
                          class="restriction-item-value"
                          *ngFor="
                            let rest of cdl.cdlRestrictions;
                            trackBy: identity
                          "
                        >
                          <span class="value-name">{{ rest?.code }}</span>
                          <span class="desc" *ngIf="toggler[i]"
                            >- {{ rest?.description }}
                          </span>
                        </p>
                      </div>
                    </div>
                    <div class="card-restriction endorsement">
                      <p class="restriction-name">Endorsement</p>
                      <div class="item-card-wrapper">
                        <p
                          class="restriction-item-value"
                          *ngFor="
                            let endors of cdl.cdlEndorsements;
                            trackBy: identity
                          "
                        >
                          <span class="span-value" *ngIf="endors">
                            <span class="value-name">{{ endors?.code }}</span>
                            <span *ngIf="toggler[i]" class="desc"
                              >- {{ endors?.description }}</span
                            >
                          </span>
                        </p>
                        <span class="no-data" *ngIf="endors == ''">None</span>
                      </div>
                    </div>
                  </div>
                  <div
                    class="card-row-progress"
                    [ngClass]="{ 'second-progress': toggler[i] }"
                  >
                    <div class="card-details-progress-container">
                      <app-truckassist-progress-expiration
                        [expireDate]="cdl?.expDate | formatDateP"
                        [startDate]="cdl?.issueDate | formatDateP"
                        [expiresSettings]="'details'"
                        [customText]="'Exp. in'"
                      >
                      </app-truckassist-progress-expiration>
                    </div>
                  </div>
                </div>
                <div [@showHideCardBody]="toggler[i] ? 'true' : 'false'">
                  <div class="divider"></div>

                  <div class="details-document-container">
                    <div class="icon-counter-wrapper">
                      <div class="counter-text-wrapper">
                        <app-ta-counter
                          [countBackgroud]="'#F3F3F3'"
                          [countHeight]="'24px'"
                          [countWidth]="'24px'"
                          [count]="6"
                        >
                        </app-ta-counter>
                        <p class="details-document-name">Document</p>
                      </div>
                      <svg-icon
                        (click)="onFileAction('download')"
                        src="assets/svg/common/ic_download.svg"
                      >
                      </svg-icon>
                    </div>
                  </div>
                  <div class="card-pdf">
                    <app-ta-files
                      [files]="[
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        }
                      ]"
                      [fileType]="'multiple-pdf'"
                      [customClassName]="'driver-details-multiple-pdf'"
                    >
                    </app-ta-files>
                  </div>
                  <div class="divider"></div>
                  <div class="card-note">
                    <app-ta-input-note
                      [formControl]="cdlNote"
                      [isVisibleDivider]="false"
                      [isVisibleNote]="true"
                      [isVisibleSecondDivider]="false"
                      [isVisibleArrow]="false"
                      [minRows]="1"
                      [placeholder]="'Write something.'"
                      [customClass]="'note-small'"
                    >
                    </app-ta-input-note>
                  </div>
                </div>
              </div>
            </app-ta-re-card>
          </div>
        </app-ta-custom-card>
      </div>

      <div class="custom-card-single">
        <app-ta-custom-card
          [cardName]="'Drug & Alcohol'"
          [isCardOpen]="false"
          [hasDivider]="false"
          class="item-cards"
          [bodyTemplate]="'card'"
          [hasCounter]="data.tests.length"
          [animationsDisabled]="false"
          [hasPlusHeader]="true"
        >
          <div
            *ngFor="let test of data.tests; let i = index; trackBy: identity"
          >
            <app-ta-re-card
              [options]="dataEdit"
              [cardNameCommon]="test?.testingDate | formatDateP"
              (resizePage)="toggleResizePage(i)"
              [optionsId]="test.id"
              [cardSecondName]="test?.testReason.reason"
              [shortName]="test.testType.name[0]"
              [stateTooltipName]="test.testType.name + ' Test'"
              (dropActions)="optionsEvent($event, 'edit-drug')"
            >
              <div [ngClass]="{ 'second-progress': toggler[i] }"></div>
              <div class="cards-container">
                <div [@showHideCardBody]="toggler[i] ? 'true' : 'false'">
                  <div class="divider"></div>
                  <div class="details-document-container">
                    <div class="icon-counter-wrapper">
                      <div class="counter-text-wrapper">
                        <app-ta-counter
                          [countBackgroud]="'#F3F3F3'"
                          [countHeight]="'24px'"
                          [countWidth]="'24px'"
                          [count]="6"
                        >
                        </app-ta-counter>
                        <p class="details-document-name">Document</p>
                      </div>
                      <svg-icon
                        (click)="onFileAction('download')"
                        src="assets/svg/common/ic_download.svg"
                      >
                      </svg-icon>
                    </div>
                  </div>
                  <div class="card-pdf">
                    <app-ta-files
                      [files]="[
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        }
                      ]"
                      [fileType]="'multiple-pdf'"
                      [customClassName]="'driver-details-multiple-pdf'"
                    >
                    </app-ta-files>
                  </div>
                  <div class="divider"></div>
                  <div class="card-note">
                    <app-ta-input-note
                      [formControl]="cdlNote"
                      [isVisibleDivider]="false"
                      [isVisibleNote]="true"
                      [isVisibleSecondDivider]="false"
                      [isVisibleArrow]="false"
                      [minRows]="1"
                      [placeholder]="'Write something.'"
                      [customClass]="'note-small'"
                    >
                    </app-ta-input-note>
                  </div>
                </div>
              </div>
            </app-ta-re-card>
          </div>
        </app-ta-custom-card>
      </div>
      <div class="custom-card-single">
        <app-ta-custom-card
          [cardName]="'Medical'"
          [isCardOpen]="false"
          [hasDivider]="false"
          class="item-cards"
          [bodyTemplate]="'card'"
          [hasCounter]="data.medicals.length"
          [animationsDisabled]="false"
          [hasPlusHeader]="true"
        >
          <div
            *ngFor="let med of data.medicals; let i = index; trackBy: identity"
          >
            <app-ta-re-card
              [options]="dataEdit"
              [cardNameCommon]="med?.issueDate | formatDateP"
              [expDateClose]="med?.expDate | formatDateP"
              [optionsId]="med.id"
              (resizePage)="toggleResizePage(i)"
              (dropActions)="optionsEvent($event, 'edit-medical')"
            >
              <div class="cards-container">
                <div class="card-body-cdl">
                  <div
                    class="card-row-progress"
                    [ngClass]="{ 'second-progress': toggler[i] }"
                  >
                    <div class="card-details-progress-container">
                      <app-truckassist-progress-expiration
                        [expireDate]="med?.expDate | formatDateP"
                        [startDate]="med?.issueDate | formatDateP"
                        [expiresSettings]="'details'"
                      >
                      </app-truckassist-progress-expiration>
                    </div>
                  </div>
                </div>
                <div [@showHideCardBody]="toggler[i] ? 'true' : 'false'">
                  <div class="divider"></div>
                  <div class="details-document-container">
                    <div class="icon-counter-wrapper">
                      <div class="counter-text-wrapper">
                        <app-ta-counter
                          [countBackgroud]="'#F3F3F3'"
                          [countHeight]="'24px'"
                          [countWidth]="'24px'"
                          [count]="6"
                        >
                        </app-ta-counter>
                        <p class="details-document-name">Document</p>
                      </div>
                      <svg-icon
                        (click)="onFileAction('download')"
                        src="assets/svg/common/ic_download.svg"
                      >
                      </svg-icon>
                    </div>
                  </div>
                  <div class="card-pdf">
                    <app-ta-files
                      [files]="[
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        }
                      ]"
                      [fileType]="'multiple-pdf'"
                      [customClassName]="'driver-details-multiple-pdf'"
                    >
                    </app-ta-files>
                  </div>
                  <div class="divider"></div>
                  <div class="card-note">
                    <app-ta-input-note
                      [formControl]="cdlNote"
                      [isVisibleDivider]="false"
                      [isVisibleNote]="true"
                      [isVisibleSecondDivider]="false"
                      [isVisibleArrow]="false"
                      [minRows]="1"
                      [placeholder]="'Write something.'"
                      [customClass]="'note-small'"
                    >
                    </app-ta-input-note>
                  </div>
                </div>
              </div>
            </app-ta-re-card>
          </div>
        </app-ta-custom-card>
      </div>

      <div class="custom-card-single">
        <app-ta-custom-card
          [cardName]="'MVR'"
          [isCardOpen]="false"
          [hasDivider]="false"
          class="item-cards"
          [bodyTemplate]="'card'"
          [hasCounter]="data.mvrs.length"
          [animationsDisabled]="false"
          [hasPlusHeader]="true"
        >
          <div *ngFor="let mvr of data.mvrs; let i = index; trackBy: identity">
            <app-ta-re-card
              [options]="dataEdit"
              [cardDocumentCounter]="6"
              (resizePage)="toggleResizePage(i)"
              [cardNameCommon]="mvr?.issueDate | formatDateP"
              [expDateClose]="mvr?.issueDate | formatDateP"
              [optionsId]="mvr.id"
              (dropActions)="optionsEvent($event, 'edit-mvr')"
            >
              <div class="cards-container">
                <div class="card-body-cdl">
                  <div
                    class="card-row-progress"
                    [ngClass]="{ 'second-progress': toggler[i] }"
                  >
                    <div class="card-details-progress-container">
                      <app-truckassist-progress-expiration
                        [startDate]="mvr?.issueDate | formatDateP"
                        [expireDate]="mvr?.issueDate | formatDateP"
                        [expiresSettings]="'details'"
                      >
                      </app-truckassist-progress-expiration>
                    </div>
                  </div>
                </div>
                <div [@showHideCardBody]="toggler[i] ? 'true' : 'false'">
                  <div class="divider"></div>
                  <div class="details-document-container">
                    <div class="icon-counter-wrapper">
                      <div class="counter-text-wrapper">
                        <app-ta-counter
                          [countBackgroud]="'#F3F3F3'"
                          [countHeight]="'24px'"
                          [countWidth]="'24px'"
                          [count]="6"
                        >
                        </app-ta-counter>
                        <p class="details-document-name">Document</p>
                      </div>
                      <svg-icon
                        (click)="onFileAction('download')"
                        src="assets/svg/common/ic_download.svg"
                      >
                      </svg-icon>
                    </div>
                  </div>
                  <div class="card-pdf">
                    <app-ta-files
                      [files]="[
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        },
                        {
                          fileName: 'truckassist0',
                          url: 'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
                          extension: 'pdf'
                        }
                      ]"
                      [fileType]="'multiple-pdf'"
                      [customClassName]="'driver-details-multiple-pdf'"
                    >
                    </app-ta-files>
                  </div>
                  <div class="divider"></div>
                  <div class="card-note">
                    <app-ta-input-note
                      [formControl]="cdlNote"
                      [isVisibleDivider]="false"
                      [isVisibleNote]="true"
                      [isVisibleSecondDivider]="false"
                      [isVisibleArrow]="false"
                      [minRows]="1"
                      [placeholder]="'Write something.'"
                      [customClass]="'note-small'"
                    >
                    </app-ta-input-note>
                  </div>
                </div>
              </div>
            </app-ta-re-card>
          </div>
        </app-ta-custom-card>
      </div>
    </div>
  </div>
</div>
