@import '../driver-details/driver-details-item/driver-details-item.component.scss';

.custom-card-single{
    background-color: #ffffff;
    border-radius: 3px;
    padding-left: 4px;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    max-width: 440px;
    margin-top: 8px;
}
.wrapper-additional-cards{
    max-height: 1080px;
    display: grid;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    &::-webkit-scrollbar{
        display: none; 
    }
    .card-footer-cmp{
        padding-bottom:  0 !important;
    }
}
.cards-item-wrapper-1{
    overflow: hidden;
}
.details-cards{
    background-color: #ffffff;
    width: 440px;
    padding: 9px 6px;
}
