@import '../driver-details/driver-details-item/driver-details-item.component.scss';

.custom-card-single{
    background-color: #ffffff;
    border-radius: 3px;
    padding-left: 4px;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    max-width: 440px;
    margin-top: 8px;
}
.wrapper-additional-cards{
    max-height: calc(77vh - 74px);
    min-height: calc(26vh - 10px);
    display: grid;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    &::-webkit-scrollbar{
        display: none; 
    }
    .card-footer-cmp{
        padding-bottom:  0 !important;
    }
}
.cards-item-wrapper-1{
    overflow: hidden;
    height: calc(100vh -62px);
}
.details-cards{
    background-color: #ffffff;
    width: 440px;
    padding: 9px 6px;
}
.owner-name{
    text-transform: uppercase;
}
.tooltip-copy{
    width: 12%;
}
.tooltip-ein{
 width: 17%;
}

.inactive-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 15px;
    background-color: #f3f3f3;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 800;
    position: relative;
    left: 98px;
    color: $color-gray-dark;
    width: 60px;
    height: 18px;
}
.bind-heigth{
      max-height: calc(100vh - 74px) !important;
}
.activate-button{
    width: 398px !important;
}