<div cdkDrag class="modal-container">
  <div cdkDragHandle class="modal-header">
    <h5 class="modal-title">{{ modalTitle }}</h5>
    <div class="d-flex align-items-center">
        <svg-icon
          (click)="closeModal()"
          [svgStyle]="{'width.px': 16,'height.px': 16}"
          class="modal-close-btn cursor-pointer"
          src="assets/img/svgs/table/close.svg"
        ></svg-icon>
    </div>
  </div>
  <div class="divider">
  </div>
  <div class="modal-body">
    <form>

    </form>
  </div>
</div>
