<div class="table-container dispatch-board-main-table">
    <app-ta-table-toolbar
        (toolBarAction)="onToolBarAction($event)"
        [options]="tableOptions"
        [tableData]="tableData"
        [selectedTab]="selectedTab"
        [columns]="columns"
        [selectedDispatcher]="selectedDispatcher"
        [dispathcboardTableLocked]="isBoardLocked"
    ></app-ta-table-toolbar>
    <div
        class="dispatch-tables"
        [class.multiple-tables]="(dispatchTableList | async).length > 1"
        [ngStyle]="{ 'max-width.px': maxToolbarWidth }"
    >
        <div
            class="dipsatch_groups"
            *ngFor="let item of dispatchTableList | async; let indx = index"
        >
            <app-dispatch-table
                [_dData]="item"
                [isBoardLocked]="isBoardLocked"
                [dDataIndx]="indx"
                [smallList]="dispatchBoardSmallList | async"
                [toolbarWidth]="maxToolbarWidth"
            ></app-dispatch-table>
        </div>
    </div>
</div>
