.dispatch-board-main {
    width: calc(100% - 92px);
    position: absolute;
    top: 0;
}

.multiple-tables {
    .table-info {
        background-color: #3074d333;
        margin-bottom: 12px;
        border-radius: 3px;
    }

    .dispatch-groups:not(.dispatch-groups:first-child) {
        table {
            thead {
                display: none;
            }
        }
    }

    .dispatcher-field {
        visibility: visible !important;
    }
}
