.dispatch-board-main {
    width: fit-content;
    max-width: calc(100% - 92px) !important;
    position: absolute;
    top: 0;
    overflow-x: auto;
}

.multiple-tables {
    .table-info {
        margin-bottom: 12px;
        border-radius: 3px;
    }

    .dispatch-groups {
        margin-bottom: 12px;
    }

    .dispatch-groups:not(.dispatch-groups:first-child) {
        table {
            thead {
                display: none;
            }
        }
    }

    .dispatcher-field {
        visibility: visible !important;
    }
}
