@import 'src/theme/variables.scss';

.repair-bill-table-container {
    &.repair-order-table-container {
        .table-item {
            grid-template-columns: 26px 492px 26px 60px;
        }
    }

    .table-item {
        grid-template-columns: 26px 306px 26px 60px 90px 88px;
    }

    &.fuel-table {
        .table-item {
            grid-template-columns: 26px 182px 80px 60px 90px 88px;
        }
    }

    .pm-dropdown-container {
        &.hidden-pm-dropdown {
            cursor: pointer;
            pointer-events: none;
            opacity: 0;
            visibility: 0;
        }
    }

    .subtotal {
        padding-right: 6px;

        p {
            font-size: 14px;
            line-height: 11px;
            color: $ta-black;

            &::-moz-selection {
                color: $ta-black;
                background: rgb(66, 66, 66, 0.2);
            }

            &::selection {
                color: $ta-black;
                background: rgb(66, 66, 66, 0.2);
            }
        }
    }
}
