<app-ta-modal
    (action)="onModalAction($event)"
    [editData]="editData"
    [editName]="
        editData?.modal === 'trailer'
            ? 'Trailer ' + editData?.payload?.trailerNumber
            : 'Truck ' + editData?.payload?.truckNumber
    "
    [isModalValid]="registrationForm.valid && isFormDirty"
    [modalTitle]="
        editData?.type !== 'edit-registration'
            ? 'Add New Registration'
            : 'Edit Registration'
    "
    [specificCaseModalName]="true"
>
    <form
        [formGroup]="registrationForm"
        class="form-container form-container-without-mb"
        origin
    >
        <div class="row">
            <div class="col-6">
                <app-ta-input
                    [inputConfig]="{
                        name: 'License Plate',
                        type: 'text',
                        label: 'License plate',
                        minLength: 5,
                        maxLength: 9,
                        isRequired: true,
                        autoFocus: editData?.type !== 'edit-registration',
                        textTransform: 'uppercase'
                    }"
                    formControlName="licensePlate"
                ></app-ta-input>
            </div>
            <div class="col-6">
                <app-ta-input-dropdown
                    (selectedItem)="onSelectDropdown($event, 'state')"
                    [activeItem]="selectedStateType"
                    [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'State',
                        textTransform: 'uppercase',
                        isRequired: true,
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-228'
                    }"
                    [options]="stateTypes"
                    formControlName="stateId"
                ></app-ta-input-dropdown>
            </div>
        </div>
        <div class="row last-row">
            <div class="col-6">
                <app-ta-input
                    [inputConfig]="{
                        name: 'datepicker',
                        type: 'text',
                        label: 'Issue Date',
                        placeholderIcon: 'date',
                        isDropdown: true,
                        isRequired: true,
                        customClass: 'datetimeclass'
                    }"
                    formControlName="issueDate"
                ></app-ta-input>
            </div>
            <div class="col-6">
                <div
                    *ngIf="!registrationExpirationDate"
                    class="d-flex align-items-center registration-expiration-container"
                >
                    <div class="registartion-action" (click)="onAction()">
                        <svg-icon
                            class="registartion-action-svg"
                            [src]="'assets/svg/common/ic_plus.svg'"
                        ></svg-icon>
                    </div>
                    <p class="m-0 p-0 registration-action-text">
                        Add expiration date
                    </p>
                </div>
                <app-ta-input
                    *ngIf="registrationExpirationDate"
                    [inputConfig]="{
                        name: 'datepicker',
                        type: 'text',
                        isDropdown: true,
                        label: 'Expiration Date',
                        placeholderIcon: 'date',
                        isRequired: true,
                        customClass: 'datetimeclass'
                    }"
                    formControlName="expDate"
                ></app-ta-input>
            </div>
        </div>
        <div class="ta-card-body-overflow-none">
            <app-ta-custom-card
                [cardName]="'Documents'"
                [disableAnimation]="disableCardAnimation"
                [hasCounter]="documents.length ? documents.length : 0"
                [isCardOpen]="documents.length > 0"
            >
                <app-ta-upload-files
                    (onFileEvent)="onFilesEvent($event)"
                    [customClassName]="'modals'"
                    [files]="documents"
                    [showDropzone]="true"
                ></app-ta-upload-files>
            </app-ta-custom-card>
        </div>

        <app-ta-input-note
            [isVisibleNote]="
                registrationForm.get('note').value &&
                registrationForm.get('note').value != 'null'
                    ? registrationForm.get('note').value
                    : false
            "
            [note]="
                registrationForm.get('note').value &&
                registrationForm.get('note').value != 'null'
                    ? registrationForm.get('note').value
                    : ''
            "
            formControlName="note"
        ></app-ta-input-note>
    </form>
</app-ta-modal>
