<div class="ta-upload {{ customClassName }} documents">
    <ng-container *ngIf="showDropzone">
        <app-ta-upload-dropzone
            (onFileEvent)="onUploadFiles($event)"
            [isRequired]="isRequired"
            [showRequired]="showRequired"
            [dropzoneClose]="true"
            [dropzoneFocus]="dropzoneFocus"
            (closeDropzone)="dropZoneClose()"
            [customClassName]="customClassName"
            [dropZoneConfig]="dropZoneConfig"
        ></app-ta-upload-dropzone>
    </ng-container>
    <div class="documents_holder">
        <ng-container
            *ngFor="let file of _files; let ind = index; trackBy: identity"
        >
            <app-ta-upload-file
                [file]="file"
                [hasTagsDropdown]="hasTagsDropdown"
                [isReview]="isReview"
                [reviewMode]="reviewMode"
                [feedbackText]="feedbackText"
                [hasNumberOfPages]="hasNumberOfPages"
                [customClassName]="customClassName"
                (fileAction)="onFileAction($event)"
                (landscapeCheck)="onLandscapeCheck($event)"
                (documentReviewInputEvent)="
                    documentReviewInputEventMethod($event)
                "
                [tags]="tags"
                [type]="type"
                [categoryTag]="categoryTag"
                [hasLandscapeOption]="hasLandscapeOption"
            ></app-ta-upload-file>
        </ng-container>
    </div>
</div>
