@import "src/theme/variables.scss";

.psp-authorization-container {
  min-height: 100vh;
  background: $white;

  .title {
    color: $ta-blue;
    font-size: 32px;
    height: 39px;
    margin-top: 4px !important;
    margin-bottom: 12px !important;

    &::-moz-selection {
      color: $ta-blue;
      background: rgb(83, 107, 194, 0.2);
    }

    &::selection {
      color: $ta-blue;
      background: rgb(83, 107, 194, 0.2);
    }
  }

  .subtitle {
    color: $bw6-2;
    font-size: 14px;
    height: 40px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 12px !important;

    &::-moz-selection {
      color: $bw6-2;
      background: rgb(108, 108, 108, 0.2);
    }

    &::selection {
      color: $bw6-2;
      background: rgb(108, 108, 108, 0.2);
    }
  }

  .info-container {
    width: 820px;

    p {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 12px !important;

      &::-moz-selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
      }

      &::selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
      }

      span {
        &::-moz-selection {
          color: $bw6-2;
          background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
          color: $bw6-2;
          background: rgb(108, 108, 108, 0.2);
        }
      }

      a {
        &::-moz-selection {
          color: $ta-blue;
          background: rgb(83, 107, 194, 0.2);
        }

        &::selection {
          color: $ta-blue;
          background: rgb(83, 107, 194, 0.2);
        }
      }

      &:last-child {
        margin-top: 10px !important;
      }
    }
  }

  form {
    width: 820px;

    .confirm-container {
      margin-bottom: 22px;
    }

    h2,
    h3 {
      font-size: 14px;
      color: $bw6-2;
      line-height: 22px;
      margin-bottom: 12px !important ;

      &::-moz-selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
      }

      &::selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
      }
    }

    .checkbox-container {
      margin-bottom: 12px;

      p {
        font-size: 14px;
        line-height: 22px;
        cursor: pointer;
        user-select: none;
        margin-left: 9px !important;
        margin-top: -3px !important;

        a {
          color: $ta-blue;
        }
      }
    }

    .notice-info-container {
      margin-top: 22px;

      p {
        font-size: 14px;
        line-height: 22px;

        &::-moz-selection {
          color: $bw6-2;
          background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
          color: $bw6-2;
          background: rgb(108, 108, 108, 0.2);
        }

        span {
          &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }
        }
      }
    }

    .applicant-card-container {
      width: 616px;
      margin: 22px auto;

      .title-container {
        width: 100%;
        margin-bottom: 6px;
        padding-left: 6px;

        p {
          color: $bw5;
          font-size: 12px;

          &::-moz-selection {
            color: $bw5;
            background: rgb(145, 145, 145, 0.2);
          }

          &::selection {
            color: $bw5;
            background: rgb(145, 145, 145, 0.2);
          }
        }

        &-feedback {
          p {
            color: $bw4;

            &::-moz-selection {
              color: $bw4;
              background: rgb(183, 183, 183, 0.2);
            }

            &::selection {
              color: $bw4;
              background: rgb(183, 183, 183, 0.2);
            }
          }
        }

        .name-title-box,
        .ssn-title-box,
        .dob-title-box {
          &.name-title-box {
            width: 115px;
            margin-right: 183px;
          }

          &.ssn-title-box {
            width: 25px;
            margin-right: 140px;
          }

          &.dob-title-box {
            width: 29px;
          }
        }
      }

      .applicant-card-info-container {
        width: 100%;
        height: 26px;
        padding: 4px 6px;
        background: $ta-light-grey-4;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 14px;

        p {
          color: $bw6-2;
          height: 18px;

          &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }
        }

        &-feedback {
          background: $ta-light-grey-7;

          p {
            color: $bw5;

            &::-moz-selection {
              color: $bw5;
              background: rgb(145, 145, 145, 0.2);
            }

            &::selection {
              color: $bw5;
              background: rgb(145, 145, 145, 0.2);
            }
          }
        }

        .driver-box,
        .ssn-box,
        .date-box {
          &.driver-box {
            width: 280px;
            margin-right: 12px;
          }

          &.ssn-box {
            width: 153px;
            margin-right: 12px;
            padding-left: 6px;
          }

          &.date-box {
            margin-right: 12px;
            padding-left: 6px;
          }
        }
      }
    }

    .signature-pad-container {
      margin: 0 auto;
      width: 616px;
      height: 215px;
      border-radius: 3px;
    }
  }
}

.next-btn-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  right: 42px;
}
