<div class="nav-header">
    <div class="nav-header-top">
        <svg-icon
            class="nav-header-top-logo close"
            src="assets/svg/applicant/new-logo.svg"
            (click)="redirectToDashboard()"
        ></svg-icon>
    </div>
    <div
        class="nav-header-bottom"
        [ngClass]="{ 'expand-width': isNavigationHovered }"
    >
        <div class="nav-header-bottom-rightSide">
            <div
                [@showHideDetails]="isNavigationHovered ? 'true' : 'false'"
                class="nav-header-bottom-rightSide-search"
                (click)="onAction('Search')"
            >
                <p
                    *ngIf="isNavigationHovered"
                    [@showHideDetails]="isNavigationHovered ? 'true' : 'false'"
                    class="ta-font-bold"
                >
                    Add Anything
                </p>
            </div>
        </div>
        <div
            class="svg-holder"
            (mouseenter)="showToolTip = true"
            (mouseleave)="showToolTip = false"
            [@showHideDetails]="isNavigationHovered ? 'true' : 'false'"
        >
            <svg-icon
                src="assets/svg/common/ic_search.svg"
                [ngClass]="{ 'dark-svg': isNavigationHovered }"
            ></svg-icon>

            <div class="tooltip-right">
                <app-ta-tooltip-slide
                    [show]="showToolTip"
                    [name]="'Search anything'"
                ></app-ta-tooltip-slide>
            </div>
        </div>
    </div>
</div>
