<div class="settings-grid">
    <div class="settings-header d-flex align-items-center justify-items-center">
        <div class="settings-name d-flex flex-1 align-items-center">
            <p class="ta-font-extra-bold text-size-16 text-color-black">
                Terminal
            </p>
            <app-ta-counter
                [count]="terminalData?.count"
                [countBackground]="'#6C6C6C'"
                [countColor]="'#ffffff'"
                countBorderRadius="60px"
                [marginLeft]="'4px'"
            ></app-ta-counter>
        </div>

        <div
            class="settings-header-button c-pointer"
            ngbTooltip
            mainContent
            position="bottom"
            tooltipBackground="#424242"
            [mainTooltip]="'Add New'"
            tooltipColor="#ffff"
            [tooltipMarginTop]="'5px'"
        >
            <svg-icon
                src="assets/svg/common/ic_plus.svg"
                class="settings-plus-button svg-fill-blue-13 svg-hover-blue-15 d-flex align-items-center justify-content-center c-pointer"
                (click)="onAction({ modalName: 'terminal' })"
            ></svg-icon>
        </div>
    </div>

    <div class="settings-body">
        <app-ta-common-card
            *ngFor="
                let item of terminalData?.data;
                let i = index;
                trackBy: identity
            "
            [settingsIcon]="item.isOwner ? 'ic_company.svg' : ''"
            [cardNameCommon]="item.name"
            [hasFooter]="false"
            [optionsId]="item.id"
            [options]="options"
            [paddingDots]="'8px 0px 0px 0px'"
            [haveHeaderText]="true"
            [setPositionDrop]="true"
            (dropActions)="optionsEvent($event, 'terminal', item)"
            (isCardOpenEmitter)="onCardToggle(i)"
        >
            <div class="settings-body-items">
                <ng-container *ngIf="item.phone">
                    <div class="single-item">
                        <svg-icon
                            class="mr-3 svg-fill-muted"
                            [src]="svgRoutes.phone"
                        ></svg-icon>
                        <app-ta-copy
                            [copyValue]="item?.phone"
                            [textColor]="'#2f2f2f'"
                        >
                        </app-ta-copy>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.email">
                    <div class="single-item">
                        <svg-icon
                            class="mr-3 svg-fill-muted"
                            [src]="svgRoutes.email"
                        ></svg-icon>
                        <app-ta-copy
                            [copyValue]="item?.email"
                            [textColor]="'#2f2f2f'"
                        >
                        </app-ta-copy>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.address.address">
                    <div class="single-item">
                        <svg-icon
                            class="mr-3 svg-fill-muted"
                            [src]="svgRoutes.location"
                        ></svg-icon>
                        <span>{{ item?.address?.address }}</span>
                    </div>
                </ng-container>
            </div>

            <app-ta-custom-card
                [cardName]="'Office'"
                [bodyTemplate]="'card'"
                [customClass]="'detailsPadding'"
                [textBottomPossiton]="'-2px'"
                [hasArrow]="item.officeChecked"
                [disabledCard]="!item.officeChecked"
                [animationMarginParams]="{
                    marginTop: 0,
                    marginBottom: '12px'
                }"
                [isCardOpen]="!!isOfficeCardOpened[i]"
                (onOpenCard)="isOfficeCardOpened[i] = $event"
            >
                <div class="parking-template-data d-flex flex-column">
                    <ng-container *ngIf="item.officePhone">
                        <div class="parking-template-item">
                            <svg-icon
                                class="mr-3 svg-fill-muted"
                                [src]="svgRoutes.phone"
                            ></svg-icon>
                            <app-ta-copy
                                [arrayText]="true"
                                [copyValue]="[
                                    item.officePhone,
                                    item.officeExtPhone
                                        ? ' x' + item.officeExtPhone
                                        : ''
                                ]"
                                [textColor]="'#2f2f2f'"
                                type="Contacts"
                            >
                            </app-ta-copy>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="item.officeEmail">
                        <div class="parking-template-item">
                            <svg-icon
                                class="mr-3 svg-fill-muted"
                                [src]="svgRoutes.email"
                            ></svg-icon>
                            <app-ta-copy
                                [copyValue]="item.officeEmail"
                                [textColor]="'#2f2f2f'"
                            >
                            </app-ta-copy>
                        </div>
                    </ng-container>
                </div>
            </app-ta-custom-card>

            <app-ta-custom-card
                [cardName]="'Parking'"
                [bodyTemplate]="'card'"
                [textBottomPossiton]="'-2px'"
                [customClass]="'detailsPadding'"
                [hasArrow]="item.parkingChecked"
                [disabledCard]="!item.parkingChecked"
                [animationMarginParams]="{
                    marginTop: 0,
                    marginBottom: '12px'
                }"
                [isCardOpen]="!!isParkingCardOpened[i]"
                (onOpenCard)="isParkingCardOpened[i] = $event"
            >
                <div class="parking-template-data d-flex flex-column mb-2">
                    <ng-container *ngIf="item.parkingPhone">
                        <div class="parking-template-item">
                            <svg-icon
                                class="mr-3 svg-fill-muted"
                                [src]="svgRoutes.phone"
                            ></svg-icon>
                            <app-ta-copy
                                [arrayText]="true"
                                [textColor]="'#2f2f2f'"
                                [copyValue]="[
                                    item.parkingPhone,
                                    item.parkingExtPhone
                                        ? ' x' + item.parkingExtPhone
                                        : ''
                                ]"
                                type="Contacts"
                            >
                            </app-ta-copy>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="item.parkingEmail">
                        <div class="parking-template-item">
                            <svg-icon
                                class="mr-3 svg-fill-muted"
                                [src]="svgRoutes.email"
                            ></svg-icon>
                            <app-ta-copy
                                [copyValue]="item.parkingEmail"
                                [textColor]="'#2f2f2f'"
                            >
                            </app-ta-copy>
                        </div>
                    </ng-container>
                </div>
                <div class="parking-template-data">
                    <ng-container *ngIf="item.terminalParkingSlot">
                        <div class="parking-template-item">
                            <p
                                class="ta-font-semi-bold text-size-14 text-color-black"
                            >
                                {{ item.terminalParkingSlot }}
                            </p>
                            <p class="parking-template-text text-color-black-2">
                                Single Slot
                            </p>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="item.terminalFullParkingSlot">
                        <div class="parking-template-item">
                            <p
                                class="ta-font-semi-bold text-size-14 text-color-black"
                            >
                                {{ item.terminalFullParkingSlot }}
                            </p>
                            <p class="parking-template-text text-color-black-2">
                                Full Slot
                            </p>
                        </div>
                    </ng-container>
                    <div class="parking-template-item">
                        <svg-icon
                            class="parking-template-svg"
                            [ngClass]="{ disabled: !item.securityCamera }"
                            [src]="svgRoutes.securityCamera"
                        ></svg-icon>
                        <p
                            class="parking-template-text text-color-black-2"
                            [ngClass]="{
                                'cross-out text-color-light-grey-6':
                                    !item.securityCamera
                            }"
                        >
                            Security Camera
                        </p>
                    </div>
                    <div class="parking-template-item">
                        <svg-icon
                            class="parking-template-svg"
                            [ngClass]="{ disabled: !item.gate }"
                            [src]="svgRoutes.securityGate"
                        ></svg-icon>
                        <p
                            [ngClass]="{
                                'cross-out text-color-light-grey-6': !item.gate
                            }"
                            class="parking-template-text text-color-black-2"
                        >
                            Gate
                        </p>
                    </div>
                </div>
            </app-ta-custom-card>

            <app-ta-custom-card
                [cardName]="'Warehouse'"
                [isCardOpen]="item.warehouseChecked"
                [bodyTemplate]="'card'"
                [textBottomPossiton]="'-2px'"
                [customClass]="'detailsPadding'"
                [hasArrow]="item.warehouseChecked"
                [disabledCard]="!item.warehouseChecked"
                [animationMarginParams]="{
                    marginTop: 0,
                    marginBottom: '12px'
                }"
                [isCardOpen]="!!isOWareHouseCardOpened[i]"
                (onOpenCard)="isOWareHouseCardOpened[i] = $event"
            >
                <div class="parking-template-data d-flex flex-column">
                    <ng-container *ngIf="item.warehousePhone">
                        <div class="parking-template-item">
                            <svg-icon
                                class="mr-3 svg-fill-muted"
                                [src]="svgRoutes.phone"
                            ></svg-icon>
                            <app-ta-copy
                                [arrayText]="true"
                                [textColor]="'#2f2f2f'"
                                [copyValue]="[
                                    item.warehousePhone,
                                    item.warehouseExtPhone
                                        ? ' x' + item.warehouseExtPhone
                                        : ''
                                ]"
                                type="Contacts"
                            >
                            </app-ta-copy>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="item.warehouseEmail">
                        <div class="parking-template-item">
                            <svg-icon
                                class="mr-3 svg-fill-muted"
                                [src]="svgRoutes.email"
                            ></svg-icon>
                            <app-ta-copy
                                [copyValue]="item.warehouseEmail"
                                [textColor]="'#2f2f2f'"
                            >
                            </app-ta-copy>
                        </div>
                    </ng-container>
                </div>
            </app-ta-custom-card>
            <ng-container *ngIf="item.fuelStationChecked">
                <app-ta-custom-card
                    [cardName]="'Fuel Station'"
                    [bodyTemplate]="'card'"
                    [hasArrow]="false"
                    [disabledCard]="true"
                    [isCardOpen]="false"
                    [animationMarginParams]="{
                        marginTop: 0,
                        marginBottom: 0,
                    }"
                ></app-ta-custom-card>
            </ng-container>

            <ng-container *ngIf="!item.isOwner">
                <div class="divider"></div>
                <div class="settings-progress-container">
                    <app-ta-progress-expiration
                        [expireDate]="getRentDate(item.monthlyDay?.id)"
                        [startDate]="currentDate"
                        [expiresSettings]="'settings-parking'"
                        [customText]="generateTextForProgressBar(item)"
                        [darkText]="true"
                    ></app-ta-progress-expiration>
                </div>
            </ng-container>
        </app-ta-common-card>
    </div>
</div>
