<div class="d-flex flex-column align-items-center step-container">
    <h1 class="step-title text-center ta-font-bold">{{ stringConstants.title }}</h1>

    <!-- TOP SECTION -->

    <div class="d-flex text-center top-section">
        <p
            class="m-0 ta-font-regular"
            [ngStyle]="{
                color: selectedMode === 'FEEDBACK_MODE' ? '#919191' : '#2F2F2F'
            }"
        >
            {{ stringConstants.pleaseListAllMotorTrafficViolations }}
        </p>
    </div>

    <!-- FORM SECTION -->

    <div class="d-flex flex-column form-section">
        <div class="d-flex flex-column align-items-center">
            <!-- NOT BEEN CONVICTED -->

            <div
                class="d-flex flex-column align-items-center justify-content-center not-been-convicted-container"
                [formGroup]="notBeenConvictedForm"
            >
                <app-ta-checkbox
                    formControlName="notBeenConvicted"
                    [name]="'notBeenConvicted'"
                    [label]="stringConstants.notBeenConvicted"
                    [customClass]="'bold-14 text-align-center line-height-18'"
                    [disabledStillCheckMark]="
                        selectedMode !== 'APPLICANT_MODE'
                    "
                >
                </app-ta-checkbox>
            </div>

            <!-- LICENSE -->

            <ng-container *ngIf="lastValidLicense">
                <app-applicant-licenses-table
                    [selectedMode]="selectedMode"
                    [licenses]="lastValidLicense"
                >
                </app-applicant-licenses-table>
            </ng-container>

            <!-- ONLY LICENSE -->

            <div
                class="d-flex justify-content-center only-license-container"
                [formGroup]="onlyOneHoldLicenseForm"
            >
                <app-ta-checkbox
                    formControlName="onlyOneHoldLicense"
                    [name]="'onlyOneHoldLicense'"
                    [label]="stringConstants.onlyOneHoldLicense"
                    [customClass]="'bold-14'"
                    [disabledStillCheckMark]="
                        selectedMode !== 'APPLICANT_MODE'
                    "
                >
                </app-ta-checkbox>
            </div>

            <!-- PAST TWELVE MONTHS VIOLATIONS -->
            
            <div
                [formGroup]="trafficViolationsForm"
                class="d-flex justify-content-center past-months-violations-container"
            >
                <app-ta-checkbox
                    formControlName="noViolationsForPastTwelveMonths"
                    [name]="'noViolationsForPastTwelveMonths'"
                    [label]="stringConstants.noViolationsForPastTwelveMonths"
                    [customClass]="'bold-14'"
                    [disabledStillCheckMark]="selectedMode !== 'APPLICANT_MODE'"
                ></app-ta-checkbox>
            </div>

            <ng-container 
                *ngIf="
                    !trafficViolationsForm.get('noViolationsForPastTwelveMonths')
                        .value
            ">
                <!-- CREATED VIOLATIONS DATA -->

                <ng-container *ngIf="violationsArray.length">
                    <div
                        class="d-flex flex-column justify-content-center violations-container"
                        [formGroup]="violationsForm"
                    >
                        <div class="align-items-center title-container">
                            <div
                                class="d-flex align-items-center justify-content-center date-location-title-box"
                            >
                                <p class="m-0 ta-font-bold text-uppercase">#</p>
                            </div>

                            <div
                                class="align-items-center date-location-title-box"
                            >
                                <p class="m-0 ta-font-bold text-uppercase">Location, Date</p>
                            </div>

                            <div
                                class="align-items-center vehicle-description-title-box"
                            >
                                <p class="m-0 ta-font-bold text-uppercase">
                                    Vehicle, description
                                </p>
                            </div>
                        </div>

                        <ng-container
                            *ngFor="
                                let violation of violationsArray;
                                let i = index;
                                trackBy: trackByIdentity
                            "
                        >
                            <ng-container *ngIf="!violation.isEditingViolation">
                                <div
                                    class="d-flex align-items-center violation-info-container line-container"
                                >
                                    <div
                                        class="align-items-center info-btn-container"
                                        (click)="
                                            selectedMode === 'REVIEW_MODE'
                                                ? onCardReview(i)
                                                : onEditViolation(i)
                                        "
                                    >
                                        
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-center index-box"
                                        >
                                            <p class="m-0 ta-font-bold">
                                                {{ i+1 }}
                                            </p>
                                        </div>

                                        <div
                                            class="d-flex flex-column justify-content-center"
                                        >
                                            <div
                                                class="d-flex align-items-center location-box"
                                            >
                                                <p
                                                    class="m-0 ta-font-bold d-inline-block text-truncate"
                                                    style="max-width: 200px"
                                                    ngbTooltip
                                                    [mainTooltip]="
                                                        violation.location.state
                                                    "
                                                    tooltipBackground="#2F2F2F"
                                                    position="bottom-left"
                                                >
                                                    {{ violation.location.state }} ({{ violation.location.stateShortName }})
                                                </p>
                                            </div>

                                            <div
                                                class="d-flex align-items-center date-box"
                                            >
                                                <p class="m-0 ta-font-medium">
                                                    {{ violation.date }}
                                                </p>
                                            </div>
                                        </div>

                                        <div
                                            class="d-flex flex-column justify-content-center"
                                        >
                                            <div
                                                class="d-flex align-items-center vehicle-box"
                                            >
                                                <svg-icon
                                                    class="truck-icon"
                                                    [src]="
                                                        'assets/svg/common/trucks/' +
                                                        violation.vehicleTypeLogoName
                                                    "
                                                    [svgStyle]="{
                                                        'width.px': '34',
                                                        'height.px': '12'
                                                    }"
                                                ></svg-icon>

                                                <p class="m-0 ta-font-medium">
                                                    {{ violation.vehicleType }}
                                                </p>
                                            </div>

                                            <div
                                                class="d-flex align-items-center description-box"
                                            >
                                                <p
                                                    class="m-0 ta-font-medium d-inline-block text-truncate"
                                                    style="max-width: 308px"
                                                    ngbTooltip
                                                    [mainTooltip]="
                                                        violation.description
                                                    "
                                                    tooltipBackground="#2F2F2F"
                                                    position="bottom-left"
                                                >
                                                    {{ violation.description }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--  REVIEW AND FEEDBACK -->

                                    <ng-container
                                        *ngIf="
                                            selectedMode !== 'APPLICANT_MODE'
                                        "
                                    >
                                        <div class="review-feedback-container">
                                            <app-applicant-review-feedback
                                                [formControlName]="
                                                    'cardReview' + (i + 1)
                                                "
                                                [displayAnnotationButton]="
                                                    selectedMode ===
                                                        'REVIEW_MODE' &&
                                                    openAnnotationArray[i]
                                                        .displayAnnotationButton
                                                "
                                                [displayAnnotationTextArea]="
                                                    selectedMode ===
                                                        'REVIEW_MODE' &&
                                                    openAnnotationArray[i]
                                                        .displayAnnotationTextArea
                                                "
                                                [lineIndex]="i"
                                                [cardsLength]="
                                                    violationsArray.length
                                                "
                                                [cardsType]="
                                                    'trafficViolations'
                                                "
                                                [cardIndex]="i"
                                                [isFeedback]="
                                                    selectedMode ===
                                                    'FEEDBACK_MODE'
                                                "
                                                [feedbackText]="
                                                    selectedMode ===
                                                        'FEEDBACK_MODE' &&
                                                    stepFeedbackValues[i]
                                                        .commonMessage
                                                "
                                                (annotationBtnClickEvent)="
                                                    selectedMode ===
                                                        'REVIEW_MODE' &&
                                                        getAnnotationBtnClickValue(
                                                            $event
                                                        )
                                                "
                                            ></app-applicant-review-feedback>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="violation.isEditingViolation">
                                <div
                                    [ngStyle]="{
                                        'margin-bottom':
                                            violationsArray.length > 1
                                                ? '4px'
                                                : 0
                                    }"
                                >
                                    <app-step5-form
                                        [mode]="selectedMode"
                                        [isEditing]="isEditing"
                                        [formValuesToPatch]="formValuesToPatch"
                                        [isReviewingCard]="isReviewingCard"
                                        [stepFeedbackValues]="
                                            feedbackValuesToPatch
                                        "
                                        (formValuesEmitter)="
                                            getViolationFormValues($event)
                                        "
                                        (cancelFormEditingEmitter)="
                                            cancelViolationEditing($event)
                                        "
                                        (saveFormEditingEmitter)="
                                            saveEditedViolation($event)
                                        "
                                        (formStatusEmitter)="
                                            onGetFormStatus($event)
                                        "
                                        (cancelFormReviewingEmitter)="
                                            cancelViolationReview($event)
                                        "
                                        (cardOpenAnnotationArrayValuesEmitter)="
                                            onGetCardOpenAnnotationArrayValues(
                                                $event
                                            )
                                        "
                                        (onDeleteViolationClick)="onDeleteViolation($event)"
                                    ></app-step5-form>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>

                <!-- DATE, VEHICLE TYPE, LOCATION -->

                <ng-container
                    *ngIf="
                        (selectedMode !== 'REVIEW_MODE' &&
                            !hideFormOnEdit &&
                            !displayButtonInsteadOfForm) ||
                        (selectedMode === 'REVIEW_MODE' && !isReviewingCard)
                    "
                >
                    <app-step5-form
                        [mode]="selectedMode"
                        [isEditing]="isEditing"
                        [markFormInvalid]="markFormInvalid"
                        [formValuesToPatch]="formValuesToPatch"
                        [isReviewingCard]="isReviewingCard"
                        [stepFeedbackValues]="feedbackValuesToPatch"
                        (formValuesEmitter)="getViolationFormValues($event)"
                        (cancelFormEditingEmitter)="
                            cancelViolationEditing($event)
                        "
                        (saveFormEditingEmitter)="saveEditedViolation($event)"
                        (formStatusEmitter)="onGetFormStatus($event)"
                        (markInvalidEmitter)="onMarkInvalidEmit($event)"
                        (lastFormValuesEmitter)="onGetLastFormValues($event)"
                        (hasIncorrectFieldsEmitter)="
                            onHasIncorrectFields($event)
                        "
                        (openAnnotationArrayValuesEmitter)="
                            onGetOpenAnnotationArrayValues($event)
                        "
                        (onDeleteViolationClick)="onDeleteViolation($event)"
                    ></app-step5-form>
                </ng-container>

                <ng-container *ngIf="displayButtonInsteadOfForm">
                    <div
                        class="d-flex justify-content-between align-items-center violation-btn-container"
                    >
                        <h5 class="m-0 ta-font-extra-bold violation-title">
                            {{ stringConstants.listAnyAdditonalViolations }}
                        </h5>
                    
                        <app-applicant-add-save-btn
                            [addBtn]="true"
                            [sizeSmall]="true"
                            [btnText]="'Add Violation'"
                            [disabledValue]="violationsForm.invalid"
                            (clickValueEmitter)="onGetBtnClickValue($event)"
                        ></app-applicant-add-save-btn>
                    </div>
                </ng-container>

                <!-- CERTIFY -->

                <div
                    class="d-flex flex-column align-items-center justify-content-center certify-container"
                    [formGroup]="certifyForm"
                >
                    <app-ta-checkbox
                        formControlName="certify"
                        [name]="'certify'"
                        [label]="stringConstants.certify"
                        [customClass]="'bold-14 text-align-center line-height-18'"
                        [disabledStillCheckMark]="
                            selectedMode !== 'APPLICANT_MODE'
                        "
                    >
                    </app-ta-checkbox>
                </div>

            </ng-container>
        </div>
    </div>
</div>

<!-- NEXT BTN -->

<div
    class="d-flex justify-content-center align-items-center"
>
    <app-applicant-next-back-btn
        [nextStep]="true"
        [filledCorrectly]="
            notBeenConvictedForm.valid &&
            onlyOneHoldLicenseForm.valid &&
            certifyForm.valid &&
            formStatus === 'VALID' &&
            !isEditing &&
            (selectedMode === 'APPLICANT_MODE' ||
                (selectedMode === 'FEEDBACK_MODE' && isFeedbackValueUpdated))
        "
        [hasIncorrectFields]="
            selectedMode === 'REVIEW_MODE' &&
            (hasIncorrectFields || cardsWithIncorrectFields)
        "
        [mode]="selectedMode"
        (stepEvent)="onStepAction($event)"
    ></app-applicant-next-back-btn>
</div>

<!-- BACK BTN -->

<div
    class="d-flex justify-content-center align-items-center"
>
    <app-applicant-next-back-btn
        [backStep]="true"
        (stepEvent)="onStepAction($event)"
    ></app-applicant-next-back-btn>
</div>
