@import 'src/theme/variables.scss';

.step-container {
    padding-top: 22px;

    .step-title {
        color: $ta-blue-5;
        font-size: 32px;
        height: 39px;

        &::-moz-selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }

        &::selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }
    }

    .step-subtitle {
        height: 18px;
        color: $bw6-2;
        font-size: 14px;
        font-style: italic;
        text-transform: uppercase;
        margin-bottom: 12px;

        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }
    }

    .top-section {
        margin-bottom: 18px;
        margin-top: 12px;
        width: 616px;

        p {
            font-size: 14px;
            line-height: 18px;
            color: $ta-black-2;

            &::-moz-selection {
                color: $ta-black-2;
                background: rgb(47, 47, 47, 0.2);
            }

            &::selection {
                color: $ta-black-2;
                background: rgb(47, 47, 47, 0.2);
            }
        }
    }

    .form-section {
        .past-months-violations-container {
            margin-bottom: 12px;
        }

        .not-been-convicted-container {
            width: 616px;
            margin: 0 auto 22px auto;

            p {
                font-size: 14px;
                line-height: 18px;

                &::-moz-selection {
                    color: #6c6c6c;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: #6c6c6c;
                    background: rgb(108, 108, 108, 0.2);
                }
            }
        }

        .license-view-container {
            width: 616px;
            margin-bottom: 12px;

            .title-container {
                width: 100%;
                margin-bottom: 6px;
                padding-left: 6px;

                p {
                    color: $bw5;
                    font-size: 12px;

                    &::-moz-selection {
                        color: $bw5;
                        background: rgb(145, 145, 145, 0.2);
                    }

                    &::selection {
                        color: $bw5;
                        background: rgb(145, 145, 145, 0.2);
                    }

                    span {
                        color: $progress-danger;

                        &::-moz-selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }

                        &::selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }
                    }
                }

                &-feedback {
                    p {
                        color: $bw4;
                        font-size: 12px;

                        &::-moz-selection {
                            color: $bw4;
                            background: rgb(183, 183, 183, 0.2);
                        }

                        &::selection {
                            color: $bw4;
                            background: rgb(183, 183, 183, 0.2);
                        }

                        span {
                            color: $bw4;

                            &::-moz-selection {
                                color: $bw4;
                                background: rgb(183, 183, 183, 0.2);
                            }

                            &::selection {
                                color: $bw4;
                                background: rgb(183, 183, 183, 0.2);
                            }
                        }
                    }
                }

                .license-title-box,
                .state-title-box,
                .class-title-box,
                .date-title-box {
                    &.license-title-box {
                        width: 84px;
                        margin-right: 116px;
                    }

                    &.state-title-box {
                        width: 57px;
                        margin-right: 55px;
                    }

                    &.class-title-box {
                        width: 59px;
                        margin-right: 53px;
                    }

                    &.date-title-box {
                        width: 84px;
                    }
                }
            }

            .license-info-container {
                width: 100%;
                height: 26px;
                padding: 4px 6px;
                background: $ta-light-grey-4;
                border-radius: 2px;
                margin-bottom: 2px;
                text-transform: uppercase;
                font-size: 14px;
                transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

                &:hover {
                    background: $bw2;

                    p {
                        color: $ta-light-grey-3;
                    }
                }

                p {
                    color: $bw6-2;

                    &::-moz-selection {
                        color: $bw6-2;
                        background: rgb(108, 108, 108, 0.2);
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(108, 108, 108, 0.2);
                    }
                }

                &-feedback {
                    background: $ta-light-grey-7;

                    &:hover {
                        background: $ta-light-grey-7;

                        p {
                            color: $bw5;
                        }
                    }

                    p {
                        color: $bw5;

                        &::-moz-selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }

                        &::selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }
                    }
                }

                .license-box,
                .state-box,
                .class-box,
                .date-box {
                    &.license-box {
                        width: 182px;
                        margin-right: 12px;
                    }

                    &.state-box {
                        width: 100px;
                        margin-right: 12px;
                        padding-left: 6px;
                    }

                    &.class-box {
                        width: 100px;
                        margin-right: 12px;
                        padding-left: 6px;
                    }

                    &.date-box {
                        width: 136px;
                        margin-right: 8px;
                        padding-left: 6px;
                    }
                }
            }
        }

        .only-license-container {
            margin-bottom: 16px;

            .ta-checkbox-label {
                font-size: 12px !important;
                font-weight: bold !important;
            }
        }

        .violations-container {
            width: 616px;

            .line-container {
                position: relative;

                .review-feedback-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateX(calc(100% + 5px));
                    width: 429px;
                }
            }

            .title-container {
                width: 100%;
                margin-bottom: 4px;
                padding-left: 10px;
                display: grid;
                grid-template-columns: 26px 200px 308px;
                grid-column-gap: 8px;

                .date-location-title-box,
                .vehicle-description-title-box {
                    p {
                        color: $bw5;
                        font-size: 11px;

                        &::-moz-selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }

                        &::selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }
                    }
                }
            }

            .violation-info-container {
                width: 100%;
                height: 42px;
                margin-bottom: 4px;
                padding: 6px 10px;
                border-radius: 2px;
                background: $ta-blue-10;

                .info-btn-container {
                    width: 100%;
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: 26px 200px 308px;
                    grid-column-gap: 8px;

                    .index-box {
                        p {
                            color: $ta-blue-13;
                            line-height: 18px;
                            font-size: 14px;
                        }
                    }
                    .date-box,
                    .location-box,
                    .vehicle-box,
                    .description-box {
                        p {
                            line-height: 14px;
                            font-size: 11px;
                        }

                        &.location-box,
                        &.vehicle-box {
                            margin-bottom: 2px;

                            p {
                                color: $ta-black-2;

                                &::-moz-selection {
                                    color: $ta-black-2;
                                    background: rgb(47, 47, 47, 0.2);
                                }

                                &::selection {
                                    color: $ta-black-2;
                                    background: rgb(47, 47, 47, 0.2);
                                }
                            }

                            &.vehicle-box {
                                .truck-icon {
                                    margin-right: 6px;
                                    line-height: 12px;

                                    svg {
                                        path {
                                            fill: $bw5;
                                        }
                                    }
                                }
                            }
                        }

                        &.date-box,
                        &.description-box {
                            p {
                                color: $bw5;

                                &::-moz-selection {
                                    color: $bw5;
                                    background: rgb(145, 145, 145, 0.2);
                                }

                                &::selection {
                                    color: $bw5;
                                    background: rgb(145, 145, 145, 0.2);
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn-instead-form-container {
            margin-top: 22px;
        }

        .certify-container {
            width: 616px;
            margin: 22px auto 0 auto;

            p {
                width: 530px;
                // line-height: 18px;
                font-size: 14px;

                &::-moz-selection {
                    color: #6c6c6c;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: #6c6c6c;
                    background: rgb(108, 108, 108, 0.2);
                }
            }
        }
    }

    .violation-btn-container {
        margin: 22px auto 32px auto;
        width: 616px;

        p {
            line-height: 18px;
            font-size: 14px;
        }

        .violation-title {
            color: $bw6-2;
            font-size: 14px;
            height: 18px;

            &::-moz-selection {
                color: $ta-black;
                background: rgb(66, 66, 66, 0.2);
            }

            &::selection {
                color: $ta-black;
                background: rgb(66, 66, 66, 0.2);
            }
        }
    }
}

