@import '/src/theme/variables.scss';
@import '/src/assets/scss/fonts.scss';

.fuel-total-row {
    margin: 0 !important;
    text-align: right;
    .fuel-total {
        align-self: end;
        font-size: 18px;
        font-weight: 800;
        color: #2f2f2f;
        margin: 0;
        line-height: 18px;
        padding-right: 35px !important;

        &-text {
            font-size: 12px;

            &::-moz-selection {
                background-color: rgb(47, 47, 47, 0.2) !important;
                color: #2f2f2f !important;
            }

            &::selection {
                background-color: rgb(47, 47, 47, 0.2) !important;
                color: #2f2f2f !important;
            }
        }

        &::-moz-selection {
            background-color: rgb(47, 47, 47, 0.2) !important;
            color: #2f2f2f !important;
        }

        &::selection {
            background-color: rgb(47, 47, 47, 0.2) !important;
            color: #2f2f2f !important;
        }
    }
}

// Fuel Item Price Container (from FormArray)
.fuel-item-price-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-item-container-small {
    height: fit-content !important;
    padding: 4px 6px !important;
}

.row-columns {
    grid-gap: 12px;
    margin-bottom: 32px;

    &-2 {
        grid-template-columns: 221px 221px;
    }

    &-3 {
        grid-template-columns: 143px 143px 143px;
    }
}

.efs-account-wrapper {
    background-color: $bw1;

    .fuel-account-label {
        position: absolute;
        top: 11px;
        left: 20px;
        font-weight: 600;
    }

    .fuel-account-id {
        color: $bw5;
    }
}
