<!-- <app-ta-modal [modalTitle]="'Process'"> -->
<app-ca-modal
    [modalTitle]="'Process'"
    [rightHeaderTemplate]="rightModalContent"
    [leftHeaderTemplate]="leftModalContent"
    [footerTemplate]="footerContent"
>
    <div origin>
        <app-ta-tab-switch
            [tabs]="tabs"
            (switchClicked)="tabChange($event)"
            [type]="'type2-modal-popup type2-modal-popup-header'"
        >
        </app-ta-tab-switch>
        <form
            [formGroup]="paymentForm"
            class="form-container form-container-without-mb"
        >
            <div
                class="animation-two-tabs"
                [@animationTabsModal]="animationObject"
            >
                <!-------------------------------- Basic Tab -------------------------------->
                <div class="m-tab" *ngIf="selectedTab === 2">
                    <div class="payroll_procces_input_holder">
                        <app-ca-input
                            formControlName="amount"
                            [inputConfig]="inputConfig"
                        ></app-ca-input>
                        <app-ca-input-dropdown
                            *ngIf="dropdownOption"
                            formControlName="option"
                            [options]="dropdownOption"
                            [inputConfig]="dropDownInputConfig"
                            (selectedItem)="selectedItem($event)"
                        ></app-ca-input-dropdown>
                    </div>
                </div>
                <div class="m-tab" *ngIf="selectedTab === 1">
                    <app-ca-input
                        formControlName="amount"
                        [inputConfig]="inputConfig"
                    ></app-ca-input>
                </div>
            </div>
        </form>
    </div>
</app-ca-modal>

<ng-template #leftModalContent>
    <div class="payroll-number text-color-white text-size-14 ta-font-bold">{{ modalData.payrollNumber }}</div>
</ng-template>

<ng-template #rightModalContent>
    <div>
        <svg-icon
            class="modal-close"
            src="assets/svg/ic_x.svg"
            (click)="onCloseModal()"
        ></svg-icon>
    </div>
</ng-template>

<ng-template #footerContent>
    <div class="modal-footer">
        <div class="button_holder d-flex gap-2 w-100">
            <button
                [ngStyle]="{
                    'pointer-events': 'all'
                }"
                class="ta-font-bold modal-save-btn flex-1 modal-default-button"
                type="button"
                (click)="closePayroll(true)"
            >
                <div class="d-inline-block" *ngIf="loadingCloseUnpaid">
                    <app-ta-spinner
                        [size]="'small'"
                        [color]="'black'"
                    ></app-ta-spinner>
                </div>
                <span *ngIf="!loadingCloseUnpaid">Close Unpaid</span>
            </button>
            <button
                [ngStyle]="{
                    'pointer-events': paymentForm.valid ? 'all' : 'none'
                }"
                (click)="closePayroll()"
                class="ta-font-bold modal-save-btn flex-1 modal-deactivate-btn align"
                type="button"
                [class.modal-blue-btn]="paymentForm.valid"
            >
                <div class="d-inline-block" *ngIf="loading">
                    <app-ta-spinner
                        [size]="'small'"
                        [color]="'black'"
                    ></app-ta-spinner>
                </div>
                <span
                    *ngIf="
                        paymentForm.get('amount').value >=
                            modalData?.totalEarnings && !loading
                    "
                    >Pay in Full</span
                >
                <span
                    *ngIf="
                        paymentForm.get('amount').value <
                            modalData?.totalEarnings && !loading
                    "
                    >Short Pay</span
                >
            </button>
        </div>
    </div>
</ng-template>

<ng-template #tabCustomTemplate>
    <div class="custom_ahr_tab_template">
        carrier<span>a.</span> <span class="ahc">ACH</span>
    </div>
</ng-template>
