<app-ta-modal [modalTitle]="'Process'">
    <div origin>
        <app-ta-tab-switch
            [tabs]="tabs"
            (switchClicked)="tabChange($event, 'main-tabs')"
            [type]="'type2-modal-popup type2-modal-popup-header'"
        >
        </app-ta-tab-switch>

        <form
            [formGroup]="paymentForm"
            class="form-container"
            [ngClass]="{
                'form-container-without-mb': selectedTab === 1,
                'form-container-with-inputs': selectedTab === 2
            }"
        >
            <div
                class="animation-two-tabs"
                [@animationTabsModal]="animationObject"
            >
                <!-------------------------------- Basic Tab -------------------------------->
                <div class="m-tab" *ngIf="selectedTab === 1">
                    <app-ca-input
                        formControlName="amount"
                        [inputConfig]="inputConfig"
                    ></app-ca-input>
                </div>
            </div>
        </form>
    </div>
</app-ta-modal>

<!-- [editData]="editData"
    [isModalValid]="payrollDeductionForm.valid && isFormDirty"
    [saveAndAddNew]="!editData?.type.includes('edit')"
    (action)="onModalAction($event)" -->
