@let loadDetailsSelector = loadStoreService.loadDetailsSelector$ | async;
@let load = loadDetailsSelector.data;
@let loadId = load?.id;
@let isLoading = loadDetailsSelector.isLoading;
@let comments = loadStoreService?.loadDetailsCommentSelector$ | async;
@let statusHistory = load?.statusHistory;
@let reversedStatusHistory = loadDetailsSelector.reveresedHistory;

<div
    class="d-flex w-100 h-34 background-white p-x-4 m-t-6 m-b-12 br-3 justify-content-between align-items-center disable-text-selection"
>
    @if (isLoading) {
        <div class="d-flex justify-content-between p-x-4" style="width: 55%">
            <div class="d-flex">
                <p class="placeholder-glow">
                    <span
                        class="placeholder placeholder-muted h-16 w-84 br-3"
                    ></span>
                </p>
                <p class="placeholder-glow m-l-4">
                    <span
                        class="placeholder placeholder-muted rounded-circle h-18 w-18"
                    ></span>
                </p>
            </div>
            <p class="placeholder-glow">
                <span
                    class="placeholder placeholder-muted h-7 w-18 br-3"
                ></span>
            </p>
        </div>

        <p class="placeholder-glow">
            <span class="placeholder placeholder-muted h-18 w-1"></span>
        </p>
        <div class="d-flex justify-content-between p-x-4" style="width: 40%">
            <p class="placeholder-glow">
                <span
                    class="placeholder placeholder-muted h-18 w-18 br-4"
                ></span>
            </p>
            <p class="placeholder-glow">
                <span
                    class="placeholder placeholder-muted br-5 rotate-45 w-15 h-15"
                ></span>
            </p>
        </div>
    } @else {
        <div class="d-flex justify-content-start align-items-center">
            <div
                class="dropdown-wrapper text-color-black text-size-16 ta-font-extra-bold mx-1"
            >
                <ca-toolbar-dropdown
                    [dropdownOptions]="
                        load | createLoadAdditionalInfoDropdownOptions
                    "
                    (onDropdownItemSelect)="onDropdownItemSelect($event)"
                ></ca-toolbar-dropdown>
            </div>
            @if (!isSearchActive) {
                <div class="d-flex alignt-items-center mx-1">
                    <div class="d-flex align-items-center h-26">
                        <div class="h-18 w-1 background-light-grey-6"></div>
                    </div>
                    <div
                        class="d-flex justify-content-center align-items-center h-26 w-26 background-hover-light-grey br-2 mx-1 c-pointer"
                        (click)="onToggleIsSearchActive()"
                    >
                        <svg-icon
                            class="d-flex svg-size-16"
                            [src]="sharedSvgRoutes.SEARCH_ICON"
                        >
                        </svg-icon>
                    </div>
                </div>
            }
        </div>
        <div
            class="d-flex justify-content-center align-items-center h-26 w-26 background-hover-light-grey br-2 mx-1 c-pointer"
            (click)="onAddNewComment()"
        >
            <svg-icon
                class="d-flex svg-size-16"
                [src]="sharedSvgRoutes.PLUS_ICON"
            >
            </svg-icon>
        </div>
    }
</div>

@let backgroundColor = isHeaderHidden ? eColor.TRANSPARENT : eColor.WHITE;
<div
    class="d-flex flex-column p-x-6 p-y-6 justify-content-center comments-container"
    [ngStyle]="{
        background: backgroundColor,
    }"
>
    @switch (displayedSection) {
        @case (eLoadDetailsGeneral.COMMENT) {
            <div class="w-100 mb-1">
                @let _comments =
                    comments
                        | createLoadComment
                            : commentFilter
                            : isDriverButtonSelected;

                <ca-comments
                    [comments]="_comments"
                    [currentUser]="currentUser"
                    [isSearchDisplayed]="isSearchActive"
                    [hasNewComment]="hasNewComment"
                    (onCommentDelete)="onCommentDelete($event, loadId)"
                    (onCommentAdded)="onCommentAdded($event, loadId)"
                    (onCommentEdited)="onCommentEdited($event, loadId)"
                >
                    <app-ca-tab-switch
                        [tabs]="commentTabs"
                        [type]="'type4-modal-popup'"
                        (switchClicked)="onItemSelected($event)"
                    >
                    </app-ca-tab-switch>
                </ca-comments>
                @if (isLoading) {
                    <p class="placeholder-glow">
                        <span
                            class="placeholder placeholder-muted br-2 h-26 w-100"
                        ></span>
                    </p>
                } @else {}
            </div>
        }
        @case (eLoadDetailsGeneral.STATUS_LOG) {
            <div class="background-white p-x-6 p-y-6 br-3 w-100">
                <app-ca-load-status-log
                    [loadStatusHistory]="
                        statusLogSortDirection === eSharedString.DSC
                            ? statusHistory
                            : reversedStatusHistory
                    "
                    (onSortChange)="onSortChange($event)"
                >
                </app-ca-load-status-log>
            </div>
        }
        @default {
            Invalid selection.
        }
    }
</div>
