@let load = loadStoreService.resolveLoadDetails$ | async;
@let statusHistory = load?.statusHistory;
@let reversedStatusHistory =
    loadStoreService.loadStatusHistoryReversedSelector$ | async;
@let comments = load?.comments;

<div
    class="d-flex w-100 h-34 background-white p-x-4 m-t-6 m-b-12 br-3 justify-content-between align-items-center disable-text-selection"
>
    <div class="d-flex justify-content-start align-items-center">
        <div class="text-color-black text-size-16 ta-font-extra-bold mx-1">
            {{ isStatusHistoryDisplayed ? 'Status Log' : 'Comments' }}
        </div>
        <div
            class="d-flex align-items-center justify-content-center text-size-11 ta-font-bold text-color-white background-bw6-2 m-x-4 p-x-5 br-60 h-18 min-w-18"
        >
            {{
                isStatusHistoryDisplayed
                    ? load.statusHistory?.length
                    : load.commentsCount
            }}
        </div>
        @if (!isStatusHistoryDisplayed && !isSearchActive) {
            <div class="d-flex alignt-items-center mx-1">
                <div class="d-flex align-items-center h-26">
                    <div class="h-18 w-1 background-light-grey-6"></div>
                </div>
                <div
                    class="d-flex justify-content-center align-items-center h-26 w-26 background-hover-light-grey br-2 mx-1 c-pointer"
                    (click)="toggleIsSearchActive()"
                >
                    <svg-icon
                        class="d-flex svg-size-16"
                        [src]="sharedSvgRoutes.SEARCH_ICON"
                    >
                    </svg-icon>
                </div>
            </div>
        }
    </div>
    <div
        class="d-flex justify-content-center align-items-center h-26 w-26 background-hover-light-grey br-2 mx-1 c-pointer"
        (click)="addNewComment(load.id)"
    >
        <svg-icon class="d-flex svg-size-16" [src]="sharedSvgRoutes.PLUS_ICON">
        </svg-icon>
    </div>
</div>

@let backgroundColor = isHeaderHidden ? eColor.TRANSPARENT : eColor.WHITE;
<div
    class="d-flex flex-column p-x-6 p-y-6 justify-content-center comments-container"
    [ngStyle]="{
        background: backgroundColor,
    }"
>
    <app-ta-comments-search
        [commentsData]="comments | createLoadComment: commentFilter"
        [isDisplaySearch]="isSearchActive"
        [isHeaderHidden]="isHeaderHidden"
        (handleActionEmitter)="handleCommentActionEmit($event, load.id)"
        (handleSortEmitter)="handleSortActionEmit($event, load.id)"
        (handleSearchHighlightEmitter)="handleSearchHighlightActionEmit($event)"
    ></app-ta-comments-search>

    <div class="background-white p-x-6 p-y-6 br-3 w-100">
        <app-ca-load-status-log
            [loadStatusHistory]="
                statusLogSortDirection === eSharedString.DSC
                    ? statusHistory
                    : reversedStatusHistory
            "
            (onSortChange)="onSortChange($event)"
        >
        </app-ca-load-status-log>
    </div>
</div>
