@import 'src/theme/variables.scss';

.step-container {
    padding-top: 22px;

    br {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }
    }

    .step-title {
        color: $ta-blue-5;
        font-size: 32px;
        height: 39px;
        margin-bottom: 22px !important;

        &::-moz-selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }

        &::selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }
    }

    .instructions-container {
        width: 616px;

        p {
            font-size: 14px;
            color: $ta-black-2;
            line-height: 18px;

            &::-moz-selection {
                color: $ta-black-2;
                background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
                color: $ta-black-2;
                background: rgb(108, 108, 108, 0.2);
            }

            &:nth-child(2) {
                margin-top: 22px !important;
                margin-bottom: 14px !important;
            }

            span {
                &::-moz-selection {
                    color: $ta-black-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: $ta-black-2;
                    background: rgb(108, 108, 108, 0.2);
                }
            }
        }
    }

    .form-section {
        .seven-days-hos-table-container {
            table {
                width: 616px;
                margin: 12px auto 16px auto;

                .day-container {
                    width: 616px;

                    .day-box {
                        width: 84.57px;
                        margin-right: 4px;

                        p {
                            font-size: 11px;
                            line-height: 14px;
                            color: $bw5;

                            &::-moz-selection {
                                color: $bw5;
                                background: rgb(145, 145, 145, 0.2);
                            }

                            &::selection {
                                color: $bw5;
                                background: rgb(145, 145, 145, 0.2);
                            }
                        }
                    }
                }

                .date-container {
                    width: 616px;
                    height: 18px;
                    margin-bottom: 2px;

                    .date-box {
                        width: 84.57px;
                        margin-right: 4px;

                        p {
                            color: $bw5;
                            font-size: 11px;
                            line-height: 14px;

                            &::-moz-selection {
                                color: $bw5;
                                background: rgb(145, 145, 145, 0.2);
                            }

                            &::selection {
                                color: $bw5;
                                background: rgb(145, 145, 145, 0.2);
                            }
                        }
                    }
                }

                .input-container {
                    margin-bottom: 6px;

                    .hos-title-group {
                        width: 43px;
                        margin-right: 5px;

                        .hos-title {
                            height: 18px;
                            color: $bw6-2;
                            font-size: 14px;

                            &::-moz-selection {
                                color: $bw6-2;
                                background: rgb(108, 108, 108, 0.2);
                            }

                            &::selection {
                                color: $bw6-2;
                                background: rgb(108, 108, 108, 0.2);
                            }

                            span {
                                color: $progress-danger;

                                &::-moz-selection {
                                    color: $bw6-2;
                                    background: rgb(108, 108, 108, 0.2);
                                }

                                &::selection {
                                    color: $bw6-2;
                                    background: rgb(108, 108, 108, 0.2);
                                }
                            }
                        }

                        .hos-title-feedback {
                            color: $bw5;

                            &::-moz-selection {
                                color: $bw5;
                                background: rgb(145, 145, 145, 0.2);
                            }

                            &::selection {
                                color: $bw5;
                                background: rgb(145, 145, 145, 0.2);
                            }

                            span {
                                color: $bw5;

                                &::-moz-selection {
                                    color: $bw5;
                                    background: rgb(145, 145, 145, 0.2);
                                }

                                &::selection {
                                    color: $bw5;
                                    background: rgb(145, 145, 145, 0.2);
                                }
                            }
                        }
                    }

                    .hos-input-group {
                        width: 84.57px;
                        margin-right: 4px !important;

                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }

                .total-container {
                    margin: 0 6px;

                    p {
                        color: $ta-blue-5;
                        font-size: 14px;

                        &::-moz-selection {
                            color: $ta-blue-5;
                            background: rgb(48, 116, 211, 0.2);
                        }

                        &::selection {
                            color: $ta-blue-5;
                            background: rgb(48, 116, 211, 0.2);
                        }
                    }

                    .total-text {
                        color: $bw5;
                    }
                }
            }
        }

        .valid-hos-container {
            width: 575px;
            margin: 0 auto 22px auto;

            p {
                font-size: 12px;
                margin-top: -5px !important;

                &::-moz-selection {
                    color: #6c6c6c;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: #6c6c6c;
                    background: rgb(108, 108, 108, 0.2);
                }
            }
        }

        .step-subtitle {
            height: 18px;
            color: $bw6-2;
            font-size: 14px;
            margin-bottom: 32px !important;
            line-height: 18px;

            &::-moz-selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }
        }

        .group {
            margin-bottom: 22px;
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }
        }

        .line-container {
            position: relative;

            .review-feedback-container {
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(calc(100% + 5px));
                width: 429px;
            }
        }

        .date-location-container {
            width: 616px;
            margin: 0 auto;

            .date-group {
                width: 170px;
            }

            .location-group {
                width: 434px;
                margin-right: 0;
            }
        }

        .instructions-bottom-container {
            width: 616px;
            margin-bottom: 22px;

            p {
                padding: 4px 0;
                font-size: 14px;
                color: $ta-black-2;
                line-height: 18px;

                &::-moz-selection {
                    color: $ta-black-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: $ta-black-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                span {
                    &::-moz-selection {
                        color: $ta-black-2;
                        background: rgb(108, 108, 108, 0.2);
                    }

                    &::selection {
                        color: $ta-black-2;
                        background: rgb(108, 108, 108, 0.2);
                    }
                }
            }
        }

        .questions-container {
            width: 616px;
            margin: 0 auto 22px auto;

            .question-container {
                padding-left: 1px;
                margin-bottom: 8px;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }

                .review-feedback {
                    height: 26px;
                    position: absolute;
                    right: -6px;
                    top: 0;
                }

                .required {
                    font-size: 11px;
                    color: $ta-red-2;
                    visibility: hidden;
                    opacity: 0;
                    margin-left: 6px !important;

                    &::-moz-selection {
                        color: $ta-red-2;
                        background: rgb(239, 83, 80, 0.2);
                    }

                    &::selection {
                        color: $ta-red-2;
                        background: rgb(239, 83, 80, 0.2);
                    }
                }

                .required-active {
                    visibility: visible;
                    opacity: 1;
                }

                .title-box {
                    .question-title {
                        color: $ta-black-2;
                        font-size: 14px;
                        line-height: 18px;

                        &::-moz-selection {
                            color: $ta-black-2;
                            background: rgb(108, 108, 108, 0.2);
                        }

                        &::selection {
                            color: $ta-black-2;
                            background: rgb(108, 108, 108, 0.2);
                        }

                        .required-star {
                            color: $progress-danger;

                            &::-moz-selection {
                                color: $bw6-2;
                                background: rgb(108, 108, 108, 0.2);
                            }

                            &::selection {
                                color: $bw6-2;
                                background: rgb(108, 108, 108, 0.2);
                            }
                        }
                    }

                    .required {
                        font-size: 11px;
                        color: $ta-red-2;

                        &::-moz-selection {
                            color: $ta-red-2;
                            background: rgb(239, 83, 80, 0.2);
                        }

                        &::selection {
                            color: $ta-red-2;
                            background: rgb(239, 83, 80, 0.2);
                        }
                    }

                    .question-title-feedback {
                        color: $bw5;

                        &::-moz-selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }

                        &::selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }

                        .required-star {
                            color: $bw5;

                            &::-moz-selection {
                                color: $bw5;
                                background: rgb(145, 145, 145, 0.2);
                            }

                            &::selection {
                                color: $bw5;
                                background: rgb(145, 145, 145, 0.2);
                            }
                        }
                    }
                }

                .title-box1 {
                    width: 85%;
                }

                .radios-box {
                    width: 86px;

                    .ta-input-radiobutons {
                        width: 100%;
                    }
                }

                .explain-container {
                    width: 616px;
                    margin-top: 4px;
                }
            }
        }

        .valid-another-employer-container {
            width: 616px;
            margin: 10px auto 0 auto;

            p {
                font-size: 12px;
                margin-top: -5px !important;

                &::-moz-selection {
                    color: #6c6c6c;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: #6c6c6c;
                    background: rgb(108, 108, 108, 0.2);
                }

                &:last-of-type {
                    margin-top: -2px !important;
                }
            }
        }
    }
}

