@import 'src/theme/variables';

.shop-dropdown-container {
    width: 142px;
    padding: 4px;
    border-radius: 3px;
    background: $ta-black-2;

    .shop-dropdown-item {
        &.has-border {
            padding-bottom: 4px;
            border-bottom: 1px solid $ta-black;
            margin-bottom: 4px;
        }

        &-inner {
            padding: 4px;
            transition: background 0.2s ease-in;

            &:hover {
                background: $ta-black;
            }

            &-icon {
                &.regular {
                    svg {
                        path {
                            fill: $bw5;
                        }
                    }
                }

                &.activate {
                    svg {
                        path {
                            fill: $ta-blue-13;
                        }
                    }
                }

                &.delete {
                    svg {
                        path {
                            fill: $ta-red-10;
                        }
                    }
                }
            }
        }
    }
}
