@import '/src/theme/variables';

.pickup-delivery-counter {
    user-select: none;
    width: 18px;
    height: 18px;
    line-height: 22px;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    color: $bw6-2;
    font-size: 11px;
    background: $dark-2;
    font-weight: bold;
}

