@import '../../../../../assets/scss/details_page_ske.scss';
app-load-details {
   .details-container-items {
      display: grid;
      grid-template-columns: 440px 280px 792px 280px !important;
   }
   .details-closed-items {
      display: grid;
      grid-template-columns: 440px 536px 536px 280px !important;
   }
}
