<div class="note_button_hold"
  [ngClass]="{
    'note-normal-icon': !openedAll,
    'note-note-empty': !note && !openedAll,
    'note-all-expanded': noteOpened
  }"
  [tooltipBackground]="!note ? '' : '#6C6C6C'"
  ngbTooltip
  [mainTooltip]="note && noteOpened ? 'Edit Note' : note && !noteOpened ? 'View Note' : ''"
  position="bottom"
  >
  <svg-icon
    #t2="ngbPopover"
    (click)="toggleNote(t2, note)"
    [autoClose]="false"
    class="note-btn"
    [ngbPopover]="notePopover"
    [container]="'body'"
    [placement]="'left-top'"
    popoverClass="my-note-popover"
    triggers="manual"
    src="assets/svg/truckassist-table/note/{{noteIcon}}"
  >
  </svg-icon>
</div>

<!-- Popover for Note -->
<ng-template #notePopover let-data="data">
  <div class="kendo-editor-note-wrapper">
    <div [class.expanded]="isExpanded" class="k-widget k-editor custom_editor">
      <div
        (blur)="prepareForTextRange()"
        (focus)="checkFocus($event)"
        (input)="valueChange($event.target.innerHTML)"
        @noteLongAnimation
        [class.not_expanded]="!isExpanded"
        [class.openedAll]="openedAll"
        [innerHTML]="note | safeHtml"
        class="editor"
        (keydown)="maxLimitForContenteditableDiv($event, 250)"
        contenteditable="true"
        id="main_editor"
      ></div>
      <div class="container_separate" *ngIf="isExpanded">
        <div class="container_separate_inner"></div>
      </div>
      <app-ta-note-container
        [isExpanded]="isExpanded"
        [range]="range"
        [selectionTaken]="selectionTaken"
        [value]="value"
      ></app-ta-note-container>
    </div>
    <!-- <span
      (click)="saveNote()"
      *ngIf="buttonsExpanded"
      appTooltip="Save"
      class="save-note-check"
      position="bottom-right"
    >
      <svg-icon [svgStyle]="{ 'width.px': '15', 'height.px': '12' }" name="note-check"></svg-icon>
    </span>
    <span
      (click)="closeNote()"
      *ngIf="buttonsExpanded"
      appTooltip="Cancel"
      class="save-note-check close_note"
      position="bottom-right"
      tooltipBackground="#707070"
    >
      <svg-icon [svgStyle]="{ 'width.px': '12', 'height.px': '12' }" name="note-close"> </svg-icon>
    </span> -->
  </div>
</ng-template>
