@import 'src/theme/variables.scss';

.my-note-popover {
  margin-right: 4px;
  box-shadow: none !important;

  &::after {
    display: none !important;
  }

  &.editor {
    &::after {
      display: none !important;
    }
  }
}

.closed_main_holder{
  position: relative;
  display: flex;
}

.note_button_hold {
  .note-btn {
    width: 16px;
    height: 18px;
    cursor: pointer;
  }

  svg-icon{
    svg{
      display: flex;
      path{
        fill: #AAAAAA;
      }
    }
  }

  &.note-normal-icon, &.note-note-empty{
    svg{
      path{
        fill: #AAAAAA;
      }
    }

    &:hover {
      svg{
        path{
          fill: #6C6C6C;
        }
      }
    }
  }

  &.note-all-expanded{
    svg{
      path{
        fill: #6D82C7;
      }
    }

    &:hover {
      svg{
        path{
          fill: #536BC2;
        }
      }
    }
  }
}

.note-normal-icon,
.note-note-empty,
.note-all-expanded {
  width: 16px;
  height: 18px;
  background-repeat: no-repeat;
}

.note-normal-icon {
  background-image: url('../../../../../assets/svg/truckassist-table/note/Note.svg');

  &:hover {
    background-image: url('../../../../../assets/svg/truckassist-table/note/Note-hover.svg');
  }
}

.note-note-empty {
  background-image: url('../../../../../assets/svg/truckassist-table/note/Note - Empty.svg');

  &:hover {
    background-image: url('../../../../../assets/svg/truckassist-table/note/Note - Empty-hover.svg');
  }
}


.note_holder_span {
  //width: 32px;
  width: 100%;

  .kendo-editor-note-wrapper {
    position: relative;

    .k-editor {
      width: 100%;
    }

    .custom_editor {
      min-width: 100%;

      .editor {
        width: 100%;
        text-align: left;

        &:after {
          display: none;
        }

        &.not_expanded {
          box-shadow: none !important;
        }
      }

      &.expanded {
        z-index: 100;
      }
    }
  }
}

.kendo-editor-note-wrapper {
  .save-note-check {
    height: 13px;
    width: 14px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 8px;
    right: 7px;
  }

  .k-toolbar {
    height: 32px;
    padding: 0;
    display: flex;
    align-items: flex-start;
    box-shadow: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #f1f2f5;

    .k-icon {
      height: calc(1.4285714286em + 11px);
    }

    .k-overflow-anchor {
      display: none;
    }

    .k-button-icon {
      height: 32px;
      width: 32px;
      padding: 0;

      .k-icon {
        color: #808080;
        font-size: 20px;
      }

      .k-i-bold {
        font-weight: 900;
      }
    }
  }

  .k-editor {
    border: none !important;
    font-family: "Montserrat", sans-serif !important;
    border-radius: 3px;
    //box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    height: 87px;
    width: 230px;
    display: flex;
    flex-direction: column-reverse;

    .ProseMirror {
      padding: 6px;

      p {
        margin-bottom: 0 !important;
      }
    }

    .k-toolbar {
      font-size: 3px;

      .k-colorpicker {
        .k-tool-icon::before {
          font-size: 21px;
          line-height: 1;
          top: -14px;
          position: relative;
          left: -3px;
        }

        .k-selected-color {
          width: 17px;
          height: 13px;
          line-height: 0;
          display: inline-block;
          position: relative;
          top: -4px;
          left: -3px;
        }

        .k-select {
          margin-left: 13px;
        }
      }

      .k-colorpicker {
        .k-i-background {
          padding-left: 0 !important;
        }

        .k-i-background + .k-select {
          margin-left: 5px !important;
        }
      }
    }
  }

  .save-note-check {
    width: 22px;
    height: 22px;
    right: 28px;
    bottom: 2px;
    border-radius: 2px;

    svg-icon {
      display: flex;
      height: 22px;
      justify-content: center;
      align-items: center;

      path {
        fill: #b7b7b7;
      }
    }

    &:hover {
      background-color: #dadada;

      svg-icon {
        path {
          fill: #fff;
        }
      }
    }

    &.close_note {
      right: 2px;
    }
  }

  .custom_editor {
    position: relative;
    display: block;
    line-height: 1.5;
    height: auto;
    min-width: 250px;
    background-color: #ffffff;

    &.expanded {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15) !important;
    }

    .editor {
      min-height: 32px;
      max-height: 80px;
      width: 250px;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 1);
      white-space: break-spaces;
      overflow: auto;
      outline: none;
      color: #6c6c6c;
      font-size: 11px;
      margin: 0 0 0 auto;
      line-height: 15px;
      padding: 2px 5px;

      &.not_expanded {
        height: 32px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 3px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15) !important;
        overflow: hidden;
        padding-top: 2px;

        &:hover {
          background-color: #f7f7f7;
        }

        &.openedAll {
          &:after {
            border-left: 5px solid #6c6c6c;
          }

          span[style*="color: rgb(112, 112, 112);"] {
            color: rgba(247, 247, 247, 1) !important;
          }

          span[style*="color: rgb(21, 135, 64);"] {
            color: rgba(58, 255, 131, 1) !important;
          }

          span[style*="color: rgb(43, 121, 199);"] {
            color: rgba(54, 234, 255, 1) !important;
          }

          span[style*="color: rgb(159, 72, 185);"] {
            color: rgba(246, 217, 255, 1) !important;
          }

          span[style*="color: rgb(219, 34, 34);"] {
            color: rgba(255, 206, 206, 1) !important;
          }
        }
      }

      &.parking_text_hold{
        max-height: 124px;
      }

      // &:after {
      //   width: 0;
      //   height: 0;
      //   border-top: 7px solid transparent;
      //   border-bottom: 7px solid transparent;
      //   border-left: 5px solid rgba(255, 255, 255, 0.8);
      //   filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, 0.1));
      //   position: absolute;
      //   top: 10px;
      //   /* left: calc(50% - 10px); */
      //   content: '';
      //   right: -5px;
      // }
    }

    .container_separate{
      padding: 0 4px;
      .container_separate_inner{
        height: 2px;

        border-radius: 1px;
        background-color: #F3F3F3;
      }
    }
  }

  &.opened_all_hold{
    top: 0;
    left: 0;

    width: 100%;
    z-index: 1;

    .custom_editor{
      min-width: auto;

      .editor{
        width: auto;

        &::-moz-selection {
          color: $bw6-2;
          background: rgb(108, 108, 108, 0.2);
        }
  
        &::selection {
          color: $bw6-2;
          background: rgb(108, 108, 108, 0.2);
        }
  
        span{
          &::-moz-selection {
            color: $bw6-2 !important;
            background: rgb(108, 108, 108, 0.2) !important;
          }
    
          &::selection {
            color: $bw6-2  !important;
            background: rgb(108, 108, 108, 0.2) !important;
          }
        }
      }
    }

    .k-editor{
      width: auto;
    }
  }
}

.note_inner_text{
  display: -webkit-box; 
  font-size: 11px;
  color: #6C6C6C;

  overflow: hidden;
  
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
