<div class="nav-header">
    <div class="nav-header-top position-relative" (click)="redirectToDashboard()">
        <svg-icon
            class="nav-header-top-logo close"
            [src]="icons.logo"
        ></svg-icon>
 
            <svg-icon
            class="nav-header-top-text close ml-3 position-absolute"
            [src]="icons.logoText"
            [class.opacity-0]="!isNavigationHovered"
        ></svg-icon> 
    </div>
    <div
        class="nav-header-bottom"
        [ngClass]="{ 'expand-width': isNavigationHovered }"
    > 
        <div
            class="svg-holder"
            [@showHideDetails]="isNavigationHovered ? 'true' : 'false'"
            ngbTooltip
            mainContent
            position="right"
            tooltipBackground="#424242"
            [mainTooltip]="'Search'"
            tooltipColor="#ffff"
            tooltipMarginTop="-2px"
            tooltipMarginLeft="16px"
            tooltipTextAlign="right"
        >
            <svg-icon
                [src]="icons.search"
                [ngClass]="{ 'dark-svg': isNavigationHovered }"
            ></svg-icon>
        </div>
    </div>
</div>
