@import '/src/theme/variables.scss';
@import '/src/assets/scss/fonts.scss';

.owner-dropdown-opened {
    background: $ta-black-2;
    position: relative;
    left: -4px;
    padding: 4px;
    border-radius: 2px;
    transition: background 0.3s;

    span {
        color: $white;
    }
}

.fleet-holder {
    gap: 4px;
    cursor: pointer;

    .fleet {
        gap: 4px;
        font-size: 11px;

        .svg-holder {
            height: 18px;
            width: 18px;
        }

        .no-count-text {
            color: $muted;
        }

        .no-count {
            svg {
                path {
                    fill: $ta-light-grey-6;
                }
            }
        }

        span {
            width: 16px;
        }
    }
}

// -------------------------COMMENTS COMPONENT -----------------------
.comment-button {
    .comments-popover {
        position: relative;

        .comment-number {
            position: absolute;
            color: $white;
            font-size: 9px;
            top: 5px;
        }

        .comment {
            svg {
                width: 16px;
            }
        }

        .notification {
            position: absolute;
            width: 6px;
            height: 6px;
            top: -8px;
            right: 4px;

            svg {
                path:first-child {
                    fill: $white;
                }
                path:nth-child(2) {
                    fill: $ta-red-10;
                }
            }
        }
    }
}

.comments-dropdown-opened {
    background: $ta-black;
    border-radius: 2px;
    transition: background 0.3s;

    svg {
        path {
            fill: $ta-white-3;
            transition: fill 0.3s;
        }
    }

    .comment-number {
        color: $ta-black-2 !important;
        transition: color 0.3s;
    }
}

// dropdown
.table-list-dropdown {
    padding: 0 !important;

    .table-inner {
        width: 180px !important;
        right: 4px !important;
        overflow: hidden;
        padding: 4px;
    }

    .scroll-input-drodpwon {
        max-height: 270px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 2px !important;
            border-radius: 1px;
        }

        &::-webkit-scrollbar-track {
            background: $ta-black-2 !important;
        }

        &::-webkit-scrollbar-thumb {
            background: $muted !important;
        }
    }

    .height-truck-colapsed {
        max-height: 239px !important;
    }

    // Head of dropdown
    .description-titles {
        padding-left: 4px;
        font-size: 11px;
        line-height: 18px;
        margin-bottom: 4px;
    }

    // search input
    .input-holder {
        margin-bottom: 4px;

        .search-icon {
            left: 6px;

            svg {
                height: 16px;
            }

            &:after {
                content: '';
                height: 14px;
                width: 1px;
                background: $ta-light-grey-2;
                left: 4px;
                position: relative;
            }
        }

        .input-search {
            background: $ta-black;
            padding-left: 32px;
            color: $white;

            &::placeholder {
                color: $muted;
            }

            &:focus {
                outline: none;
                background: $ta-blue-20;
            }
        }

        .input-search:focus + .search-icon {
            svg {
                path {
                    fill: $ta-blue-19;
                }
            }
        }
    }

    // Body of dropdown
    .fleet-container {
        gap: 2px;

        .toogle-dropdown {
            cursor: pointer;

            .open-close-dropdown-icon {
                margin-right: 4px;
            }

            .rotate {
                rotate: 180deg;
            }
        }

        .body-item-title {
            line-height: 26px;
            padding: 0 4px;
        }

        .table-list-dropdown-content-container {
            overflow: hidden;
            cursor: pointer;

            .dropdown-animate {
                position: relative;
                border-radius: 2px;
                left: -48px;
                height: 26px;
                width: 44px;

                .type-icon {
                    margin-right: 10px;

                    svg {
                        height: 16px;
                        width: 42px;
                    }
                }
            }

            &:hover {
                background: $ta-black;

                .dropdown-animate {
                    left: 5px;
                    transition: left 0.3s;
                }
            }
        }
        .items-holder {
            overflow: hidden;
            animation: expandHeight 0.3s ease-in-out forwards;
        }
        .hide-dropdown-items {
            animation: collapseHeight 0.3s ease-in-out forwards;
        }
    }

    .separator {
        height: 1px;
        width: 100%;
        padding: 0 4px;
        margin: 2px 0;
        background: $ta-black;
    }

    .add-new-comment {
        padding: 0 4px;
        height: 26px;
        margin-bottom: 2px;

        .new-comment {
            color: $ta-blue-19;
            font-size: 11px;
        }

        svg {
            height: 14px;
            width: 14px;

            path {
                fill: $ta-blue-13;
            }
        }

        &:hover {
            background: $ta-blue-21;

            svg {
                path {
                    fill: $ta-blue-19;
                }
            }

            .new-comment {
                color: $white;
            }
        }
    }
}

.comments-width {
    .table-inner {
        width: 260px !important;
    }
}

// Shared classes
.text-white {
    color: $white;
}

.gap {
    gap: 4px;
}

.muted {
    color: $ta-light-grey-2;
    font-size: 11px;
}

.count {
    border-radius: 50px;
    background: $ta-black;
    font-size: 11px;
    height: 16px;

    .counter {
        line-height: 14px;
        font-size: 11px;
        margin: 1px 5px;
    }
}

@keyframes expandHeight {
    from {
        opacity: 1;
        max-height: fit-content;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}

@keyframes collapseHeight {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
        max-height: fit-content;
    }
}
