<app-ta-modal
  [modalTitle]="
    editData?.type !== 'edit' ? 'Create Fuel Stop' : 'Edit Fuel Stop'
  "
  [editData]="editData"
  [editName]="editData?.id"
  [isModalValid]="fuelStopForm.valid"
  (action)="onModalAction($event)"
>
  <form [formGroup]="fuelStopForm" class="form-container">
    <div class="row">
      <div class="col-7">
        <app-ta-input-dropdown
          formControlName="name"
          [inputConfig]="{
            name: 'Input Dropdown Fuel Stop',
            type: 'text',
            label: 'Fuel Stop Name',
            isDropdown: true,
            minLength: 2,
            maxLength: 64,
            isRequired: true,
            dropdownWidthClass: 'w-col-256'
          }"
          [options]="fuelStops"
          [activeItem]="selectedFuelStop"
          (selectedItem)="onSelectDropdown($event, 'fuel-stop')"
        ></app-ta-input-dropdown>
      </div>
      <div class="col-4">
        <app-ta-input
          formControlName="store"
          [inputConfig]="{
            name: 'Full name',
            type: 'text',
            label: 'Store #',
            textTransform: 'capitalize'
          }"
        ></app-ta-input>
      </div>
      <div class="col-1 no-p-left">
        <svg-icon
          class="fuelstop-star"
          [class.active]="isFavouriteFuelStop"
          src="assets/svg/common/ic_star.svg"
          (click)="favouriteFuelStop()"
        ></svg-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-ta-input
          formControlName="phone"
          [inputConfig]="{
            name: 'Phone',
            type: 'text',
            label: 'Phone',
            placeholderIcon: 'phone',
            mask: '(000) 000-0000'
          }"
        ></app-ta-input>
      </div>
      <div class="col-6">
        <app-ta-input
          formControlName="fax"
          [inputConfig]="{
            name: 'Fax',
            type: 'text',
            label: 'Fax',
            mask: '(000) 000-0000',
            placeholderIcon: 'fax'
          }"
        ></app-ta-input>
      </div>
    </div>
    <div class="row last-row">
      <div class="col-10">
        <app-ta-input-address
          formControlName="address"
          [inputConfig]="{
            name: 'Address',
            type: 'text',
            label: 'Address, City, State Zip',
            isRequired: true,
            placeholderIcon: 'address',
            minLength: 12,
            maxLength: 256,
            textTransform: 'capitalize'
          }"
          [activeAddress]="selectedAddress"
          (selectedAddress)="onHandleAddress($event)"
        ></app-ta-input-address>
      </div>
      <div class="col-2">
        <app-ta-input
          formControlName="addressUnit"
          [inputConfig]="{
            name: 'address-unit',
            type: 'text',
            label: 'Unit #',
            textTransform: 'uppercase',
            minLength: 1,
            maxLength: 10
          }"
        ></app-ta-input>
      </div>
    </div>
    <!-- Note -->
    <app-ta-input-note
      formControlName="note"
      [isVisibleNote]="fuelStopForm.get('note').value"
    ></app-ta-input-note>
  </form>
</app-ta-modal>
