<div
    [ngClass]="{
        'short-load-active': load.id === activeLoadId,
        'short-load-reordering-active': isReorderingActive
    }"
    [ngStyle]="{ cursor: isReorderingActive ? 'grab' : 'pointer' }"
    class="short-load dispatch-load-grid d-grid align-items-center"
    (click)="selectLoad()"
>
    <div
        class="short-load-index ta-font-semi-bold text-center mouse-pointer"
        [ngClass]="{ 'short-load-index_assigned': isAssigned }"
        [class.disabled]="isDisabled"
    >
        <span class="short-load-icon-text">
            {{ index }}
        </span>

        <svg-icon
            [src]="svgIcons.drag"
            class="short-load-icon short-load-icon_drag"
        ></svg-icon>

        <div
            class="short-load-icon short-load-icon-actions"
            [mainTooltip]="isAssigned ? 'Unassign' : 'Assign'"
            [tooltipBackground]="'#424242'"
            ngbTooltip
            position="bottom"
            (click)="changeLoadList(); $event.stopPropagation()"
        >
            <ng-container *ngIf="isAssigned; else notAssigned">
                <svg-icon
                    [src]="svgIcons.minus"
                    class="short-load-icon_minus"
                ></svg-icon>
            </ng-container>
            <ng-template #notAssigned>
                <svg-icon
                    [src]="svgIcons.plus"
                    class="short-load-icon_plus"
                ></svg-icon
            ></ng-template>
        </div>
    </div>

    <div class="short-load-number">
        <div class="text-ellipsis">
            <span class="ta-font-bold mr-1">{{ load.loadNumber }}</span>
            <!-- TODO: ADD TEMPLATE ICON -->

            <!-- Hide LTL icon for now -->
            <!-- <ng-container *ngIf="load.type?.name === 'LTL'">
                <svg-icon
                    class="mr-1"
                    [src]="svgIcons.iconLtl"
                    [svgStyle]="{
                        'width.px': '14',
                        'height.px': '14'
                    }"
                ></svg-icon>
            </ng-container> -->

            <span class="ta-font-medium">{{ load.referenceNumber }}</span>
        </div>
        <p class="ta-font-medium text-color-muted text-ellipsis">
            {{ load.broker?.businessName }}
        </p>
    </div>

    <div class="d-flex align-items-center">
        <div
            class="short-load-badge ta-font-bold d-flex align-items-center justify-content-center"
        >
            2
        </div>
        <div class="short-load-stop-info-text">
            <div>
                <span class="ta-font-medium text-ellipsis">{{
                    load.pickup.location
                }}</span>
            </div>
            <p class="ta-font-medium text-color-muted">
                {{ load.pickup.date | date : 'dd/MM/yy' }}
            </p>
        </div>
    </div>

    <div class="d-flex align-items-center">
        <div
            class="short-load-badge ta-font-bold d-flex align-items-center justify-content-center"
        >
            3
        </div>
        <div class="short-load-stop-info-text">
            <div>
                <span class="ta-font-medium text-ellipsis">{{
                    load.delivery.location
                }}</span>
            </div>
            <p class="ta-font-medium text-color-muted">
                {{ load.delivery.date | date : 'dd/MM/yy' }}
            </p>
        </div>
    </div>

    <div class="short-load-stop-info-text text-right">
        <div>
            <span class="ta-font-semi-bold">${{ load.totalRate }}</span>
        </div>
        <p class="ta-font-medium text-color-muted">{{ load.totalMiles }} mi</p>
    </div>
</div>
