.small-table-holder{
    .small-table-header{
        display: flex;
        height: 34px;
        align-items: center;
        justify-content: space-between;
        background-color: #F3F3F3;
        border-radius: 3px;
        padding: 0 4px;

        .title-with-count{
            .count{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 26px;
                min-width: 26px;
                background-color: #E5E5E5;
                border-radius: 2px;
                margin-right: 6px;
                user-select: none;
            }

            .title, .count{
                font-size: 17px;
                font-weight: 700;
                color: #424242;

                &::selection{
                    background-color: #42424233;
                    color: #424242;
                }
            }
        }

        .add-new{
            position: relative;
            display: flex;
            width: 26px;
            height: 26px;
            align-items: center;
            justify-content: center;

            svg-icon{
                svg{
                    display: flex;
                    width: 20px;
                    height: 20px;

                    path{
                        fill: #26A690;
                    }
                }
            }


            &:hover{
                background-color: #26A690;
                cursor: pointer;
                border-radius: 2px;

                svg-icon{
                    svg{
                        path{
                            fill: #FFFFFF;
                        }
                    }
                }
            }

            &.bonus{
                svg-icon{
                    svg{
                        path{
                            fill: #FFA726;
                        }
                    }
                }

                &:hover{
                    background-color: #FFA726;


                    svg-icon{
                        svg{
                            path{
                                fill: #FFFFFF;
                            }
                        }
                    }
                }
            }

            &.deduction{
                svg-icon{
                    svg{
                        path{
                            fill: #EF5350;
                        }
                    }
                }

                &:hover{
                    background-color: #EF5350;

                    svg-icon{
                        svg{
                            path{
                                fill: #FFFFFF;
                            }
                        }
                    }
                }
            }

            &.fuel{
                svg-icon{
                    svg{
                        path{
                            fill: #AB47BC;
                        }
                    }
                }

                &:hover{
                    background-color: #AB47BC;

                    svg-icon{
                        svg{
                            path{
                                fill: #FFFFFF;
                            }
                        }
                    }
                }
            }

            .boder-left{
                position: absolute;
                height: 20px;
                top: 50%;
                left: -4px;
                width: 1px;
                border-radius: 1px;
                background-color: #DADADA;
                transform: translateY(-50%);
            }
        }
    }

    .small-table-inside-table{
        margin-top: 4px;
    }
}