@let tableOptions = contactStoreService.tableOptions$ | async;
@let tableData = contactStoreService.tableData$ | async;
@let columns = contactStoreService.columns$ | async;
@let viewData = contactStoreService.viewData$ | async;
@let activeViewMode = contactStoreService.activeViewMode$ | async;

<div class="table-container">
    <app-ta-table-toolbar
        (toolBarAction)="onToolBarAction($event)"
        [options]="tableOptions"
        [tableData]="tableData"
        [selectedTab]="selectedTab"
        [columns]="columns"
        [activeViewMode]="activeViewMode"
    ></app-ta-table-toolbar>

    @switch (activeViewMode) {
        @case (eCommonElements.LIST) {
            <app-ta-table-head
                [options]="tableOptions"
                [viewData]="viewData"
                [columns]="columns"
                [tableData]="tableData"
                (headActions)="onTableHeadActions($event)"
            ></app-ta-table-head>
    
            <app-ta-table-body
                [viewData]="viewData"
                [columns]="columns"
                [options]="tableOptions"
                [selectedTab]="selectedTab"
                [tableData]="tableData"
                (tableBodyActions)="
                    handleDropdownMenuActions(
                        $event,
                        dropdownMenuStringEnum.CONTACT
                    )
                "
            ></app-ta-table-body>
        }

        @case (eCommonElements.CARD) {
            <div class="elements">
                <app-contacts-card
                    [viewData]="viewData"
                    [displayRowsFront]="sendDataToCardsFront"
                    [displayRowsBack]="sendDataToCardsBack"
                ></app-contacts-card>
            </div>
        }
    }
</div>
