@import 'src/theme/variables';
@import '../../dispatch-table.component.scss';

.truck-trailer-container {
    .selected-container {
        border-radius: 2px;
        transition: background 0.2s ease-in;

        .truck-trailer-number {
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .circle-icon {
            position: relative !important;
            bottom: 1px !important;
            margin-right: 4px !important;

            svg {
                path {
                    transition: fill 0.2s ease-in;
                }
            }
        }

        .truck-trailer-icon {
            position: relative !important;
            bottom: 1px !important;
        }

        p {
            font-size: 14px;
            line-height: 18px;
            color: $ta-black;

            &::-moz-selection {
                color: $ta-black;
                background: rgba(22, 9, 9, 0.2);
            }

            &::selection {
                color: $ta-black;
                background: rgb(66, 66, 66, 0.2);
            }
        }

        span {
            position: relative;
            bottom: 1px;
            font-size: 11px;
            line-height: 14px;
            margin-left: 4px;
            color: $bw5;

            &::-moz-selection {
                color: $bw5;
                background: rgb(145, 145, 145, 0.2);
            }

            &::selection {
                color: $bw5;
                background: rgb(145, 145, 145, 0.2);
            }
        }

        .remove-icon-container {
            width: 26px;
            height: 26px;
            border-radius: 2px;
            background: transparent;
            cursor: pointer;
            transition: background 0.2s ease-in;

            &:hover {
                background: $ta-red-15;

                svg {
                    path {
                        fill: $ta-red-14;
                    }
                }
            }

            &.disabled {
                svg {
                    path {
                        fill: $ta-light-grey-6;
                    }
                }

                &:hover {
                    background: transparent;

                    svg {
                        path {
                            fill: $ta-light-grey-6;
                        }
                    }
                }
            }

            svg {
                display: flex;
                width: 18px;
                height: 18px;

                path {
                    fill: $bw5;
                    transition: fill 0.2s ease-in;
                }
            }
        }
    }
}
