@import '../../../../../theme/variables.scss';

.table-container {
    width: calc(100% - 74px);
    position: absolute;
    top: 0;

    .table-toolbar-container {
        padding-right: 2px;
    }

    .customer-map-container {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        padding-left: 56px;
        z-index: 1;
    }
}

.telematic-map {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 56px;
    z-index: 1;

    agm-map {
        width: 100%;
        height: 100vh;
    }
}

.si-pointer-bottom, .si-close-button {
    display: none!important;
}

.gps-marker-container {
    position: absolute;
    left: 50%;
    top: -30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    pointer-events: auto;
    transform: translateX(-16px);
    transition: 0.2s;
    opacity: 1;

    &.trailer-marker {
        svg {
            width: 45px;
        }
    }

    svg {
        width: 29px;
        outline: none;
        //transform-origin: 17px 28px;
        transform-origin: 14.5px 27px;

        #Path_39129 {
            opacity: 1;
            transition: opacity 0.15s;
        }

        #Path_33426 {
            opacity: 0;
            transition: opacity 0.15s;
        }

        #Ellipse_7909 {
            transition: opacity 0.15s;
        }
    }

    &.selected-marker {
        transform: translate(-55%, -15%) scale(2) !important;

        svg {
            #Path_39129 {
                opacity: 0;
                transition: opacity 0.15s;
            }

            #Path_33426 {
                opacity: 1;
            }

            #Ellipse_7909 {
                transform: translate(15px, 0px) scale(1.125);
            }
        }
    }

    &.smaller-marker {
        transform: translate(-50%, 0%) scale(0.5) !important;
    }

    &.hide-marker {
        opacity: 0;
    }
}

.gps-marker-info-container {
    width: 360px;
    padding: 8px;

    background: #ffffff;

    border-radius: 3px;
}

.gps-devices-list {
    position: fixed;
    left: 74px;
    top: 62px;

    width: max-content;
    //min-width: 300px;
    padding: 6px;

    background: #fff;
    border-radius: 3px;

    transition: 0.2s;

    .gps-devices-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 2px;
        margin-bottom: 12px;

        .map-list-search {
            flex-grow: 1;
            margin-right: 16px;

            .input-custom-group .input-icon {
                pointer-events: none;
            }
        }

        .header-svg-container {
            display: flex;
            align-items: center;
        }
    }
}

.gps-marker-dropdown {
    padding-top: 18px;
}

.gps-legend {
    position: absolute;
    top: 62px;
    right: 18px;

    width: 300px;
    //height: 682px;
    padding: 12px;
    height: 40px;

    background: #ffffff;

    border-radius: 3px;

    transition: height 0.2s ease-in;
    overflow: hidden;

    &.unassigned-devices {
        padding: 8px;
        height: max-content;
        max-height: calc( 100% - 81px );

        .gps-legend-header {
            height: 26px;
            margin-bottom: 12px;
            padding-bottom: 0px;
        }

        .truck-unit-container {
            .truck-unit-text {
                width: 80px;
                margin-right: 16px;
            }
        }
    }

    &.legend-expanded {
        height: 718px;
    }

    .gps-legend-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4px;
        height: 18px;

        .gps-legend-title {
            font-weight: 900;
        }
    }

    .legend-container {
        margin-top: 12px;

        .legend-subtitle {
            margin-bottom: 12px;
        }

        .legend-dual-info-container {
            position: relative;
            display: inline-flex;
            align-items: center;
            width: 50%;

            .legend-description-text {
                font-weight: 600;
            }
        }
    }

    .legend-divider {
        width: 100%;
        height: 2px;
        margin: 12px 0px;

        background: #F3F3F3;
        border-radius: 1px;
    }
}

.mg-bottom-12 {
    margin-bottom: 12px;
}

.legend-absolute-svg {
    position: relative;
    display: flex;
    align-items: center;
    width: 46px;
    height: 22px;

    svg {
        position: absolute;
        left: -9px;
    }
}

.legend-cluster-icon {
    position: relative;
    left: -5px;
    display: flex;
    align-items: center;
    height: 36px;
}

.legend-arrow {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;

    &.rotate {
        transform: rotate(0deg);
    }
}

.legend-svg-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .svg-divider {
        width: 2px;
        height: 22px;
        margin: 0px 8px;
        background: #F3F3F3;
        border-radius: 1px;
    }

    svg-icon {
        display: flex;
        line-height: 18px;
        cursor: pointer;
    }

    &.manage-device-active {
        height: 26px;
        width: 161px;
        background: #6C6C6C;
        border-radius: 2px;
        padding-left: 6px;
        padding-right: 12px;

        .svg-divider {
            height: 14px;
            background: #919191;
            margin: 0px 4px;
        }

        .marker-info-text {
            color: #FFFFFF;

            &::-moz-selection {
                color: #FFFFFF;
                background: #FFFFFF33;
            }
            &::selection {
                color: #FFFFFF;
                background: #FFFFFF33;
            }
        }
    }
}

.devices-list-header {
    display: flex;
    align-items: center;
    //justify-content: space-between;

    padding: 0px 6px;
    overflow: hidden;

    .header-text-container {
        display: flex;
        height: 14px;
    }

    svg-icon {
        display: flex;
        line-height: 14px;
    }
}

.gps-list-scroll {
    overflow: auto;
    max-height: calc( 100vh - 336px ); //calc( 100vh - 156px );

    &.trailer-list {
        max-height: 161px;
    }
}

.gps-list-row {
    display: flex;
    align-items: center;

    height: 27px;
    padding: 6px;

    background: #fff;

    border-bottom: 1px solid #F3F3F3;
    border-radius: 2px;

    transition: 0.2s ease-in-out;

    &:last-child {
        border: 0px;
    }

    &:hover {
        background: #F7F7F7;
        cursor: pointer;
    }

    &.selected-row {
        background: #E5E5E5;
    }

    .row-info {
        display: inline-block;
        width: 50%;
        padding-right: 5px;

        font-size: 14px;
        color: #6C6C6C;
        line-height: 18px;
        text-align: left;
    }

    .truck-unit-container {
        display: flex;
        align-items: center;

        span {
            margin-right: 4px;
        }

        .truck-unit-text {
            width: 50px;
            margin-right: 22px;
        }
    }

    .driver-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .marker-like-text {
            max-width: 138px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        svg-icon {
            display: flex;
            line-height: 14px;
        }
    }
}

.motion-status-icon {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;

    &.short-stop-color {
        #Ellipse_8454, #Ellipse_8450, #Path_41075, #Path_41047 {
            fill: #FFCC80;
        }
    }

    &.short-stop-color-assigned {
        #Ellipse_8454, #Ellipse_8450, #Path_41075, #Path_41047 {
            fill: #FFB74D;
        }
    }

    &.ext-stop-color {
        #Ellipse_8454, #Ellipse_8450, #Path_41075, #Path_41047 {
            fill: #EF9A9A;
        }
    }

    &.ext-stop-color-assigned {
        #Ellipse_8454, #Ellipse_8450, #Path_41075, #Path_41047 {
            fill: #E57373;
        }
    }

    &.parking-color {
        #Ellipse_8454, #Ellipse_8450, #Path_41075, #Path_41047 {
            fill: #CCCCCC;
        }
    }

    &.parking-color-assigned {
        #Ellipse_8454, #Ellipse_8450, #Path_41075, #Path_41047 {
            fill: #B7B7B7;
        }
    }

    &.motion-color-assigned {
        #Path_51255 {
            fill: #6D82C7;
        }
    }
}

.motion-status-marker {
    &.short-stop-color {
        #Ellipse_7909, #Path_41064, #Path_41067 {
            fill: #FFA726;
        }
    }

    &.ext-stop-color {
        #Ellipse_7909, #Path_41064, #Path_41067 {
            fill: #EF5350;
        }
    }

    &.parking-color {
        #Ellipse_7909, #Path_41064, #Path_41067 {
            fill: #919191;
        }
    }
}

.column-text {
    //display: flex;
    //align-items: center;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.column-svg {
    display: flex;
    align-items: center;
    width: 14px;
    height: 14px;
}

.route-card-resize-button {
    position: absolute;
    top: 50%;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 26px;
    height: 26px;

    background: $white;

    cursor: pointer;
    transform: translate(50%, -50%);
    border-radius: 50%;
    box-shadow: $box-shadow;
    z-index: 1;

    &:hover {
        svg {
            path {
                fill: $bw6-2;
            }
        }
    }

    .map-list-resize-svg {
        display: inline-flex;
        transition: all 0.2s ease-in-out;
        transform: rotate(270deg);

        &.rotate {
            transform: rotate(90deg);
        }
    }
}

.gps-devices-scroll {
    // height: 100%;
    // max-height: 100%;
    // width: 100%;
    // //padding: 1px 0px 8px 4px;

    // overflow-y: scroll;
    // transition: 0.2s;
    
    //overflow: hidden;
    overflow: auto;
    max-height: calc( 100vh - 156px );

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #aaaaaa;
        border: 4px solid #aaaaaa;
        border-radius: 1px;
    }

    &::-webkit-scrollbar-track {
        width: 4px;
        background-color: $white;
    }

    .map-list-card-container {
        position: relative;
        width: 100%;
        padding: 6px;
        border-bottom: 1px solid $ta-light-grey-4;
        cursor: pointer;

        .map-list-card-info {
            .marker-rating {
                margin-right: 22px;
            }
        }

        &:hover {
            background: #f7f7f7;
        }

        &.map-list-card-selected {
            background: $ta-light-grey;

            &:hover {
                background: $ta-light-grey;
            }

            .marker-info-text {
                color: $ta-light-grey-3;
            }

            .marker-like-text {
                color: $ta-light-grey-3;
            }

            .map-list-card-address {
                color: $bw6-2;

                .address-text,
                .marker-bold-text {
                    &::-moz-selection {
                        color: $bw6-2;
                        background: #6c6c6c33;
                    }
                    &::selection {
                        color: $bw6-2;
                        background: #6c6c6c33;
                    }
                }
            }

            .marker-rating-svg {
                svg {
                    path {
                        fill: $bw4;
                    }
                }

                &:hover {
                    svg {
                        path {
                            fill: #4db6a2;
                        }
                    }
                }
            }
        }

        .map-list-card-address {
            font-size: 11px;
            line-height: 14px;
            color: $ta-light-grey-2;

            .address-text,
            .marker-bold-text {
                &::-moz-selection {
                    color: $ta-light-grey-2;
                    background: #aaaaaa33;
                }
                &::selection {
                    color: $ta-light-grey-2;
                    background: #aaaaaa33;
                }
            }
        }
    }
}

.column-container {
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &.no-data-text {
        color: #B7B7B7;

        &::-moz-selection {
            color: #B7B7B7;
            background: #B7B7B733;
        }
        &::selection {
            color: #B7B7B7;
            background: #B7B7B733;
        }
    }
}

.assign-truck-container {
    display: flex;
    align-items: center;

    .add-truck-svg {
        margin-left: 6px;
        margin-right: 8px;
    }
}

.device-dropdown {
    .input-control {
        padding-left: 28px !important;
        font-size: 11px !important;
    }
     
    .input-label {
        left: 28px !important;
        font-size: 11px !important;
    }

    .input-icon {
        svg-icon {
            position: absolute;
            top: 3px;

            svg {
                width: 14px !important;
                height: 14px !important;
            }
        }
        
        &::after {
            left: 18px !important;
        }
    }
}

.align-columns {
    justify-content: space-between;
    width: 100%;
}

.hidden-row {
    opacity: 0.4;
}