@import 'src/theme/variables';

.legend {
    &-title {
        margin: 6px;
        height: 26px;
        line-height: 26px;
        border-bottom: 1px solid $bw-9;
    }
    &-wrapper {
        width: 100%;
        min-height: 46px;
        padding: 4px 6px;

        .circle-indicator {
            height: 10px;
            width: 10px;
            border-radius: 50px;
            margin: 2px 4px;
        }

        .line-indicator {
            height: 2px;
            width: 10px;
            margin: auto 4px;
        }
    }
}

.colored-background {
    background-color: $bw2;
    padding: 0 6px;
}
