<div class="d-flex flex-column align-items-center step-container">
  <h1 class="m-0 step-title text-center ta-font-bold">Education</h1>

  <h3 class="m-0 step-subtitle text-center ta-font-bold">
    Please select the highest grade completed:
  </h3>

  <!-- SELECT GRADE -->

  <div class="d-flex justify-content-center align-items-center grade-container">
    <div
      class="d-flex justify-content-center align-items-center grade"
      (mouseover)="highlightGrade = i"
      (mouseleave)="highlightGrade = -1"
      (click)="selectedGrade = i"
      [ngClass]="{
        'grade-hovered': i <= highlightGrade,
        'grade-selected': selectedGrade === i,
        'all-before-selected': i < selectedGrade
      }"
      *ngFor="
        let grade of schoolGrades;
        let i = index;
        trackBy: trackByIdentity
      "
    >
      <p class="m-0">{{ grade }}</p>
    </div>

    <!-- REVIEW AND FEEDBACK -->

    <div class="review-feedback" *ngIf="selectedMode === 'REVIEW_MODE'">
      <app-applicant-review-feedback
        [index]="0"
        [reviewFeedbackData]=""
        (sendReview)="onSubmitReview($event)"
      ></app-applicant-review-feedback>
    </div>
  </div>

  <p class="m-0 college-title">COLLEGE:</p>

  <!-- SELECT COLLAGE GRADE -->

  <div
    class="d-flex justify-content-center align-items-center collage-grade-container"
  >
    <div
      class="d-flex justify-content-center align-items-center grade"
      (mouseover)="highlightCollegeGrade = i"
      (mouseleave)="highlightCollegeGrade = -1"
      (click)="selectedCollegeGrade = i"
      [ngClass]="{
        'grade-hovered': i <= highlightCollegeGrade,
        'grade-selected': selectedCollegeGrade === i,
        'all-before-selected': i < selectedCollegeGrade
      }"
      *ngFor="
        let grade of collegeGrades;
        let i = index;
        trackBy: trackByIdentity
      "
    >
      <p class="m-0">{{ grade }}</p>
    </div>

    <!-- REVIEW AND FEEDBACK -->

    <div class="review-feedback" *ngIf="selectedMode === 'REVIEW_MODE'">
      <app-applicant-review-feedback
        [index]="1"
        [reviewFeedbackData]=""
        (sendReview)="onSubmitReview($event)"
      ></app-applicant-review-feedback>
    </div>
  </div>

  <!-- FORM SECTION -->

  <div class="d-flex flex-column form-section">
    <form [formGroup]="educationForm">
      <!-- TOP QUESTIONS -->

      <div class="d-flex flex-column top-questions-container">
        <div
          class="d-flex flex-column question-container"
          *ngFor="
            let question of questions | slice: 0:3;
            let i = index;
            trackBy: trackByIdentity
          "
        >
          <div class="d-flex align-items-center justify-content-between">
            <div [ngClass]="['title-box' + i, 'title-box']">
              <p class="m-0 ta-font-regular">
                {{ question.title }}
                <span class="required-star">*</span>
              </p>
            </div>

            <div class="radios-box">
              <app-ta-input-radiobuttons
                [buttons]="question.answerChoices"
                (changedValue)="handleInputSelect($event)"
              ></app-ta-input-radiobuttons>
            </div>
          </div>

          <!-- EXPLAIN -->

          <div
            class="d-flex explain-container"
            *ngIf="educationForm.get(question.formControlName)?.value === 'YES'"
            [ngStyle]="{
              'margin-bottom':
                educationForm.get(question.formControlName)?.value === 'YES'
                  ? '20px'
                  : '0'
            }"
          >
            <div class="w-100">
              <app-ta-input
                [formControlName]="question.formControlNameExplain"
                [inputConfig]="{
                  name: 'Explain',
                  type: 'text',
                  label: 'Please explain',
                  isRequired: true,
                  textTransform: 'capitalize',
                  placeholder: 'Please explain',
                  placeholderInsteadOfLabel: true
                }"
              ></app-ta-input>
            </div>
          </div>

          <!-- REVIEW AND FEEDBACK -->

          <div class="review-feedback" *ngIf="selectedMode === 'REVIEW_MODE'">
            <app-applicant-review-feedback
              [index]="2"
              [reviewFeedbackData]=""
              (sendReview)="onSubmitReview($event)"
            ></app-applicant-review-feedback>
          </div>
        </div>
      </div>

      <!-- GENERAL -->

      <h3 class="m-0 text-center ta-font-bold step-title general-title">
        General
      </h3>

      <!-- BOTTOM QUESTIONS -->

      <div class="d-flex flex-column bottom-questions-container">
        <div
          class="d-flex align-items-center question-container"
          *ngFor="
            let question of questions | slice: 3;
            let i = index;
            trackBy: trackByIdentity
          "
          [ngStyle]="{
            margin:
              educationForm.get('driverForCompany').value === 'YES'
                ? '0 auto'
                : '0 auto 12px auto'
          }"
        >
          <div class="d-flex flex-column align-items-center w-100">
            <div
              class="d-flex align-items-center justify-content-between w-100"
            >
              <div [ngClass]="['title-box' + i, 'title-box']">
                <p class="m-0 ta-font-regular">
                  {{ question.title }}
                  <span class="required-star">*</span>
                </p>
              </div>

              <div class="radios-box">
                <app-ta-input-radiobuttons
                  [buttons]="question.answerChoices"
                  (changedValue)="handleInputSelect($event)"
                ></app-ta-input-radiobuttons>
              </div>
            </div>

            <!-- DATE EXPLAIN  -->

            <div
              class="d-flex"
              *ngIf="i === 0"
              [ngStyle]="{
                margin:
                  educationForm.get('driverForCompany').value === 'YES'
                    ? '22px auto 32px auto'
                    : '0 auto'
              }"
            >
              <div
                class="d-flex"
                *ngIf="educationForm.get('driverForCompany').value === 'YES'"
              >
                <div class="date-group">
                  <app-ta-input
                    formControlName="driverForCompanyBeforeExplain"
                    [inputConfig]="{
                      name: 'datepicker',
                      type: 'text',
                      label: 'From',
                      placeholderIcon: 'date',
                      isRequired: true,
                      customClass: 'datetimeclass'
                    }"
                  ></app-ta-input>
                </div>
                <div class="date-group">
                  <app-ta-input
                    formControlName="driverForCompanyToExplain"
                    [inputConfig]="{
                      name: 'datepicker',
                      type: 'text',
                      label: 'To',
                      placeholderIcon: 'date',
                      isRequired: true,
                      customClass: 'datetimeclass'
                    }"
                  ></app-ta-input>
                </div>
              </div>
            </div>

            <!-- EXPLAIN -->

            <div class="d-flex" *ngIf="i === 1">
              <div
                class="d-flex"
                *ngIf="
                  educationForm.get(question.formControlName).value === 'YES'
                "
              >
                <div
                  class="explain-container"
                  [ngStyle]="{
                    'margin-bottom':
                      educationForm.get(question.formControlName)?.value ===
                      'YES'
                        ? '20px'
                        : '0'
                  }"
                >
                  <app-ta-input
                    [formControlName]="question.formControlNameExplain"
                    [inputConfig]="{
                      name: 'Explain',
                      type: 'text',
                      label: 'Please explain',
                      isRequired: true,
                      textTransform: 'capitalize',
                      placeholder: 'Please explain',
                      placeholderInsteadOfLabel: true
                    }"
                  ></app-ta-input>
                </div>
              </div>
            </div>
          </div>

          <!-- REVIEW AND FEEDBACK -->

          <div class="review-feedback" *ngIf="selectedMode === 'REVIEW_MODE'">
            <app-applicant-review-feedback
              [index]="3"
              [reviewFeedbackData]=""
              (sendReview)="onSubmitReview($event)"
            ></app-applicant-review-feedback>
          </div>
        </div>
      </div>
    </form>

    <!-- REVIEW AND FEEDBACK -->

    <div class="review-feedback" *ngIf="selectedMode === 'REVIEW_MODE'">
      <app-applicant-review-feedback
        [index]="4"
        [reviewFeedbackData]=""
        (sendReview)="onSubmitReview($event)"
      ></app-applicant-review-feedback>
    </div>

    <!-- CONTACT -->

    <form [formGroup]="contactForm" class="contact-form">
      <h3
        class="contact-title text-center ta-font-bold"
        [ngStyle]="{
          'margin-bottom': contactsArray.length ? '22px' : '32px'
        }"
      >
        In case of emergency, contact:
      </h3>

      <!-- CREATED CONTACT DATA -->

      <div
        class="d-flex flex-column justify-content-center contacts-view-container"
        *ngIf="contactsArray?.length"
      >
        <div
          class="d-flex flex-column"
          *ngFor="
            let contact of contactsArray;
            let i = index;
            trackBy: trackByIdentity
          "
        >
          <div
            class="d-flex align-items-center title-container"
            *ngIf="
              (contactsArray.length > 1 && helperIndex !== 0 && i === 0) ||
              (helperIndex === 0 && i === 1) ||
              (helperIndex !== 0 && i > helperIndex)
            "
          >
            <div class="d-flex align-items-center name-title-box">
              <p class="m-0 ta-font-bold">NAME <span>*</span></p>
            </div>
            <div class="d-flex align-items-center phone-title-box">
              <p class="m-0 ta-font-bold">PHONE <span>*</span></p>
            </div>
            <div class="d-flex align-items-center relationship-title-box">
              <p class="m-0 ta-font-bold">RELATIONSHIP <span>*</span></p>
            </div>
          </div>

          <div
            class="d-flex align-items-center contact-info-container"
            *ngIf="!contact.isEditingContact"
          >
            <div class="d-flex align-items-center name-box">
              <p class="m-0 ta-font-regular">
                {{ contact.contactName }}
              </p>
            </div>
            <div class="d-flex align-items-center phone-box">
              <p class="m-0 ta-font-regular">
                {{ contact.contactPhone }}
              </p>
            </div>
            <div class="d-flex align-items-center relationship-box">
              <p class="m-0 ta-font-regular">
                {{ contact.contactRelationship }}
              </p>
            </div>

            <div class="d-flex align-items-center btn-container">
              <div
                ngbTooltip
                mainTooltip="Edit"
                tooltipBackground="#6C6C6C"
                position="top"
              >
                <svg-icon
                  class="edit-icon"
                  src="assets/svg/truckassist-table/dropdown/content/edit-hover.svg"
                  [svgStyle]="{
                    'width.px': 18,
                    'height.px': 18
                  }"
                  (click)="onEditContact(i)"
                ></svg-icon>
              </div>

              <div
                ngbTooltip
                mainTooltip="Delete"
                tooltipBackground="#EF5350"
                position="top"
              >
                <svg-icon
                  class="delete-icon"
                  src="assets/svg/truckassist-table/dropdown/content/delete.svg"
                  [svgStyle]="{
                    'width.px': 18,
                    'height.px': 18
                  }"
                  (click)="onDeleteContact(i)"
                ></svg-icon>
              </div>
            </div>
          </div>

          <div
            class="d-flex flex-column contacts-view-form"
            *ngIf="contact.isEditingContact"
          >
            <app-step6-form [form]="contactForm"></app-step6-form>

            <div
              class="d-flex align-items-center mx-auto justify-content-center btn-container"
            >
              <button
                type="button"
                class="d-flex justify-content-center align-items-center ta-font-semi-bold add-btn cancel-btn"
                (click)="onCancelEditContact()"
              >
                Cancel
              </button>
              <button
                type="button"
                class="d-flex justify-content-center align-items-center ta-font-semi-bold add-btn save-btn"
                [ngClass]="{
                  disabled: !isContactEdited
                }"
                (click)="onSaveEditedContact()"
              >
                Save Changes
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex" *ngIf="!isEditing">
        <app-step6-form [form]="contactForm"></app-step6-form>
      </div>

      <!-- ADD SECOND CONTACT -->

      <div
        class="d-flex flex-column align-items-center add-second-contact-container"
      >
        <button
          type="button"
          class="d-flex justify-content-center align-items-center ta-font-bold add-btn"
          (click)="onAddContact()"
          [ngClass]="{
            disabled: contactForm.invalid
          }"
          *ngIf="!isEditing"
        >
          <svg-icon
            class="plus-icon"
            src="assets/svg/common/ic_plus.svg
        "
            [svgStyle]="{
              'width.px': 18,
              'height.px': 18
            }"
          ></svg-icon>

          Add Second Emergency Contact
        </button>
      </div>
    </form>
  </div>
</div>

<!-- NEXT BTN -->

<div
  class="d-flex justify-content-center align-items-center next-btn-container"
>
  <app-applicant-next-back-btn [nextStep]="true"></app-applicant-next-back-btn>
</div>

<!-- BACK BTN -->

<div
  class="d-flex justify-content-center align-items-center back-btn-container"
>
  <app-applicant-next-back-btn [backStep]="true"> </app-applicant-next-back-btn>
</div>

<!-- CONFIRM ALL REVIEW -->

<app-applicant-confirm-all-review
  *ngIf="selectedMode === 'REVIEW_MODE'"
></app-applicant-confirm-all-review>
