<div
  class="ta-logo-container"
  [ngClass]="{
    expanded: !showUploadZone && !imageUrl,
    'image-zone-flex': imageUrl
  }"
>
  <!------------------------ Croppie editing ------------------------>
  <div [hidden]="showUploadZone || imageUrl" class="d-fex">
    <div class="d-flex">
      <img
        alt="cropped-image"
        #croppie="croppie"
        [croppieOptions]="croppieOptions"
        (update)="handleCroppieUpdate($event)"
      />
    </div>
    <div
      class="d-flex justify-content-between"
      [ngStyle]="{ padding: '0px 6px' }"
    >
      <app-ta-ngx-slider
        *ngIf="!showUploadZone"
        [sliderTemplate]="'logo-change'"
        [sliderOptions]="ngxLogoOptions"
        [startedValue]="ngxSliderPosition"
        [customClass]="customClass | logoSlider"
        (onUserValueChange)="zooming($event)"
      ></app-ta-ngx-slider>

      <div class="d-flex buttons-container">
        <div
          (click)="saveImage()"
          class="save-check"
          [appTooltip]="'Confirm'"
          [position]="'top-middle'"
          [tooltipBackground]="'#536bc2'"
          [tooltipColor]="'#FFFFFF'"
          [zIndex]="900"
          [borderRadius]="'2px'"
          [boxShadow]="'0 0 4px rgb(0,0,0,.2)'"
          [fontWeight]="'bold'"
          [fontSize]="'11px'"
          [customPosition]="-7"
        >
          <svg-icon src="assets/svg/common/ic_save-logo.svg"></svg-icon>
        </div>
        <div
          (click)="onCancel()"
          class="cancel-check"
          [appTooltip]="'Cancel'"
          [position]="'top-middle'"
          [tooltipBackground]="'#6c6c6c'"
          [tooltipColor]="'#FFFFFF'"
          [zIndex]="900"
          [borderRadius]="'2px'"
          [boxShadow]="'0 0 4px rgb(0,0,0,.2)'"
          [fontWeight]="'bold'"
          [fontSize]="'11px'"
          [customPosition]="-4"
        >
          <svg-icon src="assets/svg/common/ic_cancel.svg"></svg-icon>
        </div>
      </div>
    </div>
  </div>

  <!------------------------ Saved File ------------------------>
  <div class="ta-logo-saved-image" *ngIf="imageUrl">
    <div
      class="ta-logo-image-delete"
      [appTooltip]="'Delete'"
      [position]="'top-middle'"
      [tooltipBackground]="'#EF5350'"
      [tooltipColor]="'#FFFFFF'"
      [zIndex]="900"
      [borderRadius]="'2px'"
      [boxShadow]="'0 0 4px rgb(0,0,0,.2)'"
      [fontWeight]="'bold'"
      [fontSize]="'11px'"
      [customPosition]="-2"
      (click)="onDeleteSavedImage()"
    >
      <svg-icon
        class="delete-logo-svg"
        src="assets/svg/common/ic_trash.svg"
      ></svg-icon>
    </div>
    <img [src]="imageUrl" alt="Not Allowed Image" />
  </div>

  <!------------------------ DROP ZONE ------------------------>
  <div
    class="dropzone-logo-container {{ customClass }}"
    [hidden]="!showUploadZone"
  >
    <app-ta-upload-dropzone
      [dropZoneConfig]="dropZoneConfig"
      (onFileEvent)="onUploadImage($event)"
    ></app-ta-upload-dropzone>
  </div>
</div>
