@import './ta-input.colors.scss';

.dropdown-selected-image {
    position: absolute;
    left: 6px;
    top: 48%;
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;

    &.truck-make {
        svg {
            path {
                fill: #6c6c6c;
            }
        }
    }

    &.trailer-make {
        svg {
            path {
                fill: #6c6c6c;
            }
        }
    }

    // Render Name Initials
    &.name-initials-instead-url {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        object-fit: cover;
        top: 50%;
        transform: translateY(-50%);
    }

    &.load-broker {
        height: 26px;

        svg {
            height: 18px;
        }

        &.medium {
            svg {
                #Path_33564 {
                    fill: #ffb74d;
                }
            }
        }

        &.low {
            svg {
                #Path_33564 {
                    fill: #e57373;
                }
            }
        }
    }

    // --------------------- TRUCKS ---------------------
    &.semitruck,
    &.semisleeper,
    &.boxtruck,
    &.reefertruck,
    &.cargovan,
    &.dumptruck,
    &.cementtruck,
    &.garbagetruckm &.towtruck,
    &.carhauler,
    &.spotter,
    &.flatbed,
    &.stepdeck,
    &.lowboyrgn,
    &.chassis,
    &.conestoga,
    &.sidekit,
    &.container,
    &.dryvan,
    &.reefer,
    &.enddump,
    &.bottomdump,
    &.hopper,
    &.tanker,
    &.pneumatictanker,
    &.carhauler,
    &.carhaulerstigner {
        svg {
            path {
                fill: $inactive-empty-label !important;
            }
        }
    }

    &.unset-color {
        svg {
            #Ellipse_9856,
            #Ellipse_9857,
            #Ellipse_9858,
            path {
                fill: rgb(255, 255, 255, 0.4) !important;
            }
        }
    }
}
