.dropdown-container {
  position: relative;

  .dropdown-options {
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 1000;
    max-height: 198px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    padding: 2px;
    overflow: none;

    &.scroll {
      transition: all 0.3s ease-in-out;
      overflow-y: scroll !important;
      scrollbar-width: thin;
      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-track-piece {
        background-color: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #aaaaaa;
        outline: none;
        height: 43px;
        max-height: 43px;
      }
    }

    .dropdown-option {
      background-color: #ffffff;
      padding: 3px 4px;
      height: 26px;
      font-size: 14px;
      font-weight: 400;
      color: #6c6c6c;

      &:hover {
        background-color: #f3f3f3;
        color: #3c3c3c;
        border-radius: 1px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }

      &.disabled {
        color: #aaaaaa;
        font-style: italic;
      }

      &.no-result {
        height: 18px;
        font-size: 11px;
        font-weight: 600;
        padding: 1.5px 4px;
        color: #b7b7b7;
        
        &:hover {
          background-color: transparent !important;
          color: #b7b7b7 !important;
          transition: all 0.3s ease-in-out;
          cursor: auto;
        }
      }

      &.add-new {
        color: #536BC2;
        font-weight: 600;

        &:hover {
          color: #3551B7;
          transition: all 0.3s ease-in-out;
        }
      }

      // Higlight text
      .highlight-text-45632 {
        font-weight: 700;
        background-color: transparent;

        &:hover {
          color: #3c3c3c;
          transition: all 0.3s ease-in-out;
        }
      }

      &.active {
        color: #536bc2;
        position: relative;

        &:hover {
          color: #3551B7;
          transition: all 0.3s ease-in-out;
        }

        // Higlight text
        .highlight-text-45632 {
          font-weight: 700;
          background-color: transparent;

          &:hover {
            color: #3551B7;
            transition: all 0.3s ease-in-out;
          }
        }

        &::after {
          position: absolute;
          right: 4px;
          top: 2.5px;
          content: url('../../../../../assets/svg/common/ic_confirm.svg');
          width: 14px;
          height: 10px;
        }
      }
    }
  }
}
