@import '/src/theme/variables.scss';
@mixin hover($color) {
    transition: background-color $transitionDuration ease-in-out;

    &:hover {
        background-color: $color !important;
    }
}

.background {
    &-white {
        background: $white;
    }
    &-muted {
        background: $muted;
    }
    &-black {
        background: $ta-black;
    }
    &-green {
        background: $ta-green;
    }
    &-bw2 {
        background-color: $bw2;
    }
    &-bw6-2 {
        background-color: $bw6-2;
    }
    &-light-grey {
        background-color: $ta-light-grey;

        &-6 {
            background-color: $ta-light-grey-6;
        }
    }
    &-blue {
        &-13 {
            background-color: $ta-blue-13;
        }
        &-14 {
            background-color: $ta-blue-14;
        }
        &-16 {
            background-color: $ta-blue-16;
        }
    }

    &-hover {
        &-black {
            @include hover($ta-black);
        }
        &-blue {
            &-15 {
                @include hover($ta-blue-15);
            }
        }
    }
}
