.datetime-dropdown-holder{
  position: relative;
  top: 28px;
}

.picker_input_holder {
  display: flex;
  min-width: 146px;
  max-width: 260px;
  border-radius: 3px;
  background-color: #f9f9f9;

  input {
    width: 100%;
    padding-left: 6px;

    border: none;
    outline: none;
    background-color: transparent;

    caret-color: transparent;
    -webkit-appearance: none;

    &:focus {
      outline: none;
      border: none;
    }

    &::-webkit-input-placeholder {
      /* Edge */
      color: #919191 !important;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #919191 !important;
    }

    &::placeholder {
      color: #919191 !important;
    }
  }

  .toggle_picker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    min-width: 26px;
    background-color: #eeeeee;

    border-radius: 3px;
    cursor: pointer;

    &::after {
      display: none;
    }

    svg-icon {
      display: flex;

      svg {
        width: 12px;
        height: 10px;

        path {
          fill: #919191;
        }
      }
    }
  }

  &:hover {
    opacity: 1;
  }

  &.active {
    background-color: #6c6c6c;

    border-left: 3px solid #6c6c6c;

    .toggle_picker {
      background-color: #919191;

      svg-icon {
        display: flex;

        svg {
          transform: rotate(180deg);

          path {
            fill: #fff;
          }
        }
      }
    }

    input {
      &::-webkit-input-placeholder {
        /* Edge */
        color: #fff !important;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff !important;
      }

      &::placeholder {
        color: #fff !important;
      }
    }
  }
}

.pickers_holder {
  position: absolute;
  top: 5px !important;
  width: auto !important;
  padding: 0;

  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 999;

  border-radius: 3px;
  overflow: hidden;

  .time_picker{
    width: 167px;
  }

  .date_picker {
    display: flex;

    .month-years-size {
      position: relative;
      width: 48px;

      background-color: #eeeeee;

      .calendar_border {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 22px;

        background-color: rgba(255, 255, 255, 0.7);
      }

      .month-year-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;

        font-size: 14px;
        color: #919191;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;

        .left-year-show{
          color: #919191;
          font-size: 14px;
          font-weight: 700;
        }

        &:hover {
          color: #5673aa;
          cursor: pointer;
        }
      }

      cdk-virtual-scroll-viewport {
        ::-webkit-scrollbar {
          display: none;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .cdk-virtual-scroll-content-wrapper {
        padding-top: 129px;
      }
    }

    .full-calendars-list {
      flex: 1;
      max-height: 258px;
      min-width: 235px;
      overflow: hidden;

      .full_list {
        height: 100%;

        .selfScroll {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .time_picker {
    //width: 150px;

    .time_picker_head {
      height: 20px;
      display: flex;
      padding: 0 6px;
      align-items: center;
      justify-content: space-between;

      .selected_time {
        font-size: 14px;
        font-weight: 800;
        color: #919191;
      }

      .sel_now {
        color: #536BC2;
        font-size: 12px;
        font-weight: 700;

        &:hover {
          cursor: pointer;
          color: #5673aa;
        }
      }
    }

    .time_picker_body {
      .picker_body_head {
        display: flex;
        height: 22px;
        display: flex;
        align-items: center;
        background-color: #f3f3f3;

        div {
          flex: 0 0 33%;
          text-align: center;

          font-size: 10px;
          font-weight: 600;
          color: #919191;

          &.active {
            color: #919191;
          }
        }
      }

      .picker_body {
        position: relative;
        height: 155px;
        display: flex;

        .picker_line {
          position: absolute;
          width: 100%;
          height: 22px;
          top: 50%;

          transform: translateY(-50%);
          background-color: #eee;

          span {
            position: absolute;
            left: 33.3%;

            font-size: 14px;
            font-weight: 400;
            color: #919191;
          }
        }

        .scroll_pickers {
          position: relative;
          height: 22px;
          flex: 0 0 33.3%;
          height: 100%;
          padding: 66px 0;

          overflow: auto;
          text-align: center;

          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scrollbar-width: none; /* Firefox */

          z-index: 10;

          &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
          }

          .scroll_item {
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 14px;
            color: #919191;
            font-weight: 400;

            &:hover {
              color: #5673aa;
              cursor: pointer;
            }
          }

          &:hover {
            //background-color: #f3f3f366;
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }

    .picker_buttons {
      display: flex;
      padding: 12px;
      justify-content: space-between;
     
      .pick_button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        padding: 0 12px;
        text-align: center;
        border-radius: 2px;

        font-size: 12px;
        font-weight: 700;
        color: #919191b3;

        &:hover {
          background-color: #919191;
          color: #fff;
          cursor: pointer;
        }

        &.set_button {
          width: 57px;
          text-align: center;
          background-color: #5673aab3;
          color: #fff;

          &:hover {
            background-color: #5673aa; 
          }
        }
      }
    }
  }
}

.calendar_view {
  width: 232px;
  padding: 12px 0;
  background-color: #fff;

  .calendar_view_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0 12px;

    .month_name {
      font-size: 12px;
      font-weight: 700;
      color: #6c6c6c;

      .year_hold {
        margin-right: 5px;
        text-transform: uppercase;

        cursor: pointer;
      }
    }

    .today {
      font-size: 12px;
      font-weight: 700;
      color: #5673aab3;
      cursor: pointer;
    }
  }

  .calendars_list_view {
    cdk-virtual-scroll-viewport {
      height: 200px;
      min-height: 200px;

      ::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .cdk-virtual-scroll-content-wrapper {
      }
    }

    .calendar_indicator {
      margin: 12px;
      height: 18px;

      font-size: 12px;
      color: #6c6c6c66;
      font-weight: 700;
    }

    .calendar_month_days {
      padding: 0 3px;

      .cal_day {
        width: 20px;
        margin: 0 6px;

        font-size: 12px;
        font-weight: 700;
        color: #b7b7b7;
      }
    }

    .calendar_days {
      height: 114px;
      display: flex;
      flex-wrap: wrap;
      padding: 0 3px;

      .calendar_day {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 20px;
        width: 20px;
        height: 19px;
        margin: 0 6px;

        font-size: 14px;
        font-weight: 400;

        &.current_day {
          color: #fff;
          background-color: #919191;
          border-radius: 2px;
        }

        &:not(.empty_day):hover {
          background-color: #eeeeee;
          border-radius: 2px;

          cursor: pointer;
          color: #6c6c6c;
        }
      }
    }
  }

  .month_list {
    display: flex;
    flex-wrap: wrap;

    .month_list_item {
      flex: 0 0 43px;
      height: 38px;
      margin: 0 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;

      font-size: 12px;
      color: #919191;
      font-weight: 400;

      &:hover {
        background-color: #eeeeee;
        color: #6c6c6c;
      }

      &.current_month {
        color: #5673aab3;
        background-color: #5673aa1a;
        border-radius: 2px;
      }
    }
  }
}

.dropdown {
  z-index: 999 !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


.datetimepopovermain{
  width: 5px;
}