.datetime-dropdown-holder {
  position: relative;
  top: 24px;
}

.picker_input_holder {
  display: flex;
  min-width: 146px;
  max-width: 260px;
  border-radius: 3px;
  background-color: #f9f9f9;

  input {
    width: 100%;
    padding-left: 6px;

    border: none;
    outline: none;
    background-color: transparent;

    caret-color: transparent;
    -webkit-appearance: none;

    &:focus {
      outline: none;
      border: none;
    }

    &::-webkit-input-placeholder {
      /* Edge */
      color: #919191 !important;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #919191 !important;
    }

    &::placeholder {
      color: #919191 !important;
    }
  }

  .toggle_picker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    min-width: 26px;
    background-color: #eeeeee;

    border-radius: 3px;
    cursor: pointer;

    &::after {
      display: none;
    }

    svg-icon {
      display: flex;

      svg {
        width: 12px;
        height: 10px;

        path {
          fill: #919191;
        }
      }
    }
  }

  &:hover {
    opacity: 1;
  }

  &.active {
    background-color: #6c6c6c;

    border-left: 3px solid #6c6c6c;

    .toggle_picker {
      background-color: #919191;

      svg-icon {
        display: flex;

        svg {
          transform: rotate(180deg);

          path {
            fill: #fff;
          }
        }
      }
    }

    input {
      &::-webkit-input-placeholder {
        /* Edge */
        color: #fff !important;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff !important;
      }

      &::placeholder {
        color: #fff !important;
      }
    }
  }
}

.pickers_holder {
  position: absolute;
  top: 5px !important;
  width: auto !important;
  padding: 0;

  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 999;

  border-radius: 3px;
  overflow: hidden;

  .time_picker {
    width: 167px;
  }

  .date_picker {
    display: flex;

    .month-years-size {
      position: relative;
      width: 48px;

      background-color: #F9F9F9;

      .calendar_border {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 24px;
        transform: translateY(-50%);

        background-color: #fff;
      }

      .month-year-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;

        font-size: 14px;
        color: #919191;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;

        .left-year-show {
          color: #919191;
          font-size: 14px;
          font-weight: 700;
        }

        &:hover {
          color: #6C6C6C;
          cursor: pointer;

          background-color: #F1F1F1;
          border-radius: 2px;
        }
      }

      cdk-virtual-scroll-viewport {
        ::-webkit-scrollbar {
          display: none;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .cdk-virtual-scroll-content-wrapper {
        padding: 133px 2px 0 2px;
      }
    }

    .full-calendars-list {
      flex: 1;
      max-height: 290px;
      min-width: 264px;
      overflow: hidden;

      .full_list {
        height: 100%;

        .selfScroll {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .time_picker {
    //width: 150px;

    .time_picker_head {
      height: 36px;
      display: flex;
      padding: 0 12px;
      align-items: center;
      justify-content: space-between;

      .selected_time {
        font-size: 14px;
        font-weight: 800;
        color: #6c6c6c;
      }

      .sel_now {
        color: #536bc2;
        font-size: 14px;
        font-weight: 700;

        &:hover {
          cursor: pointer;
          color: #5673aa;
        }
      }
    }

    .time_picker_body {
      .picker_body_head {
        display: flex;
        height: 22px;
        display: flex;
        align-items: center;
        background-color: #f7f7f7;
        margin: 0 4px 2px 4px;
        border-radius: 2px;

        div {
          flex: 0 0 33%;
          text-align: center;

          font-size: 10px;
          font-weight: 700;
          color: #919191;

          &.active {
            color: #919191;
          }
        }
      }

      .picker_body {
        position: relative;
        height: 155px;
        display: flex;
        justify-content: center;

        &::after{
          content: "";
          position: absolute;
          width: 100%;
          height: 31px;
          top: -1px;
          left: 0;
          pointer-events: none;

          background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
          z-index: 11;
        }

        &::before{
          content: "";
          position: absolute;
          pointer-events: none;
          width: 100%;
          height: 31px;
          bottom: -1px;
          left: 0;
          background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
          z-index: 11;
        }

        .picker_line {
          position: absolute;
          width: calc(100% - 8px);
          height: 22px;
          top: 50%;
          left: 4px;
          border-radius: 2px;

          transform: translateY(-50%);
          background-color: #9191911a;

          span {
            position: absolute;
            left: 30%;

            font-size: 14px;
            font-weight: 400;
            color: #919191;
          }
        }

        .scroll_pickers {
          position: relative;
          height: 22px;
          flex: 0 0 33.3%;
          height: 100%;
          padding: 67px 0;
          margin: 0 7px;

          overflow: auto;
          text-align: center;

          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scrollbar-width: none; /* Firefox */

          z-index: 10;

          &:first-child {
            flex: 0 0 28px;
          }

          &:nth-child(2) {
            flex: 0 0 36px;
          }

          &:nth-child(3) {
            flex: 0 0 38px;
          }

          &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
          }

          .scroll_item {
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 14px;
            color: #919191;
            font-weight: 400;
            user-select: none;

            &:hover {
              color: #5673aa;
              cursor: pointer;
            }
          }

          &:hover {
            //background-color: #f3f3f366;
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }

    .picker_buttons {
      display: flex;
      padding: 12px;
      justify-content: space-between;

      .pick_button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        padding: 0 12px;
        text-align: center;
        border-radius: 2px;

        font-size: 12px;
        font-weight: 700;
        color: #919191b3;

        &:hover {
          background-color: #F3F3F3;
          color: #919191;
          cursor: pointer;
        }

        &.set_button {
          width: 57px;
          text-align: center;
          background-color: #6D82C7;
          color: #fff;

          &:hover {
            background-color: #536BC2;
          }
        }
      }
    }
  }
}

.calendar_view {
  width: 260px;
  padding-top: 12px;
  background-color: #fff;

  .calendar_view_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0 12px;

    .month_name {
      font-size: 12px;
      font-weight: 700;
      color: #6c6c6c;

      .year_hold {
        margin-right: 5px;
        text-transform: uppercase;
        color: #6C6C6C;

        &:hover{
          color: #919191;
        }

        cursor: pointer;
      }
    }

    .today {
      font-size: 12px;
      font-weight: 700;
      color: #5673aab3;
      cursor: pointer;

      &:hover{
        color: #3551B7;
      }
    }
  }

  .calendars_list_view {
    cdk-virtual-scroll-viewport {
      height: 230px;
      min-height: 230px;

      ::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .cdk-virtual-scroll-content-wrapper {
      }
    }

    .calendar_indicator {
      margin: 12px;
      height: 18px;

      font-size: 12px;
      color: #6c6c6c66;
      font-weight: 700;
    }

    .calendar_month_days {
      padding: 0 3px;

      &.hideVisibility{
        visibility: hidden;
      }

      .cal_day {
        width: 24px;
        margin: 0 6px;

        font-size: 12px;
        font-weight: 700;
        color: #b7b7b7;
      }
    }

    .calendar_days {
      height: 140px;
      display: flex;
      flex-wrap: wrap;
      padding: 0 3px;

      .calendar_day {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        margin: 0 6px;

        font-size: 14px;
        font-weight: 400;
        color: #6C6C6C;

        &.current_day {
          color: #fff;
          background-color: #919191;
          border-radius: 2px;
        }

        &.selected_day{
          background-color: #919191;
          color: #fff;
          border-radius: 2px;
        }


        &:not(.empty_day):not(.selected_day):hover {
          background-color: #F7F7F7;
          border-radius: 2px;

          cursor: pointer;
          color: #3C3C3C;
        }
      }
    }
  }

  .month_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 140px;

    .month_list_item {
      flex: 0 0 50px;
      height: 24px;
      margin: 0px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      font-size: 12px;
      color: #6C6C6C;
      font-weight: 400;

      &:hover:not(.current_month) {
        background-color: #F7F7F7;
        color: #3C3C3C;
        border-radius: 2px;
        cursor: pointer;
      }

      &.current_month {
        color: #3C3C3C;
        background-color: #F7F7F7;
        border-radius: 2px;
      }
    }
  }
}

.dropdown {
  z-index: 999 !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.datetimepopovermain {
  width: 5px;
}
