//----------------  Common-fake-table-modal  ----------------
.common-fake-table-modal {
  overflow: hidden;
  overflow-x: scroll;
  margin-top: 10px;

  scrollbar-width: none !important; /* Firefox */

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-left: 0px;
    border-right: 0px;
    border-top: 6px solid #ffffff;
    border-bottom: 6px solid #ffffff;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-track {
    padding: 5px;
    position: absolute;
    right: -3rem;
    top: -50rem;
    background: transparent;
  }

  &.hide-oveflow {
    overflow: hidden !important;
  }

  .common-fake-table-label {
    padding: 0 5px;
    display: flex;
    align-items: center;
    line-height: 15px;
    margin-bottom: 6px;

    p {
      margin: 0;
      font-size: 12px;
      font-weight: 700;
      color: #919191;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:nth-child(2) {
        margin-left: 36px;
      }

      &:nth-child(3) {
        margin-left: 86px;
      }

      &:nth-child(4) {
        margin-left: 49px;
      }

      span {
        color: #e57373;
      }

      &::-moz-selection {
        background-color: rgb(145, 145, 145, 0.2) !important;
      }

      &::selection {
        background-color: rgb(145, 145, 145, 0.2) !important;
      }
    }
  }

  .common-fake-table-card {
    display: grid;
    grid-template-columns: 120px 130px 60px 234px;
    grid-template-rows: 26px;
    -moz-column-gap: 12px;
    column-gap: 12px;
    row-gap: 2px;
    margin-bottom: 2px;
    background-color: #f7f7f7;
    padding-right: 6px;
    position: relative;

    p {
      &::-moz-selection {
        background-color: rgba(145, 145, 145, 0.2) !important;
      }

      &::selection {
        background-color: rgba(145, 145, 145, 0.2) !important;
      }
    }

    .common-fake-table-check {
      width: 18px;
      height: 18px;
      svg {
        width: 100%;
        height: 100%;
        path {
          fill: #97a8dc;
        }
      }
    }

    .common-fake-table-status {
      width: 72px;
      height: 26px;
      border-radius: 2px;
      font-size: 12px;
      font-weight: 500;
      background-color: transparent;
      text-align: center;
      padding-top: 4px;

      &-verified {
        color: #97a8dc;
        &::-moz-selection {
          background-color: rgb(151, 168, 220, 0.2) !important;
        }

        &::selection {
          background-color: rgb(151, 168, 220, 0.2) !important;
        }
      }

      &-pending {
        color: #ffcc80;
        &::-moz-selection {
          background-color: rgb(255, 204, 128, 0.2) !important;
        }

        &::selection {
          background-color: rgb(255, 204, 128, 0.2) !important;
        }
      }

      &-verify {
        background-color: #6d82c7;
        color: #ffffff;

        &::-moz-selection {
          background-color: rgba(151, 168, 220, 0.2) !important;
        }

        &::selection {
          background-color: rgba(151, 168, 220, 0.2) !important;
        }
      }
    }

    .common-fake-table-delete {
      width: 18px;
      height: 18px;
      position: absolute;
      bottom: 7.5px;
      right: 4.5px;
      display: none;
      cursor: pointer;
      svg {
        path {
          fill: #aaaaaa;
        }
        &:hover {
          transition: all 0.3s ease-in-out;

          path {
            fill: #ef5350;
          }
        }
      }

      &.new-position {
        right: -97px;
      }

      &.new-position-without-email {
        right: -119px;
      }
    }

    &:hover .common-fake-table-delete {
      display: inline-block;
      transition: all 0.3s ease-in-out;
    }
  }

  //----------------------  CUSTOM CLASSES FOR DIFFERENT TYPES OF TABLES ----------------------

  // Custom classes for common-fake-table
  &-banks {
    .common-fake-table-label {
      p {
        &:nth-child(2) {
          margin-left: 94px;
        }

        &:nth-child(3) {
          margin-left: 47px;
        }
      }
    }
    .common-fake-table-card {
      grid-template-columns: 162px 100px 186px 18px 72px 30px;
    }
  }

  // Shipper & Broker Template
  &-shipper,
  &-broker {
    .common-fake-table-label {
      p {
        &:nth-child(2) {
          margin-left: 98px;
        }

        &:nth-child(3) {
          margin-left: 44px;
        }

        &:nth-child(4) {
          margin-left: 87px;
        }

        &:nth-child(5) {
          margin-left: 48px;
        }
      }
    }
    .common-fake-table-card {
      grid-template-columns: 170px 120px 130px 60px 234px;
    }

    .common-fake-table-delete {
      &.new-position {
        right: -120px !important;
      }

      &.new-position-without-email {
        right: -142px !important;
      }
    }
  }

  // Bank Card Template
  &-bank-cards {
    .common-fake-table-label {
      p {
        &:nth-child(2) {
          margin-left: 75px;
        }

        &:nth-child(3) {
          margin-left: 170px;
        }

        &:nth-child(4) {
          margin-left: 80px;
        }
      }
    }
    .common-fake-table-card {
      grid-template-columns: 132px 220px 94px 98px;
    }
  }

  // Fuel Transactions
  &-fuel-transaction {
    .common-fake-table-label {
      p {
        &:nth-child(1) {
          margin-left: 4px;
        }

        &:nth-child(2) {
          margin-left: 18px;
        }

        &:nth-child(3) {
          margin-left: 85px;
        }
        &:nth-child(4) {
          margin-left: 48px;
        }
        &:nth-child(5) {
          margin-left: 63px;
        }
      }
    }
    .common-fake-table-card {
      grid-template-columns: 18px 114px 70px 80px 90px;
      align-items: center;
      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        color: #919191;
        &:nth-child(1) {
          padding-left: 11px;
        }

        &::-moz-selection {
          background-color: rgb(145, 145, 145, 0.2) !important;
        }

        &::selection {
          background-color: rgb(145, 145, 145, 0.2) !important;
        }
      }
      .fuel-subtotal {
        justify-self: flex-end;
      }

      &-transfer-svg {
        padding-left: 6px;
        svg {
          width: 18px;
          height: 18px;
        }
      }
      &:hover {
        cursor: grab;
      }
    }
  }

  //   Driver Off Duty location
  &-off-duty-locations {
    overflow: hidden !important;
    .common-fake-table-label {
      p {
        &:nth-child(2) {
          margin-left: 52px;
        }
      }
    }

    .common-fake-table-card {
      grid-template-columns: 110px 304px 1fr;
    }
  }

  //   Violations
  &-violations {
    .common-fake-table-label {
      p {
        &:nth-child(1) {
          margin-left: 1px;
        }

        &:nth-child(2) {
          margin-left: 66px;
        }

        &:nth-child(3) {
          margin-left: 133px;
        }
        &:nth-child(4) {
          margin-left: 41px;
        }
        &:nth-child(5) {
          margin-left: 36px;
        }
        &:nth-child(6) {
          margin-left: 30px;
        }
        &:nth-child(7) {
          margin-left: 25px;
        }
      }
    }
    .common-fake-table-card {
      grid-template-columns: 100px 190px 55px 42px 44.5px 44.5px 1fr;
      align-items: center;
      padding-left: 6px;
      padding-right: 0px;
      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        color: #919191;
      }

      .violation-category {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .violation-category-svg {
          margin-right: 6px;
          position: relative;
          bottom: 1px;
        }
      }

      .violation-oos {
        justify-self: center;

        &.active {
          svg {
            path {
              fill: #ffcc80;
            }
          }
        }
      }
      .violation-sms {
        justify-self: center;
      }
    }
  }

  // Accident Modal Violations
  &-accident-violations {
    .common-fake-table-label {
      p {
        &:nth-child(1) {
          margin-left: 1px;
        }

        &:nth-child(2) {
          margin-left: 144px;
        }

        &:nth-child(3) {
          margin-left: 34px;
        }
        &:nth-child(4) {
          margin-left: 31px;
        }
      }
    }

    .common-fake-table-card {
      grid-template-columns: 190px 42px 1fr 514px;
      align-items: center;
      padding-left: 6px;
      padding-right: 0px;

      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        color: #919191;
      }

      .violation-category {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .violation-category-svg {
          margin-right: 6px;
          position: relative;
          bottom: 1px;
        }
      }

      .violation-hm,
      .violation-sw {
        justify-self: center;
      }
    }
  }

  // Accident Modal Insurance
  &-accident-insurance {
    .common-fake-table-label {
      p {
        &:nth-child(1) {
          margin-left: 1px;
        }

        &:nth-child(2) {
          margin-left: 87px;
        }

        &:nth-child(3) {
          margin-left: 80px;
        }
        &:nth-child(4) {
          margin-left: 59px;
        }
        &:nth-child(5) {
          margin-left: 106px;
        }
      }
    }

    .common-fake-table-card {
      grid-template-columns: repeat(2, 135px) 142px 140px 200px;
      align-items: center;
    }
  }

  // Repair Shop Modal Open Hours
  &-repair-shop-open-hours {
    margin-bottom: 0px;
    .common-fake-table-label {
      p {
        &:nth-child(1) {
          margin-left: 1px;
        }

        &:nth-child(2) {
          margin-left: 137px;
        }

        &:nth-child(3) {
          margin-left: 114px;
        }
      }
    }

    .common-fake-table-card {
      grid-template-columns: 1fr repeat(2, 140px);
      column-gap: 12px;
      align-items: center;
      padding-left: 6px;
      padding-right: 0px;
    }
  }

  // PM MODAL
  &-pm {
    .common-fake-table-label {
      p {
        &:nth-child(2) {
          margin-left: 26px;
        }

        &:nth-child(3) {
          margin-left: 233px;
        }
      }
    }

    .common-fake-table-card {
      grid-template-columns: 1fr 126px 18px;
      column-gap: 12px;
      align-items: center;
      padding-left: 6px;
    }
  }

  // Repair Order Modal Items
  &-repair-bill-item {
    .common-fake-table-label {
      p {
        &:nth-child(2) {
          margin-left: 36px;
        }

        &:nth-child(3) {
          margin-left: 212px;
        }

        &:nth-child(4) {
          margin-left: 26px;
        }

        &:nth-child(5) {
          margin-left: 63px;
        }

        &:nth-child(6) {
          margin-left: 74px;
        }
      }
    }

    .common-fake-table-card {
      grid-template-columns: 18px 332px 90px 60px 100px;
      column-gap: 12px;
      align-items: center;
      padding-left: 6px;
      position: relative;
      align-items: center;

      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        color: #919191;

        &:nth-child(1) {
          padding-left: 8px;
        }

        &::-moz-selection {
          background-color: #919191 !important;
        }

        &::selection {
          background-color: #919191 !important;
        }
      }

      &.card-item-active {
        p {
          color: #536bc2 !important;
          &::selection {
            background-color: rgb(83, 107, 194, 0.2) !important;
          }
          &::-moz-selection {
            background-color: rgb(83, 107, 194, 0.2) !important;
          }
        }
      }

      .item-subtotal {
        text-align: end;
      }

      .desc-pm-container {
        position: relative;

        .pm-item {
          position: absolute;
          right: 6px;
          top: 1px;
        }

        .pm-svg {
          position: absolute;
          top: 0px;
          right: 9px;
          cursor: pointer;

          &.active {
            svg {
              path {
                fill: #536bc2;
              }
            }
          }
        }
      }
    }
  }

  &-repair-order-item {
    .common-fake-table-label {
      p {
        &:nth-child(2) {
          margin-left: 36px;
        }

        &:nth-child(3) {
          margin-left: 426px;
        }

        &:nth-child(4) {
          margin-left: 25px;
        }
      }
    }

    .common-fake-table-card {
      grid-template-columns: 18px 546px 60px;
      column-gap: 12px;
      align-items: center;
      padding-left: 6px;
      position: relative;
      align-items: center;

      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        color: #919191;

        &:nth-child(1) {
          padding-left: 8px;
        }

        &::-moz-selection {
          background-color: rgb(145, 145, 145, 0.2) !important;
        }

        &::selection {
          background-color: rgb(145, 145, 145, 0.2) !important;
        }
      }

      &.card-item-active {
        p {
          color: #536bc2 !important;
          &::selection {
            background-color: rgb(83, 107, 194, 0.2) !important;
          }
          &::-moz-selection {
            background-color: rgb(83, 107, 194, 0.2) !important;
          }
        }
      }

      .desc-pm-container {
        position: relative;

        .pm-item {
          position: absolute;
          right: 6px;
          top: 1px;
        }

        .pm-svg {
          position: absolute;
          top: 0px;
          right: 9px;
          cursor: pointer;

          &.active {
            svg {
              path {
                fill: #536bc2;
              }
            }
          }
        }
      }
    }
  }
}
