@import "src/theme/variables";

//------------------------ Form Container Classes ---------------------------------------------------
.form-container {
  margin-top: 26px;

  label {
    &.control-label {
      margin-bottom: 20px;
    }
  }

  .row {
    margin-bottom: 32px !important;

    & > * {
      padding: 0px;
    }
  }

  .first-row {
    margin-top: 26px;
  }

  .dropdown-row {
    margin-bottom: 28px !important;
  }

  // If has something below row
  .last-row {
    margin-bottom: 22px !important;
  }

  // If modal buttons directly below row
  .last-modal-row {
    margin-bottom: 20px !important;
  }

  .no-p-left {
    padding-left: 0px !important;
  }

  .no-p-right {
    padding-right: 0px !important;
  }

  .divider {
    height: 2px;
    content: "";
    border-radius: 1px;
    background-color: #f3f3f3;
  }

  //------------------------ TABS ---------------------------------------------------
  &.tab-2 {
    margin-top: 12px;
  }

  .animation-three-tabs {
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 100%);
  }

  .animation-two-tabs {
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(2, 100%);
  }

  //------------------------ Custom Schedule Of Inputs ------------------------------

  //---------------- Bank Inputs ----------------
  .custom-bank-row {
    display: grid;
    grid-template-columns: 164px 100px 168px;
    -moz-column-gap: 12px;
    column-gap: 12px;
    margin-bottom: 32px;
  }

  //---------------- Custom Checkbox Card With Content In ----------------
  .custom-checkbox-card {
    display: block;

    .checkbox-card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 6px;
      line-height: 18px;

      .checkbox-card-header-arrow {
        svg {
          transform: rotate(0deg);
          transition: all 0.3s ease-in-out;
        }
        &.rotate {
          svg {
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    .checkbox-card-body {
      .animation-checkbox-card-tabs {
        position: relative;
        transform: translate(20%);
        opacity: 0;
        height: 0px;
        transition: all 0.3s ease-in-out;

        &.fade {
          transform: translate(0);
          opacity: 1;
          height: 26px;
          margin-top: 26px;
          margin-bottom: 22px;
          transition: all 0.3s ease-in-out;

          // Override global class
          .row {
            margin-bottom: 0px !important;
          }
        }
      }

      // Truck Modal
      .animation-checkbox-card-tabs-truckModal {
        height: 48px;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  //---------------- Pay Type & Notifications ----------------
  .custom-row-paytype-notification {
    display: grid;
    grid-template-columns: 151px 1fr;
    -moz-column-gap: 22px;
    column-gap: 22px;
    align-items: center;
    margin-bottom: 20px;

    &.divide-margin {
      margin-bottom: 0px;
    }

    .paytype-field-notification {
      display: grid;
      grid-template-columns: 91px 186px;
      grid-template-rows: 26px;
      align-items: center;
      -moz-column-gap: 6px;
      column-gap: 6px;

      p {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: #919191;
      }

      .btn-group {
        margin: 0px;
        background: #f3f3f3;
        border: none;
        outline: none;
        padding: 2px;
        height: 26px;

        .btn {
          font-size: 12px;
          font-weight: bold;
          border: none;
          outline: none;
          color: #b7b7b7;
          height: 22px;
          border-radius: 1px;
          padding: 2px 8px;

          &:nth-child(2) {
            margin: 0 2px;
          }

          &.active {
            background: #ffffff;
            color: #536bc2;
          }
        }
      }
    }
  }

  //---------------- PayType Commission ----------------
  .paytype-commission {
    display: grid;
    grid-template-columns: 204px 213px;
    grid-template-rows: 22px;
    grid-column-gap: 27px;
    -moz-column-gap: 27px;
    column-gap: 27px;
    padding: 0 6px;
    margin-bottom: 12px;
  }

  //---------------- PayType Per Mile ----------------
  .paytype-permile {
    padding-left: 6px;
    .permile-fields {
      display: grid;
      grid-template-columns: auto repeat(3, 124px);
      grid-template-rows: 26px;
      margin-bottom: 32px;
      -moz-column-gap: 12px;
      column-gap: 12px;
      align-items: center;

      p {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: #6c6c6c;
      }

      &:nth-last-child(1) {
        margin-bottom: 10px;
      }
    }
  }

  //---------------- Emergency Contact ----------------
  .emergency-contact {
    display: grid;
    grid-template-columns: 150px 170px 112px;
    -moz-column-gap: 12px;
    column-gap: 12px;
    height: 36px;
    margin-top: 26px;
    transition: all 0.3s ease-in-out;
  }

  //---------------- Off Duty Locations ----------------
  .offDutyLocations {
    .offDutyLocations-label {
      padding: 0 6px;
      display: flex;
      align-items: center;
      line-height: 15px;
      margin-bottom: 6px;

      p {
        margin: 0;
        font-size: 12px;
        font-weight: 700;
        color: #919191;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:nth-child(2) {
          margin-left: 52px;
        }
      }
    }

    .offDutyLications-card {
      background-color: #f7f7f7;
      padding-right: 6px;
      display: grid;
      grid-template-columns: 110px 304px 1fr;
      grid-template-rows: 26px;
      -moz-column-gap: 12px;
      column-gap: 12px;
      margin-bottom: 2px;
      align-items: center;

      .offDutyLocation-delete {
        width: 18px;
        height: 18px;
        position: relative;
        bottom: 3.5px;
        right: 4.5px;
        display: none;
        cursor: pointer;
        svg {
          path {
            fill: #aaaaaa;
          }
          &:hover {
            transition: all 0.3s ease-in-out;

            path {
              fill: #ef5350;
            }
          }
        }
      }

      &:hover .offDutyLocation-delete {
        display: inline-block;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  //---------------- TireSize & Axles ----------------
  .tireSize-axles {
    display: grid;
    grid-template-columns: 130px 46px;
    align-items: center;
    -moz-column-gap: 12px;
    column-gap: 12px;
  }
}

//---------------- Model Color Year Length ----------------
.custom-model-color-year-length {
  display: grid;
  grid-template-columns: 100px 126px 88px 106px;
  column-gap: 12px;
}

// ------------------------------------------------ end ------------------------------------------------




