@import 'src/theme/variables';
@import './mixins.scss';

.chart_custom_tooltip {
    width: 122px;
    padding: 2px 5px;

    background-color: $white;
    border-radius: 3px;

    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);

    font-size: 10px;
    font-weight: bold;
    color: $bw5;

    .tooltip_holder {
        display: flex;
        justify-content: space-between;

        padding: 1px 0;
    }

    .title {
        position: absolute;
        top: 100%;
        left: 0;
        height: 22px;
        margin: 0;
        display: flex;
        align-items: center;
        width: 100px;

        transform: translateX(-50%);
        background: white;

        justify-content: center;
        transition: $transition;

        font-size: 10px;
        font-weight: 700;
        color: #dadada;
    }

    .growLine {
        color: #24c1a1;
    }
}

.chart_main_holder {
    chart {
        canvas {
            background-image: url('/assets/img/chart-images/doted-line.png');
            background-size: 15px auto;
        }
    }

    &.vehicle-chart {
        chart {
            height: 400px;
        }
    }

    &.loading_chart {
        chart {
            height: 420px;

            canvas {
                background-image: url('/assets/img/chart-images/doted-line.png');
                background-size: 15px auto;
            }
        }
    }

    &.chat_invoce {
        chart {
            height: 335px;

            canvas {
                background-image: url('/assets/img/chart-images/doted-line.png');
                background-size: 15px auto;
            }
        }
    }
}

.cursor-pointer {
    z-index: 9;
}

.c-pointer {
    cursor: pointer;
}

// GLOBAL SCROLLBAR
body {
    overflow-y: scroll !important;
}

*:not(.scroll-input-drodpwon):not(.description-item):not(
        .table-inner-modal
    ):not(.scrollable):not(.columns-scroll.items-scroll):not(
        .scrollable-element
    ):not(.dropdown-options.scroll):not(.navigation-middle):not(
        .map-list-body
    ):not(.cluster-marker-container):not(
        .shop-details-item-repair-main-dropdown
    ):not(.description-items):not(.ca-scroll-bar):not(.dropdown-content) {
    scrollbar-width: none !important; /* Firefox */

    &::-webkit-scrollbar {
        width: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(145, 145, 145, 0.7);
        border: 5px solid #eeeeee;
        border-radius: 1px;

        &:hover {
            background-color: rgba(145, 145, 145, 1);
        }
    }

    &::-webkit-scrollbar-track {
        position: absolute;
        right: -3rem;
        top: -50rem;
        background: transparent;
    }
}

.scrollable-element {
    margin: 2px 2px 2px 0;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: $muted;
        border-radius: 5px;
    }

    &.remove-scroll-track {
        padding-right: 4px;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: $ta-light-grey-6;
        }
    }
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

html {
    body {
        app-ca-modal,
        app-ta-modal {
            .ta-custom-card {
                .ta-card-body.scroll-x-axis {
                    overflow-x: scroll !important;
                    scrollbar-width: thin !important;
                    overflow-x: scroll;
                    margin-left: 196px;
                    overflow-x: visible;
                    padding: 0;
                    scrollbar-width: thin !important;

                    &.department-contacts-x-axis {
                        margin-left: 160px !important;
                    }
                }
            }
        }
    }
}

.stop-items-number {
    position: absolute;
    width: 26px;
    left: 26px;
    top: auto;
    border-top-width: 1px;
    margin-top: -1px;
}

.load-items-table .stop-items-number {
    padding-left: 0 !important;
}

.stop-items-desc {
    position: absolute;
    width: 150px;
    left: 60px;
    top: auto;
    border-top-width: 1px;
    margin-top: -1px;
}

.dropdown-option {
    &.booked {
        .svgtext-template-text {
            color: $ta-light-grey-2;
        }
    }

    &.cancelled {
        .svgtext-template-text {
            color: $ta-red-14;
        }
    }

    &.assigned {
        .svgtext-template-text {
            color: $ta-green-1;
        }
    }

    &.unassigned {
        .svgtext-template-text {
            color: $muted;
        }
    }

    &.dispatched {
        .svgtext-template-text {
            color: $ta-blue-13;
        }
    }

    &.split {
        .svgtext-template-text {
            color: $ta-red-17;
        }
    }
}

.dragdrop-custom-placeholder-assign-load {
    background-color: $ta-black !important;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    height: 32px;
    width: 100%;
    display: flex;
    border-radius: 3px;
    max-width: 616px;
}

.dragdrop-custom-placeholder {
    background: $ta-light-grey-5;
    box-shadow: 0px 0px 4px 0px #0000004d inset;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    height: 42px;
    width: 100%;
    display: flex;
    border-radius: 3px;
    max-width: 616px;
}

.load-stop-drag-icon {
    display: none;
}

.cdk-drag-preview {
    background-color: $white !important;

    .load-stop-counter-container {
        display: none !important;
    }

    .load-stop-header-remove-btn {
        display: block !important;
    }

    .load-stop-container {
        .load-stop-drag-icon {
            display: block;

            svg path {
                fill: $white !important;
            }
        }

        .load-delete-drag-icon {
            display: none;
        }

        .load-stop-header-bar {
            background-color: $ta-black-2 !important;

            .load-stop-content-up {
                p,
                span {
                    color: $white !important;
                }
            }
        }
    }
}

app-load-modal .note-container .note-header .note-arrow {
    right: 0 !important;
}

app-load-modal {
    .comments-container {
        padding: 6px 0 !important;
    }

    .comment-container {
        margin-bottom: 6px;
    }
}

.status__dropdown-body .load-status {
    font-size: 12px !important;
}

.load-modal-table-items-container {
    .valid-focus-out {
        .input-required-check {
            display: none;
        }

        .valid-focus-out-filled {
            &:hover {
                background-color: $ta-blue-17;
            }
        }
    }

    .input-control {
        &.valid-focus-in {
            background-color: $black;
        }
    }
}

.mouse-pointer {
    cursor: pointer;
}

.flex-1 {
    flex: 1;
}

.pos-absolute {
    position: absolute;
}

.dispatch-load-grid {
    grid-template-columns: 30px 176px 151px 151px 1fr;
    gap: 4px;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.h-full {
    height: 100%;
}

.ta-custom-card .ta-card-body.scroll.h-full {
    scrollbar-width: thin !important;
    padding-bottom: 30px;
    overflow-y: auto !important;
}

.ml-3 {
    margin-left: 6px;
}

.mr-3 {
    margin-right: 6px;
}

.mr-12 {
    margin-right: 12px !important;
}

.dispatch-load {
    .ta-custom-card .ta-card-header {
        height: 33px;
    }

    .reodering-button {
        &:hover {
            color: $ta-black;
            background-color: $bw-9;
        }

        &-finish {
            color: $white;
            background-color: $ta-blue-14;

            &:hover {
                color: $white;
                background-color: $ta-blue-15;
            }
        }
    }
}

// TODO:
.nav-item-box {
    display: none;
}

.dark-nav {
    .navigation-routes-last {
        background-color: $ta-black-2 !important;
    }
}

.dark-nav {
    .nav-item {
        margin-left: 6px !important;
        margin-right: 6px;
        width: 238px !important;
        padding-right: 6px;

        .nav-item-arrow_top {
            path {
                fill: $white-4 !important;
            }
        }

        &:hover {
            background-color: $ta-black !important;

            .nav-item-img-active {
                svg path {
                    fill: $ta-light-grey-6 !important;
                }
            }
        }

        &.nav-item-parent-active {
            &:hover {
                .animation-text,
                .nav-item-name-active {
                    color: $ta-blue-19 !important;
                }

                .nav-item-img-active svg path {
                    fill: $ta-blue-19 !important;
                }
            }
        }
    }

    .nav-item-arrow {
        margin-left: 4px !important;
    }

    .subroute-item {
        &:hover {
            svg path {
                fill: $white-4 !important;
            }
        }
    }
}

.animation .nav-item.nav-item-active-box:hover svg path {
    fill: $ta-blue-15 !important;
}

.navigation-routes-last .subroutes-container {
    .subroutes {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 3px;

        .subroutes-item {
            top: 0 !important;
            margin-left: 12px !important;
            flex: 1;
        }

        .nav-item-img {
            svg {
                width: 18px;
                height: 18px;
            }
        }

        .subroutes-active-checkpoint {
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            margin-right: 4px;
        }

        .nav-item-arrow_top {
            position: relative !important;
            top: 0 !important;
        }
    }

    .nav-item-img-active {
        width: 18px;
        height: 24px;
    }
}

// description items text count directive
.items-counter-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 18px;
    border-radius: 50%;
    margin-left: auto;
    background: $dark-2;
    margin-left: 4px;
}

.pl {
    &-0 {
        padding-left: 0 !important;
    }

    &-3 {
        padding-left: 3px;
    }
}

.position {
    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }
}

// Use case for deleting modal opening from modal
html ngb-modal-backdrop {
    opacity: 0 !important;

    &:first-of-type {
        opacity: 0.2 !important;
        background: $bw5 !important;
    }
}

.modal-payroll-report {
    .modal-original-part {
        width: 100%;
    }
}

.mb-12 {
    margin-bottom: 12px !important;
}

.modal-date-border {
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $ta-light-grey-6;
}

.modal-buttons {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}

.payroll-number.text-color-white {
    color: $white !important;
}

.prevent-text-selection {
    @include prevent-text-selection();
}

// #region middle ellipsis

.mete {
    height: 1.5em;
    line-height: 1.5em;
}

.mete-start,
.mete-end {
    overflow: hidden;
    height: inherit;
    flex: 0 1 auto;
}

.mete-start {
    word-break: break-all;
}

.mete-end {
    white-space: nowrap;
    direction: rtl;
    text-overflow: ellipsis;
}

.mete-end::after {
    content: '\200E';
}

// #endregion
.map-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 0px;
    z-index: 1;
}

.disable-text-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-0 {
    line-height: 0;
}

ngb-modal-window.modal {
    backdrop-filter: blur(0.0625rem);
    background: $dark-3 !important;
}
