@import '../../theme/variables.scss';

.toolbar-relative {
    position: relative;
    width: 100%;
    padding-right: 18px;
    z-index: 2;
}

.customer-map-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 56px;
    z-index: 1;

    .marker-divider {
        height: 2px;
        width: 100%;
        margin-top: 8px;
    
        background: $ta-light-grey-4;
    
        border-radius: 1px;
    }

    agm-map {
        width: 100%;
        height: 100vh;

        .gm-bundled-control {
            right: 34px !important;
            bottom: 58px !important;
            
            .gmnoprint {
                width: 26px;
                height: 50px;

                :first-child {
                    width: 26px !important;
                    height: 50px !important;
                    box-shadow: none !important;

                    .gm-control-active {
                        width: 26px !important;
                        height: 25px !important;

                        img {
                            width: 12px !important;
                            height: 12px !important;
                        }

                        &:hover {
                            img:nth-child(4) {
                                display: none !important;
                            }
                        }
                    }

                    div {
                        display: none !important;
                    }
                }
            }
        }

        .si-shadow-frame {
            box-shadow: none;
        }
        
        .si-float-wrapper {
            z-index: 998;
            
            pointer-events: none;

            &:has(.show-marker-dropdown) {
                z-index: 999;
            }
        }

        .si-content-wrapper {
            position: relative;
            width: 360px;
            border: none;

            padding: 0px;
            overflow: visible;
            background: none!important;

            .si-content {
                max-width: none !important;
                max-height: none !important;
                overflow: hidden;
                transition: height 0.15s ease-in-out;
                overflow: visible;

                &.marker-tooltip-shadow {
                    box-shadow: $box-shadow;
                }
            }
        }
        
        .marker-business-name {
            font-size: 18px;
            font-weight: 700;
            color: $bw6-2;
            text-transform: uppercase;
            line-height: 22px;

            &::-moz-selection {
                color: $bw6-2;
                background: #6c6c6c33;
              }
            &::selection {
                color: $bw6-2;
                background: #6c6c6c33;
            }
        }
        
        .marker-expanded-view {
            overflow: hidden;
            opacity: 1;

            transition: height 0.15s ease-in-out;

            &.unopened{
                transition: height 0.15s ease-in-out;
            }
        }

        .marker-title {
            font-size: 14px;
            font-weight: 800;
            line-height: 18px;
            color: $bw6-2;
            margin-top: 6px;
        }

        .marker-container-expand {
            position: absolute;
            right: 8px;
            bottom: 8px;

            cursor: pointer;
            
            .marker-expand-svg {
                display: inline-block;
                transition: all 0.15s ease-in-out;
                
                &:hover {
                    svg {
                        path {
                            fill: $bw6-2;
                        }
                    }
                }

                &.rotate {
                    transform: rotate(180deg);

                    svg {
                        path {
                            fill: $bc1;
                        }
                    }

                    &:hover {
                        svg {
                            path {
                                fill: $ta-blue-2;
                            }
                        }
                    }
                }
            }
        }
        
        .marker-expanded-info-container {
            margin-top: 12px;
        }

        .data-count {
            height: 24px;
            min-width: 24px;
            border-radius: 2px;
            background: $ta-light-grey-4;
            padding: 3px 4px;
            margin-right: 4px;
            font-size: 14px;
            font-weight: 800;
            color: $bw6-2;
            line-height: 18px;
            user-select: none;
        }

        .marker-info-container-all {
            padding-left: 4px;
            
            .show-more {
                //top: 7px;
                height: 18px;
                margin-top: 2px;

                .table-dropdown-container {
                    transform: rotate(90deg);
                }
            }
        }
        
        .marker-info-container {
            display: flex;
            margin-top: 12px;
        }
        
        .marker-info-svg {
            margin-right: 6px;
        }
    }
}

.marker-container {
    position: absolute;
    left: 50%;
    top: -37px;
    transform: translateX(-17px);
    pointer-events: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        .marker-tooltip {
            color: #3C3C3C;

            .orange-text {
                color: #FF9800 !important;
            }

            .red-text {
                color: #F44336 !important;
            }

            .blue-text {
                color: #3551B7 !important;
            }
        }

        .marker-icon {
            svg {
                #Ellipse_6005 {
                    fill: $ta-blue-2;
                }
            }

            &.permanently-closed-icon {
                svg {
                    #Ellipse_6005 {
                        fill: #F44336;
                    }
                }
            }

            &.fuel-marker {
                svg {
                    #Ellipse_6005 {
                        fill: #FFB300;
                    }
                }
            }
        }
    }
}

.marker-tooltip {
    max-width: 90px;

    color: $bw6-2;
    //color: #F44336 !important;
    //margin-left: 15px;
    text-shadow: 1px 1px 0px $white, 1px -1px 0px $white, -1px -1px 0px $white, -1px 1px 0px $white;
    text-transform: uppercase;
    font-size: 11px !important;
    line-height: 12px;
    font-weight: 600;
    text-align: left;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 1;
    transition: 0.15s;
    user-select: none;
    cursor: pointer;

    @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.hide-marker-tooltip {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.marker-rating-container {
    display: flex;
    align-items: center;
    height: 14px;
    user-select: none;

    .marker-rating {
        margin-right: 12px;
        cursor: pointer;

        .marker-rating-svg {
            margin-right: 4px;

            &:hover {
                svg {
                    path {
                        fill: $ta-light-grey-2;
                    }
                }
            }

            &.has-liked-icon {
                svg {
                    path {
                        fill: #4DB6A2;
                    }
                }

                &:hover {
                    svg {
                        path {
                            fill: #26a690;
                        }
                    }
                }
            }
            
            &.has-disliked-icon {
                svg {
                    path {
                        fill: #E57373;
                    }
                }

                &:hover {
                    svg {
                        path {
                            fill: #ef5350;
                        }
                    }
                }
            }
        }
    }
}

        
.marker-info-text {
    font-size: 14px;
    line-height: 18px;
    color: $bw6-2;

    &::-moz-selection {
        color: $bw6-2;
        background: #6c6c6c33;
      }
    &::selection {
        color: $bw6-2;
        background: #6c6c6c33;
    }

    .title-text {
        &::-moz-selection {
            color: $bw6-2;
            background: #6c6c6c33;
          }
        &::selection {
            color: $bw6-2;
            background: #6c6c6c33;
        }
    }
}

.marker-semibold-text {
    font-weight: 600;
}

.marker-bold-text {
    font-weight: 700;

    &::-moz-selection {
        color: $bw6-2;
        background: #6c6c6c33;
      }
    &::selection {
        color: $bw6-2;
        background: #6c6c6c33;
    }
}

.marker-extrabold-text {
    font-weight: 800;
}

.marker-like-text {
    font-size: 11px;
    line-height: 14px;
    color: $bw6-2;

    &::-moz-selection {
        color: $bw6-2;
        background: #6c6c6c33;
      }
    &::selection {
        color: $bw6-2;
        background: #6c6c6c33;
    }
}

.uppercase {
    text-transform: uppercase;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2px;

    .show-more {
        position: relative;
        height: 18px;
        cursor: pointer;

        &.table-dropdown-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            cursor: pointer;

            .dropdown-dots {
                svg {
                    width: 18px;
                    height: 18px;

                    path {
                        fill: #AAAAAA;
                    }
                }
            }

            &:hover {
                .dropdown-dots {
                    svg {
                        path {
                            fill: #6C6C6C;
                        }
                    }
                }
            }

            &.active-drop {
                .dropdown-dots {
                    svg {
                        path {
                            fill: #6C6C6C !important;
                        }
                    }
                
                    &:hover {
                        svg {
                            path {
                                fill: #3d3d3d !important;
                            }
                        }
                    }
                }
              }
          }
    }
}

.blue-resize-svg {
    svg {
        path {
            fill: $bc1;
        }
    }
}

.red-text {
    color: #EF5350!important;
}

.marker-distance-left {
    margin-top: 2px;

    .marker-time-left-text {
        font-size: 14px;
        line-height: 18px;
        color: $ta-light-grey-2;
    }
}

.permanently-closed-text {
    display: flex;
    color: $ta-light-grey-2;
}

.permanently-closed-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.mg-bottom-2 {
    margin-bottom: 2px;
}

.mg-bottom-4 {
    margin-bottom: 4px;
}

.mg-bottom-8 {
    margin-bottom: 8px;
}

.mg-top-2 {
    margin-top: 2px;
}

.mg-top-4 {
    margin-top: 4px;
}

.mg-top-6 {
    margin-top: 6px !important;
}

.mg-left-4 {
    margin-left: 4px;
}

.mg-left-6 {
    margin-left: 6px;
}

.mg-left-8 {
    margin-left: 8px;
}

.mg-left-12 {
    margin-left: 12px !important;
}

.marker-icon {
    // position: absolute;
    // top: -40px;
    // left: 50%;
    // transform: translateX(-50%);
    user-select: none;
    z-index: 10;
    cursor: pointer;
    transition: all 0.15s;

    pointer-events: auto;

    svg {
        #Ellipse_6007 {
            filter: 'blur(2px)';
        }
    }

    &:hover {
        svg {
            #Ellipse_6005 {
                fill: $ta-blue-2;
            }
        }
    }

    &.permanently-closed-icon {
        &:hover {
            svg {
                #Ellipse_6005 {
                    fill: #F44336;
                }
            }
        }
    }

    &.selected-marker {
        transform: translate(0, -35%) scale(2);

        svg {
            #Ellipse_6006 {
                //r: 3;
                // transform: translate(14px, 14px) scale(0.5); - old svg

                transform: translate(644px, 2298px) scale(0.5);

                transition: all 0.15s;
            }
        }
    }

    &.fuel-marker {
        svg {
            #Ellipse_6005 {
                fill: #FEC107;
            }
        }
    }

    &.inactive {
        svg {
            #Ellipse_6005 {
                fill: #919191;
            }
        }

        &:hover {
            svg {
                #Ellipse_6005 {
                    fill: #6C6C6C;
                }
            }
        }
    }
}

.marker-dropdown {
    opacity: 0;
    transform: scale(0.8) !important;
    pointer-events: none;
    transition: all 0.15s ease-out !important;

    &.cluster-dropdown {
        display: flex;
        justify-content: center;
    }
}

.show-marker-dropdown {
    opacity: 0.5;
    transform: scale(0.8) !important;

    pointer-events: auto;

    &.marker-dropdown-animation {
        opacity: 1;
        transform: scale(1) !important;
    }

    &.fade {
        -webkit-animation-name: fade-in-scale-animation 0.5s;
        animation-name: fade-in-scale-animation 0.5s;
    }

    &.show {
        opacity: 1;
        transform: scale(0.6) !important;
        transition: all 0.15s ease-out !important;
    }

    &.modal-animation {
        opacity: 1;
        transform: scale(1) !important;
    }
}

// marker label
.gm-style div[aria-hidden = "true"] {
    width: 90px;

    color: $bw6-2 !important;
    //color: #F44336 !important;
    margin-left: 124px;
    text-shadow: 1px 1px 0px $white, 1px -1px 0px $white, -1px -1px 0px $white, -1px 1px 0px $white;
    text-transform: uppercase;
    font-size: 11px !important;
    line-height: 12px;
    font-weight: 600;
    text-align: left;
    font-family: "Montserrat", "sans-serif" !important;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

@-webkit-keyframes fade-in-scale-animation {
    0% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(1);
    }
}
  
@keyframes fade-in-scale-animation {
    0% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(1);
    }
}

.orange-text {
    color: #FFA726 !important;
}

.red-text {
    color: #EF5350 !important;
}

.blue-text {
    color: #536BC2 !important;
}

.lowercase {
    text-transform: lowercase !important;
}

.accident-report-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;

    &.inspection-container {
        justify-content: flex-start;

        .accident-svg-container {
            margin-right: 22px;
        }
    }

    .accident-svg-container {
        display: flex;
        align-items: center;
        margin-right: 13px;

        .accident-report-svg {
            margin-right: 4px;
        }

        &.vehicles-number {
            .marker-like-text {
                color: #6C6C6C !important;
            }

            svg {
                path {
                    fill: #919191;
                }
            }
        }

        &.injury-number {
            .marker-like-text {
                color: #FFA726 !important;
            }

            svg {
                path {
                    fill: #FFB74D;
                }
            }
        }

        &.fatality-number {
            .marker-like-text {
                color: #EF5350 !important;
            }

            svg {
                path {
                    fill: #E57373;
                }
            }
        }

        &.towing {
            .marker-like-text {
                color: #536BC2 !important;
            }

            svg {
                path {
                    fill: #6D82C7;
                }
            }

            &.inactive {
                text-decoration: line-through;
                text-decoration-color: #CCCCCC;
            }
        }

        &.hazard {
            .marker-like-text {
                color: #536BC2 !important;
            }

            svg {
                path {
                    fill: #6D82C7;
                }
            }

            &.inactive {
                text-decoration: line-through;
                text-decoration-color: #CCCCCC;
            }
        }

        &.violation-number {
            .marker-like-text {
                color: #536BC2 !important;
            }

            svg {
                path {
                    fill: #6D82C7;
                }
            }   
        }

        &.inactive {
            .marker-like-text {
                color: #CCCCCC !important;
            }

            svg {
                path {
                    fill: #DADADA;
                }
            }
        }
    }
}

.driver-name-container {
    display: flex;
    align-items: center;

    .driver-svg {
        display: flex;
        height: 14px;
        margin-right: 4px;
    }
}

.marker-fuel-svg {
    margin-right: 4px;

    svg {
        rect {
            fill: #FEC107;
        }
    }
}



.map-zoom-controls {
    position: absolute;
    right: 18px;
    bottom: 18px;

    z-index: 1;

    .map-zoom-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 50px;
        width: 26px;

        background: #fff;
        border-radius: 3px;

        .map-zoom-button {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 25px;
            width: 26px;

            cursor: pointer;

            svg {
                path {
                    fill: #AAAAAA;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: #3c3c3c;
                    }
                }
            }
        }
    }
}

.highlighted-text {
    font-weight: 900;
    background: none;
    padding: 0;
    color: inherit;
}