@import 'src/theme/variables';

.new-table {
    width: calc(100% - 24px);

    &--header {
        margin-top: 17px !important;
    }

    &--toolbar {
        height: 34px;
        // Extract to radius
        border-radius: 3px 0 0 3px;
        width: 100%;

        &-action {
            // Extract to radius
            border-radius: 3px;
            line-height: 20px !important;

            // TODO: Should this be component maybe
            &-counter {
                font-size: 11px;
                line-height: 18px;
                height: 18px;
                min-width: 18px;
                border-radius: 50px;
                background: #919191;
                color: #ffffff;
                padding: 0px 5px;
                transition: 0.25s;
                text-align: center;

                &-light {
                    background: #ffffff !important;
                    color: #424242 !important;
                }
            }
        }

        &-divider {
            height: 34px;
            background: #ffffff;
            padding: 0 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 4px;
            &-border {
                width: 2px;
                height: 18px;
                border-radius: 1px;
                background: #cccccc;
            }
        }

        &-plus-icon {
            background: $ta-blue-14;
            height: 36px;
            width: 36px;
            padding: 8px;
            border-radius: 3px;
            transition: $transition;

            &:hover {
                height: 44px;
                width: 44px;
                padding: 12px;
                background: $ta-blue-15;
            }
        }
    }
}
