@import 'src/theme/variables';

.ta-ngx-slider,
.custom-slider-commission {
    margin-top: 18px;
    display: flex;
    flex-direction: column;

    &.disabled {
        .custom-slider-text {
            color: $bw5 !important;

            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        .ngx-slider {
            pointer-events: none;

            .ngx-slider-span {
                color: $bw5 !important;
            }
        }
    }

    .custom-slider-text {
        font-size: 11px;
        font-weight: 600;
        color: $bw6-2;
        margin-bottom: 10px !important;

        &::-moz-selection {
            background-color: rgb(108, 108, 108, 0.2);
            color: $bw6-2;
        }

        &::selection {
            background-color: rgb(108, 108, 108, 0.2);
            color: $bw6-2;
        }
    }

    .ngx-slider {
        margin: 0 !important;

        // FULL LINE
        .ngx-slider-bar {
            height: 6px;
            background: $ta-light-grey-4 !important;
        }

        // ACTIVE LINE
        .ngx-slider-selection {
            background-color: $ta-blue-13 !important;
        }

        // Number
        .ngx-slider-bubble {
            cursor: pointer;
            color: $ta-blue-13 !important;
            font-size: 12px !important;
            box-shadow: 0 0 4px rgb(0 0 0 / 15%) !important;
            border-radius: 2px;
            background-color: $white;
            font-weight: bold !important;
            position: absolute;
            top: -7.5px;
            width: 50px;
            height: 20px;
            z-index: 1;
            text-align: center;
            padding-left: 4px;
            outline: none;
            border: none;
            &::after {
                content: '%';
            }
        }

        // Pointer
        .ngx-slider-pointer {
            width: 44px;
            height: 22px;
            background-color: transparent !important;

            border-radius: 20px !important;
            top: -8.5px;

            .ngx-slider-active {
                cursor: grabbing;
            }

            &::after {
                content: none !important;
            }
        }
    }
    //------------------------- Different Templates of NGX-SLIDER ---------------------------

    //-------------- Driver Modal --------------
    &.custom-driver-modal {
        margin-top: -6px !important;

        .custom-slider-text {
            font-size: 11px;
            line-height: 14px;
            font-weight: 600;

            color: $ta-black;

            &::-moz-selection {
                color: $ta-black;
                background: rgb(66, 66, 66, 0.2);
            }

            &::selection {
                color: $ta-black;
                background: rgb(66, 66, 66, 0.2);
            }
        }

        &-single {
            display: grid;
            grid-template-columns: 18% 1fr;
            align-items: center;
            grid-gap: 12px;

            .custom-slider-text {
                margin-bottom: 0 !important;
            }
        }
    }
    //-------------- Truck Modal, User Modal --------------
    &.custom-truck-modal,
    &.custom-user-modal {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 12px;
        margin: 0 !important;

        .custom-slider-text {
            margin: 0 !important;
        }

        &.required {
            .custom-slider-text {
                &::after {
                    content: ' *';
                    color: #ef5350;
                }
            }
        }
    }

    &.custom-user-modal {
        position: relative;
        top: 5px;
    }

    //-------------- Logo Change --------------
    &.custom-slider-logo-change {
        width: 264px;
        position: relative;
        bottom: 2px;

        &.modal-container-S {
            width: 264px;
        }

        &.modal-container-M {
            width: 424px;
        }

        &.modal-container-XL {
            width: 644px;
        }

        .ngx-slider {
            margin: 0 !important;

            .ngx-slider-bar {
                height: 6px;
                background: $ta-light-grey-4 !important;
            }

            .ngx-slider-selection {
                background: $bw4 !important;
            }
            .ngx-slider-bubble {
                display: none;
            }

            .ngx-slider-pointer {
                width: 18px;
                height: 18px;
                top: -6px !important;
                background-color: $white !important;
                box-shadow: 0 0 4px rgb(0, 0, 0, 0.15) !important;
                border-radius: 20px !important;

                &::after {
                    content: none !important;
                }
            }
        }
    }

    //-------------- Dispatch Manager --------------
    &.custom-slider-dispatch-manager {
        position: relative;
        bottom: 32px;
    }

    //-------------- Class for adding percentage .0 --------------
    &.custom-slider-with-percentage {
        .ngx-slider {
            .ngx-slider-bubble {
                &::after {
                    content: '.0%' !important;
                }
            }
        }
    }

    // No Margin
    &.negative-margin {
        margin-top: -16px !important;
    }
}
