// Table Dropdown Popup
.table-dropdown-popover {
  user-select: none;

  .popover-body {
    z-index: 60;
    .table-dropdown {
      width: fit-content;
      height: auto;
      border-radius: 3px;
      background: white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
      padding: 2px;

      .table-dropdown-content {
        cursor: pointer;
        width: 100%;
        height: 26px;
        border-radius: 2px;
        display: flex;

        .dropdown-content-icon,
        .dropdown-content-text {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .dropdown-content-icon {
          width: 26px;
          height: 26px;

          div {
            background-repeat: no-repeat;
            background-position: center;
          }

          // ICONS
          .edit {
            width: 16px;
            height: 16px;
            background-image: url("../../assets/png/table-dropdown/edit.png");
          }

          .add {
            width: 16px;
            height: 16px;
            background-image: url("../../assets/png/table-dropdown/add.png");
          }

          .activate {
            width: 16px;
            height: 16px;
            background-image: url("../../assets/png/table-dropdown/activate.png");
            background-size: 16px 16px;
          }

          .reset {
            width: 16px;
            height: 16px;
            background-image: url("../../assets/png/table-dropdown/reset.png");
            background-size: 16px 16px;
          }

          .delete {
            width: 14px;
            height: 16px;
            background-image: url("../../assets/png/table-dropdown/delete.png");
          }

          .deactivate {
            width: 18px;
            height: 18px;
            background-image: url("../../assets/svg/common/ic_deactivate.svg");
          }
          .dm {
            width: 14px;
            height: 16px;
            background-image: url("../../assets/svg/common/ic_dm.svg");
          }
          .print {
            width: 14px;
            height: 16px;
            background-image: url("../../assets/svg/common/ic_nohover_print.svg");
          }
          .email {
            width: 16px;
            height: 16px;
            background-image: url("../../assets/svg/common/ic_email.svg");
          }
        }

        .dropdown-content-text {
          font-size: 12px;
          font-weight: 400;
          padding-right: 4px;
          white-space: nowrap;
        }
      }

      .regular-text {
        &:hover {
          background: #f7f7f7;
          transition: 0.25s;

          .dropdown-content-text {
            color: #919191;
          }

          .dropdown-content-icon {
            // ICONS
            .edit {
              background-image: url("../../assets/png/table-dropdown/edit-hover.png") !important;
            }

            .add {
              background-image: url("../../assets/png/table-dropdown/add-hover.png") !important;
            }

            .activate {
              background-image: url("../../assets/png/table-dropdown/activate-hover.png") !important;
            }

            .reset {
              background-image: url("../../assets/png/table-dropdown/reset-hover.png") !important;
            }
            .deactivate {
              background-image: url("../../assets/svg/common/ic_deactivate.svg");
            }
            .dm {
              background-image: url("../../assets/svg/common/ic_dm.svg");
            }
            .print {
              background-image: url("../../assets/svg/common/ic_print.svg");
            }
            .email {
              background-image: url("../../assets/svg/common/ic_email.svg");
            }
          }
        }

        .dropdown-content-text {
          color: #b7b7b7;
        }
      }

      .delete-text {
        &:hover {
          background: #f7f7f7;
          transition: 0.25s;

          .dropdown-content-text {
            color: #ff5d5d;
          }

          .dropdown-content-icon {
            // ICONS
            .delete {
              background-image: url("../../assets/png/table-dropdown/delete-hover.png") !important;
            }
          }
        }

        .dropdown-content-text {
          color: #ff8d8d;
        }
      }
    }
  }
}

// Details Dropdown Popup
.details-dropdown-popover {
  .popover-body {
    z-index: 60;
    .details-dropdown {
      width: fit-content;
      height: auto;
      border-radius: 3px;
      background: white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
      padding: 2px;

      .details-dropdown-content {
        cursor: pointer;
        width: 100%;
        height: 26px;
        border-radius: 2px;
        display: flex;
      }
    }
  }
}

// Options On Table Toolbar Popup
.toolbar-options-popover {
  box-shadow: none !important;
  background-color: transparent !important;

  .arrow {
    display: none !important;
  }

  .popover-body {
    width: fit-content !important;
    height: fit-content !important;

    .options-container {
      width: 130px !important;
      height: fit-content !important;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
      padding: 2px;
      border-radius: 3px;
      background: #ffffff;
      display: unset !important;
      /* position: relative; */
      position: absolute;
      right: -3px;

      .options {
        cursor: pointer;
        width: 100%;
        height: 26px;
        border-radius: 2px;
        margin: 0 !important;
        display: flex;
        align-items: center !important;
        justify-content: unset !important;

        &:hover {
          background: #f7f7f7;
          transition: 0.25s;
          .icon {
            svg-icon {
              svg {
                path,
                rect {
                  fill: #b7b7b7;
                  transition: 0.25s;
                }
              }
            }
          }

          .text {
            color: #919191;
            transition: 0.25s;
          }
        }

        .icon,
        .additional-drop-icon {
          width: 26px;
          display: flex;
          justify-content: center !important;
          align-items: center !important;

          svg-icon {
            display: flex;
          }
        }

        .additional-drop-icon {
          width: 6px !important;
          margin-left: auto;
          margin-right: 4px;
        }

        .text {
          width: fit-content !important;
          /* height: 26px !important; */
          justify-content: unset !important;
          font-size: 12px;
          font-weight: 400;
          color: #b7b7b7;
        }
      }

      .active-option {
        background: #f7f7f7 !important;

        .icon {
          svg-icon {
            svg {
              path,
              rect {
                fill: #b7b7b7 !important;
              }
            }
          }
        }

        .text {
          color: #b7b7b7 !important;
        }
      }

      .columns-options {
        top: 105px;
        width: 246px;
        height: fit-content;
        border-radius: 3px;
        background: white;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 15%);
        position: absolute;
        left: -250px;
        padding: 2px;
        display: grid;
        justify-content: unset !important;
        align-items: unset !important;
        grid-template-columns: 120px 120px;
        grid-gap: 1px 2px;

        .column {
          display: flex;
          width: 120px;
          height: 26px;
          margin: 0;
          padding-left: 7px;
          justify-content: unset !important;
          border-radius: 2px;

          .checkbox {
            width: fit-content;
            height: fit-content;
            margin: 0 6px 0 0;
            display: flex;
            justify-content: center;
            align-self: center;

            .columns-options-checkbox {
              display: none;
            }

            .columns-options-label {
              width: 14px;
              height: 14px;
              background-color: #dadada;
              margin-bottom: 0;
              border-radius: 1px;
              cursor: pointer;

              &:hover {
                background-color: #b7b7b7;
              }
            }

            .columns-options-checkbox:checked + .columns-options-label {
              background-color: #91a4c7;
              background-image: url("../../assets/svg/truckassist-table/check-new.svg");
              background-repeat: no-repeat;
              background-position: center;
              transition: background-color 0.25s;

              &:hover {
                background-color: #5673aa;
              }
            }
          }

          .not-allowed-action {
            width: 14px !important;
            margin-right: 6px !important;
            display: flex;
            justify-content: center;
            align-self: center;

            svg-icon {
              display: flex;
            }
          }

          .selectable-text {
            cursor: pointer;
          }

          .column-text {
            font-size: 12px;
            font-weight: 400;
            color: #b7b7b7;
            justify-content: unset !important;
            align-self: center;
            width: fit-content;
            height: fit-content;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            max-width: 100px;
          }

          &:hover {
            background: #f7f7f7;
            transition: 0.25s;

            .column-text {
              color: #919191;
              transition: 0.25s;
            }

            .checkbox {
              .columns-options-checkbox:checked + .columns-options-label {
                background: #5673aa;
                background-image: url("../../assets/svg/truckassist-table/check-new.svg");
                background-repeat: no-repeat;
                background-position: center;
                transition: background-color 0.25s;
              }
            }
          }
        }
      }
    }
  }
}

// Selected On Table Head Popup
.selected-options-popover {
  top: 18px !important;
  left: -18px !important;
}

.has-selected-options-popover {
  top: 26px !important;
  left: -26px !important;
}

.selected-options-popover,
.has-selected-options-popover {
  .arrow {
    display: none !important;
  }

  .popover-body {
    width: fit-content !important;
    height: fit-content !important;

    .select-options-container {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
      width: 170px;
      height: auto;
      border-radius: 3px;
      background: #ffffff;
      padding: 2px;

      .select-option {
        cursor: pointer;
        width: 100%;
        height: 26px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        padding: 0 4px;

        &:hover {
          background: #f3f3f3;
          transition: 0.25s;

          .text,
          .count {
            color: #3c3c3c;
            transition: 0.25s;
          }
        }

        .text,
        .count {
          font-size: 14px;
          color: #6c6c6c;
        }

        .text {
          font-weight: 400;
        }

        .count {
          font-weight: bold;
          margin-left: auto;
        }
      }

      .clear-selected {
        margin-top: 2px;
      }
    }
  }
}

// Global
.popover {
  border: none !important;
  .popover-body {
    padding: 0 !important;
    color: unset !important;
  }
}

.eventspopovermain {
  max-width: 400px !important;
  margin-top: 8px;
  .popover-body {
    width: 400px;
  }
}

.eventsschedulepopovermain {
  max-width: 454px !important;

  .arrow {
    display: none;
  }
  .popover-body {
    width: 454px;
  }
}

.map-list-sort-popover {
  margin-left: 50px !important;
}

.toptenpopovermain {
  margin-top: 8px;

  &.pickuppopovermain {
    width: 146px;
    height: 234px;

    .top-ten-popover-holder {
      width: 146px;
      height: 234px;
    }
  }

  .top-ten-popover-holder {
    width: 165px;
    height: 266px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 2px #0000004d;
    padding: 5px 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;

    .top-ten-popover-items-holder {
      position: relative;
      width: 100%;
      height: 28px;
      padding: 5px 8px;
      box-sizing: border-box;
      border-radius: 2px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      color: #6c6c6c;
      margin: 2px 0px;
      line-height: 28px;

      .popover-icon-holder {
        position: absolute;
        width: 14px;
        height: 14px;
        display: none;
        justify-content: center;
        align-items: center;
        top: 5px;
        right: 8px;

        svg-icon {
          svg {
            display: flex;
            width: 12.74px;
            height: 9.85px;

            path {
              fill: #97a8dc;
            }
          }
        }
      }

      &:hover:not(.active) {
        cursor: pointer;
        background-color: #f3f3f3;
        color: #3c3c3c;
      }

      &.active {
        color: #536bc2;
        cursor: pointer;

        .popover-icon-holder {
          display: flex;
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.custompopovermain {
  margin-top: 4px;
  max-width: 360px !important;

  .popover-body {
    width: 360px;
  }
}

.periodpopovermain {
  margin-top: 4px;

  .period-popover-holder {
    width: 112px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 2px #0000004d;
    padding: 0px 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;

    .period-popover-items-holder {
      position: relative;
      width: 100%;
      height: 26px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 4px;
      box-sizing: border-box;
      margin: 2px 0px;
      font-size: 14px;
      font-weight: 400;
      color: #6c6c6c;
      line-height: 26px;

      .period-popover-icon-holder {
        position: absolute;
        width: 14px;
        height: 14px;
        display: none;
        justify-content: center;
        align-items: center;
        top: 5px;
        right: 8px;

        svg-icon {
          svg {
            display: flex;
            width: 12.74px;
            height: 9.85px;

            path {
              fill: #97a8dc;
            }
          }
        }
      }

      &:hover:not(.active) {
        cursor: pointer;
        background-color: #f3f3f3;
        color: #3c3c3c;
      }

      &.active {
        color: #536bc2;
        cursor: pointer;

        .period-popover-icon-holder {
          display: flex;
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
