// Constants
$settings-background: #ffffff;

$settings-white-dark: #b7b7b7;
$settings-white-dark-2: #dadada;
$settings-white-dark-3: #cccccc;

$settings-white-light: #f7f7f7;
$settings-white-light-2: #f3f3f3;
$settings-white-light-3: #eeeeee;

$settings-borderRadius: 3px;
$settings-padding: 12px;

$settings-nodata: #ffbf6b;

$settings-gray: #919191;
$settings-gray-dark: #6c6c6c;
$settings-gray-black: #3c3c3c;

$settings-blue-light: #778fbb;
$settings-blue: #5673aa;
$settings-blue-dark: #6d82c7;
$settings-blue-hover: #3551b7;

$settings-red-dark: #ff5050;

$settings-font-medium: 500;
$settings-font-semibold: 600;
$settings-font-bold: 700;
$settings-font-extrabold: 800;
$settings-font-black: 900;

$settings-fontsize-small: 12px;
$settings-fontsize: 14px;

$settings-transition: all 0.3s ease-in-out;

$settings-box-shadow: 0 0 4px rgb(0, 0, 0, 0.15);
$settings-icon-background: #e9effd;

// Default settings
p {
    margin: 0;
}

// Settings root
.settings {
    width: 1440px;
    display: grid;
    grid-template-rows: 32px 1fr;
    row-gap: 12px;

    &-grid {
        width: 100%;
    }

    .settings-col-1 {
        grid-template-rows: 1 / 2;
    }
    .settings-col-2 {
        grid-template-rows: 2 / -1;
    }
}

// Progress bar settings
.settings-progress-container {
    padding: 0px 4px;
    padding-bottom: 16px;
    padding-top: 16px;
}

// Settings Header global
.settings-header {
    width: 100%;
    background-color: $settings-background;
    border-radius: $settings-borderRadius;
    height: 100%;
    margin-bottom: 12px;

    .no-factoring-data {
        justify-content: flex-end !important;
    }

    .settings-name {
        padding: 5px 8px;
        user-select: none;
    }

    // Multiple buttons container
    .settings-header-buttons {
        width: 68px;
        height: 32px;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $settings-background;
    }

    // Single Button
    .settings-header-button {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        background: $settings-background;
        border-radius: 0 3px 3px 0;
        position: relative;
        padding-right: 1px;
        .settings-edit-button {
            width: 26px;
            height: 26px;
        }

        .settings-plus-button {
            width: 28px;
            height: 28px;
            margin-left: 2px;
            border-radius: 2px;

            &:hover {
                background-color: $settings-icon-background;
            }
        }

        .settings-trash-button {
            width: 26px;
            height: 26px;
        }
    }

    &.divisionHeader {
        background-color: transparent;

        .settings-header-buttons {
            background-color: transparent;
            width: 105px;
        }

        .settings-header-button {
            border-radius: 3px;
        }

        .current-active-item-company {
            background-color: #fff;
            max-width: 479px;
        }
    }
}

// Settings header new design

.toolbar-general-cmp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    //max-width: 440px;
    width: 100%;

    .icon-text-wrapper {
        display: flex;
        align-items: center;
        height: 34px;
        max-width: 200px;
        margin-right: 13px;
        p {
            user-select: none;
        }
    }

    .icon-right-holder {
        display: flex;
        flex-grow: 1;
        height: 34px;
        padding-right: 4px;
        align-items: center;
        justify-content: flex-end;
        background-color: #fff;

        .settings-header-button {
            width: 32px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $settings-background;
            border-radius: 0 3px 3px 0;
            position: relative;

            &.less-width-button {
                width: 28px;
            }

            .settings-edit-button {
                width: 26px;
                height: 26px;
            }

            .settings-plus-button {
                width: 26px;
                height: 26px;
                margin-left: 2px;
                border-radius: 2px;

                &:hover {
                    background-color: $settings-icon-background;
                }
            }

            .settings-trash-button {
                width: 26px;
                height: 26px;
            }
        }
    }
}

.container {
    display: flex;
    justify-content: space-between;
}

.div1 {
    width: 30%;
    height: 100px;
    background-color: lightblue;
}

.div2 {
    width: 30%;
    height: 100px;
    background-color: lightgreen;
}

.div3 {
    width: 30%;
    height: 100px;
    background-color: lightcoral;
}

// Settings Body

.settings-body {
    // background-color: $settings-background;
    border-radius: 3px;

    .card-name-cmp {
        font-weight: 600 !important;
        text-transform: uppercase;

        .open-name {
            color: #424242 !important;
        }
    }
    .drop-comm {
        position: relative;
        left: 4px;
        top: 5px;
    }

    .settings-body-items {
        display: flex;
        flex-direction: column;
        margin-top: 6px;

        .single-item {
            display: flex;
            align-items: center;
            height: auto;
            margin-bottom: 12px;
        }

        &.factoring-body-padding {
            padding: 0px 4px;
        }
    }
    .settings-line {
        margin: 0;
        height: 2px;
        width: 100%;
        border-radius: 1px;
        background-color: $settings-white-light-2;
    }

    .basic-mid-holder {
        padding-bottom: 10px;
        padding: 0px 8px 10px 8px;
    }

    //settings new select

    .company-select-holder {
        display: grid;
        grid-template-columns: 510px 53px;
        padding: 8px 12px 0px 12px;

        .inactive-icon-input {
            display: flex;
            align-items: center;
        }

        .dropInput {
            width: 100%;
        }

        .select-right-side-holders {
            display: flex;
        }

        .division-card-holder {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 110px;
            height: 26px;
            margin-left: 4px;
            background-color: #42424210;
            span {
                font-size: 12px;
                font-weight: 700;
                color: #424242;
            }
        }

        .arrow-company-icon-holder {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 7.5px;

            .arrow-down {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: flex-end;
                rotate: 270deg;

                svg {
                    width: 14px;
                    height: 14px;
                    line-height: 18px;
                }
            }
        }

        .current-active-item {
            width: 100%;
            max-width: 100%;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            border-radius: 2px;
            padding: 4px 0px;
            cursor: pointer;

            .current-active-name {
                font-size: 20px;
                font-weight: 700;
                // font-style: italic;
                white-space: nowrap;
                line-height: 24px;
                color: #6c6c6c;
                cursor: pointer;
                overflow: hidden;
                text-overflow: ellipsis;
                &::-moz-selection {
                    color: #6c6c6c;
                    background: rgb(183, 183, 183, 0.2);
                }
                &::selection {
                    color: #6c6c6c;
                    background: rgb(183, 183, 183, 0.2);
                }
            }

            &:hover {
                background-color: #f3f3f3;
                transition: all 0.3s ease-in-out;

                .current-active-name {
                    color: #3c3c3c;
                }
            }
        }

        .arrows {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-end;
            margin-left: 9px;
            margin-top: 2px;
            span {
                height: 100%;
                width: 100%;
                &:hover {
                    background: #f3f3f3;
                    border-radius: 2px;
                    cursor: pointer;
                }
            }
            .arrow-left {
                cursor: pointer;
                padding: 0 5px;
                svg {
                    position: relative;
                    top: 2px;
                }
            }
            .arrow-right {
                cursor: pointer;
                padding: 0 5px;
                svg {
                    position: relative;
                    top: 2px;
                    transform: rotate(-180deg);
                }
            }
        }

        .disabedPreviousArrow {
            &.arrows {
                .previousArrow {
                    opacity: 0.5;
                    cursor: default !important ;

                    svg-icon {
                        cursor: default !important;
                    }

                    &:hover {
                        background-color: transparent !important;
                    }
                }
            }
        }

        .disableNextArrow {
            &.arrows {
                .nextArrow {
                    opacity: 0.5;
                    cursor: default !important ;

                    svg-icon {
                        cursor: default !important;
                    }

                    &:hover {
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}
.border-left {
    border: none;
    height: 24px;
    border-left: 2px solid $settings-white-light-2;
}

// Office Template
.office-template-data {
    display: grid;
    grid-template-columns: 170px 152px;
    row-gap: 12px;
    column-gap: 50px;
    .office-template-item {
        display: flex;
        align-items: center;

        .office-template-value {
            margin-left: 6px;
            &::-moz-selection {
                color: $settings-gray-dark;
                background: rgb(108, 108, 108, 0.2);
            }
            &::selection {
                color: $settings-gray-dark;
                background: rgb(108, 108, 108, 0.2);
            }
        }
    }

    .office-template-email {
        grid-column: 1 / -1;
    }
}

// Parking Template
.parking-template-data {
    display: grid;
    grid-template-columns: 170px 152px;
    grid-row-gap: 6px;
    row-gap: 6px;
    column-gap: 50px;

    .parking-template-item {
        display: flex;
        align-items: center;

        .parking-template-number {
            font-size: 17px;
            font-weight: $settings-font-semibold;
            color: $settings-gray-dark;
            user-select: none;
            white-space: nowrap;
        }

        .parking-template-text {
            margin-left: 7px;
            white-space: nowrap;

            &.cross-out {
                text-decoration: line-through;
            }
        }

        .parking-template-svg {
            user-select: none;
            &.disabled {
                svg {
                    path {
                        fill: $settings-white-dark-2;
                    }
                }
            }
        }
    }
    .parking-template-email {
        grid-column: 1 / -1;
    }
}

.payroll-template-data {
    display: grid;
    column-gap: 20px;
    row-gap: 12px;
    //padding: 0 3px;
    .payroll-template-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .payroll-name {
            font-size: 14px;
            font-weight: $settings-font-medium;
            color: $settings-gray-dark;
            &::-moz-selection {
                color: $settings-gray-dark;
                background: rgb(108, 108, 108, 0.2);
            }
            &::selection {
                color: $settings-gray-dark;
                background: rgb(108, 108, 108, 0.2);
            }
        }
        .payroll-value {
            font-size: 14px;
            font-weight: $settings-font-semibold;
            color: $settings-gray-dark;
            &::-moz-selection {
                color: $settings-gray-dark;
                background: rgb(108, 108, 108, 0.2);
            }
            &::selection {
                color: $settings-gray-dark;
                background: rgb(108, 108, 108, 0.2);
            }
        }
    }
}

.no-divider {
    padding-bottom: 0px;
}
.copied {
    .basic-data-value {
        animation-duration: 1500ms;
        animation-name: change;
    }
    .insurance-value {
        animation-duration: 1500ms;
        animation-name: change;
    }
    .body-value {
        animation-duration: 1500ms;
        animation-name: change;
    }
    .body-value-email {
        animation-duration: 1500ms;
        animation-name: change;
    }
    .additional-template-value {
        animation-duration: 1500ms;
        animation-name: change;
    }
    .parking-template-text {
        animation-duration: 1500ms;
        animation-name: change;
    }
    .office-template-value {
        animation-duration: 1500ms;
        animation-name: change;
    }
    .copy-icon {
        svg {
            path {
                animation-duration: 1500ms;
                animation-name: changeSVG;
                &:hover {
                    animation-duration: 1500ms;
                    animation-name: changeSVG;
                }
            }
        }
    }
}
