// --------------------- TRUCKS ---------------------
.trucks {
    &.semitruck {
        svg {
            path {
                fill: #26a690;
            }
        }
    }

    &.semisleeper {
        svg {
            #Ellipse_9856,
            #Ellipse_9857,
            #Ellipse_9858,
            path {
                fill: #ffa726;
            }
        }
    }

    &.boxtruck {
        svg {
            path {
                fill: #ef5350;
            }
        }
    }

    &.cargovan {
        svg {
            path {
                fill: #38bdeb;
            }
        }
    }

    &.towtruck {
        svg {
            path {
                fill: #ab47bc;
            }
        }
    }

    &.carhauler {
        svg {
            path {
                fill: #f276ef;
            }
        }
    }

    &.spotter {
        svg {
            path {
                fill: #8d6e63;
            }
        }
    }

    &.bus {
        svg {
            path {
                fill: #ff7043;
            }
        }
    }

    .svgtext-template-text {
        color: #ffffff;
        transition: all 0.3s ease-in-out;
    }
}

// --------------------- TRAILERS ---------------------
.trailers {
    &.reefer {
        svg {
            path {
                fill: #3074d3;
            }
        }
    }

    &.dryvan {
        svg {
            path {
                fill: #38bdeb;
            }
        }
    }

    &.sidekit {
        svg {
            path {
                fill: #ab47bc;
            }
        }
    }

    &.conestoga {
        svg {
            path {
                fill: #008496;
            }
        }
    }

    &.dumper {
        svg {
            path {
                fill: #8d6e63;
            }
        }
    }

    &.trailerContainer {
        max-width: max-content !important;
        padding: 0px !important;
        margin: 0px !important;
        svg {
            path {
                fill: #ffa726;
            }
        }
    }

    &.tanker {
        svg {
            path {
                fill: #26a690;
            }
        }
    }

    &.pneumatictanker {
        svg {
            path {
                fill: #56ab62;
            }
        }
    }

    &.carhauler {
        svg {
            path {
                fill: #fd4d96;
            }
        }
    }

    &.carhaulerstigner {
        svg {
            path {
                fill: #f276ef;
            }
        }
    }

    &.flatbed {
        svg {
            path {
                fill: #ff9800;
            }
        }
    }

    &.lowboyrgn {
        svg {
            path {
                fill: #f76629;
            }
        }
    }

    &.chassis {
        svg {
            path {
                fill: #ef5350;
            }
        }
    }

    &.stepdeck {
        svg {
            path {
                fill: #d80300;
            }
        }
    }

    .svgtext-template-text {
        color: #ffffff;
        transition: all 0.3s ease-in-out;
    }
}

// --------------------- Colors ---------------------
.colors {
    .black {
        svg {
            #droplet {
                fill: #6c6c6c;
            }
        }
    }
    .brown {
        svg {
            #droplet {
                fill: #a1887f;
            }
        }
    }
    .darkgreen {
        svg {
            #droplet {
                fill: #4db6a2;
            }
        }
    }
    .lightgreen {
        svg {
            #droplet {
                fill: #81c784;
            }
        }
    }
    .darkblue {
        svg {
            #droplet {
                fill: #546fd2;
            }
        }
    }
    .lightblue {
        svg {
            #droplet {
                fill: #64b5f6;
            }
        }
    }
    .gray {
        svg {
            #droplet {
                fill: #aaaaaa;
            }
        }
    }
    .purple {
        svg {
            #droplet {
                fill: #ba68c8;
            }
        }
    }
    .gold {
        svg {
            #droplet {
                fill: #bcad79;
            }
        }
    }
    .silver {
        svg {
            #droplet {
                fill: #dadada;
            }
        }
    }
    .red {
        svg {
            #droplet {
                fill: #f96b69;
            }
        }
    }
    .pink {
        svg {
            #droplet {
                fill: #f26ec2;
            }
        }
    }
    .white {
        svg {
            #droplet {
                fill: #f1f1f1;
            }
        }
    }
    .orange {
        svg {
            #droplet {
                fill: #ff8a65;
            }
        }
    }
    .yellow {
        svg {
            #droplet {
                fill: #ffd54f;
            }
        }
    }

    &:hover {
        transition: all 0.3s ease-in-out;
        .black {
            svg {
                #droplet {
                    fill: #3c3c3c;
                }
            }
        }
        .brown {
            svg {
                #droplet {
                    fill: #8d6e63;
                }
            }
        }
        .darkgreen {
            svg {
                #droplet {
                    fill: #26a690;
                }
            }
        }
        .lightgreen {
            svg {
                #droplet {
                    fill: #66bb6a;
                }
            }
        }
        .darkblue {
            svg {
                #droplet {
                    fill: #304fc1;
                }
            }
        }
        .lightblue {
            svg {
                #droplet {
                    fill: #42a5f5;
                }
            }
        }
        .gray {
            svg {
                #droplet {
                    fill: #919191;
                }
            }
        }
        .purple {
            svg {
                #droplet {
                    fill: #ab47bc;
                }
            }
        }
        .gold {
            svg {
                #droplet {
                    fill: #aa9c6e;
                }
            }
        }
        .silver {
            svg {
                #droplet {
                    fill: #b7b7b7;
                }
            }
        }
        .red {
            svg {
                #droplet {
                    fill: #ef5350;
                }
            }
        }
        .pink {
            svg {
                #droplet {
                    fill: #fa4daa;
                }
            }
        }
        .white {
            svg {
                #droplet {
                    fill: #ffffff;
                }
            }
        }
        .orange {
            svg {
                #droplet {
                    fill: #ff7043;
                }
            }
        }
        .yellow {
            svg {
                #droplet {
                    fill: #ffca28;
                }
            }
        }
    }
}

// --------------------- Dropdown Option Hovered ---------------------
.dropdown-option-hovered {
    //--------------------  Trucks --------------------
    &.trucks {
        &.semitruck {
            svg {
                path {
                    fill: #26a690;
                }
            }
        }

        &.semisleeper {
            svg {
                #Ellipse_9856,
                #Ellipse_9857,
                #Ellipse_9858,
                path {
                    fill: #ffa726;
                }
            }
        }

        &.boxtruck {
            svg {
                path {
                    fill: #ef5350;
                }
            }
        }

        &.cargovan {
            svg {
                path {
                    fill: #38bdeb;
                }
            }
        }

        &.towtruck {
            svg {
                path {
                    fill: #ab47bc;
                }
            }
        }

        &.carhauler {
            svg {
                path {
                    fill: #f276ef;
                }
            }
        }

        &.spotter {
            svg {
                path {
                    fill: #8d6e63;
                }
            }
        }

        &.bus {
            svg {
                path {
                    fill: #ff7043;
                }
            }
        }

        .svgtext-template-text {
            color: #ffffff;
            transition: all 0.3s ease-in-out;
        }
    }

    //--------------------  Trailers --------------------
    &.trailers {
        &.reefer {
            svg {
                path {
                    fill: #3074d3;
                }
            }
        }

        &.dryvan {
            svg {
                path {
                    fill: #38bdeb;
                }
            }
        }

        &.sidekit {
            svg {
                path {
                    fill: #ab47bc;
                }
            }
        }

        &.conestoga {
            svg {
                path {
                    fill: #008496;
                }
            }
        }

        &.dumper {
            svg {
                path {
                    fill: #8d6e63;
                }
            }
        }

        &.trailerContainer {
            max-width: max-content !important;
            padding: 0px !important;
            margin: 0px !important;
            svg {
                path {
                    fill: #ffa726;
                }
            }
        }

        &.tanker {
            svg {
                path {
                    fill: #26a690;
                }
            }
        }

        &.pneumatictanker {
            svg {
                path {
                    fill: #56ab62;
                }
            }
        }

        &.carhauler {
            svg {
                path {
                    fill: #fd4d96;
                }
            }
        }

        &.carhaulerstigner {
            svg {
                path {
                    fill: #f276ef;
                }
            }
        }

        &.flatbed {
            svg {
                path {
                    fill: #ff9800;
                }
            }
        }

        &.lowboyrgn {
            svg {
                path {
                    fill: #f76629;
                }
            }
        }

        &.chassis {
            svg {
                path {
                    fill: #ef5350;
                }
            }
        }

        &.stepdeck {
            svg {
                path {
                    fill: #d80300;
                }
            }
        }

        .svgtext-template-text {
            color: #ffffff;
            transition: all 0.3s ease-in-out;
        }
    }

    //-------------------- Colors --------------------
    .black {
        svg {
            #droplet {
                fill: #3c3c3c;
            }
        }
    }
    .brown {
        svg {
            #droplet {
                fill: #8d6e63;
            }
        }
    }
    .darkgreen {
        svg {
            #droplet {
                fill: #26a690;
            }
        }
    }
    .lightgreen {
        svg {
            #droplet {
                fill: #66bb6a;
            }
        }
    }
    .darkblue {
        svg {
            #droplet {
                fill: #304fc1;
            }
        }
    }
    .lightblue {
        svg {
            #droplet {
                fill: #42a5f5;
            }
        }
    }
    .gray {
        svg {
            #droplet {
                fill: #919191;
            }
        }
    }
    .purple {
        svg {
            #droplet {
                fill: #ab47bc;
            }
        }
    }
    .gold {
        svg {
            #droplet {
                fill: #aa9c6e;
            }
        }
    }
    .silver {
        svg {
            #droplet {
                fill: #b7b7b7;
            }
        }
    }
    .red {
        svg {
            #droplet {
                fill: #ef5350;
            }
        }
    }
    .pink {
        svg {
            #droplet {
                fill: #fa4daa;
            }
        }
    }
    .white {
        svg {
            #droplet {
                fill: #ffffff;
            }
        }
    }
    .orange {
        svg {
            #droplet {
                fill: #ff7043;
            }
        }
    }
    .yellow {
        svg {
            #droplet {
                fill: #ffca28;
            }
        }
    }
}
