.ta-input-dropdown {
  .arrow {
    display: none !important;
  }

  .popover-body {
    // ---------------------------------------- DROPDOWN ----------------------------------------
    .dropdown-options {
      position: relative;
      top: 4px;
      left: 0px;
      z-index: 1000;
      max-height: 198px;
      width: 100%;
      background-color: #ffffff;
      border-radius: 2px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
      padding: 2px;
      overflow: hidden;

      &.scroll {
        transition: all 0.3s ease-in-out;
        overflow-y: scroll !important;
        scrollbar-width: none !important; /* Firefox */

        &::-webkit-scrollbar {
          width: 3px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
          border: 6px solid #e5e5e5;
          border-radius: 1px;
        }
        &::-webkit-scrollbar-track {
          padding: 0;
          position: relative;
          right: 0;
          top: 0;
          background: transparent;
        }
      }

      //------------------------ Default Template ------------------------
      .dropdown-option {
        padding: 3px 4px;
        height: 26px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #ffffff;
        color: #6c6c6c;

        &.dropdown-option-hovered {
          background-color: #f3f3f3;
          color: #3c3c3c;

          .svg-template-logo,
          .svg-template-grayscale {
            svg {
              -webkit-filter: grayscale(0);
              filter: grayscale(0);
            }
          }
        }

        &:hover {
          background-color: #f3f3f3;
          color: #3c3c3c;
          border-radius: 2px;
          cursor: pointer;

          .svg-template-logo,
          .svg-template-grayscale {
            svg {
              -webkit-filter: grayscale(0);
              filter: grayscale(0);
            }
          }
        }

        &.disabled {
          color: #aaaaaa;
          font-style: italic;
        }

        &.no-result {
          height: 18px;
          font-size: 11px;
          font-weight: 600;
          padding: 1.5px 4px;
          color: #b7b7b7;

          &:hover {
            background-color: transparent !important;
            color: #b7b7b7 !important;
            transition: all 0.3s ease-in-out;
            cursor: auto;
          }
        }

        &.add-new {
          color: #536bc2;
          font-weight: 600;

          &:hover {
            color: #3551b7;
            transition: all 0.3s ease-in-out;
          }
        }

        &.active {
          color: #536bc2;
          position: relative;

          &:hover {
            color: #3551b7;
            transition: all 0.3s ease-in-out;
          }

          // Higlight text
          .highlight-text-45632 {
            background-color: transparent;

            &:hover {
              color: #3551b7 !important;
              transition: all 0.3s ease-in-out;
            }
          }

          &::after {
            position: absolute;
            right: 4px;
            top: 2.5px;
            content: url('../..//assets/svg/common/ic_confirm.svg');
            width: 14px;
            height: 10px;
          }
        }

        // Higlight text
        .highlight-text-45632 {
          font-weight: 700;
          background-color: transparent;

          &:hover {
            color: #3c3c3c;
            transition: all 0.3s ease-in-out;
          }
        }

        //------------------------ Trucks, Trailers, Colors Template  ------------------------
        &.svg-text-template {
          display: flex;
          align-items: center;

          .svgtext-template-logo {
            height: auto;
            margin-right: 6.5px;
            transition: all 0.2s ease-in-out;

            &.hide-hover-icons {
              display: none;
              transform: translateX(-30px);
            }
          }

          .svgtext-template-text {
            position: relative;

            &.truck-text {
              top: 1px;
            }
          }

          .colors {
            height: 18px;
            width: 18px;
          }

          &:hover {
            .svgtext-template-logo {
              &.hide-hover-icons {
                transform: translateX(0px) !important;
                display: inline-block !important;
              }
            }
          }
        }

        //------------------------ Details Template ------------------------
        &.details-template {
          display: flex;
          align-items: center;
          .details-template-logo {
            margin-left: 6px;
            width: 14px;
            height: 14px;
            line-height: 15px;
            svg {
              height: 14px;
              width: 14px;
            }
          }
        }

        //------------------------ SVG Template ------------------------
        .svg-template-logo {
          height: 12px;

          svg {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
          }

          &.active {
            position: relative;
            // SVG COLORIZED
            svg {
              -webkit-filter: grayscale(0);
              filter: grayscale(0);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }

      //------------------------ Custom width dependent on 'col' bootstrap ------------------------

      &.w-col-12 {
        width: 455px;
      }

      &.w-col-9 {
        width: 348px;
      }

      &.w-col-8 {
        width: 308px;
      }

      &.w-col-medium-8 {
        width: 403px;
      }

      &.w-col-7 {
        width: 256px;
      }

      &.w-col-6 {
        width: 228px;
      }

      &.w-col-8-fuelstop {
        width: 296px;
      }

      &.w-col-medium-6 {
        width: 297px;
      }

      &.w-col-medium-6-second-col {
        width: 308px;
      }

      &.w-col-6-companyOwned,
      &.w-col-6-truckType {
        width: 216px;
      }

      &.w-col-5 {
        width: 188px;
      }

      &.w-col-5-tireSize {
        width: 130px;
      }

      &.w-col-4 {
        width: 148px;
      }

      &.w-col-medium-4 {
        width: 201px;
      }

      &.w-col-medium-4-col-1 {
        width: 189px;
      }

      &.w-col-3 {
        width: 108px;
      }

      &.w-test-types {
        width: 140px;
      }

      &.w-reason-types {
        width: 168px;
      }

      &.w-col-4-tireSize,
      &.w-col-4-doortype,
      &.w-col-4-reeferUnit,
      &.w-col-4-classType,
      &.w-col-4-department-user,
      &.w-col-4-insuranceType {
        width: 136px;
      }

      &.w-col-3-suspension,
      &.w-col-3-doortype {
        width: 108px;
      }

      &.w-col-banks {
        width: 163px;
      }

      &.w-col-banks-driver {
        width: 184px;
      }

      &.w-col-paytype {
        width: 422px;
      }

      &.w-col-trailerColor {
        width: 126px;
      }

      &.w-col-trailerLength {
        width: 106px;
      }

      &.w-col-broker-payterm {
        width: 176px;
      }

      &.w-col-broker-department,
      &.w-col-shipper-department {
        width: 120px;
      }

      &.w-col-details-template-big {
        width: 366px;
      }
      &.w-col-details-template-big-company {
        width: 512px;
      }
      &.w-col-details-template-small {
        width: 332px;
      }

      &.w-col-custom-fuel-modal-dropdown {
        width: 114px;
      }

      &.w-col-large-modal-cutomer {
        width: 273px;
      }

      &.w-col-accident-trailer-unit {
        width: 100px;
      }

      &.w-col-repair-m-unit-bill {
        width: 129px;
      }

      &.w-col-repair-m-unit-order {
        width: 291px;
      }

      &.w-col-repair-m-shop {
        width: 686px;
      }

      &.w-col-dropdown-label,
      &.w-col-load-req {
        width: 164px;
        max-height: 304px;
      }

      &.w-col-owner-bank {
        width: 166px;
      }

      &.w-col-load-selectTemplate,
      &.w-col-load-dispatcher {
        width: 220px;
      }

      &.w-col-load-commodity {
        width: 178px;
      }

      &.w-col-load-broker {
        width: 439px;
      }

      &.w-col-load-door-type {
        width: 107px;
      }

      &.w-col-load-suspension {
        width: 117px;
      }

      &.w-col-load-length {
        width: 88px;
      }

      &.w-col-load-year {
        width: 66px;
      }

      &.w-col-applicant-bank {
        width: 416px;
      }

      &.w-col-applicant-reason {
        width: 616px;
      }

      &.w-col-sph-received-by {
        width: 182px;
      }

      // ---------------------------------------- DROPDOWN GROUPS ----------------------------------------
      &.dropdown-options-groups {
        max-height: 495px;

        .dropdown-groups {
          display: flex;
          flex-direction: column;

          p {
            margin: 0;
          }

          .dropdown-group-header {
            font-size: 10px;
            color: #dadada;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 13px;
            padding: 4px;
            padding-bottom: 3px;
          }

          .dropdown-subgroup-options {
            display: flex;
            align-items: center;
            padding: 4px;
            height: 26px;

            &:hover {
              background-color: #f3f3f3;
              border-radius: 2px;
              cursor: pointer;
              transition: all 0.3s ease-in-out;

              .dropdown-subgroup-text {
                color: #3c3c3c;
                transition: all 0.3s ease-in-out;

                &.active {
                  // Higlight text
                  .highlight-text-45632 {
                    background-color: transparent;

                    &:hover {
                      color: #3551b7 !important;
                      transition: all 0.3s ease-in-out;
                    }
                  }
                }
              }
            }

            &.no-result {
              height: 18px;
              padding: 0px !important;
              &:hover {
                background-color: transparent !important;
              }
            }

            .dropdown-subgroup-image {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              -o-object-fit: fill;
              object-fit: fill;
              margin-right: 4px;
            }

            .dropdown-subgroup-text {
              font-size: 14px;
              font-weight: 400;
              color: #6c6c6c;
              display: block;
              width: 100%;

              // Higlight text
              .highlight-text-45632 {
                font-weight: 700;
                background-color: transparent;

                &:hover {
                  color: #3c3c3c;
                  transition: all 0.3s ease-in-out;
                }
              }

              &.active {
                color: #536bc2;
                position: relative;

                &:hover {
                  color: #3551b7;
                  transition: all 0.3s ease-in-out;
                }

                &::after {
                  position: absolute;
                  right: 3px;
                  content: url('../..//assets/svg/common/ic_confirm.svg');
                  width: 14px;
                  height: 10px;
                }
              }

              &.no-result {
                height: 20px;
                font-size: 11px;
                font-weight: 600;
                padding: 1.5px 4px;
                color: #b7b7b7;

                &:hover {
                  background-color: transparent !important;
                  color: #b7b7b7 !important;
                  transition: all 0.3s ease-in-out;
                  cursor: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

// PM Repair Modal popover
.ta-dropdown-popover {
  z-index: 999999;
  .arrow {
    display: none !important;
  }

  .popover-body {
    z-index: 99999999;
    .options {
      position: relative;
      top: 3px;
      z-index: 1000;
      max-height: 198px;
      width: 100%;
      background-color: #ffffff;
      border-radius: 2px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
      padding: 2px;
      overflow: hidden;

      &.scroll {
        transition: all 0.3s ease-in-out;
        overflow-y: scroll !important;
        scrollbar-width: none !important; /* Firefox */

        &::-webkit-scrollbar {
          width: 3px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
          border: 6px solid #e5e5e5;
          border-radius: 1px;
        }
        &::-webkit-scrollbar-track {
          padding: 0;
          position: relative;
          right: 0;
          top: 0;
          background: transparent;
        }
      }

      .option {
        position: relative;
        margin-bottom: 2px;
        padding: 3px 4px;
        height: 26px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 2px;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: #ffffff;
        color: #6c6c6c;
        display: flex;
        gap: 4px;

        &:nth-last-child(1) {
          margin-bottom: 0px;
        }

        &:hover {
          background-color: #f3f3f3;
          color: #3c3c3c;
          border-radius: 2px;
          cursor: pointer;
        }

        &.add-option {
          color: #536bc2;
          font-weight: 600;

          &::before {
            content: '';
            height: 2px;
            width: 162px;
            background-color: #f3f3f3;
            border-radius: 1px;
            position: absolute;
            bottom: 26px;
            left: 0px;
          }
        }
      }
    }
  }
}
