.ta-input-dropdown {
    .arrow {
        display: none !important;
    }

    .popover-body {
        // ---------------------------------------- DROPDOWN ----------------------------------------
        .dropdown-options {
            position: relative;
            top: 4px;
            left: 0px;
            z-index: 1000;
            max-height: 198px;
            width: 100%;
            background-color: #2f2f2f;
            border-radius: 2px;
            padding: 2px;
            overflow: hidden;

            &.scroll {
                transition: all 0.3s ease-in-out;
                overflow-y: scroll !important;
                scrollbar-width: none !important; /* Firefox */
                padding-right: 0px;

                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                    border: 6px solid #aaaaaa;
                    border-radius: 1px;
                }
                &::-webkit-scrollbar-track {
                    padding: 0;
                    position: relative;
                    right: 0;
                    top: 0;
                    background: transparent;
                }
            }

            &-fuel-franchise {
                padding: 4px;
                max-height: 300px;
            }

            //------------------------ Svg-Template-Logo Template ------------------------
            .dropdown-option:not(:hover):not(.active):not(.dropdown-option-hovered) {
                .svg-template-logo {
                    height: 18px;

                    svg:not(:hover) {
                        path {
                            fill: #aaaaaa;
                        }
                    }
                }

                .load-dispatches-container {
                    svg:not(:hover):not(.load-dipstaches-owner-flag) {
                        #Ellipse_9856,
                        #Ellipse_9857,
                        #Ellipse_9858,
                        path {
                            fill: #aaaaaa;
                        }
                    }
                }
            }

            //------------------------ Default Template ------------------------
            .dropdown-option {
                padding: 3px 4px;
                height: 26px;
                font-size: 14px;
                font-weight: 400;
                border-radius: 2px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #ffffff;

                // This class is for moving with keyboard
                &.dropdown-option-hovered {
                    background-color: #1d1d1d;
                    color: #ffffff;
                    border-radius: 2px;
                    cursor: pointer;

                    .svgtext-template-logo {
                        &.truck-trailer-logo {
                            display: inline-block !important;
                        }
                    }
                }

                &:hover {
                    background-color: #1d1d1d;
                    color: #ffffff;
                    border-radius: 2px;
                    cursor: pointer;

                    .svgtext-template-logo {
                        &.truck-trailer-logo {
                            display: inline-block !important;
                        }
                    }
                }

                &.disabled {
                    color: #aaaaaa;
                    font-style: italic;
                    pointer-events: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                &.no-result {
                    height: 19px;
                    font-size: 11px;
                    font-weight: 600;
                    padding: 1.5px 4px;
                }

                &.add-new {
                    padding: 4.5px 4px;
                    font-size: 11px;
                    font-weight: 700;
                    color: #6f9ee0;
                    transition: all 0.3s ease-in-out;
                    position: relative;

                    &:hover {
                        color: #3074d3;
                    }

                    .labels-template-text {
                        color: #6f9ee0;
                        font-weight: 600 !important;
                        transition: all 0.3s ease-in-out;
                    }
                }

                &.active-repair-truck-trailer {
                    color: #6f9ee0;
                    position: relative;

                    &:hover {
                        color: #3074d3;
                        transition: all 0.3s ease-in-out;
                    }

                    // Higlight text
                    .highlight-text-45632 {
                        font-weight: 700;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: #3074d3 !important;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }

                &.active,
                &.active-label {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 700;
                    position: relative;

                    // Higlight text
                    .highlight-text-45632 {
                        font-weight: 700;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: #ffffff !important;
                        }
                    }

                    &::after {
                        display: inline-block;
                        position: absolute;
                        right: 6px;
                        top: 3px;
                        content: url('../../assets/svg/common/ic_confirm.svg');
                        width: 14px;
                        height: 10px;
                    }
                }

                &.active-label {
                    &::after {
                        right: 35px;
                    }
                }

                &.last-active {
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0px;
                        height: 2px;
                        width: 100%;
                        background-color: rgb(170, 170, 170, 0.2);
                        border-radius: 1px;
                    }
                }

                // Higlight text
                .highlight-text-45632 {
                    font-weight: 700;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: #ffffff !important;
                    }
                }

                //------------------------ Trucks, Trailers, Colors Template  ------------------------
                &.svg-text-template {
                    display: flex;
                    align-items: center;

                    .svgtext-template-logo {
                        display: flex;
                        margin-right: 6px;
                        &.no-svg {
                            margin-right: 0px !important;
                        }

                        &.hazardous-svg {
                            line-height: 14px;
                        }

                        &.truck-trailer-logo {
                            position: absolute;
                            right: 25px;
                            text-align: right;
                            display: none;
                            margin-right: 0px;
                        }
                    }

                    .svgtext-template-text {
                        position: relative;

                        &.truck-text {
                            top: 1px;
                        }
                    }

                    .colors {
                        height: 18px;
                        width: 18px;
                    }

                    &.hazardous-dropdown {
                        .svgtext-template-logo {
                            order: 2;
                            margin-right: 0px;
                            position: relative;
                            bottom: 1px;
                        }

                        .svgtext-template-text {
                            order: 1;
                            margin-right: 6px;
                        }
                    }
                }

                //------------------------ Labels Template ------------------------
                &.labels-template {
                    display: flex;
                    align-items: center;

                    .labels-template-left-side {
                        display: flex;
                        align-items: center;

                        .labels-template-logo {
                            svg {
                                width: 18px;
                                height: 18px;
                            }
                        }

                        .labels-template-vertical-divider {
                            width: 1px;
                            height: 15px;
                            background-color: rgb(170, 170, 170, 0.2);
                            content: '';
                            margin: 0 6px;
                        }
                    }

                    .labels-template-right-side {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .labels-template-text {
                            margin-right: 28px;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 18px;
                            color: #ffffff;

                            &.add-new {
                                font-size: 11px;
                                font-weight: 700;
                                color: #6f9ee0;
                                transition: all 0.3s ease-in-out;
                                position: relative;
                            }

                            &.no-result {
                                height: 19px;
                                font-size: 11px;
                                font-weight: 600;
                                padding: 1px 4px;
                            }
                        }

                        .labels-template-counter {
                            width: 22px;
                            height: 16px;
                            border-radius: 20px;
                            background-color: rgb(204, 204, 204, 0.2);
                            color: #aaaaaa;
                            text-align: center;
                            font-size: 11px;
                            font-weight: 500;
                            padding: 0 4.5px;
                        }
                    }

                    &.no-result {
                        height: 19px;
                        padding: 0px 4px;
                    }

                    &:hover {
                        .labels-template-text {
                            color: #ffffff;

                            &.add-new {
                                color: #3074d3;
                            }
                        }

                        .labels-template-counter {
                            background-color: rgb(204, 204, 204, 0.2);
                            color: #dadada;
                        }
                    }
                }

                //------------------------ Details Template ------------------------
                &.details-template {
                    display: flex;
                    align-items: center;
                    .details-template-text {
                        &.active {
                            color: #6f9ee0;

                            &:hover {
                                color: #3074d3;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                    .details-template-logo {
                        margin-left: 6px;
                        line-height: 15px;
                    }
                }

                //------------------------ Text Counter Template ------------------------

                &-text-counter {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .option-counter {
                        min-width: 22px;
                        height: 16px;
                        border-radius: 20px;
                        background-color: rgb(204, 204, 204, 0.2);
                        color: #aaaaaa;
                        font-size: 11px;
                        font-weight: 500;
                        text-align: center;
                        padding: 0 4.5px;
                    }

                    &.active {
                        &::after {
                            right: 35px;
                            top: 3.5px;
                        }
                    }

                    &:hover {
                        .option-counter {
                            background-color: rgb(204, 204, 204, 0.2);
                        }
                    }
                }

                //------------------------ Fuel Franchise Template ------------------------

                &-fuel-franchise {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: auto;
                    min-height: 26px;
                    border-radius: 2px;

                    // Franchise Header
                    .fuel-franchise-header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 2px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                        .fuel-franchise-header-right-side {
                            display: flex;
                            align-items: center;
                            gap: 6px;

                            .option-counter {
                                min-width: 22px;
                                height: 16px;
                                border-radius: 20px;
                                background-color: rgb(204, 204, 204, 0.2);
                                color: #aaaaaa;
                                font-size: 11px;
                                font-weight: 500;
                                text-align: center;
                                padding: 0 4.5px;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                            }

                            .header-arrow {
                                width: 18px;
                                height: 18px;
                                line-height: 15px;
                                transition: all 0.3s ease-in-out;

                                svg {
                                    transform: rotate(0deg);
                                    transition: all 0.3s ease-in-out;
                                    path {
                                        fill: #aaaaaa;
                                    }
                                }

                                &.rotate {
                                    svg {
                                        transform: rotate(180deg);
                                        transition: all 0.3s ease-in-out;
                                    }
                                }

                                &:hover {
                                    svg {
                                        path {
                                            fill: #dadada;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    // Franchise Stores
                    .fuel-franchise-stores {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 4px;
                        max-height: 237px;

                        .fuel-franchise-single-store {
                            height: 26px;
                            border-radius: 2px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-left: 3px;
                            padding-right: 24px;
                            padding: 3px 26px 4px 4px;

                            .fuel-franchise-store-name {
                                font-size: 14px;
                                font-weight: 400;
                                height: 19px;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                color: #ffffff;
                            }

                            .fuel-franchise-store-address {
                                font-size: 11px;
                                font-weight: 500;
                                line-height: 14px;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                color: #cccccc;
                            }

                            &.active {
                                .fuel-franchise-store-name,
                                .fuel-franchise-store-address {
                                    color: #ffffff !important;
                                }

                                .highlight-text-45632 {
                                    font-weight: 700;
                                    transition: all 0.3s ease-in-out;
                                }
                            }

                            &:hover {
                                color: #ffffff;
                                background-color: #1d1d1d;

                                // Higlight text
                                &.active {
                                    .fuel-franchise-store-name,
                                    .fuel-franchise-store-address {
                                        color: #ffffff !important;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }

                        &.scroll {
                            transition: all 0.3s ease-in-out;
                            overflow-y: scroll !important;
                            scrollbar-width: none !important; /* Firefox */

                            &::-webkit-scrollbar {
                                width: 3px;
                            }
                            &::-webkit-scrollbar-thumb {
                                background-color: transparent;
                                border: 6px solid #aaaaaa;
                                border-radius: 1px;
                            }
                            &::-webkit-scrollbar-track {
                                padding: 0;
                                position: relative;
                                right: 0;
                                top: 0;
                                background: transparent;
                            }

                            .fuel-franchise-single-store {
                                padding: 3px 22px 4px 4px;
                            }
                        }
                    }

                    &.active-stores {
                        background-color: rgb(170, 170, 170, 0.1);

                        .fuel-franchise-main-header {
                            color: #ffffff;
                            font-weight: 700;
                        }

                        &:hover {
                            background-color: rgb(170, 170, 170, 0.1);
                            color: #dadada;
                        }
                    }

                    &.active-stores-header-hover {
                        &:hover {
                            background-color: #2f2f2f;
                            position: relative;

                            .fuel-franchise-header {
                                color: #ffffff;
                                background-color: #1d1d1d;
                                font-weight: 700;
                                position: relative;
                            }

                            .helper-hover-container {
                                content: '';
                                width: 105%;
                                height: 26px;
                                background-color: #1d1d1d;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                border-radius: 2px;
                            }

                            .fuel-franchise-header {
                                .fuel-franchise-header-right-side {
                                    .header-arrow {
                                        svg {
                                            path {
                                                fill: #dadada;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                //------------------------ SVG Template ------------------------
                .svg-template-logo {
                    height: 18px;
                    aspect-ratio: 1;
                }

                //------------------------ Routing Dropdown ------------------------

                &.routing_dropdown {
                    font-size: 11px;
                    height: 22px;
                }
            }

            //------------------------ Load Dispatcher Template ------------------------
            .load-dispatcher-template {
                display: flex;
                align-items: center;
                gap: 6px;
            }

            //------------------------ Load Dispatches TTD Template ------------------------
            .load-dispatches-ttd-template {
                display: grid;
                grid-template-columns: repeat(3, 156px) 97px;
                align-items: center;

                .load-dispatches-container {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    .load-dispatch-driver,
                    .load-dispatch-truck,
                    .load-dispatch-trailer {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 116px;
                        min-width: max;
                        max-width: -webkit-fit-content;
                        max-width: -moz-fit-content;
                        max-width: fit-content;
                        line-height: 17px;
                    }

                    svg-icon {
                        position: relative;
                        bottom: 2px;
                    }

                    .load-dipstaches-owner-flag {
                        svg {
                            path {
                                fill: #6f9ee0 !important;
                            }
                        }
                    }
                }

                .load-dispatch-driver-rate {
                    width: 115px;
                    text-align: right;
                    font-size: 11px;
                    font-weight: 400;
                    color: #919191;
                    padding-bottom: 1px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                    &.active {
                        color: #6f9ee0;
                    }

                    &.driver-owner {
                        text-align: left;
                        width: 80px;
                    }
                }
            }

            //------------------------ Load Broker Template ------------------------
            .load-broker-template {
                display: grid;
                align-items: center;
                grid-template-columns: 232px 82px 39px;
                column-gap: 29px;

                .load-broker-status-text {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    line-height: 18px;

                    .load-broker-status {
                        position: relative;
                        line-height: 17px;

                        &.dnu-status {
                            svg {
                                path {
                                    fill: #aaaaaa;
                                }
                            }
                        }
                    }

                    .load-broker-text {
                        &.disabled {
                            color: #6c6c6c;
                        }
                    }
                }

                .load-broker-progress-status {
                    height: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    grid-gap: 4px;
                    gap: 4px;
                    text-align: center;

                    .progress-bar-price {
                        color: #919191;
                        font-size: 11px;
                        font-weight: 400;
                    }

                    .progress-bar-line {
                        width: 24px;
                    }
                }

                .load-broker-load-counter {
                    max-width: max-content;
                    height: 18px;
                    border-radius: 30px;
                    text-align: center;
                    font-size: 11px;
                    font-weight: 400;
                    color: #919191;
                    background-color: rgb(145, 145, 145, 0.2);
                    padding: 1px 6px;

                    &.active {
                        color: #6f9ee0;
                        background-color: rgb(111, 158, 224, 0.2);
                    }
                }
            }

            //------------------------ Load Shipper Contact Template -----------------------
            .load-shipper-template {
                display: grid;
                grid-template-columns: 305px 166px 87px;
                align-items: center;
                padding-right: 25px;

                .load-shipper-status-text {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    line-height: 18px;

                    .load-shipper-status {
                        position: relative;
                        line-height: 17px;
                    }

                    .load-shipper-text {
                        &.disabled {
                            color: #6c6c6c;
                        }
                    }
                }

                div {
                    &:nth-child(2),
                    &:nth-child(3) {
                        text-align: right;
                    }

                    &:nth-child(2) {
                        color: #919191;
                        font-size: 11px;
                        font-weight: 400;

                        &.active {
                            color: #6f9ee0;
                        }
                    }
                }

                .load-shipper-load-counter {
                    max-width: max-content;
                    height: 18px;
                    border-radius: 30px;
                    text-align: right;
                    font-size: 11px;
                    font-weight: 400;
                    color: #919191;
                    background-color: rgb(145, 145, 145, 0.2);
                    padding: 1px 6px;
                    justify-self: flex-end;

                    &.active {
                        color: #6f9ee0;
                        background-color: rgb(111, 158, 224, 0.2);
                    }
                }
            }

            //------------------------ Custom width dependent on 'col' bootstrap ------------------------

            @for $i from 1 through 800 {
                &.w-col-#{$i} {
                    width: unquote($i + 'px');
                }
            }

            &.connectDropdown {
                top: 0 !important;
                border-radius: 0 0 2px 2px;
            }

            // ---------------------------------------- DROPDOWN GROUPS ----------------------------------------
            &.dropdown-options-groups {
                max-height: 198px;
                overflow-y: scroll;

                // This class is only for Truck tollTransporder
                .dropdown-groups {
                    display: flex;
                    flex-direction: column;
                    padding: 0px 4px;
                    padding-top: 8px;
                    position: relative;

                    p {
                        margin: 0;
                    }

                    &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        bottom: -3px;
                        height: 2px;
                        width: 96%;
                        background-color: rgb(170, 170, 170, 0.2);
                    }

                    &.last-group {
                        padding-bottom: 4px;
                    }

                    &:last-child {
                        &::after {
                            display: none !important;
                        }
                    }

                    .dropdown-group-header {
                        font-size: 11px;
                        color: rgb(204, 204, 204, 0.4);
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 14px;
                        padding: 0 6px;
                        margin-bottom: 8px;

                        &::-moz-selection {
                            background-color: rgb(
                                204,
                                204,
                                204,
                                0.2
                            ) !important;
                            color: rgb(204, 204, 204, 0.4) !important;
                        }

                        &::selection {
                            background-color: rgb(
                                204,
                                204,
                                204,
                                0.2
                            ) !important;
                            color: rgb(204, 204, 204, 0.4) !important;
                        }
                    }

                    .dropdown-subgroup-options {
                        display: flex;
                        align-items: center;
                        padding: 4px 6px;
                        height: 26px;
                        border-radius: 2px;

                        &:hover {
                            background-color: #1d1d1d;
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;
                        }

                        .dropdown-subgroup-text {
                            font-size: 14px;
                            font-weight: 400;
                            color: #ffffff;
                            transition: all 0.3s ease-in-out;

                            &.active {
                                font-weight: 700;
                                // Higlight text
                                .highlight-text-45632 {
                                    font-weight: 700;
                                    transition: all 0.3s ease-in-out;
                                    &:hover {
                                        color: #ffffff !important;
                                    }
                                }

                                &::after {
                                    position: absolute;
                                    right: 11px;
                                    content: url('../..//assets/svg/common/ic_confirm.svg');
                                    width: 14px;
                                    height: 10px;
                                }
                            }
                        }
                    }
                }

                // Override groups classes for load-broker-contact-template
                .load-broker-contact-groups {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    padding: 4px 2px;
                    padding-bottom: 0px;
                    margin: 0;

                    p {
                        margin: 0;
                    }

                    &.last-group {
                        padding-bottom: 4px;
                    }

                    .dropdown-group-header {
                        padding: 0px;
                        margin: 0px;

                        padding-left: 4px;
                        margin-bottom: 4px;

                        color: #919191;
                        font-size: 11px;
                        text-transform: capitalize;

                        &.add-new {
                            font-size: 11px;
                            font-weight: 700;
                            color: #6f9ee0;
                            padding: 4px;
                            margin: 0;
                            cursor: pointer;

                            &:hover {
                                border-radius: 2px;
                                color: #3074d3;
                                background-color: #1d1d1d;
                            }
                        }
                    }

                    .dropdown-subgroup-options {
                        display: grid;
                        grid-template-columns: 141px 135px;
                        grid-column-gap: 10px;
                        -moz-column-gap: 10px;
                        column-gap: 10px;
                        align-items: center;
                        padding: 3px 4px;
                        margin-bottom: 2px;
                        cursor: pointer;

                        &:hover {
                            border-radius: 2px;
                            background-color: #1d1d1d;
                        }

                        .dropdown-subgroup-text {
                            font-size: 14px;
                            font-weight: 400;
                            color: #ffffff;
                            display: block;
                            width: 100%;

                            // Higlight text
                            .highlight-text-45632 {
                                font-weight: 700;
                                &:hover {
                                    color: #ffffff !important;
                                }
                            }

                            &.active {
                                font-weight: 700;

                                &::after {
                                    position: absolute;
                                    right: -26px;
                                    content: url('../..//assets/svg/common/ic_confirm.svg');
                                    width: 14px;
                                    height: 10px;
                                }
                            }
                        }

                        .dropdown-subgroup-additional-text {
                            color: #919191;
                            font-size: 11px;
                            font-weight: 400;
                            position: relative;
                            text-align: right;

                            &.active {
                                font-weight: 400;
                                color: #6f9ee0;
                            }

                            // Higlight text
                            .highlight-text-45632 {
                                font-weight: 500;
                                color: #6f9ee0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

// PM Repair Modal popover
.ta-dropdown-popover {
    z-index: 999999;
    .arrow {
        display: none !important;
    }

    .popover-body {
        z-index: 99999999;
        .options {
            position: relative;
            top: 3px;
            z-index: 1000;
            max-height: 198px;
            width: 100%;
            background-color: #2f2f2f;
            border-radius: 2px;
            padding: 2px;
            overflow: hidden;

            &.scroll {
                transition: all 0.3s ease-in-out;
                overflow-y: scroll !important;
                scrollbar-width: none !important; /* Firefox */

                &::-webkit-scrollbar {
                    width: 3px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                    border: 6px solid #aaaaaa;
                    border-radius: 1px;
                }

                &::-webkit-scrollbar-track {
                    padding: 0;
                    position: relative;
                    right: 0;
                    top: 0;
                    background: transparent;
                }
            }

            .option {
                position: relative;
                padding: 3px;
                height: 26px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                border-radius: 2px;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #ffffff;
                display: flex;
                gap: 4px;

                &::-moz-selection {
                    color: #ffffff;
                    background-color: rgb(255, 255, 255, 0.2);
                }

                &:nth-last-child(1) {
                    margin-bottom: 0px;
                }

                &:hover {
                    background-color: #1d1d1d;
                    border-radius: 2px;
                    cursor: pointer;
                }

                &.add-option {
                    color: #6f9ee0;
                    font-weight: 600;

                    &::after {
                        content: '';
                        height: 2px;
                        width: 100%;
                        background-color: rgb(170, 170, 170, 0.2);
                        border-radius: 1px;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                    }
                }
            }
        }
    }
}

// Selected Dropdown Card Preview
.selected-item-container {
    height: 50px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: rgb(111, 158, 224, 0.2);
    position: relative;

    .selected-item-label {
        position: absolute;
        top: -16px;
        font-size: 11px;
        font-weight: 600;
        color: #2f2f2f;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        span {
            color: #ef5350;
        }
    }

    .selected-item-name {
        gap: 8px;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        color: #2f2f2f;
        margin: 0;
        display: flex;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .selected-item-star {
            position: relative;
            bottom: 2px;
            cursor: pointer;

            svg {
                width: 16px;
                height: 16px;
            }

            &:hover {
                transition: all 0.3s ease-in-out;
                svg {
                    path {
                        fill: #2f2f2f;
                    }
                }
            }

            &.active {
                svg {
                    path {
                        fill: #6f9ee0;
                    }
                }

                &:hover {
                    transition: all 0.3s ease-in-out;
                    svg {
                        path {
                            fill: #3074d3;
                        }
                    }
                }
            }
        }
    }

    .selected-item-additional {
        display: flex;
        align-items: center;
        gap: 32px;

        .selected-item-info {
            display: flex;
            align-items: center;
            gap: 4px;

            line-height: 14px;

            svg-icon {
                height: 14px;
                width: 14px;
                line-height: 12.5px;

                svg {
                    width: 100%;
                    height: 100%;
                    path {
                        fill: #6f9ee0;
                    }
                }
            }

            p {
                margin: 0;
                padding: 0;
                font-size: 11px;
                font-weight: 400;
                color: #424242;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }

    .clear-selected-item {
        position: absolute;
        right: 4px;
        top: 0px;
        border-radius: 1px;
        transition: all 0.3s ease-in-out;
        display: none;
        z-index: 10;
        cursor: pointer;

        .clear-x {
            svg {
                width: 18px !important;
                height: 18px !important;
                overflow: visible;
                path {
                    fill: #3074d3;
                }
                rect {
                    transition: transform 0.3s;
                    transform: scale(1);
                    transform-origin: center;
                    fill: transparent;
                }
            }

            &:hover {
                svg {
                    overflow: visible;
                    path {
                        fill: #255bb9;
                    }
                    rect {
                        transform: scale(1.2);
                        transform-origin: center;
                        transition: transform 0.3s;
                        fill: rgb(37, 91, 185, 0.2);
                    }
                }
            }
        }
    }

    &:hover {
        p {
            color: #2f2f2f;
        }

        .selected-item-label {
            color: #2f2f2f;
        }

        .selected-item-additional {
            .selected-item-info {
                svg-icon {
                    svg {
                        path {
                            fill: #3074d3;
                        }
                    }
                }
            }
        }
        .clear-selected-item {
            display: inline-block;
        }

        transition: all 0.3s ease-in-out;
    }

    &.non-editable {
        background-color: #f7f7f7;

        .selected-item-label,
        .selected-item-name {
            color: #919191;
        }

        .selected-item-additional {
            .selected-item-info {
                svg-icon {
                    svg {
                        path {
                            fill: #cccccc;
                        }
                    }
                }
                p {
                    color: #919191;
                }
            }
        }
    }
}
