.ta-input-dropdown {
    .arrow {
        display: none !important;
    }

    .popover-body {
        // ---------------------------------------- DROPDOWN ----------------------------------------
        .dropdown-options {
            position: relative;
            top: 4px;
            left: 0px;
            z-index: 1000;
            max-height: 198px;
            width: 100%;
            background-color: #2f2f2f;
            border-radius: 2px;
            padding: 2px;
            overflow: hidden;

            &.scroll {
                transition: all 0.3s ease-in-out;
                overflow-y: scroll !important;
                scrollbar-width: none !important; /* Firefox */

                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                    border: 6px solid #aaaaaa;
                    border-radius: 1px;
                }
                &::-webkit-scrollbar-track {
                    padding: 0;
                    position: relative;
                    right: 0;
                    top: 0;
                    background: transparent;
                }
            }

            &-fuel-franchise {
                padding: 4px;
                max-height: 300px;
            }

            //------------------------ Svg-Template-Logo Template ------------------------
            .dropdown-option:not(:hover):not(.active):not(.dropdown-option-hovered) {
                .svg-template-logo {
                    height: 18px;

                    svg:not(:hover) {
                        path {
                            fill: #aaaaaa;
                        }
                    }
                }
            }

            //------------------------ Default Template ------------------------
            .dropdown-option {
                padding: 3px 4px;
                height: 26px;
                font-size: 14px;
                font-weight: 400;
                border-radius: 2px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #ffffff;

                // This class is for moving with keyboard
                &.dropdown-option-hovered {
                    background-color: #1d1d1d;
                    color: #ffffff;
                    border-radius: 2px;
                    cursor: pointer;

                    .svgtext-template-logo {
                        &.truck-trailer-logo {
                            display: inline-block !important;
                        }
                    }
                }

                &:hover {
                    background-color: #1d1d1d;
                    color: #ffffff;
                    border-radius: 2px;
                    cursor: pointer;

                    .svgtext-template-logo {
                        &.truck-trailer-logo {
                            display: inline-block !important;
                        }
                    }
                }

                &.disabled {
                    color: #aaaaaa;
                    font-style: italic;
                }

                &.no-result {
                    height: 19px;
                    font-size: 11px;
                    font-weight: 600;
                    padding: 1.5px 4px;
                }

                &.add-new {
                    color: #6f9ee0;
                    font-weight: 600;
                    transition: all 0.3s ease-in-out;
                    position: relative;

                    &:hover {
                        color: #3074d3;
                    }

                    .labels-template-text {
                        color: #6f9ee0;
                        font-weight: 600 !important;
                        transition: all 0.3s ease-in-out;
                    }
                }

                &.active-repair-truck-trailer {
                    color: #6f9ee0;
                    position: relative;

                    &:hover {
                        color: #3074d3;
                        transition: all 0.3s ease-in-out;
                    }

                    // Higlight text
                    .highlight-text-45632 {
                        font-weight: 700;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: #3074d3 !important;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }

                &.active,
                &.active-label {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 700;
                    position: relative;

                    // Higlight text
                    .highlight-text-45632 {
                        font-weight: 700;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: #ffffff !important;
                        }
                    }

                    &::after {
                        display: inline-block;
                        position: absolute;
                        right: 6px;
                        top: 3px;
                        content: url('../../assets/svg/common/ic_confirm.svg');
                        width: 14px;
                        height: 10px;
                    }
                }

                &.active-label {
                    &::after {
                        right: 35px;
                    }
                }

                &.last-active {
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0px;
                        height: 2px;
                        width: 100%;
                        background-color: rgb(170, 170, 170, 0.2);
                        border-radius: 1px;
                    }
                }

                // Higlight text
                .highlight-text-45632 {
                    font-weight: 700;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: #ffffff !important;
                    }
                }

                //------------------------ Trucks, Trailers, Colors Template  ------------------------
                &.svg-text-template {
                    display: flex;
                    align-items: center;

                    .svgtext-template-logo {
                        margin-right: 6px;
                        &.no-svg {
                            margin-right: 0px !important;
                        }

                        &.hazardous-svg {
                            line-height: 14px;
                        }

                        &.truck-trailer-logo {
                            position: absolute;
                            right: 30px;
                            text-align: right;
                            display: none;
                            margin-right: 0px;
                        }
                    }

                    .svgtext-template-text {
                        position: relative;

                        &.truck-text {
                            top: 1px;
                        }
                    }

                    .colors {
                        height: 18px;
                        width: 18px;
                    }
                }

                //------------------------ Labels Template ------------------------
                &.labels-template {
                    display: flex;
                    align-items: center;

                    .labels-template-left-side {
                        display: flex;
                        align-items: center;

                        .labels-template-logo {
                            svg {
                                width: 18px;
                                height: 18px;
                            }
                        }

                        .labels-template-vertical-divider {
                            width: 1px;
                            height: 15px;
                            background-color: rgb(170, 170, 170, 0.2);
                            content: '';
                            margin: 0 6px;
                        }
                    }

                    .labels-template-right-side {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .labels-template-text {
                            margin-right: 28px;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 18px;
                        }

                        .labels-template-counter {
                            width: 22px;
                            height: 16px;
                            border-radius: 20px;
                            background-color: rgb(204, 204, 204, 0.2);
                            color: #aaaaaa;
                            text-align: center;
                            font-size: 11px;
                            font-weight: 500;
                            padding: 0 4.5px;
                        }
                    }

                    &:hover {
                        .labels-template-text {
                            color: #aaaaaa;

                            &.add-new {
                                color: #3074d3;
                            }
                        }

                        .labels-template-counter {
                            background-color: rgb(204, 204, 204, 0.2);
                            color: #dadada;
                        }
                    }
                }

                //------------------------ Details Template ------------------------
                &.details-template {
                    display: flex;
                    align-items: center;
                    .details-template-text {
                        &.active {
                            color: #6f9ee0;

                            &:hover {
                                color: #3074d3;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                    .details-template-logo {
                        margin-left: 6px;
                        line-height: 15px;
                    }
                }

                //------------------------ Text Counter Template ------------------------

                &-text-counter {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .option-counter {
                        min-width: 22px;
                        height: 16px;
                        border-radius: 20px;
                        background-color: rgb(204, 204, 204, 0.2);
                        color: #aaaaaa;
                        font-size: 11px;
                        font-weight: 500;
                        text-align: center;
                        padding: 0 4.5px;
                    }

                    &.active {
                        &::after {
                            right: 35px;
                            top: 3.5px;
                        }
                    }

                    &:hover {
                        .option-counter {
                            background-color: rgb(204, 204, 204, 0.2);
                        }
                    }
                }

                //------------------------ Fuel Franchise Template ------------------------

                &-fuel-franchise {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: auto;
                    min-height: 26px;
                    border-radius: 2px;

                    // Franchise Header
                    .fuel-franchise-header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 2px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                        .fuel-franchise-header-right-side {
                            display: flex;
                            align-items: center;
                            gap: 6px;

                            .option-counter {
                                min-width: 22px;
                                height: 16px;
                                border-radius: 20px;
                                background-color: rgb(204, 204, 204, 0.2);
                                color: #aaaaaa;
                                font-size: 11px;
                                font-weight: 500;
                                text-align: center;
                                padding: 0 4.5px;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                            }

                            .header-arrow {
                                width: 18px;
                                height: 18px;
                                line-height: 15px;
                                transition: all 0.3s ease-in-out;

                                svg {
                                    transform: rotate(0deg);
                                    transition: all 0.3s ease-in-out;
                                    path {
                                        fill: #aaaaaa;
                                    }
                                }

                                &.rotate {
                                    svg {
                                        transform: rotate(180deg);
                                        transition: all 0.3s ease-in-out;
                                    }
                                }

                                &:hover {
                                    svg {
                                        path {
                                            fill: #dadada;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    // Franchise Stores
                    .fuel-franchise-stores {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 4px;
                        max-height: 237px;

                        .fuel-franchise-single-store {
                            height: 26px;
                            border-radius: 2px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-left: 3px;
                            padding-right: 24px;
                            padding: 3px 26px 4px 4px;

                            .fuel-franchise-store-name {
                                font-size: 14px;
                                font-weight: 400;
                                height: 19px;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                color: #ffffff;
                            }

                            .fuel-franchise-store-address {
                                font-size: 11px;
                                font-weight: 500;
                                line-height: 14px;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                color: #cccccc;
                            }

                            &.active {
                                .fuel-franchise-store-name,
                                .fuel-franchise-store-address {
                                    color: #ffffff !important;
                                }

                                .highlight-text-45632 {
                                    font-weight: 700;
                                    transition: all 0.3s ease-in-out;
                                }
                            }

                            &:hover {
                                color: #ffffff;
                                background-color: #1d1d1d;

                                // Higlight text
                                &.active {
                                    .fuel-franchise-store-name,
                                    .fuel-franchise-store-address {
                                        color: #ffffff !important;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }

                        &.scroll {
                            transition: all 0.3s ease-in-out;
                            overflow-y: scroll !important;
                            scrollbar-width: none !important; /* Firefox */

                            &::-webkit-scrollbar {
                                width: 3px;
                            }
                            &::-webkit-scrollbar-thumb {
                                background-color: transparent;
                                border: 6px solid #aaaaaa;
                                border-radius: 1px;
                            }
                            &::-webkit-scrollbar-track {
                                padding: 0;
                                position: relative;
                                right: 0;
                                top: 0;
                                background: transparent;
                            }

                            .fuel-franchise-single-store {
                                padding: 3px 22px 4px 4px;
                            }
                        }
                    }

                    &.active-stores {
                        background-color: rgb(170, 170, 170, 0.1);

                        .fuel-franchise-main-header {
                            color: #ffffff;
                            font-weight: 700;
                        }

                        &:hover {
                            background-color: rgb(170, 170, 170, 0.1);
                            color: #dadada;
                        }
                    }

                    &.active-stores-header-hover {
                        &:hover {
                            background-color: #2f2f2f;
                            position: relative;

                            .fuel-franchise-header {
                                color: #ffffff;
                                background-color: #1d1d1d;
                                font-weight: 700;
                                position: relative;
                            }

                            .helper-hover-container {
                                content: '';
                                width: 105%;
                                height: 26px;
                                background-color: #1d1d1d;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                border-radius: 2px;
                            }

                            .fuel-franchise-header {
                                .fuel-franchise-header-right-side {
                                    .header-arrow {
                                        svg {
                                            path {
                                                fill: #dadada;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                //------------------------ Routing Dropdown ------------------------

                &.routing_dropdown {
                    font-size: 11px;
                    height: 22px;
                }
            }

            //------------------------ Load Dispatcher Template ------------------------
            .load-dispatcher-template {
                display: flex;
                align-items: center;
                gap: 6px;
            }

            //------------------------ Load Dispatches TTD Template ------------------------
            .load-dispatches-ttd-template {
                display: grid;
                grid-template-columns: repeat(3, 128px);
                align-items: center;

                .load-dispatches-driver {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    .load-dispatch-driver,
                    .load-dispatch-truck,
                    .load-dispatch-trailer {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100px;
                    }
                }
            }

            //------------------------ Load Broker Template ------------------------
            .load-broker-template {
                display: flex;
                align-items: center;
                gap: 6px;

                .load-broker-status {
                    position: relative;
                    bottom: 1px;

                    &.dnu-status {
                        svg {
                            #Path_36450 {
                                fill: #b7b7b7;
                            }
                        }
                    }

                    &.low-status {
                        svg {
                            #Path_33564 {
                                fill: #e57373;
                            }
                        }
                    }

                    &.medium-status {
                        svg {
                            #Path_33564 {
                                fill: #ffb74d;
                            }
                        }
                    }
                }
            }

            //------------------------ Load Shipper Contact Template -----------------------
            .load-shipper-template {
                display: grid;
                grid-template-columns: 300px 1fr;
                align-items: center;
                padding-right: 25px;
            }

            //------------------------ Custom width dependent on 'col' bootstrap ------------------------

            &.w-col-709 {
                width: 709px;
            }

            &.w-col-696 {
                width: 696px;
            }

            &.w-col-686 {
                width: 686px;
            }

            &.w-col-629 {
                width: 629px;
            }

            &.w-col-616 {
                width: 616px;
            }

            &.w-col-582 {
                width: 582px;
            }

            &.w-col-557 {
                width: 557px;
            }

            &.w-col-510 {
                width: 510px;
            }

            &.w-col-503 {
                width: 503px;
            }

            &.w-col-501 {
                width: 501px;
            }

            &.w-col-481 {
                width: 481px;
            }

            &.w-col-480 {
                width: 480px;
            }

            &.w-col-477 {
                width: 477px;
            }

            &.w-col-456 {
                width: 456px;
            }

            &.w-col-455 {
                width: 455px;
            }

            &.w-col-452 {
                width: 452px;
            }

            &.w-col-445 {
                width: 445px;
            }

            &.w-col-442 {
                width: 442px;
            }

            &.w-col-439 {
                width: 439px;
            }

            &.w-col-431 {
                width: 431px;
            }

            &.w-col-429 {
                width: 429px;
            }

            &.w-col-418 {
                width: 418px;
            }

            &.w-col-416 {
                width: 416px;
            }

            &.w-col-414 {
                width: 414px;
            }

            &.w-col-412 {
                width: 412px;
            }

            &.w-col-407 {
                width: 407px;
            }

            &.w-col-405 {
                width: 405px;
            }

            &.w-col-403 {
                width: 403px;
            }

            &.w-col-397 {
                width: 397px;
            }

            &.w-col-391 {
                width: 391px;
            }

            &.w-col-376 {
                width: 376px;
            }

            &.w-col-366 {
                width: 366px;
            }

            &.w-col-348 {
                width: 348px;
            }

            &.w-col-344 {
                width: 344px;
            }

            &.w-col-334 {
                width: 334px;
            }

            &.w-col-310 {
                width: 310px;
            }

            &.w-col-308 {
                width: 308px;
            }

            &.w-col-302 {
                width: 302px;
            }

            &.w-col-297 {
                width: 297px;
            }

            &.w-col-296 {
                width: 296px;
            }

            &.w-col-288 {
                width: 288px;
            }

            &.w-col-280 {
                width: 280px;
            }

            &.w-col-275 {
                width: 275px;
            }

            &.w-col-272 {
                width: 272px;
            }

            &.w-col-260 {
                width: 260px;
            }

            &.w-col-256 {
                width: 256px;
            }

            &.w-col-251 {
                width: 251px;
            }

            &.w-col-248 {
                width: 248px;
            }

            &.w-col-246 {
                width: 246px;
            }

            &.w-col-242 {
                width: 242px;
            }

            &.w-col-234 {
                width: 234px;
            }

            &.w-col-230 {
                width: 230px;
            }

            &.w-col-229 {
                width: 229px;
            }

            &.w-col-228 {
                width: 228px;
            }

            &.w-col-226 {
                width: 226px;
            }

            &.w-col-220 {
                width: 220px;
            }

            &.w-col-216 {
                width: 216px;
            }

            &.w-col-211 {
                width: 211px;
            }

            &.w-col-202 {
                width: 202px;
            }

            &.w-col-201 {
                width: 201px;
            }

            &.w-col-196 {
                width: 196px;
            }

            &.w-col-192 {
                width: 192px;
            }

            &.w-col-190 {
                width: 190px;
            }

            &.w-col-189 {
                width: 189px;
            }

            &.w-col-188 {
                width: 188px;
            }

            &.w-col-184 {
                width: 184px;
            }

            &.w-col-182 {
                width: 182px;
            }

            &.w-col-178 {
                width: 178px;
            }

            &.w-col-177 {
                width: 177px;
            }

            &.w-col-176 {
                width: 176px;
            }

            &.w-col-174 {
                width: 174px;
            }

            &.w-col-167 {
                width: 166px;
            }

            &.w-col-164 {
                width: 164px;
                max-height: 304px;
            }

            &.w-col-163 {
                width: 163px;
            }

            &.w-col-162 {
                width: 162px;
            }

            &.w-col-156 {
                width: 156px;
            }

            &.w-col-148 {
                width: 148px;
            }

            &.w-col-144 {
                width: 144px;
            }

            &.w-col-139 {
                width: 139px;
            }

            &.w-col-136 {
                width: 136px;
            }

            &.w-col-134 {
                width: 134px;
            }

            &.w-col-133 {
                width: 133px;
            }

            &.w-col-130 {
                width: 130px;
            }

            &.w-col-129 {
                width: 129px;
            }

            &.w-col-120 {
                width: 120px;
            }

            &.w-col-114 {
                width: 114px;
            }

            &.w-col-109 {
                width: 109px;
            }

            &.w-col-108 {
                width: 108px;
            }

            &.w-col-107 {
                width: 107px;
            }

            &.w-col-106 {
                width: 106px;
            }

            &.w-col-101 {
                width: 101px;
            }

            &.w-col-100 {
                width: 100px;
            }

            &.w-col-92 {
                width: 92px;
            }

            &.w-col-88 {
                width: 88px;
            }

            &.w-col-78 {
                width: 78px;
            }

            &.w-col-73 {
                width: 73px;
            }

            &.w-col-71 {
                width: 71px;
            }

            &.w-col-70 {
                width: 70px;
            }

            &.w-col-69 {
                width: 69px;
            }

            &.w-col-68 {
                width: 68px;
            }

            &.w-col-66 {
                width: 66px;
            }

            &.w-col-364 {
                width: 364px;
            }

            &.w-col-210 {
                width: 210px;
            }

            &.w-col-116 {
                width: 116px;
            }

            // ---------------------------------------- DROPDOWN GROUPS ----------------------------------------
            &.dropdown-options-groups {
                max-height: 198px;
                overflow-y: scroll;

                .dropdown-groups,
                .load-broker-contact-groups {
                    display: flex;
                    flex-direction: column;
                    padding: 0px 4px;
                    padding-top: 8px;
                    position: relative;

                    &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        bottom: -3px;
                        height: 2px;
                        width: 96%;
                        background-color: rgb(170, 170, 170, 0.2);
                    }

                    &:last-child {
                        &::after {
                            display: none !important;
                        }
                    }

                    p {
                        margin: 0;
                    }

                    &.last-group {
                        padding-bottom: 8px;
                    }

                    .dropdown-group-header {
                        font-size: 11px;
                        color: rgb(204, 204, 204, 0.4);
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 14px;
                        padding: 0 6px;
                        margin-bottom: 8px;

                        &::-moz-selection {
                            background-color: rgb(
                                204,
                                204,
                                204,
                                0.2
                            ) !important;
                            color: rgb(204, 204, 204, 0.4) !important;
                        }

                        &::selection {
                            background-color: rgb(
                                204,
                                204,
                                204,
                                0.2
                            ) !important;
                            color: rgb(204, 204, 204, 0.4) !important;
                        }
                    }

                    .dropdown-subgroup-options {
                        display: flex;
                        align-items: center;
                        padding: 4px 6px;
                        height: 26px;
                        border-radius: 2px;

                        &:hover {
                            background-color: #1d1d1d;
                            color: #ffffff !important;
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;

                            .dropdown-subgroup-text {
                                font-size: 14px;
                                font-weight: 400;
                                color: #3c3c3c;
                                transition: all 0.3s ease-in-out;

                                &::-moz-selection {
                                    background-color: rgb(
                                        60,
                                        60,
                                        60,
                                        0.2
                                    ) !important;
                                    color: #3c3c3c !important;
                                }

                                &::selection {
                                    background-color: rgb(
                                        60,
                                        60,
                                        60,
                                        0.2
                                    ) !important;
                                    color: #3c3c3c !important;
                                }

                                &::-moz-selection {
                                    background-color: rgb(
                                        60,
                                        60,
                                        60,
                                        0.2
                                    ) !important;
                                    color: #3c3c3c !important;
                                }

                                &.active {
                                    // Higlight text
                                    .highlight-text-45632 {
                                        font-weight: 700;
                                        transition: all 0.3s ease-in-out;
                                        &:hover {
                                            color: #ffffff !important;
                                        }
                                    }
                                }
                            }
                        }

                        .dropdown-subgroup-image {
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            -o-object-fit: fill;
                            object-fit: fill;
                            margin-right: 4px;
                        }

                        .dropdown-subgroup-text {
                            font-size: 14px;
                            font-weight: 400;
                            color: #cccccc;
                            display: block;
                            width: 100%;

                            // Higlight text
                            .highlight-text-45632 {
                                font-weight: 700;
                                transition: all 0.3s ease-in-out;
                                &:hover {
                                    color: #ffffff !important;
                                }
                            }

                            &:hover {
                                color: #ffffff !important;
                            }

                            &.active {
                                color: #ffffff;
                                font-size: 14px;
                                font-weight: 700;
                                position: relative;

                                &:hover {
                                    color: #ffffff;
                                    transition: all 0.3s ease-in-out;
                                }

                                &::after {
                                    position: absolute;
                                    right: -16px;
                                    content: url('../..//assets/svg/common/ic_confirm.svg');
                                    width: 14px;
                                    height: 10px;
                                }
                            }
                        }
                    }
                }

                // Override groups classes for load-broker-contact-template
                .load-broker-contact-groups {
                    padding: 4px 2px;
                    padding-bottom: 0px;
                    margin: 0;
                    position: relative;

                    &::after {
                        bottom: -1px;
                        width: 99%;
                    }

                    &.last-group {
                        padding-bottom: 4px;
                    }

                    .dropdown-group-header {
                        padding: 0px;
                        padding-left: 4px;
                        margin: 0px;
                        margin-bottom: 4px;
                        color: #6c6c6c;
                        text-transform: capitalize;
                    }

                    .dropdown-subgroup-options {
                        display: grid;
                        grid-template-columns: repeat(3, 118px);
                        align-items: center;
                        padding: 0px;
                        padding-left: 4px;
                        margin-bottom: 2px;

                        .dropdown-subgroup-text {
                            &.active-without-check {
                                color: #ffffff;
                                font-size: 14px;
                                font-weight: 700;
                                position: relative;

                                &:hover {
                                    color: #ffffff;
                                    transition: all 0.3s ease-in-out;
                                }

                                // Higlight text
                                .highlight-text-45632 {
                                    font-weight: 700;
                                    transition: all 0.3s ease-in-out;
                                    &:hover {
                                        color: #ffffff !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// PM Repair Modal popover
.ta-dropdown-popover {
    z-index: 999999;
    .arrow {
        display: none !important;
    }

    .popover-body {
        z-index: 99999999;
        .options {
            position: relative;
            top: 3px;
            z-index: 1000;
            max-height: 198px;
            width: 100%;
            background-color: #2f2f2f;
            border-radius: 2px;
            padding: 2px;
            overflow: hidden;

            &.scroll {
                transition: all 0.3s ease-in-out;
                overflow-y: scroll !important;
                scrollbar-width: none !important; /* Firefox */

                &::-webkit-scrollbar {
                    width: 3px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                    border: 6px solid #aaaaaa;
                    border-radius: 1px;
                }

                &::-webkit-scrollbar-track {
                    padding: 0;
                    position: relative;
                    right: 0;
                    top: 0;
                    background: transparent;
                }
            }

            .option {
                position: relative;
                padding: 3px;
                height: 26px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                border-radius: 2px;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #ffffff;
                display: flex;
                gap: 4px;

                &::-moz-selection {
                    color: #ffffff;
                    background-color: rgb(255, 255, 255, 0.2);
                }

                &:nth-last-child(1) {
                    margin-bottom: 0px;
                }

                &:hover {
                    background-color: #1d1d1d;
                    border-radius: 2px;
                    cursor: pointer;
                }

                &.add-option {
                    color: #6f9ee0;
                    font-weight: 600;

                    &::after {
                        content: '';
                        height: 2px;
                        width: 100%;
                        background-color: rgb(170, 170, 170, 0.2);
                        border-radius: 1px;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                    }
                }
            }
        }
    }
}

// Selected Dropdown Card Preview
.selected-item-container {
    height: 50px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: rgb(111, 158, 224, 0.2);
    position: relative;

    .selected-item-label {
        position: absolute;
        top: -16px;
        font-size: 11px;
        font-weight: 600;
        color: #2f2f2f;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        span {
            color: #ef5350;
        }
    }

    .selected-item-name {
        gap: 8px;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        color: #2f2f2f;
        margin: 0;
        display: flex;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .selected-item-star {
            position: relative;
            bottom: 2px;
            cursor: pointer;

            svg {
                width: 16px;
                height: 16px;
            }

            &:hover {
                transition: all 0.3s ease-in-out;
                svg {
                    path {
                        fill: #2f2f2f;
                    }
                }
            }

            &.active {
                svg {
                    path {
                        fill: #6f9ee0;
                    }
                }

                &:hover {
                    transition: all 0.3s ease-in-out;
                    svg {
                        path {
                            fill: #3074d3;
                        }
                    }
                }
            }
        }
    }

    .selected-item-additional {
        display: flex;
        align-items: center;
        gap: 32px;

        .selected-item-info {
            display: flex;
            align-items: center;
            gap: 4px;

            line-height: 14px;

            svg-icon {
                height: 14px;
                width: 14px;
                line-height: 12.5px;

                svg {
                    width: 100%;
                    height: 100%;
                    path {
                        fill: #6f9ee0;
                    }
                }
            }

            p {
                margin: 0;
                padding: 0;
                font-size: 11px;
                font-weight: 400;
                color: #424242;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }

    .clear-selected-item {
        position: absolute;
        right: 4px;
        top: 0px;
        border-radius: 1px;
        transition: all 0.3s ease-in-out;
        display: none;
        z-index: 10;
        cursor: pointer;

        .clear-x {
            svg {
                width: 18px !important;
                height: 18px !important;
                overflow: visible;
                path {
                    fill: #3074d3;
                }
                rect {
                    transition: transform 0.3s;
                    transform: scale(1);
                    transform-origin: center;
                    fill: transparent;
                }
            }

            &:hover {
                svg {
                    overflow: visible;
                    path {
                        fill: #255bb9;
                    }
                    rect {
                        transform: scale(1.2);
                        transform-origin: center;
                        transition: transform 0.3s;
                        fill: rgb(37, 91, 185, 0.2);
                    }
                }
            }
        }
    }

    &:hover {
        p {
            color: #2f2f2f;
        }

        .selected-item-label {
            color: #2f2f2f;
        }

        .selected-item-additional {
            .selected-item-info {
                svg-icon {
                    svg {
                        path {
                            fill: #3074d3;
                        }
                    }
                }
            }
        }
        .clear-selected-item {
            display: inline-block;
        }

        transition: all 0.3s ease-in-out;
    }

    &.non-editable {
        background-color: #f7f7f7;

        .selected-item-label,
        .selected-item-name {
            color: #919191;
        }

        .selected-item-additional {
            .selected-item-info {
                svg-icon {
                    svg {
                        path {
                            fill: #cccccc;
                        }
                    }
                }
                p {
                    color: #919191;
                }
            }
        }
    }
}
