// Table Body Global Scss
.truckassist-table-body-style {
    cdk-virtual-scroll-viewport {
        width: 100%;
        overflow: hidden !important;
        top: -3px;

        .custom-scrollbar-holder {
            padding-top: 3px;
        }
    }

    // SEARCH HIGHLIGHT
    .table-highlight-text-0 {
        color: #26a690;
        background: #26a69020;

        &::selection {
            color: #26a690;
            background: #26a69020;
        }
    }

    .table-highlight-text-1 {
        color: #ab47bc;
        background: #ab47bc20;

        &::selection {
            color: #ab47bc;
            background: #ab47bc20;
        }
    }

    .table-highlight-text-2 {
        color: #ffa726;
        background: #ffa72620;

        &::selection {
            color: #ffa726;
            background: #ffa72620;
        }
    }

    // PASSWORD
    .password-text-crypted {
        display: flex;
        align-self: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .password-characters-container {
            width: 5px;
            height: 5px;
            min-width: 5px;
            min-height: 5px;
            background: #6c6c6c;
            border-radius: 50%;
            margin-right: 2px;
        }
    }
}
