@import 'src/theme/variables.scss';
@import './mixins.scss';

.text {
    &-color {
        &-black {
            color: $ta-black !important;
            @include text-selection($ta-black);
        }

        &-black-2 {
            color: $ta-black-2 !important;
            @include text-selection($ta-black-2);
        }

        &-muted {
            color: $muted !important;
            @include text-selection($muted);
        }

        &-green {
            color: $ta-green !important;
            @include text-selection($ta-green);
        }

        &-green-2 {
            color: $ta-green-2 !important;
            @include text-selection($ta-green-2);
        }

        &-green-4 {
            color: $ta-green-4 !important;
            @include text-selection($ta-green-4);
        }

        &-blue-13 {
            color: $ta-blue-13 !important;
            @include text-selection($ta-blue-13);
        }

        
        &-blue-16 {
            color: $ta-blue-16 !important;
            @include text-selection($ta-blue-16);
        }

        &-blue-18 {
            color: $ta-blue-18 !important;
            @include text-selection($ta-blue-18);
        }

        &-blue-19 {
            color: $ta-blue-19 !important;
            @include text-selection($ta-blue-19);
        }

        &-red-10 {
            color: $ta-red-10 !important;
            @include text-selection($ta-red-10);
        }

        &-red-11 {
            color: $ta-red-11 !important;
            @include text-selection($ta-red-11);
        }

        &-red-13 {
            color: $ta-red-13 !important;
            @include text-selection($ta-red-13);
        }

        &-yellow {
            color: $ta-yellow-1 !important;
            @include text-selection($ta-yellow-1);
        }

        &-purple{
            color: $ta-purple-1 !important;
            @include text-selection($ta-purple-1);
        }

        &-special-filter-purple {
            color: $special-filter-purple !important;
            @include text-selection($special-filter-purple);
        }

        &-light-grey {
            color: $ta-light-grey !important;
            @include text-selection($ta-light-grey);
        }

        &-light-grey-2 {
            color: $ta-light-grey-2 !important;
            @include text-selection($ta-light-grey-2);
        }

        &-light-grey-6 {
            color: $ta-light-grey-6 !important;
            @include text-selection($ta-light-grey-6);
        }

        &-white {
            color: $white !important;
            @include text-selection($white);
        }

        &-white-2 {
            color: $white-2 !important;
            @include text-selection($white);
        }

        &-white-4 {
            color: $white-4 !important;
            @include text-selection($white-4);
        }

        &-bw6-2 {
            color: $bw6-2 !important;
            @include text-selection($bw6-2);
        }

        &-bw-9 {
            color: $bw-9 !important;
            @include text-selection($bw-9);
        }

        &-grey {
            color: $bw5 !important;
            @include text-selection($bw5);

            .address-text,
            .marker-bold-text {
                @include text-selection($bw5);
            }
        }

    }
}
