.overlay-container{

    .toast-bottom-left {
        bottom: 12px;
        left: 60px;
      }

    .ngx-toastr {
        animation-name: ngx-toastr, myAnimationClass;
        animation-delay: 0s, 2.85s;
        animation-duration: 0.15s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      
    @keyframes ngx-toastr {
        from {
          top: 100px; 
        }
        to {
          top: 0px;
        }
      }  

    .toast-container .ngx-toastr {
        position: relative;
        overflow: hidden;
        margin: 0 0 6px;
        padding: 12px 12px;
        width: 540px;

        border-radius: 5px;
        background-position: 13px 13px;
        background-repeat: no-repeat;
        background-size: 17px;
        box-shadow: none !important; 

        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;

        .toast-close-button{
            top: -8px;
            right: -4px;

            font-size: 26px;
            opacity: 0.7;

            &:hover{
                opacity: 1;
                color: #FFFFFF;
            }

            &:active{
              animation-name: myAnimationClass;
              animation-delay: 0s;
              animation-duration: 0.15s;
              animation-iteration-count: 1; 
              animation-fill-mode: forwards;
            }
        }

        &:hover {
          animation-play-state: paused; 
        }
      }

      @keyframes myAnimationClass {
        from {
          opacity: 1;
          transform: scale(1);
          
        }
        to {
          opacity: 0;
          transform: scale(0.7);
        }
      }
      


    .toast-error {
        background-color: #EF5350;
        background-image: url("../../assets/svg/common/ic_danger_white.svg");
      }
     
    .toast-success {
        background-color: #26A690;
        background-image: url("../../assets/svg/common/confirm-circle_white.svg");
      }  

    .toast-info {
        background-color: #AAAAAA;
        background-image: url("../../assets/svg/common/ic_info_white.svg");
      }
     
    .toast-warning {
        background-color: #FFA726;
        background-image: url("../../assets/svg/common/ic_clock_white.svg");
      } 
     
    .toast-title{
        padding-left: 24px;
        padding-bottom: 9px;

        font-size: 14px;
        font-weight: bold;
    }
      
    .toast-message{
        
        font-size: 14px; 
    }
    
    .closeToastrBtn{
      position: absolute;
      top: 8.5px;
      right: 8.5px;

      height: 11px;
      width: 11px;

      background-image: url("../../assets/svg/truckassist-table/x_white.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;

      opacity: 0.7;

      &:hover{
        opacity: 1;
      }
   }

   .closeAnimationBtn {
    animation-name: closeAnimationMain;
    animation-delay: 0s;
    animation-duration: 0.15s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes closeAnimationMain {
    from {
      opacity: 1;
      transform: scale(1);
      
    }
    to {
      opacity: 0;
      transform: scale(0.7); 
    }
  }

  .pausedAnimation{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
  }

}
