@import "../../../../../assets/scss/details_page_ske.scss";



.note-item {
  &::-moz-selection {
    color: $color-gray-dark;
    background: rgb(183, 183, 183, 0.2);
  }
  &::selection {
    color: $color-gray-dark;
    background: rgb(183, 183, 183, 0.2);
  }
  .note-body {
    margin-left: 4px;
  }
}

.common-template {
  display: grid;
  grid-template-columns: 215px 1fr;
  grid-row-gap: 12px;
  row-gap: 12px;
  margin-bottom: 12px;
  padding-left: 6px;
  .common-item-wrapper {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 4px;
  }
  .common-template-item {
    display: flex;
    flex-direction: column;

    .icon-name-item {
      display: flex;
      align-items: center;
      height: 18px;
      .common-template-item-name {
        margin-left: 6px;
      }
    }
    .common-template-item-name {
      font-size: $font-size12;
      font-weight: $font-semibold;
      color: $color-gray-dark;

      &::-moz-selection {
        color: $color-gray-dark;
        background: rgb(183, 183, 183, 0.2);
      }
      &::selection {
        color: $color-gray-dark;
        background: rgb(183, 183, 183, 0.2);
      }
    }

    .common-template-item-value {
      font-size: $font-size14;
      font-weight: 400;
      color: $color-gray-dark;
      width: 220px;
      height: 18px;
      &::-moz-selection {
        color: $color-gray-dark;
        background: rgb(183, 183, 183, 0.2);
      }
      &::selection {
        color: $color-gray-dark;
        background: rgb(183, 183, 183, 0.2);
      }

      p {
        &::-moz-selection {
          color: $color-gray-dark;
          background: rgb(183, 183, 183, 0.2);
        }
        &::selection {
          color: $color-gray-dark;
          background: rgb(183, 183, 183, 0.2);
        }
      }

      .hidden-svg-eye {
        margin-left: 6px;
        position: relative;
        bottom: 1px;
      }
    }
  }
}


.carousel-buttons-control {
  &.prev {
    left: -2px !important;
  }

  &.next {
    right: -2px !important;
  }
}
.additional-container {
  padding: 0 10px;
  display: grid;
  column-gap: 12px;
  row-gap: 12px;
  .addres-wrapper {
    .address-icon {
      display: none;
      position: relative;
      margin-left: 6px;
      bottom: 4px;
      height: 18px;
      svg {
        fill: #aaaaaa;
        &:hover {
          path {
            fill: #6c6c6c;
          }
        }
      }
    }
    .addres-name {
      font-size: $font-size12;
      font-weight: $font-semibold;
      color: #6c6c6c;
    }
    .addres-value {
      font-size: $font-size14;
      font-weight: 400;
      color: #6c6c6c;
      white-space: nowrap;
      &::-moz-selection {
        color: $color-gray-dark;
        background: rgb(183, 183, 183, 0.2);
      }
      &::selection {
        color: $color-gray-dark;
        background: rgb(183, 183, 183, 0.2);
      }
    }

    .addres-value-icon {
      display: flex;
      align-items: flex-start;
      &:hover {
        cursor: pointer;
        .address-icon {
          display: block;
        }
        .addres-value {
          color: #3c3c3c;
        }
      }
    }
  }
}
