@import "../../../../../assets/scss/details_page_ske.scss";



.note-item {
  &::-moz-selection {
    color: $color-gray-dark;
    background: rgb(108, 108, 108, 0.2);
  }
  &::selection {
    color: $color-gray-dark;
    background: rgb(108, 108, 108, 0.2);
  }
  .note-body {
    margin-left: 4px;
  }
  .note-textarea{
    color: #6c6c6c;
  }
}

.carousel-buttons-control {
  &.prev {
    left: -2px !important;
  }

  &.next {
    right: -2px !important;
  }
}
.additional-container {
  padding: 0 10px;
  display: grid;
  column-gap: 12px;
  row-gap: 12px;
  .addres-wrapper {
    .address-icon {
      display: none;
      position: relative;
      margin-left: 6px;
      bottom: 4px;
      height: 18px;
      svg {
        fill: #aaaaaa;
        &:hover {
          path {
            fill: #6c6c6c;
          }
        }
      }
    }
    .addres-name {
      font-size: $font-size12;
      font-weight: $font-semibold;
      color: #6c6c6c;
      &::-moz-selection {
        color: #6c6c6c;
        background: rgb(108, 108, 108, 0.2);
      }
      &::selection {
        color: #6c6c6c;
        background: rgb(108, 108, 108, 0.2);
      }
    }
    .addres-value {
      font-size: $font-size14;
      font-weight: 400;
      color: #6c6c6c;
      white-space: nowrap;
      &::-moz-selection {
        color: #6c6c6c;
        background: rgb(108, 108, 108, 0.2);
      }
      &::selection {
        color: #6c6c6c;
        background: rgb(108, 108, 108, 0.2);
      }
    }

    .addres-value-icon {
      display: flex;
      align-items: flex-start;
      &:hover {
        cursor: pointer;
        .address-icon {
          display: block;
        }
        .addres-value {
          color: #3c3c3c;
        }
      }
    }
  }
}

.status-header{
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 6px;
}
.status-items{
  padding: 0 5px;
  margin-top: 8px;
  .item-wrapper{
    grid-template-columns: 113px 137px 79px !important;
  }
}