<div class="search-chips-container">
    <div
        class="search-container"
        [ngClass]="{ 'search-input-active': openSearch }"
    >
        <!-- Icon -->
        <ng-container  *ngIf="toolbarSearch, else searchContainer">
            <div class="icon-container" [ngClass]="{'icon-disabled': chips.length >= 3}"   (click)="chips.length < 4 ? toggleSearch() : 'null'" [ngbTooltip] = " openSearch ?  chips.length >= 3 ? '3 Max Added' : 'Close' : chips.length >= 3 ? '3 Max Added' : 'Search' " placement="bottom">
                <svg-icon
                    [svgStyle]="{ 'width.px': 17, 'height.px': 17 }"
                    [src]="'assets/svg/truckassist-search/new-search-icon.svg'"
                ></svg-icon>
            </div>
        </ng-container>
        <ng-template #searchContainer>
            <div class="icon-container" (click)="toggleSearch()">
                <svg-icon
                    [svgStyle]="{ 'width.px': 17, 'height.px': 17 }"
                    [src]="'assets/svg/truckassist-search/new-search-icon.svg'"
                ></svg-icon>
            </div>
        </ng-template>

        <!-- Border -->
        <div class="icon-border">
            <div class="inner-border"></div>
        </div>

        <!-- Search Input -->
        <div class="search-input">
            <input
                *ngIf="openSearch"
                [disabled]="chips.length >= 3"
                id="table-search"
                type="text"
                (keyup)="onTyping($event)"
                (keyup.enter)="onEnter()"
                autofocus
                [(ngModel)]="searchText"
                placeholder="Find {{
                    selectedTabData?.gridNameTitle
                        ? selectedTabData.gridNameTitle
                        : 'No Tab Name'
                }}"
            />
            <ng-container *ngIf="toolbarSearch && openSearch && searchText.length">
                <div class="d-flex align-items-center btn-container">
                    <ng-container>
                        <svg-icon
                            class="confirm-icon"
                            ngbTooltip="Confirm"
                            placement="top"
                            [src]="'assets/svg/ic_spec-confirm.svg'"
                            [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                            (click)="onEnter()"
                        ></svg-icon>
                    </ng-container>
    
                    <svg-icon
                        class="clear-icon"
                        ngbTooltip="Clear"
                        placement="top"
                        [src]="'assets/svg/ic_x.svg'"
                        [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                        (click)="handleClearClick()"
                    ></svg-icon>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="chips-container" *ngIf="chips.length">
            
        <ng-container *ngIf="!toolbarSearch, else chipContainer">
            <div
                class="chip"
                *ngFor="let chip of chips; let i = index"
                [ngClass]="{
                    'first-chip-animation': i === 0 && chips[0].canDoAnimation,
                    'second-chip-animation': i === 1 && chips[1].canDoAnimation,
                    'third-chip-animation': i === 2 && chips[2].canDoAnimation,
                    'first-chip-style': i === 0,
                    'second-chip-style': i === 1,
                    'third-chip-style': i === 2,
                    'delete-chip-style': chipToDelete === i
                }"
            >
                {{ chip.searchText }}
                <div
                    class="delete-chip"
                    (mouseenter)="chipToDelete = i"
                    (mouseleave)="chipToDelete = -1"
                    (click)="onDeleteChip(i)"
                >
                    <svg-icon
                        [svgStyle]="{ 'width.px': 6, 'height.px': 6 }"
                        [src]="'assets/svg/truckassist-table/x.svg'"
                    ></svg-icon>
                </div>
            </div>
        </ng-container>
        <ng-template #chipContainer>
            <div
            class="chip"
            *ngFor="let chip of chips; let i = index"
            [ngClass]="{
                'first-chip-toolbar-animation': i === 0 && chips[0].canDoAnimation,
                'second-chip-toolbar-animation': i === 1 && chips[1].canDoAnimation,
                'third-chip-toolbar-animation': i === 2 && chips[2].canDoAnimation,
                'first-chip-toolbar-style': i === 0,
                'second-chip-toolbar-style': i === 1,
                'third-chip-toolbar-style': i === 2,
                'delete-chip-style': chipToDelete === i
            }"
            (click)="onDeleteChip(i)"
            ngbTooltip="Clear" 
            placement="bottom"
            >
                {{ chip.searchText }}
            </div>
        </ng-template>
        <div class="delete-all-chips" [ngClass]="{ 'toolbar-style' : toolbarSearch, 'regular-style': !toolbarSearch}" (click)="deleteAllChips()" ngbTooltip="Clear all" placement="bottom">
            <svg-icon
                [svgStyle]="{ 'width.px': 12, 'height.px': 12 }"
                [src]="'assets/svg/truckassist-table/x.svg'"
            ></svg-icon>
        </div>
    </div>
</div>
