@import 'src/theme/variables';

.search-chips-container {
    display: flex;

    .search-container {
        width: fit-content;
        height: 26px;
        display: flex;

        .icon-container {
            margin-left: 2px;
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &.icon-disabled {
                svg-icon {
                    svg {
                        path {
                            fill: $ta-light-grey-6;
                            transition: fill 0.25s;
                        }
                    }
                }

                &:hover {
                    svg-icon {
                        svg {
                            path {
                                fill: $ta-light-grey-6;
                            }
                        }
                    }
                }
            }

            &:hover {
                svg-icon {
                    svg {
                        path {
                            fill: $bw6-2;
                            transition: fill 0.25s;
                        }
                    }
                }
            }

            svg-icon {
                display: flex;
                svg {
                    rect,
                    path {
                        stroke-width: none !important;
                        stroke: none !important;
                    }
                }
            }
        }

        .search-input {
            height: 26px;
            transition: 0.25s;

            input {
                width: 100%;
                height: 100%;
                border: none;
                background: transparent;
                padding: 0;
                outline: none;
                color: $white;
                font-size: 14px;
                font-weight: 400;

                &::selection {
                    color: $white;
                    background: $white-5;
                }
            }

            .btn-container {
                padding-left: 5px;

                .confirm-icon,
                .clear-icon {
                    cursor: pointer;
                    line-height: 0;
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.2);

                        svg {
                            rect {
                                fill: $white;
                            }
                        }
                    }

                    svg {
                        rect {
                            transition: fill 0.3s ease;
                            fill: $ta-white-3;
                        }

                        path {
                            transition: fill 0.3s ease;
                            fill: $ta-black-3;
                        }
                    }
                }

                .confirm-icon {
                    margin-right: 4px;
                }
            }

            /* Chrome, Firefox, Opera, Safari 10.1+ */
            input::placeholder {
                color: $ta-light-grey-2;
            }
        }
    }

    .chips-container {
        width: fit-content;
        height: 26px;
        display: flex;
        gap: 4px;
        background: $white;
        padding-left: 4px;

        .chip {
            cursor: pointer;
            min-width: 57px;
            height: 26px;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 600;
            padding: 7px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:hover {
                color: $white;
                transition: color 0.25s;

                .delete-chip {
                    opacity: 1;
                    transition: opacity 0.25s;
                }
            }

            .delete-chip {
                position: absolute;
                right: -6px;
                top: -6px;
                width: 14px;
                height: 14px;
                background: $ta-light-grey-2;
                border: 2px solid #f1f1f1;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: background 0.25s, opacity 0.25s;

                &:hover {
                    background: $ta-red-2;
                    transition: background 0.25s;
                }

                svg-icon {
                    display: flex;
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }

        .first-chip-toolbar-style {
            background: $ta-green-2;
            color: $white;

            &:hover {
                background: $special-filter-green;
                transition: background 0.25s;
            }
        }

        .second-chip-toolbar-style {
            background: $special-filter-purple;
            color: $white;

            &:hover {
                background: $special-filter-purple-1;
                transition: background 0.25s;
            }
        }

        .third-chip-toolbar-style {
            background: $ta-yellow-5;
            color: $white;

            &:hover {
                background: $ta-yellow-2;
                transition: background 0.25s;
            }
        }

        .first-chip-style {
            background: $special-filter-green-1;
            color: $ta-review-green-2;

            &:hover {
                background: $ta-review-green-2;
                transition: background 0.25s;
            }
        }

        .second-chip-style {
            background: $special-filter-purple-3;
            color: $special-filter-purple-2;

            &:hover {
                background: $special-filter-purple-2;
                transition: background 0.25s;
            }
        }

        .third-chip-style {
            background: $ta-white-6;
            color: $special-filter-orange;

            &:hover {
                background: $special-filter-orange;
                transition: background 0.25s;
            }
        }

        .delete-chip-style {
            background: $ta-red-2 !important;
            transition: background 0.25s;
        }

        .delete-all-chips {
            cursor: pointer;
            width: 26px;
            height: 26px;
            border-radius: 1px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                display: flex;
            }

            &.regular-style {
                &:hover {
                    background: $ta-red-12;
                    transition: background 0.25s;

                    svg {
                        path {
                            fill: $ta-red-3;
                            transition: fill 0.25s;
                        }
                    }
                }
            }
            &.toolbar-style {
                &:hover {
                    background: $bw2;
                    transition: background 0.25s;

                    svg {
                        path {
                            fill: $ta-black;
                            transition: fill 0.25s;
                        }
                    }
                }
            }
        }
    }
}

/* NG Class */
.search-input-active {
    background: $ta-black-3 !important;
    border-radius: 2px;
    transition: background 0.25s !important;

    .icon-container {
        &:hover {
            svg-icon {
                svg {
                    path {
                        fill: $bw2 !important;
                        transition: fill 0.25s !important;
                    }
                }
            }
        }

        svg-icon {
            svg {
                path {
                    fill: $bw4 !important;
                }
            }
        }
    }

    .icon-border {
        width: 1px;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 4px;

        .inner-border {
            width: 100%;
            height: 14px;
            background: $ta-light-grey-8;
        }
    }

    .search-input {
        width: 147px !important;
        transition: width 0.25s;
    }
}

.first-chip-toolbar-animation {
    animation: searchOneAnimation 0.2s ease-in-out;
}

.second-chip-toolbar-animation {
    animation: searchTwoAnimation 0.2s ease-in-out;
}

.third-chip-toolbar-animation {
    animation: searchThreeAnimation 0.2s ease-in-out;
}

@keyframes searchOneAnimation {
    from {
        left: -63px;
    }
    to {
        left: 0px;
    }
}

@keyframes searchTwoAnimation {
    from {
        left: -124px;
    }
    to {
        left: 0px;
    }
}

@keyframes searchThreeAnimation {
    from {
        left: -140px;
    }
    to {
        left: 0px;
    }
}
