.search-chips-container {
    display: flex;

    .search-container {
        width: fit-content;
        height: 26px;
        display: flex;

        .icon-container {
            margin-left: 2px;
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                svg-icon {
                    svg {
                        path {
                            fill: #6c6c6c;
                            transition: 0.25s;
                        }
                    }
                }
            }

            svg-icon {
                display: flex;
                svg {
                    rect,
                    path {
                        stroke-width: none !important;
                        stroke: none !important;
                    }
                }
            }
        }

        .search-input {
            height: 26px;
            width: 0;
            transition: 0.25s;
            input {
                width: 100%;
                height: 100%;
                border: none;
                background: transparent;
                padding: 0;
                outline: none;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;

                &::selection {
                    color: #ffffff;
                    background: #ffffff20;
                }
            }

            /* Chrome, Firefox, Opera, Safari 10.1+ */
            input::placeholder {
                color: #aaaaaa;
            }
        }
    }

    .chips-container {
        width: fit-content;
        height: 26px;
        display: flex;
        gap: 4px;
        background: #ffffff;
        padding-left: 4px;

        .chip {
            cursor: pointer;
            min-width: 57px;
            height: 26px;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 600;
            padding: 7px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:hover {
                color: white;
                transition: 0.25s;

                .delete-chip {
                    opacity: 1;
                    transition: 0.25s;
                }
            }

            .delete-chip {
                position: absolute;
                right: -6px;
                top: -6px;
                width: 14px;
                height: 14px;
                background: #aaaaaa;
                border: 2px solid #f1f1f1;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: background 0.25s, opacity 0.25s;

                &:hover {
                    background: #ef5350;
                    transition: 0.25s;
                }

                svg-icon {
                    display: flex;
                    svg {
                        path {
                            fill: #ffffff;
                        }
                    }
                }
            }
        }

        .first-chip-style {
            background: #26a69020;
            color: #26a690;

            &:hover {
                background: #26a690;
                transition: 0.25s;
            }
        }

        .second-chip-style {
            background: #ab47bc20;
            color: #ab47bc;

            &:hover {
                background: #ab47bc;
                transition: 0.25s;
            }
        }

        .third-chip-style {
            background: #ffa72620;
            color: #ffa726;

            &:hover {
                background: #ffa726;
                transition: 0.25s;
            }
        }

        .delete-chip-style {
            background: #ef5350 !important;
            transition: 0.25s;
        }

        .delete-all-schips {
            cursor: pointer;
            width: 26px;
            height: 26px;
            border-radius: 1px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                display: flex;
            }

            &:hover {
                background: #f4433620;
                transition: 0.25s;

                svg {
                    path {
                        fill: #f44336;
                        transition: 0.25s;
                    }
                }
            }
        }
    }
}

/* NG Class */
.search-input-active {
    background: #1d1d1d !important;
    border-radius: 2px;
    transition: background 0.25s !important;

    .icon-container {
        &:hover {
            svg-icon {
                svg {
                    path {
                        fill: #eeeeee !important;
                        transition: 0.25s !important;
                    }
                }
            }
        }

        svg-icon {
            svg {
                path {
                    fill: #b7b7b7 !important;
                }
            }
        }
    }

    .icon-border{
        width: 1px;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 4px;

        .inner-border{
            width: 100%;
            height: 14px;
            background: #CCCCCC40;
        }
    }


    .search-input {
        width: 147px !important;
        transition: 0.25s;
    }
}

.first-chip-animation {
    animation: searchOneAnimation 0.2s ease-in-out;
}

.second-chip-animation {
    animation: searchTwoAnimation 0.2s ease-in-out;
}

.third-chip-animation {
    animation: searchThreeAnimation 0.2s ease-in-out;
}

@keyframes searchOneAnimation {
    from {
        left: -63px;
    }
    to {
        left: 0px;
    }
}

@keyframes searchTwoAnimation {
    from {
        left: -124px;
    }
    to {
        left: 0px;
    }
}

@keyframes searchThreeAnimation {
    from {
        left: -140px;
    }
    to {
        left: 0px;
    }
}
