.fuel-total-row {
    margin: 0 !important;
    text-align: right;
    .fuel-total {
        align-self: end;
        font-size: 18px;
        font-weight: 800;
        color: #2f2f2f;
        margin: 0;
        line-height: 18px;
        padding-right: 35px !important;

        &-text {
            font-size: 12px;

            &::-moz-selection {
                background-color: rgb(47, 47, 47, 0.2) !important;
                color: #2f2f2f !important;
            }

            &::selection {
                background-color: rgb(47, 47, 47, 0.2) !important;
                color: #2f2f2f !important;
            }
        }

        &::-moz-selection {
            background-color: rgb(47, 47, 47, 0.2) !important;
            color: #2f2f2f !important;
        }

        &::selection {
            background-color: rgb(47, 47, 47, 0.2) !important;
            color: #2f2f2f !important;
        }
    }
}

// Fuel Item Price Container (from FormArray)
.fuel-item-price-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .fuel-item-price-dollar {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #2f2f2f;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
