<div class="cards-container">
    <ng-container
        *ngFor="let card of _viewData; let i = index; trackBy: trackCard"
    >
        <div class="custom-card">
            <!-- Card splited on left and right side -->

            <div
                class="card-body d-flex justify-content-between"
                [ngClass]="{
                    'body-active':
                        isCardFlippedCheckInCards.includes(i) ||
                        isAllCardsFlipp,
                    'body-checked': card.isSelected
                }"
            >
                <!-- Left side of the card -->

                <div class="card-body-left p-1">
                    <!-- Head of the card -->

                    <div class="card-header d-flex align-items-center">
                        <div class="checkbox-holder d-flex align-items-center">
                            <!-- Checkbox -->

                            <span
                                class="checkbox-tooltip"
                                type="button"
                                ngbTooltip
                                [mainTooltip]="
                                    !card.isSelected ? 'Select' : 'Clear'
                                "
                                tooltipBackground="#424242"
                                position="bottom"
                                customClass="mt-1"
                            >
                                <input
                                    class="table-checkbox"
                                    type="checkbox"
                                    id="checkbox{{ i }}"
                                    [checked]="card.isSelected"
                                    (change)="onCheckboxSelect(i, card)"
                                />
                                <label
                                    class="table-checkbox-label"
                                    for="checkbox{{ i }}"
                                ></label>
                            </span>
                        </div>

                        <!-- Card Title -->

                        <div class="name d-flex ta-font-bold">
                            <!-- If Driver User or Contact page-->
                            <span class="title">
                                <span
                                    class="title-tooltip"
                                    type="button"
                                    customClass="mt-1"
                                >
                                    {{ card.textUnit }}
                                </span>
                            </span>
                        </div>
                    </div>

                    <!-- Card body front-->

                    <div class="card-body-content flipped">
                        <!-- Card body item -->

                        <ng-container
                            *ngFor="
                                let cardRow of displayRowsFront
                                    | flipCards
                                        : i
                                        : isCardFlippedCheckInCards
                                        : isAllCardsFlipp
                                        : displayRowsBack;
                                trackBy: trackCard
                            "
                        >
                            <div class="one-row">
                                <div class="item-body">
                                    <div class="top-item-body">
                                        {{ cardRow.title }}
                                    </div>

                                    <ng-container *ngIf="cardRow.field">
                                        <div
                                            class="bottom-item-body d-flex align-items-center"
                                        >
                                            <div
                                                class="progresbar-pm d-flex align-items-center"
                                            >
                                                <span
                                                    class="checkbox-tooltip"
                                                    type="button"
                                                    ngbTooltip
                                                    mainTooltip="View PM"
                                                    tooltipBackground="#424242"
                                                    position="bottom"
                                                    [disableTooltip]="
                                                        (card
                                                            | valueByStringPath
                                                                : cardRow.key) ===
                                                        '/'
                                                    "
                                                >
                                                    <app-ta-progres-bar
                                                        [percents]="
                                                            card
                                                                | valueByStringPath
                                                                    : cardRow.secondKey
                                                        "
                                                        [text]="
                                                            card
                                                                | valueByStringPath
                                                                    : cardRow.key
                                                        "
                                                        [hasPopover]="true"
                                                        [type]="
                                                            selectedTab ===
                                                            'active'
                                                                ? 'miles'
                                                                : 'days'
                                                        "
                                                        [data]="card"
                                                        [columnField]="
                                                            cardRow.field
                                                        "
                                                    ></app-ta-progres-bar>
                                                </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="!cardRow.field">
                                        <div
                                            class="bottom-item-body d-flex align-items-center gap"
                                        >
                                            {{
                                                card
                                                    | valueByStringPath
                                                        : cardRow.key
                                            }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <!-- Right side of card -->

                <div class="card-body-right">
                    <div class="top-side">
                        <!-- Open dropdown element-->

                        <app-ta-table-card-dropdown-actions
                            [card]="card"
                            (bodyActions)="onCardActions($event)"
                        ></app-ta-table-card-dropdown-actions>

                        <!-- Note element -->

                        <div
                            class="note-container right-side-svg d-flex align-items-center justify-content-center flex-column"
                        >
                            <app-ta-note
                                [note]="card.note"
                                [mainData]="card"
                                [entityId]="card.pmId"
                                [entityType]="
                                    selectedTab === 'active'
                                        ? 'PmTruckUnit'
                                        : 'PmTrailerUnit'
                                "
                                [openedAll]="false"
                                [parking]="false"
                            >
                            </app-ta-note>
                        </div>

                        <!-- Expand element -->

                        <div
                            class="bottom-side d-flex justify-content-center"
                            (click)="flipCard(i)"
                        >
                            <span
                                class="expand-card"
                                type="button"
                                ngbTooltip
                                mainTooltip="Expand Card"
                                tooltipBackground="#424242"
                                position="bottom"
                                [ngClass]="{
                                    'rotate-svg':
                                        isCardFlippedCheckInCards.includes(i) ||
                                        isAllCardsFlipp,
                                    'svg-position':
                                        !isCardFlippedCheckInCards.includes(i)
                                }"
                                customClass="mt-2"
                            >
                                <svg-icon
                                    [src]="'assets/svg/common/resize-arrow.svg'"
                                ></svg-icon>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
