<div class="card-main-holder">
   <div class="left-side">
      <div class="details">
         <app-driver-details-card
            *ngIf="selectedData"
            [driver]="selectedData"
            [templateCard]="true"
         >
         </app-driver-details-card>
      </div>
   </div>
   <div class="right-side">
      <div *ngFor="let item of viewData; let indx = index" class="card-frame">
         <div class="card-holder-frame" [class.active]="item.isSelected">
            <div class="driver-dropdown">
               <svg-icon
                  src="assets/svg/truckassist-table/dropdown/dropdown.svg"
               ></svg-icon>
            </div>
            <div class="driver-card-frame">
               <div class="driver-card-img">
                  <div class="circle-active">
                     <svg-icon
                        src="assets/svg/common/ic_driver-owner.svg"
                     ></svg-icon>
                  </div>
                  <label class="container1">
                     <input
                        (change)="changeChatBox(item.id)"
                        [checked]="item.isSelected"
                        type="checkbox"
                     />
                     <span class="checkmark"></span>
                  </label>
                  <div class="driver-avatar">
                     <img
                        class="driver-avatar-svg"
                        [src]="transformImage()"
                        alt="Driver Image"
                     />
                  </div>
               </div>
               <div class="driver-card-info-frame">
                  <div class="driver-card-name">{{ item.fullName }}</div>
                  <div class="driver-card-phone-frame padding-between">
                     <div class="driver-phone-img">
                        <svg-icon
                           src="assets/svg/common/ic_phone.svg"
                        ></svg-icon>
                     </div>
                     <div class="driver-phone">
                        {{ item.phone | formatPhoneP }}
                     </div>
                  </div>
                  <div class="driver-card-phone-frame">
                     <div class="driver-phone-img">
                        <svg-icon
                           src="assets/svg/common/ic_email.svg"
                        ></svg-icon>
                     </div>
                     <div class="driver-phone">{{ item.email }}</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
