@import 'src/theme/variables';

.messages-container {
    width: 100%;

    flex-grow: 1;
    overflow-y: scroll;

    background-color: $white;
    border-radius: 2px;

    .messages-wrapper {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;

        .messages-content {
            flex-grow: 1;
            overflow-y: auto;
            margin: 6px;

            .empty-conversation {
                margin-top: 54px;
            }

            .fullname {
                color: $bw5;
                padding-top: 12px;
                font-size: 20px;
                line-height: 25px;
            }

            .message-date {
                height: 26px;
                padding: 6px;
                color: $ta-black;
                font-size: 11px;
            }
            .line-gradient-left {
                height: 1px;
                width: 100%;
                background: linear-gradient(0deg, #dadada 100%, $white 0%);
            }
            .line-gradient-right {
                width: 100%;
                height: 1px;
                background: linear-gradient(0deg, #dadada 100%, $white 0%);
            }
        }

        .upload-wrapper {
            height: calc(100% - 38px);
        }
    }
}

.item-text {
    color: $ta-light-grey-6;
    font-size: 14px;

    padding: 0 8px 0 4px;

    .text {
        height: 23px;
        margin: auto;
    }
}
@media only screen and (max-width: 1280px) {
    .item-text {
        display: none !important;
    }
}
