@import 'src/theme/variables';

@keyframes selectFix {
    from {
        user-select: none;
    }

    to {
        user-select: auto !important;
    }
}

.ta-custom-card {
    display: block;
    transition: background 0.1s ease-in-out;

    &.dropdown-modal-card {
        background-color: $ta-black;
        border-radius: 2px;
    }

    // Card header
    .ta-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 4px 0px;
        height: 26px;
        cursor: pointer;
        user-select: none;
        max-width: 616px;

        &.width-xxl {
            max-width: unset;
        }

        &.ta-card-spacing-x {
            margin: 10px 0;
            padding: 0 15px;
        }

        .header-content {
            display: flex;
            align-items: center;

            .payroll-left-counter {
                display: flex;
                background-color: #f3f3f3;
                justify-content: center;
                align-items: center;
                min-width: 26px;
                margin-right: 4px;
                height: 26px;
                color: #2f2f2f;
                font-size: 14px;
                font-weight: 700;
                border-radius: 2px;
                user-select: none;
            }

            .header-text {
                font-weight: 800;
                font-size: 14px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                line-height: 18px;
                transition: color 0.3s ease-in-out;

                &.dropdown-card {
                    text-transform: uppercase;
                    font-size: 11px;
                    font-weight: 700;
                    color: $ta-light-grey-2 !important;
                }
            }

            .capsula-wrapper {
                background: $bw6-2;
                border-radius: 60px;
                padding: 2px 10px;

                p {
                    font-size: 11px;
                    line-height: 14px;
                    color: $white;
                }
            }

            .subtext-container {
                margin-left: 4px;

                &.red {
                    p {
                        color: $ta-red-10;
                    }
                }

                &.green {
                    p {
                        color: $ta-green;
                    }
                }

                p {
                    font-size: 11px;
                    line-height: 15px;
                    color: $bw5;
                }
            }

            // Left side near name svg

            .header-svg {
                margin-left: 6px;
                width: 18px;
                height: 18px;
                position: relative;
                bottom: 1px;

                &:not(.header-svg-bank) {
                    svg {
                        path {
                            fill: $bw5;
                        }
                    }

                    &:hover {
                        svg {
                            path {
                                fill: $ta-black;
                            }
                        }
                    }
                }
            }
        }

        // Card right side actions
        .header-actions {
            display: flex;
            align-items: center;
            gap: 12px;

            // Plus add action
            .action-plus-icon-container {
                width: 26px;
                height: 26px;
                border-radius: 2px;
                background: transparent;
                transition: background 0.3s ease-in-out;
                cursor: pointer !important;

                &:hover {
                    &:not(.disabled) {
                        background: $ta-blue-16;

                        .action-plus-icon {
                            svg {
                                path {
                                    fill: $ta-blue-15;
                                }
                            }
                        }
                    }
                }

                .action-plus-icon {
                    svg {
                        path {
                            fill: $ta-blue-13;
                            transition: fill 0.3s ease-in-out;
                        }
                    }
                }

                &.disabled {
                    pointer-events: none;

                    .action-plus-icon {
                        svg {
                            path {
                                fill: $muted;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }

            .header-custom-text-action {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                min-width: 82px;
                height: 26px;
                transform-origin: right;
                background-color: rgb(48, 116, 211, 0.2);
                border-radius: 2px;
                cursor: pointer;
                position: relative;
                left: 3px;
                padding: 6px 18px;
                transition: all 0.2s ease-in-out;

                .header-action-text {
                    margin: 0;
                    font-size: 11px;
                    font-weight: 700;
                    line-height: 18px;
                    color: #3074d3;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                &:hover {
                    background-color: #536bc2;

                    .header-action-text {
                        color: #ffffff;
                    }
                }
            }

            // Download action
            .header-action-download {
                width: 18px;
                height: 18px;
                line-height: 18px;

                svg {
                    width: 100%;
                    height: 100%;

                    path {
                        fill: #b7b7b7;
                    }
                }

                &:hover {
                    transition: all 0.3s ease-in-out;

                    svg {
                        path {
                            fill: #919191;
                        }
                    }
                }
            }

            // 24/7 status
            ._24-7-status {
                width: 60px;
                height: 26px;
                border-radius: 2px;
                background-color: $bw2;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                p {
                    margin: 0;
                    padding: 0;
                    color: $bw6-2;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 18px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                &:hover {
                    background: $ta-black;
                    transition: background 0.3s ease-in-out;

                    p {
                        transition: color 0.3s ease-in-out;
                        color: $white;
                    }
                }

                &.active {
                    background-color: $ta-blue-14;

                    p {
                        color: $white;
                    }

                    &:hover {
                        background-color: $ta-blue-15;
                    }
                }
            }

            // Weekly status
            .weekly-status {
                background-color: $bw2;
                height: 20px;
                padding: 2.5px 6px;
                border-radius: 2px;

                .weekly-status-value {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 15px;
                }

                &.disabledWeeklyStatus {
                    margin-right: 30px;
                }
            }

            // Delete actions
            .delete-icon-container {
                width: 26px;
                text-align: center;
                cursor: pointer;

                .delete-icon {
                    svg {
                        path {
                            fill: $muted;
                        }
                    }
                }

                &:hover {
                    background-color: $white-6;
                    border-radius: 2px;

                    svg {
                        path {
                            fill: $ta-red-14;
                        }
                    }
                }
            }

            // Header (Details, calendar)
            .arrow-down-plus {
                display: flex;
                align-items: center;

                .add-custom-card {
                    display: flex;
                    align-items: center;
                }

                .plus-custom-card {
                    svg {
                        margin-right: 11px;
                        width: 18px;
                        height: 18px;

                        path {
                            fill: #6d82c7;
                        }

                        &:hover {
                            path {
                                fill: #536bc2 !important;
                            }
                        }
                    }
                }
            }

            // Arrow
            .header-arrow {
                width: 18px;
                height: 20px;
                line-height: 18px;

                svg {
                    transform: rotate(0deg);
                    transition: all 0.3s ease-in-out;

                    path {
                        fill: #919191;
                    }
                }

                &.rotate {
                    svg {
                        transform: rotate(180deg);
                        transition: all 0.3s ease-in-out;

                        path {
                            fill: #aaaaaa;
                        }
                    }
                }
            }

            // Like & dislike butt0n
            &.like-dislike-template {
                display: flex;
                align-items: center;
                position: relative;
            }

            &.hidden-add-new-action {
                .ta-like-dislike {
                    margin-right: -2px;
                }
            }
        }

        &:hover {
            transition: all 0.3s ease-in-out;

            .header-arrow {
                svg {
                    path {
                        fill: #aaaaaa;
                    }
                }
            }
        }

        &.no-data {
            cursor: auto !important;

            &:hover {
                .header-arrow {
                    svg {
                        path {
                            fill: #aaaaaa;
                        }
                    }
                }
            }
        }

        &.disabled {
            cursor: default;

            .header-arrow {
                display: none !important;
            }

            .show-pointer {
                cursor: pointer !important;
            }
        }

        &.cursor {
            cursor: pointer;
        }

        &.dropdown-card {
            border-bottom: 1px solid #424242;
        }

        &.dropdown-modal-card {
            position: relative;
            margin: 0;
            padding: 0px 4px 0px 6px;

            .header-content {
                .header-text {
                    font-weight: 400;
                    font-size: 14px;
                    color: $white !important;
                }
            }
        }

        &.active-dropdown-modal-card {
            .header-content {
                .header-text {
                    font-weight: 700;
                }
            }
        }
    }

    // Card body
    .ta-card-body {
        &.set-max-height {
            transition: max-height 0.3s ease-in-out;
            will-change: max-height;
            max-height: 50px;
        }

        &.scroll {
            overflow-y: scroll !important;
            scrollbar-width: none !important;
            /* Firefox */

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                border: 6px solid #6c6c6c;
                border-radius: 1px;
            }

            &::-webkit-scrollbar-track {
                padding: 0;
                position: relative;
                right: 0;
                top: 0;
                background: transparent;
            }

            &::-moz-selection {
                background-color: rgb(229, 229, 229, 0.2);
                color: #6c6c6c;
            }
        }

        &.scroll-x-axis {
            overflow-x: scroll !important;
            scrollbar-width: none !important;
            /* Firefox */

            &::-webkit-scrollbar:horizontal {
                width: 2px !important;
                border-radius: 2px !important;
                height: 8px !important;
            }

            &::-webkit-scrollbar-thumb:horizontal {
                background: $bw-9 !important;
                border: 2px solid $ta-light-grey-5 !important;
                border-radius: 1px !important;
            }

            &::-webkit-scrollbar-track:horizontal {
                margin-left: 185px !important;
                background: $ta-light-grey-5 !important;
            }
        }

        .content-holder {
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition:
                height 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
            will-change: height, opacity;

            &.innactive {
                height: 0;
                opacity: 0;
                overflow: hidden;
                margin-bottom: 0 !important;
            }

            &.active {
                opacity: 1;
                overflow: visible;
                transition:
                    height 0.3s ease-in-out,
                    opacity 0.3s ease-in-out;
                height: 100%;
            }

            &.openedCardClass {
                animation: selectFix 1.5s ease;
            }

            &.detailsPadding {
                padding: 0px 4px !important;
            }
        }

        &.scroll-x-axis {
            .active {
                overflow: visible;
            }
        }
    }
}

.reodering-button {
    border-radius: 2px;
    border: 0;
    font-size: 11px;
    padding: 3px 9px;
    background: $bw2;
    color: $ta-blue-13;
    transition: 0.3s;

    &-mild {
        color: $bw6-2;
    }

    &:hover {
        color: $white;
        background-color: $ta-blue-15;
    }

    &.error {
        color: $ta-red-11;

        &:hover {
            color: $white;
            background-color: $ta-red-11;
        }
    }
}

.grey-text {
    .header-text {
        color: $ta-light-grey-2 !important;
    }

    .ta-counter {
        background-color: $ta-light-grey-6 !important;
    }
}