.upload-carousel {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 194px;

  .ta-upload-files-carousel {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 194px;
    overflow: hidden;
    border-radius: 3px;

    .carousel-slider {
      position: relative;
      transform: translateX(0);
      transition: all 0.5s ease-in-out;
      display: flex;

      &.multiple-slider {
        gap: 12px;
      }
    }
  }

  .ta-upload-carousel-control-bg {
    position: absolute;
    top: 32%;
    width: 24px;
    height: 32px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    display: none;
    transform: translate(-5%, 22%);
    transition: all 0.3s ease-in-out;

    &.prev {
      left: -4px;
      padding-right: 1px;
    }

    &.next {
      left: 90%;
      padding-left: 1px;
    }

    .ta-upload-files-control {
      svg {
        path {
          stroke-linejoin: round;
          paint-order: stroke;
          filter: drop-shadow(0 0 4px rgb(0 0 0 / 15%));
          fill: rgba(255, 255, 255, 0.7) !important;
        }
      }

      svg-icon {
        svg {
          display: flex;
          width: 24px;
          height: 32px;
        }
      }
    }

    &:hover {
      transition: all 0.3s ease-in-out;

      .ta-upload-files-control {
        svg {
          path {
            fill: rgba(255, 255, 255, 1) !important;
          }
        }
      }
    }
  }

  &:hover {
    transition: all 0.3s ease-in-out;
    .ta-upload-carousel-control-bg {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.medium {
    .ta-upload-carousel-control-bg {
      &.next {
        left: 95%;
      }
    }
  }

  &.large {
    .ta-upload-carousel-control-bg {
      &.next {
        left: 510px;
      }
    }
  }

  &.driver-details-pdf {
    grid-template-rows: 343px;

    .ta-upload-files-carousel {
      grid-template-rows: 343px;
    }

    .ta-upload-carousel-control-bg {
      top: 41%;

      &.next {
        left: 94%;
        padding-left: 1px;
      }

      .ta-upload-files-control {
        line-height: 24px;
      }
    }
  }

  &.todo-details {
    grid-template-rows: 200px;

    .ta-upload-files-carousel {
      grid-template-rows: 200px;
    }

    .ta-upload-carousel-control-bg {
      top: 41%;

      &.next {
        left: 94%;
        padding-left: 1px;
      }

      .ta-upload-files-control {
        line-height: 24px;
      }
    }
  }

  // Carousel Button Tabs
  .carousel-tabs-control {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-55%, 18px);

    .carousel-tab {
      width: 12px;
      height: 6px;
      background-color: #dadada;
      border-radius: 3px;
      margin-left: 4px;

      &.active-tab {
        transition: all 0.3s ease-in;
        width: 20px;
        background-color: #919191;
      }
    }
  }
}
.ta-upload-files-carousel-left {
  svg {
    transform: rotate(180deg);
  }
}
