table {
    width: 100%;

    th.pick-delivery {
        display: flex;
        div {
            flex: 1;
            display: flex;
            align-items: center;
        }
    }

    th {
        height: 34px;
        padding-left: 10px;

        color: #2f2f2f;
        font-size: 14px;
        font-weight: 700;
    }

    td {
        padding: 1px;
        .main_inside {
            height: 34px;
            background-color: #f7f7f7;
            border-radius: 3px;

            .padding-inside {
                padding: 4px;
                height: 100%;

                .add_new {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 6px;
                    padding-right: 6px;

                    .text {
                        color: #ffffff;
                        font-size: 14px;
                    }

                    svg-icon {
                        display: flex;

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }

            &.addNew {
                background-color: #98b9ea;

                &:hover {
                    cursor: pointer;
                    background-color: #3074d3;
                }
            }
        }
    }

    th,
    td {
        &.empty,
        &.box-item {
            min-width: 34px;
            max-width: 34px;
            width: 34px;

            &.box-item {
                min-width: 36px;
                max-width: 36px;
                width: 36px;
            }
        }

        &.truck-field, &.trailer-field {
            min-width: 120px;
            max-width: 120px;
            width: 120px;
        }

        &.driver-field {
            min-width: 230px;
            max-width: 230px;
            width: 230px;
        }

        &.location-field{
            min-width: 160px;
            max-width: 160px;
            width: 160px;
        }

        &.status-field{
            min-width: 140px;
            max-width: 140px;
            width: 140px;
        }

        &.pickup-delivery-field{
            min-width: 340px;
            max-width: 340px;
            width: 340px;
        }

        &.progress-field{
            min-width: 226px;
            max-width: 226px;
            width: 226px;
        }

        &.parking-field{
            min-width: 130px;
            max-width: 130px;
            width: 130px;
        }

        &.note-field{
            min-width: 240px;
            max-width: 240px;
            width: 240px;
        }

        .drop-item{
            app-ta-input-dropdown{
                input{
                    height: 34px !important;
                }
            }
        }
    }
}
