<div class="cards-container">
    <app-load-card 
        *ngFor="let card of _viewData; let index = index, 
        trackBy: '' | trackByProperty"
        [card]="card"
        [index]="index"
        [isExpandCardChecked]="isExpandCardChecked"
        [selectedTab]="selectedTab"
        [cardTitleLink]="cardTitleLink"
        [cardFront]="cardsFront[0][index]"
        [cardBack]="cardsBack[0][index]"
        [isAllCardsFlipp]="isAllCardsFlipp"
        [isCardFlipped]="isCardFlippedCheckInCards.includes(index)"
        [title]="titleArray[0][index]"
        (onCheckboxSelect)="onCheckboxSelect($event)"
        (flipCardClick)="flipCard(index)"
        (detailsPageClick)="goToDetailsPage($event)"
    >
    </app-load-card>
</div>
