@import '../navigation.design.scss';

.nav-footer {
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    position: relative;
    left: 8px;
    width: 100%;
    .settings{
        order: 2;
        margin: 6px 0px;
        margin-bottom: 12px;
    }
    .nav-footer-item{

        &:nth-child(1){
            order: 1;
        }
        &:nth-child(4){
            order: 3;
        }
    }
    p {
        color: $nav-white;
        font-weight: $nav-font-medium;
        font-size: $nav-font-size;

        margin: 0;
        margin-left: 12px;

        position: absolute;
        top: -12px;
    }
    
    .nav-footer-item-scaleWidth {
        width: 0px !important;
    }
    
    &:nth-child(1){
        .hide-user{
            display: none;
            div{
                height: fit-content;
            }
        }
        .notification{
            width: 230px;
            div{
                width: 230px;
                .nav-footer-rightSide{
                    width: 230px;
                }
            }
        }
        .notification{
            width: 230px;
            position: relative;
            .status-marker-container-notification-1{
                position: absolute;
                width: 12px;
                height: 12px;
                left: 9px;
                bottom: 11px;
                display: flex;
                justify-content: center;
                align-items: center;
                .status-marker-notification-1 {
                    width: 8px;
                    height: 8px;
                }
            }
            .nav-footer-rightSide{
                width: 100%;
            }
        }
        div{
            display: flex;
            align-items: center;
            height: fit-content;
            .notification-message{
                padding: 0 5px;
                width: auto;
                height: 18px;
                background: rgba(229, 115, 115, 0.1);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color:  $notification;
                font-weight: 700;
                font-size: 11px;
                position: absolute;
                right: 8px;
                opacity: 0;
            }
        }
        
    }
    .nav-footer-item {
        height: 28px;
        display: flex;
        align-items: center;
        
        &:nth-last-child(2) {
            display: none;
            order: 3;
        }
        .nav-footer-image-user {
            width: 28px;
            height: 28px;
            object-fit: fill;
            margin-left: -4px;
            margin-bottom: 1px;
        }

        .nav-footer-user {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            gap: 1px;
            p {
                margin-left: 6px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 140px;
                overflow: hidden;
                &:nth-child(1) {
                    line-height: 17px;
                    font-size: 14px;
                    font-weight: 700;
                }
                &:nth-child(2) {
                    font-size: 11px;
                    font-weight: $nav-font-regular;
                }
            }

            .nav-footer-user-company {
                position: relative;
                top: 2px;
            }

            .nav-footer-user-name {
                position: relative;
                top: -1px;
            }
        }

        .status-marker-container {
            bottom: -2px;
            left: 13px;
            width: 12px;
            height: 12px !important;
            background: transparent;
        }

        .nav-footer-hover {
            width: 178px;
            height: 30px;
            position: absolute;
            right: 5px;
            content: '';
            background-color: transparent;
            border-radius: 3px;
            z-index: -1;
        }

        .nav-footer-hover-user {
            height: 40px;
            left: -11px;
            width: 186px;
            border-radius: 3px;
        }

        &:hover {
            .nav-footer-image {
                transition: $nav-transition;
                svg {
                    // info
                    #Path_35324 {
                        fill: $nav-svg-hover;
                    }
                    // settings
                    #Path_35325 {
                        fill: $nav-svg-hover;
                    }

                    #Path_35326 {
                        fill: $nav-svg-hover;
                    }
                }
            }
        }
    }

    .nav-footer-item-active {
        color: $nav-active;
        background-color: $nav-hover-color;
        width: 171px;
        border-radius: 3px;

        .nav-footer-image {
            svg {
                // info
                #Path_35324 {
                    fill: $nav-svg-active;
                }
                // settings
                #Path_35325 {
                    fill: $nav-svg-active;
                }

                #Path_35326 {
                    fill: $nav-svg-active;
                }
            }
        }

        .nav-footer-text {
            color: $nav-active;
        }

        &:hover {
            color: $nav-active !important;
            font-weight: 500;

            .nav-footer-image {
                transition: $nav-transition;
                svg {
                    // info
                    #Path_35324 {
                        fill: $nav-active !important;
                    }
                    // settings
                    #Path_35325 {
                        fill: $nav-active !important;
                    }

                    #Path_35326 {
                        fill: $nav-active !important;
                    }
                }
            }

            .nav-footer-text {
                transition: $nav-transition;
                color: $nav-active !important;
            }
        }

        .nav-item-active-box {
            width: 35px;
            height: 28px;
            position: absolute;
            left: -7px;
            content: '';
            background-color: $nav-hover-color;
            z-index: -1;
            border-radius: 3px;
        }

        &.show {
            animation: showMagicLine 1s;
        }
    }
}

.nav-footer-width {
    width: 238px;
    
    
}
