@import 'src/theme/variables.scss';

$font-size12: 12px;
$font-size14: 14px;
$font-size18: 18px;
$font-size20: 20px;

$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;

$border-radius: 3px;

$arrow-default-color: #aaaaaa;

// GENERAL SWITCHER DRIVER
.details-header-wrapper {
    background-color: $white;
    border-radius: $border-radius;
    margin-bottom: 8px;
    max-width: 440px;
    min-width: 352px;
    p {
        margin: 0px;
    }
    .details-header-wrapper-switcher {
        padding: 8px 8px 0px 8px;
        display: grid;
        grid-template-columns: minmax(286px, 366px) auto;

        .arrows {
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
            margin-bottom: 4px;

            span {
                height: 26px;
                width: 26px;
                &:hover {
                    background: $ta-light-grey-4;
                    border-radius: 2px;
                    cursor: pointer;
                    .arrow-right {
                        svg {
                            path {
                                fill: $ta-black;
                            }
                        }
                    }
                    .arrow-left {
                        svg {
                            path {
                                fill: $ta-black;
                            }
                        }
                    }
                }
            }
            .arrow-left {
                cursor: pointer;
                padding: 0 5px;
                svg {
                    position: relative;
                    top: 2px;
                }
            }
            .arrow-right {
                cursor: pointer;
                padding: 0 5px;
                svg {
                    position: relative;
                    top: 2px;
                    transform: rotate(-180deg);
                }
            }
        }
    }

    .details-header-wrapper-switcher-name {
        font-size: $font-size20;
        font-weight: $font-bold;
        color: $bw6-2;
        position: relative;
        margin-left: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.additional-title-container {
    padding: 8px 12px 0 12px;
}

// DRIVER GENERAL PERSONAL DATA
.details-header-wrapper-container {
    .details-header-wrapper-data {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 12px;

        .details-header-wrapper-data-item {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 18px;

            svg {
                position: relative;
                bottom: 1px;
            }

            .vin-text {
                margin-left: 6px !important;
                font-size: $font-size14;
                font-weight: 400;
                position: relative;
                bottom: -1px;
                P {
                    color: $ta-light-grey-2;
                    &:hover {
                        color: $ta-light-grey-3 !important;
                    }
                }
            }
        }
        .second {
            margin-top: 14px;
            margin-bottom: 12px;
        }
        .bottom {
            margin-top: 12px;
            margin-bottom: 12px;
            height: 18px;
            align-items: flex-end;
            p {
                font-size: $font-size14;
                font-weight: 400;
                color: $ta-black-2;
            }
        }
        svg {
            width: 18px;
            height: 18px;
        }
    }
    .details-header-wrapper-data-item_bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 14px;
        .vin-text {
            margin-left: 6px;
        }
    }
}

.border-line {
    margin: 0;
    height: 2px;
    width: 428px;
    border-radius: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: $ta-light-grey-4;
}
.dropInput {
    width: 366px;
}
.date-add {
    position: relative;
    top: 1px;

    svg {
        &:hover {
            path {
                fill: $bw6-2;
            }
        }
    }
}
.date-terminated,
.date-closed {
    position: relative;
    top: 1px;

    svg {
        &:hover {
            path {
                fill: $bw6-2;
            }
        }
    }
}
.inactive-status {
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    svg {
        height: 22px;
        width: 22px;
        path {
            fill: $ta-light-grey-2;
        }
        &:hover {
            path {
                fill: $bw6-2;
            }
        }
    }
}
.current-active-item {
    width: 362px;
    max-width: 362px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 2px;
    padding: 4px 5px;
    cursor: pointer;

    &.closed {
        .current-active-name {
            order: 2;
        }

        .owner-tooltip {
            order: 1;
        }
    }

    .current-active-name {
        font-size: 20px;
        white-space: nowrap;
        line-height: 24px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        order: 1;
    }

    .owner-tooltip {
        order: 2;
    }

    .current-active-dropdown-image {
        width: 22px;
        line-height: 20px;
        z-index: 100;
        svg {
            path {
                fill: $muted !important;
            }
        }

        cursor: pointer;
    }
    .current-active-dropdown-owner {
        width: 22px;
        line-height: 20px;
        height: 22px;
        z-index: 100;
        svg {
            path {
                fill: $bc1;
            }
        }
        cursor: pointer;
    }

    .current-active-owner {
        width: 16px;
        height: 16px;
        line-height: 24px;
        z-index: 50;
        cursor: pointer;
        position: relative;
        bottom: 1px;

        &:hover {
            svg {
                path {
                    fill: $ta-blue-18;
                }
            }
        }

        &.company-owned {
            svg {
                path {
                    fill: $bw5;
                }
            }
        }

        &.closed {
            svg {
                path {
                    fill: $ta-red-10;
                }
            }
        }

        svg {
            path {
                transition: fill 0.2s ease;
                fill: $ta-blue-13;
            }
        }
    }

    &:hover {
        background-color: $ta-light-grey-4;
        transition: all 0.3s ease-in-out;

        .current-active-name {
            color: $ta-light-grey-3;
        }

        .current-active-owner {
            &.company-owned {
                svg {
                    path {
                        fill: $bw6-2;
                    }
                }
            }

            &.closed {
                svg {
                    path {
                        fill: $ta-red-11;
                    }
                }
            }

            svg {
                path {
                    fill: $ta-blue-18;
                }
            }
        }
    }
}
.inactive-icon-input {
    display: flex;
    align-items: center;
}
.vertical-dots-header {
    margin-top: 7px;
    display: flex;
    justify-content: flex-end;
}

.single-data {
    color: $bw6-2;
    background-color: transparent;
    cursor: default;
    .current-active-name {
        color: $ta-black-2 !important;
        cursor: default;
    }
    &:hover {
        background-color: transparent !important;
    }
}
.vin-text {
    &::-moz-selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
    }
    &::selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
    }
}

.disabedPreviousArrow {
    .arrows {
        .previousArrow {
            opacity: 0.5;
            cursor: default !important ;

            svg-icon {
                cursor: default !important;
            }

            &:hover {
                background-color: transparent !important;
                svg-icon {
                    svg {
                        path {
                            fill: $arrow-default-color !important;
                        }
                    }
                }
            }
        }
    }
}

.disableNextArrow {
    .arrows {
        .nextArrow {
            opacity: 0.5;
            cursor: default !important ;

            svg-icon {
                cursor: default !important;
            }

            &:hover {
                background-color: transparent !important;
                svg-icon {
                    svg {
                        path {
                            fill: $arrow-default-color !important;
                        }
                    }
                }
            }
        }
    }
}

.ta-input-dropdown {
    .dropdown-options {
        .dropdown-option {
            .details-template-logo {
                svg {
                    path {
                        fill: $ta-blue-13;
                    }
                }
            }

            .details-template-text {
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}
