@import "../navigation.design.scss";

.nav-header {
  width: auto;
  display: flex;
  flex-direction: column;
  transition: $nav-transition;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .nav-header-top {
    .nav-header-top-logo {
      svg {
        margin-left: -3.5px;
      }
    }
  }

  .nav-header-bottom {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 4px;
  }

  .nav-header-bottom-plus {
    background: $nav-background;
    border-radius: 50%;
    padding: 8px;
    width: 32px;
    height: 32px;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    position: relative;
    svg {
      position: relative;
      left: 50%;
      bottom: 4px;
      transform: translate(-50%, 3%);
    }

    &:hover {
      cursor: pointer;
      transition: $nav-transition;
      background-image: linear-gradient(#6d82c7, #3551b7);
      svg {
        path {
          fill: $nav-background;
        }
      }
    }
  }

  .nav-header-bottom-rightSide {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: -5px;

    .nav-header-bottom-rightSide-search {
      background: #f9f9f9;
      border-radius: 50%;
      padding: 7px;
      position: relative;
      width: 32px;
      height: 32px;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        transition: $nav-transition;
        background-color: #f3f3f3;
        svg {
          #Path_35719 {
            fill: $nav-svg-hover !important;
          }
        }
      }
    }

    .nav-header-bottom-rightSide-notes {
      margin: 0 6px;
      background: #f9f9f9;
      border-radius: 50%;
      padding: 7px;
      position: relative;
      width: 32px;
      height: 32px;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        transition: $nav-transition;
        background-color: #f3f3f3;
        svg {
          #Path_35726 {
            fill: $nav-svg-hover !important;
          }

          #Path_35727 {
            fill: $nav-svg-hover !important;
          }
        }
      }
    }

    .nav-header-bottom-rightSide-bell {
      background: #f9f9f9;
      border-radius: 50%;
      padding: 7px;
      position: relative;
      width: 32px;
      height: 32px;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        transition: $nav-transition;
        background-color: #f3f3f3;
        svg {
          #Path_35724 {
            fill: $nav-svg-hover !important;
          }
        }
      }
    }

    &.show {
      animation: fadeIn;
    }
    &.hide {
      animation: fadeOut;
    }
  }
}
