<div class="nav-header">
  <div class="nav-header-top">
    <svg-icon
      class="nav-header-top-logo"
      src="{{ isNavigationHovered | changeLogo }}"
    ></svg-icon>
  </div>
  <div class="nav-header-bottom">
    <svg-icon
      class="nav-header-bottom-plus"
      src="assets/svg/common/ic_plus.svg"
      (click)="onAction('Open Panel')"
      [appTooltip]="'Add New'"
      [position]="'middle-right'"
      [tooltipBackground]="'#6C6C6C'"
      [tooltipColor]="'#FFFFFF'"
      [zIndex]="900"
      [borderRadius]="'2px'"
      [boxShadow]="'0 0 4px rgb(0,0,0,.2)'"
      [fontWeight]="'bold'"
      [fontSize]="'11px'"
    ></svg-icon>

    <div
      *ngIf="isNavigationHovered"
      class="nav-header-bottom-rightSide"
      [ngClass]="isNavigationHovered ? 'show' : 'hide'"
    >
      <svg-icon
        class="nav-header-bottom-rightSide-search"
        src="assets/svg/common/ic_search.svg"
        (click)="onAction('Search')"
        [appTooltip]="'Find Anything'"
        [position]="'top-middle'"
        [tooltipBackground]="'#6C6C6C'"
        [tooltipColor]="'#FFFFFF'"
        [zIndex]="900"
        [borderRadius]="'2px'"
        [boxShadow]="'0 0 4px rgb(0,0,0,.2)'"
        [fontWeight]="'bold'"
        [fontSize]="'11px'"
      ></svg-icon>

      <svg-icon
        class="nav-header-bottom-rightSide-notes"
        src="assets/svg/common/ic_note.svg"
        (click)="onAction('Notes')"
        [appTooltip]="'Note'"
        [position]="'top-middle'"
        [tooltipBackground]="'#6C6C6C'"
        [tooltipColor]="'#FFFFFF'"
        [zIndex]="900"
        [borderRadius]="'2px'"
        [boxShadow]="'0 0 4px rgb(0,0,0,.2)'"
        [fontWeight]="'bold'"
        [fontSize]="'11px'"
        [customPosition]="20"
      ></svg-icon>

      <svg-icon
        class="nav-header-bottom-rightSide-bell"
        src="assets/svg/common/ic_bell.svg"
        (click)="onAction('Bell')"
        [appTooltip]="'Notification'"
        [position]="'top-middle'"
        [tooltipBackground]="'#6C6C6C'"
        [tooltipColor]="'#FFFFFF'"
        [zIndex]="900"
        [borderRadius]="'2px'"
        [boxShadow]="'0 0 4px rgb(0,0,0,.2)'"
        [fontWeight]="'bold'"
        [fontSize]="'11px'"
      ></svg-icon>
    </div>
  </div>
</div>
