@import '../navigation.design.scss';

.nav-header {
    width: auto;
    display: flex;
    flex-direction: column;
    transition: $nav-transition;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .nav-header-top {
        padding: 0 4px;
        .nav-header-top-logo {
            svg {
                cursor: pointer;
            }
        }
    }

    .nav-header-bottom {
        margin-top: 16px;
        margin-bottom: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 0px;
        position: relative;
        // right: 4px;

        &.expand-width {
            // width: 177px;
            width: 100%;
        }
        .nav-header-bottom-leftSide {
            display: flex;
            align-items: center;
            gap: 4px;
            padding-left: 2px;
            p {
                transition: $nav-transition;
                color: $nav-text-color-darker;
                margin: 0;
                display: flex;
                width: 70px;
                opacity: 0;
            }
            .nav-header-bottom-plus {
                border-radius: 50%;
                padding: 0 8px;
                width: 36px;
                height: 36px;
                left: -2px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 9;
                background: rgba(48, 116, 211, 0.1);
                svg {
                    position: relative;
                    top: -0.9px;
                    left: -0.1px;
                }
                &:hover {
                    background: $nav-svg-active;
                    cursor: pointer;
                    transition: background-color 0.2s linear;
                    svg {
                        path {
                            fill: $nav-white;
                        }
                    }
                }
            }
            .dark-svg {
                background: $nav-svg-active;
                svg {
                    path {
                        fill: $nav-white;
                    }
                }
                &:hover {
                    background: $nav-white;
                    svg {
                        path {
                            fill: $nav-svg-active;
                        }
                    }
                }
            }
        }

        .nav-header-bottom-rightSide {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 8px;
            cursor: pointer;
            &-search {
                border-radius: 50%;
                padding: 8px;
                position: relative;
                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 19px;
                    height: 19px;
                    &:hover {
                        path {
                            fill: $nav-white;
                        }
                    }
                }
            }

            &-notes {
                margin: 0 6px;
                background: $nav-hover-darker;
                border-radius: 50%;
                padding: 7px;
                position: relative;
                width: 32px;
                height: 32px;

                svg-icon {
                    svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                &:hover {
                    transition: $nav-transition;
                    background-color: $nav-hover-lightcolor;

                    svg-icon {
                        svg {
                            #Path_35726 {
                                fill: $nav-svg-hover !important;
                            }

                            #Path_35727 {
                                fill: $nav-svg-hover !important;
                            }
                        }
                    }
                }
            }

            &-bell {
                background: $nav-hover-darker;
                border-radius: 50%;
                padding: 7px;
                position: relative;
                width: 32px;
                height: 32px;
                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    transition: $nav-transition;
                    background-color: $nav-hover-lightcolor;
                    svg {
                        #Path_35724 {
                            fill: $nav-svg-hover !important;
                        }
                    }
                }
            }
        }
    }
}
