@import 'src/theme/variables';

@keyframes vin-complete {
  from {
    color: green;
  }
  to {
    color: green;
  }
}

.vin-loading {
  animation: vin-complete 1s linear;

  &.mat-input-element,
  .ng-has-value {
    animation: vin-complete 1s linear;
  }
}

.uppercase {
  text-transform: uppercase;
}

.modal-title {
  margin-right: 12px;
}

.wrap.choice-wrapper {
  display: flex;
}

.btn-primary {
  font-size: 11px !important;
  border-radius: 3px;
  padding: 0.1rem 0.45rem !important;
  background-color: $bw-9 !important;
  transition: 0.25s;
  font-weight: 600;
  border: none;

  input {
    display: none;
  }
}

.form-label-group {
  display: flex;
  align-items: center;
  transition: all 0.2s ease;

  &:hover {
    &.typing {
      .clear-button {
        width: 18px;
        height: 18px;
        margin: 0;
        background: none;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-in;
        cursor: pointer;
      }

      &.field-focused {
        background-image: none !important;
      }

      &.touched-invalid {
        background-image: none !important;

        .clear-button {
          position: relative;
          left: -6px;
          background-image: url("../../../../../assets/img/svgs/form-validation/x-icon-invalid-focus-in.svg") !important;
          background-size: 18px 18px;
          transition: all 0.2s ease-in;
          background-repeat: no-repeat;

          &:hover {
            width: 22px;
            height: 22px;
            position: relative;
            left: -6px;
            background-image: url("../../../../../assets/img/svgs/form-validation/x-icon-background-hover.svg") !important;
            background-size: 22px 22px;
            transition: all 0.2s ease-in;
            background-repeat: no-repeat;
          }
        }
      }

      .clear-button {
        background-image: url("../../../../../assets/img/svgs/form-validation/x-icon-background.svg") !important;
        background-size: 18px 18px;
        transition: all 0.2s ease-in;
        background-repeat: no-repeat;
        position: absolute;
        top: 4px;
        right: 2px;
      }
    }
  }
}

::ng-deep .tooltip {
  .arrow::before {
    display: none;
  }
}

::ng-deep .tooltip-inner {
  background-color: $white;
  color: $muted;
  height: 17px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 600;
  box-shadow: $box-shadow;
}

.form-label-group {
  ng-select {
    width: 100%;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-bottom: none;
  height: 42px;
  background-color: $bw1;
  color: $bw4;
}
.modal-footer{
  justify-content: flex-end;
  background: #fff;
}


.save-btn {
  background: $bw1;

  p {
    color: $ceil-blue;
  }

  &:hover {
    &:not(.invalid-btn) {
      p {
        color: $white;
      }
    }
  }

  &.invalid-btn {
    transition: 0.3s;
    background: $bw1;

    p {
      color: $bw5;
    }

    &:hover {
      background-color: $bw2;
      transition: 0.3s;
    }
  }
}

.cancel-btn {
  p {
    color: $bw4;
  }
}

.modal-body div[class^=col] {
  padding-left: 6px;
  padding-right: 6px;
}

.modal-body {
  padding: 12px;
  overflow-y: hidden;
  overflow-x: hidden;
}


.note-label-wrapper {
  font-weight: 600;
  margin: 0 -12px;
  padding: 0 12px;
  transition: 0.3s;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.note-visible {
  max-height: 60px;
  transition: 0.3s;
}

.note-hidden {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.note-wrapper.hidden-note .down-icon {
  transform: rotate(0deg);
  transition: 0.3s all;
}

.note-wrapper.visible-note .down-icon {
  transform: rotate(180deg);
  transition: 0.3s all;
}

.multiple-choices-wrapper {
  .btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 6px;

    .btn.btn-primary:not(:disabled):not(.disabled) {
      background-color: $ceil-blue !important;
      transition: 0.25s;
      font-weight: 600;
    }

    .btn.btn-primary:not(:disabled):not(.disabled).active {
      background-color: $bw-9 !important;
    }

    .btn.btn-primary:not(:disabled):not(.disabled):hover {
      opacity: 1;
      transition: 0.25s;
    }

    .btn:not(:disabled):not(.disabled) {
      cursor: pointer;
    }
  }
}

.removeItem {
  position: relative;
  left: 9px;
  top: 1.3px;
}

.biling-address {
  height: 28px;
}

.contactEmail {
  width: 278px;
}

.text-underline {
  font-size: 12px;
  font-weight: 600;
  color: #5673AAb3;
  text-decoration: none !important;
  cursor: pointer;
}
