<div class="calendar-holder">
  <div class="calendar-info-holder">
    <div class="title-holder">
      <div class="title">Calendar</div>
      <div class="selected-month">{{ calendarTitle }}</div>
      <div class="arrow-left">
        <svg-icon (click)="changeMonth('prev')" src="assets/svg/common/ic_arrow-right.svg"></svg-icon>
      </div>
      <div class="arrow-left arrow-right">
        <svg-icon (click)="changeMonth('next')" src="assets/svg/common/ic_arrow-right.svg"></svg-icon>
      </div>
    </div>
    <div class="search-holder">
      <div class="search-icon">
        <svg-icon src="assets/svg/common/ic_search.svg"></svg-icon>
      </div>
      <div class="border-frame">
        <div class="border"></div>
      </div>
      <input class="search" type="text" placeholder="Find Event" />
    </div>
    <div class="calendar-items-holder">
      <div class="day-holder" [class.active]="currentCalendarView == 'day'" (click)="changeCalendarView('day')">Day</div>
      <div class="day-holder week" [class.active]="currentCalendarView == 'week'" (click)="changeCalendarView('week')">Week</div>
      <div class="day-holder month" [class.active]="currentCalendarView == 'month'" (click)="changeCalendarView('month')">Month</div>
      <div class="day-holder year" [class.active]="currentCalendarView == 'year'" (click)="changeCalendarView('year')">Year</div>
      <div class="day-holder schedule" [class.active]="currentCalendarView == 'schedule'" (click)="changeCalendarView('schedule')">Schedule</div>
    </div>
    <div class="calendar-header">
      <app-ta-custom-card [cardName]="'July, 2022'" [hasPlusHeader]="false">
        <div class="calendar-body">
          <div class="calendar-years-holder">
            <div class="current-year-holder"></div>
            <div class="years-frame">
              <div
                *ngFor="let item of calendarYears; let indx = index"
                [class.active]="item.active"
                class="year-holder"
              >
                {{ item.year }}
              </div>
            </div>
          </div>
          <div class="calendar-month-holder">
            <div class="current-year-holder">
              <div class="current-year">2022</div>
              <div class="current-year today">Today</div>
            </div>
            <div class="calendar-body-holder">
              <div class="calendar-current-month">
                <div class="calendar-holder">
                  <div 
                  class="calendar-items"
                  #t2="ngbPopover"
                  [ngbPopover]="eventsPopover"
                  triggers="mouseenter:mouseleave" 
                  [placement]="['bottom-left']"
                  [popoverClass]="'eventspopovermain'"
                  autoclose="outside"
                  [container]="'body'"
                  >
                    JAN
                  </div>
                  <div 
                  class="calendar-items"
                  #t2="ngbPopover"
                  [ngbPopover]="eventsPopover"
                  triggers="mouseenter:mouseleave" 
                  [placement]="['bottom-left']"
                  [popoverClass]="'eventspopovermain'"
                  autoclose="outside"
                  [container]="'body'"
                  >
                    FEB
                  </div>
                  <div 
                  class="calendar-items"
                  #t2="ngbPopover"
                  [ngbPopover]="eventsPopover"
                  triggers="mouseenter:mouseleave" 
                  [placement]="['bottom-left']"
                  [popoverClass]="'eventspopovermain'"
                  autoclose="outside"
                  [container]="'body'"
                  >
                    MAR
                  </div>
                </div>
                <div class="calendar-holder">
                  <div 
                  class="calendar-items"
                  #t2="ngbPopover"
                  [ngbPopover]="eventsPopover"
                  triggers="mouseenter:mouseleave" 
                  [placement]="['bottom-left']"
                  [popoverClass]="'eventspopovermain'"
                  autoclose="outside"
                  [container]="'body'"
                  >
                    APR
                  </div>
                  <div 
                  class="calendar-items current-month"
                  #t2="ngbPopover"
                  [ngbPopover]="eventsPopover"
                  triggers="mouseenter:mouseleave" 
                  [placement]="['bottom-left']"
                  [popoverClass]="'eventspopovermain'"
                  autoclose="outside"
                  [container]="'body'"
                  >
                    MAY
                  </div>
                  <div 
                  class="calendar-items"
                  #t2="ngbPopover"
                  [ngbPopover]="eventsPopover"
                  triggers="mouseenter:mouseleave" 
                  [placement]="['bottom-left']"
                  [popoverClass]="'eventspopovermain'"
                  autoclose="outside"
                  [container]="'body'"
                  >
                    JUN
                  </div>
                </div>
                <div class="calendar-holder">
                  <div 
                  class="calendar-items active"
                  #t2="ngbPopover"
                  [ngbPopover]="eventsPopover"
                  triggers="mouseenter:mouseleave" 
                  [placement]="['bottom-left']"
                  [popoverClass]="'eventspopovermain'"
                  autoclose="outside"
                  [container]="'body'"
                  >
                    JUL
                  </div>
                  <div 
                  class="calendar-items"
                  #t2="ngbPopover"
                  [ngbPopover]="eventsPopover"
                  triggers="mouseenter:mouseleave" 
                  [placement]="['bottom-left']"
                  [popoverClass]="'eventspopovermain'"
                  autoclose="outside"
                  [container]="'body'"
                  >
                    AUG
                  </div>
                  <div 
                    class="calendar-items event"
                    #t2="ngbPopover"
                    [ngbPopover]="eventsPopover"
                    triggers="mouseenter:mouseleave" 
                    [placement]="['bottom-left']"
                    [popoverClass]="'eventspopovermain'"
                    autoclose="outside"
                    [container]="'body'"
                  >
                    SEP
                  </div>

                  
                </div>
                <div class="calendar-holder">
                  <div 
                  class="calendar-items"
                  #t2="ngbPopover"
                  [ngbPopover]="eventsPopover"
                  triggers="mouseenter:mouseleave" 
                  [placement]="['bottom-left']"
                  [popoverClass]="'eventspopovermain'"
                  autoclose="outside"
                  [container]="'body'"
                  >
                    OCT
                  </div>
                  <div 
                  class="calendar-items"
                  #t2="ngbPopover"
                  [ngbPopover]="eventsPopover"
                  triggers="mouseenter:mouseleave" 
                  [placement]="['bottom-left']"
                  [popoverClass]="'eventspopovermain'"
                  autoclose="outside"
                  [container]="'body'"
                  >
                    NOV
                  </div>
                  <div 
                  class="calendar-items"
                  #t2="ngbPopover"
                  [ngbPopover]="eventsPopover"
                  triggers="mouseenter:mouseleave" 
                  [placement]="['bottom-left']"
                  [popoverClass]="'eventspopovermain'"
                  autoclose="outside"
                  [container]="'body'"
                  >
                    DEC
                  </div>
                </div>
              </div>
              <div class="year-holder-inactiv">2023</div>
              <div class="calendar-current-month">
                <div class="calendar-holder">
                  <div class="calendar-items inactiv">JAN</div>
                  <div class="calendar-items inactiv">FEB</div>
                  <div class="calendar-items inactiv">MAR</div>
                </div>
                <div class="calendar-holder">
                  <div class="calendar-items inactiv">APR</div>
                  <div class="calendar-items inactiv">MAY</div>
                  <div class="calendar-items inactiv">JUN</div>
                </div>
                <div class="calendar-holder">
                  <div class="calendar-items inactiv">JUL</div>
                  <div class="calendar-items inactiv">AUG</div>
                  <div class="calendar-items inactiv">SEP</div>
                </div>
                <div class="calendar-holder">
                  <div class="calendar-items inactiv">OCT</div>
                  <div class="calendar-items inactiv">NOV</div>
                  <div class="calendar-items inactiv">DEC</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-ta-custom-card>
    </div>
    <div class="important-event-holder">
      <app-ta-custom-card
        [cardName]="'Important Events'"
        [hasPlusHeader]="true"
        [hasCheckbox]="true"
        [controlName]="inputDate"
      >
        <div class="event-info-holder">
          <div class="event-items-info-holder">
            <div class="event-text">Lorem Ipsum Dolor Sit</div>
            <div class="date-text">July 3rd</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">9am Event - Lorem Ipsum</div>
            <div class="date-text">July 6th 9:00 AM - 3:00 PM</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">Q3 - Event - Management</div>
            <div class="date-text">July 11th - July 14th</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">Drivers Organization</div>
            <div class="date-text">July 11th - July 12th</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">
              Consetetur sadipscing elitr, sed diam sadipscing
            </div>
            <div class="date-text">July 12th</div>
          </div>
        </div>
      </app-ta-custom-card>
    </div>
    <div class="border-frame">
      <div class="border-event"></div>
    </div>
    <div class="important-event-holder company-event">
      <app-ta-custom-card
        [cardName]="'Company Events'"
        [hasPlusHeader]="true"
        [hasCheckbox]="true"
        [controlName]="inputDate"
      >
        <div class="event-info-holder">
          <div class="event-items-info-holder">
            <div class="event-text">Lorem Ipsum Dolor Sit</div>
            <div class="date-text">July 3rd</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">9am Event - Lorem Ipsum</div>
            <div class="date-text">July 6th 9:00 AM - 3:00 PM</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">Q3 - Event - Management</div>
            <div class="date-text">July 11th - July 14th</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">Drivers Organization</div>
            <div class="date-text">July 11th - July 12th</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">
              Consetetur sadipscing elitr, sed diam sadipscing
            </div>
            <div class="date-text">July 12th</div>
          </div>
        </div>
      </app-ta-custom-card>
    </div>
    <div class="border-frame">
      <div class="border-event"></div>
    </div>
    <div class="important-event-holder personal-event">
      <app-ta-custom-card
        [cardName]="'Personal Events'"
        [hasPlusHeader]="true"
        [hasCheckbox]="true"
        [controlName]="inputDate"
      >
        <div class="event-info-holder">
          <div class="event-items-info-holder">
            <div class="event-text">Consetetur sadipscing elitr, sed diam</div>
            <div class="date-text">July 3rd 9:00 AM - 3:00 PM</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">Lorem ipsum</div>
            <div class="date-text">July 6th 9:00 AM - 3:00 PM</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">At vero eos et accusam</div>
            <div class="date-text">July 6th 9:00 AM - 3:00 PM</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">
              Sed diam nonumy eirmod tempor inviction
            </div>
            <div class="date-text">July 11th</div>
          </div>
        </div>
      </app-ta-custom-card>
    </div>
    <div class="border-frame">
      <div class="border-event"></div>
    </div>
    <div class="important-event-holder holiday">
      <app-ta-custom-card
        [cardName]="'Holidays'"
        [hasPlusHeader]="true"
        [hasCheckbox]="true"
        [controlName]="inputDate"
      >
        <div class="event-info-holder">
          <div class="event-items-info-holder">
            <div class="event-text">Consetetur sadipscing elitr, sed diam</div>
            <div class="date-text">July 3rd 9:00 AM - 3:00 PM</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">Lorem ipsum</div>
            <div class="date-text">July 6th 9:00 AM - 3:00 PM</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">At vero eos et accusam</div>
            <div class="date-text">July 6th 9:00 AM - 3:00 PM</div>
          </div>
          <div class="event-items-info-holder">
            <div class="event-text">
              Sed diam nonumy eirmod tempor inviction
            </div>
            <div class="date-text">July 11th</div>
          </div>
        </div>
      </app-ta-custom-card>
    </div>
  </div>
  <div *ngIf="currentCalendarView == 'week' || currentCalendarView == 'month'" class="calendar_view_holder">
    <full-calendar #fullcalendar [options]="calendarOptions"></full-calendar>
  </div>
  <div *ngIf="currentCalendarView == 'year'" class="year-calendar-holder">
    <div class="year-calendar-toolbar"></div>
    <div class="calendar-month-holder">
      <div *ngFor="let item of calendarMonth, let indx=index" class="month-calendar-holder">
        <div class="month">{{item.month}} 2022</div>
        <div class="day-holder">
          <div *ngFor="let item of daysInWeek; let indx=index" class="day" [ngStyle]="{'color': item.weekendColor}">{{item.day}}</div>
        </div>
        <div class="day-holder different-padding">
          <div 
          *ngFor="let item of dateInMonth; let indx=index" 
          class="day different-weight" 
          [class.event]="item.event" 
          [ngStyle]="{'color': item.weekendDateColor || item.lastMonthDateColor || item.nextMonthDateColor}"
          #t2="ngbPopover"
          [ngbPopover]="eventsDatePopover"
          [placement]="['bottom-right']"
          [popoverClass]="'eventspopovermain'"
          autoclose="outside"
          [container]="'body'"
          >
            {{item.date}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #eventsPopover let-data="data">
  <div class="events-popover">
    <div class="event-title-frame">
      <div class="event-box">20</div>
      <div class="event-title">Events</div>
    </div>
    <div class="border-event"></div>
    <div class="event-items-holder">
      <div class="event-items-box">6</div>
      <div class="event-text">Important Events</div>
    </div>
    <div class="event-items-holder">
      <div class="event-items-box company-box">4</div>
      <div class="event-text">Company Events</div>
    </div>
    <div class="event-items-holder">
      <div class="event-items-box personal-box">7</div>
      <div class="event-text">Personal Events</div>
    </div>
    <div class="event-items-holder different-padding">
      <div class="event-items-box holiday-box">3</div>
      <div class="event-text">Holiday</div>
    </div>
  </div>
</ng-template>

<ng-template #eventsDatePopover let-data="data">
   <div class="event-date-popover">
    <div class="date-holder">
      <div class="number-event">6</div>
      <div class="date-event">July 18, 2022</div>
      <div class="close-event">
        <svg-icon src="assets/svg/truckassist-table/x.svg"></svg-icon>
      </div>
    </div>
    <div class="event-border"></div>
    <div class="event-report">
      <div class="report-text">IFTA Report - Deadline</div>
    </div>
    <div class="event-menagment">
      <div class="event-text">Q3 - Event - Management</div>
    </div>
    <div class="event-report drivers-organization">
      <div class="report-text">Drivers Organization</div>
    </div>
    <div class="event-report blue-box">
      <div class="event-box"></div>
      <div class="report-text different-color">Lorem ipsum dolor sit amet, consedetur</div>
    </div>
    <div class="event-report blue-box">
      <div class="event-box orange-box"></div>
      <div class="report-text different-color">Sed diam nonumy eirmod</div>
    </div>
    <div class="event-report green-bcg">
      <div class="report-text">Labor Day</div>
    </div>
  </div>  
</ng-template>