@import 'src/app/core/components/navigation/scss/navigation.design.scss';

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 3px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $nav-text-color;
    font-size: $nav-font-size;
    font-weight: $nav-font-medium;
    transition: $nav-transition;
    .nav-holder {
        height: 100%;
        display: flex;
        flex-direction: column;
        background: $nav-white;
        padding: 0 6px;
        width: 48px;
        padding: 10px 0px 7px 0px;
        border-radius: 3px;
        z-index: -1;
        margin: 12px;
    }

    .new-magic-line {
        width: 36px;
    }
    .dark-nav {
        background: $nav-dark !important;
        width: 250px !important;
        transition: $nav-transition;
    }
    .animation {
        transition: $nav-transition;
        width: 48px;
        cursor: pointer;
    }
    .navigation-top {
        padding: 0px 6px;
        height: 74px;
        margin-bottom: 4px;
    }
    .navigation-middle {
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        max-height: 740px;
        height: auto;
        padding: 0px 6px;
        height: 100%;
        flex: 1;
    }
    .close-navigation {
        flex: 1;
        cursor: pointer;
    }
    .open-navigation {
        flex: 1;
        cursor: pointer;
    }
    .navigation-bottom {
        padding: 0px 6px;
        position: relative;
        overflow: hidden;
    }
    .wrapper-line {
        @media only screen and (min-width: 300px) {
            display: inline;
            height: 2px;
            width: 176px;
            margin-left: -5px;
            background-color: $wrapper-line;
            position: absolute;
            bottom: 102px;
        }
    }

    //------- end

    .navigation-routes {
        display: flex;
        flex-wrap: wrap;
        padding-left: 8px;
        padding-bottom: 1px;
        padding-top: 1px;
        position: relative;
        cursor: pointer;

        &-last {
            margin-top: auto;
            display: flex;
            flex-direction: column;
            flex: 1;

            .navigation-divider {
                width: calc(100% - 6px);
                margin-left: 0;
            }
        }
    }

    .subroute-card {
        box-shadow: $nav-boxshadow;
        border-radius: 3px;
        height: auto;
        width: 184px;
        position: absolute;
        left: 8px;
        z-index: -1;
    }

    .new-magic-line {
        display: inline-block;
        position: absolute;
        left: 6px;
        top: 0px;
        content: '';
        height: 28px;
        background: $nav-hover-ligh;
        border-radius: 3px;
        transition: $magic-line-transition;
        z-index: -1;
    }
    .animate-magic-line {
        width: 238px;
        background: $nav-hover-color;
        animation: magiclinecolortransition 1s ease;
    }
    @keyframes magiclinecolortransition {
        from {
            background-color: transparent;
        }
        to {
            background-color: $nav-hover-color;
        }
    }

    .magic-line-width {
        width: 36px !important;
    }
    .new-magic-line-selected {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @for $i from 1 through 13 {
        .navigation-routes:nth-child(#{$i}):hover ~ .new-magic-line {
          transform: translateY(#{($i - 1) * 34 + 1}px);
        }
      
        .new-magic-line-selected:nth-child(#{$i}) ~ .new-magic-line {
          transform: translateY(#{($i - 1) * 34 + 1}px);
        }
      }

      .navigation-routes:nth-child(14):hover  ~ .new-magic-line {
        transform: translateY(708px);
      }
      
      .new-magic-line-selected:nth-child(14) ~ .new-magic-line {
        transform: translateY(708px);
      }
}
