@import 'src/theme/variables.scss';

.dashboard-top-rated {
    padding: 4px 12px;
    background: $white;
    border-radius: 3px;

    /* Header */
    &-header {
        margin-bottom: 4px;

        &-title {
            margin-right: 6px;

            p {
                color: $ta-black;
                font-size: 26px;
                line-height: 32px;

                &::-moz-selection {
                    color: $ta-black;
                    background: rgb(66, 66, 66, 0.2);
                }

                &::selection {
                    color: $ta-black;
                    background: rgb(66, 66, 66, 0.2);
                }
            }
        }

        &-arrow-btn {
            outline: none;
            background: none;
            border: none;
            margin-right: 28px;

            &.active {
                svg-icon {
                    svg {
                        transform: rotate(180deg);

                        path {
                            fill: $ta-black;
                        }
                    }
                }
            }

            &:hover {
                svg-icon {
                    svg {
                        path {
                            fill: $ta-black;
                        }
                    }
                }
            }

            svg-icon {
                svg {
                    transition: transform 0.3s ease;

                    path {
                        fill: $bw5;
                        transition: fill 0.3s ease;
                    }
                }
            }
        }

        &-tabs {
            margin-right: 4px;
        }

        &-border {
            width: 2px;
            height: 18px;
            border-radius: 1px;
            background-color: $ta-light-grey-6;
        }

        &-search {
            max-width: 200px;
            margin-left: 7px;
        }

        .dropdown-left-container,
        .dropdown-right-container {
            &.dropdown-left-container {
                margin-right: 4px;

                &.dropdown-left-w-1 {
                    width: 77px;
                }

                &.dropdown-left-w-2 {
                    width: 135px;
                }

                &.dropdown-left-w-3 {
                    width: 140px;
                }

                &.dropdown-left-w-4 {
                    width: 125px;
                }

                &.dropdown-left-w-5 {
                    width: 92px;
                }

                &.dropdown-left-w-6 {
                    width: 88px;
                }
            }

            &.dropdown-right-container {
                margin-left: 4px;

                &.dropdown-right-w-1 {
                    width: 82px;
                }

                &.dropdown-right-w-2 {
                    width: 89px;
                }

                &.dropdown-right-w-3 {
                    width: 111px;
                }

                &.dropdown-right-w-4 {
                    width: 70px;
                }

                &.dropdown-right-w-5 {
                    width: 87px;
                }

                &.dropdown-right-w-6 {
                    width: 107px;
                }

                &.dropdown-right-w-7 {
                    width: 135px;
                }

                &.dropdown-right-w-8 {
                    width: 94px;
                }

                &.dropdown-right-w-9 {
                    width: 101px;
                }

                &.dropdown-right-w-10 {
                    width: 76px;
                }
            }
        }
    }

    /* Body */
    .dashboard-top-rated-body {
        &-up {
            display: grid;
            grid-template-columns: 1fr 1px 1fr;
            grid-gap: 4px;
            padding: 0 10px;

            ::-webkit-scrollbar:vertical {
                -webkit-appearance: none;
                width: 4px;
            }

            /* List */
            &-list {
                height: 360px;
                overflow: hidden;
                padding-right: 12px;

                &.showing-more {
                    padding-top: 120px;
                    overflow: scroll;
                }

                .top-rated-item {
                    padding: 4px;
                    margin-bottom: 8px;

                    &-left {
                        display: grid;
                        grid-template-columns: 18px 10px 1fr;

                        .top-rated-item-number-box {
                            margin-right: 14px;

                            p {
                                font-size: 14px;
                                line-height: 18px;
                                color: $bw5;

                                &::-moz-selection {
                                    color: $ta-black;
                                    background: rgb(145, 145, 145, 0.2);
                                }

                                &::selection {
                                    color: $ta-black;
                                    background: rgb(145, 145, 145, 0.2);
                                }
                            }
                        }

                        .top-rated-item-color-box {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: blue;
                        }

                        .top-rated-item-name-box {
                            margin-left: 8px;

                            p {
                                font-size: 14px;
                                line-height: 18px;
                                color: $ta-black;

                                &::-moz-selection {
                                    color: $ta-black;
                                    background: rgb(66, 66, 66, 0.2);
                                }

                                &::selection {
                                    color: $ta-black;
                                    background: rgb(66, 66, 66, 0.2);
                                }
                            }
                        }
                    }

                    &-right {
                        .top-rated-item-first-tab-box,
                        .top-rated-item-second-tab-box {
                            p {
                                font-size: 14px;
                                line-height: 18px;
                                color: $ta-black;

                                &::-moz-selection {
                                    color: $ta-black;
                                    background: rgb(66, 66, 66, 0.2);
                                }

                                &::selection {
                                    color: $ta-black;
                                    background: rgb(66, 66, 66, 0.2);
                                }
                            }

                            &.top-rated-item-first-tab-box {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

            /* Show More */
            .show-more-container {
                padding-bottom: 4px;

                &-left {
                    p {
                        font-size: 11px;
                        line-height: 14px;
                        color: $bw6-2;

                        &::-moz-selection {
                            color: $ta-black;
                            background: rgb(108, 108, 108, 0.2);
                        }

                        &::selection {
                            color: $ta-black;
                            background: rgb(108, 108, 108, 0.2);
                        }
                    }
                }

                &-right {
                    .show-more-btn {
                        outline: none;
                        border: none;
                        font-size: 11px;
                        line-height: 14px;
                        background: transparent;
                        color: $ta-black;
                        transition: color 0.3s ease;

                        &:hover {
                            color: $ta-blue-14;
                        }

                        &::-moz-selection {
                            color: $ta-black;
                            background: rgb(145, 145, 145, 0.2);
                        }

                        &::selection {
                            color: $ta-black;
                            background: rgb(145, 145, 145, 0.2);
                        }
                    }
                }
            }

            /* Border */
            &-border {
                background: $ta-light-grey-6;
            }

            /* Doughnut Chart */
        }
    }
}
