<div
  *ngFor="let data of reviewData; trackBy: identity; let ind = index"
  class="ta-user-review"
  [ngClass]="{ 'edit-review': data.isEditMode }"
>
  <div class="ta-review-header">
    <div class="ta-user-information">
      <img
        class="ta-user-image"
        src="{{ data.companyUser.image }}"
        alt="{{ data.companyUser.fullName }}"
      />
      <svg-icon
        *ngIf="data.companyUser.reaction && !data.isEditMode"
        class="ta-user-reaction"
        [ngClass]="{ like: data.companyUser.reaction === 'like' }"
        src="assets/svg/common/ic_{{ data.companyUser.reaction }}.svg"
      ></svg-icon>
      <div class="ta-user-data">
        <p class="ta-user-fullname">{{ data.companyUser.fullName }}</p>
        <div class="ta-user-datetime">
          <div class="ta-user-date">
            {{ data.createdAt | date: "shortDate" }}
          </div>
          <div class="ta-user-time">
            {{ data.updatedAt | date: "shortTime" }}
          </div>
        </div>
      </div>
    </div>
    <div class="ta-user-actions">
      <div
        ngbTooltip
        mainTooltip="Edit"
        position="top"
        tooltipBackground="#6C6C6C"
        *ngIf="!data.isEditMode"
        class="action-edit"
        (click)="onAction(data, 'edit', ind)"
      >
        <svg-icon src="assets/svg/common/ic_pen.svg"></svg-icon>
      </div>
      <div
        ngbTooltip
        mainTooltip="Delete"
        position="top"
        tooltipBackground="#EF5350"
        *ngIf="!data.isEditMode"
        class="action-delete"
        (click)="onAction(data, 'delete', ind)"
      >
        <svg-icon src="assets/svg/common/ic_trash.svg"></svg-icon>
      </div>
    </div>
  </div>
  <div class="ta-review-message">
    <div *ngIf="!data.isEditMode" class="message">{{ data.comment }}</div>
    <textarea
      [class.show]="data.isEditMode"
      #reviewMessage
      appTextareaAutosize
      [rows]="2"
      [minRows]="2"
      [maxRows]="5"
      class="review-textarea"
    ></textarea>
    <div class="ta-review-message-actions">
      <svg-icon
        *ngIf="data.isEditMode"
        class="action-confirm"
        src="assets/svg/common/ic_confirm.svg"
        (click)="onAction(data, 'confirm', ind)"
      ></svg-icon>
      <svg-icon
        *ngIf="data.isEditMode"
        class="action-cancel"
        src="assets/svg/common/ic_cancel.svg"
        (click)="onAction(data, 'cancel', ind)"
      ></svg-icon>
    </div>
  </div>
</div>
