@import 'src/theme/variables.scss';

.nav-header {
    padding: 18px 0;
    margin: 0 auto;

    nav {
        ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 0;
            gap: 8px;

            .tab {
                &:last-child {
                    margin-right: 0;
                }

                a {
                    padding: 8px 10px 8px 10px;
                    border-radius: 3px;
                    text-decoration: none;
                    font-size: 16px;
                    line-height: 20px;
                    color: $ta-light-grey-2;
                    transition: background 0.3s ease-in-out,
                        color 0.3s ease-in-out;

                    -webkit-user-select: none !important;
                    -moz-user-select: none !important;
                    -ms-user-select: none !important;
                    user-select: none !important;

                    .tab-item {
                        gap: 8px;
                        width: 100px;

                        p {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }

                    .nav-icon {
                        svg {
                            path {
                                fill: $ta-light-grey-6;
                            }
                        }
                    }
                }

                /*   &.disabled {
                    pointer-events: none !important;
                } */

                &.tab-active {
                    a {
                        color: $white !important;
                        background: $bw6-2 !important;

                        .nav-icon {
                            svg {
                                path {
                                    fill: $ta-light-grey-6 !important;
                                }
                            }
                        }
                    }
                }

                &.tab-active-review-incorrect {
                    a {
                        color: $white !important;
                        background: $ta-red-10 !important;

                        .nav-icon {
                            svg {
                                path {
                                    fill: $white !important;
                                }
                            }
                        }
                    }
                }

                &.tab-active-feedback-incorrect {
                    a {
                        color: $ta-red-3 !important;
                        background: $ta-light-grey-4 !important;

                        .nav-icon {
                            svg {
                                path {
                                    fill: $ta-red-2 !important;
                                }
                            }
                        }

                        &:hover {
                            color: $ta-red-3 !important;
                            background: $ta-light-grey-4 !important;

                            .nav-icon {
                                svg {
                                    path {
                                        fill: $ta-red-2 !important;
                                    }
                                }
                            }
                        }
                    }
                }

                &.completed-tab {
                    a {
                        color: $ta-blue-18;
                        background: transparent;

                        .nav-icon {
                            svg {
                                path {
                                    fill: $ta-blue-13;
                                }
                            }
                        }

                        &:hover {
                            background: $ta-blue-6;
                        }
                    }
                }

                &.reviewed-incorrect-answer {
                    a {
                        color: $ta-red-10;
                        background: transparent;

                        .nav-icon {
                            svg {
                                path {
                                    fill: $ta-red-10;
                                }
                            }
                        }

                        &:hover {
                            background: $ta-red-7;
                        }
                    }
                }

                &.feedback-incorrect-answer {
                    a {
                        color: $ta-red-10;
                        background: transparent;

                        .nav-icon {
                            svg {
                                path {
                                    fill: $ta-red-2;
                                }
                            }
                        }

                        &:hover {
                            color: $ta-red-2;
                            background: $ta-light-grey-4;

                            .nav-icon {
                                svg {
                                    path {
                                        fill: $ta-red-2;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
