@import "../settings.global.scss";

.no-settings {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999999;

  background-color: rgba($color: #000000, $alpha: 0.2);
  overflow: hidden;

  .settings-edit-button {
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 481px;
    border: 5px solid rgba(86, 115, 170, 0.3);
    border-radius: 3px;

    &:hover {
      transform: $transition;
      cursor: pointer;
      svg {
        path {
          fill: $settings-color;
        }
      }
    }
  }

  .no-settings-text {
    display: inline-block;
    position: absolute;
    top: 58px;
    left: 410px;
    height: 27px;
    width: 193px;
    color: $settings-color-dark;
    background-color: $settings-nodata;
    box-shadow: $settings-box-shadow;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
  }
}
