<div
    class="d-flex flex-column justify-content-center comments-container"
    [ngStyle]="{ background: isHeaderHidden ? 'transparent' : '#fff' }"
>
    <app-ta-comments-search
        [commentsData]="comments"
        [isDisplaySearch]="isSearchComment"
        [isHeaderHidden]="isHeaderHidden"
        (btnActionEmitter)="handleCommentActionEmit($event)"
        (btnSortEmitter)="handleSortActionEmit($event)"
        (searchHighlightEmitter)="handleSearchHighlightActionEmit($event)"
    ></app-ta-comments-search>
</div>
