<div
    class="toolbar-container d-flex align-items-center"
    [ngClass]="{ mapToolbarStyle: isMapShowning }"
    [ngStyle]="{
        width: !options.toolbarActions.hideWidth ? toolbarWidth : 'auto',
        'max-width.px': maxToolbarWidth
    }"
>
    <!-- LIST NAME -->
    <div
        class="list-name d-flex justify-content-center align-items-center ta-font-black"
        *ngIf="listName && !options.toolbarActions.hideListName"
    >
        {{ listName | listNameCase : isUpperCaseTitle }}
    </div>

    <!-- ONE TAB -->
    <ng-container
        *ngIf="tableData.length === 1 && !options.toolbarActions.hideDataCount"
    >
        <div class="one-tab-container ta-font-black">
            ({{ tableData[0].length }})
        </div>
    </ng-container>
    <!-- TABS -->
    <ng-container *ngIf="options.toolbarActions.showDropdown">
        <div class="tab-wrapper d-flex align-items-center">
            <div class="tab-container">
                <div
                    class="tab-input d-flex justify-content-between align-items-center gap-2"
                >
                    <div class="d-flex align-items-center gap-1 p-1">
                        <ng-container
                            *ngIf="selectedDispatcher?.avatarFile?.url"
                        >
                            <img
                                class="dispatch-img"
                                [src]="selectedDispatcher.avatarFile.url"
                            />
                        </ng-container>

                        <p class="dispatcer-name ta-font-extra-bold">
                            {{ selectedDispatcher.name }}
                        </p>
                    </div>
                    <div ngbTooltip>
                        <div
                            #op="ngbPopover"
                            (click)="showDispatchList(op)"
                            [ngbPopover]="dispatchPopover"
                            [autoClose]="'outside'"
                            popoverClass="toolbar-options-popover"
                            triggers="manual"
                            (hidden)="dispatchPopoverOpen = false"
                            class="dispatch-dropdown d-flex align-items-center"
                            [ngClass]="{
                                'dispatch-dropdown-active': dispatchPopoverOpen
                            }"
                            mainTooltip="Select"
                            [tooltipBackground]="'#424242'"
                            [tooltipColor]="'#FFFFFF'"
                            position="bottom"
                        >
                            <svg-icon
                                class="d-flex justify-content-center align-items-center"
                                [svgStyle]="{ 'width.px': 18, 'height.px': 17 }"
                                [src]="
                                    'assets/svg/common/dropdown_arrow_bold.svg'
                                "
                            ></svg-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="tableData.length > 1">
        <div class="tab-wrapper d-flex align-items-center">
            <ng-container *ngFor="let data of tableData; let i = index">
                <ng-container [ngSwitch]="data.type">
                    <ng-container *ngSwitchCase="'dropdown'">
                        <div class="tab-container tab-input">
                            <app-ta-input-dropdown
                                [formControl]="dropdownSelection"
                                [template]="data.template"
                                [inputConfig]="data.inputConfig"
                                [options]="data.dropdownData"
                                [activeItem]="data.selectedDispatcher"
                                (selectedItem)="onToolBarSelectAction($event)"
                            ></app-ta-input-dropdown>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <div
                            class="tab-container d-flex"
                            [ngClass]="{
                                'tab-inactive': selectedTab !== data.field,
                                'tab-active': selectedTab === data.field,
                                disabled: data.inactive
                            }"
                            (click)="onSelectTab(data)"
                        >
                            <div class="tab d-flex align-items-center">
                                <ng-container *ngIf="!data.iconLink">
                                    <div
                                        class="tab-title d-flex justify-content-center align-items-center ta-font-extra-bold"
                                    >
                                        {{ data.title | titlecase }}
                                    </div>
                                </ng-container>
                                <svg-icon
                                    *ngIf="data.iconLink"
                                    [svgStyle]="{
                                        'width.px': 20,
                                        'height.px': 20
                                    }"
                                    [src]="data.iconLink"
                                ></svg-icon>
                                <ng-container *ngIf="!data.hideDataCount">
                                    <div
                                        class="data-count d-flex justify-content-center align-items-center ta-font-extra-bold"
                                    >
                                        {{ data.length }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
    <!-- TOOLBAR FILTERS AND OTHER -->
    <ng-container
        *ngIf="tableData.length > 1 || options.toolbarActions.showDropdown"
    >
        <div
            class="border-container d-flex justify-content-center align-items-center"
        >
            <div class="border-stick"></div>
        </div>
    </ng-container>

    <app-ta-toolbar-filters
        [activeTableData]="activeTableData"
        [options]="options"
        (toolbarFilter)="changeModeView($event)"
    ></app-ta-toolbar-filters>

    <div class="selected-container d-flex align-items-center">
        <div class="selected-container-wrapper d-flex align-items-center">
            <ng-container *ngIf="tableRowsSelected.length">
                <div
                    class="selected-container-count ta-font-bold d-flex justify-content-center align-items-center"
                    [ngClass]="{
                        'selected-container-count-select-style':
                            tableRowsSelected.length
                    }"
                >
                    {{ tableRowsSelected.length }} Selected
                </div>
            </ng-container>
        </div>
    </div>

    <!-- TOOLBAR ACTIONS -->
    <div
        class="table-actions d-flex justify-content-end align-items-center"
        [class.m-0]="options.toolbarActions.hideOpenModalButton"
    >
        <div
            class="actions-container d-flex justify-content-center align-items-center"
        >
            <!-- Activation -->
            <ng-container
                *ngIf="
                    tableRowsSelected.length &&
                    !options.toolbarActions.hideActivationButton
                "
            >
                <div
                    (click)="activeSelectedRows()"
                    class="action-div d-flex justify-content-center align-items-center action-hover"
                    [class.blue-background]="
                        options.toolbarActions.showActivateButton
                    "
                    ngbTooltip
                    [mainTooltip]="
                        options.toolbarActions.showActivateButton
                            ? 'Activate (' + tableRowsSelected.length + ')'
                            : 'Deactivate (' + tableRowsSelected.length + ')'
                    "
                    tooltipBackground="#424242"
                    tooltipColor="#FFFFFF"
                    position="bottom"
                >
                    <svg-icon
                        [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                        [ngClass]="{
                            'activate-icon':
                                options.toolbarActions.showActivateButton,
                            'deactivate-icon':
                                !options.toolbarActions.showActivateButton
                        }"
                        class="action-div-icon"
                        [src]="
                            'assets/svg/truckassist-table/activation-icon.svg'
                        "
                    ></svg-icon>
                </div>
            </ng-container>

            <!-- Hire Applicant -->
            <ng-container
                *ngIf="
                    tableRowsSelected.length &&
                    options.toolbarActions.showHireApplicantButton
                "
            >
                <div
                    (click)="hireSelectedRows()"
                    class="action-div d-flex justify-content-center align-items-center"
                >
                    <svg-icon
                        [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                        [src]="'assets/svg/common/ic_hire-applicant.svg'"
                    ></svg-icon>
                </div>
            </ng-container>

            <ng-container *ngIf="tableRowsSelected.length">
                <ng-container
                    *ngIf="
                        options.toolbarActions.showMoveToBanList ||
                            options.toolbarActions.showMoveToDnuList;
                        else removeTemplate
                    "
                >
                    <!-- Move to Ban list -->
                    <ng-container
                        *ngIf="options.toolbarActions.showMoveToBanList"
                    >
                        <div
                            (click)="banSelectedRows()"
                            class="action-div d-flex justify-content-center align-items-center action-hover"
                            ngbTooltip
                            [mainTooltip]="
                                'Move to Ban List (' +
                                tableRowsSelected.length +
                                ')'
                            "
                            tooltipBackground="#424242"
                            tooltipColor="#FFFFFF"
                            position="bottom"
                            customClass="mt-1"
                        >
                            <svg-icon
                                class="ban-action-icon"
                                [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                                [src]="'assets/svg/common/ic_banned_broker.svg'"
                            ></svg-icon>
                        </div>
                    </ng-container>

                    <!-- Move to DNU -->
                    <ng-container
                        *ngIf="options.toolbarActions.showMoveToDnuList"
                    >
                        <div
                            (click)="dnuSelectedRows()"
                            class="action-div d-flex justify-content-center align-items-center action-hover"
                            ngbTooltip
                            [mainTooltip]="
                                'Move to DNU List (' +
                                tableRowsSelected.length +
                                ')'
                            "
                            tooltipBackground="#424242"
                            tooltipColor="#FFFFFF"
                            position="bottom"
                            customClass="mt-1"
                        >
                            <svg-icon
                                class="dnu-action-icon"
                                [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                                [src]="'assets/svg/common/ic_dnu_broker.svg'"
                            ></svg-icon>
                        </div>
                    </ng-container>
                </ng-container>

                <ng-template #removeTemplate>
                    <!-- Remove from Ban/DNU -->
                    <ng-container
                        *ngIf="
                            options.toolbarActions.showRemoveFromBanList ||
                            options.toolbarActions.showRemoveFromDnuList
                        "
                    >
                        <div
                            (click)="
                                options.toolbarActions.showRemoveFromBanList
                                    ? banSelectedRows()
                                    : dnuSelectedRows()
                            "
                            class="action-div d-flex justify-content-center align-items-center action-hover"
                            ngbTooltip
                            [mainTooltip]="
                                'Remove From ' +
                                (options.toolbarActions.showRemoveFromBanList
                                    ? 'Ban'
                                    : 'DNU') +
                                ' List (' +
                                tableRowsSelected.length +
                                ')'
                            "
                            tooltipBackground="#424242"
                            tooltipColor="#FFFFFF"
                            position="bottom"
                            customClass="mt-1"
                        >
                            <svg-icon
                                class="remove-action-icon"
                                [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                                [src]="'assets/svg/common/ic_remove_dnu.svg'"
                            ></svg-icon>
                        </div>
                    </ng-container>
                </ng-template>

                <!-- Open Business -->
                <ng-container
                    *ngIf="
                        options.toolbarActions.showMoveToOpenList;
                        else closeBusinessTemplate
                    "
                >
                    <div
                        (click)="bussinessSelectedRows()"
                        class="action-div d-flex justify-content-center align-items-center action-hover"
                        ngbTooltip
                        [mainTooltip]="
                            'Open Bussiness (' + tableRowsSelected.length + ')'
                        "
                        tooltipBackground="#424242"
                        tooltipColor="#FFFFFF"
                        position="bottom"
                        customClass="mt-1"
                    >
                        <svg-icon
                            class="open-bussiness-icon"
                            [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                            [src]="'assets/svg/common/ic_open_bussiness.svg'"
                        ></svg-icon>
                    </div>
                </ng-container>

                <!-- Close Business -->
                <ng-template #closeBusinessTemplate>
                    <ng-container
                        *ngIf="options.toolbarActions.showMoveToClosedList"
                    >
                        <div
                            (click)="bussinessSelectedRows()"
                            class="action-div d-flex justify-content-center align-items-center action-hover"
                            ngbTooltip
                            [mainTooltip]="
                                'Permanently Close (' +
                                tableRowsSelected.length +
                                ')'
                            "
                            tooltipBackground="#424242"
                            tooltipColor="#FFFFFF"
                            position="bottom"
                            customClass="mt-1"
                        >
                            <svg-icon
                                class="close-bussiness-icon"
                                [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                                [src]="'assets/svg/common/ic_closed_broker.svg'"
                            ></svg-icon>
                        </div> </ng-container
                ></ng-template>
            </ng-container>

            <!-- Delete -->
            <ng-container
                *ngIf="
                    tableRowsSelected.length &&
                    !options.toolbarActions.hideDeleteButton
                "
            >
                <div
                    (click)="deleteSelectedRows()"
                    class="action-div d-flex justify-content-center align-items-center"
                >
                    <svg-icon
                        [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                        [src]="'assets/svg/truckassist-table/trash-icon.svg'"
                    ></svg-icon>
                </div>
            </ng-container>

            <!-- Print -->
            <ng-container
                *ngIf="
                    tableRowsSelected.length &&
                    !options.toolbarActions.hidePrintButton
                "
            >
                <div
                    class="action-div d-flex justify-content-center align-items-center"
                >
                    <svg-icon
                        [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                        class="action-div-icon"
                        [src]="'assets/svg/truckassist-table/print-icon.svg'"
                    ></svg-icon>
                </div>
            </ng-container>

            <!-- Border -->
            <ng-container *ngIf="tableRowsSelected.length">
                <div
                    class="border-container d-flex justify-content-center align-items-center"
                >
                    <div class="border-stick"></div>
                </div>
            </ng-container>

            <!-- Options -->
            <ng-container *ngIf="!options.toolbarActions.hideListColumn">
                <div ngbTooltip>
                    <div
                        #op="ngbPopover"
                        (click)="onShowOptions(op)"
                        [ngbPopover]="optionsPopover"
                        [placement]="'bottom-right'"
                        [autoClose]="'outside'"
                        popoverClass="toolbar-options-popover"
                        triggers="manual"
                        (hidden)="optionsPopupOpen = false"
                        class="action-div active-options d-flex align-items-center"
                        mainTooltip="Tooltip"
                        [tooltipBackground]="
                            optionsPopupOpen ? '#CCCCCC' : '#424242'
                        "
                        [tooltipColor]="
                            optionsPopupOpen ? '#2F2F2F' : '#FFFFFF'
                        "
                        position="bottom"
                        container="body"
                    >
                        <svg-icon
                            class="d-flex justify-content-center align-items-center"
                            [ngClass]="{ 'dropdown-active': optionsPopupOpen }"
                            [svgStyle]="{ 'width.px': 18, 'height.px': 17 }"
                            [src]="
                                'assets/svg/truckassist-table/burger-icon.svg'
                            "
                        ></svg-icon>
                    </div>
                </div>
            </ng-container>

            <!-- Dispatchboard table options -->
            <ng-container *ngIf="options.toolbarActions.showDispatchSettings">
                <div
                    class="dispatch-online d-flex justify-content-center align-items-center"
                >
                    <svg-icon
                        [src]="'assets/svg/dispatchboard/dispatch_online.svg'"
                    ></svg-icon>
                </div>

                <div
                    class="lock-unlock-dispatch d-flex justify-content-center align-items-center"
                    (click)="onToolBarAction('toggle-locked')"
                    [ngStyle]="{
                        'pointer-events': selectedDispatcher.canUnlock
                            ? 'auto'
                            : 'none'
                    }"
                    [ngClass]="{
                        'unlock-dispatch': !dispathcboardTableLocked,
                        'disabled-icon': !selectedDispatcher.canUnlock
                    }"
                >
                    <svg-icon
                        [src]="
                            dispathcboardTableLocked
                                ? 'assets/svg/common/ic_lock.svg'
                                : 'assets/svg/common/ic_unlock.svg'
                        "
                    ></svg-icon>
                </div>

                <div
                    class="border-container d-flex justify-content-center align-items-center"
                >
                    <div class="border-stick"></div>
                </div>

                <div ngbTooltip>
                    <div
                        #op="ngbPopover"
                        (click)="onShowOptions(op)"
                        [ngbPopover]="optionsPopover"
                        [placement]="'bottom-right'"
                        [autoClose]="'outside'"
                        popoverClass="toolbar-options-popover"
                        triggers="manual"
                        (hidden)="optionsPopupOpen = false"
                        class="action-div active-options d-flex align-items-center"
                        mainTooltip="Tooltip"
                        [tooltipBackground]="
                            optionsPopupOpen ? '#CCCCCC' : '#424242'
                        "
                        [tooltipColor]="
                            optionsPopupOpen ? '#2F2F2F' : '#FFFFFF'
                        "
                        position="bottom"
                        container="body"
                    >
                        <svg-icon
                            class="d-flex justify-content-center align-items-center"
                            [ngClass]="{ 'dropdown-active': optionsPopupOpen }"
                            [svgStyle]="{ 'width.px': 18, 'height.px': 17 }"
                            [src]="
                                'assets/svg/truckassist-table/burger-icon.svg'
                            "
                        ></svg-icon>
                    </div>
                </div>

                <div
                    class="border-container d-flex justify-content-center align-items-center"
                >
                    <div class="border-stick"></div>
                </div>

                <div
                    class="settings-dispatch dispach-history d-flex justify-content-center align-items-center"
                    [ngClass]="{
                        'disabled-icon pe-none':
                            !selectedDispatcher?.dispatchCount
                    }"
                    ngbTooltip
                    [mainTooltip]="'Dispatch History'"
                    tooltipBackground="#424242"
                    tooltipColor="#FFFFFF"
                    position="bottom"
                    (click)="onToolBarAction('status-history-modal')"
                >
                    <svg-icon
                        [src]="'assets/svg/common/ic_half_time.svg'"
                    ></svg-icon>
                </div>
            </ng-container>

            <ng-container *ngIf="options.toolbarActions.showDispatchAdd">
                <div
                    class="modal2 d-flex justify-content-center align-items-center"
                >
                    <div
                        class="modal-open-container d-flex justify-content-center align-items-center"
                        [ngClass]="{
                            'new-load-locked': !dispathcboardTableLocked
                        }"
                        (click)="onToolBarAction('open-dispatch-load-modal')"
                    >
                        <svg-icon [src]="svgRoutes.loadIcon"></svg-icon>
                    </div>
                </div>
            </ng-container>

            <!-- OPEN GENERAL PM BUTTON -->
            <ng-container *ngIf="options.toolbarActions.showGeneralPmBtn">
                <div class="pm-border"></div>
                <div
                    class="general-pm-open-container"
                    (click)="onToolBarAction('open-general-pm')"
                >
                    <svg-icon
                        [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
                        [src]="'assets/svg/common/repair-pm/ic_custom_pm.svg'"
                    ></svg-icon>
                </div>
            </ng-container>

            <ng-container *ngIf="!options.toolbarActions.hideOpenModalButton">
                <div
                    class="modal2 d-flex justify-content-center align-items-center"
                >
                    <div
                        class="modal-open-container"
                        [class.disabled]="
                            options.toolbarActions.disableOpenModalButton
                        "
                        (click)="onToolBarAction('open-modal')"
                    >
                        <svg-icon
                            [svgStyle]="{
                                'width.px': 17.78,
                                'height.px': 17.78
                            }"
                            [src]="'assets/svg/truckassist-table/plus-icon.svg'"
                        ></svg-icon>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <!-- OPEN MODAL BUTTON -->
</div>

<ng-template #dispatchPopover let-data="data" data-toggle="popover">
    <div class="dispatch-dropdown-container d-flex flex-column">
        <ng-container *ngFor="let option of tableData[0].dropdownData">
            <div
                class="d-flex align-items-center"
                (click)="
                    onToolBarSelectAction(option);
                    showDispatchList(dispatchPopoup)
                "
            >
                <div
                    class="dispatch-dropdown-item d-flex align-items-center justify-content-between"
                    [class.selected]="selectedDispatcher.name === option?.name"
                >
                    <div
                        class="dispatch-dropdown-icon d-flex align-items-center gap-1"
                    >
                        <ng-container
                            *ngIf="
                                option.name === 'Team Board' ||
                                    option.name === 'All Boards';
                                else avatar
                            "
                        >
                            <div
                                [ngClass]="{
                                    'dispatch-dropdown-icon-inactive':
                                        selectedDispatcher.name !== option?.name
                                }"
                            >
                                <svg-icon
                                    [src]="
                                        'assets/svg/dispatchboard/dispatch_board_toolbar_team_icon.svg'
                                    "
                                >
                                </svg-icon>
                            </div>
                        </ng-container>
                        <ng-template #avatar>
                            <ng-container
                                *ngIf="
                                    option.avatar || option.avatarFile;
                                    else noImage
                                "
                            >
                                <div class="dispatch-dropdown-image">
                                    <img
                                        [src]="
                                            option.avatar?.url
                                                ? option.avatar?.url
                                                : option.avatarFile?.url
                                        "
                                    />
                                </div>
                            </ng-container>
                            <ng-template #noImage>
                                <div
                                    class="dispatch-dropdown-no-img ta-font-extra-bold d-flex justify-content-center align-items-center"
                                    [ngStyle]="{
                                        'background-color':
                                            option.avatarColor?.background ??
                                            unset,
                                        color:
                                            option.avatarColor?.color ?? unset
                                    }"
                                >
                                    {{ option.shortName }}
                                </div>
                            </ng-template>
                        </ng-template>

                        <span
                            [ngClass]="
                                selectedDispatcher.name === option?.name
                                    ? 'ta-font-bold'
                                    : 'ta-font-regular'
                            "
                            >{{ option.name }}</span
                        >
                    </div>
                    <ng-container
                        *ngIf="selectedDispatcher.name === option?.name"
                    >
                        <svg-icon
                            class="check-icon"
                            src="assets/svg/applicant/check.svg"
                            [svgStyle]="{ 'width.px': 13, 'height.px': 10 }"
                        ></svg-icon>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>

<ng-template #optionsPopover let-data="data" data-toggle="popover">
    <div class="options-container">
        <!-- TOOLBAR OPTIONS -->

        <ng-container
            *ngIf="activeViewMode === 'List' || activeViewMode === 'Dispatch'"
        >
            <ng-container *ngFor="let option of optionsPopupContent">
                <div>
                    <!-- Option Border -->
                    <div
                        class="toolbar-option-border-container"
                        *ngIf="
                            option.hasTopBorder &&
                            !optionsPopupContent[0].active
                        "
                    >
                        <div class="option-border"></div>
                    </div>

                    <!-- Option -->
                    <div
                        (click)="onOptions(option)"
                        [ngClass]="{
                            'active-option': option.active,
                            'inactiv-option': option.isInactive
                        }"
                        class="options"
                        [ngStyle]="{ display: option.hide ? 'none' : 'flex' }"
                        (mouseover)="option.showBackToList = true"
                        (mouseleave)="option.showBackToList = false"
                    >
                        <!-- Back To List Icon -->
                        <div
                            class="back-to-list-icon"
                            *ngIf="
                                option?.showBackToList &&
                                option.hasOwnSubOpions &&
                                option.active &&
                                activeViewMode !== 'Dispatch'
                            "
                        >
                            <svg-icon
                                [svgStyle]="{
                                    'width.px': 14,
                                    'height.px': 14
                                }"
                                [src]="option.backToListIcon"
                            ></svg-icon>
                        </div>

                        <div class="text">
                            {{
                                option?.showBackToList &&
                                option.hasOwnSubOpions &&
                                option.active &&
                                activeViewMode !== 'Dispatch'
                                    ? 'Back to Menu'
                                    : option.text
                            }}
                        </div>

                        <!-- Normal Icon -->
                        <div class="icon">
                            <svg-icon
                                *ngIf="!option.backToListIcon || !option.active"
                                class="option-icon"
                                [svgStyle]="{
                                    'width.px': 18,
                                    'height.px': 18
                                }"
                                [src]="option.svgPath"
                            ></svg-icon>

                            <svg-icon
                                (click)="
                                    onOptions({
                                        text: 'Reset Table'
                                    })
                                "
                                *ngIf="option.backToListIcon && option.active"
                                class="columns-active-icon"
                                [svgStyle]="{
                                    'width.px': 18,
                                    'height.px': 18
                                }"
                                [src]="
                                    'assets/svg/truckassist-table/reset-icon.svg'
                                "
                            ></svg-icon>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- Option -->
            <ng-container *ngIf="optionsPopupContent[0].active">
                <div class="options-border-container">
                    <div class="options-border"></div>
                </div>
            </ng-container>
        </ng-container>

        <!-- COLUMNS LIST  -->

        <div class="columns-options">
            <ng-container
                *ngIf="
                    optionsPopupContent[0].active ||
                    activeViewMode === 'Dispatch'
                "
            >
                <div class="columns-container">
                    <ng-container
                        *ngFor="
                            let column of columnsOptionsWithGroups;
                            trackBy: identity;
                            let i = index
                        "
                    >
                        <!-- For Regular Column -->
                        <ng-container
                            *ngIf="!column.isGroup; else groupContainer"
                        >
                            <div
                                (click)="onToaggleColumn(column, i)"
                                class="column"
                            >
                                <ng-container
                                    *ngIf="!column.isPined && !column.disabled"
                                >
                                    <div class="checkbox">
                                        <input
                                            [checked]="!column.hidden"
                                            class="columns-options-checkbox"
                                            id="checkbox{{ i }}"
                                            type="checkbox"
                                        />
                                        <label
                                            class="columns-options-label"
                                            for="checkbox{{ i }}"
                                        ></label>
                                    </div>
                                </ng-container>
                                <ng-container
                                    *ngIf="column.isPined || column.disabled"
                                >
                                    <div
                                        class="d-flex justify-content-center align-items-center not-allowed-action"
                                    >
                                        <svg-icon
                                            [svgStyle]="{
                                                'width.px': 14,
                                                'height.px': 14
                                            }"
                                            [src]="
                                                'assets/svg/truckassist-table/user-owner-icon.svg'
                                            "
                                        ></svg-icon>
                                    </div>
                                </ng-container>

                                <div
                                    class="column-text"
                                    [ngClass]="{
                                        'selectable-text':
                                            !column.isPined && !column.disabled,
                                        'ta-font-bold': !column.hidden
                                    }"
                                >
                                    {{ column.name || column.title }}
                                </div>
                            </div>
                        </ng-container>

                        <!-- For Group -->
                        <ng-template #groupContainer>
                            <div
                                class="group-columns-container"
                                [ngClass]="{
                                    'group-columns-active': column.isOpen
                                }"
                            >
                                <div class="group-columns-title">
                                    <div class="checkbox">
                                        <input
                                            [checked]="column.areAllActive"
                                            (click)="onToaggleAllInGroup(i)"
                                            class="columns-options-checkbox"
                                            id="checkbox{{ i }}"
                                            type="checkbox"
                                        />
                                        <label
                                            [ngClass]="{
                                                'some-selected':
                                                    column.areSomeSelected
                                            }"
                                            class="columns-options-label"
                                            for="checkbox{{ i }}"
                                        ></label>
                                    </div>

                                    <div
                                        class="column-text selectable-text"
                                        [ngClass]="{
                                            'ta-font-bold':
                                                column.areSomeSelected
                                        }"
                                        (click)="openColumnsGroupDropdown(i)"
                                    >
                                        {{ column.optionsGroupName }}
                                    </div>

                                    <div
                                        class="group-columns-arrow"
                                        (click)="openColumnsGroupDropdown(i)"
                                    >
                                        <svg-icon
                                            [svgStyle]="{
                                                'width.px': 7.18,
                                                'height.px': 12.66
                                            }"
                                            [src]="
                                                'assets/svg/truckassist-table/toolbar-group-dropdown-arrow.svg'
                                            "
                                        ></svg-icon>
                                    </div>
                                </div>

                                <div class="group-columns">
                                    <ng-container
                                        *ngFor="
                                            let columnGroup of column.group;
                                            let j = index
                                        "
                                    >
                                        <div
                                            class="group-column"
                                            [ngClass]="{
                                                'remove-padding':
                                                    tableData[0]
                                                        ?.tableConfiguration ===
                                                    'broker'
                                            }"
                                            (click)="
                                                onToaggleGroupColumn(
                                                    columnGroup,
                                                    j
                                                )
                                            "
                                        >
                                            <ng-container
                                                *ngIf="!columnGroup.isPined"
                                            >
                                                <div class="checkbox">
                                                    <input
                                                        [checked]="
                                                            !columnGroup.hidden
                                                        "
                                                        class="columns-options-checkbox"
                                                        id="checkbox{{
                                                            columnGroup.groupColumnTitle +
                                                                j
                                                        }}"
                                                        type="checkbox"
                                                    />
                                                    <label
                                                        class="columns-options-label"
                                                        for="checkbox{{
                                                            columnGroup.groupColumnTitle +
                                                                j
                                                        }}"
                                                    ></label>
                                                </div>
                                            </ng-container>

                                            <ng-container
                                                *ngIf="columnGroup.isPined"
                                            >
                                                <div
                                                    class="d-flex justify-content-center align-items-center not-allowed-action"
                                                >
                                                    <svg-icon
                                                        [svgStyle]="{
                                                            'width.px': 14,
                                                            'height.px': 14
                                                        }"
                                                        [src]="
                                                            'assets/svg/truckassist-table/user-owner-icon.svg'
                                                        "
                                                    ></svg-icon>
                                                </div>
                                            </ng-container>

                                            <div
                                                class="column-text"
                                                [ngClass]="{
                                                    'selectable-text':
                                                        !columnGroup.isPined,
                                                    'ta-font-semi-bold':
                                                        !columnGroup.hidden
                                                }"
                                            >
                                                {{ columnGroup.name }}
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <!-- </ng-container> -->

        <ng-container *ngIf="activeViewMode === 'Card'">
            <!-- Columns -->
            <div
                class="options"
                appPreventMultipleclicks
                [cooldownDuration]="500"
                (cooldownComplete)="openCards()"
            >
                <div class="text">Columns</div>
                <div class="icon">
                    <svg-icon
                        class="option-icon"
                        [svgStyle]="{
                            'width.px': 16,
                            'height.px': 16
                        }"
                        [src]="
                            'assets/svg/common/telematics/ic_menu_columns.svg'
                        "
                    ></svg-icon>
                </div>
            </div>

            <!-- Flipp All Cards -->
            <div
                class="options"
                (click)="flipCards(!flipAllCards)"
                [ngClass]="{ 'flipped-cards': flipAllCards }"
            >
                <div class="text">Flip All Cards</div>
                <div class="icon">
                    <svg-icon
                        class="option-icon"
                        [svgStyle]="{
                            'width.px': 14,
                            'height.px': 14
                        }"
                        [src]="'assets/svg/common/resize-arrow.svg'"
                    ></svg-icon>
                </div>
            </div>

            <div class="toolbar-option-border-container">
                <div class="option-border"></div>
            </div>

            <div class="options">
                <div class="text">Import</div>
                <div class="icon">
                    <svg-icon
                        class="option-icon"
                        [svgStyle]="{
                            'width.px': 18,
                            'height.px': 18
                        }"
                        [src]="'assets/svg/truckassist-table/import-new.svg'"
                    ></svg-icon>
                </div>
            </div>

            <div class="options">
                <div class="text">Export</div>
                <div class="icon">
                    <svg-icon
                        class="option-icon"
                        [svgStyle]="{
                            'width.px': 18,
                            'height.px': 18
                        }"
                        [src]="'assets/svg/truckassist-table/export-new.svg'"
                    ></svg-icon>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>
