@import '/src/theme/variables';

.open-hours-container {
    border-radius: 2px;
    padding: 4px;
    margin-left: -2px;
    transition: background 0.2s;

    &:hover {
        background: $dark-2;
    }

    &.active {
        background: $ta-black-2;

        p {
            color: $white !important;
        }
    }

    .open-hours-icon {
        position: relative;
        bottom: 1px;
        margin-right: 4px;
    }

    p {
        text-transform: uppercase;
    }
}
