@let isActiveDropdown = openHoursDropdownActiveId === dropdownConfig?.rowId;
@let isInactiveDropdown = openHoursDropdownActiveId !== dropdownConfig?.rowId;

@let isCurrentlyOpen = dropdownConfig?.openHoursToday?.id === 1;
@let isCurrentlyClosing = dropdownConfig?.openHoursToday?.id === 2;
@let isCurrentlyClosed = dropdownConfig?.openHoursToday?.id === 3;
@let isAlwaysOpen = dropdownConfig?.openAlways;

<div
    [ngStyle]="{ 'width.px': dropdownConfig?.width ?? '100%' }"
    #openHoursPop="ngbPopover"
    [ngbPopover]="openHoursPopover"
    container="body"
    [placement]="'bottom-left'"
    popoverClass="table-open-hours-popover"
    triggers="manual"
    [autoClose]="'outside'"
    (hidden)="onHideOpenHoursDropdown()"
    (click)="!isAlwaysOpen && onShowOpenHoursDropdown(openHoursPop)"
>
    <div
        class="d-flex align-items-center open-hours-container"
        [ngClass]="{
            active: isActiveDropdown,
        }"
        [ngStyle]="{ cursor: isAlwaysOpen ? 'default' : 'pointer' }"
        ngbTooltip
        mainTooltip="Open Hours"
        tooltipBackground="#424242"
        tooltipColor="#ffff"
        tooltipMarginTop="-6px"
        position="bottom"
    >
        <svg-icon
            class="svg-size-14 open-hours-icon"
            [ngClass]="{
                'svg-fill-green': isInactiveDropdown && isCurrentlyOpen,
                'svg-fill-green-4': isActiveDropdown && isCurrentlyOpen,
                'svg-fill-yellow-1': isInactiveDropdown && isCurrentlyClosing,
                'svg-fill-yellow-4': isActiveDropdown && isCurrentlyClosing,
                'svg-fill-muted': isInactiveDropdown && isCurrentlyClosed,
                'svg-fill-light-grey-2': isActiveDropdown && isCurrentlyClosed,
            }"
            [src]="
                openHoursDropdownSvgRoutes[
                    isCurrentlyOpen
                        ? 'openRoute'
                        : isCurrentlyClosing
                          ? 'closingRoute'
                          : 'closedRoute'
                ]
            "
        ></svg-icon>

        <p class="m-0 ta-font-bold text-color-black text-size-11">
            {{
                dropdownConfig?.openHoursToday?.status +
                    (isAlwaysOpen
                        ? eStringPlaceholder.WHITESPACE +
                          dropdownConfig?.openHoursToday?.info
                        : eStringPlaceholder.EMPTY)
            }}
        </p>
    </div>
</div>

<ng-template #openHoursPopover let-data="data">
    <div class="d-flex flex-column open-hours-dropdown">
        @for (workingHourItem of data; track workingHourItem?.workingDays) {
            <div class="d-flex flex-column open-hours-dropdown-item">
                <p class="m-0 ta-font-bold text-color-white-4 text-size-11">
                    {{ workingHourItem?.workingDays }}
                </p>

                <span class="text-color-white text-size-14">
                    {{ workingHourItem?.workingHours }}
                </span>
            </div>
        }
    </div>
</ng-template>
