<div
    *ngIf="isNavItemHovered && isActiveSubroute && !route.isRouteActive"
    class="nav-item-hover"
></div>
<div
    class="nav-item"
    [ngClass]="{
        'nav-item-active': route.isRouteActive || route.isSubrouteActive,
        'nav-width': isNavigationHovered
    }"
    (mouseenter)="onNavItemHover(true)"
    (mouseleave)="onNavItemHover(false)"
    (click)="onRouteAction()"
>
    <div
        [ngClass]="{
            'nav-item-active-box':
                (route.isRouteActive || route.isSubrouteActive) &&
                !isNavigationHovered
        }"
    ></div>

    <svg-icon
        class="nav-item-img nav-item-img-active"
        src="{{ route.image }}"
        [ngClass]="{'route-clicked-svg': route.isRouteActive && route.arrow}"
    ></svg-icon>
    <div *ngIf="message > 0" class="message-container">
        <svg-icon 
        *ngIf="!isNavigationHovered"
        class="notification-img"
        src="../../../../../assets/svg/applicant/notification-light.svg"
        ></svg-icon>
        <svg-icon 
        *ngIf="isNavigationHovered"
        class="notification-img"
        src="../../../../../assets/svg/applicant/notification.svg"
        ></svg-icon>
    </div>
    <div
        class="nav-item-rightSide"
        [@showHideDetails]="isNavigationHovered ? 'true' : 'false'"
    >   
        
        <p
            *ngIf="isNavigationHovered"
            class="nav-item-name nav-item-name-active"
            [ngClass]="{'route-clicked': route.isRouteActive && route.arrow}"
        >
            {{ route.name }}
        </p>
        <div
        class="message" 
        *ngIf="message"
        [@showHideDetails]="isNavigationHovered ? 'true' : 'false'"
        >
        {{message}}
    </div> 
        <svg-icon
            class="nav-item-arrow nav-item-arrow-active"
            [ngClass]="{
                'nav-item-arrow-rotate':
                    route.isRouteActive && !route.isSubrouteActive,
                'nav-item-arrow-first': route.id === 3
            }"
            *ngIf="route.arrow && isNavigationHovered"
            src="{{ route.arrow }}"
        ></svg-icon>
        <svg-icon
        *ngIf="isNavigationHovered && !route.arrow && !message"
        class="nav-item-arrow_top"
        src="assets/svg/common/arrow_top_right.svg"
    ></svg-icon>
    </div>
</div>
