@import '../navigation.design.scss';

.nav-item {
    display: flex;
    align-items: center;
    height: 28px;
    line-height: 27px;
    width: auto;
    font-weight: $nav-font-medium;
    font-size: $nav-font-size;
    color: $nav-text-color;

    transition: $nav-transition-5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 1;
    .tooltip {
        position: absolute;
        width: 36px;
        height: 100%;
        left: -8px;
        padding-left: 36px;
    }
    .message-container {
        position: relative;
    }
    .notification-img {
        position: absolute;
        right: -1px;
        bottom: 10px;
        width: 10px;
        height: 10px;
    }
    .message {
        position: absolute;
        right: 16px;
        background: rgba(229, 115, 115, 20%);
        border-radius: 50%;
        color: $notification;
        font-size: 11px;
        font-weight: 700;
        opacity: 0;
        span {
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .files {
        position: absolute;
        right: 16px;
        display: flex;
        gap: 4px;
        span {
            font-size: 11px;
            color: $files;
        }
        svg {
            bottom: 2px;
            position: relative;
            path {
                fill: $files;
            }
        }
    }
    .nav-item-arrow_top {
        opacity: 0;
        margin-right: 17px;
        svg {
            width: 12px;
            height: 12px;
        }
    }
    .nav-item-rightSide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        line-height: 16px;
        padding-top: 2px;

        .nav-item-name {
            margin: 0px;
            margin-left: 9px;
            font-size: 14px;
            line-height: 17px;
            color: $nav-white;
            font-weight: 400;
        }
        .nav-item-name-active {
            font-weight: 700;
            color: $nav-active-lighter;
        }
        .nav-item-arrow {
            position: absolute;
            right: 8px;
            transform: rotate(0deg);
            transition: $nav-transition;
            width: 12px;
            height: 12px;
            line-height: 9px;
        }

        .nav-item-arrow-rotate {
            transform: rotate(180deg);
            transition: $nav-transition;
            right: 10px;
            svg {
                path {
                    fill: $nav-white;
                }
            }
        }
        .active-text {
            font-weight: $nav-font-bold;
            color: $nav-white;
        }
    }

    &:hover {
        color: $nav-text-color-hover;
        transition: $nav-transition-5;
        .nav-item-arrow_top {
            opacity: 1;
            margin-bottom: 3px;
            &:nth-child(1) {
                margin-bottom: 5px;
            }
        }
    }
    .hovered-arrow {
        svg {
            path {
                fill: $nav-white;
            }
        }
    }
}
.active-link {
    background: red;
}
.nav-item-active {
    color: $nav-active-lighter;
    border-radius: 3px;
    .nav-item-img-active {
        svg {
            path,
            #Path_35308,
            #Path_35313,
            #Path_35314,
            #Path_35315,
            #Path_35316 {
                fill: $nav-active-lighter;
            }
        }
    }
}
.route-clicked-svg {
    svg {
        path {
            fill: $nav-white !important;
        }
    }
}
.route-clicked {
    color: $nav-white !important;
    font-weight: 700 !important;
}
.nav-width {
    width: 238px;
    &:hover {
        .nav-item-img,
        .nav-item-arrow {
            svg {
                path {
                    transition: $nav-transition-5;
                    fill: $nav-white;
                }
            }
        }
    }
}
.subroute-item {
    padding-left: 4px;
    .nav-item-rightSide {
        .nav-item-name {
            margin-left: 5px;
        }
    }
}
.nav-item-active-box {
    width: 36px;
    height: 28px;
    position: absolute;
    left: -8px;
    content: '';
    background-color: $nav-hover-ligh;
    z-index: -1;
    border-radius: 3px;
    padding: 5px 9px;
}
.subroute-item {
    .nav-item-active-box {
        left: 0px;
    }
    .tooltip {
        position: absolute;
        width: 36px;
        height: 100%;
        left: 0px;
        padding-left: 36px;
    }
}
.nav-item-svg-active {
    svg {
        path {
            fill: $nav-active-lighter;
        }
    }
}
.nav-item-hover {
    width: 238px;
    height: 28px;
    position: absolute;
    left: 0px;
    content: '';
    z-index: -1;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    .nav-item-arrow_top {
        opacity: 1;
    }
}
