@let loads = modalData?.loads || [];
@let isTemplate = modalData?.isTemplate;
@let isSingular = loads.length === 1;
@let inputModalData =
    {
        count: loads.length > 1 ? loads.length : 0,
        title: isTemplate ? 'Delete Template' : 'Delete Pending Load',
    };

<app-ca-delete-modal [template]="deleteTemplate" [modalData]="inputModalData">
    <ng-template #deleteTemplate>
        <div class="gap-1 d-flex flex-column">
            @for (load of loads; track load.id) {
                <div class="gap-1 d-flex flex-column m-b-8">
                    @let title = isTemplate ? load.name : load.loadNumber;
                    <div class="text-size-16 text-color-black ta-font-bold">
                        {{ title }}
                    </div>
                    <div class="text-size-14 ta-font-medium text-color-muted">
                        {{ load.broker?.businessName }}
                    </div>
                </div>
            }

            <div class="text-size-14 ta-font-medium text-color-black">
                @if (isTemplate && isSingular) {
                    Are you sure you want to delete the selected load template?
                } @else if (isTemplate && !isSingular) {
                    Are you sure you want to delete the selected load templates?
                } @else if (!isTemplate && isSingular) {
                    Are you sure you want to delete the selected pending load?
                } @else if (!isTemplate && !isSingular) {
                    Are you sure you want to delete the selected pending loads?
                }
            </div>
        </div>
    </ng-template>
</app-ca-delete-modal>
