@import 'src/theme/variables';

.account-activated-container {
    background-color: $white;
    min-height: 100vh;
    padding-top: 60px;

    br {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }
    }

    .account-activated-text {
        h1 {
            font-weight: 800;
            font-size: 52px;
            height: 63px;
            width: 537px;
            color: $ta-blue;
            margin-bottom: 30px !important;

            &::-moz-selection {
                color: $ta-blue;
                background: rgb(83, 107, 194, 0.2);
            }

            &::selection {
                color: $ta-blue;
                background: rgb(83, 107, 194, 0.2);
            }

            span {
                color: $bw6-2;

                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }
            }
        }

        h2 {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            height: 48px;
            color: $bw6-2;
            margin-bottom: 60px !important;
            text-transform: uppercase;

            &::-moz-selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }
        }
    }

    .account-activated-img {
        margin-bottom: 60px;
    }

    .sign-in-btn {
        width: 240px;
        margin: 0 auto;
        height: 42px;
        border-radius: 2px;
        background-color: $ta-light-blue;
        font-weight: 600;
        font-size: 14px;
        color: $white;
        border: none;
        outline: none;
        transition: background 0.3s ease-in-out;
        user-select: none;

        &:hover {
            background: $ta-blue;
        }
    }

    .copyright {
        height: 42px;
        border-top: 0.1rem solid $ta-gray-02;
        margin-top: 60px;

        p {
            color: $ta-blue-2;
            font-weight: 400;
            font-size: 14px;

            &::-moz-selection {
                color: $ta-blue-2;
                background: rgb(53, 81, 183, 0.2);
            }

            &::selection {
                color: $ta-blue-2;
                background: rgb(53, 81, 183, 0.2);
            }
        }
    }
}
