@import 'src/theme/variables.scss';

.work-experience-border-container {
    border: 1px solid #2f2f2f;
    border-radius: 2px;
    padding: 4px 4px 12px 4px;
}

.work-experience-header {
    padding: 8px;
    border-radius: 2px;
    background: $ta-black-2;

    p {
        font-size: 14px;
        line-height: 18px;
        color: $white;

        &::-moz-selection {
            color: $white;
            background: rgb(255, 255, 255, 0.2);
        }

        &::selection {
            color: $white;
            background: rgb(255, 255, 255, 0.2);
        }
    }
}

.step-form {
    .line-container {
        position: relative;

        .review-feedback-container {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(calc(100% + 5px));
            width: 429px;
        }
    }

    .details-title-box {
        padding-left: 6px;
        margin-bottom: 28px;

        p {
            font-size: 14px;
            line-height: 18px;

            &::-moz-selection {
                color: $ta-black-2;
                background: rgb(47, 47, 47, 0.2);
            }

            &::selection {
                color: $ta-black-2;
                background: rgb(47, 47, 47, 0.2);
            }
        }
    }

    .group {
        margin-bottom: 32px;

        &:last-child {
            margin-right: 0;
        }
    }

    .phone-group {
        width: 169px;
    }

    .fax-group {
        width: 169px;
        margin-right: 0 !important;
    }

    .address-group {
        margin-bottom: 22px !important;
    }

    .address-unit-group {
        width: 123px;
        margin-right: 0 !important;
        margin-bottom: 22px !important;
    }

    .job-details-box {
        padding-top: 8px;
        border-top: 1px solid $bw-9;
    }

    .date-group {
        width: 150px;
    }

    .reason-for-leaving-group {
        margin-right: 0 !important;
    }

    .account-for-period-group {
        margin-right: 0 !important;
        margin-bottom: 22px !important;
    }

    .driving-position-group {
        margin-bottom: 12px;
        border-top: 1px solid $bw-9;
        border-bottom: 1px solid $bw-9;
        padding: 8px 0;
    }

    .class-of-equipment-container {
        .class-of-equipment-cards-container {
            .cards-title-box {
                width: 100%;
                margin-bottom: 4px;
                padding-left: 10px;
                display: grid;
                grid-template-columns: 208px 218px 49px;
                grid-gap: 24px;

                .vehicle-box,
                .trailer-box,
                .length-box {
                    p {
                        color: $ta-black-2;
                        font-size: 11px;
                        user-select: none;

                        span {
                            color: $ta-red-3;
                        }
                    }
                }
            }

            .class-of-equipment-card {
                width: 100%;
                height: 69px;
                border-radius: 2px;
                margin-bottom: 4px;
                padding: 4px 10px 8px 10px;
                background: $bw2;
                cursor: pointer;
                transition: background 0.2s ease-in-out;

                &:hover {
                    background: $ta-light-grey;

                    .input-container .delete-btn-group {
                        opacity: 1;
                        visibility: visible;
                        display: flex;
                    }
                }

                &.valid {
                    background: $ta-blue-10;

                    &:hover {
                        background: $ta-blue-6;

                        .input-container {
                            border-bottom: 1px solid ta-blue-12;
                        }
                    }

                    .input-container {
                        border-bottom: 1px solid ta-blue-11;
                    }
                }

                &.invalid {
                    background: $ta-red-7;

                    &:hover {
                        background: $ta-red-8;

                        .input-container {
                            border-bottom: 1px solid $ta-red-6;
                        }
                    }

                    .input-container {
                        border-bottom: 1px solid $ta-red-7;
                    }
                }

                .input-container {
                    border-bottom: 1px solid $bw-9;
                    padding-bottom: 4px;
                    transition: border 0.2s ease-in-out;

                    .card-vehicle-type-group {
                        width: 220px;
                        margin-right: 12px;
                    }

                    .card-trailer-type-group {
                        width: 230px;
                        margin-right: 12px;
                    }

                    .card-length-group {
                        width: 100px;
                    }

                    .delete-btn-group {
                        margin-left: 12px;
                        opacity: 0;
                        visibility: hidden;
                        display: none;
                        transition: opacity 0.3s ease-in-out,
                            visibility 0.3s ease-in-out;

                        .delete-icon {
                            svg {
                                path {
                                    fill: $bw5;
                                }
                            }

                            &.valid {
                                svg {
                                    path {
                                        fill: $ta-blue-7;
                                    }
                                }
                            }

                            /* &.invalid {
                                svg {
                                    path {
                                        fill: $ta-blue-7;
                                    }
                                }
                            } */
                        }
                    }
                }

                .switch-container {
                    padding: 8px 0 0 6px;
                    display: grid;
                    grid-template-columns: 210px 179px;
                    grid-gap: 22px;
                    position: relative;

                    .required-container {
                        position: absolute;
                        right: 0;
                        top: 11px;

                        p {
                            font-size: 11px;
                            line-height: 14px;
                            color: $ta-red-3;
                        }
                    }
                }
            }
        }

        .vehicle-type-group {
            margin: 0 12px 22px 0;
        }

        .trailer-type-group {
            width: 211px;
            margin: 0 12px 22px 0;
        }

        .length-group {
            width: 130px;
            margin: 0 0 22px 0;
        }

        .questions-container {
            .question-box {
                margin-right: 22px;

                .question-title-box {
                    margin-right: 12px;

                    .required {
                        font-size: 11px;
                        color: $ta-red-2;

                        &::-moz-selection {
                            color: $ta-red-2;
                            background: rgb(239, 83, 80, 0.2);
                        }

                        &::selection {
                            color: $ta-red-2;
                            background: rgb(239, 83, 80, 0.2);
                        }
                    }

                    .question-title {
                        color: $bw6-2;
                        font-size: 14px;
                        line-height: 18px;

                        &::-moz-selection {
                            color: $bw6-2;
                            background: rgb(108, 108, 108, 0.2);
                        }

                        &::selection {
                            color: $bw6-2;
                            background: rgb(108, 108, 108, 0.2);
                        }

                        span {
                            color: $progress-danger;

                            &::-moz-selection {
                                color: $bw6-2;
                                background: rgb(108, 108, 108, 0.2);
                            }

                            &::selection {
                                color: $bw6-2;
                                background: rgb(108, 108, 108, 0.2);
                            }
                        }
                    }

                    .question-title-feedback {
                        color: $bw5;
                        font-size: 14px;
                        line-height: 18px;

                        &::-moz-selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }

                        &::selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }

                        span {
                            color: $bw5;

                            &::-moz-selection {
                                color: $bw5;
                                background: rgb(145, 145, 145, 0.2);
                            }

                            &::selection {
                                color: $bw5;
                                background: rgb(145, 145, 145, 0.2);
                            }
                        }
                    }
                }

                .question-radios-box {
                    width: 86px;

                    .ta-input-radiobutons {
                        width: 100%;
                    }
                }
            }
        }
    }

    /* .equipment-container {
        width: 616px;

        .line-container {
            position: relative;

            .review-feedback-container {
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(calc(100% + 5px));
                width: 429px;
            }
        }

        .title-container {
            width: 100%;
            margin-bottom: 6px;
            padding-left: 6px;

            .vehicle-title-box,
            .trailer-title-box,
            .length-title-box {
                p {
                    color: $bw5;
                    font-size: 12px;

                    &::-moz-selection {
                        color: $bw5;
                        background: rgb(145, 145, 145, 0.2);
                    }

                    &::selection {
                        color: $bw5;
                        background: rgb(145, 145, 145, 0.2);
                    }

                    span {
                        color: $progress-danger;

                        &::-moz-selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }

                        &::selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }
                    }
                }

                &.vehicle-title-box {
                    width: 99px;
                    margin-right: 164px;
                }

                &.trailer-title-box {
                    width: 100px;
                    margin-right: 123px;
                }

                &.length-title-box {
                    width: 60px;
                }
            }
        }

        .equipment-info-container {
            width: 100%;
            height: 26px;
            padding: 4px 6px;
            background: $ta-light-grey-4;
            border-radius: 2px;
            margin-bottom: 2px;
            color: $bw6-2;
            font-size: 14px;
            transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

            &:hover {
                background: $bw2;
                color: $ta-light-grey-3;

                .info-btn-container {
                    .btn-container {
                        .edit-icon,
                        .delete-icon {
                            opacity: 1;
                            visibility: visible;
                            display: flex;
                        }
                    }
                }
            }

            .vehicle-box,
            .trailer-box,
            .length-box {
                p {
                    line-height: 18px;

                    &::-moz-selection {
                        color: $bw6-2;
                        background: rgb(108, 108, 108, 0.2);
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(108, 108, 108, 0.2);
                    }
                }

                &.vehicle-box {
                    width: 239px;
                    margin-right: 24px;

                    p {
                        margin-left: 6px !important;
                    }
                }

                .icon {
                    svg {
                        path {
                            fill: $bw5;
                        }
                    }
                }

                &.trailer-box {
                    width: 199px;
                    margin-right: 24px;

                    p {
                        margin-left: 6px !important;
                    }
                }
            }

            .btn-container {
                width: 42px;

                .edit-icon,
                .delete-icon {
                    cursor: pointer;
                    transition: opacity 0.2s ease-in-out,
                        visibility 0.2s ease-in-out;

                    svg {
                        path {
                            fill: $bw4;
                        }
                    }

                    &:hover {
                        svg {
                            path {
                                transition: fill 0.2s ease-in-out;
                                fill: $bw6-2;
                            }
                        }
                    }

                    &.edit-icon,
                    &.delete-icon {
                        margin-right: 4px;

                        &.delete-icon {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .equipment-view-form {
            margin: 32px auto 0 auto;
        }
    } */
}
