@import 'src/theme/variables.scss';

.step-form {
  .line-container {
    position: relative;

    .review-feedback-container {
      position: absolute;
      top: 0;
      right: -435px;
      width: 429px;
    }
  }

  .group {
    margin-bottom: 32px;
    margin-right: 12px;
    width: 616px;

    &:last-child {
      margin-right: 0 !important;
    }
  }

  .employer-group {
    width: 616px;
    margin-right: 0;
  }

  .job-description-group {
    width: 316px;
  }

  .date-group {
    width: 138px;
  }

  .date-to-group {
    margin-right: 0 !important;
  }

  .phone-group {
    width: 169px;
  }

  .email-group {
    width: 254px;
  }

  .fax-group {
    width: 169px;
    margin-right: 0 !important;
  }

  .address-group {
    width: 481px;
    margin-bottom: 22px !important;
  }

  .address-unit-group {
    width: 123px;
    margin-bottom: 22px !important;
    margin-right: 0 !important;
  }

  .driving-position-group {
    margin-bottom: 32px;
  }

  .equipment-container {
    width: 616px;
    margin-bottom: 32px;

    .line-container {
      position: relative;

      .review-feedback-container {
        position: absolute;
        top: 0;
        right: -435px;
        width: 429px;
      }
    }

    .title-container {
      width: 100%;
      margin-bottom: 6px;
      padding-left: 6px;

      .vehicle-title-box,
      .trailer-title-box,
      .length-title-box {
        p {
          color: $bw5;
          font-size: 12px;

          &::-moz-selection {
            color: $bw5;
            background: rgb(145, 145, 145, 0.2);
          }

          &::selection {
            color: $bw5;
            background: rgb(145, 145, 145, 0.2);
          }

          span {
            color: $progress-danger;

            &::-moz-selection {
              color: $bw5;
              background: rgb(145, 145, 145, 0.2);
            }

            &::selection {
              color: $bw5;
              background: rgb(145, 145, 145, 0.2);
            }
          }
        }

        &.vehicle-title-box {
          width: 99px;
          margin-right: 164px;
        }

        &.trailer-title-box {
          width: 100px;
          margin-right: 123px;
        }

        &.length-title-box {
          width: 60px;
        }
      }
    }

    .equipment-info-container {
      width: 100%;
      height: 26px;
      padding: 4px 6px;
      background: $ta-light-grey-4;
      border-radius: 2px;
      margin-bottom: 2px;
      color: $bw6-2;
      font-size: 14px;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background: $bw2;
        color: $ta-light-grey-3;

        .info-btn-container {
          .btn-container {
            .edit-icon,
            .delete-icon {
              opacity: 1;
              visibility: visible;
              display: flex;
            }
          }

          .btn-container.active {
            .review-icon-box {
              .review-icon {
                visibility: visible !important;
                opacity: 1 !important;
              }
            }
          }
        }
      }

      .vehicle-box,
      .trailer-box,
      .length-box {
        p {
          line-height: 18px;

          &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }
        }

        &.vehicle-box {
          width: 239px;
          margin-right: 24px;

          p {
            margin-left: 6px !important;
          }
        }

        .icon {
          svg {
            path {
              fill: $bw5;
            }
          }
        }

        &.trailer-box {
          width: 199px;
          margin-right: 24px;

          p {
            margin-left: 6px !important;
          }
        }
      }

      .review-icon-box {
        margin-left: 43px;
      }

      .btn-container {
        width: 42px;

        &.active {
          .edit-icon,
          .delete-icon,
          .review-icon {
            visibility: hidden !important;
            opacity: 0 !important;

            &.edit-icon,
            &.delete-icon {
              display: none !important;
            }

            &.review-icon.active {
              visibility: visible !important;
              opacity: 1 !important;
            }
          }
        }

        .edit-icon,
        .delete-icon,
        .review-icon,
        .feedback-icon {
          cursor: pointer;
          transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

          svg {
            path {
              fill: $bw4;
            }
          }

          &:hover {
            svg {
              path {
                transition: fill 0.2s ease-in-out;
                fill: $bw6-2;
              }
            }
          }

          &.edit-icon,
          &.delete-icon {
            margin-right: 4px;
            opacity: 0;
            visibility: hidden;

            &.delete-icon {
              margin-right: 0;
            }
          }

          &.review-icon {
            svg {
              path {
                transition: fill 0.3s ease-in-out;
                fill: $ta-red-2 !important;
              }

              rect {
                transition: fill 0.3s ease-in-out;
                fill: $bw2 !important;
              }
            }

            &:hover {
              svg {
                path {
                  fill: $white !important;
                }

                rect {
                  fill: $ta-red-2 !important;
                }
              }
            }

            &.active {
              svg {
                path {
                  fill: $white !important;
                }

                rect {
                  fill: $ta-red-3 !important;
                }
              }
            }
          }

          &.feedback-icon {
            margin-left: 4px;

            svg {
              path {
                fill: $ta-red-2;
              }
            }
          }
        }
      }
    }

    .equipment-view-form {
      margin: 32px auto 0 auto;
    }
  }

  .vehicle-type-group {
    width: 251px;
    margin-bottom: 22px;
  }

  .trailer-type-group {
    width: 211px;
    margin-bottom: 22px;
  }

  .length-group {
    width: 130px;
    margin-bottom: 22px;
    margin-right: 0 !important;
  }

  .another-class-group {
    .add-btn {
      line-height: 18px;
      height: 26px;
      padding: 4px 8px;
      border: none;
      outline: none;
      font-size: 14px;
      border-radius: 2px;
      color: $ta-blue;
      background: $ta-gray-01;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        color: $white;
        background: $ta-blue;
      }

      &:hover .plus-icon {
        svg {
          path {
            fill: $white;
          }
        }
      }

      &.disabled {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;

        cursor: auto;
        background: $ta-light-grey-4;
        color: $bw4;

        .plus-icon {
          svg {
            path {
              fill: $ta-light-grey-6;
            }
          }
        }
      }

      .plus-icon {
        margin-right: 6px;

        svg {
          path {
            transition: fill 0.2s ease-in-out;
            fill: $ta-light-blue;
          }
        }
      }
    }

    .btn-container {
      margin-bottom: 32px;

      .add-btn {
        margin-top: 0;
        height: 26px;
        padding: 4px 8px;
        border: none;
        outline: none;
        font-size: 14px;
        border-radius: 2px;
        color: $ta-blue;
        background: $ta-gray-01;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          color: $white;
          background: $ta-blue;
        }

        &:hover .plus-icon {
          svg {
            path {
              fill: $white;
            }
          }
        }

        &.disabled {
          -webkit-user-select: none !important;
          -moz-user-select: none !important;
          -ms-user-select: none !important;
          user-select: none !important;

          cursor: auto;
          background: $ta-light-grey-4;
          color: $bw4;

          .plus-icon {
            svg {
              path {
                fill: $ta-light-grey-6;
              }
            }
          }

          &:hover {
            background: $ta-light-grey-4 !important;
            color: $bw4 !important;
          }
        }

        .plus-icon {
          margin-right: 6px;

          svg {
            path {
              transition: fill 0.2s ease-in-out;
              fill: $ta-light-blue;
            }
          }
        }
      }

      .cancel-btn {
        width: 150px;
        height: 32px;
        margin-right: 22px;
        color: $bw6-2;
        background: $ta-light-grey-4;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out !important;

        &:hover {
          background: $bw6-2;
          color: $white;
        }
      }

      .save-btn {
        width: 150px;
        height: 32px;
        color: $white;
        background: $ta-light-blue;

        &:hover {
          background-color: $ta-blue;
        }
      }
    }
  }

  .questions-container {
    margin-bottom: 36px;

    .question-box {
      margin-right: 22px;

      .question-title-box {
        margin-right: 12px;

        .question-title {
          color: $bw6-2;
          font-size: 14px;
          line-height: 18px;

          &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          span {
            color: $progress-danger;

            &::-moz-selection {
              color: $bw6-2;
              background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
              color: $bw6-2;
              background: rgb(108, 108, 108, 0.2);
            }
          }
        }

        .question-title-feedback {
          color: $bw5;
          font-size: 14px;
          line-height: 18px;

          &::-moz-selection {
            color: $bw5;
            background: rgb(145, 145, 145, 0.2);
          }

          &::selection {
            color: $bw5;
            background: rgb(145, 145, 145, 0.2);
          }

          span {
            color: $bw5;

            &::-moz-selection {
              color: $bw5;
              background: rgb(145, 145, 145, 0.2);
            }

            &::selection {
              color: $bw5;
              background: rgb(145, 145, 145, 0.2);
            }
          }
        }
      }

      .question-radios-box {
        width: 86px;

        .ta-input-radiobutons {
          width: 100%;
        }
      }
    }
  }

  .reason-for-leaving-group {
    width: 616px;
    margin-right: 0 !important;
  }

  .account-for-period-group {
    margin-right: 0 !important;
  }

  .btn-container {
    .add-btn {
      margin-top: 22px;
      height: 26px;
      padding: 4px 8px;
      border: none;
      outline: none;
      font-size: 14px;
      border-radius: 2px;
      color: $ta-blue;
      background: $ta-gray-01;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        color: $white;
        background: $ta-blue;
      }

      &:hover .plus-icon {
        svg {
          path {
            fill: $white;
          }
        }
      }

      &.disabled {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;

        cursor: auto;
        background: $ta-light-grey-4;
        color: $bw4;

        .plus-icon {
          svg {
            path {
              fill: $ta-light-grey-6;
            }
          }
        }

        &:hover {
          background: $ta-light-grey-4 !important;
          color: $bw4 !important;
        }
      }

      .plus-icon {
        margin-right: 6px;

        svg {
          path {
            transition: fill 0.2s ease-in-out;
            fill: $ta-light-blue;
          }
        }
      }
    }

    .btn-container {
      margin-top: 22px;
      margin-bottom: 32px;

      .add-btn {
        margin-top: 0;
        height: 26px;
        padding: 4px 8px;
        border: none;
        outline: none;
        font-size: 14px;
        border-radius: 2px;
        color: $ta-blue;
        background: $ta-gray-01;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          color: $white;
          background: $ta-blue;
        }

        &:hover .plus-icon {
          svg {
            path {
              fill: $white;
            }
          }
        }

        &.disabled {
          -webkit-user-select: none !important;
          -moz-user-select: none !important;
          -ms-user-select: none !important;
          user-select: none !important;

          cursor: auto;
          background: $ta-light-grey-4;
          color: $bw4;

          .plus-icon {
            svg {
              path {
                fill: $ta-light-grey-6;
              }
            }
          }

          &:hover {
            background: $ta-light-grey-4 !important;
            color: $bw4 !important;
          }
        }

        .plus-icon {
          margin-right: 6px;

          svg {
            path {
              transition: fill 0.2s ease-in-out;
              fill: $ta-light-blue;
            }
          }
        }
      }

      .cancel-btn {
        width: 150px;
        height: 32px;
        margin-right: 22px;
        color: $bw6-2;
        background: $ta-light-grey-4;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out !important;

        &:hover {
          background: $bw6-2;
          color: $white;
        }
      }

      .save-btn {
        width: 150px;
        height: 32px;
        color: $white;
        background: $ta-light-blue;

        &:hover {
          background-color: $ta-blue;
        }
      }
    }
  }
}
