@import 'src/theme/variables.scss';

.step-form {
  .line-container {
    position: relative;

    .review-feedback-container {
      position: absolute;
      top: 0;
      right: -435px;
      width: 429px;
    }
  }

  .group {
    margin-bottom: 32px;
    margin-right: 12px;
    width: 616px;

    &:last-child {
      margin-right: 0 !important;
    }
  }

  .employer-group {
    width: 616px;
    margin-right: 0;
  }

  .job-description-group {
    width: 316px;
  }

  .date-group {
    width: 138px;
  }

  .date-to-group {
    margin-right: 0 !important;
  }

  .phone-group {
    width: 169px;
  }

  .email-group {
    width: 254px;
  }

  .fax-group {
    width: 169px;
    margin-right: 0 !important;
  }

  .address-group {
    width: 481px;
    margin-bottom: 22px !important;
  }

  .address-unit-group {
    width: 123px;
    margin-bottom: 22px !important;
    margin-right: 0 !important;
  }

  .driving-position-group {
    margin-bottom: 32px;
  }

  .vehicle-type-group {
    width: 251px;
    margin-bottom: 22px;
  }

  .trailer-type-group {
    width: 211px;
    margin-bottom: 22px;
  }

  .length-group {
    width: 130px;
    margin-bottom: 22px;
    margin-right: 0 !important;
  }

  .another-class-group {
    margin-bottom: 22px;

    .add-btn {
      height: 26px;
      padding: 4px 8px;
      border: none;
      outline: none;
      font-size: 14px;
      border-radius: 2px;
      color: $ta-blue;
      background: $ta-gray-01;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        color: $white;
        background: $ta-blue;
      }

      &:hover .plus-icon {
        svg {
          path {
            fill: $white;
          }
        }
      }

      &.disabled {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;

        cursor: auto;
        background: $ta-light-grey-4;
        color: $bw4;

        .plus-icon {
          svg {
            path {
              fill: $ta-light-grey-6;
            }
          }
        }
      }

      .plus-icon {
        margin-right: 6px;

        svg {
          path {
            transition: fill 0.2s ease-in-out;
            fill: $ta-light-blue;
          }
        }
      }
    }
  }

  .questions-container {
    margin-bottom: 36px;

    .question-box {
      margin-right: 22px;

      .question-title-box {
        margin-right: 12px;

        .question-title {
          color: $bw6-2;
          font-size: 14px;
          line-height: 18px;

          &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          span {
            color: $progress-danger;

            &::-moz-selection {
              color: $bw6-2;
              background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
              color: $bw6-2;
              background: rgb(108, 108, 108, 0.2);
            }
          }
        }

        .question-title-feedback {
          color: $bw5;
          font-size: 14px;
          line-height: 18px;

          &::-moz-selection {
            color: $bw5;
            background: rgb(145, 145, 145, 0.2);
          }

          &::selection {
            color: $bw5;
            background: rgb(145, 145, 145, 0.2);
          }

          span {
            color: $bw5;

            &::-moz-selection {
              color: $bw5;
              background: rgb(145, 145, 145, 0.2);
            }

            &::selection {
              color: $bw5;
              background: rgb(145, 145, 145, 0.2);
            }
          }
        }
      }

      .question-radios-box {
        width: 86px;

        .ta-input-radiobutons {
          width: 100%;
        }
      }
    }
  }

  .reason-for-leaving-group {
    width: 616px;
    margin-right: 0 !important;
  }

  .account-for-period-group {
    margin-right: 0 !important;
  }

  .btn-container {
    .add-btn {
      margin-top: 22px;
      height: 26px;
      padding: 4px 8px;
      border: none;
      outline: none;
      font-size: 14px;
      border-radius: 2px;
      color: $ta-blue;
      background: $ta-gray-01;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        color: $white;
        background: $ta-blue;
      }

      &:hover .plus-icon {
        svg {
          path {
            fill: $white;
          }
        }
      }

      &.disabled {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;

        cursor: auto;
        background: $ta-light-grey-4;
        color: $bw4;

        .plus-icon {
          svg {
            path {
              fill: $ta-light-grey-6;
            }
          }
        }

        &:hover {
          background: $ta-light-grey-4 !important;
          color: $bw4 !important;
        }
      }

      .plus-icon {
        margin-right: 6px;

        svg {
          path {
            transition: fill 0.2s ease-in-out;
            fill: $ta-light-blue;
          }
        }
      }
    }

    .btn-container {
      margin-top: 22px;
      margin-bottom: 32px;

      .add-btn {
        margin-top: 0;
        height: 26px;
        padding: 4px 8px;
        border: none;
        outline: none;
        font-size: 14px;
        border-radius: 2px;
        color: $ta-blue;
        background: $ta-gray-01;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          color: $white;
          background: $ta-blue;
        }

        &:hover .plus-icon {
          svg {
            path {
              fill: $white;
            }
          }
        }

        &.disabled {
          -webkit-user-select: none !important;
          -moz-user-select: none !important;
          -ms-user-select: none !important;
          user-select: none !important;

          cursor: auto;
          background: $ta-light-grey-4;
          color: $bw4;

          .plus-icon {
            svg {
              path {
                fill: $ta-light-grey-6;
              }
            }
          }

          &:hover {
            background: $ta-light-grey-4 !important;
            color: $bw4 !important;
          }
        }

        .plus-icon {
          margin-right: 6px;

          svg {
            path {
              transition: fill 0.2s ease-in-out;
              fill: $ta-light-blue;
            }
          }
        }
      }

      .cancel-btn {
        width: 150px;
        height: 32px;
        margin-right: 22px;
        color: $bw6-2;
        background: $ta-light-grey-4;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out !important;

        &:hover {
          background: $bw6-2;
          color: $white;
        }
      }

      .save-btn {
        width: 150px;
        height: 32px;
        color: $white;
        background: $ta-light-blue;

        &:hover {
          background-color: $ta-blue;
        }
      }
    }
  }
}
