@import 'src/theme/variables';

.confirmation-activation {
    padding: 12px 0;

    position: relative;

    /* Icon */

    &-icon {
        position: absolute;
        top: -30px;
        right: 0;
        padding-left: 10px;
        background: $white;
    }

    /* Body */

    &-body {
        .confirmation-svg {
            svg {
                width: 77px;
                height: 28px;
            }
        }

        .status-gap {
            gap: 12px;
        }

        &-title,
        &-middle {
            p,
            div {
                font-size: 18px;
                line-height: 22px;
                color: $ta-black;

                &::-moz-selection {
                    color: $ta-black;
                    background: rgb(66, 66, 66, 0.2);
                }

                &::selection {
                    color: $ta-black;
                    background: rgb(66, 66, 66, 0.2);
                }

                &.limit-text {
                    max-width: 73%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.shorter-text {
                        max-width: 66%;
                    }
                }
            }

            span,
            .text-2 {
                font-size: 14px;
                line-height: 18px;
                color: $bw5;

                &::-moz-selection {
                    color: $bw5;
                    background: rgb(145, 145, 145, 0.2);
                }

                &::selection {
                    color: $bw5;
                    background: rgb(145, 145, 145, 0.2);
                }

                &.limit-text {
                    max-width: 73%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.shorter-text {
                        max-width: 66%;
                    }
                }
            }

            .avatar {
                width: 28px;
                height: 32px;
                object-fit: fill;
                margin-right: 6px;
            }
            .truck-location {
                width: 264px;
                margin: 14px 0;
                app-ta-input-address-dropdown {
                    width: 264px;
                }
            }
            .status-title {
                font-size: 14px;
                line-height: 18px;
                color: $ta-black;
            }
            .no-avatar {
                width: 28px;
                height: 32px;
                margin-right: 6px;

                p {
                    font-size: 11px;
                    line-height: 14px;

                    user-select: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                }
            }

            .title-container {
                .title-text {
                    font-size: 18px;
                    line-height: 22px;
                    color: $ta-black;
                }

                .second-title-text {
                    font-size: 14px;
                    line-height: 18px;
                    color: $bw5;
                }
            }
        }

        &-middle {
            margin: 8px 0;

            &-box {
                background: $bw2;
                border-radius: 2px;
                padding: 2px 6px;
                margin-left: 6px;

                p {
                    font-size: 11px;
                    line-height: 24px;
                    color: $ta-black;

                    &::-moz-selection {
                        color: $ta-black;
                        background: rgb(66, 66, 66, 0.2);
                    }

                    &::selection {
                        color: $ta-black;
                        background: rgb(66, 66, 66, 0.2);
                    }
                }
            }
        }

        &-subtitle {
            width: 70%;

            p {
                font-size: 14px;
                line-height: 18px;
                color: $ta-black;

                &::-moz-selection {
                    color: $ta-black;
                    background: rgb(66, 66, 66, 0.2);
                }

                &::selection {
                    color: $ta-black;
                    background: rgb(66, 66, 66, 0.2);
                }
            }
        }
    }
}

.action-div-icon {
    margin-left: 6px;
    svg {
        path,
        rect {
            fill: $muted !important;
        }
    }
}
