<!-- Dropzone -->
<div class="ta-modal-dropzone" *ngIf="!unSupporetedType">
  <label for="pdf" class="ta-modal-dropzone-label">
    <svg-icon
      class="ta-modal-dropzone-area"
      [src]="dropZoneConfig.dropZoneSvg"
    ></svg-icon>
    <div
      class="ta-modal-dropzone-text"
      *ngIf="dropZoneConfig.dropZoneType === 'files'"
    >
      <span
        [ngClass]="{
          'ta-modal-dropzone-text-big': dropZoneConfig.globalDropZone
        }"
      >
        {{
          !textChangeOverModal ? "DRAG FILES HERE" : "DROP IT LIKE IT’S HOT"
        }}</span
      >
      <span
        *ngIf="!dropZoneConfig.globalDropZone"
        class="ta-modal-dropzone-text-small"
        >OR CLICK TO ADD</span
      >
    </div>
    <div
      class="ta-modal-dropzone-text"
      *ngIf="dropZoneConfig.dropZoneType === 'logo'"
    >
      <span
        [ngClass]="{
          'ta-modal-dropzone-text-big': dropZoneConfig.globalDropZone
        }"
        >{{
          !textChangeOverModal ? "DRAG IMAGE HERE" : "DROP IT LIKE IT'S HOT"
        }}</span
      >
      <span
        *ngIf="!dropZoneConfig.globalDropZone"
        class="ta-modal-dropzone-text-small"
        >OR CLICK TO ADD</span
      >
    </div>
  </label>
  <input
    id="pdf"
    type="file"
    [accept]="dropZoneConfig.dropZoneAvailableFiles"
    [multiple]="dropZoneConfig.multiple"
    (change)="onFileUpload($event.target.files)"
  />
</div>
<!-- Dropzone Unsupported -->
<div class="ta-modal-dropzone-unsupported" *ngIf="unSupporetedType">
  <svg-icon
    class="cancel-unsupported-zone"
    src="assets/svg/common/ic_x.svg"
    (click)="unSupporetedType = false"
  ></svg-icon>
  <label for="pdf" class="ta-modal-dropzone-label">
    <div class="ta-modal-dropzone-text">
      <span class="ta-modal-dropzone-text-big">UNSUPPORTED FILE TYPE</span>
      <span class="ta-modal-dropzone-text-small"
        >WE CURRENTLY SUPPORT THESE FORMATS</span
      >
      <div class="supported-extensions">
        <span
          class="extension extension-{{ ext }}"
          *ngFor="let ext of supportedExtensions"
          >{{ ext }}</span
        >
      </div>
    </div>
  </label>
</div>
