@import '../navigation.design.scss';

.user-panel {
    position: relative;
    z-index: 99;
    width: 238px;
    padding: 4px 4px 44px 4px;
    border-radius: 2px;
    box-shadow: $nav-boxshadow;
    background-color: $nav-transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .wrapper-elements {
        position: relative;
    }
    p {
        margin: 0;
        font-size: $nav-font-size;
        font-weight: $nav-font-medium;
        color: $nav-white;
    }

    .user-content {
        display: flex;
        align-items: center;
        height: 30px;
        width: 176px;
        padding: 4px 6px;
        transition: $nav-transition;

        .user-content-hover {
            display: none;
        }

        .user-content-text {
            margin-left: 7px;
        }

        .user-content-svg {
            position: relative;
            bottom: 0px;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .user-content-logout {
            // color: $nav-important;
        }

        &:nth-child(1) {
            margin-top: 0px !important;
        }

        &:hover {
            .user-content-hover {
                display: inline;
                height: 28px;
                width: 230px;
                content: '';
                position: absolute;
                z-index: -1;
                left: 4px;
                border-radius: 3px;
            }

            // .user-content-svg {
            //     svg {
            //         path {
            //             fill: $nav-svg-hover;
            //         }
            //     }
            // }

            .user-content-logout {
                // color: $nav-important-hover !important;

                svg {
                    #person-to-portal {
                        fill: $nav-important !important;
                    }
                }
            }

            .user-content-status {
                svg {
                    #minus-circle {
                        fill: $user-busy-status-hover !important;
                    }
                    #check-circle {
                        fill: $user-active-status-hover !important;
                    }
                }
            }

            // .user-content-text {
            //     color: $nav-text-color-hover;
            // }
        }
    }

    .panel-user {
        display: flex;
        align-items: center;
        height: 44px;
        position: absolute;
        bottom: -3px;

        .panel-image {
            width: 28px;
            height: 28px;
            object-fit: fill;
            position: relative;
            bottom: 0px;
            margin: 0;
            left: 0;
        }

        .panel-name {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 1px;
            bottom: 0px;
            padding-left: 5px;
            p {
                padding-left: 1px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 140px;
                overflow: hidden;

                &:nth-child(1) {
                    line-height: 17px;
                    font-size: 14px;
                    font-weight: 700;
                }
                &:nth-child(2) {
                    line-height: 13px;
                    font-size: 11px;
                    font-weight: 400;
                }
            }

            .nav-footer-user-company {
                position: relative;
                top: 2px;
            }

            .nav-footer-user-name {
                position: relative;
                top: -1px;
            }
        }
    }
}
.panel-image {
    width: 28px;
    height: 28px;
    bottom: 5px;
    left: 4px;
    position: relative;
    margin-top: 15px;
}
.wrapper {
    div {
        .new-magic-line {
            display: inline-block;
            position: absolute;
            left: 0px;
            bottom: 0px;
            content: '';
            height: 28px;
            width: 232px;
            background: $nav-hover-color;
            border-radius: 3px;
            transition: $magic-line-transition;
            z-index: -1;
        }

        .new-magic-line-selected {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}

.user-content:nth-child(1):hover ~ .new-magic-line {
    transform: translateY(-121px) !important;
}

.user-content:nth-child(1) ~ .new-magic-line {
    transform: translateY(-121px);
}

.user-content:nth-child(2):hover ~ .new-magic-line {
    transform: translateY(-92px) !important;
}

.user-content:nth-child(2) ~ .new-magic-line {
    transform: translateY(-92px);
}

.user-content:nth-child(3):hover ~ .new-magic-line {
    transform: translateY(-61px) !important;
}

.user-content:nth-child(3) ~ .new-magic-line {
    transform: translateY(-61px);
}

.user-content:nth-child(4):hover ~ .new-magic-line {
    transform: translateY(-31px) !important;
}

.user-content:nth-child(4) ~ .new-magic-line {
    transform: translateY(-31px);
}

.user-content:nth-child(5):hover ~ .new-magic-line {
    transform: translateY(0px) !important;
}

.user-content:nth-child(5) ~ .new-magic-line {
    transform: translateY(0px);
}
