<div class="dispatchboard-custom-holder">
   <ng-select
      #multiSelect
      [searchable]="true"
      [(ngModel)]="selectValue.id"
      bindLabel="id"
      (change)="change($event, multiSelect)"
      [items]="__items"
      [clearable]="false"
      bindValue="id"
      [hideSelected]="true"
   >
      <ng-template let-item="item" ng-label-tmp let-index="index">
         <svg-icon
            class="dropdown-indicator"
            src="assets/svg/common/ic_arrow-down.svg"
         ></svg-icon>
         <div
            class="drop_item"
            [ngClass]="{
               all_boards: item.dispatcher?.id == -1,
               team_boards: item.dispatcher?.id == 1
            }"
         >
            <div
               class="user_avatar"
               *ngIf="item.dispatcher?.avatar"
               [ngStyle]="
                  item.dispatcher?.avatar && {
                     'background-image': 'url(' + item.dispatcher?.avatar + ')'
                  }
               "
            ></div>
            <app-profile-images
               *ngIf="
                  !item.dispatcher?.avatar &&
                  item.dispatcher?.id != -1 &&
                  item.dispatcher?.id != 1
               "
               [indx]="index"
               [name]="item.dispatcher?.fullName"
               [size]="'small'"
               [type]="'user'"
               [showHoverAnimation]="false"
            ></app-profile-images>
            <span
               [class.dispatcher_full_name]="
                  item.dispatcher?.id != -1 && item.dispatcher?.id != 1
               "
               >{{ item.dispatcher?.fullName }}</span
            >
         </div>
      </ng-template>
      <ng-template
         let-item="item"
         let-index="index"
         let-search="searchTerm"
         ng-option-tmp
      >
         <div
            class="drop_item bottom-list"
            [ngClass]="{
               all_boards: item.dispatcher?.id == -1,
               team_boards: item.dispatcher?.id == 1
            }"
         >
            <div class="dispatch_count">{{ item.dispatchCount }}</div>
            <div
               class="user_avatar"
               *ngIf="item.avatar"
               [ngStyle]="
                  item.dispatcher?.avatar && {
                     'background-image': 'url(' + item.dispatcher?.avatar + ')'
                  }
               "
            ></div>
            <app-profile-images
               *ngIf="
                  !item.dispatcher?.avatar &&
                  item.dispatcher?.id != -1 &&
                  item.dispatcher?.id != 1
               "
               [indx]="index"
               [name]="item.dispatcher?.fullName"
               [size]="'small'"
               [type]="'user'"
               [showHoverAnimation]="false"
            ></app-profile-images>
            <span
               [class.dispatcher_full_name]="
                  item.dispatcher?.id != -1 && item.dispatcher?.id != 1
               "
               >{{ item.dispatcher?.fullName }}</span
            >
         </div>
      </ng-template>
   </ng-select>
</div>
