.gps-progress-holder {
    height: 26px;
    padding: 2px;
    align-items: center;
    .gps-progress-img {
        cursor: pointer;
        svg-icon {
            svg {
                width: 22px;
                height: 22px;
            }
        }
    }

    .gps-progress-text {
        height: 26px;
        padding: 0 10px 0 8px;
        flex: 1;
        .mileage-gps {
            height: 12px;

            justify-content: space-between;

            &:last-child {
                align-items: center;
            }

            .mileages,
            .mileage-normal {
                font-size: 11px;
                color: #2f2f2f;
                font-weight: 400;

                user-select: none;

                &.mileages {
                    font-weight: 600;
                }
            }

            .gps-timeline {
                position: relative;
                margin-right: 12px;
                flex: 1;
                height: 2px;
                background-color: #dadada;

                .gps-stop {
                    position: absolute;
                    top: 50%;
                    width: 4px;
                    height: 6px;
                    border-radius: 1px;
                    background-color: #aaaaaa;
                    transform: translateY(-50%);
                    cursor: pointer;

                    &.pickup-stop {
                        background-color: #80cbba;
                    }

                    &.delivery-stop {
                        background-color: #ef5350;
                    }
                }

                .current-pos {
                    position: absolute;
                    top: 50%;
                    left: 0%;

                    transform: translateY(-50%);
                    cursor: pointer;

                    svg-icon {
                        svg {
                            width: 10px;
                            height: 10px;
                            rect:first-child {
                                fill: #3074d3;
                            }

                            rect:last-child {
                                fill: #ffffff;
                            }
                        }
                    }
                }

                .gps-timeline-active {
                    position: absolute;
                    height: 2px;
                    left: 0;
                    width: 0%;
                    background-color: #6c6c6c;
                }
            }
        }
    }

    .gps_info_hold {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 26px;
        padding: 0 10px 0 8px;
        flex: 1;

        .moving_side {
            color: #3074d3;
            font-weight: 900;
            font-size: 11px;
            line-height: 11px;
        }

        .moving_time {
            color: #2f2f2f;
            font-weight: 500;
            font-size: 11px;
            line-height: 11px;
        }
    }
}

.main_dropdown_holder {
    display: flex;
    width: 555px;
    height: 282px;
    background-color: #2f2f2f;
    border-radius: 3px;
    overflow: hidden;

    .map_holder {
        flex: 1;
    }

    .gps_all_hold {
        padding: 4px;
        width: 251px;

        .gps_header {
            display: flex;
            align-items: center;

            margin-bottom: 4px;
            padding: 2px;
            border-radius: 2px;

            &:hover {
                background-color: #1D1D1D;
            }

            .gps-progress-img {
                cursor: pointer;
                svg-icon {
                    svg {
                        width: 22px;
                        height: 22px;
                    }
                }
            }

            .gps_info_hold {
                display: flex;
                flex-direction: column;
                justify-content: center;

                padding: 0 10px 0 8px;

                .moving_side {
                    color: #3074d3;
                    font-weight: 900;
                    font-size: 11px;
                    line-height: 11px;
                }

                .moving_time {
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 11px;
                }
            }
        }

        .gps_info_border {
            height: 1px;
            width: 100%;

            background-color: #424242;
            border-radius: 1px;
        }

        .gps_progress_hold {
            height: 200px;
            padding-top: 9px;

            .progress_inner {
                .progress_header {
                    display: flex;
                    .progress_header_inside {
                        display: flex;
                        align-items: center;
                        flex: 1;
                        .progress_icon {
                            svg-icon {
                                svg {
                                    display: flex;
                                    width: 14px;
                                    height: 14px;
                                }
                            }
                        }

                        .progress_name {
                            margin-left: 8px;

                            font-size: 14px;
                            font-weight: 700;
                            line-height: 18px;
                            color: #919191;
                        }
                    }

                    .progress_type {
                        
                    }
                }
            }
        }

        .gps_complete_hold {
            margin-top: 7px;
            padding: 0px 10px;

            .gps_complete_row {
                display: flex;
                margin-bottom: 2px;

                .gps_complete_text {
                    flex: 1;
                    color: #ffffff66;
                    font-size: 11px;
                    line-height: 14px;
                    font-weight: 700;
                }

                .gps_complete_text_info {
                    color: #ffffff66;
                    font-size: 11px;
                    line-height: 14px;
                    font-weight: 700;
                }
            }

            .gps_complete_second_row {
                display: flex;

                .gps_complete_text {
                    flex: 1;
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 700;
                }

                .gps_complete_text_info {
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 700;
                }
            }
        }
    }
}
