.dashboard-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    app-dashboard-performance{
        width: 100%;
    }

    app-dashboard-top-driver{
        width: 100%;
    }
}