@import '/src/theme/variables.scss';

.repair-shop {
    &__favorite {
        position: relative;
        bottom: 1px;
        cursor: pointer;

        svg path {
            transition: fill 0.3s ease-in-out;
        }

        &:hover svg path {
            fill: $ta-black;
        }

        &-active svg path {
            fill: $ta-blue-13;
            &:hover {
                fill: $ta-blue-15;
            }
        }
    }

    // Override tabs to match figma design
    &__main-tabs {
        .tab-switch-name {
            font-size: 14px !important;
            font-weight: 700 !important;
            line-height: 18px;
            text-transform: none !important;
        }
    }
}

.service-types {
    margin: 10px 0 15px 0;
}

.timeline__card {
    grid-template-columns: 1fr repeat(2, 140px);
    padding: 0 10px;
    border-radius: 2px;
    display: grid;
    grid-template-rows: 34px;
    align-items: center;
    column-gap: 12px;
    row-gap: 2px;
    margin-bottom: 2px;
    position: relative;

    &-range {
        font-size: 11px;
        line-height: 14px;
        color: $muted;
        text-transform: uppercase;
        padding-left: 32px;
    }

    &-label {
        cursor: pointer;
        color: $ta-black-2;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        -webkit-user-select: none;
        user-select: none;
    }

    &-icon {
        svg {
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &-rotate {
            svg {
                transform: rotate(180deg);
                path {
                    fill: $ta-blue-13;
                }
            }
        }
    }

    &-hover {
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: $ta-light-grey-5;

            .input-custom-group .date_time_holder {
                background-color: $ta-light-grey-5;
            }
        }
    }

    .input-custom-group .date_time_holder {
        transition: background-color 0.3s ease-in-out;
        background-color: $white;
        color: $ta-black-2;
        &:hover {
            background-color: #e2ecf9;
        }

        &:focus,
        &:active {
            background-color: $ta-blue-15;
        }
    }
}
