@import '/src/theme/variables.scss';

.repair-shop {
    &__favorite {
        position: relative;
        bottom: 1px;
    }

    &-address {
        display: grid;
        grid-template-columns: 364px 1fr;
    }
}

.repair-shop-card {
    .no-review-repair-shop {
        width: 456px;
        height: 120px;
        margin: 4px 0;

        .no-review-svg {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            svg {
                width: 456px;
                height: 120px;
            }
        }
    }
}

.service-types {
    margin: 10px 0 15px 0;
}

.timeline__card {
    display: grid;
    grid-template-columns: 122px 156px 156px 20px;
    grid-template-rows: 34px;
    align-items: center;
    column-gap: 2px;
    row-gap: 2px;
    margin-bottom: 2px;
    position: relative;
    border-radius: 2px;

    &-double-shift {
        margin-top: 2px;
    }

    &-inputs {
        grid-template-columns: 93px 162px 162px 33px;
        grid-template-rows: auto;
    }

    &-day-label {
        height: 26px;
    }

    &-icon-plus {
        opacity: 0;
        transition: $transition;
    }

    &:hover {
        .timeline__card-icon-plus {
            opacity: 1;
        }
    }

    &-range {
        font-size: 11px;
        line-height: 14px;
        color: $muted;
    }

    &-label {
        color: $ta-black-2;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        -webkit-user-select: none;
        user-select: none;
    }

    &-hover {
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: $ta-light-grey-5;

            .input-custom-group .date_time_holder {
                background-color: $ta-light-grey-5;
            }
        }
    }

    .input-custom-group .date_time_holder {
        transition: background-color 0.3s ease-in-out;
        background-color: $white;
        color: $ta-black-2;
        &:hover {
            background-color: #e2ecf9;
        }

        &:focus,
        &:active {
            background-color: $ta-blue-15;
        }
    }
}

.phone-ext-email-small-modal {
    grid-template-columns: 196px 248px;

    .phone-extension {
        column-gap: 8px;
        grid-template-columns: 164px 1fr;

        .extension-field {
            padding: 6px;
            position: relative;
            width: 26px;
            height: 26px;
        }
    }
}

.custom-bank-row {
    grid-template-columns: 160px 100px 172px;
}

.text-color-red {
    color: $ta-red-11;
}
