@import 'src/theme/variables.scss';

.owner-info-container {
    min-height: 100vh;
    background: $white;

    br {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }
    }

    .title {
        color: $ta-blue-5;
        font-size: 32px;
        height: 39px;
        margin-top: 4px !important;
        margin-bottom: 12px !important;

        &::-moz-selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }

        &::selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }
    }

    .subtitle {
        color: $bw6-2;
        font-size: 14px;
        height: 36px;
        margin-bottom: 12px !important;

        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }
    }

    .owner-info-tabs {
        margin-bottom: 30px;
        width: 616px;
    }

    .form-section {
        .line-container {
            position: relative;

            .review-feedback-container {
                position: absolute;
                top: 0;
                right: -435px;
                width: 429px;
            }
        }

        .group {
            margin-bottom: 32px;
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }
        }

        .business-name-group {
            width: 456px;
        }

        .ein-group {
            width: 148px;
            margin-right: 0;
        }

        .phone-group {
            width: 229px;
        }

        .email-group {
            width: 375px;
            margin-right: 0;
        }

        .address-group {
            width: 480px;
        }

        .address-unit-group {
            width: 124px;
            margin-right: 0;
        }

        .bank-group {
            width: 212px;
            margin-right: 12px;
            margin-bottom: 22px;
        }

        .account-group {
            width: 226px;
            margin-bottom: 22px;
        }

        .routing-group {
            width: 154px;
            margin-right: 0;
            margin-bottom: 22px;
        }

        .divider {
            height: 1px;
            width: 616px;
            background: $bw-9;
            border-radius: 1px;
        }

        .truck-documents {
            gap: 10px;

            .divider-truck {
                width: 303px;
            }

            .truck-licence {
                max-width: 303px;
            }

            .truck-inspection {
                max-width: 303px;
            }
        }

        .add-trailer-container {
            width: 100%;
        }

        .add-truck-container,
        .add-trailer-container {
            width: 100%;
            justify-content: space-between;
        }

        .add-truck-container,
        .add-trailer-container,
        .add-trailer-row {
            margin: 8px 0 12px 4px;

            p {
                font-size: 14px;
                color: $ta-black;

                &::-moz-selection {
                    color: $ta-black;
                    background: rgb(47, 47, 47, 0.2);
                }

                &::selection {
                    color: $ta-black;
                    background: rgb(47, 47, 47, 0.2);
                }
            }

            &.add-trailer-container {
                p {
                    position: relative;
                    top: 1px;
                }
            }
        }

        .type-group {
            width: 220px;
        }

        .year-group {
            width: 84px;
            margin-bottom: 22px;
        }

        .vin-group {
            width: 288px;
            margin-right: 0;
        }

        .make-group {
            width: 156px;
            margin-bottom: 22px;
        }

        .model-group {
            width: 280px;
            margin-bottom: 22px;
        }

        .color-group {
            width: 156px;
            margin-bottom: 22px;
            margin-right: 0;
        }

        .trailer-make-group {
            width: 156px;
        }

        .trailer-model-group {
            width: 280px;
        }

        .trailer-year-group {
            width: 84px;
        }

        .trailer-color-group {
            width: 156px;
        }

        .trailer-length-group {
            width: 90px;
        }

        .trailer-vin-group {
            width: 186px;
        }

        .trailer-type-group {
            width: 220px;
        }
    }

    .add-trailer-row {
        margin-top: 16px !important;

        .delete-btn-container {
            width: 26px;
            height: 26px;
            border-radius: 2px;
            padding: 4px;
            transition: background 0.2s ease-in-out;

            &:hover {
                background: $white;

                .delete-icon {
                    svg {
                        path {
                            fill: $ta-black;
                        }
                    }
                }
            }

            .delete-icon {
                cursor: pointer;

                svg {
                    path {
                        fill: $bw5;
                        transition: fill 0.2s ease-in-out;
                    }
                }
            }
        }

        .add-trailer-btn {
            height: 26px;
            padding: 4px;
            border: none;
            outline: none;
            border-radius: 2px;
            background: $bw2;
            transition: background 0.2s ease-in-out;

            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;

            p {
                position: relative;
                top: 1px;
                line-height: 18px;
                font-size: 14px;
                color: $ta-black;
                padding: 0 4px;

                transition: color 0.2s ease-in-out;
            }

            &:hover {
                background: $ta-black;

                p {
                    color: $white;
                }
            }
        }
        // }
    }
}

