<div
    class="main_inside driver-container"
    [class.filled]="driver"
    [class.addNew]="!driver && driverList.length && !isBoardLocked"
    [class.default]="!driver && !driverList.length && !isBoardLocked"
    [class.isDragging]="isDrag && draggingType === 'driver'"
>
    <ng-container *ngIf="openedDriverDropdown !== rowIndex">
        <div class="padding-inside">
            <ng-container
                *ngIf="!driver && driverList.length && !isBoardLocked"
            >
                <div class="add_new" (click)="showDriverDropdown(rowIndex)">
                    <div class="text">ADD</div>
                    <svg-icon
                        *ngIf="!isDrag"
                        [src]="
                            'assets/svg/truckassist-table/dropdown/content/add.svg'
                        "
                        [svgStyle]="{
                            'width.px': '16',
                            'height.px': '16'
                        }"
                    ></svg-icon>
                </div>
            </ng-container>
            <ng-container *ngIf="driver">
                <div class="info-item">
                    <div class="driver-buttons">
                        <ng-container *ngIf="driverHover.txt !== 'email'">
                            <span
                                (mouseover)="setMouseOver('phone', rowIndex)"
                                (mouseout)="setMouseOut()"
                                (click)="copy(phone, rowIndex, 'phone')"
                                ngbTooltip
                                [mainTooltip]="
                                    copyIndex === rowIndex &&
                                    driverCopy.txt === 'phone'
                                        ? 'Copied'
                                        : 'Copy'
                                "
                                [tooltipBackground]="
                                    copyIndex === rowIndex &&
                                    driverCopy.txt === 'phone'
                                        ? '#3B73ED'
                                        : '#424242'
                                "
                                position="bottom"
                            >
                                <svg-icon
                                    [src]="'assets/svg/common/ic_phone.svg'"
                                    [svgStyle]="{
                                        'width.px': '18',
                                        'height.px': '18'
                                    }"
                                    [fill]="'#ff0000'"
                                ></svg-icon>
                            </span>
                        </ng-container>
                        <span
                            (mouseover)="setMouseOver('email', rowIndex)"
                            (mouseout)="setMouseOut()"
                            (click)="copy(email, rowIndex, 'email')"
                            ngbTooltip
                            [mainTooltip]="
                                copyIndex === rowIndex &&
                                driverCopy.txt === 'email'
                                    ? 'Copied'
                                    : 'Copy'
                            "
                            [tooltipBackground]="
                                copyIndex === rowIndex &&
                                driverCopy.txt === 'email'
                                    ? '#3B73ED'
                                    : '#424242'
                            "
                            position="bottom"
                        >
                            <svg-icon
                                [src]="'assets/svg/common/ic_email.svg'"
                                [svgStyle]="{
                                    'width.px': '18',
                                    'height.px': '18'
                                }"
                                [fill]="'#ff0000'"
                            ></svg-icon>
                        </span>
                    </div>
                    <div class="driver-items-hold d-flex align-items-center">
                        <ng-container *ngIf="driverHover.indx !== rowIndex">
                            <span class="dr-span-left"
                                >{{ driver.firstName }}
                                {{ driver.lastName }}</span
                            >
                        </ng-container>
                        <ng-container
                            *ngIf="
                                driverHover.indx === rowIndex &&
                                driverHover.txt === 'phone'
                            "
                        >
                            <div class="copy_divs">
                                {{ phone }}
                            </div>
                        </ng-container>
                        <ng-container
                            *ngIf="
                                driverHover.indx === rowIndex &&
                                driverHover.txt === 'email'
                            "
                        >
                            <div class="copy_divs">
                                {{ email }}
                            </div>
                        </ng-container>
                        <ng-container
                            *ngIf="
                                driver.owner && driverHover.indx !== rowIndex
                            "
                        >
                            <span
                                class="owner-circle"
                                ngbTooltip
                                mainTooltip="Owner"
                                tooltipBackground="#424242"
                                position="bottom"
                            >
                                <svg-icon
                                    [src]="
                                        'assets/svg/common/ic_driver-owner.svg'
                                    "
                                    [svgStyle]="{
                                        'width.px': '13',
                                        'height.px': '13'
                                    }"
                                    [fill]="'#ff0000'"
                                ></svg-icon>
                            </span>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="!isBoardLocked && !isDrag">
                        <div
                            class="d-flex justify-content-center align-items-center remove-icon-container"
                            [ngClass]="{ disabled: isActiveLoad }"
                            ngbTooltip
                            [mainTooltip]="
                                isActiveLoad ? 'Active Load' : 'Remove'
                            "
                            [tooltipBackground]="
                                isActiveLoad ? '#424242' : '#DF3C3C'
                            "
                            tooltipMarginTop="5px"
                            position="bottom"
                        >
                            <svg-icon
                                class="icon"
                                [src]="dispatchTableSvgRoutes.closeSvgRoute"
                            ></svg-icon>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="openedDriverDropdown === rowIndex">
        <app-ta-input-dropdown
            [formControl]="driverFormControl"
            [template]="'details-template'"
            [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Unit No',
                placeholder: 'Unit No.',
                isDropdown: true,
                dropdownWidthClass: 'w-col-198',
                placeholderInsteadOfLabel: true,
                hideDropdownArrow: true,
                autoFocus: true,
                blackInput: true,
                hideDropdownArrow: true,
                hideRequiredCheck: true,
                hideDangerMark: true,
                hideErrorMessage: true,
                mergeDropdownBodyWithInput: true
            }"
            [options]="driverList"
            [canAddNew]="true"
            [canOpenModal]="true"
            [activeItem]="null"
            (selectedItem)="addDriver($event)"
        ></app-ta-input-dropdown>
    </ng-container>
</div>
