<div class="d-flex flex-column justify-content-center">
  <!-- CREATED WORK EXPERIENCE DATA -->

  <ng-container *ngIf="workExperienceArray?.length">
      <div
          class="d-flex flex-column justify-content-center work-experiences-container"
      >
          <div class="align-items-center title-container">
              <div class="align-items-center employer-box">
                  <p class="m-0 ta-font-bold">EMPLOYER</p>
              </div>

              <div class="align-items-center job-description-box">
                  <p class="m-0 ta-font-bold">JOB DESCRIPTION</p>
              </div>

              <div class="align-items-center equipment-box">
                  <p class="m-0 ta-font-bold">EQUIPMENT</p>
              </div>
          </div>

          <ng-container
              *ngFor="
                  let workExperience of workExperienceArray;
                  let i = index;
              "
          >
              <ng-container
                  *ngIf="!workExperience.isEditingWorkExperience"
              >
                  <div
                      class="d-flex align-items-center work-experience-info-container line-container"
                  >
                      <div
                          class="align-items-center info-btn-container"
                      >
                          <div
                              class="d-flex flex-column justify-content-center"
                          >
                              

                              <div
                                  class="d-flex align-items-center employer-box"
                              >
                                  <p
                                      class="m-0 ta-font-bold d-inline-block text-truncate"
                                      style="max-width: 250px"
                                      ngbTooltip
                                      [mainTooltip]="
                                          workExperience.employer
                                      "
                                      tooltipBackground="#2F2F2F"
                                      position="bottom-left"
                                  >
                                      {{ workExperience.employer }}
                                  </p>
                              </div>

                              <div
                                  class="d-flex align-items-center date-box"
                              >
                                  <p class="m-0 ta-font-medium">
                                      {{ workExperience.fromDate }}
                                      {{ workExperience.toDate ? '- ' + workExperience.toDate : '' }}
                                  </p>
                              </div>
                          </div>

                          <div class="d-flex flex-column h-100">
                              <div
                                  class="d-flex align-items-center job-description-box"
                              >
                                  <p class="m-0 ta-font-semi-bold">
                                      {{
                                          workExperience.jobDescription
                                      }}
                                  </p>
                              </div>

                              <ng-container
                                  *ngIf="
                                      workExperience?.isDrivingPosition else notDrivingPostion
                                  "
                              >
                                  <div
                                      class="d-flex align-items-center driving-position-box"
                                  >
                                      <p class="m-0 ta-font-medium">
                                          Driving Position
                                      </p>
                                  </div>
                              </ng-container>

                              <ng-template #notDrivingPostion>
                                  <div
                                      class="d-flex align-items-center not-driving-position-box"
                                  >
                                      <p class="m-0 ta-font-medium">
                                          Not Driving Position
                                      </p>
                                  </div>
                              </ng-template>
                          </div>

                          <ng-container
                              *ngIf="
                                  workExperience?.classesOfEquipment
                                      ?.length
                              "
                          >
                              <div class="d-flex flex-column h-100">
                                  <ng-container
                                      *ngIf="
                                          workExperience
                                              ?.classesOfEquipment
                                              ?.length >= 1
                                      "
                                  >
                                      <div
                                          class="d-flex align-items-center icon-box"
                                      >
                                          <svg-icon
                                              class="truck-icon"
                                              [src]="
                                                  applicantSvgRoutes.trucksFolderIcon +
                                                  workExperience.classesOfEquipment[0].vehicleTypeLogoName
                                              "
                                              [svgStyle]="{
                                                  'width.px': '33',
                                                  'height.px': '12'
                                              }"
                                          ></svg-icon>
                                          
                                          <ng-container *ngIf="workExperience?.classesOfEquipment[0].trailerTypeLogoName">
                                              <svg-icon
                                                  class="trailer-icon"
                                                  [src]="
                                                      applicantSvgRoutes.trailersFolderIcon +
                                                      workExperience.classesOfEquipment[0].trailerTypeLogoName
                                                  "
                                                  [svgStyle]="{
                                                      'width.px': '33',
                                                      'height.px': '12'
                                                  }"
                                              ></svg-icon>
                                          </ng-container>
                                      </div>
                                  </ng-container>

                                  <ng-container
                                      *ngIf="
                                          workExperience
                                              ?.classesOfEquipment
                                              ?.length >= 2
                                      "
                                  >
                                      <div
                                          class="d-flex align-items-center icon-box"
                                      >
                                          <svg-icon
                                              class="truck-icon"
                                              [src]="
                                                  applicantSvgRoutes.trucksFolderIcon +
                                                  workExperience.classesOfEquipment[1].vehicleTypeLogoName
                                              "
                                              [svgStyle]="{
                                                  'width.px': '33',
                                                  'height.px': '12'
                                              }"
                                          ></svg-icon>

                                          <ng-container *ngIf="workExperience?.classesOfEquipment[1].trailerTypeLogoName">
                                              <svg-icon
                                                  class="trailer-icon"
                                                  [src]="
                                                      applicantSvgRoutes.trailersFolderIcon +
                                                      workExperience.classesOfEquipment[1].trailerTypeLogoName
                                                  "
                                                  [svgStyle]="{
                                                      'width.px': '33',
                                                      'height.px': '12'
                                                  }"
                                              ></svg-icon>
                                          </ng-container>

                                          <ng-container
                                              *ngIf="
                                                  workExperience
                                                      ?.classesOfEquipment
                                                      ?.length >= 3
                                              "
                                          >   
                                              <div class="number-box">
                                                  <p
                                                      class="m-0 ta-font-medium equipment-number"
                                                  >
                                                      +{{
                                                          workExperience
                                                              ?.classesOfEquipment
                                                              ?.length - 2
                                                      }}
                                                  </p>
                                              </div>
                                          </ng-container>
                                      </div>
                                  </ng-container>
                              </div>
                          </ng-container>
                      </div>
                  </div>
              </ng-container>
          </ng-container>
      </div>
  </ng-container>
</div>