@import 'src/theme/variables.scss';

.next-back-btn-container {
  margin-bottom: 82px;

  .next-btn,
  .back-btn,
  .confirm-all {
    font-size: 14px;
    border-radius: 3px;
  }

  .next-btn,
  .back-btn {
    width: 120px;
    height: 34px;
  }

  .next-btn {
    background-color: $bw5;
    color: $white;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  .back-btn {
    background: $bw2;
    color: $bw5;
    opacity: 0.7;
    margin-right: 12px;

    &:hover {
      opacity: 1;
    }
  }

  .confirm-all {
    width: 146px;
    height: 34px;
    background: $confirm;
    color: $white;
    opacity: 0.7;
    font-size: 14px;

    &:hover {
      opacity: 1;
    }

    .confirm-all-svg {
      margin-right: 6.5px;

      svg {
        path {
          fill: $white;
        }
      }
    }
  }
}

.other-btn-container {
  margin-top: 32px;
  margin-bottom: 32px;
  height: 32px;

  .other-btn {
    height: 34px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: $bw6-2;
    color: $white;

    &:hover {
      background-color: $bw5;
    }
  }
}
