@import '/src/theme/variables';

.dispatch-table {
    position: relative;

    &.unlocked {
        table {
            tr {
                td {
                    .main_inside {
                        .cdk-drag {
                            cursor: grab;
                            &:active {
                                cursor: grabbing;
                            }
                        }
                        &.default {
                            pointer-events: none;
                        }
                        &.dragging {
                            box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
                        }
                    }

                    &:not(.truck-field):not(.trailer-field):not(.driver-field) {
                        pointer-events: none;

                        .padding-inside {
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: $ta-white-3;
                                z-index: 999;
                            }
                        }
                    }

                    .info-item {
                        &:hover {
                            .remove-item {
                                display: flex;
                            }
                        }
                    }

                    .padding-inside {
                        .driver-buttons {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }

    &.unlocked-skip-location {
        table {
            tr {
                td {
                    &:not(.truck-field):not(.trailer-field):not(
                            .driver-field
                        ):not(.location-field) {
                        pointer-events: none;

                        .padding-inside {
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(255, 255, 255, 0.7);
                                z-index: 999;
                            }
                        }
                    }
                }
            }
        }
    }

    .change-in-progress-background-cover {
        position: absolute;
        top: 35px;
        height: calc(100% - 35px);
        width: 100%;
        z-index: 105;
        background: $white-7;
        border-radius: 3px;
    }

    table {
        width: 100%;
        th.icon {
            padding-left: 0;
        }
        th.pick-delivery {
            display: flex;
            div {
                flex: 1;
                display: flex;
                align-items: center;
            }
        }

        th {
            height: 31px;
            padding-left: 10px;

            color: $ta-black-2;
            font-size: 11px;
            font-weight: 700;
            user-select: none;

            &::selection,
            ::selection {
                background-color: $ta-black-2;
                color: $ta-black-2;
            }
        }

        td {
            padding: 1px;
            .main_inside {
                height: 34px;
                background-color: #f7f7f7;
                border-radius: 3px;

                &.cdk-drop-list {
                    overflow: hidden;
                }

                .padding-inside {
                    position: relative;

                    height: 100%;

                    .hos-column {
                        position: relative;
                        height: 26px;
                        width: 26px;

                        .hos-number {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 8px;
                            font-weight: 700;
                            color: #919191;
                            padding-right: 1px;
                            user-select: none;
                        }

                        .hos-img {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            cursor: pointer;

                            svg-icon {
                                display: flex;
                                margin-left: 1px;
                                svg {
                                    width: 22px;
                                    height: 22px;

                                    path {
                                        fill: #919191;
                                        &:first-child {
                                            fill: transparent !important;
                                        }
                                    }
                                }
                            }
                        }

                        &.active_hos {
                            .hos-img {
                                border-radius: 100%;
                                background-color: #26a69033;

                                svg-icon {
                                    svg {
                                        path:not(path:first-child) {
                                            fill: #26a690;
                                        }
                                    }
                                }
                            }

                            .hos-number {
                                color: #26a690;
                            }
                        }
                    }

                    &:not(.status-inside) {
                        padding: 4px;
                    }

                    .add_new {
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 6px;
                        padding-right: 6px;

                        &.parking-field {
                            padding-left: 0px;
                        }

                        .text {
                            color: #ffffff;
                            font-size: 14px;
                            user-select: none;
                        }

                        svg-icon {
                            display: flex;

                            svg {
                                path {
                                    fill: #3074d3;
                                }
                            }
                        }
                    }

                    .info-item {
                        position: relative;
                        display: flex;
                        padding: 0 6px;
                        height: 100%;
                        align-items: center;
                        border-radius: 2px;

                        svg-icon {
                            display: flex;
                        }

                        &.pickup-dev-popover-hold {
                            padding: 0 2px;
                        }

                        .truck-trailer {
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        span {
                            font-size: 14px;
                            font-weight: 700;
                            color: $ta-black-2;
                            white-space: nowrap;

                            &.dr-span-left {
                                max-width: calc(100% - 40px);
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }

                            &:not(.dr-span-left) {
                                padding-left: 6px;
                            }

                            .copy_divs {
                                font-size: 14px;
                                color: $ta-black-2;
                                font-weight: 400;
                            }

                            &::selection {
                                background-color: $ta-black-2;
                                color: $ta-black-2;
                            }

                            &.dr-span {
                                svg-icon {
                                    svg {
                                        g {
                                            stroke: #3074d3;
                                        }
                                    }
                                }
                            }
                        }

                        .driver-buttons {
                            display: none;
                            position: absolute;
                            right: 0;
                            top: 0;
                            z-index: 11;

                            span {
                                width: 26px;
                                height: 26px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-left: inherit;

                                &:hover {
                                    background-color: #3074d333;
                                    border-radius: 2px;
                                    cursor: pointer;
                                    svg-icon {
                                        path {
                                            fill: #3074d3;
                                        }
                                    }
                                }

                                &.only_active_icon {
                                    svg-icon {
                                        svg {
                                            path {
                                                fill: #ffffff33;
                                            }
                                        }
                                    }
                                }
                                &.active-icon {
                                    svg-icon {
                                        svg {
                                            path {
                                                fill: #ffffff;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .copy_divs {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: calc(100% - 22px);
                        }

                        .location-field {
                            display: flex;
                            width: 100%;
                        }
                        .no-delpickup {
                            padding-left: 4px;

                            font-size: 11px;
                            color: #919191;
                            font-weight: 500;
                            text-transform: uppercase;
                            user-select: none;
                        }

                        .load-items-hold {
                            display: flex;
                            width: 100%;

                            .pick-load-box {
                                flex: 1;
                                display: flex;
                                align-items: center;

                                .pick-load-info {
                                    margin-left: 6px;
                                    line-height: 1;
                                    .pick-load-info-address {
                                        font-size: 11px;
                                        font-weight: 700;
                                        color: $ta-black-2;

                                        &::selection {
                                            background-color: $ta-black-2;
                                            color: $ta-black-2;
                                        }
                                    }
                                    .pick-load-info-time {
                                        font-size: 11px;
                                        color: #919191;

                                        &::selection {
                                            background-color: #91919133;
                                            color: #919191;
                                        }
                                    }
                                }

                                svg-icon {
                                    user-select: none;
                                }

                                &.delivery-box {
                                    svg-icon {
                                        svg {
                                            rect {
                                                fill: #ef5350;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .driver-copy {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            padding-left: 6px;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $ta-blue-5;
                            color: $ta-black;
                            font-weight: 700;
                            font-size: 11px;
                            border-radius: 2px;
                            z-index: 10;
                        }

                        app-ta-gps-progressbar {
                            width: 100%;
                        }

                        .parking-field {
                            svg-icon {
                                margin-right: 6px;
                                svg {
                                    path {
                                        fill: #42a4f4;
                                    }
                                }
                            }
                            .parking-number {
                                font-size: 11px;
                                color: #919191;

                                &::selection {
                                    background-color: #91919133;
                                    color: #919191;
                                }
                            }
                        }

                        &.c-pointer {
                            cursor: pointer;
                        }

                        &.driver-on-vacation {
                            svg-icon {
                                svg {
                                    path {
                                        fill: #3074d3;
                                    }
                                }
                            }

                            &:hover {
                                background-color: #ef535033 !important;
                                svg-icon {
                                    svg {
                                        path {
                                            fill: #ef5350;
                                        }
                                    }
                                }
                            }
                        }

                        .remove-item {
                            position: absolute;
                            height: 26px;
                            min-width: 26px;
                            top: 50%;
                            right: 0px;
                            max-width: 85%;
                            transform: translateY(-50%);
                            display: none;
                            justify-content: flex-end;
                            align-items: center;
                            transition: all 0.3s;
                            z-index: 999;

                            svg-icon {
                                left: auto;
                                right: 4px;
                                svg {
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                            &:hover {
                                cursor: pointer;
                                width: 86px;
                                background-color: #ef5350;
                                border-radius: 2px;
                                transition: all 0.3s;

                                &::after {
                                    content: 'REMOVE';
                                    position: absolute;
                                    font-size: 11px;
                                    font-weight: 700;
                                    left: 6px;
                                    color: #fff;
                                }

                                svg-icon {
                                    svg {
                                        path {
                                            fill: #ffffff !important;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .driver-remove-item {
                        svg-icon {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 6px;
                            z-index: 300;
                            display: flex;
                        }
                    }

                    .dispatcher-table-cell-container {
                        display: flex;
                        height: 26px;
                        align-items: center;
                        line-height: 1;

                        &.note-container {
                            display: block;
                            height: 100%;

                            border-radius: 3px;
                            padding-left: 6px;
                        }

                        .dispatcher-table-cell-holder {
                            display: flex;
                            height: 28px;
                            width: 100%;
                            align-items: center;
                            padding-left: 6px;
                        }
                    }
                }

                .dispatcher-table-cell-container {
                    display: flex;
                    height: 26px;
                    align-items: center;
                    line-height: 1;

                    &.note-container {
                        display: block;
                        height: 100%;

                        border-radius: 3px;
                        padding-left: 6px;
                    }

                    .dispatcher-table-cell-holder {
                        display: flex;
                        height: 28px;
                        width: 100%;
                        align-items: center;
                        padding-left: 6px;
                    }
                }

                &.addNew {
                    background-color: #f7f7f7;

                    .text {
                        color: $ta-black-2 !important;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: #3074d3;

                        .text {
                            color: #fff !important;
                        }

                        .add_new {
                            svg-icon {
                                svg {
                                    path {
                                        fill: #fff !important;
                                    }
                                }
                            }
                        }
                    }
                }

                &.filled {
                    background-color: #fff;

                    .padding-inside {
                        &:hover {
                            .info-item {
                                background-color: #eeeeee;

                                .driver-buttons {
                                    display: flex;
                                }
                            }
                        }
                    }
                }

                .drag-hold-between {
                    height: 100%;
                }

                .custom-dispatch-placeholder {
                    position: relative;
                    height: 32px;
                    width: 100%;
                    border-radius: 3px;
                    opacity: 1 !important;
                    cursor: grabbing !important;

                    z-index: 10;
                }
            }
        }

        th,
        td {
            &.empty,
            &.box-item {
                min-width: 34px;
                max-width: 34px;
                width: 34px;

                &.box-item {
                    min-width: 36px;
                    max-width: 36px;
                    width: 36px;
                }
            }

            &.driver-field {
                min-width: 200px;
                max-width: 200px;
                width: 200px;
            }

            &.location-field {
                min-width: 160px;
                max-width: 160px;
                width: 160px;
            }

            &.status-field {
                min-width: 140px;
                max-width: 140px;
                width: 140px;
            }

            &.pickup-delivery-field {
                min-width: 270px;
                max-width: 270px;
                width: 270px;
            }

            &.progress-field {
                min-width: 226px;
                max-width: 226px;
                width: 226px;
            }

            &.parking-field {
                min-width: 100px;
                max-width: 100px;
                width: 100px;

                &-large {
                    min-width: 150px;
                    max-width: 150px;
                    width: 150px;
                }
            }
        }
    }

    .table-info {
        margin-top: 2px;

        .table-inside-info {
            padding: 0 10px;
        }

        .table-info-field {
            span {
                font-size: 11px;
                line-height: 14px;
                text-transform: uppercase;
                color: $bw6-2;

                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(47, 47, 47, 0.2);
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(47, 47, 47, 0.2);
                }
            }

            &.dispatcher-field {
                width: 300px;
                text-align: right;
            }
        }
    }

    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .dispatch-table.cdk-drop-list-dragging
        .reorder-row:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .cdk-drag {
        position: relative;
    }

    .reorder-row.cdk-drag-preview {
        position: relative;
        background-color: $ta-black-2;
        border-radius: 3px;
        z-index: 9999999 !important;
        cursor: grabbing !important;

        .cdk-drag-handle {
            cursor: grabbing !important;
        }

        .main_inside {
            background-color: transparent !important;

            *:not(.switch_statuses) {
                color: #fff !important;
            }
        }

        .padding-inside {
            &:after {
                display: none !important;
            }
        }

        &:after {
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            right: 10px;
            top: 50%;

            transform: translateY(-50%);
            background-image: url('/assets/svg/common/ic_dragging_arrows.svg');
            background-size: 20px 17px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .cdk-drag-placeholder {
        opacity: 0;
    }
}
