@import '/src/theme/variables';

.dispatch-table {
    position: relative;

    .table-container-dispatch.table-container-dispatch {
        width: 100% !important;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        scrollbar-width: thin !important;
        scrollbar-color: $ta-light-grey-6 transparent !important;
        scrollbar-width: 1px !important;
        padding-bottom: 8px;
    }

    /* Unlocked Table */

    &.unlocked {
        table {
            tr {
                /* Resize */

                .resize {
                    position: relative;
                }

                .resize.show-after::after {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: col-resize;
                    pointer-events: auto;
                }
                .resize.show-after::before {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: col-resize;
                }

                .resize::after {
                    display: none;
                    content: '';
                    position: absolute;
                    right: -5px;
                    top: 0;
                    height: 100%;
                    width: 8px;
                    z-index: 2;
                }

                .resize::before {
                    display: none;
                    content: '';
                    position: absolute;
                    right: -2px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 14px;
                    width: 2px;
                    background-color: $bw5;
                    color: $black;
                    font-size: 14px;
                    border-radius: 1px;
                }

                .close-icon-show {
                    width: 100%;
                }

                td {
                    .main_inside {
                        /* Drag & Drop Single*/
                        &.active-load {
                            cursor: auto;
                        }

                        .main_inside {
                            &.drop-disabled {
                                cursor: auto;
                            }
                        }

                        &.dragging:not(:active) {
                            cursor: grabbing;

                            .main_inside {
                                &.drop-disabled {
                                    .padding-inside {
                                        &:after {
                                            content: '';
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            background: $ta-white-3;
                                            z-index: 999;
                                        }
                                    }

                                    &:after {
                                        background-image: none !important;
                                    }

                                    .add-new-container {
                                        background: $ta-light-grey-5 !important;
                                    }
                                }

                                &:after {
                                    content: '';
                                    width: 18px;
                                    height: 18px;
                                    position: absolute;
                                    right: 8px;
                                    top: 50%;
                                    transition: 10s linear;

                                    transform: translateY(-50%);
                                    background-image: url('/assets/svg/common/ic_sort_arrows_grey.svg');
                                    background-size: 18px 18px;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }

                                .add-new-container {
                                    background: $white;

                                    p,
                                    .icon {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &.dragging:not(:active):not(
                                :has(.main_inside.drop-disabled)
                            ) {
                            box-shadow: 0px 0px 4px 0px $box-shadow-30;
                        }

                        &.dragging:active {
                            cursor: grabbing;

                            .main_inside {
                                background: $ta-black-2;

                                .padding-inside {
                                    .info-item,
                                    .selected-container {
                                        background: transparent !important;

                                        p {
                                            color: $white !important;
                                        }

                                        span {
                                            color: $bw5 !important;
                                        }

                                        .driver-items-hold {
                                            span {
                                                color: $white !important;
                                            }

                                            .hos-column {
                                                .hos-number {
                                                    color: $white !important;
                                                }
                                            }
                                        }

                                        .remove-icon-container,
                                        .driver-vacation {
                                            display: none !important;
                                        }
                                    }
                                }

                                .padding-inside:has(.selected-container) {
                                    border-radius: 3px !important;
                                    background: $ta-black-2 !important;
                                }

                                &:after {
                                    content: '';
                                    width: 18px;
                                    height: 18px;
                                    position: absolute;
                                    right: 8px;
                                    top: 50%;

                                    transform: translateY(-50%);
                                    background-image: url('/assets/svg/common/ic_sort_arrows.svg');
                                    background-size: 18px 18px;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                            }
                        }

                        .drag-hold-between {
                            height: 100%;
                        }

                        .custom-dispatch-placeholder {
                            position: relative;
                            top: 1px;
                            height: 32px;
                            width: 100%;
                            border-radius: 3px;
                            opacity: 1 !important;
                            cursor: grabbing !important;

                            box-shadow: 0px 0px 4px 0px $box-shadow-30 inset;

                            z-index: 10;
                        }
                    }

                    &:not(.truck-field):not(.trailer-field):not(.driver-field) {
                        pointer-events: none;

                        .padding-inside {
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: $ta-white-3;
                                z-index: 999;
                            }
                        }
                    }
                }
            }
        }
    }

    &.unlocked-skip-location {
        table {
            tr {
                td {
                    &:not(.truck-field):not(.trailer-field):not(
                            .driver-field
                        ):not(.location-field) {
                        pointer-events: none;

                        .padding-inside {
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: $ta-white-3;
                                z-index: 999;
                            }
                        }
                    }
                }
            }
        }
    }

    &.unlocked-drag-trailer {
        table {
            tr {
                td {
                    &:not(.trailer-field) {
                        pointer-events: none;

                        .padding-inside {
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: $ta-white-3;
                                z-index: 999;
                            }
                        }
                    }
                }
            }
        }
    }

    &.unlocked-drag-driver {
        table {
            tr {
                td {
                    &:not(.driver-field) {
                        pointer-events: none;

                        .padding-inside {
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: $ta-white-3;
                                z-index: 999;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Locked Table */

    table {
        th {
            height: 30px;
            padding-left: 10px;
            font-size: 11px;
            color: $bw6-2;
            position: relative;

            .resize {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 30px;
            }
            .resize.show-after::after {
                display: flex;
                cursor: col-resize;
            }

            &.c-pointer {
                cursor: pointer;
            }

            &::selection,
            ::selection {
                background-color: $ta-black-2;
                color: $ta-black-2;
            }

            &.pickup-delivery {
                .resize {
                    width: 100%;

                    div {
                        flex: 1;
                    }
                }

                .icon {
                    margin-right: 2px;

                    &.delivery {
                        svg {
                            path {
                                fill: $ta-red-10;
                            }
                        }
                    }

                    svg {
                        path {
                            fill: $ta-green;
                        }
                    }
                }
            }

            div {
                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }
            }

            .icon {
                padding-left: 0 !important;
                svg {
                    path {
                        fill: $bw6-2;
                    }
                }

                &.expanded {
                    svg {
                        path {
                            fill: $ta-blue-18;
                        }
                    }
                }
            }

            &.smaller-padding {
                padding-left: 3px;
            }
        }

        td {
            padding: 1px;

            .main_inside {
                height: 34px;
                background-color: $ta-light-grey-5;
                border-radius: 3px;

                &.filled {
                    background: #fff;

                    .padding-inside {
                        &.hovering {
                            .info-item,
                            .selected-container {
                                transition: background 0.2s ease-in;
                                background: $bw2;
                            }
                        }

                        &:hover {
                            .info-item {
                                background: $bw2;

                                .driver-buttons {
                                    display: flex;
                                }
                            }
                        }
                    }
                }

                &.cdk-drop-list {
                    overflow: hidden;
                }

                .padding-inside {
                    position: relative;
                    height: 100%;

                    &:not(.status-inside) {
                        padding: 4px;
                    }

                    .info-item {
                        position: relative;
                        display: flex;
                        padding: 0 6px;
                        height: 100%;
                        align-items: center;
                        border-radius: 2px;
                        transition: background 0.2s ease-in;

                        svg-icon {
                            display: flex;
                        }

                        span {
                            font-size: 14px;
                            font-weight: 700;
                            color: $ta-black-2;
                            white-space: nowrap;

                            &.dr-span-left {
                                max-width: calc(100% - 40px);
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }

                            &:not(.dr-span-left) {
                                padding-left: 6px;
                            }

                            .copy_divs {
                                font-size: 14px;
                                color: $ta-black-2;
                                font-weight: 400;
                            }

                            &::-moz-selection {
                                color: $ta-black-2;
                                background: rgb(47, 47, 47, 0.2);
                            }

                            &::selection {
                                color: $ta-black-2;
                                background: rgb(47, 47, 47, 0.2);
                            }

                            &.dr-span {
                                svg-icon {
                                    svg {
                                        g {
                                            stroke: #3074d3;
                                        }
                                    }
                                }
                            }

                            &.driver-endorsements {
                                font-size: 11px;
                                line-height: 14px;
                                font-weight: 400;
                                color: $bw5;
                            }
                        }

                        .copy_divs {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: calc(100% - 22px);
                        }

                        .location-field {
                            display: flex;
                            width: 100%;
                        }

                        app-ta-gps-progressbar {
                            width: 100%;
                        }

                        .parking-field {
                            svg-icon {
                                margin-right: 6px;
                                svg {
                                    path {
                                        fill: #42a4f4;
                                    }
                                }
                            }

                            .parking-number {
                                font-size: 11px;
                                color: #919191;

                                &::selection {
                                    background-color: #91919133;
                                    color: #919191;
                                }
                            }
                        }

                        &.c-pointer {
                            cursor: pointer;
                        }
                    }
                }

                .dispatcher-table-cell-container {
                    display: flex;
                    height: 26px;
                    align-items: center;
                    line-height: 1;

                    .dispatcher-table-cell-holder {
                        display: flex;
                        height: 28px;
                        width: 100%;
                        align-items: center;
                        padding-left: 6px;
                    }
                }
            }
        }

        th,
        td {
            &.box-item {
                min-width: 36px;
                max-width: 36px;
                width: 36px;
            }

            &.truck-field,
            &.trailer-field {
                min-width: 140px;
                max-width: 320px;
            }

            &.pre-trip {
                min-width: 36px;
                max-width: 36px;
                width: 36px;
            }
            &.driver-field {
                min-width: 240px;
                max-width: 400px;
                width: 300px;
            }

            &.location-field {
                min-width: 140px;
                max-width: 300px;
                width: 160px;
            }

            &.status-field {
                min-width: 120px;
                max-width: 200px;
                width: 140px;
            }

            &.pickup-delivery-field {
                min-width: 302px;
                max-width: 422px;
                width: 342px;
            }

            &.progress-field {
                min-width: 196px;
                max-width: 326px;
                width: 226px;
            }

            &.parking-field {
                min-width: 90px;
                max-width: 100px;
                width: 100px;

                &-large {
                    min-width: 150px;
                    max-width: 200px;
                    width: 150px;
                }
            }

            &.truck-field,
            &.trailer-field {
                min-width: 140px;
            }

            &.note-field {
                width: 34px;
                max-width: 34px;
                min-width: 34px;

                &.expanded {
                    width: 236px;
                    max-width: 326px;
                    min-width: 196px;
                }
            }
        }
    }

    /* Change In Progress */

    .change-in-progress-background-cover {
        position: absolute;
        top: 35px;
        height: calc(100% - 35px);
        width: 100%;
        z-index: 105;
        background: $white-7;
        border-radius: 3px;
    }

    /* Drag & Drop Row */

    .cdk-drag {
        position: relative;
    }

    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .cdk-drag-placeholder {
        opacity: 1;
    }

    .reorder-row {
        &.drag {
            .main_inside {
                cursor: grab;
            }
        }

        &.cdk-drag-preview {
            position: relative;
            border-radius: 3px;
            background: $ta-black-2 !important;
            z-index: 9999999 !important;
            cursor: grabbing !important;

            .cdk-drag-handle {
                pointer-events: all !important;
            }

            .main_inside {
                background: transparent !important;

                .padding-inside {
                    &.hovering {
                        .info-item,
                        .selected-container {
                            background: transparent !important;

                            p {
                                color: $white !important;
                            }

                            span {
                                color: $bw5 !important;
                            }

                            .driver-items-hold {
                                span {
                                    color: $white !important;
                                }

                                .hos-column {
                                    .hos-number {
                                        color: $white !important;
                                    }
                                }
                            }

                            .remove-icon-container,
                            .driver-vacation {
                                display: none !important;
                            }
                        }
                    }

                    .location-field {
                        .location-city {
                            .location-f-city,
                            .location-f-st {
                                color: $white !important;
                            }
                        }
                    }

                    .location,
                    .mileages,
                    .mileage-normal {
                        color: $white !important;
                    }

                    .dispatch-parking {
                        .dispatch-parking-text {
                            color: $white !important;
                        }
                    }

                    .note-container {
                        .all_note_holder {
                            .note_inner_text {
                                color: $white !important;
                            }
                        }
                    }

                    &:after,
                    .dispatch-table-driver {
                        display: none !important;
                    }
                }

                .add-new-container {
                    background: transparent !important;

                    p,
                    .icon {
                        display: none !important;
                    }
                }
            }

            &:after {
                content: '';
                width: 18px;
                height: 18px;
                position: absolute;
                right: 8px;
                top: 50%;

                transform: translateY(-50%);
                background-image: url('/assets/svg/common/ic_sort_arrows.svg');
                background-size: 18px 18px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    /* No Data */

    .no-data-table-row {
        margin-bottom: 2px;

        td {
            padding: 1px;

            div {
                height: 34px;
                background: $ta-light-grey-5;
                border-radius: 3px;
            }

            &:nth-child(1),
            &:nth-child(2) {
                width: 160px;
            }

            &:nth-child(3) {
                width: 240px;
            }

            &:nth-child(4),
            &:nth-child(10),
            &:nth-child(12) {
                min-width: 34px;
                width: 34px;
            }

            &:nth-child(5) {
                width: 160px;
            }

            &:nth-child(6) {
                width: 140px;
            }

            &:nth-child(7) {
                width: 340px;
            }

            &:nth-child(8) {
                width: 226px;
            }

            &:nth-child(9) {
                width: 100px;
            }

            &:nth-child(11) {
                width: 236px;
            }

            &.hidden {
                display: none;
            }
        }

        &.first-row {
            div {
                background: linear-gradient(
                    180deg,
                    $ta-light-grey-5 0%,
                    rgba(247, 247, 247, 0.66) 100%
                );
                opacity: 0.7;
            }
        }

        &.second-row {
            div {
                background: linear-gradient(
                    180deg,
                    rgba(247, 247, 247, 0.66) 0%,
                    rgba(247, 247, 247, 0.33) 100%
                );
                opacity: 0.7;
            }
        }

        &.third-row {
            div {
                background: linear-gradient(
                    180deg,
                    rgba(247, 247, 247, 0.33) 0%,
                    rgba(247, 247, 247, 0) 100%
                );
                opacity: 0.7;
            }
        }

        &.no-pretrip-column {
            td {
                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }

    .no-data-container {
        gap: 32px;

        .no-data-text-container {
            gap: 12px;

            .no-data-text {
                font-size: 26px;
                line-height: 32px;
                color: $bw5;
                color: $bw5;

                &::-moz-selection {
                    color: $bw5;
                    background: rgba(145, 145, 145, 0.2);
                }

                &::selection {
                    color: $bw5;
                    background: rgba(145, 145, 145, 0.2);
                }
            }

            .no-data-description {
                font-size: 11px;
                line-height: 14px;
                color: $bw5;
                color: $bw5;

                &::-moz-selection {
                    color: $bw5;
                    background: rgba(145, 145, 145, 0.2);
                }

                &::selection {
                    color: $bw5;
                    background: rgba(145, 145, 145, 0.2);
                }
            }
        }

        .unlock-table-button {
            width: 150px;
            height: 32px;
            border: none;
            background: $ta-blue-13;
            border-radius: 2px;
            outline: none;
            transition: background 0.3s ease-in-out;
            user-select: none;

            p {
                font-size: 14px;
                line-height: 20px;
                color: $white;
            }

            &:hover {
                background: $ta-blue-15;
            }
        }
    }
}
