.table-container {
    width: calc(100% - 92px);
    position: absolute;
    top: 0;
}
.cards-container {
    margin-top: 11px;
    gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
}
