@import 'src/theme/variables.scss';

.table-container{
    width: calc(100% - 74px);
    position: absolute;
    top: 0;

    .toolbar-absolute {
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .customer-map-container {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        padding-left: 56px;
        z-index: 1;

        .marker-divider {
            height: 2px;
            width: 100%;
            margin-top: 8px;
        
            background: $ta-light-grey-4;
        
            border-radius: 1px;
        }

        agm-map {
            width: 100%;
            height: 100vh;

            .si-shadow-frame {
                box-shadow: none;
            }
            
            .si-float-wrapper {
                z-index: 998;
                
                pointer-events: none;

                &:has(.show-marker-dropdown) {
                    z-index: 999;
                }
            }

            .si-content-wrapper {
                position: relative;
                width: 360px;
                border: none;

                padding: 0px;
                overflow: visible;
                background: none!important;

                .si-content {
                    max-width: none !important;
                    max-height: none !important;
                    overflow: hidden;
                    transition: height 0.2s ease-in-out;
                }
            }
            
            .marker-business-name {
                font-size: 18px;
                font-weight: 700;
                color: $bw6-2;
                text-transform: uppercase;
                line-height: 22px;
            }
            
            .marker-expanded-view {
                transition: height 0.2s ease-in-out;

                &.unopened{
                    height: 0px;
                    transition: height 0.2s ease-in-out;
                  }
            }

            .marker-title {
                font-size: 14px;
                font-weight: 800;
                line-height: 18px;
                color: $bw6-2;
                margin-top: 6px;
            }

            .marker-dual-info-container {
                //display: flex;
                //justify-content: space-between;

                display: inline-block;
                width: 50%;

                padding: 0px 4px 0px 4px;
            }

            .marker-container-expand {
                position: absolute;
                right: 8px;
                bottom: 8px;

                cursor: pointer;
                
                .marker-expand-svg {
                    display: inline-block;
                    transition: all 0.2s ease-in-out;
                    
                    &:hover {
                        svg {
                            path {
                                fill: $bw6-2;
                            }
                        }
                    }

                    &.rotate {
                        transform: rotate(180deg);
    
                        svg {
                            path {
                                fill: $bc1;
                            }
                        }

                        &:hover {
                            svg {
                                path {
                                    fill: #3551B7;
                                }
                            }
                        }
                    }
                }
            }
            
            .marker-expanded-info-container {
                margin-top: 12px;
            }

            .data-count {
                height: 24px;
                min-width: 24px;
                border-radius: 2px;
                background: $ta-light-grey-4;
                padding: 3px 4px;
                margin-right: 4px;
                font-size: 14px;
                font-weight: 800;
                color: $bw6-2;
                line-height: 18px;
            }

            .marker-info-container-all {
                padding-left: 4px;
                
                .show-more {
                    top: 7px;
                    .table-dropdown-container {
                        transform: rotate(90deg);
                    }
                }
            }
            
            .marker-info-container {
                display: flex;
                margin-top: 12px;
            }
            
            .marker-info-svg {
                margin-right: 6px;
            }
        }
    }
}

.marker-container {
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-17px);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marker-tooltip {
    
    width: 90px;

    color: #6C6C6C;
    //color: #F44336 !important;
    //margin-left: 15px;
    text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px -1px 0px #fff, -1px 1px 0px #fff;
    /*text-shadow:
        -1px -1px 0 #fff,
        0   -1px 0 #fff,
        1px -1px 0 #fff,
        1px  0   0 #fff,
        1px  1px 0 #fff,
        0    1px 0 #fff,
        -1px  1px 0 #fff,
        -1px  0   0 #fff;*/
    text-transform: uppercase;
    font-size: 11px !important;
    line-height: 12px;
    font-weight: 600;
    text-align: left;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 1;
    transition: 0.15s;
    pointer-events: none;

    @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &.hide-marker-tooltip {
        opacity: 0;
    }
}

.marker-rating-container {
    display: flex;
    align-items: center;
    height: 14px;
    user-select: none;

    .marker-rating {
        margin-right: 12px;
        cursor: pointer;
    
        .marker-rating-svg {
            margin-right: 4px;

            &:hover {
                svg {
                    path {
                        fill: $ta-light-grey-2;
                    }
                }
            }
        }
    }
}

            
.marker-info-text {
    font-size: 14px;
    line-height: 18px;
    color: $bw6-2;
}

.marker-bold-text {
    font-weight: 700;
}

.marker-like-text {
    font-size: 11px;
    line-height: 14px;
    color: $bw6-2;
}

.uppercase {
    text-transform: uppercase;
}

.title-container {
    margin-top: 2px;

    .show-more {
        position: absolute;
        top: 2px;
        right: 2px;
    
        cursor: pointer;
    }
}

.blue-resize-svg {
    svg {
        path {
            fill: $bc1;
        }
    }
}

.red-text {
    color: #EF5350!important;
}

.marker-distance-left {
    margin-top: 2px;

    .marker-time-left-text {
        font-size: 14px;
        line-height: 18px;
        color: $ta-light-grey-2;
    }
}

.permanently-closed-text {
    display: flex;
    color: $ta-light-grey-2;
}

.permanently-closed-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.mg-bottom-2 {
    margin-bottom: 2px;
}

.mg-bottom-4 {
    margin-bottom: 4px;
}

.mg-bottom-8 {
    margin-bottom: 8px;
}

.mg-top-2 {
    margin-top: 2px;
}

.mg-top-4 {
    margin-top: 4px;
}

.marker-icon {
    // position: absolute;
    // top: -40px;
    // left: 50%;
    // transform: translateX(-50%);
    user-select: none;
    z-index: 10;
    cursor: pointer;
    transition: all 0.15s;
    
    pointer-events: auto;

    &:hover {
        svg {
            #Ellipse_6005 {
                fill: #3551B7;
            }
        }
    }

    &.permanently-closed-icon {
        &:hover {
            svg {
                #Ellipse_6005 {
                    fill: #F44336;
                }
            }
        }
    }
    
    &.selected-marker {
        transform: translate(0, -35%) scale(2);

        svg {
            #Ellipse_6006 {
                //r: 3;
                transform: translate(14px, 14px) scale(0.5);
                transition: all 0.2s;
            }
        }
    }
}

.marker-dropdown {
    opacity: 0;
    transform: scale(0.8) !important;
    pointer-events: none;
    transition: all 0.3s ease-out !important;
}

.show-marker-dropdown {
    opacity: 0.5;
    transform: scale(0.8) !important;
    
    pointer-events: auto;

    &.marker-dropdown-animation {
        opacity: 1;
        transform: scale(1) !important;
    }

    &.fade {
        -webkit-animation-name: fade-in-scale-animation 0.5s;
        animation-name: fade-in-scale-animation 0.5s;
      }
    
      &.show {
        opacity: 1;
        transform: scale(0.6) !important;
        transition: all 0.3s ease-out !important;
      }
    
      &.modal-animation {
        opacity: 1;
        transform: scale(1) !important;
      }
}

@-webkit-keyframes fade-in-scale-animation {
    0% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fade-in-scale-animation {
    0% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(1);
    }
  }