<div class="table-container">
  <div
    class="table-toolbar-container"
    [ngClass]="{
      'toolbar-relative': tableOptions.toolbarActions.viewModeActive == 'Map'
    }"
  >
    <app-truckassist-table-toolbar
      (toolBarAction)="onToolBarAction($event)"
      [options]="tableOptions"
      [tableData]="tableData"
      [selectedTab]="selectedTab"
      [columns]="columns"
      [tableContainerWidth]="tableContainerWidth"
    ></app-truckassist-table-toolbar>
  </div>
  <div
    class="table-list-container"
    *ngIf="tableOptions.toolbarActions.viewModeActive !== 'Map'"
  >
    <app-truckassist-table-head
      [options]="tableOptions"
      [viewData]="viewData"
      [columns]="columns"
      (headActions)="onTableHeadActions($event)"
      [tableContainerWidth]="tableContainerWidth"
    ></app-truckassist-table-head>

    <app-truckassist-table-body
      [viewData]="viewData"
      [columns]="columns"
      [options]="tableOptions"
      [selectedTab]="selectedTab"
      (bodyActions)="onTableBodyActions($event)"
      [tableData]="tableData"
      [tableContainerWidth]="tableContainerWidth"
    ></app-truckassist-table-body>
  </div>

  <div
    class="customer-map-container"
    *ngIf="tableOptions.toolbarActions.viewModeActive == 'Map'"
  >
    <app-map-list
      [type]="'shipper'"
      [sortTypes]="sortTypes"
      [columns]="columns"
      [activeSortType]="activeSortType"
      [mapListContent]="viewData"
    >
      <app-map-list-card
        *ngFor="let latlong of viewData; let i = index"
        [title]="latlong?.businessName"
        [isSelected]="latlong?.isSelected"
        [status]="latlong?.status"
        [item]="latlong"
        [index]="i"
        [address]="latlong.address"
        [rating]="{
          up: latlong?.upRatingCount,
          down: latlong?.downRatingCount
        }"
        [type]="'shipper'"
        [dropdownActions]="tableOptions.actions"
        (bodyActions)="onTableBodyActions($event)"
        (clickedMarker)="selectItem(latlong.id)"
        [ngStyle]="{
          display:
            locationFilterOn && latlong?.isShown == false ? 'none' : 'block'
        }"
      ></app-map-list-card>
    </app-map-list>

    <app-maps
      #mapsComponent
      [_viewData]="viewData"
      [dropdownActions]="tableOptions.actions"
      [mapType]="'shipper'"
      (callDropDownAction)="onTableBodyActions($event)"
    ></app-maps>
  </div>
</div>
