@import 'src/theme/variables.scss';

.welcome-container {
  padding: 0 !important;
  background-color: $white;
  min-height: 100vh;

  .top-header {
    height: 30px;
    background-color: $ta-blue;
    padding: 6px;

    &-title {
      color: $white;
      font-size: 14px;
      height: 18px;

      &::-moz-selection {
        color: $white;
        background: rgb(255, 255, 255, 0.2);
      }

      &::selection {
        color: $white;
        background: rgb(255, 255, 255, 0.2);
      }

      span {
        margin-left: 12px !important;

        &::-moz-selection {
          color: $white;
          background: rgb(255, 255, 255, 0.2);
        }

        &::selection {
          color: $white;
          background: rgb(255, 255, 255, 0.2);
        }
      }
    }
  }

  .mid-header {
    background-color: $ta-light-grey-5;
    height: 95px;

    .company-container {
      .company-name {
        text-transform: uppercase;
        height: 27px;
        margin-right: 13px;

        span {
          font-size: 22px;
          line-height: 22px;
          color: $bw6-2;

          &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }
        }
      }

      .company-usdot,
      .company-phone {
        height: 22px;

        span {
          font-size: 18px;
          line-height: 22px;
          color: $bw6-2;

          &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }
        }

        &.company-usdot {
          margin-right: 22px;
        }

        &.company-phone {
          .phone-icon {
            margin-right: 8px;

            svg {
              path {
                fill: $bw6-2;
              }
            }
          }
        }
      }
    }

    .company-address-container {
      margin-top: 6px;

      .company-street,
      .company-city,
      .company-postalcode,
      .company-country {
        height: 22px;
        margin-right: 6px;

        span {
          font-size: 18px;
          line-height: 22px;
          color: $bw6-2;

          &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }
        }

        &.company-street {
          .location-icon {
            margin-right: 7.9px;

            svg {
              path {
                fill: $bw6-2;
              }
            }
          }
        }
      }
    }
  }

  .welcome-icon {
    margin: 80px auto 40px auto;
  }

  .welcome-title {
    font-size: 32px;
    height: 39px;
    color: $ta-blue;
    margin-bottom: 12px !important;

    &::-moz-selection {
      color: $ta-blue;
      background: rgb(83, 107, 194, 0.2);
    }

    &::selection {
      color: $ta-blue;
      background: rgb(83, 107, 194, 0.2);
    }
  }

  .welcome-text,
  .welcome-company {
    font-size: 14px;
    line-height: 22px;
    height: 18px;
    color: $bw6-2;
    text-align: center;

    &::-moz-selection {
      color: $bw6-2;
      background: rgb(108, 108, 108, 0.2);
    }

    &::selection {
      color: $bw6-2;
      background: rgb(108, 108, 108, 0.2);
    }

    &.welcome-company {
      text-transform: uppercase;
    }
  }

  .welcome-btn {
    margin: 22px auto;
    width: 168px;
    height: 34px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 3px;
    color: $white;
    background: $ta-light-blue;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: $ta-blue;
    }
  }

  .welcome-info {
    height: 18px;
    font-size: 14px;
    color: $bw5;
    text-align: center;

    &::-moz-selection {
      color: $bw5;
      background: rgb(145, 145, 145, 0.2);
    }

    &::selection {
      color: $bw5;
      background: rgb(145, 145, 145, 0.2);
    }
  }

  .logo-container {
    margin: 60px 42px 12px 0;
  }

  .copyright {
    height: 42px;
    border-top: 0.1rem solid $ta-gray-02;

    p {
      color: $ta-blue-2;
      font-weight: 400;
      font-size: 14px;

      &::-moz-selection {
        color: $ta-blue-2;
        background: rgb(53, 81, 183, 0.2);
      }

      &::selection {
        color: $ta-blue-2;
        background: rgb(53, 81, 183, 0.2);
      }
    }
  }
}
