<div class="settings-parking">
  <div class="settings-header">
    <div class="settings-name d-flex align-items-center">
      <app-ta-counter
        [count]="'4'"
        [countColor]="'#919191'"
        [countBackground]="'#F3F3F3'"
        [countHeight]="'24px'"
        [countWidth]="'24px'"
      ></app-ta-counter>
      <p>Parking</p>
    </div>
    <div class="settings-header-button">
      <div class="border-left"></div>
      <svg-icon
        src="assets/svg/common/ic_plus.svg"
        class="settings-plus-button"
        (click)="onAction({ type: true, modalName: 'parking', action: 'add' })"
      ></svg-icon>
    </div>
  </div>
  <span class="settings-body">
    <app-ta-re-card
      *ngFor="let item of parkingData; trackBy: identity"
      [settingsIcon]="item.companyOwned"
      [cardNameCommon]="item.name"
      [hasFooter]="false"
      [haveHeaderText]="true"

    >
      <div class="settings-body-items">
        <div *ngIf="item.phone" class="single-item">
          <svg-icon src="assets/svg/common/ic_phone.svg"></svg-icon>
          <span>{{ item.phone }}</span>
        </div>
        <div *ngIf="item.email" class="single-item">
          <svg-icon src="assets/svg/common/ic_email.svg"></svg-icon>
          <span>{{ item.email }}</span>
        </div>
        <div *ngIf="item.address" class="single-item">
          <svg-icon
            src="assets/svg/truckassist-table/location-icon.svg"
          ></svg-icon>
          <span>{{ item.address }}</span>
        </div>
      </div>
      <app-ta-custom-card
        [hasCounter]="calculateParkingSlots(item)"
        [cardName]="'Parking Slot'"
        [isCardOpen]="true"
        [bodyTemplate]="'card'"
        [animationsDisabled]="false"
      >
        <div class="parking-template-data" [ngClass]="{'no-divider':!item.rent}">
          <div class="parking-template-item">
            <p class="parking-template-number">{{ item.parking_slot }}</p>
            <p class="parking-template-text">Parking Slot</p>
          </div>
          <div class="parking-template-item">
            <p class="parking-template-number">{{ item.parking_slot_full }}</p>
            <p class="parking-template-text">Full Parking Slot</p>
          </div>
          <div class="parking-template-item">
            <svg-icon
              class="parking-template-svg"
              [ngClass]="{ disabled: !item.security_camera }"
              src="assets/svg/common/ic_security-camera.svg"
            ></svg-icon>
            <p
              class="parking-template-text"
              [ngClass]="{ 'cross-out': !item.security_camera }"
            >
              Security Camera
            </p>
          </div>
          <div class="parking-template-item">
            <svg-icon
              class="parking-template-svg"
              [ngClass]="{ disabled: !item.gate }"
              src="assets/svg/common/ic_security-gate.svg"
            ></svg-icon>
            <p
              class="parking-template-text"
              [ngClass]="{ 'cross-out': !item.gate }"
            >
              Gate
            </p>
          </div>
        </div>
      </app-ta-custom-card>
      <div *ngIf="item.rent" class="divider"></div>
      <div *ngIf="item.rent" class="settings-progress-container">
        <app-truckassist-progress-expiration
          [expireDate]="'03/25/2023'"
          [startDate]="'03/12/2023'"
          [expiresSettings]="'settings-parking'"
          [customText]="generateTextForProgressBar(item)"
        ></app-truckassist-progress-expiration>
      </div>
    </app-ta-re-card>
  </span>
</div>
