.search-container {
  width: fit-content;
  height: 32px;
  border-radius: 3px;
  background: #ffffff;
  margin-right: 6px;
  display: flex;
  transition: background 0.25s;

  .icon-container {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      svg-icon {
        svg {
          path {
            fill: #6c6c6c;
            transition: 0.25s;
          }
        }
      }
    }

    svg-icon {
      display: flex;
      svg {
        rect,
        path {
          stroke-width: none !important;
          stroke: none !important;
        }
      }
    }
  }

  .search-input {
    height: 32px;
    width: 0;
    transition: 0.25s;
    input {
      width: 100%;
      height: 100%;
      border: none;
      background: transparent;
      padding: 0;
      outline: none;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }

    /* Chrome, Firefox, Opera, Safari 10.1+ */
    input::placeholder {
      color: #aaaaaa;
    }
  }
}

/* NG Class */
.search-input-active {
  background: #6c6c6c;
  transition: 0.25s;

  .icon-container {
    &:hover {
      svg-icon {
        svg {
          path {
            fill: #eeeeee;
            transition: 0.25s;
          }
        }
      }
    }

    svg-icon {
      svg {
        path {
          fill: #b7b7b7;
        }
      }
    }
  }

  .search-input {
    width: 125px !important;
    transition: 0.25s;
  }
}
