.search-container{
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}