@import '../settings.global.scss';
app-settings-company {
   .settings-company {
      position: relative;
      display: grid;
      grid-template-columns: 588px 390px 400px 414px;
      column-gap: 12px;
      font-size: $settings-fontsize;

      .settings-company-col-1 {
         grid-column: 1 / 2;
      }

      .settings-company-col-2 {
         grid-column: 2 / 3;
      }

      .settings-company-col-3 {
         grid-column: 3 / 4;
      }

      .settings-company-col-4 {
         grid-column: 4 / -1;
      }
   }
}
