<div
    class="d-flex flex-column justify-content-center comments-search-container"
>
    <div class="search-container">
        <ng-container *ngIf="isDisplaySearch">
            <app-ta-search-v2
                [isDetailsSearchLayout]="true"
                [placeHolderText]="'Comment'"
                (searchValueEmitter)="handleSearchValue($event)"
            ></app-ta-search-v2>
        </ng-container>
    </div>

    <div class="d-flex flex-column justify-content-center comments-container">
        <ng-container *ngIf="!hideHeader">
            <div
                class="d-flex align-items-center justify-content-between comments-container-header"
            >
                <p class="m-0 ta-font-bold">SORT BY</p>

                <div class="d-flex align-items-center">
                    <span class="ta-font-medium"> Date </span>

                    <svg-icon
                        class="icon"
                        [src]="commentsSearchSvgRoutes.arrowSortRoute"
                        (click)="handleSortClick()"
                    ></svg-icon>
                </div>
            </div>
        </ng-container>

        <ng-container *ngFor="let comment of commentsData; let i = index">
            <app-ta-comment
                [isDetailsCommentLayout]="true"
                [commentData]="comment"
                [commentIndex]="i"
                [isMe]="comment.isMe"
                [commentHighlight]="lettersToHightlight"
                (btnActionEmitter)="handleCommentActionEmit($event)"
            ></app-ta-comment>
        </ng-container>
    </div>
</div>
