@import 'src/theme/variables.scss';

.dashboard-performance {
    padding: 4px 12px;
    background: $white;
    border-radius: 3px;
    margin-bottom: 12px;

    p {
        &::-moz-selection {
            color: $ta-black;
            background: rgb(66, 66, 66, 0.2);
        }

        &::selection {
            color: $ta-black;
            background: rgb(66, 66, 66, 0.2);
        }
    }

    /* Header */
    &-header {
        margin-bottom: 4px;

        &-title {
            p {
                color: $ta-black;
                font-size: 26px;
                line-height: 32px;
            }
        }

        &-border {
            width: 2px;
            height: 18px;
            border-radius: 1px;
            background-color: $ta-light-grey-6;
        }

        &-dropdown {
            margin-left: 4px;

            &.dropdown-right-w-1 {
                width: 82px;
            }

            &.dropdown-right-w-2 {
                width: 89px;
            }

            &.dropdown-right-w-3 {
                width: 111px;
            }

            &.dropdown-right-w-4 {
                width: 70px;
            }

            &.dropdown-right-w-5 {
                width: 87px;
            }

            &.dropdown-right-w-6 {
                width: 107px;
            }

            &.dropdown-right-w-7 {
                width: 135px;
            }

            &.dropdown-right-w-8 {
                width: 94px;
            }

            &.dropdown-right-w-9 {
                width: 101px;
            }

            &.dropdown-right-w-10 {
                width: 76px;
            }
        }
    }

    /* Body */
    &-body {
        /* Boxes */
        &-boxes-container {
            margin-bottom: 12px;

            .boxes-double-box {
                padding: 12px;
                margin-right: 4px;
                border-radius: 3px;
                background: $ta-white-5;
                cursor: pointer;
                transition: background 0.3s ease-in;

                &:hover {
                    background: $bw2;
                }

                &:hover
                    .boxes-double-box-body
                    .boxes-double-box-body-stats
                    .trend-icon-box {
                    background: $white;
                }

                &.selected:hover
                    .boxes-double-box-body
                    .boxes-double-box-body-stats
                    .trend-icon-box {
                    background: $ta-white-3;
                }

                &.selected {
                    .circle-icon {
                        svg {
                            rect {
                                fill: $ta-white-3;
                            }
                        }
                    }

                    p {
                        color: $white;
                    }

                    .status-bar {
                        background: $ta-white-3;

                        &-inner {
                            background: $white;
                        }
                    }

                    .boxes-double-box-body {
                        &-stats {
                            .trend-icon-box {
                                background: $ta-white-3;
                            }
                        }
                    }

                    .boxes-double-box-body-stats {
                        p:nth-child(3) {
                            color: $ta-white-3;
                        }
                    }
                }

                &-header {
                    margin-bottom: 18px;

                    &-income {
                        margin-bottom: 10px !important;

                        &-up {
                            margin-bottom: 6px;

                            .circle-icon {
                                margin-right: 8px;
                                line-height: 0;

                                svg {
                                    rect {
                                        fill: $ta-light-grey-6;
                                    }
                                }
                            }

                            p {
                                font-size: 14px;
                                line-height: 18px;
                                color: $ta-black;
                            }
                        }

                        &-down {
                            p {
                                font-size: 22px;
                                line-height: 29px;
                                color: $ta-black;
                            }
                        }
                    }

                    /* Status Bar */
                    .status-bar {
                        width: 176px;
                        height: 8px;
                        border-radius: 2px;
                        background: $bw-9;

                        &-inner {
                            background: $ta-light-grey-2;
                            height: 8px;
                            width: 80%;
                        }
                    }
                }

                &-body {
                    &-stats {
                        &:first-child {
                            margin-bottom: 12px;
                        }

                        p {
                            color: $ta-black;

                            &:nth-child(1) {
                                font-size: 18px;
                                line-height: 22px;
                            }

                            &:nth-child(3) {
                                color: $ta-light-grey-2;
                                font-size: 11px;
                                line-height: 14px;
                            }
                        }

                        div {
                            p {
                                font-size: 14px;
                                line-height: 18px;
                            }

                            .trend-icon-box {
                                margin-left: 6px;
                                background: transparent;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }

            .boxes-single-box-container {
                width: 100%;
                display: grid;
                grid-template-rows: repeat(2, 116px);
                grid-template-columns: repeat(9, 1fr);
                gap: 4px;

                .box {
                    padding: 12px;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: background 0.3s ease-in;

                    &:hover {
                        background: $bw2;
                    }

                    &:hover .box-last-month-average .trend-icon-box {
                        background: $white;
                    }

                    &.selected {
                        .circle-icon {
                            svg {
                                rect {
                                    fill: $ta-white-3;
                                }
                            }
                        }

                        p {
                            color: $white;
                        }

                        .box-last-month-average {
                            .trend-icon-box {
                                background: $ta-white-3;
                            }
                        }

                        .box-bottom-title {
                            p {
                                color: $ta-white-3;
                            }
                        }
                    }

                    &-header {
                        margin-bottom: 6px;

                        .circle-icon {
                            margin-right: 8px;
                            line-height: 0;

                            svg {
                                rect {
                                    fill: $ta-light-grey-6;
                                }
                            }
                        }

                        p {
                            font-size: 14px;
                            line-height: 18px;
                            color: $ta-black;
                        }
                    }

                    &-value {
                        margin-bottom: 6px;

                        p {
                            font-size: 22px;
                            line-height: 28px;
                            color: $ta-black;
                        }
                    }

                    &-last-month-average {
                        p {
                            font-size: 14px;
                            line-height: 18px;
                            color: $ta-black;
                        }

                        .trend-icon-box {
                            margin-left: 6px;
                            background: transparent;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                        }
                    }

                    &-bottom-title {
                        p {
                            font-size: 11px;
                            line-height: 14px;
                            color: $ta-light-grey-2;
                        }
                    }
                }
            }
        }

        /* Line Chart */
        &-line-chart-container {
            border-bottom: 1px solid $bw-9;
            margin-bottom: 12px;

            .line-chart-header {
                margin-bottom: 12px;

                p {
                    font-size: 18px;
                    line-height: 22px;
                    color: $ta-light-grey-2;
                }

                &-right {
                    div:first-child {
                        margin-right: 22px;
                    }

                    p {
                        font-size: 14px;
                    }

                    .circle-icon {
                        margin-right: 8px;
                        line-height: 0;

                        &-price {
                            svg {
                                rect {
                                    fill: $ta-light-grey-2;
                                }
                            }
                        }

                        &-rate {
                            svg {
                                rect {
                                    fill: $bw-9;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 

.dashboard-performance-holder {
  
    .dashboard-performance-body {
        width: 100%;
        // display: flex;
        // justify-content: flex-start;
        // align-items: flex-start;
        // flex-wrap: wrap;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 0px 8px;

        .dashboard-performance-body-left-holder {
            position: relative;
            // width: 177px;
            grid-row-start: 1;
            grid-row-end: 4;
            border-radius: 3px;
            background-color: #fff;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 12px;
            box-sizing: border-box;
            margin-bottom: 8px;
            // margin-right: 8px;
            user-select: none;

            .dashboard-performance-left-close {
                position: absolute;
                width: 18px;
                height: 18px;
                display: none;
                justify-content: center;
                align-items: center;
                top: 12px;
                right: 12px;

                svg-icon {
                    svg {
                        display: flex;
                        width: 12.38px;
                        height: 12.38px;

                        path {
                            fill: #fff;
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .dashboard-performance-body-title-holder {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .dashboard-performance-body-title-circle {
                    width: 14px;
                    height: 14px;
                    border-radius: 100%;
                    background-color: #dadada;
                    color: #6c6c6c;
                }

                .dashboard-performance-body-title {
                    font-size: 14px;
                    font-weight: 700;
                    color: #6c6c6c;
                    padding-left: 6px;
                    box-sizing: border-box;
                }
            }

            .dashboard-performance-body-price-holder {
                font-size: 26px;
                font-weight: 600;
                color: #6c6c6c;
                padding: 8px 0px;
                box-sizing: border-box;
            }

            .dashboard-performance-body-range-holder {
                position: relative;
                width: 100%;
                height: 8px;
                border-radius: 2px;
                background-color: #dadada;
                margin-bottom: 2px;

                .dashboard-performance-body-range {
                    position: absolute;
                    width: 70%;
                    height: 8px;
                    background-color: #aaaaaa;
                    border-radius: 2px 0px 0px 2px;
                    top: 0px;
                    left: 0px;
                }
            }

            .dashboard-performance-body-items-holder {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding-top: 16px;
                box-sizing: border-box;

                .dashboard-performance-body-items-price {
                    font-size: 18px;
                    font-weight: 700;
                    color: #919191;
                }

                .dashboard-performance-body-trend-holder {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 2px 0px;
                    box-sizing: border-box;

                    .dashboard-performance-body-trend-down {
                        width: 18px;
                        height: 18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 2px;

                        svg-icon {
                            display: flex;
                            svg {
                                display: flex;
                                width: 14px;
                                height: 14px;

                                path {
                                    fill: #e57373;
                                }
                            }
                        }

                        &.trend-up {
                            svg-icon {
                                svg {
                                    display: flex;

                                    path {
                                        fill: #4db6a2;
                                    }
                                }
                            }
                        }
                    }

                    .dashboard-performance-body-trend-price {
                        display: flex;
                        font-size: 14px;
                        font-weight: 700;
                        color: #b7b7b7;
                        padding-left: 6px;
                        box-sizing: border-box;
                    }

                    .dashboard-performance-body-trend-percent {
                        display: none;
                        font-size: 14px;
                        font-weight: 700;
                        color: #b7b7b7;
                        padding-left: 6px;
                        box-sizing: border-box;
                    }
                }

                .dashboard-performance-body-items-text {
                    font-size: 11px;
                    font-weight: 700;
                    color: #b7b7b7;
                }
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 4px #00000026;

                .dashboard-performance-body-title-circle {
                    background-color: #aaaaaa !important;
                }

                .dashboard-performance-body-title {
                    color: #3c3c3c !important;
                }

                .dashboard-performance-body-price-holder {
                    color: #3c3c3c !important;
                }

                .dashboard-performance-body-items-price {
                    color: #6c6c6c !important;
                }

                .dashboard-performance-body-trend-price {
                    display: none !important;
                    color: #919191 !important;
                }

                .dashboard-performance-body-trend-percent {
                    display: flex !important;
                    color: #919191 !important;
                }

                .dashboard-performance-body-items-text {
                    color: #919191;
                }

                .dashboard-performance-body-right-cards-text-hover {
                    display: flex;
                }
            }

            $ii: 1;
            $performance_active_colors {
                $hover_color: nth($performance_hover_colors, $ii);
                $ii: $ii + 1;

                &.dashboard-performance-box {
                    background-color:;

                    .dashboard-performance-body-title-circle {
                        background-color: #ffffff99 !important;
                    }

                    .dashboard-performance-body-title {
                        color: #fff !important;
                    }

                    .dashboard-performance-body-price-holder {
                        color: #fff !important;
                    }

                    .dashboard-performance-body-range-holder {
                        background-color: #ffffff66 !important;
                    }

                    .dashboard-performance-body-range {
                        background-color: #fff !important;
                    }

                    .dashboard-performance-body-items-price {
                        color: #ffffffe6 !important;
                    }

                    .dashboard-performance-body-trend-down {
                        background-color: #ffffffcc !important;
                    }

                    .dashboard-performance-body-trend-price {
                        color: #ffffffb3 !important;
                    }

                    .dashboard-performance-body-trend-percent {
                        color: #ffffffb3 !important;
                    }

                    .dashboard-performance-body-items-text {
                        color: #ffffffb3 !important;
                    }

                    &:hover {
                        background-color: unquote('#' + $hover_color);

                        .dashboard-performance-left-close {
                            display: flex !important;
                        }
                    }
                }
            }
        }

        .dashboard-performance-body-right-cards-holder {
            position: relative;
            //width: 175px;
            //height: 143px;

            background-color: #fff;
            border-radius: 3px;
            padding: 12px;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            ///margin-right: 8px;
            margin-bottom: 8px;
            user-select: none;
            transition: all 0.2s;

            .dashboard-performance-right-close {
                width: 18px;
                height: 18px;
                display: none;
                justify-content: center;
                align-items: center;

                svg-icon {
                    svg {
                        display: flex;
                        width: 12.38px;
                        height: 12.38px;

                        path {
                            fill: #fff;
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .dashboard-performance-body-right-cards-title-holder {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .dashboard-performance-body-right-cards-title-circle {
                    width: 14px;
                    min-width: 14px;
                    height: 14px;
                    border-radius: 100%;
                    background-color: #dadada;
                    transition: all 0.2s;
                }

                .dashboard-performance-body-right-cards-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 14px;
                    font-weight: 700;
                    color: #6c6c6c;
                    padding-left: 6px;
                    box-sizing: border-box;
                    line-height: 18px;
                    flex: 1;
                }
            }

            .dashboard-performance-body-right-cards-price-holder {
                font-size: 26px;
                font-weight: 600;
                color: #6c6c6c;
                padding: 8px 0px 4px 0px;
                box-sizing: border-box;
            }

            .dashboard-performance-body-right-cards-trend-holder {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .dashboard-performance-body-right-cards-trend-up {
                    display: flex;
                    border-radius: 2px;
                    padding: 2px;

                    svg-icon {
                        display: flex;
                        svg {
                            display: flex;
                            width: 14px;
                            height: 14px;

                            path {
                                fill: #4db6a2;
                            }
                        }
                    }

                    &.red-trend-up {
                        svg-icon {
                            svg {
                                display: flex;

                                path {
                                    fill: #e57373;
                                }
                            }
                        }
                    }
                }

                .dashboard-performance-body-right-cards-trend-number {
                    font-size: 18px;
                    font-weight: 700;
                    color: #b7b7b7;
                    padding-left: 8px;
                    box-sizing: border-box;
                    transition: all 0.2s;

                    &.different-padding {
                        padding-left: 0px;
                        padding-right: 8px;
                    }
                }

                .dashboard-performance-body-right-cards-trend-loss {
                    display: none;
                    font-size: 18px;
                    font-weight: 600;
                    color: #b7b7b7;
                    padding-left: 8px;
                    box-sizing: border-box;
                    transition: all 0.2s;
                }
            }

            .dashboard-performance-body-right-cards-trend-holder-hover {
                width: 100%;
                display: none;
                justify-content: flex-start;
                align-items: center;
                transition: all 0.3s;

                .dashboard-performance-body-right-cards-trend-up {
                    width: 18px;
                    height: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg-icon {
                        display: flex;
                        svg {
                            display: flex;
                            width: 14px;
                            height: 14px;

                            path {
                                fill: #4db6a2;
                            }
                        }
                    }

                    &.red-trend-up {
                        svg-icon {
                            svg {
                                display: flex;

                                path {
                                    fill: #e57373;
                                }
                            }
                        }
                    }
                }

                .dashboard-performance-body-right-cards-trend-number {
                    font-size: 18px;
                    font-weight: 700;
                    color: #b7b7b7;
                    padding-left: 8px;
                    box-sizing: border-box;

                    &.different-padding {
                        padding-left: 0px;
                        padding-right: 8px;
                    }
                }

                .dashboard-performance-body-right-cards-trend-loss {
                    font-size: 14px;
                    font-weight: 600;
                    color: #b7b7b7;
                    padding-left: 8px;
                    box-sizing: border-box;
                }
            }

            .dashboard-performance-body-right-cards-text-holder {
                display: flex;
                font-size: 11px;
                font-weight: 700;
                color: #b7b7b7;

                &.different-width {
                    width: 77px;
                    padding-top: 10px;
                    box-sizing: border-box;
                }
            }

            .dashboard-performance-body-right-cards-text-hover {
                display: none;
                font-size: 11px;
                font-weight: 700;
                color: #b7b7b7;
            }

            &:hover:not(.active) {
                cursor: pointer;
                box-shadow: 0 0 4px #00000026;

                .dashboard-performance-body-right-cards-trend-holder-hover {
                    display: none !important;
                }

                .dashboard-performance-body-right-cards-text-hover {
                    display: flex !important;
                }

                .dashboard-performance-body-right-cards-text-holder {
                    display: none !important;
                }

                .dashboard-performance-body-right-cards-title-circle {
                    background-color: #aaaaaa !important;
                }

                .dashboard-performance-body-right-cards-title {
                    color: #3c3c3c !important;
                }

                .dashboard-performance-body-right-cards-price-holder {
                    color: #3c3c3c !important;
                }

                .dashboard-performance-body-right-cards-trend-number {
                    display: none !important;
                    color: #919191 !important;
                }

                .dashboard-performance-body-right-cards-trend-loss {
                    display: flex !important;
                    color: #919191 !important;
                }

                .dashboard-performance-body-right-cards-text-holder {
                    color: #919191 !important;
                }
            }

            $i: 1;
            in $performance_active_colors {
                $hover_color: nth($performance_hover_colors, $i);
                $i: $i + 1;
                &.dashboard-performance--box {
                    background-color:

                    .dashboard-performance-body-right-cards-title-circle {
                        background-color: #ffffff99 !important;
                    }

                    .dashboard-performance-body-right-cards-title {
                        color: #fff !important;
                    }

                    .dashboard-performance-body-right-cards-price-holder {
                        color: #fff !important;
                    }

                    .dashboard-performance-body-right-cards-trend-up {
                        background-color: #ffffffcc !important;
                    }

                    .dashboard-performance-body-right-cards-trend-number {
                        color: #ffffffe6 !important;
                    }

                    .dashboard-performance-body-right-cards-text-holder {
                        color: #ffffffb3 !important;
                    }

                    .dashboard-performance-body-right-cards-text-hover {
                        color: #ffffffb3 !important;
                    }

                    &:hover {
                        background-color: unquote('#' + $hover_color);

                        .dashboard-performance-right-close {
                            display: flex !important;
                        }
                    }
                }
            }
        }

        // .dashboard-performance-body-right-cards-holder:nth-child(6n + 0){
        //     margin-right: 0px;
        // }
    }
}

.dahsboard_charts_holder {
    background-color: #fff;
    padding: 12px 12px 14px 12px;
    margin-bottom: 18px;
    border-radius: 3px;

    .line_chart_title_hold {
        display: flex;

        .dashboard_chart_title {
            color: #aaaaaa;

            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            flex: 1;
        }

        .dashboard_chart_average_hold {
            display: flex;
            align-items: center;
            height: 14px;

            .chart_average_icon {
                margin-right: 5px;
            }

            .chart_average_title {
                font-size: 11px;
                line-height: 14px;
                color: #6c6c6c;

                span {
                    font-weight: 700;
                }
            }
        }
    }

    .dashboard_chart_data {
        display: flex;
        margin-top: 12px;

        .chart_data_inner {
            display: flex;
            justify-content: center;
            align-items: center;

            &.separate_inner {
                margin-right: 22px;
            }

            .chart_data_text {
                color: #6c6c6c;
                font-size: 11px;
                line-height: 14px;
                font-weight: 500;
                padding-left: 4px;

                &::-moz-selection {
                    background: #91919133;
                    color: #919191;
                }
                &::selection {
                    background: #91919133;
                    color: #919191;
                }
            }

            .round_dark_grey {
                svg-icon {
                    svg {
                        rect {
                            fill: #919191;
                        }
                    }
                }
            }

            .round_light_grey {
                svg-icon {
                    svg {
                        rect {
                            fill: #cccccc;
                        }
                    }
                }
            }

            .chart_data_icon {
                svg-icon {
                    svg {
                        display: flex;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .dashboard-performance-holder .dashboard-performance-body {
        grid-template-columns: repeat(5, calc((100% - 35px) / 5));
    }

    .dashboard-performance-holder
        .dashboard-performance-body
        .dashboard-performance-body-left-holder {
        grid-row-end: 3;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1664px) {
    .dashboard-performance-holder .dashboard-performance-body {
        grid-template-columns: repeat(7, calc((100% - 48px) / 7));

        .dashboard-performance-body-left-holder {
            .dashboard-performance-body-items-holder {
                padding-top: 52px;

                &:last-child {
                    padding-top: 62px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1664px) {
    .dashboard-performance-holder .dashboard-performance-body {
        grid-template-columns: repeat(10, calc((100% - 72px) / 10));
    }
}
 */
