@import "../../../settings.global.scss";

.dragDropFile {
  position: relative !important;
  z-index: 9 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  background-image: url('../../../../../../../assets/img/svgs/settings-company/ic_dropbox-container.svg') !important;
  height: 177px;

  .drop-zone-text {
    font-size: 12px !important;
    font-weight: $settings-font-semibold !important;
    color: #919191 !important;
    user-select: none;
    position: absolute;
    bottom: 12px;
  }
}
