<div class="cards-item-wrapper-1">
    <app-ta-details-header-card
        [ngClass]="{
            disabedPreviousArrow: shipperIndex == 0,
            disableNextArrow: shipperIndex == shipperList.length - 1,
        }"
        [cardDetailsDate]="shipper?.createdAt | formatDateP"
        [tooltipNext]="
            shipperIndex == shipperList.length - 1 ? '' : 'Next Shipper'
        "
        [tooltipPrevious]="shipperIndex == 0 ? '' : 'Previous Shipper'"
        [searchInputName]="'Search Shipper'"
        [dateChecked]="'5 days ago'"
        [options]="shipperDropdowns"
        [currentName]="shipper.businessName"
        (selectValue)="onSelectedShipper($event)"
        (changeEvent)="onChangeShipper($event)"
    >
        <div class="repair-information-wrapper">
            <div class="repair-information-item" *ngIf="shipper?.phone">
                <span
                    tooltipBackground="#6c6c6c"
                    ngbTooltip
                    mainTooltip="Call"
                    position="top"
                    class="semi-tooltip"
                >
                    <svg-icon
                        class="repair-icon"
                        src="assets/svg/common/ic_phone.svg"
                    ></svg-icon>
                </span>
                <app-ta-copy
                    [copyValue]="shipper?.phone"
                    [textColor]="'#2f2f2f'"
                ></app-ta-copy>
            </div>
            <div class="repair-information-item" *ngIf="shipper?.email">
                <span
                    tooltipBackground="#6c6c6c"
                    ngbTooltip
                    mainTooltip="Send Email"
                    position="top"
                    class="semi-tooltip"
                >
                    <svg-icon
                        class="repair-icon"
                        src="assets/svg/common/ic_email.svg"
                    ></svg-icon>
                </span>
                <app-ta-copy
                    [copyValue]="shipper?.email"
                    [textColor]="'#2f2f2f'"
                ></app-ta-copy>
            </div>
            <div
                class="repair-information-item address-cont"
                *ngIf="shipper?.address?.address"
            >
                <svg-icon
                    class="repair-icon"
                    src="assets/svg/common/ic_address.svg"
                ></svg-icon>
                <app-ta-copy
                    [copyValue]="shipper?.address?.address"
                    [textColor]="'#2f2f2f'"
                ></app-ta-copy>
            </div>
        </div>
    </app-ta-details-header-card>
    <div class="wrapper-additional-cards">
        <div class="repair-cards">
            <app-ta-custom-card
                [bodyTemplate]="'card'"
                [hasDivider]="false"
                [cardName]="'Available Hours'"
                [isCardOpen]="true"
                [animationMarginParams]="{
                    marginTop: '0px',
                    marginBottom: '10px',
                }"
                [customClass]="'detailsPadding'"
            >
                <div class="hours-template">
                    <div class="hours-item">
                        <span class="name-item">Shipping - Open Hours</span>
                        <div *ngIf="shipper?.shippingFrom" class="icon-wrapper">
                            <svg-icon
                                *ngIf="shipper?.shippingAppointment"
                                class="svg-appoiment"
                                src="assets/svg/common/ic_appoiment.svg"
                            ></svg-icon>
                            <span class="value-item"
                                >{{ converTime(shipper?.shippingFrom) }} -
                                {{ converTime(shipper?.shippingTo) }}</span
                            >
                        </div>
                        <span
                            *ngIf="shipper?.shippingOpenTwentyFourHours"
                            class="value-item"
                            >24h</span
                        >
                    </div>
                    <div class="hours-item">
                        <span class="name-item">Receiving - Appointment</span>
                        <ng-container *ngIf="shipper?.receivingFrom">
                            <div class="icon-wrapper">
                                <svg-icon
                                    *ngIf="shipper?.receivingAppointment"
                                    class="svg-appoiment"
                                    src="assets/svg/common/ic_appoiment.svg"
                                ></svg-icon>
                                <span class="value-item"
                                    >{{ converTime(shipper?.receivingFrom) }} -
                                    {{ converTime(shipper?.receivingTo) }}</span
                                >
                            </div>
                        </ng-container>
                        <ng-container
                            *ngIf="shipper?.receivingOpenTwentyFourHours"
                        >
                            <span class="value-item">24h</span>
                        </ng-container>
                    </div>
                </div>
            </app-ta-custom-card>
            <app-ta-custom-card
                [bodyTemplate]="'card'"
                [hasDivider]="true"
                [cardName]="'Average Waiting Time'"
                [tooltipName]="'View in Modal'"
                [hasHeaderSvg]="'assets/svg/common/arrow_top_right.svg'"
                [isCardOpen]="true"
                [animationMarginParams]="{
                    marginTop: '0px',
                    marginBottom: '10px',
                }"
                [customClass]="'detailsPadding'"
            >
                <div>
                    @if (!payrollLegendHighlightedBackground) {
                        <app-ta-tab-switch
                            [tabs]="payrollChartTabs"
                            (switchClicked)="changeShipperTabs($event)"
                            [type]="'type2-modal-popup'"
                        >
                        </app-ta-tab-switch>
                    }
                    <app-ca-chart
                        [chartConfig]="payrollChartConfig"
                        (hoveredIndex)="setPayrollLegendOnHover($event)"
                    >
                    </app-ca-chart>
                </div>
            </app-ta-custom-card>

            <!-- Map & Cover Photo Card -->

            <app-shipper-details-map-cover-card
                [cardData]="shipper"
            ></app-shipper-details-map-cover-card>

            <!--------Note--------->
            <div class="divider"></div>
            <div class="note-cards">
                <app-ta-input-note
                    [formControl]="note"
                    [isVisibleArrow]="true"
                    [isVisibleNote]="true"
                    [minRows]="1"
                    [isVisibleDivider]="false"
                    [placeholder]="'Write something.'"
                    [customClass]="'note-small'"
                    [noteType]="'details-card'"
                    [note]="shipper.note"
                    [entityId]="shipper.id"
                    [entityType]="'Shipper'"
                ></app-ta-input-note>
            </div>
        </div>
    </div>
</div>
