@import 'src/theme/variables.scss';

.main_chart_container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 14px;

  &.remove_chart_margin{
    margin: 0;
  }

  .no_chart_data{
    user-select: none;
  }

  .hover_data_holder{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 4px #707070;

    padding: 6px 8px 8px 8px;
    transform: translateY(-50%);

    z-index: 2;

    .hover_data_title{
      font-size: 11px;
      font-weight: 700;
      line-height: 14px;
      text-align: center;
      color: $bw6-2;
    }

    .hover_data_border_line{
      height: 2px;
      width: 100%;
      margin: 6px 0px 8px 0px;

      border-radius: 1px;
      background-color: #F3F3F3;
    }

    .hover_data_info_holder{

      .hover_data_info_top_line{
        display: flex;
        align-items: center;
        margin-bottom: 2px;

        .hover_data_icon{
            svg{
              display: flex;
              width: 10px;
              height: 10px;
            }
        }

        .hover_data_info_title{
          font-size: 11px;
          font-weight: 500;
          line-height: 14px;
          text-align: center;
          color: $bw6-2;
          padding-left: 4px;
          
        }

        .hover_data_values_hold{
          display: flex;
          align-items: center;
        }
      }

      .hover_data_price{
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        color: $bw6-2;

        &.increased_title{
          padding-right: 12px;
        }
      }

      .hover_data_percent{
        font-size: 11px;
        line-height: 14px;
        font-weight: 700;
        color: $bw4;
      }

      &.hover_data_bigger_hold{
        .hover_title_container{
          display: flex;
          flex: 1;
          align-items: center;
        }
      }
    }
  }
}

.chart_text_holder{
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;

  .chart_inner{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    
    text-align: center;

    .chart_value_holder{
      margin-bottom: 22px;

      .chart_label{
        font-size: 28px;
        font-weight: 700;
        color: $bw6-2;
        line-height: 34px;
      }

      .chart_value{
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        color: $bw6-2;
      }

      .chart_data_name{
        font-size: 11px;
        line-height: 14px;
        font-weight: 700;
        color: $bw4;
      }
    }
  }
}

.charts-template-item{
  padding: 0 !important;
}