@import 'src/theme/variables.scss';

.step-container {
  padding-top: 22px;

  .step-title {
    color: $ta-blue;
    font-size: 32px;
    height: 39px;
  }

  .top-section {
    margin-top: 22px;
    width: 820px;

    p {
      color: $bw6-2;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .mid-section {
    margin-top: 22px;
    margin-bottom: 32px;
  }

  /* 
    .accident-view-container {
      margin-bottom: 10px;

      .title-container {
        margin-bottom: 2px;

        .date-title-box,
        .state-title-box,
        .fat-title-box,
        .inj-title-box,
        .hazmat-spill-title-box,
        .description-title-box {
          margin-right: 12px;

          &.date-title-box {
            width: 73px;
          }

          &.state-title-box,
          &.hazmat-spill-title-box {
            width: 43px;
          }

          &.fat-title-box,
          &.inj-title-box {
            width: 40px;
          }

          &.description-title-box {
            width: 157px;
            margin-right: 0;
          }

          p {
            color: $bw6-2;
            font-size: 10px;
          }
        }
      }

      .accident-info-container {
        margin-bottom: 12px;

        &:hover .edit-delete-box {
          visibility: visible;
        }

        .date-box,
        .state-box,
        .fat-box,
        .inj-box,
        .hazmat-spill-box,
        .description-box {
          background-color: $bw5;
          color: $white;
          border-radius: 3px;
          height: 26px;
          padding: 0;
          margin-right: 12px;

          &.date-box {
            width: 73px;
          }

          &.state-box,
          &.hazmat-spill-box {
            width: 43px;
          }

          &.fat-box,
          &.inj-box {
            width: 40px;
          }

          &.description-box {
            width: 157px;
            margin-right: 0;
          }

          p {
            font-size: 14px;
          }
        }

        .edit-delete-box {
          visibility: hidden;
          height: 26px;
          width: 38px;
          margin-left: 6px;

          .edit-btn,
          .delete-btn {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: none;
            outline: none;
            opacity: 0.7;

            &:hover {
              opacity: 1;
            }

            &.edit-btn {
              background-color: $bw6-2;
              margin-right: 6px;

              .edit-icon {
                svg {
                  path {
                    fill: $white;
                  }
                }
              }
            }

            &.delete-btn {
              background-color: $progress-danger;

              .delete-icon {
                svg {
                  path {
                    fill: $white;
                  }
                }
              }
            }
          }
        }
      }
    } */

  .form-section {
    width: 616px;

    .group {
      margin-bottom: 22px;
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    .location-group {
      width: 445px;
    }

    .date-group {
      width: 159px;
    }

    .fatalities-injuries-group {
      width: 337px;
      margin-right: 85px;
      margin-bottom: 22px;

      .fatalities-group {
        width: 168px;
        margin-right: 12px;

        p {
          width: 77px;
          font-size: 14px;
          color: $bw6-2;
          margin-right: 12px !important;
        }

        .arrow-input-group {
          width: 79px;
          background-color: #ccc;
        }
      }

      .injuries-group {
        width: 157px;

        p {
          width: 65px;
          font-size: 14px;
          color: $bw6-2;
          margin-right: 12px !important;
        }

        .arrow-input-group {
          width: 79px;
          background-color: #ccc;
        }
      }
    }

    .hazmat-spill-group {
      width: 194px;
      height: 26px;
      margin-bottom: 22px;

      .title-box {
        p {
          font-size: 14px;
          color: $bw6-2;

          .required-star {
            color: $progress-danger;
          }
        }
      }

      .radios-box {
        width: 86px;

        .ta-input-radiobutons {
          width: 100%;

          .radio-button {
            padding-left: 0;
          }
        }
      }
    }

    .truck-type-group {
      width: 231px;
      margin-bottom: 0;
    }

    .description-group {
      width: 373px;
      margin-bottom: 0;
    }

    .add-more-accident-container {
      margin-top: 25px;

      .add-btn {
        height: 26px;
        padding: 4px 8px;
        border: none;
        outline: none;
        font-size: 14px;
        border-radius: 2px;
        color: $ta-blue;
        background: $ta-gray-01;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          color: $white;
          background: $ta-blue;
        }

        &:hover .plus-icon {
          svg {
            path {
              fill: $white;
            }
          }
        }

        &.disabled {
          -webkit-user-select: none !important;
          -moz-user-select: none !important;
          -ms-user-select: none !important;
          user-select: none !important;

          cursor: auto;
          background: $ta-light-grey-4;
          color: $bw4;

          .plus-icon {
            svg {
              path {
                fill: $ta-light-grey-6;
              }
            }
          }
        }

        .plus-icon {
          margin-right: 6px;

          svg {
            path {
              transition: fill 0.2s ease-in-out;
              fill: $ta-light-blue;
            }
          }
        }
      }
    }
  }
}

.next-btn-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  right: 42px;
}

.back-btn-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  left: 42px;
}
