@import 'src/theme/variables.scss';

.step-container {
  padding-top: 22px;

  .step-title {
    color: $ta-blue;
    font-size: 32px;
    height: 39px;
  }

  .top-section {
    margin-top: 22px;
    width: 820px;

    p {
      color: $bw6-2;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .mid-section {
    margin-top: 22px;
    margin-bottom: 32px;
  }

  .form-section {
    width: 616px;

    .accident-view-container {
      width: 616px;
      margin-bottom: 32px;

      .title-container {
        width: 100%;
        margin-bottom: 6px;
        padding-left: 6px;

        .date-title-box,
        .state-title-box,
        .fatalities-title-box,
        .injuries-title-box,
        .hazmat-title-box,
        .description-title-box {
          p {
            color: $bw5;
            font-size: 12px;

            span {
              color: $progress-danger;
            }
          }

          &.date-title-box {
            width: 43px;
            margin-right: 51px;
          }

          &.state-title-box {
            width: 48px;
            margin-right: 18px;
          }

          &.fatalities-title-box {
            width: 26px;
            margin-right: 26px;
          }

          &.injuries-title-box {
            width: 23px;
            margin-right: 29px;
          }

          &.hazmat-title-box {
            width: 60px;
            margin-right: 18px;
          }

          &.description-title-box {
            width: 96px;
          }
        }
      }

      .accident-info-container {
        width: 100%;
        height: 26px;
        padding: 4px 6px;
        background-color: $ta-light-grey-4;
        border-radius: 2px;
        margin-bottom: 2px;
        text-transform: uppercase;
        color: $bw6-2;
        font-size: 14px;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          background: $bw2;
          color: $ta-light-grey-3;
        }

        &:hover .btn-container {
          opacity: 1;
          visibility: visible !important;
        }

        .date-box,
        .state-box,
        .fatalities-box,
        .injuries-box,
        .hazmat-box,
        .description-box {
          &.date-box {
            width: 55px;
            margin-right: 34px;
          }

          &.state-box {
            width: 18px;
            margin-right: 47px;
            padding-left: 6px;
          }

          &.fatalities-box {
            width: 5px;
            margin-right: 47px;
            padding-left: 6px;
          }

          &.injuries-box {
            width: 5px;
            margin-right: 47px;
            padding-left: 6px;
          }

          &.hazmat-box {
            width: 23px;
            margin-right: 53px;
            padding-left: 6px;
          }

          &.description-box {
            width: 207px;
            margin-right: 19px;
            padding-left: 6px;
            text-transform: none;
          }
        }

        .btn-container {
          width: 42px;
          visibility: hidden !important;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;

          .edit-icon,
          .delete-icon {
            cursor: pointer;

            &:hover {
              svg {
                path {
                  transition: fill 0.2s ease-in-out;
                  fill: $bw6-2;
                }
              }
            }

            svg {
              path {
                fill: $bw4;
              }
            }
          }

          .edit-icon {
            margin-right: 6px;
          }
        }
      }
    }

    .group {
      margin-bottom: 22px;
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    .location-group {
      width: 445px;
    }

    .date-group {
      width: 159px;
    }

    .fatalities-injuries-group {
      margin-bottom: 22px;

      .fatalities-group {
        width: 178px;
        margin-right: 12px;

        p {
          width: 77px;
          font-size: 14px;
          color: $bw6-2;
          margin-right: 12px !important;
        }
      }

      .injuries-group {
        width: 157px;

        p {
          width: 65px;
          font-size: 14px;
          color: $bw6-2;
          margin-right: 12px !important;
        }
      }
    }

    .hazmat-spill-group {
      width: 194px;
      height: 26px;
      margin-bottom: 22px;

      .title-box {
        p {
          font-size: 14px;
          color: $bw6-2;

          .required-star {
            color: $progress-danger;
          }
        }
      }

      .radios-box {
        width: 86px;

        .ta-input-radiobutons {
          width: 100%;

          .radio-button {
            padding-left: 0;
          }
        }
      }
    }

    .truck-type-group {
      width: 231px;
      margin-bottom: 0;
    }

    .description-group {
      width: 373px;
      margin-bottom: 0;
    }

    .add-more-accident-container {
      margin-top: 25px;

      .add-btn {
        height: 26px;
        padding: 4px 8px;
        border: none;
        outline: none;
        font-size: 14px;
        border-radius: 2px;
        color: $ta-blue;
        background: $ta-gray-01;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          color: $white;
          background: $ta-blue;
        }

        &:hover .plus-icon {
          svg {
            path {
              fill: $white;
            }
          }
        }

        &.disabled {
          -webkit-user-select: none !important;
          -moz-user-select: none !important;
          -ms-user-select: none !important;
          user-select: none !important;

          cursor: auto;
          background: $ta-light-grey-4;
          color: $bw4;

          .plus-icon {
            svg {
              path {
                fill: $ta-light-grey-6;
              }
            }
          }

          &:hover {
            background: $ta-light-grey-4 !important;
            color: $bw4 !important;
          }
        }

        .plus-icon {
          margin-right: 6px;

          svg {
            path {
              transition: fill 0.2s ease-in-out;
              fill: $ta-light-blue;
            }
          }
        }
      }

      .cancel-btn {
        width: 150px;
        height: 32px;
        margin-right: 22px;
        color: $bw5;
        background: $ta-light-grey-4;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out !important;

        &:hover {
          background: $bw6-2;
          color: $white;
        }
      }

      .save-btn {
        width: 150px;
        height: 32px;
        color: $white;
        background: $ta-light-blue;

        &:hover {
          background-color: $ta-blue;
        }
      }
    }
  }
}

.next-btn-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  right: 42px;
}

.back-btn-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  left: 42px;
}
