@import '/src/theme/variables.scss';

.ta-checkbox-container {
    display: inline-block;
    position: relative;
    top: 1px;

    transition: all 0.3s ease-in-out;

    label {
        display: flex;
        align-items: center;
    }

    /* Required Text Checkbox */
    .required-text-checkbox {
        position: absolute;
        left: -72px;
        font-size: 14px;
        font-weight: 600;
        color: #f44336;
        line-height: 18px;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the default checkbox */
    .ta-checkbox {
        visibility: hidden;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .ta-mark {
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 14px;
        background-color: #cccccc;
        border-radius: 3px;
        cursor: pointer;

        transition: all 0.3s ease-in-out;

        /* Create the mark/indicator (hidden when not checked) */
        &::after {
            content: '';
            position: absolute;
            display: none;
            left: 5px;
            top: 2px;
            width: 4px;
            height: 8px;
            border: solid #ffffff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        &.invalid {
            background-color: #f44336 !important;
        }

        &.disabled {
            background-color: #6d82c7 !important;

            &:hover {
                background-color: #6d82c7 !important;
            }
        }

        &.down-position {
            top: 3px;
        }
    }

    &:hover .ta-checkbox ~ .ta-mark {
        background-color: $bw5;
    }

    &:hover .ta-checkbox ~ .ta-checkbox-label {
        color: $ta-black;
    }

    .ta-checkbox:checked ~ .ta-checkbox-label {
        color: $ta-black !important;
    }

    .ta-checkbox:checked ~ .ta-mark {
        background-color: $ta-blue-18;
        transition: all 0.3s ease-in-out;
    }

    .ta-checkbox:checked:hover ~ .ta-mark {
        background-color: #255bb9;
        transition: all 0.3s ease-in-out;
    }

    /* Show the mark when checked */
    .ta-checkbox:checked ~ .ta-mark:after {
        display: block;
        transition: all 0.3s ease-in-out;
    }

    .ta-checkbox-svg {
        margin-left: 12px;
        margin-right: 4px;
    }

    .ta-checkbox-label {
        cursor: pointer;
        color: $bw6-2;
        font-weight: 800;
        font-size: 14px;
        margin-left: 6px;
        position: relative;
        line-height: 14px;

        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &-required {
            color: #f44336;
        }
    }

    /* Use Carriera ACH */

    .carriera-icon {
        line-height: 10px;
        margin-left: 6px;
        cursor: pointer;
    }

    // -------------------------- Custom Class --------------------------------
    &.disabled {
        pointer-events: none !important;
        svg-icon {
            position: relative;
            bottom: 1px;
            width: 14px;
            height: 15px;
            line-height: 14px;

            svg {
                path {
                    fill: #dadada !important;
                }
            }
        }

        .ta-checkbox-label {
            color: $ta-light-grey-2 !important;
        }

        &.disabled-valid {
            svg {
                path {
                    fill: #6d82c7 !important;
                }
            }

            .ta-checkbox-label {
                font-weight: 500;
                color: $bw6-2 !important;
            }
        }
    }

    &.disabled-blue {
        pointer-events: none !important;

        .ta-checkbox-disabled-blue {
            height: 14px;
            width: 14px;
            line-height: 15px;

            position: relative;
            bottom: 2px;

            svg {
                path {
                    fill: $ta-blue-13 !important;
                }
            }
        }

        .ta-checkbox-label-blue {
            color: $ta-black !important;
            font-weight: 500 !important;

            position: relative;
            bottom: 1px;
        }
    }

    &.disabled-regular-check {
        pointer-events: none !important;

        .ta-checkbox-disabled-regular-check {
            background: $ta-gray-02;
            height: 14px;
            width: 14px;

            svg {
                height: 10px;
                width: 10px;

                path {
                    fill: $bw6-2 !important;
                }
            }
        }

        .ta-checkbox-label-regular-check {
            color: $ta-black !important;
            font-weight: 800 !important;
        }
    }

    &.medium {
        .ta-checkbox-label {
            font-weight: 500;
            color: $bw6-2;
        }
    }

    &.regular {
        label {
            line-height: 17px;
        }

        .ta-checkbox-label {
            color: $ta-light-grey-2;
            font-weight: 400;
            color: $bw6-2;
        }
    }

    &.billing-address {
        margin-bottom: 12px;
        position: relative;
        left: 1px;
        top: 0px;

        &.checked {
            margin-bottom: 22px;
        }
    }

    &.shipper-hours {
        margin-bottom: 10px;
        position: relative;
        left: 6px;
        top: 0px;
    }

    &.bold-12 {
        .ta-checkbox-label {
            font-weight: 700;
            font-size: 12px;
        }
    }

    &.bold-14 {
        .ta-checkbox-label {
            font-weight: 800;
            font-size: 14px;
        }
    }

    &.regular-14 {
        .ta-checkbox-label {
            font-weight: 400;
            font-size: 14px;
        }
    }

    &.medium-14 {
        .ta-checkbox-label {
            font-weight: 500;
            font-size: 14px;
        }
    }

    &.label-black {
        .ta-checkbox-label {
            color: #2f2f2f;
        }
    }

    &.text-align-center {
        label {
            align-items: unset;
        }

        .ta-checkbox-label {
            text-align: center;
        }
    }

    &.line-height-18 {
        .ta-checkbox-label {
            line-height: 18px;

            &::before {
                content: '';
                display: block;
                height: 0;
                width: 0;
                margin-top: calc((1 - 1.285) * 0.5em);
            }
        }
    }
}
