@import 'src/theme/variables.scss';

.review-container {
  .pen-icon {
    cursor: pointer;
    visibility: none;
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &.display-icon {
      visibility: visible;
      opacity: 1;
    }

    &:hover {
      svg {
        path {
          fill: $white;
        }

        rect {
          fill: $bw6-2;
        }
      }
    }

    svg {
      path {
        transition: fill 0.2s ease-in-out;
        fill: $ta-light-grey-2;
      }

      rect {
        transition: fill 0.2s ease-in-out;
        fill: $ta-light-grey-4;
      }
    }
  }

  .annotation-group {
    width: 0;
    visibility: hidden;
    opacity: 0;
    transition: width 0.2s, visibility 0.2s, opacity 0.2s;

    &.display-annotation {
      visibility: visible;
      opacity: 1;
      width: 397px;
    }
  }
}

.feedback-container {
  .feedback-text-container {
    width: 397px;
    max-height: 45px;
    padding: 4px 6px;
    border-radius: 2px;
    background: $ta-light-grey-4;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: $bw2;
    }

    &:hover p {
      color: $ta-light-grey-3;
    }

    p {
      max-width: 385px;
      font-size: 14px;
      line-height: 18px;
      color: $bw6-2;
      transition: color 0.3s ease-in-out;

      &::-moz-selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
      }

      &::selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
      }
    }
  }
}

/* Review */
/* .review-container {
  width: fit-content;
  height: 26px;
  display: flex;
  position: absolute;
  left: 0;
  .ok-svg,
  .wrong-svg {
    display: flex;
    cursor: pointer;
    &:hover {
      path {
        fill: $white;
        opacity: 1;
      }
    }
  }

  .ok-svg {
    margin-right: 2px;
    &:hover {
      rect {
        fill: #24c1a1;
      }
    }
  }

  .wrong-svg {
    &:hover {
      rect {
        fill: rgba(255, 93, 93, 0.7);
      }
    }
  }

  textarea {
    width: 0px;
    visibility: hidden;
    opacity: 0;
    height: 26px;
    resize: none;
    border: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 3px;
    background: #dadada;
    font-size: 14px;
    color: $bw5;
    margin-left: 6px;
    padding: 0 6px;
    line-height: 26px;
    transition: width 0.25s, visibility 0.25s, opacity 0.25s;
  }
} */

/* Feedback */
/* .feedback-container {
  width: fit-content;
  height: 26px;
  display: flex;
  position: absolute;
  left: 0;
  svg-icon {
    margin-right: 6px;
  }

  .feedback-text {
    width: 450px;
    height: 26px;
    max-height: 26px;
    position: relative;
    z-index: 10;
    border-radius: 3px;
    background: #f3f3f3;
    padding: 0 6px;
    text-align: left;
    line-height: 26px;
    font-size: 14px;
    color: $bw5;
    overflow: hidden;
    transition: color 0.25s, background 0.25s;
    &:hover {
      user-select: none;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
      background: $white;
      color: $bw6-2;
      height: fit-content;
      max-height: 300px;
      transition: 0.25s;
    }
  }
}
 */
/* NG CLASS */

/* Feedback */
/* .feedback-approved,
.feedback-not-approved {
  svg {
    path {
      fill: #ffffff !important;
      opacity: 1;
    }
  }
}

.feedback-approved {
  svg {
    rect {
      fill: #24c1a1 !important;
    }
  }
}

.feedback-not-approved {
  svg {
    rect {
      fill: rgba(255, 93, 93, 0.7) !important;
    }
  }
} */

/* Review */
/* .approved,
.not-approved {
  svg {
    rect,
    path {
      opacity: 1;
    }

    path {
      fill: $white;
    }
  }
}

.approved {
  svg {
    rect {
      fill: #24c1a1;
    }
  }
}

.not-approved {
  svg {
    rect {
      fill: $progress-danger !important;
    }
  }
}

.show-textarea {
  width: 420px !important;
  visibility: visible !important;
  opacity: 1 !important;
  transition: width 0.25s;
}
 */
