<div class="details-container-items">
  <div *ngFor="let item of truckDetailsConfig; trackBy: identity">
    <app-ta-details-header
      [options]="dataTest"
      [route]="'/truck'"
      [tooltipHeaderName]="'Back to Truck List'"
      [headerText]="item.name"
      [counterData]="item.length"
      [hidePlus]="item.hide"
      [statusInactive]="item.status"
      [isInactive]="item.status"
      [optionsId]="truckId"
      (dropActions)="optionsDrop($event)"
      (openModalAction)="onModalAction($event)"
    >
    </app-ta-details-header>
  </div>
  <app-truck-details-item [truck]="truckDetailsConfig">
  </app-truck-details-item>
</div>
