@import '/src/theme/variables.scss';

.load-requirement {
    &-grid {
        padding: 0 15px;
        grid-template-columns: 70px 80px 95px 105px 120px 75px 40px;
        gap: 4px;
    }

    &-header {
        font-size: 11px;
        line-height: 15px;
    }

    &-no-req {
        font-size: 11px;
        text-decoration: line-through;
        color: $ta-light-grey-2;
    }

    &-value {
        font-size: 14px;
    }
}

.truckassist-icon {
    svg-icon {
        display: flex;
        cursor: pointer;
        svg {
            path {
                fill: $ta-light-grey-2;
            }
        }
    }

    &:hover {
        // TRUCKS
        .ic_truck_semi-truck {
            svg {
                path {
                    fill: #97d568;
                }
            }
        }

        .ic_truck_semi-wSleeper {
            svg {
                path {
                    fill: #ffb74d;
                }
            }
        }

        .ic_truck_box-truck {
            svg {
                path {
                    fill: $ta-red;
                }
            }
        }

        .ic_truck_cargo-van {
            svg {
                path {
                    fill: #68c3ff;
                }
            }
        }

        .ic_truck_tow-truck {
            svg {
                path {
                    fill: #ba68c8;
                }
            }
        }

        .ic_truck_car-hauler {
            svg {
                path {
                    fill: #59a5a5;
                }
            }
        }

        .ic_truck_spotter {
            svg {
                path {
                    fill: #415fc1;
                }
            }
        }

        // TRAILERS
        .ic_trailer_reefer {
            svg {
                path {
                    fill: $ta-blue-13;
                }
            }
        }

        .ic_trailer_dryvan {
            svg {
                path {
                    fill: $ta-blue-21;
                }
            }
        }

        .ic_trailer_side-kit {
            svg {
                path {
                    fill: $ta-orange-4;
                }
            }
        }

        .ic_trailer_conestoga {
            svg {
                path {
                    fill: $ta-yellow-8;
                }
            }
        }

        .ic_trailer_dumper {
            svg {
                path {
                    fill: $ta-purple-1;
                }
            }
        }

        .ic_trailer_container {
            svg {
                path {
                    fill: $ta-yellow-1;
                }
            }
        }

        .ic_trailer_tanker {
            svg {
                path {
                    fill: $ta-green-6;
                }
            }
        }

        .ic_trailer_carhauler {
            svg {
                path {
                    fill: $ta-red-18;
                }
            }
        }

        .ic_trailer_flatbed {
            svg {
                path {
                    fill: $ta-red-13;
                }
            }
        }

        .ic_trailer_low-boy {
            svg {
                path {
                    fill: $ta-red-11;
                }
            }
        }

        .ic_trailer_chassis {
            svg {
                path {
                    fill: $ta-orange-5;
                }
            }
        }

        .ic_trailer_step-deck {
            svg {
                path {
                    fill: $ta-red-10;
                }
            }
        }

        .ic_trailer_tanker_pneumatic {
            svg {
                path {
                    fill: $ta-green;
                }
            }
        }

        .ic_carhauler_stinger {
            svg {
                path {
                    fill: $ta-red-19;
                }
            }
        }
    }
}