<div [ngClass]="{ 'violation-border-container': isEditing }">
    <ng-container *ngIf="isEditing">
        <div class="d-flex align-items-center violation-header">
            <p class="m-0 ta-font-medium">VIOLATION</p>
        </div>
    </ng-container>

    <div class="d-flex flex-column step-form" [formGroup]="violationsForm">
        <div
            class="d-flex line-container"
            [ngStyle]="{ padding: isEditing ? '0 4px 0 4px' : 0 }"
        >
            <div
                class="group date-group"
                [ngStyle]="{ 'margin-right': isEditing ? '8px' : '12px' }"
            >
                <app-ta-input
                    formControlName="date"
                    [inputConfig]="{
                        name: 'datepicker',
                        type: 'text',
                        label: 'Date',
                        placeholderIcon: 'date',
                        isRequired: true,
                        customClass: 'datetimeclass',
                        isDisabled:
                            selectedMode === 'REVIEW_MODE' ||
                            (selectedMode === 'FEEDBACK_MODE' &&
                                stepFeedbackValues?.isDateValid),
                        incorrectInput: selectedMode === 'REVIEW_MODE'
                    }"
                    [incorrectValue]="openAnnotationArray[10].lineInputs[0]"
                    (incorrectEvent)="incorrectInput($event, 0, 10)"
                ></app-ta-input>
            </div>
            <div
                class="group truck-type-group"
                [ngStyle]="{ 'margin-right': isEditing ? '8px' : '12px' }"
            >
                <app-ta-input-dropdown
                    formControlName="vehicleType"
                    [template]="'svgtext-template'"
                    [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Vehicle type',
                        isRequired: true,
                        isDropdown: true,
                        isDisabled: selectedMode !== 'APPLICANT_MODE',
                        dropdownWidthClass: 'w-col-210',
                        dropdownImageInput: {
                            withText: true,
                            svg: true,
                            image: false,
                            url: selectedVehicleType?.logoName,
                            template: 'truck',
                            class: selectedVehicleType?.name
                                ?.trim()
                                .replace(' ', '')
                                .toLowerCase()
                        },
                        customClass: 'truck-trailer-dropdown'
                    }"
                    [activeItem]="selectedVehicleType"
                    [options]="vehicleType"
                    (selectedItem)="handleInputSelect($event, 'TRUCK-TYPE')"
                ></app-ta-input-dropdown>
            </div>
            <div
                class="group location-group"
                [ngStyle]="{ width: isEditing ? '234px' : '242px' }"
            >
                <app-input-address-dropdown
                    formControlName="location"
                    [inputConfig]="{
                        name: 'Address',
                        type: 'text',
                        label: 'Location',
                        isRequired: true,
                        placeholderIcon: 'address',
                        textTransform: 'capitalize',
                        dropdownWidthClass: 'w-col-242',
                        minLength: 12,
                        maxLength: 256,
                        isDisabled:
                            selectedMode === 'REVIEW_MODE' ||
                            (selectedMode === 'FEEDBACK_MODE' &&
                                stepFeedbackValues?.isLocationValid),
                        incorrectInput: selectedMode === 'REVIEW_MODE'
                    }"
                    [placeholderType]="'shortAddress'"
                    [activeAddress]="selectedAddress"
                    [incorrectValue]="openAnnotationArray[10].lineInputs[2]"
                    (incorrectEvent)="incorrectInput($event, 2, 10)"
                    (selectedAddress)="handleInputSelect($event, 'ADDRESS')"
                ></app-input-address-dropdown>
            </div>

            <!-- REVIEW AND FEEDBACK -->

            <ng-container
                *ngIf="selectedMode !== 'APPLICANT_MODE' && !isReviewingCard"
            >
                <div class="review-feedback-container">
                    <app-applicant-review-feedback
                        formControlName="firstRowReview"
                        [displayAnnotationButton]="
                            selectedMode === 'REVIEW_MODE' &&
                            openAnnotationArray[10].displayAnnotationButton
                        "
                        [displayAnnotationTextArea]="
                            selectedMode === 'REVIEW_MODE' &&
                            openAnnotationArray[10].displayAnnotationTextArea
                        "
                        [lineIndex]="10"
                        [isFeedback]="selectedMode === 'FEEDBACK_MODE'"
                        [feedbackText]="
                            selectedMode === 'FEEDBACK_MODE' &&
                            (stepFeedbackValues?.commonMessage ??
                                stepFeedbackValues?.locationMessage)
                        "
                        (annotationBtnClickEvent)="
                            selectedMode === 'REVIEW_MODE' &&
                                getAnnotationBtnClickValue($event)
                        "
                    ></app-applicant-review-feedback>
                </div>
            </ng-container>
        </div>

        <div
            class="d-flex line-container"
            [ngStyle]="{ padding: isEditing ? '0 4px 0 4px' : 0 }"
        >
            <div
                class="description-group"
                [ngStyle]="{
                    width: isEditing ? '600px' : '616px'
                }"
            >
                <app-ta-input
                    formControlName="description"
                    [inputConfig]="{
                        name: 'Description',
                        type: 'text',
                        label: 'Description of violation',
                        minLength: 2,
                        maxLength: 160,
                        isRequired: true,
                        textTransform: 'capitalize',
                        isDisabled:
                            selectedMode === 'REVIEW_MODE' ||
                            (selectedMode === 'FEEDBACK_MODE' &&
                                stepFeedbackValues?.isDescriptionValid),
                        incorrectInput: selectedMode === 'REVIEW_MODE'
                    }"
                    [incorrectValue]="openAnnotationArray[11].lineInputs[0]"
                    (incorrectEvent)="incorrectInput($event, 0, 11)"
                ></app-ta-input>
            </div>

            <!-- REVIEW AND FEEDBACK -->

            <ng-container
                *ngIf="selectedMode !== 'APPLICANT_MODE' && !isReviewingCard"
            >
                <div class="review-feedback-container">
                    <app-applicant-review-feedback
                        formControlName="secondRowReview"
                        [displayAnnotationButton]="
                            selectedMode === 'REVIEW_MODE' &&
                            openAnnotationArray[11].displayAnnotationButton
                        "
                        [displayAnnotationTextArea]="
                            selectedMode === 'REVIEW_MODE' &&
                            openAnnotationArray[11].displayAnnotationTextArea
                        "
                        [lineIndex]="11"
                        [isFeedback]="selectedMode === 'FEEDBACK_MODE'"
                        [feedbackText]="
                            selectedMode === 'FEEDBACK_MODE' &&
                            stepFeedbackValues?.descriptionMessage
                        "
                        (annotationBtnClickEvent)="
                            selectedMode === 'REVIEW_MODE' &&
                                getAnnotationBtnClickValue($event)
                        "
                    ></app-applicant-review-feedback>
                </div>
            </ng-container>
        </div>

        <!-- BTN -->

        <div
            class="d-flex justify-content-center align-items-center"
            [ngStyle]="{
                'padding-top': isEditing ? '12px' : 0,
                margin: isEditing ? '0 4px 0 4px' : '10px 0 0 0',
                'border-top': isEditing ? '1px solid #DADADA' : 0
            }"
        >
            <ng-container
                *ngIf="selectedMode === 'APPLICANT_MODE' && !isEditing"
            >
                <app-applicant-add-save-btn
                    [addBtn]="true"
                    [btnText]="'Add Another Violation'"
                    [disabledValue]="violationsForm.invalid"
                    (clickValueEmitter)="onGetBtnClickValue($event)"
                ></app-applicant-add-save-btn>
            </ng-container>

            <ng-container *ngIf="isEditing">
                <app-applicant-add-save-btn
                    [cancelBtn]="true"
                    (clickValueEmitter)="onGetBtnClickValue($event)"
                ></app-applicant-add-save-btn>

                <app-applicant-add-save-btn
                    [saveBtn]="true"
                    [disabledValue]="
                        !isViolationEdited || !violationsForm.valid
                    "
                    (clickValueEmitter)="onGetBtnClickValue($event)"
                ></app-applicant-add-save-btn>
            </ng-container>

            <ng-container *ngIf="isReviewingCard">
                <app-applicant-add-save-btn
                    [cancelBtn]="true"
                    [reviewBtn]="true"
                    (clickValueEmitter)="onGetBtnClickValue($event)"
                ></app-applicant-add-save-btn>

                <app-applicant-add-save-btn
                    [saveBtn]="true"
                    [reviewBtn]="true"
                    [disabledValue]="!isCardReviewedIncorrect"
                    (clickValueEmitter)="onGetBtnClickValue($event)"
                ></app-applicant-add-save-btn>
            </ng-container>
        </div>
    </div>
</div>
