<div class="d-flex flex-column step-form" [formGroup]="violationsForm">
  <div class="d-flex">
    <div class="group date-group">
      <app-ta-input
        formControlName="violationDate"
        [inputConfig]="{
          name: 'datepicker',
          type: 'text',
          label: 'Date',
          placeholderIcon: 'date',
          isRequired: true,
          customClass: 'datetimeclass'
        }"
      ></app-ta-input>
    </div>
    <div class="group truck-type-group">
      <app-ta-input-dropdown
        formControlName="truckType"
        [template]="'svgtext-template'"
        [inputConfig]="{
          name: 'Input Dropdown',
          type: 'text',
          label: 'Vehicle type',
          isRequired: true,
          isDropdown: true,
          dropdownWidthClass: 'w-col-applicant-t-type'
        }"
        [options]="truckType"
        (selectedItem)="handleInputSelect($event, 'TRUCK-TYPE')"
      ></app-ta-input-dropdown>
    </div>
    <div class="group location-group">
      <app-ta-input-address
        formControlName="violationLocation"
        [inputConfig]="{
          name: 'Address',
          type: 'text',
          label: 'Location',
          isRequired: true,
          placeholderIcon: 'address',
          textTransform: 'capitalize',
          autoFocus: true
        }"
        (selectedAddress)="handleInputSelect($event, 'ADDRESS')"
      ></app-ta-input-address>
    </div>
  </div>

  <div class="d-flex">
    <div class="description-group">
      <app-ta-input
        formControlName="violationDescription"
        [inputConfig]="{
          name: 'Description',
          type: 'text',
          label: 'Description of violation',
          textTransform: 'capitalize',
          isRequired: true
        }"
      ></app-ta-input>
    </div>
  </div>

  <!-- ADD ANOTHER VIOLATION -->

  <div class="d-flex justify-content-center align-items-center btn-container">
    <button
      type="button"
      class="d-flex justify-content-center align-items-center ta-font-bold add-btn"
      [ngClass]="{
        disabled: violationsForm.invalid
      }"
      *ngIf="!isEditing"
      (click)="onAddViolation()"
    >
      <svg-icon
        class="plus-icon"
        src="assets/svg/common/ic_plus.svg
  "
        [svgStyle]="{
          'width.px': 18,
          'height.px': 18
        }"
      ></svg-icon>

      Add Another Violation
    </button>

    <div
      class="d-flex align-items-center mx-auto justify-content-center btn-container"
      *ngIf="isEditing"
    >
      <button
        type="button"
        class="d-flex justify-content-center align-items-center ta-font-semi-bold add-btn cancel-btn"
        (click)="onCancelEditAccident()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="d-flex justify-content-center align-items-center ta-font-semi-bold add-btn save-btn"
        [ngClass]="{
          disabled: !isViolationEdited
        }"
        (click)="onSaveEditedViolation()"
      >
        Save Changes
      </button>
    </div>
  </div>
</div>
