@import 'src/theme/variables.scss';

.step-container {
    padding-top: 22px;

    .step-title {
        color: $ta-blue-5;
        font-size: 32px;
        height: 39px;
        margin-bottom: 22px !important;

        &::-moz-selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }

        &::selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }
    }

    .checkbox-container {
        width: 616px;
        margin: 0 auto 12px auto;

        p {
            font-size: 14px;
            line-height: 18px;
            user-select: none;
            margin-top: 5px !important;
            color: $black;
        }
    }

    .group-text {
        width: 616px;

        p {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 12px !important;

            &::-moz-selection {
                color: $ta-black;
                background: rgb(47, 47, 47, 0.2);
            }

            &::selection {
                color: $ta-black;
                background: rgb(47, 47, 47, 0.2);
            }
        }
    }
}

.next-btn-container {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
    right: 42px;
}

.back-btn-container {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
    left: 42px;
}
