<div
    class="progress-bar-parent d-flex align-items-center"
    [class.disable-hover]="text === '/'"
    [class.progress-bar-parent-expired]="daysExpired"
    [class.active]="progressDropdownActive !== -1"
    #ngbProgress="ngbPopover"
    [autoClose]="true"
    [ngbPopover]="milesProgressPopover"
    [placement]="'bottom-left bottom-right'"
    container="body"
    popoverClass="table-progress-popover"
    triggers="manual"
    (hidden)="progressDropdownActive = -1"
    (click)="
        data[columnField]?.expirationDaysText ||
        data[columnField]?.expirationMilesText ||
        data[columnField]?.expirationCreditText
            ? toggleProgressDropdown(ngbProgress)
            : {}
    "
>
    <ng-container *ngIf="text !== '/'">
        <div class="progress-bar-holder">
            <div
                class="progress-child-back"
                [ngClass]="{
                    expired: percents === 0,
                    'back-gray': percents > 50,
                    'back-yellow': percents > 20 && percents <= 50,
                    'back-red': percents <= 20 && percents > 0 && text !== '/',
                }"
            ></div>
            <div
                class="progress-child-front"
                [ngClass]="{
                    'front-gray': percents > 50,
                    'front-yellow': percents > 20 && percents <= 50,
                    'front-red': percents <= 20,
                }"
                [style.width.%]="daysExpired ? 100 - percents : percents"
            ></div>
        </div>
    </ng-container>

    <!-- In (days) of or ago (days) dispaly text bassed on expired or it will expire -->

    <ng-container *ngIf="percents && text !== '/'">
        <span
            class="progress-text"
            [class.table-progress-text]="isTable"
            [class.text-size-13]="text?.length === 5"
            [class.text-size-12]="text?.length > 5"
        >
            <ng-container *ngIf="type === 'days'">
                <ng-container *ngIf="!daysExpired"
                    >in {{ text }} days</ng-container
                >
                <ng-container *ngIf="daysExpired">
                    <div class="progress-text-title">
                        <span>{{ text }} {{ daysPluralization }} left</span>
                        <span>{{ daysToPay }} days</span>
                    </div></ng-container
                >
            </ng-container>

            <ng-container *ngIf="type === 'miles'">
                {{ text | thousandToShortFormatPipe }}
                mi to go
            </ng-container>

            <ng-container *ngIf="type === 'credit'">
                {{ text }}
            </ng-container>
        </span>
    </ng-container>
    <ng-container *ngIf="percents === 0 && percents !== null && text !== '/'">
        <span
            class="progress-text ta-font-semi-bold"
            [class.table-progress-text]="isTable"
            [class.text-size-13]="text?.length === 3"
            [class.text-size-12]="text?.length > 3"
        >
            <ng-container *ngIf="type === 'days'">
                <ng-container *ngIf="!daysExpired"
                    >{{ text }} days ago</ng-container
                >
                <ng-container *ngIf="daysExpired">
                    <div class="progress-text-title">
                        <span>{{ text }} {{ daysPluralization }} over</span>
                        <span>{{ daysToPay }} days</span>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="type === 'miles'">
                {{ text | thousandToShortFormatPipe }}
                mi over
            </ng-container>

            <ng-container *ngIf="type === 'credit'">
                {{ text }}
            </ng-container>
        </span>
    </ng-container>
    <ng-container *ngIf="text === '/'">
        <span> / </span>
    </ng-container>
</div>

<!-- MILES PROGRESS POPOVER -->
<ng-template #milesProgressPopover>
    <div
        class="progress-dropdown"
        [ngClass]="{ 'credit-dropdown': type === 'credit' }"
    >
        <div class="progress-header">
            <div class="progress-title">
                <ng-container
                    *ngIf="progressDropdownData.column.expirationMilesText"
                >
                    {{
                        progressDropdownData.column.expirationMiles
                            ? progressDropdownData.column.expirationMilesText
                            : 0
                    }}

                    <ng-container *ngIf="percents && percents <= 100">
                        <span> mi to go</span>
                    </ng-container>

                    <ng-container *ngIf="!percents">
                        <span> mi over</span>
                    </ng-container>
                </ng-container>
                <ng-container
                    *ngIf="progressDropdownData.column.expirationDaysText"
                >
                    {{
                        progressDropdownData.column.expirationDays
                            ? progressDropdownData.column.expirationDaysText
                            : 0
                    }}
                    <ng-container *ngIf="percents && percents < 100">
                        <span> days left</span>
                    </ng-container>

                    <ng-container *ngIf="!percents">
                        <span> days ago</span>
                    </ng-container>
                </ng-container>
                <ng-container
                    *ngIf="progressDropdownData.column.expirationCreditText"
                >
                    {{
                        progressDropdownData.column.expirationCredit
                            ? progressDropdownData.column.expirationCreditText
                            : 0
                    }}
                </ng-container>
            </div>
            <div class="progress-total">
                {{ progressDropdownData.column.totalValueText }}
            </div>
        </div>
        <div
            class="table-progress-bar-container"
            [ngClass]="{
                'bg-expired-container': !percents,
                'bg-sliver-container': percents >= 50 && percents < 100,
                'bg-orange-container': percents >= 20 && percents < 50,
                'bg-danger-container': percents > 0 && percents < 20,
                'bg-inactive-container': percents === 100,
            }"
        >
            <div
                [ngClass]="{
                    'bg-progress-sliver': percents >= 50 && percents <= 100,
                    'bg-progress-orange': percents >= 20 && percents < 50,
                    'bg-progress-danger': percents > 0 && percents < 20,
                }"
                [ngStyle]="{
                    width: percents + '%',
                }"
                class="table-progress-bar bg-progress-danger"
            ></div>
        </div>
        <div class="progress-dropdown-body">
            <ng-container *ngIf="type === 'days' || type === 'miles'">
                <div
                    class="progress-dual-info-container d-flex align-items-center"
                >
                    <div class="progress-info-container">
                        <div class="progress-info-title">Last Serviced</div>
                        <div class="progress-info-text text-color-white">
                            {{
                                progressDropdownData.column?.serviceData?.date
                                    ? (progressDropdownData.column.serviceData
                                          .date | date: 'MM/dd/yy')
                                    : '/'
                            }}
                        </div>
                    </div>
                    <div class="progress-info-container">
                        <div class="progress-info-title">Odometer</div>
                        <div class="progress-info-text text-color-white">
                            {{
                                progressDropdownData.column?.serviceData
                                    ?.odometer
                                    ? (progressDropdownData.column?.serviceData
                                          ?.odometer | thousandSeparator)
                                    : '/'
                            }}
                        </div>
                    </div>
                </div>
                <div class="progress-info-container">
                    <div class="progress-info-title">Repair Shop</div>
                    <div class="progress-info-text text-color-white">
                        {{
                            progressDropdownData.column?.serviceData?.repairShop
                                ?.name ?? '/'
                        }}
                    </div>
                    <div class="text-size-14 text-color-grey progress-address">
                        {{
                            progressDropdownData.column?.serviceData?.repairShop
                                ?.address?.address ?? '/'
                        }}
                    </div>
                </div>
                <div
                    class="progress-dual-info-container d-flex align-items-center"
                >
                    <div class="progress-info-container">
                        <div class="progress-info-title">Invoice</div>
                        <div class="progress-info-text text-color-white">
                            {{
                                progressDropdownData.column?.serviceData
                                    ?.invoice ?? '/'
                            }}
                        </div>
                    </div>
                    <div class="progress-info-container">
                        <div class="progress-info-title">Cost</div>
                        <div class="progress-info-text text-color-white">
                            {{
                                progressDropdownData.column?.serviceData?.total
                                    ? (progressDropdownData.column.serviceData
                                          .total | formatCurrency)
                                    : '/'
                            }}
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="type === 'credit'">
                <div
                    class="progress-dual-info-container d-flex align-items-center"
                >
                    <div class="progress-info-container">
                        <div class="progress-info-title">Total Credit</div>
                        <div class="progress-info-text text-color-white">
                            {{
                                progressDropdownData.row.creditLimit
                                    ? (progressDropdownData.row.creditLimit
                                      | formatCurrency)
                                    : '/'
                            }}
                        </div>
                    </div>
                    <div class="progress-info-container">
                        <div class="progress-info-title">Pay Term</div>
                        <div class="progress-info-text text-color-white">
                            {{ progressDropdownData.row.payTerm?.name ?? '/' }}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>
