<div
    class="progress-bar-parent d-flex align-items-center"
    #ngbProgress="ngbPopover"
    [autoClose]="true"
    [ngbPopover]="milesProgressPopover"
    [placement]="'bottom-left bottom-right'"
    container="body"
    popoverClass="table-progress-popover"
    triggers="manual"
    (hidden)="progressDropdownActive = -1"
    (click)="
        data[columnField]?.expirationDaysText ||
        data[columnField]?.expirationMilesText
            ? toggleProgressDropdown(ngbProgress)
            : {}
    "
>
    <ng-container *ngIf="text !== '/'">
        <div class="progress-bar-holder">
            <div
                class="progress-child-back"
                [ngClass]="{
                    expired: percents === 0,
                    'back-gray': percents > 50,
                    'back-yellow': percents > 20 && percents <= 50,
                    'back-red': percents <= 20 && percents > 0 && text !== '/'
                }"
            ></div>
            <div
                class="progress-child-front"
                [ngClass]="{
                    'front-gray': percents > 50,
                    'front-yellow': percents > 20 && percents <= 50,
                    'front-red': percents <= 20
                }"
                [style.width.%]="percents"
            ></div>
        </div>
    </ng-container>
    <!-- In (days) of or ago (days) dispaly text bassed on expired or it will expire -->

    <ng-container *ngIf="percents">
        <span class="progress-text" [class.table-progress-text]="isTable">
            <ng-container *ngIf="type === 'days'">
                in
                {{ text }}
                days
            </ng-container>

            <ng-container *ngIf="type === 'miles'">
                {{ text | thousandToShortFormatPipe }}
                mi to go
            </ng-container>
        </span>
    </ng-container>
    <ng-container *ngIf="percents === 0 && percents !== null">
        <span
            class="progress-text ta-font-semi-bold"
            [class.table-progress-text]="isTable"
        >
            <ng-container *ngIf="type === 'days'">
                {{ text }}
                days ago
            </ng-container>

            <ng-container *ngIf="type === 'miles'">
                {{ text | thousandToShortFormatPipe }}
                mi over
            </ng-container>
        </span>
    </ng-container>
    <ng-container *ngIf="text === '/'">
        <span> / </span>
    </ng-container>
</div>

<!-- MILES PROGRESS POPOVER -->
<ng-template #milesProgressPopover>
    <div class="progress-dropdown">
        <div class="progress-header">
            <div class="progress-title">
                <ng-container
                    *ngIf="progressDropdownData.column.expirationMilesText"
                >
                    {{
                        progressDropdownData.column.expirationMiles
                            ? progressDropdownData.column.expirationMilesText
                            : 0
                    }}

                    <ng-container
                        *ngIf="
                            progressDropdownData.column.percentage &&
                            progressDropdownData.column.percentage <= 100
                        "
                    >
                        <span> mi to go</span>
                    </ng-container>

                    <ng-container
                        *ngIf="!progressDropdownData.column.percentage"
                    >
                        <span> mi over</span>
                    </ng-container>
                </ng-container>
                <ng-container
                    *ngIf="progressDropdownData.column.expirationDaysText"
                >
                    {{
                        progressDropdownData.column.expirationDays
                            ? progressDropdownData.column.expirationDaysText
                            : 0
                    }}
                    <ng-container
                        *ngIf="
                            progressDropdownData.column.percentage &&
                            progressDropdownData.column.percentage < 100
                        "
                    >
                        <span> days left</span>
                    </ng-container>

                    <ng-container
                        *ngIf="!progressDropdownData.column.percentage"
                    >
                        <span> days ago</span>
                    </ng-container>
                </ng-container>
            </div>
            <div class="progress-total">
                {{ progressDropdownData.column.totalValueText }}
            </div>
        </div>
        <div
            class="table-progress-bar-container"
            [ngClass]="{
                'bg-expired-container': !progressDropdownData.column.percentage,
                'bg-sliver-container':
                    progressDropdownData.column.percentage >= 50 &&
                    progressDropdownData.column.percentage < 100,
                'bg-orange-container':
                    progressDropdownData.column.percentage >= 20 &&
                    progressDropdownData.column.percentage < 50,
                'bg-danger-container':
                    progressDropdownData.column.percentage > 0 &&
                    progressDropdownData.column.percentage < 20,
                'bg-inactive-container':
                    progressDropdownData.column.percentage === 100
            }"
        >
            <div
                [ngClass]="{
                    'bg-progress-sliver':
                        progressDropdownData.column.percentage >= 50 &&
                        progressDropdownData.column.percentage < 100,
                    'bg-progress-orange':
                        progressDropdownData.column.percentage >= 20 &&
                        progressDropdownData.column.percentage < 50,
                    'bg-progress-danger':
                        progressDropdownData.column.percentage > 0 &&
                        progressDropdownData.column.percentage < 20
                }"
                [ngStyle]="{
                    width: progressDropdownData.column.percentage + '%'
                }"
                class="table-progress-bar"
            ></div>
        </div>
        <div class="progress-dropdown-body">
            <div class="progress-dual-info-container d-flex align-items-center">
                <div class="progress-info-container">
                    <div class="progress-info-title">Last Serviced</div>
                    <div class="progress-info-text">
                        {{ progressDropdownData.row.lastService ?? 'No data' }}
                    </div>
                </div>
                <div class="progress-info-container">
                    <div class="progress-info-title">Odometer</div>
                    <div class="progress-info-text">
                        {{ progressDropdownData.row.textOdometer ?? 'No data' }}
                    </div>
                </div>
            </div>
            <div class="progress-info-container">
                <div class="progress-info-title">Repair Shop</div>
                <div class="progress-info-text">
                    {{ progressDropdownData.row.repairShop ?? 'No data' }}
                </div>
            </div>
            <div class="progress-dual-info-container d-flex align-items-center">
                <div class="progress-info-container">
                    <div class="progress-info-title">Invoice</div>
                    <div class="progress-info-text">
                        {{ progressDropdownData.row.textInv ?? 'No data' }}
                    </div>
                </div>
                <div class="progress-info-container">
                    <div class="progress-info-title">Cost</div>
                    <div class="progress-info-text">
                        {{ progressDropdownData.row.cost ?? 'No data' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
