<div class="d-flex flex-column justify-content-center stops-container">
    <!-- Header -->

    <div class="d-flex flex-column justify-content-center stops-header">
        <app-load-details-item-stops-progress-bar
            [progressData]="{
                statusType: load?.statusType,
                loadProgress: load?.loadProgress
            }"
        >
        </app-load-details-item-stops-progress-bar>
    </div>

    <!-- Main  -->

    <app-load-deatils-item-stops-main
        [stopsData]="{
            statusType: load?.statusType,
            stops: load?.stops
        }"
        [isMapDisplayed]="isMapDisplayed"
    >
    </app-load-deatils-item-stops-main>
</div>
