.card-container {
    margin-top: 11px;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
}
.color-name {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
