@import 'src/theme/variables.scss';

.psp-authorization-container {
    min-height: 100vh;
    background: $white;

    br {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }
    }

    .title {
        color: $ta-blue-5;
        font-size: 32px;
        height: 39px;
        margin-top: 4px !important;
        margin-bottom: 12px !important;

        &::-moz-selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }

        &::selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }
    }

    .subtitle {
        color: $bw6-2;
        font-size: 14px;
        height: 40px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 12px !important;

        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }
    }

    .info-container {
        width: 616px;

        p {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 12px !important;

            &::-moz-selection {
                color: $ta-black;
                background: rgb(47, 47, 47, 0.2);
            }

            &::selection {
                color: $ta-black;
                background: rgb(47, 47, 47, 0.2);
            }

            span {
                &::-moz-selection {
                    color: $ta-black;
                    background: rgb(47, 47, 47, 0.2);
                }

                &::selection {
                    color: $ta-black;
                    background: rgb(47, 47, 47, 0.2);
                }
            }

            a {
                &::-moz-selection {
                    color: $ta-blue;
                    background: rgb(83, 107, 194, 0.2);
                }

                &::selection {
                    color: $ta-blue;
                    background: rgb(83, 107, 194, 0.2);
                }
            }

            &:last-child {
                margin-top: 10px !important;
            }
        }
    }

    form {
        width: 616px;

        .confirm-container {
            margin-bottom: 22px;
        }

        h2,
        h3 {
            font-size: 14px;
            color: $bw6-2;
            line-height: 22px;
            margin-bottom: 12px !important ;

            &::-moz-selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }
        }

        .checkbox-container {
            width: 616px;
            margin: 0 auto 12px auto;

            p {
                font-size: 14px;
                line-height: 18px;
                margin-top: 5px !important;
                color: $bw6-2;

                &::-moz-selection {
                    color: $ta-black;
                    background: rgb(47, 47, 47, 0.2);
                }

                &::selection {
                    color: $ta-black;
                    background: rgb(47, 47, 47, 0.2);
                }

                &.checkbox-selected {
                    color: $ta-black-2;
                }

                a {
                    color: $ta-blue;

                    &::-moz-selection {
                        color: $ta-blue;
                        background: rgb(83, 107, 194, 0.2);
                    }

                    &::selection {
                        color: $ta-blue;
                        background: rgb(83, 107, 194, 0.2);
                    }
                }
            }
        }

        .notice-info-container {
            margin-top: 22px;

            p {
                font-size: 14px;
                line-height: 22px;

                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                span {
                    &::-moz-selection {
                        color: $bw6-2;
                        background: rgb(108, 108, 108, 0.2);
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(108, 108, 108, 0.2);
                    }
                }
            }
        }

        .signature-pad-container {
            margin: 0 auto;
            width: 616px;
            height: 215px;
            border-radius: 3px;
        }
    }
}
