<div class="container-fluid">
  <div class="row">
    <div class="login-container container-fluid d-flex justify-content-center">
      <div class="d-flex flex-column align-items-center">
        <div class="login-logo">
          <img src="../../../../../assets/img/logo/sign-in-logo.svg">
        </div>
        <div class="login-text d-flex flex-column align-items-center">
          <p><span class="color_welcome_to">Welcome to</span> Truck Assist</p>
          <p>To Sign in please enter your email and password</p>
        </div>
        <form
          [formGroup]="loginForm"
          class="d-flex flex-column align-items-center"
          id="login"
          tabindex="500"
        >
          <div class="pt-3 register-form">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div
                    [ngClass]="inputText ? 'typing' : 'not-typing'"
                    class="form-label-group input-icon email-field-wrapper {{
                      manageInputValidation(email)
                    }}"
                  >
                    <input
                      (keyup)="onEmailKeyUp($event)"
                      class="form-control input-control required email-input"
                      placeholder="Email"
                      id="email"
                      type="email"
                      autocomplete="off"
                      formControlName="email"
                      email
                      autofocus
                    />

                    <label class="required-label" for="email">Email</label>
                    <div (click)="clearEmailInput()" class="clear-button" ngbTooltip="Clear" placement="bottom-left">
                    </div>
                    <p class="m-0 required-notice invalid-length"*ngIf="loginForm.get('email').errors">{{loginForm.get('email').errors | inputError}} </p>

                    <!--<p class="required-notice" *ngIf="(email.dirty || email.touched) && email.hasError('required')">
                    Required</p>
                  <p *ngIf="email.hasError('email')" class="m-0 required-notice invalid-length">
                    Invalid</p> -->
                  </div>
                </div>
                <div class="col-12">
                  <div
                    [ngClass]="passwordText ? 'typing' : 'not-typing'"
                    class="form-label-group input-icon password-field-wrapper {{
                      manageInputValidation(password)
                    }}"
                  >
                    <input
                      (keyup)="onPasswordKeyUp($event)"
                      appInputFocus
                      class="form-control input-control required password-input"
                      formControlName="password"
                      id="password"
                      placeholder="Password"
                      type="{{ passwordType }}"
                    />
                    <div (click)="clearPasswordInput()" class="clear-button" ngbTooltip="Clear" placement="bottom-left">
                    </div>
                    <label class="required-label" for="password">Password</label>
                    <p class="required-notice"
                       *ngIf="(password.dirty || password.touched) && loginForm.get('password').hasError('required')">
                      Required</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p id="forgot-password" routerLink="/login/forgot-password">Forgot Password?</p>
          <button (click)="userLogin($event)" class="login-btn" [ngClass]="{'invalid-btn' : !loginForm.valid}"
                  type="submit">
            <p>LOG IN</p>
          </button>
          <p id="login-sign-up">
            Don't have an account?<a href="https://truckassist.io/startfreetrial">Sign Up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="copyright">
      <p>Copyright © TruckAssist {{copyrightYear}}.</p>
    </div>
  </div>
</div>
