@import 'src/theme/variables';

* {
  font-family: $main-font;
}

p {
  margin: 0;
  padding: 0;
}

.login-container {
  height: calc(100vh - 46px);
  min-height: 750px;
  background: $white;

  .login-logo {
    margin-top: 50px;

    svg-icon {
      width: 134px;
    }
  }

  .login-text {
    margin-top: 80px;

    p:first-child {
      font-size: 52px;
      line-height: 39px;
      font-weight: 900;
      color: #5673AA;
    }

    p:nth-child(2) {
      font-size: 26px;
      line-height: 24px;
      font-weight: 700;
      color: #6C6C6C;
      margin-top: 40px;
    }
  }

  .color_welcome_to {
    color: #6C6C6C;
  }

  form {
    margin-top: 40px;
    outline: none;
    max-width: 622px;
    width: 100%;
    align-items: unset !important;

    .register-form {
      .col-12 .row .col-12:last-of-type {
        .form-label-group {
          margin-bottom: 0;
        }
      }
    }

    p#forgot-password {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #889CC3;
      cursor: pointer;
      user-select: none;
      transition: $transition;
      margin: 10px auto;

      &:hover {
        font-size: 14px;
        line-height: 18px;
        color: #889CC3;
        transition: $transition;
      }
    }

    .login-btn {
      background: #F9F9F9;

      p {
        color: #91A4C7;
      }

      &:hover {
        &:not(.invalid-btn) {
          p {
            color: $white;
          }
        }
      }
    }

    button {
      max-width: 320px;
      width: 100%;
      height: 50px;
      border-radius: 3px;
      background: rgba(145, 145, 145, 0.4);
      border: none;
      outline: none;
      transition: all 0.3s ease-in-out;
      margin: 40px auto auto auto;

      p {
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: $white;
        transition: $transition;
      }

      &.invalid-btn {
        transition: 0.3s;
        background: #F9F9F9;

        p {
          color: #B7B7B7;
        }

        &:hover {
          background-color: #eeeeee;
          transition: 0.3s;
        }
      }

      &:hover {
        transition: 0.3s;
        background: #778FBB;
      }
    }

    p#login-sign-up {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $bw5;
      cursor: default;
      user-select: none;
      margin: 20px auto;
      transition: $transition;

      a {
        padding-left: 10px;
        font-weight: bold;
        color: $bw5;
        text-decoration: none;
        transition: $transition;
        opacity: 0.7;

        &:hover {
          color: $light-blue;
          opacity: 1;
          transition: $transition;
        }
      }
    }
  }
}

.copyright {
  background: $light-blue;
  height: 46px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  p {
    color: $white;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

::ng-deep .tooltip-arrow {
  &::before {
    display: none !important;
  }
}

::ng-deep .tooltip-inner {
  background-color: #fff;
  color: #919191;
  height: 17px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 600;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
}

.email-input {
  &:focus {
    outline: none !important;
  }
}

form .form-control.input-control:focus {
  color: #b7b7b7 !important;
}

form .form-control.required.ng-invalid.ng-touched:focus {
  color: #b7b7b7 !important;
}
