<div class="settings-terminal">
  <div class="settings-header">
    <div class="settings-name d-flex align-items-center">
      <app-ta-counter
        [count]="'4'"
        [countColor]="'#919191'"
        [countBackground]="'#F3F3F3'"
        [countHeight]="'24px'"
        [countWidth]="'24px'"
      ></app-ta-counter>
      <p>Terminal</p>
    </div>

    <div class="settings-header-button">
      <div class="border-left"></div>
      <svg-icon
        src="assets/svg/common/ic_plus.svg"
        class="settings-plus-button"
        (click)="onAction({ modalName: 'terminal', type: 'add' })"
      ></svg-icon>
    </div>
  </div>
  <div class="settings-body">
    <app-ta-re-card
      *ngFor="let item of terminalData; let i = index; trackBy: identityTerminalData"
      [settingsIcon]="item.companyOwned"
      [cardNameCommon]="item.name"
      [hasFooter]="false"
      [haveHeaderText]="true"
    >
      <div class="settings-body-items">
        <div *ngIf="item.phone !== ''" class="single-item">
          <svg-icon src="assets/svg/common/ic_phone.svg"></svg-icon>
          <div class="value-copy-container" [ngClass]="{ copied: terminalPhone[i] }">
            <span class="office-template-value">{{ item.phone }}</span>
            <span
              [tooltipBackground]="terminalPhone[i] ? '#536BC2' : '#6c6c6c'"
              ngbTooltip
              [mainTooltip]="terminalPhone[i] ? 'Copied' : 'Copy'"
              position="top"
              class="tooltip-copy"
              [autoClose]="false"
              (click)="copyText(item.phone , i,'terminal-phone')"
            >
              <svg-icon
                class="copy-icon small-office-icon"
                (mouseleave)="terminalPhone[i] = false"
                src="assets/svg/common/ic_copy.svg"
              ></svg-icon>
            </span>
          </div>
        </div>
        <div *ngIf="item.email !== ''" class="single-item">
          <svg-icon src="assets/svg/common/ic_email.svg"></svg-icon>
          <div class="value-copy-container" [ngClass]="{ copied: terminalEmail[i] }">
            <span class="office-template-value">{{ item.email }}</span>
            <span
              [tooltipBackground]="terminalEmail[i] ? '#536BC2' : '#6c6c6c'"
              ngbTooltip
              [mainTooltip]="terminalEmail[i] ? 'Copied' : 'Copy'"
              position="top"
              class="tooltip-copy"
              [autoClose]="false"
              (click)="copyText(item.email , i,'terminal-email')"
            >
              <svg-icon
                class="copy-icon small-office-icon"
                (mouseleave)="terminalEmail[i] = false"
                src="assets/svg/common/ic_copy.svg"
              ></svg-icon>
            </span>
          </div>
        </div>
        <div *ngIf="item.address !== ''" class="single-item">
          <svg-icon
            src="assets/svg/truckassist-table/location-icon.svg"
          ></svg-icon>
          <span>{{ item.address }}</span>
        </div>
      </div>
      <app-ta-custom-card
        *ngFor="let opt of item.options; let i = index; trackBy: identityOfficeData"
        [cardName]="opt.name"
        [isCardOpen]="true"
        [bodyTemplate]="'card'"
        [animationsDisabled]="false"
        [textBottomPossiton]="'-2px'"
      >
        <div class="parking-template-data">
          <div *ngIf="opt.phone" class="parking-template-item">
            <svg-icon src="assets/svg/common/ic_phone.svg"></svg-icon>
            <div class="value-copy-container" [ngClass]="{ copied: departmentPhone[i] }">
              <span class="parking-template-text">{{ opt.phone }}</span>
              <span
                [tooltipBackground]="departmentPhone[i] ? '#536BC2' : '#6c6c6c'"
                ngbTooltip
                [mainTooltip]="departmentPhone[i] ? 'Copied' : 'Copy'"
                position="top"
                class="tooltip-copy"
                [autoClose]="false"
                (click)="copyText(opt.phone , i,'department-phone')"
              >
                <svg-icon
                  class="copy-icon"
                  (mouseleave)="departmentPhone[i] = false"
                  src="assets/svg/common/ic_copy.svg"
                ></svg-icon>
              </span>
            </div>
          </div>
          <div class="parking-template-item">
            <div *ngIf="opt.phone_ext" class="parking-template-item">
              <svg-icon
                src="assets/svg/common/ic_phone-extension.svg"
              ></svg-icon>
              <p class="parking-template-text">{{ opt.phone_ext }}</p>
            </div>
          </div>
          <div
            *ngIf="opt.email"
            class="parking-template-item parking-template-email"
          >
            <svg-icon src="assets/svg/common/ic_email.svg"></svg-icon>

            <div class="value-copy-container" [ngClass]="{ copied: departmentEmail[i] }">
              <span class="parking-template-text">{{ opt.email }}</span>
              <span
                [tooltipBackground]="departmentEmail[i] ? '#536BC2' : '#6c6c6c'"
                ngbTooltip
                [mainTooltip]="departmentEmail[i] ? 'Copied' : 'Copy'"
                position="top"
                class="tooltip-copy"
                [autoClose]="false"
                (click)="copyText(opt.email , i,'department-email')"
              >
                <svg-icon
                  class="copy-icon"
                  (mouseleave)="departmentEmail[i] = false"
                  src="assets/svg/common/ic_copy.svg"
                ></svg-icon>
              </span>
            </div>
          </div>
          <div *ngIf="opt.parking_slot" class="parking-template-item">
            <p class="parking-template-number">{{ opt.parking_slot }}</p>
            <p class="parking-template-text">Parking Slot</p>
          </div>
          <div *ngIf="opt.parking_slot_full" class="parking-template-item">
            <p class="parking-template-number">{{ opt.parking_slot_full }}</p>
            <p class="parking-template-text">Full Parking Slot</p>
          </div>
          <div *ngIf="opt.security_camera" class="parking-template-item">
            <svg-icon
              class="parking-template-svg"
              [ngClass]="{ disabled: !opt.security_camera }"
              src="assets/svg/common/ic_security-camera.svg"
            ></svg-icon>
            <p
              class="parking-template-text"
              [ngClass]="{ 'cross-out': !opt.security_camera }"
            >
              Security Camera
            </p>
          </div>
          <div *ngIf="opt.gate" class="parking-template-item">
            <svg-icon
              class="parking-template-svg"
              [ngClass]="{ disabled: !opt.gate }"
              src="assets/svg/common/ic_security-gate.svg"
            ></svg-icon>
            <p class="parking-template-text">Gate</p>
          </div>
        </div>
      </app-ta-custom-card>
    </app-ta-re-card>
  </div>
</div>
