@import '../../settings.global.scss';
.settings-terminal {
   width: 100%;
   display: grid;
   grid-template-rows: 32px auto;
   row-gap: 12px;

   .settings-name {
      padding: 7px 4px;
   }
}
.small-office-icon {
   margin-left: 1px !important;
}
