<div class="settings-terminal">
  <div class="settings-header">
    <div class="settings-name d-flex align-items-center">
      <app-ta-counter
        [count]="'4'"
        [countColor]="'#919191'"
        [countBackground]="'#F3F3F3'"
        [countHeight]="'24px'"
        [countWidth]="'24px'"
        [countTextBottomPosition]="'-2px'"
      ></app-ta-counter>
      <p>Terminal</p>
    </div>

    <div class="settings-header-button">
      <svg-icon
        src="assets/svg/common/ic_plus.svg"
        class="settings-plus-button"
        (click)="onAction({ type: true, modalName: 'terminal', action: 'add' })"
      ></svg-icon>
    </div>
  </div>
  <div
    class="settings-body"
    *ngFor="let item of terminalData; trackBy: identityTerminalData"
  >
    <app-settings-tab-placeholder
      [name]="item.name"
      [companyOwnedSVG]="item.companyOwned"
      [phone]="item.phone"
      [email]="item.email"
      [address]="item.address"
    >
    </app-settings-tab-placeholder>

    <app-settings-card
      *ngFor="
        let term of item.options;
        let ind = index;
        trackBy: identityCardData
      "
      [cardTemplate]="'terminalTemplate'"
      [hasCard]="term.check"
      [cardName]="term.name"
      [hasLine]="
        !(ind === item.options.length - 1) &&
        !(ind === item.options.length - 2 && !item.options[ind + 1].check)
      "
      [data]="term"
    >
    </app-settings-card>
  </div>
</div>
