@import 'src/theme/variables.scss';

.step-container {
    padding-top: 22px;

    .step-title {
        color: $ta-blue;
        font-size: 32px;
        height: 39px;
        margin-bottom: 22px !important;

        &::-moz-selection {
            color: $ta-blue;
            background: rgb(83, 107, 194, 0.2);
        }

        &::selection {
            color: $ta-blue;
            background: rgb(83, 107, 194, 0.2);
        }
    }

    .step-subtitle {
        font-size: 14px;
        height: 40px;
        width: 820px;
        line-height: 22px;
        margin-bottom: 12px !important;

        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }
    }

    .group-text {
        width: 820px;

        .group-title {
            font-size: 14px;
            height: 18px;
            margin-bottom: 12px !important;

            &::-moz-selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }
        }

        p {
            font-size: 14px;
            margin-bottom: 12px !important;

            &::-moz-selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            span {
                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }
            }
        }
    }
}

.next-btn-container {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
    right: 42px;
}

.back-btn-container {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
    left: 42px;
}
