@import 'src/theme/variables.scss';
.select_company_main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    height: fit-content;
    margin: auto;
    padding-top: 200px;
    text-align: center;
    background: $bw2;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .row {
        display: flex;
        justify-content: center;
    }
    .user-avatar-container {
        width: 74px;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 22px;
        user-select: none;
    }
    .user-name {
        width: fit-content;
        font-size: 48px;
        font-weight: 700;
        margin: 0 auto 55px;
        color: $ta-black;
        margin-bottom: 12px;
        user-select: none;
    }
    .sub-text {
        width: fit-content;
        font-size: 17px;
        font-weight: 700;
        color: $ta-light-grey-2;
        font-family: Montserrat;
        margin-bottom: 32px;
        user-select: none;
    }
    .user-img {
        width: auto;
        height: 74px;
        margin-bottom: 22px;
        user-select: none;
    }
    .save-company {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 22px;
    }
    .buttons {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .select_company_main_button {
            background-color: $ta-blue-5;
            height: 62px;
            width: 420px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 700;
            color: $white;
            border-radius: 3px;
            margin-bottom: 22px;
            -webkit-user-select: none;
            user-select: none;
            cursor: pointer;
            &:hover {
                background-color: $ta-blue-9;
                transition: $transition;
            }
        }
        .logout {
            width: 180px;
            height: 42px;
            color: $ta-black;
            font-weight: 700;
            font-size: 14px;
            cursor: pointer;
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $transition;
            border-radius: 3px;
            &:hover {
                background: $bw-9;
            }
        }
    }
    .company-name {
        font-size: 21px;
        font-weight: 700;
        user-select: none;
        transform: scale(0.6);
        width: 250px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo {
        width: 250px;
        height: 80px;
        user-select: none;
        transform: scale(0.607, 0.59);
    }
    .last-login {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        user-select: none;
        transform: scale(0.6);
        bottom: 8px;
        .text {
            color: $ta-black;
            font-size: 14px;
            font-weight: 400;
        }
        .time {
            color: $ta-black;
            font-size: 14px;
            font-weight: 700;
        }
    }
    .logo-bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        svg {
            width: fit-content;
            padding: 0;
            padding-left: 28px;
        }
    }

    .carousel {
        display: flex;
        justify-content: center;
        width: 1122px;
        padding: 0;
        margin-top: 32px;

        .carousel-inner {
            display: flex;
            max-width: 1122px;

            .carousel-items-container {
                display: flex;
                align-items: center;
                min-width: 15000px;
                padding: 5px 0;

                .carousel-item,
                .carousel-company-item {
                    width: 190px !important;
                    height: 120px;
                    max-width: 190px;
                    margin: 48px 6px;
                    background: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 3px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    transform: scale(1);
                    transition: $transition;

                    .company-container {
                        transition: $transition;
                        opacity: 0.2;
                    }

                    &:hover {
                        box-shadow: $box-shadow;
                        opacity: 1;
                        transition: $transition;

                        .company-container {
                            opacity: 1;
                        }
                    }

                    &.empty {
                        pointer-events: none;
                        background: none !important;
                        box-shadow: none !important;
                    }

                    &.active {
                        box-shadow: $box-shadow;
                        margin: 5px 63px;
                        transition: $transition;
                        opacity: 1;
                        transform: scale(1.65261, 1.7167);

                        .company-container {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .carousel-arrow {
            position: absolute;
            display: block;
            height: 26px;
            width: 26px;
            line-height: 0px;
            font-size: 0px;
            cursor: pointer;
            background: transparent;
            color: transparent;
            top: 50%;
            transform: translate(0, -50%);
            padding: 0;
            border: none;
            outline: none;
            opacity: 1;

            &.disabled {
                pointer-events: none;
                &::before {
                    opacity: 0.25;
                }
            }

            &.arrow-prev {
                left: -40px;
                top: 50%;
                &::before {
                    content: url('/assets/svg/common/arrow-left-grey.svg');
                }
                &:hover {
                    &:before {
                        content: url('/assets/svg/common/arrow-filled.svg');
                        top: 0px;
                        left: 0px;
                        position: absolute;
                        rotate: 180deg;
                    }
                }
            }

            &.arrow-next {
                right: -40px;
                top: 50%;
                &::before {
                    content: url('/assets/svg/common/arrow-right-grey.svg');
                }
                &:hover {
                    &:before {
                        content: url('/assets/svg/common/arrow-filled.svg');
                        position: absolute;
                        top: 0px;
                        left: 0px;
                    }
                }
            }
        }
    }

    .carousel-dots {
        height: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        margin-bottom: 12px;

        div {
            background-color: $bw-9;
            border-radius: 10px;
            width: 16px;
            height: 8px;
            transition: $transition;
            transform: none;
            border: 0;
            margin: 0;
            padding: 0;

            &.active {
                background-color: $bw5;
                width: 32px;
            }

            &:hover {
                cursor: pointer;
                background-color: $bw5;
            }
        }
    }
}
