@import 'src/theme/variables';

.user-list-container {
    background: $white;
    border-radius: 3px;
    max-height: calc(50% - 4px);
    height: 100%;
    overflow-y: hidden !important;

    .chat-header-wrapper {
        width: 100%;

        .form-wrapper {
            flex: 1;
            width: 100%;
            margin-top: 6px;
        }

        .chat-header {
            margin-left: 6px;
            margin-right: 6px;

            .department-icon {
                padding: 0 4px;
            }
            &-type {
                color: $ta-black;
            }
        }

        .horizontal-border {
            width: auto;
            margin: 0px 2px 6px 2px;
            border-bottom: 1px solid $bw-9;
        }
    }
    .no-data-button-wrapper {
        width: 100%;
    }
    .no-data-button {
        width: 150px;
        height: 32px;
        margin: 10px 0px 0px 0px;
        font-size: 14px;
        background-color: $ta-blue-14;
        border-radius: 2px;
        color: $white;
        border: none;
    }
}

.contact-container {
    padding-bottom: 6px;
    height: 100%;

    .contact-wrapper {
        height: calc(100% - 38px);
        overflow-y: scroll !important;
        scrollbar-width: thin !important; /* Firefox */
        scrollbar-color: $ta-light-grey-6 transparent !important;
        scrollbar-width: 1px !important;

        .selected-contact {
            background-color: $ta-light-grey;
        }
        .contact {
            border-radius: 2px;
            margin-top: 2px;
            margin-left: 6px;
            margin-right: 6px;
        }
    }
}

svg-icon {
    height: 26px;
    width: 26px;
    border-radius: 3px;
    &:hover {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        background-color: $bw3;
        svg {
            path {
                fill: $ta-black;
            }
        }
    }
}
.chat-header-message-count {
    font-size: 11px;
    line-height: 18px;
    height: 18px;
    min-width: 18px;
    border-radius: 50px;
    background: $bw5;
    color: $white;
    padding: 0px 6px;
    margin: auto 5px;
}
