<div class="user-list-container">
    <div class="chat-header-wrapper">
        <div class="chat-header d-flex align-items-center">
            <div class="chat-header-type ta-font-extra-bold">
                {{ type }}
            </div>

            <div class="chat-header-message-count ta-font-extra-bold">
                {{ contactsInfo?.count }}
            </div>

            <div
                class="border-container d-flex justify-content-center align-items-center"
            >
                <div class="border"></div>
            </div>

            <ng-container *ngIf="!isSearchActive">
                <svg-icon
                    class="d-flex justify-content-center align-items-center"
                    [svgStyle]="{ 'width.px': 18, 'height.px': 17 }"
                    [src]="ChatSvgRoutes.searchIcon"
                    (click)="toggleSearch()"
                ></svg-icon>

                <div
                    class="border-container d-flex justify-content-center align-items-center"
                >
                    <div class="border"></div>
                </div>
            </ng-container>

            <div
                ngbTooltip
                mainTooltip="Online Users"
                tooltipBackground="#424242"
                position="bottom"
                class="status-icon"
            >
                <svg-icon
                    (click)="showOnlineUsers()"
                    class="d-flex justify-content-center align-items-center"
                    [svgStyle]="{ 'width.px': 18, 'height.px': 17 }"
                    [src]="ChatSvgRoutes.contactStatusIcon"
                ></svg-icon>
            </div>

            <div
                ngbTooltip
                mainTooltip="Department Filter"
                tooltipBackground="#424242"
                position="bottom"
                class="department-icon"
            >
                <svg-icon
                    (click)="filterByDepartment()"
                    class="d-flex justify-content-center align-items-center"
                    [svgStyle]="{ 'width.px': 18, 'height.px': 17 }"
                    [src]="ChatSvgRoutes.departmentIcon"
                ></svg-icon>
            </div>
        </div>
        <ng-container *ngIf="!isSearchActive; else searchBlock">
            <div class="horizontal-border"></div>
        </ng-container>
        <ng-template #searchBlock>
            <div [@fadeInOut] class="form-wrapper" [formGroup]="searchForm">
                <app-ta-input
                    formControlName="searchTerm"
                    [inputConfig]="ChatInput.userSearchInput"
                    (clear)="toggleSearch(false)"
                ></app-ta-input>
            </div>
        </ng-template>
    </div>

    <ng-container *ngIf="contactsInfo?.count; else noData">
        <div class="contact-container">
            <div class="contact-wrapper">
                <ng-container
                    *ngFor="
                        let contact of contactsInfo?.data;
                        let ind = index;
                        trackBy: trackById
                    "
                >
                    <div
                        class="contact"
                        [ngClass]="
                            contact.companyUser.id === this.selectedUserId &&
                            'selected-contact'
                        "
                    >
                        <app-chat-user-list-item
                            [contact]="contact"
                            (click)="selectUser(contact.companyUser.id)"
                        ></app-chat-user-list-item>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <ng-template #noData>
        <app-chat-no-data
            [message]="
                'There are no drivers added. To manage your drivers, you can add them manually or import them from an external source.'
            "
        >
            <div
                class="no-data-button-wrapper d-flex justify-content-center ta-font-bold"
            >
                <button class="no-data-button">Invite User</button>
            </div>
        </app-chat-no-data>
    </ng-template>
</div>
