@import 'src/theme/variables';

.user-list-container {
    width: fit-content;
    background: $white;
    border-radius: 3px;
    padding: 6px;

    .chat-header-wrapper {
        width: 100%;

        .form-wrapper {
            flex: 1;
            width: 100%;
        }
        .chat-header {
            width: 318px;
            height: 26px;
            padding: 0 6px;
            margin-bottom: 4px;

            .border-container {
                height: 34px;
                padding: 0 4px;

                .border {
                    width: 2px;
                    height: 18px;
                    border-radius: 1px;
                    background: $ta-light-grey-4;
                }
            }
            .department-icon {
                padding: 0 4px;
            }
            &-type {
                color: $ta-black;
            }

            &-message-count {
                font-size: 11px;
                line-height: 18px;
                height: 18px;
                min-width: 18px;
                border-radius: 50px;
                background: $bw5;
                color: $white;
                padding: 0px 6px;
                margin: auto 5px;
            }
        }

        .horizontal-border {
            width: auto;
            margin: 6px 2px 6px 2px;
            border-bottom: 1px solid $bw-9;
        }
    }
    .no-data-button-wrapper {
        width: 100%;
    }
    .no-data-button {
        width: 150px;
        height: 32px;
        margin: 10px 0px 0px 0px;
        font-weight: 700;
        font-size: 14px;
        background-color: $ta-blue-14;
        border-radius: 2px;
        color: $white;
        border: none;
    }
}

.contact-wrapper {
    height: calc(50vh - 92px);
    overflow-y: auto;

    .contact {
        margin-top: 2px;
    }
}

svg-icon {
    height: 26px;
    width: 26px;
    border-radius: 3px;
    &:hover {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        background-color: $bw3;
        svg {
            path {
                fill: $ta-black;
            }
        }
    }
}
