<div *ngIf="loading$ | async">
    <svg-icon
        src="assets/svg/truckassist-table/sceletons/{{
            expandTable ? 'payroll-table-collapsed.svg' : 'payroll-table.svg'
        }}"
    ></svg-icon>
</div>
<app-ca-main-table
    *ngIf="!(loading$ | async)"
    [hideFieldsToHide]="!expandTable"
    (onPressEvent)="selectPayrollReport($event)"
    [columns]="columns"
    [data$]="tableData$"
></app-ca-main-table>

<ng-template #customDriverTemplate let-data>
    <div class="driver-solo-info d-flex">
        <app-ca-profile-image
            [avatarColor]="{ background: '#DFC2F9', color: '#9E47EC66' }"
            [textShortName]="'FJ'"
            [size]="20"
            [isRound]="false" 
            [isHoverEffect]="false"
        ></app-ca-profile-image>
        <span class="driver-solo-info-text">{{ data.driver.fullName }}</span>
        <div class="payroll_count d-flex justify-content-center align-items-center">{{data.payrollCount}}</div>
    </div>
</ng-template>

<ng-template #customStatus let-data>
    <div class="custom-status-holder d-flex align-itemst-center">
        <svg-icon
            class="payment_done"
            *ngIf="data == '0'"
            src="assets/svg/common/dropdown-done-icon.svg"
        ></svg-icon>
        <svg-icon
            class="caution"
            *ngIf="data > 0"
            src="assets/svg/common/ic_feedback_mark_incorrect.svg"
        ></svg-icon>
        <div
            *ngIf="data !== 0"
            class="custom-status-text"
            [ngClass]="{ 'past-payment': data > 0 }"
        >
            {{ Math.abs(data) }} UNPAID
        </div>
        <div *ngIf="data === 0" class="custom-status-text ready-payment">
            ALL PAID
        </div>
    </div>
</ng-template>

<ng-template #customMileageHeader let-data>
    <div class="custom-mileage">
        {{ data }}
        <span>mi</span>
    </div>
</ng-template>