@let isListView = activeViewMode === taStringEnum.LIST;
@let isEmptyList = !this.hasResults && this.filteredResults;

@if (!hasResults) {
    <div
        class="table-empty-container"
        [ngStyle]="{
            'margin-top': isListView ? '80px' : '50px',
            width: toolbarWidth?.width,
            'max-width.px': toolbarWidth?.maxWidth,
        }"
    >
        <!-- Empty Grid Placeholder -->

        <div
            class="d-grid empty"
            [ngClass]="isListView ? 'empty-grid-list' : 'empty-grid-card'"
        >
            @for (
                emptyBox of emptyGridPlaceholder;
                let columnIndex = $index;
                track columnIndex
            ) {
                <div
                    class="empty-column"
                    [ngClass]="
                        isListView ? 'empty-column-list' : 'empty-column-card'
                    "
                ></div>
            }
        </div>

        <!-- Main -->

        <div
            class="d-flex flex-column justify-content-center align-items-center table-empty-container-main"
        >
            <svg-icon
                class="no-data-icon"
                [src]="tableEmptySvgRoutes.noDataSvgRoute"
            ></svg-icon>

            <p class="m-0 ta-font-extra-bold text-color-grey text-size-26">
                {{
                    !this.hasResults && this.filteredResults
                        ? 'No results'
                        : 'No data'
                }}
            </p>

            <div
                class="d-flex flex-column justify-content-center table-empty-container-main-inner"
            >
                <app-ca-modal-button
                    [type]="
                        !this.hasResults && this.filteredResults
                            ? eModalButtonClassType.PRIMARY_NEUTRAL
                            : eModalButtonClassType.PRIMARY_POSITIVE
                    "
                    [text]="
                        !this.hasResults && this.filteredResults
                            ? emodalButtonText.CLEAR_FILTERS
                            : eTableEmpty.ADD + btnText
                    "
                    (click)="
                        handleBtnClick(
                            !this.hasResults && this.filteredResults
                                ? eTableEmpty.CLEAR_FILTERS_CLICK
                                : eTableEmpty.ADD_CLICK
                        )
                    "
                >
                </app-ca-modal-button>

                @if (!isEmptyList) {
                    <app-ca-modal-button
                        [type]="eModalButtonClassType.PLAIN_TEXT"
                        [text]="emodalButtonText.IMPORT_LIST"
                        (click)="handleBtnClick(eTableEmpty.IMPORT_LIST_CLICK)"
                    >
                    </app-ca-modal-button>
                }
            </div>
        </div>

        <!--   <div
    class="d-flex align-items-center flex-column text-center"
>
    <h4 class="text-color-muted text-size-26 ta-font-extra-bold mb-3">
        {{ !isEmptyList ? 'No data' : 'No results' }}
    </h4>
</div> -->

        <!--  @if (!isEmptyList) {
    <ng-container *ngTemplateOutlet="actionTemplate"></ng-container>
} @else {
    <div class="d-flex align-items-center justify-content-center">
        <button class="ca-btn ca-btn-tertiary" (click)="resetFilters()">
            Clear All
        </button>
    </div>
} -->
    </div>
}
