@import 'src/theme/variables.scss';

.step-container {
  padding-top: 22px;

  .step-title {
    color: $ta-blue;
    font-size: 32px;
    height: 39px;
  }

  .step-subtitle {
    height: 18px;
    color: $bw6-2;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  .form-section {
    .past-months-violations-container {
      margin-bottom: 12px;
    }

    .not-been-convicted-container {
      margin-bottom: 22px;

      p {
        font-size: 12px;
        margin-left: -80px !important;
        cursor: pointer;
      }
    }

    .license-view-container {
      width: 616px;
      margin-bottom: 12px;

      .title-container {
        width: 100%;
        margin-bottom: 6px;
        padding-left: 6px;

        .license-title-box,
        .state-title-box,
        .class-title-box,
        .date-title-box {
          p {
            color: $bw5;
            font-size: 12px;

            span {
              color: $progress-danger;
            }
          }

          &.license-title-box {
            width: 84px;
            margin-right: 116px;
          }

          &.state-title-box {
            width: 57px;
            margin-right: 55px;
          }

          &.class-title-box {
            width: 59px;
            margin-right: 53px;
          }

          &.date-title-box {
            width: 84px;
          }
        }
      }

      .license-info-container {
        width: 100%;
        height: 26px;
        padding: 4px 6px;
        background-color: $ta-light-grey-4;
        border-radius: 2px;
        margin-bottom: 2px;
        text-transform: uppercase;
        color: $bw6-2;
        font-size: 14px;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          background: $bw2;
          color: $ta-light-grey-3;
        }

        &:hover .btn-container {
          opacity: 1;
          visibility: visible !important;
        }

        .license-box,
        .state-box,
        .class-box,
        .date-box {
          &.license-box {
            width: 182px;
            margin-right: 12px;
          }

          &.state-box {
            width: 100px;
            margin-right: 12px;
            padding-left: 6px;
          }

          &.class-box {
            width: 100px;
            margin-right: 12px;
            padding-left: 6px;
          }

          &.date-box {
            width: 136px;
            margin-right: 8px;
            padding-left: 6px;
          }
        }

        .btn-container {
          width: 42px;
          visibility: hidden !important;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;

          .edit-icon,
          .delete-icon {
            cursor: pointer;

            &:hover {
              svg {
                path {
                  transition: fill 0.2s ease-in-out;
                  fill: $bw6-2;
                }
              }
            }

            svg {
              path {
                fill: $bw4;
              }
            }
          }

          .edit-icon {
            margin-right: 6px;
          }
        }
      }
    }

    .only-license-container {
      margin-bottom: 32px;

      .ta-checkbox-label {
        font-size: 12px !important;
        font-weight: bold !important;
      }
    }

    .violations-view-container {
      width: 616px;
      margin-bottom: 32px;

      .title-container {
        width: 100%;
        margin-bottom: 6px;
        padding-left: 36px;

        .date-title-box,
        .vehicle-title-box,
        .location-title-box,
        .description-title-box {
          p {
            color: $bw5;
            font-size: 12px;

            span {
              color: $progress-danger;
            }
          }

          &.date-title-box {
            width: 43px;
            margin-right: 39px;
          }

          &.vehicle-title-box {
            width: 99px;
            margin-right: 48px;
          }

          &.location-title-box {
            width: 75px;
            margin-right: 72px;
          }

          &.description-title-box {
            width: 191px;
          }
        }
      }

      .violation-info-container {
        width: 100%;
        height: 26px;
        margin-bottom: 2px;
        padding: 4px 6px;
        border-radius: 2px;
        background: $bw1;
        color: $bw6-2;
        transition: color 0.2s ease-in-out, background 0.2s ease-in-out;

        &:hover {
          background: $bw2;
          color: $ta-light-grey-3;
        }

        &:hover > .date-box > .icon-box > .date-icon,
        &:hover > .location-box > .icon-box > .location-icon {
          svg {
            path {
              fill: $ta-light-blue !important;
            }
          }
        }

        &:hover > .btn-container {
          visibility: visible !important;
          opacity: 1 !important;
        }

        .date-box,
        .vehicle-box,
        .location-box,
        .description-box {
          &.date-box {
            margin-right: 27px;

            .icon-box {
              width: 18px;
              height: 18px;

              .date-icon {
                svg {
                  path {
                    fill: $ta-blue-3;
                  }
                }
              }
            }
          }

          &.vehicle-box {
            width: 73px;
            margin-right: 43px;
          }

          &.location-box {
            width: 159px;
            margin-right: 18px;

            .icon-box {
              width: 18px;
              height: 18px;

              .location-icon {
                svg {
                  path {
                    fill: $ta-blue-3;
                  }
                }
              }
            }
          }

          &.description-box {
            width: 153px;
          }

          .pipe-border {
            margin-left: 6px;
            margin-right: 6px;
            height: 14px;
            width: 1px;
            background-color: $ta-light-grey;
          }

          p {
            font-size: 14px;
            color: $bw6-2;
          }
        }

        .btn-container {
          width: 42px;
          padding-left: 10px;
          visibility: hidden !important;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;

          .edit-icon,
          .delete-icon {
            cursor: pointer;

            &:hover {
              svg {
                path {
                  transition: fill 0.2s ease-in-out;
                  fill: $bw6-2;
                }
              }
            }

            svg {
              path {
                fill: $bw4;
              }
            }
          }

          .edit-icon {
            margin-right: 6px;
          }
        }
      }
    }

    .group {
      margin-bottom: 32px;
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    .date-group {
      width: 145px;
    }

    .truck-type-group {
      width: 192px;
    }

    .location-group {
      width: 255px;
    }

    .description-group {
      width: 616px;
      margin-bottom: 22px;
    }

    .add-another-violation-container {
      margin-bottom: 22px;

      .add-btn {
        height: 26px;
        padding: 4px 8px;
        border: none;
        outline: none;
        font-size: 14px;
        border-radius: 2px;
        color: $ta-blue;
        background: $ta-gray-01;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          color: $white;
          background: $ta-blue;
        }

        &:hover .plus-icon {
          svg {
            path {
              fill: $white;
            }
          }
        }

        &.disabled {
          -webkit-user-select: none !important;
          -moz-user-select: none !important;
          -ms-user-select: none !important;
          user-select: none !important;

          cursor: auto;
          background: $ta-light-grey-4;
          color: $bw4;

          .plus-icon {
            svg {
              path {
                fill: $ta-light-grey-6;
              }
            }
          }

          &:hover {
            background: $ta-light-grey-4 !important;
            color: $bw4 !important;
          }
        }

        .plus-icon {
          margin-right: 6px;

          svg {
            path {
              transition: fill 0.2s ease-in-out;
              fill: $ta-light-blue;
            }
          }
        }
      }

      .cancel-btn {
        width: 150px;
        height: 32px;
        margin-right: 22px;
        color: $bw5;
        background: $ta-light-grey-4;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out !important;

        &:hover {
          background: $bw6-2;
          color: $white;
        }
      }

      .save-btn {
        width: 150px;
        height: 32px;
        color: $white;
        background: $ta-light-blue;

        &:hover {
          background-color: $ta-blue;
        }
      }
    }

    .certify-container {
      margin: 0 auto;
      width: 600px;

      .ta-checkbox-label {
        font-size: 12px !important;
        font-weight: bold !important;
      }

      p {
        font-size: 12px;
        margin-left: -6px !important;
        cursor: pointer;
      }
    }
  }
}

.next-btn-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  right: 42px;
}

.back-btn-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  left: 42px;
}
