@import 'src/theme/variables';

.forgot-password-container {
    background-color: $white;
    min-height: 100vh;

    .forgot-password-text {
        margin-top: 120px;

        h1 {
            width: 478px;
            height: 63px;
            font-size: 52px;
            font-weight: 800;
            color: $bw6-2;
            margin-bottom: 40px;

            span {
                color: $light-blue;
            }
        }

        h2 {
            width: 796px;
            height: 64px;
            font-size: 26px;
            font-weight: 600;
            color: $bw6-2;
            line-height: 32px;
            margin-bottom: 55px;
        }
    }

    .email-group {
        width: 622px;
        margin-bottom: 12px;
    }

    .back-btn {
        font-size: 14px;
        font-weight: 400;
        color: #889cc3;
        border: none;
        outline: none;
        background-color: transparent;
        margin-bottom: 40px;
    }

    .send-btn {
        width: 320px;
        margin: 0 auto;
        height: 50px;
        border-radius: 3px;
        background-color: $light-blue;
        border: none;
        outline: none;
        transition: 0.3s;

        &.disabled {
            pointer-events: none !important;
            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;
        }

        &:hover {
            transition: 0.3s;
            background: $light-blue;
        }

        p {
            font-weight: 600;
            font-size: 14px;
            height: 18px;
            color: $white;
            margin: 0;
        }
    }

    .copyright {
        width: 100%;
        height: 42px;
        position: fixed;
        bottom: 0;
        background: $light-blue;
        text-align: center;

        p {
            margin: 0;
            color: $white;
            font-size: 14px;
            height: 18px;
        }
    }
}

/* .container-fluid.forgot-password-container {
  background: $white;
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    padding: 0;
    margin: 0;
  }

  .forgot-password-wrapper {
    min-height: calc(100vh - 46px);

    .forgot-password {
      max-width: 574px;

      &-icon {
        margin-top: 50px;
      }

      &-text {
        margin-top: 80px;
        margin-bottom: 40px;
        text-align: center;

        p {
          color: $light-blue;
          font-size: 20px;
          line-height: 24px;
          margin: 0;
          padding: 0;
          font-weight: 300;

          &:first-of-type {
            color: $light-blue;
            font-size: 32px;
            line-height: 39px;
            font-weight: 700;
          }
        }

        span {
          color: $bw6-2;
        }
      }

      .container_forgot {
        width: 479px;
        height: 63px;
        font-size: 52px;
        font-weight: 900;
        color: $light-blue;
        margin: auto;
      }

      .text_container {
        width: 796px;
        height: 64px;
        color: $bw6-2;
        font-size: 26px;
        font-weight: 700;
        margin: 40px auto 55px;
      }

      .back_to_text {
        font-size: 14px;
        font-weight: 400;
        color: #889cc3;
        cursor: pointer;
      }

      &-form {
        max-width: 456px;
        width: 100%;

        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .form-label-group {
            width: 100%;
          }

          p {
            transition: $transition;
            cursor: pointer;

            &:hover {
              transition: $transition;
            }
          }

          .login-btn {
            background: $bw1;

            p {
              color: $ceil-blue;
            }

            &:hover {
              &:not(.invalid-btn) {
                p {
                  color: $white;
                }
              }
            }
          }

          button {
            max-width: 320px;
            width: 100%;
            height: 50px;
            border-radius: 3px;

            background: rgba(145, 145, 145, 0.4);
            border: none;
            outline: none;
            transition: all 0.3s ease-in-out;
            margin: 40px auto auto auto;

            p {
              font-weight: bold;
              font-size: 14px;
              line-height: 14px;
              color: $white;
              transition: $transition;
            }

            &.invalid-btn {
              transition: 0.3s;
              background: $bw1;

              p {
                color: $bw4;
              }

              &:hover {
                background-color: $bw2;
                transition: 0.3s;
              }
            }

            &:hover {
              transition: 0.3s;
              background: $cerulean-frost;
            }
          }
        }

        p#another-email {
          margin: 22px 0;
          text-align: center;
          font-size: 14px;
          line-height: 18px;
          color: $bw5;

          span {
            color: rgba(145, 145, 145, 0.7);
            cursor: pointer;
            font-weight: 700;
            transition: $transition;

            &:hover {
              color: $light-blue;
              transition: $transition;
            }
          }
        }
      }
    }
  }

  .background_transparent {
    background: $white;
  }

  .check-email {
    min-height: calc(100vh - 46px);

    svg-icon {
      max-width: 385px;
    }

    p {
      padding: 0;
      margin: 0;
    }

    p:first-of-type {
      font-weight: 900;
      font-size: 52px;
      line-height: 39px;
      color: $light-blue;
    }

    span {
      color: $bw6-2;
    }

    p:nth-of-type(2) {
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: $muted;
    }
  }

  .email_text {
    width: 824px;
    height: 64px;
    font-size: 26px;
    font-weight: 700;
    color: $bw6-2;
    text-align: center;
    margin: 28px auto auto;

    .span_text_color {
      color: $light-blue;
    }
  }

  .paragraph_text {
    width: 510px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    color: $bw6-2;
    text-align: center;
    margin: 14px auto 25px;
  }

  .copyright {
    background: $light-blue;
    height: 46px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    p {
      color: $white;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      margin: 0;
      padding: 0;
    }
  }
}
 */
