<div class="modal-upload-carousel {{ customClass }}">
  <div class="ta-upload-files-carousel">
    <div
      class="carousel-slider"
      [ngClass]="{
        'multiple-slider': ['modal-medium', 'modal-large'].includes(
          this.customClass.toLowerCase()
        )
      }"
      [ngStyle]="{ transform: 'translateX(' + translateXMultipleSlides + 'px)' }"
    >
      <ng-content></ng-content>
    </div>
  </div>
  
  <!-- Carousel Buttons Left & Right -->
  <div
    class="ta-upload-carousel-control-bg prev"
    [hidden]="
      (filesLength < 2 && customClass === 'modal-small') ||
      (filesLength < 3 && customClass === 'modal-medium') ||
      (filesLength < 4 && customClass === 'modal-large')
    "
    (click)="onAction('prev')"
  >
    <svg-icon
      class="ta-upload-files-control"
      src="assets/svg/common/arrow-left.svg"
    ></svg-icon>
  </div>
  <div
    class="ta-upload-carousel-control-bg next"
    [hidden]="
      (filesLength < 2 && customClass === 'modal-small') ||
      (filesLength < 3 && customClass === 'modal-medium') ||
      (filesLength < 4 && customClass === 'modal-large')
    "
    (click)="onAction('next')"
  >
    <svg-icon
      class="ta-upload-files-control ta-upload-files-carousel-right"
      src="assets/svg/common/arrow-left.svg"
    ></svg-icon>
  </div>
</div>

