.modal-upload-carousel {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 194px;

  .ta-upload-files-carousel {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 194px;
    overflow: hidden;
    border-radius: 3px;

    .carousel-slider {
      position: relative;
      transform: translateX(0);
      transition: all 0.5s ease-in-out;
      display: flex;

      &.multiple-slider {
        gap: 12px;
      }
    }
  }

  .ta-upload-carousel-control-bg {
    position: absolute;
    top: 32%;
    cursor: pointer;
    height: 32px;
    width: 24px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 0 2px rgb(0 0 0 / 60%);
    padding-top: 3px;
    display: none;
    transform: translate(-5%, 22%);

    &.prev {
      left: -4px;
      padding-right: 1px;
    }

    &.next {
      left: 90%;
      padding-left: 1px;
    }

    .ta-upload-files-control {
      width: 18px;
      height: 18px;
      line-height: 18px;
      svg {
        width: 18px;
        height: 18px;
        line-height: 18px;
        path {
          fill: #aaaaaa;
        }
      }
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      background: rgb(255, 255, 255, 1);
    }
  }

  &:hover {
    transition: all 0.3s ease-in-out;
    .ta-upload-carousel-control-bg {
      display: block;
    }
  }

  &.modal-medium {
    .ta-upload-carousel-control-bg {
      &.next {
        left: 95%;
      }
    }
  }

  &.modal-large {
    .ta-upload-carousel-control-bg {
      &.next {
        left: 510px;
      }
    }
  }
}
.ta-upload-files-carousel-right{
  svg{
    transform: translate(180deg);
  }
}