@import 'src/theme/variables';

.ta-resizer {
    &-container {
        &-load-list {
            height: 460px;
        }

        &-icon {
            background: $white;
            height: 16px;
            width: 16px;
            top: 0;
            left: 50%;
            box-shadow: 0px 0px 4px 0px $ta-border-grey;

            svg {
                height: 12px;
            }

            path {
                fill: $bw-9;
                transition: fill 0.3s;
            }
        }
    }

    &-handle {
        height: 10px;

        &.resize-cursor {
            cursor: row-resize;
        }

        &:before {
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: calc(50% + 3px);
            height: 1px;
            background-color: $bw-9;
            transition: background-color 0.3s;
        }

        &:hover {
            svg path {
                fill: $muted;
            }
            &:before {
                background-color: $bw-9;
            }
        }

        &-focus {
            svg path {
                fill: $ta-black;
            }
            &:before {
                background-color: $ta-light-grey-2;
            }
        }
    }
}

.overflow-hidden {
    transition: all 0.3s;
}