<div class="details-component">
  <div [ngSwitch]="trailer.template">
    <!---------------------- GENERAL TEMPLATE ------------------>
    <div *ngSwitchCase="'general'">
      <app-trailer-details-card [trailer]="trailer.data">
      </app-trailer-details-card>
    </div>
    <!---------------------------- Registration TEMPLATE ----------------------------->
    <div *ngSwitchCase="'registration'">
      <div
        *ngFor="
          let reg of trailer.data.registrations;
          let i = index;
          trackBy: identity
        "
      >
        <app-ta-re-card
          [cardDocumentCounter]="1"
          (resizePage)="toggleResizePage(i)"
          [cardNameCommon]="reg.licensePlate"
          [hasCopyIcon]="true"
          [options]="dataTest"
          [expDateClose]="reg.expDate | formatDateP"
          [optionsId]="reg.id"
          (dropActions)="optionsEvent($event, 'edit-registration')"
        >
          <div class="cards-container">
            <div class="card-body-cdl">
              <div class="card-row-endor">
                <div class="card-item">
                  <div class="card-item-name">State</div>
                  <div class="card-item-value">KV</div>
                </div>
                <div class="card-item">
                  <div class="card-item-name">Issued</div>
                  <div class="card-item-value">
                    {{ reg.issueDate | formatDateP }}
                  </div>
                </div>
              </div>
              <div
                class="card-row-progress"
                [ngClass]="{ 'second-progress': toggler[i] }"
              >
                <div class="card-details-progress-container">
                  <app-truckassist-progress-expiration
                    [expireDate]="reg.expDate | formatDateP"
                    [startDate]="reg.issueDate | formatDateP"
                    [expiresSettings]="'details'"
                  >
                  </app-truckassist-progress-expiration>
                </div>
              </div>
            </div>
            <div [@showHideCardBody]="toggler[i] ? 'true' : 'false'">
              <div class="divider"></div>
              <div class="card-note">
                <app-ta-input-note
                  [formControl]="registrationNote"
                  [isVisibleDivider]="false"
                  [isVisibleSecondDivider]="false"
                  [placeholder]="'Write something.'"
                  [customClass]="'note-small'"
                  [isVisibleArrow]="false"
                  [minRows]="1"
                  [isVisibleNote]="true"
                ></app-ta-input-note>
              </div>
            </div>
          </div>
        </app-ta-re-card>
      </div>
    </div>
    <!---------------------------- Fhwa-insepction TEMPLATE ----------------------------->
    <div *ngSwitchCase="'fhwa-insepction'">
      <div
        *ngFor="
          let fhwa of trailer.data.inspections;
          let i = index;
          trackBy: identity
        "
      >
        <app-ta-re-card
          [options]="dataTest"
          [cardNameCommon]="fhwa.issueDate | formatDateP"
          [optionsId]="fhwa.id"
          [cardDocumentCounter]="1"
          (resizePage)="toggleResizePage(i)"
          [expDateClose]="fhwa.issueDate | setFutureYear"
          (dropActions)="optionsEvent($event, 'edit-inspection')"
        >
          <div class="cards-container">
            <div class="card-body-cdl">
              <div
                class="card-row-progress"
                [ngClass]="{ 'second-progress': toggler[i] }"
              >
                <div class="card-details-progress-container">
                  <app-truckassist-progress-expiration
                    [expireDate]="fhwa.issueDate | setFutureYear"
                    [startDate]="fhwa.issueDate | formatDateP"
                    [expiresSettings]="'details'"
                  >
                  </app-truckassist-progress-expiration>
                </div>
              </div>
            </div>
            <div [@showHideCardBody]="toggler[i] ? 'true' : 'false'">
              <div class="divider"></div>
              <div class="card-note">
                <app-ta-input-note
                  [formControl]="registrationNote"
                  [isVisibleDivider]="false"
                  [isVisibleSecondDivider]="false"
                  [placeholder]="'Write something.'"
                  [customClass]="'note-small'"
                  [isVisibleArrow]="false"
                  [minRows]="1"
                  [isVisibleNote]="true"
                ></app-ta-input-note>
              </div>
            </div>
          </div>
        </app-ta-re-card>
      </div>
    </div>

    <!---------------------------- Title TEMPLATE ----------------------------->
    <div *ngSwitchCase="'title'">
      <div
        *ngFor="
          let title of trailer.data.titles;
          let i = index;
          trackBy: identity
        "
      >
        <app-ta-re-card
          [cardDocumentCounter]="1"
          (resizePage)="toggleResizePage(i)"
          [cardNameCommon]="title.number"
          [options]="dataTest"
          [optionsId]="title.id"
          (dropActions)="optionsEvent($event, 'edit-inspection')"
        >
          <div class="cards-container">
            <div class="card-body-cdl">
              <div class="card-row-endor">
                <div class="card-item">
                  <div class="card-item-name">State</div>
                  <div class="card-item-value">KV</div>
                </div>
                <div class="card-item">
                  <div class="card-item-name">Issued</div>
                  <div class="card-item-value">
                    {{ title.issueDate | formatDateP }}
                  </div>
                </div>
              </div>
              <div
                class="card-row-progress"
                [ngClass]="{ 'second-progress': toggler[i] }"
              >
                <div class="card-details-progress-container">
                  <app-truckassist-progress-expiration
                    [expireDate]="title.issueDate | formatDateP"
                    [startDate]="title.issueDate | formatDateP"
                    [expiresSettings]="'details'"
                  >
                  </app-truckassist-progress-expiration>
                </div>
              </div>
            </div>
            <div [@showHideCardBody]="toggler[i] ? 'true' : 'false'">
              <div class="divider"></div>

              <div class="card-note">
                <app-ta-input-note
                  [formControl]="titleNote"
                  [placeholder]="'Write something.'"
                  [customClass]="'note-small'"
                  [isVisibleArrow]="false"
                  [isVisibleSecondDivider]="false"
                  [minRows]="1"
                  [isVisibleDivider]="false"
                  [isVisibleNote]="true"
                ></app-ta-input-note>
              </div>
            </div>
          </div>
        </app-ta-re-card>
      </div>
    </div>
    <!---------------------------- Lease/Purchase TEMPLATE ----------------------------->
    <div *ngSwitchCase="'lease-purchase'">
      <div class="test" style="background-color: #ffffff; height: 200px"></div>
    </div>
  </div>
</div>
