@import '../trailer-details.component.scss';
@keyframes change {
    from {
        color: #6c6c6c;
    }
    to {
        color: #3551b7;
    }
}
@keyframes changeSVG {
    from {
        fill: #6c6c6c;
    }
    to {
        fill: #3551b7;
    }
}
app-trailer-details-item {
    .owner-container {
        padding: 0 10px;
        margin-top: -4px;
        .owner-items-name {
            height: 22px;
            text-transform: uppercase;
            .firm-name {
                font-size: $font-size18;
                font-weight: $font-medium;
                color: $color-gray-dark;
                height: 19px;
                &::-moz-selection {
                    color: $color-gray-dark;
                    background: rgb(108, 108, 108, 0.2);
                }
                &::selection {
                    color: $color-gray-dark;
                    background: rgb(108, 108, 108, 0.2);
                }
            }
        }

        .icon-show {
            display: flex;
            align-items: flex-end;
            height: 18px;
            justify-content: center;
            margin-top: 10px;
            cursor: pointer;
            .arrow-down-employment {
                svg {
                    transition: all 0.2s ease;
                    path {
                        fill: #aaaaaa;
                        &:hover {
                            fill: #6c6c6c;
                        }
                    }
                }
            }
        }
        .transform-arrow {
            bottom: 0 !important;
            svg {
                transform: rotate(180deg);
                transition: all 0.2s ease;
                path {
                    fill: #536bc2 !important;
                }
            }
            .icon-show {
                justify-content: center !important;
                margin-top: 0 !important;
            }
        }
    }
    .owner-history-container {
        padding: 0 4px;
        .status-container {
            padding-top: 0 !important;
        }
        .status-header {
            padding: 0 6px;
            margin-bottom: 6px;
        }
        .status-items {
            // padding: 0 6px;
            margin-top: 8px;
            &:last-child {
                .divider {
                    visibility: hidden;
                }
            }
        }
        .item-wrapper {
            grid-template-columns: 122px 131px 75px !important;
            .employment {
                font-weight: $font-semibold !important;
                width: 155px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .details-document-container {
        align-items: center;
        flex-direction: column;
        margin-bottom: 13px;
        width: 100%;
        cursor: default;

        &.disabled {
            margin-bottom: 3px !important;
        }

        .icon-counter-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 3px;
            padding-left: 2px;
            padding-right: 6px;
        }
        .counter-text-wrapper {
            display: flex;
            align-items: center;
            .details-document-name {
                font-size: 14px;
                font-weight: 800;
                color: #000000;
                margin-left: 4px;
                &::-moz-selection {
                    color: $color-gray-dark;
                    background: rgb(108, 108, 108, 0.2);
                }
                &::selection {
                    color: $color-gray-dark;
                    background: rgb(108, 108, 108, 0.2);
                }
            }

            &.disabled {
                .details-document-name {
                    color: #b7b7b7;
                }
            }
        }
        svg {
            width: 18px;
            height: 18px;
            cursor: pointer;
            &:hover {
                path {
                    stroke: rgb(66, 157, 209);
                }
            }
        }
    }
    .card-note {
        padding-left: 8px;
        padding-right: 5px;
        .note-body {
            padding-left: 4px !important;
        }
        .note-textarea {
            color: #6c6c6c !important;
            margin-bottom: 0 !important;
            &::-moz-selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            span {
                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }
            }

            span[style*='color: rgb(83, 107, 194)'],
            span[style*='color: rgb(83, 107, 194)'] span {
                &::-moz-selection {
                    color: $bw6-2 !important;
                    background: rgb(83, 107, 194, 0.2) !important;
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(83, 107, 194, 0.2) !important;
                }
            }

            span[style*='color: rgb(38, 166, 144)'],
            span[style*='color: rgb(38, 166, 144)'] span {
                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(38, 166, 144, 0.2) !important;
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(38, 166, 144, 0.2) !important;
                }
            }

            span[style*='color: rgb(239, 83, 80)'],
            span[style*='color: rgb(239, 83, 80)'] span {
                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(239, 83, 80, 0.2) !important;
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(239, 83, 80, 0.2) !important;
                }
            }

            span[style*='color: rgb(255, 167, 38)'],
            span[style*='color: rgb(255, 167, 38)'] span {
                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(255, 167, 38, 0.2) !important;
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(255, 167, 38, 0.2) !important;
                }
            }

            span[style*='color: rgb(83, 107, 194)'],
            span[style*='color: rgb(83, 107, 194)'] span {
                &::-moz-selection {
                    color: $bw6-2 !important;
                    background: rgb(83, 107, 194, 0.2) !important;
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(83, 107, 194, 0.2) !important;
                }
            }

            span[style*='color: rgb(38, 166, 144)'],
            span[style*='color: rgb(38, 166, 144)'] span {
                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(38, 166, 144, 0.2) !important;
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(38, 166, 144, 0.2) !important;
                }
            }

            span[style*='color: rgb(239, 83, 80)'],
            span[style*='color: rgb(239, 83, 80)'] span {
                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(239, 83, 80, 0.2) !important;
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(239, 83, 80, 0.2) !important;
                }
            }

            span[style*='color: rgb(255, 167, 38)'],
            span[style*='color: rgb(255, 167, 38)'] span {
                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(255, 167, 38, 0.2) !important;
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(255, 167, 38, 0.2) !important;
                }
            }
        }
    }
    .card-icon {
        display: none;
        position: relative;
        margin-left: 6px;
        height: 18px;
        svg {
            &:hover {
                path {
                    fill: #6c6c6c;
                }
            }
        }
    }
    .details-header-data-item {
        &:hover {
            .card-icon {
                display: flex;
                cursor: pointer;
            }
        }
    }
}
