<div class="details-container-items">
    <ng-container
        *ngFor="let item of driverDetailsConfig; trackBy: trackByIdentity"
    >
        <app-ta-details-header
            [options]="detailsDropdownOptions"
            [optionsId]="driverId"
            [route]="'/list/driver'"
            [tooltipHeaderName]="'Back to List'"
            [headerText]="item?.name"
            [counterData]="item?.length"
            [isInactive]="isInactive"
            [hasRequest]="item?.req"
            [statusInactive]="item?.status"
            [danger]="item?.hasDanger"
            (dropActions)="onDriverActions($event)"
            (openModalAction)="onModalAction($event)"
        >
        </app-ta-details-header>
    </ng-container>

    <div class="driver-details-container">
        <app-driver-details-item
            [detailsConfig]="driverDetailsConfig"
        ></app-driver-details-item>
    </div>
</div>
