<app-ta-modal
    [modalTitle]="editData?.type !== 'edit' ? 'Invite User' : 'Edit User'"
    [editData]="editData"
    [editName]="userFullName"
    [isModalValid]="userForm.valid && isFormDirty"
    [disableDelete]="selectedUserType?.name === 'Owner'"
    [isDeactivateOnly]="editData?.isDeactivateOnly"
    (action)="onModalAction($event)"
>
    <div origin>
        <app-ta-tab-switch [tabs]="tabs" [type]="'type1-modal-popup'">
        </app-ta-tab-switch>

        <form
            [formGroup]="userForm"
            class="form-container form-container-no-mb"
        >
            <div
                class="animation-two-tabs"
                [@animationTabsModal]="animationObject"
            >
                <!-------------------------------- Basic Tab -------------------------------->
                <ng-container *ngIf="selectedTab === 1; else additionalTab">
                    <div class="m-tab">
                        <div class="row">
                            <div class="email-field">
                                <app-ca-input
                                    formControlName="email"
                                    [inputConfig]="
                                        userModalConfig.emailInputConfig(
                                            selectedUserType?.name,
                                            editData?.type
                                        )
                                    "
                                ></app-ca-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <app-ca-input
                                    formControlName="firstName"
                                    [inputConfig]="
                                        userModalConfig.firstNameInputConfig(
                                            selectedUserType?.name
                                        )
                                    "
                                ></app-ca-input>
                            </div>
                            <div class="col-6">
                                <app-ca-input
                                    formControlName="lastName"
                                    [inputConfig]="
                                        userModalConfig.lastNameInputConfig(
                                            selectedUserType?.name
                                        )
                                    "
                                ></app-ca-input>
                            </div>
                        </div>
                        <div class="row">
                            <ng-container
                                *ngIf="selectedUserType?.name !== 'Owner'"
                            >
                                <div class="col-4">
                                    <app-ta-tab-switch
                                        [tabs]="typeOfEmploye"
                                        [type]="'type2-modal-popup'"
                                        (switchClicked)="
                                            onSelectedTab($event, 'user-admin')
                                        "
                                    >
                                    </app-ta-tab-switch>
                                </div>
                            </ng-container>
                            <div
                                class="col-8"
                                [class.col-12]="
                                    selectedUserType?.name === 'Owner'
                                "
                            >
                                <app-ca-input-dropdown
                                    formControlName="departmentId"
                                    [inputConfig]="
                                        userModalConfig.departmentInputConfig(
                                            selectedUserType?.name
                                        )
                                    "
                                    [options]="departments"
                                    [activeItem]="selectedDepartment"
                                    (selectedItem)="
                                        onSelectDropdown($event, 'department')
                                    "
                                ></app-ca-input-dropdown>
                            </div>
                        </div>

                        <div
                            class="row"
                            [ngStyle]="{
                                height: '26px',
                            }"
                        >
                            <div class="col-5" [class.col-7]="!isPhoneExtExist">
                                <app-ca-input-dropdown
                                    formControlName="companyOfficeId"
                                    [inputConfig]="
                                        userModalConfig.companyOfficeInputConfig
                                    "
                                    [canAddNew]="true"
                                    [canOpenModal]="true"
                                    [options]="offices"
                                    [activeItem]="selectedOffice"
                                    (selectedItem)="
                                        onSelectDropdown($event, 'office')
                                    "
                                ></app-ca-input-dropdown>
                            </div>
                            <div
                                class="phone-ext-email-small-modal col-5"
                                [class.col-7]="isPhoneExtExist"
                                [ngClass]="{
                                    'active-phone-ext': isPhoneExtExist,
                                }"
                            >
                                <div class="phone-extension">
                                    <div class="phone-field">
                                        <app-ca-input
                                            formControlName="phone"
                                            [inputConfig]="{
                                                name: 'Phone',
                                                type: 'text',
                                                label: 'Phone',
                                                placeholderIcon: 'phone',
                                                mask: '(000) 000-0000',
                                                maxLength: 14,
                                            }"
                                        ></app-ca-input>
                                    </div>
                                    <ng-container
                                        *ngIf="
                                            !isPhoneExtExist;
                                            else phoneExtension
                                        "
                                    >
                                        <div
                                            class="extension-field"
                                            ngbTooltip
                                            mainTooltip="Add Extension"
                                            tooltipBackground="#424242"
                                            position="bottom"
                                            (click)="
                                                isPhoneExtExist =
                                                    !isPhoneExtExist
                                            "
                                        >
                                            <svg-icon
                                                [src]="
                                                    userModalSvgRoutes.addIcon
                                                "
                                            ></svg-icon>
                                        </div>
                                    </ng-container>
                                    <ng-template #phoneExtension>
                                        <app-ca-input
                                            formControlName="extensionPhone"
                                            [inputConfig]="{
                                                name: 'phone-extension',
                                                type: 'text',
                                                label: 'Ext.',
                                                minLength: 1,
                                                maxLength: 8,
                                                placeholderIcon:
                                                    'phone-extension',
                                            }"
                                        ></app-ca-input>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <ng-container
                            *ngIf="
                                editData?.type === 'edit' &&
                                selectedUserType?.name !== 'Owner'
                            "
                        >
                            <app-ta-checkbox-card
                                formControlName="resetPassword"
                                [label]="
                                    currentUserStatus === 'Invited' ||
                                    currentUserStatus === 'Expired'
                                        ? 'Resend Invitation'
                                        : 'Reset Password'
                                "
                                [name]="
                                    currentUserStatus === 'Invited' ||
                                    currentUserStatus === 'Expired'
                                        ? 'resend-invitation'
                                        : 'reset-password'
                                "
                                [isCardOpen]="false"
                                [hasArrow]="false"
                                [animationMarginParams]="{
                                    marginTop: '18px',
                                    marginBottom: '22px',
                                }"
                            ></app-ta-checkbox-card>
                        </ng-container>
                        <app-ta-custom-card
                            [cardName]="'Personal Details'"
                            [isCardOpen]="true"
                            [disableAnimation]="isCardAnimationDisabled"
                            [animationMarginParams]="{
                                marginTop: '18px',
                                marginBottom: '22px',
                            }"
                        >
                            <div class="row">
                                <div class="col-5">
                                    <app-ca-input
                                        formControlName="personalPhone"
                                        [inputConfig]="{
                                            name: 'Phone',
                                            type: 'text',
                                            label: 'Personal Phone',
                                            placeholderIcon: 'phone',
                                            mask: '(000) 000-0000',
                                            maxLength: 14,
                                        }"
                                    ></app-ca-input>
                                </div>
                                <div class="col-7">
                                    <app-ca-input
                                        formControlName="personalEmail"
                                        [inputConfig]="{
                                            name: 'Email',
                                            type: 'text',
                                            label: 'Personal Email',
                                            placeholderIcon: 'email',
                                            minLength: 5,
                                            maxLength: 64,
                                            textTransform: 'lowercase',
                                        }"
                                    ></app-ca-input>
                                </div>
                            </div>
                            <div class="row remove-bottom-margin">
                                <div class="col-10">
                                    <app-ca-input-address-dropdown
                                        formControlName="address"
                                        [inputConfig]="{
                                            name: 'Address',
                                            type: 'text',
                                            label: 'Address, City, State Zip',
                                            placeholderIcon: 'address',
                                            textTransform: 'capitalize',
                                            dropdownWidthClass: 'w-col-376',
                                            minLength: 6,
                                            maxLength: 256,
                                        }"
                                        [placeholderType]="'longAddress'"
                                        [activeAddress]="selectedAddress"
                                        [receivedAddressList]="addressList"
                                        [receivedAddressData]="addressData"
                                        (selectedAddress)="
                                            onHandleAddress($event)
                                        "
                                        (sentAddressData)="
                                            onAddressChange(
                                                $event,
                                                addressService
                                            )
                                        "
                                        (sentAddressValue)="
                                            getAddressData(
                                                $event,
                                                addressService
                                            )
                                        "
                                    ></app-ca-input-address-dropdown>
                                </div>
                                <div class="col-2">
                                    <app-ca-input
                                        formControlName="addressUnit"
                                        [inputConfig]="{
                                            name: 'address-unit',
                                            type: 'text',
                                            label: 'Unit #',
                                            textTransform: 'uppercase',
                                            minLength: 1,
                                            maxLength: 10,
                                        }"
                                    ></app-ca-input>
                                </div>
                            </div>
                        </app-ta-custom-card>
                        <app-ta-checkbox-card
                            formControlName="includeInPayroll"
                            [label]="'Include in Payroll'"
                            [name]="'include-in-payroll'"
                            [isCardOpen]="
                                userForm.get('includeInPayroll').value
                            "
                            [animationMarginParams]="{
                                marginTop: userForm.get('includeInPayroll')
                                    .value
                                    ? '18px'
                                    : '0px',
                                marginBottom: userForm.get('includeInPayroll')
                                    .value
                                    ? '22px'
                                    : '0px',
                            }"
                        >
                            <ng-container body>
                                <div class="row">
                                    <ng-container
                                        *ngIf="
                                            !selectedDepartment?.name ||
                                                selectedDepartment?.name ===
                                                    'Dispatch' ||
                                                selectedDepartment?.name ===
                                                    'Manager';
                                            else salary
                                        "
                                    >
                                        <div class="col-5">
                                            <app-ca-input-dropdown
                                                formControlName="paymentType"
                                                [inputConfig]="{
                                                    name: 'Input Dropdown',
                                                    type: 'text',
                                                    label: 'Payment Type',
                                                    textTransform: 'capitalize',
                                                    isDropdown: true,
                                                    isDisabled:
                                                        !isPaymentTypeAvailable ||
                                                        selectedUserType?.name ===
                                                            'Owner',
                                                    isRequired:
                                                        isPaymentTypeAvailable &&
                                                        selectedUserType?.name !==
                                                            'Owner',
                                                    dropdownWidthClass:
                                                        'w-col-177',
                                                }"
                                                [options]="paymentOptions"
                                                [activeItem]="selectedPayment"
                                                (selectedItem)="
                                                    onSelectDropdown(
                                                        $event,
                                                        'payment'
                                                    )
                                                "
                                            ></app-ca-input-dropdown>
                                        </div>
                                    </ng-container>
                                    <ng-template #salary>
                                        <div class="col-5">
                                            <app-ca-input
                                                formControlName="salary"
                                                [inputConfig]="{
                                                    name: 'Salary',
                                                    type: 'text',
                                                    label: 'Salary',
                                                    isRequired: true,
                                                    placeholderIcon: 'dollar',
                                                    thousandSeparator: true,
                                                    minLength: 4,
                                                    maxLength: 8,
                                                }"
                                            ></app-ca-input>
                                        </div>
                                    </ng-template>
                                    <div class="col-4">
                                        <ca-input-datetime-picker
                                            formControlName="startDate"
                                            [inputConfig]="{
                                                name: 'datepicker',
                                                type: 'text',
                                                label: 'Start Date',
                                                isDropdown: true,
                                                placeholderIcon: 'date',
                                                isRequired: true,
                                                customClass: 'datetimeclass',
                                            }"
                                        ></ca-input-datetime-picker>
                                    </div>
                                    <div class="col-3 no-p-left">
                                        <app-ta-tab-switch
                                            [tabs]="typeOfPayroll"
                                            [type]="'type2-modal-popup'"
                                            (switchClicked)="
                                                onSelectedTab($event, '1099-w2')
                                            "
                                        >
                                        </app-ta-tab-switch>
                                    </div>
                                </div>
                                <ng-container
                                    *ngIf="
                                        selectedDepartment?.name &&
                                        (selectedDepartment?.name ===
                                            'Dispatch' ||
                                            selectedDepartment?.name ===
                                                'Manager')
                                    "
                                >
                                    <div class="row">
                                        <ng-container
                                            *ngIf="allowPairCommissionBase"
                                        >
                                            <div class="col-6">
                                                <app-ca-input
                                                    formControlName="base"
                                                    [inputConfig]="{
                                                        name: 'Salary',
                                                        type: 'text',
                                                        label: 'Base',
                                                        isRequired: true,
                                                        placeholderIcon:
                                                            'dollar',
                                                        thousandSeparator: true,
                                                        minLength: 4,
                                                        maxLength: 8,
                                                    }"
                                                ></app-ca-input>
                                            </div>
                                        </ng-container>
                                        <div
                                            [ngClass]="
                                                allowPairCommissionBase
                                                    ? 'col-6'
                                                    : 'col-12'
                                            "
                                        >
                                            <ng-container
                                                *ngIf="
                                                    !allowOnlyCommission &&
                                                        !allowPairCommissionBase;
                                                    else commissionSlider
                                                "
                                            >
                                                <app-ca-input
                                                    formControlName="salary"
                                                    [inputConfig]="{
                                                        name: 'Salary',
                                                        type: 'text',
                                                        label: 'Salary',
                                                        isRequired: true,
                                                        placeholderIcon:
                                                            'dollar',
                                                        thousandSeparator: true,
                                                        minLength: 4,
                                                        maxLength: 8,
                                                        isDisabled:
                                                            !selectedPayment?.name,
                                                        isRequired:
                                                            !selectedPayment?.name,
                                                    }"
                                                ></app-ca-input>
                                            </ng-container>

                                            <ng-template #commissionSlider>
                                                <app-ta-ngx-slider
                                                    [sliderName]="'Commission'"
                                                    [sliderOptions]="
                                                        commissionOptions
                                                    "
                                                    [startedValue]="
                                                        userForm.get(
                                                            'commission'
                                                        ).value
                                                    "
                                                    [customClass]="
                                                        'custom-user-modal'
                                                    "
                                                    (onUserValueChange)="
                                                        userForm
                                                            .get('commission')
                                                            .setValue($event)
                                                    "
                                                ></app-ta-ngx-slider>
                                            </ng-template>
                                        </div>
                                    </div>
                                </ng-container>
                                <div
                                    class="custom-bank-row row-no-m"
                                    [ngClass]="{
                                        'no-m-bottom':
                                            !userForm.get('includeInPayroll')
                                                .value,
                                    }"
                                >
                                    <div class="bank-field">
                                        <app-ca-input-dropdown
                                            formControlName="bankId"
                                            [template]="'svg-template'"
                                            [inputConfig]="{
                                                name: 'Input Dropdown Bank Name',
                                                type: 'text',
                                                label: 'Bank Name',
                                                minLength: 2,
                                                maxLength: 64,
                                                textTransform: 'uppercase',
                                                isDropdown: true,
                                                isRequired: true,
                                                dropdownWidthClass: 'w-col-164',
                                            }"
                                            [canAddNew]="true"
                                            [options]="labelsBank"
                                            [activeItem]="selectedBank"
                                            (selectedItem)="
                                                onSelectDropdown($event, 'bank')
                                            "
                                            (saveItem)="onSaveNewBank($event)"
                                        ></app-ca-input-dropdown>
                                    </div>
                                    <div class="bank-field">
                                        <app-ca-input
                                            formControlName="routingNumber"
                                            [inputConfig]="{
                                                name: 'routing-bank',
                                                type: 'text',
                                                label: 'Routing #',
                                                isDisabled: !isBankSelected,
                                                isRequired: isBankSelected,
                                                minLength: 9,
                                                maxLength: 9,
                                            }"
                                        ></app-ca-input>
                                    </div>
                                    <div class="bank-field">
                                        <app-ca-input
                                            formControlName="accountNumber"
                                            [inputConfig]="{
                                                name: 'account-bank',
                                                type: 'text',
                                                label: 'Account #',
                                                isDisabled: !isBankSelected,
                                                isRequired: isBankSelected,
                                                minLength: 5,
                                                maxLength: 17,
                                            }"
                                        ></app-ca-input>
                                    </div>
                                </div>
                            </ng-container>
                        </app-ta-checkbox-card>

                        <app-ta-input-note
                            formControlName="note"
                            [isVisibleNote]="
                                userForm.get('note').value &&
                                userForm.get('note').value !== 'null'
                                    ? userForm.get('note').value
                                    : false
                            "
                            [note]="
                                userForm.get('note').value &&
                                userForm.get('note').value !== 'null'
                                    ? userForm.get('note').value
                                    : ''
                            "
                        ></app-ta-input-note>
                    </div>
                </ng-container>
                <!-------------------------------- Additional Tab -------------------------------->
                <ng-template #additionalTab></ng-template>
            </div>
        </form>
    </div>
</app-ta-modal>
