@import 'src/theme/variables';

.dispatch-table-driver {
    padding: 4px;
    height: 34px;

    &_unassigned {
        background-color: $ta-light-grey-5;
    }

    svg {
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 16px;

        path {
            transition: fill 0.3s;
            fill: $ta-blue-13;
        }
    }

    &_locked {
        cursor: default;

        svg {
            path {
                fill: $ta-light-grey-6;
            }
        }
    }
}
