@import 'src/theme/variables';

.use-truck-assist-header {
    padding-left: 6px;

    p {
        font-size: 14px;
        line-height: 18px;
        color: $ta-black-2;

        &::-moz-selection {
            color: $ta-black-2;
            background-color: rgb(57, 57, 57, 0.2);
        }

        &::selection {
            color: $ta-black-2;
            background-color: rgb(57, 57, 57, 0.2);
        }
    }
}

.use-truck-assist-text {
    padding-left: 6px;

    p {
        font-size: 11px;
        line-height: 14px;
        color: $ta-black-2;

        &::-moz-selection {
            color: $ta-black-2;
            background-color: rgb(57, 57, 57, 0.2);
        }

        &::selection {
            color: $ta-black-2;
            background-color: rgb(57, 57, 57, 0.2);
        }
    }
}

.permile-fields {
    grid-template-columns: repeat(4, 145px) !important;

    &-same-rate {
        grid-template-columns: repeat(3, 197px) !important;
    }

    &-combined {
        grid-template-columns: 41px repeat(4, 130px) !important;
    }

    &-combined-same-rate {
        grid-template-columns: 48px repeat(3, 177px) !important;
    }
}

.common-fake-table-card {
    margin-bottom: 12px !important;
}

.status:hover {
    cursor: pointer;
}

.verified {
    color: $ta-green-2;
}

.pending {
    color: $ta-yellow-5;
}

.verify {
    color: $ta-light-grey-6;
}

.failed {
}
