<app-ca-modal
    [modalTitle]="modalTitle"
    [rightHeaderTemplate]="rightModalContent"
    [leftHeaderTemplate]="leftModalContent"
    [footerTemplate]="footerContent"
>
    <!-- TODO: Dodati datum ako je edit -->
    <div origin>
        <div class="divider divider--dark divider--small"></div>

        <ng-container *ngIf="isDropdownEnabled">
            <app-ta-tab-switch
                [tabs]="tabs"
                (switchClicked)="onTabChange($event)"
                [type]="'type2-modal-popup type2-modal-popup-header'"
            >
            </app-ta-tab-switch>
        </ng-container>

        <form [formGroup]="payrollCreditForm" class="payroll-credit--body">
            <div class="row">
                <ngc-container *ngIf="isDropdownEnabled">
                    <div class="col-12 payroll-mb-32">
                        <ng-container
                            *ngIf="selectedTab?.id === 1; else showTruck"
                        >
                            <app-ca-input-dropdown
                                formControlName="driverId"
                                [template]="'load-dispatcher'"
                                [inputConfig]="driverConfig"
                                [options]="driversDropdownList"
                                [activeItem]="selectedDriver"
                                (selectedItem)="selectDriver($event)"
                            ></app-ca-input-dropdown>
                        </ng-container>

                        <ng-template #showTruck>
                            <app-ca-input-dropdown
                                formControlName="truckId"
                                [template]="'load-dispatcher'"
                                [inputConfig]="payrollCreditConst.truckConfig"
                                [options]="trucksDropdownList"
                                [activeItem]="selectedTruck"
                                (selectedItem)="selectTruck($event)"
                            ></app-ca-input-dropdown>
                        </ng-template>
                    </div>
                </ngc-container>

                <div class="col-12 payroll-mb-32">
                    <app-ca-input
                        formControlName="description"
                        [inputConfig]="payrollCreditConst.descriptionField"
                    ></app-ca-input>
                </div>

                <div class="col-6">
                    <app-ca-input
                        formControlName="date"
                        [inputConfig]="payrollCreditConst.datepickerField"
                    ></app-ca-input>
                </div>

                <div class="col-6">
                    <app-ca-input
                        formControlName="amount"
                        [inputConfig]="payrollCreditConst.ammountField"
                    ></app-ca-input>
                </div>
            </div>
        </form>

        <div class="divider divider--dark divider--small"></div>
    </div>
</app-ca-modal>

<!-- Modal header templates -->
<ng-template #leftModalContent>
    <ng-container *ngIf="creditTitle">
        <div class="payroll-number text-color-white text-size-14 ta-font-bold">
            {{ creditTitle }}
        </div>
    </ng-container>
</ng-template>

<ng-template #rightModalContent>
    <svg-icon
        class="modal-close"
        [src]="svgRoutes.closeIcon"
        (click)="onCloseModal()"
    ></svg-icon>
</ng-template>

<!-- Modal footer template -->
<ng-template #footerContent>
    <div class="modal-footer">
        <ng-container *ngIf="isEditMode; else showCreateButtons">
            <button
                class="modal-save-btn ta-font-bold"
                (click)="saveCredit(taModalActionEnums.DELETE)"
                [class.valid]="payrollCreditForm.valid"
            >
                DELETE
            </button>
            <button
                class="modal-save-btn ta-font-bold"
                (click)="saveCredit(taModalActionEnums.MOVE_TO_PERIOD)"
                [class.valid]="payrollCreditForm.valid"
            >
                Move to This Period
            </button>
            <button
                class="modal-save-btn ta-font-bold"
                (click)="saveCredit(taModalActionEnums.UPDATE)"
                [class.valid]="payrollCreditForm.valid"
            >
                Save Changes
            </button>
        </ng-container>

        <ng-template #showCreateButtons>
            <button
                class="ta-font-bold modal-save-btn modal-save-btn-add-new mr-12"
                [class.valid]="payrollCreditForm.valid"
                (click)="saveCredit(taModalActionEnums.SAVE_AND_ADD_NEW)"
            >
                Save and Add New
            </button>
            <button
                class="modal-save-btn ta-font-bold"
                (click)="saveCredit(taModalActionEnums.SAVE)"
                [class.valid]="payrollCreditForm.valid"
            >
                Save
            </button>
        </ng-template>
    </div>
</ng-template>
