<app-ca-modal
    [modalTitle]="modalTitle"
    [rightHeaderTemplate]="rightModalContent"
    [leftHeaderTemplate]="leftModalContent"
    [footerTemplate]="footerContent"
>
    <!-- TODO: Dodati datum ako je edit -->
    <div origin>
        <div class="divider divider--dark divider--small"></div>
        <app-ta-tab-switch
            [tabs]="tabs"
            (switchClicked)="onTabChange($event)"
            [type]="'type2-modal-popup type2-modal-popup-header'"
        >
        </app-ta-tab-switch>

        <form [formGroup]="payrollCreditForm" class="payroll-credit--body">
            <div class="row">
                <div class="col-12 payroll-mb-32">
                    <ng-container *ngIf="selectedTab?.id === 1; else showTruck">
                        <app-ca-input-dropdown
                            formControlName="driverId"
                            [template]="'load-dispatcher'"
                            [inputConfig]="driverConfig"
                            [options]="driversDropdownList"
                            [activeItem]="selectedDriver"
                            (selectedItem)="selectDriver($event)"
                        ></app-ca-input-dropdown>
                    </ng-container>

                    <ng-template #showTruck>
                        <app-ca-input-dropdown
                            formControlName="truckId"
                            [template]="'load-dispatcher'"
                            [inputConfig]="payrollCreditConst.truckConfig"
                            [options]="trucksDropdownList"
                            [activeItem]="selectedTruck"
                            (selectedItem)="selectTruck($event)"
                        ></app-ca-input-dropdown>
                    </ng-template>
                </div>

                <div class="col-12 payroll-mb-32">
                    <app-ca-input
                        formControlName="description"
                        [inputConfig]="payrollCreditConst.descriptionField"
                    ></app-ca-input>
                </div>

                <div class="col-6">
                    <app-ca-input
                        formControlName="date"
                        [inputConfig]="payrollCreditConst.datepickerField"
                    ></app-ca-input>
                </div>

                <div class="col-6">
                    <app-ca-input
                        formControlName="amount"
                        [inputConfig]="payrollCreditConst.ammountField"
                    ></app-ca-input>
                </div>
            </div>
        </form>

        <div class="divider divider--dark divider--small"></div>
    </div>
</app-ca-modal>

<!-- Modal header templates -->
<ng-template #leftModalContent>
    <ng-container *ngIf="isEditMode">
        <div class="payroll-number text-color-white text-size-14 ta-font-bold">
            {{ creditTitle }}
        </div>
    </ng-container>
</ng-template>

<ng-template #rightModalContent>
    <svg-icon
        class="modal-close"
        [src]="svgRoutes.closeIcon"
        (click)="onCloseModal()"
    ></svg-icon>
</ng-template>

<!-- Modal footer template -->
<ng-template #footerContent>
    <div class="modal-footer">
        <div class="button_holder d-flex gap-2 w-100">Save</div>
    </div>
</ng-template>
