@import 'src/theme/variables';

.dispatch-parking {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: background-color $transition ease-in;
    height: 27px;

    &-wrapper {
        // same as padding-inside
        padding: 4px;
        position: relative;
    }

    &-large {
        left: 4px;
        width: calc(100% - 4px);
    }

    &-hover {
        cursor: pointer;

        &:hover {
            background-color: $bw2;
        }
    }

    &.hovering {
        background-color: $bw2;

        .dispatch-parking-icon_empty, .dispatch-parking-empty-text {
            opacity: 1;
        }
    }

    &-dropdown {
        min-height: 60px;
        overflow-y: scroll;
        background-color: $ta-black-2;
        width: 110px;
        border-radius: 3px;
        position: relative; 
        top: -2px;

        &-list {
            overflow-y: auto;
            max-height: 150px; 

            @media (min-height: 600px) {
                max-height: 240px;
            }
        }

        &_large {
            width: 160px;
        }

        &-badge {
            color: $white;
            background-color: $ta-black;
            border-radius: 60px;
            margin-left: 8px;
            padding: 1px 4px;
        }

        &-add-new {
            color: $ta-blue-19;
            padding: 0 4px;
            border-radius: 2px;
            margin: 4px 4px 6px;
            font-size: 11px;
            transition: $transition;
            padding: 4px;
            transition-property: color, background-color;

            &:hover {
                color: $white;
                background-color: $ta-blue-21;
            }
        }

        &-all-assigned {
            color: $muted;
            margin: 0 8px 8px;
            font-size: 11px;
        }

        &-title {
            font-size: 11px;
            color: $ta-light-grey-2;
            transition: color $transition;
            cursor: pointer;
            height: 32px;
            margin: 0 !important;
            background: none !important;

            &-overflow {
                width: 110px;
                word-break: break-all;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &:hover {
                color: $white;

                .dispatch-parking-dropdown-badge {
                    display: none !important;
                }

                .dispatch-parking-dropdown-caret {
                    display: block !important;
                }
            }
        }

        &-item {
            margin: 0 2px;
            padding: 6px 4px;
            border-radius: 2px;

            &:hover {
                background: $ta-black;
                color: $white;
            }
        }

        &-slot {
            color: $white;
            margin-bottom: 6px;
        }

        &-parkings {
            border-bottom: 2px solid $ta-black;
            margin: 0 4px;

            &:last-of-type {
                border-bottom: 0;
            }
        }

        &-type {
            color: $muted;
        }

        &-caret {
            transform: rotate(180deg);
            &-rotate {
                transform: rotate(0);
            }
        }
    }

    &-text {
        font-size: 11px;
        position: relative;
        top: 1px;
        min-width: 42px;

        &_assigned {
            color: $ta-black-2;
        }

        &::-moz-selection {
            color: $ta-black-2;
            background: rgb(47, 47, 47, 0.2);
        }

        &::selection {
            color: $ta-black-2;
            background: rgb(47, 47, 47, 0.2);
        }
    }

    &-remove {
        border-radius: 2px;
        min-height: 26px;
        min-width: 26px;
        width: 26px;
        height: 26px;

        &-wrapper {
            visibility: hidden;
        }

        &:hover {
            background-color: $ta-red-15;
        }
    }
    // States
    &_assigned {
        &:hover {
            .dispatch-parking-remove-wrapper {
                visibility: visible;
            }
        }
    }

    &_empty {
        color: $muted;
        transition: $transition;

        &:hover {
            color: $ta-black;
        }
    }

    &-icon_empty, &-empty-text {
        transition: $transition;
        opacity: 0;
    }

    &-disabled {
        cursor: default !important;

        .dispatch-parking-remove-wrapper {
            visibility: hidden !important;
        }
    }
}
