<app-ta-modal
    [modalTitle]="'Dispatch History'"
    [customClass]="'modal-container-XL-2'"
    [disableFooter]="true"
>
    <div origin [formGroup]="dispatchHistoryForm">
        <div
            class="d-flex flex-column dispatch-history-modal"
            [ngStyle]="{ 'padding-bottom': hasContent ? '8px' : '22px' }"
        >
            <!-- Inputs -->

            <div
                class="align-items-center dispatch-history-modal-inputs-container"
            >
                <!-- Time -->

                <div class="time-container" (click)="handleTimeDropdown(true)">
                    <app-ta-input-dropdown
                        formControlName="time"
                        [inputConfig]="dispatchHistoryTimeConfig"
                        [options]="timesDropdownList"
                        [activeItem]="selectedTime"
                        (selectedItem)="
                            onSelectDropdown(
                                $event,
                                dispatchHistoryModalStringEnum.TIME
                            )
                        "
                        (closeDropdown)="handleTimeDropdown(false)"
                    ></app-ta-input-dropdown>

                    <ng-container *ngIf="isDisplayingCustomPeriodRange">
                        <div class="custom-period-range-container">
                            <app-ta-custom-period-range
                                [isOnlyDateInputsLayout]="true"
                                [selectedCustomPeriodRange]="
                                    selectedCustomPeriodRange
                                "
                                (customPeriodRangeValuesEmitter)="
                                    handleSetCustomPeriodRangeClick($event)
                                "
                            ></app-ta-custom-period-range>
                        </div>
                    </ng-container>
                </div>

                <!-- Dispatch Board -->

                <div (click)="handleTimeDropdown(true)">
                    <app-ta-input-dropdown
                        formControlName="dispatchBoard"
                        [inputConfig]="dispatchHistoryDispatchBoardConfig"
                        [options]="dispatchBoardsDropdownList"
                        [activeItem]="selectedDispatchBoard"
                        (selectedItem)="
                            onSelectDropdown(
                                $event,
                                dispatchHistoryModalStringEnum.DISPATCH_BOARD
                            )
                        "
                        (closeDropdown)="handleTimeDropdown(false)"
                    ></app-ta-input-dropdown>
                </div>

                <!-- Truck -->

                <div (click)="handleTimeDropdown(true)">
                    <app-ta-input-dropdown
                        formControlName="truck"
                        [inputConfig]="dispatchHistoryTruckConfig"
                        [options]="trucksDropdownList"
                        [activeItem]="selectedTruck"
                        (selectedItem)="
                            onSelectDropdown(
                                $event,
                                dispatchHistoryModalStringEnum.TRUCK
                            )
                        "
                        (closeDropdown)="handleTimeDropdown(false)"
                    ></app-ta-input-dropdown>
                </div>

                <!-- Trailer -->

                <div (click)="handleTimeDropdown(true)">
                    <app-ta-input-dropdown
                        formControlName="trailer"
                        [inputConfig]="dispatchHistoryTrailerConfig"
                        [options]="trailersDropdownList"
                        [activeItem]="selectedTrailer"
                        (selectedItem)="
                            onSelectDropdown(
                                $event,
                                dispatchHistoryModalStringEnum.TRAILER
                            )
                        "
                        (closeDropdown)="handleTimeDropdown(false)"
                    ></app-ta-input-dropdown>
                </div>

                <!-- Driver -->

                <div (click)="handleTimeDropdown(true)">
                    <app-ta-input-dropdown
                        formControlName="driver"
                        [inputConfig]="dispatchHistoryDriverConfig"
                        [options]="driversDropdownList"
                        [activeItem]="selectedDriver"
                        (selectedItem)="
                            onSelectDropdown(
                                $event,
                                dispatchHistoryModalStringEnum.DRIVER
                            )
                        "
                        (closeDropdown)="handleTimeDropdown(false)"
                    ></app-ta-input-dropdown>
                </div>
            </div>

            <!-- Content -->

            <div
                class="d-flex flex-column dispatch-history-modal-main-container"
            >
                <!-- Has Content -->

                <ng-container *ngIf="hasContent; else noContent">
                    <div
                        class="d-flex dispatch-history-modal-main-container-content"
                    >
                        <!-- Group -->

                        <ng-container *ngIf="isGroup; else noGroup">
                            <div class="d-flex flex-column group-container">
                                <!-- Group Header -->

                                <div
                                    class="align-items-center group-container-header"
                                >
                                    <ng-container
                                        *ngFor="
                                            let groupHeaderItem of groupHeaderItems;
                                            let last = last;
                                            trackBy: trackByIdentity
                                        "
                                    >
                                        <div
                                            class="d-flex align-items-center group-container-header-box"
                                            [ngClass]="{
                                                'justify-content-end': last
                                            }"
                                        >
                                            <p class="m-0 ta-font-bold">
                                                {{ groupHeaderItem }}
                                            </p>
                                        </div>
                                    </ng-container>
                                </div>

                                <!-- Group Main -->

                                <div
                                    class="d-flex flex-column group-container-main"
                                    formArrayName="dispatchHistoryGroupItems"
                                >
                                    <ng-container
                                        *ngFor="
                                            let group of groupData;
                                            let groupIndex = index;
                                            trackBy: trackByIdentity
                                        "
                                    >
                                        <div
                                            class="d-flex group-container-main-card"
                                            [formGroupName]="groupIndex"
                                        >
                                            <app-ta-custom-card
                                                [cardName]="
                                                    group?.isCompleted ||
                                                    group?.isIdle
                                                        ? group?.loadNumber
                                                        : 'Load ' +
                                                          group?.loadNumber
                                                "
                                                [hasCounter]="group?.count"
                                                [subText]="group?.interval"
                                                [bodyTemplate]="'card'"
                                                [isExtraLargeLayout]="true"
                                                [isCardOpen]="
                                                    !group?.isCompleted
                                                "
                                                [disabledCard]="
                                                    !group?.isCompleted
                                                "
                                                [hasArrow]="group?.isCompleted"
                                                [animationMarginParams]="{
                                                    marginTop: '8px',
                                                    marginBottom: '8px'
                                                }"
                                            >
                                                <ng-container
                                                    *ngFor="
                                                        let groupItem of getDispatchHistoryGroup(
                                                            groupIndex
                                                        ).controls;
                                                        let itemIndex = index;
                                                        trackBy: trackByIdentity
                                                    "
                                                >
                                                    <div
                                                        class="align-items-center group-container-main-card-item"
                                                        [formGroupName]="
                                                            itemIndex
                                                        "
                                                        [ngClass]="{
                                                            hovering:
                                                                isHoveringGroupIndex ===
                                                                    groupIndex &&
                                                                isHoveringGroupItemIndex ===
                                                                    groupIndex +
                                                                        itemIndex
                                                        }"
                                                        (mouseenter)="
                                                            handleGroupRowHover(
                                                                true,
                                                                groupIndex,
                                                                itemIndex
                                                            )
                                                        "
                                                        (mouseleave)="
                                                            handleGroupRowHover(
                                                                false
                                                            )
                                                        "
                                                    >
                                                        <!-- Status -->

                                                        <div
                                                            class="d-flex item-box"
                                                            [ngClass]="
                                                                isHoveringGroupIndex ===
                                                                    groupIndex &&
                                                                isHoveringGroupItemIndex ===
                                                                    groupIndex +
                                                                        itemIndex
                                                                    ? 'flex-column align-items-start'
                                                                    : 'flex-row align-items-center'
                                                            "
                                                        >
                                                            <app-load-status-string
                                                                [isDispatchHistoryModalLayout]="
                                                                    true
                                                                "
                                                                [status]="{
                                                                    name: group
                                                                        ?.items[
                                                                        itemIndex
                                                                    ]?.status
                                                                        ?.statusString,
                                                                    valueForRequest:
                                                                        group
                                                                            ?.items[
                                                                            itemIndex
                                                                        ]
                                                                            ?.status
                                                                            ?.statusValue
                                                                            ?.name
                                                                }"
                                                                [statusOrder]="{
                                                                    type: group
                                                                        ?.items[
                                                                        itemIndex
                                                                    ]?.type,
                                                                    stopOrder:
                                                                        group
                                                                            ?.items[
                                                                            itemIndex
                                                                        ]
                                                                            ?.stopOrder
                                                                }"
                                                            ></app-load-status-string>

                                                            <ng-container
                                                                *ngIf="
                                                                    isHoveringGroupIndex ===
                                                                        groupIndex &&
                                                                    isHoveringGroupItemIndex ===
                                                                        groupIndex +
                                                                            itemIndex
                                                                "
                                                            >
                                                                <span>
                                                                    {{
                                                                        group
                                                                            ?.items[
                                                                            itemIndex
                                                                        ]
                                                                            ?.location
                                                                            ?.city +
                                                                            ', ' +
                                                                            group
                                                                                ?.items[
                                                                                itemIndex
                                                                            ]
                                                                                ?.location
                                                                                ?.stateShortName
                                                                    }}
                                                                </span>
                                                            </ng-container>
                                                        </div>

                                                        <!-- Date Start -->

                                                        <div
                                                            class="d-flex align-items-center item-box"
                                                        >
                                                            <app-ta-input
                                                                formControlName="dateStart"
                                                                [inputConfig]="
                                                                    dispatchHistoryDateStartConfig({  
                                                                        groupIndex,
                                                                        itemIndex,
                                                                        groupItem
                                                                    })
                                                                "
                                                                (mouseenter)="
                                                                    handleInputHover(
                                                                        true,
                                                                        groupIndex,
                                                                        itemIndex,
                                                                        0
                                                                    )
                                                                "
                                                                (mouseleave)="
                                                                    handleInputHover(
                                                                        false,
                                                                        groupIndex,
                                                                        itemIndex,
                                                                        0
                                                                    )
                                                                "
                                                                (click)="
                                                                    handleUpdateGroupHistoryDataIndex(
                                                                        groupIndex,
                                                                        itemIndex
                                                                    )
                                                                "
                                                            ></app-ta-input>
                                                        </div>

                                                        <!-- Time Start -->

                                                        <div
                                                            class="d-flex align-items-center item-box"
                                                        >
                                                            <app-ta-input
                                                                formControlName="timeStart"
                                                                [inputConfig]="
                                                                    dispatchHistoryTimeStartConfig({   
                                                                        groupIndex,
                                                                        itemIndex,
                                                                        groupItem
                                                                    })
                                                                "
                                                                (mouseenter)="
                                                                    handleInputHover(
                                                                        true,
                                                                        groupIndex,
                                                                        itemIndex,
                                                                        1
                                                                    )
                                                                "
                                                                (mouseleave)="
                                                                    handleInputHover(
                                                                        false,
                                                                        groupIndex,
                                                                        itemIndex,
                                                                        1
                                                                    )
                                                                "
                                                                (click)="
                                                                    handleUpdateGroupHistoryDataIndex(
                                                                        groupIndex,
                                                                        itemIndex
                                                                    )
                                                                "
                                                            ></app-ta-input>
                                                        </div>

                                                        <!-- Date End -->

                                                        <div
                                                            class="d-flex align-items-center item-box"
                                                        >
                                                            <ng-container
                                                                *ngIf="
                                                                    groupItem?.get(
                                                                        'dateEnd'
                                                                    ).value
                                                                "
                                                            >
                                                                <app-ta-input
                                                                    formControlName="dateEnd"
                                                                    [inputConfig]="
                                                                        dispatchHistoryDateEndConfig({ 
                                                                            groupIndex,
                                                                            itemIndex,
                                                                            groupItem
                                                                        })
                                                                    "
                                                                    (mouseenter)="
                                                                        handleInputHover(
                                                                            true,
                                                                            groupIndex,
                                                                            itemIndex,
                                                                            2
                                                                        )
                                                                    "
                                                                    (mouseleave)="
                                                                        handleInputHover(
                                                                            false,
                                                                            groupIndex,
                                                                            itemIndex,
                                                                            2
                                                                        )
                                                                    "
                                                                    (click)="
                                                                        handleUpdateGroupHistoryDataIndex(
                                                                            groupIndex,
                                                                            itemIndex
                                                                        )
                                                                    "
                                                                ></app-ta-input>
                                                            </ng-container>
                                                        </div>

                                                        <!-- Time End -->

                                                        <div
                                                            class="d-flex align-items-center item-box"
                                                        >
                                                            <ng-container
                                                                *ngIf="
                                                                    groupItem?.get(
                                                                        'dateEnd'
                                                                    ).value
                                                                "
                                                            >
                                                                <app-ta-input
                                                                    formControlName="timeEnd"
                                                                    [inputConfig]="
                                                                        dispatchHistoryTimeEndConfig({
                                                                            groupIndex,
                                                                            itemIndex,
                                                                            groupItem
                                                                        })
                                                                    "
                                                                    (mouseenter)="
                                                                        handleInputHover(
                                                                            true,
                                                                            groupIndex,
                                                                            itemIndex,
                                                                            3
                                                                        )
                                                                    "
                                                                    (mouseleave)="
                                                                        handleInputHover(
                                                                            false,
                                                                            groupIndex,
                                                                            itemIndex,
                                                                            3
                                                                        )
                                                                    "
                                                                    (click)="
                                                                        handleUpdateGroupHistoryDataIndex(
                                                                            groupIndex,
                                                                            itemIndex
                                                                        )
                                                                    "
                                                                ></app-ta-input>
                                                            </ng-container>
                                                        </div>

                                                        <!-- Total -->

                                                        <div
                                                            class="d-flex align-items-center justify-content-end item-box"
                                                        >
                                                            <p
                                                                class="m-0 ta-font-medium"
                                                            >
                                                                {{
                                                                    !groupItem?.get(
                                                                        'dateEnd'
                                                                    ).value
                                                                        ? 'Ongoing'
                                                                        : group
                                                                              ?.items[
                                                                              itemIndex
                                                                          ]
                                                                              ?.totalTime
                                                                }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </app-ta-custom-card>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>

                        <!-- No Group -->

                        <ng-template #noGroup>
                            <div class="d-flex flex-column no-group-container">
                                <div class="span-container">
                                    <div
                                        class="span-item"
                                        [ngClass]="noGroupClass"
                                    >
                                        A
                                    </div>
                                    <div
                                        class="span-item"
                                        [ngClass]="noGroupClass"
                                    >
                                        B
                                    </div>
                                    <div
                                        class="span-item"
                                        [ngClass]="noGroupClass"
                                    >
                                        C
                                    </div>
                                    <div
                                        class="span-item"
                                        [ngClass]="noGroupClass"
                                    >
                                        D
                                    </div>
                                    <div
                                        class="span-item"
                                        [ngClass]="noGroupClass"
                                    >
                                        E
                                    </div>
                                    <div
                                        class="span-item"
                                        [ngClass]="noGroupClass"
                                    >
                                        F
                                    </div>
                                </div>

                                <!-- No Group Header -->

                                <div
                                    class="align-items-center no-group-container-header"
                                    [ngClass]="noGroupClass"
                                >
                                    <ng-container
                                        *ngFor="
                                            let noGroupHeaderItem of noGroupHeaderItems;
                                            let last = last;
                                            trackBy: trackByIdentity
                                        "
                                    >
                                        <div
                                            class="d-flex align-items-center no-group-container-header-box"
                                            [ngClass]="{
                                                'justify-content-end': last
                                            }"
                                        >
                                            <p class="m-0 ta-font-bold">
                                                {{ noGroupHeaderItem }}
                                            </p>
                                        </div>
                                    </ng-container>
                                </div>

                                <!-- No Group Main -->

                                <div class="no-group-container-main">
                                    <ng-container
                                        *ngFor="
                                            let noGroupItemData of noGroupData;
                                            let noGroupItemDataIndex = index;
                                            trackBy: trackByIdentity
                                        "
                                    >
                                        <div
                                            class="no-group-container-main-item"
                                            [ngClass]="noGroupClass"
                                            [ngStyle]="{
                                                'grid-row':
                                                    isNoGroupItemSpanArray[
                                                        noGroupItemDataIndex
                                                    ]?.isRowSpan
                                                        ? 'span ' +
                                                          isNoGroupItemSpanArray[
                                                              noGroupItemDataIndex
                                                          ]?.rowSpanIndex
                                                        : '',
                                            }"
                                        >
                                            <!--   [ngStyle]="{
                                                'grid-row':
                                                    noGroupItemDataIndex == 0
                                                        ? 'span ' + 3
                                                        : ''
                                            }" -->
                                            <ng-container
                                                *ngFor="
                                                    let noGroupItem of noGroupItemData;
                                                    let noGroupItemIndex = index;
                                                    let last = last;
                                                    trackBy: trackByIdentity
                                                "
                                            >
                                                <div
                                                    class="align-items-center item-box"
                                                    [ngClass]="{
                                                        'justify-content-end':
                                                            last
                                                    }"
                                                    [ngStyle]="{
                                                        'grid-row':
                                                            isNoGroupItemSpanArray[
                                                                noGroupItemDataIndex
                                                            ]?.isRowSpan
                                                                ? 'span ' + 2
                                                                : ''
                                                    }"
                                                >
                                                    <!--   isNoGroupItemSpanArray[
                                                                noGroupItemDataIndex
                                                            ]
                                                                ?.isItemBoxSpanArray[
                                                                noGroupItemIndex
                                                            ]?.isItemBoxSpan
                                                                ? 'span ' +
                                                                  isNoGroupItemSpanArray[
                                                                      noGroupItemDataIndex
                                                                  ]
                                                                      ?.isItemBoxSpanArray[
                                                                      noGroupItemIndex
                                                                  ]
                                                                      ?.itemSpanIndex
                                                                : '' -->
                                                    <p class="m-0">
                                                        {{
                                                            noGroupItem ??
                                                                '\u00A0'
                                                        }}
                                                    </p>

                                                    <!-- 
       [ngStyle]="{
        'grid-row':
            (noGroupItem &&
                !noGroupData[
                    noGroupItemDataIndex +
                        1
                ][i]) ||
            (!noGroupItem &&
                !noGroupData[
                    noGroupItemDataIndex +
                        1
                ][i])
                ? 'span ' + 2
                : ''
    }" -->
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </ng-container>

                <!-- No Content -->

                <ng-template #noContent>
                    <div
                        class="d-flex justify-content-center align-items-center dispatch-history-modal-main-container-no-content"
                    >
                        <div class="d-flex flex-column align-items-center">
                            <svg-icon
                                class="icon"
                                [src]="
                                    dispatchTableSvgRoutes.antQuestionSvgRoute
                                "
                            ></svg-icon>

                            <p class="m-0 ta-font-bold">
                                {{
                                    hasNoneSelected
                                        ? 'Pick something!'
                                        : 'No Results'
                                }}
                            </p>

                            <span>
                                {{
                                    hasNoneSelected
                                        ? 'Select one unit or driver to see history'
                                        : 'No entries match your criteria.'
                                }}
                            </span>

                            <ng-container *ngIf="!hasNoneSelected">
                                <span>
                                    Please revise your filters and search again.
                                </span>

                                <button
                                    type="button"
                                    class="d-flex justify-content-center align-items-center ta-font-bold reset-btn"
                                    (click)="handleResetFiltersClick()"
                                >
                                    Reset Filters
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</app-ta-modal>
