<div class="container-fluid">
  <div class="row">
    <div
      class="sign-up-container container-fluid d-flex flex-column justify-content-between"
    >
      <div class="d-flex flex-column align-items-center">
        <!-- SIGN UP -->

        <div class="sign-up-text d-flex flex-column align-items-center">
          <h1 class="m-0 text-center">
            Sign up for a full-featured <br /><span>free 14-day trial</span>
          </h1>

          <h2 class="m-0 text-center">
            We are so grateful for the pleasure of serving you<br />
            and hope we met your expectations.
          </h2>

          <h3 class="m-0 text-center">Please fill form to sign up</h3>
        </div>

        <!-- FORM SECTION -->

        <form
          (keydown)="onKeyDown($event)"
          [formGroup]="registerForm"
          class="d-flex flex-column"
        >
          <!-- FIRST NAME, LAST NAME -->

          <div class="d-flex">
            <div class="group first-name-group">
              <app-ta-input
                formControlName="firstName"
                [inputConfig]="{
                  name: 'First Name',
                  type: 'text',
                  label: 'First Name',
                  isRequired: true,
                  textTransform: 'capitalize',
                  autoFocus: true
                }"
              ></app-ta-input>
            </div>
            <div class="group last-name-group">
              <app-ta-input
                formControlName="lastName"
                [inputConfig]="{
                  name: 'Last Name',
                  type: 'text',
                  label: 'Last Name',
                  isRequired: true,
                  textTransform: 'capitalize'
                }"
              ></app-ta-input>
            </div>
          </div>

          <!-- COMPANY NAME, EIN -->

          <div class="d-flex">
            <div class="group company-name-group">
              <app-ta-input
                formControlName="companyName"
                [inputConfig]="{
                  name: 'Company Name',
                  type: 'text',
                  label: 'Company Name',
                  isRequired: true,
                  textTransform: 'capitalize'
                }"
              ></app-ta-input>
            </div>
            <div class="group ein-group">
              <app-ta-input
                formControlName="ein"
                [inputConfig]="{
                  name: 'EIN',
                  type: 'text',
                  label: 'EIN',
                  mask: '00-0000000',
                  isRequired: true
                }"
              ></app-ta-input>
            </div>
          </div>

          <!-- ADDRESS -->

          <div class="d-flex">
            <div class="group address-group">
              <app-ta-input-address
                formControlName="address"
                [inputConfig]="{
                  name: 'Address',
                  type: 'text',
                  label: 'Address, City, State Zip',
                  isRequired: true,
                  placeholderIcon: 'address',
                  minLength: 12,
                  maxLength: 256,
                  textTransform: 'capitalize'
                }"
                [activeAddress]="selectedAddress"
                (selectedAddress)="handleAddressChange($event)"
              ></app-ta-input-address>
            </div>
            <div class="group address-unit-group">
              <app-ta-input
                formControlName="addressUnit"
                [inputConfig]="{
                  name: 'address-unit',
                  type: 'text',
                  label: 'Unit #',
                  textTransform: 'uppercase',
                  minLength: 1,
                  maxLength: 10
                }"
              ></app-ta-input>
            </div>
          </div>

          <!-- PHONE, EMAIL -->

          <div class="d-flex">
            <div class="group phone-group">
              <app-ta-input
                formControlName="phone"
                [inputConfig]="{
                  name: 'Phone',
                  type: 'text',
                  label: 'Phone',
                  isRequired: true,
                  placeholderIcon: 'phone',
                  mask: '(000) 000-0000'
                }"
              ></app-ta-input>
            </div>
            <div class="group email-group">
              <app-ta-input
                formControlName="email"
                [inputConfig]="{
                  name: 'Email',
                  type: 'text',
                  label: 'Email',
                  isRequired: true,
                  placeholderIcon: 'email',
                  autocomplete: 'off',
                  minLength: 5,
                  maxLength: 64,
                  textTransform: 'lowercase'
                }"
              ></app-ta-input>
            </div>
          </div>

          <!-- PASSWORD, CONFIRM PASSWORD -->

          <div class="d-flex">
            <div class="group password-group">
              <app-ta-input
                formControlName="password"
                [inputConfig]="{
                  name: 'Password',
                  type: 'password',
                  label: 'Password',
                  placeholderIcon: 'password',
                  isRequired: true,
                  autocomplete: 'off'
                }"
              ></app-ta-input>
            </div>
            <div class="group password-group">
              <app-ta-input
                formControlName="confirmPassword"
                [inputConfig]="{
                  name: 'Password',
                  type: 'password',
                  label: 'Confirm Password',
                  placeholderIcon: 'password',
                  isRequired: true,
                  autocomplete: 'off'
                }"
              ></app-ta-input>
            </div>
          </div>

          <!-- REGISTER BUTTON -->

          <button
            class="d-flex justify-content-center align-items-center submit-btn"
            (click)="registerCompany()"
            type="submit"
            [ngClass]="{
              disabled: registerForm.invalid
            }"
          >
            Sign Up
          </button>

          <!-- INFO -->

          <p class="m-0 text-center">
            By continuing, you are agreeing to our<span> Terms of Service</span>
            <br />
            and <span>Privacy Policy</span>
          </p>

          <p class="m-0 text-center">
            Already have an account?<span routerLink="/auth/login"> Login</span>
          </p>
        </form>
      </div>

      <!-- COPYRIGHT -->

      <div class="row">
        <div class="d-flex justify-content-center align-items-center copyright">
          <p class="m-0">Copyright © TruckAssist {{ copyrightYear }}.</p>
        </div>
      </div>
    </div>
  </div>
</div>
