<app-ta-modal
  [modalTitle]="editData?.type !== 'edit' ? 'Add Trailer' : 'Edit Trailer'"
  [editData]="editData"
  [editName]="editData?.data?.trailerNumber"
  [isModalValid]="trailerForm.valid"
  (action)="onModalAction($event)"
>
  <app-ta-tab-switch
    [tabs]="tabs"
    (switchClicked)="tabChange($event)"
    [type]="'type1-modal-popup'"
  >
  </app-ta-tab-switch>

  <form [formGroup]="trailerForm" class="form-container">
    <div class="animation-two-tabs" [@animationTabsModal]="animationObject">
      <!-------------------------------- Basic Tab -------------------------------->
      <div class="m-tab" *ngIf="selectedTab === 1">
        <div class="row">
          <div class="col-3">
            <app-ta-input
              formControlName="trailerNumber"
              [inputConfig]="{
                name: 'Trailer Number',
                type: 'text',
                label: 'Unit #',
                isRequired: true,
                textTransform: 'capitalize',
                maxLength: 8,
                autoFocus: editData?.type === 'edit' ? false : true
              }"
            ></app-ta-input>
          </div>
          <div class="col-9">
            <app-ta-input-dropdown
              formControlName="trailerTypeId"
              [template]="'svgtext-template'"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Trailer Type',
                isRequired: true,
                isDropdown: true,
                dropdownWidthClass: 'w-col-348',
                customClass: 'truck-trailer-dropdown'
              }"
              [options]="trailerType"
              [activeItem]="selectedTrailerType"
              (selectedItem)="onSelectDropdown($event, 'trailer-type')"
            ></app-ta-input-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <app-ta-input
              formControlName="vin"
              [inputConfig]="{
                name: 'VIN',
                type: 'text',
                label: 'VIN',
                isRequired: true,
                textTransform: 'uppercase',
                maxLength: 17,
                minLength: 17,
                loadingSpinner: {
                  size: 'small',
                  color: 'white',
                  isLoading: loadingVinDecoder
                }
              }"
            ></app-ta-input>
          </div>
          <div class="col-5">
            <app-ta-input-dropdown
              formControlName="trailerMakeId"
              [template]="'svg-template'"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Make',
                isRequired: true,
                isDropdown: true,
                dropdownWidthClass: 'w-col-188'
              }"
              [options]="trailerMakeType"
              [activeItem]="selectedTrailerMake"
              (selectedItem)="onSelectDropdown($event, 'trailer-make')"
            ></app-ta-input-dropdown>
          </div>
        </div>
        <div class="custom-model-color-year-length last-row">
          <div class="modelColorYearLentgh-field">
            <app-ta-input
              formControlName="model"
              [inputConfig]="{
                name: 'Model',
                type: 'text',
                label: 'Model',
                textTransform: 'capitalize',
                maxLength: 22
              }"
            ></app-ta-input>
          </div>
          <div class="modelColorYearLentgh-field">
            <app-ta-input-dropdown
              formControlName="colorId"
              [template]="'svgtext-template'"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Color',
                isDropdown: true,
                dropdownWidthClass: 'w-col-126'
              }"
              [options]="colorType"
              [activeItem]="selectedColor"
              (selectedItem)="onSelectDropdown($event, 'color')"
            ></app-ta-input-dropdown>
          </div>
          <div class="modelColorYearLentgh-field">
            <app-ta-input
              formControlName="year"
              [inputConfig]="{
                name: 'Year',
                type: 'text',
                label: 'Year',
                isRequired: true,
                maxLength: 4
              }"
            ></app-ta-input>
          </div>
          <div class="modelColorYearLentgh-field">
            <app-ta-input-dropdown
              formControlName="trailerLengthId"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Length',
                isDropdown: true,
                isRequired: true,
                dropdownWidthClass: 'w-col-106'
              }"
              [options]="trailerLengthType"
              [activeItem]="selectedTrailerLength"
              (selectedItem)="onSelectDropdown($event, 'trailer-length')"
            ></app-ta-input-dropdown>
          </div>
        </div>
        <!-- Company Owned -->
        <div class="custom-checkbox-card">
          <div class="divider"></div>
          <div
            class="checkbox-card-header"
            [ngClass]="{ pointer: !trailerForm.get('companyOwned').value }"
          >
            <app-ta-checkbox
              formControlName="companyOwned"
              [label]="'Company Owned'"
            ></app-ta-checkbox>
            <svg-icon
              class="checkbox-card-header-arrow"
              src="assets/svg/common/ic_arrow_down_updated.svg"
              [ngClass]="{ visible: !trailerForm.get('companyOwned')?.value }"
            ></svg-icon>
          </div>
          <div
            class="checkbox-card-body"
            [ngClass]="{ 'active-20': !trailerForm.get('companyOwned').value }"
          >
            <div *ngIf="!trailerForm.get('companyOwned').value">
              <div class="row owner-dropdown">
                <div class="col-12">
                  <app-ta-input-dropdown
                    formControlName="ownerId"
                    [inputConfig]="{
                      name: 'Input Dropdown',
                      type: 'text',
                      label: 'Owner',
                      isDropdown: true,
                      isRequired: true,
                      dropdownWidthClass: 'w-col-455'
                    }"
                    [options]="ownerType"
                    [activeItem]="selectedOwner"
                    (selectedItem)="onSelectDropdown($event, 'owner')"
                  ></app-ta-input-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-ta-input-note
          formControlName="note"
          [isVisibleNote]="trailerForm.get('note').value"
        ></app-ta-input-note>
      </div>
      <!-------------------------------- Additional Tab -------------------------------->
      <div class="m-tab" *ngIf="selectedTab === 2">
        <!-------------------------------- FIRST ROW -------------------------------->
        <div class="row">
          <div
            class="col-4"
            *ngIf="trailerForm.get('trailerTypeId').value === 'Reefer'"
          >
            <app-ta-input-dropdown
              formControlName="reeferUnit"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Reefer Unit',
                isDropdown: true,
                dropdownWidthClass: 'w-col-136'
              }"
              [options]="reeferUnitType"
              [activeItem]="selectedReeferType"
              (selectedItem)="onSelectDropdown($event, 'reefer-unit')"
            ></app-ta-input-dropdown>
          </div>
          <div class="col-2">
            <app-ta-input
              formControlName="axles"
              [inputConfig]="{
                name: 'Axles',
                type: 'text',
                label: 'Axles',
                maxLength: 1
              }"
            ></app-ta-input>
          </div>
          <div
            class="{{
              trailerForm.get('trailerTypeId').value !== 'Reefer'
                ? 'col-6'
                : 'col-3 no-p-left'
            }}"
          >
            <app-ta-input-dropdown
              formControlName="suspension"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Suspension',
                isDropdown: true,
                dropdownWidthClass:
                  trailerForm.get('trailerTypeId').value !== 'Reefer'
                    ? 'w-col-228'
                    : 'w-col-108'
              }"
              [options]="suspensionType"
              [activeItem]="selectedSuspension"
              (selectedItem)="onSelectDropdown($event, 'suspension')"
            ></app-ta-input-dropdown>
          </div>
          <div
            class="col-4 no-p-left"
            *ngIf="trailerForm.get('trailerTypeId').value !== 'Reefer'"
          >
            <app-ta-input-dropdown
              formControlName="tireSizeId"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Tire Size',
                isDropdown: true,
                dropdownWidthClass: 'w-col-148'
              }"
              [options]="tireSize"
              [activeItem]="selectedTireSize"
              (selectedItem)="onSelectDropdown($event, 'tire-size')"
            ></app-ta-input-dropdown>
          </div>
          <div
            *ngIf="trailerForm.get('trailerTypeId').value === 'Reefer'"
            class="col-3 no-p-left"
          >
            <app-ta-input-dropdown
              formControlName="doorType"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Door Type',
                isDropdown: true,
                dropdownWidthClass: 'w-col-108'
              }"
              [options]="doorType"
              [activeItem]="selectedDoorType"
              (selectedItem)="onSelectDropdown($event, 'door-type')"
            ></app-ta-input-dropdown>
          </div>
        </div>
        <!-------------------------------- SECOND ROW -------------------------------->
        <div class="row">
          <div
            class="col-4"
            *ngIf="trailerForm.get('trailerTypeId').value === 'Reefer'"
          >
            <app-ta-input-dropdown
              formControlName="tireSizeId"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Tire Size',
                isDropdown: true,
                dropdownWidthClass: 'w-col-136'
              }"
              [options]="tireSize"
              [activeItem]="selectedTireSize"
              (selectedItem)="onSelectTireSize($event)"
            ></app-ta-input-dropdown>
          </div>
          <div
            *ngIf="
              (trailerForm.get('trailerTypeId').value === 'Dry Van' ||
                trailerForm.get('trailerTypeId').value === 'Container') &&
              trailerForm.get('trailerTypeId').value !== 'Reefer'
            "
            class="col-4"
          >
            <app-ta-input-dropdown
              formControlName="doorType"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Door Type',
                isDropdown: true,
                dropdownWidthClass: 'w-col-136'
              }"
              [options]="doorType"
              [activeItem]="selectedDoorType"
              (selectedItem)="onSelectDoorType($event)"
            ></app-ta-input-dropdown>
          </div>
          <div
            class="col-4"
            *ngIf="trailerForm.get('trailerTypeId').value === 'Tanker'"
          >
            <app-ta-input
              formControlName="volume"
              [inputConfig]="{
                name: 'Volume',
                type: 'text',
                label: 'Volume',
                maxLength: 6,
                placeholderText: !trailerForm.get('volume').value ? '' : 'gal',
                thousandSeparator: true
              }"
            ></app-ta-input>
          </div>
          <div
            class="{{
              trailerForm.get('trailerTypeId').value === 'Dry Van' ||
              trailerForm.get('trailerTypeId').value === 'Container' ||
              trailerForm.get('trailerTypeId').value === 'Reefer' ||
              trailerForm.get('trailerTypeId').value === 'Tanker'
                ? 'col-4'
                : 'col-6'
            }}"
          >
            <app-ta-input
              formControlName="emptyWeight"
              [inputConfig]="{
                name: 'Empty Weight',
                type: 'text',
                label: 'Empty Weight',
                maxLength: 6,
                thousandSeparator: true,
                placeholderText: !trailerForm.get('emptyWeight').value
                  ? ''
                  : 'ibs'
              }"
            ></app-ta-input>
          </div>
          <div
            class="{{
              trailerForm.get('trailerTypeId').value === 'Dry Van' ||
              trailerForm.get('trailerTypeId').value === 'Container' ||
              trailerForm.get('trailerTypeId').value === 'Reefer' ||
              trailerForm.get('trailerTypeId').value === 'Tanker'
                ? 'col-4 no-p-left'
                : 'col-6'
            }}"
          >
            <app-ta-input
              formControlName="mileage"
              [inputConfig]="{
                name: 'Mileage',
                type: 'text',
                label: 'Mileage',
                maxLength: 10,
                placeholderText: 'mi',
                thousandSeparator: true
              }"
            ></app-ta-input>
          </div>
        </div>
        <!-------------------------------- THIRD ROW -------------------------------->
        <div class="row last-modal-row">
          <div class="col-12">
            <app-ta-input
              formControlName="insurancePolicy"
              [inputConfig]="{
                name: 'Insurance Policy',
                type: 'text',
                label: 'Insurance Policy',
                textTransform: 'uppercase'
              }"
            ></app-ta-input>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-ta-modal>
