<app-ta-modal
    [modalTitle]="editData?.type !== 'edit' ? 'Add Trailer' : 'Edit Trailer'"
    [editData]="editData"
    [editName]="editData?.data?.trailerNumber"
    [isModalValid]="trailerForm.valid && isFormDirty"
    (action)="onModalAction($event)"
>
    <div origin class="origin-part-modal">
        <app-ta-tab-switch
            [tabs]="tabs"
            (switchClicked)="tabChange($event)"
            [type]="'type1-modal-popup'"
        >
        </app-ta-tab-switch>

        <form
            [formGroup]="trailerForm"
            class="form-container"
            [ngClass]="{
                'form-container-without-mb': selectedTab === 1,
                'form-container-with-inputs': selectedTab === 2
            }"
        >
            <div
                class="animation-two-tabs"
                [@animationTabsModal]="animationObject"
            >
                <!-------------------------------- Basic Tab -------------------------------->
                <div class="m-tab" *ngIf="selectedTab === 1">
                    <div class="trailer-modal-first-row">
                        <app-ta-input
                            formControlName="trailerNumber"
                            [inputConfig]="{
                                name: 'vehicle-unit',
                                type: 'text',
                                label: 'Unit No.',
                                isRequired: true,
                                textTransform: 'uppercase',
                                minLength: 1,
                                maxLength: 8,
                                autoFocus: editData?.type !== 'edit'
                            }"
                        ></app-ta-input>
                        <app-ta-input-dropdown
                            formControlName="trailerTypeId"
                            [template]="'svgtext-template'"
                            [inputConfig]="{
                                name: 'Input Dropdown',
                                type: 'text',
                                label: 'Trailer Type',
                                isRequired: true,
                                isDropdown: true,
                                dropdownImageInput: {
                                    withText: true,
                                    svg: true,
                                    image: false,
                                    url: selectedTrailerType?.logoName,
                                    template: 'trailer',
                                    class: [
                                        'Tanker',
                                        'Pneumatic Tanker'
                                    ].includes(selectedTrailerType?.name)
                                        ? 'tanker'
                                        : selectedTrailerType?.name
                                              ?.toLowerCase()
                                              ?.includes('rgn')
                                        ? 'low-boy-rgn'
                                        : selectedTrailerType?.name
                                              ?.trim()
                                              .replace(' ', '')
                                              .toLowerCase()
                                },
                                dropdownWidthClass: 'w-col-334',
                                customClass: 'truck-trailer-dropdown'
                            }"
                            [options]="trailerType"
                            [activeItem]="selectedTrailerType"
                            (selectedItem)="
                                onSelectDropdown($event, 'trailer-type')
                            "
                        ></app-ta-input-dropdown>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <app-ta-input
                                formControlName="vin"
                                [inputConfig]="{
                                    name: 'vin-number',
                                    type: 'text',
                                    label: 'VIN',
                                    isRequired: true,
                                    textTransform: 'uppercase',
                                    maxLength: 17,
                                    minLength: 5,
                                    loadingSpinner: {
                                        size: 'small',
                                        color: 'white',
                                        isLoading: loadingVinDecoder
                                    }
                                }"
                            ></app-ta-input>
                        </div>
                        <div class="col-6">
                            <app-ta-input-dropdown
                                formControlName="trailerMakeId"
                                [template]="'svg-template'"
                                [inputConfig]="{
                                    name: 'Input Dropdown',
                                    type: 'text',
                                    label: 'Make',
                                    isRequired: true,
                                    isDropdown: true,
                                    dropdownImageInput: {
                                        withText: false,
                                        svg: true,
                                        image: false,
                                        url: selectedTrailerMake?.logoName
                                    },
                                    placeholder: selectedTrailerMake?.name,
                                    dropdownWidthClass: 'w-col-228'
                                }"
                                [options]="trailerMakeType"
                                [activeItem]="selectedTrailerMake"
                                (selectedItem)="
                                    onSelectDropdown($event, 'trailer-make')
                                "
                            ></app-ta-input-dropdown>
                        </div>
                    </div>
                    <div class="custom-model-color-year-length last-row">
                        <app-ta-input
                            formControlName="model"
                            [inputConfig]="{
                                name: 'truck-trailer-model',
                                type: 'text',
                                label: 'Model',
                                textTransform: 'uppercase',
                                minLength: 1,
                                maxLength: 50
                            }"
                        ></app-ta-input>
                        <app-ta-input
                            formControlName="year"
                            [inputConfig]="{
                                name: 'Year',
                                type: 'text',
                                label: 'Year',
                                isRequired: true,
                                minLength: 4,
                                maxLength: 4
                            }"
                        ></app-ta-input>
                        <app-ta-input-dropdown
                            formControlName="colorId"
                            [template]="'svgtext-template'"
                            [inputConfig]="{
                                name: 'Input Dropdown',
                                type: 'text',
                                label: 'Color',
                                isDropdown: true,
                                dropdownImageInput: {
                                    withText: true,
                                    svg: true,
                                    image: false,
                                    url: selectedColor?.code
                                        ? 'ic_color.svg'
                                        : null,
                                    template: 'color',
                                    color: selectedColor?.code
                                },
                                dropdownWidthClass: 'w-col-133'
                            }"
                            [options]="colorType"
                            [activeItem]="selectedColor"
                            (selectedItem)="onSelectDropdown($event, 'color')"
                        ></app-ta-input-dropdown>
                        <app-ta-input-dropdown
                            formControlName="trailerLengthId"
                            [inputConfig]="{
                                name: 'Input Dropdown',
                                type: 'text',
                                label: 'Length',
                                isDropdown: true,
                                isRequired: true,
                                dropdownWidthClass: 'w-col-106'
                            }"
                            [options]="trailerLengthType"
                            [activeItem]="selectedTrailerLength"
                            (selectedItem)="
                                onSelectDropdown($event, 'trailer-length')
                            "
                        ></app-ta-input-dropdown>
                    </div>
                    <!-- Company Owned -->
                    <app-ta-checkbox-card
                        formControlName="companyOwned"
                        [label]="'Company Owned'"
                        [name]="'company-owned'"
                        [reverseLogic]="true"
                        [isCardOpen]="trailerForm.get('companyOwned').value"
                        [animationMarginParams]="{
                            marginTop: '12px',
                            marginBottom: '18px'
                        }"
                    >
                        <div bodyFalse class="row row-no-m">
                            <div class="col-12">
                                <app-ta-input-dropdown
                                    formControlName="ownerId"
                                    [inputConfig]="{
                                        name: 'Input Dropdown',
                                        type: 'text',
                                        label: 'Owner',
                                        isDropdown: true,
                                        isRequired: true,
                                        dropdownWidthClass: 'w-col-456'
                                    }"
                                    [canAddNew]="true"
                                    [canOpenModal]="true"
                                    [options]="ownerType"
                                    [activeItem]="selectedOwner"
                                    (selectedItem)="
                                        onSelectDropdown($event, 'owner')
                                    "
                                ></app-ta-input-dropdown>
                            </div>
                        </div>
                    </app-ta-checkbox-card>

                    <app-ta-input-note
                        formControlName="note"
                        [isVisibleNote]="
                            trailerForm.get('note').value &&
                            trailerForm.get('note').value != 'null'
                                ? trailerForm.get('note').value
                                : false
                        "
                        [note]="
                            trailerForm.get('note').value &&
                            trailerForm.get('note').value != 'null'
                                ? trailerForm.get('note').value
                                : ''
                        "
                    ></app-ta-input-note>
                </div>
                <!-------------------------------- Additional Tab -------------------------------->
                <div class="m-tab" *ngIf="selectedTab === 2">
                    <!-------------------------------- FIRST ROW -------------------------------->
                    <div
                        class="row"
                        *ngIf="trailerForm.get('companyOwned').value"
                    >
                        <div class="col-6">
                            <app-ta-input
                                formControlName="purchaseDate"
                                [inputConfig]="{
                                    name: 'datepicker',
                                    type: 'text',
                                    label: 'Purchase Date',
                                    isDropdown: true,
                                    placeholderIcon: 'date',
                                    customClass: 'datetimeclass'
                                }"
                            ></app-ta-input>
                        </div>
                        <div class="col-6">
                            <app-ta-input
                                formControlName="purchasePrice"
                                [inputConfig]="{
                                    name: 'Purchase Price',
                                    type: 'text',
                                    label: 'Purchase Price',
                                    maxLength: 14,
                                    thousandSeparator: true,
                                    placeholderIcon: 'dollar',
                                    customClass: 'dollar-placeholderIcon'
                                }"
                            ></app-ta-input>
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="col-4"
                            *ngIf="
                                trailerForm.get('trailerTypeId').value ===
                                'Reefer'
                            "
                        >
                            <app-ta-input-dropdown
                                formControlName="reeferUnit"
                                [inputConfig]="{
                                    name: 'Input Dropdown',
                                    type: 'text',
                                    label: 'Reefer Unit',
                                    isDropdown: true,
                                    dropdownWidthClass: 'w-col-136'
                                }"
                                [options]="reeferUnitType"
                                [activeItem]="selectedReeferType"
                                (selectedItem)="
                                    onSelectDropdown($event, 'reefer-unit')
                                "
                            ></app-ta-input-dropdown>
                        </div>
                        <div class="col-2">
                            <app-ta-input
                                formControlName="axles"
                                [inputConfig]="{
                                    name: 'Axles',
                                    type: 'number',
                                    label: 'Axles',
                                    minLength: 1,
                                    maxLength: 2
                                }"
                            ></app-ta-input>
                        </div>
                        <div
                            class="{{
                                trailerForm.get('trailerTypeId').value !==
                                'Reefer'
                                    ? 'col-6'
                                    : 'col-3 no-p-left'
                            }}"
                        >
                            <app-ta-input-dropdown
                                formControlName="suspension"
                                [inputConfig]="{
                                    name: 'Input Dropdown',
                                    type: 'text',
                                    label: 'Suspension',
                                    isDropdown: true,
                                    dropdownWidthClass:
                                        trailerForm.get('trailerTypeId')
                                            .value !== 'Reefer'
                                            ? 'w-col-228'
                                            : 'w-col-108'
                                }"
                                [options]="suspensionType"
                                [activeItem]="selectedSuspension"
                                (selectedItem)="
                                    onSelectDropdown($event, 'suspension')
                                "
                            ></app-ta-input-dropdown>
                        </div>
                        <div
                            class="col-4 no-p-left"
                            *ngIf="
                                trailerForm.get('trailerTypeId').value !==
                                'Reefer'
                            "
                        >
                            <app-ta-input-dropdown
                                formControlName="tireSizeId"
                                [inputConfig]="{
                                    name: 'Input Dropdown',
                                    type: 'text',
                                    label: 'Tire Size',
                                    isDropdown: true,
                                    dropdownWidthClass: 'w-col-148'
                                }"
                                [options]="tireSize"
                                [activeItem]="selectedTireSize"
                                (selectedItem)="
                                    onSelectDropdown($event, 'tire-size')
                                "
                            ></app-ta-input-dropdown>
                        </div>
                        <div
                            *ngIf="
                                trailerForm.get('trailerTypeId').value ===
                                'Reefer'
                            "
                            class="col-3 no-p-left"
                        >
                            <app-ta-input-dropdown
                                formControlName="doorType"
                                [inputConfig]="{
                                    name: 'Input Dropdown',
                                    type: 'text',
                                    label: 'Door Type',
                                    isDropdown: true,
                                    dropdownWidthClass: 'w-col-108'
                                }"
                                [options]="doorType"
                                [activeItem]="selectedDoorType"
                                (selectedItem)="
                                    onSelectDropdown($event, 'door-type')
                                "
                            ></app-ta-input-dropdown>
                        </div>
                    </div>
                    <!-------------------------------- SECOND ROW -------------------------------->
                    <div class="row">
                        <div
                            class="col-3"
                            *ngIf="
                                trailerForm.get('trailerTypeId').value ===
                                'Reefer'
                            "
                        >
                            <app-ta-input-dropdown
                                formControlName="tireSizeId"
                                [inputConfig]="{
                                    name: 'Input Dropdown',
                                    type: 'text',
                                    label: 'Tire Size',
                                    isDropdown: true,
                                    dropdownWidthClass: 'w-col-96'
                                }"
                                [options]="tireSize"
                                [activeItem]="selectedTireSize"
                                (selectedItem)="
                                    onSelectDropdown($event, 'tire-size')
                                "
                            ></app-ta-input-dropdown>
                        </div>
                        <div
                            *ngIf="
                                ['Dry Van', 'Container'].includes(
                                    trailerForm.get('trailerTypeId').value
                                )
                            "
                            class="col-3"
                        >
                            <app-ta-input-dropdown
                                formControlName="doorType"
                                [inputConfig]="{
                                    name: 'Input Dropdown',
                                    type: 'text',
                                    label: 'Door Type',
                                    isDropdown: true,
                                    dropdownWidthClass: 'w-col-96'
                                }"
                                [options]="doorType"
                                [activeItem]="selectedDoorType"
                                (selectedItem)="
                                    onSelectDropdown($event, 'door-type')
                                "
                            ></app-ta-input-dropdown>
                        </div>
                        <div
                            *ngIf="
                                [
                                    'Tanker',
                                    'Pneumatic Tanker',
                                    'Reefer',
                                    'Dry Van',
                                    'Container',
                                    'Side Kit',
                                    'Conestoga',
                                    'Dumper'
                                ].includes(
                                    trailerForm.get('trailerTypeId').value
                                )
                            "
                            [ngClass]="
                                ['Reefer', 'Dry Van', 'Container'].includes(
                                    trailerForm.get('trailerTypeId').value
                                )
                                    ? 'col-3'
                                    : 'col-4'
                            "
                        >
                            <app-ta-input
                                formControlName="volume"
                                [inputConfig]="{
                                    name: 'trailer-volume',
                                    type: 'text',
                                    label: 'Volume',
                                    minLength: 5,
                                    maxLength: 7,
                                    placeholderText: trailerForm.get('volume')
                                        .value
                                        ? selectedTrailerType?.name === 'Tanker'
                                        ? 'gal' : 'cu_ft'
                                        : null,
                                    thousandSeparator: true
                                }"
                            ></app-ta-input>
                        </div>
                        <div
                            class="{{
                                [
                                    'Tanker',
                                    'Pneumatic Tanker',
                                    'Side Kit',
                                    'Conestoga',
                                    'Dumper'
                                ].includes(
                                    trailerForm.get('trailerTypeId').value
                                )
                                    ? 'col-4 no-p-left'
                                    : [
                                          'Dry Van',
                                          'Container',
                                          'Reefer'
                                      ].includes(
                                          trailerForm.get('trailerTypeId').value
                                      )
                                    ? 'col-3 no-p-left'
                                    : 'col-6'
                            }}"
                        >
                            <app-ta-input
                                formControlName="emptyWeight"
                                [inputConfig]="{
                                    name: 'Empty Weight',
                                    type: 'text',
                                    label: 'Empty Wgt.',
                                    minLength: 4,
                                    maxLength: 6,
                                    placeholderText: 'ibs',
                                    thousandSeparator: true,
                                    placeholderText: !trailerForm.get(
                                        'emptyWeight'
                                    ).value
                                        ? ''
                                        : 'ibs'
                                }"
                            ></app-ta-input>
                        </div>
                        <div
                            class="{{
                                [
                                    'Tanker',
                                    'Pneumatic Tanker',
                                    'Side Kit',
                                    'Conestoga',
                                    'Dumper'
                                ].includes(
                                    trailerForm.get('trailerTypeId').value
                                )
                                    ? 'col-4 no-p-left'
                                    : [
                                          'Dry Van',
                                          'Container',
                                          'Reefer'
                                      ].includes(
                                          trailerForm.get('trailerTypeId').value
                                      )
                                    ? 'col-3 no-p-left'
                                    : 'col-6'
                            }}"
                        >
                            <app-ta-input
                                formControlName="mileage"
                                [inputConfig]="{
                                    name: 'Mileage',
                                    type: 'text',
                                    label: 'Mileage',
                                    minLength: 1,
                                    maxLength: 10,
                                    placeholderText: 'mi',
                                    thousandSeparator: true
                                }"
                            ></app-ta-input>
                        </div>
                    </div>
                    <!-------------------------------- THIRD ROW -------------------------------->
                    <div class="trailer-modal-insurance-fhwa row-no-mb">
                        <app-ta-input
                            formControlName="insurancePolicy"
                            [inputConfig]="{
                                name: 'insurance-policy',
                                type: 'text',
                                label: 'Insurance Policy',
                                minLength: 8,
                                maxLength: 14,
                                textTransform: 'uppercase'
                            }"
                        ></app-ta-input>
                        <app-ta-input
                            formControlName="fhwaExp"
                            [inputConfig]="{
                                name: 'months',
                                type: 'text',
                                placeholderText: 'months',
                                label: 'FHWA Exp.',
                                isRequired: true,
                                hideClear: true,
                                commands: {
                                    active: true,
                                    type: 'months',
                                    firstCommand: {
                                        name: 'minus',
                                        svg: 'assets/svg/common/ic_pm_decrement.svg'
                                    },
                                    secondCommand: {
                                        name: 'plus',
                                        svg: 'assets/svg/common/ic_pm_increment.svg'
                                    }
                                }
                            }"
                        ></app-ta-input>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-ta-modal>
