@import 'src/theme/variables.scss';

.step-container {
    padding-top: 22px;

    .step-title {
        color: $ta-blue-5;
        font-size: 32px;
        height: 39px;
        margin-bottom: 22px !important;

        &::-moz-selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }

        &::selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }
    }

    .checkbox-container {
        width: 628px;
        margin: 0 auto 12px auto;

        p {
            font-size: 14px;
            line-height: 18px;
            margin-top: 5px !important;
            color: $black;

            &::-moz-selection {
                color: $ta-black;
                background: rgb(47, 47, 47, 0.2);
            }

            &::selection {
                color: $ta-black;
                background: rgb(47, 47, 47, 0.2);
            }
        }
    }

    .step-subtitle {
        height: 18px;
        font-size: 14px;
        margin-top: 12px !important;
        margin-bottom: 12px !important;

        &::-moz-selection {
            color: $ta-black;
            background: rgb(47, 47, 47, 0.2);
        }

        &::selection {
            color: $ta-black;
            background: rgb(47, 47, 47, 0.2);
        }
    }

    .signature-pad-container {
        margin: 10px auto 0 auto;
        width: 628px;
        height: 215px;
        border-radius: 3px;
    }
}

