@import '/src/theme/variables.scss';
@import '/src/assets/scss/fonts.scss';

.table-container {
    width: calc(100% - 92px);
}

// SHOW MORE

.show-more-container {
    height: 18px;
    width: 100%;
    margin-top: 2px;

    .showing,
    .show-more {
        height: 100%;
    }

    .showing {
        font-size: 11px;
        color: $bw6-2;
        min-width: 80px;
    }

    .show-more {
        cursor: pointer;
        font-size: 11px;
        color: $ta-black;

        &:hover {
            color: $light-blue;
            transform: 0.25s;
        }
    }
}
