<div class="table-container">
    <app-ta-table-toolbar
        #toolbarComponent
        (toolBarAction)="onToolBarAction($event)"
        [options]="loadStoreService.tableOptions$ | async"
        [tableData]="loadStoreService.tableData$ | async"
        [selectedTab]="selectedTab"
        [columns]="loadStoreService.columns$ | async"
        [activeViewMode]="loadStoreService.activeViewMode$ | async"
        listName="Load"
    ></app-ta-table-toolbar>
    @if (loadStoreService.activeViewMode$ | async; as activeViewMode) {
        @if (activeViewMode === 'List') {
            <app-ta-table-head
                [options]="loadStoreService.tableOptions$ | async"
                [viewData]="loadStoreService.viewData$ | async"
                [columns]="loadStoreService.columns$ | async"
                [tableData]="loadStoreService.tableData$ | async"
                (headActions)="onTableHeadActions($event)"
            ></app-ta-table-head>

            <app-ta-table-body
                [viewData]="loadStoreService.viewData$ | async"
                [columns]="loadStoreService.columns$ | async"
                [options]="loadStoreService.tableOptions$ | async"
                [selectedTab]="selectedTab"
                (bodyActions)="onTableBodyActions($event)"
                [tableData]="loadStoreService.tableData$ | async"
                (saveValueNote)="saveValueNote($event)"
            ></app-ta-table-body>
        }
        <!-- Cards -->

        @if (activeViewMode === 'Card') {
            <div class="elements">
                <app-load-card
                    (bodyActions)="onTableBodyActions($event)"
                    [viewData]="loadStoreService.viewData$ | async"
                    [rows]="rows"
                    [cardTitle]="cardTitle"
                    [cardTitleLink]="cardTitleLink"
                    [displayRowsFront]="(displayRows$ | async)?.displayRowsFront"
                    [displayRowsBack]="(displayRows$ | async)?.displayRowsBack"
                    [page]="page"
                    [selectedTab]="selectedTab"
                    (saveValueNote)="saveValueNote($event)"
                ></app-load-card>

                <!-- Show More -->

                @if ({ viewData: loadStoreService.viewData$ | async, activeTableData: loadStoreService.activeTableData$ | async }; as cardData) {
                    <div
                        class="show-more-container d-flex align-items-center justify-content-between"
                        [ngStyle]="{ 'width.px': tableWidth }"
                    >
                        <div class="showing ta-font-semi-bold">
                            {{ cardData?.viewData?.length }} OF
                            {{ cardData?.activeTableData?.data?.length }}
                        </div>
                        @if (cardData?.viewData?.length < cardData?.activeTableData?.data?.length) {
                            <div
                                class="show-more ta-font-bold w-fit-content align-items-center d-flex justify-content-between"
                                (click)="onShowMore()"
                            >
                                SHOW MORE
                            </div>
                        }
                    </div>
                }
            </div>
        }
    }
</div>
