@import "src/theme/variables.scss";

.todo-list-holder {
  padding-right: 18px;
  .todo-tollbar {
    display: flex;

    .toolbar {
      flex: 0 0 33.3%;
      padding: 0 6px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;

      .toolbar-title {
        font-size: 26px;
        font-weight: 900;
        color: #919191;
        line-height: 32px;
        padding-right: 12px;
        box-sizing: border-box;

        &::-moz-selection {
          color: $bw6-2;
          background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
          color: $bw6-2;
          background: rgb(108, 108, 108, 0.2);
        }
      }

      .toolbar-menu-holder {
        flex: 1;
        padding: 0px 2px 0px 2px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .toolbar-icons-frame {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 2px 0px;

          .border-right {
            width: 2px;
            height: 20px;
            border-radius: 1px;
            background-color: #f3f3f3;
          }

          .box-icons {
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 2px;

            svg-icon {
              svg {
                width: 14.4px;
                height: 16.2px;
                display: flex;

                path {
                  fill: #aaaaaa;
                }
              }
            }

            &:hover {
              cursor: pointer;

              svg-icon {
                svg {
                  path {
                    fill: #919191;
                  }
                }
              }
            }
          }

          .search-icon {
            width: auto !important;
          }

          .plus-box {
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2px;
            cursor: pointer;

            svg-icon {
              svg {
                width: 16px;
                height: 16px;
                display: flex;

                path {
                  fill: #6d82c7;
                }
              }
            }

            &:hover {
              background-color: #6d82c7;
              border-radius: 2px;
              svg-icon {
                svg {
                  path {
                    fill: #ffffff !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .card-main-to-do-holder {
    margin: 4px 0 8px 0;

    gridster-preview {
      background-color: #eeeeee;
      border-radius: 3px;
      box-shadow: inset 0px 0px 6px rgb(182 183 183);
    }

    .smooth-dnd-drop-preview-constant-class {
      margin-top: 8px;
      background-color: #eeeeee;
      border-radius: 3px;
      box-shadow: inset 0px 0px 6px #0000001f;
    }

    .smooth-dnd-container {
      display: flex;
      min-height: calc(100vh - 70px);

      .smooth-dnd-ghost {
        .card-ghost {
          transform: rotate(3deg) !important;
        }
        .list-holder {
          box-shadow: 0 0 4px rgb(112 112 112 / 50%);
          border-radius: 4px;
          cursor: grabbing !important;

          .list-top-holder {
            .assigned_user_hold {
              .assigned_user_hold_inner {
                position: static;
              }
            }
          }
        }
      }

      .smooth-dnd-draggable-wrapper {
        margin-top: 8px;
        flex: 0 0 33.3%;

        .smooth-dnd-container.vertical {
          flex-direction: column;
          margin: 0 6px;
          .smooth-dnd-draggable-wrapper {
            flex: 0 0 100%;
            padding: 0;
          }
        }
      }
    }

    .list-holder {
      width: 100%;
      height: 100%;
      padding: 8px 12px 16px 12px;
      box-sizing: border-box;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 4px;
      transition: all 0.1s;
      cursor: grab;

      .todo_deadline_hold {
        width: 100%;
        margin-top: 12px;
        padding: 0px 4px;
      }

      .list-top-holder {
        width: 100%;
        //flex: 1;
      }

      .list-items-frame {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2px;
        box-sizing: border-box;

        .list-title {
          font-size: 14px;
          font-weight: 700;
          color: #6c6c6c;
          line-height: 18px;

          &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }
        }

        .icons-frame {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .icon-box {
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 4px;
            border-radius: 2px;
            cursor: pointer;

            &.dots {
              margin-left: 8px;
            }

            &.counter_icon {
              position: relative;
            }

            &.blue-icons {
              background-color: #3074d333;
              svg-icon {
                svg {
                  display: flex;

                  path {
                    fill: #3074d3 !important;
                  }
                }
              }

              svg {
                display: flex;

                path {
                  fill: #3074d3 !important;
                }
              }

              &:hover {
                svg-icon {
                  svg {
                    display: flex;
                    cursor: pointer;
                  }
                }

                svg {
                  display: flex;
                  cursor: pointer;
                }
              }
            }

            svg-icon {
              svg {
                display: flex;

                path {
                  fill: #919191;
                }

                circle {
                  fill: #919191;
                }
              }
            }

            svg {
              display: flex;

              path {
                fill: #919191;
              }

              circle {
                fill: #919191;
              }
            }

            &.lighter-icon {
              svg-icon {
                svg {
                  display: flex;

                  path {
                    fill: #d2d2d2;
                  }

                  circle {
                    fill: #d2d2d2;
                  }
                }
              }

              svg {
                display: flex;

                path {
                  fill: #d2d2d2;
                }

                circle {
                  fill: #d2d2d2;
                }
              }
            }

            &:hover {
              svg-icon {
                svg {
                  display: flex;
                  cursor: pointer;

                  path {
                    fill: #6c6c6c;
                  }

                  circle {
                    fill: #6c6c6c;
                  }
                }
              }

              svg {
                display: flex;
                cursor: pointer;

                path {
                  fill: #6c6c6c;
                }

                circle {
                  fill: #6c6c6c;
                }
              }
            }

            .number-comments {
              position: absolute;
              font-size: 10px;
              font-weight: 700;
              color: #fff;
              line-height: 13px;
              top: 1px;
              user-select: none;
            }
          }
        }

        .list-time {
          font-size: 14px;
          font-weight: 500;
          color: #6c6c6c;
          line-height: 18px;

          &.time {
            color: #b7b7b7;
            padding-right: 6px;
            box-sizing: border-box;
          }
        }
      }

      .options-frame {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2px;
        box-sizing: border-box;
        user-select: none;
        margin-left: 4px;

        .dispatch-box {
          padding: 2px 4px;
          box-sizing: border-box;
          border-radius: 2px;
          background-color: #f3f3f3;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 11px;
          font-weight: 800;
          color: #919191;
          line-height: 14px;
          margin-right: 4px;

          &.everybody {
            color: #3074d3;
            background-color: #3074d333;
          }

          &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }

          &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
          }
        }

        .users {
          width: 18px;
          height: 18px;
          border-radius: 100%;
          margin-right: 4px;

          svg-icon {
            svg {
              display: flex;
              width: 18px;
              height: 18px;
            }
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .main_users_hold {
        display: flex;
        margin: 2px 4px 0px 4px;

        .assigned_user_hold {
          user-select: none;
          display: grid;
          grid-template-columns: 1fr;
          width: 32px;
          overflow: visible;
          .assigned_user_hold_inner {
            display: flex;
            align-items: center;
            margin-right: 4px;
            cursor: pointer;

            .user_avatar {
              width: 28px;
              height: 28px;
              background-size: contain;
              border-radius: 100%;
            }

            .user_tooltip_name_hold {
              grid-row-start: 1;
              grid-column-start: 2;

              height: 18px;
              width: 0px;
              margin-left: 2px;

              opacity: 0;
              overflow: hidden;
              transition: all 0.2s ease-in-out;
              pointer-events: none;
              z-index: 2;
              .user_tooltip_name {
                padding: 0px 2px;
                width: max-content;

                font-size: 11px;
                line-height: 18px;
                font-weight: 700;
                color: #fff;
                text-align: center;

                border-radius: 2px;
                background-color: #616161;
              }
            }

            &:hover {
              .user_tooltip_name_hold {
                width: 100px;
                opacity: 1;
              }
            }

            .user_profile_image {
              grid-row-start: 1;
              grid-column-start: 1;
            }
          }
        }
      }

      .list-text {
        font-size: 14px;
        font-weight: 400;
        color: #6c6c6c;
        line-height: 18px;
        padding: 12px 4px 0px 4px;
        box-sizing: border-box;

        &::-moz-selection {
          color: $bw6-2;
          background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
          color: $bw6-2;
          background: rgb(108, 108, 108, 0.2);
        }
      }

      .link {
        font-size: 14px;
        font-weight: 500;
        color: #536bc2;
        line-height: 18px;
        margin-top: 12px;
        padding: 0px 4px;
        box-sizing: border-box;

        transition: all 0.3s ease-in-out;
        opacity: 1;
        max-height: 30px;

        &.closed {
          max-height: 0px;
          overflow: hidden;
          opacity: 0;
          margin: 0;
        }

        &:hover {
          cursor: pointer;
          color: #3551b7;
        }
      }

      .comment_main_holder {
        width: 100%;
        cursor: default;
        .comment-holder {
          width: 100%;
          flex: 1;
          justify-content: flex-start;
          align-items: center;
          padding-top: 12px;
          box-sizing: border-box;
          overflow: auto;

          &.show_border {
            padding-bottom: 16px;
            border-bottom: 1px solid #dadada;
          }

          &.no_comments {
            padding-bottom: 4px;
          }

          .add_comment_holder {
            &.move_comment_hold {
              margin-top: 4px;
            }
            &.shrink_hold {
              display: flex;
              margin-top: 0px;
            }

            .add_comment_text {
              display: flex;
              align-items: center;
              font-size: 14px;
              line-height: 18px;
              font-weight: bold;
              color: #6c6c6c;
              cursor: pointer;

              &:hover {
                color: #3551b7;
              }
            }
          }

          .todo_list_holder {
            display: flex;
            padding-top: 8px;
            border-top: 1px solid #dadada;
            &.expand {
              margin-bottom: 8px;
            }
            .todo_list_info_holder {
              display: flex;
              align-items: center;
              flex: 1;
              .todo_list_info_number_hold {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 26px;
                height: 26px;

                background-color: #eeeeee;
                border-radius: 2px;

                .todo_list_info_number {
                  font-size: 14px;
                  font-weight: 800;
                  color: #424242;

                  &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                  }

                  &::selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                  }
                }
              }

              .todo_list_info_text {
                padding-left: 4px;

                font-size: 14px;
                line-height: 18px;
                font-weight: 800;
                color: #424242;

                &::-moz-selection {
                  color: $bw6-2;
                  background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                  color: $bw6-2;
                  background: rgb(108, 108, 108, 0.2);
                }
              }
            }

            .todo_list_add_comment_hold {
              background-color: #3074d333;
              border-radius: 2px;
              cursor: pointer;
              .todo_list_add_comment_text {
                padding: 6px 18px;

                color: #3074d3;
                font-size: 11px;
                line-height: 14px;
                font-weight: 700;

                &::-moz-selection {
                  color: $bw6-2;
                  background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                  color: $bw6-2;
                  background: rgb(108, 108, 108, 0.2);
                }
              }

              &:hover {
                background-color: #3074d3;

                .todo_list_add_comment_text {
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .line-holder {
        width: 100%;
        height: 8px;
        border-radius: 2px;
        display: flex;

        .line-left {
          width: 100%;
          height: 8px;
          background-color: #ffe1e4;

          &.full-dark-green {
            background-color: #80cbba;
          }

          &.green-line {
            background-color: #e0f2e9;
          }

          &.orange-line {
            background-color: #ffecd1;
          }

          &.color-gray {
            width: 69px;
            background-color: #dadada;
          }

          &.color-red {
            background-color: #e57373;
          }
        }

        .line-right {
          width: 22px;
          height: 8px;
          background-color: #e57373;

          &.dark-green-line {
            width: 384px;
            background-color: #80cbba;
          }

          &.orange-small-line {
            width: 241px;
            background-color: #ffb74d;
          }

          &.dark-orange-line {
            width: 252px;
            background-color: #ffb74d;
          }

          &.color-dark-gray {
            width: 100%;
            background-color: #aaaaaa;
          }
        }
      }
    }

    gridster-item {
      cursor: grab;
      border-radius: 3px;

      &:active {
        cursor: grabbing;
      }

      &.gridster-item-moving {
        box-shadow: none;
        background-color: transparent;
        overflow: visible;
        z-index: 999 !important;

        .list-holder {
          box-shadow: 0 0 4px rgb(112 112 112 / 50%);
          border-radius: 4px;
        }
      }
    }
  }

  .widgets-holder {
    display: none; // flex
    position: fixed;
    width: 360px;
    height: 100vh;
    padding: 22px 12px 22px 16px;
    box-sizing: border-box;
    background-color: #fff;
    top: 0px;
    right: 0px;
    flex-direction: column;

    .widgets-title-holder {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 16px;
      box-sizing: border-box;

      .widgets-title-frame {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .widgets-title {
          font-size: 26px;
          font-weight: 900;
          color: #919191;
          line-height: 32px;
          padding-right: 12px;
          box-sizing: border-box;
        }

        .refresh-icon {
          width: 16px;
          height: 16px;

          svg-icon {
            svg {
              display: flex;
              width: 16px;
              height: 16px;

              path {
                fill: #b7b7b7;
              }
            }
          }
        }

        .update-text {
          font-size: 10px;
          font-weight: 600;
          color: #b7b7b7;
          line-height: 10px;
          padding-left: 6px;
          box-sizing: border-box;
        }
      }

      .lock {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        align-items: center;

        svg-icon {
          svg {
            width: 14px;
            height: 16px;
            display: flex;

            path {
              fill: #b7b7b7;
            }
          }
        }
      }
    }

    .middle-holder {
      overflow: auto;
      flex: 1;
    }

    .world-clock-holder {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px 10px 7px 10px;
      box-sizing: border-box;
      border-radius: 3px;
      background-color: #f9f9f9;
      margin-bottom: 12px;

      &.no-margin {
        margin-bottom: 0px;
      }

      &.padding-none {
        padding: 10px 10px 0px 10px;
      }

      .world-clock-title-holder {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 12px;
        box-sizing: border-box;

        .world-clock-title {
          font-size: 12px;
          font-weight: 700;
          color: #6c6c6c;
          line-height: 15px;
        }

        .add {
          width: 14px;
          height: 14px;

          svg-icon {
            svg {
              display: flex;
              width: 14px;
              height: 14px;

              path {
                fill: #b7b7b7;
              }
            }
          }

          &.different-fill {
            svg-icon {
              svg {
                path {
                  fill: #dadada;
                }
              }
            }
          }
        }

        .weather-city-holder {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .weather-icon {
            width: 32px;
            height: 32px;

            svg-icon {
              svg {
                display: flex;
                width: 32px;
                height: 32px;

                g {
                  opacity: 1;

                  path {
                    fill: #ffe17c;
                  }
                }
              }
            }
          }

          .temperature-city {
            font-size: 26px;
            font-weight: 600;
            color: #6c6c6c;
            line-height: 32px;
            padding: 0px 7px 0px 12px;
            box-sizing: border-box;
          }

          .weather-status-holder {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            .weather-city {
              font-size: 14px;
              font-weight: 700;
              color: #6c6c6c;
              line-height: 18px;
            }

            .weather-status {
              font-size: 10px;
              font-weight: 700;
              color: #919191;
              line-height: 13px;
            }
          }
        }
      }

      .city-holder {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 12px;
        box-sizing: border-box;

        .city-frame {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;

          .city {
            font-size: 14px;
            font-weight: 500;
            color: #6c6c6c;
            line-height: 18px;
            padding-bottom: 1px;
            box-sizing: border-box;
          }

          .state {
            font-size: 10px;
            font-weight: 700;
            color: #919191;
            line-height: 13px;
          }
        }

        .time-and-date-holder {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .date-holder {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            padding-right: 6px;
            box-sizing: border-box;

            .day {
              font-size: 14px;
              font-weight: 700;
              color: #6c6c6c;
              line-height: 18px;
              padding-bottom: 1px;
              box-sizing: border-box;
            }

            .date {
              font-size: 10px;
              font-weight: 700;
              color: #919191;
              line-height: 13px;
            }
          }

          .time {
            font-size: 34px;
            font-weight: 500;
            color: #6c6c6c;
            line-height: 42px;
            padding-right: 4px;
            box-sizing: border-box;
          }

          .part-of-day {
            width: 14px;
            font-size: 14px;
            font-weight: 700;
            color: #6c6c6c;
            line-height: 12px;
          }
        }
      }

      .vehicle-title {
        font-size: 12px;
        font-weight: 700;
        color: #6c6c6c;
        line-height: 15px;
        padding-bottom: 14px;
        box-sizing: border-box;
      }

      .vehicle-statistics-holder {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 7px;
        box-sizing: border-box;

        .vehicle-ring-icon {
          position: relative;
          width: 120px;
          height: 120px;

          svg-icon {
            svg {
              display: flex;
              width: 120px;
              height: 120px;
            }
          }

          .total-vehicle {
            position: absolute;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .total {
              font-size: 26px;
              font-weight: 500;
              color: #6c6c6c;
              line-height: 32px;
            }

            .total-text {
              font-size: 12px;
              font-weight: 700;
              color: #919191;
              line-height: 15px;
            }
          }
        }

        .vehicle-statistics-frame {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;

          .statistics-items-frame {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding-bottom: 12px;
            box-sizing: border-box;

            .no-padding-bottom {
              padding-bottom: 0px;
            }

            .statistics-items {
              font-size: 14px;
              font-weight: 700;
              color: #778fbb;
              line-height: 16px;
              padding-right: 6px;
              box-sizing: border-box;

              &.short-stop {
                color: #ffbf6b;
              }

              &.extra-stop {
                color: #ff6a6a;
              }

              &.parking {
                color: #b7b7b7;
              }
            }

            .percent {
              font-size: 14px;
              font-weight: 700;
              color: #919191;
              line-height: 18px;
            }
          }
        }

        .current-holder {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          flex-direction: column;

          .current {
            font-size: 14px;
            font-weight: 700;
            color: #6c6c6c;
            line-height: 18px;
            padding-bottom: 12px;
            box-sizing: border-box;
          }
        }
      }

      .max-min-temp-holder {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 4px;
        box-sizing: border-box;

        .max-min-temp-items-holder {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .max-temp {
            font-size: 12px;
            font-weight: 500;
            color: #6c6c6c;
            line-height: 15px;

            &.min-temp {
              padding-bottom: 12px;
              box-sizing: border-box;
            }
          }

          .temp-scale {
            position: relative;
            width: 8px;
            height: 46px;
            border-radius: 2px;
            background-color: #eeeeee;
            margin: 2px 0px;

            .scale-position {
              position: absolute;
              width: 8px;
              height: 23px;
              border-radius: 2px;
              background-color: #fcd467;
              top: 7px;
              left: 0px;

              &.scales-thunder {
                height: 18px;
                background-color: #fcde67;
                top: 14px;
              }

              &.scale-rain {
                height: 16px;
                background-color: #c1d8a1;
                top: 30px;
              }

              &.scale-cloudy {
                height: 21px;
                background-color: #fbd767;
                top: 13px;
              }

              &.scale-mostly-sunny {
                height: 17px;
                background-color: #fbd767;
                top: 13px;
              }

              &.scale-wind {
                height: 18px;
                background-color: #fbd767;
                top: 12px;
              }

              &.scale-sunny {
                height: 28px;
                background-color: #fdbf6a;
                top: 0px;
              }
            }
          }

          .weather-status-icon {
            width: 20px;
            height: 20px;

            svg-icon {
              svg {
                display: flex;
                width: 20px;
                height: 20px;

                g {
                  opacity: 1;

                  path {
                    fill: #ffe17c;
                  }
                }
              }
            }

            &.thunder {
              svg-icon {
                svg {
                  g {
                    opacity: 1;

                    path:nth-child(2) {
                      fill: #ffe17c !important;
                    }

                    path:nth-child(3) {
                      fill: #c3ecff !important;
                    }
                  }
                }
              }
            }

            &.rain {
              svg-icon {
                svg {
                  g {
                    opacity: 1;

                    path {
                      fill: #c3ecff;
                    }
                  }
                }
              }
            }

            &.cloudy-sunny {
              svg-icon {
                svg {
                  g {
                    path:nth-child(2) {
                      fill: #ffe17c;
                    }

                    path:nth-child(3),
                    path:nth-child(4) {
                      fill: #c3ecff;
                    }
                  }
                }
              }
            }
          }

          .weather-day {
            font-size: 10px;
            font-weight: 700;
            color: #919191;
            line-height: 13px;
            padding-top: 6px;
            box-sizing: border-box;
          }
        }
      }

      .border-bottom {
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: #eeeeee;
        margin: 12px 0px 10px 0px;
      }

      .temp-in-cities-global-holder {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 5px;
        box-sizing: border-box;

        .temp-in-cities-holder {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 14px;
          box-sizing: border-box;

          &.padding-bottom {
            padding-bottom: 0px;
          }

          .cities {
            font-size: 14px;
            font-weight: 500;
            color: #6c6c6c;
            line-height: 18px;
          }

          .weather-temp-holder {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .weather-description-holder {
              display: flex;
              justify-content: flex-start;
              align-items: center;

              .weather-box-icons {
                width: 20px;
                height: 20px;

                svg-icon {
                  svg {
                    display: flex;
                    width: 20px;
                    height: 20px;

                    g {
                      opacity: 1;

                      path {
                        fill: #c3ecff;
                      }
                    }
                  }
                }

                &.snow {
                  svg-icon {
                    svg {
                      g {
                        opacity: 1;

                        path:nth-child(2) {
                          fill: #ffe17c;
                        }

                        path:nth-child(3) {
                          fill: #c3ecff;
                        }
                      }
                    }
                  }
                }

                &.sunny {
                  svg-icon {
                    svg {
                      g {
                        opacity: 1;

                        path {
                          fill: #ffe17c;
                        }
                      }
                    }
                  }
                }
              }

              .weather-description {
                font-size: 10px;
                font-weight: 700;
                color: #919191;
                line-height: 13px;
                padding-left: 6px;
                box-sizing: border-box;
              }
            }

            .temp-in-cities {
              font-size: 14px;
              font-weight: 700;
              color: #6c6c6c;
              line-height: 18px;
            }
          }
        }
      }

      .invoice-holder {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 11px 0px 7px 0px;
        box-sizing: border-box;

        .invoice-text {
          font-size: 14px;
          font-weight: 600;
          color: #919191;
          line-height: 18px;
        }

        .invoice-price {
          font-size: 28px;
          font-weight: 600;
          color: #6c6c6c;
          line-height: 34px;
          padding-bottom: 22px;
          box-sizing: border-box;
        }

        .invoice-days-holder {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 43px 0px 41px;
          box-sizing: border-box;

          .invoice-days-frame {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .invoice-number {
              font-size: 14px;
              font-weight: 700;
              color: #bbc7dd;
              line-height: 18px;
              padding-bottom: 2px;
              box-sizing: border-box;

              &.color-light-blue {
                color: #91a4c7;
              }

              &.color-blue {
                color: #778fbb;
              }

              &.color-light-red {
                color: #ff8080;
              }
            }

            .invoice-days {
              font-size: 10px;
              font-weight: 700;
              color: #919191;
              line-height: 16px;
            }
          }
        }
      }

      .ring-chart {
        position: absolute;
        width: 316px;
        height: 157px;
        top: 16px;
        left: 10px;

        svg-icon {
          svg {
            display: flex;
            width: 316px;
            height: 157px;
          }
        }
      }
    }

    .menu-holder {
      width: 100%;
      display: flex;
      flex-direction: column;

      .border {
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: #f3f3f3;
        margin: 8px 0px;
      }

      .menu-icons-holder {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        box-sizing: border-box;

        .menu-icons {
          position: relative;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          svg-icon {
            svg {
              display: flex;
              width: 18px;
              height: 18px;

              path {
                fill: #b7b7b7;
              }
            }
          }

          &.active {
            width: 32px;
            height: 28px;
            border-radius: 3px;
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;

            svg-icon {
              svg {
                display: flex;
                width: 20px;
                height: 20px;

                path {
                  fill: #778fbb;
                }
              }
            }
          }

          .circle-notification {
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: #fff;
            top: 0px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            .circle-blue {
              width: 6px;
              height: 6px;
              border-radius: 100%;
              background-color: #778fbb;
            }
          }
        }
      }
    }
  }
}
