<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
    box-sizing: border-box;
  "
>
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 750px;
      background: #fff;
      color: #6c6c6c;
      width: 563px;
      padding: 30px;
    "
  >
    <div>
      <!-- HEADER -->

      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #f9f9f9;
          height: 72px;
          border-radius: 2px;
          padding: 6px;
          margin-bottom: 22px;
        "
      >
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            width: 190px;
            height: 60px;
            border: 1px dotted #dadada;
            border-radius: 3px;
            text-align: center;
            padding: 3px;
          "
        >
          <p
            style="
              margin: 0;
              color: #919191;
              font-size: 14px;
              font-weight: 800;
              line-height: 18px;
            "
          >
            Company Logo
          </p>
        </div>

        <div style="display: flex; flex-direction: column; align-items: end">
          <p
            style="
              margin-bottom: 12px;
              height: 10px;
              font-size: 8px;
              font-weight: 600;
            "
          >
            Date of application: 06/13/22
          </p>
          <p
            style="
              margin-bottom: 4px;
              height: 10px;
              font-size: 8px;
              font-weight: 400;
            "
          >
            5023 S Throop St Chicago IL 60609
          </p>
          <p
            style="
              margin-bottom: 4px;
              height: 10px;
              font-size: 8px;
              font-weight: 400;
            "
          >
            jdfreightdispatch@gmail.com
          </p>
          <p
            style="
              margin-bottom: 0px;
              height: 10px;
              font-size: 8px;
              font-weight: 400;
            "
          >
            (621) 321-2232
          </p>
        </div>
      </div>

      <!-- PSP ONLINE SERVICE AUTHORIZATION -->

      <div style="display: flex; flex-direction: column; margin-bottom: 12px">
        <div
          style="
            display: flex;
            align-items: center;
            background: #919191;
            padding: 2px 6px;
            height: 19px;
            border-radius: 1px;
            margin-bottom: 24px;
          "
        >
          <p
            style="margin: 0; color: #ffffff; font-size: 12px; font-weight: 800"
          >
            PSP ONLINE SERVICE AUTHORIZATION
          </p>
        </div>

        <div style="display: flex; flex-direction: column">
          <div
            style="
              display: flex;
              align-items: center;
              background: #f7f7f7;
              padding: 2px 6px;
              height: 23px;
              border-radius: 1px;
              margin-bottom: 14px;
            "
          >
            <h2
              style="
                margin: 0;
                font-size: 10px;
                font-weight: 800;
                color: #919191;
              "
            >
              AUTHORIZATION QUESTIONS
            </h2>
          </div>

          <div style="display: flex; margin-bottom: 12px">
            <div style="display: flex; flex: 14px">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 14px;
                  height: 14px;
                  border-radius: 1px;
                  background: #f7f7f7;
                  margin-right: 4px;
                "
              ></div>
            </div>
            <div style="display: flex; flex: 100%">
              <p style="margin: 0; font-size: 8px; font-weight: 400">
                I authorize JD FREIGHT (“Prospective Employer”) to access the
                FMCSA Pre-Employment Screening Program (PSP) system to seek
                information regarding my commercial driving safety record and
                information regarding my safety inspection history. I understand
                that I am authorizing the release of safety performance
                information including crash data from the previous five (5)
                years and inspection history from the previous three (3) years.
                I understand and acknowledge that this release of information
                may assist the Prospective Employer to make a determination
                regarding my suitability as an employee.
              </p>
            </div>
          </div>

          <div style="display: flex; margin-bottom: 12px">
            <div style="display: flex; flex: 14px">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 14px;
                  height: 14px;
                  border-radius: 1px;
                  background: #f7f7f7;
                  margin-right: 4px;
                "
              ></div>
            </div>
            <div style="display: flex; flex: 100%">
              <p style="margin: 0; font-size: 8px; font-weight: 400">
                I further understand that neither the Prospective Employer nor
                the FMCSA contractor supplying the crash and safety information
                has the capability to correct any safety data that appears to be
                incorrect. I understand I may challenge the accuracy of the data
                by submitting a request to https://dataqs.fmcsa.dot.gov. If I
                challenge crash or inspection information reported by a State,
                FMCSA cannot change or correct this data. I understand my
                request will be forwarded by the Data Qs system to the
                appropriate State for adjudication.
              </p>
            </div>
          </div>

          <div style="display: flex; margin-bottom: 12px">
            <div style="display: flex; flex: 14px">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 14px;
                  height: 14px;
                  border-radius: 1px;
                  background: #f7f7f7;
                  margin-right: 4px;
                "
              ></div>
            </div>
            <div style="display: flex; flex: 100%">
              <p style="margin: 0; font-size: 8px; font-weight: 400">
                I understand that any crash or inspection in which I was
                involved will display on my PSP report. Since the PSP report
                does not report, or assign, or imply fault, I acknowledge it
                will include all CMV crashes where I was a driver or co-driver
                and where those crashes were reported to FMCSA, regardless of
                fault. Similarly, I understand all inspections, with or without
                violations, will appear on my PSP report, and State citations
                associated with FMCSR violations that have been adjudicated by a
                court of law will also appear, and remain, on my PSP report.
              </p>
            </div>
          </div>

          <div style="display: flex; margin-bottom: 12px">
            <div style="display: flex; flex: 14px">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 14px;
                  height: 14px;
                  border-radius: 1px;
                  background: #f7f7f7;
                  margin-right: 4px;
                "
              ></div>
            </div>
            <div style="display: flex; flex: 100%">
              <p style="margin: 0; font-size: 8px; font-weight: 400">
                I have read the above Disclosure Regarding Background Reports
                provided to me by Prospective Employer and I understand that if
                I sign this Disclosure and Authorization, Prospective Employer
                may obtain a report of my crash and inspection history. I hereby
                authorize Prospective Employer and its employees, authorized
                agents, and/or affiliates to obtain the information authorized
                above.
              </p>
            </div>
          </div>

          <p style="margin: 0 0 6px 0; font-size: 8px; font-weight: 400">
            <span style="font-weight: 700">NOTICE:</span> This form is made
            available to monthly account holders by NIC on behalf of the U.S.
            Department of Transportation, Federal Motor Carrier Safety
            Administration (FMCSA). Account holders are required by federal law
            to obtain an Applicant’s written or electronic consent prior to
            accessing the Applicant’s PSP report. Further, account holders are
            required by FMCSA to use the language contained in this Disclosure
            and Authorization form to obtain an Applicant’s consent. The
            language must be used in whole, exactly as provided. Further, the
            language on this form must exist as one stand-alone document. The
            language may NOT be included with other consent forms or any other
            language.
          </p>

          <p style="margin: 0 0 18px 0; font-size: 8px; font-weight: 400">
            <span style="font-weight: 700">NOTICE:</span> The prospective
            employment concept referenced in this form contemplates the
            definition of “employee” contained at 49 C.F.R. 383.5.
          </p>

          <div
            style="
              display: flex;
              flex-direction: column;
              background: #f9f9f9;
              border-radius: 2px;
              padding: 12px;
            "
          >
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 23px;
                margin-bottom: 8px;
              "
            >
              <h2 style="font-size: 19px; font-weight: 800">
                Aleksandar Djordjevic
              </h2>
              <div
                style="display: flex; flex-direction: column; align-items: end"
              >
                <p style="margin: 0; font-size: 6px; font-weight: 600">
                  Social Security Number
                </p>
                <p style="margin: 0; font-size: 14px; font-weight: 800">
                  200-69-9020
                </p>
              </div>
            </div>

            <div style="display: flex; align-items: center; margin-bottom: 2px">
              <p
                style="
                  margin: 0 39px 0 0;
                  font-size: 6px;
                  font-weight: 600;
                  color: #919191;
                "
              >
                Date of birth
              </p>

              <p
                style="
                  margin: 0 91px 0 0;
                  font-size: 6px;
                  font-weight: 600;
                  color: #919191;
                "
              >
                Phone
              </p>

              <p
                style="
                  margin: 0;
                  font-size: 6px;
                  font-weight: 600;
                  color: #919191;
                "
              >
                E-mail
              </p>
            </div>

            <div style="display: flex; align-items: center">
              <p
                style="
                  margin: 0 22px 0 0;
                  font-size: 12px;
                  font-weight: 700;
                  width: 56px;
                "
              >
                06/20/90
              </p>

              <p
                style="
                  margin: 0 22px 0 0;
                  font-size: 12px;
                  font-weight: 700;
                  width: 89px;
                "
              >
                (587) 657-1042
              </p>

              <p style="margin: 0; font-size: 12px; font-weight: 700">
                pdf.freight@gamamaiaaal.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DIGITAL SIGN -->

    <div style="display: flex">
      <p
        style="
          margin: 0 12px 0 0;
          color: #919191;
          font-size: 6px;
          font-weight: 600;
        "
      >
        Digital sign by:
      </p>
    </div>
  </div>
</div>
