@import 'src/theme/variables';

.header-wrapper {
    min-width: 318px;
    min-height: 36px;
    height: fit-content;

    padding: 6px 6px 0 6px;
    background-color: $white;

    .header-content {
        margin: auto 6px;
    }

    .horizontal-border {
        width: auto;
        margin: 6px auto auto auto;
        border-bottom: 1px solid $bw-9;
    }
}
