@import 'src/theme/variables';

.create-new-password-container {
    background-color: $white;
    min-height: 100vh;
    padding-top: 60px;

    .create-new-password-text {
        h1 {
            width: 618px;
            height: 63px;
            font-size: 52px;
            font-weight: 800;
            color: $bw6-2;
            margin-bottom: 30px !important;

            &::-moz-selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            span {
                color: $ta-blue;

                &::-moz-selection {
                    color: $ta-blue;
                    background: rgb(83, 107, 194, 0.2);
                }

                &::selection {
                    color: $ta-blue;
                    background: rgb(83, 107, 194, 0.2);
                }
            }
        }

        h2 {
            width: 675px;
            height: 24px;
            font-size: 20px;
            font-weight: 600;
            color: $bw6-2;
            line-height: 24px;
            margin-bottom: 10px !important;
            text-transform: uppercase;

            &::-moz-selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: $bw6-2;
            margin-bottom: 40px !important;

            &::-moz-selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
                color: $bw6-2;
                background: rgb(108, 108, 108, 0.2);
            }
        }
    }

    .password-group {
        width: 422px;
        margin-bottom: 32px !important;
    }

    .submit-btn {
        width: 240px;
        margin: 0 auto;
        height: 42px;
        border-radius: 2px;
        font-weight: 600;
        font-size: 14px;
        border: none;
        outline: none;
        transition: background 0.3s ease-in-out;

        background-color: $ta-light-blue;
        color: $white;

        &:hover {
            background: $ta-blue;
        }

        &.disabled {
            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;

            transition: color 0.2s ease-in-out;
            background-color: $ta-gray-01;
            color: $bw5;

            &:hover {
                color: $bw6-2;
            }
        }
    }

    .copyright {
        height: 42px;
        border-top: 0.1rem solid $ta-gray-02;

        p {
            color: $ta-blue-2;
            font-weight: 400;
            font-size: 14px;

            &::-moz-selection {
                color: $ta-blue-2;
                background: rgb(53, 81, 183, 0.2);
            }

            &::selection {
                color: $ta-blue-2;
                background: rgb(53, 81, 183, 0.2);
            }
        }
    }
}
