<div cdkDrag class="modal-container {{ customClass }}">
  <div [ngClass]="{ 'load-modal-content': customClass?.includes('load') }">
    <div cdkDragHandle class="modal-header">
      <div class="modal-header-leftside">
        <div
          *ngIf="tabChange"
          class="modal-header-tab-change"
          [ngClass]="{
            'modal-header-tab-change-reorder': tabChangePosition === 'right'
          }"
        >
          <app-ta-tab-switch
            [tabs]="tabChange"
            (switchClicked)="onTabChange($event)"
            [type]="'type2-modal-popup'"
          ></app-ta-tab-switch>
        </div>
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <h5
          class="edit-name"
          *ngIf="
            (editData?.type?.includes('edit') || specificCaseModalName) &&
            editName
          "
        >
          {{ editName }}
        </h5>
      </div>
      <svg-icon
        class="modal-close"
        src="assets/svg/common/ic_x.svg"
        (click)="onAction('close')"
      ></svg-icon>
    </div>
    <div class="divider"></div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div
      *ngIf="!disableFooter"
      class="modal-footer"
      [ngClass]="{ 'mutliple-buttons': editData?.type?.includes('edit') }"
    >
      <!-- Footer Left Side -->
      <div
        class="ta-modal-footer-left-side"
        *ngIf="editData?.type?.includes('edit')"
      >
        <!-- Delete -->
        <button
          *ngIf="!disableDelete && !resendEmail"
          (click)="onAction('delete')"
          class="modal-delete-btn"
          type="button"
        >
          Delete
        </button>

        <!-- Resend Email -->
        <button
          *ngIf="resendEmail"
          (click)="onAction('resend email')"
          class="modal-resend-email-btn"
          type="button"
        >
          {{
            resendEmailSpinnerVisibility
              ? "Sending"
              : "Resend Application
          Email"
          }}
          <div *ngIf="resendEmailSpinnerVisibility" class="modal-spinner">
            <app-ta-spinner [size]="'small'" [color]="'white'"></app-ta-spinner>
          </div>
        </button>

        <!-- Deactivated -->
        <button
          *ngIf="editData?.disableButton"
          (click)="onAction('deactivate')"
          class="modal-deactivate-btn"
          type="button"
        >
          {{ isDeactivated ? "Activate" : "Deactivate" }}
        </button>

        <!-- DNU -->
        <button
          *ngIf="editData?.dnuButton"
          (click)="onAction('dnu')"
          class="modal-deactivate-btn"
          type="button"
          ngbTooltip
          mainTooltip="Do Not Use List"
          tooltipBackground="#6c6c6c"
          position="top"
        >
          {{ isDNU ? "Remove from DNU" : "Move to DNU" }}
        </button>

        <!-- BFB -->
        <button
          *ngIf="editData?.bfbButton"
          (click)="onAction('bfb')"
          class="modal-deactivate-btn"
          type="button"
          ngbTooltip
          mainTooltip="Banned from Broker List"
          tooltipBackground="#6c6c6c"
          position="top"
        >
          {{ isBFB ? "Remove from BFB" : "Move to BFB" }}
        </button>
      </div>

      <!-- Footer right side -->
      <div class="ta-modal-footer-right-side">
        <!-- Save and Add New button -->
        <button
          *ngIf="saveAndAddNew"
          (click)="onAction('save and add new')"
          class="modal-save-btn modal-save-btn-add-new"
          [ngClass]="{ valid: isModalValid }"
          type="button"
        >
          {{ saveAddNewSpinnerVisibility ? "Saving" : "Save and Add New" }}
          <div *ngIf="saveAddNewSpinnerVisibility" class="modal-spinner">
            <app-ta-spinner [size]="'small'" [color]="'white'"></app-ta-spinner>
          </div>
        </button>

        <!-- Save button -->
        <button
          (click)="onAction('save')"
          class="modal-save-btn"
          [ngClass]="{ valid: isModalValid }"
          type="button"
        >
          {{
            saveSpinnerVisibility
              ? "Saving"
              : editData?.type?.includes("edit")
              ? "Save Changes"
              : "Save"
          }}
          <div *ngIf="saveSpinnerVisibility" class="modal-spinner">
            <app-ta-spinner [size]="'small'" [color]="'white'"></app-ta-spinner>
          </div>
        </button>
      </div>
    </div>

    <!-- DropZone -->
    <div
      class="drop-zone-active"
      [class.drop-zone-active-hovered]="hoverZone"
      [hidden]="!isDropZoneVisible"
      [@widthGrow]="isDropZoneVisible ? 'open' : 'closed'"
    >
      <h5 class="drop-zone-title">{{ modalTitle }}</h5>
      <app-ta-upload-dropzone
        [dropZoneConfig]="dropZoneConfig"
        [disableUnsupportedPreview]="true"
        (onFileEvent)="onFilesEvent($event)"
        (onDropBackground)="onDropBackground($event)"
      ></app-ta-upload-dropzone>
    </div>
  </div>
  <div *ngIf="customClass?.includes('load')" class="load-modal-map">MAPA</div>
</div>
