.modal-open {
  overflow: hidden !important;

  .table-container {
    padding-right: 16px;
  }
  
  &::-webkit-scrollbar-track { 
    background-color: rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.modal-container {
  width: 480px;
  height: auto;
  overflow: hidden;

  &.prevent-default {
    pointer-events: none !important;
  }

  &.modal-container-M {
    width: 640px;

    .divider {
      width: 615px;
    }
  }

  &.modal-container-L {
    width: 860px;

    .divider {
      width: 836px;
    }
  }

  .divider {
    width: 455px;
    height: 2px;
    content: "";
    border-radius: 1px;
    background-color: #f3f3f3;
    margin: 0 auto;
  }

  //   Ovveride global settings for row > columns
  .form-container {
    .row {
      & > * {
        &:nth-child(odd) {
          padding-left: 12px;
          padding-right: 12px;
        }
        &:nth-child(even) {
          padding-left: 0px;
          padding-right: 12px;
        }
      }
    }
  }

  .modal-footer > * {
    margin: 0px !important;
  }

  .dropzone-container {
    position: relative;

    .dragDropFile {
      width: 100%;
      height: 100%;
      border: 3px dashed #e5e5e5;
      padding: 2px;
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: 999999;
    
      .ta-modal-dropzone-label2 {
        width: 100%;
        height: 100%;
        padding: 22px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        text-align: center;
        border-radius: 2px;
        background-color: #ffffff;

        .ta-modal-dropzone-area2 {
          pointer-events: none;
        }
    
        .ta-modal-dropzone-text2 {
          margin: 0;
          margin-top: 18px;
          color: #b7b7b7;
          font-size: 14px;
          font-weight: 600;
          position: relative;
          left: 2px;
          height: 32px;
          display: flex;
          flex-direction: column;
          text-align: center;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          pointer-events: none;
        
    
          &-small {
            font-size: 11px;
            position: relative;
            bottom: 3px;
          }
        }
    
        &.hovered {
          transition: all 0.3 ease-in-out;
          background-color: #eeeeee;
    
          .ta-modal-dropzone-text2 {
            color: #6c6c6c;
          }
        }
      }
    }
    
  }
}
