@import 'src/theme/variables';

.shop-details-item-repair {
    border-radius: 3px;
    background: $white;
    padding: 6px;

    /* Search */

    &-search {
        margin-bottom: 6px;
    }

    /* Header */

    &-header {
        display: grid;
        grid-template-columns: 115px 76px 80px 232px 101px auto;
        grid-gap: 4px;
        padding: 6px;
        margin-bottom: 6px;
        border-bottom: 1px solid $bw-9;

        &-item {
            &:nth-child(5) {
                padding-right: 8px;
            }
        }
    }

    /* Main */

    &-main {
        &-border {
            margin-bottom: 2px;

            &.active-drawer {
                visibility: hidden;

                .shop-details-item-repair-main-item {
                    cursor: auto;
                }
            }
        }

        /* Main Item */

        &-item {
            transition: background 0.2s ease-in;
            cursor: pointer;
            position: relative;

            &:hover {
                background: $bw2;

                .cost-container {
                    .finish-order-btn {
                        background: $ta-blue-18;
                        color: $white;
                    }
                }
            }

            &.active {
                background: $ta-light-grey-5;
                margin-bottom: 0;

                .cost-container {
                    .finish-order-btn {
                        background: $ta-blue-18;
                        color: $white;
                    }
                }
            }

            &.active-options {
                background: $bw2;

                .cost-container {
                    .finish-order-btn {
                        background: $ta-blue-18;
                        color: $white;
                    }
                }
            }

            &-left {
                display: grid;
                grid-template-columns: 115px 76px 80px 232px 101px;
                grid-gap: 4px;
                padding: 4px 6px;

                .invoice-container {
                    p {
                        max-width: 115px;
                    }

                    .repair-order-icon {
                        position: relative;
                        bottom: 1px;
                        margin-left: 6px;

                        svg {
                            circle {
                                fill: $ta-yellow-1;
                            }
                        }
                    }
                }

                .cost-container {
                    .finish-order-btn {
                        outline: none;
                        border: none;
                        background: transparent;
                        color: $ta-blue-18;
                        border-radius: 2px;
                        padding: 4px 8px;
                        transition:
                            color 0.2s ease-in,
                            background 0.2s ease-in;

                        user-select: none;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;

                        &:hover {
                            background: $ta-blue-15;
                        }
                    }
                }
            }

            .actions-container {
                display: grid;
                grid-template-columns: repeat(3, 26px);
                grid-gap: 4px;
            }
        }

        /* Main Dropdown */

        &-dropdown {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            background: $ta-light-grey-5;

            max-height: 0;
            overflow: hidden;
            transition:
                max-height 0.2s ease-out,
                padding 0.2s ease-out;

            &.expanded {
                max-height: 226px;
                padding: 4px;
                margin-bottom: 2px;
            }

            &.dropdown-scroll {
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 2px;
                }

                &::-webkit-scrollbar-thumb {
                    background: $ta-light-grey-6;
                    border-radius: 1px;
                }

                &::-webkit-scrollbar-track {
                    background: $ta-light-grey-5;
                }
            }

            /* Dropdown Header */

            &-header {
                display: grid;
                grid-template-columns: 18px 460px 40px 84px 86px;
                grid-gap: 4px;
                padding: 8px 8px 4px 2px;
                margin-bottom: 2px;
                border-top: 1px solid $bw-9;

                &.order-header {
                    grid-template-columns: 18px 1fr 40px;
                }
            }

            /* Dropdown Main */

            &-main {
                &-item {
                    display: grid;
                    grid-template-columns: 18px 460px 40px 84px 86px;
                    grid-gap: 4px;
                    padding: 4px 8px 4px 2px;
                    margin-bottom: 2px;
                    transition: background 0.2s ease-in;

                    &.order-item {
                        grid-template-columns: 18px 1fr 40px;
                    }

                    &:hover {
                        background: $dark-2;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    .name-container {
                        .pm-icon {
                            margin-left: 4px;
                            line-height: 14px;

                            svg {
                                path {
                                    fill: $ta-blue-13;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* Footer */

    &-footer {
        padding: 6px 6px 0 6px;
        margin-top: 4px;
        border-top: 1px solid $bw-9;

        .show-more-btn {
            cursor: pointer;

            &:hover {
                p {
                    color: $ta-blue-15 !important;
                }
            }

            p {
                transition: color 0.2s ease-in;
            }
        }
    }
}
