<tr
    class="d-flex align-items-end tr actions-columns-container"
    [ngClass]="{
        'tr-height-2':
            tableHeadActionsData?.tableData[0].gridNameTitle
            | tableDoubleHeadHeight,
        'no-data': !tableHeadActionsData?.viewDataLength,
    }"
    [ngStyle]="{
        'margin-left': isDisplayBorder ? '-4px' : '-12px',
    }"
>
    @for (column of tableHeadActionsData?.actionColumns; track column.title) {
        <th
            class="d-flex align-items-center justify-content-center"
            [ngStyle]="{
                width: column.isAction ? column.width + 'px' : '0px',
                'min-width.px': column?.width ?? 'unset',
                display: column.isAction ? 'flex' : 'none',
            }"
        >
            <ng-container *ngIf="column.isAction && column?.headIconStyle">
                <div class="icons">
                    <svg-icon
                        [svgStyle]="{
                            'width.px': column.headIconStyle.width,
                            'height.px': column.headIconStyle.height,
                        }"
                        [src]="column.headIconStyle.imgPath ?? ''"
                    ></svg-icon>
                </div>
            </ng-container>
        </th>
    }
</tr>
