@import 'src/theme/variables';

.actions-columns-container {
    height: 30px;

    &.tr-height-2 {
        height: 37px;
    }

    &.no-data {
        position: absolute;
        right: 0;
        bottom: 0;

        pointer-events: none !important;
    }

    th {
        .icons {
            cursor: pointer;
        }
    }
}
