@import 'src/theme/variables';

.actions-columns-container {
    height: 30px;

    &.tr-height-2 {
        height: 37px;
    }

    th {
        .icons {
            cursor: pointer;
        }
    }
}
