.header-wrapper {
    display: grid;
}
.toolbar-general-cmp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 440px;
    width: 100%;

    .icon-text-wrapper {
        display: flex;
        align-items: center;
        height: 32px;
        p {
            color: #919191;
            font-size: 26px;
            font-weight: 900;
            margin-left: 8px !important;
            margin: 0;
        }
    }
}
.header-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    background-color: #fff;
    border-radius: 3px;
    .header-name {
        margin: 0;
        color: #919191;
        margin-left: 12px;
        font-size: 14px;
        font-weight: 800;
        height: 18px;
    }
    .header-plus-button {
        display: flex;
        align-items: center;
    }
}
.border-line-left {
    border: none;
    border-radius: 1px;
    height: 24px;
    width: 2px;
    border-left: 2px solid #f3f3f3;
}
svg {
    &:hover {
        cursor: pointer;
    }
}
.icon-plus-header {
    height: 28px;
    width: 28px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    cursor: pointer;
    &:hover {
        background-color: #6d82c7;
        svg {
            path {
                fill: #fff;
            }
        }
    }
}
.disable-selection{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}