@import "../settings.global.scss";

.settings {
  width: 1440px;
  min-height: 100vh;
  position: relative;

  display: grid;
  grid-template-columns: 480px 290px 340px 294px;
  column-gap: 12px;
  font-size: $settings-fontsize;
  user-select: none;

  .settings-col-1 {
    grid-column: 1 / 2;
  }

  .settings-col-2 {
    grid-column: 2 / 3;
  }

  .settings-col-3 {
    grid-column: 3 / 4;
  }

  .settings-col-4 {
    grid-column: 4 / -1;
  }
}
