.table-container {
    .table-header {
        overflow-x: hidden;
    }

    .expanded-row {
        width: 100%;
    }

    .test-margin {
        margin-top: 20px;
    }

    .cdk-virtual-scrollable {
        overflow: unset !important;
    }
}
