<div
    class="offcanvas offcanvas-start sidebar-container"
    [ngStyle]="{ width: selectedContentWidth + 'px' }"
    tabindex="-1"
    id="sidebar"
    aria-labelledby="sidebarLabel"
>
    <div class="d-flex flex-column justify-content-center">
        <div class="d-flex align-items-center sidebar-header">
            <svg-icon
                class="logo-icon"
                src="assets/svg/website/logo.svg"
                [svgStyle]="{ 'width.px': 32, 'height.px': 32 }"
            ></svg-icon>

            <svg-icon
                src="assets/svg/website/logo-text.svg"
                [svgStyle]="{ 'width.px': 160, 'height.px': 30 }"
            ></svg-icon>
        </div>

        <div class="d-flex flex-column sidebar-main">
            <ng-container *ngIf="selectedContentType === 'start trial'">
                <app-register-company></app-register-company>
            </ng-container>

            <ng-container
                *ngIf="selectedContentType === 'start trial confirmation'"
            >
                <app-confirmation></app-confirmation>
            </ng-container>

            <ng-container *ngIf="selectedContentType === 'start trial welcome'">
                <app-register-company-welcome></app-register-company-welcome>
            </ng-container>

            <ng-container *ngIf="selectedContentType === 'login'">
                <app-login></app-login>
            </ng-container>

            <ng-container *ngIf="selectedContentType === 'reset password'">
                <app-reset-password></app-reset-password>
            </ng-container>

            <ng-container
                *ngIf="selectedContentType === 'reset password confirmation'"
            >
                <app-confirmation
                    [passwordResetConfirmation]="true"
                ></app-confirmation>
            </ng-container>

            <ng-container *ngIf="selectedContentType === 'create new password'">
                <app-create-new-password></app-create-new-password>
            </ng-container>

            <ng-container *ngIf="selectedContentType === 'password updated'">
                <app-password-updated></app-password-updated>
            </ng-container>

            <ng-container *ngIf="selectedContentType === 'resend confirmation'">
                <app-resend-confirmation></app-resend-confirmation>
            </ng-container>
        </div>
    </div>
</div>
