<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
    box-sizing: border-box;
  "
>
  <div
    style="
      display: flex;
      flex-direction: column;
      background: #fff;
      color: #6c6c6c;
      width: 563px;
      padding: 30px;
    "
  >
    <!-- HEADER -->

    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f9f9f9;
        height: 72px;
        border-radius: 2px;
        padding: 6px;
        margin-bottom: 22px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          width: 190px;
          height: 60px;
          border: 1px dotted #dadada;
          border-radius: 3px;
          text-align: center;
          padding: 3px;
        "
      >
        <p
          style="
            margin: 0;
            color: #919191;
            font-size: 14px;
            font-weight: 800;
            line-height: 18px;
          "
        >
          Company Logo
        </p>
      </div>

      <div style="display: flex; flex-direction: column; align-items: end">
        <p
          style="
            margin-bottom: 12px;
            height: 10px;
            font-size: 8px;
            font-weight: 600;
          "
        >
          Date of application: 06/13/22
        </p>
        <p
          style="
            margin-bottom: 4px;
            height: 10px;
            font-size: 8px;
            font-weight: 400;
          "
        >
          5023 S Throop St Chicago IL 60609
        </p>
        <p
          style="
            margin-bottom: 4px;
            height: 10px;
            font-size: 8px;
            font-weight: 400;
          "
        >
          jdfreightdispatch@gmail.com
        </p>
        <p
          style="
            margin-bottom: 0px;
            height: 10px;
            font-size: 8px;
            font-weight: 400;
          "
        >
          (621) 321-2232
        </p>
      </div>
    </div>

    <!--ACCIDENT RECORD -->

    <div style="display: flex; flex-direction: column; margin-bottom: 12px">
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #919191;
          padding: 2px 6px;
          height: 19px;
          border-radius: 1px;
          margin-bottom: 12px;
        "
      >
        <p style="margin: 0; color: #ffffff; font-size: 12px; font-weight: 800">
          ACCIDENT RECORD
        </p>
        <p style="margin: 0; color: #ffffff; font-size: 10px; font-weight: 700">
          Step 4 of 11
        </p>
      </div>

      <p style="margin: 0; font-size: 8px; font-weight: 400">
        List of all motor vehicle collisions in which applicant was involved
        (past 3 years)
      </p>
    </div>

    <!-- CDL INFORMATION FIRST BOX -->

    <div style="display: flex; flex-direction: column">
      <div
        style="
          display: flex;
          flex-direction: column;
          background: #f9f9f9;
          border-radius: 2px;
          padding: 12px;
          margin-bottom: 12px;
        "
      >
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
          "
        >
          <div style="display: flex; flex-direction: column">
            <div style="display: flex; align-items: center; margin-bottom: 6px">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 1px;
                  background: #b7b7b7;
                  margin-right: 6px;
                  width: 22px;
                  height: 22px;
                "
              >
                <p
                  style="
                    margin: 0;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 800;
                  "
                >
                  1
                </p>
              </div>
            </div>
          </div>

          <div style="display: flex; flex-direction: column; align-items: end">
            <p
              style="
                margin: 0;
                font-size: 6px;
                font-weight: 600;
                color: #b7b7b7;
              "
            >
              Date
            </p>
            <p
              style="
                margin: 0;
                font-size: 14px;
                font-weight: 800;
                color: #b7b7b7;
              "
            >
              01/20/19
            </p>
          </div>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 2px">
          <p
            style="
              margin: 0 76px 0 0;
              font-size: 6px;
              font-weight: 600;
              color: #919191;
            "
          >
            Vehicle type
          </p>

          <p
            style="margin: 0; font-size: 6px; font-weight: 600; color: #919191"
          >
            Location
          </p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <p
            style="
              margin: 0 12px 0 0;
              font-size: 12px;
              font-weight: 700;
              width: 102px;
              color: #b7b7b7;
            "
          >
            Semi Truck
          </p>

          <p
            style="margin: 0; font-size: 12px; font-weight: 700; color: #b7b7b7"
          >
            The Woodlands, TX 77381
          </p>
        </div>

        <div style="display: flex; align-items: center">
          <p
            style="margin: 0; font-size: 6px; font-weight: 600; color: #919191"
          >
            Description
          </p>
        </div>

        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
          "
        >
          <p
            style="
              margin: 0;
              font-size: 10px;
              font-weight: 700;
              width: 102px;
              color: #b7b7b7;
            "
          >
            It's not my fault...
          </p>

          <div style="display: flex; align-items: center">
            <div style="display: flex; align-items: center; margin-right: 12px">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 14px;
                  height: 14px;
                  border-radius: 1px;
                  background: #ffffff;
                  margin-right: 4px;
                  font-size: 8px;
                  font-weight: 600;
                "
              >
                0
              </div>
              <p
                style="
                  margin: 0 12px 0 0;
                  font-size: 8px;
                  font-weight: 400;
                  color: #b7b7b7;
                "
              >
                Fatalities
              </p>
            </div>

            <div style="display: flex; align-items: center; margin-right: 12px">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 14px;
                  height: 14px;
                  border-radius: 1px;
                  background: #ffffff;
                  margin-right: 4px;
                  font-size: 8px;
                  font-weight: 600;
                "
              >
                0
              </div>
              <p
                style="
                  margin: 0 12px 0 0;
                  font-size: 8px;
                  font-weight: 400;
                  color: #b7b7b7;
                "
              >
                Injuries
              </p>
            </div>

            <div style="display: flex; align-items: center">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 14px;
                  height: 14px;
                  border-radius: 1px;
                  background: #ffffff;
                  margin-right: 4px;
                "
              ></div>
              <p
                style="
                  margin: 0 12px 0 0;
                  font-size: 8px;
                  font-weight: 400;
                  color: #b7b7b7;
                "
              >
                Hazmat spill
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CDL INFORMATION SECOND BOX -->

    <div style="display: flex; flex-direction: column">
      <div
        style="
          display: flex;
          flex-direction: column;
          background: #f9f9f9;
          border-radius: 2px;
          padding: 12px;
          margin-bottom: 12px;
        "
      >
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
          "
        >
          <div style="display: flex; flex-direction: column">
            <div style="display: flex; align-items: center; margin-bottom: 6px">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 1px;
                  background: #b7b7b7;
                  margin-right: 6px;
                  width: 22px;
                  height: 22px;
                "
              >
                <p
                  style="
                    margin: 0;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 800;
                  "
                >
                  2
                </p>
              </div>
            </div>
          </div>

          <div style="display: flex; flex-direction: column; align-items: end">
            <p
              style="
                margin: 0;
                font-size: 6px;
                font-weight: 600;
                color: #b7b7b7;
              "
            >
              Date
            </p>
            <p
              style="
                margin: 0;
                font-size: 14px;
                font-weight: 800;
                color: #b7b7b7;
              "
            >
              01/20/19
            </p>
          </div>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 2px">
          <p
            style="
              margin: 0 76px 0 0;
              font-size: 6px;
              font-weight: 600;
              color: #919191;
            "
          >
            Vehicle type
          </p>

          <p
            style="margin: 0; font-size: 6px; font-weight: 600; color: #919191"
          >
            Location
          </p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <p
            style="
              margin: 0 12px 0 0;
              font-size: 12px;
              font-weight: 700;
              width: 102px;
              color: #b7b7b7;
            "
          >
            Semi Truck
          </p>

          <p
            style="margin: 0; font-size: 12px; font-weight: 700; color: #b7b7b7"
          >
            Research Forest Dr #185
          </p>
        </div>

        <div style="display: flex; align-items: center">
          <p
            style="margin: 0; font-size: 6px; font-weight: 600; color: #919191"
          >
            Description
          </p>
        </div>

        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
          "
        >
          <p
            style="
              margin: 0;
              font-size: 10px;
              font-weight: 700;
              width: 102px;
              color: #b7b7b7;
              width: auto;
            "
          >
            Wild racoon got in my way
          </p>

          <div style="display: flex; align-items: center">
            <div style="display: flex; align-items: center; margin-right: 12px">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 14px;
                  height: 14px;
                  border-radius: 1px;
                  background: #ffffff;
                  margin-right: 4px;
                  font-size: 8px;
                  font-weight: 600;
                "
              >
                0
              </div>
              <p
                style="
                  margin: 0 12px 0 0;
                  font-size: 8px;
                  font-weight: 400;
                  color: #b7b7b7;
                "
              >
                Fatalities
              </p>
            </div>

            <div style="display: flex; align-items: center; margin-right: 12px">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 14px;
                  height: 14px;
                  border-radius: 1px;
                  background: #ffffff;
                  margin-right: 4px;
                  font-size: 8px;
                  font-weight: 600;
                "
              >
                3
              </div>
              <p
                style="
                  margin: 0 12px 0 0;
                  font-size: 8px;
                  font-weight: 400;
                  color: #b7b7b7;
                "
              >
                Injuries
              </p>
            </div>

            <div style="display: flex; align-items: center">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 14px;
                  height: 14px;
                  border-radius: 1px;
                  background: #ffffff;
                  margin-right: 4px;
                "
              ></div>
              <p
                style="
                  margin: 0;
                  font-size: 8px;
                  font-weight: 400;
                  color: #b7b7b7;
                "
              >
                Hazmat spill
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
