.main_pickup_container {
    padding: 4px 4px 8px 4px;

    background-color: #2f2f2f;
    border-radius: 3px;

    .load_holder {
        display: flex;
        align-items: center;

        width: 100%;
        padding: 4px;
        border-radius: 2px;

        &:hover {
            background-color: #1d1d1d;
        }

        .load_main_hold {
            flex: 1;

            &.hide {
                animation-duration: 10s;
                animation-timing-function: ease;
                animation-delay: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: normal;
                animation-play-state: running;
                animation-name: arrows_animation;
            }

            .load_title_hold {
                display: flex;
                margin-bottom: 10px;

                .load_number_hold {
                    display: flex;
                    width: 50%;
                    min-width: 50%;
                    .load_number {
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 18px;
                    }

                    .load_shuffle {
                        display: flex;
                        align-items: center;
                        margin-left: 6px;
                        width: 14px;
                        height: 18px;

                        svg-icon {
                            svg {
                                display: flex;
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }

                .load_name {
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 18px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .load_arrow {
            transform: scaleX(-1);
            margin-left: 6px;
            cursor: pointer;
            svg-icon {
                svg {
                    display: flex;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    .load_details {
        margin-top: 2px;
        width: 100%;
        .load_details_header {
            display: flex;
            padding: 0px 2px;
            .back_arrow {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 22px;
                height: 22px;
                
                margin-right: 4px;
                cursor: pointer;

                &:hover {
                    background-color: #aaaaaa;
                    border-radius: 1px;

                    svg-icon {
                        svg {
                            display: flex;
                            
                            path {
                                fill: #2f2f2f;
                            }
                        }
                    }
                }
            }
        }

        .pickup_details_hold {
            width: 100%;
            padding: 2px 10px 10px 10px;

            .pickup_details_load_hold {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .pickup_details_load_inner {
                    display: flex;

                    .pickup_details_load {
                        color: #ffffff;
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 700;
                    }

                    .load_shuffle {
                        display: flex;
                        align-items: center;
                        margin-left: 6px;
                        width: 14px;
                        height: 18px;

                        svg-icon {
                            svg {
                                display: flex;
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }

                .pickup_ammount {
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 700;
                }
            }

            .pickup_ref_hold {
                display: flex;
                justify-content: space-between;

                margin-top: 4px;
                width: 100%;

                .pickup_ref {
                    color: #919191;
                    font-size: 14px;
                    line-height: 18px;

                    span {
                        color: #ffffff;
                    }
                }

                .pickup_ammount {
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 18px;
                }
            }

            .broker_contact_hold {
                display: flex;
                justify-content: space-between;

                margin-top: 18px;
                width: 100%;

                .broker_contact {
                    color: #919191;
                    font-size: 14px;
                    line-height: 18px;

                    span {
                        color: #ffffff;
                    }
                }

                .broker_info {
                    display: flex;
                    align-items: center;

                    .broker_cellphone {
                        margin-right: 12px;

                        svg-icon {
                            svg {
                                display: flex;
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    .no_load {
        padding: 0px 6px;
        margin-bottom: 4px;

        color: #919191;
        font-size: 11px;
        line-height: 26px;
        user-select: none;
    }

    .pickup_border {
        height: 1px;
        width: 100%;
        margin: 4px 0px 8px 0px;

        background-color: #424242;
        border-radius: 1px;
    }

    .tabs_hold {
        width: 100%;
        padding: 0px 4px;
    }
}

.load_info_hold {
    display: flex;
    .pickup_hold {
        display: flex;
        width: 50%;
        min-width: 50%;
        .counter_hold {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 22px;
            height: 22px;
            margin-right: 6px;

            background-color: #4db6a2;
            border-radius: 1px;

            &.delivery {
                background-color: #e57373;
            }

            .counter {
                font-size: 14px;
                font-weight: 800;
                line-height: 18px;
                color: #ffffff;
            }
        }

        .pickup_info_hold {
            .pickup_address {
                font-size: 11px;
                line-height: 11px;
                font-weight: 700;
                color: #ffffff;
            }

            .pickup_time {
                font-size: 11px;
                line-height: 11px;
                font-weight: 700;
                color: #919191;
            }
        }
    }
}

.load_main_hold {
    flex: 1;
}

@keyframes arrows_animation {
    0% {
        animation-timing-function: ease-out;
    }
    10% {
        animation-timing-function: ease-in;
        transform: translateX(-60vw);
    }
    90% {
        animation-timing-function: ease-out;
        transform: translateX(-65vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}
