@import "../../settings.global.scss";

.tab-placeholder {
  display: flex;
  flex-direction: column;

  .tab-placeholder-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tab-placeholder-name {
      font-size: 18px;
      font-weight: $settings-font-semibold;
      color: $settings-gray-dark;
      text-transform: uppercase;
    }

    .tab-placeholder-svg {
      margin-left: 7px;
      position: relative;
      bottom: 2px;
    }

    .tab-placeholder-actions {
      position: relative;
      bottom: 1px;
      left: 6px;

      .action-attachment {
        position: relative;
        bottom: 1px;
        &:hover {
          transition: $settings-transition;
          cursor: pointer;
          svg {
            path {
              fill: $settings-gray;
            }
          }
        }
      }

      .action-notes {
        margin: 0 6px;
        position: relative;
        bottom: 1px;
        &:hover {
          transition: $settings-transition;
          cursor: pointer;
          svg {
            path {
              fill: $settings-gray;
            }
          }
        }
      }

      .action-dots {
        &:hover {
          transition: $settings-transition;
          cursor: pointer;
          svg {
            path {
              fill: $settings-gray;
            }
          }
        }
      }
    }
  }

  .tab-placeholder-bottom {
    display: flex;
    flex-direction: column;

    .tab-placeholder-item {
      display: flex;
      align-items: center;
      margin-top: 8px;

      &.first {
        margin-top: 7px;
      }

      p {
        margin-left: 6px;
      }

      .tab-placeholder-item-address-svg {
        position: relative;
        bottom: 11px;
      }

      .tab-placeholder-item-address-text {
        width: 196px;
        white-space: pre-wrap;
      }
    }
  }

  .tab-placeholder-settings-line {
    content: "";
    height: 2px;
    margin-top: 12px;
    margin-bottom: 6px;
    border-radius: 1px;
    background-color: #f3f3f3;
  }
}
