@import 'src/theme/variables.scss';

.emergency-contact-container {
    display: grid;
    grid-template-columns: repeat(2, 202px);
    grid-gap: 12px;

    .emergency-contact-box {
        p {
            font-size: 11px;
            line-height: 14px;
        }

        p {
            color: $ta-black;

            &::-moz-selection {
                color: $ta-black;
                background: rgb(66, 66, 66, 0.2);
            }

            &::selection {
                color: $ta-black;
                background: rgb(66, 66, 66, 0.2);
            }
        }
    }
}
