.repair-shop-star {
    position: relative;
    bottom: 1px;
    cursor: pointer;

    &:hover {
        transition: all 0.3s ease-in-out;
        svg {
            path {
                fill: #6c6c6c;
            }
        }
    }

    &.active {
        svg {
            path {
                fill: #6d82c7;
            }
        }

        &:hover {
            transition: all 0.3s ease-in-out;
            svg {
                path {
                    fill: #536bc2;
                }
            }
        }
    }
}

.custom-bank-row {
    margin-bottom: 22px !important;
}

.open-hours-card-repair-shop {
    ::ng-deep .content-holder {
        margin: 0px !important;
    }
}

.time-picker-all-days {
    display: flex;
    align-items: center;

    &-btn {
        position: relative;
        right: 1.5px;
        cursor: pointer;

        svg {
            transform: rotate(0deg);
            transition: all 0.3s ease-in-out;
            path {
                fill: #919191;
            }
        }

        &.rotate {
            svg {
                transform: rotate(180deg);
                transition: all 0.3s ease-in-out;
                path {
                    fill: #3074d3;
                }
            }
        }
    }

    &-title {
        cursor: pointer;
        color: #2f2f2f;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        -webkit-user-select: none;
        user-select: none;
    }
}
