<div class="dashboard_history_holder ms-0 weather_main_holder mt-0">
  <div class="dashboar_hist_header weather_holder custom_weather_city_info">
    <div class="custom_search city_search">
      <!-- (sendChangeStyle)="setExpanded($event)" -->
      <!-- <app-custom-search
        (handleAddress)="handleAddress($event)"
        (sendChangeStyle)="setExpanded($event)"
        [googleClass]="'timezone_pac_container'"
        [googleSearch]="true"
        [gridNameTitle]="''"
        [stateName]="''"
      ></app-custom-search> -->
    </div>
    <div *ngIf="!searchExpanded" @shrinkItem class="dashb_white_part">
            <span
              appSelectionColor
              style="color: #919191;"
            >Current time</span>
    </div>
  </div>
  <div class="favorite_city_list mtop15">
    <div *ngFor="let item of cityData; let indx = index" class="favorite_city_item">
      <div class="favorite_city_info">
        <div
          appSelectionColor
          class="fav_city_location city_timezone"
          style="color: #919191;"
        >{{item.cityLocation}}</div>
        <div class="fav_city_sm_info d-flex flex-column">
          <div
            appSelectionColor
            class="city_temp_time"
            style="color: #919191;"
          >{{item.date | date : 'H:mm aaa'}}</div>
          <div
            appSelectionColor
            class="city_time_zone"
            style="color: #919191;"
          >{{item.timeZoneName}} (UTC{{item.utcOffset}})
          </div>
        </div>
      </div>
      <svg-icon (click)="removeFromTimezoneCities(indx)" class="city_star"
                src="assets/img/svgs/weather/star.svg"></svg-icon>
    </div>
  </div>
</div>
