@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700, light');

// Trailer and truck colors
$trailer_colors: 'FF5454', '6D82C7', '56AB62', '3C3C3C', '6FDFE4', 'F89A3D',
    '1E9DF3', '59A5A5', 'A468FF', 'A34CB8', '4A9A4F', 'F3D542', '3074D3';
$truck_colors: '97D568', 'FFB74D', 'E57373', '68C3FF', 'BA68C8', '59A5A5',
    '415FC1';
$dispatch-status-colors: '919191', '008496', '6C6C6C', 'F276EF', 'FF9800';

// Color variables
$white: #ffffff;
$black: #000000;
$primary: #536bc2;
$primary-light: #7690be;
$secondary: #ea5d33;
$success: #18da35;
$info: #01b8ff;
$warning: #ffc107;
$danger: #f87566;
$muted: #919191;
$dark: #191919;
$light-blue: #5673aa;
$light-blue-07: rgba(86, 115, 170, 0.71);
$gray: #f1f2f3;
$icons-bg: #3d3d3d;
$icons-avatar: #d8d8d8;
$progress-orange: #ffb35d;
$progress-danger: #ff5d5d;
$link-color: #889cc3;
$ceil-blue: #91a4c7;
$cerulean-frost: #778fbb;
$icons-bg-empty: #cfcfcf;

// App main colors
$app-main-blue: #28529f;
$app-main-gray: #606060;
$app-menu-border: #f1f2f5;

// Font variables main and fallback
$main-font: 'Montserrat';
$fallback-font: 'sans-serif';

// New Color Variables
$text-color: #656565;
// Transition variable
$transition: all 0.3s ease-in-out;

//Scale size
$scaleSize: 1.1;

// Black&White pallete
$bw1: #f9f9f9;
$bw2: #eeeeee;
$bw3: #d1d1d1;
$bw4: #b7b7b7;
$bw5: #919191;
$bw6: #606060;
$bw6-2: #6c6c6c;
$bw7: #3d3d3d;
$bw8: #dbdbdb;
$bw-9: #dadada;

//blue color
$bc1: #6d82c7;
// Box Shadow
$box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);

@mixin triangletop {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 6px solid $white;
    //-webkit-filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.1));
    -webkit-filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.1));
    //filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.1));
    position: absolute;
    top: -6px;
    left: calc(50% - 10px);
}

// chips pallete
$chip-0: #30c862;
$chip-0-20: #30c86220;
$chip-1: #ffad43;
$chip-1-20: #ffad4320;
$chip-2: #ff5d5d;
$chip-2-20: #ff5d5d20;

$input-color: #a7a7a7;

// table pallete
$row-hover: #dfdfdf;
$row-select: #7f7f7f;
$th-color: #b7b7b7;
$tb-border: #cfcfcf;
$th-start-date: #b93636;

$trash-icon-color: #ff5d5d;

//Applicant

$confirm: #24c1a1;
$ta-light-grey: #e5e5e5;
$ta-light-grey-2: #aaaaaa;
$ta-light-grey-3: #3c3c3c;
$ta-light-grey-4: #f3f3f3;
$ta-light-grey-5: #f7f7f7;
$ta-light-grey-6: #cccccc;
$ta-light-grey-7: #fbfbfb;
$ta-blue: #536bc2;
$ta-blue-2: #3551b7;
$ta-blue-3: #97a8dc;
$ta-blue-4: #bdcaeb;
$ta-blue-5: #3074d3;
$ta-blue-6: #3074d333;
$ta-blue-7: #6f9ee0;
$ta-blue-8: #98b9ea;
$ta-blue-9: #255bb9;
$ta-blue-10: #6f9ee033;
$ta-blue-11: #6f9ee066;
$ta-blue-12: #3074d366;
$dark-blue-07: #5673aa70;
$ta-red: #e57373;
$ta-red-2: #ef5350;
$ta-red-3: #f44336;
$ta-red-4: #ef9a9a;
$ta-red-5: #ffcdd2;
$ta-red-6: #ef535033;
$ta-red-7: #e5737333;
$ta-red-8: #ef53504d;
$ta-review-green: #4db6a2;
$ta-review-green-2: #26a690;
$ta-review-green-3: #00967e;
$ta-black: #424242;
$ta-black-2: #2f2f2f;

// Authentication

$ta-blue: #536bc2;
$ta-light-blue: #6d82c7;
$ta-gray-01: #f3f3f3;
$ta-gray-02: #e5e5e5;

// mixins
@mixin border($direction, $width: 1px, $style: solid, $color: $gray-300) {
    border-#{$direction}: $width $style $color;
}

@mixin downAnimation {
    animation: dropdown 0.3s;
}

@keyframes dropdown {
    0% {
        margin-top: 20px;
        visibility: hidden;
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: 10px;
        visibility: visible !important;
    }
}

@mixin AnimationUp {
    animation: dropup ease-out 0.15s;
}

@keyframes dropup {
    0% {
        margin-top: -19px;
        visibility: hidden;
        opacity: 0;
    }
    100% {
        margin-top: inherit;
        visibility: visible !important;
    }
}
