.ta-counter {
  text-align: center;
  margin-right: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
<<<<<<< HEAD
  display: flex;
  align-items: center;
  justify-content: center;
=======
  min-width: 24px;
  padding: 0 3px;
>>>>>>> develop
  p {
    margin: 0 !important;
    position: relative;
    line-height: 17px;
  }
}
