@import 'src/theme/variables';

.ta-counter {
    margin-right: 4px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.circle_counter {
        border-radius: 100% !important;
        margin-left: 4px !important;
    }

    p {
        position: relative;
        line-height: 14px;
        font-size: 11px;
        color: $white;
    }

    &.morePaddingNum {
        p {
            padding: 0px 6px;
        }
    }
}
