@import 'src/theme/variables';

.thank-you-container {
    background-color: $white;

    .thank-you-text {
        margin-top: 184px;

        h1 {
            font-weight: 800;
            font-size: 52px;
            height: 63px;
            width: 766px;
            color: $ta-blue;
            margin-bottom: 30px;

            span {
                color: $bw6-2;
            }
        }

        h2 {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            width: 454px;
            height: 48px;
            color: $bw6-2;
            margin-bottom: 10px;
            text-transform: uppercase;

            span {
                color: $ta-blue;
            }
        }

        p {
            font-weight: 400;
            font-size: 18px;
            height: 22px;
            width: 507px;
            color: $bw6-2;
            margin-bottom: 60px !important;
        }
    }

    .thank-you-img {
        margin-bottom: 156px;
    }

    .copyright {
        height: 42px;
        border-top: 0.1rem solid $ta-gray-02;

        p {
            color: $ta-blue-2;
            font-weight: 400;
            font-size: 14px;
        }
    }
}
