.ta-custom-card {
  display: block;

  .ta-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0px;
    padding-right: 6px;
    height: 26px;
    cursor: pointer;

    .header-content {
      display: flex;
      align-items: center;

      &.counter {
        position: relative;
        left: 1px;
      }

      .header-text {
        color: #919191;
        font-weight: 800;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 18px;

        &.no-counter {
          margin-left: 6px;
        }

        &.active {
          color: #6c6c6c;
          transition: all 0.3s ease-in-out;
        }
      }

      .header-svg {
        margin-left: 6px;
        width: 18px;
        height: 18px;
        position: relative;
        bottom: 1px;
        &:hover {
          svg {
            path {
              fill: #6c6c6c;
            }
          }
        }
      }
    }

    .header-actions {
      display: flex;
      align-items: center;

      .header-action-container {
        .header-action-svg {
          height: 16px;
          width: 16px;
          margin-right: 7px;
          position: relative;

          &.new-position {
            margin-right: 0px;
          }

          svg {
            path {
              fill: #6d82c7;
            }
          }
          &:hover {
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            svg {
              path {
                fill: #536bc2;
              }
            }
          }
        }

        &.hovered,
        &.data,
        &.comment {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 82px;
          height: 24px;
          background-color: #f3f3f3;
          border-radius: 2px;
          transition: all 0.3 ease-in-out;
          cursor: pointer;
          position: relative;
          left: 6px;

          p {
            margin: 0;
            font-size: 11px;
            font-weight: 700;
            line-height: 18px;
            color: #536bc2;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          .header-action-svg {
            margin-right: 8px;
            align-self: start;
            position: relative;
            top: 1px;
          }

          &:hover {
            transition: all 0.3 ease-in-out;
            background-color: #536bc2;

            p {
              color: #ffffff;
            }

            .header-action-svg {
              svg {
                path {
                  fill: #ffffff;
                }
              }
            }
          }
        }

        &.data {
          left: -8px;
        }
      }

      .header-arrow {
        position: relative;
        bottom: 1px;
        svg {
          transform: rotate(0deg);
          transition: all 0.3s ease-in-out;
          path {
            fill: #b7b7b7;
          }
        }

        &.rotate {
          svg {
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out;
          }
        }
      }

      &.like-dislike-template {
        display: flex;
        align-items: center;
        position: relative;

        .ta-like-dislike {
          position: relative;
          margin-right: 8px;
        }
      }
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      .header-content {
        .header-text {
          color: #6c6c6c;
        }
      }

      .header-arrow {
        svg {
          path {
            fill: #aaaaaa;
          }
        }
      }

      .ta-counter-number {
        color: #6c6c6c !important;
      }
    }

    &.active {
      transition: all 0.3s ease-in;
      .header-text {
        color: #6c6c6c;
      }
      .ta-counter-number {
        color: #6c6c6c !important;
      }

      &:hover {
        transition: all 0.3s ease-in;
        .header-text {
          color: #3c3c3c !important;
        }
        .ta-counter-number {
          color: #3c3c3c !important;
        }
      }
    }

    &.no-data {
      cursor: auto !important;
      &:hover {
        .header-content {
          .header-text {
            color: #919191 !important;
          }
        }

        .header-arrow {
          svg {
            path {
              fill: #aaaaaa;
            }
          }
        }

        .ta-counter-number {
          color: #919191 !important;
        }
      }
    }

    &.disabled {
      .header-text {
        color: #b7b7b7 !important;
      }
      .header-arrow {
        display: none !important;
      }

      .ta-counter-number {
        color: #b7b7b7 !important;
      }
    }

    &.cursor {
      cursor: pointer;
    }
  }

  .ta-card-body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;

    &.active {
      max-height: 600px;
      transition: all 0.4s ease-in-out;
    }

    &.scroll {
      overflow-y: scroll;
      scrollbar-width: none !important; /* Firefox */

      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: 6px solid #6c6c6c;
        border-radius: 1px;
      }
      &::-webkit-scrollbar-track {
        padding: 0;
        position: relative;
        right: 0;
        top: 0;
        background: transparent;
      }

      &::-moz-selection {
        background-color: rgb(229, 229, 229, 0.2);
        color: #6c6c6c;
      }
    }
  }
}
.plus-custom-card {
  svg {
    margin-right: 11px;
    width: 18px;
    height: 18px;
    path {
      fill: #6d82c7;
    }
    &:hover {
      path {
        fill: #536bc2 !important;
      }
    }
  }
}
.status-icon-weekly {
  display: flex;
  align-items: center;
  .weekly-status {
    background-color: #f3f3f3;
    height: 20px;
    padding: 2.5px 6px;
    border-radius: 2px;
    margin-right: 12px;
    .weekly-status-value {
      font-size: 12px;
      font-weight: 700;
      color: #919191;
      line-height: 15px;
      &::-moz-selection {
        color: #919191;
        background: rgb(145, 145, 145, 0.2);
      }
      &::selection {
        color: #919191;
        background: rgb(145, 145, 145, 0.2);
      }
    }
  }
}
.arrow-down-plus {
  display: flex;
  align-items: center;

  .add-custom-card {
    display: flex;
    align-items: center;
  }
}
.header-svg-bank{
  margin-left: 12px !important;
  svg{
    path{
      fill: #cccccc;
    }
    &:hover{
      path{
        fill: #cccccc !important;
      }
    }
  }
}