.ta-custom-card {
  display: block;

  .ta-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0px;
    padding-right: 6px;
    cursor: pointer;

    .header-content {
      display: flex;
      align-items: center;

      .header-text {
        color: #919191;
        font-weight: 800;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.no-counter {
          margin-left: 6px;
        }

        &.active {
          color: #6c6c6c;
          transition: all 0.3s ease-in-out;
        }
      }

      .header-svg {
        margin-left: 6px;
        width: 18px;
        height: 18px;
        position: relative;
        bottom: 4px;
      }
    }

    .header-actions {
      .header-action-svg {
        height: 16px;
        width: 16px;
        margin-right: 7px;
        position: relative;
        bottom: 1px;

        svg {
          path {
            fill: #6d82c7;
          }
        }
        &:hover {
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          svg {
            path {
              fill: #536bc2;
            }
          }
        }
      }

      .header-arrow {
        position: relative;
        bottom: 1px;
        svg {
          transform: rotate(0deg);
          transition: all 0.3s ease-in-out;
        }

        &.rotate {
          svg {
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    &.cursor {
      cursor: pointer;
    }
  }

  .ta-card-body{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &.active{
      max-height: 600px
    }
  }
}
