@import 'src/theme/variables.scss';

@keyframes change {
    from {
        color: $ta-black;
    }
    to {
        color: $ta-blue-14;
    }
}
@keyframes changeSVG {
    from {
        fill: $ta-black;
    }
    to {
        fill: $ta-blue-14;
    }
}
.icon-text-cont {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 6px;
    cursor: pointer;

    .copy-value {
        white-space: nowrap;
        &::-moz-selection {
            color: #6c6c6c;
            background: rgb(108, 108, 108, 0.2);
        }
        &::selection {
            color: #6c6c6c;
            background: rgb(108, 108, 108, 0.2);
        }
        &:hover {
            color: #3c3c3c;
        }

        &.leftIconOrder {
            order: 2;
        }
        &.short_text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .card-icon-copy {
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transition: opacity .3s;
    }
    &:hover {
        .card-icon-copy {
            opacity: 1;
            visibility: visible;
        }
    }
}
.copied {
    .copy-value {
        animation-duration: 1500ms;
        animation-name: change;
    }
    .copy-text {
        animation-duration: 1500ms;
        animation-name: change;
    }
    .card-icon-copy {
        svg {
            display: flex;
            path {
                animation-duration: 1500ms;
                animation-name: changeSVG;
                &:hover {
                    animation-duration: 1500ms;
                    animation-name: changeSVG;
                }
            }
        }
    }
}
.app-icon-copy {
    display: flex;
    align-items: center;

    &.leftIconOrder {
        order: 1;
    }
}
.hidden-svg-eyes {
    svg {
        &:hover {
            path {
                fill: #6c6c6c;
            }
        }
    }
}
.copy-text {
    &:hover {
        color: #3c3c3c;
    }
    &::-moz-selection {
        color: #6c6c6c;
        background: rgb(108, 108, 108, 0.2);
    }
    &::selection {
        color: #6c6c6c;
        background: rgb(108, 108, 108, 0.2);
    }
}
.hidden-svg-eyes {
    margin-right: 6px;
}

.boldVinSpan {
    font-weight: 700;

    &.contactType {
        color: $bw5;
        font-weight: 400;
    }
}
