.subroutes {
  height: 28px;
  width: 178px;
  position: relative;
  left: -7px;
  border-radius: 3px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #b7b7b7;

  &:nth-child(1) {
    margin-top: 2px;
  }

  .subroutes-item {
    margin: 0;
    margin-left: 48px;
    font-size: 14px;
    position: relative;
    top: 4px;
  }

  &:hover {
    background-color: #f7f7f7;
    color: #919191;
  }
}

.subroute-active {
  color: #778fbb;
  background-color: #f7f7f7;

  &:hover {
    color: #5673aa !important;
  }
}
