@import 'src/theme/variables';

.message-container {
    margin: auto 6px;

    .media-preview-wrapper {
        margin-bottom: 4px;

        .media-preview {
            width: fit-content;

            .media-margin {
                margin: 0 4px;
            }

            :first-child {
                margin: 0 4px 0 0;
            }

            :last-child {
                margin: 0 0 0 4px;
            }

            img {
                border-radius: 3px;
                max-width: 300px;
                max-height: 300px;
                object-fit: cover;
                margin: 0 4px;
            }
        }
    }

    .content-wrapper {
        width: 100%;
        margin-top: 4px;
        margin-bottom: 4px;

        .message {
            &-actions {
                z-index: 1;
            }
            &-time {
                line-height: 14px;
                color: $bw5;
                font-size: 11px;
                padding: 0 8px;
            }
        }

        .content {
            width: fit-content;
            max-width: 100%;
            padding: 8px 10px 8px 10px;
            color: $ta-black-2;
            font-size: 14px;
            line-height: 18px;
            line-break: anywhere;
            border-radius: 2px;

            .attachment-list {
                width: 100%;
                height: fit-content;
                border-radius: 2px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                padding: 4px 2px 2px 4px;

                &-dark {
                    background-color: $ta-black-3;
                }

                &-light {
                    background-color: $bw2;
                }

                .attachment-preview {
                    width: 100%;
                    position: relative;
                    left: -10px;
                    margin-right: 6px;
                    padding: 1px;
                    border-radius: 2px;
                    flex: 1;

                    &-dark {
                        background-color: $bw2;
                        color: $white;
                    }

                    &-light {
                        background-color: $ta-black-2;
                        color: $ta-black-2 !important;
                    }

                    &-document {
                        height: 36px;
                        width: fit-content;

                        &-info {
                            line-height: 14px;
                            font-size: 11px;
                            height: 14px;

                            .name {
                                padding: 4px;
                            }

                            .size {
                                color: $bw5;
                                padding: 0 4px;
                            }
                        }

                        &-thumbnail {
                            height: 40px;
                            padding-right: 6px;
                        }
                    }
                }
            }

            .link {
                &-wrapper {
                    max-width: 300px;
                    padding-top: 8px;
                    margin-left: -10px;
                }

                &-title {
                    font-size: 14px;
                    line-height: 18px;
                    padding: 8px 2px;
                }
            }
        }

        .current-user {
            background-color: $ta-blue-16;

            &-selected {
                background-color: $ta-blue-13 !important;
                color: $white !important;
            }
        }

        .other {
            background-color: $ta-white-5;

            &-selected {
                background-color: $bw6-2 !important;
                color: $white !important;
            }
        }
    }
}

.action-wrapper {
    height: 18px;
    min-width: 18px;
    width: max-content;

    margin: auto 4px;
    padding: 2px;

    border-radius: 2px;

    .action {
        width: 100%;
    }

    svg-icon {
        z-index: 1;

        &:hover {
            cursor: pointer;
        }
    }

    &.gray {
        &:hover {
            background-color: $bw2;
        }
    }

    &.red {
        &:hover {
            background-color: $white-6 !important;

            svg {
                path {
                    fill: $ta-red-14;
                }
            }
        }
    }

    &.blue {
        svg {
            path {
                fill: $ta-blue-13;
            }
        }

        &:hover {
            background-color: $ta-blue-16;
            svg {
                path {
                    fill: $ta-blue-15;
                }
            }
        }
    }

    &.focused {
        background-color: $ta-black !important;
    }
}

.parent-message {
    &-text {
        padding: 0 0 8px 10px;
        line-height: 14px;
        font-size: 11px;
        color: $bw5;

        &.selected {
            color: $white !important;
        }
    }
}

.mw-66 {
    max-width: 66%;
}

.deleted-text {
    line-height: 18px;
    margin-left: 4px;
    font-size: 11px;
    font-style: italic;
    color: $bw5;
}

@media (max-width: 768px) {
    .attachment-list {
        flex-direction: column !important;
    }
}
