@import 'src/theme/variables';
@import 'src/assets/scss/border';

.password-accoount-hidden-characters-container {
    display: grid;
    grid-template-columns: 18px 1fr;
    grid-gap: 4px;

    &.right-side-icon {
        display: inline-grid;
        grid-template-columns: auto auto;

        .icon-container {
            order: 2;
        }

        p {
            order: 1;
        }
    }

    .icon-container {
        cursor: pointer;

        &.hover {
            svg {
                path {
                    fill: $ta-black;
                }
            }
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }

    p {
        font-size: 13px;
        line-height: 18px;
        color: $bw6-2;

        &::-moz-selection {
            color: $bw6-2;
            background: rgb(47, 47, 47, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(47, 47, 47, 0.2);
        }

        .hidden-character {
            font-size: 11px;

            &::-moz-selection {
                color: $bw6-2;
                background: rgb(47, 47, 47, 0.2);
            }

            &::selection {
                color: $bw6-2;
                background: rgb(47, 47, 47, 0.2);
            }
        }
    }

    &-second {
        p {
            font-size: 14px;
            color: $ta-black-2;
        }

        .hidden-character {
            color: $bw6-2;
        }
    }
}
