<ng-container *ngIf="passwordOrAccount">
    <div
        class="align-items-center password-accoount-hidden-characters-container"
    >
        <div
            class="d-flex align-items-center justify-content-center icon-container"
            [ngClass]="{ hover: isHovered }"
            (click)="handleShowClick()"
            (mouseenter)="handleHover(true)"
            (mouseleave)="handleHover(false)"
        >
            <svg-icon
                class="icon"
                [src]="
                    isHovered && !isShowing
                        ? passwordAccountHiddenCharactersSvgRoutes.showCharsIconRoute
                        : isShowing
                        ? passwordAccountHiddenCharactersSvgRoutes.shownCharsIconRoute
                        : passwordAccountHiddenCharactersSvgRoutes.hiddenCharsIconRoute
                "
            ></svg-icon>
        </div>

        <p class="m-0">
            <span class="hidden-character">{{
                isShowing ? '' : hiddenPart
            }}</span>

            {{ isShowing ? passwordOrAccount : visiblePart }}
        </p>
    </div>
</ng-container>
