$font-size12: 12px;
$font-size14: 14px;
$font-size18: 18px;
$font-size20: 20px;

$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;

$color-white-light: #f3f3f3;
$color-white: #ffffff;

$color-gray: #919191;
$color-gray-dark: #6c6c6c;
$border-radius: 3px;

// GENERAL SWITCHER DRIVER
.details-header-wrapper {
    background-color: $color-white;
    border-radius: $border-radius;
    margin-bottom: 8px;
    p {
        margin: 0px;
    }
    .details-header-wrapper-switcher {
        padding-left: 6px;
        padding-top: 6px;
        padding-right: 13px;
        display: grid;
        grid-template-columns: 366px 53px;
        .arrows {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-end;
            margin-left: 9px;
            .arrow-left {
                cursor: pointer;
                padding: 0 5px;
                &:hover {
                    background: #f3f3f3;
                    width: 28px;
                    border-radius: 2px;
                    margin-top: 2px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .arrow-right {
                cursor: pointer;
                padding: 0 5px;
                &:hover {
                    background: #f3f3f3;
                    width: 28px;
                    border-radius: 2px;
                    margin-top: 2px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 100%;
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .details-header-wrapper-switcher-name {
        font-size: $font-size20;
        font-weight: $font-bold;
        color: $color-gray-dark;
        position: relative;
        margin-left: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
// DRIVER GENERAL PERSONAL DATA
.details-header-wrapper-container {
    .details-header-wrapper-data {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 16px;
        .date-terminated {
            margin-left: 130px;
        }
        .details-header-wrapper-data-item {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 18px;
            .vin-text {
                margin-left: 6px !important;
                font-size: $font-size14;
                font-weight: 400;
                position: relative;
                bottom: -1px;
                P {
                    color: #aaaaaa;
                    &:hover {
                        color: #3c3c3c !important;
                    }
                }
            }
        }
        .second {
            margin-top: 14px;
            margin-bottom: 12px;
        }
        .bottom {
            margin-top: 12px;
            margin-bottom: 12px;
            height: 18px;
            align-items: end;
            p {
                font-size: $font-size14;
                font-weight: 400;
                color: #6c6c6c;
            }
        }
        svg {
            width: 18px;
            height: 18px;
        }
    }
    .details-header-wrapper-data-item_bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 14px;
        .vin-text {
            margin-left: 6px;
        }
    }
}

.border-line {
    margin: 0;
    height: 2px;
    width: 428px;
    border-radius: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: $color-white-light;
}
.dropInput {
    width: 366px;
    .input-custom-group {
        .input-dropdown-arrow {
            top: 10px !important;
            svg {
                display: none !important;
            }
        }
        &:hover {
            .input-dropdown-arrow {
                svg {
                    display: block !important;
                }
            }
        }

        .input-control {
            background-color: transparent !important;
            font-size: $font-size20 !important;
            color: #6c6c6c !important;
            font-weight: $font-bold !important;
            cursor: pointer;
            &:hover {
                background-color: #f3f3f3 !important;
                color: #3c3c3c !important;
            }
            &:focus {
                background-color: #6c6c6c !important;
            }
        }
    }
}
.date-add {
    svg {
        &:hover {
            cursor: pointer;
            path {
                fill: #919191;
            }
        }
    }
}
.date-terminated {
    svg {
        &:hover {
            cursor: pointer;
            path {
                fill: #919191;
            }
        }
    }
}
.inactive-status {
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    svg {
        height: 22px;
        width: 22px;
        path {
            fill: #aaaaaa;
        }
        &:hover {
            path {
                fill: #6c6c6c;
            }
        }
    }
}
.inactive-icon-input{
    display: flex;
    align-items: center;
}
