<div class="details-header-wrapper">
  <div class="details-header-wrapper-switcher">
    <div class="inactive-icon-input">
      <!-- <svg-icon
        *ngIf="statusInactive == 0"
        class="inactive-status"
        src="assets/svg/truckassist-table/dropdown/content/activate-hover.svg"
      ></svg-icon> -->
      <!-- Active Item -->
      <div
        *ngIf="!selectedDropdown"
        class="current-active-item"
        (click)="onPickItem()"
        ngbTooltip
        [mainTooltip]="searchInputName"
        position="top"
        tooltipBackground="#6C6C6C"
      >
        <p class="current-active-name">
          {{ (options | detailActiveItem).name }}
        </p>
        <span
        ngbTooltip
        [mainTooltip]="searchName"
        position="top"
        [tooltipBackground]="searchName ? '':'#6C6C6C'"
        >
        <svg-icon
          class="current-active-owner"
          src="{{ (options | detailActiveItem).svg }}"
        ></svg-icon>
      </span>
      </div>
      <!-- Input dropdown -->
      <app-ta-input-dropdown
        *ngIf="selectedDropdown"
        class="dropInput"
        [formControl]="inputFormControl"
        [inputConfig]="{
          name: 'Input Dropdown',
          type: 'text',
          isDropdown: true,
          dropdownWidthClass:
            statusInactive === 0
              ? 'w-col-details-template-small'
              : 'w-col-details-template-big',
          textTransform: 'capitalize',
          customClass: 'input-big input-big-font-20 details-pages'
        }"
        [options]="options"
        [template]="'details-template'"
        [isDetailsActive]="selectedDropdown"
        (selectedItem)="onSelecItem($event)"
      >
      </app-ta-input-dropdown>
    </div>
    <div *ngIf="!hasArrow" class="arrows">
      <span
        ngbTooltip
        [mainTooltip]="tooltipPrevious"
        position="top"
        tooltipBackground="#6C6C6C"
      >
        <svg-icon
          class="arrow-left"
          (click)="onAction('next')"
          src="assets/svg/common/arrow-left.svg"
        >
        </svg-icon>
      </span>
      <span
        tooltipBackground="#6C6C6C"
        ngbTooltip
        [mainTooltip]="tooltipNext"
        position="top"
      >
        <svg-icon
          class="arrow-right"
          (click)="onAction('previous')"
          src="assets/svg/common/arrow-left.svg"
        ></svg-icon>
      </span>
    </div>
    <div *ngIf="hasArrow" class="verical-dots-header">
    <app-table-dropdown
    [options]="optionsDrop.actions"
    [id]="optionsId"
    [placement]="'bottom-left'"
    (dropDownActions)="dropAct($event)"
    [customClassDropDown]="'table-dropdown-container-vertical'"
  >
  </app-table-dropdown>
</div>
  </div>
  <div *ngIf="haveTwoInput" class="details-header-wrapper-switcher">
    <div class="inactive-icon-input">
      <app-ta-input-dropdown
        class="dropInput"
        [formControl]="inputFormControl"
        [inputConfig]="{
          name: 'Input Dropdown',
          type: 'text',
          isDropdown: true,
          dropdownWidthClass: 'w-col-details-template'
        }"
        [options]="options"
        [template]="'details-template'"
        (selectedItem)="onSelectDetail($event)"
      >
      </app-ta-input-dropdown>
    </div>
    <div class="arrows">
      <span  ngbTooltip [mainTooltip]="tooltipPrevious" position="top" tooltipBackground="#6C6C6C">
        <svg-icon
          class="arrow-left"
          (click)="onPreviousAction($event)"
          src="assets/svg/common/arrow-left.svg"
        >
        </svg-icon>
      </span>
      <span tooltipBackground="#6C6C6C" ngbTooltip [mainTooltip]="tooltipNext" position="top">
      <svg-icon
        class="arrow-right"
        (click)="onNextAction()"
        src="assets/svg/common/arrow-left.svg"
      ></svg-icon>
      </span>
    </div>
  </div>
  <div class="details-header-wrapper-container">
    <div class="details-header-wrapper">
      <ng-content></ng-content>
    </div>

    <div class="border-line"></div>
    <div class="details-header-wrapper-data">
      <span
        tooltipBackground="#6C6C6C"
        ngbTooltip
        mainTooltip="Date Added"
        position="top"
      >
        <div class="details-header-wrapper-data-item bottom">
          <svg-icon
            class="date-add"
            src="assets/svg/common/date.svg"
          ></svg-icon>
          <p class="vin-text">{{ cardDetailsDate }}</p>
        </div>
      </span>
      <span
        style="margin-left: 130px"
        *ngIf="statusInactive == 0"
        tooltipBackground="#6C6C6C"
        ngbTooltip
        mainTooltip="Date Terminated"
        position="top"
      >
        <div
          *ngIf="statusInactive == 0"
          class="details-header-wrapper-data-item bottom"
        >
          <svg-icon
            class="date-terminated"
            src="assets/svg/common/ic_terminated.svg"
          ></svg-icon>
          <p class="vin-text">{{ cardDetailsDateTerminated }}</p>
        </div>
      </span>
    </div>
  </div>
</div>
