.catalog {
  background-color: #000;
  position: absolute;
  flex-wrap: wrap;
  .catalog-items {
    flex: 0 0 20%;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;

    span {
      color: #fff;
      font-size: 12px;
      text-align: center;
    }

    svg-icon {
      svg {
        max-width: 200px;
      }
    }
  }
}
