@import '../../navigation.design.scss';

.user-panel {
    position: relative;
    z-index: 99;
    width: 238px;
    padding: 4px 4px 40px 4px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .wrapper-elements {
        position: relative;
        .items {
            &:hover {
                svg {
                    path {
                        fill: $nav-white;
                    }
                }
                .user-content-logout {
                    svg {
                        path {
                            fill: #ef9a9a;
                        }
                    }
                }
                .user-content-status {
                    svg {
                        #minus-circle {
                            fill: #ffcc80;
                        }
                    }
                }
            }
        }
    }
    p {
        margin: 0;
        font-size: $nav-font-size;
        font-weight: $nav-font-medium;
        color: $nav-white;
    }

    .user-content,
    .user-content-exists {
        display: flex;
        align-items: center;
        width: 230px;
        cursor: pointer;
        transition: $nav-transition;
        .items-holder {
            padding: 4px 6px;
            display: flex;
            align-items: center;
            height: 30px;
            width: 230px;
        }

        .user-content-hover {
            display: none;
        }

        .user-content-text {
            margin-left: 7px;
        }

        .user-content-svg {
            position: relative;
            bottom: 0px;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:nth-child(1) {
            margin-top: 0px !important;
        }
        &:nth-child(2) {
            svg {
                path {
                    fill: #ffa726;
                }
            }
        }
        &:nth-child(5) {
            svg {
                path {
                    fill: #ef5350;
                }
            }
        }
        &:hover {
            .user-content-hover {
                display: inline;
                height: 28px;
                width: 230px;
                content: '';
                position: absolute;
                z-index: -1;
                left: 4px;
                border-radius: 3px;
            }

            .user-content-logout {
                svg {
                    #person-to-portal {
                        fill: $nav-important !important;
                    }
                }
            }

            .user-content-status {
                svg {
                    #minus-circle {
                        fill: $user-busy-status-hover;
                    }
                    #check-circle {
                        fill: $user-active-status-hover !important;
                    }
                }
            }
        }
    }
    .hide-company {
        padding: 0;
        display: none;
        height: 0;
    }
    .user-holder {
        display: flex;
        align-items: center;
        height: 44px;
        position: absolute;
        bottom: -3px;
        cursor: pointer;
        .panel-image {
            width: 28px;
            height: 28px;
            object-fit: fill;
            position: relative;
            bottom: 0px;
            margin: 0;
            left: 0;
        }

        .panel-name {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 1px;
            bottom: 0px;
            padding-left: 5px;
            p {
                padding-left: 1px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 140px;
                overflow: hidden;

                &:nth-child(1) {
                    line-height: 17px;
                    font-size: 14px;
                    font-weight: 700;
                    width: 193px;
                }
                &:nth-child(2) {
                    line-height: 13px;
                    font-size: 11px;
                    font-weight: 400;
                }
            }

            .nav-footer-user-company {
                position: relative;
                top: 1px;
            }

            .nav-footer-user-name {
                position: relative;
                top: -1px;
            }
        }
    }
}
.panel-image {
    width: 28px;
    height: 28px;
    bottom: 5px;
    left: 4px;
    position: relative;
    margin-top: 16px;
    user-select: none;
}
.wrapper {
    .parent {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        .background-on-user-panel {
            background-color: rgba(170, 170, 170, 0.1);
            height: 192px;
            transition: max-height 0.3s ease-out;
            overflow: hidden;
            width: 100%;
            position: relative;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            user-select: none;
        }
        .remove-background-on-user-panel {
            overflow: hidden;
            background-color: rgba(170, 170, 170, 0.1);
            position: relative;
            animation: list-separator 0.3s;
            height: 193px;
            visibility: hidden;
            transition: visibility 0.2s;
        }
        @keyframes lineInserted {
            from {
                transform: translateY(0px);
            }
            to {
                transform: translateY(90px);
            }
        }
    }
    div {
        .new-magic-line {
            display: inline-block;
            position: absolute;
            left: 0px;
            bottom: 0px;
            content: '';
            height: 28px;
            width: 232px;
            background: $nav-hover-color;
            border-radius: 3px;
            transition: $magic-line-transition;
            z-index: -1;
        }

        .new-magic-line-selected {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}
.hide-panel {
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}
.show-panel {
    max-height: 150px;
    transition: max-height 0.3s ease-in;
    overflow: hidden;
}
.user-content:nth-child(1):hover ~ .new-magic-line {
    transform: translateY(-121px) !important;
}

.user-content:nth-child(1) ~ .new-magic-line {
    transform: translateY(-121px);
}

.user-content:nth-child(2):hover ~ .new-magic-line {
    transform: translateY(-91px) !important;
}

.user-content:nth-child(2) ~ .new-magic-line {
    transform: translateY(-91px);
}

.user-content:nth-child(3):hover ~ .new-magic-line {
    transform: translateY(-61px) !important;
}

.user-content:nth-child(3) ~ .new-magic-line {
    transform: translateY(-61px);
}

.user-content:nth-child(4):hover ~ .new-magic-line {
    transform: translateY(-31px) !important;
}

.user-content:nth-child(4) ~ .new-magic-line {
    transform: translateY(-31px);
}

.user-content:nth-child(5):hover ~ .new-magic-line {
    transform: translateY(0px) !important;
}

.user-content:nth-child(5) ~ .new-magic-line {
    transform: translateY(0px);
}

.user-content-exists:nth-child(1):hover ~ .new-magic-line {
    transform: translateY(-91px) !important;
}

.user-content-exists:nth-child(1) ~ .new-magic-line {
    transform: translateY(-91px);
}

.user-content-exists:nth-child(2):hover ~ .new-magic-line {
    transform: translateY(-61px) !important;
}

.user-content-exists:nth-child(2) ~ .new-magic-line {
    transform: translateY(-61px);
}

.user-content-exists:nth-child(3):hover ~ .new-magic-line {
    transform: translateY(-61px) !important;
}

.user-content-exists:nth-child(3) ~ .new-magic-line {
    transform: translateY(-61px);
}

.user-content-exists:nth-child(4):hover ~ .new-magic-line {
    transform: translateY(-31px) !important;
}

.user-content-exists:nth-child(4) ~ .new-magic-line {
    transform: translateY(-31px);
}
