@import 'src/theme/variables.scss';

.step-form {
    .line-container {
        position: relative;

        .review-feedback-container {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(calc(100% + 5px));
            width: 429px;
        }
    }

    .group {
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    .name-group {
        width: 210px;
    }

    .phone-group,
    .relationship-group {
        width: 191px;
    }

    .inputs-with-background {
        width: 100%;
        height: 34px;
        padding: 4px 10px;
        background: $bw2;
        border-radius: 2px;

        &.filled-valid {
            background: $ta-blue-10;
        }

        &.filled-invalid {
            background: $ta-red-7;
        }

        .group {
            margin-right: 4px;
        }

        .name-group {
            width: 200px;
        }

        .phone-group,
        .relationship-group {
            width: 170px;
        }

        .delete-btn-group {
            width: 26px;
        }
    }

    .btn-container {
        margin-top: 22px;
    }
}
