<app-ta-modal
    [modalTitle]="editData?.type !== 'edit' ? 'Add Office' : 'Edit Office'"
    [editData]="editData"
    [editName]="officeName"
    [isModalValid]="officeForm.valid && isFormDirty && isEachContactRowValid"
    [saveAndAddNew]="editData?.type !== 'edit'"
    (action)="onModalAction($event)"
>
    <div origin>
        <app-ta-tab-switch
            [tabs]="tabs"
            (switchClicked)="tabChange($event)"
            [type]="'type1-modal-popup'"
        >
        </app-ta-tab-switch>

        <form
            [formGroup]="officeForm"
            class="form-container form-container-mt-22"
            [ngClass]="{
                'form-container-mt-12': selectedTab === 1,
                'form-container-with-card-2': selectedTab === 2,
                'row-settings-location-additional': selectedTab === 2
            }"
        >
            <div
                class="animation-two-tabs"
                [@animationTabsModal]="animationObject"
            >
                <!-------------------------------- Basic Tab -------------------------------->
                <div class="m-tab" [hidden]="selectedTab !== 1">
                    <div class="row">
                        <div class="col-12">
                            <app-ta-input
                                formControlName="name"
                                [inputConfig]="
                                    formConfig.getNameInputConfig(
                                        editData?.type
                                    )
                                "
                            ></app-ta-input>
                        </div>
                    </div>
                    <div
                        class="phone-ext-email-small-modal"
                        [ngClass]="{
                            'active-phone-ext': isPhoneExtExist
                        }"
                    >
                        <div class="phone-extension">
                            <div class="phone-field">
                                <app-ta-input
                                    formControlName="phone"
                                    [inputConfig]="phoneConfig"
                                ></app-ta-input>
                            </div>
                            <ng-container
                                *ngIf="!isPhoneExtExist; else phoneExtension"
                            >
                                <div
                                    class="extension-field"
                                    (click)="isPhoneExtExist = !isPhoneExtExist"
                                    ngbTooltip
                                    mainTooltip="Add Extension"
                                    position="top"
                                    tooltipBackground="#6c6c6c"
                                >
                                    <svg-icon [src]="svgRoutes.plus"></svg-icon>
                                </div>
                            </ng-container>
                            <ng-template #phoneExtension>
                                <app-ta-input
                                    *ngIf="isPhoneExtExist"
                                    formControlName="extensionPhone"
                                    [inputConfig]="phoneExtConfig"
                                ></app-ta-input>
                            </ng-template>
                        </div>
                        <div class="email-field">
                            <app-ta-input
                                formControlName="email"
                                [inputConfig]="emailConfig"
                            ></app-ta-input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10">
                            <app-ta-input-address-dropdown
                                formControlName="address"
                                [inputConfig]="addressConfig"
                                [placeholderType]="'longAddress'"
                                [activeAddress]="selectedAddress"
                                (selectedAddress)="onHandleAddress($event)"
                            ></app-ta-input-address-dropdown>
                        </div>
                        <div class="col-2">
                            <app-ta-input
                                formControlName="addressUnit"
                                [inputConfig]="addressUnitConfig"
                            ></app-ta-input>
                        </div>
                    </div>

                    <!-- Company owned -->
                    <app-ta-checkbox-card
                        formControlName="isOwner"
                        [label]="'Company Owned'"
                        [name]="'company-owned'"
                        [hasArrow]="false"
                        [withoutToggle]="true"
                        [animationMarginParams]="{
                            marginTop: '0',
                            marginBottom: '0'
                        }"
                        [isCardOpen]="!officeForm.get('isOwner').value"
                    >
                        <ng-container body>
                            <div class="mt-3 mb-3">
                                <div class="location-parking-financial-card">
                                    <app-ta-input-dropdown
                                        formControlName="payPeriod"
                                        [inputConfig]="payPeriodConfig"
                                        [options]="payPeriods"
                                        [activeItem]="selectedPayPeriod"
                                        (selectedItem)="
                                            onSelectDropdown(
                                                $event,
                                                'pay-period'
                                            )
                                        "
                                    ></app-ta-input-dropdown>
                                    <app-ta-input-dropdown
                                        formControlName="monthlyDay"
                                        [inputConfig]="
                                            formConfig.getMonthlyDayConfig(
                                                officeForm.get('payPeriod')
                                                    .value
                                            )
                                        "
                                        [options]="
                                            selectedPayPeriod?.name === 'Weekly'
                                                ? weeklyDays
                                                : monthlyDays
                                        "
                                        [activeItem]="selectedDay"
                                        (selectedItem)="
                                            onSelectDropdown($event, 'day')
                                        "
                                    ></app-ta-input-dropdown>

                                    <app-ta-input
                                        formControlName="rent"
                                        [inputConfig]="rentConfig"
                                    ></app-ta-input>
                                </div>
                            </div>
                        </ng-container>
                    </app-ta-checkbox-card>
                </div>
                <!-------------------------------- Additional Tab -------------------------------->

                <div class="m-tab" [hidden]="selectedTab !== 2">
                    <app-ta-custom-card
                        [cardName]="'Department Contact'"
                        [hasCounter]="departmentContacts?.length"
                        [hasActionSvg]="repairShopModalSvgRoutes.plusIcon"
                        [hasArrow]="false"
                        [isCardOpen]="!!departmentContacts?.length"
                        [hasScrollBody]="departmentContacts?.length > 10"
                        [disabledCard]="!departmentContacts?.length"
                        [disableAnimation]="isCardAnimationDisabled"
                        [hasScrollBodyXAxis]="true"
                        [isDepartmentContactsCard]="true"
                        (onActionEvent)="addContact()"
                    >
                        <app-ta-modal-table
                            [tableType]="modalTableTypeEnum.DEPARTMENT_CONTACT"
                            [modalTableData]="updatedDepartmentContacts"
                            [dropdownData]="departmentOptions"
                            [isNewRowCreated]="isNewContactAdded"
                            (modalTableValueEmitter)="
                                handleModalTableValueEmit($event)
                            "
                            (modalTableValidStatusEmitter)="
                                handleModalTableValidStatusEmit($event)
                            "
                        >
                        </app-ta-modal-table>
                    </app-ta-custom-card>

                    <ng-container *ngIf="!departmentContacts?.length">
                        <div class="no-review-office">
                            <svg-icon
                                class="no-review-svg"
                                [src]="repairShopModalSvgRoutes.noContactIcon"
                            ></svg-icon>
                        </div>
                    </ng-container>
                </div>
            </div>
        </form>
    </div>
</app-ta-modal>
