.d-grid {
    &-user-name {
        grid-template-columns: 222px 222px;
    }

    &-department {
        grid-template-columns: 126px 318px;
    }

    &-office {
        grid-template-columns: 252px 154px 26px;
    }

    &-personal-info {
        grid-template-columns: 190px 254px;
    }

    &-personal-address {
        grid-template-columns: 364px 80px;
    }

    &-payroll {
        &-payment {
            grid-template-columns: 160px 146px 126px;
        }

        &-bank {
            grid-template-columns: 160px 106px 166px;
        }

        &-salary-commission {
            grid-template-columns: 160px 284px;
        }
    }
}
