@import '/src/theme/variables.scss';

.load-status {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &.details-layout {
        font-size: 14px;

        &.load-status-badge {
            font-size: 11px;
        }
    }

    &.dispatch-history-modal-layout {
        font-size: 11px;

        &.load-status-badge {
            font-size: 11px;
        }
    }

    &-r {
        background-color: $bw6-2;
        color: $white;
    }

    &-repairloaded,
    &-repairdispatched {
        &-r {
            background-color: $ta-orange-1;
            color: $white;
        }
    }

    &-l {
        background-color: $ta-green-4;
        color: $ta-black-2;
    }
    .l-dark {
        background-color: $ta-green-4;
        color: $white;
    }
    &-f {
        background-color: $ta-purple-1;
        color: $white;
    }

    &-t {
        background-color: $ta-red-10;
        color: $white;
    }

    &-i {
        background-color: $ta-yellow-8;
        color: $white;
    }

    &-badge {
        position: relative;
        font-size: 11px;
        height: 14px;
        width: 14px;
        font-weight: 600;
        padding-top: 1px;
        border-radius: 2px;

        &.pickup {
            background: $ta-green;
        }

        &.delivery {
            background: $ta-red-10;
        }

        &.pickup,
        &.delivery {
            margin-left: 4px;
            color: $white;
        }
        &.d-repair {
            width: 12px;
            height: 12px;
            border-radius: 1px;
            background-color: $ta-blue-19;
            color: $white;
        }
        &.d-repair-dark {
            width: 12px;
            height: 12px;
            border-radius: 1px;
            background-color: $ta-blue-19;
            color: $ta-black-2;
        }
    }
}
