<div class="dashboard_history_holder ms-0">
  <div class="dashboar_hist_header weather_holder load_holder_dash">
    <!-- <div class="custom_search">
        <app-custom-search
            [stateName]="''"
            [gridNameTitle]="''"
            (sendChangeStyle)="setExpanded($event)"
        >
        </app-custom-search>
    </div> -->
    <div *ngIf="!searchExpanded" @shrinkItem class="dashb_white_part">
            <span
              appSelectionColor
              style="color: #919191b3;"
            >Recent Fuel Transaction</span>
    </div>
    <div class="chart_select_holder">
      <ng-select
        [(ngModel)]="accountNumber"
        [disabled]="fuelMainListData.length == 1"
        [items]="fuelMainListData"
        [searchable]="false"
        bindLabel="doc.contractId"
        bindValue="id"
      >
        <ng-template let-item="item" ng-label-tmp>#{{item.doc.contractId}}</ng-template>
        <ng-template let-item="item" ng-option-tmp>#{{item.doc.contractId}}</ng-template>
      </ng-select>
    </div>
    <button
      appTooltip="Add Fuel"
      class="plus-svg-container"
      position="bottom-right"
      tooltipBackground="#707070"
    >
      <svg-icon src="../../../../assets/img/svgs/table/add.svg"></svg-icon>
    </button>
  </div>
  <div class="dashboard_fuel_list">
    <div (scroll)="onScrollChanged($event)" class="flex-grow-1 scroll-main-holder">
      <!-- <cdk-virtual-scroll-viewport
          (scrolledIndexChange)="onScrollChanged($event)"
          itemSize="20"
          style="height: 100%; width: 100%; margin: 0"
      > -->
      <table width="100%">
        <thead>
        <tr>
          <th [style.top]="inverseOfTranslation" appSelectionColor style="color: #B7B7B7;" width="20%">Truck #</th>
          <th [style.top]="inverseOfTranslation" appSelectionColor style="color: #B7B7B7;" width="50%">Location</th>
          <th [style.top]="inverseOfTranslation" appSelectionColor style="color: #B7B7B7;" width="10%">Qty</th>
          <th [style.top]="inverseOfTranslation" appSelectionColor style="color: #B7B7B7;" width="10%">PPG</th>
          <th [style.top]="inverseOfTranslation" appSelectionColor style="color: #B7B7B7;" width="10%">Total</th>
        </tr>
        </thead>
        <tbody>
        <!-- <ng-template cdkVirtualFor let-items [cdkVirtualForOf]="fuelData" let-i="index"> -->
        <ng-template [ngForOf]="fuelData" let-i="index" let-items ngFor>
          <tr>
            <td
              appSelectionColor
              style="color: #919191;"
              width="20%"
            >{{items.truckNumber}}</td>
            <td
              appSelectionColor
              class="location-td"
              style="color: #919191;"
              width="50%"
            >
              <span class="location-item">{{items.location}}</span>
            </td>
            <td
              appSelectionColor
              style="color: #919191;"
              width="10%"
            >{{items.totalQty}}</td>
            <td
              appSelectionColor
              class="fuel_city"
              style="color: #919191;"
              width="10%"
            >{{items.totalPrice | currency}}</td>
            <td
              appSelectionColor
              style="color: #919191;"
              width="10%"
            >{{items.fuelTotal | currency}}</td>
          </tr>
          <tr *ngIf="fuelDates[items.fuelDate].indx == i">
            <td class="stycky-holder" colspan="5">
              <div
                [ngStyle]="{ 'top': (((fuelDates[items.fuelDate].fullCount + 1) * 40 ) >= 280 ? ((fuelDates[items.fuelDate].fullCount + 1) * -40 ) : 0) + 'px' }"
                class="fuel_date">
                <div [class.inactive]="((fuelDates[items.fuelDate].fullCount + 1) * 40 ) < 280" class="sticky-one">
                  <span>{{items.fuelDate}}</span>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <!-- <tr *cdkVirtualFor="let fuel of fuelData; let indx = index; templateCacheSize: 10;">
            <td
                style="color: #919191;"
                appSelectionColor
                width="20%"
            >{{fuel.truckNumber}}</td>
            <td
                style="color: #919191;"
                appSelectionColor
                width="50%"
            >{{fuel.location}}</td>
            <td
                style="color: #919191;"
                appSelectionColor
                width="10%"
            >{{fuel.totalQty}}</td>
            <td
                style="color: #919191;"
                appSelectionColor
                class="fuel_city"
                width="10%"
            >{{fuel.totalPrice | currency}}</td>
            <td
                style="color: #919191;"
                appSelectionColor
                width="10%"
            >{{fuel.fuelTotal | currency}}</td>
        </tr> -->
        </tbody>
      </table>
      <!-- </cdk-virtual-scroll-viewport> -->
    </div>
    <div class="balance_holder d-flex justify-content-between">
      <div
        appSelectionColor
        class="balance_title"
        style="color: #fff;"
      >Balance
      </div>
      <div class="d-flex reaload-holder">
        <button
          (click)="getCompanyFuelBalance()"
          appTooltip="Reload"
          class="plus-svg-container"
          position="bottom-right"
          tooltipBackground="#707070"
        >
          <svg-icon
            class="active"
            src="assets/fontawesome/svgs/regular/redo.svg"
          ></svg-icon>
        </button>
        <div
          [@balanceRefresher]="balanceRefresher"
          appSelectionColor
          class="balance_money"
          style="color: #fff;"
        >{{fuelTotal | currency}}</div>
      </div>
    </div>
  </div>
</div>
