@import 'src/theme/variables';

.load-stop-wait-time {
    &-grid {
        grid-template-columns: 112px 95px 95px 95px 95px 78px;
        font-size: 11px;
        color: $muted;
        row-gap: 6px;
        column-gap: 5px;
        text-align: center;
        padding: 0 4px;

        span {
            color: $ta-red-11;
            margin-left: 2px;
        }
    }

    &-footer {
        padding: 0 6px;
        &-total {
            font-size: 14px;
            color: $muted;
        }
        &-sum {
            font-size: 14px;
            color: $ta-black;
        }
    }
}
