<div
    class="main_inside"
    [class.filled]="address?.address || showAddAddressField === rowIndex"
>
    <div class="padding-inside" [ngClass]="{ hovering: isHoveringRow }">
        <ng-container
            *ngIf="address?.address || showAddAddressField === rowIndex"
        >
            <ng-container
                *ngIf="showAddAddressField === rowIndex; else addressInfo"
            >
                <app-ta-input-address-dropdown
                    [formControl]="truckAddressControl"
                    [activeAddress]="selectedAddress"
                    [inputConfig]="lastLocationAddressConfig"
                    [placeholderType]="'shortAddress'"
                    (selectedAddress)="handleInputSelect($event)"
                    (closeDropdown)="onHideDropdown($event)"
                ></app-ta-input-address-dropdown>
            </ng-container>

            <ng-template #addressInfo>
                <ng-container *ngIf="address.address">
                    <div class="info-item">
                        <div
                            class="location-field d-flex justify-content-between align-items-center"
                        >
                            <div class="location-city d-flex">
                                <div class="location-f-city">
                                    {{ address.city }}
                                </div>
                                <div class="location-f-st">
                                    , {{ address.stateShortName }}
                                </div>
                            </div>

                            <ng-container *ngIf="isDisplayParkingIcon">
                                <div
                                    class="parking-container d-flex justify-content-center align-items-center"
                                >
                                    <div class="parking ta-font-extra-bold">
                                        P
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </ng-container>
    </div>
</div>
