@import '../../dispatch-table.component.scss';

.location-city {
    width: 120px;
}
.location-f-city,
.location-f-st {
    font-size: 14px;
    color: $ta-black-2;

    &.location-f-city {
        white-space: nowrap;
        max-width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &,
    &.location-f-city {
        &::-moz-selection {
            color: $ta-black-2;
            background: rgb(47, 47, 47, 0.2);
        }

        &::selection {
            color: $ta-black-2;
            background: rgb(47, 47, 47, 0.2);
        }
    }
}

.parking-container {
    width: 15px;
    height: 15px;
    background-color: $muted; /* Gray background */
    border-radius: 2px;
}
.parking {
    font-size: 11px;
    color: $white;
}
