@import 'src/theme/variables.scss';

.modal-table-container {
    /* Header */

    .table-header {
        display: grid;
        grid-gap: 4px;
        margin-bottom: 4px;

        &-box {
            p,
            span {
                font-size: 11px;
                line-height: 14px;
                color: $bw5;

                -webkit-user-select: none !important;
                -moz-user-select: none !important;
                -ms-user-select: none !important;
                user-select: none !important;
            }

            span {
                color: $ta-red-11;
                margin-left: 4px !important;
            }
        }

        &.phone-table-header {
            grid-template-columns: 26px 168px 140px 110px;
        }

        &.email-table-header {
            grid-template-columns: 26px 312px 110px;
        }

        &.repair-bill-table-header {
            grid-template-columns: 26px 306px 26px 60px 90px 88px;

            .table-header-box.repair-bill-header {
                padding-left: 6px;
            }
        }

        &.fuel-table-header {
            grid-template-columns: 26px 182px 80px 60px 90px 88px;
        }

        &.repair-order-table-header {
            grid-template-columns: 26px 492px 26px 60px;
        }

        &.contact-table-header {
            grid-template-columns: 130px 140px 80px 200px;

            .table-header-box {
                padding-left: 6px;

                &.scroll-first-item {
                    position: absolute;
                    left: 4px;
                }

                &.scroll-second-item {
                    position: absolute;
                    left: 30px;
                }
            }
        }

        &.department-contact-table-header {
            grid-template-columns: 150px 80px 200px;

            .table-header-box {
                padding-left: 6px;

                &.scroll-first-item {
                    position: absolute;
                    left: 4px;
                }

                &.scroll-second-item {
                    position: absolute;
                    left: 30px;
                }
            }
        }

        &.pm-table-header {
            grid-template-columns: 26px 26px 252px 140px;

            .table-header-box {
                padding-left: 0px;
            }
        }

        &.off-duty-location-table-header {
            grid-template-columns: 26px 170px 412px;

            .table-header-box {
                padding-left: 6px;
            }
        }

        &.fuel-card-table-header {
            grid-template-columns: 26px 220px 138px 220px;

            .table-header-box {
                padding-left: 6px;
            }
        }

        &.previous-adresses-table-header {
            grid-template-columns: 26px 482px 100px;

            .table-header-box {
                padding-left: 6px;
            }
        }

        &.load-items-table {
            grid-template-columns: 130px 90px 100px 80px 80px 80px 80px 100px 140px 140px 100px 100px;

            .table-header-box {
                padding-left: 6px;
            }
        }
    }

    .subtotal {
        padding-right: 6px;
    }

    /* Body */

    .table-body {
        .table-item {
            display: grid;
            grid-gap: 4px;
            background: $bw2;
            margin-bottom: 4px;

            &:hover {
                .table-item-number {
                    p {
                        display: none;
                    }

                    .delete-icon {
                        display: inline-block;
                    }
                }
            }

            &.valid {
                background: $white;

                .subtotal {
                    p {
                        color: $ta-black;

                        &::-moz-selection {
                            color: $ta-black;
                            background: rgb(66, 66, 66, 0.2);
                        }

                        &::selection {
                            color: $ta-black;
                            background: rgb(66, 66, 66, 0.2);
                        }
                    }

                    &.valid {
                        p {
                            color: $ta-blue-13;

                            &::-moz-selection {
                                color: $ta-blue-13;
                                background: rgb(59, 115, 237, 0.2);
                            }

                            &::selection {
                                color: $ta-blue-13;
                                background: rgb(59, 115, 237, 0.2);
                            }
                        }
                    }
                }
            }

            &-number {
                p {
                    font-size: 14px;
                    line-height: 18px;
                    color: $bw5;

                    &::-moz-selection {
                        color: $bw5;
                        background: rgb(145, 145, 145, 0.2);
                    }

                    &::selection {
                        color: $bw5;
                        background: rgb(145, 145, 145, 0.2);
                    }
                }

                .delete-icon {
                    line-height: 0;
                    display: none;
                    cursor: pointer;

                    svg {
                        path {
                            fill: $bw5;
                        }
                    }
                }
            }

            &.hide-delete-icon {
                .table-item-number {
                    p {
                        display: block !important;
                    }

                    .delete-icon {
                        display: none !important;
                    }
                }
            }
        }
    }
}
