@import 'src/theme/variables.scss';
@import 'src/assets/scss/mixins.scss';

.stops-container {
    &-small {
        @include grid-template-columns(24px 160px 60px 60px);
    }

    &-large {
        @include grid-template-columns(24px 160px 60px 60px 60px 60px);
    }
}

.miles-unit-list {
    max-height: calc(100vh - 130px);
    height: fit-content;
}

.arrow {
    transition: transform $transitionDuration ease-in-out;

    &-bottom {
        bottom: -13px;
        left: calc(50% - 13px);

        &-opened {
            transform: rotate(-180deg);
        }
    }

    &-right {
        transform: rotate(90deg);
        right: -13px;
        top: calc(50% - 13px);

        &-opened {
            transform: rotate(-90deg);
        }
    }
}
