@let details = milesStoreService.detailsSelector$ | async;
@let stops = milesStoreService.stopsSelector$ | async;
@let minimalList = milesStoreService.minimalListSelector$ | async;
@let minimalListFilters = milesStoreService.minimalListFiltersSelector$ | async;

@let isPreviousButtonDisabled = minimalListFilters.isFirst;
@let isNextButtonDisabled = minimalListFilters.isLast;

@let isLoading = milesStoreService.detailsLoadingSelector$ | async;

@if (details) {
    @let stopListWidth = isStopListWidthExpanded ? '462px' : '334px';
    <div class="position-relative z-2">
        <div
            class="background-white br-3 p-x-6 mb-2 transition-width"
            [ngStyle]="{ width: stopListWidth }"
        >
            <div class="h-42 d-flex align-items-center justify-content-between">
                @if (isLoading) {
                    <div
                        class="d-flex align-items-center w-100 justify-content-between"
                    >
                        <p class="placeholder-glow">
                            <span
                                class="placeholder placeholder-muted br-2 h-20 w-144"
                            ></span>
                        </p>

                        <div class="d-flex">
                            <div
                                class="d-flex w-26 h-26 justify-content-center"
                            >
                                <p class="placeholder-glow">
                                    <span
                                        class="placeholder placeholder-muted br-2 w-7 h-18"
                                    ></span>
                                </p>
                            </div>

                            <div
                                class="d-flex w-26 h-26 justify-content-center ml-1"
                            >
                                <p class="placeholder-glow">
                                    <span
                                        class="placeholder placeholder-muted br-2 w-7 h-18"
                                    ></span>
                                </p>
                            </div>
                        </div>
                    </div>
                } @else {
                    @let title = 'UNIT ' + details?.truck?.truckNumber;
                    <app-ca-details-title-card
                        #detailsTitleCard
                        [detailsTitleCardConfig]="{
                            title: title,
                            tooltip: 'Search Truck',
                            placeholder: title,
                            width: isStopListWidthExpanded ? '390px' : '264px',
                            tooltipNext: 'Next Truck',
                            tooltipPrevious: 'Previous Truck',
                            disableNext: isNextButtonDisabled,
                            disablePrevious: isPreviousButtonDisabled,
                        }"
                        [dropdownTemplate]="titleDropdown"
                        [titleTemplate]="titleTemplate"
                        (onNextAction)="getTruckUnit(minimalListFilters.nextId)"
                        (onPreviousAction)="
                            getTruckUnit(minimalListFilters.prevId)
                        "
                        (onSearchTextChange)="onSearchTextChange($event)"
                    >
                        <ng-template #titleDropdown>
                            <div
                                #minimalListViewport
                                class="gap-1 d-flex flex-column miles-unit-list-scroll"
                                (scroll)="onMinimalListScroll()"
                            >
                                @for (
                                    unit of minimalList;
                                    track unit.id;
                                    let index = $index
                                ) {
                                    <ng-container
                                        *ngTemplateOutlet="
                                            mileUnits;
                                            context: {
                                                unit,
                                            }
                                        "
                                    >
                                    </ng-container>
                                }
                            </div>
                        </ng-template>

                        <ng-template #titleTemplate>
                            <div class="d-flex justify-content-between w-full">
                                <div class="d-flex">
                                    @if (!details?.truck?.status) {
                                        <div
                                            ngbTooltip
                                            mainTooltip="Deactivated"
                                            tooltipBackground="#424242"
                                            position="bottom"
                                            class="d-flex"
                                        >
                                            <svg-icon
                                                [src]="
                                                    sharedSvgRoutes.DEACTIVATE_ICON
                                                "
                                                class="svg-fill-muted svg-size-18 m-r-6 d-flex align-items-center"
                                            ></svg-icon>
                                        </div>
                                    }

                                    <span
                                        class="text-size-20 ta-font-bold text-color-black"
                                        >{{ title }}</span
                                    >
                                </div>

                                <svg-icon
                                    class="svg-size-42-18 d-flex align-items-center"
                                    [src]="
                                        sharedSvgRoutes.TRUCK_PATH_BASE +
                                        details?.truck?.truckType?.logoName
                                    "
                                ></svg-icon>
                            </div>
                        </ng-template>
                    </app-ca-details-title-card>
                }
            </div>
        </div>

        <div
            class="background-white br-3 p-l-6 p-y-6 miles-unit-list transition-width"
            [ngStyle]="{ width: stopListWidth }"
        >
            <div class="p-r-6">
                @if (isLoading) {
                    <p class="placeholder-glow">
                        <span
                            class="placeholder placeholder-muted br-2 w-100 h-26"
                        ></span>
                    </p>
                } @else {
                    <form [formGroup]="searchForm">
                        <app-ca-input
                            formControlName="search"
                            [inputConfig]="searchField"
                        ></app-ca-input>
                    </form>
                }

                <div
                    class="h-22 d-grid align-items-center p-r-6 gap-1 m-t-4"
                    [ngClass]="
                        isStopListWidthExpanded
                            ? 'stops-container-large'
                            : 'stops-container-small'
                    "
                >
                    @if (isLoading) {
                        <p class="placeholder-glow text-right">
                            <span
                                class="placeholder placeholder-muted br-2 w-26 h-10"
                            ></span>
                        </p>

                        <p class="placeholder-glow text-right">
                            <span
                                class="placeholder placeholder-muted br-2 w-49 h-10"
                            ></span>
                        </p>

                        <p class="placeholder-glow text-right">
                            <span
                                class="placeholder placeholder-muted br-2 w-42 h-10"
                            ></span>
                        </p>

                        <p class="placeholder-glow text-right">
                            <span
                                class="placeholder placeholder-muted br-2 w-36 h-10"
                            ></span>
                        </p>
                    } @else {
                        @for (item of stopsConfig; let i = $index; track i) {
                            @if (
                                !item.isExpandable || isStopListWidthExpanded
                            ) {
                                <div
                                    class="text-color-muted text-size-11 ta-font-bold"
                                    [ngClass]="{
                                        'text-right': item.isAlignedRight,
                                        'text-center': item.isAlignedCenter,
                                    }"
                                >
                                    {{ item.label }}
                                </div>
                            }
                        }
                    }
                </div>

                <div class="divider mt-1 mb-1"></div>
            </div>
            @let listHeight =
                {
                    height: isStopListHeightExpanded
                        ? 'calc(100vh - 200px)'
                        : '393px',
                };
            <div
                #stopListViewport
                class="gap-1 d-flex flex-column scrollable-element overflow-y-scroll p-r-4 transition-height"
                [ngStyle]="listHeight"
                (scroll)="onScrollEvent()"
            >
                @if (isLoading) {
                    @for (
                        sekeleton of sekeletonSize;
                        track $index;
                        let even = $even
                    ) {
                        <div
                            class="stops-container-small stops-container h-26 br-2 background-white background-hover-light-grey d-grid align-items-center gap-1 c-pointer m-b-2"
                        >
                            <div class="d-flex">
                                <p
                                    class="placeholder-glow text-right w-24 text-center"
                                >
                                    <span
                                        class="placeholder placeholder-muted rounded-circle w-10 h-10"
                                    ></span>
                                </p>
                                <p class="placeholder-glow text-right">
                                    <span
                                        [ngClass]="even ? 'w-36' : 'w-29'"
                                        class="placeholder placeholder-muted br-2 h-10"
                                    ></span>
                                </p>
                            </div>

                            <p class="placeholder-glow text-right">
                                <span
                                    [ngClass]="even ? 'w-57' : 'w-49'"
                                    class="placeholder placeholder-muted br-2 h-10"
                                ></span>
                            </p>

                            <p class="placeholder-glow text-right">
                                <span
                                    [ngClass]="even ? 'w-49' : 'w-42'"
                                    class="placeholder placeholder-muted br-2 h-10"
                                ></span>
                            </p>

                            <p class="placeholder-glow text-right">
                                <span
                                    [ngClass]="even ? 'w-42' : 'w-36'"
                                    class="placeholder placeholder-muted br-2 h-10"
                                ></span>
                            </p>
                        </div>
                    }
                } @else {
                    @for (stop of stops; track stop.id; let index = $index) {
                        <ng-container
                            *ngTemplateOutlet="
                                stopRows;
                                context: {
                                    stop,
                                    index,
                                }
                            "
                        >
                        </ng-container>
                    }
                }
            </div>

            <div
                (click)="toogleStopListHeight()"
                class="position-absolute z-2 arrow arrow-bottom"
                [class.arrow-bottom-opened]="!isStopListHeightExpanded"
            >
                <ng-container *ngTemplateOutlet="resizeButton"> </ng-container>
            </div>

            <div
                (click)="toogleStopListWidth()"
                class="position-absolute z-2 arrow arrow-right"
                [class.arrow-right-opened]="isStopListWidthExpanded"
            >
                <ng-container *ngTemplateOutlet="resizeButton"> </ng-container>
            </div>
        </div>
    </div>
}

<ng-template #stopRows let-stop="stop" let-index="index">
    @let widthClass =
        isStopListWidthExpanded
            ? 'stops-container-large'
            : 'stops-container-small';
    <div
        class="stops-container h-26 br-2 background-white background-hover-light-grey d-grid align-items-center p-r-6 gap-1 c-pointer m-b-2"
        [ngClass]="widthClass"
    >
        <div class="text-color-muted text-size-11 text-center">
            {{ index + 1 }}
        </div>
        <div
            class="text-color-black text-size-11 ta-font-bold text-truncate d-flex"
        >
            @let location = stop.location;

            <svg-icon
                [src]="(stop.type.name | milesIcon).icon"
                [ngClass]="(stop.type.name | milesIcon).color"
                class="svg-size-14 d-flex m-r-4"
            ></svg-icon>

            {{ location.city }}, {{ location.stateShortName }}
            {{ location.zipCode }}
        </div>

        <div class="text-color-black text-size-11 text-right">
            {{
                stop.legMiles | number: eThousandSeparatorFormat.DECIMAL_FORMAT
            }}
        </div>

        @if (isStopListWidthExpanded) {
            <div class="text-color-black text-size-11 text-right">
                {{
                    stop.loadedMiles
                        | number: eThousandSeparatorFormat.DECIMAL_FORMAT
                }}
            </div>
            <div class="text-color-black text-size-11 text-right">
                {{
                    stop.emptyMiles
                        | number: eThousandSeparatorFormat.DECIMAL_FORMAT
                }}
            </div>
        }
        <div class="text-color-black text-size-11 ta-font-medium text-right">
            {{
                stop.totalMiles
                    | number: eThousandSeparatorFormat.DECIMAL_FORMAT
            }}
        </div>
    </div>
</ng-template>

<ng-template #resizeButton>
    <!-- TODO:  Inside virtual sroll ticket -->
    <div
        class="h-26 w-26 background-white rounded-circle d-flex align-items-center justify-content-center svg-fill-muted svg-hover-black c-pointer shadow-100"
    >
        <svg-icon
            [src]="sharedSvgRoutes.PRIMARY_ARROW_UP"
            class="svg-size-14 d-flex"
        ></svg-icon>
    </div>
</ng-template>

<ng-template #mileUnits let-unit="unit">
    @let truckId = details?.truck?.id;

    <div
        class="h-26 br-2 p-y-4 p-x-6 background-hover-black d-grid c-pointer miles-unit-dropdown gap-1"
        [class.miles-unit-dropdown-large]="isStopListWidthExpanded"
        (click)="selectUnit(unit.truck.id)"
    >
        <p
            class="text-size-14 text-color-white text-ellipsis"
            [class.ta-font-bold]="unit.truck.id === truckId"
        >
            {{ unit.truck.truckNumber }}
        </p>

        <div class="d-flex align-items-center gap-1 m-l-auto">
            <span
                class="m-r-4 text-color-muted text-size-11 miles-unit-dropdown-owner text-ellipsis"
                [class.ta-font-bold]="unit.truck.id === truckId"
                [class.text-color-blue-19]="unit.truck.id === truckId"
            >
                {{ unit.truck.owner }}
            </span>

            <span
                class="m-r-4 text-color-muted text-size-11 miles-unit-dropdown-vin text-ellipsis"
            >
                {{ unit.vin }}
            </span>

            <div class="w-42 h-18 d-flex">
                @let truckPath =
                    sharedSvgRoutes.TRUCK_PATH_BASE +
                    unit.truck.truckType.logoName;

                <svg-icon
                    class="svg-size-42-18 d-flex"
                    [src]="truckPath"
                ></svg-icon>
            </div>
        </div>
    </div>
</ng-template>
