@import 'src/theme/variables';

.stop-items-container {
    width: 1448px;

    .gradient-border-container {
        border-right-width: 8px;
        border-right-style: solid;
        border-image: linear-gradient(to right, $bw-9, rgba(0, 0, 0, 0)) 1 100%;
    }

    /* Stop Items Header */

    .stop-items-header {
        display: grid;
        grid-template-columns:
            26px 150px 130px 90px 100px repeat(4, 80px) 100px repeat(2, 140px)
            repeat(2, 100px);
        grid-gap: 4px;

        &-box {
            padding-left: 6px;
            padding-bottom: 4px;

            p {
                font-size: 11px;
                line-height: 14px;
                color: $bw5;
                text-transform: uppercase;

                &::-moz-selection {
                    color: $bw5;
                    background: rgb(145, 145, 145, 0.2);
                }

                &::selection {
                    color: $bw5;
                    background: rgb(145, 145, 145, 0.2);
                }
            }
        }
    }

    /* Stop Items Body */

    .stop-items-body {
        padding-bottom: 6px;

        .stop-item {
            display: grid;
            grid-template-columns:
                26px 150px 130px 90px 100px repeat(4, 80px) 100px repeat(
                    2,
                    140px
                )
                repeat(2, 100px);
            grid-gap: 4px;
            background: $bw2;

            &:hover {
                .stop-item-number {
                    p {
                        display: none;
                    }

                    .delete-icon {
                        display: inline-block;
                    }
                }
            }

            &-number {
                p {
                    font-size: 14px;
                    line-height: 18px;
                    color: $bw5;
                }

                .delete-icon {
                    line-height: 0;
                    display: none;
                    cursor: pointer;

                    svg {
                        path {
                            fill: $bw5;
                        }
                    }
                }
            }
        }
    }
}
