@import 'src/theme/variables.scss';
@import 'src/assets/scss/mixins.scss';

.contact-table-container {
    .contact-item {
        @include grid-template-columns($modalTableContact);
    }

    .contact-pinned {
        display: grid;
        grid-template-columns: 26px 166px;
        grid-gap: 4px;
        position: absolute;
        left: 0;
        margin-right: 4px;
    }
}
