<div class="d-flex flex-column custom-period-range">
    <!-- Header -->

    <div class="d-flex align-items-center custom-period-range-header">
        <p class="m-0 ta-font-extra-bold">CUSTOM RANGE</p>
    </div>

    <!-- Form -->

    <div
        class="d-flex flex-column justify-content-center custom-period-range-form"
        [formGroup]="customPeriodRangeForm"
    >
        <div
            class="d-flex align-items-center custom-period-range-form-date-inputs"
        >
            <div class="custom-period-range-form-date-inputs-input">
                <app-ta-input
                    formControlName="fromDate"
                    [inputConfig]="{
                        name: 'datepicker',
                        type: 'text',
                        label: 'From',
                        isDropdown: true,
                        placeholderIcon: 'date',
                        isRequired: true,
                        customClass: 'datetimeclass dark'
                    }"
                ></app-ta-input>
            </div>
            <div class="custom-period-range-form-date-inputs-input">
                <app-ta-input
                    formControlName="toDate"
                    [inputConfig]="{
                        name: 'datepicker',
                        type: 'text',
                        label: 'To',
                        isDropdown: true,
                        placeholderIcon: 'date',
                        isRequired: true,
                        customClass: 'datetimeclass dark'
                    }"
                ></app-ta-input>
            </div>
        </div>

        <div class="custom-period-range-form-subperiod-input">
            <app-ta-input-dropdown
                formControlName="subPeriod"
                [inputConfig]="{
                    name: 'Input Dropdown',
                    type: 'text',
                    label: 'Period View',
                    isDisabled: !selectedSubPeriod,
                    isRequired: true,
                    isDropdown: true,
                    hideClear: true,
                    hideColorValidations: true,
                    removeInputBackground: true,
                    dropdownWidthClass: 'w-col-292'
                }"
                [options]="subPeriodDropdownList"
                [activeItem]="selectedSubPeriod"
                (selectedItem)="handleInputSelect($event)"
            ></app-ta-input-dropdown>
        </div>
    </div>

    <!-- Buttons -->

    <div class="d-flex align-items-center custom-period-range-buttons">
        <button
            class="custom-period-range-buttons-btn"
            type="button"
            (click)="handleCancelOrSetClick()"
        >
            <p class="m-0 ta-font-extra-bold">CANCEL</p>
        </button>

        <button
            class="custom-period-range-buttons-btn"
            type="button"
            [disabled]="customPeriodRangeForm.invalid"
            [ngClass]="{ disabled: customPeriodRangeForm.invalid }"
            (click)="handleCancelOrSetClick(false)"
        >
            <p class="m-0 ta-font-extra-bold">SET</p>
        </button>
    </div>
</div>
