<app-ta-modal
  [modalTitle]="'Add Account'"
  (modalActionTypeEmitter)="onModalAction($event)"
>
  <form [formGroup]="accountForm" class="form-container">
    <div class="row">
      <div class="col-7">
        <app-ta-input
          formControlName="accountname"
          [inputConfig]="{
            name: 'Account Name',
            type: 'text',
            label: 'Account Name',
            isRequired: true,
            maxLength: 23,
            textTransform: 'capitalize'
          }"
        ></app-ta-input>
      </div>
      <div class="col-5" bg-color="black"></div>
    </div>
    <div class="row">
      <div class="col-4">
        <app-ta-input
          formControlName="username"
          [inputConfig]="{
            name: 'Username',
            type: 'text',
            label: 'Username',
            placeholderIcon: 'username',
            isRequired: true,
            maxLength: 40
          }"
        ></app-ta-input>
      </div>
      <div class="col-8">
        <app-ta-input
          formControlName="password"
          [inputConfig]="{
            name: 'Password',
            type: 'password',
            label: 'Password',
            placeholderIcon: 'password',
            isRequired: true,
            maxLength: 20
          }"
        ></app-ta-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-ta-input
          formControlName="hyperlink"
          [inputConfig]="{
            name: 'Hyperlink',
            type: 'text',
            label: 'Hyperlink',
            placeholderIcon: 'hyperlink',
            isRequired: true,
            maxLength: 400
          }"
        ></app-ta-input>
      </div>
    </div>
    <app-ta-input-note formControlName="note"></app-ta-input-note>
  </form>
</app-ta-modal>
<!-- <div class="row">
  <div
    class="col-12 note-wrapper visible-note "
  >
    <div  class="note-label-wrapper">
      <span class="note-label">Note</span>
      <svg-icon
        class="down-icon"
        src="assets/img/svgs/down-arrow.svg"
      ></svg-icon>
    </div>
    <div
      class="example-full-width note-input note-visible"
    >
      <textarea
        #note
        cdkAutosizeMaxRows="5"
        cdkAutosizeMinRows="2"
        cdkTextareaAutosize
        class="input-custom-textarea form-textarea"
        formControlName="note"
        placeholder="Write a note."
      ></textarea>
    </div>
  </div>
</div> -->