<app-ta-modal
  [modalTitle]="editData?.type !== 'edit' ? 'Add Account' : 'Edit Account'"
  [editData]="editData"
  [editName]="editData?.id"
  [isModalValid]="accountForm.valid"
  (modalActionTypeEmitter)="onModalAction($event)"
>
  <form [formGroup]="accountForm" class="form-container">
    <div class="row">
      <div class="col-12">
        <app-ta-input
          formControlName="name"
          [inputConfig]="{
            name: 'Account Name',
            type: 'text',
            label: 'Account Name',
            isRequired: true,
            maxLength: 23,
            textTransform: 'capitalize',
            autoFocus: true
          }"
        ></app-ta-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-ta-input-dropdown-label
          formControlName="companyAccountLabelId"
          [inputConfig]="{
            name: 'Input Dropdown Label',
            type: 'text',
            label: 'Label',
            placeholder: 'Label Name',
            placeholderIcon: 'ic_dynamic_label',
            isDropdownLabel: true,
            dropdownLabelSelected: selectedAccountLabel,
            dropdownWidthClass: 'w-col-dropdown-label',
            textTransform: 'capitalize',
            blackInput: true,
            commands: {
              active: true,
              type: 'confirm-cancel',
              firstCommand: {
                name: 'confirm',
                svg: 'assets/svg/ic_spec-confirm.svg'
              },
              secondCommand: {
                name: 'cancel',
                svg: 'assets/svg/ic_x.svg'
              }
            }
          }"
          [options]="accountLabels"
          (selectedColorLabel)="onSelectColorLabel($event)"
          (labelEvent)="onSaveLabel($event)"
        >
        </app-ta-input-dropdown-label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-ta-input
          formControlName="username"
          [inputConfig]="{
            name: 'Username',
            type: 'text',
            label: 'Username',
            placeholderIcon: 'username',
            isRequired: true,
            maxLength: 40
          }"
        ></app-ta-input>
      </div>
      <div class="col-6">
        <app-ta-input
          formControlName="password"
          [inputConfig]="{
            name: 'Password',
            type: 'password',
            label: 'Password',
            placeholderIcon: 'password',
            isRequired: true,
            maxLength: 20
          }"
        ></app-ta-input>
      </div>
    </div>
    <div class="row last-row">
      <div class="col-12">
        <app-ta-input
          formControlName="url"
          [inputConfig]="{
            name: 'Hyperlink',
            type: 'text',
            label: 'Hyperlink',
            placeholderIcon: 'hyperlink',
            isRequired: true,
            maxLength: 400
          }"
        ></app-ta-input>
      </div>
    </div>
    <app-ta-input-note
      formControlName="note"
      [isVisibleNote]="accountForm.get('note').value"
    ></app-ta-input-note>
  </form>
</app-ta-modal>
