<!-- Dropzone -->
<div
    class="dropzone_focus"
    #dropzoneFocusElem
    [class.active]="windowDragOver"
    *ngIf="dropzoneFocus && windowDragOver"
></div>
<div
    class="ta-upload-dropzone {{ customClassName }}"
    *ngIf="!unSupporetedType"
    [class.required]="isRequired && showRequired && !textChangeOverModal"
    [class.dropzone_focused]="dropzoneFocus && windowDragOver"
    [class.expand]="
        _dropZoneConfig.globalDropZone ||
        (customClassName == 'company-documents' && windowDragOver)
    "
    [class.over_modal]="
        textChangeOverModal ||
        (customClassName == 'company-documents' && windowDragOver)
    "
>
    <svg-icon
        *ngIf="dropzoneClose && dropzoneFocus && !windowDragOver"
        class="ta-upload-dropzone-close"
        [src]="'/assets/svg/common/ic_x.svg'"
        (click)="dropZoneClose()"
    ></svg-icon>
    <label
        [for]="'dropZone' + dropZoneIndex"
        class="ta-upload-dropzone-label"
        [class.required]="isRequired && showRequired && !textChangeOverModal"
        [ngClass]="{
            small:
                size === 'medium' && filesLength > 1 && modalSize === 'small',
            'ta-upload-dropzone-column': dropzoneColumn,
        }"
    >
        <svg-icon
            class="ta-upload-dropzone-area"
            [class.expand]="
                _dropZoneConfig.globalDropZone &&
                customClassName !== 'company-documents'
            "
            [src]="_dropZoneConfig.dropZoneSvg"
            [svgStyle]="
                dropzoneColumn ? { 'width.px': 80, 'height.px': 80 } : {}
            "
        ></svg-icon>
        <div
            class="ta-upload-dropzone-text"
            [class.expand]="
                _dropZoneConfig.globalDropZone &&
                customClassName !== 'company-documents'
            "
        >
            <!-- Files -->
            <span
                *ngIf="_dropZoneConfig.dropZoneType === EFileFormControls.FILES"
                [ngClass]="{
                    'ta-upload-dropzone-text-big':
                        _dropZoneConfig.globalDropZone,
                }"
                >{{
                    filesLength > 1 && size == 'medium'
                        ? 'DRAG FILES'
                        : 'DRAG FILES HERE'
                }}
                <span
                    class="required"
                    *ngIf="isRequired && !textChangeOverModal"
                    >*</span
                >
            </span>
            <!-- Media -->
            <span
                *ngIf="_dropZoneConfig.dropZoneType === 'media'"
                [ngClass]="{
                    'ta-upload-dropzone-text-big':
                        _dropZoneConfig.globalDropZone,
                }"
            >
                DRAG MEDIA HERE
            </span>
            <!-- IMAGE -->
            <span
                *ngIf="_dropZoneConfig.dropZoneType === 'image'"
                [ngClass]="{
                    'ta-upload-dropzone-text-big':
                        _dropZoneConfig.globalDropZone,
                }"
                >{{
                    filesLength > 1 && size === 'medium'
                        ? 'DRAG IMAGE'
                        : 'DRAG IMAGE HERE'
                }}
            </span>
            <span
                *ngIf="!_dropZoneConfig.globalDropZone"
                class="ta-upload-dropzone-text-small"
                >OR CLICK TO ADD</span
            >
        </div>
    </label>
    <input
        [id]="'dropZone' + dropZoneIndex"
        #dropZone
        type="file"
        [accept]="_dropZoneConfig.dropZoneAvailableFiles"
        [multiple]="_dropZoneConfig.multiple"
        (change)="onFileUpload($event.target.files)"
    />
</div>
<!-- Dropzone Unsupported -->
<div class="ta-upload-dropzone-unsupported" *ngIf="unSupporetedType">
    <svg-icon
        class="cancel-unsupported-zone"
        src="assets/svg/common/ic_x.svg"
        (click)="unSupporetedType = false"
    ></svg-icon>
    <label [for]="'dropZone' + dropZoneIndex" class="ta-upload-dropzone-label">
        <div class="ta-upload-dropzone-text">
            <span class="ta-upload-dropzone-text-big"
                >UNSUPPORTED FILE TYPE</span
            >
            <span class="ta-upload-dropzone-text-small"
                >WE CURRENTLY SUPPORT THESE FORMATS</span
            >
            <div class="supported-extensions">
                <span
                    class="extension extension-{{ ext }}"
                    *ngFor="let ext of supportedExtensions"
                    >{{ ext }}</span
                >
            </div>
        </div>
    </label>
</div>
