.user-icon{
    position: relative;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2px;

    svg-icon{
        svg{
            width: 14.4px;
            height: 16.2px;        
            display: flex;

        }
    }

    &.active-options{
        svg-icon{
            svg{
                path{
                    fill: #6c6c6c !important;
                }
            }
        }
        
        &.filter-active-colors{
            background-color: #536BC2 !important;

            .active-filter-num{
                background-color: #536BC2 !important;
            }
        }

        .clear-filter{
            display: none !important;
        }
        
    }

    &.filter-active-colors{
        background-color: #6D82C7;
        
        svg-icon{
            svg{
                path{
                    fill: #ffffff !important;
                }
            }
        }

        .active-filter-num{
            position: absolute;
            top: -5px;
            right: -5px;

            height: 14px;
            width: 14px;
            
            display: flex;
            justify-content: center;
            align-items: center;

            color: #fff;
            font-size: 9px;
            
            border-radius: 100%;
            background-color: #6D82C7;
            border: 1px solid #fff;

            &:hover{
                background-color: #3551B7 !important;
            }
        }

        .clear-filter{
            display: none;

            svg-icon{
                svg{
                    height: 6px;
                    width: 6px;
                    path{
                        fill: #FFFFFF;
                    }
                }
            }

            .clear-tooltip{
                position: absolute;
            }
        }

        &:hover{
            background-color: #536BC2 !important;

            .active-filter-num{
                background-color: #536BC2;
            }

            .clear-filter{
                display: flex;
                z-index: 2;
            }
        }
    }
}
.filter-holder{
    width: 260px;
    padding: 5px 8px 8px 8px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 4px #00000026;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .filter-header{
        position: relative;
        width: 100%;
        //padding: 8px 0px 8px 6px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        user-select: none;

        .user-filter-box{
            width: 24px;
            height: 24px;
            border-radius: 2px;
            background-color: #F3F3F3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 800;
            color: #6C6C6C;
            line-height: 24px;
        }

        .user-title-text{
            font-size: 18px;
            font-weight: 800;
            color: #6C6C6C;
            padding-left: 4px;
            box-sizing: border-box;
        }

        .close{
            position: absolute;
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 3px;
            right: 0px;
            cursor: pointer;

            svg-icon{
                svg{
                    width: 18px;
                    height: 18px;
                    display: flex;

                    path{
                        fill: #AAAAAA;
                    }
                }
            }

            &:hover{
                svg-icon{
                    svg{
                        path{
                            fill: #6C6C6C;
                        }
                    }
                }
            }
        }

        .search-icon-holder{
            position: absolute;
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 3px;
            right: 0px;
            cursor: pointer;

            svg-icon{
                svg{
                    width: 18px;
                    height: 18px;
                    display: flex;

                    path{
                        fill: #AAAAAA;
                    }
                }
            }

            &:hover{
                svg-icon{
                    svg{
                        path{
                            fill: #6C6C6C;
                        }
                    }
                }
            }
        }

        &.search-input-header{
            position: relative;
            width: 100%;

            .input-form-holder{
                .input-custom-group{
                
                    .input-clear{
                        top: 2px !important;
                    }
                }
            }
           
        }

        .input-form-holder{
            width: 100%;
        }   

        .close-input-search{
            position: absolute;
            right: 6px;
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 4px;
            right: 4px;

            svg-icon{
                svg{
                    display: flex;
                    width: 12.38px;
                    height: 12.38px;

                    path{
                        fill: #919191;
                    }
                }
            }

            &:hover{
                cursor: pointer;
                width: 24px;
                height: 24px;
                border-radius: 1px;
                background-color: #6C6C6C;
                top: 2px;
                right: 2px;

                svg-icon{
                    svg{
                        path{
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }

    .border-filter{
        width: 100%;
        height: 2px;
        border-radius: 1px;
        margin: 5px 0px 8px 0px;
        background-color: #F3F3F3;
    }

    .border-second-margin{
        margin: 12px 0px 8px 0px;
    }

    .border-thrird-margin{
        margin: 8px 0px;
    }

    .search-holder{
        position: relative;
        width: 100%;
        //padding: 6px 6px 8px 6px;
        box-sizing: border-box;

        .search-user-holder{
            width: 100%;
            height: 28px;
            border-radius: 2px;
            background-color: #F7F7F7;
            border: none;
            outline: none;
            padding-left: 36px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            color: #6C6C6C;
            line-height: 28px;

            &::placeholder{
                font-size: 14px;
                font-weight: 400;    
                color: #6C6C6C;
                line-height: 18px;
            }
        }

        .search-icons{
            position: absolute;
            width: 24px;
            height: 18px;
            top: 5px;
            left: 6px;
            border-right: 1px solid #E5E5E5;

            svg-icon{
                svg{
                    display: flex;
                    width: 18px;
                    height: 18px;

                    path{
                        fill: #B7B7B7;
                    }
                }
            }
        }

    }

    .selected-user-holder{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        //padding: 2px 2px 0px 2px;
        box-sizing: border-box;

        .user-main-holder
        {
            position: relative;
            width: 100%;
            &:hover{
                cursor: pointer;
                background-color: #F3F3F3;
            }
            
            .user-profile-img{
                position: absolute;
                left: 6px;
                top: 5px;
                height: 18px;
                width: 18px;
            }
        }

        .selected-user-frame{
            position: relative;
            width: 100%;
            height: 26px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            padding-left: 30px;
            box-sizing: border-box;
            font-size: 14px;
            font-weight: 400;
            color: #536BC2;
            line-height: 26px;
            margin-bottom: 2px;

            .selected-icon{
                position: absolute;
                width: 18px;
                height: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 4px;
                right: 4px;

                svg-icon{
                    svg{
                        display: flex;
                        width: 16.38px;
                        height: 12.66px;

                        path{
                            fill: #97A8DC;
                        }
                    }
                }
            }

            .icon-delete{
                position: absolute;
                width: 18px;
                height: 18px;
                display: none;
                justify-content: center;
                align-items: center;
                top: 4px;
                right: 4px;

                svg-icon{
                    svg{
                        display: flex;
                        width: 12.38px;
                        height: 12.38px;

                        path{
                            fill: #919191;
                        }
                    }
                }

                &:hover{
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    border-radius: 1px;
                    background-color: #6C6C6C;
                    top: 2px;
                    right: 2px;

                    svg-icon{
                        svg{
                            path{
                                fill: #fff;
                            }
                        }
                    }
                }
            }

            &:hover{
                cursor: pointer;
                //background-color: #F7F7F7;

                .selected-icon{
                    display: none;
                }

                .icon-delete{
                    display: flex;
                }
            }

            
            &::-moz-selection {
                background: #536BC233;
                color: #536BC2;
            }
              &::selection {
                background: #536BC233;
                color: #536BC2;
            }

        }
    }

    .user-holder{ 
        width: 100%;
        max-height: 224px;
        background-color: #fff;
        overflow: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 2px 2px 0px 2px;
        box-sizing: border-box;
        -ms-overflow-style: none;
        scrollbar-width: none; 

        .user-frame-holder{
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;

            .user-main-holder
            {
                width: 100%;
                &:hover{
                    cursor: pointer;
                    background-color: #F3F3F3;
                } 
            }

            .user-frame{
                position: relative;
                width: 100%;
                min-height: 26px;
                border-radius: 2px;
                display: flex;
                align-items: center;
                padding-left: 30px;
                box-sizing: border-box;
                font-size: 14px;
                font-weight: 400;
                color: #6C6C6C;
                line-height: 18px;
                margin-bottom: 2px;
    
                &::-moz-selection {
                    background: #6C6C6C33;
                    color: #6C6C6C;
                }
                  &::selection {
                    background: #6C6C6C33;
                    color: #6C6C6C;
                }
    
            }
            
            .user-profile-img{
                position: absolute;
                left: 6px;
                top: 5px;
                height: 18px;
                width: 18px;
            }
        }


        &::-webkit-scrollbar{
            width: 9px;
        }

        &::-webkit-scrollbar-thumb{
            border: 3px solid #fff !important;
        }
    }

    .buttons-holder{
        width: 100%;
        padding: 0px 4px 0px 4px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        .button-clear{
            width: 112px;
            height: 32px;
            border-radius: 2px;
            background-color: #F3F3F3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            color: #AAAAAA;
            line-height: 28px;

            &.active{
                cursor: pointer;
                color: #6C6C6C;

                
                &:hover{
                    cursor: pointer;
                    background-color: #6C6C6C;
                    color: #fff;
                }
            }
        }

        .button-set{
            width: 112px;
            height: 32px;
            border-radius: 2px;
            background-color: #F3F3F3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            color: #AAAAAA;
            line-height: 28px;

            &.active{
                background-color: #6D82C7;
                color: #FFFFFF;
                cursor: pointer;

                &:hover{
                    cursor: pointer;
                    background-color: #536BC2;
                    color: #fff;
                }
            }
        }
    }
}

.department-filter{

    .selected-user-frame{
        padding-left: 6px !important;
    }

    .user-frame{
        padding-left: 6px !important;
    }

    .user-holder{
        height: auto;
        max-height: 300px !important;
    }
}

.status-filter{
    .user-holder{
        height: auto;
        max-height: none;
    }

    .status-data-main-holder{
        width: 100%;
    }

    .user-profile-img{
        top: 7px !important;
        left: 6px !important;
        height: 12px !important;
        width: 12px !important;  
        border-radius: 100%;
    }
}

.pm-filter{
    .user-main-holder{
        .selected-filter-icon{
            top: 4px !important;

            svg-icon{
                
                svg{

                    height: 18px;
                    width: 18px;

                    path{
                        fill: #6D82C7;
                    }
                }
            }
        }
    }

    .user-profile-img{
        top: 4px !important;
        svg-icon{
            
            svg{
                height: 18px;
                width: 18px;

                path{
                    fill: #AAAAAA;
                }
            }
        }
    }
}

.truck-icon-holder{

    .selected-user-frame{
        padding-left: 72px !important;
    }

    .user-frame{
        padding-left: 6px !important;
    }

    .type-icon{
        display: flex;
        position: absolute;
        left: -46px;
        top: 5px;
        height: 16px;
        width: 44px;

        svg-icon{
        
            svg{
                height: 16px;
                width: 44px;

                path{
                    fill: #919191;
                }
            }
        }
    }

    .user-main-holder{
        &:hover{
            .user-frame{
                padding-left: 56px !important;
                transition: 0.3s;
            }

            .type-icon{
                left: 6px;
                transition: 0.3s;
            }
        }
    }

    .user-holder{
        height: auto;
        max-height: 236px !important;
    }

    .selected-filter-icon{
        svg-icon{
            svg{
                height: 16px !important;
                width: 44px !important;
            }
        }
    }
}

.money-filter{
    padding: 8px;
    width: 300px;

    .money-top-border-magin{
        margin: 8px 0px 25px 0px;
    }

    .money-bottom-border-magin{
        margin: 22px 0px 8px 0px;
    }

    .money-main-holder{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .money-value-holder{
            width: 132px;
            height: 32px;
            border-radius: 2px;
            background-color: #F3F3F3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 600; 
            color: #AAAAAA;
            line-height: 28px;
        
            input{
                height: 32px;
            }
        }
    }

    .buttons-holder{
        padding: 0px;
        .button-clear{
            width: 132px; 
        }
        
        .button-set{
            width: 132px;
        }
    }
    
    .single-form-holder{
        width: 100%;
    }

    .form-header{
        position: relative;
        width: 100%;
        padding-left: 4px;
        margin-bottom: 26px;

        .form-name{
            font-size: 14px;
            font-weight: 800;
            color: #6C6C6C;
        }
        
        .hide-money-form{
            position: absolute;
            right: 0px;
            top: 0px;
            height: 13px;
            width: 13px;

            cursor: pointer;

            svg-icon{
                height: 8px;
                width: 13px; 
                svg{   
                    height: 8px;
                    width: 13px;      
                    path{
                        fill: #B7B7B7;
                    }
                }
            }
        }
    }
}

.state-filter{
    .selected-user-frame{
        padding-left: 40px !important;
    }

    .user-frame{
        padding-left: 40px !important;
    }

    .state-name-holder{
        padding-bottom: 10px;
        font-size: 11px;
        font-weight: 600;
        color: #AAAAAA;
    }

    .holder-bottom-margin{
        margin-bottom: 10px;
    }
    
    .state-short-holder{
        display: flex;
        text-align: center;
        justify-content: center;
        width: 28px !important;
        height: 18px;

        background-color: #F3F3F3;
        border-radius: 1px;

        font-size: 11px;
        font-weight: 800;
        color: #6C6C6C;

        &.active{
            color: #536BC2;
        }
    }
    
    .states-selected{
        width: 100%;
    }
}

.multiMoneyForm{
    .money-top-border-magin{
        margin: 8px 0px 6px 0px;
    }

    .money-bottom-border-magin{
        margin: 22px 0px 12px 0px;
    }

    .form-border{
        margin: 22px 0px 8px 0px;
    }

    .multi-form-holder{
        width: 100%;
    }

    .hiddenFormTitle{
        margin-bottom: 6px;
    }

    .hiddenFormBorder{
        margin: 0px 0px 8px 0px;
    }
}

.swipe-filter{
    padding: 8px;
    width: 300px;

    .top-border-margin{
        margin: 8px 0px 8px 0px;
    }
    
    .buttons-holder{
        padding: 0px;
        .button-clear{
            width: 132px; 
        }
        
        .button-set{
            width: 132px;
        }
    }

    .filter-middle-holder{
        width: 100%;

        .rangeInput{
                -webkit-appearance: none;
                width: 100%;
                height: 6px;
                background: #F7F7F7;
                outline: none;
                border-radius: 2px;
                cursor: pointer;

            &::-webkit-slider-thumb { 
                -webkit-appearance: none;
                appearance: none;
                width: 36px;
                height: 24px;
                background: #FFFFFF;
                
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
                border-radius: 2px;

                cursor: pointer;

                }  
                
            &::-moz-range-thumb {
                    width: 25px; /* Set a specific slider handle width */
                    height: 25px; /* Slider handle height */
                    background: #04AA6D; /* Green background */
                    cursor: pointer; /* Cursor on hover */
                  }                
        }
    }
}

.time-filter-holder{
    padding: 8px 8px 12px 8px;
    width: 260px;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0 0 4px #00000026;

    .time-header{
        position: relative;
        width: 100%;
        //padding: 8px 0px 8px 8px;
        box-sizing: border-box;
        font-size: 18px;
        font-weight: 800;
        color: #6C6C6C;
        line-height: 22px;
        user-select: none;

        .close{
            position: absolute;
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 1px;
            right: 0px;
            cursor: pointer;

            svg-icon{
                svg{
                    width: 14px;
                    height: 14px;
                    display: flex;

                    path{
                        fill: #AAAAAA;
                    }
                }
            }

            &:hover{
                svg-icon{
                    svg{
                        path{
                            fill: #6C6C6C;
                        }
                    }
                }
            }
        }
    }

    .border-filter{
        width: 100%;
        height: 2px;
        border-radius: 1px;
        margin: 8px 0px 8px 0px;
        background-color: #F3F3F3;
    }

    .time-items-holder{
        padding: 0px 4px;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        //padding: 2px 2px 0px 2px;
        box-sizing: border-box;

        .time-items{
            position: relative;
            width: 100%;
            padding-left: 6px;
            min-height: 26px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            font-size: 14px;
            font-weight: 400;
            color: #6C6C6C;
            line-height: 26px;
            margin-bottom: 2px;

            &:hover{
                cursor: pointer;
                background-color: #F3F3F3;
                color: #3C3C3C !important;
            }

            
            &::-moz-selection {
                background: #6C6C6C33;
                color: #6C6C6C;
            }
              &::selection {
                background: #6C6C6C33;
                color: #6C6C6C;
            }

            .selected-icon{
                position: absolute;
                width: 18px;
                height: 18px;
                display: none;
                justify-content: center;
                align-items: center;
                top: 4px;
                right: 4px;

                svg-icon{
                    svg{
                        display: flex;
                        width: 16.38px;
                        height: 12.66px;

                        path{
                            fill: #97A8DC;
                        }
                    }
                }
            }

            .icon-delete{
                position: absolute;
                width: 18px;
                height: 18px;
                display: none;
                justify-content: center;
                align-items: center;
                top: 4px;
                right: 4px;

                svg-icon{
                    svg{
                        display: flex;
                        width: 12.38px;
                        height: 12.38px;

                        path{
                            fill: #919191;
                        }
                    }
                }

                &:hover{
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    border-radius: 1px;
                    background-color: #6C6C6C;
                    top: 2px;
                    right: 2px;

                    svg-icon{
                        svg{
                            path{
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }

        .active{
            color: #536BC2 !important;

            .selected-icon{
                display: flex;
            }

            &:hover{
                color: #536BC2 !important;

                .selected-icon{
                    display: none;
                }
    
                .icon-delete{
                    display: flex !important;
                }
    
            }

            
        }
    }

    .buttons-holder{
        width: 100%;
        padding: 0px 4px 0px 4px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        .button-clear{
            width: 112px;
            height: 32px;
            border-radius: 2px;
            background-color: #F3F3F3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            color: #AAAAAA;
            line-height: 28px;

            &.active{
                cursor: pointer;
                color: #6C6C6C;

                
                &:hover{
                    cursor: pointer;
                    background-color: #6C6C6C;
                    color: #fff;
                }
            }
        }

        .button-set{
            width: 112px;
            height: 32px;
            border-radius: 2px;
            background-color: #F3F3F3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            color: #AAAAAA;
            line-height: 28px;

            &.active{
                background-color: #6D82C7;
                color: #FFFFFF;
                cursor: pointer;

                &:hover{
                    cursor: pointer;
                    background-color: #536BC2;
                    color: #fff;
                }
            }
        }
    }
}

.dispatcher-holder{
    width: 260px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 4px #00000029;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .dispatcher-header{
        position: relative;
        width: 100%;
        padding: 11px 0px 7px 11px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        user-select: none;

        .dispatcher-filter-box{
            width: 24px;
            height: 24px;
            border-radius: 2px;
            background-color: #F3F3F3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 800;
            color: #6C6C6C;
            line-height: 24px;
        }

        .dispatcher-title-text{
            font-size: 18px;
            font-weight: 800;
            color: #6C6C6C;
            padding-left: 4px;
            box-sizing: border-box;
        }

        .dispatcher-close{
            position: absolute;
            width: 22px;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 12px;
            right: 12px;
            cursor: pointer;

            svg-icon{
                svg{
                    width: 18px;
                    height: 18px;
                    display: flex;

                    path{
                        fill: #AAAAAA;
                    }
                }
            }

            &:hover{
                svg-icon{
                    svg{
                        path{
                            fill: #6C6C6C;
                        }
                    }
                }
            }
        }

    }

    .dispatcher-border-filter{
        width: calc(100% - 16px);
        height: 2px;
        border-radius: 1px;
        margin: 0px 8px;
        background-color: #F3F3F3;

        &.different-margin{
            width: calc(100% - 24px);
            margin: 0px 12px;
        }
    }

    .dispatcher-search-holder{
        width: calc(100% - 24px);
        height: 26px;
        background-color: #F3F3F3;
        border-radius: 2px;
        margin: 12px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 6px;
        box-sizing: border-box;

        .dispatcher-search-user-holder{
            flex: 1;
            background-color: #F3F3F3;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            color: #6C6C6C;

            &::placeholder{
                font-size: 14px;
                font-weight: 400;    
                color: #6C6C6C;
            }
        }

        .search-icons{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 18px;
            height: 18px;

            svg-icon{
                svg{
                    display: flex;
                    width: 18px;
                    height: 18px;

                    path{
                        fill: #B7B7B7;
                    }
                }
            }
        } 
        
        .border-search{
            width: 2px;
            height: 14px;
            border-radius: 2px;
            background-color: #E5E5E5;
            margin: 0px 5px;
        }
    }

    .dispatcher-selected-user-holder{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 2px 12px 0px 12px;
        box-sizing: border-box;

        .dispatcher-selected-user-frame{
            position: relative;
            width: 100%;
            height: 26px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            padding-left: 4px;
            box-sizing: border-box;
            font-size: 14px;
            font-weight: 400;
            color: #536BC2;
            line-height: 26px;
            margin-bottom: 2px;

            .dispatcher-initials{
                margin-right: 6px;
            }   
            
            .dispatcher-selected{
                font-size: 14px;
                font-weight: 400;
                color: #536BC2;    
            }

            .selected-icon{
                position: absolute;
                width: 18px;
                height: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 4px;
                right: 4px;

                svg-icon{
                    svg{
                        display: flex;
                        width: 16.38px;
                        height: 12.66px;

                        path{
                            fill: #97A8DC;
                        }
                    }
                }
            }

            .icon-delete{
                position: absolute;
                width: 18px;
                height: 18px;
                display: none;
                justify-content: center;
                align-items: center;
                top: 4px;
                right: 4px;

                svg-icon{
                    svg{
                        display: flex;
                        width: 12.38px;
                        height: 12.38px;

                        path{
                            fill: #919191;
                        }
                    }
                }

                &:hover{
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    border-radius: 1px;
                    background-color: #6C6C6C;
                    top: 2px;
                    right: 2px;

                    svg-icon{
                        svg{
                            path{
                                fill: #fff;
                            }
                        }
                    }
                }
            }

            &:hover{
                cursor: pointer;
                background-color: #F3F3F3;

                .selected-icon{
                    display: none;
                }

                .icon-delete{
                    display: flex;
                }
            }

            
            &::-moz-selection {
                background: #536BC233;
                color: #536BC2;
            }
              &::selection {
                background: #536BC233;
                color: #536BC2;
            }
        }
    }

    .dispatcher-user-holder{ 
        width: 100%;
        height: 224px;
        background-color: #fff;
        overflow: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 2px 0px 0px 12px;
        box-sizing: border-box;
        -ms-overflow-style: none;
        scrollbar-width: none; 

        .dispatcher-user-frame-holder{
            width: 100%;
            display: flex;
            align-items: center;

            .dispatcher-user-frame{
                position: relative;
                width: 100%;
                min-height: 26px;
                border-radius: 2px;
                display: flex;
                align-items: center;
                padding-left: 4px;
                box-sizing: border-box;
                font-size: 14px;
                font-weight: 400;
                color: #6C6C6C;
                line-height: 26px;
                margin-bottom: 2px;

                .dispatcher-initials{
                    margin-right: 6px;
                }    

                .unselecter-dispatcher{
                    font-size: 14px;
                    font-weight: 400;
                    color: #6C6C6C;
                }
    
                &:hover{
                    cursor: pointer;
                    background-color: #F3F3F3;
                }

                &::-moz-selection {
                    background: #6C6C6C33;
                    color: #6C6C6C;
                }
                  &::selection {
                    background: #6C6C6C33;
                    color: #6C6C6C;
                }
            }
        }

        &::-webkit-scrollbar{
            width: 9px;
        }

        &::-webkit-scrollbar-thumb{
            border: 3px solid #fff !important;
        }
    }

    .filter-buttons-holder{
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        .filter-button-clear{
            width: 112px;
            height: 32px;
            border-radius: 2px;
            background-color: #F3F3F3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            color: #AAAAAA;
            line-height: 32px; 
            
            &.active{
                cursor: pointer;
                color: #6C6C6C;

                &:hover{
                    background-color: #6C6C6C;
                    color: #fff;
                }
            }
        }

        .filter-button-set{
            width: 112px;
            height: 32px;
            border-radius: 2px;
            background-color: #F3F3F3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            color: #AAAAAA;
            line-height: 32px; 

            &.active{
                cursor: pointer;
                background-color: #6D82C7;
                color: #fff;

                &:hover{
                    background-color: #536BC2;
                }
            }
        }
    }

}

