.placeholder-container {
    padding: 8px;

    &.performance-double-container,
    &.performance-single-container {
        width: 177px;

        p {
            margin-bottom: 2px;
        }
    }

    &.performance-double-container {
        p {
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6) {
                margin-bottom: 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.performance-single-container {
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
