<div class="row card-main-holder">
   <div class="col-3">
      <div class="details"></div>
   </div>
   <div class="col-9">
      <div *ngFor="let item of ownerCard; let indx = index" class="card-frame">
         <div class="card-holder-frame">
            <div class="card-holder">
               <div class="check-holder">
                  <label class="container1">
                     <input
                        (change)="changeChatBox($event, indx)"
                        [checked]="item.checked"
                        type="checkbox"
                     />
                     <span class="checkmark"></span>
                  </label>
                  <div class="check-title truck-hover owner-title">
                     Dogma Brewery
                  </div>
               </div>
               <div class="dropdown owner-dropdown">
                  <svg-icon
                     src="assets/svg/truckassist-table/dropdown/dropdown-select.svg"
                  ></svg-icon>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
