.under-construction-holder {
    .svg-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 154px;
    }
    .text-holder {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .head-text {
            font-size: 48px;
            font-weight: 700;
            color: #424242;
            margin-top: 62px;
            margin-bottom: 32px;
        }
        .text-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            .seccondary-text {
                font-size: 32px;
                font-weight: 700;
                color: #3074d3;
                margin: 0 0 4px 0;
                line-height: 40px;
            }
            .muted-text {
                color: #424242;
                font-size: 17px;
                line-height: 21px;
                font-weight: 400;
            }
        }
    }
}
