<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
    box-sizing: border-box;
  "
>
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100vh;
      background: #fff;
      color: #6c6c6c;
      width: 563px;
      padding: 30px;
    "
  >
    <div>
      <!-- HEADER -->

      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #f9f9f9;
          height: 72px;
          border-radius: 2px;
          padding: 6px;
          margin-bottom: 22px;
        "
      >
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            width: 190px;
            height: 60px;
            border: 1px dotted #dadada;
            border-radius: 3px;
            text-align: center;
            padding: 3px;
          "
        >
          <p
            style="
              margin: 0;
              color: #919191;
              font-size: 14px;
              font-weight: 800;
              line-height: 18px;
            "
          >
            Company Logo
          </p>
        </div>

        <div style="display: flex; flex-direction: column; align-items: end">
          <p
            style="
              margin-bottom: 12px;
              height: 10px;
              font-size: 8px;
              font-weight: 600;
            "
          >
            Date of application: 06/13/22
          </p>
          <p
            style="
              margin-bottom: 4px;
              height: 10px;
              font-size: 8px;
              font-weight: 400;
            "
          >
            5023 S Throop St Chicago IL 60609
          </p>
          <p
            style="
              margin-bottom: 4px;
              height: 10px;
              font-size: 8px;
              font-weight: 400;
            "
          >
            jdfreightdispatch@gmail.com
          </p>
          <p
            style="
              margin-bottom: 0px;
              height: 10px;
              font-size: 8px;
              font-weight: 400;
            "
          >
            (621) 321-2232
          </p>
        </div>
      </div>

      <!-- EDUCATION & GENERAL -->

      <div style="display: flex; flex-direction: column; margin-bottom: 12px">
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #919191;
            padding: 2px 6px;
            height: 19px;
            border-radius: 1px;
            margin-bottom: 12px;
          "
        >
          <p
            style="margin: 0; color: #ffffff; font-size: 12px; font-weight: 800"
          >
            EDUCATION & GENERAL
          </p>
          <p
            style="margin: 0; color: #ffffff; font-size: 10px; font-weight: 700"
          >
            Step 6 of 11
          </p>
        </div>
      </div>

      <!-- EDUCATION-->

      <div
        style="
          display: flex;
          margin-bottom: 12px;
          background: #f7f7f7;
          padding: 12px;
          border-radius: 2px;
        "
      >
        <div style="display: flex; flex-direction: column">
          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <h2 style="margin: 0; font-size: 10px; font-weight: 800">
              EDUCATION
            </h2>
          </div>

          <div style="display: flex; align-items: center">
            <p
              style="
                margin: 0;
                font-size: 8px;
                font-weight: 400;
                height: 10px;
                margin-right: 4px;
              "
            >
              Highest grade complete
            </p>

            <div style="display: flex; align-items: center; margin-right: 18px">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                1
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                2
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                3
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                4
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                5
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                6
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                7
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #6c6c6c;
                  color: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 18px;
                  height: 18px;
                  margin-right: 4px;
                "
              >
                8
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                9
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                "
              >
                10
              </div>
            </div>

            <p
              style="
                margin: 0;
                font-size: 8px;
                font-weight: 400;
                height: 10px;
                margin-right: 4px;
              "
            >
              College
            </p>

            <div style="display: flex; align-items: center">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                1
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                2
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                3
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  border-radius: 1px;
                  font-size: 8px;
                  font-weight: 400;
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                "
              >
                4
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- QUESTIONS -->

      <div style="display: flex; flex-direction: column">
        <div
          style="
            display: flex;
            align-items: center;
            border-radius: 1px;
            background: #f7f7f7;
            padding: 5px 6px;
            margin-bottom: 14px;
          "
        >
          <h2
            style="margin: 0; font-size: 10px; font-weight: 800; color: #919191"
          >
            QUESTIONS
          </h2>
        </div>

        <div style="display: flex; flex-direction: column; margin-bottom: 8px">
          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                width: 14px;
                height: 14px;
                border-radius: 1px;
                background: #f7f7f7;
                margin-right: 4px;
              "
            ></div>
            <p style="margin: 0; font-size: 8px; font-weight: 400">
              Received any safety awards or special training
            </p>
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              height: 14px;
              border-radius: 1px;
              background: #919191;
              padding: 2px 4px;
              margin-left: 18px;
            "
          >
            <p style="margin: 0; font-size: 8px; font-weight: 700; color: #fff">
              Gold wreath firefighter award
            </p>
          </div>
        </div>

        <div style="display: flex; flex-direction: column; margin-bottom: 8px">
          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                width: 14px;
                height: 14px;
                border-radius: 1px;
                background: #f7f7f7;
                margin-right: 4px;
              "
            ></div>
            <p style="margin: 0; font-size: 8px; font-weight: 400">
              Other training
            </p>
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              height: 14px;
              border-radius: 1px;
              background: #919191;
              padding: 2px 4px;
              margin-left: 18px;
            "
          >
            <p style="margin: 0; font-size: 8px; font-weight: 700; color: #fff">
              Professional rally driver
            </p>
          </div>
        </div>

        <div style="display: flex; flex-direction: column; margin-bottom: 8px">
          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                width: 14px;
                height: 14px;
                border-radius: 1px;
                background: #f7f7f7;
                margin-right: 4px;
              "
            ></div>
            <p style="margin: 0; font-size: 8px; font-weight: 400">
              Received any safety awards or special training
            </p>
          </div>
        </div>

        <div style="display: flex; flex-direction: column; margin-bottom: 8px">
          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                width: 14px;
                height: 14px;
                border-radius: 1px;
                background: #f7f7f7;
                margin-right: 4px;
              "
            ></div>
            <p style="margin: 0; font-size: 8px; font-weight: 400">
              Has been a driver for this company before
            </p>
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              height: 14px;
              border-radius: 1px;
              background: #919191;
              padding: 2px 4px;
              margin-left: 18px;
            "
          >
            <p style="margin: 0; font-size: 8px; font-weight: 700; color: #fff">
              From 11/05/19
            </p>
          </div>
        </div>

        <div style="display: flex; flex-direction: column; margin-bottom: 8px">
          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                width: 14px;
                height: 14px;
                border-radius: 1px;
                background: #f7f7f7;
                margin-right: 4px;
              "
            ></div>
            <p style="margin: 0; font-size: 8px; font-weight: 400">
              Reason to be unable to perform the functions for the applied job
            </p>
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              height: 14px;
              border-radius: 1px;
              background: #919191;
              padding: 2px 4px;
              margin-left: 18px;
            "
          >
            <p style="margin: 0; font-size: 8px; font-weight: 700; color: #fff">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr
            </p>
          </div>
        </div>
      </div>

      <!-- EMERGENCY CONTACT -->

      <div
        style="
          display: flex;
          background: #f7f7f7;
          padding: 12px;
          border-radius: 2px;
        "
      >
        <div style="display: flex; flex-direction: column; width: 100%">
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 8px;
            "
          >
            <h2 style="margin: 0; font-size: 19px; font-weight: 800">
              Emergency Contact
            </h2>
            <p
              style="
                margin: 0;
                font-size: 16px;
                font-weight: 800;
                height: 19px;
                color: #b7b7b7;
              "
            >
              (587) 657-1042
            </p>
          </div>

          <div style="display: flex; flex-direction: column">
            <p
              style="
                margin: 0;
                font-size: 8px;
                font-weight: 700;
                height: 10px;
                color: #b7b7b7;
              "
            >
              Brother
            </p>
            <p
              style="margin: 0; font-size: 16px; font-weight: 800; height: 19px"
            >
              Bogdan Petrovic
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
