@import 'src/theme/variables';

.confirmation-modal {
    padding: 4px 0;
    gap: 8px;
    position: relative;

    .confirmation-header {
        p {
            font-size: 14px;
            width: 272px;
            color: $ta-black;

            &::-moz-selection {
                background: rgb(66, 66, 66, 0.2);
                color: $ta-black;
            }

            &::selection {
                background: rgb(66, 66, 66, 0.2);
                color: $ta-black;
            }
        }
    }

    .confirmation-body {
        gap: 8px;

        &-content {
            width: 100%;

            .text-1 {
                font-size: 18px;
                line-height: 22px;
                color: $ta-black;

                &::-moz-selection {
                    background: rgb(66, 66, 66, 0.2);
                    color: $ta-black;
                }

                &::selection {
                    background: rgb(66, 66, 66, 0.2);
                    color: $ta-black;
                }

                &.limit-text {
                    max-width: 70%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.shorter-text {
                        max-width: 68%;
                    }
                }
            }

            .text-2 {
                font-size: 14px;
                line-height: 18px;
                color: $bw5;

                max-width: 70%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &::-moz-selection {
                    background: rgb(145, 145, 145, 0.2);
                    color: $bw5;
                }

                &::selection {
                    background: rgb(145, 145, 145, 0.2);
                    color: $bw5;
                }
            }

            .cdl-void-text {
                width: 70%;
                font-size: 14px;
                line-height: 18px;
                color: $ta-black;
            }

            .unit-container {
                width: fit-content;
                height: 18px;
                padding: 2px 2px 2px 2px;
                border-radius: 2px;
                background-color: $muted;
                margin-top: 8px;

                .text-3 {
                    font-size: 11px;
                    line-height: 14px;
                    color: $white;
                }
            }

            .avatar-img {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                margin-right: 6px;
                margin-left: -6px;
            }

            .avatar-div-img {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                margin-right: 6px;
            }

            .order-icon {
                svg {
                    path {
                        fill: $ta-blue-13;
                    }
                }
            }

            .item-card {
                width: fit-content;
                padding: 2px 6px;
                background-color: $bw5;
                border-radius: 2px;
                user-select: none;

                p {
                    font-size: 11px;
                    line-height: 14px;
                    color: $white;
                }
            }

            .pdf-file-image {
                width: 36px;
                height: 36px;
                border-radius: 2px;
                background: $bw2;

                app-ta-upload-file {
                    .ta-upload-file-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: scale(0.225);

                        .ta-upload-file-content {
                            margin: 0 !important;

                            .ng2-pdf-viewer-container {
                                top: 0px !important;
                            }

                            .image_main_holder {
                                .spinner {
                                    transform: scale(4);
                                }
                            }
                        }
                    }
                }
            }
        }

        .confirmation-svg {
            svg {
                width: 77px;
                height: 28px;
            }
        }

        .confirmation-img-container {
            width: 36px;
            height: 36px;
            background: $bw2;
            border-radius: 2px;
        }

        .confirmation-img {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 34px;
            height: 34px;
            border-radius: 2px;
            object-fit: fill;
        }

        .confirmation-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2px;

            .confirmation-text-1 {
                font-size: 14px;
                font-weight: 700;
                line-height: 18px;
                color: $bw6-2;

                &::-moz-selection {
                    background-color: rgb(108, 108, 108, 0.2);
                    color: $bw6-2;
                }

                &::selection {
                    background-color: rgb(108, 108, 108, 0.2);
                    color: $bw6-2;
                }

                &.large-text-1 {
                    font-size: 18px;
                    line-height: 22px;
                    color: $ta-black;

                    .inactive-icon-holder {
                        svg-icon {
                            svg {
                                path {
                                    fill: #919191;
                                }
                            }
                        }
                    }
                }

                &.limit-text {
                    max-width: 70%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.shorter-text {
                        max-width: 68%;
                    }
                }
            }

            .confirmation-text-2 {
                font-size: 11px;
                font-weight: 500;
                line-height: 14px;
                color: $bw6-2;

                &::-moz-selection {
                    background-color: rgb(108, 108, 108, 0.2);
                    color: $bw6-2;
                }

                &::selection {
                    background-color: rgb(108, 108, 108, 0.2);
                    color: $bw6-2;
                }
                span {
                    &::-moz-selection {
                        background-color: rgb(108, 108, 108, 0.2);
                        color: $bw6-2;
                    }

                    &::selection {
                        background-color: rgb(108, 108, 108, 0.2);
                        color: $bw6-2;
                    }
                }

                &.large-text-2 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #919191;
                }

                &.limit-text {
                    max-width: 70%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.shorter-text {
                        max-width: 68%;
                    }
                }
            }
            .avatar-img {
                width: 28px;
                height: 28px;
                margin-right: 6px;
            }

            .void-holder {
                width: 264px;
                padding-top: 20px;
            }

            .cdl-holder {
                width: 150px;
                padding-top: 15px;
            }

            .confirmation-text-3 {
                font-size: 11px;
                font-weight: 500;
                line-height: 14px;
                color: #919191;

                &::-moz-selection {
                    background-color: rgb(145, 145, 145, 0.2);
                    color: #919191;
                }

                &::selection {
                    background-color: rgb(145, 145, 145, 0.2);
                    color: #919191;
                }

                &.cdl-void-message {
                    font-style: italic;
                    margin-top: 20px;
                }
            }

            .confirmation-text-holder {
                gap: 16px;
            }

            .shuffle-icon {
                svg {
                    path {
                        fill: $ta-blue-13;
                    }
                }
            }

            .item-card {
                width: fit-content;
                padding: 2px 6px;
                background-color: $bw5;
                border-radius: 2px;
                user-select: none;

                p {
                    font-size: 11px;
                    line-height: 14px;
                    color: $white;
                }
            }
        }

        .confirmation-state {
            padding: 2px 9px;
            background-color: #f3f3f3;
            border-radius: 2px;
            font-size: 11px;
            font-weight: 800;
            margin-right: 6px;
            &::-moz-selection {
                background-color: rgb(108, 108, 108, 0.2);
                color: $bw6-2;
            }

            &::selection {
                background-color: rgb(108, 108, 108, 0.2);
                color: $bw6-2;
            }
        }
    }

    .confirmation-array-body {
        gap: 12px;
    }

    .confirmation-icon {
        position: absolute;
        top: -36px;
        right: -7px;
        padding-left: 10px;
        background: $white;
    }
}
