@let firstStopType =
    stopsFormArray.at(0).get(eLoadModalStopsForm.STOP_TYPE)?.value;
@let isFirstDeadHead = firstStopType === 0;
@let totalStops =
    isFirstDeadHead ? stopsFormArray.length - 1 : stopsFormArray.length;
@let extraStops = totalStops - 2;

<app-ca-custom-card
    customDividerClass="divider--dark"
    cardName="Stops"
    [hasDivider]="true"
    [isCardOpen]="true"
    [hasArrow]="true"
    [hasPlusIcon]="true"
    [counter]="totalStops"
    [headerLeftSideTemplate]="stopsLeftSideTemplate"
    (onActionEvent)="onActionEventEmit($event)"
>
    <div origin>
        <div class="d-grid d-grid-stops-heading p-x-8 gap-1 mb-1">
            <div class="text-color-muted text-size-11 ta-font-bold">#</div>
            <div class="text-color-muted text-size-11 ta-font-bold">
                Shipper • Location
            </div>
            <div class="text-color-muted text-size-11 ta-font-bold">
                Date • Time
            </div>
            <div class="text-color-muted text-size-11 ta-font-bold text-right">
                Leg
            </div>
        </div>
        @if (loadForm) {
            <form [formGroup]="loadForm">
                <div
                    class="d-flex gap-12 flex-column align-items-center"
                    formArrayName="stops"
                >
                    @for (
                        stop of stopsFormArray.controls;
                        let i = $index, first = $first, last = $last;
                        track i
                    ) {
                        <div
                            [ngClass]="
                                activeCardIndex === i
                                    ? 'w-624 shadow-100 p-x-4 p-y-4 br-3'
                                    : 'w-616'
                            "
                        >
                            <app-ca-custom-card
                                [hasDivider]="false"
                                [hasArrow]="false"
                                [headerLeftSideTemplate]="
                                    headerLeftSideTemplate
                                "
                                [headerLeftSideContext]="{
                                    index: i,
                                    isOpen: activeCardIndex === i,
                                    last,
                                }"
                                [isCardOpen]="activeCardIndex === i"
                                [animationMarginParams]="{
                                    marginTop: '0',
                                    marginBottom: '12px',
                                }"
                                (onOpenCard)="onCardOpened($event, i)"
                            >
                                <div
                                    origin
                                    [formGroupName]="i"
                                    class="w-616 m-t-20"
                                >
                                    @if (!first && !last) {
                                        <div class="m-b-24">
                                            <app-ca-tab-switch
                                                [type]="'type4-modal-popup'"
                                                [tabs]="stopTabs"
                                                (switchClicked)="
                                                    onStopTypeChange($event, i)
                                                "
                                            >
                                            </app-ca-tab-switch>
                                        </div>
                                    }

                                    @let shipperInputConfig =
                                        {
                                            configType:
                                                eLoadModalStopsForm.SHIPPER_ID,
                                        } | loadStopInputConfig;

                                    <div class="d-grid d-grid-shipper">
                                        <ca-input-dropdown-test
                                            [formControlName]="
                                                eLoadModalStopsForm.SHIPPER_ID
                                            "
                                            [label]="'businessName'"
                                            [optionValue]="'id'"
                                            [template]="'load-shipper'"
                                            [inputConfig]="shipperInputConfig"
                                            [canAddNew]="true"
                                            [canOpenModal]="true"
                                            [options]="shippers"
                                            (selectedItem)="
                                                onShipperChange($event, i)
                                            "
                                        >
                                        </ca-input-dropdown-test>
                                    </div>

                                    <div
                                        class="d-grid d-grid-working-time m-t-26"
                                    >
                                        <app-ca-tab-switch
                                            [type]="'type4-modal-popup'"
                                            [tabs]="tabs"
                                            (switchClicked)="
                                                onTabChange($event, i)
                                            "
                                        >
                                        </app-ca-tab-switch>

                                        @let brokerContactInputConfig =
                                            {
                                                configType:
                                                    eLoadModalStopsForm.SHIPPER_CONTACT_ID,
                                            } | loadStopInputConfig;

                                        <ca-input-dropdown-test
                                            [formControlName]="
                                                eLoadModalStopsForm.SHIPPER_CONTACT_ID
                                            "
                                            [label]="'fullName'"
                                            [optionValue]="'id'"
                                            [template]="'load-broker-contact'"
                                            [inputConfig]="
                                                brokerContactInputConfig
                                            "
                                            [options]="shipperContacts"
                                        >
                                        </ca-input-dropdown-test>
                                    </div>
                                    @let stopFormControl = stopsFormArray.at(i);
                                    @let isDateRange =
                                        stopFormControl.get(
                                            eLoadModalStopsForm.DATE_TO
                                        ) !== null;

                                    @let isAppointment =
                                        stopFormControl.get(
                                            eLoadModalStopsForm.TIME_TYPE
                                        ).value === 2;
                                    <div
                                        class="d-grid m-t-26"
                                        [ngClass]="
                                            isDateRange
                                                ? 'd-grid-date-from-to'
                                                : 'd-grid-time-picker'
                                        "
                                    >
                                        @let dateFromInputConfig =
                                            {
                                                configType:
                                                    eLoadModalStopsForm.DATE_FROM,
                                                isDateRange,
                                            } | loadStopInputConfig;

                                        <ca-input-datetime-picker
                                            [formControlName]="
                                                eLoadModalStopsForm.DATE_FROM
                                            "
                                            [inputConfig]="dateFromInputConfig"
                                        ></ca-input-datetime-picker>

                                        @if (!isDateRange) {
                                            @let addDateRangeButtonClass =
                                                isAppointment
                                                    ? 'background-light-grey-5 svg-fill-light-grey-6'
                                                    : 'background-bw2 background-hover-bw-9 svg-fill-muted svg-hover-black c-pointer';

                                            <div
                                                class="w-26 h-26 d-flex br-2 align-items-center justify-content-center"
                                                ngbTooltip
                                                position="bottom"
                                                [tooltipBackground]="
                                                    eColor.BLACK
                                                "
                                                [mainTooltip]="
                                                    !isAppointment &&
                                                    'Date Range'
                                                "
                                                [ngClass]="
                                                    addDateRangeButtonClass
                                                "
                                                (click)="
                                                    onAddDateTo(
                                                        i,
                                                        isAppointment
                                                    )
                                                "
                                            >
                                                <svg-icon
                                                    class="svg-size-16"
                                                    [src]="svgRoutes.PLUS_ICON"
                                                ></svg-icon>
                                            </div>
                                        } @else {
                                            @let dateToInputConfig =
                                                {
                                                    configType:
                                                        eLoadModalStopsForm.DATE_TO,
                                                } | loadStopInputConfig;

                                            <ca-input-datetime-picker
                                                [formControlName]="
                                                    eLoadModalStopsForm.DATE_TO
                                                "
                                                [inputConfig]="
                                                    dateToInputConfig
                                                "
                                            ></ca-input-datetime-picker>
                                        }

                                        @let timeFromInputConfig =
                                            {
                                                configType:
                                                    eLoadModalStopsForm.TIME_FROM,
                                                isAppointment,
                                            } | loadStopInputConfig;
                                        <ca-input-datetime-picker
                                            [formControlName]="
                                                eLoadModalStopsForm.TIME_FROM
                                            "
                                            [inputConfig]="timeFromInputConfig"
                                        ></ca-input-datetime-picker>

                                        @let timeToInputConfig =
                                            {
                                                configType:
                                                    eLoadModalStopsForm.TIME_TO,
                                                isAppointment,
                                            } | loadStopInputConfig;
                                        <ca-input-datetime-picker
                                            [formControlName]="
                                                eLoadModalStopsForm.TIME_TO
                                            "
                                            [inputConfig]="timeToInputConfig"
                                        ></ca-input-datetime-picker>
                                    </div>
                                </div>
                            </app-ca-custom-card>
                        </div>
                    }
                </div>

                <ng-template
                    #headerLeftSideTemplate
                    let-index="index"
                    let-last="last"
                    let-isOpen="isOpen"
                >
                    @let stopFormGroup = stopsFormArray.at(index);
                    @let selectedShipperId =
                        stopFormGroup.get(eLoadModalStopsForm.SHIPPER_ID)
                            ?.value;

                    @let stopType =
                        stopFormGroup.get(eLoadModalStopsForm.STOP_TYPE)?.value;
                    @let isDeadHead = stopType === 0;

                    <!-- Delete is available for steps that are not first or last, or if first stop is deadhead then second stop should be disabled -->
                    @let hasDelete =
                        index !== 0 &&
                        !last &&
                        !(
                            index === 1 &&
                            stopsFormArray
                                .at(0)
                                .get(eLoadModalStopsForm.STOP_TYPE)?.value === 0
                        );

                    <app-load-modal-stop
                        [index]="index"
                        [isLast]="last"
                        [stopFormGroup]="stopFormGroup"
                        [shippers]="shippers"
                        [selectedShipperId]="selectedShipperId"
                        [isOpen]="isOpen"
                        [hasDelete]="hasDelete"
                        (onDeleteActionIndex)="onDeleteActionIndex($event)"
                    ></app-load-modal-stop>
                </ng-template>
            </form>

            <!-- TODO: for colors use pipe 
          stop
                                                | stopStatus
                                                    : isPickup
                                                    : isDelivery
                                                    : isDeadhead
    -->
        }

        @if (routing) {
            <div class="d-flex gap-12 justify-content-between m-t-8">
                <div>
                    <svg-icon
                        [src]="svgRoutes.LOAD_ICON"
                        class="svg-size-14 svg-fill-muted"
                    ></svg-icon>

                    <span
                        class="ml-1 text-size-11 text-color-muted ca-font-bold"
                        >200.0 mi</span
                    >
                </div>
                <div class="d-flex gap-12">
                    <div>
                        <svg-icon
                            [src]="svgRoutes.MILEAGE_ICON"
                            class="svg-size-14 svg-fill-muted"
                        ></svg-icon>

                        <span
                            class="ml-1 text-size-11 text-color-muted ca-font-bold"
                            >{{ routing.totalMiles }}</span
                        >
                    </div>
                    <div>
                        <svg-icon
                            [src]="svgRoutes.TIME_ICON"
                            class="svg-size-14 svg-fill-muted"
                        ></svg-icon>

                        <span
                            class="ml-1 text-size-11 text-color-muted ca-font-bold"
                        >
                            @let hours = routing.totalHours;
                            @let minutes = routing.totalMinutes;
                            @if (hours || minutes) {
                                ≈
                            }
                            {{ hours ? hours + 'h' : '' }}
                            {{ minutes ?? '0' }}m</span
                        >
                    </div>
                </div>
            </div>
        }
    </div>
</app-ca-custom-card>

<ng-template #stopsLeftSideTemplate>
    @if (extraStops > 0) {
        <p
            class="margin-l-4 text-size-11 br-60 background-gray-2 text-color-white-2 ca-font-bold d-flex align-items-center justify-content-center p-x-5 p-y-2"
        >
            {{ extraStops }} EXTRA
        </p>
    }

    <p class="m-l-4 ta-font-medium text-size-11 text-color-muted">
        Extra stops are added between origin and destination
    </p>
</ng-template>
