@import "../settings.global.scss";
.settings-location {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 351px);
  column-gap: 12px;
  column-gap: 12px;
  font-size: $settings-fontsize;
  user-select: none;

  .settings-parking-col-1 {
    grid-column: 1 / 2;
  }

  .settings-parking-col-2 {
    grid-column: 2 / 3;
  }

  .settings-parking-col-3 {
    grid-column: 3 / 4;
  }

  .settings-parking-col-4 {
    grid-column: 4 / -1;
  }
}
