.ta-card-body {
    overflow: visible !important;
}
.ta-upload {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 194px;
    align-items: center;

    .ta-upload-dropzone {
        height: 194px;
    }

    .documents_holder {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 4px;
    }

    &.documents {
        display: block !important;

        .ta-upload-dropzone {
            height: 332px;
        }
    }

    &-small {
        grid-template-columns: 168px 1fr;
        grid-template-rows: 194px;
        -moz-column-gap: 12px;
        column-gap: 12px;
        transition: all 0.3s ease-in-out;
    }

    &-medium-file {
        grid-template-columns: 168px 1fr;
        grid-template-rows: 194px;
        -moz-column-gap: 12px;
        column-gap: 12px;
        transition: all 0.3s ease-in-out;
    }

    &-medium-files {
        grid-template-columns: 348px 1fr;
        grid-template-rows: 194px;
        -moz-column-gap: 12px;
        column-gap: 12px;
        transition: all 0.3s ease-in-out;
    }

    &-large-file {
        grid-template-columns: 168px 1fr;
        grid-template-rows: 194px;
        -moz-column-gap: 12px;
        column-gap: 12px;
        transition: all 0.3s ease-in-out;
    }

    &-large-twofiles {
        grid-template-columns: 348px 1fr;
        grid-template-rows: 194px;
        -moz-column-gap: 12px;
        column-gap: 12px;
        transition: all 0.3s ease-in-out;
    }

    &-large-threefiles {
        grid-template-columns: 528px 1fr;
        grid-template-rows: 194px;
        -moz-column-gap: 12px;
        column-gap: 12px;
        transition: all 0.3s ease-in-out;
    }

    &-review-mode {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    &.driver-details-pdf {
        grid-template-columns: 1fr;
        grid-template-rows: 312px;
    }

    &.company-documents {
        grid-template-columns: 1fr;
        grid-template-rows: 332px;
    }

    &.driver-card-pdf {
        grid-template-columns: 1fr;
        grid-template-rows: 428px;
    }

    &.company-details-pdf {
        grid-template-columns: 1fr;
        grid-template-rows: 378px;
    }

    &.landscape-details-view {
        grid-template-columns: 1fr;
        grid-template-rows: 200px;
    }

    &.todo-details {
        grid-template-columns: 100% 1fr;
        grid-template-rows: 200px;
    }

    &.table-details {
        grid-template-columns: 100% 1fr;
        grid-template-rows: 200px;
    }
}
