@import 'src/app/core/components/navigation/scss/navigation.design.scss';

.modal-nav-panel {
    position: absolute;
    top: 61px;
    z-index: 99;
    height: auto;
    padding: 10px 6px 6px 6px;
    border-radius: 3px;
    left: 18.8px;
    width: 242px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    transition: width 0.3s;

    &:not(.show-modal) {
        &.opened-navigation {
            background-color: $nav-blue-bg;

            &:hover {
                background-color: $nav-svg-active;
            }
        }
    }

    .modal-inner {
        width: 230px;
        position: absolute;
        left: 4px;
        top: 13px;
    }
    p {
        margin: 0;
        font-size: $nav-font-size;
        font-weight: $nav-font-medium;
        color: $nav-white;
    }

    .modal-nav-close {
        display: flex;
        margin-bottom: 11px;
        position: relative;
        justify-content: space-between;
        padding-right: 4px;
        height: 20px;
        .modal-nav-close-svg {
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            position: relative;
            top: -12.9px;
            left: 4px;
            svg {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                path {
                    fill: $nav-light-icon;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: $nav-white;
                    }
                }
            }
        }
        .title {
            position: absolute;
            left: 38px;
            top: 8px;
            width: 104px;
            transition: color 0.3s;
        }

        .modal-nav-close-text {
            font-size: $nav-font-size;
            font-weight: $nav-font-bold;
            color: $nav-white;
            width: 100%;
            height: 36px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            position: relative;
            justify-content: space-between;
            bottom: 13px;
            cursor: pointer;
            right: 5px;
        }
    }
    .closed-modal {
        width: 36px;
    }
    .modal-is-open {
        height: 34px;
        background: $nav-svg-active;
        z-index: 9;
        top: 65px;
        left: 22.8px;
        padding-top: 9px;
        position: fixed;
        width: 230px;
        transition: width 0.3s;
    }
    .modal-nav-content {
        height: auto;
        margin: 4px 0;

        .modal-nav-header {
            font-size: $nav-font-size-small;
            font-weight: $nav-font-bold;
            color: $nav-dark;
            padding-left: 4px;
            margin-bottom: 8px;
            display: flex;
            gap: 6px;
            align-items: center;
            padding-right: 4px;
            span {
                width: 100%;
                height: 0.1px;
                background: $nav-dark;
                opacity: 0.4;
            }
        }
        .top-header {
            margin-top: 23px;
        }
        .modal-nav-header:nth-child(1) {
            position: sticky;
            top: 27px;
            background-color: $nav-svg-active;
            z-index: 8;
        }
        .modal-nav-routes {
            display: flex;
            flex-wrap: wrap;
            gap: 4px 6px;
            padding: 4px 0;
            font-size: 14px;
            color: $nav-white;
            justify-content: space-between;
            p {
                height: 28px;
                padding: 4px 0px 0px 10px;
                border-radius: 3px;
                transition: all 0.2s ease-in-out;
                position: relative;
                width: 112px;

                &:hover {
                    transition: $nav-transition;
                    background-color: $nav-close-icon-active;
                    cursor: pointer;
                }

                .border-right {
                    position: absolute;
                    right: -4px;
                    top: 0;
                    content: '';
                    width: 2px;
                    height: 26px;
                    background: $nav-blue-3;
                }
            }
        }
        .first-modal {
            // padding-top: 14px;
        }
    }
}
.closed-navigation {
    background: $nav-close-icon;
    width: 34px !important;
    height: 34px !important;
    border-radius: 34px !important;

    .modal-inner {
        .modal-nav-close {
            .modal-nav-close-svg {
                svg {
                    path {
                        fill: $nav-close-icon-active;
                    }
                }
            }
        }
    }
    &:hover {
        background: $nav-icon-hover-bg;
        transition: background 0.3s;
        .modal-inner {
            .modal-nav-close {
                .modal-nav-close-svg {
                    svg {
                        path {
                            fill: $nav-icon-hover-fill;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
}
.opened-navigation {
    background: $nav-svg-active;
}
.add-hover {
    &:hover {
        background-color: rgba(255, 255, 255, 1);
        transition: all 0.3s;
        .modal-inner {
            .modal-nav-close {
                .modal-nav-close-text {
                    .modal-nav-close-svg {
                        svg {
                            path {
                                transition: all 0.3s;
                                fill: $nav-text-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
.show-modal {
    .modal-inner {
        .modal-nav-close {
            .modal-nav-close-text {
                .modal-nav-close-svg {
                    svg {
                        transform: rotate(-45deg);
                        transition: all 0.3s;
                        top: 4.1px;
                        left: 6px;
                        position: absolute;
                        path {
                            transition: all 0.3s;
                            opacity: 0.5;
                        }
                    }
                    &:hover {
                        svg {
                            path {
                                transition: all 0.3s;
                                fill: $nav-white;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
.hide-modal {
    .modal-inner {
        .modal-nav-close {
            .modal-nav-close-text {
                .modal-nav-close-svg {
                    svg {
                        transform: rotate(0deg);
                        transition: all 0.3s;
                        top: 4.1px;
                        left: 6.6px;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-height: 950px) {
    .modal-media-query-height {
        height: 700px !important;
        overflow-y: scroll;
    }
}
@media only screen and (max-height: 800px) {
    .modal-media-query-height {
        height: 500px !important;
        overflow-y: scroll;
    }
}
@media only screen and (max-height: 600px) {
    .modal-media-query-height {
        height: 400px !important;
        overflow-y: scroll;
    }
}
@media only screen and (max-height: 490px) {
    .modal-media-query-height {
        height: 300px !important;
        overflow-y: scroll;
    }
}
@media only screen and (max-height: 370px) {
    .modal-media-query-height {
        height: 200px !important;
        overflow-y: scroll;
    }
}
