//------------ Colors constants
$nav-white: #ffffff;
$nav-dark: #2f2f2f;

$nav-svg: #b7b7b7;
$nav-svg-hover: #919191;
$nav-svg-active: #3B73ED;
$nav-svg-darker: #aaaaaa;

$nav-text-color-dadada: #dadada;
$nav-text-color-lighter: #b7b7b7;
$nav-text-color-grey: #6c6c6c;
$nav-text-color-darker: #919191;
$nav-text-color-hover: #3c3c3c;

$nav-blue-1: #e0eaf8;
$nav-blue-2: #97a8dc;
$nav-blue-3: #6d82c7;
$nav-active-lighter: #6f9ee0;
$nav-active: #3551b7;
$nav-hover-hover: #255bb9;

$nav-hover-lightcolor: #f3f3f3;
$nav-hover-ligh: #eeeeee;
$nav-hover-color: #1d1d1d;

$nav-hover-darker: #f9f9f9;

$nav-important-light: #ff8080;
$nav-important: #ef5350;
$nav-important-hover: #f44336;

$nav-boxshadow: 0 0 4px rgb(0, 0, 0, 0.15);

$nav-transition: all 0.3s ease-in-out;
$nav-transition-015: all 0.15s ease-in-out;
$nav-transition-2: all 0.2s ease-in-out;
$nav-transition-5: all 0.5s ease-in-out;

$nav-font-size-verysmall: 10px;
$nav-font-size-small: 12px;
$nav-font-size: 14px;

$nav-font-regular: 400;
$nav-font-medium: 500;
$nav-font-semibold: 600;
$nav-font-bold: 700;
$nav-font-extrabold: 800;

$nav-transparent: rgba(48, 116, 211, 0.2);
$wrapper-line: #b7b7b7;

$user-busy-status: #ffb74d;
$user-busy-status-hover: #ffa726;
$user-active-status: #4db6a2;
$user-active-status-hover: #26a690;

$nav-dark-bg: #424242;
$nav-blue-bg: #3B73ED66;
$nav-light-icon: #92B1F5;
$nav-close-icon: #e9effd;
$nav-close-icon-active: #6692f1;
$nav-text-color: #FFFFFFB2;
$nav-icon-orange: #FAB15C;
$nav-icon-red: #E66767;
$nav-icon-hover-fill: #0B49D1;
$nav-icon-hover-bg: #BED0F9;
$nav-icon-grey: #ccc;
$nav-item-active-hover: #558ddd;

$files: #ffcc80;

$notification: #e57373;
@keyframes showMagicLine {
    0% {
        opacity: 0;
        transition: $nav-transition-2;
    }
    100% {
        opacity: 1;
        transition: $nav-transition-2;
    }
}

// ------------ end

// ------------ Status User
.status-marker-container {
    width: 12px;
    height: 12px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 12px;
    left: 17px;
    pointer-events: none;

    .status-marker {
        width: 10px;
        height: 10px;

        position: relative;
    }

    .status-active {
        border: 0 solid $nav-white;
        background: $user-active-status !important;
    }

    .status-busy {
        border: 2px solid $user-busy-status;
        background: #ffffff !important;
    }
}
.status-nav-closed {
    position: absolute;
    bottom: 9px;
    left: 27px;
}
.status-marker-container-notification {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -2px;
    left: -8px;
    background: $nav-dark;
    .status-marker-notification {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        border: 0 solid $nav-white;
        background: $notification;
    }
}
// ------------ end
.navigation-divider {
    background: none;
    height: 4px;
    width: calc(100% - 12px);
    margin: 0 auto 4px auto;
}

// TODO: 
// .dark-nav .navigation-divider{
//     background: linear-gradient(360deg, #1D1D1D 0%, rgba(29, 29, 29, 0) 99.99%, #838383 100%)
// }

