<div class="custom_editor_holder d-flex" [formGroup]="noticeForm">
    <ng-container *ngIf="settings.fontSize">
        <div class="custom_select_holder font-family">
            <app-ta-input-dropdown
                formControlName="fontSize"
                [template]="'double-text-template'"
                [inputConfig]="{
                    name: 'Input Dropdown',
                    type: 'text',
                    label: activeFont?.name,
                    placeholderInsteadOfLabel: true,
                    isDropdown: true,
                    dropdownWidthClass: 'w-col-134',
                    hideClear: true,
                    blackInput: true,
                    hideColorValidations: true
                }"
                [options]="fontSizeOptions"
                [activeItem]="activeFont"
                (selectedItem)="changeFontSize($event)"
            ></app-ta-input-dropdown>
        </div>
    </ng-container>
    <ng-container *ngIf="settings.textTransform">
        <div class="wysiwyg_button_group d-flex">
            <div
                (click)="executeEditor(constants.TOOLBAR_ACTION_BOLD)"
                [class.active]="toolbarActions.bold"
                class="sysiwyg_button_item"
            >
                <svg-icon
                    [src]="svgRoutes.ICON_TEXT_BOLD_SVG_ROUTE"
                ></svg-icon>
            </div>
            <div
                (click)="executeEditor(constants.TOOLBAR_ACTION_ITALIC)"
                [class.active]="toolbarActions.italic"
                class="sysiwyg_button_item"
            >
                <svg-icon
                    [src]="svgRoutes.ICON_TEXT_ITALIC_SVG_ROUTE"
                ></svg-icon>
            </div>
            <div
                (click)="executeEditor(constants.TOOLBAR_ACTION_UNDERLINE)"
                [class.active]="toolbarActions.underline"
                class="sysiwyg_button_item"
            >
                <svg-icon
                    [src]="svgRoutes.ICON_TEXT_UNDERLINE_SVG_ROUTE"
                ></svg-icon>
            </div>
        </div>
    </ng-container>
    <div
        [class.small_width]="sidebarWidth < 528"
        class="wysiwyg-text-transform-buttons d-flex"
    >
        <div class="text-align-buttons d-flex">
            <ng-container *ngFor="let align of alignOptions; trackBy: identifyAlignOption">
                <div
                    (click)="executeEditor(align.name)"
                    [class.active]="align.value"
                    class="align-buttons"
                >
                    <svg-icon [src]="align.imageUrl"></svg-icon>
                </div>
            </ng-container>
        </div>
        <ng-container *ngIf="settings.textIndent">
            <div class="paragraph-buttons d-flex">
                <div
                    (click)="executeEditor(constants.TOOLBAR_ACTION_INDENT)"
                    [class.active]="toolbarActions.indent"
                    class="align-buttons"
                >
                    <svg-icon [src]="svgRoutes.ICON_TEXT_PARAGRAPH_INSIDE_SVG_ROUTE"></svg-icon>
                </div>
                <div
                    (click)="executeEditor(constants.TOOLBAR_ACTION_OUTDENT)"
                    [class.active]="toolbarActions.outdent"
                    class="align-buttons"
                >
                    <svg-icon
                        [src]="svgRoutes.ICON_TEXT_PARAGRAPH_OUTSIDE_SVG_ROUTE"
                    ></svg-icon>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="settings.textLists">
            <div class="paragraph-buttons d-flex">
                <div
                    (click)="executeEditor(constants.TOOLBAR_ACTION_INSERT_UNORDERED_LIST)"
                    [class.active]="toolbarActions.insertUnorderedList"
                    class="align-buttons"
                >
                    <svg-icon [src]="svgRoutes.ICON_LIST_UNORDERED_SVG_ROUTE"></svg-icon>
                </div>
                <div
                    (click)="executeEditor(constants.TOOLBAR_ACTION_INSERT_ORDERED_LIST)"
                    [class.active]="toolbarActions.insertOrderedList"
                    class="align-buttons"
                >
                    <svg-icon [src]="svgRoutes.ICON_LIST_ORDERED_SVG_ROUTE"></svg-icon>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="color_picker_holder">
        <ng-container *ngFor="let item of customSelectColor; let i = index; trackBy: identifyColor">
            <div
                class="color_main_hold"
            >
                <div
                    class="color_picker_color"
                    (click)="executeEditor('foreColor', item)"
                    [ngStyle]="{
                        'background-color': item
                    }"
                >
                    <ng-container *ngIf="selectedColorName === item">
                        <svg-icon
                            [src]="svgRoutes.ICON_CHECK_SVG_ROUTE"
                        ></svg-icon>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<div class="w-100">
    <div
        #noticeRef
        (focus)="focusElement()"
        (blur)="blurElement()"
        (keyup)="updateNoteMain($event)"
        class="notice_editor"
        placeholder="Write a notice..."
        contenteditable
        spellcheck="false"
        (paste)="onPaste($event)"
    ></div>
</div>
