.edit-image-container {
  width: 456px;
  min-height: 177px;
  transition: all 0.3s ease-in-out;

  .image-upload-area {
    border: none;
    width: 100%;
    height: 177px;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url("../../../../../assets/img/image-upload/ic_dropbox-container.svg") !important;
    overflow: hidden;
  }

  ::ng-deep.ng5-slider {
    margin: 0 !important;

    .ng5-slider-bar {
      height: 6px;
      background: #eeeeee !important;
    }

    .ng5-slider-selection {
      background: #bbc7dd !important;
    }

    .ng5-slider-pointer {
      width: 18px;
      height: 18px;
      top: -6px !important;
      background-color: #ffffff !important;
      box-shadow: 0 0 4px rgb(0, 0, 0, 0.16) !important;
      border-radius: 3px !important;

      &.ng5-slider-active {
        outline: unset unset unset !important;
      }

      &:after {
        width: 18px;
        height: 18px;
        top: 0;
        left: 0;
        border-radius: 18px;
        background: transparent !important;
      }
    }
  }

  ::ng-deep.croppie-container {
    * {
      user-select: none !important;
    }

    .cr-boundary {
      border-radius: 4px !important;
      height: 143px !important;
    }

    .cr-viewport {
      border: 2px dashed #eeeeee !important;
      border-radius: 3px !important;
      width: 100% !important;
      height: 143px !important;

      &:focus {
        outline: none !important;
      }
    }

    .cr-slider-wrap {
      display: none !important;
    }
  }
}

.buttons-container {
  margin-top: 5px;

  .save-check {
    cursor: pointer;

    svg-icon {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    transition: all 0.3s ease-in-out;
    border: 0 !important;

    &.save {
      &:hover {
        svg {
          #Rectangle_20156 {
            fill: #5673aa;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    &.cancel {
      margin-left: 6px;

      &:hover {
        svg {
          #Rectangle_20157 {
            fill: #ff5050;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

// Slider position and Width & Heigth
.c-slider {
  width: 394px;
  margin-left: 1px;
  margin-right: 12px;
}

.drag-image-text {
  bottom: 12px;
  position: absolute;
  font-weight: 600;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #919191;
}
