.files-container {
  position: relative;
  width: 100%;
  height: 100%;

  //---------------- File preview ----------------
  .file-preview {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  //------------------ Files preview -----------------------
  .files-preview {
    position: relative;
    width: 100%;
    height: 100%;

    // Files Rendering
    .carousel-files {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
    }

    // Counter For Multiple Files
    .files-count {
      font-size: 12px;
      font-weight: 600;
      color: #6c6c6c;
      margin-bottom: 4px;
      position: absolute;
      top: -25px;
      left: 0;
    }

    // Carousel Button Tabs
    .carousel-tabs-control {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-55%, 18px);

      .carousel-tab {
        width: 12px;
        height: 6px;
        background-color: #dadada;
        border-radius: 3px;
        margin-left: 4px;

        &.active-tab {
          transition: all 0.3s ease-in;
          width: 20px;
          background-color: #919191;
        }
      }
    }

    // Carousel Buttons Left & Right
    .carousel-buttons-control {
      position: absolute;
      top: 40%;
      cursor: pointer;
      display: block;
      &.prev {
        left: -12px;
      }

      &.next {
        right: -12px;
      }
    }

    &:hover {
      .carousel-control {
        display: block;
      }
    }
  }

  //---------------- Single Dropzone ----------------
  .single-dropzone {
    width: 100%;
    height: 100%;

    .single-label {
      height: 100%;
      width: 100%;
      background-image: url("../../../../../assets/svg/common/ic_dropbox-container.svg") !important;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      cursor: pointer;
    }

    input[type="file"] {
      display: none;
    }
  }
}
