<app-ca-modal
    [modalTitle]="editData?.header"
    [rightHeaderTemplate]="rightModalContent"
    [leftHeaderTemplate]="leftModalContent"
    [footerTemplate]="footerTemplate"
>
    <div class="new-modal" origin>
        <div class="divider divider--dark divider--small"></div>
        <form
            [formGroup]="PMform"
            class="form-container form-container-without-mb"
        >
            <app-ta-custom-card
                [hasCounter]="activePMs()"
                [hasDivider]="false"
                [cardName]="'Selected'"
                [hasActionSvg]="
                    editData?.action?.includes('unit-pm')
                        ? null
                        : svgRoutes.PLUS_ICON
                "
                [hasArrow]="false"
                [isCardOpen]="newPMs.length > 0"
                [hasScrollBody]="newPMs.length > 18"
                [disabledCard]="!newPMs.length"
                [disableAnimation]="disableCardAnimation"
                (onActionEvent)="addPMs()"
            >
                <app-ta-modal-table
                    [tableType]="
                        !!editData?.data?.truck
                            ? modalTableTypeEnum.PM_TRUCK
                            : modalTableTypeEnum.PM_TRAILER
                    "
                    [isEdit]="editData?.type === 'edit'"
                    [isNewRowCreated]="isPmRowCreated"
                    [modalTableData]="pmTableData"
                    (modalTableValueEmitter)="handleModalTableValueEmit($event)"
                    (modalTableValidStatusEmitter)="
                        handleModalTableValidStatusEmit($event)
                    "
                ></app-ta-modal-table>
            </app-ta-custom-card>
        </form>
    </div>
</app-ca-modal>

<ng-template #rightModalContent>
    <div
        class="d-flex justify-content-center align-items-center modal-close-container"
        ngbTooltip
        mainTooltip="Cancel"
        tooltipBackground="#424242"
        position="bottom"
        (click)="onModalAction({ action: TableStringEnum.CLOSE })"
    >
        <svg-icon
            class="modal-close svg-size-14 svg-fill-muted modal-buttons"
            [src]="svgRoutes.CLOSE_ICON"
        ></svg-icon>
    </div>
</ng-template>
<ng-template #leftModalContent>
    @if (editData?.action?.includes('unit-pm')) {
        <div class="payroll-number text-color-white text-size-14 ta-font-bold">
            {{
                editData?.action?.includes('unit-pm')
                    ? editData?.data?.textUnit
                    : null
            }}
        </div>
    }
</ng-template>

<ng-template #footerTemplate>
    <div class="modal-footer modal-footer-payroll">
        <div class="divider"></div>
        <app-ca-modal-button
            text="Save Changes"
            [isValid]="isFormDirty && isFormValid"
            (click)="onModalAction({ action: TableStringEnum.SAVE })"
            [isSpinnerShown]="activeAction === taModalActionEnums.SAVE"
            [type]="modalButtonType.PRIMARY_POSITIVE"
        >
        </app-ca-modal-button>
    </div>
</ng-template>
