<div class="custom-card p-1">
    <!-- Card splited on left and right side -->
    <div
        class="card-body"
        [ngClass]="{
            'body-active': isCardFlipped.includes(cardIndex),
            'body-checked': isCardChecked.includes(cardIndex)
        }"
    >
        <!-- Left side of the card -->
        <div class="card-body-left p-1">
            <!-- Head of the card -->
            <div class="card-header d-flex align-items-center">
                <div class="checkbox-holder d-flex align-items-center">
                    <span
                        class="checkbox-tooltip"
                        type="button"
                        ngbTooltip
                        mainTooltip="Select"
                        tooltipBackground="#424242"
                        position="bottom"
                        [ngClass]="{
                            'rotate-svg': isCardFlipped.includes(cardIndex),
                            'svg-position': !isCardFlipped.includes(cardIndex)
                        }"
                    >
                        <input
                            class="table-checkbox"
                            type="checkbox"
                            id="checkbox{{ cardIndex }}"
                            (change)="onCheckboxSelect(cardIndex)"
                        />
                        <label
                            class="table-checkbox-label"
                            for="checkbox{{ cardIndex }}"
                        ></label>
                    </span>
                </div>
                <div class="name d-flex ta-font-bold">
                    <span class="d-block image-holder image-hover">
                        <ng-container *ngIf="cardHeader?.img">
                            <img
                                [src]="cardHeader?.img"
                                alt=""
                                [style]="cardHeader?.imgStyle"
                            />
                        </ng-container>
                        <ng-container *ngIf="cardHeader?.svg">
                            <svg-icon
                                [style]="cardHeader?.svgStyle"
                                [src]="cardHeader?.svg"
                            ></svg-icon>
                        </ng-container>
                        <ng-container
                            *ngIf="
                                cardHeader?.isOwner &&
                                cardHeader?.isOwner !== false
                            "
                        >
                            <svg-icon
                                class="is-owner"
                                [src]="
                                    'assets/svg/common/ic_driver-owner-new.svg'
                                "
                            ></svg-icon>
                        </ng-container>
                    </span>
                    <span
                        class="d-flex align-items-center justify-content-center image-hover"
                        [style]="cardHeader?.cardTitleBeforeStyle"
                    >
                        {{ cardHeader?.cardTitleBefore }}
                    </span>
                    <span class="d-flex align-items-center title">
                        {{ cardHeader?.cardTitle }}
                    </span>
                </div>
            </div>
            <!-- Card body front-->
            <div
                class="flipped"
                [ngClass]="{
                    'card-body-content': !isCardFlipped.includes(cardIndex)
                }"
            >
                <!-- First item front of the card -->
                <div class="item-body">
                    <div class="top-item-body">
                        {{ firstLabel?.title }}
                    </div>
                    <div class="bottom-item-body d-flex align-items-center">
                        <svg-icon
                            *ngIf="firstLabel && firstLabel[1] === 'Hazardous'"
                            [src]="
                                'assets/svg/truckassist-table/hazardous-yellow.svg'
                            "
                            class="card-svg"
                        ></svg-icon>
                        <span [style]="firstLabel?.value?.firstValueStyle">
                            {{ firstLabel?.value?.firstValue }}
                        </span>
                        <span [style]="firstLabel?.value?.seccValueStyle">
                            {{ firstLabel?.value?.seccValue }}
                        </span>
                    </div>
                </div>
                <!-- Seccond item front of the card -->
                <div class="item-body">
                    <!-- Label title -->
                    <div class="top-item-body">
                        {{ seccondLabel?.title }}
                    </div>
                    <!-- Label body -->
                    <div class="bottom-item-body d-flex align-items-center">
                        <span [style]="seccondLabel?.value?.firstValueStyle">
                            {{ seccondLabel?.value?.firstValue }}</span
                        >
                        <span [style]="seccondLabel?.value?.seccValueStyle">{{
                            seccondLabel?.value?.seccValue
                        }}</span>
                        <span [style]="seccondLabel?.value?.thirdValueStyle">{{
                            seccondLabel?.value?.thirdValue
                        }}</span>
                    </div>
                </div>
                <!-- Third item front of the card -->
                <div class="item-body">
                    <div class="top-item-body">{{ thirdLabel?.title }}</div>
                    <div class="bottom-item-body d-flex align-items-center">
                        <span [style]="thirdLabel?.value?.firstValueStyle">{{
                            thirdLabel?.value?.firstValue
                        }}</span>
                        <span>{{ thirdLabel?.value?.seccValue }}</span>
                        <span>{{ thirdLabel?.value?.thirdValue }}</span>
                    </div>
                </div>
                <!-- Fourth item front of the card -->
                <div class="item-body">
                    <div class="top-item-body">{{ fourthLabel?.title }}</div>
                    <div class="bottom-item-body d-flex align-items-center">
                        <ng-container *ngIf="fourthLabel?.value?.firstValueSvg">
                            <svg-icon
                                [src]="fourthLabel?.value?.firstValueSvg"
                            ></svg-icon>
                        </ng-container>
                        <span [style]="fourthLabel?.value?.firstValueStyle">
                            {{ fourthLabel?.value?.firstValue }}
                        </span>
                        <svg-icon
                            [src]="fourthLabel?.value?.seccondValueSvg"
                        ></svg-icon>
                        <span [style]="fourthLabel?.value?.seccValueStyle">
                            {{ fourthLabel?.value?.seccondValue }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- Card body Back -->
            <div
                class="flipped"
                [ngClass]="{
                    'card-body-content': isCardFlipped.includes(cardIndex)
                }"
            >
                <!-- First item in back of the card -->
                <div class="item-body">
                    <div class="top-item-body">{{ firstLabelBack?.title }}</div>
                    <div class="bottom-item-body d-flex align-items-center">
                        <ng-container
                            *ngIf="firstLabelBack?.value?.firstValue"
                            [style]="firstLabelBack?.value?.firstValueStyle"
                        >
                            {{ firstLabelBack?.value?.firstValue }}
                        </ng-container>
                        <ng-container *ngIf="firstLabelBack?.value?.date">
                            {{ firstLabelBack?.value?.date | formatDateP }}
                        </ng-container>
                        <span [style]="firstLabelBack?.value?.seccValueStyle">
                            {{ firstLabelBack?.value?.seccValue }}
                        </span>
                    </div>
                </div>
                <!-- Seccond item in back of the card -->
                <div class="item-body">
                    <div class="top-item-body">
                        {{ seccondLabelBack?.title }}
                    </div>
                    <div class="bottom-item-body d-flex align-items-center">
                        <!-- Show only if deadline is required -->
                        <ng-container
                            *ngIf="
                                seccondLabelBack?.value?.deadline &&
                                seccondLabelBack?.value?.deadlineValue !== null
                            "
                        >
                            <div class="deadline-parent">
                                <div
                                    class="deadline-child-back"
                                    [ngClass]="{
                                        'back-gray':
                                            seccondLabelBack?.value
                                                ?.deadlineValue > 50,
                                        'back-yellow':
                                            seccondLabelBack?.value
                                                ?.deadlineValue <= 50 &&
                                            seccondLabelBack?.value
                                                ?.deadlineValue > 20,
                                        'back-red':
                                            seccondLabelBack?.value
                                                ?.deadlineValue <= 20
                                    }"
                                ></div>
                                <div
                                    class="deadline-child-front"
                                    [ngClass]="{
                                        'front-gray':
                                            seccondLabelBack?.value
                                                ?.deadlineValue > 50,
                                        'front-yellow':
                                            seccondLabelBack?.value
                                                ?.deadlineValue <= 50 &&
                                            seccondLabelBack?.value
                                                ?.deadlineValue > 20,
                                        'front-red':
                                            seccondLabelBack?.value
                                                ?.deadlineValue <= 20
                                    }"
                                    [style.width.%]="
                                        seccondLabelBack?.value?.deadlineValue
                                    "
                                ></div>
                            </div>
                        </ng-container>
                        <ng-container
                            *ngIf="seccondLabelBack?.value?.firstValueSvg"
                        >
                            <svg-icon
                                [src]="seccondLabelBack?.value?.firstValueSvg"
                            ></svg-icon>
                        </ng-container>
                        <span
                            [style]="seccondLabelBack?.value?.firstValueStyle"
                        >
                            {{ seccondLabelBack?.value?.firstValue }}
                        </span>
                        <svg-icon
                            [src]="seccondLabelBack?.value?.seccondValueSvg"
                        ></svg-icon>
                        <span [style]="seccondLabelBack?.value?.seccValueStyle">
                            {{ seccondLabelBack?.value?.seccondValue }}
                        </span>
                    </div>
                </div>
                <!-- Third item in back of the card -->
                <div class="item-body">
                    <div class="top-item-body">{{ thirdLabelBack?.title }}</div>
                    <div class="bottom-item-body d-flex align-items-center">
                        <!--Show only if deadline is required -->
                        <ng-container
                            *ngIf="
                                thirdLabelBack?.value?.deadline &&
                                seccondLabelBack?.value?.deadlineValue !== null
                            "
                        >
                            <div class="deadline-parent">
                                <div
                                    class="deadline-child-back"
                                    [ngClass]="{
                                        'back-gray':
                                            thirdLabelBack?.value
                                                ?.deadlineValue > 50,
                                        'back-yellow':
                                            thirdLabelBack?.value
                                                ?.deadlineValue <= 50 &&
                                            thirdLabelBack?.value
                                                ?.deadlineValue > 20,
                                        'back-red':
                                            thirdLabelBack?.value
                                                ?.deadlineValue <= 20
                                    }"
                                ></div>
                                <div
                                    class="deadline-child-front"
                                    [ngClass]="{
                                        'front-gray':
                                            thirdLabelBack?.value
                                                ?.deadlineValue > 50,
                                        'front-yellow':
                                            thirdLabelBack?.value
                                                ?.deadlineValue <= 50 &&
                                            thirdLabelBack?.value
                                                ?.deadlineValue > 20,
                                        'front-red':
                                            thirdLabelBack?.value
                                                ?.deadlineValue <= 20
                                    }"
                                    [style.width.%]="
                                        thirdLabelBack?.value?.deadlineValue
                                    "
                                ></div>
                            </div>
                        </ng-container>
                        <span [style]="thirdLabelBack?.value?.firstValueStyle">
                            {{ thirdLabelBack?.value?.firstValue }}
                        </span>
                    </div>
                </div>
                <!-- Fourth item in back of the card -->
                <div class="item-body">
                    <div class="top-item-body">
                        {{ fourthLabelBack?.title }}
                    </div>
                    <div class="bottom-item-body d-flex align-items-center">
                        <!--Show only if deadline is required -->
                        <ng-container
                            *ngIf="
                                fourthLabelBack?.value?.deadline &&
                                seccondLabelBack?.value?.deadlineValue !== null
                            "
                        >
                            <div class="deadline-parent">
                                <div
                                    class="deadline-child-back"
                                    [ngClass]="{
                                        'back-gray':
                                            fourthLabelBack?.value
                                                ?.deadlineValue > 50,
                                        'back-yellow':
                                            fourthLabelBack?.value
                                                ?.deadlineValue <= 50 &&
                                            fourthLabelBack?.value
                                                ?.deadlineValue > 20,
                                        'back-red':
                                            fourthLabelBack?.value
                                                ?.deadlineValue <= 20
                                    }"
                                ></div>
                                <div
                                    class="deadline-child-front"
                                    [ngClass]="{
                                        'front-gray':
                                            fourthLabelBack?.value
                                                ?.deadlineValue > 50,
                                        'front-yellow':
                                            fourthLabelBack?.value
                                                ?.deadlineValue <= 50 &&
                                            fourthLabelBack?.value
                                                ?.deadlineValue > 20,
                                        'front-red':
                                            fourthLabelBack?.value
                                                ?.deadlineValue <= 20
                                    }"
                                    [style.width.%]="
                                        fourthLabelBack?.value?.deadlineValue
                                    "
                                ></div>
                            </div>
                        </ng-container>
                        <span [style]="fourthLabelBack?.value?.firstValueStyle">
                            {{ fourthLabelBack?.value?.firstValue }}
                        </span>
                        <span
                            [style]="fourthLabelBack?.value?.seccValueStyle"
                            >{{ fourthLabelBack?.value?.seccValue }}</span
                        >
                    </div>
                </div>
            </div>
        </div>
        <!-- Right side of card -->
        <div class="card-body-right">
            <div class="top-side">
                <!-- Open dropdown element-->
                <div
                    class="right-side-svg d-flex align-items-center justify-content-center flex-column"
                    [ngClass]="
                        dropDownIsOpened === cardIndex && t1.isOpen()
                            ? 'active-item'
                            : ''
                    "
                >
                    <div
                        #t1="ngbPopover"
                        (click)="toggleDropdown(t1, cardIndex)"
                        [autoClose]="'outside'"
                        [ngbPopover]="dropdownPopover"
                        [placement]="'bottom-right'"
                        class="table-dropdown-container"
                        container="body"
                        popoverClass="table-dropdown-popover"
                        triggers="manual"
                        (hidden)="onRemoveClickEventListener()"
                    >
                        <svg-icon
                            class="dots"
                            [ngClass]="
                                dropDownIsOpened === cardIndex && t1.isOpen()
                                    ? 'rotate-dropdown-svg'
                                    : 'dropdown-svg-back'
                            "
                            [src]="
                                'assets/svg/common/ic_horizontal_dots_details.svg'
                            "
                        ></svg-icon>
                    </div>
                </div>
                <!-- Note element -->
                <div
                    class="right-side-svg d-flex align-items-center justify-content-center flex-column"
                >
                    <app-ta-note
                        [note]="card.note"
                        [mainData]="card"
                        [entityId]="card.id"
                        [openedAll]="false"
                        [parking]="false"
                    >
                    </app-ta-note>
                </div>
                <!-- Comments element -->
                <div
                    class="right-side-svg d-flex align-items-center justify-content-center flex-column"
                >
                    <span class="comment-number ta-font-semi-bold">{{
                        seccondLabelRightSide?.count
                    }}</span>
                    <svg-icon
                        class="comment"
                        [src]="seccondLabelRightSide?.svg"
                    ></svg-icon>
                    <svg-icon
                        *ngIf="seccondLabelRightSide?.count > 0"
                        class="notification"
                        [src]="'assets/svg/applicant/notification-light.svg'"
                    ></svg-icon>
                </div>
                <!-- Atachemnts element -->
                <div
                    class="right-side-svg d-flex align-items-center justify-content-center flex-column"
                    *ngIf="thirdLabelRightSide?.count > 0"
                >
                    <svg-icon [src]="thirdLabelRightSide?.svg"></svg-icon>
                    <span class="ta-font-bold">{{
                        thirdLabelRightSide?.count
                    }}</span>
                </div>
            </div>
            <!-- Expand element -->
            <div
                class="bottom-side d-flex justify-content-center"
                (click)="flipCard(cardIndex)"
            >
                <span
                    class="expand-card"
                    type="button"
                    ngbTooltip
                    mainTooltip="Expand Card"
                    tooltipBackground="#424242"
                    position="bottom"
                    [ngClass]="{
                        'rotate-svg': isCardFlipped.includes(cardIndex),
                        'svg-position': !isCardFlipped.includes(cardIndex)
                    }"
                >
                    <svg-icon
                        [src]="'assets/svg/common/resize-arrow.svg'"
                    ></svg-icon>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- Dropdown -->
<ng-template #dropdownPopover let-data="data">
    <div class="table-list-dropdown">
        <div
            class="table-list-dropdown-content-container"
            [ngClass]="{
                'table-list-dropdown-inner-dropdown-active':
                    action?.isInnerDropActive
            }"
            *ngFor="let action of data"
        >
            <!-- Action -->
            <div
                class="table-list-dropdown-content"
                (click)="
                    !action?.isDropdown
                        ? onDropAction(action)
                        : onShowInnerDropdown(action)
                "
                [ngClass]="{
                    'table-list-dropdown-content-muted': action.mutedStyle,
                    'table-list-dropdown-content-dropdown': action?.isDropdown,
                    'table-list-dropdown-content-dropdown-active':
                        action?.isInnerDropActive
                }"
                [ngStyle]="action?.tableListDropdownContentStyle"
            >
                <div class="table-list-dropdown-content-text">
                    {{ action?.title }}
                </div>
                <svg-icon
                    *ngIf="action?.svgUrl"
                    [class]="action?.svgClass"
                    class="table-list-dropdown-content-icon"
                    [ngClass]="{
                        'inner-dropdown-open': action?.isInnerDropActive
                    }"
                    [src]="action?.svgUrl"
                    [svgStyle]="{
                        'width.px': action?.svgStyle.width,
                        'height.px': action?.svgStyle.height
                    }"
                ></svg-icon>
            </div>

            <!-- Inner Dropdown -->
            <div
                class="table-list-inner-dropdown"
                [ngClass]="{
                    'table-list-inner-dropdown-active':
                        action?.isInnerDropActive
                }"
                [innerHtml]="
                    action?.innerDropElement ? action?.innerDropElement : null
                "
            ></div>

            <!-- Border -->
            <div
                class="table-list-dropdown-border-container"
                *ngIf="action?.hasBorder"
            >
                <div class="table-list-dropdown-border"></div>
            </div>
        </div>
    </div>
</ng-template>
