@import '/src/theme/variables.scss';
@import '/src/assets/scss/fonts.scss';
.custom-card {
    background: $white;
    max-width: 302px;
    border-radius: 3px;

    .body-active {
        background: $ta-light-grey;
    }

    .body-checked {
        background: $ta-light-grey;
    }
    // Main tag of card holding all elements with hover on it
    .card-body {
        padding: 4px;
        display: flex;
        justify-content: space-between;
        border-radius: 2px;

        &:hover {
            background: $ta-light-grey;
        }

        .card-body-left {
            width: 256px;

            .card-header {
                gap: 10px;

                .checkbox-holder {
                    .table-checkbox {
                        display: none;
                    }

                    .table-checkbox-label {
                        width: 14px;
                        height: 14px;
                        background-color: $ta-light-grey-6;
                        margin-bottom: 0;
                        border-radius: 2px;
                        cursor: pointer;
                    }

                    .table-checkbox:checked + .table-checkbox-label {
                        background-color: $ta-blue-14;
                        background-image: url('../../../../../assets/svg/truckassist-table/check-new.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: background-color 0.25s;
                    }
                }

                .name {
                    font-size: 14px;
                    line-height: 18px;
                    gap: 5px;
                    cursor: pointer;
                    span {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .title {
                        width: 224px;
                    }

                    &:hover {
                        color: $ta-blue-15;
                    }

                    .svg-ftl-ltl {
                        bottom: 1px;
                        position: relative;

                        svg {
                            width: 16px;
                            height: 16px;

                            path {
                                fill: $ta-blue-13;
                            }
                        }
                    }
                }
            }

            .flipped {
                display: none;
            }

            .card-body-content {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-top: 8px;

                .item-body {
                    height: 40px;

                    .top-item-body {
                        font-size: 11px;
                        font-weight: 700;
                        line-height: 20px;
                    }

                    .bottom-item-body {
                        font-size: 14px;
                        overflow: hidden;
                        line-height: 20px;
                        gap: 4px;

                        span {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: block;
                        }

                        svg {
                            path {
                                fill: $muted;
                            }
                        }

                        .card-svg {
                            bottom: 2px;
                            position: relative;
                        }
                    }
                }
            }
        }

        .card-body-right {
            height: 218px;
            display: flex;
            flex-direction: column;

            .top-side {
                height: 192px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                // Right side of card with svg's div holding svg
                .right-side-svg {
                    width: 26px;
                    height: 26px;
                    cursor: pointer;
                    position: relative;

                    svg {
                        path {
                            fill: $muted;
                        }
                    }

                    .dots {
                        svg {
                            width: 18px;
                            position: relative;
                            bottom: 1px;
                        }
                    }

                    .rotate-dropdown-svg {
                        svg {
                            transform: rotate(90deg);
                            transition: all 0.3s;
                        }
                    }

                    .dropdown-svg-back {
                        svg {
                            transform: rotate(0deg);
                            transition: all 0.3s;
                        }
                    }

                    .document {
                        svg {
                            height: 16px;
                            width: 14px;
                        }
                    }

                    .comment-number {
                        position: absolute;
                        color: $white;
                        font-size: 9px;
                    }

                    .comment {
                        svg {
                            width: 16px;
                        }
                    }

                    .notification {
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        top: -8px;
                        right: 4px;
                        svg {
                            path:first-child {
                                fill: $white;
                            }
                            path:nth-child(2) {
                                fill: $ta-red-2;
                            }
                        }
                    }

                    span {
                        color: $muted;
                        font-size: 11px;
                    }
                }

                .active-item {
                    background: $ta-black;
                    border-radius: 2px;
                    width: 26px;
                    height: 26px;
                    transition: all 0.3s;

                    .table-dropdown-container {
                        svg {
                            g {
                                path {
                                    fill: $bw-9;
                                }
                            }
                        }
                    }
                }
            }
            .bottom-side {
                width: 26px;
                height: 26px;
                cursor: pointer;

                .svg-position {
                    rotate: (0deg);
                }

                .rotate-svg {
                    rotate: (180deg);

                    svg {
                        path {
                            fill: $ta-blue-13;
                        }
                    }
                }
                .expand-card {
                    &:hover {
                        svg {
                            path {
                                fill: $ta-black;
                            }
                        }
                    }
                }
            }
        }
    }
}
