@import '/src/theme/variables.scss';

.ta-like-dislike {
    display: flex;
    gap: 2px;
    align-items: center;
    line-height: 18px;

    .ta-like-dislike-counter {
        width: 18px;
        height: 18px;
        border-radius: 2px;
        background-color: $ta-light-grey-4;
        min-width: 18px !important;
        margin: 0px !important;
        color: $muted;
        font-size: 11px;
        font-weight: 700;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .ta-like-svg,
    .ta-dislike-svg {
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            svg {
                path {
                    fill: $bw4;
                }
            }
        }

        &.liked {
            svg {
                path {
                    fill: $ta-green;
                }
            }
        }
        &.disliked {
            svg {
                path {
                    fill: $ta-red-10;
                }
            }
        }
    }

    //----------------   Below put your custom class ----------------
}
