.ta-like-dislike {
  display: flex;
  gap: 2px;
  align-items: center;
  line-height: 18px;

  .ta-like-dislike-counter {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background-color: #f3f3f3;
    min-width: 18px !important;
    margin: 0px !important;
    color: #919191;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ta-like-svg,
  .ta-dislike-svg {
    &:hover {
      transition: all 0.3s ease-in-out;
      svg {
        path {
          fill: #b7b7b7;
        }
      }
    }

    &.liked {
      svg {
        path {
          fill: #4db6a2;
        }
      }
    }
    &.disliked {
      svg {
        path {
          fill: #ef9a9a;
        }
      }
    }
  }

  //----------------   Below put your custom class ----------------
}
