<div
  class="scrollholder example-list dispatchboard-main-table"
  cdkDropList
  (cdkDropListDropped)="dropList($event)"
>
  <div class="inside-holder dispatch-new-main-holder">
    <table
      class="inside-table"
      [ngClass]="__isBoardLocked ? 'locked' : 'unlocked'"
    >
      <thead [class.hideVisibility]="dDataIndx > 0">
        <tr>
          <th class="theads truck-field abs">Truck</th>
          <th class="theads trailer-field abs">Trailer</th>
          <th class="theads driver-field">Driver</th>
          <th class="theads phoneemail-field">Phone or Email</th>
          <th class="theads location-field">Location</th>
          <th class="theads status-field">Status</th>
          <th class="theads pick-del-field">
            <div class="two-table-heads">
              <div>Pickup</div>
              <div>Delivery</div>
            </div>
          </th>
          <th class="theads empty-field"></th>
          <th class="theads empty-field"></th>
          <th class="theads empty-field"></th>
          <th class="theads note-field">Note</th>
          <th class="theads empty-field abs-right"></th>
          <th class="theads empty-field abs-right"></th>
          <th class="theads empty-field abs-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="item-holder example-box"
          *ngFor="let item of dData.dispatches; let rowIndex = index"
          [cdkDragDisabled]="__isBoardLocked || !item.truck"
          cdkDrag
          cdkDragLockAxis="y"
          cdkDragPreviewContainer="parent"
        >
          <td class="truck-field abs" cdkDragHandle>
            <div>
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="!item.truck && truckSelectOpened != rowIndex"
                [@boxAnimation]="
                  checkForEmpty == 'location'
                    ? !item.truck
                      ? 'void'
                      : 'filled'
                    : 'empty'
                "
                [class.empty-box-field]="__isBoardLocked && !item.truck"
              >
                <div class="drag-span-holder">
                  <span
                    *ngIf="item.truck !== null"
                    [class.hasColor]="item.truck.truckType"
                    [class.otherOpacityAdded]="statusOpenedIndex > -1"
                    [mainTooltip]="item.truck.truckType.name"
                    [tooltipBackground]="
                      '#' + ('truck' | colorFinder: item.truck.truckType.id)
                    "
                    ngbTooltip
                    position="top"
                    [ngClass]="
                      item.truck.truckType
                        ? 'truck_' +
                          ('truck' | colorFinder: item.truck.truckType.id)
                        : ''
                    "
                    class="drag-span"
                  >
                    <span
                      [innerHtml]="
                        item.truck.truckNumber | taHighlight: highlightingWords
                      "
                      class="select_span"
                    >
                    </span>
                    <!-- <span class="select_span description_item_span">{{item.truck.truckType.name}}</span> -->
                    <div
                      *ngIf="
                        item.truck !== null &&
                        !__isBoardLocked &&
                        item.pickup === null &&
                        item.delivery === null
                      "
                      [mainTooltip]="'remove'"
                      [tooltipBackground]="'#6C6C6C'"
                      ngbTooltip
                      position="right"
                      [ngClass]="
                        item.truck.truckType &&
                        'close_' +
                          ('truck' | colorFinder: item.truck.truckType.id)
                      "
                      class="dispatcher-close cursor-pointer"
                    >
                      <svg-icon
                        (click)="removeTruck(rowIndex)"
                        src="assets/svg/dispatchboard/close.svg"
                      >
                      </svg-icon>
                    </div>
                  </span>
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="truckSelectOpened == rowIndex"
                  >
                    <app-ta-input-dropdown
                      [template]="'dispatch'"
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-70',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="truckList"
                      (selectedItem)="
                        addTruck($event, item, truckDropdown, rowIndex)
                      "
                    ></app-ta-input-dropdown>
                  </div>
                </div>
              </div>
              <button
                (click)="showNextDropdown(rowIndex, truckDropdown)"
                *ngIf="
                  item.truck === null &&
                  !__isBoardLocked &&
                  !item.enterNewAddress &&
                  truckSelectOpened != rowIndex
                "
                [mainTooltip]="'Add Truck'"
                [tooltipBackground]="'#6C6C6C'"
                ngbTooltip
                [disabled]="!truckList.length"
                position="top"
                [ngClass]="item.id === null ? 'add-row' : ''"
                class="btn-transparent dispatch-bottom-add"
              >
                <svg-icon
                  appTooltip="Add Truck"
                  class="icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addTruck"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>
          </td>
          <td class="trailer-field abs">
            <div class="dispatch-list">
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="
                  !item.trailer && trailerSelectOpened != rowIndex
                "
                [@boxAnimation]="
                  checkForEmpty == 'trailerId'
                    ? !item.trailer
                      ? 'void'
                      : 'filled'
                    : 'empty'
                "
                [class.empty-box-field]="__isBoardLocked && !item.trailer"
              >
                <!-- <div
                  *cdkDragPlaceholder
                  [ngClass]="'trailer_' + item.trailerColor.toLowerCase()"
                  class="example-custom-placeholder"
                ></div> -->

                <div class="trailer_span_holder">
                  <span
                    *ngIf="item.trailer !== null"
                    [class.hasColor]="item.trailerColor"
                    [class.otherOpacityAdded]="statusOpenedIndex > -1"
                    [mainTooltip]="item.trailer.trailerType.name"
                    [tooltipBackground]="
                      '#' +
                      ('trailer' | colorFinder: item.trailer.trailerType.id)
                    "
                    ngbTooltip
                    position="top"
                    [ngClass]="
                      item.trailer.trailerType &&
                      'trailer_' +
                        ('trailer' | colorFinder: item.trailer.trailerType.id)
                    "
                    class="drag-span"
                  >
                    <span
                      [innerHtml]="
                        item.trailer.trailerNumber
                          | taHighlight: highlightingWords
                      "
                      [ngStyle]="{
                        color: statusOpenedIndex > -1 ? '' : '#919191'
                      }"
                      appSelectionColor
                      class="select_span"
                    >
                    </span>
                    <div
                      *ngIf="!__isBoardLocked"
                      [ngClass]="
                        item.trailer.trailerType &&
                        'close_' +
                          ('trailer' | colorFinder: item.trailer.trailerType.id)
                      "
                      [mainTooltip]="'remove'"
                      [tooltipBackground]="'#6C6C6C'"
                      ngbTooltip
                      position="right"
                      class="dispatcher-close cursor-pointer"
                    >
                      <svg-icon
                        (click)="removeTrailer(rowIndex)"
                        src="assets/svg/dispatchboard/close.svg"
                      >
                      </svg-icon>
                    </div>
                  </span>
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="trailerSelectOpened == rowIndex"
                  >
                    <app-ta-input-dropdown
                      [template]="'dispatch'"
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-92',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="trailerList"
                      (selectedItem)="
                        addTrailer(
                          $event,
                          item.id,
                          null,
                          null,
                          trailerDropdown,
                          rowIndex
                        )
                      "
                    ></app-ta-input-dropdown>
                  </div>
                </div>
              </div>
              <button
                (click)="showNextTrailerDropdown(rowIndex)"
                *ngIf="
                  item.trailer === null &&
                  !__isBoardLocked &&
                  trailerSelectOpened != rowIndex
                "
                [class.active]="trailerSelectOpened == rowIndex"
                [ngClass]="item.id === null ? 'add-row' : ''"
                class="btn-transparent dispatch-bottom-add"
                [disabled]="!trailerList.length"
                [mainTooltip]="'Add Trailer'"
                [tooltipBackground]="'#6C6C6C'"
                ngbTooltip
                position="top"
              >
                <svg-icon
                  appTooltip="Add Trailer"
                  class="icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addTrailer"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>
          </td>
          <td class="driver-field">
            <div
              class="dispatch-list"
              [class.multiple-drivers-list]="item.driver && item.coDriver"
            >
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="
                  !item.driver && driverSelectOpened != rowIndex
                "
                [class.multiple-drivers]="item.driver && item.coDriver"
                [@boxAnimation]="
                  checkForEmpty == 'driverId'
                    ? !item.driver
                      ? 'void'
                      : 'filled'
                    : 'empty'
                "
                [class.empty-box-field]="__isBoardLocked && !item.driver"
              >
                <div class="driver_span_holder">
                  <span
                    *ngIf="
                      item.driver !== null && driverSelectOpened != rowIndex
                    "
                    [class.statusOpened]="statusOpenedIndex > -1"
                    class="drag-span no-color"
                  >
                    <span
                      [innerHtml]="
                        item.driver.firstName + ' ' + item.driver.lastName
                          | taHighlight: highlightingWords
                      "
                      [ngStyle]="{
                        color: statusOpenedIndex > -1 ? '' : '#919191'
                      }"
                      appSelectionColor
                      class="select_span"
                    >
                    </span>

                    <div
                      *ngIf="
                        !__isBoardLocked &&
                        item.driver &&
                        !item.coDriver &&
                        driverList.length
                      "
                      class="dispatcher-close cursor-pointer dispatcher_new_codriver"
                      [mainTooltip]="'Add Co-Driver'"
                      [tooltipBackground]="'#6C6C6C'"
                      ngbTooltip
                      position="top"
                    >
                      <svg-icon
                        (click)="showNextDriverDropdown(rowIndex)"
                        src="assets/svg/dispatchboard/add.svg"
                      >
                      </svg-icon>
                    </div>
                    <div
                      *ngIf="!__isBoardLocked"
                      class="dispatcher-close cursor-pointer"
                      [mainTooltip]="'remove'"
                      [tooltipBackground]="'#6C6C6C'"
                      ngbTooltip
                      position="top"
                    >
                      <svg-icon
                        (click)="removeDriver(rowIndex)"
                        src="assets/svg/dispatchboard/close.svg"
                      >
                      </svg-icon>
                    </div>
                  </span>
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="driverSelectOpened == rowIndex"
                  >
                    <app-ta-input-dropdown
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-142',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="driverList"
                      (selectedItem)="
                        addDriver(
                          $event,
                          item.id,
                          null,
                          null,
                          driverDropdown,
                          rowIndex
                        )
                      "
                    ></app-ta-input-dropdown>
                  </div>
                </div>
                <div
                  *cdkDragPlaceholder
                  class="example-custom-placeholder"
                ></div>
              </div>

              <!-- Co Driver Field -->

              <div
                *ngIf="item.coDriver"
                class="dispacher-card dispatch-box"
                [class.empty_row]="
                  !item.coDriver && driverSelectOpened != rowIndex
                "
                [class.multiple-drivers]="item.driver && item.coDriver"
                [@boxAnimation]="
                  checkForEmpty == 'coDriver'
                    ? !item.coDriver
                      ? 'void'
                      : 'filled'
                    : 'empty'
                "
              >
                <div class="driver_span_holder">
                  <span
                    *ngIf="
                      item.driver !== null && driverSelectOpened != rowIndex
                    "
                    [class.statusOpened]="statusOpenedIndex > -1"
                    class="drag-span no-color"
                  >
                    <span
                      [innerHtml]="
                        item.coDriver.firstName + ' ' + item.coDriver.lastName
                          | taHighlight: highlightingWords
                      "
                      [ngStyle]="{
                        color: statusOpenedIndex > -1 ? '' : '#919191'
                      }"
                      appSelectionColor
                      class="select_span"
                    >
                    </span>

                    <div
                      *ngIf="!__isBoardLocked"
                      class="dispatcher-close cursor-pointer"
                      [mainTooltip]="'remove'"
                      [tooltipBackground]="'#6C6C6C'"
                      ngbTooltip
                      position="top"
                    >
                      <svg-icon
                        (click)="removeDriver(rowIndex)"
                        src="assets/svg/dispatchboard/close.svg"
                      >
                      </svg-icon>
                    </div>
                  </span>
                </div>
                <div
                  *cdkDragPlaceholder
                  class="example-custom-placeholder"
                ></div>
              </div>

              <!-- Co Driver Field End -->

              <button
                (click)="showNextDriverDropdown(rowIndex)"
                *ngIf="
                  item.driver === null &&
                  !__isBoardLocked &&
                  driverSelectOpened != rowIndex
                "
                [class.active]="driverSelectOpened == rowIndex"
                [ngClass]="item.id === null ? 'add-row' : ''"
                class="btn-transparent dispatch-bottom-add"
                [disabled]="!driverList.length"
                [mainTooltip]="'Add Driver'"
                [tooltipBackground]="'#6C6C6C'"
                ngbTooltip
                position="top"
              >
                <svg-icon
                  appTooltip="Add Driver"
                  class="driverItem icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addDriver"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>
          </td>
          <td class="phoneemail-field">
            <div
              class="phone-em-hold"
              [class.empty-box-field]="!item.email"
              [@boxAnimation]="
                checkForEmpty == 'driverId'
                  ? !item.email
                    ? 'void'
                    : 'filled'
                  : 'empty'
              "
            >
              <div
                *ngIf="item.driver"
                [class.statusOpened]="statusOpenedIndex > -1"
                class="phone-email-col d-flex"
              >
                <div [class.hidden]="item.isPhone" class="phone-text">
                  <span
                    (click)="copy($event)"
                    [innerHtml]="
                      (item.phone
                        ? (item.phone | mask: '(000) 000-0000')
                        : 'no phone'
                      ) | taHighlight: highlightingWords
                    "
                    [ngStyle]="{
                      color: statusOpenedIndex > -1 ? '' : '#919191'
                    }"
                    appSelectionColor
                    class="select_span"
                  >
                  </span>
                </div>
                <div class="phone-email-copy-text">COPIED</div>
                <div [class.hidden]="!item.isPhone" class="email-text">
                  <span
                    (click)="copy($event)"
                    [innerHtml]="
                      (item.email ? item.email : 'no email')
                        | taHighlight: highlightingWords
                    "
                    [ngStyle]="{
                      color: statusOpenedIndex > -1 ? '' : '#919191'
                    }"
                    appSelectionColor
                    class="select_span"
                  >
                  </span>
                </div>
                <div class="phone-email-copy-text">COPIED</div>
                <button
                  (click)="hoverPhoneEmailMain(rowIndex)"
                  class="button-switch-email-phone"
                  [mainTooltip]="
                    'Switch to ' + (item.isPhone ? 'phone' : 'email') + ''
                  "
                  [tooltipBackground]="'#919191'"
                  ngbTooltip
                  position="bottom"
                >
                  <svg-icon
                    src="assets/svg/dispatchboard/switch.svg"
                  ></svg-icon>
                </button>
              </div>
            </div>
          </td>
          <td class="location-field">
            <app-ta-input-address
              *ngIf="showAddAddressField == rowIndex"
              [formControl]="truckAddress"
              [inputConfig]="{
                name: 'Address',
                type: 'text',
                label: 'Truck Address',
                isRequired: true,
                placeholderIcon: 'address',
                textTransform: 'capitalize',
                incorrectInput: selectedMode === 'REVIEW_MODE',
                minLength: 12,
                maxLength: 256,
                autoFocus: true,
                placeholderInsteadOfLabel: true
              }"
              [incorrectValue]="false"
              (incorrectEvent)="incorrectInput($event, 0, 18)"
              [activeAddress]="selectedAddress"
              (selectedAddress)="handleInputSelect($event, 'ADDRESS')"
            ></app-ta-input-address>
            <div
              class="full-loc-hold"
              *ngIf="showAddAddressField != rowIndex"
              [@boxAnimation]="
                checkForEmpty == 'location'
                  ? !item.location.address
                    ? 'void'
                    : 'filled'
                  : 'empty'
              "
              [class.empty-box-field]="!item.location.address"
            >
              <span
                [class.statusOpened]="statusOpenedIndex > -1"
                class="full_location_name"
                ><span
                  *ngIf="
                    item.location.address !== null && !item.enterNewAddress
                  "
                  [innerHtml]="
                    item.location.city + ', ' + item.location.stateShortName
                      | taHighlight: highlightingWords
                  "
                  [ngStyle]="{ color: statusOpenedIndex > -1 ? '' : '#919191' }"
                  appSelectionColor
                ></span>
              </span>
            </div>
          </td>
          <td class="status-field">
            <div class="dispatcher-table-cell-container empty-box-field">
              <div
                class="dispatcher-table-cell-holder main_status_switch_holder"
              >
                <app-ta-status-switch
                  *ngIf="item.driver && item.trailer && item.location.address"
                  (changeStatus)="addStatus($event)"
                  (openIndex)="openIndex($event)"
                  [openedStatus]="statusOpenedIndex"
                  [dispatchboardId]="item.id"
                  [statusHeight]="32"
                  [status]="item.status"
                  [possibleNextStatuses]="item.possibleNextStatuses"
                  [statusMainIndex]="rowIndex"
                  [statusTypes]="'dispatch'"
                  [withStatusAgo]="true"
                ></app-ta-status-switch>
              </div>
            </div>
          </td>
          <td class="pick-del-field">
            <div
              class="customTabsDispatchHold left"
              [class.empty-box-field]="!item.activeLoad"
            >
              <div
                *ngIf="item.activeLoad"
                (mouseleave)="pickDeliveryHovered[rowIndex] = false"
                (mouseover)="pickDeliveryHovered[rowIndex] = true"
                [class.active]="loadOpenedIndx == rowIndex"
                [class.hovered]="
                  pickDeliveryHovered[rowIndex] && statusOpenedIndex == -1
                "
                [class.statusOpened]="statusOpenedIndex > -1"
                class="customTabsDispatch left pickup-data"
              >
                <div
                  *ngIf="item.activeLoad.pickupCount"
                  class="load-count no-back"
                >
                  <svg-icon
                    *ngIf="item.activeLoad.pickupCount < 10"
                    src="assets/svg/svg_numbers/olddash/svg_num_box_{{
                      item.activeLoad.pickupCount
                    }}.svg"
                  ></svg-icon>
                  <svg-icon
                    *ngIf="item.activeLoad.pickupCount > 9"
                    name="svg_num_over"
                  ></svg-icon>
                </div>
                <div
                  *ngIf="item.pickup !== null"
                  class="text-ellipsis dispatch-pickup-delivery"
                >
                  <app-load-routes
                    (openedRoutes)="openedRoutes($event)"
                    [dataId]="item.id"
                    [itemIndx]="rowIndex"
                  >
                    <span
                      [ngStyle]="{
                        color: statusOpenedIndex > -1 ? '' : '#919191'
                      }"
                      appSelectionColor
                      class="select_span"
                    >
                      <div class="pick-del-location">
                        {{
                          item.activeLoad.pickup.shipper.address.city +
                            ", " +
                            item.activeLoad.pickup.shipper.address.state
                        }}
                      </div>

                      <div class="time_info">
                        <div>05/09/21</div>
                        <div>7:10PM</div>
                      </div>
                    </span>
                  </app-load-routes>
                </div>
              </div>
              <div class="customTabsDispatchHold right" *ngIf="item.activeLoad">
                <div
                  (mouseleave)="pickDeliveryHovered[rowIndex] = false"
                  (mouseover)="pickDeliveryHovered[rowIndex] = true"
                  *ngIf="item.truck && item.driver"
                  [class.active]="loadOpenedIndx == rowIndex"
                  [class.hovered]="
                    pickDeliveryHovered[rowIndex] && statusOpenedIndex == -1
                  "
                  [class.statusOpened]="statusOpenedIndex > -1"
                  class="customTabsDispatch right destination-data"
                >
                  <div
                    *ngIf="item.activeLoad.deliveryCount"
                    class="load-count no-back"
                  >
                    <svg-icon
                      *ngIf="item.activeLoad.deliveryCount < 10"
                      src="assets/svg/svg_numbers/olddash/svg_num_box_{{
                        item.activeLoad.deliveryCount
                      }}.svg"
                    ></svg-icon>
                    <svg-icon
                      *ngIf="item.activeLoad.deliveryCount > 9"
                      name="svg_num_over"
                    ></svg-icon>
                  </div>
                  <div
                    *ngIf="item.delivery !== null"
                    class="text-ellipsis dispatch-pickup-delivery with-line-heights"
                  >
                    <span class="cursor-pointer">
                      <span
                        [ngStyle]="{
                          color: statusOpenedIndex > -1 ? '' : '#919191'
                        }"
                        appSelectionColor
                        class="select_span"
                      >
                        <div class="pick-del-location">
                          {{
                            item.activeLoad.delivery.shipper.address.city +
                              ", " +
                              item.activeLoad.delivery.shipper.address.state
                          }}
                        </div>
                        <div class="time_info">
                          <div>05/09/21</div>
                          <div>7:10PM</div>
                        </div>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class="empty-field">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="empty-field">
            <div
              #t1="ngbPopover"
              (click)="toggleHos(t1, item.hoursOfService, item.id)"
              (hidden)="
                saveHosData(item.hoursOfService, item.driverId, item.id)
              "
              [class.statusOpened]="statusOpenedIndex > -1"
              [class.empty-box-field]="true"
              [ngClass]="
                (item.hoursOfService?.hos)[item.hoursOfService.hos.length - 1]
                  ?.flag === 'on'
                  ? 'active-flag'
                  : 'inactive-flag'
              "
              [ngbPopover]="hos"
              autoClose="outside"
              class="hos-column"
              placement="bottom"
              triggers="manual"
            >
              <!-- <span
                  *ngIf="item.driverName !== null && !item.isEmpty"
                  [ngClass]="
                    (item.hosJson?.hos)[item.hosJson.hos.length - 1]?.flag === 'on'
                      ? 'active_hos'
                      : 'innactive_hos'
                  "
                  appTooltip="HOS"
                  class="hos_span"
                  position="bottom-right"
                  tooltipBackground="#919191"
                >
                  <span>{{
                    (item.hosJson !== null ? item.hosJson?.hos : []) | hosTime
                    }}</span>
                  <svg-icon
                    name="{{
                      (item.hosJson?.hos)[item.hosJson.hos.length - 1]?.flag === 'on'
                        ? 'hosactive'
                        : 'hosinactive'
                    }}"
                  ></svg-icon>
                </span> -->
            </div>
          </td>
          <td class="empty-field">
            <div
              class="initials_wrapper_main_hold"
              [class.empty-box-field]="!item.driver"
            >
              <app-profile-images
                *ngIf="item.driver"
                [indx]="index"
                [name]="item.driver.firstName + ' ' + item.driver.lastName"
                [size]="'small'"
                [type]="'user'"
              >
              </app-profile-images>

              <!-- (item.driver.firstName + ' ' + item.driver.lastName) -->
              <!-- <div
                (mouseleave)="showAvatar[rowIndex] = false"
                (mouseover)="showAvatar[rowIndex] = true"
                [class.statusOpened]="statusOpenedIndex > -1"
                class="dispatcher-initials-wrapper innactive_wrapper"
              >
                <span *ngIf="!showAvatar[rowIndex]" @iconAnimation>{{
                  item.dispatcherName | nameInitials
                }}</span>
                <img
                  alt="main-avatar"
                  *ngIf="showAvatar[rowIndex]"
                  @iconAnimation
                  [src]="
                    item.dispatcherAvatar
                      ? item.dispatcherAvatar
                      : 'assets/img/svgs/main-avatar.svg'
                  "
                />
              </div> -->
            </div>
          </td>
          <td class="note-field">
            <div
              class="dispatcher-table-cell-container note-container"
              [class.empty-box-field]="!item.note"
              [@boxAnimation]="
                checkForEmpty == 'note'
                  ? !item.note
                    ? 'void'
                    : 'filled'
                  : 'empty'
              "
            >
              <!-- <div class="dispatcher-table-cell-holder">7532</div> -->
              <app-ta-note
                [note]="item.note"
                [openedAll]="true"
                [dispatchIndex]="rowIndex"
                [parking]="false"
                [noteWidth]="258"
                (saveNoteValue)="saveNoteValue($event)"
              >
              </app-ta-note>
            </div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field">
              <div
                *ngIf="item.driver && item.truck"
                class="new_load_dispatch_hold"
              >
                <button
                  [mainTooltip]="'Assign load'"
                  [tooltipBackground]="'#6C6C6C'"
                  ngbTooltip
                  position="top"
                  class="btn-transparent new_load_dispatch"
                >
                  <svg-icon
                    class="icon-hover-blue-16"
                    src="assets/svg/common/ic_plus.svg"
                  >
                  </svg-icon>
                </button>
              </div>
            </div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field">
              <!-- <div class="dispatcher-table-cell-holder "></div> -->
            </div>
          </td>
        </tr>

        <tr *ngIf="!__isBoardLocked">
          <td class="truck-field abs">
            <div>
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="truckSelectOpened != -2"
                [class.empty-box-field]="__isBoardLocked"
              >
                <div class="drag-span-holder">
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="truckSelectOpened == -2"
                  >
                    <app-ta-input-dropdown
                      [template]="'dispatch'"
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-70',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="truckList"
                      (selectedItem)="addTruck($event, -1, truckDropdown, -2)"
                    ></app-ta-input-dropdown>
                  </div>
                </div>
              </div>
              <button
                (click)="showNextDropdown(-2, truckDropdown)"
                *ngIf="!__isBoardLocked && truckSelectOpened != -2"
                class="btn-transparent dispatch-bottom-add"
                [disabled]="!truckList.length"
                [mainTooltip]="'Add Truck'"
                [tooltipBackground]="'#6C6C6C'"
                ngbTooltip
                position="top"
              >
                <svg-icon
                  appTooltip="Add Truck"
                  class="icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addTruck"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>
          </td>

          <td class="trailer-field abs">
            <div class="dispatch-list">
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="trailerSelectOpened != -2"
                [class.empty-box-field]="__isBoardLocked"
              >
                <div class="trailer_span_holder">
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="trailerSelectOpened == -2"
                  >
                    <app-ta-input-dropdown
                      [template]="'dispatch'"
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-92',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="trailerList"
                      (selectedItem)="
                        addTrailer($event, -2, null, null, trailerDropdown, -2)
                      "
                    ></app-ta-input-dropdown>
                  </div>
                </div>
              </div>
              <button
                (click)="showNextTrailerDropdown(-2)"
                *ngIf="!__isBoardLocked && trailerSelectOpened != -2"
                [class.active]="trailerSelectOpened == -2"
                class="btn-transparent dispatch-bottom-add"
                [mainTooltip]="'Add Trailer'"
                [tooltipBackground]="'#6C6C6C'"
                [disabled]="!trailerList.length"
                ngbTooltip
                position="top"
              >
                <svg-icon
                  appTooltip="Add Trailer"
                  class="icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addTrailer"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>
          </td>
          <td class="driver-field">
            <div class="dispatch-list">
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="driverSelectOpened != -2"
                [class.empty-box-field]="__isBoardLocked"
              >
                <div class="driver_span_holder">
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="driverSelectOpened == -2"
                  >
                    <app-ta-input-dropdown
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-142',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="driverList"
                      (selectedItem)="
                        addDriver($event, -1, null, null, driverDropdown, -2)
                      "
                    ></app-ta-input-dropdown>
                  </div>
                </div>
                <div
                  *cdkDragPlaceholder
                  class="example-custom-placeholder"
                ></div>
              </div>
              <button
                (click)="showNextDriverDropdown(-2)"
                *ngIf="!__isBoardLocked && driverSelectOpened != -2"
                [class.active]="driverSelectOpened == -2"
                class="btn-transparent dispatch-bottom-add"
                [mainTooltip]="'Add Driver'"
                [disabled]="!driverList.length"
                [tooltipBackground]="'#6C6C6C'"
                ngbTooltip
                position="top"
              >
                <svg-icon
                  appTooltip="Add Driver"
                  class="driverItem icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addDriver"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>
          </td>
          <td class="phoneemail-field">
            <div class="phone-em-hold empty-box-field"></div>
          </td>
          <td class="location-field">
            <div class="full-loc-hold empty-box-field">
              <app-ta-input-address
                *ngIf="showAddAddressField == -2"
                [formControl]="truckAddress"
                [inputConfig]="{
                  name: 'Address',
                  type: 'text',
                  label: 'Truck Address',
                  isRequired: true,
                  placeholderIcon: 'address',
                  textTransform: 'capitalize',
                  incorrectInput: selectedMode === 'REVIEW_MODE',
                  minLength: 12,
                  maxLength: 256,
                  autoFocus: true,
                  placeholderInsteadOfLabel: true
                }"
                [incorrectValue]="false"
                (incorrectEvent)="incorrectInput($event, 0, 18)"
                [activeAddress]="selectedAddress"
                (selectedAddress)="handleInputSelect($event, 'ADDRESS')"
              ></app-ta-input-address>
            </div>
          </td>
          <td class="status-field">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="pick-del-field">
            <div class="customTabsDispatchHold left empty-box-field"></div>
          </td>
          <td class="empty-field">
            <div class="initials_wrapper_main_hold empty-box-field"></div>
          </td>
          <td class="empty-field">
            <div class="initials_wrapper_main_hold empty-box-field"></div>
          </td>
          <td class="empty-field">
            <div class="initials_wrapper_main_hold empty-box-field"></div>
          </td>
          <td class="note-field">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="k-grid-toolbar d-flex">
    <div class="toolbar-container item_dispatch_head">
      <div class="board_infos">
        <div appSelectionColor class="board_infos_count" style="color: #919191">
          {{ dData.truckCount }}
          <span
            [innerHTML]="dData.truckCount == 1 ? 'TRUCK' : 'TRUCKS'"
            appSelectionColor
            style="color: #919191"
          ></span>
        </div>
        <div appSelectionColor class="board_infos_count" style="color: #919191">
          {{ dData.trailerCount }}
          <span
            [innerHTML]="dData.trailerCount == 1 ? 'TRAILER' : 'TRAILERS'"
            appSelectionColor
            style="color: #919191"
          ></span>
        </div>
        <div appSelectionColor class="board_infos_count" style="color: #919191">
          {{ dData.driverCount }}
          <span
            [innerHTML]="dData.driverCount == 1 ? 'DRIVER' : 'DRIVERS'"
            appSelectionColor
            style="color: #919191"
          ></span>
        </div>
      </div>
      <div
        appSelectionColor
        class="board_name"
        style="color: #919191"
        [innerHTML]="
          dData.dispatcher ? dData.dispatcher.fullName : 'Team Board'
        "
      ></div>
    </div>
  </div>
</div>

<!-- Popover for HOS -->
<ng-template #hos let-data="value.data.hos" let-id="value.id">
  <div class="slider-wrapper">
    <div class="time-ruler">
      <div
        *ngFor="let item of [].constructor(23); let i = index"
        class="d-flex"
      >
        <div [ngClass]="i === 11 ? ' noon-mark' : ''" class="hour-mark"></div>
      </div>
    </div>
    <div
      #firstList="cdkDropList"
      (cdkDropListDropped)="dropHosList($event, data, id)"
      [cdkDropListConnectedTo]="[secondList]"
      [cdkDropListData]="this.returnListData(data, 'off')"
      cdkDropList
      class="inactive-parent-wrapper"
    >
      <div
        *ngFor="let item of data; let i = index"
        class="item-container inactive-parent"
      >
        <div *ngIf="item?.flag === 'off'" class="individual-item">
          <div>
            <div
              [ngClass]="item?.flag === 'off' ? 'inactive' : 'active'"
              cdkDrag
              cdkDragBoundary=".slider-wrapper"
              cdkDragLockAxis="y"
              cdkDragRootElement=".individual-item"
              class="value-container"
              id="{{ returnValueId(i) }}"
            >
              <span cdkDragHandle style="cursor: grab">
                {{ formatTime(item.start, item.end) }}
              </span>
            </div>
            <!-- <ng5-slider
              (userChange)="userChangeEnd($event, i, data)"
              [(highValue)]="item.end"
              [(value)]="item.start"
              [ngClass]="i + ' inactive-wrapper-slider'"
              [options]="options"
            ></ng5-slider> -->

            <app-ta-ngx-slider
              [sliderTemplate]="'hos-change'"
              [sliderOptions]="options"
              [startedValue]="item.start"
              [customClass]="i + ' inactive-wrapper-slider'"
              (onUserValueChange)="userChangeEnd($event, i, data)"
            ></app-ta-ngx-slider>
          </div>
          <div class="button-wrapper" id="{{ returnButtonId(i) }}">
            <span
              (click)="addHOS(data, 'on')"
              *ngIf="data.length < 3 && !data[i + 1]"
              class="add-item-button active-button"
            ></span>
            <span
              (click)="removeHOS(data, i)"
              *ngIf="data.length > 1 && data.length === i + 1"
              class="remove-item"
            ></span>
          </div>
        </div>
      </div>
    </div>
    <div
      #secondList="cdkDropList"
      (cdkDropListDropped)="dropHosList($event, data, id)"
      [cdkDropListConnectedTo]="[firstList]"
      [cdkDropListData]="this.returnListData(data, 'on')"
      cdkDropList
      class="active-parent-wrapper"
    >
      <div
        *ngFor="let item of data; let i = index"
        class="item-container active-parent"
      >
        <div *ngIf="item?.flag === 'on'" class="individual-item">
          <div>
            <div
              [ngClass]="item?.flag === 'off' ? 'inactive' : 'active'"
              cdkDrag
              cdkDragBoundary=".slider-wrapper"
              cdkDragHandle
              cdkDragLockAxis="y"
              cdkDragRootElement=".individual-item"
              class="value-container"
              id="{{ returnValueId(i) }}"
            >
              <span cdkDragHandle style="cursor: grab">
                {{ formatTime(item.start, item.end) }}
              </span>
            </div>
            <ng5-slider
              (userChange)="userChangeEnd($event, i, data)"
              [(highValue)]="item.end"
              [(value)]="item.start"
              [ngClass]="'active-wrapper-slider'"
              [options]="options"
            ></ng5-slider>
          </div>
          <div class="button-wrapper" id="{{ returnButtonId(i) }}">
            <span
              (click)="addHOS(data, 'off')"
              *ngIf="data.length < 3 && !data[i + 1]"
              class="add-item-button inactive-button"
            ></span>
            <span
              (click)="removeHOS(data, i)"
              *ngIf="data.length > 1 && data.length === i + 1"
              class="remove-item"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
