<div
  class="scrollholder example-list dispatchboard-main-table"
  cdkDropList
  (cdkDropListDropped)="dropList($event)"
>
  <div class="inside-holder dispatch-new-main-holder">
    <table
      class="inside-table"
      [ngClass]="__isBoardLocked ? 'locked' : 'unlocked'"
    >
      <thead [class.hideVisibility]="dDataIndx > 0">
        <tr>
          <th class="theads truck-field abs">Truck</th>
          <th class="theads trailer-field abs">Trailer</th>
          <th class="theads driver-field">Driver</th>
          <th class="theads phoneemail-field">Phone or Email</th>
          <th class="theads location-field">Location</th>
          <th class="theads status-field">Status</th>
          <th class="theads pick-del-field">
            <div class="two-table-heads">
              <div>Pickup</div>
              <div>Delivery</div>
            </div>
          </th>
          <th class="theads empty-field"></th>
          <th class="theads empty-field"></th>
          <th class="theads empty-field"></th>
          <th class="theads note-field">Note</th>
          <th class="theads empty-field abs-right"></th>
          <th class="theads empty-field abs-right"></th>
          <th class="theads empty-field abs-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="item-holder example-box"
          *ngFor="let item of dData.dispatches; let rowIndex = index"
          [cdkDragDisabled]="__isBoardLocked|| !item.truck"
          cdkDrag
          cdkDragLockAxis="y"
          cdkDragPreviewContainer="parent"
        >
          <td class="truck-field abs" cdkDragHandle>
            <div>
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="!item.truck && truckSelectOpened != rowIndex"
                [@boxAnimation]="checkForEmpty == 'location' ? (!item.truck ? 'void' : 'filled') : 'empty'"
                [class.empty-box-field]="__isBoardLocked && !item.truck"
              >
                <div class="drag-span-holder">
                  <span
                    *ngIf="item.truck !== null"
                    [class.hasColor]="item.truck.truckColor"
                    [class.otherOpacityAdded]="statusOpenedIndex > -1"
                    [ngClass]="
                      item.truck.truckColor
                        ? 'truck_' + item.truck.truckColor.toLowerCase()
                        : ''
                    "
                    class="drag-span"
                  >
                    <span
                      [innerHtml]="
                        item.truck.truckNumber | taHighlight: highlightingWords
                      "
                      class="select_span"
                    >
                    </span>
                    <div
                      *ngIf="
                        item.truck !== null &&
                        !__isBoardLocked &&
                        item.pickup === null &&
                        item.delivery === null
                      "
                      [ngClass]="
                        item.truck.truckColor &&
                        'close_' + item.truck.truckColor.toLowerCase()
                      "
                      class="dispatcher-close cursor-pointer"
                    >
                      <svg-icon
                        (click)="updateTruck(undefined, item.truck)"
                        src="assets/svg/dispatchboard/close.svg"
                      >
                      </svg-icon>
                    </div>
                  </span>
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="truckSelectOpened == rowIndex"
                  >
                    <app-ta-input-dropdown
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-70',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="truckList"
                      (selectedItem)="
                        addTruck($event, item, truckDropdown, rowIndex)
                      "
                    ></app-ta-input-dropdown>
                  </div>
                </div>
              </div>
              <button
                (click)="showNextDropdown(rowIndex, truckDropdown)"
                *ngIf="
                  item.truck === null &&
                  !__isBoardLocked &&
                  !item.enterNewAddress &&
                  truckSelectOpened != rowIndex
                "
                [ngClass]="item.id === null ? 'add-row' : ''"
                class="btn-transparent dispatch-bottom-add"
              >
                <svg-icon
                  appTooltip="Add Truck"
                  class="icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addTruck"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>
          </td>
          <td class="trailer-field abs">
            <div class="dispatch-list">
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="
                  !item.trailer && trailerSelectOpened != rowIndex
                "
                [@boxAnimation]="checkForEmpty == 'trailerId' ? (!item.trailer ? 'void' : 'filled') : 'empty'"
                [class.empty-box-field]="__isBoardLocked && !item.trailer"
              >
              
                <!-- <div
                  *cdkDragPlaceholder
                  [ngClass]="'trailer_' + item.trailerColor.toLowerCase()"
                  class="example-custom-placeholder"
                ></div> -->

                <div class="trailer_span_holder">
                  <span
                    *ngIf="item.trailer !== null"
                    [class.hasColor]="item.trailerColor"
                    [class.otherOpacityAdded]="statusOpenedIndex > -1"
                    [ngClass]="
                      item.trailer.trailerColor &&
                      'trailer_' + item.trailer.trailerColor.toLowerCase()
                    "
                    class="drag-span"
                  >
                    <span
                      [innerHtml]="
                        item.trailer.trailerNumber
                          | taHighlight: highlightingWords
                      "
                      [ngStyle]="{
                        color: statusOpenedIndex > -1 ? '' : '#919191'
                      }"
                      appSelectionColor
                      class="select_span"
                    >
                    </span>
                    <div
                      *ngIf="!__isBoardLocked"
                      [ngClass]="
                        item.trailer.trailerColor &&
                        'close_' + item.trailer.trailerColor.toLowerCase()
                      "
                      class="dispatcher-close cursor-pointer"
                    >
                      <svg-icon
                        (click)="updateTrailer(undefined, item.trailer)"
                        src="assets/svg/dispatchboard/close.svg"
                      >
                      </svg-icon>
                    </div>
                  </span>
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="trailerSelectOpened == rowIndex"
                  >
                    <app-ta-input-dropdown
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-92',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="trailerList"
                      (selectedItem)="
                        addTrailer(
                          $event,
                          item.id,
                          null,
                          null,
                          trailerDropdown,
                          rowIndex
                        )
                      "
                    ></app-ta-input-dropdown>
                  </div>
                </div>
              </div>
              <button
                (click)="showNextTrailerDropdown(rowIndex)"
                *ngIf="
                  item.trailer === null &&
                  !__isBoardLocked &&
                  trailerSelectOpened != rowIndex
                "
                [class.active]="trailerSelectOpened == rowIndex"
                [ngClass]="item.id === null ? 'add-row' : ''"
                class="btn-transparent dispatch-bottom-add"
              >
                <svg-icon
                  appTooltip="Add Trailer"
                  class="icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addTrailer"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>
          </td>
          <td class="driver-field">
            <div class="dispatch-list">
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="
                  !item.driver && driverSelectOpened != rowIndex
                "
                [@boxAnimation]="checkForEmpty == 'driverId' ? (!item.driver ? 'void' : 'filled') : 'empty'"
                [class.empty-box-field]="__isBoardLocked && !item.driver"
              >
                <div class="driver_span_holder">
                  <span
                    *ngIf="item.driver !== null"
                    [class.statusOpened]="statusOpenedIndex > -1"
                    class="drag-span no-color"
                  >
                    <span
                      [innerHtml]="
                        (item.driver.firstName + ' ' + item.driver.lastName) | taHighlight: highlightingWords
                      "
                      [ngStyle]="{
                        color: statusOpenedIndex > -1 ? '' : '#919191'
                      }"
                      appSelectionColor
                      class="select_span"
                    >
                    </span>

                    <div
                      *ngIf="!__isBoardLocked"
                      class="dispatcher-close cursor-pointer"
                    >
                      <svg-icon
                        (click)="updateDriver(undefined, item)"
                        src="assets/svg/dispatchboard/close.svg"
                      >
                      </svg-icon>
                    </div>
                  </span>
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="driverSelectOpened == rowIndex"
                  >
                    <app-ta-input-dropdown
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-142',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="driverList"
                      (selectedItem)="
                        addDriver(
                          $event,
                          item.id,
                          null,
                          null,
                          driverDropdown,
                          rowIndex
                        )
                      "
                    ></app-ta-input-dropdown>
                  </div>
                </div>
                <div
                  *cdkDragPlaceholder
                  class="example-custom-placeholder"
                ></div>
              </div>
              <button
                (click)="showNextDriverDropdown(rowIndex)"
                *ngIf="
                  item.driver === null &&
                  !__isBoardLocked &&
                  driverSelectOpened != rowIndex
                "
                [class.active]="driverSelectOpened == rowIndex"
                [ngClass]="item.id === null ? 'add-row' : ''"
                class="btn-transparent dispatch-bottom-add"
              >
                <svg-icon
                  appTooltip="Add Driver"
                  class="driverItem icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addDriver"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>
          </td>
          <td class="phoneemail-field">
            <div class="phone-em-hold"
            [class.empty-box-field]="!item.email"
            [@boxAnimation]="checkForEmpty == 'driverId' ? (!item.email ? 'void' : 'filled') : 'empty'"
            >
              <div
                *ngIf="item.driver"
                [class.statusOpened]="statusOpenedIndex > -1"
                class="phone-email-col d-flex"
              >
                <div [class.hidden]="item.isPhone" class="phone-text">
                  <span
                    (click)="copy($event)"
                    [innerHtml]="
                      (item.phone
                        ? (item.phone | mask: '(000) 000-0000')
                        : 'no phone'
                      ) | taHighlight: highlightingWords
                    "
                    [ngStyle]="{
                      color: statusOpenedIndex > -1 ? '' : '#919191'
                    }"
                    appSelectionColor
                    class="select_span"
                  >
                  </span>
                </div>
                <div class="phone-email-copy-text">COPIED</div>
                <div [class.hidden]="!item.isPhone" class="email-text">
                  <span
                    (click)="copy($event)"
                    [innerHtml]="
                      (item.email ? item.email : 'no email')
                        | taHighlight: highlightingWords
                    "
                    [ngStyle]="{
                      color: statusOpenedIndex > -1 ? '' : '#919191'
                    }"
                    appSelectionColor
                    class="select_span"
                  >
                  </span>
                </div>
                <div class="phone-email-copy-text">COPIED</div>
                <button
                  (click)="hoverPhoneEmailMain(rowIndex)"
                  appTooltip="Switch to {{ item.isPhone ? 'phone' : 'email' }}"
                  class="button-switch-email-phone"
                  position="bottom-right"
                  tooltipBackground="#919191"
                >
                  <svg-icon
                    src="assets/svg/dispatchboard/switch.svg"
                  ></svg-icon>
                </button>
              </div>
            </div>
          </td>
          <td class="location-field">
            <!-- <div
              #t2="ngbPopover"
              *ngIf="item.enterNewAddress"
              [ngbPopover]="pacContainer"
              [placement]="['bottom', 'top']"
              autoClose="outside"
              class="form-label-group input-icon table-address-field address-field-wrapper"
              triggers="manual"
            >
              <input
                #newLocationField
                #placesRef="ngx-places"
                (blur)="locationChangeBlur(rowIndex)"
                (focus)="showPacContainer($event)"
                (onAddressChange)="handleAddressChange($event)"
                [(ngModel)]="stopLocationAddress"
                [options]="addressOption"
                appInputFocus
                class="form-control input-control required"
                ngx-google-places-autocomplete
                placeholder="Address, City, State Zip"
                required
              />
            </div> -->
            <app-ta-input-address
              *ngIf="showAddAddressField == rowIndex"
              [formControl]="truckAddress"
              [inputConfig]="{
                name: 'Address',
                type: 'text',
                label: 'Truck Address',
                isRequired: true,
                placeholderIcon: 'address',
                textTransform: 'capitalize',
                incorrectInput: selectedMode === 'REVIEW_MODE',
                minLength: 12,
                maxLength: 256,
                autoFocus: true,
                placeholderInsteadOfLabel: true
              }"
              [incorrectValue]="false"
              (incorrectEvent)="incorrectInput($event, 0, 18)"
              [activeAddress]="selectedAddress"
              (selectedAddress)="handleInputSelect($event, 'ADDRESS')"
            ></app-ta-input-address>
            <div class="full-loc-hold" [class.empty-box-field]="!item.location.address">
              <span
                [class.statusOpened]="statusOpenedIndex > -1"
                class="full_location_name"
                ><span
                  *ngIf="
                    item.location.address !== null && !item.enterNewAddress
                  "
                  [innerHtml]="
                    (item.location.city + ', ' + item.location.stateShortName) | taHighlight: highlightingWords
                  "
                  [ngStyle]="{ color: statusOpenedIndex > -1 ? '' : '#919191' }"
                  appSelectionColor
                ></span>
              </span>
            </div>
          </td>
          <td class="status-field">
            <div class="dispatcher-table-cell-container empty-box-field">
              <!-- <div class="dispatcher-table-cell-holder"></div> -->
            </div>
          </td>
          <td class="pick-del-field">
            <div
              class="customTabsDispatchHold left"
              [class.empty-box-field]="true"
            >
              <div
                (mouseleave)="pickDeliveryHovered[rowIndex] = false"
                (mouseover)="pickDeliveryHovered[rowIndex] = true"
                *ngIf="item.truckId && item.driverId"
                [class.active]="loadOpenedIndx == rowIndex"
                [class.hovered]="
                  pickDeliveryHovered[rowIndex] && statusOpenedIndex == -1
                "
                [class.statusOpened]="statusOpenedIndex > -1"
                class="customTabsDispatch left pickup-data"
              >
                <div *ngIf="item.pickupNumber" class="load-count no-back">
                  <svg-icon
                    *ngIf="item.pickupNumber < 10"
                    name="svg_num_box_{{ item.pickupNumber }}"
                  ></svg-icon>
                  <svg-icon
                    *ngIf="item.pickupNumber > 9"
                    name="svg_num_over"
                  ></svg-icon>
                </div>
                <div
                  *ngIf="item.pickup !== null"
                  class="text-ellipsis dispatch-pickup-delivery"
                >
                  <app-load-routes
                    (openedRoutes)="openedRoutes($event)"
                    [dataId]="item.id"
                    [itemIndx]="rowIndex"
                  >
                    <span
                      [ngStyle]="{
                        color: statusOpenedIndex > -1 ? '' : '#919191'
                      }"
                      appSelectionColor
                      class="select_span"
                    >
                      <div class="pick-del-location">
                        {{
                          item.pickupJson?.address?.city +
                            ", " +
                            item.pickupJson?.address?.stateShortName
                            | taHighlight: highlightingWords
                        }}
                      </div>

                      <div class="time_info">
                        <div>05/09/21</div>
                        <div>7:10PM</div>
                      </div>
                    </span>
                  </app-load-routes>
                </div>
              </div>
            </div>
          </td>
          <td class="empty-field">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="empty-field">
            <div
              #t1="ngbPopover"
              (click)="toggleHos(t1, item.hosJson, item.id)"
              (hidden)="saveHosData(item.hosJson, item.driverId, item.id)"
              [class.statusOpened]="statusOpenedIndex > -1"
              [class.empty-box-field]="true"
              [ngClass]="
                (item.hosJson?.hos)[item.hosJson.hos.length - 1]?.flag === 'on'
                  ? 'active-flag'
                  : 'inactive-flag'
              "
              [ngbPopover]="hos"
              autoClose="outside"
              class="hos-column"
              placement="bottom"
              triggers="manual"
            >
              <!-- <span
                  *ngIf="item.driverName !== null && !item.isEmpty"
                  [ngClass]="
                    (item.hosJson?.hos)[item.hosJson.hos.length - 1]?.flag === 'on'
                      ? 'active_hos'
                      : 'innactive_hos'
                  "
                  appTooltip="HOS"
                  class="hos_span"
                  position="bottom-right"
                  tooltipBackground="#919191"
                >
                  <span>{{
                    (item.hosJson !== null ? item.hosJson?.hos : []) | hosTime
                    }}</span>
                  <svg-icon
                    name="{{
                      (item.hosJson?.hos)[item.hosJson.hos.length - 1]?.flag === 'on'
                        ? 'hosactive'
                        : 'hosinactive'
                    }}"
                  ></svg-icon>
                </span> -->
            </div>
          </td>
          <td class="empty-field">
            <div
              class="initials_wrapper_main_hold"
              [class.empty-box-field]="true"
            >
              <div
                (mouseleave)="showAvatar[rowIndex] = false"
                (mouseover)="showAvatar[rowIndex] = true"
                *ngIf="
                  item.pickupJson &&
                  item.dispatcherId !== undefined &&
                  item.dispatcherId !== null
                "
                [class.statusOpened]="statusOpenedIndex > -1"
                class="dispatcher-initials-wrapper innactive_wrapper"
              >
                <span *ngIf="!showAvatar[rowIndex]" @iconAnimation>{{
                  item.dispatcherName | nameInitials
                }}</span>
                <img
                  alt="main-avatar"
                  *ngIf="showAvatar[rowIndex]"
                  @iconAnimation
                  [src]="
                    item.dispatcherAvatar
                      ? item.dispatcherAvatar
                      : 'assets/img/svgs/main-avatar.svg'
                  "
                />
              </div>
            </div>
          </td>
          <td class="note-field">
            <div class="dispatcher-table-cell-container empty-box-field">
              <!-- <div class="dispatcher-table-cell-holder">7532</div> -->
              <app-ta-note
                  [note]="item.note"
                  [openedAll]="true"
                  [dispatchIndex]="rowIndex"
                  [parking]="false"
                  (saveNoteValue)="saveNoteValue($event)"
                >
                </app-ta-note>
            </div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field">
              <!-- <div class="dispatcher-table-cell-holder "></div> -->
            </div>
          </td>
        </tr>

        <tr *ngIf="!__isBoardLocked">
          <td class="truck-field abs">
            <div>
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="truckSelectOpened != -2"
                [class.empty-box-field]="__isBoardLocked"
              >
                <div class="drag-span-holder">
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="truckSelectOpened == -2"
                  >
                    <app-ta-input-dropdown
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-70',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="truckList"
                      (selectedItem)="addTruck($event, -1, truckDropdown, -2)"
                    ></app-ta-input-dropdown>
                  </div>
                </div>
              </div>
              <button
                (click)="showNextDropdown(-2, truckDropdown)"
                *ngIf="!__isBoardLocked && truckSelectOpened != -2"
                class="btn-transparent dispatch-bottom-add"
              >
                <svg-icon
                  appTooltip="Add Truck"
                  class="icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addTruck"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>
          </td>

          <td class="trailer-field abs">
            <div class="dispatch-list">
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="trailerSelectOpened != -2"
                [class.empty-box-field]="__isBoardLocked"
              >
                <div class="trailer_span_holder">
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="trailerSelectOpened == -2"
                  >
                    <app-ta-input-dropdown
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-92',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="trailerList"
                      (selectedItem)="
                        addTrailer($event, -2, null, null, trailerDropdown, -2)
                      "
                    ></app-ta-input-dropdown>
                  </div>
                </div>
              </div>
              <button
                (click)="showNextTrailerDropdown(-2)"
                *ngIf="!__isBoardLocked && trailerSelectOpened != -2"
                [class.active]="trailerSelectOpened == -2"
                class="btn-transparent dispatch-bottom-add"
              >
                <svg-icon
                  appTooltip="Add Trailer"
                  class="icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addTrailer"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>
          </td>
          <td class="driver-field">
            <div class="dispatch-list">
              <div
                class="dispacher-card dispatch-box"
                [class.empty_row]="driverSelectOpened != -2"
                [class.empty-box-field]="__isBoardLocked"
              >
                <div class="driver_span_holder">
                  <div
                    class="app-ta-input-dropdown-holder"
                    *ngIf="driverSelectOpened == -2"
                  >
                    <app-ta-input-dropdown
                      #truckDropdown
                      [formControl]="selectTruck"
                      [inputConfig]="{
                        name: 'Input Dropdown',
                        type: 'text',
                        label: 'Trailer #',
                        isDropdown: true,
                        dropdownWidthClass: 'w-col-142',
                        blackInput: true,
                        hide: true,
                        autoFocus: true,
                        placeholderInsteadOfLabel: true
                      }"
                      [options]="driverList"
                      (selectedItem)="
                        addDriver($event, -1, null, null, driverDropdown, -2)
                      "
                    ></app-ta-input-dropdown>
                  </div>
                </div>
                <div
                  *cdkDragPlaceholder
                  class="example-custom-placeholder"
                ></div>
              </div>
              <button
                (click)="showNextDriverDropdown(-2)"
                *ngIf="!__isBoardLocked && driverSelectOpened != -2"
                [class.active]="driverSelectOpened == -2"
                class="btn-transparent dispatch-bottom-add"
              >
                <svg-icon
                  appTooltip="Add Driver"
                  class="driverItem icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addDriver"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
            </div>

            <!-- 
            <div class="dispatch-list empty_row">
              <button
                (click)="showNextDriverDropdown(-2)"
                [class.active]="driverSelectOpened == -2"
                class="btn-transparent dispatch-bottom-add"
              >
                <svg-icon
                  appTooltip="Add Driver"
                  class="driverItem icon-hover-blue-22 cursor-pointer d-flex"
                  main_id="addDriver"
                  position="bottom-right"
                  src="assets/svg/dispatchboard/add.svg"
                  tooltipBackground="#919191"
                >
                </svg-icon>
              </button>
              <ng-select
                #driverDropdown
                (blur)="blurDriver($event)"
                (change)="
                  addDriver(
                    $event,
                    item.id,
                    null,
                    null,
                    driverDropdown,
                    rowIndex
                  )
                "
                *ngIf="driverSelectOpened == -2"
                [clearable]="false"
                [isOpen]="true"
                [items]="loadDrivers"
                [searchFn]="customSearchFn"
                bindLabel="name"
                bindValue="id"
                class="dispatch-dropdown"
              >
                <ng-template let-item="item" ng-label-tmp>
                  <div class="dropdown-item-wrapper">
                    <span class="ta-dropdown-item">{{ item.driverName }} </span>
                  </div>
                </ng-template>

                <ng-template
                  let-item="item"
                  let-search="searchTerm"
                  ng-option-tmp
                >
                  <div class="dropdown-item-wrapper ta-list-items">
                    <span
                      [ngOptionHighlight]="search"
                      class="ta-dropdown-item"
                      >{{ item.driverName }}</span
                    >
                  </div>
                </ng-template>
              </ng-select>
            </div> -->
          </td>
          <td class="phoneemail-field">
            <div class="phone-em-hold empty-box-field"></div>
          </td>
          <td class="location-field">
            <div class="full-loc-hold empty-box-field"></div>
          </td>
          <td class="status-field">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="pick-del-field">
            <div class="customTabsDispatchHold left empty-box-field"></div>
          </td>
          <td class="empty-field">
            <div class="initials_wrapper_main_hold empty-box-field"></div>
          </td>
          <td class="empty-field">
            <div class="initials_wrapper_main_hold empty-box-field"></div>
          </td>
          <td class="empty-field">
            <div class="initials_wrapper_main_hold empty-box-field"></div>
          </td>
          <td class="note-field">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
          <td class="empty-field abs-right">
            <div class="dispatcher-table-cell-container empty-box-field"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="k-grid-toolbar d-flex">
    <div class="toolbar-container item_dispatch_head">
      <div class="board_infos">
        <div appSelectionColor class="board_infos_count" style="color: #919191">
          0
          <!-- <span
            [innerHTML]="infoCount.truckNumber == 1 ? 'TRUCK' : 'TRUCKS'"
            appSelectionColor
            style="color: #6c6c6c;"
          ></span> -->
          <span
            [innerHTML]="'TRUCKS'"
            appSelectionColor
            style="color: #919191"
          ></span>
        </div>
        <div appSelectionColor class="board_infos_count" style="color: #919191">
          0
          <!-- <span
            [innerHTML]="infoCount.trailerNumber == 1 ? 'TRAILER' : 'TRAILERS'"
            appSelectionColor
            style="color: #6c6c6c;"
          ></span> -->
          <span
            [innerHTML]="'TRAILERS'"
            appSelectionColor
            style="color: #919191"
          ></span>
        </div>
        <div appSelectionColor class="board_infos_count" style="color: #919191">
          0
          <!-- <span
            [innerHTML]="infoCount.driverNumber == 1 ? 'DRIVER' : 'DRIVERS'"
            appSelectionColor
            style="color: #6c6c6c;"
          ></span> -->
          <span
            [innerHTML]="'DRIVERS'"
            appSelectionColor
            style="color: #919191"
          ></span>
        </div>
      </div>
      <div
        appSelectionColor
        class="board_name"
        style="color: #919191"
        [innerHTML]="
          dData.dispatcher ? dData.dispatcher.fullName : 'Team Board'
        "
      ></div>
    </div>
  </div>
</div>
