/* Table Body */
table {
  width: 100%;
  height: fit-content;

  tbody {
    tr {
      width: 100%;
      height: 32px;
      background: white;
      border-radius: 3px;
      padding: 2px;
      display: flex;

      .columns-container {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        display: flex;

        td {
          width: fit-content;
          padding: 0;

          .td-content {
            display: flex;
            height: 100%;
            align-items: center;
            
            // NO TEMPLATE
            .no-template{
              color: red;
              font-size: 14px;
              font-weight: bold;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 100%;
            }

            // CHECKBOX TEMPLATE
            .table-checkbox {
              display: none;
            }

            .table-checkbox-label {
              width: 14px;
              height: 14px;
              background-color: #dadada;
              margin-bottom: 0;
              border-radius: 1px;
              cursor: pointer;

              &:hover {
                background-color: #b7b7b7;
              }
            }

            .table-checkbox:checked + .table-checkbox-label {
              background-color: #91a4c7;
              background-image: url("../../../../../../assets/svg/truckassist-table/check-new.svg");
              background-repeat: no-repeat;
              background-position: center;
              transition: background-color 0.25s;

              &:hover {
                background-color: #5673aa;
              }
            }

            // AVATAR COLUMN
            .avatar-container {
              width: 20px;
              height: 24px;
              margin-right: 6px;
              display: flex;
              cursor: pointer;

              &:hover {
                transform: scale(1.8);
                transition: 0.2s;
              }

              .avatar {
                user-select: none;
                width: 20px;
                height: 24px;
                border-radius: 2px;
              }

              .avatar-owner {
                user-select: none;
                width: 12px;
                height: 12px;
                margin-left: -8px;
                margin-top: 15px;
              }
            }

            .table-avatar-name {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: #b7b7b7;
              font-size: 14px;
              font-weight: bold;
              align-items: center;
              cursor: pointer;

              &:hover {
                color: #5673aa;
                transition: 0.25s;
              }

              &::selection {
                color: #b7b7b7;
                background: rgba(145, 145, 145, 0.2);
              }
            }

            // NAME LINK
            .table-name-link {
              font-size: 14px;
              font-weight: bold;
              color: #b7b7b7;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              cursor: pointer;
              &::selection {
                color: #b7b7b7;
                background: #b7b7b720;
              }

              &:hover {
                color: #5673aa;
                transition: 0.25s;
              }
            }

            // REGURAL TEXT
            .table-text {
              font-size: 14px;
              font-weight: 400;
              color: #b7b7b7;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 100%;

              &::selection {
                color: #b7b7b7;
                background: rgba(145, 145, 145, 0.2);
              }
            }

            .table-text-state {
              font-weight: bold;
            }

            // ATTACHMENTS COLUMN TEMPLATE
            .attachments-btn {
              width: 18px;
              height: 18px;
              cursor: pointer;

              .attachments-svg {
                width: 18px;
                height: 18px;
                background-image: url("../../../../../../assets/svg/truckassist-table/attachment/attachment-regular.png");
                background-repeat: no-repeat;

                &:hover {
                  background-image: url("../../../../../../assets/svg/truckassist-table/attachment/attachment-hover.png");
                }
              }
            }

            // APPLICANT DONE CHECKBOX
            .table-done-checkbox {
              width: 26px;
              height: 26px;
              background: #eeeeee;
              border-radius: 3px;
              color: #b7b7b7;

              .checkbox-content {
                user-select: none;
                font-size: 14px;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
              }
            }

            .done {
              background: url("../../../../../../assets/svg/truckassist-table/done-checkbox/done-checkbox.svg");
              background-repeat: no-repeat;
              background-position: center;
            }

            // APPLICANT REVIEW
            .table-applicant-review {
              width: 26px;
              height: 26px;
              background: #eeeeee;
              border-radius: 3px;
              .review {
                width: 100%;
                height: 100%;
              }

              .review-ok {
                background: url("../../../../../../assets/svg/truckassist-table/applicant-review/applicant-review-ok.svg");
                background-position: center;
                background-repeat: no-repeat;
              }

              .review-bad {
                background: url("../../../../../../assets/svg/truckassist-table/applicant-review/applicant-review-x.svg");
                background-position: center;
                background-repeat: no-repeat;
              }
            }

            // COLOR
            .table-color {
              width: 22px;
              height: 22px;
              border-radius: 3px;
            }

            .add-box-shadow {
              box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
            }

            // SVG COLUMN
            .truckassist-icon {
              cursor: pointer;
              svg-icon {
                svg {
                  path {
                    fill: #dadada;
                  }
                  circle {
                    fill: #dadada;
                  }
                }
              }
            }

            .side-kit-icon {
              svg-icon {
                svg {
                  rect {
                    fill: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/* Show More */
.show-more-container {
  width: 100%;
  height: 18px;
  margin-top: 6px;
  display: flex;
  align-items: center;

  .showing,
  .show-more {
    width: fit-content;
    height: 100%;
    font-size: 14px;
    color: #919191;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .showing {
    justify-self: flex-start;
    font-weight: 400;
  }

  .show-more {
    justify-self: flex-end;
    font-weight: bold;
    margin-left: auto;
  }
}

/* Global Style */
.set-center {
  justify-content: center;
}

/* Ng Class */
.regular-row {
  &:hover {
    .columns-container {
      background: #f7f7f7;
    }
  }
}
