<div class="d-flex flex-column load-financial-card">
    <!-- Divider -->

    <ng-container *ngIf="hasDivider">
        <div class="divider"></div>
    </ng-container>

    <div
        class="align-items-center justify-content-center load-financial-card-header"
    >
        <!-- Billing -->

        <div
            class="d-flex align-items-center justify-content-between load-financial-header"
        >
            <p
                class="m-0 ta-font-extra-bold load-financial-title d-flex"
                [ngStyle]="{ color: _isCardOpen ? '#424242' : '#6c6c6c' }"
            >
                {{ firstHeaderTitle }} 
                <app-ta-counter
                    [count]="billingCount"
                    [countBackground]="'#6C6C6C'"
                    [countColor]="'#ffffff'"
                    [countHeight]="'18px'"
                    [countWidth]="'18px'"
                    [countBorderRadius]="'50%'"
                    [marginLeft]="'4px'"
                ></app-ta-counter>
            </p>

            <div
                class="d-flex align-items-center align-self-end load-financial-value-action-container"
            >
                <div
                    [ngClass]="{
                        'd-flex flex-column align-items-end with-adjusted':
                            _adjusted
                    }"
                >
                    <ng-container *ngIf="tonu">
                        <p
                            class="m-0 ta-font-semi-bold load-financial-value text-right minus"
                        >
                            {{ toNumber(tonu) | currency }}
                        </p>
                    </ng-container>
                    <ng-container *ngIf="revised">
                        <p
                            class="m-0 ta-font-semi-bold load-financial-value text-right load-financial-value-override-value"
                        >
                            {{ toNumber(revisedDifference) | currency }}
                        </p>
                    </ng-container>
                    <p
                        class="m-0 ta-font-semi-bold load-financial-value"
                        [ngClass]="{
                            active: billing !== '$0.00' && !(tonu || revised),
                            'load-financial-value-override ': tonu || revised
                        }"
                    >
                        {{ billing }}
                    </p>

                    <ng-container *ngIf="_adjusted && !(tonu || revised)">
                        <p class="m-0 load-financial-adjusted">
                            {{ toNumber(_adjusted) | currency }}
                        </p>
                    </ng-container>
                </div>

                <div
                    class="d-flex align-items-center justify-content-center load-financial-action-button"
                    [ngClass]="{ disabled: disableBillAction }"
                    position="top"
                    ngbTooltip="Add Billing"
                    (click)="onAction($event, 'first-header-action')"
                >
                    <svg-icon
                        class="load-financial-action-icon"
                        [src]="'assets/svg/common/ic_plus.svg'"
                        [svgStyle]="{ 'width.px': '16', 'height.px': '16' }"
                    ></svg-icon>
                </div>
            </div>
        </div>

        <!-- Payment -->

        <div
            class="d-flex align-items-center justify-content-between load-financial-header"
        >
            <p
                class="m-0 ta-font-extra-bold load-financial-title d-flex"
                [ngStyle]="{ color: _isCardOpen ? '#424242' : '#6c6c6c' }"
            >
                {{ secondHeaderTitle }}
                
                <app-ta-counter
                    [count]="paymentCount"
                    [countBackground]="'#6C6C6C'"
                    [countColor]="'#ffffff'"
                    [countHeight]="'18px'"
                    [countWidth]="'18px'"
                    [countBorderRadius]="'50%'"
                    [marginLeft]="'4px'"
                ></app-ta-counter>
            </p>

            <div
                class="d-flex align-items-center align-self-end load-financial-value-action-container"
            >
                <p
                    class="m-0 ta-font-semi-bold load-financial-value"
                    [ngClass]="{
                        minus: (paymentDifference | currency)
                            ?.toString()
                            ?.includes('-'),
                        active: paymentDifference !== 0
                    }"
                >
                    {{ paymentDifference | currency }}
                </p>

                <div
                    class="d-flex align-items-center justify-content-center load-financial-action-button"
                    [ngClass]="{ disabled: disablePaymentAction }"
                    position="top"
                    ngbTooltip="Add Payment"
                    (click)="onAction($event, 'second-header-action')"
                >
                    <svg-icon
                        class="load-financial-action-icon"
                        [src]="'assets/svg/common/ic_plus.svg'"
                        [svgStyle]="{ 'width.px': '16', 'height.px': '16' }"
                    ></svg-icon>
                </div>
            </div>
        </div>

        <div
            class="d-flex align-items-center justify-content-between load-financial-header"
        >
            <!-- Invoice Ageing -->

            <p
                class="m-0 ta-font-extra-bold load-financial-title"
                [ngStyle]="{ color: _isCardOpen ? '#424242' : '#6c6c6c' }"
            >
                {{ thirdHeaderTitle }}
            </p>

            <svg-icon
                class="load-financial-arrow"
                [ngClass]="{
                    rotate: _isCardOpen && _isCardOpen != 'null'
                }"
                [src]="'assets/svg/common/ic_arrow_down_updated.svg'"
                (click)="onAction($event, 'third-header-action')"
            ></svg-icon>
        </div>
    </div>

    <!-- Body -->

    <div
        class="load-financial-card-content"
        [ngClass]="{ scroll: hasScrollBody }"
        [@.disabled]="disableAnimation"
    >
        <div
            class="content-holder"
            [ngClass]="noActive"
            [ngStyle]="animationMarginParams"
            [@showHideCardBody]="{
                value: _isCardOpen.toString(),
                params: animationMarginParams
            }"
        >
            <ng-content></ng-content>
        </div>
    </div>
</div>
