@import 'src/theme/variables';

.load-financial-card {
    .load-financial-card-header {
        display: grid;
        grid-template-columns: 200px 208px 1fr;
        margin: 4px 0px;
        column-gap: 13px;

        .load-financial-header {
            .load-financial-title {
                font-size: 14px;
                line-height: 18px;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .load-financial-value-action-container {
                gap: 8px;

                .load-financial-value {
                    font-size: 11px;
                    line-height: 14px;
                    color: $bw5;

                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    &-override {
                        text-decoration: line-through;
                        color: $muted;
                        &-value {
                            color: $ta-black;
                        }
                    }

                    &.active {
                        color: $ta-black;
                    }

                    &.minus {
                        color: $ta-red-11;
                    }
                }

                .load-financial-action-button {
                    cursor: pointer;

                    .load-financial-action-icon {
                        line-height: 0;

                        svg {
                            path {
                                fill: $ta-blue-13;
                            }
                        }
                    }

                    &.disabled {
                        pointer-events: none !important;

                        .load-financial-action-icon {
                            svg {
                                path {
                                    fill: $bw5;
                                }
                            }
                        }
                    }
                }

                .with-adjusted {
                    .load-financial-adjusted {
                        font-size: 11px;
                        line-height: 14px;
                        color: $special-filter-purple;
                    }
                }
            }

            .load-financial-arrow {
                justify-self: flex-end;
                cursor: pointer;
                position: relative;
                right: -2px;
                svg {
                    transform: rotate(0deg);
                    transition: all 0.3s ease-in-out;
                    path {
                        fill: #919191;
                    }
                }

                &.rotate {
                    svg {
                        transform: rotate(180deg);
                        transition: all 0.3s ease-in-out;
                        path {
                            fill: #aaaaaa;
                        }
                    }
                }
            }
        }
    }

    .load-financial-card-content {
        &.scroll {
            overflow-y: scroll !important;
            scrollbar-width: none !important; /* Firefox */

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                border: 6px solid #6c6c6c;
                border-radius: 1px;
            }

            &::-webkit-scrollbar-track {
                padding: 0;
                position: relative;
                right: 0;
                top: 0;
                background: transparent;
            }

            &::-moz-selection {
                background-color: rgb(229, 229, 229, 0.2);
                color: #6c6c6c;
            }
        }

        .content-holder {
            margin-top: 8px !important;

            &.innactive {
                height: 0px !important;
                overflow: hidden !important;
                opacity: 0 !important;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }

            &.active {
                overflow: visible !important;
                opacity: 1 !important;
            }
        }
    }
}
