<div class="map-control-container">
  <svg-icon
    (click)="onFullScreen()"
    class="fullscreen"
    src="{{
      fullscreenActive
        ? '../../../assets/img/svgs/map-control/Normal Screen.svg'
        : '../../../assets/img/svgs/map-control/Full Screen.svg'
    }}"
  ></svg-icon>
  <div *ngIf="!fullscreenOnly" class="zoom-control">
    <div class="zoom-control-container">
      <svg-icon (click)="onZoom(true)" class="plus-svg" src="../../../assets/img/svgs/map-control/Plus.svg"></svg-icon>
      <svg-icon (click)="onZoom(false)" class="minus-svg"
                src="../../../assets/img/svgs/map-control/Minus.svg"></svg-icon>
    </div>
  </div>
</div>
