@import "./navigation.design.scss";

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  height: 100vh;
  width: 56px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 18px 12px;

  background-color: $nav-background;
  color: $nav-text-color;
  font-size: $nav-font-size;
  font-weight: $nav-font-medium;

  transition: $nav-transition;
  overflow: hidden;

  &:hover {
    width: 200px;
    box-shadow: $nav-boxshadow;
    transition: $nav-transition;
    cursor: pointer;
  }

  .navigation-top,
  .navigation-bottom {
    padding-left: 5px;

    @media only screen and (max-width: 1800px) {
      overflow: visible;
    }
  }
  //------- ZOOM IN 110% & 125% for routing container

  .wrapper-container {
    @media only screen and (max-width: 1800px) {
      position: absolute;
      top: 115px;
      left: 6px;
      padding: 11px;
      height: 600px;
      width: 194px;
      overflow-x: hidden;
      overflow-y: scroll;
      scrollbar-width: 0px;

      &::-webkit-scrollbar {
        width: 0px;
      }
    }

    @media only screen and (max-width: 1600px) {
      height: 500px;
    }

    @media only screen and (max-width: 1300px) {
      height: 377px;
    }
  }

  .wrapper-container-nohover {
    @media only screen and (max-width: 1800px) {
      width: 50px;
    }
  }

  .wrapper-line {
    display: none;
    @media only screen and (max-width: 1800px) {
      display: inline;
      height: 2px;
      width: 176px;
      margin-left: -5px;
      background-color: $wrapper-line;
      position: absolute;
      bottom: 111px;
    }

    @media only screen and (max-width: 1600px) {
      bottom: 109px;
    }

    @media only screen and (max-width: 1300px) {
      bottom: 107px;
    }
  }

  //------- end

  .navigation-routes-container {
    margin-top: -8px;
    position: relative;

    @media only screen and (max-width: 1800px) {
      height: 526.5px;
      overflow: visible;
      width: auto;
    }

    @media only screen and (max-width: 1800px) {
      height: auto;
    }
  }

  .navigation-routes {
    margin-left: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
  }

  .subroute-card {
    box-shadow: $nav-boxshadow;
    border-radius: 3px;
    height: auto;
    width: 184px;
    position: absolute;
    left: 8px;
    z-index: -1;
  }

  .new-magic-line {
    display: inline-block;
    position: absolute;
    left: -6px;
    top: 0px;
    content: "";
    height: 28px;
    background: $nav-hover-color;
    border-radius: 3px;
    transition: $magic-line-transition;
    z-index: -1;
  }

  .new-magic-line-selected {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .navigation-routes:nth-child(1):hover ~ .new-magic-line {
    transform: translateY(1px) !important;
  }

  .new-magic-line-selected:nth-child(1) ~ .new-magic-line {
    transform: translateY(1px);
  }

  .navigation-routes:nth-child(2):hover ~ .new-magic-line {
    transform: translateY(32px) !important;
  }

  .new-magic-line-selected:nth-child(2) ~ .new-magic-line {
    transform: translateY(32px);
  }

  .navigation-routes:nth-child(3):hover ~ .new-magic-line {
    transform: translateY(62px) !important;
  }

  .new-magic-line-selected:nth-child(3) ~ .new-magic-line {
    transform: translateY(62px);
  }

  .navigation-routes:nth-child(4):hover ~ .new-magic-line {
    transform: translateY(92px) !important;
  }

  .new-magic-line-selected:nth-child(4) ~ .new-magic-line {
    transform: translateY(92px);
  }

  .navigation-routes:nth-child(5):hover ~ .new-magic-line {
    transform: translateY(122px) !important;
  }

  .new-magic-line-selected:nth-child(5) ~ .new-magic-line {
    transform: translateY(122px);
  }

  .navigation-routes:nth-child(6):hover ~ .new-magic-line {
    transform: translateY(152px) !important;
  }

  .new-magic-line-selected:nth-child(6) ~ .new-magic-line {
    transform: translateY(152px);
  }

  .navigation-routes:nth-child(7):hover ~ .new-magic-line {
    transform: translateY(182px) !important;
  }

  .new-magic-line-selected:nth-child(7) ~ .new-magic-line {
    transform: translateY(182px);
  }

  .navigation-routes:nth-child(8):hover ~ .new-magic-line {
    transform: translateY(212px) !important;
  }

  .new-magic-line-selected:nth-child(8) ~ .new-magic-line {
    transform: translateY(212px);
  }

  .navigation-routes:nth-child(9):hover ~ .new-magic-line {
    transform: translateY(242px) !important;
  }

  .new-magic-line-selected:nth-child(9) ~ .new-magic-line {
    transform: translateY(242px);
  }

  .navigation-routes:nth-child(10):hover ~ .new-magic-line {
    transform: translateY(272px) !important;
  }

  .new-magic-line-selected:nth-child(10) ~ .new-magic-line {
    transform: translateY(272px);
  }

  .navigation-routes:nth-child(11):hover ~ .new-magic-line {
    transform: translateY(302px) !important;
  }

  .new-magic-line-selected:nth-child(11) ~ .new-magic-line {
    transform: translateY(302px);
  }

  .navigation-routes:nth-child(12):hover ~ .new-magic-line {
    transform: translateY(332px) !important;
  }

  .new-magic-line-selected:nth-child(12) ~ .new-magic-line {
    transform: translateY(332px);
  }

  .navigation-routes:nth-child(13):hover ~ .new-magic-line {
    transform: translateY(362px) !important;
  }

  .new-magic-line-selected:nth-child(13) ~ .new-magic-line {
    transform: translateY(362px);
  }
}
