<div
  class="navigation"
  (mouseenter)="isNavigationHovered = true"
  (mouseleave)="isNavigationHovered = false"
>
  <div class="navigation-top">
    <app-navigation-header
      [isNavigationHovered]="isNavigationHovered"
    ></app-navigation-header>

    <div class="navigation-items" *ngFor="let item of navigation">
      <app-navigation-route
        [navRoute]="item"
        [isNavigationHovered]="isNavigationHovered"
        (onRouteEvent)="onRouteEvent($event)"
      >
      </app-navigation-route>
    </div>
  </div>

  <div class="navigation-bottom">
    <app-navigation-footer
      [isNavigationHovered]="isNavigationHovered"
    ></app-navigation-footer>
  </div>
</div>
