//------------ Colors constants
$nav-white: #ffffff;
$nav-dark: #2F2F2F;

$nav-svg: #b7b7b7;
$nav-svg-hover: #919191;
$nav-svg-active: #3074D3;
$nav-svg-darker:#AAAAAA;

$nav-text-color-dadada: #dadada;
$nav-text-color-lighter: #b7b7b7;
$nav-text-color: #6c6c6c;
$nav-text-color-darker: #919191;
$nav-text-color-hover: #3c3c3c;

$nav-blue-1: #e0eaf8;
$nav-blue-2: #97a8dc;
$nav-blue-3: #6d82c7;
$nav-active-lighter: #6F9EE0;
$nav-active: #3551b7;
$nav-hover-hover: #255BB9;

$nav-hover-lightcolor: #f3f3f3;
$nav-hover-ligh:#EEEEEE;
$nav-hover-color: #1D1D1D;

$nav-hover-darker: #f9f9f9;

$nav-important-light: #ff8080;
$nav-important: #ef5350;
$nav-important-hover: #f44336;

$nav-boxshadow: 0 0 4px rgb(0, 0, 0, 0.15);

$nav-transition: all 0.3s ease-in-out;
$nav-transition-015: all 0.15s ease-in-out;
$nav-transition-2: all 0.2s ease-in-out;
$nav-transition-5: all 0.5s ease-in-out;

$nav-font-size-verysmall: 10px;
$nav-font-size-small: 12px;
$nav-font-size: 14px;

$nav-font-regular: 400;
$nav-font-medium: 500;
$nav-font-semibold: 600;
$nav-font-bold: 700;
$nav-font-extrabold: 800;

$nav-transparent: rgba(170, 170, 170, 10%);

$wrapper-line: #b7b7b7;
$magic-line-transition: all 0.2s ease-in;

$user-busy-status: #ffb74d;
$user-busy-status-hover: #ffa726;
$user-active-status: #4db6a2;
$user-active-status-hover: #26a690;

$files:#FFCC80;

$notification:#E57373;
@keyframes showMagicLine {
    0% {
        opacity: 0;
        transition: $nav-transition-2;
    }
    100% {
        opacity: 1;
        transition: $nav-transition-2;
    }
}

// ------------ end

// ------------ Status User
.status-marker-container {
    width: 12px;
    height: 12px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 6px;
    left: 17px;

    .status-marker {
        width: 10px;
        height: 10px;
    }

   

    .status-active {
        border: 0 solid $nav-white;
        background: $user-active-status !important;
    }

    .status-busy {
        border: 2px solid $user-busy-status;
        background: #ffffff !important;
    }
}
.status-marker-container-notification{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -2px;
    left: -8px;
    background: $nav-dark;
    .status-marker-notification{
        width: 8px;
        height: 8px;
        border-radius: 8px;
        border: 0 solid $nav-white;
        background: $notification;
    }
}
// ------------ end
