<div
    class="tab-switch-holder {{ type }} {{customClass}}"
    [ngClass]="{ 'dashboard-height': dashboardHeight, disabled: isDisabled }"
    [ngStyle]="{ 'margin-top': isMarginTopDisabled ? 0 : '' }"
>
    <div
        *ngFor="let item of tabs; let indx = index"
        class="tab-switch-items-holder {{
            item.color ? 'tab-switch-' + item.color : ''
        }}"
        [class.active]="indx == indexSwitch"
        (click)="switchTab($event, indx, item)"
        #popoverHolder
        app-ta-autoclose-popover
        [customClass]="'custompopovermain'"
        [class.disabled]="item.disabled"
        [isDisabled]="!item.custom"
        (closeFilter)="handlePopoverClose($event)"
    >
        >
        <div class="d-flex align-items-center tab-switch-text" mainContent>
            <div
                class="tab-switch-name"
                [ngClass]="{ 'ta-font-bold tab-switch-name-big': isBold }"
            >
                {{ item.name }}
            </div>
            <div class="tab-counter" *ngIf="item.counter">
                <div class="counter-number">{{ item.counter }}</div>
            </div>
        </div>

        <div popoverContent>
            <div class="custom-popover-holder">
                <app-ta-custom-period-range
                    [subPeriodDropdownList]="subPeriodDropdownList"
                    [selectedSubPeriod]="selectedSubPeriod"
                    [clearCustomPeriodRangeValue]="clearCustomPeriodRangeValue"
                    (customPeriodRangeSubperiodEmitter)="
                        handleCustomPeriodRangeSubperiodEmit($event)
                    "
                    (customPeriodRangeValuesEmitter)="
                        handleSetCustomPeriodRangeClick($event)
                    "
                ></app-ta-custom-period-range>
            </div>
        </div>
    </div>

    <div
        class="slide-active-holder {{ type }}"
        [ngStyle]="{
            width: hoverStyle.width + 'px',
            left: hoverStyle.x + 'px'
        }"
    ></div>
</div>
