<app-ta-modal
  [modalTitle]="
    editData?.type !== 'edit-medical' ? 'Create Medical' : 'Edit Medical'
  "
  [editData]="editData"
  [editName]="modalName"
  [isModalValid]="medicalForm.valid"
  [specificCaseModalName]="true"
  (action)="onModalAction($event)"
>
  <form [formGroup]="medicalForm" class="form-container">
    <div class="row first-row last-row">
      <div class="col-6">
        <app-ta-input
          formControlName="issueDate"
          [inputConfig]="{
            name: 'datepicker',
            type: 'text',
            isDropdown: true,
            label: 'Issue Date',
            placeholderIcon: 'date',
            isRequired: true,
            customClass: 'datetimeclass',
            autoFocus: editData?.type !== 'edit-medical' ? true : false
          }"
        ></app-ta-input>
      </div>
      <div class="col-6">
        <app-ta-input
          formControlName="expDate"
          [inputConfig]="{
            name: 'datepicker',
            type: 'text',
            label: 'Exp. Date',
            isDropdown: true,
            placeholderIcon: 'date',
            isRequired: true,
            customClass: 'datetimeclass'
          }"
        ></app-ta-input>
      </div>
    </div>
    <div class="ta-card-body-overflow-none">
      <app-ta-custom-card
        [hasCounter]="documents.length ? documents.length : '0'"
        [cardName]="'Documents'"
        [isCardOpen]="documents.length"
      >
        <app-ta-upload-files
          [files]="documents"
          (onFileEvent)="onFilesEvent($event)"
        ></app-ta-upload-files>
      </app-ta-custom-card>
    </div>

    <app-ta-input-note
      formControlName="note"
      [isVisibleNote]="medicalForm.get('note').value"
    ></app-ta-input-note>
  </form>
</app-ta-modal>
