@import 'src/theme/variables';

.dispatch-load {
    margin-top: 22px;

    &-header {
        font-size: 11px;
        line-height: 14px;
    }

    &-no-results {
        &-title {
            color: $muted;
            font-size: 20px;
            margin: 22px 0 16px;
        }
        &-text {
            font-size: 12px;
            color: $muted;
        }
    }

    &-map {
        width: auto;
        border-radius: 3px;
        min-height: 480px;
        flex: 1;

        &-parent {
            height: 100%;
        }
    }
}

.modal-header-edit-button {
    margin-right: 12px !important;
}

::ng-deep .cdk-drag-preview {
    background-color: $ta-black !important;
    border-radius: 3px;
    div,
    span {
        color: $white !important;
    }

    .short-load-icon {
        &-text {
            display: none;
        }
        &_drag {
            display: block !important;
        }
    }
}

::ng-deep .cdk-drag-placeholder {
}
