@import '../../dispatch-table.component.scss';

.status-disabled {
    svg {
        path {
            fill: $ta-light-grey-6;
        }
    }
    &:hover {
        background-color: $bw2;
    }
}
.status-enabled {
    svg {
        path {
            fill: $bw5;
        }
    }
    &:hover {
        cursor: pointer;
        background-color: $bw2;
        svg {
            path {
                fill: $ta-black;
            }
        }
    }
}
.status-done {
    svg {
        path {
            fill: $ta-blue-13;
        }
    }
    &:hover {
        cursor: pointer;
        background-color: $bw2;
        svg {
            path {
                fill: $ta-blue-15;
            }
        }
    }
}
