.no-review-shipper {
    width: 620px;
    height: 120px;
    margin: 4px 0;

    .no-review-svg {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        svg {
            width: 620px;
            height: 120px;
        }
    }
}

.type2-modal-popup {
    .tab-switch-items-holder {
        flex: 1 !important;
    }
}
