<app-ta-modal
  [modalTitle]="editData?.type !== 'edit' ? 'Add Parking' : 'Edit Parking'"
  [editData]="editData"
  [editName]="editData?.id"
  [isModalValid]="parkingForm.valid"
  (action)="onModalAction($event)"
>
  <app-ta-tab-switch
    [tabs]="tabs"
    (switchClicked)="tabChange($event)"
    [type]="'type1-modal-popup'"
  >
  </app-ta-tab-switch>

  <form [formGroup]="parkingForm" class="form-container form-container-mt-12">
    <div class="animation-two-tabs" [@animationTabsModal]="animationObject">
      <!-------------------------------- Basic Tab -------------------------------->
      <div class="m-tab" *ngIf="selectedTab === 1">
        <!-- Company owned -->
        <div class="custom-checkbox-card">
          <div class="divider"></div>
          <div
            class="checkbox-card-header"
            [ngClass]="{ pointer: parkingForm.get('isOwner').value }"
          >
            <app-ta-checkbox
              formControlName="isOwner"
              [label]="'Company Owned'"
            ></app-ta-checkbox>
          </div>
          <div class="checkbox-card-body active-20">
            <div class="row">
              <div class="col-12">
                <app-ta-input
                  formControlName="name"
                  [inputConfig]="{
                    name: 'Parking Name',
                    type: 'text',
                    label: 'Parking Name',
                    isRequired: true,
                    textTransform: 'capitalize',
                    autoFocus: editData?.type === 'edit' ? false : true
                  }"
                ></app-ta-input>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <app-ta-input-address
                  formControlName="address"
                  [inputConfig]="{
                    name: 'Address',
                    type: 'text',
                    label: 'Address, City, State Zip',
                    isRequired: true,
                    placeholderIcon: 'address',
                    textTransform: 'capitalize'
                  }"
                  [activeAddress]="selectedAddress"
                  (selectedAddress)="onHandleAddress($event)"
                ></app-ta-input-address>
              </div>
              <div class="col-2">
                <app-ta-input
                  formControlName="addressUnit"
                  [inputConfig]="{
                    name: 'Address Unit',
                    type: 'text',
                    label: 'Unit #',
                    maxLength: 6
                  }"
                ></app-ta-input>
              </div>
            </div>
            <div
              class="phone-ext-email-small-modal last-row"
              [ngClass]="{ 'active-phone-ext': isPhoneExtExist }"
            >
              <div class="phone-extension">
                <div class="phone-field">
                  <app-ta-input
                    formControlName="phone"
                    [inputConfig]="{
                      name: 'Phone',
                      type: 'text',
                      label: 'Phone',
                      placeholderIcon: 'phone',
                      mask: '(000) 000-0000'
                    }"
                  ></app-ta-input>
                </div>
                <div
                  class="extension-field"
                  *ngIf="!isPhoneExtExist"
                  (click)="isPhoneExtExist = !isPhoneExtExist"
                  ngbTooltip
                  mainTooltip="Add Extension"
                  position="top"
                  tooltipBackground="#6c6c6c"
                >
                  <svg-icon src="assets/svg/common/ic_plus.svg"></svg-icon>
                </div>
                <app-ta-input
                  *ngIf="isPhoneExtExist"
                  formControlName="extensionPhone"
                  [inputConfig]="{
                    name: 'Phone Extension',
                    type: 'text',
                    label: 'Ext.',
                    maxLength: 3,
                    placeholderIcon: 'phone-extension'
                  }"
                ></app-ta-input>
              </div>
              <div class="email-field">
                <app-ta-input
                  formControlName="email"
                  [inputConfig]="{
                    name: 'Email',
                    type: 'text',
                    label: 'Email',
                    placeholderIcon: 'email'
                  }"
                ></app-ta-input>
              </div>
            </div>
          </div>
        </div>
        <!-- Parking Slot -->
        <app-ta-custom-card
          [hasCounter]="
            (parkingSlots | sumArrays) === 0 ? '0' : (parkingSlots | sumArrays)
          "
          [cardName]="'Parking Slot'"
          [hasHeaderSvg]="'assets/svg/common/ic_info.svg'"
          [isCardOpen]="true"
        >
          <div class="row row-mt-20">
            <div class="col-12">
              <app-ta-input
                formControlName="parkingSlot"
                [inputConfig]="{
                  name: 'Parking Slot',
                  type: 'text',
                  label: 'Parking Slot # (Truck)',
                  textTransform: 'capitalize'
                }"
              ></app-ta-input>
            </div>
          </div>
          <div class="row row-mb-10">
            <div class="col-12">
              <app-ta-input
                formControlName="fullParkingSlot"
                [inputConfig]="{
                  name: 'Full Parking Slot',
                  type: 'text',
                  label: 'Full Parking Slot # (Semi Truck - Trailer)',
                  textTransform: 'capitalize'
                }"
              ></app-ta-input>
            </div>
          </div>
        </app-ta-custom-card>
      </div>
      <!-------------------------------- Additional Tab -------------------------------->
      <div class="m-tab" *ngIf="selectedTab === 2">
        <app-ta-custom-card [cardName]="'Features'" [isCardOpen]="true">
          <div class="parking-gate-securityCamera">
            <div class="gate-field">
              <p>Gate</p>
              <div class="gate-radio">
                <app-ta-tab-switch
                  [tabs]="gateBtns"
                  (switchClicked)="tabChange($event, 'gate')"
                  [type]="'type2-modal-popup'"
                >
                </app-ta-tab-switch>
              </div>
            </div>
            <div class="camera-field">
              <p>Security Camera</p>
              <div class="camera-radio">
                <app-ta-tab-switch
                  [tabs]="cameraBtns"
                  (switchClicked)="tabChange($event, 'camera')"
                  [type]="'type2-modal-popup'"
                >
                </app-ta-tab-switch>
              </div>
            </div>
          </div>
        </app-ta-custom-card>
        <app-ta-custom-card [cardName]="'Finance'" [isCardOpen]="true">
          <div class="row row-mb-10">
            <div class="col-4">
              <app-ta-input
                formControlName="rent"
                [inputConfig]="{
                  name: 'Dollar',
                  type: 'text',
                  label: 'Rent',
                  placeholderIcon: 'dollar',
                  customClass: 'dollar-placeholderIcon',
                  thousandSeparator: true
                }"
              ></app-ta-input>
            </div>
            <div class="col-4">
              <app-ta-input-dropdown
                formControlName="payPeriod"
                [inputConfig]="{
                  name: 'Input Dropdown',
                  type: 'text',
                  label: 'Pay Period',
                  isDropdown: true,
                  dropdownWidthClass: 'w-col-148'
                }"
                [options]="payPeriods"
                [activeItem]="selectedPayPeriod"
                (selectedItem)="onSelectDropdown($event, 'pay-period')"
              ></app-ta-input-dropdown>
            </div>
            <div class="col-4 no-p-left">
              <app-ta-input-dropdown
                formControlName="monthlyDay"
                [inputConfig]="{
                  name: 'Input Dropdown',
                  type: 'text',
                  label: 'Day',
                  isDropdown: true,
                  dropdownWidthClass: 'w-col-148'
                }"
                [options]="
                  selectedDay?.name === 'Weekly' ? weeklyDays : monthlyDays
                "
                [activeItem]="selectedDay"
                (selectedItem)="onSelectDropdown($event, 'day')"
              ></app-ta-input-dropdown>
            </div>
          </div>
        </app-ta-custom-card>
      </div>
    </div>
  </form>
</app-ta-modal>
