@import 'src/theme/variables.scss';

.progress-text-wrapper {
    width: 100%;

    .text-broker-wrapper {
        .days {
            width: 65%;
            font-size: 14px;
            line-height: 18px;
            color: $ta-black-2;

            &::-moz-selection {
                color: $ta-black-2;
                background: rgb(183, 183, 183, 0.2);
            }
            &::selection {
                color: $ta-black-2;
                background: rgb(183, 183, 183, 0.2);
            }
        }

        .invoice-days {
            width: 15%;
            font-size: 14px;
            line-height: 18px;
            color: $bw5;

            &::-moz-selection {
                color: $bw5;
                background: rgb(170, 170, 170, 0.2);
            }
            &::selection {
                color: $bw5;
                background: rgb(170, 170, 170, 0.2);
            }

            .inv {
                &::-moz-selection {
                    color: $bw5;
                    background: rgb(170, 170, 170, 0.2);
                }
                &::selection {
                    color: $bw5;
                    background: rgb(170, 170, 170, 0.2);
                }
            }
        }

        .cost-total-ageing {
            width: 20%;
            font-size: 14px;
            line-height: 18px;
            color: $ta-black-2;

            &::-moz-selection {
                color: $ta-black-2;
                background: rgb(183, 183, 183, 0.2);
            }
            &::selection {
                color: $ta-black-2;
                background: rgb(183, 183, 183, 0.2);
            }
        }

        &.disabled-text {
            .days, .cost-total-ageing { 
                color: $bw5;
            }
        }
    }

    .app-progress-invoices {
        width: 100%;
        height: 8px;
        border-radius: 2px;
        background-color: $bw2;

        .inside-progress {
            height: 8px;
            border-radius: 2px 0 0 2px;
        }

        .inside-progress-light-blue {
            background-color: $ta-blue;
        }

        .inside-progress-mid-orange {
            background-color: $special-filter-orange;
        }

        .inside-progress-dark-orange {
            background-color: $ta-orange-2;
        }

        .inside-progress-danger-broker {
            background-color: $ta-red-2;
        }
    }
}