@let load = loadStoreService.resolveLoadDetails$ | async;
@let isLoading = !(loadStoreService.isLoadDetailsLoaded$ | async);
@let minimalList = loadStoreService.minimalListSelector$ | async;
@let isSpacingBottom = true;
@let groupedByStatusTypeList =
    loadStoreService.groupedByStatusTypeListSelector$ | async;
@let loadNumberFormated = 'Load ' + load.loadNumber;

<div class="background-white p-8 br-3">
    @if (isLoading) {
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <p class="placeholder-glow">
                    <span
                        class="placeholder background-muted br-2 h-20 w-93"
                    ></span>
                </p>

                <p class="placeholder-glow m-l-8">
                    <span
                        class="placeholder background-muted rounded-circle h-18 w-18"
                    ></span>
                </p>
            </div>

            <div class="d-flex">
                <div class="d-flex w-26 h-26 justify-content-center">
                    <p class="placeholder-glow">
                        <span
                            class="placeholder background-muted br-2 w-7 h-18"
                        ></span>
                    </p>
                </div>

                <div class="d-flex w-26 h-26 justify-content-center ml-1">
                    <p class="placeholder-glow">
                        <span
                            class="placeholder background-muted br-2 w-7 h-18"
                        ></span>
                    </p>
                </div>
            </div>
        </div>
    } @else {
        <app-ca-details-title-card
            #detailsTitleCard
            [detailsTitleCardConfig]="{
                title: loadNumberFormated,
                tooltip: 'Search load',
                placeholder: load.loadNumber,
                width: 372,
                tooltipNext: 'Next',
                tooltipPrevious: 'Previous',
            }"
            [dropdownTemplate]="titleDropdown"
            [titleRightIconTemplate]="titleRightIconTemplate"
            (onNextAction)="onNextAction()"
            (onPreviousAction)="onPreviousAction()"
        >
        </app-ca-details-title-card>
    }

    <ng-template #titleDropdown>
        <div
            class="d-flex align-items-center justify-content-between ta-font-bold font-size-11 text-color-white dropdown-option add-new background-hover-black"
            (click)="onAddNewItemAction()"
        >
            <div class="text-color-blue-19">ADD NEW</div>
            <svg-icon
                class="plus-icon svg-size-14 svg-fill-blue-13"
                [src]="sharedIcons.PLUS_ICON"
            ></svg-icon>
        </div>

        @for (listItem of groupedByStatusTypeList | keyvalue; track $index) {
            <app-ta-custom-card
                [cardName]="listItem.key"
                [hasCounter]="listItem.value.length"
                [disabledCard]="!listItem.value"
                [bodyTemplate]="'card'"
                [hasBlackDivider]="true"
                [hasSmallDivider]="true"
                [isDetailsCardDropdown]="true"
                [animationMarginParams]="{
                    marginTop: '6px',
                    marginBottom: '6px',
                }"
            >
                @for (item of listItem.value; track item.id; let i = $index) {
                    <ng-container
                        *ngTemplateOutlet="
                            dropdownItem;
                            context: {
                                item,
                            }
                        "
                    >
                    </ng-container>
                }
            </app-ta-custom-card>
        }
    </ng-template>

    <ng-template #titleRightIconTemplate>
        <svg-icon
            [src]="sharedIcons.LTL_FILLED"
            class="d-flex align-items-center svg-size-18 m-l-6 svg-fill-muted"
        ></svg-icon>
    </ng-template>

    <div class="d-flex flex-column px-1 m-t-12">
        <app-ca-skeleton
            [width]="223"
            [height]="16"
            [isLoading]="isLoading"
            [contentTemplate]="contentTemplate"
            [class.mb-2]="isLoading"
        >
            <ng-template #contentTemplate>
                <span
                    class="ta-font-semi-bold text-size-18 text-color-black h-30 mb-1 d-flex align-items-center"
                >
                    Ref. {{ load.referenceNumber }}
                </span>
            </ng-template>
        </app-ca-skeleton>

        <div class="d-flex align-items-center flex-wrap row gutter-x-12">
            <ng-container
                *ngTemplateOutlet="
                    iconTextTemplate;
                    context: {
                        icon: sharedIcons.STATUS_ICON,
                        loadStatus: {
                            name: load.status?.statusString,
                            id: load.status?.statusValue?.id,
                        },
                        isLoading,
                        isSpacingBottom,
                        width: 110,
                        colWidth: 'col-6',
                    }
                "
            >
            </ng-container>
            <ng-container
                *ngTemplateOutlet="
                    iconTextTemplate;
                    context: {
                        icon: sharedIcons.COMPANY_ICON,
                        text: load.company?.companyName,
                        isLoading,
                        isSpacingBottom,
                        width: 140,
                        colWidth: 'col-6',
                        tooltipText: 'Company',
                    }
                "
            >
            </ng-container>
            <ng-container
                *ngTemplateOutlet="
                    iconTextTemplate;
                    context: {
                        icon: sharedIcons.TIME_ICON,
                        text: load.company?.companyName,
                        isLoading,
                        isSpacingBottom,
                        width: 130,
                        colWidth: 'col-6',
                        tooltipText: 'Updated',
                    }
                "
            >
            </ng-container>
            <ng-container
                *ngTemplateOutlet="
                    iconTextTemplate;
                    context: {
                        icon: sharedIcons.USER_ICON,
                        text: load.dispatcher?.fullName,
                        isLoading,
                        isSpacingBottom,
                        width: 120,
                        colWidth: 'col-6',
                        tooltipText: 'Dispatcher',
                    }
                "
            >
            </ng-container>
        </div>
    </div>

    <div class="divider divider--small divider--dark mb-2"></div>
    <div class="d-flex align-items-center flex-wrap px-1 row gutter-x-12">
        <ng-container
            *ngTemplateOutlet="
                iconTextTemplate;
                context: {
                    icon: sharedIcons.ADDED_DATE,
                    text: load?.createdAt | formatDateP,
                    isLoading,
                    width: 64,
                    colWidth: 'col-6',
                    tooltipText: 'Date Added',
                }
            "
        >
        </ng-container>
        <ng-container
            *ngTemplateOutlet="
                iconTextTemplate;
                context: {
                    icon: sharedIcons.DATE_EDITED,
                    text: load?.updatedAt | formatDateP,
                    isLoading,
                    width: 64,
                    colWidth: 'col-6',
                    tooltipText: 'Date Updated',
                }
            "
        >
        </ng-container>
    </div>
</div>

<div class="m-t-8 background-white br-3 pb-1">
    @if (isLoading) {
        <ng-container
            *ngTemplateOutlet="
                skeletonPlaceholder;
                context: { width: 101, isDividerVisible: true }
            "
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="
                skeletonPlaceholder;
                context: { width: 91, isDividerVisible: true }
            "
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="
                skeletonPlaceholder;
                context: { width: 202, isDividerVisible: true }
            "
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="
                skeletonPlaceholder;
                context: { width: 116, isDividerVisible: true }
            "
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="
                skeletonPlaceholder;
                context: { width: 49, isCircle: true, isDividerVisible: true }
            "
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="
                skeletonPlaceholder;
                context: { width: 68, isCircle: true, isDividerVisible: true }
            "
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="
                skeletonPlaceholder;
                context: { width: 80, isCircle: true, isDividerVisible: true }
            "
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="
                skeletonPlaceholder;
                context: { width: 36, isCircle: true }
            "
        ></ng-container>
    } @else {
        <div class="d-flex flex-column p-x-12 pt-1">
            <span
                class="ta-font-extra-bold text-size-14 text-color-black h-26 mb-1 d-flex align-items-center"
            >
                Broker Detail
            </span>

            <span
                class="ta-font-medium text-size-18 text-color-black mb-1 text-truncate d-flex align-items-center h-30"
            >
                {{ load.broker?.businessName }}
            </span>

            <div class="d-flex align-items-center flex-wrap row gutter-x-12">
                <ng-container
                    *ngTemplateOutlet="
                        iconTextTemplate;
                        context: {
                            icon: sharedIcons.USER_CIRCLE_ICON,
                            text: load.brokerContact?.contactName,
                            isLoading,
                            isSpacingBottom,
                            width: 160,
                            colWidth: 'col-12',
                            textColorClass: 'text-color-black-2',
                        }
                    "
                >
                </ng-container>
                <ng-container
                    *ngTemplateOutlet="
                        iconTextTemplate;
                        context: {
                            icon: sharedIcons.PHONE_ICON,
                            text: load.brokerContact?.phone,
                            isLoading,
                            isSpacingBottom,
                            width: 140,
                            colWidth: 'col-12',
                            extension: load.brokerContact?.extensionPhone,
                            textColorClass: 'text-color-black-2',
                        }
                    "
                >
                </ng-container>
                <ng-container
                    *ngTemplateOutlet="
                        iconTextTemplate;
                        context: {
                            icon: sharedIcons.EMAIL_ICON,
                            text: load.brokerContact?.email,
                            isLoading,
                            isSpacingBottom,
                            width: 180,
                            colWidth: 'col-12',
                            textColorClass: 'text-color-black-2',
                        }
                    "
                >
                </ng-container>
            </div>
        </div>

        <div class="p-x-6 mb-1">
            <div class="divider divider--small divider--dark"></div>
        </div>

        <div class="p-x-12 m-b-8">
            <span
                class="ta-font-extra-bold text-size-14 text-color-black h-26 mb-2 d-flex align-items-center m-b-8"
            >
                Assigned To

                <svg-icon
                    [src]="sharedIcons.HALF_TIME_ICON"
                    class="svg-size-18 m-l-6 svg-fill-muted"
                ></svg-icon>
            </span>

            <div class="row gutter-x-12">
                @let isLoadAssigned = load?.dispatch;
                <div class="col-6">
                    <app-ca-unit-info-box
                        [unitInfoBoxConfig]="{
                            id: load.dispatch?.truck?.id,
                            type: eSharedString.TRUCK,
                            iconPath: load.dispatch?.truck?.truckType.logoName,
                            label: load.dispatch?.truck?.truckNumber,
                            isUnitAssigned:
                                isLoadAssigned && load.dispatch?.truck,
                            isSvgIcon: true,
                        }"
                    ></app-ca-unit-info-box>
                </div>

                <div class="col-6">
                    <app-ca-unit-info-box
                        [unitInfoBoxConfig]="{
                            id: load?.dispatch?.trailer?.id,
                            type: eSharedString.TRAILER,
                            iconPath:
                                load.dispatch?.trailer?.trailerType.logoName,
                            label: load.dispatch?.trailer?.trailerNumber,
                            isUnitAssigned:
                                isLoadAssigned && load.dispatch?.trailer,
                            isSvgIcon: true,
                        }"
                    ></app-ca-unit-info-box>
                </div>

                <div class="col-12">
                    <div class="m-t-12">
                        @let driver = load?.dispatch?.driver;
                        @let driverName =
                            driver?.firstName +
                            eStringPlaceholder.WHITESPACE +
                            driver?.lastName;
                        <app-ca-unit-info-box
                            [unitInfoBoxConfig]="{
                                id: driver?.id,
                                type: eSharedString.DRIVER,
                                label: driverName,
                                isUnitAssigned:
                                    isLoadAssigned && load?.dispatch?.driver,
                                isImage: true,
                                imagePath: driver?.avatarFile?.url,
                            }"
                        ></app-ca-unit-info-box>
                    </div>
                </div>
            </div>
        </div>

        <ng-container
            *ngTemplateOutlet="
                divider;
                context: { isDividerVisible: true, isMarginTopDisabled: true }
            "
        ></ng-container>

        <div class="p-x-12">
            @let loadRequirements =
                load.loadRequirements
                    | loadRequirementsFormat
                        : load.generalCommodity
                        : load.weight;

            <app-ta-custom-card
                [cardName]="'Load Detail & Requirement'"
                [isCardOpen]="!!loadRequirements"
                [hasDivider]="false"
                [disabledCard]="!loadRequirements"
            >
                @if (loadRequirements) {
                    <div
                        class="d-flex align-items-center flex-wrap row gutter-x-12 gutter-y-12"
                    >
                        @for (
                            requirement of loadRequirements;
                            track requirement.title
                        ) {
                            <div class="col-6">
                                <div class="d-flex flex-column">
                                    <div
                                        class="text-size-11 text-color-black ta-font-bold m-b-2"
                                    >
                                        {{ requirement.title }}
                                    </div>
                                    <div
                                        class="text-size-14 text-color-black-2"
                                    >
                                        {{ requirement.value }}
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </app-ta-custom-card>
        </div>
        <ng-container
            *ngTemplateOutlet="
                divider;
                context: { isDividerVisible: true, isMarginTopDisabled: true }
            "
        ></ng-container>
        <ng-container *ngTemplateOutlet="messageForDriver"></ng-container>

        <ng-container
            *ngTemplateOutlet="
                billing;
                context: {
                    data: load,
                }
            "
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="
                divider;
                context: { isDividerVisible: true, isMarginTopDisabled: true }
            "
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="
                payment;
                context: {
                    data: load,
                }
            "
        ></ng-container>

        <ng-container
            *ngTemplateOutlet="
                divider;
                context: { isDividerVisible: true, isMarginTopDisabled: true }
            "
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="invoiceAgeing; context: { data }"
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="
                divider;
                context: { isDividerVisible: true, isMarginTopDisabled: true }
            "
        ></ng-container>

        <ng-container *ngTemplateOutlet="noteCard"></ng-container>
    }
</div>

<ng-template
    #iconTextTemplate
    let-icon="icon"
    let-text="text"
    let-isLoading="isLoading"
    let-width="width"
    let-isSpacingBottom="isSpacingBottom"
    let-colWidth="colWidth"
    let-extension="extension"
    let-textColorClass="textColorClass"
    let-tooltipText="tooltipText"
    let-loadStatus="loadStatus"
>
    @if (isLoading || text || loadStatus) {
        <div
            class="d-flex align-items-center h-26"
            [ngClass]="isSpacingBottom && 'mb-1'"
            [class]="colWidth"
        >
            <app-ca-skeleton
                [width]="15"
                [height]="15"
                [isCircle]="true"
                [isLoading]="isLoading"
                [contentTemplate]="contentTemplate"
                [ngClass]="isLoading && 'mr-1'"
            >
                <ng-template #contentTemplate>
                    <div
                        ngbTooltip
                        [mainTooltip]="tooltipText"
                        position="bottom"
                        [tooltipBackground]="eColor.BLACK"
                    >
                        <svg-icon
                            class="svg-fill-muted svg-size-18 d-flex mr-1 justify-content-center"
                            [class]="
                                loadStatus &&
                                (loadStatus.id | loadStatusColors: true)
                            "
                            [src]="icon"
                        ></svg-icon>
                    </div>
                </ng-template>
            </app-ca-skeleton>

            <app-ca-skeleton
                [width]="width"
                [height]="16"
                [isLoading]="isLoading"
                [contentTemplate]="textTemplate"
                class="overflow-hidden"
            >
                <ng-template #textTemplate>
                    @if (text) {
                        <div
                            class="text-size-14 text-truncate"
                            [ngClass]="textColorClass || 'text-color-black'"
                        >
                            {{ text }}
                            @if (extension) {
                                <span class="text-color-grey"
                                    >x{{ extension }}
                                </span>
                            }
                        </div>
                    } @else if (loadStatus) {
                        <app-ca-load-status
                            [status]="{
                                name: loadStatus?.name,
                                id: loadStatus?.id,
                            }"
                            [isNoStyle]="true"
                            [fontSize]="14"
                        >
                        </app-ca-load-status>
                    }
                </ng-template>
            </app-ca-skeleton>
        </div>
    }
</ng-template>

<ng-template
    #skeletonPlaceholder
    let-width="width"
    let-isDividerVisible="isDividerVisible"
    let-isCircle="isCircle"
>
    <div class="d-flex align-items-center p-x-12 justify-content-between">
        <div class="d-flex align-items-center">
            <p class="placeholder-glow">
                <span
                    class="placeholder background-muted br-2 h-16"
                    [ngClass]="'w-' + width"
                ></span>
            </p>

            @if (isCircle) {
                <p class="placeholder-glow m-l-8">
                    <span
                        class="placeholder background-muted rounded-circle h-18 w-18"
                    ></span>
                </p>
            }
        </div>

        <p class="placeholder-glow">
            <span class="placeholder background-muted br-2 h-7 w-18"></span>
        </p>
    </div>

    <ng-container
        *ngTemplateOutlet="divider; context: { isDividerVisible }"
    ></ng-container>
</ng-template>

<ng-template
    #divider
    let-isDividerVisible="isDividerVisible"
    let-isMarginTopDisabled="isMarginTopDisabled"
>
    @if (isDividerVisible) {
        <div
            class="p-x-6 mb-1"
            [ngClass]="isMarginTopDisabled ? ' mt-0' : ' mt-1'"
        >
            <div class="divider divider--small divider--dark"></div>
        </div>
    }
</ng-template>

<ng-template #billing let-data="data">
    @let cardSubText =
        !isBillingExpanded
            ? data?.tonuRate
                ? (data?.tonuRate | currency: 'USD') + ' TONU'
                : data?.revisedRate
                  ? (data?.revisedRate | currency: 'USD') + ' REVISED'
                  : eStringPlaceholder.EMPTY
            : eStringPlaceholder.EMPTY;
    @let cardSubTextClass =
        !isBillingExpanded
            ? data?.tonuRate
                ? 'red'
                : data?.revisedRate
                  ? 'text-color-muted'
                  : eStringPlaceholder.EMPTY
            : eStringPlaceholder.EMPTY;

    <div class="p-x-12">
        <app-ta-custom-card
            [cardName]="'Billing'"
            [hasCounter]="data?.billingCount"
            [disabledCard]="!data?.billingCount"
            [subText]="cardSubText"
            [subTextClass]="cardSubTextClass"
            [bodyTemplate]="'card'"
            [animationMarginParams]="{
                marginTop: '6px',
                marginBottom: '6px',
            }"
            [hasDivider]="false"
            (onOpenCard)="toggleBilling()"
        >
            <ng-container
                *ngTemplateOutlet="
                    billingBaseRate;
                    context: {
                        data,
                    }
                "
            ></ng-container>
        </app-ta-custom-card>
    </div>
</ng-template>

@let mutedColor = 'text-color-muted';
@let blackColor = 'text-color-black';

<ng-template
    #cardItem
    let-label="label"
    let-value="value"
    let-valueTextSize="valueTextSize"
    let-color="color"
    let-hasLineThrough="hasLineThrough"
    let-fontWeight="fontWeight"
>
    <div class="d-flex justify-content-between align-items-center mb-1 h-26">
        <span
            class="ta-font-{{ fontWeight ?? 'medium' }} text-size-14"
            [ngClass]="hasLineThrough ? mutedColor : blackColor"
            [class.text-decoration-line-through]="hasLineThrough"
        >
            {{ label }}
        </span>
        <span
            [ngClass]="[
                valueTextSize ? 'text-size-' + valueTextSize : 'text-size-14',
                hasLineThrough ? mutedColor : color,
            ]"
            [class.text-decoration-line-through]="hasLineThrough"
        >
            {{ value | currency: 'USD' }}
        </span>
    </div>
</ng-template>

<ng-template #billingBaseRate let-data="data">
    @if (data?.baseRate) {
        <ng-container
            *ngTemplateOutlet="
                cardItem;
                context: {
                    label: 'Base Rate',
                    value: data?.baseRate,
                    color: data?.tonuRate ? mutedColor : 'text-color-black-2',
                    hasLineThrough:
                        data?.tonuRate ||
                        data?.revisedRate ||
                        data?.adjustedRate,
                }
            "
        ></ng-container>
    }

    @if (data?.adjustedRate) {
        <ng-container
            *ngTemplateOutlet="
                cardItem;
                context: {
                    label: 'Adjusted',
                    value: data?.adjustedRate,
                    color: data?.tonuRate
                        ? mutedColor
                        : 'text-color-special-filter-purple',
                    hasLineThrough: data?.tonuRate,
                }
            "
        ></ng-container>
    }

    @if (data?.revisedRate) {
        <ng-container
            *ngTemplateOutlet="
                cardItem;
                context: {
                    label: 'Revised',
                    value: data?.revisedRate,
                    color: data?.tonuRate
                        ? mutedColor
                        : 'text-color-special-filter-purple',
                    hasLineThrough: data?.tonuRate,
                }
            "
        ></ng-container>
    }

    @for (item of data?.additionalBillingRates; track item.id) {
        @if (item?.rate) {
            <ng-container
                *ngTemplateOutlet="
                    cardItem;
                    context: {
                        label: item?.additionalBillingType?.name,
                        value: item?.rate,
                        color: data?.tonuRate
                            ? mutedColor
                            : 'text-color-black-2',
                        hasLineThrough: data?.tonuRate,
                    }
                "
            ></ng-container>
        }
    }

    <ng-container
        *ngTemplateOutlet="
            cardItem;
            context: {
                label: 'TOTAL RATE',
                value: data?.totalRate,
                valueTextSize: 18,
                color: data?.tonuRate ? mutedColor : 'text-color-black',
                hasLineThrough:
                    data?.tonuRate || data?.revisedRate || data?.adjustedRate,
                fontWeight: 'semi-bold',
            }
        "
    ></ng-container>

    @if (data?.totalAdjustedRate) {
        <ng-container
            *ngTemplateOutlet="
                cardItem;
                context: {
                    label: 'TOTAL ADJUSTED',
                    value: data?.totalAdjustedRate,
                    valueTextSize: 18,
                    color: data?.tonuRate
                        ? mutedColor
                        : 'text-color-special-filter-purple',
                    hasLineThrough: false,
                    fontWeight: 'semi-bold',
                }
            "
        ></ng-container>
    }

    @if (data?.driverRate) {
        <ng-container
            *ngTemplateOutlet="
                cardItem;
                context: {
                    label: 'DRIVER RATE',
                    value: data?.driverRate,
                    valueTextSize: 18,
                    color: data?.tonuRate ? mutedColor : 'text-color-yellow-5',
                    hasLineThrough: data?.tonuRate,
                    fontWeight: 'semi-bold',
                }
            "
        ></ng-container>
    }

    @if (data?.tonuRate) {
        <ng-container
            *ngTemplateOutlet="
                cardItem;
                context: {
                    label: 'TONU RATE',
                    value: data?.tonuRate,
                    valueTextSize: 18,
                    color: 'text-color-red-11',
                    hasLineThrough: data?.tonuRate,
                    fontWeight: 'semi-bold',
                }
            "
        ></ng-container>
    }
</ng-template>

<ng-template #payment let-data="data">
    @let isDue = !!data?.totalDue;
    @let cardSubTitle =
        isDue ? 'DUE ' + (data?.totalDue | currency: 'USD') : 'PAID IN FULL';
    @let cardSubClass =
        !isPaymentExpanded
            ? isDue
                ? 'red'
                : 'green'
            : eStringPlaceholder.EMPTY;

    <div class="p-x-12">
        <app-ta-custom-card
            [cardName]="'Payment'"
            [hasCounter]="data?.paymentCount"
            [disabledCard]="!!data?.paymentCount"
            [subText]="!isPaymentExpanded && cardSubTitle"
            [subTextClass]="cardSubClass"
            [bodyTemplate]="'card'"
            [animationMarginParams]="{
                marginTop: '6px',
                marginBottom: '6px',
            }"
            [hasDivider]="false"
            (onOpenCard)="togglePayment()"
        >
            @if (data?.advancePay) {
                <ng-container
                    *ngTemplateOutlet="
                        cardItem;
                        context: {
                            label: 'Advance',
                            value: data?.advancePay,
                            color: 'text-color-black',
                            hasLineThrough: data?.tonuRate,
                        }
                    "
                ></ng-container>
            }
            <div class="d-flex justify-content-between">
                @for (item of data?.pays; track pay.id) {
                    <span class="ta-font-medium text-size-14">
                        {{ item?.paymentType?.name }}
                        ({{ item?.paymentMethod?.name }})
                    </span>
                    <span class="text-size-14"> {{ item?.payDate }} </span>
                    <span class="text-size-14">{{
                        item?.pay | currency: 'USD'
                    }}</span>
                }
            </div>
            <ng-container
                *ngTemplateOutlet="
                    cardItem;
                    context: {
                        label: isDue ? 'DUE' : 'PAID IN FULL',
                        value: isDue ? data?.totalDue : data?.totalPaid,
                        valueTextSize: 18,
                        color: isDue
                            ? 'text-color-red-11'
                            : 'text-color-green-2',
                        hasLineThrough: false,
                    }
                "
            ></ng-container>
        </app-ta-custom-card>
    </div>
</ng-template>
<ng-template #invoiceAgeing let-data="data">
    @let cardSubTitle = '';
    <div class="p-x-12">
        <app-ta-custom-card
            [cardName]="'Invoice Ageing'"
            [disabledCard]="!data?.invoicedDate || !data?.invoiceDueDate"
            [subText]="!isInvoiceAgeingExpanded && cardSubTitle"
            [bodyTemplate]="'card'"
            [animationMarginParams]="{
                marginTop: '6px',
                marginBottom: '6px',
            }"
            [hasDivider]="false"
            (onOpenCard)="toggleInvoiceAgeing()"
        >
            @if (data?.invoicedDate && data?.invoiceDueDate) {
                <div class="d-flex m-b-4">
                    <div class="w-50">
                        <div class="text-size-11 ta-font-bold">Invoiced</div>
                        <div class="text-size-14 m-t-2">
                            {{ data?.invoicedDate }}
                        </div>
                    </div>

                    @let statusText = data?.isPaid ? 'Paid' : 'Due Date';
                    <div class="w-50">
                        <div class="text-size-11 text-color-black ta-font-bold">
                            {{ statusText }}
                        </div>
                        <div class="text-size-14 m-t-2">
                            {{ data?.invoiceDueDate }}
                        </div>
                    </div>
                </div>

                <ng-container
                    *ngTemplateOutlet="
                        invoiceAgeingProgressBar;
                        context: {
                            args: {
                                label: data?.invoiceAgingProgressBar
                                    ?.expirationInDays,
                                payTerm: data?.payTerm || 0,
                                percent:
                                    data?.invoiceAgingProgressBar?.percentage,
                            },
                        }
                    "
                ></ng-container>
            }
        </app-ta-custom-card>
    </div>
</ng-template>

<ng-template #noteCard>
    <div class="p-x-12" [formGroup]="cardForm">
        <app-ta-input-note
            formControlName="note"
            [isVisibleNote]="
                load?.note && load?.note !== 'null' ? load?.note : false
            "
            [note]="
                load?.note && load?.note !== 'null'
                    ? load?.note
                    : eStringPlaceholder.EMPTY
            "
            [note]="load.note"
            [noteType]="'details-card'"
            [entityId]="load.id"
            [entityType]="'Load'"
            [isVisibleDivider]="false"
        ></app-ta-input-note>
    </div>
</ng-template>

<ng-template #messageForDriver>
    @if (load.loadRequirements?.driverMessage) {
        <ng-container
            *ngTemplateOutlet="divider; context: { isDividerVisible: true }"
        ></ng-container>
        <div class="p-x-12" [formGroup]="cardForm">
            <app-ta-input-note
                formControlName="driverMessage"
                [noteLabel]="'Driver Message'"
                [isVisibleNote]="
                    load.loadRequirements?.driverMessage &&
                    load.loadRequirements?.driverMessage !== 'null'
                        ? load.loadRequirements?.driverMessage
                        : false
                "
                [note]="
                    load.loadRequirements?.driverMessage &&
                    load.loadRequirements?.driverMessage !== 'null'
                        ? load.loadRequirements?.driverMessage
                        : eStringPlaceholder.EMPTY
                "
                [isVisibleDivider]="false"
            ></app-ta-input-note>
        </div>
    }
</ng-template>

<ng-template #dropdownItem let-item="item">
    <div
        class="d-flex align-items-center justify-content-between text-color-white background-hover-black ta-font-regular font-size-14 br-2 text-truncate dropdown-option dropdown-item"
        (click)="onDropdownItemAction()"
    >
        <div class="dropdown-option-left-side d-flex">
            <svg-icon
                [src]="sharedIcons.LTL_FILLED"
                class="d-flex align-items-center svg-size-18 m-r-4 svg-fill-muted"
            ></svg-icon>
            <div class="ta-font-regular text-size-14 m-r-10">
                {{ item.loadNumber }}
            </div>
            <div
                class="ta-font-regular text-color-light-grey-2 font-size-11 line-height-18 additional-text-default"
            >
                {{ item.referenceNumber }}
            </div>
            <div
                class="ta-font-regular text-color-light-grey-2 font-size-11 line-height-18 additional-text-hover"
            >
                ${{ item?.totalBill }}K
            </div>
        </div>

        <div class="dropdown-option-right-side">
            <div class="right-side-default">
                <app-ca-load-status
                    [status]="{
                        name: item.status?.statusString,
                        id: item.status?.statusValue?.id,
                    }"
                    [isTitleCardDropdown]="true"
                >
                </app-ca-load-status>
            </div>
            <div
                class="ta-font-regular text-color-light-grey-2 font-size-11 line-height-18 right-side-hover"
            >
                {{ item.brokerName }}
            </div>
        </div>
    </div>
</ng-template>

<ng-template #invoiceAgeingProgressBar let-args="args">
    <div
        class="d-flex flex-column justify-content-center gap-6 m-t-4 mb-1"
        [ngClass]="args?.label ? 'h-40' : 'h-16'"
    >
        @if (args?.label) {
            <div
                class="d-flex stops-container align-items-center justify-content-between"
            >
                <div class="d-flex align-items-center">
                    <div
                        class="text-size-14 ta-font-semi-bold text-color-black"
                    >
                        {{ args?.label }}
                    </div>
                </div>
                <div class="text-size-14 text-right text-color-black">
                    {{ args?.payTerm }} day term
                </div>
            </div>
        }

        <div
            class="h-8 w-100 d-inline-block br-2 background-light-grey overflow-hidden mb-1"
        >
            @let bgClass =
                args?.data?.dueDate ? 'background-red-10' : 'background-muted';
            @let isFullWidth = args?.isPaid || args?.isDue;
            <div
                class="h-8"
                [ngStyle]="{
                    width: (isFullWidth ? 100 : args?.percent) + '%',
                }"
                [ngClass]="args?.isPaid ? 'background-light-grey' : bgClass"
            ></div>
        </div>
    </div>
</ng-template>
