<app-payroll-base-modal
    [modalTitle]="'Deduction'"
    [baseForm]="payrollCreditForm"
    [isDeductionModal]="true"
    [footerTemplate]="footerTemplate"
    [isDriverAndTruckTabs]="true"
></app-payroll-base-modal>

<ng-template #footerTemplate>
    <div class="modal-footer" [class.justify-content-between]="isEditMode">
        <button
            class="modal-save-btn ta-font-bold"
            (click)="createNewDeduction()"
            [class.valid]="payrollCreditForm.valid"
        >
            Save
        </button>
    </div>
</ng-template>
