<div class="holder" (click)="status=!status"  
[ngClass]="status ? 'success' : 'danger'">
    <div class="parent" 
    
    *ngIf="showItems && isNavigationHovered"></div>
    <div *ngIf="showItems && isNavigationHovered" class="wrapper">
        
    <div  class="items" *ngFor="let item of footer[0].route"
    [route]="footer[0]"

    >
    
    <div 
    (click)="changeRouteSettings(item)"
    class="item item-settings"
    >

            <svg-icon
            src="{{ item.image }}"
            class="svg-settings"
            ></svg-icon>
            <p  >{{item.name}}</p>
            <svg-icon
            class="nav-item-arrow_top"
            src="assets/svg/common/arrow_top_right.svg"
            ></svg-icon>
        </div>
    </div>
    <div
   
    [@showHideDetails]="
        true &&
        !true &&
        !true &&
        true &&
      
        isActiveMagicLine
            ? 'true'
            : 'true'
    "
    class="new-magic-line"
></div>
</div>

<div class="footer-item" (click)="showItems = !showItems">
    <svg-icon
    src="{{ footer[0].image }}"
    ></svg-icon>
    <p [@showHideDetails]="isNavigationHovered ? 'true' : 'false'">Settings</p>
</div>

</div>