@let store =
    {
        users: userStoreService.userListSelector$ | async,
        columns: userStoreService.tableColumnsSelector$ | async,
        selectedTab: userStoreService.selectedTabSelector$ | async,
        selectedCount: userStoreService.selectedCountSelector$ | async,
        selectedTabCountSelector:
            userStoreService.selectedTabCountSelector$ | async,
        searchStrings: userStoreService.searchStringsSelector$ | async,
        tableSettings: userStoreService.tableSettingsSelector$ | async,
    };

@if (store) {
    @let isTableLocked = store.tableSettings.isTableLocked;
    @let templates =
        {
            select,
            name,
            department,
            employeePhone,
            employeeOffice,
            employeeEmail,
            personalPhone,
            personalEmail,
            personalAddress,
            status,
            activity,
            bankName,
            bankRouting,
            bankAccount,
            payrollType,
            payrollSalary,
        };
    @let headerTemplates =
        {
            select: selectHeaderTemplate,
        };

    <app-new-table
        [rows]="store.users"
        [templates]="templates"
        [columns]="store.columns"
        [headerTemplates]="headerTemplates"
        [isTableLocked]="isTableLocked"
        [totalDataCount]="store.selectedTabCountSelector"
        (onSortingChange)="onSortingChange($event)"
        (onShowMore)="onShowMoreClick()"
    >
        <ng-template #selectHeaderTemplate>
            <app-ca-checkbox-selected-count
                [itemsTotalCount]="store.users.length"
                [itemsSelectedCount]="store.selectedCount"
                (onCheckboxCountClick)="onCheckboxCountClick($event)"
            ></app-ca-checkbox-selected-count>
        </ng-template>

        <ng-template let-user="data" #select>
            @let userName = 'User-' + user.id;
            <app-ca-checkbox
                [isChecked]="user.isSelected"
                [isRegularCheckbox]="false"
                [itemIndex]="user.id"
                [name]="userName"
                (columnCheckAction)="onSelectUser(user.id)"
            ></app-ca-checkbox>
        </ng-template>

        <!-- #region NAME COLUMN -->
        <ng-template let-user="data" #name>
            <div class="d-flex gap-1">
                @if (store.selectedTab === eStatusTab.ACTIVE) {
                    <app-ca-profile-image
                        [name]="user?.fullName"
                        [type]="'user'"
                        [withTooltip]="true"
                        [size]="18"
                        [isDispatch]="true"
                        [avatarImg]="user?.avatar"
                        [isHoverEffect]="true"
                        [textShortName]="user?.fullName | nameInitials"
                    >
                    </app-ca-profile-image>
                } @else {
                    <svg-icon
                        [src]="sharedSvgRoutes.DEACTIVATE_ICON"
                        class="svg-fill-muted svg-size-18 d-flex align-items-center"
                    ></svg-icon>
                }

                <div
                    class="text-color-black text-size-14 ta-font-bold"
                    [innerHtml]="
                        user?.fullName
                            | tableHighlightSearchText: store.searchStrings
                    "
                ></div>
            </div>
        </ng-template>
        <!-- #endregion END OF NAME COLUMN -->

        <!-- #region DEPARTMENT NAME COLUMN -->
        <ng-template let-user="data" #department>
            <div
                class="text-color-black-2 text-size-14"
                [innerHtml]="
                    user?.department
                        | tableHighlightSearchText: store.searchStrings
                "
            ></div>
        </ng-template>
        <!-- #endregion END OF DEPARTMENT NAME COLUMN -->

        <!-- #region EMPLOYEE GROUP -->
        <ng-template let-user="data" #employeeOffice>
            <div
                class="text-color-black-2 text-size-14"
                [innerHtml]="
                    user?.companyOffice
                        | tableHighlightSearchText: store.searchStrings
                "
            ></div>
        </ng-template>

        <ng-template
            #employeePhone
            let-user="data"
            let-cellColumnTextColorClass="cellColumnTextColorClass"
        >
            <div class="text-size-14" [class]="cellColumnTextColorClass">
                <span class="text-color-black-2">{{ user?.phone }} </span>
                @if (user?.extensionPhone) {
                    <span class="text-color-muted"
                        >x {{ user?.extensionPhone }}
                    </span>
                }
            </div>
        </ng-template>

        <ng-template let-user="data" #employeeEmail>
            <p
                class="text-color-black-2 text-size-14 text-truncate"
                [innerHtml]="
                    user?.email | tableHighlightSearchText: store.searchStrings
                "
            ></p>
        </ng-template>
        <!-- #endregion END OF EMPLOYEE GROUP -->

        <!-- #region PERSONAL DETAILS GROUP -->
        <ng-template let-user="data" #personalPhone>
            <div
                class="text-color-black-2 text-size-14"
                [innerHtml]="
                    user?.personalPhone
                        | tableHighlightSearchText: store.searchStrings
                "
            ></div>
        </ng-template>

        <ng-template let-user="data" #personalEmail>
            <p
                class="text-color-black-2 text-size-14 text-truncate"
                [innerHtml]="
                    user?.personalEmail
                        | tableHighlightSearchText: store.searchStrings
                "
            ></p>
        </ng-template>

        <ng-template let-user="data" #personalAddress>
            @let fullAddress = user?.address | addressFullname;

            <div
                class="text-color-black-2 text-size-14 text-truncate"
                [innerHtml]="
                    fullAddress | tableHighlightSearchText: store.searchStrings
                "
            ></div>
        </ng-template>

        <!-- #endregion END OF PERSONAL DETAILS GROUP -->

        <!-- #region STATUS COLUMN -->
        <ng-template
            #status
            let-user="data"
            let-cellColumnTextColorClass="cellColumnTextColorClass"
        >
            <div
                class="d-flex gap-1 align-items-center text-color-black-2 text-size-14"
                [class]="cellColumnTextColorClass"
            >
                @switch (user?.userStatus) {
                    @case (eStringPlaceholder.ZERO) {}
                    @case (eSharedString.OWNER) {
                        <svg-icon
                            [src]="sharedSvgRoutes.USER_STATUS_OWNER_ICON"
                            class="svg-size-14"
                        ></svg-icon>
                    }
                    @case (eSharedString.ADMIN) {
                        <svg-icon
                            [src]="sharedSvgRoutes.USER_STATUS_ADMIN_ICON"
                            class="svg-size-14"
                        ></svg-icon>
                    }
                    @case (eSharedString.INVITED) {
                        <svg-icon
                            [src]="sharedSvgRoutes.USER_STATUS_INVITED_ICON"
                            class="svg-size-14 text-color-grey opacity-60"
                        ></svg-icon>
                    }
                    @case (eSharedString.EXPIRED) {
                        <svg-icon
                            [src]="sharedSvgRoutes.USER_STATUS_EXPIRED_ICON"
                            class="svg-size-14 text-color-grey opacity-60"
                        ></svg-icon>
                    }
                    @default {
                        <svg-icon
                            [src]="sharedSvgRoutes.USER_CIRCLE_ICON"
                            class="svg-size-14"
                        ></svg-icon>
                    }
                }

                @let userStatusInvitedOrExpired =
                    user?.userStatus === eSharedString.INVITED ||
                    user?.userStatus === eSharedString.EXPIRED;

                <span
                    class="text-color-black ta-font-bold text-size-11 text-uppercase"
                    [ngClass]="{
                        'opacity-60': userStatusInvitedOrExpired,
                    }"
                    [innerHtml]="
                        user?.userStatus === eStringPlaceholder.ZERO
                            ? eStringPlaceholder.NA_UPPERCASE
                            : (user?.userStatus
                              | tableHighlightSearchText: store.searchStrings)
                    "
                >
                </span>
            </div>
        </ng-template>

        <!-- #region END OF STATUS COLUMN -->

        <!-- #region ACTIVITY COLUMN -->
        <ng-template
            #activity
            let-user="data"
            let-cellColumnTextColorClass="cellColumnTextColorClass"
        >
            @let userActivity = user?.lastLogin | activityTime: 'activity';

            <div
                class="d-flex gap-1 align-items-center"
                [class]="cellColumnTextColorClass"
            >
                @if (userActivity === eSharedString.ONLINE) {
                    <svg-icon
                        [src]="sharedSvgRoutes.GREEN_CIRCLE"
                        class="svg-size-10 d-flex align-items-center"
                    ></svg-icon>
                    
                    <div class="text-color-black ta-font-bold text-size-14">
                        {{ userActivity }}
                    </div>
                } @else {
                    <div class="text-color-black-2 text-size-14">
                        {{ userActivity }}
                    </div>
                }
            </div>
        </ng-template>
        <!-- #region END OF ACTIVITY COLUMN -->

        <!-- #region BANK DETAILS GROUP -->
        <ng-template
            #bankName
            let-user="data"
            let-cellColumnTextColorClass="cellColumnTextColorClass"
        >
            <div
                class="text-color-black-2 text-size-14"
                [innerHtml]="
                    user?.bankName
                        | tableHighlightSearchText: store.searchStrings
                "
            ></div>
        </ng-template>

        <ng-template
            #bankRouting
            let-user="data"
            let-cellColumnTextColorClass="cellColumnTextColorClass"
        >
            <div
                class="text-color-black-2 text-size-14 text-truncate"
                [innerHtml]="
                    user?.routingNumber
                        | tableHighlightSearchText: store.searchStrings
                "
            ></div>
        </ng-template>

        <ng-template
            #bankAccount
            let-user="data"
            let-cellColumnTextColorClass="cellColumnTextColorClass"
        >
            <app-ta-password-account-hidden-characters
                [passwordOrAccount]="user?.accountNumber"
            ></app-ta-password-account-hidden-characters>
        </ng-template>

        <!-- #region END OF BANK DETAILS GROUP -->

        <!-- #region PAYROLL DETAILS GROUP -->

        <ng-template
            #payrollType
            let-user="data"
            let-cellColumnTextColorClass="cellColumnTextColorClass"
        >
            <div
                class="text-color-black-2 text-size-14 text-truncate"
                [innerHtml]="
                    user?.payrollType
                        | tableHighlightSearchText: store.searchStrings
                "
            ></div>
        </ng-template>

        <ng-template
            #payrollSalary
            let-user="data"
            let-cellColumnTextColorClass="cellColumnTextColorClass"
        >
            @let salaryFormat = user?.salary | formatCurrency;

            <div
                class="text-color-black ta-font-bold text-size-14 text-truncate"
                [innerHtml]="
                    salaryFormat | tableHighlightSearchText: store.searchStrings
                "
            ></div>
        </ng-template>

        <!-- #region END OF PAYROLL DETAILS GROUP -->
    </app-new-table>
}
