<app-ca-modal
    [modalTitle]="editData?.type !== 'edit' ? 'Add Parking' : 'Edit Parking'"
    [rightHeaderTemplate]="rightModalContent"
    [leftHeaderTemplate]="leftModalContent"
    [footerTemplate]="footerTemplate"
>
    <div class="new-modal" origin>
        <div class="divider divider--small divider--dark"></div>

        <form
            [formGroup]="parkingForm"
            class="form-container form-container-mt-22"
            [ngClass]="{
                'form-container-without-mb': !isParkingCardOpen,
                'form-container-with-card': isParkingCardOpen,
            }"
        >
            <div class="animation-two-tabs">
                <div class="m-tab">
                    <div class="row">
                        <div class="col-12">
                            <app-ca-input
                                formControlName="name"
                                [inputConfig]="
                                    formConfig.getNameInputConfig(
                                        editData?.type
                                    )
                                "
                            ></app-ca-input>
                        </div>
                    </div>

                    <div
                        class="phone-ext-email-small-modal"
                        [ngClass]="{
                            'active-phone-ext': isPhoneExtExist,
                        }"
                    >
                        <div class="phone-extension">
                            <div class="phone-field">
                                <app-ca-input
                                    formControlName="phone"
                                    [inputConfig]="phoneConfig"
                                ></app-ca-input>
                            </div>
                            @if (!isPhoneExtExist) {
                                <div
                                    class="extension-field"
                                    (click)="isPhoneExtExist = !isPhoneExtExist"
                                    ngbTooltip
                                    mainTooltip="Add Extension"
                                    position="top"
                                    tooltipBackground="#6c6c6c"
                                >
                                    <svg-icon
                                        [src]="svgRoutes.PLUS_ICON"
                                    ></svg-icon>
                                </div>
                            } @else {
                                <app-ca-input
                                    formControlName="extensionPhone"
                                    [inputConfig]="phoneExtConfig"
                                ></app-ca-input>
                            }
                        </div>
                        <div class="email-field">
                            <app-ca-input
                                formControlName="email"
                                [inputConfig]="emailConfig"
                            ></app-ca-input>
                        </div>
                    </div>

                    <div class="row row-address">
                        <div class="col-10">
                            <app-ta-input-address-dropdown
                                formControlName="address"
                                [inputConfig]="addressConfig"
                                [placeholderType]="'longAddress'"
                                [activeAddress]="selectedAddress"
                                (selectedAddress)="onHandleAddress($event)"
                            ></app-ta-input-address-dropdown>
                        </div>
                        <div class="col-2">
                            <app-ca-input
                                formControlName="addressUnit"
                                [inputConfig]="addressUnitConfig"
                            ></app-ca-input>
                        </div>
                    </div>

                    <div class="mt-3 mb-3">
                        <div class="parking-gate-securityCamera">
                            <div class="gate-field">
                                <p
                                    class="m-0 text-color-black-2 text-size-14 ta-font-medium"
                                >
                                    Gate
                                </p>
                                <div class="gate-radio">
                                    <app-ta-tab-switch
                                        [tabs]="gateBtns"
                                        (switchClicked)="
                                            tabChange($event, 'gate')
                                        "
                                        [type]="'type2-modal-popup'"
                                    >
                                    </app-ta-tab-switch>
                                </div>
                            </div>
                            <div class="camera-field">
                                <p
                                    class="m-0 text-color-black-2 text-size-14 ta-font-medium"
                                >
                                    Security Camera
                                </p>
                                <div class="camera-radio">
                                    <app-ta-tab-switch
                                        [tabs]="cameraBtns"
                                        (switchClicked)="
                                            tabChange($event, 'camera')
                                        "
                                        [type]="'type2-modal-popup'"
                                    >
                                    </app-ta-tab-switch>
                                </div>
                            </div>
                        </div>
                    </div>

                    <app-ta-checkbox-card
                        formControlName="isOwner"
                        [label]="'Company Owned'"
                        [name]="'company-owned'"
                        [hasArrow]="false"
                        [withoutToggle]="true"
                        [animationMarginParams]="{
                            marginTop: '0',
                            marginBottom: '0',
                        }"
                        [isCardOpen]="!parkingForm.get('isOwner').value"
                    >
                        <ng-container body>
                            <div class="mt-3 mb-3">
                                <div class="location-parking-financial-card">
                                    <app-ca-input-dropdown
                                        formControlName="payPeriod"
                                        [inputConfig]="payPeriodConfig"
                                        [options]="payPeriods"
                                        [activeItem]="selectedPayPeriod"
                                        (selectedItem)="
                                            onSelectDropdown(
                                                $event,
                                                'pay-period'
                                            )
                                        "
                                    ></app-ca-input-dropdown>
                                    <app-ca-input-dropdown
                                        formControlName="monthlyDay"
                                        [inputConfig]="
                                            formConfig.getMonthlyDayConfig(
                                                parkingForm.get('payPeriod')
                                                    .value
                                            )
                                        "
                                        [options]="
                                            selectedPayPeriod?.name === 'Weekly'
                                                ? weeklyDays
                                                : monthlyDays
                                        "
                                        [activeItem]="selectedDay"
                                        (selectedItem)="
                                            onSelectDropdown($event, 'day')
                                        "
                                    ></app-ca-input-dropdown>

                                    <app-ca-input
                                        formControlName="rent"
                                        [inputConfig]="rentConfig"
                                    ></app-ca-input>
                                </div>
                            </div>
                        </ng-container>
                    </app-ta-checkbox-card>

                    <!-- Parking Slot -->
                    <app-ta-custom-card
                        [hasCounter]="
                            (parkingSlots | sumArrays) === 0
                                ? 0
                                : (parkingSlots | sumArrays)
                        "
                        [hasArrow]="false"
                        subText="Use Comma (,) to separate and Hyphen (-) for range"
                        [cardName]="'Parking Slot'"
                        [isCardOpen]="true"
                        [disableAnimation]="isCardAnimationDisabled"
                        [animationMarginParams]="{
                            marginTop: '18px',
                            marginBottom: '12px',
                        }"
                        (onOpenCard)="isParkingCardOpen = $event"
                    >
                        <div class="checkbox-card-body">
                            <div class="row">
                                <div class="col-12">
                                    <app-ca-input
                                        formControlName="parkingSlot"
                                        [inputConfig]="parkingSlotConfig"
                                    ></app-ca-input>
                                </div>
                            </div>
                            <div class="row row-no-mb">
                                <div class="col-12">
                                    <app-ca-input
                                        formControlName="fullParkingSlot"
                                        [inputConfig]="fullParkingSlotConfig"
                                    ></app-ca-input>
                                </div>
                            </div>
                        </div>
                    </app-ta-custom-card>
                </div>
            </div>
        </form>
    </div>
</app-ca-modal>

<ng-template #rightModalContent>
    @if (editData?.type === 'edit') {
        <div
            ngbTooltip
            mainTooltip="Added    {{
                data?.createdAt | formatDateP
            }} <br> Edited    {{ data?.updatedAt | formatDateP }}"
            tooltipBackground="#424242"
            position="bottom"
            class="modal-date-logo"
        >
            <svg-icon
                [src]="svgRoutes.DATE_ICON"
                class="modal-buttons"
            ></svg-icon>
        </div>
        <div class="modal-date-border"></div>
    }
    <div
        class="d-flex justify-content-center align-items-center modal-close-container"
        ngbTooltip
        mainTooltip="Cancel"
        tooltipBackground="#424242"
        position="bottom"
        (click)="onModalAction(taModalActionEnums.CLOSE)"
    >
        <svg-icon
            class="modal-close svg-size-14 svg-fill-muted modal-buttons"
            [src]="svgRoutes.CLOSE_ICON"
        ></svg-icon>
    </div>
</ng-template>

<ng-template #leftModalContent>
    @if (parkingName) {
        <div class="payroll-number text-color-white text-size-14 ta-font-bold">
            {{ parkingName }}
        </div>
    }
</ng-template>

<ng-template #footerTemplate>
    <div class="modal-footer modal-footer-payroll">
        <div class="divider"></div>
        @if (editData?.type === 'edit') {
            <div class="d-flex justify-content-between w-full">
                <app-ca-modal-button
                    text="Delete"
                    size="Small"
                    (click)="onModalAction(taModalActionEnums.DELETE)"
                    [type]="modalButtonType.SECONDARY_NEGATIVE"
                >
                </app-ca-modal-button>

                <app-ca-modal-button
                    text="Save Changes"
                    [isValid]="parkingForm.valid && isFormDirty"
                    [type]="modalButtonType.PRIMARY_POSITIVE"
                    [isSpinnerShown]="activeAction === taModalActionEnums.SAVE"
                    (click)="onModalAction(taModalActionEnums.SAVE)"
                >
                </app-ca-modal-button>
            </div>
        } @else {
            <app-ca-modal-button
                text=" Save and Add New"
                [isValid]="parkingForm.valid && isFormDirty"
                (click)="onModalAction(taModalActionEnums.SAVE_AND_ADD_NEW)"
                [isSpinnerShown]="
                    activeAction === taModalActionEnums.SAVE_AND_ADD_NEW
                "
                [type]="modalButtonType.SECONDARY_POSITIVE"
            >
            </app-ca-modal-button>
            <app-ca-modal-button
                text="Save"
                [isValid]="parkingForm.valid && isFormDirty"
                (click)="onModalAction(taModalActionEnums.SAVE)"
                [isSpinnerShown]="activeAction === taModalActionEnums.SAVE"
                [type]="modalButtonType.PRIMARY_POSITIVE"
            >
            </app-ca-modal-button>
        }
    </div>
</ng-template>
