@import "../navigation.design.scss";
.modal-nav-panel {
  position: absolute;
  top: 67px;
  left: 9px;
  z-index: 99;
  width: 184px;
  height: auto;
  padding: 4px;
  border-radius: 3px;
  border-top-left-radius: 20px;
  box-shadow: $nav-boxshadow;

  background-color: $nav-background;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  p {
    margin: 0;
    font-size: $nav-font-size-small;
    font-weight: $nav-font-medium;
    color: $nav-text-color;
  }

  .modal-nav-close {
    display: flex;
    align-items: center;

    .modal-nav-close-svg {
      svg {
        path {
          fill: $nav-svg;
        }

        #Ellipse_6396 {
          fill: $nav-hover-darker;
        }
      }
    }

    .modal-nav-close-text {
      font-size: $nav-font-size;
      font-weight: $nav-font-bold;
      color: $nav-text-color-darker;
      margin-left: 6px;
    }

    &:hover {
      .modal-nav-close-svg {
        transition: $nav-transition;
        svg {
          path {
            fill: $nav-svg-hover;
          }

          #Ellipse_6396 {
            fill: $nav-hover-lightcolor;
          }
        }
      }
    }
  }

  .modal-nav-content {
    height: auto;
    margin-top: 11px;

    .modal-nav-header {
      font-size: $nav-font-size-verysmall;
      font-weight: $nav-font-bold;
      color: $nav-text-color-lighter;
      padding-left: 6px;
    }

    .modal-nav-routes {
      display: grid;
      grid-template-columns: repeat(2, 85px);
      -moz-column-gap: 6px;
      column-gap: 6px;
      font-size: 12px;
      font-weight: 500;
      color: $nav-text-color;

      p {
        padding: 4px 6px;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;

        &:hover {
          transition: $nav-transition;
          color: $nav-text-color-hover;
          background-color: $nav-hover-color;
          cursor: pointer;
        }
      }
    }
  }

  .modal-nav-content-first {
    margin-top: 9px;
  }
}
