@import '../navigation.design.scss';
.modal-nav-panel {
    position: absolute;
    top: 65px;
    z-index: 99;
    height: auto;
    padding: 10px 6px;
    border-radius: 3px;
    box-shadow: $nav-boxshadow;
    left: 16px;
    width: 242px;
    background-color:$nav-svg-active;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    p {
        margin: 0;
        font-size: $nav-font-size-small;
        font-weight: $nav-font-medium;
        color: $nav-white;
    }

    .modal-nav-close {
        display: flex;
        margin-bottom: 11px;
        position: relative;
        justify-content: space-between;
        .modal-nav-close-svg {
            transition: all 0.3s ease-in-out;
            display: flex;
            align-items: flex-start;
            border-radius: 50%;

            svg {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                path {
                    fill: $nav-active-lighter;
                }
            }
        }

        .modal-nav-close-text {
            font-size: $nav-font-size;
            font-weight: $nav-font-bold;
            color: $nav-white;
            padding-left: 4px;
        }
    }

    .modal-nav-content {
        height: auto;
        margin-top: 11px;

        .modal-nav-header {
            font-size: $nav-font-size-small;
            font-weight: $nav-font-bold;
            color: $nav-dark;
            padding-left: 4px;
            margin-bottom: 2.5px;
            display: flex;
            gap: 6px;
            align-items: center;
            span{
                width: 100%;
                height: 1px;
                background: $nav-dark;
            }
        }

        .modal-nav-routes {
            // display: grid;
            // grid-template-columns: repeat(2, 85px);
            // -moz-column-gap: 6px;
            // column-gap: 6px;
            display: flex;
            flex-wrap: wrap;
            gap: 4px 6px;

            font-size: 14px;
            color: $nav-white;
            justify-content: space-between;
            p {
                padding: 4px 10px;
                border-radius: 3px;
                transition: all 0.2s ease-in-out;
                position: relative;
                width: 112px;
                &:hover {
                    transition: $nav-transition;
                    background-color: $nav-hover-hover;
                    cursor: pointer;
                }

                .border-right {
                    position: absolute;
                    right: -4px;
                    top: 0;
                    content: '';
                    width: 2px;
                    height: 26px;
                    background: $nav-blue-3;
                }
            }
        }
    }
}
