<div class="modal-nav-panel" *ngIf="isNavigationHoveredAndPanelOpen">
    <div
        (mouseenter)="changeTextHoverOnCloseModal = true"
        (mouseleave)="changeTextHoverOnCloseModal = false"
        (click)="onAction('Close Panel')"
        class="modal-nav-close"
    >
    <p class="modal-nav-close-text">
        Add New
    </p>
        <svg-icon
            class="modal-nav-close-svg"
            src="assets/svg/common/ic_x.svg"
        ></svg-icon>
       
    </div>

    <div class="modal-nav-content">
        <p class="modal-nav-header">GENERAL <span></span></p>
        <div class="modal-nav-routes">

            <p  class="ta-font-regular"
                *ngFor="
                    let item of generalNavigationData;
                    let ind = index;
                    trackBy: identity
                "
                (click)="onAction('Open Modal', item)"
            >
                {{ item.name }}
            </p>

        </div>
    </div>

    <div class="modal-nav-content">
        <p class="modal-nav-header">TOOLS <span></span></p>
        <div class="modal-nav-routes">
            <p class="ta-font-regular"
                *ngFor="
                    let item of toolsNavigationData;
                    let ind = index;
                    trackBy: identity
                "
                (click)="onAction('Open Modal', item)"
            >
                {{ item.name }}
            </p>
        </div>
    </div>

    <div class="modal-nav-content">
        <p class="modal-nav-header">REPAIR <span></span></p>
        <div class="modal-nav-routes">
            <p class="ta-font-regular"
                *ngFor="
                    let item of repairNavigationData;
                    let ind = index;
                    trackBy: identity
                "
                (click)="onAction('Open Modal', item)"
            >
                {{ item.name }}
            </p>
        </div>
    </div>

    <div class="modal-nav-content">
        <p class="modal-nav-header">FUEL <span></span></p>
        <div class="modal-nav-routes">
            <p class="ta-font-regular"
                *ngFor="
                    let item of fuelNavigationData;
                    let ind = index;
                    trackBy: identity
                "
                (click)="onAction('Open Modal', item)"
            >
                {{ item.name }}
            </p>
        </div>
    </div>

    <div class="modal-nav-content">
        <p class="modal-nav-header">SAFETY <span></span></p>
        <div class="modal-nav-routes">
            <p class="ta-font-regular"
                *ngFor="
                    let item of safetyNavigationData;
                    let ind = index;
                    trackBy: identity
                "
                (click)="onAction('Open Modal', item)"
            >
                {{ item.name }}
            </p>
        </div>
    </div>

    <div class="modal-nav-content">
        <p class="modal-nav-header">ACCOUNTING <span></span></p>
        <div class="modal-nav-routes">
            <p class="ta-font-regular"
                *ngFor="
                    let item of accountingNavigationData;
                    let ind = index;
                    trackBy: identity
                "
                (click)="onAction('Open Modal', item)"
            >
                {{ item.name }}
            </p>
        </div>
    </div>
</div>
