<div class="details-container-items">
   <div *ngFor="let item of trailerDetailsConfig; trackBy: identity">
      <app-ta-details-header
         [route]="'/trailer'"
         [tooltipHeaderName]="'Back to Trailer List'"
         [headerText]="item.name"
         [counterData]="item.length"
         [hidePlus]="item.hide"
         [statusInactive]="false"
         [optionsId]="trailerId"
         [options]="dataHeaderDropDown"
         [statusInactive]="item.status"
         [isInactive]="item.status"
         (dropActions)="onTrailerActions($event)"
         (openModalAction)="onModalAction($event)"
      >
      </app-ta-details-header>
   </div>

   <app-trailer-details-item [trailer]="trailerDetailsConfig">
   </app-trailer-details-item>
</div>
