<app-ta-custom-card
    [cardName]="cardData?.payType?.name | driverPayTypesCardName"
    [subText]="
        cardData?.payType?.name
            | driverPayTypesCardSubtext
                : cardData?.solo
                : cardData?.team
                : cardData?.isOpenPayrollShared
                : isPayTypesCardOpen
                : cardData?.fleetType.name
    "
    [isCardOpen]="true"
    [bodyTemplate]="'card'"
    [animationMarginParams]="{
        marginTop: '0px',
        marginBottom: '4px'
    }"
    (onOpenCard)="handlePayTypesCardOpen($event)"
>
    <ng-container
        *ngIf="
            cardData?.fleetType.name !== 'Combined' ||
            (cardData?.fleetType.name === 'Combined' &&
                (cardData?.solo.emptyMile ||
                    cardData?.solo.perMile ||
                    cardData?.solo.commission ||
                    cardData?.team.commission ||
                    cardData?.solo.flatRate ||
                    cardData?.team.flatRate))
        "
    >
        <div
            class="pay-types-container pay-types-container-double-column"
            [ngClass]="{
                'pay-types-container-triple-column':
                    cardData?.solo.perStop || cardData?.team.perStop
            }"
        >
            <!-- First Column -->

            <ng-container
                *ngIf="
                    cardData?.payType?.name === 'Per Mile' ||
                    (cardData?.payType?.name === 'Commission' &&
                        cardData?.solo.commission) ||
                    (cardData?.payType?.name === 'Flat Rate' &&
                        cardData?.solo.flatRate)
                "
            >
                <div
                    class="d-flex flex-column justify-content-center pay-type-box"
                >
                    <p class="m-0 ta-font-bold">
                        {{
                            cardData?.payType?.name
                                | driverPayTypesBoxTitle
                                    : cardData?.fleetType.name
                                    : cardData?.solo
                        }}
                    </p>

                    <span>
                        {{
                            cardData?.payType.name
                                | driverPayTypesBoxValue
                                    : cardData?.fleetType.name
                                    : cardData?.solo
                                    : cardData?.team
                        }}
                    </span>
                </div>
            </ng-container>

            <!-- Second Column -->

            <ng-container
                *ngIf="
                    (cardData?.payType.name === 'Per Mile' &&
                        !cardData?.solo.perMile) ||
                    (cardData?.payType.name === 'Commission' &&
                        cardData?.team.commission) ||
                    (cardData?.payType.name === 'Flat Rate' &&
                        cardData?.team.flatRate)
                "
            >
                <div
                    class="d-flex flex-column justify-content-center pay-type-box"
                >
                    <p class="m-0 ta-font-bold">
                        {{
                            cardData?.payType.name
                                | driverPayTypesBoxSecondTitle
                                    : cardData?.fleetType.name
                        }}
                    </p>

                    <span>
                        {{
                            cardData?.payType.name
                                | driverPayTypesBoxSecondValue
                                    : cardData?.solo
                                    : cardData?.team
                        }}
                    </span>
                </div>
            </ng-container>

            <!-- Third Column -->

            <ng-container
                *ngIf="
                    (cardData?.fleetType.name === 'Combined' &&
                        cardData?.solo.perStop) ||
                    (cardData?.fleetType.name !== 'Combined' &&
                        (cardData?.solo.perStop || cardData?.team.perStop))
                "
            >
                <div
                    class="d-flex flex-column justify-content-center pay-type-box"
                >
                    <p class="m-0 ta-font-bold">
                        {{
                            cardData?.fleetType.name === 'Combined'
                                ? 'Per Stop (Solo)'
                                : 'Per Stop'
                        }}
                    </p>

                    <span>
                        ${{ cardData?.solo.perStop ?? cardData?.team.perStop }}
                    </span>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <!-- Combined -->

    <ng-container
        *ngIf="
            (cardData?.fleetType.name === 'Combined' &&
                cardData?.team.emptyMile) ||
            cardData?.team.perMile
        "
    >
        <div
            class="pay-types-container pay-types-container-double-column"
            [ngClass]="{
                'pay-types-container-triple-column': cardData?.team.perStop
            }"
        >
            <!-- First Column -->

            <div class="d-flex flex-column justify-content-center pay-type-box">
                <p class="m-0 ta-font-bold">
                    {{
                        cardData?.team.perMile
                            ? 'Per Mile (Team)'
                            : 'Empty (Team)'
                    }}
                </p>

                <span>
                    ${{ cardData?.team.perMile ?? cardData?.team.emptyMile }}
                </span>
            </div>

            <!-- Second Column -->

            <ng-container *ngIf="!cardData?.team.perMile">
                <div
                    class="d-flex flex-column justify-content-center pay-type-box"
                >
                    <p class="m-0 ta-font-bold">Loaded (Team)</p>

                    <span> ${{ cardData?.team.loadedMile }} </span>
                </div>
            </ng-container>

            <!-- Third Column -->

            <ng-container *ngIf="cardData?.team.perStop">
                <div
                    class="d-flex flex-column justify-content-center pay-type-box"
                >
                    <p class="m-0 ta-font-bold">Per Stop (Team)</p>

                    <span> ${{ cardData?.team.perStop }} </span>
                </div>
            </ng-container>
        </div>
    </ng-container>
</app-ta-custom-card>
