@import 'src/theme/variables.scss';

.item-total {
    margin-top: 8px;
    padding: 0 4px 0 6px;

    &-title,
    &-cost {
        font-size: 14px;
        line-height: 18px;

        &::-moz-selection {
            color: $ta-black;
            background: rgb(66, 66, 66, 0.2);
        }

        &::selection {
            color: $ta-black;
            background: rgb(66, 66, 66, 0.2);
        }
    }

    &-title {
        color: $bw5;
    }

    &-cost {
        color: $ta-black;
    }
}

.repair-type {
    margin: 22px 0 22px 0;

    .repair-shop-input {
        padding: 0 !important;
    }
}

.repair-shop-services {
    margin-top: 12px;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: repeat(2, 26px);
}
