<div class="ta-upload-file-container {{ customClassName }}">
  <!-- File Header Actions -->
  <div *ngIf="!isFileDelete" class="ta-upload-file-header">
    <div
      class="ta-upload-file-action-leftside"
      [ngClass]="{ 'no-action-tag': !hasTag }"
    >
      <svg-icon
        class="ta-upload-action-tag"
        src="assets/svg/common/ic_tag.svg"
        [appTooltip]="'Tag'"
        [position]="'top-middle'"
        [tooltipBackground]="'#6C6C6C'"
        [tooltipColor]="'#FFFFFF'"
        [zIndex]="900"
        [borderRadius]="'2px'"
        [boxShadow]="'0 0 4px rgb(0,0,0,.2)'"
        [fontWeight]="'bold'"
        [fontSize]="'11px'"
        [customPosition]="1"
        (click)="onAction('tag')"
      ></svg-icon>
    </div>
    <div class="ta-upload-file-action-rightside">
      <svg-icon
        class="ta-upload-action-download"
        src="assets/svg/common/ic_download.svg"
        [appTooltip]="'Download'"
        [position]="'top-middle'"
        [tooltipBackground]="'#6C6C6C'"
        [tooltipColor]="'#FFFFFF'"
        [zIndex]="900"
        [borderRadius]="'2px'"
        [boxShadow]="'0 0 4px rgb(0,0,0,.2)'"
        [fontWeight]="'bold'"
        [fontSize]="'11px'"
        [customPosition]="-19"
        (click)="onAction('download')"
      ></svg-icon>
      <svg-icon
        class="ta-upload-action-delete"
        src="assets/svg/common/ic_trash.svg"
        [appTooltip]="'Delete'"
        [position]="'top-middle'"
        [tooltipBackground]="'#EF5350'"
        [tooltipColor]="'#FFFFFF'"
        [zIndex]="900"
        [borderRadius]="'2px'"
        [boxShadow]="'0 0 4px rgb(0,0,0,.2)'"
        [fontWeight]="'bold'"
        [fontSize]="'11px'"
        [customPosition]="-9"
        (click)="isFileDelete = true"
      ></svg-icon>
    </div>
  </div>

  <!-- File Content -->
  <div class="ta-upload-file-content  {{ customClassName }}">
    <!-- Pdf Content -->
    <pdf-viewer
      *ngIf="file?.extension?.toLowerCase() === 'pdf'"
      [src]="file?.url"
      [(page)]="activePage"
      [render-text]="false"
      [show-all]="false"
      [autoresize]="false"
      [original-size]="true"
      [fit-to-page]="true"
      style="display: block"
      (after-load-complete)="afterLoadComplete($event)"
    ></pdf-viewer>

    <!-- Image Content -->
    <img
      class="ta-upload-file-image"
      *ngIf="file?.extension?.toLowerCase() !== 'pdf'"
      [src]="file?.url"
      [alt]="file?.name"
    />

    <!-- Number of pages -->
    <div *ngIf="hasNumberOfPages" class="ta-upload-file-number-of-pages">
      <p>{{ numberOfFilePages }}</p>
    </div>

    <!-- Tag Content -->
    <div
      *ngIf="hasTag"
      class="ta-upload-file-tag"
      [ngClass]="{ 'no-tag': !file?.tag }"
    >
      <span>{{ file?.tag ? file?.tag : "No Tag" }}</span>
    </div>
  </div>

  <!-- File Delete Template -->
  <div *ngIf="isFileDelete" class="ta-upload-file-delete-template">
    <div class="ta-upload-file-delete-text">
      Are you sure you want to delete file?
    </div>
    <div
      class="ta-upload-file-btn ta-upload-file-btn-delete"
      (click)="onAction('delete')"
    >
      Delete
    </div>
    <div
      class="ta-upload-file-btn ta-upload-file-btn-cancel"
      (click)="onAction('cancel')"
    >
      Cancel
    </div>
  </div>

  <!-- File Footer Information -->
  <div
    class="ta-upload-file-footer"
    [ngClass]="{ 'edit-mode': editFile }"
    (click)="onEditFile()"
  >
    <!-- No edit mode -->
    <div
      *ngIf="!editFile"
      class="ta-upload-file-ext ta-upload-file-ext-{{
        file?.extension | lowercase
      }}"
      [ngClass]="{ 'no-tag': !file?.tag }"
      [appTooltip]="numberOfFilePages"
      [position]="'top-middle'"
      [tooltipBackground]="'#6C6C6C'"
      [tooltipColor]="'#FFFFFF'"
      [zIndex]="900"
      [borderRadius]="'2px'"
      [boxShadow]="'0 0 4px rgb(0,0,0,.2)'"
      [fontWeight]="'bold'"
      [fontSize]="'11px'"
      [customPosition]="13"
      [tatooltipvisible]="file?.extension?.toLowerCase() === 'pdf'"
    >
      {{ file?.extension | uppercase }}
    </div>
    <p *ngIf="!editFile" class="ta-upload-file-name">{{ file?.name }}</p>
    <!-- Edit mode -->
    <app-ta-input
      *ngIf="editFile"
      [formControl]="fileNewName"
      [inputConfig]="{
        name: 'File Name',
        type: 'text',
        label: null,
        placeholder: file.name,
        textTransform: 'capitalize'
      }"
    ></app-ta-input>
  </div>
</div>
