@import 'src/theme/variables.scss';

.mvr-authorization-container {
    min-height: 100vh;
    background: $white;

    .title-container {
        width: 616px;

        .title {
            color: $ta-blue-5;
            font-size: 32px;
            height: 39px;
            margin-top: 4px !important;
            margin-bottom: 60px !important;

            &::-moz-selection {
                color: $ta-blue-5;
                background: rgb(48, 116, 211, 0.2);
            }

            &::selection {
                color: $ta-blue-5;
                background: rgb(48, 116, 211, 0.2);
            }
        }
    }

    .subtitle {
        color: $bw6-2;
        font-size: 14px;
        height: 18px;
        text-transform: uppercase;
        margin-bottom: 20px !important;

        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }
    }

    form {
        width: 820px;

        .checkbox-container {
            width: 616px;
            margin: 0 auto 12px auto;

            p {
                font-size: 14px;
                line-height: 18px;
                margin-top: 5px !important;
                color: $black;

                &::-moz-selection {
                    color: $ta-black;
                    background: rgb(47, 47, 47, 0.2);
                }

                &::selection {
                    color: $ta-black;
                    background: rgb(47, 47, 47, 0.2);
                }
            }
        }

        

        .requested-mvr-feedback-box {
            width: 616px;
            height: 26px;
            background: $ta-light-blue;
            border-radius: 2px;
            margin-bottom: 12px;

            p {
                color: $white;
                font-size: 14px;
                line-height: 18px;

                &::-moz-selection {
                    color: $white;
                    background: rgb(255, 255, 255, 0.2);
                }

                &::selection {
                    color: $white;
                    background: rgb(255, 255, 255, 0.2);
                }
            }
        }

        .files-container {
            width: 616px;

            .line-container {
                position: relative;

                .review-feedback-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateX(calc(100% + 5px));
                    width: 429px;
                }
            }

            .files-header {
                border-top: 0.2px solid $ta-light-grey-4;
                border-radius: 1px;
                margin-bottom: 9px;
                padding-top: 5px;
                height: 24px;

                .counter-container {
                    border-radius: 14px;
                    background: $bw6-2;
                    width: 24px;
                    height: 24px;

                    p {
                        font-size: 14px;
                        color: $bw1;

                        -webkit-user-select: none !important;
                        -moz-user-select: none !important;
                        -ms-user-select: none !important;
                        user-select: none !important;
                    }
                }

                .document-title-container {
                    .documents-title {
                        height: 18px;
                        font-size: 14px;
                        color: $ta-black;
                        margin-left: 4px !important;

                        -webkit-user-select: none !important;
                        -moz-user-select: none !important;
                        -ms-user-select: none !important;
                        user-select: none !important;
                    }
                }
            }
        }

        .license-check-container {
            margin-bottom: 40px;
        }

        .signature-pad-container {
            width: 616px;
            height: 215px;
            border-radius: 3px;
        }

        .issue-date-container {
            margin: 20px 0;
        }
    }
}

