<div class="d-flex flex-column content-main">
    <!-- HEADER SECTION -->

    <div class="d-flex flex-column content-header">
        <h2 class="m-0 ta-font-bold">Updated</h2>

        <h3 class="m-0 ta-font-bold">NEW PASSWORD</h3>

        <div class="d-flex align-items-center user-info-container">
            <div
                class="d-flex justify-content-center align-items-center logo-container"
            >
                <ng-container *ngIf="userAvatar">
                    <img [src]="userAvatar" alt="User Avatar" />
                </ng-container>

                <ng-container *ngIf="!userAvatar">
                    <svg-icon
                        class="logo-icon"
                        src="assets/svg/website/profile-pic.svg"
                        [svgStyle]="{ 'width.px': 74, 'height.px': 74 }"
                    ></svg-icon>
                </ng-container>
            </div>

            <div
                class="d-flex flex-column justify-content-center info-container"
            >
                <h4 class="m-0 ta-font-regular">
                    {{ userInfo.firstName }} {{ userInfo.lastName }}
                </h4>
                <h5 class="m-0 ta-font-bold">{{ userInfo.email }}</h5>
            </div>
        </div>

        <h6 class="m-0 ta-font-bold">Proceed to login</h6>
    </div>

    <!-- LOGIN BUTTON -->

    <app-sidebar-confirm-btn
        [loginBtn]="true"
        (clickValueEmitter)="onGetBtnClickValue($event)"
    ></app-sidebar-confirm-btn>
</div>
