<div class="summary-main-holder">
    <div class="sumary-header d-flex justify-content-between">
        <div class="user-left-info d-flex">
            <div class="user-avatar"></div>
            <div class="user-info">
                <div class="user-name">Aleksandar Djordjevic</div>
                <div class="payroll-info">#LA59OSK</div>
                <div class="working-info">
                    <div class="working-info-hold">
                        <div class="title">Period</div>
                        <div class="period">01/12/20</div>
                    </div>
                    <div class="working-info-hold">
                        <div class="title">Term</div>
                        <div class="period">Weekly</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary-info">
            <div class="summary-info-boxes">
                <div class="summary-box">
                    <div class="title">MI Pay</div>
                    <div class="value">$2,342.21</div>
                </div>
                <div class="summary-box bonus">
                    <div class="title">Bonus</div>
                    <div class="value">$280.00</div>
                </div>
                <div class="summary-box salary">
                    <div class="title">Salary</div>
                    <div class="value">$2,622.21</div>
                </div>
                <div class="summary-box credit">
                    <div class="title">Credit</div>
                    <div class="value">$478.35</div>
                </div>
                <div class="summary-box deduction">
                    <div class="title">Deduction</div>
                    <div class="value">$156.03</div>
                </div>
            </div>
            <div class="summary-total d-flex justify-content-between">
                <div class="title">Total</div>
                <div class="value">$2,953.27</div>
            </div>
        </div>
    </div>

    <div class="summary-body">
        <div class="summary-table">
            <div class="summary-table-head">
                <div class="left-buttons">
                    <div class="info-item">
                        <span>12</span>
                    </div>
                    <div class="value-item">Stop</div>

                    <div class="info-item">
                        <span>3</span>
                    </div>
                    <div class="value-item">Load</div>

                    <div class="info-item small-font">
                        <span>+1 day</span>
                    </div>
                </div>
                <div class="right-buttons">
                    <div class="info-item small-font">
                        <div class="first-value">Empty</div>
                        <span>$0.50</span>
                    </div>
                    <div class="info-item small-font">
                        <div class="first-value">Loaded</div>
                        <span>$0.70</span>
                    </div>
                    <button class="white-part-buttons">
                        <svg-icon
                            src="assets/img/svgs/payroll/pencil.svg"
                        ></svg-icon>
                    </button>
                </div>
            </div>
            <div class="summary-main-table">
                <table cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Stop</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th class="text-right">Leg</th>
                            <th class="text-right">Loaded</th>
                            <th class="text-right">Empty</th>
                            <th class="text-right">Miles</th>
                            <th class="text-right">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody
                        (cdkDropListDropped)="onDrop($event)"
                        [cdkDropListSortPredicate]="containerPredictPosition"
                        cdkDropList
                    >
                        <ng-template
                            [ngForOf]="data"
                            let-i="index"
                            let-items
                            ngFor
                        >
                            <tr
                                (cdkDragStarted)="cdkDragStarted($event, i)"
                                (cdkDropListEntered)="enterDropList($event)"
                                *ngIf="items.isDraggable"
                                [cdkDragPreviewClass]="'line-drag-row'"
                                cdkDrag
                                cdkDragBoundary=".account_details_table"
                                cdkDragHandle
                                cdkDragLockAxis="y"
                                class="dragg_row drag-item"
                            >
                                <td colspan="5">Total</td>
                                <td class="text-right">$1,382.7</td>
                                <td class="text-right">$503.4</td>
                                <td class="text-right">$1,893.18</td>
                                <td class="text-right">$1,893.18</td>
                            </tr>

                            <tr
                                (cdkDropListEntered)="enterDropList($event)"
                                *ngIf="!items.isDraggable"
                                [cdkDragDisabled]="true"
                                [ngClass]="{ 'previous-payroll': items.isLast }"
                                cdkDrag
                                cdkDragHandle
                                cdkDragLockAxis="y"
                                class="{{ items.pointType }}"
                            >
                                <td class="index-holder">
                                    <div class="item-index">{{ i }}</div>
                                </td>
                                <td>
                                    <div class="load-location d-flex">
                                        <div
                                            class="load-count {{
                                                items.pointType
                                            }}"
                                        >
                                            {{ items.pointCount }}
                                        </div>
                                        <div class="load-loaction-text">
                                            Morton, MS 65005
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-item">05/09/21</div>
                                </td>
                                <td>
                                    <div class="table-item">10:37 PM</div>
                                </td>
                                <td>
                                    <div class="table-item text-right">0.0</div>
                                </td>
                                <td>
                                    <div class="table-item text-right">0.0</div>
                                </td>
                                <td>
                                    <div class="table-item text-right">0.0</div>
                                </td>
                                <td>
                                    <div class="table-item text-right">0.0</div>
                                </td>
                                <td>
                                    <div class="table-item bold text-right">
                                        $0.00
                                    </div>
                                </td>
                            </tr>
                        </ng-template>

                        <!-- <tr
              cdkDrag
              cdkDragLockAxis="y"
              [class.low_opacity]="tableCurrentIndex < i"
              cdkDragHandle
              [cdkDragDisabled]="true"
              (cdkDropListEntered)="enterDropList($event)"
              *ngIf="!items.draggable"
              class="previous-payroll">
              <td class="index-holder">
                  <div class="item-index">0</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count">3</div>
                      <div class="load-loaction-text">Morton, MS 65005</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">0.0</div>
              </td>
              <td>
                  <div class="table-item text-right">0.0</div>
              </td>
              <td>
                  <div class="table-item text-right">0.0</div>
              </td>
              <td>
                  <div class="table-item text-right">0.0</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$0.00</div>
              </td>
          </tr>
          <tr class="fist-item-load">
              <td class="index-holder">
                  <div class="item-index">1</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count pickup">1</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">0.0</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$53.50</div>
              </td>
          </tr>
          <tr>
              <td class="index-holder">
                  <div class="item-index">2</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count pickup">2</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">87.2</div>
              </td>
              <td>
                  <div class="table-item text-right">87.2</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">102.4</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$187.30</div>
              </td>
          </tr>
          <tr>
              <td class="index-holder">
                  <div class="item-index">3</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count">1</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">125.8</div>
              </td>
              <td>
                  <div class="table-item text-right">207.3</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">237.5</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$165.62</div>
              </td>
          </tr>
          <tr class="last-item-load">
              <td class="index-holder">
                  <div class="item-index">4</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count">2</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">36.7</div>
              </td>
              <td>
                  <div class="table-item text-right">242.1</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">272.7</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$262.20</div>
              </td>
          </tr>

          <tr class="fist-item-load">
              <td class="index-holder">
                  <div class="item-index">1</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count pickup">1</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">0.0</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$53.50</div>
              </td>
          </tr>
          <tr>
              <td class="index-holder">
                  <div class="item-index">2</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count pickup">2</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">87.2</div>
              </td>
              <td>
                  <div class="table-item text-right">87.2</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">102.4</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$187.30</div>
              </td>
          </tr>
          <tr>
              <td class="index-holder">
                  <div class="item-index">3</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count repear">R</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">125.8</div>
              </td>
              <td>
                  <div class="table-item text-right">207.3</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">237.5</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$165.62</div>
              </td>
          </tr>
          <tr>
              <td class="index-holder">
                  <div class="item-index">3</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count">1</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">125.8</div>
              </td>
              <td>
                  <div class="table-item text-right">207.3</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">237.5</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$165.62</div>
              </td>
          </tr>
          <tr class="last-item-load">
              <td class="index-holder">
                  <div class="item-index">4</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count">2</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">36.7</div>
              </td>
              <td>
                  <div class="table-item text-right">242.1</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">272.7</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$262.20</div>
              </td>
          </tr>

          <tr class="dead-heading">
              <td class="index-holder">
                  <div class="item-index">5</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count dead-heading">D</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">36.7</div>
              </td>
              <td>
                  <div class="table-item text-right">242.1</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">272.7</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$262.20</div>
              </td>
          </tr>

          <tr class="fist-item-load">
              <td class="index-holder">
                  <div class="item-index">6</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count pickup">1</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">36.7</div>
              </td>
              <td>
                  <div class="table-item text-right">242.1</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">272.7</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$262.20</div>
              </td>
          </tr>
          <tr class="last-item-load">
              <td class="index-holder">
                  <div class="item-index">7</div>
              </td>
              <td>
                  <div class="load-location d-flex">
                      <div class="load-count">1</div>
                      <div class="load-loaction-text">Carrollton, GA 53651</div>
                  </div>
              </td>
              <td>
                  <div class="table-item">05/09/21</div>
              </td>
              <td>
                  <div class="table-item">10:37 PM</div>
              </td>
              <td>
                  <div class="table-item text-right">36.7</div>
              </td>
              <td>
                  <div class="table-item text-right">242.1</div>
              </td>
              <td>
                  <div class="table-item text-right">30.2</div>
              </td>
              <td>
                  <div class="table-item text-right">272.7</div>
              </td>
              <td>
                  <div class="table-item bold text-right">$262.20</div>
              </td>
          </tr>
          <tr class="drag-item">
              <td colspan="5">Total</td>
              <td class="text-right">$1,382.7</td>
              <td class="text-right">$503.4</td>
              <td class="text-right">$1,893.18</td>
              <td class="text-right">$1,893.18</td>
          </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="total-deductions">
                <div class="total-del-item">
                    <div class="total-del-header d-flex">
                        <span>3</span>
                        <div class="title">Credit</div>
                    </div>
                    <div class="total-del-table">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Details</th>
                                    <th class="text-right">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <div class="ded-description">
                                            <div class="main">
                                                Truck #34876 Supplies
                                            </div>
                                            <div class="date">05/09/21</div>
                                        </div>
                                    </td>
                                    <td>$365.42</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <div class="ded-description">
                                            <div class="main">
                                                Lorem Ipsum Dolor Sit
                                            </div>
                                            <div class="date">05/09/21</div>
                                        </div>
                                    </td>
                                    <td>$365.42</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <div class="ded-description">
                                            <div class="main">
                                                Repair #52-780
                                            </div>
                                            <div class="date">05/09/21</div>
                                        </div>
                                    </td>
                                    <td>$365.42</td>
                                </tr>
                                <tr class="drag-item">
                                    <td class="bold colored">
                                        <div>Total</div>
                                    </td>
                                    <td>-$427.30</td>
                                    <td class="bold">$792.90</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="total-del-item bonus">
                    <div class="total-del-header d-flex">
                        <span>3</span>
                        <div class="title">Bonus</div>
                    </div>
                    <div class="total-del-table">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Details</th>
                                    <th class="text-right">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <div class="ded-description">
                                            <div class="main">
                                                Truck #34876 Supplies
                                            </div>
                                            <div class="date">05/09/21</div>
                                        </div>
                                    </td>
                                    <td>$365.42</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <div class="ded-description">
                                            <div class="main">
                                                Lorem Ipsum Dolor Sit
                                            </div>
                                            <div class="date">05/09/21</div>
                                        </div>
                                    </td>
                                    <td>$365.42</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <div class="ded-description">
                                            <div class="main">
                                                Repair #52-780
                                            </div>
                                            <div class="date">05/09/21</div>
                                        </div>
                                    </td>
                                    <td>$365.42</td>
                                </tr>
                                <tr class="drag-item">
                                    <td class="bold colored">
                                        <div>Total</div>
                                    </td>
                                    <td>-$427.30</td>
                                    <td class="bold">$792.90</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="total-del-item deduction">
                    <div class="total-del-header d-flex">
                        <span>3</span>
                        <div class="title">Bonus</div>
                    </div>
                    <div class="total-del-table">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Details</th>
                                    <th class="text-right">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <div class="ded-description">
                                            <div class="main">
                                                Truck #34876 Supplies
                                            </div>
                                            <div class="date">05/09/21</div>
                                        </div>
                                    </td>
                                    <td>$365.42</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <div class="ded-description">
                                            <div class="main">
                                                Lorem Ipsum Dolor Sit
                                            </div>
                                            <div class="date">05/09/21</div>
                                        </div>
                                    </td>
                                    <td>$365.42</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <div class="ded-description">
                                            <div class="main">
                                                Repair #52-780
                                            </div>
                                            <div class="date">05/09/21</div>
                                        </div>
                                    </td>
                                    <td>$365.42</td>
                                </tr>
                                <tr class="drag-item">
                                    <td class="bold colored">
                                        <div>Total</div>
                                    </td>
                                    <td>-$427.30</td>
                                    <td class="bold">$792.90</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="deduction-map">
                <!-- <agm-map
          [clickableIcons]="false"
          [controlSize]="20"
          [restriction]="mapRestrictions"
          [streetViewControl]="false"
          [styles]="styles"
          [zoom]="1"
        >
        </agm-map> -->
            </div>
        </div>
    </div>
</div>
