// .custom-status-holder {
//     align-items: center;
//     svg-icon {
//         display: flex;
//         align-items: center;
//         width: 14px;
//         height: 14px;

//         &.caution {
//             svg {
//                 path {
//                     fill: #e66767;
//                 }
//             }
//         }

//         &.payment_done {
//             svg {
//                 path {
//                     fill: #259f94;
//                 }
//             }
//         }
//     }
//     .custom-status-text {
//         font-weight: 700;
//         margin-left: 4px;
//         font-size: 11px;
//         color: #6c6c6c;

//         &.past-payment {
//             color: #df3c3c;
//         }

//         &.ready-payment {
//             color: #259f94;
//         }
//     }
// }

.driver-solo-info {
    align-items: center;

    .driver-solo-info-text {
        margin-left: 4px;
        font-size: 14px;
        font-weight: 700;
        white-space: nowrap;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.custom-mileage {
    span {
        text-transform: lowercase;
        color: #919191;
    }
}

.payroll_count {
    background-color: #91919133;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    font-size: 11px;
    font-weight: 600;
    margin-left: 4px;
}
