.toolbar-container {
  width: 100%;
  height: 32px;
  display: flex;
  margin-top: 22px;
  user-select: none;

  // LIST NAME
  .list-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 32px;
    color: #919191;
    font-size: 26px;
    font-weight: 900;
    margin-right: 12px;
  }

  // TABS
  .tab-container {
    display: flex;
    background: #ffffff;
    padding: 2px;
    height: 32px;
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 6px;

    .tab {
      height: 28px;
      width: fit-content;
      border-radius: 3px;
      padding: 2px;
      display: flex;

      .data-count,
      .tab-title {
        font-size: 14px;
        font-weight: 800;
        color: #919191;
      }

      .data-count {
        height: 24px;
        min-width: 24px;
        border-radius: 2px;
        background: #F3F3F3;
        display: flex;
        padding: 3px 4px;
        justify-content: center;
        align-items: center;
        margin-right: 4px;
      }

      .tab-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6px;
      }
    }
  }

  // VIEW MODE SELECT
  .view-mode-container {
    width: fit-content;
    height: 32px;
    padding: 2px;
    background: #ffffff;
    border-radius: 3px;
    display: flex;
    margin-right: 6px;

    .mode {
      cursor: pointer;
      width: fit-content;
      height: 28px;
      border-radius: 2px;
      padding: 5px 8px;
      font-weight: 800;
      font-size: 14px;
      color: #B7B7B7;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover{
        /* background: #F3F3F3 !important; */
        color: #6C6C6C !important;
        transition: 0.25s !important;
      }
    }

    .mode-active {
      background: #f3f3f3 !important;
      color: #919191 !important;

      &:hover{
        color: #6C6C6C !important;
        transition: 0.25s !important;
      }
    }
  }

  // TABLE ACTIONS
  .table-actions {
    height: 32px;
    background: white;
    border-radius: 3px;
    margin-right: 6px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    .actions-container {
      width: fit-content;
      height: 32px;
      display: flex;

      div {
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2px;
      }

      .active-options {
        svg-icon {
          svg {
            path,
            rect {
              fill: #91a4c7 !important;
              transition: 0.25s;
            }
          }
        }

        &:hover{
          svg-icon {
            svg {
              path,
              rect {
                fill: #6D82C7 !important;
                transition: 0.25s;
              }
            }
          }
        }
      }
    }
  }

  // LOCATION FILTER AND OPEN MODAL BUTTON
  .location-filter-container,
  .modal-open-container {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .location-filter-container {
    margin-right: 6px;
  }
}

/* Ng Class */
// Tabs
.tab-inactive {
  &:hover {
    .tab {
      .data-count,
      .tab-title {
        color: #6C6C6C;
        transition: 0.25s;
      }
    }
  }
}

.tab-active {
  background: #919191 !important;
  transition: 0.25s;

  .data-count,
  .tab-title {
    color: #FFFFFF !important;
    transition: 0.25s;
  }

  .data-count {
    background: #AAAAAA !important;
    transition: 0.25s;
  }
}
