.toolbar-holder {
    display: flex;
    padding-top: 22px;
    // LIST NAME
    .list-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        height: 32px;
        color: #424242;
        font-size: 26px;
        font-weight: 900;
        margin-right: 12px;
    }
}
.toolbar-container {
    height: 34px;
    display: flex;
    user-select: none;
    align-items: center;
    background: #ffffff;
    // BORDER
    .border-container {
        width: 6px;
        height: 32px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        .border {
            width: 2px;
            height: 20px;
            border-radius: 1px;
            background: #f3f3f3;
        }
    }

    // ONE TAB
    .one-tab-container {
        min-width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-self: center;
        background: #aaaaaa;
        color: #ffffff;
        font-size: 14px;
        font-weight: 800;
        border-radius: 2px;
        margin-right: 12px;
        line-height: 24px;
    }

    // TABS
    .tab-wrapper {
        width: fit-content;
        height: fit-content;
        margin-right: 6px;
        display: flex;
        align-items: center;
        background: #ffffff;
        height: 34px;
        .tab-container {
            cursor: pointer;
            display: flex;
            background: #ffffff;
            padding: 5px 4px;
            height: 34px;
            width: fit-content;
            border-radius: 3px;
            align-items: center;
            .tab {
                height: 28px;
                width: fit-content;
                border-radius: 3px;
                display: flex;
                align-items: center;
                padding: 4px;
                svg-icon {
                    display: flex;
                    align-items: center;
                    margin: 0px 6px 0px 2px;
                }

                .data-count,
                .tab-title {
                    font-size: 14px;
                    font-weight: 800;
                    color: #6c6c6c;
                    justify-content: center;
                }

                .data-count {
                    height: 18px;
                    min-width: 23px;
                    padding: 0 5px;
                    border-radius: 50px;
                    background: #919191;
                    display: flex;
                    margin-left: 4px;

                    font-size: 11px;
                    font-weight: 800;
                    color: #ffffff;
                    .data-count-number {
                        display: flex;
                        align-items: center;
                    }
                }

                .tab-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    // TABLE ACTIONS
    .table-actions {
        height: 32px;
        background: white;
        border-radius: 0px 3px 3px 0;
        margin-right: 6px;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        .actions-container {
            width: fit-content;
            height: 32px;
            display: flex;

            .action-div {
                cursor: pointer;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .active-options {
                svg-icon {
                    svg {
                        path,
                        rect {
                            fill: #91a4c7 !important;
                            transition: 0.25s;
                        }
                    }
                }

                &:hover {
                    svg-icon {
                        svg {
                            path,
                            rect {
                                fill: #6d82c7 !important;
                                transition: 0.25s;
                            }
                        }
                    }
                }
            }
        }

        .new-load {
            width: 36px;
            height: 36px;
            background-color: #3074d3;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            align-self: center;
            cursor: pointer;

            svg-icon {
                display: flex;
                svg {
                }
            }
        }

        .settings-dispatch,
        .lock-unlock-dispatch {
            width: 26px;
            height: 26px;
            display: flex;
            margin-right: 10px;
            align-self: center;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;

            svg-icon {
                display: flex;
                svg,
                path {
                    width: 18px;
                    height: 18px;

                    fill: #919191;
                }
            }
        }
    }

    // LOCATION FILTER AND OPEN MODAL BUTTON
    .modal-open-container {
        background: #3b73ed;

        &:hover {
            background: #536bc2;
            transition: 0.25s;
        }

        svg-icon {
            svg {
                path {
                    fill: #ffffff;
                }
            }
        }
    }

    .location-filter-container,
    .modal-open-container,
    .general-pm-open-container {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .location-filter-container,
    .general-pm-open-container {
        background: #ffffff;
    }

    .general-pm-open-container {
        margin-left: 4px;
    }

    .location-filter-container,
    .modal-open-container {
        svg-icon {
            display: flex;
        }
    }

    .modal-open-container,
    .general-pm-open-container {
        border-radius: 3px;
    }
}

/* Ng Class */

// Map Style
.mapToolbarStyle {
    position: relative;
    width: calc(100% + 16px) !important;
    z-index: 2;
}

// Tabs
.tab-margin {
    margin-right: 4px;
}

.tab-inactive {
    &:hover {
        .tab {
            .data-count,
            .tab-title {
                color: #6c6c6c;
                transition: 0.25s;
            }
        }
    }
}

.tab-active {
    background: #424242 !important;
    height: 36px !important;
    transition: 0.25s;

    svg-icon {
        svg {
            path {
                fill: #eeeeee;
            }
        }
    }

    .tab-title {
        color: #ffffff !important;
        transition: 0.25s;
    }

    .data-count {
        background: #eeeeee !important;
        color: #424242 !important;
        transition: 0.25s;
    }
}
