<div
    class="table-filter-container"
    [ngClass]="{
        'table-filter-padding': options.toolbarActions.showSearchBorder,
    }"
>
    <!-- VIEW MODE SELECT -->

    <!-- TOTAL MONEY COUNT -->
    <ng-container *ngIf="activeTableData.moneyCountSelected">
        <div
            class="money-count-container d-flex justify-content-center align-items-center"
            [ngClass]="{
                'money-count-select-style': activeTableData.moneyCountSelected,
            }"
        >
            <div
                class="container-money ta-font-bold d-flex justify-content-center align-items-center"
            >
                {{ activeTableData.moneyCount | moneyFilter }}
            </div>
        </div>
    </ng-container>

    <ng-container
        *ngIf="
            options?.toolbarActions?.viewModeOptions?.length &&
            activeTableData.moneyCountSelected
        "
    >
        <div
            class="border-container d-flex justify-content-center align-items-center"
        >
            <div class="border-stick"></div>
        </div>
    </ng-container>

    <ng-container *ngIf="options?.toolbarActions?.viewModeOptions?.length">
        <div class="view-mode-container d-flex">
            <ng-container
                *ngFor="let viewMode of options.toolbarActions.viewModeOptions"
            >
                <div
                    class="mode ta-font-extra-bold d-flex justify-content-center align-items-center"
                    [ngClass]="{
                        'mode-active': viewMode.active,
                        'mode-margin':
                            activeTableData.gridNameTitle === 'Account' ||
                            activeTableData.gridNameTitle === 'Contact' ||
                            activeTableData.gridNameTitle === 'User',
                    }"
                    (click)="changeModeView(viewMode.name)"
                >
                    {{ viewMode.name }}
                </div>
            </ng-container>
        </div>
    </ng-container>

    <!-- BORDER -->
    <ng-container
        *ngIf="
            options?.toolbarActions?.viewModeOptions?.length &&
            !options.toolbarActions.hideSearch
        "
    >
        <div
            class="border-container d-flex justify-content-center align-items-center"
        >
            <div class="border-stick"></div>
        </div>
    </ng-container>

    <!-- SEARCH -->
    <ng-container *ngIf="!options.toolbarActions.hideSearch">
        <div
            [ngClass]="{
                'disabled-icon pe-none': options.toolbarActions.disableSearch,
            }"
        >
            <app-ca-search-multiple-states
                [searchType]="'tabel'"
                [selectedTabData]="activeTableData"
                [toolbarSearch]="true"
            ></app-ca-search-multiple-states>
        </div>
    </ng-container>

    <!-- SEARCH BORDER ONLY -->
    <ng-container *ngIf="!options.toolbarActions.hideSearch">
        <div
            class="border-container d-flex justify-content-center align-items-center"
        >
            <div class="border-stick"></div>
        </div>
    </ng-container>

    <app-ta-special-filter
        *ngIf="options.toolbarActions.showArhiveCount"
        [type]="'archiveFilter'"
        [icon]="'ic_deactivate'"
        [filterTitle]="'Deactivated user'"
        [dataArray]="this.activeTableData.deactivatedUserArray"
        (setFilter)="onSpecialFilter($event, 'deactivatedUserArray')"
        [selectedFilter]="
            this.activeTableData?.deactivatedUserArray?.selectedFilter
        "
        [class]="
            options?.toolbarActions?.filtersOrder?.archive
                ? 'order-' + options.toolbarActions.filtersOrder.archive
                : ''
        "
    ></app-ta-special-filter>

    <!-- BORDER -->
    <ng-container
        *ngIf="
            options.toolbarActions.showCountSelectedInList &&
            activeTableData?.listSelectedCount.length
        "
    >
        <div
            class="border-container d-flex justify-content-center align-items-center"
        >
            <div class="border-stick"></div>
        </div>
    </ng-container>

    <!-- COUNT SELECTED IN LIST  -->
    <ng-container
        *ngIf="
            options.toolbarActions.showCountSelectedInList &&
            activeTableData?.listSelectedCount
        "
    >
        <div
            class="count-selected-in-list-container ta-font-bold d-flex justify-content-center align-items-center"
        >
            {{ activeTableData.listSelectedCount }} Selected
        </div>
    </ng-container>

    <!-- LOCATION FILTER -->

    <app-ca-filter
        *ngIf="options.toolbarActions.showLocationFilter"
        [type]="'locationFilter'"
        [icon]="'address'"
        [filterTitle]="'Area Filter'"
        [areaFilter]="true"
        [locationDefType]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
    >
    </app-ca-filter>

    <!-- FUEL STOP FILTER -->
    @if (options.toolbarActions.showFuelStopFilter) {
        <app-ca-filter-dropdown
            type="FuelStop"
            [list]="fuelStopArray"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }

    <!-- DEPARTMENT FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showDepartmentFilter"
        [type]="'departmentFilter'"
        [icon]="'department'"
        [filterTitle]="'Department Filter'"
        [noLeftIcon]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [pmFilterArray]="[]"
    >
    </app-ca-filter>

    <!-- STATE FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showStateFilter"
        [type]="'stateFilter'"
        [icon]="'state'"
        [filterTitle]="'State / Province Filter'"
        [leftSideIcon]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.state
                ? 'order-' + options.toolbarActions.filtersOrder.state
                : ''
        "
        [usaStates]="usaStates"
        [canadaStates]="canadaStates"
    >
    </app-ca-filter>

    <!-- ARHIVE FILTER -->
    <app-ta-special-filter
        *ngIf="options.toolbarActions.showArhiveFilter"
        [type]="'archiveFilter'"
        [icon]="'ic_driver_arhive'"
        [filterTitle]="'Archive Filter'"
        [dataArray]="this.activeTableData.driverArhivedArray"
        (setFilter)="onSpecialFilter($event, 'driverArhivedArray')"
        [selectedFilter]="
            this.activeTableData?.driverArhivedArray?.selectedFilter
        "
    ></app-ta-special-filter>

    <!-- TIME FILTER -->
    @if (options.toolbarActions.showTimeFilter) {
        <app-ca-filter-dropdown
            type="TimeFilter"
            subType="past"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }

    <!-- VACATION FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showDispatchVacationFilter"
        [type]="'vacationFilter'"
        [isButtonFilter]="true"
        [icon]="'vacation'"
        [filterTitle]="'Vacation Filter'"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
    >
    </app-ca-filter>

    <!-- INJURY FILTER -->
    <app-ta-filter
        *ngIf="options.toolbarActions.showInjuryFilter"
        [type]="'injuryFilter'"
        [icon]="'ic_injury'"
        [filterTitle]="'Injury Filter'"
        [swipeFilter]="true"
        (setFilter)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.injury
                ? 'order-' + options.toolbarActions.filtersOrder.injury
                : ''
        "
    >
    </app-ta-filter>

    <!-- PM FILTER -->
    @if (options.toolbarActions.showPMFilter) {
        <app-ca-filter-dropdown
            type="Pm"
            [list]="pmFilterArray"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }

    <!-- PM FILTER -->
    @if (options.toolbarActions.showCategoryRepairFilter) {
        <app-ca-filter-dropdown
            type="Service"
            [list]="categoryRepairArray"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }

    <!-- CATEGORY FUEL FILTER -->
    @if (options.toolbarActions.showCategoryFuelFilter) {
        <app-ca-filter-dropdown
            type="FuelItem"
            [list]="categoryFuelArray"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }
    <!-- STATUS FILTER -->
    @if (
        options.toolbarActions.showStatusFilter ||
        options.toolbarActions.showStatusDispatchFilter
    ) {
        <app-ca-filter-dropdown
            type="Status"
            [list]="loadStatusOptionsArray"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }

    <!-- PARKING FILTER -->
    @if (options.toolbarActions.showParkingFilter) {
        <app-ca-filter-dropdown
            type="Parking"
            [list]="loadParkingOptionsArray"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }

    <!-- TRUCK TYPE FILTER -->
    @if (options.toolbarActions.showTruckTypeFilter) {
        <app-ca-filter-dropdown
            type="TruckType"
            [list]="truckTypeArray"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }

    <!-- TRAILER TYPE FILTER -->
    @if (options.toolbarActions.showTrailerTypeFilter) {
        <app-ca-filter-dropdown
            type="TrailerType"
            [list]="trailerTypeArray"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }

    <!-- TRUCK FILTER -->
    @if (
        options.toolbarActions.showTruckFilter ||
        options.toolbarActions.showTruckPmFilter ||
        options.toolbarActions.showTruckDispatchFilter
    ) {
        <app-ca-filter-dropdown
            type="TruckType"
            [list]="truckTypeArray"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }

    <!-- TRAILER FILTER -->
    @if (
        options.toolbarActions.showTrailerFilter ||
        options.toolbarActions.showTrailerPmFilter ||
        options.toolbarActions.showTrailerDispatchFilter
    ) {
        <app-ca-filter-dropdown
            type="TrailerType"
            [list]="trailerTypeArray"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }

    <!-- MONEY FILTER -->
    @if (options.toolbarActions.showMoneyFilter) {
        <app-ca-filter-dropdown
            [type]="'MoneyFilter'"
            (setFilter)="onFilter($event)"
        >
        </app-ca-filter-dropdown>
    }

    <!-- FILTER -->
    <ng-container *ngIf="options.toolbarActions.showLtlFilter">
        <ng-container *ngFor="let filterData of loadFilterData">
            <div
                class="no-filter ta-font-extra-bold d-flex justify-content-center align-items-center"
                [ngClass]="{
                    'active-options-filter': filterData.active,
                }"
                (click)="changeFilterView(filterData.name)"
            >
                {{ filterData.name | uppercase }}
            </div>
        </ng-container>
        <div
            class="border-container d-flex justify-content-center align-items-center"
        >
            <div class="border-stick"></div>
        </div>
    </ng-container>

    <app-ta-special-filter
        *ngIf="
            options.toolbarActions.showLtlFilter &&
            showFtl &&
            this.activeTableData.ftlArray
        "
        [type]="'load-filter'"
        [icon]="'ic_shuffle'"
        [filterTitle]="'Schuffle Filter'"
        [dataArray]="this.activeTableData.ftlArray"
        (setFilter)="onSpecialFilter($event, 'ftlArray')"
        [selectedFilter]="this.activeTableData.ftlArray.selectedFilter"
    ></app-ta-special-filter>

    <app-ta-special-filter
        *ngIf="
            options.toolbarActions.showLtlFilter &&
            showLtl &&
            this.activeTableData.ltlArray
        "
        [type]="'load-filter'"
        [icon]="'ic_ltl_single'"
        [filterTitle]="'LTL Single'"
        [dataArray]="this.activeTableData.ltlArray"
        (setFilter)="onSpecialFilter($event, 'ltlArray')"
        [selectedFilter]="this.activeTableData.ltlArray.selectedFilter"
    ></app-ta-special-filter>

    <app-ta-special-filter
        *ngIf="
            options.toolbarActions.showBrokerFilter &&
            this.activeTableData?.bannedArray?.filteredArray?.length > 0
        "
        [type]="'ban-filter'"
        [icon]="'ic_banned_broker'"
        [filterTitle]="'Banned'"
        [dataArray]="this.activeTableData.bannedArray"
        (setFilter)="onSpecialFilter($event, 'ban')"
        [selectedFilter]="this.activeTableData?.bannedArray?.selectedFilter"
    ></app-ta-special-filter>

    <app-ta-special-filter
        *ngIf="
            options.toolbarActions.showBrokerFilter &&
            this.activeTableData?.dnuArray?.filteredArray?.length > 0
        "
        [type]="'dnu-filter'"
        [icon]="'ic_dnu_broker'"
        [filterTitle]="'Do not use'"
        [dataArray]="this.activeTableData.dnuArray"
        (setFilter)="onSpecialFilter($event, 'dnu')"
        [selectedFilter]="this.activeTableData.dnuArray.selectedFilter"
    ></app-ta-special-filter>

    <ng-container
        *ngIf="
            options.toolbarActions.showBrokerFilter ||
            options.toolbarActions.showRepairShop ||
            options.toolbarActions.showBrokerFilterClosed ||
            options.toolbarActions.showFuelPermanentlyClosed
        "
    >
        <app-ta-special-filter
            [type]="tableStringEnum.FUEL_STOP_FILTER_CLOSED"
            [icon]="'ic_closed_broker'"
            [filterTitle]="'Permanently Closed'"
            [dataArray]="activeTableData.data"
            [dataCount]="activeTableData.fuelStopClosedCount"
            (setFilter)="onSpecialFilter($event, tableStringEnum.CLOSED_ARRAY)"
            [selectedFilter]="activeTableData?.closedArray?.selectedFilter"
        ></app-ta-special-filter>
    </ng-container>

    <ng-container
        *ngIf="options.toolbarActions.showIntegratedFuelTransactionsFilter"
    >
        <app-ta-special-filter
            [type]="tableStringEnum.FUEL_TRANSACTION_FILTER_INTEGRATED"
            [icon]="'ic_fuel_transaction'"
            [filterTitle]="'Integrated Transactions'"
            [dataArray]="activeTableData.data"
            [dataCount]="activeTableData.integratedDataCount"
            (setFilter)="onSpecialFilter($event, tableStringEnum.FUEL_ARRAY)"
            [selectedFilter]="activeTableData?.fuelArray?.selectedFilter"
        ></app-ta-special-filter>
    </ng-container>

    @if (options.toolbarActions.showIncompleteFuelTransactionsFilter) {
        <app-ta-special-filter
            [type]="tableStringEnum.FUEL_TRANSACTION_FILTER_INCOMPLETE"
            [icon]="'ic_transaction_incomplete'"
            [filterTitle]="'Incomplete Transactions'"
            [dataArray]="activeTableData.data"
            [dataCount]="activeTableData.incompleteDataCount"
            (setFilter)="
                onSpecialFilter($event, tableStringEnum.FUEL_INCOMPLETE_ARRAY)
            "
            [selectedFilter]="
                activeTableData?.fuelIncompleteArray?.selectedFilter
            "
        ></app-ta-special-filter>
    }

    <app-ta-special-filter
        *ngIf="options.toolbarActions.showRepairOrderFilter"
        [type]="'repair-filter'"
        [icon]="'ic_repair_track'"
        [filterTitle]="'Repair Filter'"
        [dataArray]="this.activeTableData.repairArray"
        (setFilter)="onSpecialFilter($event, 'repairArray')"
        [selectedFilter]="this.activeTableData?.repairArray?.selectedFilter"
    ></app-ta-special-filter>
</div>
