<div
    class="table-filter-container"
    [ngClass]="{
        'table-filter-padding': options.toolbarActions.showSearchBorder
    }"
>
    <!-- VIEW MODE SELECT -->

    <!-- TOTAL MONEY COUNT -->
    <ng-container *ngIf="activeTableData.moneyCountSelected">
        <div
            class="money-count-container d-flex justify-content-center align-items-center"
            [ngClass]="{
                'money-count-select-style': activeTableData.moneyCountSelected
            }"
        >
            <div
                class="container-money ta-font-bold d-flex justify-content-center align-items-center"
            >
                {{ activeTableData.moneyCount | moneyFilter }}
            </div>
        </div>
    </ng-container>

    <ng-container
        *ngIf="
            options?.toolbarActions?.viewModeOptions?.length &&
            activeTableData.moneyCountSelected
        "
    >
        <div
            class="border-container d-flex justify-content-center align-items-center"
        >
            <div class="border-stick"></div>
        </div>
    </ng-container>

    <ng-container *ngIf="options?.toolbarActions?.viewModeOptions?.length">
        <div class="view-mode-container d-flex">
            <ng-container
                *ngFor="let viewMode of options.toolbarActions.viewModeOptions"
            >
                <div
                    class="mode ta-font-extra-bold d-flex justify-content-center align-items-center"
                    [ngClass]="{
                        'mode-active': viewMode.active,
                        'mode-margin':
                            activeTableData.gridNameTitle === 'Account' ||
                            activeTableData.gridNameTitle === 'Contact' ||
                            activeTableData.gridNameTitle === 'User'
                    }"
                    (click)="changeModeView(viewMode.name)"
                >
                    {{ viewMode.name }}
                </div>
            </ng-container>
        </div>
    </ng-container>

    <!-- BORDER -->
    <ng-container
        *ngIf="
            options?.toolbarActions?.viewModeOptions?.length &&
            !options.toolbarActions.hideSearch
        "
    >
        <div
            class="border-container d-flex justify-content-center align-items-center"
        >
            <div class="border-stick"></div>
        </div>
    </ng-container>

    <!-- SEARCH -->
    <ng-container *ngIf="!options.toolbarActions.hideSearch">
        <div
            [ngClass]="{
                'disabled-icon pe-none': options.toolbarActions.disableSearch
            }"
        >
            <app-ca-search-multiple-states
                [searchType]="'tabel'"
                [selectedTabData]="activeTableData"
                [toolbarSearch]="true"
            ></app-ca-search-multiple-states>
        </div>
    </ng-container>

    <!-- SEARCH BORDER ONLY -->
    <ng-container *ngIf="!options.toolbarActions.hideSearch">
        <div
            class="border-container d-flex justify-content-center align-items-center"
        >
            <div class="border-stick"></div>
        </div>
    </ng-container>

    <app-ta-special-filter
        *ngIf="options.toolbarActions.showArhiveCount"
        [type]="'archiveFilter'"
        [icon]="'ic_deactivate'"
        [filterTitle]="'Deactivated user'"
        [dataArray]="this.activeTableData.deactivatedUserArray"
        (setFilter)="onSpecialFilter($event, 'deactivatedUserArray')"
        [selectedFilter]="
            this.activeTableData?.deactivatedUserArray?.selectedFilter
        "
        [class]="
            options?.toolbarActions?.filtersOrder?.archive
                ? 'order-' + options.toolbarActions.filtersOrder.archive
                : ''
        "
    ></app-ta-special-filter>

    <!-- BORDER -->
    <ng-container
        *ngIf="
            options.toolbarActions.showCountSelectedInList &&
            activeTableData?.listSelectedCount.length
        "
    >
        <div
            class="border-container d-flex justify-content-center align-items-center"
        >
            <div class="border-stick"></div>
        </div>
    </ng-container>

    <!-- COUNT SELECTED IN LIST  -->
    <ng-container
        *ngIf="
            options.toolbarActions.showCountSelectedInList &&
            activeTableData?.listSelectedCount
        "
    >
        <div
            class="count-selected-in-list-container ta-font-bold d-flex justify-content-center align-items-center"
        >
            {{ activeTableData.listSelectedCount }} Selected
        </div>
    </ng-container>

    <!-- LOCATION FILTER -->

    <app-ca-filter
        *ngIf="options.toolbarActions.showLocationFilter"
        [type]="'locationFilter'"
        [icon]="'address'"
        [filterTitle]="'Area Filter'"
        [areaFilter]="true"
        [locationDefType]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.location
                ? 'order-' + options.toolbarActions.filtersOrder.location
                : ''
        "
    >
    </app-ca-filter>

    <!-- FUEL STOP FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showFuelStopFilter"
        [type]="'fuelStopFilter'"
        [icon]="'fuel'"
        [filterTitle]="'Fuel Stop Filter'"
        [noLeftIcon]="true"
        [defFilterHolder]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.fuelStop
                ? 'order-' + options.toolbarActions.filtersOrder.fuelStop
                : ''
        "
    >
    </app-ca-filter>

    <!-- STATE FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showStateFilter"
        [type]="'stateFilter'"
        [icon]="'state'"
        [filterTitle]="'State / Province Filter'"
        [defFilterHolder]="true"
        [leftSideIcon]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.state
                ? 'order-' + options.toolbarActions.filtersOrder.state
                : ''
        "
        [usaStates]="usaStates"
        [canadaStates]="canadaStates"
    >
    </app-ca-filter>

    <!-- ARHIVE FILTER -->
    <app-ta-special-filter
        *ngIf="options.toolbarActions.showArhiveFilter"
        [type]="'archiveFilter'"
        [icon]="'ic_driver_arhive'"
        [filterTitle]="'Archive Filter'"
        [dataArray]="this.activeTableData.driverArhivedArray"
        (setFilter)="onSpecialFilter($event, 'driverArhivedArray')"
        [selectedFilter]="
            this.activeTableData?.driverArhivedArray?.selectedFilter
        "
    ></app-ta-special-filter>

    <!-- TIME FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showTimeFilter"
        [type]="'timeFilter'"
        [icon]="'ic_time'"
        [filterTitle]="'Time Filter'"
        [timeSubType]="'past'"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
    >
    </app-ca-filter>

    <!-- VACATION FILTER -->
    <app-ta-filter
        *ngIf="options.toolbarActions.showDispatchVacationFilter"
        [type]="'vacationFilter'"
        [icon]="'assets/svg/dispatchboard/vacation.svg'"
        [filterTitle]="'Vacation Filter'"
        (setFilter)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.vacation
                ? 'order-' + options.toolbarActions.filtersOrder.vacation
                : ''
        "
    >
    </app-ta-filter>

    <!-- INJURY FILTER -->
    <app-ta-filter
        *ngIf="options.toolbarActions.showInjuryFilter"
        [type]="'injuryFilter'"
        [icon]="'ic_injury'"
        [filterTitle]="'Injury Filter'"
        [swipeFilter]="true"
        (setFilter)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.injury
                ? 'order-' + options.toolbarActions.filtersOrder.injury
                : ''
        "
    >
    </app-ta-filter>

    <!-- PM FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showPMFilter"
        [type]="'pmFilter'"
        [icon]="'default_pm'"
        [pmSubtype]="
            options.toolbarActions.showTrailerPmFilter ? 'trailer' : 'truck'
        "
        [filterTitle]="'PM Filter'"
        [defFilterHolder]="true"
        [noLeftIcon]="false"
        [leftSideIcon]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.pm
                ? 'order-' + options.toolbarActions.filtersOrder.pm
                : ''
        "
        [pmFilterArray]="pmFilterArray"
    >
    </app-ca-filter>

    <!-- CATEGORY REPAIR FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showCategoryRepairFilter"
        [type]="'categoryRepairFilter'"
        [icon]="'ic_key-repair'"
        [filterTitle]="'Service Filter'"
        [defFilterHolder]="true"
        [noLeftIcon]="false"
        [leftSideIcon]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.categoryRepair
                ? 'order-' + options.toolbarActions.filtersOrder.categoryRepair
                : ''
        "
        [pmFilterArray]="categoryRepairArray"
    >
    </app-ca-filter>

    <!-- CATEGORY FUEL FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showCategoryFuelFilter"
        [type]="'pmFilter'"
        [icon]="'funnel'"
        [filterTitle]="'Category Filter'"
        [defFilterHolder]="true"
        [noLeftIcon]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.categoryFuel
                ? 'order-' + options.toolbarActions.filtersOrder.categoryFuel
                : ''
        "
        [pmFilterArray]="categoryFuelArray"
    >
    </app-ca-filter>

    <!-- DISPECHER FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showDispatcherFilter"
        [type]="'dispatcherFilter'"
        [icon]="'user'"
        [searchState]="true"
        [filterTitle]="'Dispatcher Filter'"
        [defFilterHolder]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.dispatcher
                ? 'order-' + options.toolbarActions.filtersOrder.location
                : ''
        "
        [unselectedUser]="unselectedDispatcher"
    >
    </app-ca-filter>

    <!-- STATUS FILTER -->
    <app-ca-filter
        *ngIf="
            options.toolbarActions.showStatusFilter ||
            options.toolbarActions.showStatusDispatchFilter
        "
        [type]="'statusFilter'"
        [icon]="'broker-half-circle'"
        [filterTitle]="'Status Filter'"
        [defFilterHolder]="true"
        [noLeftIcon]="false"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [isDispatchFilter]="options.toolbarActions.showStatusDispatchFilter"
        [class]="
            options?.toolbarActions?.filtersOrder?.status
                ? 'order-' + options.toolbarActions.filtersOrder.status
                : ''
        "
        [loadStatusOptionsArray]="loadStatusOptionsArray"
    >
    </app-ca-filter>

    <!-- PARKING FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showParkingFilter"
        [type]="'parkingFilter'"
        [icon]="'parking'"
        [filterTitle]="'Parking Filter'"
        [defFilterHolder]="true"
        [noLeftIcon]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.parking
                ? 'order-' + options.toolbarActions.filtersOrder.parking
                : ''
        "
        [pmFilterArray]="loadParkingOptionsArray"
    >
    </app-ca-filter>

    <!-- TRUCK TYPE FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showTruckTypeFilter"
        [type]="'truckTypeFilter'"
        [icon]="'truck'"
        [filterTitle]="'Truck Type Filter'"
        [defFilterHolder]="true"
        [noLeftIcon]="false"
        [leftSideIcon]="true"
        [largeLeftIcon]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.truckType
                ? 'order-' + options.toolbarActions.filtersOrder.truckType
                : ''
        "
        [truckTypeArray]="truckTypeArray"
    >
    </app-ca-filter>

    <!-- TRAILER TYPE FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showTrailerTypeFilter"
        [type]="'trailerTypeFilter'"
        [icon]="'trailer'"
        [filterTitle]="'Trailer Type Filter'"
        [defFilterHolder]="true"
        [noLeftIcon]="false"
        [leftSideIcon]="true"
        [largeLeftIcon]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [class]="
            options?.toolbarActions?.filtersOrder?.trailerType
                ? 'order-' + options.toolbarActions.filtersOrder.trailerType
                : ''
        "
        [trailerTypeArray]="trailerTypeArray"
    >
    </app-ca-filter>

    <!-- TRUCK FILTER -->
    <app-ca-filter
        *ngIf="
            options.toolbarActions.showTruckFilter ||
            options.toolbarActions.showTruckPmFilter ||
            options.toolbarActions.showTruckDispatchFilter
        "
        [type]="'truckTypeFilter'"
        [icon]="'truck'"
        [filterTitle]="'Truck Type Filter'"
        [defFilterHolder]="true"
        [noLeftIcon]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [isRepairFilter]="!!options.toolbarActions.showTruckPmFilter"
        [isDispatchFilter]="options.toolbarActions.showTruckDispatchFilter"
        [class]="
            options?.toolbarActions?.filtersOrder?.truck
                ? 'order-' + options.toolbarActions.filtersOrder.truck
                : ''
        "
        [truckTypeArray]="truckTypeArray"
    >
    </app-ca-filter>

    <!-- TRAILER FILTER -->
    <app-ca-filter
        *ngIf="
            options.toolbarActions.showTrailerFilter ||
            options.toolbarActions.showTrailerPmFilter ||
            options.toolbarActions.showTrailerDispatchFilter
        "
        [type]="'trailerTypeFilter'"
        [icon]="'trailer'"
        [filterTitle]="'Trailer Type Filter'"
        [defFilterHolder]="true"
        [noLeftIcon]="true"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [isRepairFilter]="options.toolbarActions.showTrailerPmFilter"
        [isDispatchFilter]="options.toolbarActions.showTrailerDispatchFilter"
        [class]="
            options?.toolbarActions?.filtersOrder?.trailer
                ? 'order-' + options.toolbarActions.filtersOrder.trailer
                : ''
        "
        [trailerTypeArray]="trailerTypeArray"
    >
    </app-ca-filter>

    <!-- MONEY FILTER -->
    <app-ca-filter
        *ngIf="options.toolbarActions.showMoneyFilter"
        [type]="'moneyFilter'"
        [icon]="'dollar'"
        [filterTitle]="'Money Filter'"
        [subType]="options.toolbarActions.hideMoneySubType ? '' : 'all'"
        [isMoneyFilter]="true"
        [isMilesFilter]="false"
        [isFuelType]="!!options.toolbarActions.fuelMoneyFilter"
        [isLoadType]="!!options.toolbarActions.loadMoneyFilter"
        (setFilter)="onFilter($event)"
        (clearAll)="onFilter($event)"
        [isRepairFilter]="
            options.toolbarActions.showTrailerPmFilter ||
            options.toolbarActions.showTruckPmFilter
        "
        [class]="
            options?.toolbarActions?.filtersOrder?.money
                ? 'order-' + options.toolbarActions.filtersOrder.money
                : ''
        "
    >
    </app-ca-filter>

    <!-- FILTER -->
    <ng-container *ngIf="options.toolbarActions.showLtlFilter">
        <ng-container *ngFor="let filterData of loadFilterData">
            <div
                class="no-filter ta-font-extra-bold d-flex justify-content-center align-items-center"
                [ngClass]="{
                    'active-options-filter': filterData.active
                }"
                (click)="changeFilterView(filterData.name)"
            >
                {{ filterData.name | uppercase }}
            </div>
        </ng-container>
        <div
            class="border-container d-flex justify-content-center align-items-center"
        >
            <div class="border-stick"></div>
        </div>
    </ng-container>

    <app-ta-special-filter
        *ngIf="
            options.toolbarActions.showLtlFilter &&
            showFtl &&
            this.activeTableData.ftlArray
        "
        [type]="'load-filter'"
        [icon]="'ic_shuffle'"
        [filterTitle]="'Schuffle Filter'"
        [dataArray]="this.activeTableData.ftlArray"
        (setFilter)="onSpecialFilter($event, 'ftlArray')"
        [selectedFilter]="this.activeTableData.ftlArray.selectedFilter"
    ></app-ta-special-filter>

    <app-ta-special-filter
        *ngIf="
            options.toolbarActions.showLtlFilter &&
            showLtl &&
            this.activeTableData.ltlArray
        "
        [type]="'load-filter'"
        [icon]="'ic_ltl_single'"
        [filterTitle]="'LTL Single'"
        [dataArray]="this.activeTableData.ltlArray"
        (setFilter)="onSpecialFilter($event, 'ltlArray')"
        [selectedFilter]="this.activeTableData.ltlArray.selectedFilter"
    ></app-ta-special-filter>

    <app-ta-special-filter
        *ngIf="
            options.toolbarActions.showBrokerFilter &&
            this.activeTableData?.bannedArray?.filteredArray?.length > 0
        "
        [type]="'ban-filter'"
        [icon]="'ic_banned_broker'"
        [filterTitle]="'Banned'"
        [dataArray]="this.activeTableData.bannedArray"
        (setFilter)="onSpecialFilter($event, 'ban')"
        [selectedFilter]="this.activeTableData?.bannedArray?.selectedFilter"
    ></app-ta-special-filter>

    <app-ta-special-filter
        *ngIf="
            options.toolbarActions.showBrokerFilter &&
            this.activeTableData?.dnuArray?.filteredArray?.length > 0
        "
        [type]="'dnu-filter'"
        [icon]="'ic_dnu_broker'"
        [filterTitle]="'Do not use'"
        [dataArray]="this.activeTableData.dnuArray"
        (setFilter)="onSpecialFilter($event, 'dnu')"
        [selectedFilter]="this.activeTableData.dnuArray.selectedFilter"
    ></app-ta-special-filter>

    <app-ta-special-filter
        *ngIf="
            (options.toolbarActions.showBrokerFilter ||
                options.toolbarActions.showRepairShop ||
                options.toolbarActions.showBrokerFilterClosed ||
                options.toolbarActions.showFuelPermanentlyClosed) &&
            this.activeTableData?.closedArray?.filteredArray?.length > 0
        "
        [type]="'closed-filter'"
        [icon]="'ic_closed_broker'"
        [filterTitle]="'Permanently Closed'"
        [dataArray]="this.activeTableData.closedArray"
        (setFilter)="onSpecialFilter($event, 'closedArray')"
        [selectedFilter]="this.activeTableData.closedArray.selectedFilter"
    ></app-ta-special-filter>

    <ng-container
        *ngIf="options.toolbarActions.showIntegratedFuelTransactionsFilter"
    >
        <app-ta-special-filter
            [type]="'fuel-filter'"
            [icon]="'ic_fuel_transaction'"
            [filterTitle]="'Fuel Transaction'"
            [dataArray]="activeTableData.data"
            [dataCount]="activeTableData.integratedDataCount"
            (setFilter)="onSpecialFilter($event, 'fuelArray')"
            [selectedFilter]="activeTableData?.fuelArray?.selectedFilter"
        ></app-ta-special-filter>
    </ng-container>

    <app-ta-special-filter
        *ngIf="options.toolbarActions.showRepairOrderFilter"
        [type]="'repair-filter'"
        [icon]="'ic_repair_track'"
        [filterTitle]="'Repair Filter'"
        [dataArray]="this.activeTableData.repairArray"
        (setFilter)="onSpecialFilter($event, 'repairArray')"
        [selectedFilter]="this.activeTableData?.repairArray?.selectedFilter"
    ></app-ta-special-filter>
</div>
