<div class="custom-checkbox-card">
    <div class="divider"></div>
    <div
        class="checkbox-card-header"
        [ngClass]="{
            pointer: reverseLogic
                ? !getSuperControl.value
                : getSuperControl.value
        }"
    >
        <app-ta-checkbox
            [formControl]="getSuperControl"
            [label]="label"
            [name]="name"
        ></app-ta-checkbox>

        <ng-content select="[header]"></ng-content>

        <svg-icon
            *ngIf="hasArrow"
            class="checkbox-card-header-arrow"
            src="assets/svg/common/ic_arrow_down_updated.svg"
            [ngClass]="{
                visible: reverseLogic
                    ? !getSuperControl.value
                    : getSuperControl.value,
                rotate: reverseLogic ? _isCardOpen : !_isCardOpen
            }"
            (click)="onToggleCard($event)"
        ></svg-icon>
    </div>

    <!-- Normal -->
    <div
        *ngIf="!reverseLogic"
        class="checkbox-card-body"
        [ngClass]="noActive"
        [ngStyle]="animationMarginParams"
        [@showHideCardBody]="{
            value: _isCardOpen?.toString(),
            params: animationMarginParams
        }"
    >
        <ng-content select="[body]"></ng-content>
    </div>

    <!-- Reverse Logic -->
    <div
        *ngIf="reverseLogic"
        class="checkbox-card-body-falsy"
        [ngClass]="noActive"
        [ngStyle]="animationMarginParams"
        [@showHideCardBodyFalsy]="{
            value: _isCardOpen?.toString(),
            params: animationMarginParams
        }"
    >
        <ng-content select="[bodyFalse]"></ng-content>
    </div>

    <!-- Without Toogle (stop closing card) -->
    <div *ngIf="withoutToggle" [ngStyle]="animationMarginParams">
        <ng-content select="[bodyWithoutToggle]"></ng-content>
    </div>
</div>
