//------------------------------------------------------ Common Classes ---------------------------------------------------
.file-container {
  cursor: pointer;
  &:hover {
    transition: all 0.3s ease-in-out;
    .file-action-buttons,
    .file-info {
      display: flex;
    }
  }
}

//-------------- File Action Buttons Top Right Corner
.file-action-buttons {
  width: 76px;
  height: 28px;
  background-color: #6C6C6C;
  opacity: .9;
  border-radius: 2px;
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
  align-items: center;
  justify-content: space-around;

  .file-action-download,
  .file-action-edit,
  .file-action-delete {
    &:hover {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      svg {
        path {
          fill: #FFFFFF;
        }
      }
    }
  }
}

//-------------- File Info Bottom Left Corner
.file-info {
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 10px;
  font-weight: 900;
  color: #ffffff;
  display: none;
  align-items: center;
  user-select: none;

  p {
    margin: 0;
    position: relative;
    bottom: 0.5px;
    @media only screen and (min-width: 2000px) {
      bottom: 0px;
    }
    @media only screen and (max-width: 1800px) {
      bottom: 0px;
    }
  }

  .file-type {
    text-align: center;
    padding: 2.5px 3px;
    border-radius: 2px;
    margin-right: 2px;
    opacity: 0.9;

    &.jpg,
    &.jpeg,
    &.png {
      background: #ffbf6b;
    }

    &.pdf {
      background-color: #ff6b6b;
    }

    &.doc {
      background: #91a4c7;
    }

    &.xls {
      background-color: #3bcbae;
    }

    &.txt {
      background: #b389bf;
    }
  }

  .file-number-of-pages {
    text-align: center;
    padding: 2.5px 6px;
    border-radius: 2px;
    background-color: #6c6c6c;
    opacity: 0.9;
    font-weight: 600;
  }
}


// ---------------------------------------- DYNAMIC COMPONENT CLASSES --------------------------------------------------
//-------------- Driver Details Single PDF
.driver-details-single-pdf {
  width: 236px;
  height: 150px;
  position: relative;

  .ng2-pdf-viewer-container {
    overflow: hidden !important;
    background-color: transparent !important;
    width: 236px !important;
    height: 150px !important;
    border-radius: 3px !important;

    .canvasWrapper,
    .pdfViewer,
    .pdfViewer .page,
    canvas {
      width: 236px !important;
      height: 150px !important;
      margin: 0 !important;
    }
  }
}
//-------------- Driver Details Multiple Pdf
.driver-details-multiple-pdf {
  width: 236px;
  height: 236px;
  position: relative;

  .ng2-pdf-viewer-container {
    overflow: hidden !important;
    background-color: transparent !important;
    width: 236px !important;
    height: 236px !important;
    border-radius: 3px !important;

    .canvasWrapper,
    .pdfViewer,
    .pdfViewer .page,
    canvas {
      width: 236px !important;
      height: 236px !important;
      margin: 0 !important;
    }
  }
}
