@if (_fuelStop) {
    <div class="cards-item-wrapper-1 fuel-stop-details-card">
        <!-- Title Card -->

        <app-fuel-stop-details-title-card></app-fuel-stop-details-title-card>

        <!-- Additional Cards -->

        <div class="additional-cards-container">
            <div class="fuel-stop-details-cards">
                <!-- Last Fuel Price Card -->

                <app-fuel-stop-details-last-fuel-price-card>
                </app-fuel-stop-details-last-fuel-price-card>

                <!-- Fuel Expense Card -->

                <app-fuel-stop-details-fuel-expense-card>
                </app-fuel-stop-details-fuel-expense-card>

                <!-- Map & Cover Photo Card -->

                <app-fuel-stop-details-map-cover-card>
                </app-fuel-stop-details-map-cover-card>

                <!-- Note Card -->

                <!--    <div class="note-cards">
                                    <app-ta-input-note
                                        [formControl]="noteControl"
                                        [isVisibleArrow]="true"
                                        [minRows]="1"
                                        [isVisibleDivider]="false"
                                        [placeholder]="'Write something.'"
                                        [customClass]="'note-small'"
                                        [noteType]="'details-card'"
                                    ></app-ta-input-note>
                                </div> -->
            </div>
        </div>
    </div>
}
