<div *ngIf="truck" class="cards-item-wrapper-1">
  <app-ta-details-header-card
    [cardDetailsDate]="truck.createdAt | formatDateP"
    [tooltipNext]="'Next Truck'"
    [tooltipPrevious]="'Previous Truck'"
    [searchInputName]="'Search Truck'"
    [options]="truckDropDowns"
    (selectValue)="onSelectedTruck($event)"
    (changeEvent)="onChangeTruck($event)"
  >
    <ng-container>
      <div class="truck-details-wrapper">
        <div class="details-header-avatar">
          <div class="svg-truck-wrapper">
            <svg-icon
              class="truck"
              src="{{ 'assets/svg/common/trucks/' + truck.truckType.logoName }}"
            >
            </svg-icon>
          </div>

          <div class="model-name">
            <div class="svg-wrapper">
              <svg-icon
                class="details-header-model"
                src="{{
                  'assets/svg/common/trucksmake/' + truck.truckMake.logoName
                }}"
              >
              </svg-icon>
            </div>
            <p>{{ truck.model }}</p>
          </div>
        </div>
        <div class="details-header-data">
          <div
            class="details-header-data-item"
            [ngClass]="{ copied: copiedVin }"
          >
            <svg-icon src="assets/svg/common/vin.svg"></svg-icon>
            <p class="vin-text">{{ truck.vin }}</p>
            <span
              [tooltipBackground]="copiedVin ? '#536BC2' : '#6c6c6c'"
              ngbTooltip
              [mainTooltip]="copiedVin ? 'Copied' : 'Copy'"
              position="top"
              class="tooltip-copy"
              [autoClose]="false"
              (click)="copyText(truck.vin, 'vin')"
            >
              <svg-icon
                class="card-icon"
                id="card-icon"
                src="assets/svg/common/ic_copy.svg"
                (mouseleave)="copiedVin = false"
              ></svg-icon>
            </span>
          </div>
          <div class="details-header-data-item second">
            <svg-icon src="assets/svg/common/year-truck.svg"></svg-icon>
            <p class="vin-text date">{{ truck.year }}</p>
            <div *ngIf="truck.color" class="light-green">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <g transform="translate(-725 -247)">
                  <rect
                    width="18"
                    height="18"
                    transform="translate(725 247)"
                    fill="none"
                  />
                  <path
                    d="M16,16.365c0-2.42,3.382-7.593,4.989-9.912a1,1,0,0,1,1.66,0c1.607,2.319,4.989,7.492,4.989,9.912a5.819,5.819,0,1,1-11.638,0Zm3.174,0a.529.529,0,0,0-1.058,0,3.708,3.708,0,0,0,3.7,3.733.529.529,0,1,0,0-1.058A2.651,2.651,0,0,1,19.174,16.365Z"
                    transform="translate(712.181 241.886)"
                    [attr.fill]="truck.color.code"
                  />
                </g>
              </svg>
            </div>
            <p *ngIf="truck.color" class="vin-text">{{ truck?.color.name }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </app-ta-details-header-card>
  <div
    class="wrapper-additional-cards"
    [ngClass]="{ 'bind-height': !templateCard }"
  >
    <div class="details-cards">
      <!--------Assinged to--------->
      <app-ta-custom-card
        [bodyTemplate]="'card'"
        [animationsDisabled]="false"
        [hasDivider]="false"
        [cardName]="'Assigned To'"
        [tooltipName]="'Dispatch History'"
        [hasHeaderSvg]="'assets/svg/common/ic_half_time.svg'"
        [isCardOpen]="true"
      >
        <div class="assignTo">
          <div class="assignTo-item first">
            <svg-icon
              class="assignTo-vehicle"
              src="assets/svg/common/trailer.svg"
            ></svg-icon>
            <p class="assignTo-value">3243</p>
          </div>
          <div class="assignTo-item">
            <svg-icon
              class="assignTo-vehicle"
              src="assets/svg/common/user-image.svg"
            ></svg-icon>
            <p class="assignTo-value">Pera Peric</p>
          </div>
        </div>
      </app-ta-custom-card>

      <!--------Additonal Details--------->
      <app-ta-custom-card
        class="item-cards"
        [animationsDisabled]="false"
        [bodyTemplate]="'card'"
        [isCardOpen]="true"
        [cardName]="'Additional Details'"
        *ngIf="truck.truckGrossWeight"
      >
        <div class="common-template">
          <div *ngIf="truck.truckGrossWeight.name" class="common-template-item">
            <div class="common-template-item-name">Gross Weight</div>
            <div class="common-template-item-value">
              {{ truck?.truckGrossWeight.name }}
            </div>
          </div>
          <div *ngIf="truck?.mileage" class="common-template-item">
            <div class="common-template-item-name">Starting Mileage</div>
            <div class="common-template-item-value">
              {{ truck?.mileage | taThousandSeparator  }} mi
            </div>
          </div>
          <div *ngIf="truck?.emptyWeight" class="common-template-item">
            <div class="common-template-item-name">Empty Weight</div>
            <div class="common-template-item-value">
              {{ truck?.emptyWeight | taThousandSeparator }} Ibs
            </div>
          </div>
          <div *ngIf="truck?.truckEngineType.name" class="common-template-item">
            <div class="common-template-item-name">Engine Type</div>
            <div class="common-template-item-value">
              {{ truck?.truckEngineType.name }}
            </div>
          </div>
          <div *ngIf="truck?.axles" class="common-template-item">
            <div class="common-template-item-name">Axles</div>
            <div class="common-template-item-value">
              {{ truck?.axles }}
            </div>
          </div>
          <div *ngIf="truck?.tireSize.name" class="common-template-item">
            <div class="common-template-item-name">Tire size</div>
            <div class="common-template-item-value">
              {{ truck?.tireSize.name }}
            </div>
          </div>
          <div *ngIf="truck?.ipasEzpass" class="common-template-item">
            <div class="common-template-item-name">IPASS/EZPASS</div>
            <div class="common-template-item-value">
              {{ truck?.ipasEzpass }}
            </div>
          </div>
          <div *ngIf="truck?.insurancePolicy" class="common-template-item">
            <div class="common-template-item-name">Insurance Policy</div>
            <div class="common-template-item-value">
              {{ truck?.insurancePolicy }}
            </div>
          </div>
        </div>
      </app-ta-custom-card>

      <!--------Owner--------->
      <app-ta-custom-card
        [animationsDisabled]="false"
        class="item-cards"
        [cardName]="'Owner'"
        [bodyTemplate]="'card'"
        [isCardOpen]="true"
      >
        <div class="common-template">
          <div class="common-template-item">
            <div class="common-template-item-name">Company</div>
            <div class="common-template-item-value size18">
              {{ truck.owner.name }}
            </div>
          </div>
          <div class="common-template-item">
            <div class="common-template-item-name">Commission</div>
            <div class="common-template-item-value size18">
              {{ truck.commission }}%
            </div>
          </div>
        </div>
        <div
          class="wrapper-owner"
          [@showHideCardBody]="toggler ? 'true' : 'false'"
        >
          <div class="owner-items" [ngClass]="{ copied: copiedPhone }">
            <svg-icon src="assets/svg/common/ic_phone.svg"></svg-icon>
            <p class="information-value">
              {{ truck.owner.phone | formatPhoneP }}
            </p>
            <span
              [tooltipBackground]="copiedPhone ? '#536BC2' : '#6c6c6c'"
              ngbTooltip
              [mainTooltip]="copiedPhone ? 'Copied' : 'Copy'"
              position="top"
              class="tooltip-copy"
              [autoClose]="false"
              (click)="copyText(truck.owner.phone, 'phone')"
            >
              <svg-icon
                class="card-icon"
                id="card-icon"
                src="assets/svg/common/ic_copy.svg"
                (mouseleave)="copiedPhone = false"
              ></svg-icon>
            </span>
          </div>
          <div class="owner-items" [ngClass]="{ copied: copiedEmail }">
            <svg-icon src="assets/svg/common/ic_email.svg"></svg-icon>
            <p class="information-value">
              {{ truck.owner.email }}
            </p>
            <span
              [tooltipBackground]="copiedEmail ? '#536BC2' : '#6c6c6c'"
              ngbTooltip
              [mainTooltip]="copiedEmail ? 'Copied' : 'Copy'"
              position="top"
              class="tooltip-copy"
              [autoClose]="false"
              (click)="copyText(truck.owner.email, 'email')"
            >
              <svg-icon
                class="card-icon"
                id="card-icon"
                src="assets/svg/common/ic_copy.svg"
                (mouseleave)="copiedEmail = false"
              ></svg-icon>
            </span>
          </div>
          <div class="owner-items">
            <svg-icon src="assets/svg/common/ic_address.svg"></svg-icon>
            <p class="information-value">
              {{ truck.owner.address.address }}
            </p>
          </div>
        </div>
        <div [ngClass]="{ 'rotate-owner': toggler }">
          <div (click)="toggler = !toggler" class="single-icon-wrapper">
            <span
              [tooltipBackground]="'#6c6c6c'"
              ngbTooltip
              [mainTooltip]="toggler ? 'Hide Contact' : 'Show More'"
              position="top"
            >
              <svg-icon
                class="icon-rotate"
                src="assets/svg/common/fill_arrow_down.svg"
              ></svg-icon>
            </span>
            <span
              tooltipBackground="#6c6c6c"
              ngbTooltip
              [mainTooltip]="toggler ? 'Hide Contact' : 'Show More'"
              position="top"
              class="hide-show"
            >
              {{ toggler ? "HIDE CONTACT" : "" }}
            </span>
          </div>
        </div>
      </app-ta-custom-card>

      <!--------Perfomance--------->
      <app-ta-custom-card
        [animationsDisabled]="false"
        class="item-cards"
        [cardName]="'Perfomance'"
        [bodyTemplate]="'card'"
        [isCardOpen]="true"
      >
        <div class="charts-template perfomance">
          <app-ta-tab-switch
            [type]="'type2-modal-popup'"
            (switchClicked)="changeTabPerfomance($event)"
            [tabs]="buttonsArrayPerfomance"
          >
          </app-ta-tab-switch>

          <div class="charts-item-wrapper revenue">
            <div class="charts-template-item">
              <div class="icon-name-item">
                <svg-icon src="assets/svg/common/mileage.svg"></svg-icon>
                <div class="charts-template-item-name">Mileage</div>
              </div>
              <div class="charts-template-item-value">300,456.3 mi</div>
            </div>

            <div class="charts-template-item fuel-item">
              <div class="icon-name-item">
                <svg-icon src="assets/svg/common/fuel.svg"></svg-icon>
                <div class="charts-template-item-name">Fuel Cost</div>
              </div>
              <div class="charts-template-item-value">$190,221.48</div>
            </div>
          </div>
        </div>
      </app-ta-custom-card>
      <!--------Fuel Consumption--------->
      <app-ta-custom-card
        [tooltipName]="'View in Modal'"
        [bodyTemplate]="'card'"
        [cardName]="'Fuel Consumption'"
        [animationsDisabled]="false"
        [hasHeaderSvg]="'assets/svg/common/arrow_top_right.svg'"
        class="item-cards"
      >
        <div class="charts-template perfomance">
          <app-ta-tab-switch
            (switchClicked)="changeTabFuel($event)"
            [tabs]="buttonsArrayFuel"
            [type]="'type2-modal-popup'"
          >
          </app-ta-tab-switch>
          <app-ta-chart
            [chartConfig]="{
              dataProperties: [
                {
                  defaultConfig: {
                    type: 'line',
                    data: [
                      9000, 7500, 19000, 10000, 11000, 13500, 18000, 22000,
                      17000, 10000, 11000, 14000
                    ],
                    label: 'Salary',
                    yAxisID: 'y-axis-1',
                    borderColor: '#6D82C7',
                    pointBackgroundColor: '#FFFFFF',
                    pointHoverBackgroundColor: '#6D82C7',
                    pointHoverBorderColor: '#FFFFFF',
                    pointHoverRadius: 3,
                    pointBorderWidth: 2
                  }
                },
                {
                  defaultConfig: {
                    type: 'bar',
                    data: [33, 25, 42, 12, 23, 33, 50, 57, 34, 19, 12, 42],
                    label: 'Miles',
                    yAxisID: 'y-axis-0',
                    borderColor: '#FFCC80',
                    backgroundColor: '#FFCC80',
                    hoverBackgroundColor: '#FFA726'
                  }
                }
              ],
              showLegend: false,
              chartValues: [],
              defaultType: 'bar',
              chartWidth: '417',
              chartHeight: '130',
              dataLabels: [
                '',
                'NOV',
                '',
                '2021',
                '',
                'MAR',
                '',
                'MAY',
                '',
                'JUL',
                '',
                'SEP'
              ],
              noChartImage: 'assets/svg/common/yellow_no_data.svg'
            }"
            [axesProperties]="barAxes"
            [legendAttributes]="barChartLegend"
          >
          </app-ta-chart>
        </div>
      </app-ta-custom-card>

      <!--------Revenue--------->
      <app-ta-custom-card
        [tooltipName]="'View in Modal'"
        [cardName]="'Revenue'"
        [bodyTemplate]="'card'"
        [animationsDisabled]="false"
        [hasHeaderSvg]="'assets/svg/common/arrow_top_right.svg'"
        class="item-cards"
        [isCardOpen]="true"
      >
        <div class="charts-template perfomance">
          <app-ta-tab-switch
            [type]="'type2-modal-popup'"
            (switchClicked)="changeTabRevenue($event)"
            [tabs]="buttonsArrayRevenue"
          >
          </app-ta-tab-switch>
          <app-ta-chart
            [chartConfig]="{
              dataProperties: [
                {
                  defaultConfig: {
                    type: 'line',
                    data: [
                      10000, 18000, 20000, 13000, 9000, 10000, 16000, 19000,
                      20000, 15000, 19000, 20000
                    ],
                    label: 'Salary',
                    yAxisID: 'y-axis-1',
                    borderColor: '#6D82C7',
                    pointBackgroundColor: '#FFFFFF',
                    pointHoverBackgroundColor: '#6D82C7',
                    pointHoverBorderColor: '#FFFFFF',
                    pointHoverRadius: 3,
                    pointBorderWidth: 2
                  }
                },
                {
                  defaultConfig: {
                    type: 'bar',
                    data: [41, 27, 50, 33, 37, 37, 39, 39, 41, 37, 47, 50],
                    label: 'Miles',
                    yAxisID: 'y-axis-0',
                    borderColor: '#B2DFD1',
                    backgroundColor: '#B2DFD1',
                    hoverBackgroundColor: '#4DB6A2'
                  }
                }
              ],
              showLegend: false,
              chartValues: [150, 257.7, 190, 568.85],
              defaultType: 'bar',
              chartWidth: '417',
              chartHeight: '130',
              dataLabels: [
                '',
                'NOV',
                '',
                '2021',
                '',
                'MAR',
                '',
                'MAY',
                '',
                'JUL',
                '',
                'SEP'
              ],
              noChartImage: 'assets/svg/common/green_no_data.svg'
            }"
            [axesProperties]="barAxes2"
            [legendAttributes]="barChartLegend2"
          >
          </app-ta-chart>
          <!-- <app-ta-chart
              [chartConfig]="{
                dataProperties: [
                  {
                    defaultConfig: {
                      type: 'line',
                      data: [2.25, 2.5, 2.2, 1.6, 2.2, 2.3],
                      label: 'Salary',
                      yAxisID: 'y-axis-0',
                      borderColor: '#6D82C7',
                      pointBackgroundColor: '#FFFFFF',
                      pointHoverBackgroundColor: '#6D82C7',
                      pointHoverBorderColor: '#FFFFFF',
                      pointHoverRadius: 3,
                      pointBorderWidth: 2
                    }
                  },
                  {
                    defaultConfig: {
                      type: 'bar',
                      data: [[2.7, 1.8], [2.8, 2.2], [2.7, 1.7], [2.1, 1.2], [2.7, 1.6], [2.6, 2.0]],
                      label: 'Miles',
                      yAxisID: 'y-axis-0',
                      borderColor: '#FFCC80',
                      backgroundColor: '#FFCC80',
                      hoverBackgroundColor: '#FFA726',
                      hasGradiendBackground: true,
                      colors: ['rgba(128, 203, 186, 1)', 'rgba(255, 204, 128, 1)'],
                      hoverColors: ['rgba(38, 166, 144, 1)', 'rgba(255, 167, 38, 1)'],
                      maxBarThickness: 18
                    }
                  }
                ],
                showLegend: false,
                chartValues: [46,755,000, 36.854],
                defaultType: 'bar',
                chartWidth: '417',
                chartHeight: '130',
                dataLabels: ['JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
                noChartImage: 'assets/svg/common/mixed_no_data.svg'
              }"
              [axesProperties]="mixedBarAxes"
              [legendAttributes]="mixedBarChartLegend"
            >
            </app-ta-chart>
            <app-ta-chart
              [chartConfig]="{
                dataProperties: [
                  {
                    defaultConfig: {
                      type: 'line',
                      data: [12, 21, 27, 37, 28, 25, 21, 10, 15, 45, 27, 46, 41, 28, 24],
                      yAxisID: 'y-axis-0',
                      borderColor: '#6D82C7',
                      pointBackgroundColor: '#FFFFFF',
                      pointHoverBackgroundColor: '#6D82C7',
                      pointHoverBorderColor: '#FFFFFF',
                      pointHoverRadius: 3,
                      pointBorderWidth: 2,
                      fill: true,
                      hasGradiendBackground: true,
                      colors: ['rgba(189, 202, 235, 1)', 'rgba(255, 255, 255, 1)']
                    }
                  }
                ],
                showLegend: false,
                chartValues: [2, 2],
                defaultType: 'bar',
                chartWidth: '417',
                chartHeight: '130',
                annotation: 28,
                onHoverAnnotation: true,
                dataLabels: ['JUL', '', '', '', '', '', '', 'AUG', '', '', '', '', '', '', 'SEP'],
                noChartImage: 'assets/svg/common/no_data_pay.svg'
              }"
              [axesProperties]="paymentAxes"
              [legendAttributes]="paymentChartLegend"
            >
            </app-ta-chart> -->
        </div>
      </app-ta-custom-card>

      <!--------Owner History--------->
      <app-ta-custom-card
        [tooltipName]="'View in Modal'"
        [cardName]="'Owner History'"
        [bodyTemplate]="'card'"
        [animationsDisabled]="false"
        [hasHeaderSvg]="'assets/svg/common/arrow_top_right.svg'"
        class="item-cards"
      >
        <div class="owner-history-container">
          <div class="status-container">
            <div class="status-header">
              <div class="status-item">
                <p class="p-status">COMPANY</p>
              </div>
              <div class="status-item">
                <p class="p-status">FROM - TO</p>
              </div>
              <div class="status-item">
                <p class="p-status">DURATION</p>
              </div>
            </div>
            <div class="truck-card-line"></div>
            <div class="status-items">
              <div
                class="item-wrapper"
                *ngFor="let owHist of truck.ownerHistories; trackBy: identity"
              >
                <p class="employment">{{ owHist.name }}</p>

                <p class="date-from-to">
                  {{ owHist.startDate | formatDateP }} -
                  <span *ngIf="owHist.endDate">{{
                    owHist.endDate | formatDateP
                  }}</span>
                  <span *ngIf="!owHist.endDate">Today</span>
                </p>
                <p class="duration">
                  {{ owHist.duration.Years }} y {{ owHist.duration.Days }} d
                </p>
              </div>
            </div>
          </div>
        </div>
      </app-ta-custom-card>

      <!--------Note--------->
      <div class="divider"></div>
      <div class="note-cards">
        <app-ta-input-note
          [formControl]="noteControl"
          [isVisibleDivider]="false"
          [isVisibleNote]="true"
          [isVisibleArrow]="true"
          [minRows]="1"
          [isVisibleSecondDivider]="false"
          [placeholder]="'Write something.'"
        ></app-ta-input-note>
      </div>
    </div>
    <div *ngIf="templateCard">
      <div class="custom-card-single">
        <app-ta-custom-card
          [cardName]="'Registration'"
          [isCardOpen]="false"
          [hasDivider]="false"
          class="item-cards"
          [bodyTemplate]="'card'"
          [hasCounter]="
            truck?.registrations?.length ? truck.registrations.length : 0
          "
          [animationsDisabled]="false"
          [hasPlusHeader]="true"
        >
          <div *ngFor="let reg of truck?.registrations; trackBy: identity">
            <app-ta-re-card
              [cardDocumentCounter]="1"
              (resizePage)="toggleResizePage($event)"
              [cardNameCommon]="reg.licensePlate"
              [hasCopyIcon]="true"
              [options]="dataEdit"
              [expDateClose]="reg.expDate | formatDateP"
            >
              <div class="cards-container">
                <div class="card-body-cdl">
                  <div class="card-row-endor">
                    <div class="card-item">
                      <div class="card-item-name">State</div>
                      <div class="card-item-value">KV</div>
                    </div>
                    <div class="card-item">
                      <div class="card-item-name">Issued</div>
                      <div class="card-item-value">
                        {{ reg.issueDate | formatDateP }}
                      </div>
                    </div>
                  </div>
                  <div
                    class="card-row-progress"
                    [ngClass]="{ 'second-progress': toggler }"
                  >
                    <div class="card-details-progress-container">
                      <app-truckassist-progress-expiration
                        [expireDate]="reg.expDate | formatDateP"
                        [startDate]="reg.issueDate | formatDateP"
                        [expiresSettings]="'details'"
                      >
                      </app-truckassist-progress-expiration>
                    </div>
                  </div>
                </div>
                <div class="divider" *ngIf="toggler"></div>
                <div *ngIf="toggler" class="note-wrapper">
                  <app-ta-input-note
                    [formControl]="registrationNote"
                    [isVisibleDivider]="false"
                    [isVisibleSecondDivider]="false"
                    [placeholder]="'Write something.'"
                    [customClass]="'note-small'"
                    [isVisibleArrow]="false"
                    [minRows]="1"
                    [isVisibleNote]="true"
                  ></app-ta-input-note>
                </div>
              </div>
            </app-ta-re-card>
          </div>
        </app-ta-custom-card>
      </div>
      <div class="custom-card-single">
        <app-ta-custom-card
          [cardName]="'FHWA Inspection'"
          [isCardOpen]="false"
          [hasDivider]="false"
          class="item-cards"
          [bodyTemplate]="'card'"
          [hasCounter]="
            truck?.inspections?.length ? truck.inspections.length : 0
          "
          [animationsDisabled]="false"
          [hasPlusHeader]="true"
        >
          <div *ngFor="let fhwa of truck?.inspections; trackBy: identity">
            <app-ta-re-card
              [options]="dataEdit"
              [cardNameCommon]="fhwa.issueDate | formatDateP"
              [expDateClose]="'04/04/24' | formatDateP"
            >
              <div class="cards-container">
                <div class="card-body-cdl">
                  <div
                    class="card-row-progress"
                    [ngClass]="{ 'second-progress': toggler }"
                  >
                    <div class="card-details-progress-container">
                      <app-truckassist-progress-expiration
                        [expireDate]="'04/04/25'"
                        [startDate]="formatDate(fhwa.issueDate)"
                        [expiresSettings]="'details'"
                      >
                      </app-truckassist-progress-expiration>
                    </div>
                  </div>
                </div>
                <div *ngIf="toggler" class="note-wrapper">
                  <app-ta-input-note
                    [formControl]="fhwaNote"
                    [placeholder]="'Write something.'"
                    [isVisibleSecondDivider]="false"
                    [customClass]="'note-small'"
                    [isVisibleArrow]="false"
                    [minRows]="1"
                    [isVisibleNote]="true"
                  ></app-ta-input-note>
                </div>
              </div>
            </app-ta-re-card>
          </div>
        </app-ta-custom-card>
      </div>
      <div class="custom-card-single">
        <app-ta-custom-card
          [cardName]="'Title'"
          [isCardOpen]="false"
          [hasDivider]="false"
          class="item-cards"
          [bodyTemplate]="'card'"
          [hasCounter]="truck?.titles?.length ? truck.titles.length : 0"
          [animationsDisabled]="false"
          [hasPlusHeader]="true"
        >
          <div *ngFor="let title of truck?.titles; trackBy: identity">
            <app-ta-re-card
              [cardDocumentCounter]="1"
              (resizePage)="toggleResizePage($event)"
              [cardNameCommon]="title.number"
              [options]="dataEdit"
              [expDateClose]="'04/04/27' | formatDateP"
            >
              <div class="cards-container">
                <div class="card-body-cdl">
                  <div class="card-row-endor">
                    <div class="card-item">
                      <div class="card-item-name">State</div>
                      <div class="card-item-value">KV</div>
                    </div>
                    <div class="card-item">
                      <div class="card-item-name">Issued</div>
                      <div class="card-item-value">
                        {{ title.issueDate | formatDateP }}
                      </div>
                    </div>
                  </div>
                  <div
                    class="card-row-progress"
                    [ngClass]="{ 'second-progress': toggler }"
                  >
                    <div class="card-details-progress-container">
                      <app-truckassist-progress-expiration
                        [expireDate]="'04/04/27'"
                        [startDate]="title.issueDate | formatDateP"
                        [expiresSettings]="'details'"
                      >
                      </app-truckassist-progress-expiration>
                    </div>
                  </div>
                </div>
                <div class="divider" *ngIf="toggler"></div>
                <div *ngIf="toggler" class="note-wrapper">
                  <app-ta-input-note
                    [formControl]="titleNote"
                    [placeholder]="'Write something.'"
                    [isVisibleSecondDivider]="false"
                    [customClass]="'note-small'"
                    [isVisibleArrow]="false"
                    [minRows]="1"
                    [isVisibleDivider]="false"
                    [isVisibleNote]="true"
                  ></app-ta-input-note>
                </div>
              </div>
            </app-ta-re-card>
          </div>
        </app-ta-custom-card>
      </div>
      <div class="custom-card-single">
        <app-ta-custom-card
          [cardName]="'Lease / Purchase'"
          [isCardOpen]="false"
          [hasDivider]="false"
          class="item-cards"
          [bodyTemplate]="'card'"
          [hasCounter]="0"
          [animationsDisabled]="false"
          [hasPlusHeader]="true"
        >
        </app-ta-custom-card>
      </div>
    </div>
  </div>
</div>
