.toolbar-container {
    .table-actions {
        margin-right: 4px !important;

        .actions-container {
            .action-div {
                //width: 28px !important;

                &.action-active {
                    svg-icon {
                        background-color: #6D82C7;
                        border-radius: 2px;

                        svg {
                            path {
                                fill: #fff!important;
                            }
                        }

                        &:hover {
                            background: #536bc2;
                            transition: 0.25s;
                        }
                    }
                }

                &:hover, &.active-options-maps {
                    svg {
                        path {
                            fill: #6C6C6C!important;
                        }
                    }
                }
            }
        }
    }

    .general-pm-open-container {
        margin-right: 4px !important;

        &:hover {
            svg {
                path {
                    fill: #6C6C6C!important;
                }
            }
        }
    }

    .border-container {
        width: 2px !important;
    }
}