<ng-container>
    <div class="container-fluid">
        <div class="row">
            <div
                class="container-fluid d-flex flex-column justify-content-between sph-container"
            >
                <div class="d-flex flex-column align-items-center">
                    <app-applicant-header
                        [mode]="selectedMode"
                    ></app-applicant-header>

                    <h1 class="m-0 text-center title ta-font-bold">
                        Safety Performance History
                    </h1>

                    <!-- INFO CONTAINER -->

                    <div
                        class="d-flex flex-column justify-content-center align-items-center text-center info-container"
                        [ngStyle]="{
                            color:
                                selectedMode === 'FEEDBACK_MODE'
                                    ? '#919191'
                                    : '#424242'
                        }"
                    >
                        <p class="m-0 ta-font-regular">
                            {{ companyName }} reserves the right to share information 
                            with former employers for validation purposes. In the event 
                            that the information provided is accurate, it may be forwarded 
                            for confirmation. Conversely, if any inaccuracies are identified, 
                            corrected details will be resent for validation.
                        </p>
                    </div>

                    <!-- AUTHORIZE CHECKBOX -->

                    <div
                        class="d-flex checkbox-container"
                        [formGroup]="sphForm"
                    >
                        <app-ta-checkbox
                            formControlName="isTested"
                            [name]="'isTested'"
                            [label]="'I hereby authorize my previous employer to release and forward information requested below concerning my Alcohol and Controlled Substance Testing records within the previous 3 years from the date of my employment application.'"
                            [customClass]="'bold-14 text-align-center line-height-18'"
                            [disabledStillCheckMark]="
                                selectedMode !== 'APPLICANT_MODE'
                            "
                        >
                        </app-ta-checkbox>
                    </div>

                    <div class="work-experience-table">
                        <app-applicant-work-experience-table
                            [workExperienceArray]="workExperienceArray"
                        >
                        </app-applicant-work-experience-table>
                    </div>

                    <!-- REVIEW BTN -->

                    <div
                        class="d-flex align-items-center justify-content-center btn-container"
                    >
                        <button
                            type="button"
                            class="d-flex align-items-center justify-content-center review-btn"
                            [ngStyle]="{
                                color:
                                    selectedMode === 'FEEDBACK_MODE'
                                        ? '#97A8DC'
                                        : '#3074d3'
                            }"
                            (click)="handleReviewSectionsClick()"
                        >
                            <p class="m-0 ta-font-bold">View other sections of this form</p>
                        </button>
                    </div>
                    
                    <!-- APPLICANT CARD -->

                    <app-applicant-card
                        *ngIf="applicantCardInfo.ssn"
                        [selectedMode]="selectedMode"
                        [applicantCardInfo]="applicantCardInfo"
                    >
                    </app-applicant-card>

                    <!-- SIGNATURE PAD -->

                    <div
                        class="d-flex justify-content-center signature-pad-container"
                    >
                        <app-applicant-signature-pad
                            [mode]="selectedMode"
                            [signatureImgSrc]="signatureImgSrc"
                            [displayRequiredNote]="displaySignatureRequiredNote"
                            (signatureEmitter)="onSignatureAction($event)"
                            (removeRequiredNoteEmitter)="
                                onRemoveSignatureRequiredNoteAction($event)
                            "
                        ></app-applicant-signature-pad>
                    </div>
                </div>

                <!-- FOOTER -->

                <app-applicant-footer
                    [mode]="selectedMode"
                ></app-applicant-footer>
            </div>
        </div>
    </div>

    <!-- NEXT BTN -->

    <div
        class="d-flex justify-content-center align-items-center"
    >
        <app-applicant-next-back-btn
            [nextStep]="true"
            [filledCorrectly]="
                selectedMode === 'APPLICANT_MODE' && sphForm.valid && signature
            "
            [mode]="selectedMode"
            (stepEvent)="onStepAction($event)"
        ></app-applicant-next-back-btn>
    </div>
            
    <!-- BACK BTN -->

    <div
        class="d-flex justify-content-center align-items-center"
        >
        <app-applicant-next-back-btn
            [backStep]="true"
            (stepEvent)="onStepAction($event)"
        ></app-applicant-next-back-btn>
    </div>
</ng-container>
