@import 'src/theme/variables.scss';

.sph-container {
    min-height: 100vh;
    background: $white;

    .title {
        color: $ta-blue-5;
        font-size: 32px;
        height: 39px;
        margin-top: 4px !important;
        margin-bottom: 12px !important;

        &::-moz-selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }

        &::selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }
    }

    .info-container {
        width: 616px;

        p {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 12px !important;

            &::-moz-selection {
                color: $ta-black;
                background: rgb(47, 47, 47, 0.2);
            }

            &::selection {
                color: $ta-black;
                background: rgb(47, 47, 47, 0.2);
            }

            span {
                &::-moz-selection {
                    color: $ta-black;
                    background: rgb(47, 47, 47, 0.2);
                }

                &::selection {
                    color: $ta-black;
                    background: rgb(47, 47, 47, 0.2);
                }
            }

            a {
                &::-moz-selection {
                    color: $ta-blue;
                    background: rgb(83, 107, 194, 0.2);
                }

                &::selection {
                    color: $ta-blue;
                    background: rgb(83, 107, 194, 0.2);
                }
            }

            &:last-child {
                margin-top: 10px !important;
            }
        }
    }

    .applicant-card-container {
        width: 616px;
        margin: 0 auto 22px auto;

        .title-container {
            width: 100%;
            margin-bottom: 6px;
            padding-left: 6px;

            p {
                color: $bw5;
                font-size: 12px;

                &::-moz-selection {
                    color: $bw5;
                    background: rgb(145, 145, 145, 0.2);
                }

                &::selection {
                    color: $bw5;
                    background: rgb(145, 145, 145, 0.2);
                }
            }

            &-feedback {
                p {
                    color: $bw4;

                    &::-moz-selection {
                        color: $bw4;
                        background: rgb(183, 183, 183, 0.2);
                    }

                    &::selection {
                        color: $bw4;
                        background: rgb(183, 183, 183, 0.2);
                    }
                }
            }

            .name-title-box,
            .ssn-title-box,
            .dob-title-box {
                &.name-title-box {
                    width: 115px;
                    margin-right: 183px;
                }

                &.ssn-title-box {
                    width: 25px;
                    margin-right: 140px;
                }

                &.dob-title-box {
                    width: 29px;
                }
            }
        }

        .applicant-card-info-container {
            width: 100%;
            height: 26px;
            padding: 4px 6px;
            background: $ta-light-grey-4;
            border-radius: 2px;
            text-transform: uppercase;
            font-size: 14px;

            p {
                color: $bw6-2;
                height: 18px;

                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }
            }

            &-feedback {
                background: $ta-light-grey-7;

                p {
                    color: $bw5;

                    &::-moz-selection {
                        color: $bw5;
                        background: rgb(145, 145, 145, 0.2);
                    }

                    &::selection {
                        color: $bw5;
                        background: rgb(145, 145, 145, 0.2);
                    }
                }
            }

            .driver-box,
            .ssn-box,
            .date-box {
                &.driver-box {
                    width: 195px;
                    margin-right: 97px;
                }

                &.ssn-box {
                    width: 153px;
                    margin-right: 12px;
                    padding-left: 6px;
                }

                &.date-box {
                    margin-right: 12px;
                    padding-left: 6px;
                }
            }
        }
    }

    .checkbox-container {
        width: 616px;
        margin: 0 auto 12px auto;

        p {
            font-size: 14px;
            line-height: 18px;
            cursor: pointer;
            margin-top: 5px !important;

            &::-moz-selection {
                color: #6c6c6c;
                background: rgb(108, 108, 108, 0.2);
            }

            &::selection {
                color: #6c6c6c;
                background: rgb(108, 108, 108, 0.2);
            }
        }
    }

    .work-experience-table {
        margin: 12px 0;
    }

    .btn-container {
        margin: 20px 0;

        .review-btn {
            height: 26px;
            padding: 4px;
            border: none;
            outline: none;
            border-radius: 2px;
            background: $bw2;
            transition: background 0.2s ease-in-out;
            margin-right: 12px;

            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;

            p {
                position: relative;
                top: 1px;
                line-height: 18px;
                font-size: 14px;
                color: $ta-black;
                padding: 0 4px;

                transition: color 0.2s ease-in-out;
            }

            &:hover {
                background: $ta-black;

                p {
                    color: $white;
                }
            }
        }
    }

    .signature-pad-container {
        margin: 0 auto;
        width: 616px;
        border-radius: 3px;
    }

    .understood-checkbox-container {
        margin-top: 22px;
    }
}

