@import 'src/theme/variables.scss';

.step-container {
  padding-top: 22px;

  .step-title {
    color: $ta-blue;
    font-size: 32px;
    height: 39px;
  }

  .top-section {
    margin-top: 12px;
    width: 820px;

    p {
      color: $bw6-2;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .mid-section {
    margin-top: 22px;

    .step-subtitle {
      font-size: 14px;
      height: 18px;
      color: $bw6-2;
    }
  }

  .history-panel-container {
    width: 616px;
    margin-bottom: 32px;

    .history-title-container {
      width: 100%;
      margin-bottom: 6px;
      margin-left: 6px;

      .employer-title-container,
      .from-title-container,
      .to-title-container {
        height: 15px;

        p {
          text-transform: uppercase;
          color: $bw5;
          font-size: 12px;

          span {
            color: $progress-danger;
          }
        }

        &.employer-title-container {
          width: 210px;
          margin-right: 94px;
        }

        &.from-title-container {
          margin-right: 85px;
          width: 47px;
        }

        &.to-title-container {
          width: 47px;
        }
      }
    }

    .history-panel {
      width: 100%;
      height: 26px;
      padding: 4px 6px;
      background-color: $ta-light-grey-4;
      border-radius: 2px;
      margin-bottom: 2px;
      text-transform: uppercase;
      color: $bw6-2;
      font-size: 14px;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background: $bw2;
        color: $ta-light-grey-3;
      }

      &:hover .btn-container {
        opacity: 1;
        visibility: visible !important;
      }

      .history-employer {
        width: 280px;
        margin-right: 24px;
      }

      .history-from-date {
        width: 108px;
        margin-right: 24px;
      }

      .history-to-date {
        width: 108px;
        margin-right: 18px;
      }

      .btn-container {
        width: 42px;
        visibility: hidden !important;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        .edit-icon,
        .delete-icon {
          cursor: pointer;

          &:hover {
            svg {
              path {
                transition: fill 0.2s ease-in-out;
                fill: $bw6-2;
              }
            }
          }

          svg {
            path {
              fill: $bw4;
            }
          }
        }

        .edit-icon {
          margin-right: 6px;
        }
      }
    }

    .history-panel-form {
      margin: 32px auto 0 auto;

      .btn-container {
        margin-top: 22px;
        margin-bottom: 32px;

        .add-btn {
          height: 26px;
          padding: 4px 8px;
          border: none;
          outline: none;
          font-size: 14px;
          border-radius: 2px;
          color: $ta-blue;
          background: $ta-gray-01;
          transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

          &:hover {
            color: $white;
            background: $ta-blue;
          }

          &:hover .plus-icon {
            svg {
              path {
                fill: $white;
              }
            }
          }

          &.disabled {
            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;

            cursor: auto;
            background: $ta-light-grey-4;
            color: $bw4;

            .plus-icon {
              svg {
                path {
                  fill: $ta-light-grey-6;
                }
              }
            }

            &:hover {
              background: $ta-light-grey-4 !important;
              color: $bw4 !important;
            }
          }

          .plus-icon {
            margin-right: 6px;

            svg {
              path {
                transition: fill 0.2s ease-in-out;
                fill: $ta-light-blue;
              }
            }
          }
        }

        .cancel-btn {
          width: 150px;
          height: 32px;
          margin-right: 22px;
          color: $bw6-2;
          background: $ta-light-grey-4;
          transition: background 0.3s ease-in-out, color 0.3s ease-in-out !important;

          &:hover {
            background: $bw6-2;
            color: $white;
          }
        }

        .save-btn {
          width: 150px;
          height: 32px;
          color: $white;
          background: $ta-light-blue;

          &:hover {
            background-color: $ta-blue;
          }
        }
      }
    }
  }

  .form-section {
    .second-or-last-employer-group {
      margin-top: 22px;

      .add-btn {
        height: 26px;
        padding: 4px 8px;
        border: none;
        outline: none;
        font-size: 14px;
        border-radius: 2px;
        color: $ta-blue;
        background: $ta-gray-01;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          color: $white;
          background: $ta-blue;
        }

        &:hover .plus-icon {
          svg {
            path {
              fill: $white;
            }
          }
        }

        &.disabled {
          -webkit-user-select: none !important;
          -moz-user-select: none !important;
          -ms-user-select: none !important;
          user-select: none !important;

          cursor: auto;
          background: $ta-light-grey-4;
          color: $bw4;

          .plus-icon {
            svg {
              path {
                fill: $ta-light-grey-6;
              }
            }
          }

          &:hover {
            background: $ta-light-grey-4 !important;
            color: $bw4 !important;
          }
        }

        .plus-icon {
          margin-right: 6px;

          svg {
            path {
              transition: fill 0.2s ease-in-out;
              fill: $ta-light-blue;
            }
          }
        }
      }
    }
  }

  .work-experience-group {
    margin-top: 12px !important;
  }
}

.next-btn-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  right: 42px;
}

.back-btn-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  left: 42px;
}
