@import 'src/theme/variables.scss';

.step-container {
  padding-top: 22px;

  .step-title {
    color: $ta-blue;
    font-size: 32px;
    height: 39px;
  }

  .top-section {
    margin-top: 12px;
    width: 820px;

    p {
      color: $bw6-2;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .mid-section {
    margin-top: 22px;

    .step-subtitle {
      font-size: 14px;
      height: 18px;
      color: $bw6-2;
    }
  }

  .history-panel-container {
    width: 616px;
    margin-bottom: 32px;

    .history-title-container {
      width: 100%;
      margin-bottom: 6px;
      margin-left: 6px;

      .employer-title-container,
      .from-title-container,
      .to-title-container {
        height: 15px;

        p {
          text-transform: uppercase;
          color: $bw5;
          font-size: 12px;

          span {
            color: $progress-danger;
          }
        }

        &.employer-title-container {
          width: 210px;
          margin-right: 94px;
        }

        &.from-title-container {
          margin-right: 85px;
          width: 47px;
        }

        &.to-title-container {
          width: 47px;
        }
      }
    }

    .history-panel {
      width: 100%;
      height: 26px;
      padding: 4px 6px;
      background-color: $ta-light-grey-4;
      border-radius: 3px;
      margin-bottom: 2px;
      text-transform: uppercase;
      color: $bw6-2;
      font-size: 14px;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background: $bw2;
        color: $ta-light-grey-3;
      }

      &:hover .btn-container {
        opacity: 1;
        visibility: visible !important;
      }

      .history-employer {
        width: 280px;
        margin-right: 24px;
      }

      .history-from-date {
        width: 108px;
        margin-right: 24px;
      }

      .history-to-date {
        width: 108px;
        margin-right: 18px;
      }

      .btn-container {
        width: 42px;
        visibility: hidden !important;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        .edit-icon,
        .delete-icon {
          cursor: pointer;

          &:hover {
            svg {
              path {
                transition: fill 0.2s ease-in-out;
                fill: $bw6-2;
              }
            }
          }

          svg {
            path {
              fill: $bw4;
            }
          }
        }

        .edit-icon {
          margin-right: 6px;
        }
      }
    }
  }

  .form-section {
    .form-label-group {
      margin-bottom: 32px;
      margin-right: 12px;
      width: 616px;

      &:last-child {
        margin-right: 0;
      }
    }

    .job-description-group {
      width: 296px;
    }

    .date-group {
      width: 148px;
    }

    .phone-group {
      width: 169px;
    }

    .email-group {
      width: 254px;
    }

    .fax-group {
      width: 169px;
    }

    .address-group {
      width: 481px;
      margin-bottom: 12px !important;
    }

    .address-unit-group {
      width: 123px;
      margin-bottom: 12px !important;
    }

    .driving-position-group {
      margin-bottom: 32px;
    }

    .vehicle-type-group {
      width: 251px;
      margin-bottom: 12px;
    }

    .trailer-type-group {
      width: 211px;
      margin-bottom: 12px;
    }

    .length-group {
      width: 130px;
      margin-bottom: 12px;
    }

    .another-class-group {
      margin-bottom: 22px;

      p {
        color: $ta-light-blue;
        font-size: 14px;
      }
    }

    .questions-container {
      margin-bottom: 18px;

      .question-box {
        margin-right: 22px;

        .question-title-box {
          margin-right: 12px;

          p {
            color: $bw6-2;
            font-size: 14px;

            span {
              color: $progress-danger;
            }
          }
        }

        .question-radios-box {
          width: 86px;

          .ta-input-radiobutons {
            width: 100%;
          }
        }
      }
    }

    .reason-for-leaving-group {
      width: 616px;
    }

    .second-or-last-employer-group {
      margin-top: 22px;

      .add-btn {
        width: 260px;
        height: 34px;
        border: none;
        outline: none;
        font-size: 14px;
        border-radius: 3px;
        color: $white;
        background: $ta-light-blue;
        transition: background 0.3s ease-in-out;

        &:hover {
          background: $ta-blue;
        }

        &.disabled {
          -webkit-user-select: none !important;
          -moz-user-select: none !important;
          -ms-user-select: none !important;
          user-select: none !important;

          transition: background 0.3s ease-in-out;
          background: $ta-light-grey-4;
          color: $bw4;

          /*  &:hover {
            background: $ta-light-grey-2;
          } */
        }
      }

      .cancel-btn {
        width: 150px;
        margin-right: 22px;
        color: $bw5;
        background: $ta-light-grey-4;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out !important;

        &:hover {
          background: $bw6-2;
          color: $white;
        }
      }

      .save-btn {
        width: 150px;
      }
    }
  }

  .work-experience-group {
    margin-top: 22px !important;
  }
}

.next-btn-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  right: 42px;
}

.back-btn-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  left: 42px;
}

/* 

      .edit-btn-group {
        margin-top: 12px;
        margin-bottom: 12px;

        .save-btn,
        .cancel-btn {
          width: 22px;
          height: 22px;
          padding: 0;
          border: none;
          outline: none;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }

        .cancel-btn {
          margin-left: 12px;
        }
      }
*/
