<div class="d-flex flex-column align-items-center step-container">
  <h1 class="step-title text-center noselect ta-font-bold">Work Experience</h1>

  <!-- TOP SECTION -->

  <div class="d-flex justify-content-center text-center top-section">
    <p class="m-0 noselect ta-font-regular">
      In accordance with 391.21 & .23 of the Federal Motor Carrier Safety
      Regulations (FMCSR), an applicant must list all<br />previous work
      experience for the three (3) years prior to the date of application shown
      on page one, as well as all<br />commercial driving experience for seven
      (7) years prior to those three years, for a total of 10 years.
    </p>
  </div>

  <!-- MID SECTION -->

  <div
    class="d-flex justify-content-center text-center mid-section"
    [ngStyle]="{
      'margin-bottom': workExperienceArray.length ? '22px' : '32px'
    }"
  >
    <h5 class="m-0 step-subtitle noselect ta-font-bold">
      Please list starting with most recent employer, use add employer link if
      needed
    </h5>
  </div>

  <!-- FORM SECTION -->

  <div
    class="d-flex justify-content-center"
    *ngIf="!workExperienceForm.get('noWorkExperience').value"
  >
    <div class="d-flex justify-content-center flex-column">
      <div
        class="d-flex flex-column history-panel-container"
        *ngIf="workExperienceArray.length"
      >
        <!-- CREATED WORK HISTORY DATA -->

        <div
          class="d-flex flex-column"
          *ngFor="
            let workHistory of workExperienceArray;
            let i = index;
            trackBy: trackByIdentity
          "
        >
          <div
            class="d-flex align-items-center history-title-container"
            *ngIf="
              (workExperienceArray.length > 1 &&
                helperIndex !== 0 &&
                i === 0) ||
              (helperIndex === 0 && i === 1)
            "
          >
            <div class="d-flex align-items-center employer-title-container">
              <p class="m-0 ta-font-bold">
                current or last employer <span>*</span>
              </p>
            </div>
            <div class="d-flex align-items-center from-title-container">
              <p class="m-0 ta-font-bold">from <span>*</span></p>
            </div>
            <div class="d-flex align-items-center to-title-container">
              <p class="m-0 ta-font-bold">to <span>*</span></p>
            </div>
          </div>

          <div
            class="d-flex align-items-center history-panel"
            *ngIf="!workHistory.isEditingWorkHistory"
          >
            <div class="d-flex align-items-center history-employer">
              <p class="m-0 ta-font-regular">{{ workHistory.employer }}</p>
            </div>
            <div class="d-flex align-items-center history-from-date">
              <p class="m-0 ta-font-regular">{{ workHistory.fromDate }}</p>
            </div>
            <div class="d-flex align-items-center history-to-date">
              <p class="m-0 ta-font-regular">{{ workHistory.toDate }}</p>
            </div>
            <div class="d-flex align-items-center btn-container">
              <svg-icon
                class="edit-icon"
                src="assets/svg/truckassist-table/dropdown/content/edit-hover.svg"
                [svgStyle]="{
                  'width.px': 18,
                  'height.px': 18
                }"
                appTooltip="Edit"
                tooltipColor="#FFFFFF"
                tooltipBackground="#6C6C6C"
                position="top-middle"
                borderRadius="2px"
                fontSize="11px"
                fontWeight="bold"
                (click)="onEditWorkExperience(i)"
              ></svg-icon>

              <svg-icon
                class="delete-icon"
                src="assets/svg/truckassist-table/dropdown/content/delete.svg"
                [svgStyle]="{
                  'width.px': 18,
                  'height.px': 18
                }"
                appTooltip="Delete"
                tooltipColor="#FFFFFF"
                tooltipBackground="#EF5350"
                position="top-middle"
                borderRadius="2px"
                fontSize="11px"
                fontWeight="bold"
                (click)="onDeleteWorkExperience(i)"
              ></svg-icon>
            </div>
          </div>

          <div
            class="d-flex flex-column history-panel-form"
            *ngIf="workHistory.isEditingWorkHistory"
          >
            <app-step2-form
              [form]="workExperienceForm"
              [handleInputSelect]="handleInputSelect"
              [questions]="questions"
              [reasonsForLeaving]="reasonsForLeaving"
              [selectedReasonForLeaving]="selectedReasonForLeaving"
            ></app-step2-form>

            <div
              class="d-flex align-items-center justify-content-center btn-container"
            >
              <button
                type="button"
                class="d-flex justify-content-center align-items-center ta-font-bold add-btn cancel-btn"
                (click)="onCancelEditWorkExperience()"
              >
                Cancel
              </button>
              <button
                type="button"
                class="d-flex justify-content-center align-items-center ta-font-bold add-btn save-btn"
                (click)="onSaveEditedWorkExperience()"
                [ngClass]="{
                  disabled: !isWorkExperienceEdited
                }"
              >
                Save Changes
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column form-section">
        <form *ngIf="!isEditing">
          <app-step2-form
            [form]="workExperienceForm"
            [handleInputSelect]="handleInputSelect"
            [questions]="questions"
            [reasonsForLeaving]="reasonsForLeaving"
            [selectedReasonForLeaving]="selectedReasonForLeaving"
          ></app-step2-form>
        </form>

        <!-- ADD BTN -->

        <div
          class="d-flex justify-content-center second-or-last-employer-group"
        >
          <button
            type="button"
            class="d-flex justify-content-center align-items-center ta-font-bold add-btn"
            (click)="onAddSecondOrLastEmployer()"
            [ngClass]="{
              disabled: workExperienceForm.invalid
            }"
            *ngIf="!isEditing"
          >
            <svg-icon
              class="plus-icon"
              src="assets/svg/common/ic_plus.svg
          "
              [svgStyle]="{
                'width.px': 18,
                'height.px': 18
              }"
            ></svg-icon>

            Add Second Or Last Employer
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- WORK EXPERIENCE CHECKBOX -->

  <div
    class="d-flex justify-content-center work-experience-group"
    [formGroup]="workExperienceForm"
    *ngIf="!isEditing"
  >
    <app-ta-checkbox
      formControlName="noWorkExperience"
      [name]="'noWorkExperience'"
      [label]="'I don’t have work experience'"
      [customClass]="'bold-12'"
    ></app-ta-checkbox>
  </div>
</div>

<!-- NEXT BTN -->

<div
  class="d-flex justify-content-center align-items-center next-btn-container"
>
  <app-applicant-next-back-btn [nextStep]="true"></app-applicant-next-back-btn>
</div>

<!-- BACK BTN -->

<div
  class="d-flex justify-content-center align-items-center back-btn-container"
>
  <app-applicant-next-back-btn [backStep]="true"> </app-applicant-next-back-btn>
</div>
