@let store =
    {
        viewData: loadStoreService.viewData$ | async,
        hasAllLoadsSelected: loadStoreService.hasAllLoadsSelected$ | async,
    };
@if (store) {
    <div>
        <app-ca-checkbox
            [isRegularCheckbox]="false"
            [isChecked]="store.hasAllLoadsSelected"
            (columnCheckAction)="selectAll()"
            name="miles-row-all"
        ></app-ca-checkbox>
    </div>
    @for (load of store.viewData; track load.id) {
        <div class="d-flex">
            <app-ca-checkbox
                [isChecked]="load.isSelected"
                [isRegularCheckbox]="false"
                (columnCheckAction)="selectRow(load)"
                [itemIndex]="load.id"
                [name]="name"
            ></app-ca-checkbox>
            <div [routerLink]="load.id + '/details'">
                Load id: {{ load.id }}
            </div>
        </div>
    }
}
