@import 'src/theme/variables';

* {
    box-sizing: border-box;
}
.chat-container {
    width: calc(100% - 12px);
    height: calc(100dvh - 24px);

    .toolbar-container {
        width: 100%;
        height: 36px;
        user-select: none;

        .unread-messages-wrapper {
            background: $white;
            width: fit-content;
            height: 34px;

            .unread-messages-icon {
                width: fit-content;
            }

            .unread-count-wrapper {
                width: 14px;
                height: 100%;
                margin-left: 4px;

                .unread-count {
                    height: 14px;
                    line-height: 14px;
                    font-size: 11px;
                    color: $bw5;
                }
            }
        }

        // LIST NAME
        .list-name {
            width: fit-content;
            height: 34px;
            color: $ta-black;
            font-size: 26px;
            margin-right: 12px;
        }

        // ONE TAB
        .one-tab-container {
            color: $ta-black;
            font-size: 26px;
            margin-right: 12px;
            line-height: 24px;
        }

        // TABS
        .tab-wrapper {
            width: fit-content;
            height: 34px;
            background: $white;
            border-radius: 3px 0 0 3px;

            .tab-container {
                cursor: pointer;
                width: fit-content;

                &.disabled {
                    pointer-events: none;
                    opacity: 0.3;
                }

                .tab {
                    height: 26px;
                    width: fit-content;
                    border-radius: 3px;
                    padding: 3px 4px;
                    gap: 4px;

                    &:hover {
                        .tab-title {
                            color: $ta-black;
                        }

                        .data-count {
                            color: $white;
                            background: $bw6-2;
                        }
                    }

                    .tab-title {
                        font-size: 16px;
                        justify-content: center;
                        color: $bw6-2;
                    }

                    .data-count {
                        font-size: 11px;
                        line-height: 18px;
                        height: 18px;
                        min-width: 18px;
                        border-radius: 50px;
                        background: $bw5;
                        color: $white;
                        padding: 0px 5px;
                    }
                }
            }
        }

        .table-actions {
            height: 34px;
            background: $white;
            border-radius: 0px 3px 3px 0;
            flex-grow: 1;

            .settings-icon {
                margin-right: 8px;
            }
            .icon-wrapper {
                width: 26px;
                height: 26px;

                border-radius: 2px;

                &:hover {
                    cursor: pointer;
                }
            }

            .preferences-wrapper {
                width: 170px;
                line-height: 18px;
                position: absolute;
                top: 47px;
                right: 90px;
                z-index: 1;
                padding: 0 4px;
                border-radius: 3px;
                background-color: $ta-black-2;
                color: $white;
                font-size: 14px;

                .item-wrapper {
                    padding: 4px;
                    margin: 4px auto;
                }
            }
        }

        .new-chat {
            width: 36px;
            height: 36px;
            background-color: $ta-blue-5;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            align-self: center;
            cursor: pointer;

            svg-icon {
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }
    }

    .tab-inactive {
        padding: 4px;

        &:hover {
            .tab {
                .data-count,
                .tab-title {
                    color: $bw6-2;
                    transition: color 0.25s;
                }
            }
        }
    }

    .tab-active {
        background: $ta-black !important;
        transition: 0.25s;
        height: 36px !important;
        border-radius: 3px;
        padding: 5px 4px;
        align-items: center;

        svg-icon {
            svg {
                path {
                    fill: $white;
                }
            }
        }

        .tab-title {
            color: $white !important;
            transition: color 0.25s;
        }

        .data-count {
            background: $white !important;
            color: $ta-black !important;
            transition: 0.25s;
        }
    }

    .chat-main-content {
        height: calc(100% - 48px);

        display: grid;
        column-gap: 12px;
        margin-top: 12px;

        .chat-lists {
            max-height: 100%;
            min-height: 100%;
            width: max-content;
            overflow-y: scroll;

            .driver-list {
                margin-top: 8px;
            }
        }

        .conversation-wrapper {
            width: 100%;
            overflow: hidden;

            .not-selected-wrapper {
                height: 100%;
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(238, 238, 238, 1) 50%,
                    rgba(238, 238, 238, 1) 100%
                );

                .content {
                    height: 100%;
                    flex-wrap: wrap;

                    .text {
                        color: $bw5;
                        margin-top: 17px;
                        text-align: center;

                        &-main {
                            font-size: 20px;
                        }

                        &-auxillary {
                            font-size: 11px;
                        }
                    }
                }
            }
        }

        .group-wrapper {
            height: fit-content;
        }
    }
}

.profile-details-wrapper {
    height: 100%;
    max-width: 320px;
    width: 100%;
    overflow-y: scroll;

    .profile-details {
        border-radius: 2px;
        background-color: $white;
        overflow-y: scroll;
    }
}

.chat-header-message-count {
    font-size: 11px;
    line-height: 18px;
    height: 18px;
    min-width: 18px;
    border-radius: 50px;
    background: $bw5;
    color: $white;
    padding: 0px 6px;
    margin: auto 5px;
}

.selected-contact {
    background-color: $ta-light-grey;
}

.divider {
    height: 8px;
}

.full-height {
    height: calc(100% - 48px);
}

.border-top {
    border-top: 1px solid $ta-black !important;
}

.border-bottom {
    border-bottom: 1px solid $ta-black !important;
}

.focused-background {
    background-color: $ta-black;
}

.rotate-0deg {
    transform: rotate(0deg);
    transition: transform 0.25s ease-out;
}

.rotate-180deg {
    transform: rotate(180deg);
    transition: transform 0.25s ease-out;
}

.value-indicator {
    width: 14px;
    height: 14px;
    background-color: $bw5;
}

.preference-item {
    margin: 4px 2px;
    &-name {
        padding-left: 4px;
    }
}

@media only screen and (max-width: 1280px) {
    .profile-details-wrapper {
        min-width: 280px;
    }
}
