@let store =
    {
        selectedCount: milesStoreService.selectedCountSelector$ | async,
        columns: milesStoreService.columns$ | async,
        miles: milesStoreService.miles$ | async,
        hasAllItemsSelected:
            milesStoreService.hasAllItemsSelectedSelector$ | async,
        tableSettings: milesStoreService.tableSettingsSelector$ | async,
    };

@if (store) {
    <app-new-table
        [columns]="store.columns"
        [rows]="store.miles"
        [isTableLocked]="store.tableSettings.isTableLocked"
        [headerTemplates]="{
            select: selectHeaderTemplate,
            revenue: revenueHeaderTemplate,
        }"
        [templates]="{
            select: loadSelectTemplate,
            unit: unitTemplate,
            truckType: truckTypeTemplate,
            stopsPickup: percentTemplate,
            stopsDelivery: percentTemplate,
            fuelCount: percentTemplate,
            parkingCount: percentTemplate,
            deadHeadCount: percentTemplate,
            repairCount: percentTemplate,
            towingCount: percentTemplate,
            fuelCost: fuelCostTemplate,
            revenue: revenueTemplate,
        }"
        (onColumnPinned)="onColumnPinned($event)"
        (onSortingChange)="onSortingChange($event)"
    >
        <!-- Header Templates -->

        <ng-template #selectHeaderTemplate>
            <app-ca-checkbox-selected-count
                [itemsTotalCount]="store.miles.length"
                [itemsSelectedCount]="store.selectedCount"
                (onCheckboxCountClick)="onCheckboxCountClick($event)"
            ></app-ca-checkbox-selected-count>
        </ng-template>

        <ng-template #revenueHeaderTemplate let-data="data">
            <div class="d-flex align-self-end m-r-6">
                <span
                    class="text-size-11 ta-font-bold color-inherit text-uppercase text-color-bw6-2"
                >
                    Revenue
                </span>
            </div>
        </ng-template>

        <!-- Column Templates -->

        <ng-template #loadSelectTemplate let-data="data">
            @let name = 'miles-row' + data.id;

            <app-ca-checkbox
                [name]="name"
                [isChecked]="data.isSelected"
                [isRegularCheckbox]="false"
                [itemIndex]="data.id"
                (columnCheckAction)="selectRow(data)"
            ></app-ca-checkbox>
        </ng-template>

        <ng-template #unitTemplate let-data="data">
            <p class="text-color-black ta-font-bold text-size-14">
                {{ data.unit }}
            </p>
        </ng-template>

        <ng-template #truckTypeTemplate let-data="data">
            <app-ta-truck-trailer-icon
                iconType="truck"
                [inputData]="data.truckType"
            ></app-ta-truck-trailer-icon>
        </ng-template>

        <ng-template #percentTemplate let-data="data" let-key="key">
            <p
                class="text-size-14"
                [class]="
                    !!data[key]?.count
                        ? 'text-color-black-2'
                        : 'text-color-muted'
                "
            >
                {{ data[key]?.count }}

                <span class="text-color-muted text-size-11 ta-font-semi-bold">
                    {{ data[key]?.percent }}%
                </span>
            </p>
        </ng-template>

        <ng-template #fuelCostTemplate let-data="data">
            <p
                class="text-size-14"
                [class]="
                    !!data.fuelCost ? 'text-color-black-2' : 'text-color-muted'
                "
            >
                ${{ data.fuelCost }}
            </p>
        </ng-template>

        <ng-template #revenueTemplate let-data="data">
            <div class="d-flex justify-content-end">
                <p
                    class="text-size-14 ta-font-semi-bold"
                    [class]="
                        !!data.revenue ? 'text-color-black' : 'text-color-muted'
                    "
                >
                    ${{ (data.revenue | thousandSeparator) ?? 0 }}
                </p>
            </div>
        </ng-template>
    </app-new-table>
}
