<table class="ca-main-table" cdkDropListGroup>
    <thead>
        <tr>
            <th
                *ngFor="
                    let col of columns
                        | caMainTableHiddenRows : hideFieldsToHide
                "
                [class]="col.cellCustomClasses"
            >
                <ng-container [ngSwitch]="col.headerCellType">
                    <!-- Template cell -->
                    <ng-container *ngSwitchCase="'template'">
                        <ng-container
                            *ngTemplateOutlet="
                                col.headerTemplate;
                                context: { $implicit: col.header }
                            "
                        ></ng-container>
                        
                    </ng-container>
                    <div *ngSwitchDefault class="th-content-container">
                        {{ col.header }}
                    </div>
                </ng-container>
            </th>
        </tr>
    </thead>
    <tbody
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        class="table-body-list"
    >
        <ng-container *ngFor="let row of data$ | async">
            <tr
                cdkDrag
                cdkDragPreviewContainer="parent"
                (click)="onPressRow(row)"
                class="table-tr"
            >
                <ng-container *cdkDragPlaceholder>
                    <tr class="drag-placeholder">
                        <td colspan="12">Moving: {{ row.property1 }}</td>
                    </tr>
                </ng-container>
                <td
                    *ngFor="
                        let col of columns
                            | caMainTableHiddenRows : hideFieldsToHide
                    "
                    [class]="col.cellCustomClasses"
                >
                    <ng-container
                        *ngTemplateOutlet="
                            rowTemplate;
                            context: { row: row, col: col }
                        "
                    >
                    </ng-container>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<ng-template #rowTemplate let-row="row" let-col="col">
    <div class="td-container">
        <div class="td-content-container">
            <ng-container [ngSwitch]="col.cellType">
                <!-- Default text cell -->
                <!-- <span *ngSwitchCase="'text'">{{
                    row[col.field]
                }}</span> -->

                <!-- Template cell -->
                <ng-container *ngSwitchCase="'template'">
                    <ng-container
                        *ngTemplateOutlet="
                            col.template;
                            context: {
                                $implicit: row[col.field]
                            }
                        "
                    ></ng-container>
                </ng-container>

                <!-- Custom component cell -->
                <ng-container *ngSwitchCase="'component'">
                    <ng-container
                        *ngComponentOutlet="
                            col.component;
                            injector: createInjector(row, col.inputs)
                        "
                    ></ng-container>
                </ng-container>

                <!-- Default fallback -->
                <ng-container *ngSwitchDefault>
                    <ng-container
                        *ngTemplateOutlet="
                            customTextTemplate;
                            context: {
                                $implicit: {
                                    field: row[col.field],
                                    pipeType: col.pipeType,
                                    textCustomClasses: col.textCustomClasses
                                }
                            }
                        "
                    ></ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>

<!-- Default Text Template  -->
<ng-template #customTextTemplate let-data>
    <ng-container [ngSwitch]="data.pipeType">
        <ng-container *ngSwitchCase="'date'">
            <div [ngClass]="data.textCustomClasses" class="text">
                {{ data.field | date : data.pipeString }}
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'currency'">
            <div [ngClass]="data.textCustomClasses" class="text">
                {{ data.field | currency : data.pipeString }}
            </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <div [ngClass]="data.textCustomClasses" class="text">
                {{ data.field }}
            </div>
        </ng-container>
    </ng-container>
</ng-template>
