<div
    class="new-table--toolbar-container d-flex align-items-center position-relative z-2 h-44 prevent-text-selection"
>
    <div
        class="text-size-26 ta-font-black text-color-black mr-12 flex-shrink-0"
        style="width: auto"
    >
        {{ title }}
    </div>

    <div class="new-table--toolbar d-flex align-items-center background-white">
        <ng-container *ngTemplateOutlet="leftSide"></ng-container>
        <div class="m-l-auto d-flex align-items-center">
            <ng-container *ngTemplateOutlet="rightSide"></ng-container>

            @if (hasColumnsDropdown) {
                <div
                    class="d-flex align-items-center justify-content-center mr-3"
                >
                    <ca-dropdown-menu
                        [type]="'hamburger-menu-type'"
                        [placement]="'bottom-right'"
                        [options]="toolbarDropdownContent"
                        (dropdownOptionEmitter)="
                            handleDropdownMenuActions($event)
                        "
                    >
                    </ca-dropdown-menu>
                </div>
            }

            @if (hasPlusIcon) {
                <div
                    class="new-table--toolbar-plus-icon c-pointer d-flex align-items-center justify-content-center"
                    (click)="onPlusClick.emit(true)"
                >
                    <div
                        class="new-table--toolbar-plus-icon-button br-3 d-flex align-items-center justify-content-center background-blue-14 background-hover-blue-15"
                    >
                        <svg-icon
                            class="svg-fill-white svg-size-18"
                            [src]="plusIcon"
                        ></svg-icon>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
