// -------------------- Input Control --------------------
.input-control {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 2px !important;
  height: 26px;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 400;
  background-color: #f3f3f3;
  color: #6c6c6c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &::-moz-selection {
    background-color: #919191 !important;
  }

  &::selection {
    background-color: #919191 !important;
  }

  &.center {
    text-align: center;
  }

  &.capitalize {
    text-transform: capitalize;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.lowercase {
    text-transform: lowercase;
  }

  &.disabled {
    background-color: #f9f9f9 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  &.disabled-filled {
    background-color: #f9f9f9 !important;
    color: #919191 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  &:hover {
    transition: all 0.3s ease-in-out;
    background-color: #eeeeee;
    color: #3c3c3c;
  }

  // Hover "label placehoder color change"
  &:hover ~ .input-label {
    transition: all 0.3s ease-in-out;
    color: #3c3c3c;
  }

  &:focus,
  &.focused {
    transition: all 0.3s ease-in-out;
    background-color: #6c6c6c;
    color: #ffffff;

    &::-webkit-input-placeholder {
      color: #aaaaaa;
    }
    &::-moz-placeholder {
      color: #aaaaaa;
    }

    &:-ms-input-placeholder {
      color: #aaaaaa;
    }

    &::-ms-input-placeholder {
      color: #aaaaaa;
    }

    &::placeholder {
      color: #aaaaaa;
    }
  }

  &.password-eye {
    background-color: #6c6c6c !important;
    color: #ffffff;

    &::-moz-selection {
      background-color: #919191 !important;
    }

    &::selection {
      background-color: #919191 !important;
    }
  }

  &.has-input-icon {
    padding-left: 37px;
  }

  &.dropdown-add-mode {
    background-color: #6c6c6c !important;
    color: #ffffff;

    &::-moz-selection {
      background-color: #919191 !important;
    }

    &::selection {
      background-color: #919191 !important;
    }
  }

  &.valid-focus-in,
  &.dropdown-placeholder-active {
    transition: all 0.3s ease-in-out;
    background-color: #536bc2 !important;
    color: #ffffff !important;

    &::-webkit-input-placeholder {
      color: #97a8dc;
    }
    &::-moz-placeholder {
      color: #97a8dc;
    }

    &:-ms-input-placeholder {
      color: #97a8dc;
    }

    &::-ms-input-placeholder {
      color: #97a8dc;
    }

    &::placeholder {
      color: #97a8dc;
    }

    &::-moz-selection {
      background-color: #6d82c7 !important;
    }

    &::selection {
      background-color: #6d82c7 !important;
    }
  }

  &.invalid-focus-in {
    transition: all 0.3s ease-in-out;
    background-color: #ef5350;

    &::-moz-selection {
      background-color: #e57373 !important;
    }

    &::selection {
      background-color: #e57373 !important;
    }
  }

  //------------------------- Custom class -------------------------
  &.input-big {
    height: 32px;
  }
}

 //------------------------- Input Number Hide Arrows -------------------------
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 !important;
}

input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-outer-spin-button:hover,
input[type="number"]::-webkit-inner-spin-button:focus,
input[type="number"]::-webkit-outer-spin-button:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: textfield !important;
}
