//-------------------- Input Dropdown arrow -----------------
.input-dropdown-arrow {
  position: absolute;
  right: 6px;
  top: 3px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;

  svg {
    width: 100%;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
    path {
      fill: #aaaaaa;
      transition: all 0.3s ease-in-out;
    }
  }

  &:hover {
    svg {
      path {
        fill: #6c6c6c;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &.active {
    svg {
      transform: rotate(180deg);
      transition: all 0.2s ease-in-out;
      path {
        fill: #dadada;
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: #f7f7f7;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &.datetimeclass{
      z-index: 1;
      svg{
        path{
          fill: #dadada !important;
        }
      }
    }
  }

  &.invalid {
    svg {
      path {
        fill: #ffcdd2;
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: #fffafa;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  &.invalid-focus-out-required {
    svg {
      path {
        fill: #e57373;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &.valid {
    svg {
      path {
        fill: #d4dff4;
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: #f5fafc;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &:hover ~ .input-label {
      transition: all 0.3s ease-in-out;
      color: #3c3c3c;
    }

    &:hover ~ .input-control {
      transition: all 0.3s ease-in-out;
      background-color: #536bc2;
      color: #ffffff;
    }
  }

  &.valid-focus-out-required {
    svg {
      path {
        fill: #97a8dc;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &.focus-out-hover {
    &:hover {
      transition: all 0.3s ease-in-out;
      svg {
        path {
          fill: #6c6c6c;
        }
      }
    }

    &:hover ~ .input-label {
      transition: all 0.3s ease-in-out;
      color: #3c3c3c;
    }

    &:hover ~ .input-control {
      transition: all 0.3s ease-in-out;
      background-color: #eeeeee;
      color: #3c3c3c;
    }
  }

  &.dropdown {
    svg {
      transform: rotate(180deg);
      transition: all 0.2s ease-in-out;
      path {
        fill: #dadada;
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: #f7f7f7;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  &.input-big {
    top: 6px;
  }

  &.details-pages {
    svg {
      path {
        fill: #aaaaaa !important;
      }
    }
    &:hover {
      path {
        fill: #f7f7f7 !important;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

//-------------------- Input Dropdwon confirmation ----------
.input-dropdown-confirm {
  position: absolute;
  right: 26px;
  top: 4px;
  width: 18px;
  height: 18px;
  border-radius: 1px;
  background-color: #bdcaeb;
  display: inline-block;
  transition: all 0.3s ease-in-out;

  .input-dropdow-confirm-svg {
    position: relative;
    bottom: 4px;
    left: 2px;
    svg {
      path {
        fill: #536bc2;
      }
    }
  }

  &:hover {
    transform: scale(1.2);
    background-color: #f5fafc;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}
