// -------------------- Input Clear --------------------
.input-clear {
  position: absolute;
  right: 4px;
  top: 0px;
  border-radius: 1px;
  display: block;
  transition: all 0.3s ease-in-out;
  display: none;

  .input-clear-x {
    svg {
      width: 18px !important;
      height: 18px !important;
      overflow: visible;
      path {
        fill: #eeeeee;
      }
      rect {
        transition: transform 0.3s;
        transform: scale(1);
        transform-origin: center;
      }
    }

    &:hover {
      svg {
        overflow: visible;
        rect {
          transform: scale(1.2);
          transform-origin: center;
          transition: transform 0.3s;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  &.disabled {
    display: none !important;
  }

  &.focus-typing {
    display: inline-block;
    .input-clear-x {
      svg {
        path {
          fill: #6c6c6c;
        }
      }
    }

    &:hover {
      svg {
        rect {
          fill: #eeeeee;
        }
      }
    }

    &.valid-focus-in {
      .input-clear-x {
        svg {
          path {
            fill: #536bc2;
          }
          rect {
            fill: #bdcaeb !important;
          }
        }

        &:hover {
          svg {
            rect {
              fill: #f5fafc !important;
            }
          }
        }
      }
    }

    &.invalid-focus-in,
    &.invalid-focus-in-required {
      .input-clear-x {
        svg {
          path {
            fill: #ef5350;
          }
          rect {
            fill: #ffcdd2;
          }
        }
        &:hover {
          svg {
            rect {
              fill: #fffafa;
            }
          }
        }
      }
    }
  }

  &.invalid-focus-out,
  &.invalid-focus-out-required,
  &.invalid-focus-in-empty-required {
    display: inline-block;
    .input-clear-x {
      svg {
        rect {
          fill: transparent;
        }
        path {
          fill: #e57373;
        }
      }
      &:hover {
        transform: scale(1) !important;
      }
    }
  }

  // If dropdown
  &.dropdown-position {
    right: 23px !important;
  }

  //------------------------- Custom class -------------------------
  &.input-big {
    top: 6.5px;
    right: 6px;
  }
}
