.input-custom-group {
  display: block;
  position: relative;

  &.address-flag {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    -moz-column-gap: 6px;
    column-gap: 6px;
  }

  //--------------- Classes on all INPUT ELEMENTS ---------------
  &.hover-focus-out {
    &:hover {
      transition: all 0.3s ease-in-out;

      .input-icon {
        svg {
          path {
            fill: #aaaaaa;
          }
        }

        &:hover ~ .input-label {
          color: #3c3c3c;
        }

        &:hover ~ .input-control {
          background-color: #eeeeee;
          color: #3c3c3c;
        }
      }

      .input-dropdown-arrow {
        svg {
          path {
            fill: #aaaaaa;
          }
        }
      }
    }
  }

  &.dropdown-image-input {
    &:hover {
      .input-clear {
        display: inline-block !important;
      }
    }
  }

  &.dropdown-label-active {
    &:hover {
      .input-edit-pen {
        display: inline-block;
      }
    }
  }

  &.invalid {
    &:hover {
      transition: all 0.3s ease-in-out;
      .input-icon {
        &.invalid-required-empty-focus,
        &.invalid-required-filled-out {
          svg {
            path {
              fill: #ff5050 !important;
            }
          }
        }
      }

      .input-clear {
        display: inline-block;
        cursor: pointer !important;
        pointer-events: auto !important;
        .input-clear-x {
          svg {
            path {
              fill: #eeeeee;
            }
            rect {
              fill: #b7b7b7;
            }
          }
        }

        &:hover {
          transition: all 0.3s ease-in-out;
          .input-clear-x {
            svg {
              path {
                fill: #eeeeee;
              }
              rect {
                fill: #6c6c6c;
              }
            }
          }
        }

        &:hover ~ .input-label {
          color: #3c3c3c;
        }

        &:hover ~ .input-control {
          background-color: #eeeeee;
          color: #3c3c3c;
        }
      }

      .input-error {
        color: #f44336 !important;
      }
    }
  }

  &.invalid-empty-dropdown {
    &:hover {
      .input-dropdown-arrow {
        transition: all 0.3s ease-in-out;
        svg {
          path {
            fill: #ef5350;
          }
        }
        &:hover {
          transition: all 0.3s ease-in-out;
          svg {
            path {
              fill: #6c6c6c;
            }
          }
        }
      }
    }
  }

  &.invalid-empty-required {
    &:hover {
      transition: all 0.3s ease-in-out;

      .input-icon {
        &.invalid-required-empty {
          svg {
            path {
              fill: #ef5350;
            }
          }
        }
      }

      .input-clear {
        .input-clear-x {
          svg {
            path {
              fill: #ef5350;
            }
          }
        }

        &:hover ~ .input-label {
          color: #3c3c3c;
        }

        &:hover ~ .input-control {
          background-color: #eeeeee;
          color: #3c3c3c;
        }
      }

      .input-invalid-danger-mark {
        svg {
          path {
            fill: #ef5350 !important;
          }
        }
      }

      .input-error {
        color: #f44336 !important;
      }
    }
  }

  &.invalid-empty-focus-required {
    .input-icon {
      &.invalid-required-empty-focus {
        transition: all 0.3s ease-in-out;
        svg {
          path {
            fill: #b7b7b7 !important;
          }
        }
      }
    }

    .input-clear {
      .input-clear-x {
        svg {
          path {
            transition: all 0.3s ease-in-out;
            fill: #ef9a9a !important;
          }
        }
      }
    }

    .input-error {
      color: #f44336 !important;
      transition: all 0.3s ease-in-out;
    }
  }

  &.valid {
    &:hover {
      transition: all 0.3s ease-in-out;

      .input-icon {
        &.valid-required-out {
          svg {
            path {
              fill: #6d82c7;
            }
          }
        }
      }

      .input-clear {
        display: inline-block;
        &:hover {
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          .input-clear-x {
            svg {
              rect {
                fill: #6c6c6c;
              }
            }
          }
        }

        &:hover ~ .input-label {
          color: #3c3c3c;
        }

        &:hover ~ .input-control {
          background-color: #eeeeee;
          color: #3c3c3c;
        }
      }

      .input-required-check {
        display: none !important;
      }

      .input-password-eye {
        &.valid {
          transition: all 0.3s ease-in-out;
          display: inline-block;
          svg {
            path {
              fill: #6d82c7;
            }
          }
        }
      }

      .input-dropdown-arrow {
        transition: all 0.3s ease-in-out;
        svg {
          path {
            fill: #6d82c7;
          }
        }
        &:hover {
          transition: all 0.3s ease-in-out;
          svg {
            path {
              fill: #6c6c6c;
            }
          }
        }
      }
    }
  }

  &.valid-dropdown-image-selection {
    &:hover {

      .input-clear {
        display: inline-block;
      }

      .input-dropdown-arrow {
        transition: all 0.3s ease-in-out;
        svg {
          path {
            fill: #6d82c7;
          }
        }
        &:hover {
          transition: all 0.3s ease-in-out;
          svg {
            path {
              fill: #6c6c6c;
            }
          }
        }
      }
    }
  }

  //--------------- end ---------------
  @import "./scss/ta-input.label.scss";
  @import "./scss/ta-input.input.scss";
  @import "./scss/ta-input.requiredcheck.scss";
  @import "./scss/ta-input.clear.scss";
  @import "./scss/ta-input.placeholdericon.scss";
  @import "./scss/ta-input.dropdown.scss";
  @import "./scss/ta-input.error.scss";
  @import "./scss/ta-input.passwordeye.scss";
  @import "./scss/ta-input.datepicker.scss";
  @import "./scss/ta-input.placeholderText.scss";
  @import "./scss/ta-input.dangermark.scss";
  @import "./scss/ta-input.passwordcapslock.scss";
  @import "./scss/ta-input.commands.scss";
  @import "./scss/ta-input.labelcounter.scss";
  @import "./scss/ta-input.spinner.scss";
  @import "./scss/ta-input.addressflag.scss";
  @import "./scss/ta-input.editlabel.scss";
  @import "./scss/ta-dropdown-input-image.scss";
}
