.input-custom-group {
  display: block;
  position: relative;

  &:hover {
    .input-icon {
      transition: all 0.3s ease-in-out;
      svg {
        path {
          fill: #aaaaaa;
        }
      }
    }
    .input-clear {
      &.input-dropdown {
        right: 27px;

        &:hover {
          transition: all 0.2s ease-in-out;
          right: 27px !important;
          width: 22px;
          height: 22px;
          transform: translate(-6%, -10%) !important;
        }
      }
    }

    .input-dropdown-arrow {
      svg {
        path {
          fill: #919191;
          transition: all 0.3s ease-in-out;
        }
      }

      &:hover ~ .input-label {
        transition: all 0.3s ease-in-out;
        color: #3c3c3c;
      }

      &:hover ~ .input-control {
        transition: all 0.3s ease-in-out;
        background-color: #eeeeee;
        color: #3c3c3c;
      }
    }
  }

  &.hide-placeholder-icon {
    &:hover {
      .input-icon {
        display: none !important;
      }
    }
  }

  //----------- Valid, Invalid Classes for whole container
  &.invalid {
    &:hover {
      .input-clear {
        transition: all 0.3s ease-in-out;
        display: inline-block;
        background-color: #b7b7b7;
        svg {
          path {
            transition: all 0.3s ease-in-out;
            fill: #eeeeee;
          }
        }

        &:hover {
          transition: all 0.3s ease-in-out;
          background-color: #6c6c6c;
          cursor: pointer;
        }

        &:hover ~ .input-label {
          transition: all 0.3s ease-in-out;
          color: #3c3c3c;
        }

        &:hover ~ .input-control {
          transition: all 0.3s ease-in-out;
          background-color: #eeeeee;
          color: #3c3c3c;
        }
      }

      .input-error {
        transition: all 0.3s ease-in-out;
        color: #ef5350;
      }
    }
  }

  &.invalid-empty-required {
    &:hover {
      .input-clear {
        svg {
          path {
            transition: all 0.3s ease-in-out;
            fill: #ef5350;
          }
        }

        &:hover ~ .input-label {
          transition: all 0.3s ease-in-out;
          color: #3c3c3c;
        }

        &:hover ~ .input-control {
          transition: all 0.3s ease-in-out;
          background-color: #eeeeee;
          color: #3c3c3c;
        }
      }

      .input-error {
        transition: all 0.3s ease-in-out;
        color: #ef5350;
      }

      .input-icon {
        &.invalid-required-empty {
          transition: all 0.3s ease-in-out;
          svg {
            path {
              fill: #ef5350;
            }
          }
        }
      }
    }
  }

  &.invalid-empty-focus-required {
    .input-clear {
      svg {
        path {
          transition: all 0.3s ease-in-out;
          fill: #ef9a9a !important;
        }
      }
    }
    .input-error {
      transition: all 0.3s ease-in-out;
      color: #ef5350 !important;
    }

    .input-icon {
      &.invalid-required-empty-focus {
        transition: all 0.3s ease-in-out;
        svg {
          path {
            fill: #ef9a9a !important;
          }
        }
      }
    }
  }

  &.valid {
    &:hover {
      // Input clear class
      .second-position-hover {
        right: 27px;

        &:hover {
          transition: all 0.2s ease-in-out;
          right: 27px !important;
          width: 22px;
          height: 22px;
          transform: translate(-6%, -10%) !important;
        }
      }

      .input-clear {
        transition: all 0.3s ease-in-out;
        display: inline-block;
        &:hover {
          transition: all 0.3s ease-in-out;
          background-color: #6c6c6c;
          cursor: pointer;
        }

        &:hover ~ .input-label {
          transition: all 0.3s ease-in-out;
          color: #3c3c3c;
        }

        &:hover ~ .input-control {
          transition: all 0.3s ease-in-out;
          background-color: #eeeeee;
          color: #3c3c3c;
        }
      }

      .input-required-check {
        display: none !important;
      }

      .input-password-eye {
        &.valid {
          transition: all 0.3s ease-in-out;
          display: inline-block;
          svg {
            path {
              fill: #6d82c7;
            }
          }
        }
      }
    }
  }
  // -------------------- end

  // -------------------- Input Label --------------------
  .input-label {
    position: absolute;
    top: 3px;
    left: 6px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    color: #6c6c6c;

    &::-moz-selection {
      background-color: #e5e5e5 !important;
      color: #3c3c3c !important;
    }

    &::selection {
      background-color: #e5e5e5 !important;
      color: #3c3c3c !important;
    }

    &.required {
      &::after {
        content: "*";
        color: #e57373;
      }
    }

    &.disabled-empty {
      transition: all 0.3s ease-in-out;
      color: #b7b7b7 !important;
    }

    &.disabled-filled {
      transition: all 0.3s ease-in-out;
      color: #919191 !important;
    }

    &.up-label {
      top: -16px;
      left: 6px;
      font-size: 11px;
      font-weight: 600;
      transition: all 0.3s ease-in-out;
      color: #3c3c3c;
    }

    &.valid-focus-out,
    &.invalid-focus-out {
      transition: all 0.3s ease-in-out;
      color: #6c6c6c;
    }

    // Custom class
    &.input-big {
      top: 6px;

      &.up-label {
        top: -19px;
      }
    }
  }

  // -------------------- Input Control --------------------

  .input-control {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2px !important;
    height: 26px;
    padding: 4px 6px;
    font-size: 14px;
    font-weight: 400;
    background-color: #f7f7f7;
    color: #6c6c6c;

    &::-moz-selection {
      background-color: #919191 !important;
    }

    &::selection {
      background-color: #919191 !important;
    }

    &.capitalize {
      text-transform: capitalize;
    }

    &.upper {
      text-transform: uppercase;
    }

    &.lower {
      text-transform: lowercase;
    }

    &.disabled {
      background-color: #f9f9f9 !important;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      pointer-events: none;
    }

    &.disabled-filled {
      background-color: #f9f9f9 !important;
      color: #919191 !important;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      pointer-events: none;
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      background-color: #eeeeee;
      color: #3c3c3c;
    }

    // Hover "label placehoder color change"
    &:hover ~ .input-label {
      transition: all 0.3s ease-in-out;
      color: #3c3c3c;
    }

    &:focus {
      transition: all 0.3s ease-in-out;
      background-color: #6c6c6c;
      color: #ffffff;
    }

    &.password-eye {
      background-color: #6c6c6c !important;
      color: #ffffff;

      &::-moz-selection {
        background-color: #919191 !important;
      }

      &::selection {
        background-color: #919191 !important;
      }
    }

    &.valid-focus-in {
      transition: all 0.3s ease-in-out;
      background-color: #536bc2;

      &::-moz-selection {
        background-color: #6d82c7 !important;
      }

      &::selection {
        background-color: #6d82c7 !important;
      }
    }

    &.invalid-focus-in {
      transition: all 0.3s ease-in-out;
      background-color: #ef5350;

      &::-moz-selection {
        background-color: #e57373 !important;
      }

      &::selection {
        background-color: #e57373 !important;
      }
    }

    &:focus ~ .input-icon {
      transition: all 0.3s ease-in-out;
      svg {
        path {
          fill: #b7b7b7;
        }
      }
    }

    // Custom class
    &.input-big {
      height: 32px;
    }
  }

  // -------------------- Input Required Check --------------------
  .input-required-check {
    position: absolute;
    right: 6px;
    width: 14px;
    height: 10px;
    display: none;

    svg {
      path {
        fill: #97a8dc;
      }
    }

    &.valid {
      transition: all 0.3s ease-in-out;
      display: inline-block;
    }

    &.input-big {
      top: 3.5px;
    }

    &.input-dropdown {
      display: none !important;
    }
  }

  // -------------------- Input Clear --------------------
  .input-clear {
    position: absolute;
    right: 4px;
    top: 16%;
    transform: translate(-6%, 0%);
    width: 18px;
    height: 18px;
    border-radius: 1px;
    background-color: #b7b7b7;
    display: none;
    transition: all 0.3s ease-in-out;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-49.5%, -50%);
      width: 10px !important;
      height: 10px !important;
      transition: all 0.3s ease-in-out;
      path {
        fill: #eeeeee;
      }
    }

    &:hover {
      transition: all 0.2s ease-in-out;
      right: 2px !important;
      width: 22px;
      height: 22px;
      transform: translate(-6%, -10%) !important;
    }

    &.invalid-focus-out-required {
      &:hover {
        right: 4px !important;
        width: 18px !important;
        height: 18px !important;
        transform: translate(-6%, 0%) !important;
      }
    }

    &.disabled {
      display: none !important;
    }

    &.focus-typing {
      display: block;
      transition: all 0.3s ease-in-out;
      svg {
        path {
          fill: #6c6c6c;
        }
      }

      &:hover {
        background-color: #eeeeee;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
    }

    &.valid-focus-in {
      transition: all 0.3s ease-in-out;
      background-color: #bdcaeb;
      display: block;
      svg {
        path {
          fill: #536bc2;
        }
      }
      &:hover {
        transition: all 0.3s ease-in-out;
        background-color: #f5fafc;
        cursor: pointer;
      }
    }

    &.invalid-focus-in,
    &.invalid-focus-in-required {
      transition: all 0.3s ease-in-out;
      background-color: #ffcdd2;
      display: block;
      svg {
        path {
          fill: #ef5350;
        }
      }
      &:hover {
        transition: all 0.3s ease-in-out;
        background-color: #fffafa;
        cursor: pointer;
      }
    }

    &.invalid-focus-out,
    &.invalid-focus-out-required,
    &.invalid-focus-in-empty-required,
    &.invalid-submit {
      background-color: transparent;
      transition: all 0.3s ease-in-out;
      display: inline-block;
      svg {
        path {
          fill: #e57373;
        }
      }
    }

    // If password eye visible
    &.second-position,
    &.input-dropdown {
      right: 27px;

      &:hover {
        transition: all 0.2s ease-in-out;
        right: 27px !important;
        width: 22px;
        height: 22px;
        transform: translate(-6%, -10%) !important;
      }
    }

    &.password-eye {
      svg {
        path {
          fill: #6c6c6c !important;
        }
      }
    }

    // Custom class
    &.input-big {
      top: 6.5px;
      &.second-position {
        transform: translate(-6%, 0.5%) !important;
      }
    }
  }

  //-------------------- Input Icon ---------------------
  .input-icon {
    position: absolute;
    right: 10px;
    width: 14px;
    height: 10px;
    display: none;

    svg {
      path {
        fill: #b7b7b7;
      }
    }

    &.disabled-empty {
      svg {
        path {
          fill: #dadada !important;
        }
      }
    }

    &.disabled-filled {
      svg {
        path {
          fill: #cccccc !important;
        }
      }
    }

    &.hide-icon {
      display: none !important;
    }

    &.valid-required {
      transition: all 0.3s ease-in-out;
      svg {
        path {
          fill: #97a8dc;
        }
      }
    }

    &.invalid-required-empty,
    &.invalid-required-filled,
    &.invalid-submit {
      transition: all 0.3s ease-in-out;
      svg {
        path {
          fill: #e57373;
        }
      }
    }

    &.show-input-icon {
      transition: all 0.3s ease-in-out;
      display: inline-block;
    }

    // Custom class
    &.input-big {
      top: 2.7px;
    }

    &.input-dropdown {
      display: none !important;
    }
  }

  //-------------------- Input Dropdown arrow -----------------
  .input-dropdown-arrow {
    position: absolute;
    right: 7px;
    top: 0.5px;
    width: 12px;
    height: 12px;
    display: none;

    svg {
      transform: rotate(0deg);
      transition: all 0.3s ease-in-out;
      path {
        fill: #aaaaaa;
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: #6c6c6c;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &.visible {
      display: inline-block;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }

    &.rotate {
      svg {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  //-------------------- Input Error --------------------
  .input-error {
    position: absolute;
    top: 26px;
    right: 7px;
    color: #e57373;
    font-size: 11px;
    font-weight: 600;
    display: none;

    &::-moz-selection {
      background-color: #ffe1e4;
    }

    &::selection {
      background-color: #ffe1e4;
    }

    &.invalid-focus-out,
    &.invalid-empty-focus-out-required {
      transition: all 0.3s ease-in-out;
      display: inline-block;
    }

    &.invalid-focus-in {
      transition: all 0.3s ease-in-out;
      display: inline-block;
      color: #ef5350;
    }

    &.invalid-submit {
      transition: all 0.3s ease-in-out;
      display: inline-block;
    }

    // Custom class
    &.input-big {
      top: 32px;
    }

    &.input-dropdown {
      display: none !important;
    }
  }
}
//-------------------- Input Password Eye --------------------
.input-password-eye {
  position: absolute;
  right: 4px;
  width: 18px;
  height: 26px;
  display: none;

  svg {
    path {
      fill: #dadada;
    }
  }

  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    svg {
      path {
        fill: #f7f7f7;
      }
    }
  }

  &.visible {
    transition: all 0.3s ease-in-out;
    display: inline-block;
  }

  // Custom class
  &.input-big {
    top: 2.6px;
  }
}
