.small-table-holder-main {
    app-ca-main-table {
        --cdk-preview-bgcolor: #424242;
        --cdk-preview-textColor: #fff;
        --cdk-drag-preview-box-shadow: none;
        --under-reorder-opacity: 0.4;
        --opacity-first-row: 0.4;

        --td-height: 30px;
        --td-padding: 0px;

        --td-container-height: 30px;
        --td-container-padding: 0px;

        --td-container-padding: 0px;
        --td-container-height: 30px;

        --td-container-content-min-height: 30px;
        --td-container-content-padding: 0 4px 0 0;

        --td-cointainer-first-child-padding-left: 0px;

        --table-preview-row-border-top: 1px solid #dadada;
        --td-cointainer-last-child-padding-right: 0;

        --table-preview-row-first-td-padding: 0 8px;

        --opacity-first-row: 1;
    }
}
