<div class="d-flex justify-content-center align-items-center" *ngIf="nextStep">
  <button
    type="button"
    class="d-flex justify-content-end align-items-center step-btn"
    [ngClass]="{
      'filled-correctly': filledCorrectly,
      'review-btn': selectedMode === 'REVIEW_MODE' && !hasIncorrectFields
    }"
    [ngStyle]="{
      width:
        lastPage ||
        lastSphFormPage ||
        (selectedMode === 'REVIEW_MODE' && !hasIncorrectFields)
          ? '234px'
          : '100px'
    }"
    (click)="onStepAction('next-step')"
  >
    <span
      class="ta-font-semi-bold step-text step-next-text"
      [ngStyle]="{
        color: filledCorrectly
          ? '#3551B7'
          : selectedMode === 'REVIEW_MODE' && !hasIncorrectFields
          ? '#00967e'
          : '#6c6c6c'
      }"
      >{{
        lastStep
          ? "Finish"
          : lastPage
          ? "Finish & Save Profile"
          : lastSphFormPage
          ? "Finish & Send"
          : selectedMode === "REVIEW_MODE" && !hasIncorrectFields
          ? "Confirm All"
          : "Next"
      }}
    </span>

    <svg-icon
      class="step-icon"
      src="assets/svg/applicant/next-btn.svg"
      [svgStyle]="{
        'width.px': 52,
        'height.px': 52
      }"
    ></svg-icon>
  </button>
</div>

<div class="d-flex justify-content-center align-items-center" *ngIf="backStep">
  <button
    type="button"
    class="d-flex justify-content-center align-items-center step-btn"
    disabled="{{ disabledStep }}"
    (click)="onStepAction('back-step')"
  >
    <svg-icon
      class="step-icon"
      src="assets/svg/applicant/back-btn.svg"
      [svgStyle]="{
        'width.px': 52,
        'height.px': 52
      }"
    ></svg-icon>

    <span class="ta-font-semi-bold step-text step-back-text">Back</span>
  </button>
</div>
