<div class="table-container d-flex flex-column">
    <div>
        <h2>Test Table with 10K rows</h2>
    </div>
   
    <app-ca-main-table
    *ngIf="showTable"
    [hideFieldsToHide]="true"
    [columns]="columns"
    [data$]="tableData$"
    (onPressEvent)="selectPayrollReport($event)"
></app-ca-main-table>

    <!-- <div class="payroll-main" [class.open]="!tableExpanded">
        <app-ta-table-toolbar
            (toolBarAction)="onToolBarAction($event)"
            [options]="tableOptions"
            [tableData]="tableData"
            [selectedTab]="selectedTab"
            [columns]="columns"
        ></app-ta-table-toolbar>

        <div class="payroll-tables-holder">
            <ng-container *ngFor="let d of payrollData | async">
                <div class="card-holder">
                    <app-ta-custom-card
                        [cardName]="tableExpanded ? d.title : d.short_title"
                        [hasLeftCounter]="d.count"
                        [isCardOpen]="false"
                        [hasDivider]="false"
                        [hasPayrollStatus]="true"
                        [animationMarginParams]="{
                            marginTop: '0px',
                            marginBottom: '0px'
                        }"
                    >
                        <app-payroll-table
                            [title]="d.title"
                            [tableSettings]="d.tableSettings"
                            [expandedTable]="tableExpanded"
                            [tableData]="d.data"
                            (expandTable)="expandTable($event)"
                        ></app-payroll-table>
                    </app-ta-custom-card>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="report-hold" *ngIf="!tableExpanded">
        <app-payroll-report
            [reportTableData]="reportTableData"
        ></app-payroll-report>
    </div> -->
</div>

<ng-template #customIndex let-index="index">
    <div>{{index}}</div>
</ng-template>

<ng-template #customCell>
    <div>
        <app-ca-note
        [note]="''"
        [openedAll]="false"
        [parking]="false"
    >
    </app-ca-note>
    </div>
</ng-template>