<div class="table-container">
    <div class="documents_toolbar">
        <app-truckassist-table-toolbar
            (toolBarAction)="onToolBarAction($event)"
            [options]="tableOptions"
            [tableData]="tableData"
            [columns]="columns"
            [selectedTab]="selectedTab"
        ></app-truckassist-table-toolbar>
    </div>
    <app-ta-upload-files
        [files]="documents"
        [size]="'large'"
        [showDropzone]="showDropzone"
        [dontUseSlider]="true"
        (onFileEvent)="onFilesEvent($event)"
        (closeDropzone)="hideDropzone()"
        [customClassName]="'company-documents'"
        [hasTagsDropdown]="true"
        [dropzoneFocus]="true"
        [tags]="tags"
        [onlyOneTagFile]="true"
    ></app-ta-upload-files>
</div>
