@import 'src/theme/variables.scss';

.charts-item-wrapper {
    display: block;
    height: auto;

    .charts-template-item-value {
        font-weight: 700;
        line-height: 22px;
    }

    .icon-name-item {
        display: flex;
        line-height: 14px;
        align-items: center;
        height: auto;
        margin-bottom: 2px;
        svg-icon {
            svg {
                display: flex;
                width: 11px;
                height: 11px;
            }
        }

        &.light_green {
            svg-icon {
                svg {
                    rect {
                        fill: #80cbba !important;
                    }
                }
            }
        }

        &.light_red {
            svg-icon {
                svg {
                    rect {
                        fill: #ef9a9a !important;
                    }
                }
            }
        }
    }

    &.hover {
        border-radius: 2px;
        padding: 8px 6px 4px 6px;
        background-color: $bw2;

        position: relative;

        width: calc(100% + 4px);
        left: -2px;
        top: -4px;
    }

    .hover_data_time {
        padding: 0;
        .hover_time_title {
            font-size: 14px;
            font-weight: 800;
            line-height: 18px;
            color: $ta-black;
        }

        .hover_time_border {
            height: 1px;
            width: 100%;
            margin: 7.5px 0;

            background-color: $bw-9;
            border-radius: 1px;
        }
    }

    .chart_all_inner_hold {
        display: flex;
        align-items: center;

        &.hold_hover_out {
            padding: 0px 4px;
        }
    }

    .charts-template-item {
        padding: 0 !important;
    }

    &.row {
        width: 100%;
        margin-left: 0px;
    }
}

.main_chart_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 12px;

    .chart_hover_background {
        position: absolute;
        transition: all 0.3s ease-in-out;
        top: 0;
        height: 100%;
        background-color: #f3f3f3;
        z-index: 0;
    }

    .chart_tooltip {
        position: absolute;
        top: 0;

        width: 2px;
        transition: left 0.1s ease-in-out;
        border-left: 2px dashed $bw-9;

        z-index: 10;
        pointer-events: none;
    }

    .chart_canvas {
        z-index: 1;
    }

    &.remove_chart_margin {
        margin: 0;
    }

    &.add_inside {
        padding: 0px 6px;
        margin-top: 4px;
    }

    .no_chart_data {
        height: 130px;
        width: 100%;
        user-select: none;

        svg-icon {
            svg {
                width: 100%;
                height: 130px;
            }
        }
    }

    .chart_text_holder {
        display: flex;
        justify-content: center;
        align-items: center;

        user-select: none;

        .chart_inner {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);

            text-align: center;

            .chart_value_holder {
                margin-bottom: 22px;

                .chart_label {
                    font-size: 18px;
                    font-weight: 700;
                    color: $ta-black;
                    line-height: 24px;
                }

                .chart_value {
                    margin-bottom: 4px;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 700;
                    color: $ta-black;
                }

                .chart_data_name {
                    font-size: 11px;
                    line-height: 14px;
                    font-weight: 700;
                    color: $ta-light-grey-2;
                }
            }
        }
    }

    /* Chart Tooltip */
    .chart-tooltip {
        position: absolute;
        top: 50%;
        width: 100%;
        border-radius: 3px;
        padding: 4px;
        background: $ta-black-2;
        z-index: 2;
        transform: translateY(-50%);
        transition: left 0.3s ease-in-out;
        pointer-events: none;

        &-title {
            padding: 2px 4px;
            margin-bottom: 6px;

            p {
                font-size: 11px;
                line-height: 14px;
                color: $white;
                text-transform: uppercase;

                &::-moz-selection {
                    color: $white;
                    background: rgb(255, 255, 255, 0.2);
                }

                &::selection {
                    color: $white;
                    background: rgb(255, 255, 255, 0.2);
                }
            }
        }

        &-border {
            height: 1px;
            background: $ta-black;
            margin-bottom: 2px;
        }

        &-items-container {
            padding: 4px;

            .chart-tooltip-item {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }

                &-left {
                    margin-right: 6px;
                }

                &-left,
                &-right {
                    &-color-box {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }

                    p {
                        font-size: 11px;
                        line-height: 14px;
                        color: $white;

                        &::-moz-selection {
                            color: $white;
                            background: rgb(255, 255, 255, 0.2);
                        }

                        &::selection {
                            color: $white;
                            background: rgb(255, 255, 255, 0.2);
                        }
                    }

                    .percent {
                        margin-left: 10px !important;
                    }
                }
            }
        }
    }
}
