<div
    class="charts-item-wrapper revenue"
    *ngIf="legendAttributes?.length"
    [class.hover]="hoveringStatus && hoverTimeDisplay"
>
    <div class="hover_data_time" *ngIf="hoveringStatus && hoverTimeDisplay">
        <div class="hover_time_title">{{ hoverDateTitle }}</div>
        <div class="hover_time_border"></div>
    </div>
    <div
        class="chart_all_inner_hold"
        [class.hold_hover_out]="!hoveringStatus && hoverTimeDisplay"
    >
        <div
            class="charts-template-item"
            [class.col-4]="legendAttributes?.length > 2"
            *ngFor="let item of legendAttributes; let indx = index"
        >
            <div class="icon-name-item {{ item.customClass }}">
                <svg-icon src="{{ item.image }}"></svg-icon>
                <div
                    class="charts-template-item-name"
                    [ngStyle]="{ 'margin-left': item.image ? '4px' : '0px' }"
                >
                    {{ item.title }}
                </div>
            </div>
            <div class="charts-template-item-value">
                {{ item.prefix }}{{ item.value | nFormatter }} {{ item.sufix }}
            </div>
        </div>
    </div>
</div>

<div
    class="main_chart_container"
    (mouseleave)="chartHoverOut()"
    [class.remove_chart_margin]="removeChartMargin"
    [class.add_inside]="hoveringStatus && hoverTimeDisplay"
    [ngStyle]="{
        width: chartConfig.extendFull ? chartConfig.chartWidth + 'px' : 'auto'
    }"
>
    <div
        class="chart_hover_background"
        [ngStyle]="{
            left: hoverChartLeft + 'px',
            width: hoverColumnWidth + 'px',
            height: hoverColumnHeight + 'px'
        }"
        *ngIf="showHoverData"
    ></div>
    <div class="no_chart_data" *ngIf="noChartData">
        <svg-icon src="{{ noChartImage }}"></svg-icon>
    </div>
    <div
        class="chart_text_holder"
        *ngIf="lineChartType == 'doughnut' && doughnutChartLegend"
    >
        <div class="chart_inner">
            <div
                class="chart_value_holder"
                *ngFor="let item of chartInnitProperties; let indx = index"
                [ngStyle]="{
                    'margin-bottom':
                        indx + 1 < chartInnitProperties.length ? '30px' : '0px'
                }"
            >
                <div class="chart_label">{{ item?.percent }}</div>
                <div class="chart_value">{{ item?.value }}</div>
                <div class="chart_data_name">{{ item?.name }}</div>
            </div>
        </div>
    </div>

    <!-- Hover Container -->

    <ng-container *ngIf="showHoverData && selectedDataRows.length">
        <div
            class="d-flex flex-column justify-content-center chart-tooltip"
            [ngStyle]="{
                left: hoverDataPosition + 'px',
                'max-width':
                    lineChartType === 'line' && selectedDataRows.length <= 3
                        ? '146px'
                        : lineChartType === 'bar' &&
                          selectedDataRows[0].name.includes('Top')
                        ? '117px'
                        : 'fit-content'
            }"
        >
            <div class="chart-tooltip-title">
                <p class="m-0 ta-font-extra-bold">
                    {{ barChartTooltipDateTitle }}
                </p>
            </div>

            <div class="chart-tooltip-border"></div>

            <div
                #hoverDataHolder
                class="d-flex flex-column justify-content-center chart-tooltip-items-container"
            >
                <ng-container
                    *ngFor="
                        let item of selectedDataRows;
                        let i = index;
                        let last = last;
                        trackBy: trackByIdentity
                    "
                >
                    <div
                        class="d-flex chart-tooltip-item"
                        [ngClass]="{
                            'flex-column justify-content-center':
                                (lineChartType === 'line' &&
                                    selectedDataRows.length <= 3) ||
                                (lineChartType === 'bar' &&
                                    selectedDataRows.length <= 3),
                            'flex-row align-items-center justify-content-between':
                                (lineChartType === 'line' &&
                                    selectedDataRows.length > 3) ||
                                (lineChartType === 'bar' &&
                                    selectedDataRows.length > 3)
                        }"
                    >
                        <div
                            class="d-flex align-items-center chart-tooltip-item-left"
                        >
                            <div
                                class="d-flex align-items-center justify-content-center chart-tooltip-item-left-color-box"
                                [ngStyle]="{
                                    background: item.color,
                                    'margin-right':
                                        (lineChartType === 'line' &&
                                            selectedDataRows.length === 1) ||
                                        lineChartType === 'bar'
                                            ? '4px'
                                            : '6px'
                                }"
                            ></div>

                            <p class="m-0 ta-font-bold">
                                {{
                                    lineChartType === 'line' &&
                                    i < selectedDataRows.length - 2
                                        ? (item.name | titlecase)
                                        : item.name
                                }}
                            </p>
                        </div>

                        <div
                            class="d-flex chart-tooltip-item-right"
                            [ngClass]="{
                                'flex-column justify-content-center':
                                    lineChartType === 'bar' &&
                                    selectedDataRows.length <= 3,
                                'flex-row align-items-center justify-content-between':
                                    lineChartType === 'line' ||
                                    (lineChartType === 'bar' &&
                                        selectedDataRows.length > 3)
                            }"
                            [ngStyle]="{
                                'margin-left':
                                    lineChartType === 'bar' &&
                                    selectedDataRows.length > 3
                                        ? '10px'
                                        : 0
                            }"
                        >
                            <p
                                class="m-0"
                                [ngClass]="{
                                    'ta-font-bold':
                                        lineChartType === 'line' ||
                                        (lineChartType === 'bar' &&
                                            selectedDataRows.length <= 3)
                                }"
                            >
                                {{ item.value }}
                            </p>

                            <p
                                class="m-0"
                                [ngClass]="{
                                    'ta-font-bold percent':
                                        lineChartType === 'bar' &&
                                        selectedDataRows.length > 3
                                }"
                            >
                                {{ item.percent }}
                            </p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <!-- Chart Canvas -->

    <canvas
        *ngIf="!noChartData"
        baseChart
        id="baseChart"
        width="{{ chartWidth }}"
        height="{{ chartHeight }}"
        class="chart_canvas"
        [class.dotted_background]="dottedBackground"
        [ngStyle]="{ width: '100%', height: chartHeight + 'px' }"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
    >
    </canvas>
</div>
