/* You can add global styles to this file, and also import other style files */
@import './theme/variables';
@import 'assets/scss/grid';
@import './theme/main';
@import 'assets/scss/floating-label';
@import 'assets/scss/global';
@import 'assets/scss/general';
@import 'assets/scss/cards';

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: auto !important;
}

/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap';

@import 'assets/scss/modal';
@import 'assets/scss/border-radius';
@import 'assets/scss/background';
@import 'assets/scss/spacings';
@import 'assets/scss/form';
@import 'assets/scss/input-validation';
@import 'assets/scss/tooltip';
@import 'assets/scss/buttons';
@import 'assets/scss/ta-select';
@import 'assets/scss/popover.scss';
@import 'assets/scss/google-address.scss';
@import 'assets/scss/custompickers.scss';
@import 'assets/scss/special-svgs.scss';
@import 'assets/scss/ta-input-dropdown.scss';
@import 'assets/scss/ta-input-multiselect-dropdown.scss';
@import 'assets/scss/detail-cards.scss';
@import 'assets/scss/ngxslider.scss';
@import 'assets/scss/fonts.scss';
@import 'assets/scss/toast-messages.scss';
@import 'assets/scss/table';
@import 'assets/scss/dispatcher.scss';
@import 'assets/scss/accounting.scss';
@import 'assets/scss/payroll.scss';
@import 'assets/scss/fake-table-modal.scss';
@import '~overlayscrollbars/css/OverlayScrollbars.css';
@import 'assets/scss/applicant.scss';
@import 'assets/scss/table-modal';
@import 'assets//scss/note.scss';
@import 'assets//scss/new-table.scss';
@import 'assets/scss/text-selection.scss';
@import 'assets/scss/text-size.scss';
@import 'assets/scss/icons.scss';
@import 'assets/scss/mixins.scss';
@import 'assets/scss/rotate.scss';
@import 'assets/scss/sizing.scss';
