// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat-mdc.all-component-typographies();

@include mat.legacy-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$carrierassist-fe-primary: mat.define-palette(mat.$indigo-palette);
$carrierassist-fe-accent: mat.define-palette(
    mat.$pink-palette,
    A200,
    A100,
    A400
);

// The warn palette is optional (defaults to red).
$carrierassist-fe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$carrierassist-fe-theme: mat.define-light-theme(
    (
        color: (
            primary: $carrierassist-fe-primary,
            accent: $carrierassist-fe-accent,
            warn: $carrierassist-fe-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($carrierassist-fe-theme);

/* You can add global styles to this file, and also import other style files */
@import './theme/variables';
@import 'assets/scss/grid';
@import './theme/main';
@import 'assets/scss/floating-label';
@import 'assets/scss/global';
@import 'assets/scss/general';
@import 'assets/scss/cards';

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: auto !important;
}

/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap';

@import 'assets/scss/modal';
@import 'assets/scss/form';
@import 'assets/scss/input-validation';
@import 'assets/scss/tooltip';
@import 'assets/scss/buttons';
@import 'assets/scss/ta-select';
@import 'assets/scss/popover.scss';
@import 'assets/scss/google-address.scss';
@import 'assets/scss/custompickers.scss';
@import 'assets/scss/special-svgs.scss';
@import 'assets/scss/ta-input-dropdown.scss';
@import 'assets/scss/ta-input-multiselect-dropdown.scss';
@import 'assets/scss/detail-cards.scss';
@import 'assets/scss/ngxslider.scss';
@import 'assets/scss/fonts.scss';
@import 'assets/scss/toast-messages.scss';
@import 'assets/scss/table';
@import 'assets/scss/dispatcher.scss';
@import 'assets/scss/accounting.scss';
@import 'assets/scss/payroll.scss';
@import 'assets/scss/fake-table-modal.scss';
@import '~overlayscrollbars/css/OverlayScrollbars.css';
@import 'assets/scss/applicant.scss';
@import 'assets/scss/table-modal';
@import 'assets//scss/note.scss';
@import 'assets/scss/text-selection.scss';
@import 'assets/scss/text-size.scss';
@import 'assets/scss/icons.scss';
@import 'assets/scss//mixins.scss';
