<div class="settings-factoring">
  <div class="settings-header">
    <div class="settings-name">
      <p>Factoring Company</p>
    </div>

    <div class="settings-header-buttons">
      <div class="settings-header-button">
        <svg-icon
          src="assets/svg/common/ic_pen.svg"
          class="settings-edit-button"
          (click)="onAction({ modalName: 'factoring', type: 'edit' })"
        ></svg-icon>
      </div>
      <div class="settings-header-button">
        <div class="border-left"></div>
        <svg-icon
          src="assets/svg/common/ic_trash.svg"
          class="settings-trash-button"
        ></svg-icon>
      </div>
    </div>
  </div>
  <div class="settings-body">
    <app-ta-re-card
      [cardNameCommon]="factoringData.name"
      [haveHeaderText]="true"
      [haveDots]="false"
      [hasFooter]="false"
      *ngIf="factoringData.name"
    >
      <div class="settings-body-items">
        <div *ngIf="factoringData.phone" class="single-item">
          <svg-icon src="assets/svg/common/ic_phone.svg"></svg-icon>
          <span>{{ factoringData.phone }}</span>
        </div>
        <div *ngIf="factoringData.email" class="single-item">
          <svg-icon src="assets/svg/common/ic_email.svg"></svg-icon>
          <span>{{ factoringData.email }}</span>
        </div>
        <div *ngIf="factoringData.address" class="single-item">
          <svg-icon
            src="assets/svg/truckassist-table/location-icon.svg"
          ></svg-icon>
          <span class="single-item-address">{{
            factoringData.address.address
          }}</span>
        </div>
      </div>
      <app-ta-custom-card
        [cardName]="'Notice of Assigment'"
        [bodyTemplate]="'card'"
        [isCardOpen]="true"
        [hasDivider]="true"
        [animationsDisabled]="false"
        [textBottomPossiton]="'-2px'"
      >
        <div
          class="notice-template-data-default"
          [ngClass]="{ 'notice-template-data-change': changeDefaultNotice }"
        >
          <div class="notice-template-item">
            <div class="notice-item-value">
              {{ factoringData.noticeOfAssigment }}
            </div>
          </div>
          <!-- <div class="notice-template-item">
            <div class="notice-item-value">
              {{
                factoringData.noticeAssigment.param1 +
                  factoringData.noticeAssigment.param3
              }}
            </div>
          </div>
          <div class="notice-template-item">
            <div class="notice-item-value">
              {{ factoringData.noticeAssigment.param2 }}
            </div>
          </div>
        </div>
        <div *ngIf="!changeDefaultNotice" class="notice-template-data-change">
          <div class="notice-change-item">
            <div class="notice-item-header">
              {{ factoringData.noticeAssigment.text }}
            </div>
          </div>

          <div class="notice-change-item">
            <div class="notice-item-middle">
              {{ factoringData.noticeAssigment.param1 }}

            </div>
            <div class="bottom-data-notice">{{
              factoringData.noticeAssigment.param3
            }}</div>
          </div>
          <div class="notice-change-item bottom-notice-item">
            <div class="notice-item-bottom">
              {{ factoringData.noticeAssigment.param2 }} <a href="tel:+{{factoringData.noticeAssigment.phone }}"><span class="phone-notice-item">{{factoringData.noticeAssigment.phone }}</span></a>
            </div>
          </div> -->
        </div>
      </app-ta-custom-card>
    </app-ta-re-card>
  </div>
</div>
