@import 'src/theme/variables.scss';

.step-container {
    padding-top: 22px;

    br {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }
    }

    .step-title {
        color: $ta-blue-5;
        font-size: 32px;
        height: 39px;

        &::-moz-selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }

        &::selection {
            color: $ta-blue-5;
            background: rgb(48, 116, 211, 0.2);
        }
    }

    .top-section {
        margin-top: 22px;
        width: 616px;

        p {
            font-size: 14px;
            line-height: 18px;
            color: $ta-black-2;

            &::-moz-selection {
                color: $ta-black-2;
                background: rgb(47, 47, 47, 0.2);
            }

            &::selection {
                color: $ta-black-2;
                background: rgb(47, 47, 47, 0.2);
            }
        }
    }

    .mid-section {
        margin-top: 22px;
        margin-bottom: 22px;
    }

    .form-section {
        width: 616px;

        .accidents-container {
            width: 616px;

            .line-container {
                position: relative;

                .review-feedback-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateX(calc(100% + 5px));
                    width: 429px;
                }
            }

            .title-container {
                width: 100%;
                margin-bottom: 4px;
                padding-left: 10px;
                display: grid;
                grid-template-columns: 26px 180px 120px 262px;
                grid-gap: 8px;

                .date-state-title-box,
                .statistics-title-box,
                .hazmat-description-title-box {
                    p {
                        color: $bw5;
                        font-size: 11px;

                        &::-moz-selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }

                        &::selection {
                            color: $bw5;
                            background: rgb(145, 145, 145, 0.2);
                        }
                    }
                }
            }

            .accident-info-container {
                width: 100%;
                margin-bottom: 4px;
                padding: 6px 10px;
                border-radius: 2px;
                background: $ta-blue-10;

                .info-btn-container {
                    width: 100%;
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: 26px 180px 120px 262px;
                    grid-column-gap: 8px;

                    .statistics-box {
                        gap: 2px;
                    }

                    .index-box {
                        p {
                            color: $ta-blue-13;
                            line-height: 18px;
                            font-size: 14px;
                        }
                    }

                    .number-box {
                        height: 14px;

                        p {
                            color: $ta-black-2;
                            width: 22px;
                            line-height: 14px;
                            font-size: 11px;

                            &::-moz-selection {
                                color: $ta-black-2;
                                background: rgb(145, 145, 145, 0.2);
                            }

                            &::selection {
                                color: $ta-black-2;
                                background: rgb(145, 145, 145, 0.2);
                            }
                        }
                    }

                    .state-box,
                    .date-box,
                    .fatalities-box,
                    .injuries-box,
                    .hazmat-box,
                    .description-box,
                    .vehicle-box {
                        p {
                            line-height: 14px;
                            font-size: 11px;
                        }

                        &.state-box,
                        &.hazmat-box {
                            margin-bottom: 2px;

                            p {
                                color: $ta-black-2;

                                &::-moz-selection {
                                    color: $ta-black-2;
                                    background: rgb(47, 47, 47, 0.2);
                                }

                                &::selection {
                                    color: $ta-black-2;
                                    background: rgb(47, 47, 47, 0.2);
                                }
                            }

                            &.vehicle-box {
                                margin-bottom: 2px;

                                p {
                                    color: $ta-black-2;

                                    &::-moz-selection {
                                        color: $ta-black-2;
                                        background: rgb(47, 47, 47, 0.2);
                                    }

                                    &::selection {
                                        color: $ta-black-2;
                                        background: rgb(47, 47, 47, 0.2);
                                    }
                                }

                                .truck-icon {
                                    margin-right: 6px;
                                    line-height: 12px;

                                    svg {
                                        path {
                                            fill: $bw5;
                                        }
                                    }
                                }

                                &.description-box {
                                    p {
                                        color: $bw5;

                                        &::-moz-selection {
                                            color: $bw5;
                                            background: rgb(145, 145, 145, 0.2);
                                        }

                                        &::selection {
                                            color: $bw5;
                                            background: rgb(145, 145, 145, 0.2);
                                        }
                                    }
                                }
                            }

                            &.hazmat-box {
                                .hazmat-icon {
                                    margin-right: 4px;
                                    line-height: 12px;

                                    svg {
                                        path {
                                            fill: $bw5;
                                        }
                                    }
                                }
                            }
                        }

                        &.vehicle-box {
                            margin-bottom: 2px;

                            p {
                                color: $ta-black-2;

                                &::-moz-selection {
                                    color: $ta-black-2;
                                    background: rgb(47, 47, 47, 0.2);
                                }

                                &::selection {
                                    color: $ta-black-2;
                                    background: rgb(47, 47, 47, 0.2);
                                }
                            }

                            .truck-icon {
                                margin-right: 6px;
                                line-height: 12px;

                                svg {
                                    path {
                                        fill: $bw5;
                                    }
                                }
                            }

                            &.description-box {
                                p {
                                    color: $bw5;

                                    &::-moz-selection {
                                        color: $bw5;
                                        background: rgb(145, 145, 145, 0.2);
                                    }

                                    &::selection {
                                        color: $bw5;
                                        background: rgb(145, 145, 145, 0.2);
                                    }
                                }
                            }
                        }

                        &.date-box,
                        &.description-box {
                            p {
                                color: $bw5;

                                &::-moz-selection {
                                    color: $bw5;
                                    background: rgb(145, 145, 145, 0.2);
                                }

                                &::selection {
                                    color: $bw5;
                                    background: rgb(145, 145, 145, 0.2);
                                }
                            }
                        }

                        &.fatalities-box,
                        &.injuries-box {
                            p {
                                color: $ta-black-2;

                                &::-moz-selection {
                                    color: $ta-black-2;
                                    background: rgb(47, 47, 47, 0.2);
                                }

                                &::selection {
                                    color: $ta-black-2;
                                    background: rgb(47, 47, 47, 0.2);
                                }
                            }

                            .number-box {
                                width: 24px;
                                height: 14px;
                                border-radius: 2px;
                                margin-right: 4px;
                                background: $bw5;

                                p {
                                    color: $white;

                                    &::-moz-selection {
                                        color: $white;
                                        background: rgb(255, 255, 255, 0.2);
                                    }

                                    &::selection {
                                        color: $white;
                                        background: rgb(255, 255, 255, 0.2);
                                    }
                                }

                                .accident-icon {
                                    margin-right: 4px;
                                    line-height: 12px;

                                    svg {
                                        path {
                                            fill: $bw5;
                                        }
                                    }
                                }
                            }

                            &.fatalities-box {
                                margin-bottom: 2px;
                            }
                        }
                    }
                }
            }
        }

        .accident-btn-container {
            margin: 22px auto 32px auto;
            width: 616px;
    
            p {
                line-height: 18px;
                font-size: 14px;
            }
    
            .accident-title {
                color: $bw6-2;
                font-size: 14px;
                height: 18px;
    
                &::-moz-selection {
                    color: $ta-black;
                    background: rgb(66, 66, 66, 0.2);
                }
    
                &::selection {
                    color: $ta-black;
                    background: rgb(66, 66, 66, 0.2);
                }
            }
        }
    }
}

.accident-icon {
    margin-right: 6px;
    line-height: 12px;

    svg {
        path {
            fill: $bw5;
        }
    }
}

