@import './ta-input.colors.scss';

.dropdown-selected-image {
    position: absolute;
    left: 6px;
    top: 48%;
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;

    &.truck-make {
        svg {
            path {
                fill: #6c6c6c;
            }
        }
    }

    // Render Name Initials
    &.name-initials-instead-url {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        object-fit: cover;
        top: 50%;
        transform: translateY(-50%);
    }

    &.load-broker {
        height: 26px;

        svg {
            height: 18px;
        }

        &.medium {
            svg {
                #Path_33564 {
                    fill: #ffb74d;
                }
            }
        }

        &.low {
            svg {
                #Path_33564 {
                    fill: #e57373;
                }
            }
        }
    }

    // --------------------- TRUCKS ---------------------
    &.semitruck {
        svg {
            path {
                // fill: $input-semitruck-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.semisleeper {
        svg {
            #Ellipse_9856,
            #Ellipse_9857,
            #Ellipse_9858,
            path {
                // fill: $input-semisleepertruck-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.boxtruck {
        svg {
            path {
                // fill: $input-boxtruck-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.cargovan {
        svg {
            path {
                // fill: $input-cargovantruck-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.towtruck {
        svg {
            path {
                // fill: $input-towtruck-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.carhauler {
        svg {
            path {
                // fill: $input-carhaulertruck-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.spotter {
        svg {
            path {
                // fill: $input-spottertruck-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.bus {
        svg {
            path {
                // fill: $input-bus-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    // --------------------- TRAILERS ---------------------
    &.reefer {
        svg {
            path {
                // fill: $input-reefertrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.dryvan {
        svg {
            path {
                // fill: $input-dryvantrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.sidekit {
        svg {
            path {
                // fill: $input-sidekittrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.conestoga {
        svg {
            path {
                // fill: $input-conestogatrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.dumper {
        svg {
            path {
                // fill: $input-dumpertrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.container {
        padding: 0 !important;
        svg {
            path {
                // fill: $input-containertrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.tanker {
        svg {
            path {
                // fill: $input-tankertrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.pneumatictanker {
        svg {
            path {
                // fill: $input-pneumatictankertrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.carhauler {
        svg {
            path {
                // fill: $input-carhaulertrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.carhaulerstinger {
        svg {
            path {
                // fill: $input-carhaulerstingertrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.flatbed {
        svg {
            path {
                // fill: $input-flatbedtrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.low-boy-rgn {
        svg {
            path {
                // fill: $input-lowboyrgntrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.chassis {
        svg {
            path {
                // fill: $input-chassistrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.stepdeck {
        svg {
            path {
                // fill: $input-stepdecktrailer-path-fill !important;
                fill: #919191 !important;
            }
        }
    }

    &.unset-color {
        svg {
            #Ellipse_9856,
            #Ellipse_9857,
            #Ellipse_9858,
            path {
                fill: rgb(255, 255, 255, 0.4) !important;
            }
        }
    }
}
