@import './ta-input.colors.scss';
// -------------------- Input Label --------------------
.input-label {
    position: absolute;
    top: 4px;
    left: 6px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    color: $input-label-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    line-height: 18px;

    span {
        &::-moz-selection {
            background-color: $input-label-background-selection !important;
            color: $input-label-text-selection !important;
        }

        &::selection {
            background-color: $input-label-background-selection !important;
            color: $input-label-text-selection !important;
        }
    }

    &.required {
        &::after {
            content: ' *';
            color: $input-label-required-star;
        }
    }

    &.disabled-empty {
        transition: all 0.3s ease-in-out;
        color: $input-label-color-disabled !important;
    }

    &.disabled-filled {
        transition: all 0.3s ease-in-out;
        color: $input-label-color-disabled !important;
    }

    &.up-label {
        top: -17px;
        left: 6px;
        font-size: 11px;
        font-weight: $input-label-color-active-up;
        transition: all 0.3s ease-in-out;
        color: $input-label-color;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
        pointer-events: none !important;

        span {
            &::-moz-selection {
                background-color: $input-label-background-selection !important;
                color: $input-label-text-selection !important;
            }

            &::selection {
                background-color: $input-label-background-selection !important;
                color: $input-label-text-selection !important;
            }
        }
    }

    &.no-transition {
        transition: none !important;
    }

    &.has-input-icon {
        left: 37px;

        &.up-label {
            left: 36px;
        }
    }

    &.valid-focus-out,
    &.invalid-focus-out {
        transition: all 0.3s ease-in-out;
        color: $input-label-color;
        font-weight: $input-label-color-active-up;
    }

    &.hidden-label {
        display: none !important;
    }

    &.routing-address {
        font-size: 11px;
        color: $input-label-color;
        font-weight: $input-label-color-active-up;
        top: 2px !important;
    }

    &.routing-address-focus {
        display: none !important;
    }

    &.load-shipper {
        .load-shipper {
            display: grid;
            grid-template-columns: 390px 100px 70px;
            align-items: center;

            span {
                &:nth-child(3) {
                    text-align: right;
                }
            }

            span {
                &:nth-child(2),
                &:nth-child(3) {
                    color: #919191 !important;
                    opacity: 0;
                    top: -19px;
                    font-size: 11px;
                    font-weight: $input-label-color-active-up;
                }
            }

            &.focus-multiple-label {
                span {
                    &:nth-child(2),
                    &:nth-child(3) {
                        transition-delay: 300ms;
                        color: #919191 !important;
                        opacity: 1;
                        top: -19px;
                    }
                }
            }
        }

        &.required {
            &::after {
                position: absolute;
                right: 0px;
                left: 60px;
                top: 0px;
            }
        }

        &.filled-multiple-label,
        &.up-label {
            &.required {
                &::after {
                    transition-delay: 100ms;
                    transition-timing-function: ease-in;
                    position: absolute;
                    right: 0px;
                    left: 48px;
                    top: 0px;
                }
            }
        }
    }

    //------------------------- Multiple Labels Classs -------------------------

    .load-dispatches-ttd {
        display: grid;
        grid-template-columns: 92px 89px 150px 1fr;
        align-items: center;
        -moz-column-gap: 65px;
        grid-column-gap: 65px;
        column-gap: 65px;

        span {
            &:nth-child(4) {
                color: #919191 !important;
                opacity: 0;
                top: -19px;
                font-size: 11px;
                font-weight: $input-label-color-active-up;
            }
        }

        &.focus-multiple-label {
            span {
                &:nth-child(4) {
                    transition-delay: 300ms;
                    color: #919191 !important;
                    opacity: 1;
                    top: -19px;
                }
            }
        }
    }

    &.load-broker {
        .load-broker {
            display: grid;
            align-items: center;
            grid-template-columns: 277px 82px 69px;

            span {
                &:nth-child(2),
                &:nth-child(3) {
                    color: #919191 !important;
                    opacity: 0;
                    top: -19px;
                    font-size: 11px;
                    font-weight: $input-label-color-active-up;
                }
            }

            &.focus-multiple-label {
                span {
                    &:nth-child(2),
                    &:nth-child(3) {
                        transition-delay: 300ms;
                        color: #919191 !important;
                        opacity: 1;
                        top: -19px;
                    }
                }
            }
        }

        &.required {
            &::after {
                position: absolute;
                left: 51px;
                right: 0;
                top: -1px;
            }
        }

        &.filled-multiple-label,
        &.up-label {
            &.required {
                &::after {
                    transition-delay: 100ms;
                    transition-timing-function: ease-in;
                    position: absolute;
                    left: 44px;
                    right: 0;
                    top: -1px;
                }
            }
        }
    }

    .load-broker-contact,
    .load-shipper-contact {
        display: grid;
        grid-template-columns: 241px 38px;
        align-items: center;
        grid-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
        transition: all 0.3 ease-in-out;

        span {
            &:nth-child(2) {
                color: #919191 !important;
                opacity: 0;
                top: -19px;
                font-size: 11px;
                font-weight: $input-label-color-active-up;
            }
        }

        &.focus-multiple-label {
            span {
                &:nth-child(2) {
                    transition-delay: 300ms;
                    color: #919191 !important;
                    opacity: 1;
                    top: -19px;
                }
            }
        }
    }

    //------------------------- Custom class -------------------------
    &.input-32 {
        top: 7px;

        &.up-label {
            top: -19px;
        }
    }

    &.input-30 {
        top: 6px;

        &.up-label {
            top: -17px;
        }
    }

    &.regular {
        font-weight: 400;
    }

    &.load-adjusted-rate {
        color: $input-label-color-dark-yellow !important;
    }

    &.load-advance-rate {
        color: $input-label-color-dark-green !important;
    }
}
