@import './ta-input.colors.scss';
//-------------------- Input Error --------------------
.input-error {
    position: absolute;
    top: 100%;
    right: 5px;
    color: $invalid-message;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    display: inline-block;

    &::-moz-selection {
        background-color: $invalid-message-background-selection;
        color: $invalid-message;
    }

    &::selection {
        background-color: $invalid-message-background-selection;
        color: $invalid-message;
    }
}
