@import './ta-input.colors.scss';

//-------------------- Input Dropdown arrow -----------------
.input-dropdown-arrow {
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
    cursor: pointer;

    svg {
        display: flex;
        width: 100%;
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out;
        path {
            fill: $default-arrow;
        }
    }

    &:hover {
        svg {
            path {
                fill: $default-on-arrow-hover;
            }
        }
    }

    &.datetimeclass {
        z-index: 22 !important;
    }

    &.focus {
        svg {
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out;
            path {
                fill: $default-focus-arrow !important;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $default-focus-on-arrow-hover !important;
                }
            }
        }
    }

    &.invalid-focus-out {
        svg {
            path {
                fill: $invalid-arrow !important;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $invalid-on-arrow-hover !important;
                }
            }
        }
    }

    &.invalid-focus-in,
    &.invalid-search-in-dropdown-focus-in {
        svg {
            path {
                fill: $invalid-focus-arrow !important;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $invalid-focus-on-arrow-hover !important;
                }
            }
        }
    }

    &.valid-focus-in {
        svg {
            path {
                fill: $valid-focus-arrow !important;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $valid-focus-on-arrow-hover !important;
                }
            }
        }
    }

    &.valid-focus-out {
        svg {
            path {
                fill: $valid-arrow !important;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $valid-on-arrow-hover !important;
                }
            }
        }
    }

    // &.focus-out-hover {
    //     &:hover {
    //         transition: all 0.3s ease-in-out;
    //         svg {
    //             path {
    //                 fill: $input-dropdown-path-fill-normal-hover;
    //             }
    //         }
    //     }

    //     &:hover ~ .input-label {
    //         transition: all 0.3s ease-in-out;
    //         color: $input-label-color-hover;
    //     }

    //     &:hover ~ .input-control {
    //         transition: all 0.3s ease-in-out;
    //         background-color: $input-background-color-normal;
    //         color: $input-text-color-normal;
    //     }
    // }

    // &.dropdown {
    //     svg {
    //         transform: rotate(180deg);
    //         transition: all 0.2s ease-in-out;
    //         path {
    //             fill: $input-dropdown-path-fill-normal;
    //             transition: all 0.2s ease-in-out;
    //         }
    //     }

    //     &:hover {
    //         svg {
    //             path {
    //                 fill: $input-dropdown-path-fill-normal-hover;
    //                 transition: all 0.3s ease-in-out;
    //             }
    //         }
    //     }
    // }

    // &.disabled-filled {
    //     svg {
    //         path {
    //             fill: #b7b7b7 !important;
    //         }
    //     }
    // }

    // &.details-pages {
    //     svg {
    //         path {
    //             fill: $input-dropdown-path-fill-normal !important;
    //         }
    //     }
    //     &:hover {
    //         path {
    //             fill: $input-dropdown-path-fill-normal-hover !important;
    //             transition: all 0.3s ease-in-out;
    //         }
    //     }
    // }
}

//-------------------- Input Dropdwon confirmation ----------
// .input-dropdown-confirm {
//     position: absolute;
//     right: 26px;
//     top: 50%;
//     transform: translateY(-50%);
//     border-radius: 1px;
//     transition: all 0.3s ease-in-out;
//     z-index: 10;
//     cursor: pointer;

//     .input-dropdow-confirm-svg {
//         svg {
//             width: 18px !important;
//             height: 18px !important;
//             overflow: visible;

//             path {
//                 fill: $input-dropdown-confirm-path-fill-valid;
//             }
//             rect {
//                 transition: transform 0.3s;
//                 transform: scale(1);
//                 transform-origin: center;
//                 fill: $input-dropdown-confirm-rect-fill-valid !important;
//             }
//         }

//         &:hover {
//             svg {
//                 overflow: visible;
//                 rect {
//                     transform: scale(1.2);
//                     transform-origin: center;
//                     transition: transform 0.3s;
//                     fill: $input-dropdown-confirm-rect-fill-valid-hover !important;
//                 }
//             }
//         }
//     }
// }
