//-------------------- Input Icon ---------------------
.input-icon {
  position: absolute;
  left: 6px;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  svg-icon {
    svg {
      width: 18px;
      height: 18px;
    }
  }

  &.default-svg-color {
    svg {
      path {
        fill: #b7b7b7;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    height: 16px;
    width: 1px;
    border-radius: 3px;
    background: #e5e5e5;
    position: absolute;
    left: 24px;
    top: 5px;
  }

  &.disabled-empty {
    svg {
      path {
        fill: #dadada !important;
      }
    }
  }

  &.disabled-filled {
    svg {
      path {
        fill: #cccccc !important;
      }
    }
  }

  &.cursor-pointer {
    cursor: pointer;
  }

  &.valid-required-in {
    transition: all 0.3s ease-in-out;
    svg {
      path {
        fill: #bdcaeb !important;
      }
    }

    text {
      fill: #bdcaeb !important;
    }
  }

  &.valid-required-out {
    transition: all 0.3s ease-in-out;
    svg {
      path {
        fill: #97a8dc;
      }
    }

    text {
      fill: #97a8dc !important;
    }
  }

  &.invalid-required-in {
    transition: all 0.3s ease-in-out;
    svg {
      path {
        fill: #ffcdd2 !important;
      }
    }

    text {
      fill: #ffcdd2 !important;
    }
  }

  &.invalid-required-empty,
  &.invalid-required-filled-out {
    transition: all 0.3s ease-in-out;
    svg {
      path {
        fill: #e57373;
      }
    }

    text {
      fill: #e57373 !important;
    }
  }

  &.password-eye {
    svg {
      path {
        fill: #b7b7b7 !important;
      }
    }
  }

  &.password-eye-invalid {
    svg {
      path {
        fill: #ffcdd2 !important;
      }
    }
  }

  &.input-dropdown {
    display: none !important;
  }

  //------------------------- Custom class -------------------------
  &.input-32 {
    top: 2.7px;
  }

  &.input-30 {
    top: 2px;
  }

  &.repair-shop-oh {
    svg {
      path {
        fill: #b7b7b7 !important;
      }
    }
  }

  &.load-adjusted-rate {
    svg {
      path {
        fill: #ffa726 !important;
      }
    }
  }

  &.load-advance-rate {
    svg {
      path {
        fill: #26a690 !important;
      }
    }
  }
}
