@import './ta-input.colors.scss';

.password-capslock {
    position: absolute;
    right: 5px;
    top: -16px;
    color: $input-capslock-color;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    padding: 0;

    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
