@import './ta-input.colors.scss';

.input-invalid-danger-mark {
    position: absolute;
    right: 5px;
    top: 48%;
    transform: translateY(-50%);
    line-height: 13.3px;

    svg {
        width: 13.3px;
        height: 13.3px;
        path {
            fill: $invalid-danger-mark;
        }
    }
}
