@import './ta-input.colors.scss';
// -------------------- Input Control --------------------
.input-control {
    width: 100%;
    height: 26px;
    border: none;
    outline: none;
    border-radius: 2px !important;
    padding: 4px 6px;
    font-size: 14px;
    font-weight: 400;
    background-color: $default-input;
    color: $default-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::-moz-selection {
        background-color: $default-content-background-selection !important;
        color: $default-content !important;
    }

    &::selection {
        background-color: $default-content-background-selection !important;
        color: $default-content !important;
    }

    &.center {
        text-align: center;
    }

    &.uppercase {
        text-transform: uppercase;
    }

    &.lowercase {
        text-transform: lowercase;
    }

    &:hover {
        background-color: $default-on-input-hover;
    }

    &:focus {
        transition: all 0.3s ease-in-out;
        background-color: $default-focus-input;
        color: $default-focus-content;

        &::-webkit-input-placeholder {
            color: $default-focus-content;
        }
        &::-moz-placeholder {
            color: $default-focus-content;
        }

        &:-ms-input-placeholder {
            color: $default-focus-content;
        }

        &::-ms-input-placeholder {
            color: $default-focus-content;
        }

        &::placeholder {
            color: $default-focus-content;
        }

        &::-moz-selection {
            background-color: $default-focus-content-selection !important;
            color: $default-focus-content !important;
        }

        &::selection {
            background-color: $default-focus-content-selection !important;
            color: $default-focus-content !important;
        }
    }

    &.valid-focus-in,
    &.dropdown-placeholder-active,
    &.multiSelect-dropdown-active {
        background-color: $valid-focus-input !important;
        color: $valid-focus-content !important;

        &::-webkit-input-placeholder {
            color: $valid-focus-placeholder-native;
        }
        &::-moz-placeholder {
            color: $valid-focus-placeholder-native;
        }

        &:-ms-input-placeholder {
            color: $valid-focus-placeholder-native;
        }

        &::-ms-input-placeholder {
            color: $valid-focus-placeholder-native;
        }

        &::placeholder {
            color: $valid-focus-placeholder-native;
        }

        &::-moz-selection {
            background-color: $valid-focus-content-background-selection !important;
            color: $valid-focus-content !important;
        }

        &::selection {
            background-color: $valid-focus-content-background-selection !important;
            color: $valid-focus-content !important;
        }
    }

    &.valid-focus-out-filled {
        background-color: $valid-input !important;
        color: $valid-content !important;

        &::-moz-selection {
            background-color: $valid-content-background-selection !important;
            color: $valid-content !important;
        }

        &::selection {
            background-color: $valid-content-background-selection !important;
            color: $valid-content !important;
        }

        &:hover {
            background-color: $valid-input-hover !important;
        }
    }

    &.invalid-focus-in,
    &.invalid-search-in-dropdown-focus-in {
        background-color: $invalid-focus-input !important;
        color: $invalid-focus-content !important;

        &::-moz-selection {
            background-color: $invalid-focus-content-background-selection !important;
            color: $invalid-focus-content !important;
        }

        &::selection {
            background-color: $invalid-focus-content-background-selection !important;
            color: $invalid-focus-content !important;
        }
    }

    &.invalid-focus-out-filled,
    &.invalid-focus-out-empty {
        background-color: $invalid-input !important;
        color: $invalid-content !important;

        &::-moz-selection {
            background-color: $invalid-content-background-selection !important;
            color: $invalid-content !important;
        }

        &::selection {
            background-color: $invalid-content-background-selection !important;
            color: $invalid-content !important;
        }

        &:hover {
            background-color: $invalid-input-hover !important;
        }
    }

    &.inactive-empty {
        background-color: $inactive-empty-input !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
    }

    &.inactive-filled {
        background-color: $inactive-filled-input !important;
        color: $inactive-filled-content !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;

        &::-moz-selection {
            background-color: $inactive-filled-content-background-selection !important;
            color: $inactive-filled-content !important;
        }

        &::selection {
            background-color: $inactive-filled-content-background-selection !important;
            color: $inactive-filled-content !important;
        }
    }

    &.datetimeclass:not(.inactive-filled) {
        letter-spacing: 1px;
        pointer-events: none;
        opacity: 0;
    }

    // -------------------

    &.input-blue-content {
        color: $default-content-blue !important;
    }

    &.connectedDropdown {
        border-radius: 2px 2px 0 0 !important;
    }

    &.has-placeholderIcon {
        padding-left: 37px;
    }

    &.dropdown-input-image-truck {
        padding-left: 63px;
    }

    &.dropdown-input-image-truck-focus {
        &::-webkit-input-placeholder {
            padding-left: 63px;
        }

        &::-moz-placeholder {
            padding-left: 63px;
        }

        &:-ms-input-placeholder {
            padding-left: 63px;
        }

        &::-ms-input-placeholder {
            padding-left: 63px;
        }

        &::placeholder {
            padding-left: 63px;
        }
    }

    &.dropdown-input-image-trailer {
        padding-left: 68px;
    }

    &.dropdown-input-image-trailer-focus {
        &::-webkit-input-placeholder {
            padding-left: 68px;
        }

        &::-moz-placeholder {
            padding-left: 68px;
        }

        &:-ms-input-placeholder {
            padding-left: 68px;
        }

        &::-ms-input-placeholder {
            padding-left: 68px;
        }

        &::placeholder {
            padding-left: 68px;
        }
    }

    &.dropdown-input-image-color {
        padding-left: 29px;
    }

    &.dropdown-input-image-user {
        padding-left: 30px;
    }

    &.dropdown-input-image-without-text-transparent,
    &.multiple-input-values {
        color: $input-transparent-color !important;
    }

    &.input-32-font-20 {
        font-weight: 700;
        font-size: 20px;
    }

    &.details-pages {
        background-color: $default-focus-input !important;

        &::-webkit-input-placeholder {
            color: $default-focus-content !important;
        }
        &::-moz-placeholder {
            color: $default-focus-content !important;
        }

        &:-ms-input-placeholder {
            color: $default-focus-content !important;
        }

        &::-ms-input-placeholder {
            color: $default-focus-content !important;
        }

        &::placeholder {
            color: $default-focus-content !important;
        }
    }

    // &.load-stop-details {
    //     background-color: $input-background-color-load-stop-details-focus-out !important;

    //     &:hover {
    //         background-color: $input-background-color-normal-hover !important;
    //         color: $input-text-color-normal-hover !important;
    //     }
    // }

    &.disable-select-on-focus-out {
        &::-moz-selection {
            background-color: transparent !important;
        }
        &::selection {
            background-color: transparent !important;
        }
    }

    &.hide-placeholder-in-multiple-placeholder-input {
        &::-webkit-input-placeholder {
            opacity: 0 !important;
            color: $input-transparent-color !important;
        }
        &::-moz-placeholder {
            opacity: 0 !important;
            color: $input-transparent-color !important;
        }
        &:-ms-input-placeholder {
            opacity: 0 !important;
            color: $input-transparent-color !important;
        }
        &::-ms-input-placeholder {
            opacity: 0 !important;
            color: $input-transparent-color !important;
        }
        &::placeholder {
            opacity: 0 !important;
            color: $input-transparent-color !important;
        }
    }

    // Multiple Input Placeholders
    &.multiple-input-placeholder {
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    // Multiple Items
    &.load-dispatches-ttd,
    &.load-broker,
    &.load-shipper,
    &.load-shipper-contact {
        position: absolute;
        bottom: 1.5px;
        background-color: $input-transparent-color !important;
        display: grid;
        align-items: center;

        span {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    &.double-text-dropdown {
        position: absolute;
        top: 50%;
        transform: translateY(-48%);
        background-color: transparent !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 26px;

        span {
            &:last-child {
                .multiple-input-text {
                    color: #919191 !important;
                    font-size: 11px;
                    font-weight: 400;

                    &.focusable-text {
                        color: #6f9ee0 !important;
                        font-size: 11px;
                        font-weight: 400;
                    }
                }
            }

            &.focusable-text {
                color: #6f9ee0 !important;
            }
        }
    }

    &.load-dispatches-ttd {
        grid-template-columns: repeat(2, 156px) 150px 122px;
        padding-top: 3px;

        span {
            &:nth-child(1),
            &:nth-child(2) {
                .multiple-input-text {
                    max-width: 70px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            &:nth-child(3) {
                .multiple-input-text {
                    max-width: 100px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            &:last-child {
                justify-content: flex-end;
                .multiple-input-text {
                    color: #919191 !important;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 24px !important;

                    &.focusable-text {
                        color: #6f9ee0 !important;
                        font-size: 11px;
                        font-weight: 400;
                    }
                }
            }

            &.focusable-text {
                color: #6f9ee0 !important;
            }

            span {
                line-height: 23px;
            }
        }

        .focusable-svg {
            svg {
                #Ellipse_9856,
                #Ellipse_9857,
                #Ellipse_9858,
                path {
                    fill: #6f9ee0 !important;
                }
            }
        }

        .focusable-image {
            opacity: 0.6;
        }

        .trailerContainer {
            width: max-content !important;
            padding: 0px !important;
            margin: 0px !important;
        }
    }

    &.load-broker {
        display: grid;
        grid-template-columns: 229px 115px 48px;
        align-items: center;
        height: 24px;

        span {
            &:nth-child(1) {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &:nth-child(2),
            &:nth-child(3) {
                justify-content: flex-end;
            }

            &:nth-child(3) {
                .multiple-input-text {
                    &.counter {
                        max-width: -webkit-max-content;
                        max-width: -moz-max-content;
                        max-width: max-content;
                        height: 18px;
                        border-radius: 30px;
                        text-align: center;
                        font-size: 11px;
                        font-weight: 400;
                        color: #919191;
                        background-color: rgb(145, 145, 145, 0.2);
                        padding: 1px 6px;

                        &.counter-focus {
                            color: #6f9ee0;
                            background-color: rgb(111, 158, 224, 0.2);
                        }

                        &.counter-one {
                            max-width: none !important;
                            width: 19px !important;
                        }
                    }
                }
                position: relative;
                bottom: 1px;
            }
        }
    }

    &.load-broker-contact,
    &.load-shipper-contact {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent !important;
        display: grid;
        align-items: center;

        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 25px;
        padding-right: 35px;

        span {
            overflow: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &:nth-child(2) {
                justify-self: flex-end;
            }
        }
    }

    &.load-shipper {
        grid-template-columns: 331px 143px 80px;
        -moz-column-gap: 2px;
        column-gap: 2px;
        padding-right: 25px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 25px;

        span {
            &:nth-child(2),
            &:nth-child(3) {
                justify-content: flex-end;
            }

            &:nth-child(2) {
                span {
                    color: #919191 !important;

                    &.focusable-text {
                        color: #6f9ee0 !important;
                    }
                }
            }

            &:nth-child(3) {
                .multiple-input-text {
                    &.counter {
                        max-width: -webkit-max-content;
                        max-width: -moz-max-content;
                        max-width: max-content;
                        height: 18px;
                        border-radius: 30px;
                        text-align: center;
                        font-size: 11px;
                        font-weight: 400;
                        color: #919191;
                        background-color: rgb(145, 145, 145, 0.2);
                        padding: 1px 6px;
                        position: relative;
                        bottom: 1px;

                        &.counter-focus {
                            color: #6f9ee0;
                            background-color: rgb(111, 158, 224, 0.2);
                        }

                        &.counter-one {
                            max-width: none !important;
                            width: 19px !important;
                        }
                    }
                }
            }
        }

        span {
            span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    &.cursor-on-right-side {
        text-align: right;
        padding-right: 32px;
    }

    &.merged-dropdown {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;

        &::-webkit-input-placeholder {
            color: rgb(255, 255, 255, 0.4) !important;
        }

        &::-moz-placeholder {
            color: rgb(255, 255, 255, 0.4) !important;
        }

        &:-ms-input-placeholder {
            color: rgb(255, 255, 255, 0.4) !important;
        }

        &::-ms-input-placeholder {
            color: rgb(255, 255, 255, 0.4) !important;
        }

        &::placeholder {
            color: rgb(255, 255, 255, 0.4) !important;
        }
    }
    // -------------------
}

//------------------------- Input Number Hide Arrows -------------------------
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 !important;
}

input[type='number']::-webkit-inner-spin-button:hover,
input[type='number']::-webkit-outer-spin-button:hover,
input[type='number']::-webkit-inner-spin-button:focus,
input[type='number']::-webkit-outer-spin-button:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 !important;
}

// This is to hide number default
input[type='number'] {
    -moz-appearance: textfield !important;
}
input[type='number']:hover,
input[type='number']:focus {
    -moz-appearance: textfield !important;
}
