@import './ta-input.colors.scss';
//-------------------- Input Icon ---------------------
.input-icon {
    position: absolute;
    left: 6px;
    top: 45%;
    transform: translateY(-50%);
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease-in-out;

    svg-icon {
        svg {
            width: 18px;
            height: 18px;
        }
    }

    &.datetimeclass {
        z-index: 21;
    }

    &.default-svg-color {
        svg {
            path {
                fill: $default-placeholderIcon;
            }
        }
    }

    &.cursor-pointer {
        cursor: pointer;
    }

    &.hidden {
        display: none;
    }

    &::after {
        content: '';
        display: block;
        height: 16px;
        width: 1px;
        border-radius: 3px;
        background: $default-placeholderIcon-pipe;
        position: absolute;
        left: 24px;
        top: 56%;
        transform: translateY(-50%);
    }

    &.focus {
        svg {
            path {
                fill: $default-focus-placeholderIcon;
            }
        }

        text {
            fill: $default-focus-placeholderIcon;
        }

        &::after {
            background: $default-focus-placehilderIcon-pipe;
        }
    }

    &.valid-focus-in {
        svg {
            path {
                fill: $valid-focus-placeholderIcon !important;
            }
        }

        text {
            fill: $valid-focus-placeholderIcon !important;
        }

        &::after {
            background: $valid-focus-placeholderIcon-pipe !important;
        }
    }

    &.valid-focus-out {
        svg {
            path {
                fill: $valid-placeholderIcon !important;
            }
        }

        text {
            fill: $valid-placeholderIcon !important;
        }

        &::after {
            background-color: $valid-placeholderIcon-pipe !important;
        }
    }

    &.invalid-focus-in {
        svg {
            path {
                fill: $invalid-focus-placeholderIcon !important;
            }
        }

        text {
            fill: $invalid-focus-placeholderIcon !important;
        }

        &::after {
            background-color: $invalid-focus-placeholderIcon-pipe !important;
        }
    }

    &.invalid-focus-out {
        svg {
            path {
                fill: $invalid-placeholderIcon !important;
            }
        }

        text {
            fill: $invalid-placeholderIcon !important;
        }

        &::after {
            background: $invalid-placeholderIcon-pipe !important;
        }
    }

    &.inactive-empty {
        svg {
            path {
                fill: $inactive-empty-placeholderIcon;
            }
        }
    }

    &.inactive-filled {
        svg {
            path {
                fill: $inactive-filled-placeholderIcon;
            }
        }

        &::after {
            background-color: $inactive-filled-placeholderIcon-pipe;
        }
    }

    &.focus {
        svg {
            path {
                fill: $default-focus-placeholderIcon;
            }
        }

        &::after {
            background-color: $default-focus-placehilderIcon-pipe;
        }
    }

    //------------------------- Custom class -------------------------

    &.discolor-placeholder {
        svg {
            path {
                fill: $default-placeholderIcon;
            }
        }
    }

    &.repair-shop-open-hour {
        svg {
            path {
                fill: $default-placeholderIcon;
            }
        }
    }

    &.load-adjusted-rate {
        svg {
            path {
                fill: $default-placeholderIcon-yellow;
            }
        }
    }

    &.load-advance-rate {
        svg {
            path {
                fill: $default-placeholderIcon-green;
            }
        }
    }
}
