//-------------------- Input Password Eye --------------------
.input-password-eye {
  transition: all 0.3s ease-in-out;
  display: none;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 5px;
  top: 0;
  padding-top: 0px;
  display: none;

  svg {
    width: 18px;
    height: 18px;
    path {
      fill: #dadada;
    }
  }

  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    svg {
      path {
        fill: #f7f7f7;
      }
    }
  }

  &.visible {
    display: inline-block;
  }

  &.valid-focus-out {
    display: inline-block;

    svg {
      path {
        fill: #97a8dc;
      }
    }
  }

  &.invalid {
    svg {
      path {
        fill: #ffcdd2;
      }
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      svg {
        path {
          fill: #ffffff;
        }
      }
    }
  }

  //------------------------- Custom class -------------------------
  &.input-32 {
    top: 2.6px;
    padding-top: 1px;
  }

  &.input-30 {
    top: 2px;
  }
}
