@import "./ta-input.colors.scss";
//-------------------- Input Password Eye --------------------
.input-password-eye {
  transition: all 0.3s ease-in-out;
  display: none;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 5px;
  top: 0px;
  padding-top: 0px;

  svg {
    width: 18px;
    height: 18px;
    path {
      fill: $input-password-path-fill-normal;
    }
  }

  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    svg {
      path {
        fill: $input-password-path-fill-normal-hover;
      }
    }
  }

  &.visible {
    display: inline-block;
  }

  &.valid-focus-out {
    display: inline-block;

    svg {
      path {
        fill: $input-password-path-fill-valid;
      }
    }
  }

  &.invalid {
    svg {
      path {
        fill: $input-password-path-fill-invalid;
      }
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      svg {
        path {
          fill: $input-password-path-fill-invalid-hover;
        }
      }
    }
  }

  //------------------------- Custom class -------------------------
  &.input-32 {
    top: 2.6px;
    padding-top: 1px;
  }

  &.input-30 {
    top: 2px;
  }

  &.line-input-26 {
    top: 2px;
  }

  &.line-input-26-in-card {
    top: 1px;
  }
}
