@import "./ta-input.colors.scss";
.input-address-flag {
  position: absolute;
  top: 2px;
  right: 48px;
  width: 62px;
  height: 18px;
  background-color: $input-address-flag-background-color;
  color: $input-address-flag-text-color;
  text-align: center;
  border-radius: 2px;
  padding-top: 1px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;

  p {
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &:hover {
    background-color: $input-address-flag-background-color-hover;
    transition: all 0.3s ease-in-out;
  }
}
