@import "./ta-input.colors.scss";
//-------------------- Input Error --------------------
.input-error {
  position: absolute;
  top: 26px;
  left: 7px;
  color: $input-error-color;
  font-size: 11px;
  font-weight: 600;
  display: inline-block;

  &::-moz-selection {
    background-color: $input-error-background-selection;
    color: $input-error-color;
  }

  &::selection {
    background-color: $input-error-background-selection;
    color: $input-error-color;
  }

  //------------------------- Custom class -------------------------
  &.input-32 {
    top: 32px;
  }

  &.input-30 {
    top: 30px;
  }
}
