@import './ta-input.colors.scss';

.password-capslock {
    position: absolute;
    right: 5px;
    top: -16px;
    color: $input-password-capslock-color;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
