@import './ta-input.colors.scss';
// -------------------- Input Clear --------------------
.input-clear {
  position: absolute;
  right: 4px;
  top: 0px;
  border-radius: 1px;
  transition: all 0.3s ease-in-out;
  display: none;
  z-index: 10;
  cursor: pointer;

  &.datetimeclass {
    z-index: 22;
  }

  .input-clear-x {
    svg {
      width: 18px !important;
      height: 18px !important;
      overflow: visible;
      path {
        fill: $input-clear-path-fill-normal;
      }
      rect {
        transition: transform 0.3s;
        transform: scale(1);
        transform-origin: center;
      }
    }

    &:hover {
      svg {
        overflow: visible;
        rect {
          transform: scale(1.2);
          transform-origin: center;
          transition: transform 0.3s;
        }
      }
    }
  }

  &.valid-focus-in {
    display: inline-block;
    .input-clear-x {
      svg {
        path {
          fill: $input-clear-path-fill-valid-focus;
        }
        rect {
          fill: $input-clear-rect-fill-valid-focus !important;
        }
      }

      &:hover {
        svg {
          rect {
            fill: $input-clear-rect-fill-valid-focus-hover !important;
          }
        }
      }
    }
  }
  //  &.invalid-focus-in-required
  &.invalid-focus-in {
    display: inline-block;
    .input-clear-x {
      svg {
        path {
          fill: $input-clear-path-fill-invalid-focus;
        }
        rect {
          fill: $input-clear-rect-fill-invalid-focus;
        }
      }
      &:hover {
        svg {
          rect {
            fill: $input-clear-rect-fill-invalid-focus-hover;
          }
        }
      }
    }
  }

  // If dropdown
  &.dropdown-position,
  &.dropdown-position-image,
  &.dropdown-label-position,
  &.repair-m-pm {
    right: 27px !important;
    top: 0px;
  }

  &.incorrect-input {
    display: none;

    .input-clear-x {
      svg {
        path {
          fill: $input-clear-path-fill-incorrect !important;
        }
        rect {
          fill: $input-clear-rect-fill-incorrect !important;
        }
      }
      &:hover {
        display: inline-block;

        svg {
          path {
            fill: $input-clear-path-fill-incorrect-hover !important;
          }
          rect {
            fill: $input-clear-rect-fill-incorrect-hover !important;
          }
        }
      }
    }
  }

  &.incorrect-input-enabled {
    display: inline-block;
    .input-clear-x {
      svg {
        path {
          fill: $input-clear-path-fill-incorrect-enabled !important;
        }
        rect {
          fill: $input-clear-rect-fill-incorrect-enabled !important;
        }
      }

      &:hover {
        svg {
          path {
            fill: $input-clear-path-fill-incorrect-enabled !important;
          }
          rect {
            fill: $input-clear-rect-fill-incorrect-enabled !important;
          }
        }
      }
    }
  }

  &.visible-focus-password-invalid {
    display: inline-block;
    .input-clear-x {
      svg {
        path {
          fill: $input-clear-path-fill-invalid-focus !important;
        }
        rect {
          fill: $input-clear-rect-fill-invalid-focus !important;
        }
      }
      &:hover {
        svg {
          rect {
            fill: $input-clear-rect-fill-invalid-focus-hover !important;
          }
        }
      }
    }
  }

  //------------------------- Custom class -------------------------
  &.input-32 {
    top: 3.5px;
    right: 6px;
  }

  &.input-30 {
    top: 2px;
  }

  &.line-input-26 {
    top: 2px;
  }

  &.line-input-26-in-card {
    top: -0.5px;
  }

  &.focus {
    &.repair-shop-open-hour {
      display: inline-block;
      svg {
        path {
          fill: $input-clear-path-fill-normal-focus !important;
        }
        rect {
          fill: $input-clear-rect-fill-normal-focus !important;
        }
      }

      &:hover {
        svg {
          rect {
            fill: $input-clear-rect-fill-normal-focus-hover !important;
          }
        }
      }
    }
  }

  &.visible-focus-password {
    display: inline-block !important;
    svg {
      path {
        fill: $input-clear-path-fill-normal-focus !important;
      }
      rect {
        fill: $input-clear-rect-fill-normal-focus !important;
      }
    }

    &:hover {
      svg {
        rect {
          fill: $input-clear-rect-fill-normal-focus-hover !important;
        }
      }
    }
  }
}
