<div cdkDrag class="modal-container">
  <div cdkDragHandle class="modal-header">
    <div class="d-flex align-items-center">
      <h5 class="modal-title">{{ modalTitle }}</h5>
      <div class="multiple-choises-wrapper">
        <div class="wrap choice-wrapper">
          <div class="btn-group btn-group-toggle">
            <label class="btn-primary">
              <input (change)="companyOwned()" [(ngModel)]="companyOwnedStateControl" type="checkbox"/>
              Company owned
            </label>
          </div>
        </div>
      </div>
    </div>
    <svg-icon
      (click)="activeModal.dismiss('Modal close')"
      [svgStyle]="{ 'width.px': 16, 'height.px': 16 }"
      class="modal-close-btn cursor-pointer"
      src="assets/img/svgs/table/close.svg"
    ></svg-icon>
  </div>
  <div class="divider">
  </div>
  <div class="modal-body">
    <!-- <app-loading-modal *ngIf="!loaded"></app-loading-modal> -->
    <app-tab-switcher
      (switchClicked)="tabChange($event)"
      [tabs]="tabs"
    ></app-tab-switcher>

    <form
      (keydown)="keyDownFunction($event)"
      [formGroup]="truckForm"
      class="form-container has-tabs tabs-2{{ ' tab-' + selectedTab }}"
    >
      <div *ngIf="inputData.data.type == 'edit'" class="form-group d-flex align-items-center absolute-status mt-lg-3">
        <kendo-switch [checked]="truck?.status" formControlName="status"></kendo-switch>
      </div>

      <div class="single-tab-container">
        <div class="row">
          <div class="col-3">
            <div [ngClass]="inputText ? 'typing' : 'not-typing'" class="form-label-group input-icon input-holder {{
                      manageInputValidation(this.truckForm.controls.truckNumber)
                    }}">
              <input
                (keypress)="onUnitTyping($event)"
                (paste)="onPaste($event, 'truckNumber', 6)"
                [modalType]="inputData.data.type"
                (keyup)="onKeyUpMethod($event)"
                appAutoFocus
                class="form-control input-control name-input required"
                formControlName="truckNumber"
                id="truckNumber"
                maxLength="6"
                placeholder="Unit #"
              />
              <svg-icon
                class="valid-icon"
                src="../../../../../assets/img/form-validation/check-icon-light-blue.svg"
              >
              </svg-icon>

              <svg-icon
                class="x-invalid-icon"
                src="../../../../../assets/img/form-validation/x-icon-light-red.svg"
              >
              </svg-icon>

              <svg-icon
                (click)="clearInput($event)" class="clear-icon" ngbTooltip="Clear"
                placement="bottom-left"
                src="../../../../../assets/img/form-validation/x-icon-cut.svg"
              ></svg-icon>

              <label class="required-label" for="truckNumber">Unit #</label>
            </div>
          </div>
          <div class="col-9">
            <div class="form-label-group">
              <ng-select
                (change)="onTruckTypeChange($event)"
                [items]="truckTypes"
                appendTo="body"
                bindLabel="name"
                class="no-padding-dropdown required-field"
                formControlName="type"
                id="truck-type-dropdown"
                placeholder="Type"
              >
                <ng-template let-item="item" let-search="searchTerm" ng-option-tmp>
                  <div class="truck-type-dropdown-item {{ item.class }}">
                    <span class="type-image">
                      <svg-icon src="assets/img/svgs/truck/gray-icons/{{ item.file }}"></svg-icon>
                    </span>
                    <span [ngOptionHighlight]="search">{{ item.name }}</span>
                  </div>
                </ng-template>

                <ng-template let-item="item" ng-label-tmp>
                  <div class="value-label-container truck-type-dropdown-item {{ item.class }}">
                    <span class="type-image">
                      <svg-icon src="assets/img/svgs/truck/gray-icons/{{ item.file }}"></svg-icon>
                    </span>
                    <span>{{ item.name }}</span>
                  </div>
                </ng-template>

              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-label-group" [ngClass]="inputText ? 'typing' : 'not-typing'">

              <input
                #elementRef
                (focus)="addFocus(elementRef)"
                (keypress)="onVinTyping($event)"
                (keyup)="vinAutoComplete($event)"
                (paste)="onPaste($event, 'vin', 17)"
                [ngClass]="{ 'vin-loading': isVinLoading }"
                appInputFocus
                class="form-control uppercase input-control required"
                formControlName="vin"
                id="vin"
                maxLength="17"
                minLength="17"
                oninput="this.value = this.value.replace(/[ ]|^ /g,'')"
                placeholder="VIN"
              />
              <div class="icon-container">
                <i class="input-loader"></i>
              </div>
              <div (click)="clearInput($event)" class="clear-button" ngbTooltip="Clear" placement="bottom-left">
              </div>
              <label class="required-label" for="vin">VIN</label>
              <p *ngIf="truckForm.get('vin').hasError('minlength')" class="m-0 required-notice invalid-length">
                Invalid</p>
            </div>
          </div>
          <div class="col-6">
            <div class="form-label-group">
              <ng-select
                [items]="truckMakers"
                appendTo="body"
                bindLabel="name"
                class="required-field"
                formControlName="make"
                placeholder="Make"
              >
                <ng-template let-item="item" ng-option-tmp>
                  <span class="make-image">
                    <svg-icon src="assets/img/svgs/truck/makers/{{ item.file }}"></svg-icon>
                  </span>
                </ng-template>

                <ng-template let-item="item" ng-label-tmp>
                  <span class="value-label-container make-image">
                    <svg-icon src="assets/img/svgs/truck/makers/{{ item.file }}"></svg-icon>
                  </span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div [ngClass]="inputText ? 'typing' : 'not-typing'" class="form-label-group input-icon input-holder {{
                      manageInputValidation(this.truckForm.controls.model)
                    }}">
              <input
                (keypress)="onModelTyping($event)"
                (paste)="onPaste($event, 'model', 22)"
                [ngClass]="{ 'vin-loaded': isVinLoading }"
                (keyup)="onKeyUpMethod($event)"
                appInputFocus
                class="form-control input-control"
                formControlName="model"
                id="model"
                maxlength="22"
                placeholder="Model"
              />

              <svg-icon
                class="valid-icon"
                src="../../../../../assets/img/form-validation/check-icon-light-blue.svg"
              >
              </svg-icon>

              <svg-icon
                class="x-invalid-icon"
                src="../../../../../assets/img/form-validation/x-icon-light-red.svg"
              >
              </svg-icon>

              <svg-icon
                (click)="clearInput($event)" class="clear-icon" ngbTooltip="Clear"
                placement="bottom-left"
                src="../../../../../assets/img/form-validation/x-icon-cut.svg"
              ></svg-icon>

              <label class="required-label" for="model">Model</label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-label-group">
              <input
                #elementRef
                (blur)="removeFocus(elementRef)"
                (focus)="addFocus(elementRef)"
                (ngModelChange)="checkYear($event)"
                (keyup)="onKeyUpMethod($event)"
                [ngClass]="{ 'vin-loaded': isVinLoading }"
                class="form-control input-control required"
                formControlName="year"
                id="year"
                maxlength="4"
                placeholder="Year"
              />
              <div (click)="clearInput($event)" class="clear-button" ngbTooltip="Clear" placement="bottom-left">
              </div>
              <label class="required-label" for="year">Year</label>
            </div>
          </div>
          <div class="col-4">

            <div class="form-label-group">
              <ng-select
                (change)="onColorChange($event)"
                [items]="colors"
                appendTo="body"
                bindLabel="key"
                class="no-padding-dropdown"
                formControlName="color"
                id="colors-dropdown"
                placeholder="Color"
              >
                <ng-template let-item="item" let-search="searchTerm" ng-option-tmp>
                  <div class="color-dropdown-item {{ item.key.replace(' ', '-').toLowerCase() }}">
                    <span [ngOptionHighlight]="search">{{ item.key }}</span>
                  </div>
                </ng-template>
              </ng-select>
            </div>

          </div>
        </div>

        <div *ngIf="!companyOwnedStateControl" class="mb-0">
          <div class="row">
            <div class="col-6">
              <div class="form-label-group">
                <ng-select
                  (change)="changeOwner($event)"
                  (clear)="onClose($event)"
                  (close)="onClose($event)"
                  (search)="onSearch($event)"
                  [items]="owners"
                  [searchFn]="customSearch"
                  appendTo="body"
                  bindLabel="ownerName"
                  class="required-field has-add-new{{ (ownerSearchItems == 1) ? ' has-one-result' : '' }}"
                  formControlName="owner"
                  placeholder="Owner"
                  >
                  <ng-template let-item="item" let-search="searchTerm" ng-option-tmp>
                    <span [class]="{ 'd-none': !item.divisionFlag }">DC - </span>
                    <span [ngOptionHighlight]="search">{{ item.ownerName }}</span>
                  </ng-template>
                </ng-select>

              </div>
            </div>
            <div *ngIf="!division" class="col-6 slider-wrapper truck-slider-wrapper">
              <div class="comission-label-wrapper">
                <label class="note-label">Commission</label>
              </div>
              <ngx-slider
                [options]="sliderOptions"
                formControlName="commission"
                thumbLabel
              ></ngx-slider>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 note-wrapper{{ showNote ? ' visible-note' : ' hidden-note' }}">
            <div (click)="openNote()" class="note-label-wrapper">
              <span class="note-label">Note</span>
              <svg-icon
                class="down-icon"
                src="assets/img/svgs/down-arrow.svg"
              ></svg-icon>
            </div>
            <div class="example-full-width note-input{{ showNote ? ' note-visible' : ' note-hidden' }}">
                <textarea
                  #note
                  cdkAutosizeMaxRows="5"
                  cdkAutosizeMinRows="2"
                  cdkTextareaAutosize
                  class="input-custom-textarea form-textarea"
                  formControlName="note"
                  placeholder="Write a note."
                ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="single-tab-container">
        <div class="row">
          <div class="col-6">
            <div class="form-label-group">
              <ng-select
                [items]="grossWeight"
                appendTo="body"
                bindLabel="value"
                formControlName="truckGrossWeight"
                id="truckGrossWeight"
                placeholder="Gross Weight"
              >
              </ng-select>
              <ng-template let-item="item" let-search="searchTerm" ng-option-tmp>
                <span [ngOptionHighlight]="search">{{ item.value }}</span>
              </ng-template>
            </div>
          </div>
          <div class="col-6">
            <div class="form-label-group">
              <input
                appInputFocus
                class="form-control input-control"
                formControlName="emptyWeight"
                id="emptyWeight"
                mask="separator.2"
                maxlength="6"
                min="0"
                placeholder="Empty Weight"
                thousandSeparator=","
              />
              <label for="emptyWeight">Empty Weight</label>
            </div>
          </div>

          <div class="col-6">
            <div class="form-label-group">
              <ng-select
                [items]="truckEngines"
                appendTo="body"
                bindLabel="value"
                formControlName="engine"
                placeholder="Engine type"
              >
                <ng-template let-item="item" let-search="searchTerm" ng-option-tmp>
                  <span [ngOptionHighlight]="search">{{ item.value }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>

          <div class="col-4">
            <div class="form-label-group">
              <ng-select
                [items]="tireSizes"
                appendTo="body"
                bindLabel="value"
                formControlName="tireSize"
                placeholder="Tire size"
              >
                <ng-template let-item="item" let-search="searchTerm" ng-option-tmp>
                  <span [ngOptionHighlight]="search">{{ item.value }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>

          <div class="col-2">
            <div class="form-label-group">
              <input
                appInputFocus
                class="form-control input-control"
                formControlName="axises"
                id="axises"
                mask="0"
                placeholder="Axles"
                (keyup)="onKeyUpMethod($event)"
              />
              <div (click)="clearInput($event)" class="clear-button" ngbTooltip="Clear" placement="bottom-left">
              </div>
              <label for="axises">Axles</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-label-group">
              <input
                class="form-control input-control"
                formControlName="insurancePolicyNumber"
                id="insurancePolicyNumber"
                placeholder="Insurance Policy"
                (keyup)="onKeyUpMethod($event)"
              />
              <div (click)="clearInput($event)" class="clear-button" ngbTooltip="Clear" placement="bottom-left">
              </div>
              <label for="insurancePolicyNumber">Insurance Policy</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-label-group">
              <input
                appInputFocus
                class="form-control input-control"
                formControlName="mileage"
                id="mileage"
                mask="separator.2"
                maxlength="8"
                min="0"
                placeholder="Mileage"
                thousandSeparator=","
                (keyup)="onKeyUpMethod($event)"
              />
              <div (click)="clearInput($event)" class="clear-button" ngbTooltip="Clear" placement="bottom-left">
              </div>
              <label for="mileage">Mileage</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-label-group">
              <input
                (paste)="onPaste($event, 'ipasEzpass', 14)"
                class="form-control input-control"
                formControlName="ipasEzpass"
                id="ipasEzpass"
                maxlength="14"
                min="0"
                oninput="this.value = this.value.replace(/[ ]|^ /g,'')"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                placeholder="IPAS / EZPASS"
                (keyup)="onKeyUpMethod($event)"
              />
              <div (click)="clearInput($event)" class="clear-button" ngbTooltip="Clear" placement="bottom-left">
              </div>
              <label for="ipasEzpass">IPAS / EZPASS</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="cancel-btn">
      <p class="m-0" (click)="closeModal()">Cancel</p>
    </button>
    <button (click)="saveTruck()" [ngClass]="{'invalid-btn' : !truckForm.valid}" class="save-btn">
      <p class="m-0">Save</p>
    </button>
  </div>
</div>
