@import 'src/app/core/components/navigation/scss/navigation.design.scss';

.holder {
    position: relative;
    position: relative;
    height: 100%;

    .parent {
        height: auto;
        width: 238px;
        position: absolute;
        z-index: 0;
        height: 100%;
        left: 6px;
        .subroute-card {
            padding-left: 8px;
            border-radius: 2px;
            background: $nav-dark-bg;
            z-index: -1;
            max-height: 500px;
            transition: max-height 0.28s ease-in;
            left: 6px;
            height: 100%;
        }
        
        .slow-animatiton {
            transition: max-height 0.3s ease-out;
            background: rgba(170, 170, 170, 0.1);
        }
        .list-container {
            max-height: 500px;
            transition: max-height 0.3s ease-in;
            background: rgba(170, 170, 170, 0.1);
        }
    }
}
