<app-ta-custom-card
    [cardName]="'Assigned To'"
    [hasDivider]="false"
    [hasHeaderSvg]="'assets/svg/common/ic_half_time.svg'"
    [isCardOpen]="true"
    [bodyTemplate]="'card'"
>
    <div class="assign-to assign-to-container">
        <ng-container
            *ngIf="cardData?.assignedTo?.truckId; else noTruckAssigned"
        >
            <div class="assign-to-item">
                <div class="icon-text-wrapper-cmp">
                    <span
                        ngbTooltip
                        [mainTooltip]="cardData.assignedTo.truckType.name"
                        tooltipBackground="#424242"
                        position="bottom"
                        class="semi-tooltip typeDetails d-flex align-items-center"
                    >
                        <svg-icon
                            class="svg-fill-light-grey-2 svg-hover-bw6-2 svg-size-44-16"
                            [src]="
                                svgRoutes.truckSVG +
                                cardData.assignedTo.truckType.logoName
                            "
                        >
                        </svg-icon>
                    </span>

                    <span class="assign-to-value">{{
                        cardData.assignedTo.truckNumber
                    }}</span>
                </div>

                <span
                    ngbTooltip
                    mainTooltip="View Details"
                    tooltipBackground="#424242"
                    position="bottom"
                >
                    <svg-icon
                        class="open-modal-icon"
                        src="assets/svg/common/arrow_top_right.svg"
                    ></svg-icon>
                </span>
            </div>
        </ng-container>

        <ng-template #noTruckAssigned>
            <div class="assign-to-item">
                <span class="assign-to-value inactive-assign-to-value"
                    >No Truck</span
                >
            </div>
        </ng-template>

        <ng-container
            *ngIf="cardData?.assignedTo?.trailerId; else noTrailerAssigned"
        >
            <div class="assign-to-item">
                <div class="icon-text-wrapper-cmp">
                    <span
                        ngbTooltip
                        [mainTooltip]="cardData.assignedTo.trailerType.name"
                        tooltipBackground="#424242"
                        position="bottom"
                        class="semi-tooltip typeDetails d-flex align-items-center"
                    >
                        <svg-icon
                            class="svg-fill-light-grey-2 svg-hover-bw6-2 svg-size-44-16"
                            [src]="
                                svgRoutes.trailerSVG +
                                cardData.assignedTo.trailerType.logoName
                            "
                        ></svg-icon>
                    </span>

                    <span class="assign-to-value container-value">
                        {{ cardData?.assignedTo?.trailerNumber }}
                    </span>
                </div>

                <span
                    ngbTooltip
                    mainTooltip="View Details"
                    tooltipBackground="#424242"
                    position="bottom"
                >
                    <svg-icon
                        class="open-modal-icon2"
                        src="assets/svg/common/arrow_top_right.svg"
                    ></svg-icon>
                </span>
            </div>
        </ng-container>

        <ng-template #noTrailerAssigned>
            <div class="assign-to-item">
                <span class="assign-to-value inactive-assign-to-value"
                    >No Trailer</span
                >
            </div>
        </ng-template>
    </div>
</app-ta-custom-card>
