<div class="note-container {{ customClass }}">
   <div *ngIf="isVisibleDivider" class="divider"></div>
   <div
      class="note-header"
      [class.active]="_isVisibleNote && _isVisibleNote != 'null'"
   >
      <div class="note-label" (click)="openNote()">Note</div>
      <div
         class="note_tools_container"
         (click)="!_isVisibleNote || _isVisibleNote == 'null' ? openNote() : ''"
      >
         <app-ta-note-container
            [isExpanded]="_isVisibleNote && _isVisibleNote != 'null'"
            [range]="range"
            [selectionTaken]="selectionTaken"
            [value]="value"
            [popoverNote]="false"
            [selectedEditor]="noteRef?.nativeElement"
         ></app-ta-note-container>
      </div>
      <div class="note_upper_hold">
         <svg-icon
            *ngIf="isVisibleArrow"
            class="note-arrow"
            [ngClass]="{
               rotate: _isVisibleNote && _isVisibleNote != 'null'
            }"
            src="assets/svg/common/ic_arrow_down_updated.svg"
            (click)="openNote()"
         ></svg-icon>
      </div>
   </div>
   <div
      class="note-body"
      [ngClass]="noActive"
      #noteBody
      [@showHideCardBody]="{
         value: _isVisibleNote.toString(),
         params: animationMarginParams
      }"
   >
      <div
         #main_editor
         id="main_editor"
         placeholder="Write a note..."
         class="note-textarea"
         [class.details_textarea]="noteType == 'details-card'"
         contenteditable="true"
         (input)="changeValue($event.target.innerHTML)"
         (focus)="checkFocus($event)"
         (blur)="prepareForTextRange()"
         [innerHTML]="showNote | safeHtml"
      ></div>
      <div class="spinner" *ngIf="savingNote && noteType == 'details-card'">
         <app-ta-spinner [size]="'small'" [color]="'blueDark'"></app-ta-spinner>
      </div>
   </div>
</div>
