@import 'src/theme/variables.scss';

.note-container {
  display: block;

  .note-header {
    display: flex;
    align-items: center;
    line-height: 18px;
    padding: 0 6px;
    margin-top: 6px;
    margin-bottom: 3px;
    cursor: pointer;

    .note-label {
      font-weight: 800;
      font-size: 14px;
      color: #919191;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      flex: 1;
    }

    .note_upper_hold{
      display: flex;
      align-items: center;

      .note_tools_container{
        margin-right: 7px;
      }
    }

    .note-arrow {
      transition: all 0.3s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative;
      left: 1px;
      list-style: 15px;
    }
    .rotate {
      transform: rotate(180deg);
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      .note-label {
        color: #6c6c6c;
        transition: all 0.3s ease-in-out;
      }
    }

    &.active {
      margin-bottom: 12px;
      transition: all 0.3s ease-in-out;
      .note-label {
        color: #6c6c6c;
      }

      &:hover {
        .note-label {
          color: #3c3c3c;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  @keyframes growDown {
    0% {
      max-height: 0px;
      overflow: hidden;
    }
    100% {
      max-height: 600px;
      overflow: auto;
    }
  }

  .note-body {
    overflow: hidden;
    padding: 0 6px;
    transition: height 0.3s ease-in-out;

    &.unopened {
      height: 0px;
      transition: height 0.3s ease-in-out;
    }

    &.active {
      max-height: 600px;
    }
    .note-textarea {
      overflow: auto;
      line-height: 15px;
      min-height: 15px;
      margin-bottom: 9px;
      max-height: 75px;
      font-size: 12px;

      width: 100%;
      padding: 0;
      resize: none;
      color: #6C6C6C;
      border: none;
      box-shadow: none;
      outline: none;

      scrollbar-width: none !important; /* Firefox */

      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: 6px solid #e5e5e5;
        border-radius: 1px;
      }
      &::-webkit-scrollbar-track {
        padding: 0;
        position: relative;
        right: 0;
        top: 0;
        background: transparent;
      }

      &::-webkit-input-placeholder {
        color: #dadada !important;
      }

      &::-moz-placeholder {
        color: #dadada !important;
      }

      &:-ms-input-placeholder {
        color: #dadada !important;
      }

      &::-ms-input-placeholder {
        color: #dadada !important;
      }

      &::placeholder {
        color: #dadada !important;
      }

      &::-moz-selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
      }

      &::selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
      }

      span{
        &::-moz-selection {
          color: $bw6-2 !important;
          background: rgb(108, 108, 108, 0.2) !important;
        }
  
        &::selection {
          color: $bw6-2  !important;
          background: rgb(108, 108, 108, 0.2) !important;
        }
      }

      &:empty:before {
        content: attr(placeholder);
        color: #AAAAAA;
      }
    }
  }

  // Custom class
  &.note-small {
    .note-header {
      padding: 0px;
      .note-label {
        font-size: 14px;
        font-weight: 800;
        color: #6c6c6c;
      }
    }
    .note-body {
      padding: 0px;
    }
  }
}
