<div class="note-container {{ customClass }}">
  <div *ngIf="isVisibleDivider" class="divider"></div>
  <div class="note-header" (click)="openNote()">
    <span class="note-label">Note</span>
    <svg-icon
      *ngIf="isVisibleArrow"
      class="note-arrow"
      [ngClass]="{ rotate: isVisibleNote || getSuperControl.value }"
      src="assets/svg/common/ic_arrow-down.svg"
    ></svg-icon>
  </div>
  <div class="note-body" #noteBody [class.active]="isVisibleNote">
    <textarea
      #note
      appTextareaAutosize
      [rows]="minRows"
      [minRows]="minRows"
      [maxRows]="maxRows"
      [placeholder]="placeholder"
      class="note-textarea"
      (input)="onChange($event.target.value)"
    ></textarea>
  </div>
</div>
