@import 'src/theme/variables.scss';

.ta-input-radiobutons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bw2;
    padding: 4px;
    border-radius: 2px;
    position: relative;
    width: 100%;
    height: 26px;
    gap: 4px;

    &.disabled {
        background: #fbfbfb;
    }

    &.required {
        background: #e5737333;
    }

    .radio-button-label {
        width: 60px;
        height: 18px;
        cursor: pointer;
        border-radius: 2px;
        background: $bw2;
        font-size: 12px;
        text-align: center;
        font-weight: 700;

        &.checked {
            background-color: #ffffff !important;
            transition: all 0.3 ease-in-out !important;
        }

        &.no-checked {
            &:hover {
                .radio-button-text {
                    color: #424242 !important;
                    transition: all 0.3 ease-in-out !important;
                }
            }
        }

        &.disabled {
            pointer-events: none;

            &.checked {
                .radio-button:checked ~ .radio-button-text {
                    color: $ta-blue-18;
                }
            }

            &.no-checked {
                background: transparent;

                .radio-button-text {
                    color: #dadada;
                }
            }
        }

        &.required {
            background: transparent;
            transition: background 0.2s ease-in-out;

            .radio-button-text {
                color: #ef5350 !important;
            }

            &:hover {
                background: #fff;

                .radio-button-text {
                    color: #ef5350 !important;
                }
            }
        }

        .radio-button {
            appearance: none;
            outline: none;
        }

        .radio-button:checked ~ .radio-button-text {
            color: $ta-blue-18;
            transition: all 0.3 ease-in-out;
        }

        .radio-button-text {
            color: $ta-light-grey-2;
            user-select: none !important;
            position: relative;
            font-size: 11px;
            line-height: 14px;
        }
    }
}
