<app-ta-details-header
 [commonHeaderText]="headerTitle"
 [detailsHeaderText]="headerTextExm">
</app-ta-details-header>
<div class="truck-component">
        <div [ngSwitch]="data.template">
            <!---------------------------- GENERAL TEMPLATE ----------------------------->
            <div *ngSwitchCase="'general'">
                <div class="truck-wrapper">
                    <div class="truck-switcher">
                        <p class="truck-switcher-name">Unit 12345</p>
                        <div class="arrows">
                            <svg-icon src="assets/svg/common/arrow-left.svg">
                            </svg-icon>
                            <svg-icon class="arrow-right" src="assets/svg/common/arrow-right.svg"></svg-icon>
                        </div>
                    </div>
                    <div class="truck-container">
                        <div class="truck-avatar">
                            <svg-icon class="truck" src="assets/svg/common/semi-truck.svg">
                            </svg-icon>

                            <div class="model-name">
                                <svg-icon class="truck-model" src="assets/svg/common/chevrolet.svg"></svg-icon>
                                <p>Model Name XYZ</p>
                            </div>
                        </div>
                        <div class="truck-data">
                            <div class="truck-data-item">
                                <svg-icon src="assets/svg/common/vin.svg"></svg-icon>
                                <p class="vin-text font">4Y1SL65848Z411439</p>
                            </div>
                            <div class="truck-data-item second">
                                <svg-icon src="assets/svg/common/year-truck.svg"></svg-icon>
                                <p class="vin-text truck-data-item__text">2018</p>
                                <svg-icon src="assets/svg/common/light-green.svg"></svg-icon>
                                <p class="vin-text">Light Green</p>
                            </div>
                        </div>
                        <div class="border-line">
                        </div>
                        <div class="truck-data">
                            <div class="truck-data-item bottom">
                                <svg-icon src="assets/svg/common/date.svg"></svg-icon>
                                <p class="vin-text">08/03/20</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="truck-cards">
                    <!--------Assinged to--------->
                    <app-truck-details-card
                     [cardTemplate]="'assignedTo'"
                     [cardName]="'Assigned To'"
                     [cardImg]="'assets/svg/common/ic_half_time.svg'"
                     >
                    </app-truck-details-card>
                    <!--------Additonal Details--------->
                    <app-truck-details-card 
                    [cardTemplate]="'additionalInfo'" 
                    [cardName]="'Additional Details'">
                    </app-truck-details-card>
                    <!--------Owner--------->
                    <app-truck-details-card 
                     [cardTemplate]="'owner'"
                     [cardName]="'Owner'">
                    </app-truck-details-card>
                    <!--------Perfomane--------->
                    <app-truck-details-card 
                     [cardTemplate]="'perfomance'"
                     [cardName]="'Perfomance'">
                    </app-truck-details-card>
                     <!--------Fuel Consumption--------->
                     <app-truck-details-card 
                     [cardTemplate]="'fuel'"
                     [cardName]="'Fuel Consumption'"
                     [cardImg]="'assets/svg/common/arrow_top_right.svg'"
                     >
                    </app-truck-details-card>
                     <!--------Revenue--------->
                     <app-truck-details-card 
                     [cardTemplate]="'revenue'"
                     [cardName]="'Revenue'"
                     [cardImg]="'assets/svg/common/arrow_top_right.svg'"
                     >
                    </app-truck-details-card>
                     <!--------Revenue--------->
                     <app-truck-details-card 
                     [cardTemplate]="'owner_history'"
                     [cardImg]="'assets/svg/common/arrow_top_right.svg'"
                     [cardName]="'Owner History'">
                    </app-truck-details-card>
                    <!--------Nore--------->
                    <app-truck-details-card 
                     [cardTemplate]="'note'"
                     [cardName]="'Note'">
                    </app-truck-details-card>
                </div>
            </div>

        </div>
