@import "../truck-details.component.scss";

.truck-toolbar-plus {
  svg {
    rect {
      width: 18px;
      height: 18px;
      &:hover {
        cursor: pointer;
      }
    }
    #Rectangle_565255 {
      margin-right: 10px;
    }
  }
}

.fuel-item {
  margin-left: -5px;
}

// Note template

.truck-card-line {
  margin: 0;
  height: 2px;
  margin-top: 6px;
  margin-bottom: 8px;
  margin-right: -6px;
  margin-left: -6px !important;
  border-radius: 1px;
  background-color: $color-white-light;
}
.size18 {
  font-weight: $font-medium !important;
  font-size: $font-size18 !important;
}
.single-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  margin-bottom: 10px;
}
.icon {
  margin-left: 6px;
}


.driver-details-multiple-pdf {
  justify-content: center;
  .files-count {
    display: none;
  }
}
.details-page-row-5 {
  margin-top: 8px;
}
//   // PDF - big
.details-page-row-7 {
  height: 343px !important;
  width: 100%;
  margin: 12px 0px;
}
.note-item {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  height: 40px;
  .note-body{
    padding-left: 4px !important;
  }
  .note-textarea {
    color: #6c6c6c !important;
    font-weight: 400 !important;
    &::-moz-selection {
      color: $color-gray-dark;
      background: rgb(108, 108, 108, 0.2);
    }
    &::selection {
      color: $color-gray-dark;
      background: rgb(108, 108, 108, 0.2);
    }
  }
}
.files-item {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  margin-bottom: 16px;
}
.carousel-buttons-control {
  &.prev {
    left: -2px !important;
  }

  &.next {
    right: -2px !important;
  }
}

.acc-number {
  display: flex;
  align-items: center;
  .hidden-svg-eye {
    margin-left: 5px;
  }
}
.revenue {
  margin-left: 4px;
}
.bank-card {
  .header-text.no-counter{
    margin: 4px !important;
  }
}
.owner-history-container {
  padding: 0 10px;
  // margin-top: -7px;
  .status-container {
    padding-top: 0 !important;
  }
  .item-wrapper {
    grid-template-columns: 122px 132px 75px !important;
    .employment {
      font-weight: $font-semibold !important;
    }
  }
}
.note-wrapper{
  padding-left: 5px;
  padding-right: 9px;
  height: 40px;
  .note-body{
    padding-left: 4px !important;
    margin-top: 8px;
  }
  .note-textarea{
    color: #6c6c6c !important;
    &::-moz-selection {
      color: $color-gray-dark;
      background: rgb(108, 108, 108, 0.2);
    }
    &::selection {
      color: $color-gray-dark;
      background: rgb(108, 108, 108, 0.2);
    }
  }
}
.note-cards {
  .note-body {
    height: 23px !important;
    padding: 0 9px !important;
    .note-textarea {
      color: #6c6c6c !important;
      font-weight: 400 !important;
      &::-moz-selection {
        color: $color-gray-dark;
        background: rgb(108, 108, 108, 0.2);
      }
      &::selection {
        color: $color-gray-dark;
        background: rgb(108, 108, 108, 0.2);
      }
    }
  }
}