@import "../truck-details.component.scss";
::ng-deep .mat-button-toggle-label-content {
  line-height: 0px !important;
  font-size: $font-size12;
  font-weight: 700;
}

.truck-toolbar-plus {
  svg {
    rect {
      width: 18px;
      height: 18px;
      &:hover {
        cursor: pointer;
      }
    }
    #Rectangle_565255 {
      margin-right: 10px;
    }
  }
}

.state-issued-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 90px;
  margin-top: 12px;
  margin-bottom: 12px;
  .state-issued-wrapper {
    .state-issued-title {
      font-size: 12px;
      font-weight: 600;
      color: #6c6c6c;
    }
    .state-issued-title-item {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
.expiration-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
  justify-content: space-between;
  height: 18px;
  .expiration-wrapper {
    margin-bottom: 6px;
    .expiration-date {
      margin-right: 16px;
      p {
        font-size: 14px;
      }
    }
    .expiration-days {
      p {
        font-size: 14px;
      }
      .days {
        font-size: 14px !important;
        font-weight: 600 !important;
        color: #6c6c6c;
      }
    }
  }
}


.truck-details-wrapper {
  margin-left: 16px;
  .details-header-avatar {
    display: flex;
    align-items: center;
    height: 48px;
    margin-top: 14px;
    svg {
      &:hover {
        stroke: #7ea6f1;
      }
    }
    .model-name {
      flex-direction: column;
      margin-left: 12px;
      margin-top: 12px;
      p {
        font-size: 14px;
        font-weight: 500;
      }
      .svg-wrapper {
        height: 14px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 2px;
      }
      svg {
        fill: #aaaaaa;
        object-fit: fill;
      }
    }
  }
  .details-header-data {
    margin-top: 14px;
    .details-header-data-item {
      display: flex;
      height: 18px;
      align-items: center;
      p {
        font-size: 18px;
        color: #6c6c6c;
        font-weight: 400;
      }
    }
    .second {
      margin-top: 14px;
      margin-bottom: 14px;
      p {
        font-size: 14px !important;
        color: #6c6c6c;
        font-weight: 400;
      }
      .light-green {
        margin-left: 29px;
      }
      .date {
        margin-left: 8px !important;
      }
    }
  }
  .vin-text {
    margin-left: 6px;
  }
}
.assignTo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  .assignTo-item {
    background-color: $color-white-dark;
    border-radius: 3px;
    padding: 8px 6px;
    width: 202px;
    height: 34px;
    display: flex;
    align-items: center;
    .first {
      margin-right: 12px;
    }
    .assignTo-vehicle {
      margin-right: 6px;
      height: 18px;
      position: relative;
      bottom: 4px;
    }

    .assignTo-value {
      font-size: $font-size18;
      font-weight: 500;
      color: $color-gray-dark;

      &::-moz-selection {
        color: $color-gray-dark;
        background: rgb(183, 183, 183, 0.2);
      }
      &::selection {
        color: $color-gray-dark;
        background: rgb(183, 183, 183, 0.2);
      }
    }
    p {
      margin: 0 !important;
    }
  }
}


.perfomance {
  display: flex !important;
  flex-direction: column;
  .common-template-item-name {
    font-size: $font-size14 !important;
    font-weight: $font-semibold !important;
  }
  .common-template-item-value {
    font-size: $font-size18 !important;
    font-weight: $font-semibold !important;
  }
}
.fuel-item {
  margin-left: -5px;
}
mat-button-toggle-group {
  width: 416px;
  height: 26px;
  display: flex;
  justify-content: space-around;
  background: #f3f3f3;
  box-shadow: none !important;
  border-radius: 2px;
}
mat-button-toggle {
  width: 67px;
  height: 22px;
  margin: 2px;
  color: #b7b7b7 !important;
  font-weight: 700;
}

.mat-button-toggle-checked {
  background-color: #ffffff;
  color: #536bc2 !important;
}

// Note template
.note {
  font-size: $font-size14;
  color: $color-gray-dark;
  width: 408px;
  height: 36px;
  margin-bottom: 17px;
  margin-left: 4px;
  p {
    margin: 0;
  }
  .note-item {
    &::-moz-selection {
      color: $color-gray-dark;
      background: rgb(183, 183, 183, 0.2);
    }
    &::selection {
      color: $color-gray-dark;
      background: rgb(183, 183, 183, 0.2);
    }
  }
}

.owner-history-wrapper {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
  .owner-history-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    margin-bottom: 6px;
    margin-left: 4px;
    .title {
      color: #919191;
      font-size: $font-size14;
      font-weight: 700;
    }
  }
  .owner-history-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    margin-top: 6px;
    margin-bottom: 8px;
    margin-left: 4px;
    .company {
      color: #6c6c6c;
      font-size: $font-size14;
      font-weight: $font-semibold;
      width: 141px;
    }
    .from {
      font-size: $font-size14;
      font-weight: 400;
      width: 144px;
      color: #6c6c6c;
      text-align: center;
    }
    .duration {
      width: 79px;
      text-align: end;
    }
  }
  .owner-history-bottom {
    margin-bottom: 16px !important;
  }
}

.truck-card-line {
  margin: 0;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  background-color: $color-white-light;
}
.size18 {
  font-weight: $font-medium !important;
  font-size: $font-size18 !important;
}
.single-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  margin-bottom: 10px;
}
.icon {
  margin-left: 6px;
}

.divider {
  margin: 0;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background-color: #f3f3f3;
}

.driver-details-multiple-pdf {
  justify-content: center;
  .files-count {
    display: none;
  }
}
.details-page-row-5 {
  margin-top: 8px;
}
//   // PDF - big
.details-page-row-7 {
  height: 343px !important;
  width: 100%;
  margin: 12px 0px;
}
.note-item {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-right: 16px;
}
.files-item {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
}
.carousel-buttons-control {
  &.prev {
    left: -2px!important;
  }

  &.next {
    right: -2px !important;
  }
}

.acc-number {
  display: flex;
  align-items: center;
  .hidden-svg-eye {
    margin-left: 5px;
  }
}
.revenue{
  margin-left: 4px;
}
.bank-card{
  margin-left: 12px;
}