<app-ta-custom-scrollbar
    [scrollBarOptions]="{
        showVerticalScrollBar: true,
        showHorizontalScrollBar: false
    }"
>
    <div cdkDrag class="modal-container {{ customClass }}" ngBAutofocus>
        <div class="modal-original-part {{ partClass }}">
            <!-- Modal Header -->

            <div
                cdkDragHandle
                class="modal-header d-flex justify-content-between"
            >
                <div
                    class="modal-header-leftside"
                    [ngClass]="{ 'confirmation-modal': confirmationData }"
                >
                    <!-- Haeder tabs -->
                    <ng-container *ngIf="tabChange">
                        <div
                            class="modal-header-tab-change"
                            [ngClass]="{
                                'modal-header-tab-change-reorder':
                                    tabChangePosition === 'right'
                            }"
                        >
                            <app-ta-tab-switch
                                [tabs]="tabChange"
                                (switchClicked)="onTabChange($event)"
                                [type]="'type2-modal-popup'"
                            ></app-ta-tab-switch>
                        </div>
                    </ng-container>

                    <!-- Header svg -->
                    <ng-container *ngIf="headerSvg">
                        <svg-icon
                            src="assets/svg/common/confirmation/ic_confirmation_{{
                                headerSvg
                            }}.svg"
                            class="modal-header-svg"
                        ></svg-icon>
                    </ng-container>

                    <!-- Header title -->
                    <h5 class="modal-title">{{ modalTitle }}</h5>

                    <!-- Header name -->
                    <ng-container
                        *ngIf="
                            (editData?.type?.includes('edit') ||
                                specificCaseModalName) &&
                            editName
                        "
                    >
                        <h5 class="edit-name">
                            {{ editName }}
                        </h5>
                    </ng-container>

                    <ng-container *ngIf="isCardsModal">
                        <h5 class="edit-name">
                            {{ cardsSecTitle }}
                        </h5>
                    </ng-container>

                    <ng-container
                        *ngIf="showCounter && confirmationData?.array?.length"
                    >
                        <div
                            class="modal-header-counter d-flex align-items-center justify-content-center ta-font-extra-bold"
                        >
                            {{ confirmationData.array.length }}
                        </div>
                    </ng-container>

                    <ng-container *ngIf="hasSearch">
                        <div class="d-flex align-items-center">
                            <div class="modal-date-border"></div>
                            <span>
                                <app-ca-search-multiple-states
                                    [searchType]="'tabel'"
                                    [toolbarSearch]="true"
                                    [selectedTabData]="{
                                        gridNameTitle: modalTitle
                                    }"
                                ></app-ca-search-multiple-states>
                            </span>
                        </div>
                    </ng-container>
                </div>

                <div class="modal-header-rightside">
                    <ng-container
                        *ngIf="
                            editDate &&
                            (editData.data?.createdAt ||
                                editData.data?.updatedAt)
                        "
                    >
                        <div
                            ngbTooltip
                            mainTooltip="Added    {{
                                editData.data.createdAt | formatDateP
                            }} <br> Edited    {{
                                editData.data.updatedAt | formatDateP
                            }}"
                            tooltipBackground="#424242"
                            position="bottom"
                            class="modal-date-logo"
                        >
                            <svg-icon
                                src="assets/svg/common/date.svg"
                            ></svg-icon>
                        </div>
                        <div class="modal-date-border"></div>
                    </ng-container>
                    <!-- Hazardous Logo -->

                    <ng-container *ngIf="isVisibleHazardous">
                        <div
                            [ngClass]="{ active: hazardousVisibility }"
                            class="d-flex align-items-center justify-content-center modal-header-load-map-button"
                        >
                            <svg-icon
                                src="assets/svg/common/ic_hazardous.svg"
                                class="modal-hazardous-logo"
                                (click)="toggleAdditionalPart('hazardous')"
                            ></svg-icon>
                        </div>
                    </ng-container>

                    <!-- Load Map Button -->

                    <ng-container *ngIf="isVisibleMap">
                        <div
                            ngbTooltip
                            mainTooltip="Open Map"
                            tooltipBackground="#424242"
                            position="bottom"
                            class="d-flex align-items-center justify-content-center modal-header-load-map-button"
                            [ngClass]="{ active: mapVisibility }"
                            (click)="toggleAdditionalPart('map')"
                        >
                            <svg-icon
                                src="assets/svg/common/load/ic_load_map.svg"
                            ></svg-icon>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="hasFutureTimeFilter">
                        <div class="me-1">
                            <app-ca-filter
                                [type]="'timeFilter'"
                                [icon]="'ic_time'"
                                [filterTitle]="'Time Filter'"
                                [timeSubType]="'future'"
                                (setFilter)="setFilterValue($event)"
                                (clearAll)="setFilterValue($event)"
                            >
                            </app-ca-filter>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="hasTimeFilter">
                        <div class="me-1">
                            <app-ta-filter
                                [type]="'timeFilter'"
                                [icon]="'ic_time'"
                                [filterTitle]="'Time Filter'"
                                (setFilter)="setFilterValue($event)"
                            >
                            </app-ta-filter>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="hasDispatcherFilter">
                        <div class="me-1">
                            <app-ta-filter
                                [type]="'userFilter'"
                                [searchState]="true"
                                [filterTitle]="'Dispatcher Filter'"
                                [defFilterHolder]="true"
                                (setFilter)="setFilterValue($event)"
                            >
                            </app-ta-filter>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="hasTruckTypeFilter">
                        <div class="me-1">
                            <app-ta-filter
                                [type]="'truckFilter'"
                                [icon]="'truck'"
                                [filterTitle]="'Truck Type Filter'"
                                [defFilterHolder]="true"
                                [noLeftIcon]="true"
                                [isAssignLoadModal]="isAssignLoadModal"
                                [isDispatchFilter]="!isAssignLoadModal"
                                [isRepairFilter]="false"
                                (setFilter)="setFilterValue($event)"
                            >
                            </app-ta-filter>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="hasTrailerTypeFilter">
                        <div class="me-1">
                            <app-ta-filter
                                [type]="'trailerFilter'"
                                [icon]="'trailer'"
                                [filterTitle]="'Trailer Type Filter'"
                                [defFilterHolder]="true"
                                [noLeftIcon]="true"
                                [isAssignLoadModal]="isAssignLoadModal"
                                [isDispatchFilter]="!isAssignLoadModal"
                                [isRepairFilter]="false"
                                (setFilter)="setFilterValue($event)"
                            >
                            </app-ta-filter>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="hasLocationFilter">
                        <div class="me-1">
                            <app-ta-filter
                                [type]="'locationFilter'"
                                [icon]="'address'"
                                [filterTitle]="'Area Filter'"
                                [areaFilter]="areaFilter"
                                [locationDefType]="true"
                                (setFilter)="setFilterValue($event)"
                            >
                            </app-ta-filter>
                        </div>
                    </ng-container>

                    <!-- Assign load modal on dispatch board -->
                    <ng-container *ngIf="isAssignLoadModal">
                        <div
                            ngbTooltip
                            mainTooltip="Side Panel"
                            tooltipBackground="#424242"
                            position="bottom"
                            class="d-flex align-items-center justify-content-center modal-header-load-map-button"
                            [ngClass]="{
                                active: isAdditionalAssignLoadModalVisible
                            }"
                            (click)="toggleAdditionalPart('side-panel')"
                        >
                            <svg-icon
                                src="assets/svg/common/load/ic_side-panel.svg"
                            ></svg-icon>
                        </div>
                    </ng-container>

                    <!-- Stepper -->

                    <ng-container *ngIf="isStepper">
                        <div
                            class="d-flex align-items-center stepper-container"
                        >
                            <p class="m-0 ta-font-bold">
                                STEP
                                {{
                                    stepperCounter === 1
                                        ? '2'
                                        : stepperCounter === 2
                                        ? '3'
                                        : '1'
                                }}
                                OF 3
                            </p>

                            <div class="stepper">
                                <div
                                    class="stepper-inner"
                                    [ngStyle]="{
                                        width:
                                            stepperCounter === 1
                                                ? '66.66%'
                                                : stepperCounter === 2
                                                ? '100%'
                                                : '33%'
                                    }"
                                ></div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Header close -->

                    <ng-container *ngIf="!isCloseIconRemoved">
                        <svg-icon
                            class="modal-close"
                            src="assets/svg/ic_x.svg"
                            (click)="onAction('close')"
                        ></svg-icon>
                    </ng-container>
                </div>
            </div>

            <!-- Divider top -->

            <ng-container *ngIf="topDivider && !isCardsModal">
                <div class="divider"></div>
            </ng-container>

            <ng-container *ngIf="isCardsModal">
                <div class="divider card-divider"></div>
            </ng-container>

            <!-- Modal body -->

            <div class="modal-body">
                <!-- Modal content -->

                <ng-content select="[origin]"></ng-content>

                <!-- Divider bottom -->

                <ng-container *ngIf="bottomDivider && !isCardsModal">
                    <div class="divider"></div>
                </ng-container>

                <ng-container *ngIf="isCardsModal">
                    <div class="divider divider-bottom card-divider"></div>
                </ng-container>
            </div>

            <!-- Modal footer Normal -->

            <ng-container
                *ngIf="!disableFooter && !confirmationData && !isCardsModal"
            >
                <div
                    class="modal-footer d-flex"
                    cdkDragHandle
                    [ngClass]="{
                        'mutliple-buttons': editData?.type?.includes('edit'),
                        'load-template': loadModalTemplate,
                        'map-settings-template':
                            mapSettingsModal || mapRouteModal,
                        'justify-content-between':
                            editData?.type?.includes('edit') ||
                            loadModalTemplate ||
                            mapSettingsModal ||
                            isAssignLoadModal ||
                            mapRouteModal,
                        'justify-content-end': !(
                            editData?.type?.includes('edit') ||
                            loadModalTemplate ||
                            mapSettingsModal ||
                            mapRouteModal
                        )
                    }"
                >
                    <!-- Footer Left Side -->
                    <ng-container
                        *ngIf="
                            editData?.type?.includes('edit') ||
                            loadModalTemplate ||
                            mapSettingsModal ||
                            mapRouteModal ||
                            isAssignLoadModal
                        "
                    >
                        <div
                            class="ta-modal-footer-left-side d-flex justify-content-start"
                        >
                            <!-- Delete -->

                            <ng-container
                                *ngIf="
                                    !disableDelete &&
                                    !resendEmail &&
                                    !loadModalTemplate &&
                                    !mapSettingsModal &&
                                    !mapRouteModal &&
                                    !isFinishOrder &&
                                    !isAssignLoadModal
                                "
                            >
                                <button
                                    (click)="onAction('delete')"
                                    class="modal-delete-btn"
                                    type="button"
                                >
                                    Delete
                                </button>
                            </ng-container>

                            <!-- Void CDL Btn -->

                            <ng-container *ngIf="isVoidBtn">
                                <button
                                    (click)="onAction('void')"
                                    class="ta-font-bold modal-deactivate-btn"
                                    type="button"
                                >
                                    Void
                                </button>
                            </ng-container>

                            <ng-container *ngIf="showCloseBusinessButton">
                                <button
                                    (click)="onAction('CLOSE_BUSINESS')"
                                    class="modal-deactivate-btn"
                                    type="button"
                                >
                                    Close Business
                                </button>
                            </ng-container>

                            <!-- Map Settings Reset -->

                            <ng-container
                                *ngIf="
                                    (mapSettingsModal || mapRouteModal) &&
                                    resetMapVisibility
                                "
                            >
                                <button
                                    (click)="onAction('reset-map-routing')"
                                    class="modal-map-settings-reset-btn"
                                    type="button"
                                >
                                    Reset
                                </button>
                            </ng-container>

                            <!-- Resend Email -->

                            <ng-container *ngIf="resendEmail">
                                <button
                                    (click)="onAction('resend email')"
                                    class="modal-resend-email-btn"
                                    type="button"
                                >
                                    {{
                                        resendEmailSpinnerVisibility
                                            ? 'Sending'
                                            : 'Resend Application Email'
                                    }}

                                    <ng-container
                                        *ngIf="resendEmailSpinnerVisibility"
                                    >
                                        <div class="modal-spinner">
                                            <app-ta-spinner
                                                [size]="'small'"
                                                [color]="'white'"
                                            ></app-ta-spinner>
                                        </div>
                                    </ng-container>
                                </button>
                            </ng-container>

                            <!-- Deactivated -->

                            <ng-container
                                *ngIf="
                                    editData?.disableButton &&
                                    !isDisableButtonHidden
                                "
                            >
                                <button
                                    (click)="onAction('deactivate')"
                                    class="modal-deactivate-btn"
                                    type="button"
                                >
                                    {{
                                        isDeactivated
                                            ? 'Activate'
                                            : 'Deactivate'
                                    }}
                                </button>
                            </ng-container>

                            <!-- DNU -->

                            <ng-container *ngIf="editData?.dnuButton">
                                <button
                                    (click)="onAction('dnu')"
                                    class="modal-deactivate-btn"
                                    type="button"
                                >
                                    {{
                                        isDNU
                                            ? 'Remove from DNU'
                                            : 'Move to DNU'
                                    }}
                                </button>
                            </ng-container>

                            <!-- BFB -->

                            <ng-container *ngIf="editData?.bfbButton">
                                <button
                                    (click)="onAction('bfb')"
                                    class="modal-deactivate-btn"
                                    type="button"
                                >
                                    {{
                                        isBFB
                                            ? 'Remove from BFB'
                                            : 'Move to BFB'
                                    }}
                                </button>
                            </ng-container>

                            <!-- Convert to Template -->

                            <ng-container
                                *ngIf="
                                    loadModalTemplate &&
                                    !isConvertedToTemplate &&
                                    !editData &&
                                    !cardsModal
                                "
                            >
                                <button
                                    (click)="onAction('convert-to-template')"
                                    class="d-flex align-items-center ta-font-bold modal-convert-to-template-btn"
                                    type="button"
                                >
                                    Convert to Template
                                </button>
                            </ng-container>

                            <!-- Convert back to load -->
                            <ng-container
                                *ngIf="
                                    loadModalTemplate &&
                                    isConvertedToTemplate &&
                                    !editData &&
                                    !cardsModal
                                "
                            >
                                <button
                                    (click)="onAction('convert-to-load')"
                                    class="d-flex align-items-center ta-font-bold modal-convert-to-template-btn"
                                    type="button"
                                >
                                    Convert to Load
                                </button>
                            </ng-container>

                            <ng-container
                                *ngIf="
                                    editData?.finishOrderBtn && !isFinishOrder
                                "
                            >
                                <button
                                    (click)="onAction('finish-order')"
                                    class="d-flex align-items-center justify-content-center ta-font-bold modal-finish-order-btn"
                                    type="button"
                                >
                                    Finish Order
                                </button>
                            </ng-container>

                            <ng-container *ngIf="isAssignLoadModal">
                                <button
                                    (click)="onAction('assign-create-load')"
                                    class="d-flex align-items-center ta-font-bold dispatch-create-load"
                                    type="button"
                                    [ngClass]="
                                        isReorderingActive
                                            ? 'modal-save-btn'
                                            : 'modal-convert-to-template-btn'
                                    "
                                >
                                    Create Load
                                </button>
                            </ng-container>
                        </div>
                    </ng-container>

                    <!-- Footer right side -->

                    <div
                        class="ta-modal-footer-right-side d-flex justify-content-end"
                    >
                        <!-- Save and Add New button -->

                        <ng-container *ngIf="saveAndAddNew">
                            <button
                                (click)="onAction('save and add new')"
                                class="d-flex align-items-center justify-content-center ta-font-bold modal-save-btn modal-save-btn-add-new"
                                [ngClass]="{ valid: isModalValid }"
                                type="button"
                                [ngStyle]="{
                                    'pointer-events':
                                        enableClickWhileFormInvalid ||
                                        isModalValid
                                            ? 'all'
                                            : 'none'
                                }"
                            >
                                {{
                                    saveAddNewSpinnerVisibility
                                        ? 'Saving'
                                        : customTextSaveAndAddNew
                                        ? customTextSaveAndAddNew
                                        : 'Save and Add New'
                                }}
                                <ng-container
                                    *ngIf="saveAddNewSpinnerVisibility"
                                >
                                    <div class="modal-spinner">
                                        <app-ta-spinner
                                            [size]="'small'"
                                            [color]="'white'"
                                        ></app-ta-spinner>
                                    </div>
                                </ng-container>
                            </button>
                        </ng-container>

                        <!-- Set Map Settings -->

                        <ng-container *ngIf="mapSettingsModal">
                            <button
                                (click)="onAction('set-map-settings')"
                                class="d-flex align-items-center justify-content-center ta-font-bold modal-save-btn"
                                [ngClass]="{ valid: isModalValid }"
                                type="button"
                            >
                                {{
                                    setMapSettingsSpinnerVisibility
                                        ? 'Saving'
                                        : 'Save'
                                }}

                                <ng-container
                                    *ngIf="setMapSettingsSpinnerVisibility"
                                >
                                    <div class="modal-spinner">
                                        <app-ta-spinner
                                            [size]="'small'"
                                            [color]="'white'"
                                        ></app-ta-spinner>
                                    </div>
                                </ng-container>
                            </button>
                        </ng-container>

                        <!-- Create Map Route -->

                        <ng-container *ngIf="mapRouteModal">
                            <button
                                (click)="onAction('create-map-route')"
                                class="d-flex align-items-center justify-content-center ta-font-bold modal-save-btn"
                                [ngClass]="{ valid: isModalValid }"
                                type="button"
                            >
                                {{
                                    setMapRouteSpinnerVisibility
                                        ? 'Saving'
                                        : editData.id
                                        ? 'Save Changes'
                                        : 'Save'
                                }}

                                <ng-container
                                    *ngIf="setMapRouteSpinnerVisibility"
                                >
                                    <div class="modal-spinner">
                                        <app-ta-spinner
                                            [size]="'small'"
                                            [color]="'white'"
                                        ></app-ta-spinner>
                                    </div>
                                </ng-container>
                            </button>
                        </ng-container>

                        <!-- Stepper -->

                        <ng-container *ngIf="isStepper && stepperCounter">
                            <button
                                (click)="onAction('stepper-back')"
                                class="d-flex align-items-center justify-content-center ta-font-bold modal-stepper-back-btn"
                                type="button"
                            >
                                Back
                            </button>
                        </ng-container>

                        <ng-container *ngIf="isStepper && stepperCounter !== 2">
                            <button
                                (click)="onAction('stepper-next')"
                                class="d-flex align-items-center justify-content-center ta-font-bold modal-save-btn"
                                [ngClass]="{ valid: isModalValid }"
                                type="button"
                            >
                                Next
                            </button>
                        </ng-container>

                        <ng-container *ngIf="isStepper && stepperCounter === 2">
                            <button
                                (click)="onAction('stepper-save')"
                                class="d-flex align-items-center justify-content-center ta-font-bold modal-save-btn"
                                [ngClass]="{ valid: isModalValid }"
                                type="button"
                            >
                                Finish

                                <ng-container *ngIf="saveSpinnerVisibility">
                                    <div class="modal-spinner">
                                        <app-ta-spinner
                                            [size]="'small'"
                                            [color]="'white'"
                                        ></app-ta-spinner>
                                    </div>
                                </ng-container>
                            </button>
                        </ng-container>

                        <!-- Save button -->

                        <ng-container
                            *ngIf="
                                !mapSettingsModal &&
                                !mapRouteModal &&
                                !isStepper &&
                                !isCardsModal &&
                                !isAssignLoadModal
                            "
                        >
                            <button
                                appPreventMultipleclicks
                                [cooldownDuration]="500"
                                (cooldownComplete)="onAction('save')"
                                class="d-flex align-items-center justify-content-center ta-font-bold modal-save-btn"
                                [ngClass]="{ valid: isModalValid }"
                                type="button"
                                [ngStyle]="{
                                    'pointer-events':
                                        enableClickWhileFormInvalid ||
                                        isModalValid
                                            ? 'all'
                                            : 'none'
                                }"
                            >
                                {{
                                    profileUpdateText
                                        ? saveSpinnerVisibility
                                            ? 'Saving'
                                            : 'Save Changes'
                                        : applicantText
                                        ? saveSpinnerVisibility
                                            ? 'Inviting'
                                            : 'Invite'
                                        : saveSpinnerVisibility
                                        ? 'Saving'
                                        : editData?.type?.includes('edit') ||
                                          editData?.type?.includes('payroll')
                                        ? isFinishOrder
                                            ? 'Finish'
                                            : 'Save Changes'
                                        : 'Save'
                                }}

                                <ng-container *ngIf="saveSpinnerVisibility">
                                    <div class="modal-spinner">
                                        <app-ta-spinner
                                            [size]="'small'"
                                            [color]="'white'"
                                        ></app-ta-spinner>
                                    </div>
                                </ng-container>
                            </button>
                        </ng-container>

                        <ng-container *ngIf="isAssignLoadModal">
                            <button
                                (click)="onAction('assign-save-and-assign-new')"
                                class="d-flex align-items-center justify-content-center ta-font-bold modal-save-btn modal-save-btn-add-new"
                                [ngClass]="{ valid: isModalValid }"
                                type="button"
                            >
                                Save & Assign New
                            </button>
                            <button
                                (click)="onAction('assign-save-changes')"
                                class="d-flex align-items-center justify-content-center ta-font-bold modal-save-btn"
                                [ngClass]="{ valid: isModalValid }"
                                type="button"
                            >
                                Save Changes
                            </button>
                        </ng-container>
                    </div>
                </div>
            </ng-container>

            <!-- Modal footer for cards -->

            <ng-container *ngIf="isCardsModal">
                <div
                    class="modal-footer modal-footer-cards d-flex justify-content-between"
                >
                    <!-- Footer Left Side Cards-->

                    <div
                        class="ta-modal-footer-left-side d-flex justify-content-start"
                    >
                        <!-- Cards buttons reset and save -->
                        <button
                            (click)="onAction('reset-to-default')"
                            class="d-flex align-items-center justify-content-center ta-font-bold modal-convert-to-template-btn modal-reset-to-default"
                            type="button"
                            [ngClass]="{ 'valid-reset': isResetFormCards }"
                        >
                            Reset to Default
                        </button>
                    </div>

                    <!-- Footer right side Cards-->

                    <div
                        class="ta-modal-footer-right-side d-flex justify-content-end"
                    >
                        <button
                            (click)="onAction('cards-modal')"
                            class="d-flex align-items-center justify-content-center ta-font-bold modal-save-btn"
                            type="button"
                            [ngClass]="{ valid: isModalValid }"
                        >
                            Save Changes
                        </button>
                    </div>
                </div>
            </ng-container>

            <!-- Modal Footer Confirmation Modal -->
            <ng-container *ngIf="confirmationData">
                <div class="modal-footer mutliple-buttons">
                    <!-- Cancel -->

                    <ng-container
                        *ngIf="
                            confirmationData.subType !== 'cdl void' &&
                            confirmationData.type !== 'status'
                        "
                    >
                        <button
                            (click)="onAction('close')"
                            class="ta-font-bold modal-cancel-btn"
                            [ngClass]="{
                                'active-cancel-btn': [
                                    'fuel stop',
                                    'contact',
                                    'reset modal',
                                    'user',
                                    'truck',
                                    'owner',
                                    'repair',
                                    'repair_shop',
                                    'info',
                                    'repair-detail',
                                    'repair-review',
                                    'broker',
                                    'shipper',
                                    'registration',
                                    'title',
                                    'inspection',
                                    'void',
                                    'trailer',
                                    'Driver',
                                    'driver',
                                    'medical',
                                    'test',
                                    'mvr',
                                    'cdl',
                                    'load',
                                    'comment',
                                    'Company Terminal',
                                    'Company Parking',
                                    'Company Office',
                                    'delete-review'
                                ].includes(confirmationData?.template)
                            }"
                            type="button"
                        >
                            No
                        </button>
                    </ng-container>

                    <ng-container
                        *ngIf="
                            confirmationData.subType === 'cdl void' ||
                            confirmationData.type === 'status'
                        "
                    >
                        <button
                            (click)="onAction('close')"
                            class="ta-font-bold modal-cancel-btn"
                            [ngClass]="{
                                'active-cancel-btn':
                                    ['cdl'].includes(
                                        confirmationData?.template
                                    ) || confirmationData.type === 'status'
                            }"
                            type="button"
                        >
                            Cancel
                        </button>
                    </ng-container>

                    <ng-container *ngIf="confirmationData.type === 'status'">
                        <button
                            (click)="onAction('change-status')"
                            class="ta-font-bold modal-delete-btn modal-gray-btn modal-confirmation-btn"
                            type="button"
                            [ngClass]="{ 'not-clickable': !isModalValid }"
                        >
                            Change Status
                        </button>
                    </ng-container>

                    <!-- Delete -->
                    <ng-container
                        *ngIf="
                            [
                                'delete',
                                'multiple delete',
                                'reset',
                                'void'
                            ].includes(confirmationData?.type)
                        "
                    >
                        <button
                            (click)="
                                onAction(
                                    confirmationData?.data
                                        ? 'delete'
                                        : 'multiple delete'
                                )
                            "
                            class="modal-delete-btn modal-gray-btn modal-confirmation-btn"
                            type="button"
                            [ngClass]="{
                                'modal-gray-btn': ['reset'].includes(
                                    confirmationData?.type
                                ),
                                'modal-red-btn': [
                                    'load',
                                    'comment',
                                    'delete-review'
                                ].includes(confirmationData.template),
                                'not-clickable': disableDelete
                            }"
                        >
                            Yes
                        </button>
                    </ng-container>

                    <!-- Activate -->

                    <ng-container
                        *ngIf="
                            confirmationData?.type === 'activate' ||
                            confirmationData?.type === 'activate-multiple'
                        "
                    >
                        <button
                            (click)="onAction('activate')"
                            class="d-flex align-items-center justify-content-center ta-font-bold modal-save-btn valid modal-confirmation-btn"
                            type="button"
                        >
                            Yes
                        </button>
                    </ng-container>

                    <!-- Deactivate -->
                    <ng-container
                        *ngIf="
                            confirmationData?.type === 'deactivate' ||
                            confirmationData?.type === 'deactivate-multiple'
                        "
                    >
                        <button
                            (click)="onAction('deactivate')"
                            class="modal-deactivate-btn modal-gray-btn modal-confirmation-btn"
                            type="button"
                        >
                            Yes
                        </button>
                    </ng-container>

                    <!-- Hire -->
                    <ng-container *ngIf="confirmationData?.type === 'hire'">
                        <button
                            (click)="onAction('hire')"
                            class="d-flex align-items-center justify-content-center ta-font-bold modal-save-btn active valid modal-confirmation-btn"
                            type="button"
                        >
                            Hire
                        </button>
                    </ng-container>

                    <!-- Archive -->
                    <ng-container
                        *ngIf="confirmationData?.subType === 'archive'"
                    >
                        <button
                            (click)="onAction('archive')"
                            class="modal-deactivate-btn modal-gray-btn modal-confirmation-btn"
                            type="button"
                        >
                            {{
                                confirmationData?.subTypeStatus
                                    ? 'Remove from archive'
                                    : 'Archive' +
                                      ' ' +
                                      confirmationData?.template
                            }}
                        </button>
                    </ng-container>

                    <!-- Void CDL -->

                    <ng-container
                        *ngIf="confirmationData?.subType === 'cdl void'"
                    >
                        <button
                            (click)="onAction('cdl-void')"
                            class="modal-deactivate-btn modal-gray-btn modal-confirmation-btn"
                            type="button"
                        >
                            Void Current CDL
                        </button>
                    </ng-container>

                    <!-- DNU -->
                    <ng-container *ngIf="confirmationData?.subType === 'dnu'">
                        <button
                            (click)="onAction('dnu')"
                            class="modal-deactivate-btn modal-gray-btn modal-confirmation-btn"
                            type="button"
                        >
                            Yes
                        </button>
                    </ng-container>

                    <!-- DNU -->
                    <ng-container
                        *ngIf="
                            confirmationData?.subType === 'ban list' ||
                            confirmationData?.subType === 'ban'
                        "
                    >
                        <button
                            (click)="onAction('bfb')"
                            class="modal-deactivate-btn modal-gray-btn modal-confirmation-btn"
                            type="button"
                        >
                            Yes
                        </button>
                    </ng-container>

                    <!-- Favourite -->
                    <ng-container
                        *ngIf="confirmationData?.subType === 'favorite'"
                    >
                        <button
                            (click)="onAction('favorite')"
                            class="modal-deactivate-btn modal-gray-btn modal-confirmation-btn"
                            type="button"
                        >
                            {{
                                confirmationData?.subTypeStatus === 'move'
                                    ? 'Mark as Favorite'
                                    : 'Remove from Favorite'
                            }}
                        </button>
                    </ng-container>

                    <ng-container
                        *ngIf="confirmationData?.subTypeStatus === 'business'"
                    >
                        <button
                            (click)="onAction('business')"
                            class="modal-deactivate-btn modal-gray-btn modal-confirmation-btn"
                            [ngClass]="{
                                'modal-blue-btn':
                                    confirmationData?.type === 'open',
                                'modal-gray-btn':
                                    confirmationData?.type !== 'open'
                            }"
                            type="button"
                        >
                            Yes
                        </button>
                    </ng-container>

                    <ng-container
                        *ngIf="confirmationData?.subType === 'void cdl'"
                    >
                        <button
                            (click)="onAction('void-cdl')"
                            class="modal-deactivate-btn modal-gray-btn modal-confirmation-btn"
                            type="button"
                        >
                            Yes
                        </button>
                    </ng-container>
                </div>
            </ng-container>

            <!-- End Confirmation Modal -->

            <!-- Modal DropZone -->

            <div
                class="drop-zone-active"
                [class.drop-zone-active-hovered]="hoverZone"
                [hidden]="!isDropZoneVisible"
                [@widthGrow]="isDropZoneVisible ? 'open' : 'closed'"
            >
                <h5 class="drop-zone-title">{{ modalTitle }}</h5>
                <app-ta-upload-dropzone
                    [dropZoneConfig]="dropZoneConfig"
                    [disableUnsupportedPreview]="true"
                    (onFileEvent)="onFilesEvent($event)"
                    (onDropBackground)="onDropBackground($event)"
                ></app-ta-upload-dropzone>
            </div>
        </div>

        <!-- Modal Additional Part -->

        <ng-container
            *ngIf="
                modalAdditionalPart && (mapVisibility || hazardousVisibility)
            "
        >
            <div class="modal-additional-part modal-additional-part-load-modal">
                <ng-content select="[additional]"></ng-content>
            </div>
        </ng-container>

        <ng-container *ngIf="isAdditionalAssignLoadModalVisible">
            <div class="modal-additional-part modal-additional-part-load">
                <ng-content select="[assignLoadModal]"></ng-content>
            </div>
        </ng-container>
    </div>
</app-ta-custom-scrollbar>
