.form-container {
  // Payroll Checkbox
  .payroll-checkbox {
    margin-top: 8px;
    margin-left: 6px;
    line-height: 18px;
  }

  // Bank
  .custom-bank-row.no-m-bottom {
    margin-bottom: 0px !important;
  }

  // Twic
  .twic-driver {
    padding-top: 1px;
  }
}
