<app-ta-modal
  [modalTitle]="editData?.type !== 'edit' ? 'Add Driver' : 'Edit Driver'"
  [editName]="driverFullName"
  [editData]="editData"
  [isModalValid]="driverForm.valid"
  [dropZoneConfig]="{
    dropZoneType: 'logo',
    dropZoneAvailableFiles: 'image/gif, image/jpeg, image/jpg, image/png',
    dropZoneSvg: 'assets/svg/common/ic_image_dropzone.svg',
    multiple: false
  }"
  (modalActionTypeEmitter)="onModalAction($event)"
>
  <app-tab-switcher
    (switchClicked)="tabChange($event)"
    [tabs]="tabs"
  ></app-tab-switcher>

  <form
    [formGroup]="driverForm"
    class="form-container"
    [ngClass]="{ 'tab-2': selectedTab === 2 }"
  >
    <div class="animation-three-tabs" [@animationTabsModal]="animationObject">
      <!-------------------------------- Basic Tab -------------------------------->
      <div class="m-tab" *ngIf="selectedTab === 1">
        <div class="row">
          <div class="col-6">
            <app-ta-input
              formControlName="firstName"
              [inputConfig]="{
                name: 'First name',
                type: 'text',
                label: 'First Name',
                isRequired: true,
                textTransform: 'capitalize',
                autoFocus: true
              }"
            ></app-ta-input>
          </div>
          <div class="col-6">
            <app-ta-input
              formControlName="lastName"
              [inputConfig]="{
                name: 'Last name',
                type: 'text',
                label: 'Last Name',
                isRequired: true,
                textTransform: 'capitalize'
              }"
            ></app-ta-input>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <app-ta-input
              formControlName="phone"
              [inputConfig]="{
                name: 'Phone',
                type: 'text',
                label: 'Phone',
                isRequired: true,
                placeholderIcon: 'phone',
                mask: '(000) 000-0000'
              }"
            ></app-ta-input>
          </div>
          <div class="col-7">
            <app-ta-input
              formControlName="email"
              [inputConfig]="{
                name: 'Email',
                type: 'text',
                label: 'Email',
                isRequired: true,
                placeholderIcon: 'email'
              }"
            ></app-ta-input>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <app-ta-input-address
              formControlName="address"
              [inputConfig]="{
                name: 'Address',
                type: 'text',
                label: 'Address, City, State Zip',
                isRequired: true,
                placeholderIcon: 'address',
                textTransform: 'capitalize'
              }"
              (selectedAddress)="onHandleAddress($event)"
            ></app-ta-input-address>
          </div>
          <div class="col-2">
            <app-ta-input
              formControlName="addressUnit"
              [inputConfig]="{
                name: 'Address Unit',
                type: 'text',
                label: 'Unit #',
                maxLength: 6
              }"
            ></app-ta-input>
          </div>
        </div>
        <div class="row last-row">
          <div class="col-5">
            <app-ta-input
              formControlName="dateOfBirth"
              [inputConfig]="{
                name: 'datepicker',
                type: 'text',
                label: 'DOB',
                isDropdown: true,
                placeholderIcon: 'date',
                isRequired: true,
                customClass: 'datetimeclass'
              }"
            ></app-ta-input>
          </div>
          <div class="col-7">
            <app-ta-input
              formControlName="ssn"
              [inputConfig]="{
                name: 'SSN',
                type: 'text',
                label: 'SSN',
                isRequired: true,
                mask: '000-00-0000'
              }"
            ></app-ta-input>
          </div>
        </div>
        <!-- IsOwner -->
        <div class="custom-checkbox-card">
          <div class="divider"></div>
          <div
            class="checkbox-card-header"
            [ngClass]="{ pointer: driverForm.get('isOwner').value }"
            (click)="openCloseCheckboxCard($event)"
          >
            <app-ta-checkbox
              formControlName="isOwner"
              [label]="'Owner'"
            ></app-ta-checkbox>
            <svg-icon
              class="checkbox-card-header-arrow"
              src="assets/svg/common/ic_arrow_down_updated.svg"
              [ngClass]="{ visible: driverForm.get('isOwner').value }"
            ></svg-icon>
          </div>
          <div
            *ngIf="driverForm.get('isOwner').value"
            class="checkbox-card-body"
            [ngClass]="{ active: driverForm.get('isOwner').value }"
          >
            <app-status-switcher
              (switchClicked)="tabOwnerChange($event)"
              [data]="ownerTabs"
              [customClass]="'owner-switch'"
            ></app-status-switcher>
            <div
              class="animation-checkbox-card-tabs"
              [ngClass]="{
                'fade-checkbox-inputs':
                  selectedOwnerTab?.name.toLowerCase() === 'company'
              }"
            >
              <div class="row">
                <div class="col-4">
                  <app-ta-input
                    formControlName="ein"
                    [inputConfig]="{
                      name: 'EIN',
                      type: 'text',
                      label: 'EIN #',
                      isRequired: true,
                      mask: '00-0000000'
                    }"
                  ></app-ta-input>
                </div>
                <div class="col-8">
                  <app-ta-input
                    formControlName="bussinesName"
                    [inputConfig]="{
                      name: 'Bussines Name',
                      type: 'text',
                      label: 'Bussines Name',
                      isRequired: owner,
                      textTransform: 'capitalize',
                      isDisabled: !driverForm.get('ein').value || owner
                    }"
                  ></app-ta-input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Off duty Location -->
        <app-ta-custom-card
          [hasCounter]="offDutyLocations.length ? offDutyLocations.length : '0'"
          [cardName]="'Off duty Location'"
          [hasHeaderSvg]="'assets/svg/common/ic_info.svg'"
          [hasActionSvg]="'assets/svg/common/ic_plus.svg'"
          [isCardOpen]="offDutyLocations.length"
          [hasBodyData]="offDutyLocations.length"
          (onActionEvent)="addOffDutyLocation($event)"
        >
          <div
            formArrayName="offDutyLocations"
            class="common-fake-table-modal common-fake-table-modal-off-duty-locations"
            *ngIf="offDutyLocations.length"
          >
            <div class="common-fake-table-label">
              <p>NICKNAME</p>
              <p>ADDRESS, CITY, STATE ZIP</p>
            </div>
            <div
              *ngFor="
                let dutyLocation of offDutyLocations.controls;
                let ind = index
              "
            >
              <div [formGroupName]="ind" class="common-fake-table-card">
                <app-ta-input
                  formControlName="nickname"
                  [inputConfig]="{
                    name: 'NICKNAME',
                    type: 'text',
                    textTransform: 'capitalize'
                  }"
                ></app-ta-input>
                <app-ta-input-address
                  formControlName="address"
                  [inputConfig]="{
                    name: 'Address',
                    type: 'text',
                    textTransform: 'capitalize'
                  }"
                  (selectedAddress)="onHandleAddressFormArray($event, ind)"
                ></app-ta-input-address>
                <div
                  ngbTooltip
                  mainTooltip="Delete"
                  position="top"
                  tooltipBackground="#EF5350"
                  class="common-fake-table-delete"
                  (click)="removeOffDutyLocation(ind)"
                >
                  <svg-icon src="assets/svg/common/ic_trash.svg"></svg-icon>
                </div>
              </div>
            </div>
          </div>
        </app-ta-custom-card>

        <!-- Note -->
        <app-ta-input-note
          formControlName="note"
          [isVisibleNote]="driverForm.get('note').value"
        ></app-ta-input-note>
      </div>
      <!-------------------------------- Pay Tab -------------------------------->
      <div class="m-tab" *ngIf="selectedTab === 2">
        <div class="divider"></div>
        <div class="payroll-checkbox">
          <app-ta-checkbox
            formControlName="payroll"
            [label]="'Include in Payroll'"
          ></app-ta-checkbox>
        </div>
        <div
          class="custom-bank-row first-row"
          [ngClass]="{ 'row-mb-10 ': !driverForm.get('payroll').value }"
        >
          <div class="bank-field">
            <app-ta-input-dropdown
              formControlName="bankId"
              [template]="'svg-template'"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Bank Name',
                isDropdown: true,
                dropdownWidthClass: 'w-col-banks'
              }"
              [canAddNew]="true"
              [options]="labelsBank"
              (selectedItem)="onSelectDropdown($event, 'bank')"
            ></app-ta-input-dropdown>
          </div>
          <div class="bank-field">
            <app-ta-input
              formControlName="routing"
              [inputConfig]="{
                name: 'Routing Number',
                type: 'text',
                label: 'Routing #',
                isDisabled: !selectedBank,
                isRequired: selectedBank,
                minLength: 9,
                maxLength: 9
              }"
            ></app-ta-input>
          </div>
          <div class="bank-field">
            <app-ta-input
              formControlName="account"
              [inputConfig]="{
                name: 'Account Number',
                type: 'text',
                label: 'Account #',
                isDisabled: !selectedBank,
                isRequired: selectedBank,
                maxLength: 17,
                minLength: 4
              }"
            ></app-ta-input>
          </div>
        </div>
        <div
          class="custom-row-paytype-notification"
          [ngClass]="{ 'divide-margin': driverForm.get('payType').value }"
          *ngIf="driverForm.get('payroll').value"
          [@showHidePayroll]="
            driverForm.get('payroll').value ? 'true' : 'false'
          "
        >
          <div class="paytype-field">
            <app-ta-input-dropdown
              formControlName="payType"
              [inputConfig]="{
                name: 'Input Dropdown',
                type: 'text',
                label: 'Pay type',
                isRequired: true,
                isDropdown: true,
                dropdownWidthClass: 'w-col-paytype'
              }"
              [canAddNew]="true"
              [options]="labelsPayType"
              (selectedItem)="onSelectDropdown($event, 'paytype')"
            ></app-ta-input-dropdown>
          </div>
          <div class="paytype-field-notification">
            <p>Notifications</p>
            <div class="btn-group" role="group">
              <label class="btn" ngbButtonLabel>
                <input
                  type="checkbox"
                  class="btn-check"
                  formControlName="mailNotification"
                  ngbButton
                />
                Email
              </label>
              <label class="btn" ngbButtonLabel>
                <input
                  type="checkbox"
                  class="btn-check"
                  formControlName="phoneCallNotification"
                  ngbButton
                />
                Phone Call
              </label>
              <label class="btn" ngbButtonLabel>
                <input
                  type="checkbox"
                  class="btn-check"
                  formControlName="smsNotification"
                  ngbButton
                />
                SMS
              </label>
            </div>
          </div>
        </div>

        <!-- Pay Type Per Mile -->
        <div
          class="paytype-permile"
          [class.active]="
            driverForm.get('payType').value?.toLowerCase() === 'per mile'
          "
          *ngIf="driverForm.get('payType').value?.toLowerCase() === 'per mile'"
        >
          <div class="permile-fields">
            <p>Solo</p>
            <app-ta-input
              formControlName="soloEmptyMile"
              [inputConfig]="{
                name: 'Empty Mile',
                type: 'number',
                label: 'Empty Mi',
                isRequired: true,
                placeholderIcon: 'dollar',
                customClass: 'dollar-placeholderIcon',
                step: 0.01,
                min: 0,
                max: 10
              }"
            ></app-ta-input>
            <app-ta-input
              formControlName="soloLoadedMile"
              [inputConfig]="{
                name: 'Loaded Mile',
                type: 'number',
                label: 'Loaded Mi',
                isRequired: true,
                placeholderIcon: 'dollar',
                customClass: 'dollar-placeholderIcon',
                step: 0.01,
                min: 0,
                max: 10
              }"
            ></app-ta-input>
            <app-ta-input
              formControlName="soloPerStop"
              [inputConfig]="{
                name: 'Per Stop',
                type: 'number',
                label: 'Per Stop',
                placeholderIcon: 'dollar',
                customClass: 'dollar-placeholderIcon',
                step: 0.01,
                min: 0,
                max: 10
              }"
            ></app-ta-input>
          </div>
          <div class="permile-fields">
            <p>Team</p>
            <app-ta-input
              formControlName="teamEmptyMile"
              [inputConfig]="{
                name: 'Empty Mile',
                type: 'number',
                label: 'Empty Mi',
                placeholderIcon: 'dollar',
                customClass: 'dollar-placeholderIcon',
                step: 0.01,
                min: 0,
                max: 10
              }"
            ></app-ta-input>
            <app-ta-input
              formControlName="teamLoadedMile"
              [inputConfig]="{
                name: 'Loaded Mile',
                type: 'number',
                label: 'Loaded Mi',
                placeholderIcon: 'dollar',
                customClass: 'dollar-placeholderIcon',
                step: 0.01,
                min: 0,
                max: 10
              }"
            ></app-ta-input>
            <app-ta-input
              formControlName="teamPerStop"
              [inputConfig]="{
                name: 'Per Stop',
                type: 'number',
                label: 'Per Stop',
                placeholderIcon: 'dollar',
                customClass: 'dollar-placeholderIcon',
                step: 0.01,
                min: 0,
                max: 10
              }"
            ></app-ta-input>
          </div>
        </div>

        <!-- Pay Type Commission -->
        <div
          class="paytype-commission"
          *ngIf="driverForm.get('payType').value?.toLowerCase() === 'commision'"
          [class.active]="
            driverForm.get('payType').value?.toLowerCase() === 'commision'
          "
        >
          <div class="paytype-field">
            <app-ta-ngx-slider
              [sliderName]="'Solo'"
              [sliderOptions]="soloSliderOptions"
              [startedValue]="driverForm.get('commissionSolo')?.value"
              [customClass]="
                'custom-slider-with-percentage custom-driver-modal'
              "
              (onUserValueChange)="
                driverForm.get('commissionSolo').setValue($event)
              "
            ></app-ta-ngx-slider>
          </div>
          <div class="paytype-field">
            <app-ta-ngx-slider
              [sliderName]="'Team'"
              [sliderOptions]="teamSliderOptions"
              [startedValue]="driverForm.get('commissionTeam')?.value"
              [customClass]="
                'custom-slider-with-percentage custom-driver-modal'
              "
              (onUserValueChange)="
                driverForm.get('commissionTeam').setValue($event)
              "
            ></app-ta-ngx-slider>
          </div>
        </div>
      </div>

      <div class="m-tab" *ngIf="selectedTab === 3">
        <app-ta-logo-change
          [imageUrl]="this.driverForm.get('avatar').value"
          (base64ImageEvent)="onUploadImage($event)"
        ></app-ta-logo-change>
        <div class="row first-row last-row">
          <div class="col-2 twic-driver">
            <app-ta-checkbox
              formControlName="twic"
              [label]="'TWIC'"
              [customClass]="'medium'"
            ></app-ta-checkbox>
          </div>
          <div class="col-4" *ngIf="driverForm.get('twic').value">
            <app-ta-input
              formControlName="twicExpDate"
              [inputConfig]="{
                name: 'datepicker',
                type: 'text',
                isDropdown: true,
                label: 'Exp. Date',
                placeholderIcon: 'date',
                isRequired: true,
                customClass: 'datetimeclass'
              }"
            ></app-ta-input>
          </div>
          <div
            class="col-6 no-p-left"
            [ngClass]="{ 'col-10': !driverForm.get('twic').value }"
          >
            <app-ta-input
              formControlName="fuelCard"
              [inputConfig]="{
                name: 'Fuel Card',
                type: 'text',
                label: 'Fuel Card #'
              }"
            ></app-ta-input>
          </div>
        </div>
        <app-ta-custom-card
          [cardName]="'Emergency Contact'"
          [isCardOpen]="
            driverForm.get('emergencyContactName').value ||
            driverForm.get('emergencyContactPhone').value ||
            driverForm.get('emergencyContactRelationship').value
          "
        >
          <div class="emergency-contact">
            <app-ta-input
              formControlName="emergencyContactName"
              [inputConfig]="{
                name: 'Name',
                type: 'text',
                label: 'Name',
                textTransform: 'capitalize'
              }"
            ></app-ta-input>
            <app-ta-input
              formControlName="emergencyContactPhone"
              [inputConfig]="{
                name: 'Phone',
                type: 'text',
                label: 'Phone',
                placeholderIcon: 'phone',
                mask: '(000) 000-0000'
              }"
            ></app-ta-input>
            <app-ta-input
              formControlName="emergencyContactRelationship"
              [inputConfig]="{
                name: 'Relationship',
                type: 'text',
                label: 'Relationship',
                textTransform: 'capitalize'
              }"
            ></app-ta-input>
          </div>
        </app-ta-custom-card>
      </div>
    </div>
  </form>
</app-ta-modal>
