@import '../../shipper-details.component.scss';

app-shipper-details-item {
    .header-content {
        margin-left: 5px !important;
    }
    .divider {
        margin-left: 6px;
        width: calc(100% - 12px);
    }
    .ta-card-header {
        margin-right: 10px !important;
    }
    .note-cards {
        padding: 0px 6px 0px 4px;
        .note-body {
            .note-textarea {
                color: #6c6c6c !important;
                font-weight: 500 !important;
                &::-moz-selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                &::selection {
                    color: $bw6-2;
                    background: rgb(108, 108, 108, 0.2);
                }

                span,
                div {
                    &::-moz-selection {
                        color: $bw6-2;
                        background: rgb(108, 108, 108, 0.2);
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(108, 108, 108, 0.2);
                    }
                }

                span[style*='color: rgb(83, 107, 194)'],
                span[style*='color: rgb(83, 107, 194)'] span {
                    &::-moz-selection {
                        color: $bw6-2 !important;
                        background: rgb(83, 107, 194, 0.2) !important;
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(83, 107, 194, 0.2) !important;
                    }
                }

                span[style*='color: rgb(38, 166, 144)'],
                span[style*='color: rgb(38, 166, 144)'] span {
                    &::-moz-selection {
                        color: $bw6-2;
                        background: rgb(38, 166, 144, 0.2) !important;
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(38, 166, 144, 0.2) !important;
                    }
                }

                span[style*='color: rgb(239, 83, 80)'],
                span[style*='color: rgb(239, 83, 80)'] span {
                    &::-moz-selection {
                        color: $bw6-2;
                        background: rgb(239, 83, 80, 0.2) !important;
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(239, 83, 80, 0.2) !important;
                    }
                }

                span[style*='color: rgb(255, 167, 38)'],
                span[style*='color: rgb(255, 167, 38)'] span {
                    &::-moz-selection {
                        color: $bw6-2;
                        background: rgb(255, 167, 38, 0.2) !important;
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(255, 167, 38, 0.2) !important;
                    }
                }

                span[style*='color: rgb(83, 107, 194)'],
                span[style*='color: rgb(83, 107, 194)'] span {
                    &::-moz-selection {
                        color: $bw6-2 !important;
                        background: rgb(83, 107, 194, 0.2) !important;
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(83, 107, 194, 0.2) !important;
                    }
                }

                span[style*='color: rgb(38, 166, 144)'],
                span[style*='color: rgb(38, 166, 144)'] span {
                    &::-moz-selection {
                        color: $bw6-2;
                        background: rgb(38, 166, 144, 0.2) !important;
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(38, 166, 144, 0.2) !important;
                    }
                }

                span[style*='color: rgb(239, 83, 80)'],
                span[style*='color: rgb(239, 83, 80)'] span {
                    &::-moz-selection {
                        color: $bw6-2;
                        background: rgb(239, 83, 80, 0.2) !important;
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(239, 83, 80, 0.2) !important;
                    }
                }

                span[style*='color: rgb(255, 167, 38)'],
                span[style*='color: rgb(255, 167, 38)'] span {
                    &::-moz-selection {
                        color: $bw6-2;
                        background: rgb(255, 167, 38, 0.2) !important;
                    }

                    &::selection {
                        color: $bw6-2;
                        background: rgb(255, 167, 38, 0.2) !important;
                    }
                }
            }
        }
    }
    .hours {
        &::-moz-selection {
            color: $color-gray-dark;
            background: rgb(108, 108, 108, 0.2);
        }
        &::selection {
            color: $color-gray-dark;
            background: rgb(108, 108, 108, 0.2);
        }
    }
    .contact-wrapper {
        background-color: $color-white;
        border-radius: 3px;
        padding: 4px 2px;
        width: 340px;
        height: fit-content;
    }

    .second {
        margin-top: 12px !important;
    }

    .repair-header {
        grid-template-columns: 120px 144px 80px 92px 67px 67px 84px !important;
        column-gap: 4px !important;
        grid-auto-flow: column;
    }

    .no-contant {
        font-size: 14px;
        font-weight: 700;
        color: #919191;
        padding-left: 6px;
    }

    .shipper-contact-container {
        &:last-child {
            .divider {
                display: none;
            }
        }
    }
}

app-ta-contacts-card .ta-card-header {
    padding: 0 6px;
}
