@import '/src/theme/variables';

.status-node {
    background-color: $ta-black-2;
    text-align: center;
    width: 130px;
    padding: 4px;
    gap: 4px;
    border-radius: 3px 0px 0px 0px;
    position: relative;
    border-radius: 3px;
}
.dropdownOpen {
    top: -32px;
    width: 140px !important;
}
.status-dispatch {
    font-size: 11px;
    line-height: 14px;
    text-align: left;
    height: 32px;
    padding: 0 4px 3px 6px;
    border-radius: 2px 0px 0px 0px;
    border-bottom: 1px solid $ta-black;
    .status-time {
        color: $white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        font-size: 10px;
        height: 12px;
        line-height: 12px;
    }
}
.status-next-item {
    font-size: 11px;
    line-height: 14px;
    text-align: left;
    height: 26px;
    padding: 6px;
    gap: 4px;
    border-radius: 2px 0px 0px 0px;

    &:hover {
        background: $ta-black;
        cursor: pointer;
    }
}

.status-previous {
    border-top: 1px solid $ta-black;

    &-img {
        margin-right: 8px;
    }
}

.status-previous-back {
    font-size: 11px;
    line-height: 14px;
    text-align: left;
    color: $ta-light-grey-2;
    padding: 6px;
}

.status-previous-item {
    font-size: 11px;
    line-height: 14px;
    text-align: left;
    padding: 6px;
    height: 26px;

    &:hover {
        background: $ta-black;
        cursor: pointer;
    }
}

.w-full {
    width: 100%;
}
