@import '../truck-details.component.scss';
:host ::ng-deep .mat-button-toggle-label-content {
  line-height: 0px !important;
  font-size: $font-size12;
  font-weight: 700;
}
#chart{
  max-width: 450px;
}
.truck-details-card {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
  
    .truck-card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 3px 0px;
  
      .truck-card-header-leftSide {
        display: flex;
        align-items: center;
  
        .truck-card-header-name {
          font-size: $font-size14;
          font-weight: $font-extrabold;
          color: $color-gray-dark;
          margin-right: 12px;
  
          &::-moz-selection {
            color: $color-gray-dark;
            background: rgb(183, 183, 183, 0.2);
          }
          &::selection {
            color: $color-gray-dark;
            background: rgb(183, 183, 183, 0.2);
          }
  
          &.header-name-ml {
            margin-left: 4px;
          }
        }
      }
  
      .truck-card-arrow {
        transition: $transition;
        transform: rotate(0deg);
        &.rotate {
          transition: $transition;
          transform: rotate(180deg);
        }
      }
  
      &:hover {
        transition: $transition;
        cursor: pointer;
      }
    }
  
    .truck-card-body {
      // Assign To Template
      .assignTo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
  
        .assignTo-item {
          background-color: $color-white-dark;
          border-radius: 3px;
          padding: 8px 6px;
          width: 202px;
          height: 34px;
          display: flex;
          align-items: center;
          .first{
            margin-right: 12px;
          }
          .assignTo-vehicle {
            margin-right: 6px;
            height: 18px;
            position: relative;
            bottom: 4px;
          }
  
          .assignTo-value {
            font-size: $font-size18;
            font-weight: 500;
            color: $color-gray-dark;
  
            &::-moz-selection {
              color: $color-gray-dark;
              background: rgb(183, 183, 183, 0.2);
            }
            &::selection {
              color: $color-gray-dark;
              background: rgb(183, 183, 183, 0.2);
            }
          }
          p{
            margin: 0!important;
          }
        }
      }
  
      // Common Template
      .common-template {
        display: grid;
        grid-template-columns: 215px 153px;
        row-gap: 10px;
        margin-bottom: 12px;
       
        .common-item-wrapper{
          display: flex;
          align-items: center;
          height: 40px;
          margin-left: 7px;
        }
        .common-template-item {
          display: flex;
          flex-direction: column;
          
          .icon-name-item{
            display: flex;
            align-items: center;
            height: 18px;
            .common-template-item-name{
              margin-left: 6px;
            }
          }
          .common-template-item-name {
            font-size: $font-size12;
            font-weight: $font-semibold;
            color: $color-gray-dark;
  
            &::-moz-selection {
              color: $color-gray-dark;
              background: rgb(183, 183, 183, 0.2);
            }
            &::selection {
              color: $color-gray-dark;
              background: rgb(183, 183, 183, 0.2);
            }
          }
  
          .common-template-item-value {
            font-size: $font-size14;
            font-weight: 400;
            color: $color-gray-dark;
  
            &::-moz-selection {
              color: $color-gray-dark;
              background: rgb(183, 183, 183, 0.2);
            }
            &::selection {
              color: $color-gray-dark;
              background: rgb(183, 183, 183, 0.2);
            }
  
            p {
              &::-moz-selection {
                color: $color-gray-dark;
                background: rgb(183, 183, 183, 0.2);
              }
              &::selection {
                color: $color-gray-dark;
                background: rgb(183, 183, 183, 0.2);
              }
            }
  
            .hidden-svg-eye {
              margin-left: 6px;
              position: relative;
              bottom: 1px;
            }
          }
        }
      }
      .perfomance{
        display: flex !important;
        flex-direction: column;
        .common-template-item-name{
          font-size: $font-size14 !important;
          font-weight: $font-semibold !important;
        }
        .common-template-item-value{
          font-size: $font-size18 !important;
          font-weight: $font-semibold !important;
        }
      }
      .fuel-item{
        margin-left: 98px;
      }
      mat-button-toggle-group { 
        width: 416px;
        height: 26px;
        display: flex;
        justify-content: space-around;
        background: #F3F3F3;
        box-shadow: none;
        border-radius: 2px;
       
      }
      mat-button-toggle {
        width: 67px;
        height: 22px;
        margin: 2px;
        color: #B7B7B7;
        font-weight: 700;
       
    }
              
      .mat-button-toggle-checked{
        background-color: #ffffff;
        color: #536bc2;
      }
      
      // Note template
      .note {
        font-size: $font-size14;
        color: $color-gray-dark;
        width: 408px;
        height: 36px;
        margin-bottom: 17px;
        p{
          margin: 0;
        }
        .note-item {
          &::-moz-selection {
            color: $color-gray-dark;
            background: rgb(183, 183, 183, 0.2);
          }
          &::selection {
            color: $color-gray-dark;
            background: rgb(183, 183, 183, 0.2);
          }
        }
      }
    }

     .owner-history-wrapper{
       display: flex;
       flex-direction: column;
       p{
         margin: 0;
       }
      .owner-history-title{
       display: flex;
       align-items: center;
       justify-content: space-between;
       height: 18px;
       margin-bottom: 6px;
       .title{
         color: #919191;
         font-size: $font-size14;
         font-weight: 700;
       }
      }
      .owner-history-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 18px;
        margin-top: 6px;
        margin-bottom: 8px;
        .company{
          color: #6C6C6C;
          font-size: $font-size14;
          font-weight: $font-semibold;
          width: 141px;
        }
        .from{
          font-size: $font-size14;
          font-weight: 400;
          width: 144px;
          color: #6C6C6C;
          text-align: center;
        }
        .duration{
          width: 79px;
          text-align: end;
        }
      }
      .owner-history-bottom{
        margin-bottom: 16px !important;
      
      }
     }
  
    .truck-card-line {
      margin: 0;
      height: 2px;
      width: 100%;
      border-radius: 1px;
      background-color: $color-white-light;
    }
    .size18{
      font-weight: $font-medium !important;
      font-size: $font-size18 !important;
    }
  }
  .single-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    margin-bottom: 10px;
  }
  .icon{
    margin-left: 6px;
  }