@let store =
    {
        accountList: accountStore.accountListSelector$ | async,
        columns: accountStore.tableColumnsSelector$ | async,
        selectedCount: accountStore.selectedCountSelector$ | async,
        selectedTabCountSelector:
            accountStore.selectedTabCountSelector$ | async,
        tableSettings: accountStore.tableSettingsSelector$ | async,
    };

@if (store) {
    @let isTableLocked = store.tableSettings.isTableLocked;
    @let templates =
        {
            select,
            name,
            url,
            username,
            password,
            label,
            dateAdded,
            dateEdited,
        };

    @let headerTemplates =
        {
            select: selectHeaderTemplate,
        };

    <app-new-table
        [rows]="store.accountList"
        [templates]="templates"
        [columns]="store.columns"
        [headerTemplates]="headerTemplates"
        [isTableLocked]="isTableLocked"
        [totalDataCount]="store.selectedTabCountSelector"
        (onSortingChange)="onSortingChange($event)"
        (onShowMore)="onShowMoreClick()"
    >
        <ng-template #selectHeaderTemplate>
            <app-ca-checkbox-selected-count
                [itemsTotalCount]="store.accountList.length"
                [itemsSelectedCount]="store.selectedCount"
                (onCheckboxCountClick)="onCheckboxCountClick($event)"
            ></app-ca-checkbox-selected-count>
        </ng-template>

        <ng-template let-account="data" #select>
            @let accountName = 'Account-' + account.id;
            <app-ca-checkbox
                [isChecked]="account.isSelected"
                [isRegularCheckbox]="false"
                [itemIndex]="account.id"
                [name]="accountName"
                (columnCheckAction)="onSelectAccount(account.id)"
            ></app-ca-checkbox>
        </ng-template>

        <!-- #region ACCOUNT NAME COLUMN -->
        <ng-template let-account="data" #name>
            <div class="text-color-black ta-font-bold text-size-14">
                {{ account.name }}
            </div>
        </ng-template>
        <!-- #endregion ACCOUNT NAME COLUMN -->

        <!-- #region URL COLUMN -->
        <ng-template let-account="data" #url>
            <div class="text-color-black-2 text-size-14 text-truncate">
                {{ account.url }}
            </div>
        </ng-template>
        <!-- #endregion URL COLUMN -->

        <!-- #region URL COLUMN -->
        <ng-template let-account="data" #username>
            <div class="text-color-black-2 text-size-14 text-truncate">
                {{ account.username }}
            </div>
        </ng-template>
        <!-- #endregion URL COLUMN -->

        <!-- #region PASSWORD COLUMN -->
        <ng-template let-account="data" #password>
            <app-ta-password-account-hidden-characters
                [passwordOrAccount]="account.password"
                [isPassword]="true"
            ></app-ta-password-account-hidden-characters>
        </ng-template>
        <!-- #endregion PASSWORD COLUMN -->

        <!-- #region LABEL COLUMN -->
        <ng-template let-account="data" #label>
            <div class="text-color-black-2 text-size-14 text-truncate">
                {{ account?.label?.name }}
            </div>

            <div>
                <!-- <app-ta-input-dropdown-label
                    formControlName="companyAccountLabelId"
                    [inputConfig]="
                        accountModalConfig.COMPANY_LABEL_INPUT_CONFIG
                    "
                    [colors]="colors"
                    [options]="accountLabels"
                    [selectedLabel]="selectedAccountLabel"
                    [selectedLabelColor]="selectedAccountColor"
                    (pickExistLabel)="onPickExistLabel($event)"
                    (pickColorLabel)="onSelectColorLabel($event)"
                    (editModeLabel)="companyAccountLabelMode($event)"
                    (saveLabel)="onSaveLabel($event)"
                >
                </app-ta-input-dropdown-label> -->
            </div>
        </ng-template>
        <!-- #endregion LABEL COLUMN -->

        <!-- #region DATES COLUMNS -->
        <ng-template let-account="data" #dateAdded>
            @let formatDate =
                account.createdAt | date: eDateTimeFormat.ANGULAR_MM_DD_YY;
            <div
                class="text-color-black-2 text-size-14"
                [innerHtml]="
                    formatDate | tableHighlightSearchText: store.searchStrings
                "
            ></div>
        </ng-template>

        <ng-template let-account="data" #dateEdited>
            @let formatDate =
                account.updatedAt | date: eDateTimeFormat.ANGULAR_MM_DD_YY;
            <div
                class="text-color-black-2 text-size-14"
                [innerHtml]="
                    formatDate | tableHighlightSearchText: store.searchStrings
                "
            ></div>
        </ng-template>
        <!-- #endregion DATES COLUMNS -->
    </app-new-table>
}
