@import "../../settings.global.scss";


.additional-template-data {
  display: grid;
  grid-template-columns: repeat(3, 130px);
  column-gap: 64px;
  row-gap: 12px;
  padding-left: 10px;
  .additional-template-item {
    display: flex;
    flex-direction: column;
  }
  .additional-template-value-name {
    font-size: 12px;
    font-weight: $settings-font-semibold;
    color: $settings-gray-dark;
  }
  .additional-template-value {
    font-size: 14px;
    font-weight: 400;
    color: $settings-gray-dark;
  }
}
.bank-card-template-data {
  display: grid;
  grid-template-columns: 72px 160px 65px 50px;
  row-gap: 12px;
  column-gap: 65px;
  padding-left: 10px;
  .bank-card-name-header {
    font-size: 12px;
    font-weight: $settings-font-semibold;
    color: $settings-gray-dark;
  }
  .bank-card-template-item {
    display: flex;
    flex-direction: column;
  }
}
.bank-card-template-data-body {
  display: grid;
  grid-template-columns: 72px 160px 65px 50px;
  row-gap: 12px;
  column-gap: 65px;
  padding-left: 10px;
  .bank-card-template-item-body {
    display: grid;
    grid-template-columns: 106px 194px 98px 50px;
    row-gap: 12px;
    column-gap: 31px;
    .item-body-nick-name{
      font-size: 14px;
      font-weight: 400;
      color: $settings-gray-dark;
    }
    // .item-body-cvc{
    // }
    .item-body-icon-text{
      display: flex;
      align-items: center;
      .svg-bank{
        margin-right: 6px;
      }
    }
  }
}
.settings-general {
  width: 100%;
  display: grid;
  grid-template-rows: 32px auto;
  row-gap: 12px;

  .settings-body {
    // Basic Info & Logo
    background-color: $settings-background;
    border-radius: 3px;
    .basic-details {
      width: 100%;
      height: 256px;
      margin-bottom: 15px;
      border-radius: 3px;
      .basic-header {
        width: 100%;
        height: 111px;
        display: flex;
        flex-direction: column;
        user-select: none;
        background-color: $settings-background;
        padding: 12px;
        border-radius: 3px;
        .basic-header-logo-top {
          display: flex;
          justify-content: flex-end;
          height: 22px;
          width: 100%;
          margin-bottom: 8px;

          .basic-logo-text {
            font-size: 10px;
            font-style: italic;
            color: $settings-white-dark;
            position: relative;
            bottom: 1px;
          }

          .basic-logo-edit {
            width: 22px;
            height: 22px;
            display: none;
            margin-left: 6px;
            svg {
              width: 100%;
              height: 100%;
              #Rectangle_3879 {
                fill: $settings-white-light-2;
              }
              #Path_7775 {
                fill: $settings-white-dark-2;
              }
              #Path_7776 {
                fill: $settings-white-dark-2;
              }
            }

            &:hover {
              transition: $settings-transition;
              cursor: pointer;
              svg {
                #Rectangle_3879 {
                  fill: $settings-gray;
                }
                #Path_7775 {
                  fill: $settings-background;
                }
                #Path_7776 {
                  fill: $settings-background;
                }
              }
            }
          }

          &:hover {
            .basic-logo-edit {
              transition: $settings-transition;
              display: inline-block;
            }
          }
        }

        .basic-logo {
          max-width: 456px;
          max-height: 110px;
        }
      }

      .basic-middle {
        display: grid;
        grid-template-columns: 162px 292px;
        row-gap: 12px;
        padding: 12px 0px;
        padding-left: 16px;
        background-color: $settings-background;
        .basic-data {
          display: flex;
          align-items: center;

          p::selection {
            color: $settings-gray-dark;
            background: rgb(183, 183, 183, 0.2);
          }

          &:nth-child(1) {
            grid-column: 1 / -1;
          }
          .basic-data-value {
            font-size: 14px;
            font-weight: 400;
            color: $settings-gray-dark;
          }
          .basic-data-svg {
            margin-right: 6px;
            position: relative;
            bottom: 1px;
          }
        }
      }

      .basic-bottom {
        display: grid;
        grid-template-columns: repeat(3, 180px);
        -moz-column-gap: 12px;
        column-gap: 12px;
        padding-left: 12px;
        padding-bottom: 12px;
        background-color: $settings-background;
        .basic-bottom-card {
          background-color: #f9f9f9;
          color: $settings-gray-dark;
          border-radius: 2px;
          height: 30px;
          padding: 0px 6px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .bottom-card-left {
            font-size: 12px;
            font-weight: $settings-font-semibold;
            color: $settings-gray-dark;
            user-select: none;
          }

          .bottom-card-right {
            font-size: 18px;
            font-weight: $settings-font-medium;
            color: $settings-gray-dark;

            &::selection {
              color: $settings-gray-dark;
              background: rgb(183, 183, 183, 0.2);
            }
          }
        }
      }
    }
  }
}
.cards-custom {
  padding: 0 6px;
  .ta-card-header {
    padding: 0 6px !important;
  }
}
.show-hide{
  display: flex;
  align-items: center;
  .hidden-svg-eye{
    cursor: pointer;
    svg{
      &:hover{
        path{
          fill: #6c6c6c;
        }
      }
    }
    margin-left: 6px;
  }
}