@import "src/theme/variables.scss";

.country_holder {
  svg {
    overflow: visible;
  }
}

.hover_data_holder {
  background-color: #2f2f2f;
  border-radius: 2px;
  box-shadow: 0 0 4px rgb(0 0 0 / 15%);

  padding: 6px 8px 8px 8px;

  z-index: 2;

  .hover_data_title {
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    color: #cccccc;

    &::-moz-selection {
      background: #91919133;
      color: #919191;
    }
    &::selection {
      background: #91919133;
      color: #919191;
    }
  }

  .hover_data_border_line {
    height: 1px;
    width: 100%;
    margin: 6px 0px 8px 0px;

    border-radius: 1px;
    background-color: #aaaaaa;
  }

  .hover_data_info_holder {
    .hover_data_info_top_line {
      display: flex;
      align-items: center;
      margin-bottom: 2px;

      &::-moz-selection {
        background: #91919133;
        color: #919191;
      }
      &::selection {
        background: #91919133;
        color: #919191;
      }

      .hover_data_icon {
        svg {
          display: flex;
          width: 10px;
          height: 10px;
        }
      }

      .hover_data_info_title {
        font-size: 11px;
        font-weight: 500;
        line-height: 14px;
        text-align: center;
        color: #cccccc;
        padding-left: 4px;

        &::-moz-selection {
          background: #91919133;
          color: #919191;
        }
        &::selection {
          background: #91919133;
          color: #919191;
        }
      }

      .hover_data_values_hold {
        display: flex;
        align-items: center;
      }
    }

    .hover_data_price {
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      color: #cccccc;

      &::-moz-selection {
        background: #91919133;
        color: #919191;
      }
      &::selection {
        background: #91919133;
        color: #919191;
      }

      &.increased_title {
        padding-right: 12px;
      }
    }

    .hover_data_percent {
      font-size: 11px;
      line-height: 14px;
      font-weight: 700;
      color: #cccccc;

      &::-moz-selection {
        background: #91919133;
        color: #919191;
      }
      &::selection {
        background: #91919133;
        color: #919191;
      }
    }

    &.hover_data_bigger_hold {
      .hover_title_container {
        display: flex;
        flex: 1;
        align-items: center;
      }
    }
  }
}

.country_state {
  //transition: all 0.3s ease-in-out;
  &:hover {
    stroke: #fff;
    stroke-width: 4px;
    stroke-linejoin: round;
    paint-order: stroke;
    filter: drop-shadow(0 0 2px rgb(0 0 0 / 7%));
    // &#IA_path{
    //   transform: translate(-4358.631px, -2104.658px) scale(1.2);
    // }
    // &#Shape{
    //   transform: translate(-4090.631px, -2006.658px) scale(1.2);
    // }
    // &#ID{
    //   transform: translate(-3694.631px, 1074.658px) scale(1.2);
    // }
    // &#MT{
    //   transform: translate(-3708.631px, 1077.658px) scale(1.2);
    // }
    // &#ND{
    //   transform: translate(-3733.631px, 1074.658px) scale(1.2);
    // }
    // &#MN{
    //   transform: translate(-3750.631px, 1072.658px) scale(1.2);
    // }
    // &#WI{
    //   transform: translate(-3762.631px, 1068.658px) scale(1.2);
    // }
    // &#MI{
    //   transform: translate(646px, 3124.658px) scale(1.2);
    // }
    // &#NY{
    //   transform: translate(-3801px, 1070.658px) scale(1.2);
    // }
    // &#ME{
    //   transform: translate(-3817px, 1077.658px) scale(1.2);
    // }
    // &#Shape-3{
    //   transform: translate(-4064.631px, -2034.658px) scale(1.2);
    // }
    // &#WY_path{
    //   transform: translate(-4201.631px, -2077.658px) scale(1.2);
    // }
    // &#SD{
    //   transform: translate(-3733.631px, 1068.658px) scale(1.2);
    // }
    // &#IN{
    //   transform: translate(-3775.27px, 1059px) scale(1.2);
    // }
    // &#OH{
    //   transform: translate(-3784.27px, 1061px) scale(1.2);
    // }
    // &#PA{
    //   transform: translate(-3797.27px, 1063px) scale(1.2);
    // }
    // &#CA_path{
    //   transform: translate(-4052.27px, -2087px) scale(1.2);
    // }
    // &#NV{
    //   transform: translate(-3685.27px, 1064px) scale(1.2);
    // }
    // &#UT{
    //   transform: translate(-3699.27px, 1061px) scale(1.2);
    // }
    // &#CO{
    //   transform: translate(-3717.27px, 1058px) scale(1.2);
    // }
    // &#NE{
    //   transform: translate(-3734.27px, 1062px) scale(1.2);
    // }
    // &#KS{
    //   transform: translate(-3738.27px, 1055px) scale(1.2);
    // }
    // &#MO_path{
    //   transform: translate(-4368.27px, -2140px) scale(1.2);
    // }
    // &#KY{
    //   transform: translate(-3777.27px, 1054px) scale(1.2);
    // }
    // &#WV{
    //   transform: translate(722.27px, 3186px) scale(1.2);
    // }
    // &#VA{
    //   transform: translate(-3796.27px, 1056px) scale(1.2);
    // }
    // &#TN{
    //   transform: translate(-3772.27px, 1049px) scale(1.2);
    // }
    // &#NC{
    //   transform: translate(-3794.27px, 1050.5px) scale(1.2);
    // }
    // &#AZ{
    //   transform: translate(-3695.27px, 1048.5px) scale(1.2);
    // }
    // &#NM_path{
    //   transform: translate(-4203.27px, -2174.5px) scale(1.2);
    // }
    // &#TX{
    //   transform: translate(-3726.27px, 1038.5px) scale(1.2);
    // }
    // &#OK_path{
    //   transform: translate(-4289.27px, -2179.5px) scale(1.2);
    // }
    // &#AR_path{
    //   transform: translate(-4381.27px, -2187.5px) scale(1.2);
    // }
    // &#MS_path{
    //   transform: translate(-4416.27px, -2206.5px) scale(1.2);
    // }
    // &#AL{
    //   transform: translate(-3775.27px, 1043.5px) scale(1.2);
    // }
    // &#GA{
    //   transform: translate(-3785.27px, 1043.5px) scale(1.2);
    // }
    // &#SC{
    //   transform: translate(-3793.27px, 1046px) scale(1.2);
    // }
    // &#LA{
    //   transform: translate(626.27px, 3265.5px) scale(1.2);
    // }
    // &#FL_path{
    //   transform: translate(-4496.27px, -2249px) scale(1.2);
    // }
    // &#AK{
    //   transform: translate(-10.73px, -10px) scale(1.2);
    // }
    // &#MD{
    //   transform: translate(-4568.27px, -2128px) scale(1.2);
    // }
    // &#Path_38655{
    //   transform: translate(-4589.27px, -2124px) scale(1.2);
    // }
    // &#VT{
    //   transform: translate(-4595.27px, -2061px) scale(1.2);
    // }
    // &#NH{
    //   transform: translate(-4607.7px, -2055px) scale(1.2);
    // }
    // &#MA{
    //   transform: translate(-4602.7px, -2082px) scale(1.2);
    // }
  }

  &.scaleIL {
    transform: translate(-116px, -361px) scale(1.2);
  }
  &.scaleIN {
    transform: translate(-122px, -359px) scale(1.2);
  }
  &.scaleIA {
    transform: translate(-670px, -2129px) scale(1.2);
  }
  &.scaleWA {
    transform: translate(-358px, -2015px) scale(1.2);
  }
  &.scaleID {
    transform: translate(-71px, -350px) scale(1.2);
  }
  &.scaleMT {
    transform: translate(-81px, -344px) scale(1.2);
  }
  &.scaleND {
    transform: translate(-97px, -343px) scale(1.2);
  }
  &.scaleMN {
    transform: translate(-107px, -350px) scale(1.2);
  }
  &.scaleWI {
    transform: translate(-116px, -350px) scale(1.2);
  }
  &.scaleMI {
    transform: translate(-127px, -352px) scale(1.2);
  }
  &.scaleNY {
    transform: translate(-141px, -349px) scale(1.2);
  }
  &.scaleME {
    transform: translate(-150px, -341px) scale(1.2);
  }
  &.scaleOR {
    transform: translate(-329px, -2054px) scale(1.2);
  }
  &.scaleWY {
    transform: translate(-487px, -2100px) scale(1.2);
  }
  &.scaleSD {
    transform: translate(-97px, -350px) scale(1.2);
  }
  &.scaleNE {
    transform: translate(-97px, -356px) scale(1.2);
  }
  &.scaleOH {
    transform: translate(-129px, -357px) scale(1.2);
  }
  &.scalePA {
    transform: translate(-139px, -354px) scale(1.2);
  }
  &.scaleCA {
    transform: translate(-314px, -2119px) scale(1.2);
  }
  &.scaleNV {
    transform: translate(-65px, -358px) scale(1.2);
  }
  &.scaleUT {
    transform: translate(-74px, -359px) scale(1.2);
  }
  &.scaleCO {
    transform: translate(-89px, -361px) scale(1.2);
  }
  &.scaleKS {
    transform: translate(-100px, -363px) scale(1.2);
  }
  &.scaleMO {
    transform: translate(-682px, -2174px) scale(1.2);
  }
  &.scaleKY {
    transform: translate(-127px, -364px) scale(1.2);
  }
  &.scaleWV {
    transform: translate(-133px, -361px) scale(1.2);
  }
  &.scaleVA {
    transform: translate(-140px, -361px) scale(1.2);
  }
  &.scaleOK {
    transform: translate(-594px, -2226px) scale(1.2);
  }
  &.scaleAR {
    transform: translate(-697px, -2232px) scale(1.2);
  }
  &.scaleTN {
    transform: translate(-121px, -368px) scale(1.2);
  }
  &.scaleNC {
    transform: translate(-135px, -367px) scale(1.2);
  }
  &.scaleAZ {
    transform: translate(-74px, -371px) scale(1.2);
  }
  &.scaleNM {
    transform: translate(-493px, -2223px) scale(1.2);
  }
  &.scaleTX {
    transform: translate(-95px, -380px) scale(1.2);
  }
}

.country_state_letters {
  stroke: #fff;
  stroke-width: 2px;
  stroke-linejoin: round;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 7%));

  &#MD {
    transform: translate(-4568.27px, -2128px) scale(1.2);
  }
  &#Path_38655 {
    transform: translate(-4589.27px, -2124px) scale(1.2);
  }
  &#VT {
    transform: translate(-4595.27px, -2061px) scale(1.2);
  }
  &#NH {
    transform: translate(-4607.7px, -2055px) scale(1.2);
  }
  &#MA {
    transform: translate(-4602.7px, -2082px) scale(1.2);
  }
}

.country_text {
  pointer-events: none !important;
}
