@import "src/theme/variables.scss";

.country_holder {
  svg {
    overflow: visible;
  }
}

.hover_data_holder {
  background-color: #2f2f2f;
  border-radius: 2px;
  box-shadow: 0 0 4px rgb(0 0 0 / 15%);

  padding: 6px 8px 8px 8px;

  z-index: 2;

  .hover_data_title {
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    color: #cccccc;

    &::-moz-selection {
      background: #91919133;
      color: #919191;
    }
    &::selection {
      background: #91919133;
      color: #919191;
    }
  }

  .hover_data_border_line {
    height: 1px;
    width: 100%;
    margin: 6px 0px 8px 0px;

    border-radius: 1px;
    background-color: #aaaaaa;
  }

  .hover_data_info_holder {
    .hover_data_info_top_line {
      display: flex;
      align-items: center;
      margin-bottom: 2px;

      &::-moz-selection {
        background: #91919133;
        color: #919191;
      }
      &::selection {
        background: #91919133;
        color: #919191;
      }

      .hover_data_icon {
        svg {
          display: flex;
          width: 10px;
          height: 10px;
        }
      }

      .hover_data_info_title {
        font-size: 11px;
        font-weight: 500;
        line-height: 14px;
        text-align: center;
        color: #cccccc;
        padding-left: 4px;

        &::-moz-selection {
          background: #91919133;
          color: #919191;
        }
        &::selection {
          background: #91919133;
          color: #919191;
        }
      }

      .hover_data_values_hold {
        display: flex;
        align-items: center;
      }
    }

    .hover_data_price {
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      color: #cccccc;

      &::-moz-selection {
        background: #91919133;
        color: #919191;
      }
      &::selection {
        background: #91919133;
        color: #919191;
      }

      &.increased_title {
        padding-right: 12px;
      }
    }

    .hover_data_percent {
      font-size: 11px;
      line-height: 14px;
      font-weight: 700;
      color: #cccccc;

      &::-moz-selection {
        background: #91919133;
        color: #919191;
      }
      &::selection {
        background: #91919133;
        color: #919191;
      }
    }

    &.hover_data_bigger_hold {
      .hover_title_container {
        display: flex;
        flex: 1;
        align-items: center;
      }
    }
  }
}

.country_state {
  transition: all 0.3s ease-in-out;
  &:hover {
    stroke: #fff;
    stroke-width: 4px;
    stroke-linejoin: round;
    paint-order: stroke;
    filter: drop-shadow(0 0 2px rgb(0 0 0 / 7%));
  }

  &.scaleIL {
    transform: translate(-116px, -361px) scale(1.2);
  }
  &.scaleIN {
    transform: translate(-122px, -359px) scale(1.2);
  }
  &.scaleIA {
    transform: translate(-670px, -2129px) scale(1.2);
  }
  &.scaleWA {
    transform: translate(-358px, -2015px) scale(1.2);
  }
  &.scaleID {
    transform: translate(-71px, -350px) scale(1.2);
  }
  &.scaleMT {
    transform: translate(-81px, -344px) scale(1.2);
  }
  &.scaleND {
    transform: translate(-97px, -343px) scale(1.2);
  }
  &.scaleMN {
    transform: translate(-107px, -350px) scale(1.2);
  }
  &.scaleWI {
    transform: translate(-116px, -350px) scale(1.2);
  }
  &.scaleMI {
    transform: translate(-127px, -352px) scale(1.2);
  }
  &.scaleNY {
    transform: translate(-141px, -349px) scale(1.2);
  }
  &.scaleME {
    transform: translate(-150px, -341px) scale(1.2);
  }
  &.scaleOR {
    transform: translate(-329px, -2054px) scale(1.2);
  }
  &.scaleWY {
    transform: translate(-487px, -2100px) scale(1.2);
  }
  &.scaleSD {
    transform: translate(-97px, -350px) scale(1.2);
  }
  &.scaleNE {
    transform: translate(-97px, -356px) scale(1.2);
  }
  &.scaleOH {
    transform: translate(-129px, -357px) scale(1.2);
  }
  &.scalePA {
    transform: translate(-139px, -354px) scale(1.2);
  }
  &.scaleCA {
    transform: translate(-314px, -2119px) scale(1.2);
  }
  &.scaleNV {
    transform: translate(-65px, -358px) scale(1.2);
  }
  &.scaleUT {
    transform: translate(-74px, -359px) scale(1.2);
  }
  &.scaleCO {
    transform: translate(-89px, -361px) scale(1.2);
  }
  &.scaleKS {
    transform: translate(-100px, -363px) scale(1.2);
  }
  &.scaleMO {
    transform: translate(-682px, -2174px) scale(1.2);
  }
  &.scaleKY {
    transform: translate(-127px, -364px) scale(1.2);
  }
  &.scaleWV {
    transform: translate(-133px, -361px) scale(1.2);
  }
  &.scaleVA {
    transform: translate(-140px, -361px) scale(1.2);
  }
  &.scaleOK {
    transform: translate(-594px, -2226px) scale(1.2);
  }
  &.scaleAR {
    transform: translate(-697px, -2232px) scale(1.2);
  }
  &.scaleTN {
    transform: translate(-121px, -368px) scale(1.2);
  }
  &.scaleNC {
    transform: translate(-135px, -367px) scale(1.2);
  }
  &.scaleAZ {
    transform: translate(-74px, -371px) scale(1.2);
  }
  &.scaleNM {
    transform: translate(-493px, -2223px) scale(1.2);
  }
  &.scaleTX {
    transform: translate(-95px, -380px) scale(1.2);
  }
  &.scaleLA {
    transform: translate(-111px, -378px) scale(1.2);
  }
  &.scaleMS {
    transform: translate(-742px, -2253px) scale(1.2);
  }
  &.scaleAL {
    transform: translate(-124px, -376px) scale(1.2);
  }
  &.scaleGA {
    transform: translate(-132px, -375px) scale(1.2);
  }
  &.scaleSC {
    transform: translate(-136px, -370px) scale(1.2);
  }
  &.scaleFL {
    transform: translate(-835px, -2305px) scale(1.2);
  }
  &.scaleNH {
    transform: translate(-954px, -2059px) scale(1.2);
  }
  &.scaleVT {
    transform: translate(-940px, -2066px) scale(1.2);
  }
  &.scaleMA {
    transform: translate(-953px, -2090px) scale(1.2);
  }
  &.scaleRI {
    transform: translate(-958px, -2103px) scale(1.2);
  }
  &.scaleCT {
    transform: translate(-950px, -2109px) scale(1.2);
  }
  &.scaleNJ {
    transform: translate(-935px, -2127px) scale(1.2);
  }
  &.scaleDE {
    transform: translate(-934px, -2145px) scale(1.2);
  }
  &.scaleMD {
    transform: translate(-913px, -2153px) scale(1.2);
  }
  &.scaleAK {
    transform: translate(-329px, -2300px) scale(1.2);
  }
}

#ak-text{
  stroke-width: 0px;
}

.country_text {
  pointer-events: none !important;
}
