@import '/src/theme/variables.scss';

.header-wrapper {
    display: grid;
}
p {
    margin: 0 !important;
}
.counter-text {
    display: flex;
    align-items: center;
    padding: 0px 8px;
}
.has-counter-header {
    .header-name {
        padding-left: 0px !important;
    }
}

.counter-holder-all {
    display: flex;
    //padding: 4px 0px 4px 4px;
    margin-right: 4px;

    &.brokerLoadDrop {
        cursor: pointer;
    }
}

.dropOpenedHeader {
    .counter-holder-all {
        background-color: $bw5;
        border-radius: 2px;
        position: relative;
    }

    .header-name {
        color: #ffffff !important;
    }

    .arrow-down-header {
        transform: rotate(180deg) !important;
        svg {
            path {
                fill: #dadada !important;
            }

            &:hover {
                path {
                    fill: #dadada !important;
                }
            }
        }
    }
}

.toolbar-general-cmp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 440px;
    width: 100%;

    .icon-text-wrapper {
        display: flex;
        align-items: center;
        height: 32px;
        max-width: none;

        p {
            color: #424242;

            font-size: 26px;
            font-weight: 900;
            margin-left: 8px !important;
            margin: 0;
        }
    }
}
.header-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 34px;
    background-color: #fff;
    border-radius: 3px;
    .header-name {
        margin: 0;
        color: #2f2f2f;
        font-size: 14px;
        font-weight: 800;
        line-height: 17px;
    }

    .capsula-wrapper {
        background: $bw6-2;
        border-radius: 60px;
        padding: 2px 10px;
        margin-right: 4px;

        p {
            font-size: 11px;
            line-height: 14px;
            color: $white;

            &::-moz-selection {
                color: $white;
                background: rgb(255, 255, 255, 0.2);
            }
            &::selection {
                color: $white;
                background: rgb(255, 255, 255, 0.2);
            }
        }
    }

    .multiple-details-select-dropdown-container {
        margin: 0 4px;
        transform: rotate(180deg);
        border-radius: 2px;
        transition: transform 0.2s ease-in;

        &.active {
            transform: rotate(360deg);

            &:hover {
                .icon {
                    svg {
                        path {
                            fill: $bw-9;
                        }

                        rect {
                            fill: $ta-black;
                        }
                    }
                }
            }

            .icon {
                svg {
                    path {
                        fill: $bw-9;
                    }

                    rect {
                        fill: $ta-black;
                    }
                }
            }
        }

        .icon {
            width: 26px;
            height: 26px;

            &:hover {
                svg {
                    path {
                        fill: $ta-black;
                    }

                    rect {
                        fill: $bw2;
                    }
                }
            }

            svg {
                path {
                    fill: $bw5;

                    transition: fill 0.2s ease-in;
                }

                rect {
                    fill: transparent;
                    transition: fill 0.2s ease-in;
                }
            }
        }
    }

    .search-btn-container {
        .border {
            height: 18px;
            width: 1px;
            background: $ta-light-grey-6;
            margin: 0 4px;
        }

        .search-btn-container {
            width: 26px;
            height: 26px;
            border-radius: 2px;
            transition: background 0.2s ease-in;
            cursor: pointer;

            &:hover {
                background: $bw2;

                .icon {
                    svg {
                        path {
                            fill: $ta-black;
                        }
                    }
                }
            }

            .icon {
                svg {
                    width: 16px;
                    height: 16px;

                    path {
                        fill: $bw5;
                        transition: fill 0.2s ease-in;
                    }
                }
            }
        }
    }

    .header-plus-button {
        display: flex;
        align-items: center;
        .date-arrow-repair {
            display: flex;
            align-items: center;
            .date-repair {
                font-size: 14px;
                font-weight: 500;
                color: #2f2f2f;
                padding-right: 6px;
                &::-moz-selection {
                    color: $bw5;
                    background: rgb(145, 145, 145, 0.2);
                }
                &::selection {
                    color: $bw5;
                    background: rgb(145, 145, 145, 0.2);
                }
            }
            .icons-repair {
                display: flex;
                flex-direction: column;
                position: relative;
                bottom: 6px;
                .first-icon {
                    height: 14px;
                    width: 14px;
                    svg {
                        transform: rotate(180deg);
                        height: 14px;
                        width: 12.5px;
                        position: relative;
                        bottom: -3px;

                        &:hover {
                            path {
                                fill: #6c6c6c;
                            }
                        }
                    }
                }
                .second-icon {
                    height: 14px;
                    width: 14px;
                    svg {
                        height: 14px;
                        width: 12px;
                        position: relative;
                        top: -3px;
                        left: 0.1px;
                        &:hover {
                            path {
                                fill: #6c6c6c;
                            }
                        }
                    }
                }
            }

            .map-btn-container {
                width: 26px;
                height: 26px;
                border-radius: 2px;
                margin-right: 4px;
                transition: background 0.2s ease-in-out;

                &.active {
                    background: $ta-blue-14;

                    .map-icon {
                        svg {
                            path {
                                fill: $ta-blue-17;
                            }
                        }
                    }
                }

                .map-icon {
                    position: relative;
                    bottom: 1px;

                    svg {
                        path {
                            fill: $bw6-2;
                            transition: fill 0.2s ease-in-out;
                        }
                    }
                }
            }
        }

        .sort-container {
            .sort-text-container {
                padding: 1px 4px;
                border-radius: 2px;
                transition: background 0.2s ease-in-out;

                .sort-text {
                    color: $ta-black;
                    font-size: 14px;
                    line-height: 18px;

                    &::-moz-selection {
                        color: $ta-black;
                        background: rgb(108, 108, 108, 0.2);
                    }

                    &::selection {
                        color: $ta-black;
                        background: rgb(108, 108, 108, 0.2);
                    }
                }

                &.active-dropdown {
                    background: $ta-black !important;

                    .sort-text {
                        color: $white;
                    }
                }

                &:hover {
                    background: $bw2;
                }

                &.disabled {
                    pointer-events: none !important;
                }
            }

            .sort-arrow {
                width: 26px;
                height: 26px;
                border-radius: 2px;
                transition: background 0.2s ease-in;
                cursor: pointer;

                svg {
                    transform: rotate(0deg);
                    transition: transform 0.2s ease-in;

                    path {
                        transition: fill 0.2s ease-in;
                    }
                }

                &.rotate {
                    svg {
                        transform: rotate(180deg);
                    }
                }

                &:hover {
                    background: $ta-blue-16;

                    svg {
                        path {
                            fill: $ta-blue-15 !important;
                        }
                    }
                }
            }
        }

        .sort-container-dropdown {
            padding-right: 4px;
        }
    }
}

.border-line-left {
    border: none;
    border-radius: 1px;
    height: 24px;
    width: 2px;
    border-left: 2px solid #dadada;
}
svg {
    &:hover {
        cursor: pointer;
    }
}
.icon-plus-header {
    height: 26px;
    width: 26px;
    display: flex;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    cursor: pointer;
    transition: background 0.2s ease-in;

    svg {
        path {
            fill: $ta-blue-13;
            transition: fill 0.2s ease-in;
        }
    }

    &:hover {
        background: $ta-blue-16;

        svg {
            path {
                fill: $ta-blue-15 !important;
            }
        }
    }

    &.disabled {
        pointer-events: none !important;

        background: transparent;

        svg {
            path {
                fill: $ta-light-grey-6 !important;
            }
        }
    }
}
.disable-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.total-cost {
    color: $ta-blue-13;
    font-size: 14px;
    line-height: 18px;

    &::-moz-selection {
        color: $ta-blue-13;
        background: rgba(109, 130, 199, 0.2);
    }

    &::selection {
        color: $ta-blue-13;
        background: rgba(109, 130, 199, 0.2);
    }
}

.repair-header-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    .single-repair-icon {
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 3px;
        svg {
            path {
                fill: #aaaaaa;
            }
            &:hover {
                path {
                    fill: #6c6c6c;
                }
            }
        }
    }
}
.clicked {
    svg {
        path {
            fill: #6d82c7;
        }
        &:hover {
            path {
                fill: #536bc2 !important;
            }
        }
    }
}
.hide-buttons {
    display: flex;
    align-items: center;

    .header-divider {
        width: 1px;
        height: 18px;
        margin: 0 4px;
        background: $ta-light-grey-6;
    }
}
.header-arrow {
    &:hover {
        svg {
            rect {
                fill: $ta-black;
            }

            path {
                fill: $white;
            }
        }
    }

    svg {
        rect,
        path {
            transition: fill 0.2s ease-in;
        }
    }
}
.ic-hed {
    display: flex;
    align-items: center;
}
.request-header-container {
    border-radius: 2px;
    padding: 2px 6px;
    transition: background 0.2s ease-in;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &:hover {
        background: $ta-blue-16;

        p {
            color: $ta-blue-15;
        }

        svg {
            path {
                fill: $ta-blue-15;
            }
        }
    }

    p {
        font-size: 14px;
        line-height: 18px;
        margin-right: 4px !important;
        color: $ta-blue-14;
        transition: color 0.2s ease-in;
    }

    svg {
        path {
            transition: fill 0.2s ease-in;
            fill: $ta-blue-13;
        }
    }
}
.danger-popover {
    margin-left: 3px;
    margin-right: 6px;
}
.danger-svg {
    svg {
        width: 18px;
        height: 18px;
        display: flex;
        path {
            fill: $ta-red-10;
        }
    }
    &:hover {
        svg {
            path {
                fill: $ta-red-11;
            }
        }
    }
}
.icon-right {
    display: flex;
    align-items: center;
    margin-right: 2px;
    .open-status {
        background-color: #4db6a2 !important;
    }
    .inactive-status {
        height: 22px;
        width: 78px;
        background: $bw5;
        border-radius: 2px;
        margin-right: 8px;

        &.closed {
            background: $ta-red-10;
        }
    }

    .subtext-container {
        padding: 4px 8px;
        margin-right: 8px;
        border-radius: 2px;

        p {
            font-size: 14px;
            line-height: 18px;
            color: $white;

            &::-moz-selection {
                color: $white;
                background: rgb(255, 255, 255, 0.2);
            }

            &::selection {
                color: $white;
                background: rgb(255, 255, 255, 0.2);
            }
        }
    }
}
.violation-counter {
    font-size: 14px;
    font-weight: 800;
    color: $bw5;
    margin-right: 2px;
    margin-left: 12px;
    &::-moz-selection {
        color: $bw5;
        background: rgb(145, 145, 145, 0.2);
    }
    &::selection {
        color: $bw5;
        background: rgb(145, 145, 145, 0.2);
    }
}
.header-text-arrow-down {
    display: flex;
    align-items: center;
    .arrow-down-header {
        margin-right: 10px;
        transform: rotate(0deg);
        transition: all 0.2s ease-in-out;
        svg {
            display: flex;
            &:hover {
                path {
                    fill: #6c6c6c;
                }
            }
        }
    }
}

.second-name-header-l {
    margin-left: 397px !important;
}
.second-counter {
    position: relative;
    left: 400px;
}

.load-dropdown-body {
    padding: 2px;
    background-color: #fff;
    border-radius: 5px;
    filter: drop-shadow(0 0 4px rgb(0, 0, 0, 0.15));

    .load-template-holder {
        position: relative;
        display: flex;
        width: 100%;
        padding: 2px;
        margin-bottom: 2px;

        .number-value-holder {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 32px;
            height: 24px;
            margin-right: 4px;

            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            color: $bw5;

            background-color: #f3f3f3;
            border-radius: 2px;
        }

        .number-text-holder {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 29px;
            //margin-right: 21px;

            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            color: $bw5;
        }

        .selected-load-type {
            position: absolute;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 14px;
            width: 14px;
            margin-right: 7px;

            svg-icon {
                width: 12.74px;
                height: 9.85px;

                svg {
                    path {
                        fill: #97a8dc;
                    }
                }
            }
        }

        &:hover {
            background-color: #f3f3f3;
            cursor: pointer;

            .number-value-holder {
                background-color: #ffffff;
                color: #6c6c6c;
            }

            .number-text-holder {
                color: #6c6c6c;
            }
        }
    }

    .disabled-template {
        .number-value-holder {
            background-color: #f3f3f3;
        }

        .number-text-holder {
            color: $bw5;
        }

        &:hover {
            background-color: transparent;
            cursor: auto;

            .number-value-holder {
                background-color: #f3f3f3;
                color: $bw5;
            }

            .number-text-holder {
                color: $bw5;
            }
        }
    }

    .active-template {
        .number-value-holder {
            background-color: #e0eaf8;
            color: #536bc2;
        }

        .number-text-holder {
            color: #536bc2;
        }
    }
}
