<div class="header-wrapper">
    <div
        class="toolbar-general-cmp"
        *ngIf="
            [
                'Truck Detail',
                'Driver Detail',
                'Trailer Detail',
                'Repair Shop Detail',
                'Fuel Stop Detail',
                'Shipper Detail',
                'Broker Detail',
                'Roadside Insp. Detail',
                'Load Detail',
            ].includes(headerText)
        "
    >
        <div class="icon-text-wrapper">
            <span
                ngbTooltip
                [mainTooltip]="tooltipHeaderName"
                position="bottom"
                tooltipBackground="#424242"
                [tooltipMarginTop]="'6px'"
            >
                <svg-icon
                    routerLink="{{ route }}"
                    class="header-arrow"
                    [src]="detailsHeaderSvgRoutes.arrowLeftRoute"
                >
                </svg-icon>
            </span>
            <p class="disable-selection">{{ headerText }}</p>
        </div>

        <div class="icon-right">
            <ng-container *ngIf="isInactive">
                <div
                    class="d-flex align-items-center justify-content-center ta-font-bold text-color-white text-size-11 inactive-status"
                >
                    INACTIVE
                </div>
            </ng-container>

            <ng-container *ngIf="showClosedBadge && !businessOpen">
                <div
                    class="d-flex align-items-center justify-content-center ta-font-bold text-color-white text-size-11 inactive-status closed"
                >
                    CLOSED
                </div>
            </ng-container>

            <ng-container *ngIf="subText">
                <div
                    class="d-flex align-items-center subtext-container"
                    [ngStyle]="{
                        background:
                            subText === 'PENDING'
                                ? '#919191'
                                : subText === 'ACTIVE'
                                  ? '#6692F1'
                                  : '#56B4AC',
                    }"
                >
                    <p class="m-0 ta-font-bold">{{ subText }}</p>
                </div>
            </ng-container>

            <app-ta-details-dropdown
                (click)="toggleDropdownActions()"
                [customClassDropDown]="'drop-down-header'"
                [options]="options?.actions"
                [id]="optionsId"
                [leftIcon]="false"
                [placement]="'right-top right-bottom'"
                (dropDownActions)="dropAct($event)"
                (openModalAction)="openModal($event)"
                [hasVericalDots]="false"
            >
            </app-ta-details-dropdown>
        </div>
    </div>

    <div>
        <div
            class="header-toolbar"
            *ngIf="
                ![
                    'Truck Detail',
                    'Driver Detail',
                    'Trailer Detail',
                    'Repair Shop Detail',
                    'Fuel Stop Detail',
                    'Shipper Detail',
                    'Broker Detail',
                    'Roadside Insp. Detail',
                    'Load Detail',
                ].includes(headerText)
            "
        >
            <div
                class="counter-text"
                [ngClass]="{
                    'has-counter-header': counterData,
                    dropOpenedHeader: dropOpened,
                }"
            >
                <div
                    class="d-flex align-items-center counter-holder-all"
                    [class.openDropdownClass]="brokerLoadDrop"
                    #t2="ngbPopover"
                    (click)="showDropdown(t2)"
                    (hidden)="dropdownClosed()"
                    [ngbPopover]="dropdownPopover"
                    [placement]="'bottom-left'"
                    [container]="'body'"
                    triggers="manual"
                    [autoClose]="'outside'"
                >
                    <ng-container
                        *ngIf="
                            (danger || !counterData) &&
                            headerText !== 'Drug & Alcohol' &&
                            headerText !== 'Comment' &&
                            headerText !== 'Status History'
                        "
                    >
                        <div
                            ngbTooltip
                            [mainTooltip]="
                                headerText === 'Registration'
                                    ? 'No Active Registration'
                                    : 'None Active'
                            "
                            tooltipBackground="#424242"
                            position="bottom"
                            class="danger-popover"
                        >
                            <svg-icon
                                class="danger-svg"
                                [src]="icDangerSvgIcon"
                            ></svg-icon>
                        </div>
                    </ng-container>
                    <div class="header-text-arrow-down">
                        <p
                            class="header-name disable-selection"
                            #t2="ngbPopover"
                            [ngbPopover]="eventsDatePopover"
                        >
                            {{ headerText }}
                        </p>
                        <svg-icon
                            *ngIf="hasArrowDown"
                            class="arrow-down-header"
                            src="assets/svg/common/calendar/arrow-right.svg"
                        ></svg-icon>
                    </div>
                    <div
                        *ngIf="secondNameHeader"
                        class="header-text-arrow-down"
                    >
                        <div class="second-counter">
                            <app-ta-counter
                                [countColor]="'#919191'"
                                [countHeight]="'24px'"
                                [countWidth]="'24px'"
                                [count]="countViolation"
                            >
                            </app-ta-counter>
                        </div>
                        <p
                            class="header-name disable-selection second-name-header-l"
                        >
                            {{ secondNameHeader }}
                        </p>
                    </div>

                    <app-ta-counter
                        *ngIf="
                            counterData || (counterData == 0 && !hideCounter)
                        "
                        [countBackground]="dropOpened ? '#424242' : '#6c6c6c'"
                        [countColor]="dropOpened ? '#FFFFFF' : '#FFFFFF'"
                        [countHeight]="'20px'"
                        [countWidth]="'20px'"
                        [count]="counterData"
                        [customClass]="'circle_counter'"
                    >
                    </app-ta-counter>

                    <ng-container *ngIf="capsulaText">
                        <div
                            class="d-flex align-items-center justify-content-center capsula-wrapper"
                        >
                            <p class="m-0 ta-font-bold">
                                {{ capsulaText }}
                            </p>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="hasMultipleDetailsSelectDropdown">
                        <div
                            class="multiple-details-select-dropdown-container"
                            #popover="ngbPopover"
                            autoClose="outside"
                            [ngbPopover]="multipleDetailsSelect"
                            [popoverClass]="'popover-main'"
                            [placement]="['bottom-end']"
                            [container]="'body'"
                            [ngClass]="{ active: popover?.isOpen() }"
                        >
                            <svg-icon
                                class="icon"
                                src="assets/svg/common/ic_arrow-box.svg"
                            ></svg-icon>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="totalCost">
                        <div class="border-line-left"></div>
                        <div class="total-cost ta-font-bold mx-2">
                            {{ totalCost | formatCurrency }}
                        </div>
                    </ng-container>

                    <ng-container *ngIf="isSearchBtn && isSearchBtnDisplayed">
                        <div
                            class="d-flex align-items-center search-btn-container"
                        >
                            <div class="border"></div>

                            <div
                                class="d-flex align-items-center justify-content-center search-btn-container"
                                ngbTooltip
                                mainTooltip="Search"
                                tooltipBackground="#424242"
                                position="bottom"
                                (click)="handleSearchBtnClick()"
                            >
                                <svg-icon
                                    class="icon"
                                    src="assets/svg/common/ic_search.svg"
                                ></svg-icon>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <ng-container *ngIf="hasSearch && !isSearchBtn">
                    <div class="border-line-left"></div>
                    <span class="mx-1">
                        <app-ca-search-multiple-states
                            [searchType]="headerText"
                            [toolbarSearch]="true"
                            [selectedTabData]="{
                                gridNameTitle: searchPlaceholder,
                            }"
                        ></app-ca-search-multiple-states>
                    </span>
                </ng-container>

                <ng-container *ngIf="hasIcon">
                    <div class="repair-header-icons gap-1">
                        <div class="border-line-left"></div>

                        <ng-container *ngIf="timeFilter">
                            <span class="ic-hed">
                                <app-ca-filter
                                    [type]="'timeFilter'"
                                    [icon]="'ic_time'"
                                    [filterTitle]="'Time Filter'"
                                    [timeSubType]="'past'"
                                    (setFilter)="setFilterValue($event)"
                                    (clearAll)="setFilterValue($event)"
                                >
                                </app-ca-filter>
                            </span>
                        </ng-container>

                        @if (truckTypeFilter) {
                            <span class="ic-hed">
                                <app-ca-filter-dropdown
                                    type="TruckType"
                                    [list]="truckTypeArray"
                                    (setFilter)="onFilter($event)"
                                >
                                </app-ca-filter-dropdown>
                            </span>
                        }

                        @if (trailerTypeFilter) {
                            <span class="ic-hed">
                                <app-ca-filter-dropdown
                                    type="TrailerType"
                                    [list]="trailerTypeArray"
                                    (setFilter)="onFilter($event)"
                                >
                                </app-ca-filter-dropdown>
                            </span>
                        }

                        <ng-container *ngIf="pickupFilter">
                            <span class="ic-hed">
                                <app-ta-special-filter
                                    [type]="'pickupFilter'"
                                    [icon]="'ic_pickup_filter'"
                                    [filterTitle]="'Pickup Filter'"
                                    [dataArray]="pickupFilterData"
                                    (setFilter)="
                                        onSpecialFilter($event, 'pickupFilter')
                                    "
                                    [selectedFilter]="
                                        pickupFilterData.selectedFilter
                                    "
                                    [isCountHidden]="true"
                                ></app-ta-special-filter>
                            </span>
                        </ng-container>

                        <ng-container *ngIf="deliveryFilter">
                            <span class="ic-hed">
                                <app-ta-special-filter
                                    [type]="'deliveryFilter'"
                                    [icon]="'ic_delivery_filter'"
                                    [filterTitle]="'Delivery Filter'"
                                    [dataArray]="deliveryFilterData"
                                    (setFilter)="
                                        onSpecialFilter(
                                            $event,
                                            'deliveryFilter'
                                        )
                                    "
                                    [selectedFilter]="
                                        deliveryFilterData.selectedFilter
                                    "
                                    [isCountHidden]="true"
                                ></app-ta-special-filter>
                            </span>
                        </ng-container>

                        <ng-container *ngIf="dispatcherFilter">
                            <span class="ic-hed">
                                <!-- DISPECHER FILTER -->
                                <app-ca-filter-dropdown
                                    type="Dispatcher"
                                    [list]="unselectedDispatcher"
                                    (setFilter)="setFilterValue($event)"
                                >
                                </app-ca-filter-dropdown>
                            </span>
                        </ng-container>

                        <ng-container *ngIf="statusFilter">
                            <span class="ic-hed">
                                <!-- STATUS FILTER -->
                                <app-ca-filter-dropdown
                                    type="Status"
                                    [list]="loadStatusOptionsArray"
                                    (setFilter)="setFilterValue($event)"
                                >
                                </app-ca-filter-dropdown>
                            </span>
                        </ng-container>

                        <ng-container *ngIf="locationFilter">
                            <span class="ic-hed">
                                <!-- LOCATION FILTER -->
                                <app-ca-filter
                                    [type]="'locationFilter'"
                                    [icon]="'address'"
                                    [filterTitle]="'Area Filter'"
                                    [areaFilter]="areaFilter"
                                    [locationDefType]="true"
                                    (setFilter)="setFilterValue($event)"
                                    (clearAll)="setFilterValue($event)"
                                >
                                </app-ca-filter
                            ></span>
                        </ng-container>

                        <ng-container *ngIf="pmFilter">
                            <span class="ic-hed">
                                <!-- PM FILTER -->
                                <app-ca-filter
                                    [type]="'pmFilter'"
                                    [icon]="'default_pm'"
                                    [filterTitle]="'PM Filter'"
                                    [pmSubtype]="'truck'"
                                    [noLeftIcon]="false"
                                    [leftSideIcon]="true"
                                    (setFilter)="setFilterValue($event)"
                                    (clearAll)="setFilterValue($event)"
                                    [pmFilterArray]="pmFilterArray"
                                >
                                </app-ca-filter>
                            </span>
                        </ng-container>

                        <ng-container *ngIf="categoryFilter">
                            <span class="ic-hed">
                                <!-- CATEGORY REPAIR FILTER -->
                                <app-ca-filter
                                    [type]="'categoryRepairFilter'"
                                    [icon]="'ic_key-repair'"
                                    [filterTitle]="'Category Repair Filter'"
                                    [noLeftIcon]="false"
                                    [leftSideIcon]="true"
                                    (setFilter)="setFilterValue($event)"
                                    (clearAll)="setFilterValue($event)"
                                    [pmFilterArray]="categoryRepairArray"
                                >
                                </app-ca-filter>
                            </span>
                        </ng-container>

                        <ng-container *ngIf="moneyFilter">
                            <span class="ic-hed">
                                <!-- MONEY FILTER -->
                                <app-ca-filter
                                    [type]="'moneyFilter'"
                                    [icon]="'dollar'"
                                    [filterTitle]="'Money Filter'"
                                    [subType]="'all'"
                                    [isMoneyFilter]="true"
                                    [isLoadType]="true"
                                    (setFilter)="setFilterValue($event)"
                                    (clearAll)="setFilterValue($event)"
                                >
                                </app-ca-filter>
                            </span>
                        </ng-container>
                        <ng-container *ngIf="repairOrderFilter">
                            <span class="ic-hed">
                                <app-ta-special-filter
                                    [type]="'repair-filter'"
                                    [icon]="'ic_repair_track'"
                                    [filterTitle]="'Repair Filter'"
                                    [dataArray]="repairFilterData"
                                    (setFilter)="
                                        onSpecialFilter($event, 'repairArray')
                                    "
                                    [selectedFilter]="
                                        this.repairFilterData?.filteredArray
                                    "
                                ></app-ta-special-filter>
                            </span>
                        </ng-container>
                    </div>
                </ng-container>
            </div>

            <div class="header-plus-button">
                <ng-container *ngIf="hasSort">
                    <ng-container *ngIf="isSortBtn; else sortComponent">
                        <div
                            class="sort-container d-flex align-items-center me-1"
                        >
                            <div class="sort-text-container">
                                <span class="sort-text ta-font-medium">
                                    Date
                                </span>
                            </div>

                            <svg-icon
                                class="sort-arrow d-flex align-items-center justify-content-center"
                                [class.rotate]="sortDirection === 'asc'"
                                [src]="detailsHeaderSvgRoutes.sortRoute"
                                [svgStyle]="{
                                    'width.px': '18',
                                    'height.px': '18',
                                }"
                                (click)="handleSortClick(true)"
                            ></svg-icon>
                        </div>
                    </ng-container>

                    <ng-template #sortComponent>
                        <div
                            class="d-flex align-items-center sort-container-dropdown"
                        >
                            <app-ca-sort-dropdown
                                [sortColumns]="sortColumns"
                                [activeSortColumn]="activeSortType"
                                [dropdownPosition]="'right-top'"
                                [dropdownWidth]="107"
                                (onSortChange)="handleSortClick($event)"
                            ></app-ca-sort-dropdown>
                        </div>

                        <!--   <div
                            class="sort-container d-flex align-items-center me-1"
                        >
                            <div
                                class="sort-text-container"
                                [class.active-dropdown]="isSortDropdownOpen"
                                [class.disabled]="!selectedSort"
                                #sortPopover="ngbPopover"
                                autoClose="outside"
                                [ngbPopover]="sortDropdownPopover"
                                [popoverClass]="'popover-main'"
                                [placement]="['bottom-left']"
                                [container]="'body'"
                                (click)="
                                    selectedSort &&
                                        showSortDropdown(sortPopover)
                                "
                                (hidden)="sortDropdownClosed()"
                                triggers="manual"
                            >
                                <span class="sort-text ta-font-medium">
                                    {{ selectedSort?.name ?? 'Date' }}
                                </span>
                            </div>

                            <svg-icon
                                (click)="sortItems(selectedSort, true)"
                                class="sort-arrow d-flex align-items-center justify-content-center"
                                [class.rotate]="sortDirection === 'asc'"
                                src="/assets/svg/common/sortArrow_filter.svg"
                                [svgStyle]="{
                                    'width.px': '18',
                                    'height.px': '18'
                                }"
                            ></svg-icon>
                        </div> -->
                    </ng-template>
                </ng-container>

                <div class="date-arrow-repair">
                    <p *ngIf="customText" class="date-repair">
                        {{ customText }}
                    </p>
                    <div class="icons-repair" *ngIf="hasDateArrow">
                        <svg-icon
                            [ngClass]="{ clicked: up }"
                            (click)="changeDataArrowUpFun($event)"
                            class="first-icon"
                            src="assets/svg/common/fill_arrow_down.svg"
                        ></svg-icon>
                        <svg-icon
                            [ngClass]="{ clicked: down }"
                            (click)="changeDataArrowDownFun($event)"
                            class="second-icon"
                            src="assets/svg/common/fill_arrow_down.svg"
                        ></svg-icon>
                    </div>
                    <div class="violation-counter" *ngIf="counterViolation">
                        {{ counterViolation }}
                    </div>

                    <ng-container *ngIf="isMapBtn">
                        <div
                            class="d-flex align-items-center justify-content-center map-btn-container"
                            [ngClass]="{ active: isMapBtnClicked }"
                            (click)="handleMapBtnClick()"
                        >
                            <svg-icon
                                class="map-icon"
                                src="assets/svg/common/load/ic_load_map.svg"
                            ></svg-icon>
                        </div>
                    </ng-container>
                </div>
                <div class="hide-buttons" *ngIf="!statusInactive">
                    <ng-container *ngIf="hasSort">
                        <div class="border-line-left me-1"></div>
                    </ng-container>

                    <div
                        (click)="makeRequestFun(headerText)"
                        *ngIf="hasRequest"
                        class="d-flex align-items-center justify-content-center request-header-container"
                    >
                        <p class="m-0 ta-font-bold">Request</p>

                        <svg-icon [src]="'assets/svg/common/ic_documents.svg'">
                        </svg-icon>
                    </div>

                    <ng-container *ngIf="hasRequest">
                        <div class="header-divider"></div>
                    </ng-container>

                    <div
                        ngbTooltip
                        [mainTooltip]="businessOpen ? 'Add New' : ''"
                        tooltipBackground="#424242"
                        position="bottom"
                    >
                        <svg-icon
                            class="icon-plus-header"
                            [ngClass]="{ disabled: !businessOpen }"
                            (click)="openModal(headerText)"
                            [src]="icPlusSvgIcon"
                        >
                        </svg-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #dropdownPopover let-data="data">
        <div class="load-dropdown-body">
            <div
                class="load-template-holder"
                [class.active-template]="activeTemplate == 'All Load'"
                (click)="setLoadType('All Load')"
            >
                <div class="number-value-holder">{{ counterData }}</div>
                <div class="number-text-holder">All Load</div>
                <div
                    class="selected-load-type"
                    *ngIf="activeTemplate == 'All Load'"
                >
                    <svg-icon src="assets/svg/common/ic_confirm.svg"></svg-icon>
                </div>
            </div>
            <div
                class="load-template-holder disabled-template"
                [class.active-template]="activeTemplate == 'Template'"
                (click)="setLoadType('Template')"
            >
                <div class="number-value-holder">0</div>
                <div class="number-text-holder">Template</div>
                <div
                    class="selected-load-type"
                    *ngIf="activeTemplate == 'Template'"
                >
                    <svg-icon src="assets/svg/common/ic_confirm.svg"></svg-icon>
                </div>
            </div>
            <div
                class="load-template-holder"
                [class.active-template]="activeTemplate == 'Pending'"
                (click)="setLoadType('Pending')"
            >
                <div class="number-value-holder">2</div>
                <div class="number-text-holder">Pending</div>
                <div
                    class="selected-load-type"
                    *ngIf="activeTemplate == 'Pending'"
                >
                    <svg-icon src="assets/svg/common/ic_confirm.svg"></svg-icon>
                </div>
            </div>
            <div
                class="load-template-holder"
                [class.active-template]="activeTemplate == 'Active'"
                (click)="setLoadType('Active')"
            >
                <div class="number-value-holder">8</div>
                <div class="number-text-holder">Active</div>
                <div
                    class="selected-load-type"
                    *ngIf="activeTemplate == 'Active'"
                >
                    <svg-icon src="assets/svg/common/ic_confirm.svg"></svg-icon>
                </div>
            </div>
            <div
                class="load-template-holder"
                [class.active-template]="activeTemplate == 'Closed'"
                (click)="setLoadType('Closed')"
            >
                <div class="number-value-holder">93</div>
                <div class="number-text-holder">Closed</div>
                <div
                    class="selected-load-type"
                    *ngIf="activeTemplate == 'Closed'"
                >
                    <svg-icon src="assets/svg/common/ic_confirm.svg"></svg-icon>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #multipleDetailsSelect>
        <div
            class="d-flex flex-column justify-content-center popover-container multiple-details-container"
        >
            <ng-container
                *ngFor="
                    let dropdownItem of multipleDetailsSelectDropdown;
                    trackBy: trackByIndex
                "
            >
                <div
                    class="popover-item justify-content-between"
                    [ngClass]="{ active: dropdownItem.isActive }"
                    (click)="
                        handleMultipleDetailsSelectDropdownClick(
                            dropdownItem.id
                        )
                    "
                >
                    <p class="m-0">
                        {{ dropdownItem.title }}
                    </p>

                    <ng-container *ngIf="!dropdownItem?.hideCount">
                        <div
                            class="d-flex justify-content-center align-items-center counter-container"
                        >
                            <p class="m-0">
                                {{ dropdownItem.length }}
                            </p>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-template>

    <ng-template #sortDropdownPopover>
        <div
            class="d-flex flex-column justify-content-center popover-container multiple-details-container"
        >
            <ng-container
                *ngFor="let dropdownItem of sortDropdown; trackBy: trackByIndex"
            >
                <div
                    class="popover-item justify-content-between"
                    [ngClass]="{ active: dropdownItem.active }"
                    (click)="sortItems(dropdownItem)"
                >
                    <p class="m-0">
                        {{ dropdownItem.name }}
                    </p>
                </div>
            </ng-container>
        </div>
    </ng-template>
</div>
