@import 'src/theme/variables';

// switcher
.remove-template-btn {
    border: 0;
    outline: 0;
    width: 26px;
    height: 26px;
    border-radius: 2px;
    background: $ta-blue-16;
    transition: background 0.3s ease-in-out;
    order: 2;

    &:hover {
        background: $ta-red-15;

        .switcher-icon {
            svg {
                path {
                    fill: $ta-red-14;
                }
            }
        }
    }
}

// requirement
.requirement-container {
    border-top: 1px solid $bw-9;

    &-header {
        margin-bottom: 26px;
        padding-top: 8px;

        p {
            font-size: 14px;
            line-height: 18px;
            color: $ta-black;

            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;
        }
    }
}

// stops
.stops-header-bar {
    display: grid;
    grid-template-columns: 18px 216px 147px 170px;
    grid-gap: 13px;
    padding: 0 14px;
    margin-bottom: 4px;

    p {
        font-size: 11px;
        line-height: 14px;
        color: $bw5;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.stop-items-wrapper {
    ::ng-deep {
        .divider {
            width: 606px !important;
            height: 1px !important;
            background: $bw2 !important;
        }
    }
}

.stops-footer-bar {
    padding: 4px 12px 0 12px;
    max-width: 616px;

    &-left-side,
    &-right-side {
        .stops-footer-bar-text {
            font-size: 11px;
            line-height: 14px;
            color: $bw5;
            margin-right: 8px !important;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .loaded-miles-value,
        .total-miles-value {
            font-size: 11px;
            line-height: 14px;
            color: $muted;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            span {
                color: $bw5;
            }
        }
    }
}

// billing
.load-financial-container {
    display: grid;
    grid-template-columns: 200px 208px 1fr;
    -moz-column-gap: 13px;
    column-gap: 13px;
    align-items: flex-start;
    justify-content: flex-start;

    .load-financial-billing {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

// map
.load-map-container {
    width: 640px;
    height: 100%;
    padding: 0px;

    &.load-hazardous-container {
        padding: 12px !important;
        height: 781px;
        background-color: $ta-light-grey-5;
    }
}

.load-modal {
    &-time {
        margin-left: 12px;
    }

    &-icon {
        margin-right: 6px;
    }
}

.load-financial-payment {
    display: flex;
    flex-direction: column;
    .input-custom-group .input-control {
        height: 29px !important;
    }
}

.load-hazardous-container {
    max-width: 640px;
    width: calc(100vw - 640px);
}

.select-template {
    grid-template-columns: 94px 26px repeat(2, 230px);
}

.template-row {
    grid-template-columns: 94px 249px 249px;
}
