<app-ta-modal
    [modalTitle]="editData?.type !== 'edit' ? 'Add User' : 'Edit User'"
    [editData]="editData"
    [editName]="userFullName"
    [isModalValid]="userForm.valid && isFormDirty"
    [disableDelete]="selectedUserType?.name === 'Owner'"
    (action)="onModalAction($event)"
>
    <div origin>
        <app-ta-tab-switch
            [tabs]="tabs"
            [type]="'type1-modal-popup'"
            (switchClicked)="tabChange($event)"
        >
        </app-ta-tab-switch>

        <form
            [formGroup]="userForm"
            class="form-container form-container-no-mb"
        >
            <div
                class="animation-two-tabs"
                [@animationTabsModal]="animationObject"
            >
                <!-------------------------------- Basic Tab -------------------------------->
                <div class="m-tab" *ngIf="selectedTab === 1">
                    <div class="row">
                        <div class="col-6">
                            <app-ta-input
                                formControlName="firstName"
                                [inputConfig]="{
                                    name: 'First name',
                                    type: 'text',
                                    label: 'First Name',
                                    isRequired: true,
                                    minLength: 2,
                                    maxLength: 26,
                                    isDisabled:
                                        selectedUserType?.name === 'Owner',
                                    textTransform: 'capitalize',
                                    autoFocus: editData?.type !== 'edit'
                                }"
                            ></app-ta-input>
                        </div>
                        <div class="col-6">
                            <app-ta-input
                                formControlName="lastName"
                                [inputConfig]="{
                                    name: 'Last name',
                                    type: 'text',
                                    label: 'Last Name',
                                    minLength: 2,
                                    maxLength: 26,
                                    isRequired: true,
                                    isDisabled:
                                        selectedUserType?.name === 'Owner',
                                    textTransform: 'capitalize'
                                }"
                            ></app-ta-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <app-input-address-dropdown
                                formControlName="address"
                                [inputConfig]="{
                                    name: 'Address',
                                    type: 'text',
                                    label: 'Address, City, State Zip',
                                    placeholderIcon: 'address',
                                    textTransform: 'capitalize',
                                    dropdownWidthClass: 'w-col-376',
                                    minLength: 6,
                                    maxLength: 256
                                }"
                                [placeholderType]="'longAddress'"
                                [activeAddress]="selectedAddress"
                                (selectedAddress)="onHandleAddress($event)"
                            ></app-input-address-dropdown>
                        </div>
                        <div class="col-2">
                            <app-ta-input
                                formControlName="addressUnit"
                                [inputConfig]="{
                                    name: 'address-unit',
                                    type: 'text',
                                    label: 'Unit #',
                                    textTransform: 'uppercase',
                                    minLength: 1,
                                    maxLength: 10
                                }"
                            ></app-ta-input>
                        </div>
                    </div>
                    <div class="row last-row">
                        <div class="col-5">
                            <app-ta-input
                                formControlName="personalPhone"
                                [inputConfig]="{
                                    name: 'Phone',
                                    type: 'text',
                                    label: 'Personal Phone',
                                    placeholderIcon: 'phone',
                                    mask: '(000) 000-0000',
                                    maxLength: 14
                                }"
                            ></app-ta-input>
                        </div>
                        <div class="col-7">
                            <app-ta-input
                                formControlName="personalEmail"
                                [inputConfig]="{
                                    name: 'Email',
                                    type: 'text',
                                    label: 'Personal Email',
                                    placeholderIcon: 'email',
                                    minLength: 5,
                                    maxLength: 64,
                                    textTransform: 'lowercase'
                                }"
                            ></app-ta-input>
                        </div>
                    </div>

                    <app-ta-custom-card
                        [cardName]="'Employe Details'"
                        [isCardOpen]="true"
                        [animationMarginParams]="{
                            marginTop: '18px',
                            marginBottom: '22px'
                        }"
                    >
                        <div class="row">
                            <div class="col-4">
                                <app-ta-input-dropdown
                                    formControlName="departmentId"
                                    [inputConfig]="{
                                        name: 'Input Dropdown Department',
                                        minLength: 2,
                                        maxLength: 36,
                                        type: 'text',
                                        label: 'Department',
                                        textTransform: 'capitalize',
                                        isRequired: true,
                                        isDropdown: true,
                                        isDisabled:
                                            selectedUserType?.name === 'Owner',
                                        dropdownWidthClass: 'w-col-136'
                                    }"
                                    [options]="departments"
                                    [activeItem]="selectedDepartment"
                                    (selectedItem)="
                                        onSelectDropdown($event, 'department')
                                    "
                                ></app-ta-input-dropdown>
                            </div>
                            <div class="col-5">
                                <app-ta-input-dropdown
                                    formControlName="companyOfficeId"
                                    [inputConfig]="{
                                        name: 'Input Dropdown',
                                        type: 'text',
                                        label: 'Office',
                                        isDropdown: true,
                                        dropdownWidthClass: 'w-col-188'
                                    }"
                                    [canAddNew]="true"
                                    [canOpenModal]="true"
                                    [options]="offices"
                                    [activeItem]="selectedOffice"
                                    (selectedItem)="
                                        onSelectDropdown($event, 'office')
                                    "
                                ></app-ta-input-dropdown>
                            </div>
                            <div class="col-3 no-p-left">
                                <app-ta-tab-switch
                                    [tabs]="
                                        selectedUserType?.name === 'Owner'
                                            ? ownerType
                                            : typeOfEmploye
                                    "
                                    [type]="'type2-modal-popup'"
                                    (switchClicked)="
                                        onSelectedTab($event, 'user-admin')
                                    "
                                >
                                </app-ta-tab-switch>
                            </div>
                        </div>
                        <div
                            class="phone-ext-email-small-modal row-no-mb"
                            [ngClass]="{ 'active-phone-ext': isPhoneExtExist }"
                        >
                            <div class="phone-extension">
                                <div class="phone-field">
                                    <app-ta-input
                                        formControlName="phone"
                                        [inputConfig]="{
                                            name: 'Phone',
                                            type: 'text',
                                            label: 'Phone',
                                            placeholderIcon: 'phone',
                                            mask: '(000) 000-0000',
                                            maxLength: 14
                                        }"
                                    ></app-ta-input>
                                </div>
                                <div
                                    class="extension-field"
                                    *ngIf="!isPhoneExtExist"
                                    ngbTooltip
                                    mainTooltip="Add Extension"
                                    position="top"
                                    tooltipBackground="#6c6c6c"
                                    (click)="isPhoneExtExist = !isPhoneExtExist"
                                >
                                    <svg-icon
                                        src="assets/svg/common/ic_plus.svg"
                                    ></svg-icon>
                                </div>
                                <app-ta-input
                                    *ngIf="isPhoneExtExist"
                                    formControlName="extensionPhone"
                                    [inputConfig]="{
                                        name: 'phone-extension',
                                        type: 'text',
                                        label: 'Ext.',
                                        minLength: 1,
                                        maxLength: 8,
                                        placeholderIcon: 'phone-extension'
                                    }"
                                ></app-ta-input>
                            </div>
                            <div class="email-field">
                                <app-ta-input
                                    formControlName="email"
                                    [inputConfig]="{
                                        name: 'Email',
                                        type: 'text',
                                        label: 'Email',
                                        placeholderIcon: 'email',
                                        isRequired: true,
                                        minLength: 5,
                                        maxLength: 64,
                                        isDisabled:
                                            selectedUserType?.name === 'Owner',
                                        textTransform: 'lowercase'
                                    }"
                                ></app-ta-input>
                            </div>
                        </div>
                    </app-ta-custom-card>
                    <app-ta-checkbox-card
                        formControlName="includeInPayroll"
                        [label]="'Include in Payroll'"
                        [name]="'include-in-payroll'"
                        [isCardOpen]="userForm.get('includeInPayroll').value"
                        [animationMarginParams]="{
                            marginTop: '18px',
                            marginBottom: '22px'
                        }"
                    >
                        <ng-container body>
                            <div class="row">
                                <div class="col-5">
                                    <app-ta-input-dropdown
                                        formControlName="paymentType"
                                        [inputConfig]="{
                                            name: 'Input Dropdown',
                                            type: 'text',
                                            label: 'Payment Type',
                                            textTransform: 'capitalize',
                                            isDropdown: true,
                                            isDisabled:
                                                !isPaymentTypeAvailable ||
                                                selectedUserType?.name ===
                                                    'Owner',
                                            isRequired:
                                                isPaymentTypeAvailable &&
                                                selectedUserType?.name !==
                                                    'Owner',
                                            dropdownWidthClass: 'w-col-177'
                                        }"
                                        [options]="paymentOptions"
                                        [activeItem]="selectedPayment"
                                        (selectedItem)="
                                            onSelectDropdown($event, 'payment')
                                        "
                                    ></app-ta-input-dropdown>
                                </div>
                                <div class="col-4">
                                    <app-ta-input
                                        formControlName="startDate"
                                        [inputConfig]="{
                                            name: 'datepicker',
                                            type: 'text',
                                            label: 'Start Date',
                                            isDropdown: true,
                                            placeholderIcon: 'date',
                                            isRequired: true,
                                            customClass: 'datetimeclass'
                                        }"
                                    ></app-ta-input>
                                </div>
                                <div class="col-3 no-p-left">
                                    <app-ta-tab-switch
                                        [tabs]="typeOfPayroll"
                                        [type]="'type2-modal-popup'"
                                        (switchClicked)="
                                            onSelectedTab($event, '1099-w2')
                                        "
                                    >
                                    </app-ta-tab-switch>
                                </div>
                            </div>
                            <div class="row">
                                <div
                                    *ngIf="allowPairCommissionBase"
                                    class="col-6"
                                >
                                    <app-ta-input
                                        formControlName="base"
                                        [inputConfig]="{
                                            name: 'Salary',
                                            type: 'text',
                                            label: 'Base',
                                            isRequired: true,
                                            placeholderIcon: 'dollar',
                                            customClass:
                                                'dollar-placeholderIcon',
                                            thousandSeparator: true,
                                            minLength: 4,
                                            maxLength: 8
                                        }"
                                    ></app-ta-input>
                                </div>
                                <div
                                    [ngClass]="
                                        allowPairCommissionBase
                                            ? 'col-6'
                                            : 'col-12'
                                    "
                                >
                                    <app-ta-input
                                        *ngIf="
                                            !allowOnlyCommission &&
                                            !allowPairCommissionBase
                                        "
                                        formControlName="salary"
                                        [inputConfig]="{
                                            name: 'Salary',
                                            type: 'text',
                                            label: 'Salary',
                                            isRequired: true,
                                            placeholderIcon: 'dollar',
                                            customClass:
                                                'dollar-placeholderIcon',
                                            thousandSeparator: true,
                                            minLength: 4,
                                            maxLength: 8
                                        }"
                                    ></app-ta-input>

                                    <app-ta-ngx-slider
                                        *ngIf="
                                            allowOnlyCommission ||
                                            allowPairCommissionBase
                                        "
                                        [sliderName]="'Commission'"
                                        [sliderOptions]="commissionOptions"
                                        [startedValue]="
                                            userForm.get('commission').value
                                        "
                                        [customClass]="'custom-user-modal'"
                                        (onUserValueChange)="
                                            userForm
                                                .get('commission')
                                                .setValue($event)
                                        "
                                    ></app-ta-ngx-slider>
                                </div>
                            </div>
                            <div
                                class="custom-bank-row row-no-m"
                                [ngClass]="{
                                    'no-m-bottom':
                                        !userForm.get('includeInPayroll').value
                                }"
                            >
                                <div class="bank-field">
                                    <app-ta-input-dropdown
                                        formControlName="bankId"
                                        [template]="'svg-template'"
                                        [inputConfig]="{
                                            name: 'Input Dropdown  Bank Name',
                                            type: 'text',
                                            label: 'Bank Name',
                                            minLength: 2,
                                            maxLength: 64,
                                            textTransform: 'uppercase',
                                            isDropdown: true,
                                            isRequired: true,
                                            dropdownWidthClass: 'w-col-164'
                                        }"
                                        [canAddNew]="true"
                                        [options]="labelsBank"
                                        [activeItem]="selectedBank"
                                        (selectedItem)="
                                            onSelectDropdown($event, 'bank')
                                        "
                                        (saveItem)="onSaveNewBank($event)"
                                    ></app-ta-input-dropdown>
                                </div>
                                <div class="bank-field">
                                    <app-ta-input
                                        formControlName="routingNumber"
                                        [inputConfig]="{
                                            name: 'routing-bank',
                                            type: 'text',
                                            label: 'Routing #',
                                            isDisabled: !isBankSelected,
                                            isRequired: isBankSelected,
                                            minLength: 9,
                                            maxLength: 9
                                        }"
                                    ></app-ta-input>
                                </div>
                                <div class="bank-field">
                                    <app-ta-input
                                        formControlName="accountNumber"
                                        [inputConfig]="{
                                            name: 'account-bank',
                                            type: 'text',
                                            label: 'Account #',
                                            isDisabled: !isBankSelected,
                                            isRequired: isBankSelected,
                                            minLength: 5,
                                            maxLength: 17
                                        }"
                                    ></app-ta-input>
                                </div>
                            </div>
                        </ng-container>
                    </app-ta-checkbox-card>

                    <app-ta-input-note
                        formControlName="note"
                        [isVisibleNote]="
                            userForm.get('note').value &&
                            userForm.get('note').value != 'null'
                                ? userForm.get('note').value
                                : false
                        "
                        [note]="
                            userForm.get('note').value &&
                            userForm.get('note').value != 'null'
                                ? userForm.get('note').value
                                : ''
                        "
                    ></app-ta-input-note>
                </div>
                <!-------------------------------- Additional Tab -------------------------------->
                <div class="m-tab" *ngIf="selectedTab === 2"></div>
            </div>
        </form>
    </div>
</app-ta-modal>
