<div
    cdkDropList
    (cdkDropListDropped)="dropList($event)"
    class="payroll-table-main"
>
    <table class="{{ tableAddClas }}">
        <thead>
            <tr>
                <ng-container *ngFor="let h of tableSettings">
                    <th
                        *ngIf="
                            expandedTable ||
                            (!expandedTable && !h.hideNotExpanded)
                        "
                        [class.text-above]="h.textAbove || h.hasBorder"
                        [class.increment-field]="
                            h.isIndexIncrement || h.isTitleIndex
                        "
                    >
                        <div class="thead-box d-flex">
                            <div
                                class="thead-border {{ h.hasBorder }}"
                                *ngIf="h.hasBorder"
                            ></div>
                            <div class="field-subtitle">{{ h.textAbove }}</div>
                            <div class="field-title {{ h.justifyClass }}">
                                {{ h.field }}
                            </div>
                        </div>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let tr of _tableData; let rowIndex = index">
                <tr
                    *ngIf="!tr.reorderItem"
                    (click)="openReport(tr)"
                    class="reorder-row"
                    cdkDrag
                    cdkDragLockAxis="y"
                    [cdkDragDisabled]="true"
                    cdkDragPreviewContainer="parent"
                    cdkDragBoundary=".payroll-table-main"
                >
                    <ng-container *ngFor="let h of tableSettings">
                        <td
                            *ngIf="
                                expandedTable ||
                                (!expandedTable && !h.hideNotExpanded)
                            "
                            [class.increment-field]="
                                h.isIndexIncrement || h.isTitleIndex
                            "
                        >
                            <div class="table-box" [ngSwitch]="h.template">
                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'bold-normal-template'"
                                >
                                    <div
                                        class="bold-normal-template"
                                        [innerHTML]="tr | payrolltablepipe : h"
                                    ></div>
                                </div>

                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'status-template'"
                                >
                                    <div
                                        class="status-template d-flex"
                                        [ngClass]="{
                                            'status-template-pending':
                                                tr.payDeadline.period ==
                                                'Pending',
                                            'status-template-ready':
                                                tr.payDeadline.period ==
                                                'Ready'
                                        }"
                                    >
                                        <svg-icon
                                            *ngIf="
                                                tr.payDeadline.period == 'Past'
                                            "
                                            src="assets/svg/common/ic_danger.svg"
                                        ></svg-icon>
                                        <svg-icon
                                            *ngIf="
                                                tr.payDeadline.period == 'Ready'
                                            "
                                            src="assets/svg/applicant/confirm-circle.svg"
                                        ></svg-icon>
                                        <svg-icon
                                            *ngIf="
                                                tr.payDeadline.period == 'Pending'
                                            "
                                            src="assets/svg/common/ic_clock_white.svg"
                                        ></svg-icon>
                                        <span
                                            *ngIf="
                                                tr.payDeadline.period ==
                                                    'Past' ||
                                                tr.payDeadline.period ==
                                                    'Pending'
                                            "
                                            ><span>{{
                                                tr.payDeadline.numberOfDays
                                            }}</span>
                                            DAYS</span
                                        >
                                        <span
                                            *ngIf="
                                                tr.payDeadline.period == 'Ready'
                                            "
                                        >
                                            READY
                                        </span>
                                    </div>
                                </div>

                                <div
                                    class="table-hold-box d-flex {{
                                        h.justifyClass
                                    }}"
                                    *ngSwitchCase="'bold-image-template'"
                                >
                                    <app-profile-images
                                        [indx]="rowIndex"
                                        [name]="tr | payrolltablepipe : h"
                                        [size]="'small'"
                                        [withTooltip]="false"
                                    ></app-profile-images>
                                    <div
                                        class="bold-normal-template image-right"
                                        [innerHTML]="tr | payrolltablepipe : h"
                                    ></div>
                                </div>

                                <!-- PICKUP AND DELIVERY TEMPLATE -->
                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'pickup-delivery-template'"
                                >
                                    <div
                                        class="pick-load-box"
                                        [class.delivery-box]="
                                            tr.type.name == 'Delivery'
                                        "
                                    >
                                        <svg-icon
                                            *ngIf="tr.order < 9"
                                            src="
                                            assets/svg/svg_numbers/olddash/svg_num_box_{{
                                                tr.order
                                            }}.svg
                                        "
                                        ></svg-icon>
                                        <svg-icon
                                            *ngIf="tr.order > 9"
                                            src="assets/svg/svg_numbers/svg_num_over.svg
                                    "
                                        ></svg-icon>
                                        <div class="pick-load-info">
                                            <div class="pick-load-info-address">
                                                {{ tr.location.city }},
                                                {{ tr.location.stateShortName }}
                                            </div>
                                            <div class="pick-load-info-time">
                                                05/09/21
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- PICKUP AND DELIVERY TEMPLATE END -->

                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'pickup-template'"
                                >
                                    <div class="pick-load-box">
                                        <svg-icon
                                            *ngIf="tr.pickupCount < 9"
                                            src="
                                            assets/svg/svg_numbers/olddash/svg_num_box_{{
                                                tr.pickupCount
                                            }}.svg
                                        "
                                        ></svg-icon>
                                        <svg-icon
                                            *ngIf="tr.pickupCount > 9"
                                            src="assets/svg/svg_numbers/svg_num_over.svg
                                    "
                                        ></svg-icon>
                                        <div class="pick-load-info">
                                            <div class="pick-load-info-address">
                                                {{
                                                    tr.pickup.shipper.address
                                                        .city
                                                }},
                                                {{
                                                    tr.pickup.shipper.address
                                                        .stateShortName
                                                }}
                                            </div>
                                            <div class="pick-load-info-time">
                                                05/09/21
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Small Details Template -->
                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'small-details-template'"
                                >
                                    <div class="pick-load-box delivery-box">
                                        <div class="pick-load-info m-0">
                                            <div class="pick-load-info-address">
                                                {{ tr.description }}
                                            </div>
                                            <div class="pick-load-info-time">
                                                {{
                                                    tr.date | date : 'MM/dd/YY'
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Small Details Template End -->

                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'delivery-template'"
                                >
                                    <div class="pick-load-box delivery-box">
                                        <svg-icon
                                            *ngIf="tr.deliveryCount < 9"
                                            src="
                                            assets/svg/svg_numbers/olddash/svg_num_box_{{
                                                tr.deliveryCount
                                            }}.svg
                                        "
                                        ></svg-icon>
                                        <svg-icon
                                            *ngIf="tr.deliveryCount > 9"
                                            src="assets/svg/svg_numbers/svg_num_over.svg
                                    "
                                        ></svg-icon>
                                        <div class="pick-load-info">
                                            <div class="pick-load-info-address">
                                                {{
                                                    tr.delivery.shipper.address
                                                        .city
                                                }},
                                                {{
                                                    tr.delivery.shipper.address
                                                        .stateShortName
                                                }}
                                            </div>
                                            <div class="pick-load-info-time">
                                                05/09/21
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'medium-normal-template'"
                                >
                                    <div
                                        class="medium-normal-template"
                                        [innerHTML]="
                                            tr | payrolltablepipe : h : rowIndex
                                        "
                                    ></div>
                                </div>

                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'semibold-normal-template'"
                                    [class.highlighted]="h.highlighted"
                                >
                                    <div
                                        class="semibold-normal-template"
                                        [innerHTML]="
                                            tr | payrolltablepipe : h : rowIndex
                                        "
                                    ></div>
                                </div>

                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchDefault
                                    [ngStyle]=""
                                >
                                    <div
                                        class="normal-template"
                                        [innerHTML]="tr | payrolltablepipe : h"
                                    ></div>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                </tr>
                <tr
                    *ngIf="tr.reorderItem && isResizableTable"
                    cdkDrag
                    cdkDragLockAxis="y"
                    cdkDragPreviewContainer="parent"
                    cdkDragBoundary=".payroll-table-main"
                    class="reorder-row"
                >
                    <ng-container *ngFor="let h of tableSettingsResizable">
                        <td [attr.colspan]="h.colspan">
                            <div class="table-box" [ngSwitch]="h.template">
                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'bold-normal-template'"
                                    [class.highlighted-last]="h.highlighted"
                                >
                                    <div
                                        class="bold-normal-template"
                                        [innerHTML]="
                                            tr | payrolltablepipe : h : rowIndex
                                        "
                                    ></div>
                                    <div
                                        *cdkDragPlaceholder
                                        class="custom-payroll-placeholder"
                                    ></div>
                                </div>

                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'medium-normal-template'"
                                >
                                    <div
                                        class="medium-normal-template"
                                        [innerHTML]="
                                            tr | payrolltablepipe : h : rowIndex
                                        "
                                    ></div>
                                </div>

                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'medium-normal-template'"
                                >
                                    <div
                                        class="medium-normal-template"
                                        [innerHTML]="
                                            tr | payrolltablepipe : h : rowIndex
                                        "
                                    ></div>
                                </div>

                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchCase="'semibold-normal-template'"
                                >
                                    <div
                                        class="semibold-normal-template"
                                        [innerHTML]="
                                            tr | payrolltablepipe : h : rowIndex
                                        "
                                    ></div>
                                </div>

                                <div
                                    class="table-hold-box {{ h.justifyClass }}"
                                    *ngSwitchDefault
                                >
                                    <div
                                        class="normal-template"
                                        [innerHTML]="
                                            tr | payrolltablepipe : h : rowIndex
                                        "
                                    ></div>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
