.card-flex {
    height: 42px;
    .table-dropdown-container-vertical {
        top: 0 !important;
    }
}

.card-header-cmp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 0 !important;
    z-index: 10;
    width: 300px;
    &:hover {
        cursor: pointer;
    }
    .text-icon-common {
        display: flex;
        align-items: flex-start;

        .card-icon-common {
            visibility: hidden;
            position: relative;
            margin-left: 6px;
            bottom: -14px;
            height: 18px;
            svg {
                &:hover {
                    path {
                        fill: #6c6c6c;
                    }
                }
            }
        }

        .icon-common {
            margin-left: 12px;
            margin-right: -6px;
            margin-top: 12px;
        }

        .card-close-title {
            margin-top: 7px !important;
            margin-bottom: 7px !important;
            font-size: 14px !important;
            color: #aaaaaa !important;
            font-weight: 500 !important;
            &::-moz-selection {
                color: #6c6c6c;
                background: rgb(108, 108, 108, 0.2);
            }
            &::selection {
                color: #6c6c6c;
                background: rgb(108, 108, 108, 0.2);
            }
        }
        &:hover {
            .card-icon-common {
                visibility: visible;
                position: relative;
                bottom: -10px;
            }
            .card-close-title {
                color: #3c3c3c !important;
            }
        }
    }
    .card-name-cmp {
        font-size: 14px;
        font-weight: 500;
        color: #6c6c6c;
        height: 22px;
        margin-top: 10px !important;
        margin-left: 12px;
        &::-moz-selection {
            color: #6c6c6c;
            background: rgb(108, 108, 108, 0.2);
        }
        &::selection {
            color: #6c6c6c;
            background: rgb(108, 108, 108, 0.2);
        }
    }
    .icon-dots {
        svg {
            margin-right: 7px;
            margin-top: 13px;
        }
    }
}
.card-container-cmp {
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 8px;
    width: 100%;
    .card-body-cmp {
        flex-direction: column;
        background-color: #ffffff;
        margin-top: 0px !important;
        &.active {
            max-height: 1200px;
            transition: all 0.4s ease-in-out;
          }
        .dates {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 12px;
        }
        .state-issued {
            display: grid;
            grid-template-columns: 124px 112px;
            margin: 0px 0px 8px 0px;
            .state-issued-item {
                height: 26px;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .card-footer-cmp {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: #ffffff;
        margin-left: 17px;
        margin-right: 10px;
        padding-bottom: 11px;
        // margin-top: 12px;
        svg {
            cursor: pointer;
        }
        .icon-counter {
            display: flex;
            align-items: baseline;
            .note-icon {
                svg {
                    path {
                        fill: #cccccc;
                    }
                }
            }
            .attachment-icon {
                margin-left: 12px;
                svg {
                    path {
                        fill: #cccccc;
                    }
                }
            }
            .card-document-counter {
                font-size: 11px;
                font-weight: 700;
                margin-left: 4px !important;
                color: #cccccc;
                &::-moz-selection {
                    color: #cccccc;
                    background: rgb(204, 204, 204, 0.2);
                }
                &::selection {
                    color: #cccccc;
                    background: rgb(204, 204, 204, 0.2);
                }
            }
        }
    }
}

svg {
    &:hover {
        cursor: pointer;
    }
}
p {
    margin: 0 !important;
}
.card-close-dots-margin {
    svg {
        margin-top: 0 !important;
    }
}
// .card-close-icon {
//     margin-top: 7px !important;
//     margin-bottom: 7px;
//     margin-right: 7px !important;
// }
.rotate-common {
    svg {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
        path {
            fill: #6d82c7 !important;
        }
    }
}
.hide-text {
    color: #6d82c7;
    font-size: 14px;
    font-weight: 600;
    margin-right: 6px;
    cursor: pointer;

    &::-moz-selection {
        color: #6d82c7;
        background: rgba(109, 130, 199, 0.2);
    }
    &::selection {
        color: #6d82c7;
        background: rgba(109, 130, 199, 0.2);
    }
}
.icon-dots {
    cursor: pointer;
    svg {
        &:hover {
            path {
                fill: #6c6c6c;
            }
        }
    }
}
.copied {
    .card-icon-common {
        svg {
            path {
                &:hover {
                    fill: #3551b7 !important;
                }
            }
        }
    }
}
.hide-footer {
    display: none;
}
.name-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
}
.rezise-icon {
    height: 18px;
}
.resize-icon-svg {
    svg {
        path {
            fill: #aaaaaa;
        }
    }
}
.open-name {
    &::-moz-selection {
        color: #6c6c6c;
        background: rgb(108, 108, 108, 0.2);
    }
    &::selection {
        color: #6c6c6c;
        background: rgb(108, 108, 108, 0.2);
    }
}
.dropdown-common {
   position: relative;
   top: -5px;
}
.disable-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    bottom: -1px;
}
.settings-icon{
    position: relative;
    top: 15px;
    left: 6px;
}