<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
    box-sizing: border-box;
  "
>
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #fff;
      color: #6c6c6c;
      width: 563px;
      height: 750px;
      padding: 30px;
    "
  >
    <div>
      <!-- HEADER -->

      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #f9f9f9;
          height: 72px;
          border-radius: 2px;
          padding: 6px;
          margin-bottom: 22px;
        "
      >
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            width: 190px;
            height: 60px;
            border: 1px dotted #dadada;
            border-radius: 3px;
            text-align: center;
            padding: 3px;
          "
        >
          <p
            style="
              margin: 0;
              color: #919191;
              font-size: 14px;
              font-weight: 800;
              line-height: 18px;
            "
          >
            Company Logo
          </p>
        </div>

        <div style="display: flex; flex-direction: column; align-items: end">
          <p
            style="
              margin-bottom: 12px;
              height: 10px;
              font-size: 8px;
              font-weight: 600;
            "
          >
            Date of application: 06/13/22
          </p>
          <p
            style="
              margin-bottom: 4px;
              height: 10px;
              font-size: 8px;
              font-weight: 400;
            "
          >
            5023 S Throop St Chicago IL 60609
          </p>
          <p
            style="
              margin-bottom: 4px;
              height: 10px;
              font-size: 8px;
              font-weight: 400;
            "
          >
            jdfreightdispatch@gmail.com
          </p>
          <p
            style="
              margin-bottom: 0px;
              height: 10px;
              font-size: 8px;
              font-weight: 400;
            "
          >
            (621) 321-2232
          </p>
        </div>
      </div>

      <!-- DRUG & ALCOHOL STATEMENT -->

      <div style="display: flex; flex-direction: column; margin-bottom: 10px">
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #919191;
            padding: 2px 6px;
            height: 19px;
            border-radius: 1px;
            margin-bottom: 12px;
          "
        >
          <p
            style="margin: 0; color: #ffffff; font-size: 12px; font-weight: 800"
          >
            DRUG & ALCOHOL STATEMENT
          </p>
          <p
            style="margin: 0; color: #ffffff; font-size: 10px; font-weight: 700"
          >
            Step 8 of 11
          </p>
        </div>

        <p
          style="
            margin: 0;
            font-size: 8px;
            font-weight: 400;
            margin-bottom: 6px;
          "
        >
          Section 40.25(j) of the Federal Motor Carrier Safety Regulations,
          requires each motor carrier to inquire to prospective drivers and
          prospective drivers are required to respond to the information in the
          question below.
        </p>
        <p style="margin: 0; font-size: 8px; font-weight: 400">
          Have you, the applicant, tested positive, or refused to test, on any
          pre-employment drug or alcohol test administered by an employer to
          which you applied for, but did not obtain, safety-sensitive
          transportation work covered by DOT agency drug and alcohol testing
          rules...
        </p>
      </div>

      <!-- DURING THE PAST TWO YEARS -->

      <div style="display: flex; align-items: center">
        <h2 style="margin: 0 15px 0 0; font-size: 14px; font-weight: 700">
          During the past two years?
        </h2>
        <h2
          style="
            margin: 0 25px 0 0;
            font-size: 26px;
            font-weight: 800;
            color: #eeeeee;
          "
        >
          YES
        </h2>
        <h2 style="margin: 0; font-size: 26px; font-weight: 800">NO</h2>
      </div>
    </div>
  </div>
</div>
