@import 'src/theme/variables.scss';

.custom_editor_holder {
    flex-wrap: wrap;

    .custom_select_holder {
        min-width: 52px;
        height: 26px;
        margin-right: 12px;

        &.font-family {
            width: 100px;
        }

        &.font-size {
            width: 52px;
        }

        &.text-align-holder {
            margin: 0 0 0 12px;
        }
    }

    ::ng-deep {
        .ng-dropdown-panel.ng-select-bottom {
            top: auto !important;
        }
    }
}

@keyframes heightChange {
    0% {
        max-height: 0;
        overflow: hidden;
    }
    100% {
        max-height: 224px;
        overflow: hidden;
    }
}

.custom_select_holder {
    user-select: none;

    ::ng-deep {
        ng-dropdown-panel {
            position: absolute !important;
            width: 100% !important;

            .ng-dropdown-panel-items {
                height: 100%;
                overflow: auto;
                animation: heightChange ease-in-out 300ms;
            }
        }

        .ng-select-container {
            height: 26px;
            align-items: center !important;
            border-radius: 3px;

            background-color: rgba(238, 238, 238, 0.7);

            cursor: pointer;

            &:after {
                display: none;
            }
        }

        .options_img {
            svg {
                rect {
                    fill: #919191;
                }

                &:hover {
                    rect {
                        fill: #6c6c6c;
                    }
                }
            }
        }

        .selected_img {
            svg {
                rect {
                    fill: #6c6c6c;
                }
            }
        }

        ng-select {
            .ng-arrow-wrapper {
                &:after {
                    top: 2px;
                }
            }

            &.ng-select-opened {
                .ng-select-container {
                    background-color: #6c6c6c;
                }

                .ng-value {
                    color: #fff;
                }

                .selected_img {
                    svg {
                        rect {
                            fill: #fff;
                        }
                    }
                }

                .ng-arrow-wrapper {
                    &:after {
                        color: #fff;
                        top: 6px;
                    }
                }
            }
        }
    }
}

.wysiwyg_color_picker {
    position: relative;
    width: 26px;
    height: 26px;
    margin: 0 4px 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    .wysiwyg_choosen_color {
        position: relative;
        width: 22px;
        height: 22px;

        background-color: #5673aa;
        border-radius: 3px;
        cursor: pointer;

        &.active {
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border: 2px solid rgba(0, 0, 0, 0.3);
                border-radius: 3px;
            }
        }
    }

    .wysiwyg_color_dropdown {
        position: absolute;
        top: calc(100% + 8px);
        width: 204px;
        left: -5px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15) !important;

        z-index: 100;

        .text-color {
            padding: 5px 5px;

            font-size: 14px;
            color: rgba(96, 96, 96, 0.7);
        }

        .color_holder {
            display: flex;
            width: 100%;
            flex-wrap: wrap;

            div {
                position: relative;
                width: 22px;
                height: 22px;
                border-radius: 3px;
                margin: 6px;
                cursor: pointer;

                &:hover {
                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border: 2px solid rgba(0, 0, 0, 0.3);
                        border-radius: 3px;
                    }
                }

                &:nth-child(1) {
                    background-color: #d1d1d1;
                }

                &:nth-child(2) {
                    background-color: #919191;
                }

                &:nth-child(3) {
                    background-color: #3d3d3d;
                }

                &:nth-child(4) {
                    background-color: #9842d8;
                }

                &:nth-child(5) {
                    background-color: #7040a1;
                }

                &:nth-child(6) {
                    background-color: #442265;
                }

                &:nth-child(7) {
                    background-color: #f84d9f;
                }

                &:nth-child(8) {
                    background-color: #cf3991;
                }

                &:nth-child(9) {
                    background-color: #873565;
                }

                &:nth-child(10) {
                    background-color: #ff7b1d;
                }

                &:nth-child(11) {
                    background-color: #ff5c50;
                }

                &:nth-child(12) {
                    background-color: #e61d0d;
                }

                &:nth-child(13) {
                    background-color: #ffe567;
                }

                &:nth-child(14) {
                    background-color: #ffd400;
                }

                &:nth-child(15) {
                    background-color: #ffaa00;
                }

                &:nth-child(16) {
                    background-color: #50dc96;
                }

                &:nth-child(17) {
                    background-color: #00c76e;
                }

                &:nth-child(18) {
                    background-color: #009e61;
                }

                &:nth-child(19) {
                    background-color: #31e5dd;
                }

                &:nth-child(20) {
                    background-color: #00c4bb;
                }

                &:nth-child(21) {
                    background-color: #008c8f;
                }

                &:nth-child(22) {
                    background-color: #49cbff;
                }

                &:nth-child(23) {
                    background-color: #00acf0;
                }

                &:nth-child(24) {
                    background-color: #0093ce;
                }

                &.active {
                    //background-image: url('../../../assets/img/svgs/editor-selected-color.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        &:after {
            @include triangletop;
            content: '';
            top: -4px;
            left: 8px;
        }
    }
}

.wysiwyg_button_group {
    align-items: center;

    background-color: #F3F3F3;
    margin-right: 12px;
    border-radius: 2px;

    .sysiwyg_button_item {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg-icon {
            display: flex;

            svg {
                path {
                    fill: #919191;
                }
            }
        }

        &:hover {
            cursor: pointer;

            svg {
                path {
                    fill: #6c6c6c;
                }
            }
        }

        &.active {
            background-color: #b7b7b7;
            border-radius: 2px;

            svg-icon {
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.wysiwyg-text-transform-buttons {
    &.small_width {
        padding-top: 5px;
    }

    .text-align-buttons {
        background-color: #F3F3F3;
        border-radius: 2px;
        align-items: center;
    }

    .align-buttons {
        width: 26px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;

        svg {
            display: flex;

            rect {
                fill: #919191;
            }

            &:hover {
                cursor: pointer;

                rect {
                    fill: #6c6c6c;
                }
            }
        }

        &.active {
            background-color: #b7b7b7;

            svg {
                rect,
                path {
                    fill: #fff;
                }
            }
        }
    }

    .paragraph-buttons {
        margin-left: 12px;
    }
}

.notice_editor {
    margin-top: 22px;
    max-height: 90px;

    outline: none;
    font-size: 14px;
    color: #919191;

    overflow: auto;

    &::-moz-selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
    }

    &::selection {
        color: $bw6-2;
        background: rgb(108, 108, 108, 0.2);
    }

    span {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }

        &::selection {
            color: $bw6-2;
            background: rgb(108, 108, 108, 0.2);
        }
    }

    span[style*='color: rgb(83, 107, 194)'],
    span[style*='color: rgb(83, 107, 194)'] span {
        &::-moz-selection {
            color: $bw6-2 !important;
            background: rgb(83, 107, 194, 0.2) !important;
        }

        &::selection {
            color: $bw6-2;
            background: rgb(83, 107, 194, 0.2) !important;
        }
    }

    span[style*='color: rgb(38, 166, 144)'],
    span[style*='color: rgb(38, 166, 144)'] span {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(38, 166, 144, 0.2) !important;
        }

        &::selection {
            color: $bw6-2;
            background: rgb(38, 166, 144, 0.2) !important;
        }
    }

    span[style*='color: rgb(239, 83, 80)'],
    span[style*='color: rgb(239, 83, 80)'] span {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(239, 83, 80, 0.2) !important;
        }

        &::selection {
            color: $bw6-2;
            background: rgb(239, 83, 80, 0.2) !important;
        }
    }

    span[style*='color: rgb(255, 167, 38)'],
    span[style*='color: rgb(255, 167, 38)'] span {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(255, 167, 38, 0.2) !important;
        }

        &::selection {
            color: $bw6-2;
            background: rgb(255, 167, 38, 0.2) !important;
        }
    }

    span[style*='color: rgb(83, 107, 194)'],
    span[style*='color: rgb(83, 107, 194)'] span {
        &::-moz-selection {
            color: $bw6-2 !important;
            background: rgb(83, 107, 194, 0.2) !important;
        }

        &::selection {
            color: $bw6-2;
            background: rgb(83, 107, 194, 0.2) !important;
        }
    }

    span[style*='color: rgb(38, 166, 144)'],
    span[style*='color: rgb(38, 166, 144)'] span {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(38, 166, 144, 0.2) !important;
        }

        &::selection {
            color: $bw6-2;
            background: rgb(38, 166, 144, 0.2) !important;
        }
    }

    span[style*='color: rgb(239, 83, 80)'],
    span[style*='color: rgb(239, 83, 80)'] span {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(239, 83, 80, 0.2) !important;
        }

        &::selection {
            color: $bw6-2;
            background: rgb(239, 83, 80, 0.2) !important;
        }
    }

    span[style*='color: rgb(255, 167, 38)'],
    span[style*='color: rgb(255, 167, 38)'] span {
        &::-moz-selection {
            color: $bw6-2;
            background: rgb(255, 167, 38, 0.2) !important;
        }

        &::selection {
            color: $bw6-2;
            background: rgb(255, 167, 38, 0.2) !important;
        }
    }
}
