// Constants
$settings-background: #ffffff;

$settings-white-dark: #b7b7b7;
$settings-white-dark-2: #dadada;

$settings-white-light: #f7f7f7;
$settings-white-light-2: #f3f3f3;
$settings-white-light-3: #eeeeee;

$settings-borderRadius: 3px;
$settings-padding: 12px;

$settings-nodata: #ffbf6b;

$settings-gray: #919191;
$settings-gray-dark: #6c6c6c;
$settings-gray-black: #3c3c3c;

$settings-blue-light: #778fbb;
$settings-blue: #5673aa;
$settings-blue-dark: #6d82c7;

$settings-red-dark: #ff5050;

$settings-font-medium: 500;
$settings-font-semibold: 600;
$settings-font-bold: 700;
$settings-font-extrabold: 800;
$settings-font-black: 900;

$settings-fontsize-small: 12px;
$settings-fontsize: 14px;

$settings-transition: all 0.3s ease-in-out;

$settings-box-shadow: 0 0 4px rgb(0, 0, 0, 0.16);

// Default settings
p {
  margin: 0;
}

// Settings root
.settings {
  width: 1440px;
  display: grid;
  grid-template-rows: 32px 1fr;
  row-gap: 12px;

  .settings-col-1 {
    grid-template-rows: 1 / 2;
  }
  .settings-col-2 {
    grid-template-rows: 2 / -1;
  }
}

// Progress bar settings
.settings-progress-container  {
  .table-progress-cotnainer {
    display: flex !important;
    flex-direction: column !important;
  
    .table-progress {
      order: 1 !important;
      width: 100% !important;
      height: 8px !important;
    }
  
    .table-progress-panel {
      order: -1 !important;
      display: flex !important;
      justify-content: space-between !important;
      color: #6c6c6c !important;
  
      .progress-text {
        margin: 2px 0px !important;
      }
    }
  }
}


// Settings Header global
.settings-header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .settings-name {
    height: 100%;
    flex: 1;
    margin-right: 4px;
    padding: 6px 12px;
    color: $settings-gray;
    background-color: $settings-background;
    font-weight: $settings-font-extrabold;
    border-radius: $settings-borderRadius;
  }

  // Multiple buttons (edit, delete)
  .settings-header-buttons {
    width: 68px;
    height: 100%;

    .settings-plus-button {
      svg {
        path {
          fill: $settings-blue-dark;
        }
      }
      &:hover {
        transform: $settings-transition;
        cursor: pointer;
      }
    }

    .settings-edit-button {
      margin-right: 4px;

      &:hover {
        transform: $settings-transition;
        cursor: pointer;
        svg {
          path {
            fill: $settings-gray;
          }
        }
      }
    }

    .settings-trash-button {
      &:hover {
        transform: $settings-transition;
        cursor: pointer;
        svg {
          path {
            fill: $settings-red-dark;
          }
        }
      }
    }
  }
  // Single Button
  .settings-header-button {
    width: 32px;
    height: 100%;

    .settings-edit-button {
      &:hover {
        transform: $settings-transition;
        cursor: pointer;
        svg {
          path {
            fill: $settings-gray-dark;
          }
        }
      }
    }

    .settings-plus-button {
      svg {
        path {
          fill: $settings-blue-dark;
        }
      }
      &:hover {
        transform: $settings-transition;
        cursor: pointer;
      }
    }
  }
}
// Settings Body
.settings-body {
  width: 100%;
  height: 100%;
  background-color: $settings-background;
  color: $settings-gray-dark;
  border-radius: $settings-borderRadius;
  padding: 12px;
  padding-top: 8px;

  .settings-line {
    margin: 0;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    background-color: $settings-white-light-2;
  }
}
